[2018-10-31 16:02] kfend commented on #424
We have updated the topic per your feedback. Changes will be reflected later today.

[2018-10-31 16:02] #424 closed

[2018-10-31 16:55] ClaudiaBetz-Haubold commented on #521
Yes, we have made improvements to the time it takes to do package deployments. Generally, 95% of updates are applied in less than an hour. We still recommend to provide a downtime window of 4 hours in case a rollback is required for any reason. If the package deployment succeeds, which it does almost all of the time, the environment will be available as soon as the package deployment has finished,

[2018-10-31 17:12] #521 closed

[2018-10-31 19:46] steevegilbert opened #568 "AxRunner is named DAXRunnerUser@DAXMDSRunner.com on our system"
If you add the real name of the account like "DAXRunnerUser" it will be picked up by the search engine and be easier to find.  I search for "DAXRunnerUser" and never got to this page.  Someone had to point me to it.  Thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8638cab7-c759-2e78-e5bb-ba0228f141df
* Version I

[2018-11-01 01:59] manishmoothedath opened #571 "The variable name '@SQL' has already been declared."
SQL script in the Prepare database section is showing error : The variable name '@SQL' has already been declared. Variable names must be unique within a query batch or stored procedure.
there are two declarations of @SQL variable, "DECLARE @SQL nvarchar(512)" and "declare @SQL varchar(1000)"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub iss

[2018-11-01 10:47] MichaelFruergaardPontoppidan opened #573 "Typo"
Typo here - the last 'd':
Signature must remain compatibled

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e30c0f8e-ffc8-0749-9195-1d16cc365b08
* Version Independent ID: bddc439e-a102-63cd-d695-598f0f9d1c8a
* Content: [Attributes that make methods extensible - Finance & Operations | Dynamics 365 | #MSDyn365FO](https://

[2018-11-01 13:58] tonyafehr commented on #573
@MichaelFruergaardPontoppidan, thanks for pointing this out. I'll make sure that this gets fixed.

[2018-11-01 13:58] #573 closed

[2018-11-01 15:56] tomhig commented on #551
This indeed is the Task Recorder for D365 Finance and Operations. However, the section noted, "Maintain a Recording"  is out of date. The screen shots shown in section titled "Screenshot extension setup" are also out of date.

[2018-11-01 17:46] kfend commented on #470
Thanks for your comments. We have updated the topic and changes will be reflected later today.

[2018-11-01 17:46] #470 closed

[2018-11-01 17:53] kfend commented on #523
Thanks for your comment. Here is the information that I received from one of our engineers:
SQL Server uses two methods of cardinality estimation.  One considers the relationship between fields, and the other does not.  In Finance and Operations, with newer versions of SQL Server, we recommend using the cardinality estimation that does consider field relationships.  That is what this ‘database sco

[2018-11-01 17:53] #523 closed

[2018-11-01 19:09] charjad commented on #558
What is the release date for the update?

[2018-11-02 11:13] sericks007 commented on #568
@steevegilbert,  Thanks for letting us know!

@manalidongre, Can we change the "Axrunner" reference in this article to "DAXRunnerUser"?

[2018-11-02 12:18] kurthatlevik opened #575 "Schema BOYD"
Our experience in Dynamics 365 V8 shows that the DB schema must be 'dbo', or else the export to BOYD is not working.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9cd981b1-0ed1-34c8-d22a-e1c6d194ff9c
* Version Independent ID: 1e26cccc-eab2-e170-7004-98585128e3e1
* Content: [Bring your own database (BYOD) - Finance & O

[2018-11-04 18:28] fwilkinson commented on #558
I just tried to apply my merged package to an 8.0 update 20 VM and got "The version of service on current machine is higher than the one that's in the package, downgrade is not supported."  Is there a workaround?

[2018-11-05 10:57] dn2710 opened #578 "DMFEnableAllCompanyExport - Bug in the script for Sysflighting"
The correct order of the insert statement should be on these lines - INSERT INTO SYSFLIGHTING VALUES ('DMFEnableAllCompanyExport', 0, 5637144576, 5637144578, 1, 12719367)

Note -- Recid should be unique otherwise it throws an unique key violation constration error.

Also, I have noticed after PU 20 Update, the BYOD Export is no longer working. Have raised a case with Microsoft Support on this

---

[2018-11-05 14:52] ShylaThompson commented on #578
@Sunil-Garg , can you review?

[2018-11-05 18:43] laneswenka commented on #558
Hi @charjad the binary package is generally available.

@fwilkinson - what version of PU20 do you have installed on your 8.0 environment?  Did the merged update package validate successfully in LCS?  And the error message above is from LCS as well, correct?

[2018-11-05 18:49] fwilkinson commented on #558
This was an attempt to manually deploy the package to a downloaded VHD 8.0 update 12 DEV workstation using the axupdateinstaller.exe.  The package did validate correctly in LCS.  I tried it first and it gave me the error but I misread it.  I then got all the binary updates available at that point and applied that (which included Update 20) to my 8.0 VM and tried again.  I received the same error.

[2018-11-05 21:45] laneswenka commented on #558
Very good!  Yes, please let us know if any issues with a VM deployed in LCS and we can then track the telemetry.

[2018-11-06 00:35] tomhig opened #579 "Windows 10 IoT Enterprise on MPOS"
Retail MPOS for Windows requirements need to be updated to include Windows 10 IoT Enterprise.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 48a9aeb7-1d83-3ea1-bc82-083c2c15c5eb
* Version Independent ID: 60294de4-5ff9-a757-6ace-63f59a6aab53
* Content: [System requirements for cloud deployments - Finance & Operations |

[2018-11-06 14:19] tonyafehr commented on #579
@tomhig, thank you for your comment.
@jashanno, can you review, thanks!

[2018-11-06 16:10] SabinaFazal opened #580 "Triangulation currency parameter"
Can you let me know if using the triangulation currency feature works with the changes regarding dual currency? Are two sets of exchange rates required to be set up still? I am undergoing some testing at the moment and am finding that the triangulation currency parameter now does not work with this and would like some clarification.

---
#### Document Details

⚠ *Do not edit this section. It is re

[2018-11-06 16:29] ThomasZak opened #581 "Missing information"
What about the "Organization wide" checkbox? Is that some kind of cross company flag, or does it refer to orgs within the current legal entity?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a3b58bf8-e393-1814-d595-06ab892b8b06
* Version Independent ID: f3e6bec6-2fb0-4668-ce16-4da064663758
* Content: [Alerts - Finance

[2018-11-06 17:04] kweekley commented on #580
@SabinaFazal - There were no intended changes to the triangulation functionality. If you are seeing issues, please contact support with the necessary repro steps.

[2018-11-06 17:34] #580 closed

[2018-11-06 17:37] tonyafehr commented on #581
@ThomasZak, thank you for your comment.
@TJVass , can you review, thanks!

[2018-11-06 18:29] MZade opened #582 "User account + Which asset library to use"
Hi, Two points I found out today:
- It is important to logon to both d365fo application as well as LCS using the same account;
- It seems also that when you do not define the lcsProjectId in the input XML file, the test framework is going to use the Shared Asset Library and as a matter of fact only the files with "Scope equal to Global" are currently available. To use your own data packages, you s

[2018-11-06 18:35] tonyafehr commented on #582
@MZade, thanks for the feedback.
@Sunil-Garg, please review these comments.

[2018-11-07 15:32] BernhardRaether opened #584 "Old Screenshot of PowerBI Configuration in this Document"
Using this document, we tried to get the PowerBI confugiration set up.
Instead of two fields to fill out (ApplicationID and ApplicationKey) we have a different Layout, requiring seven fiels to be filled in
-Azure AD Authority URI
- Azure AD PowerBI resource URI
- AZURE AD Tenant
- ClientID
- Application Key
- Redirect URL
- PowerBI API Address

unknown what to fill in.

---
#### Document Details

[2018-11-07 15:33] ThomasBoehret opened #585 "Copy database from D365FO 8.0 to 8.1 environment"
Hi,
is it possible to copy a database from a source environment with application version 8.0 to a target environment with  application Version 8.1? As there is no data upgrade require according to the upgrade path, we hope so.
 Thanks!
Thomas

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0b3b5ec6-1a21-e71a-df38-ba497f

[2018-11-07 19:52] sericks007 commented on #584
@BernhardRaether, thanks for making us aware of this!  We'll investigate.

@TJVass, does this article (and a screen shot) need to be updated?

[2018-11-07 20:06] sericks007 commented on #585
Thanks for contacting us. @laneswenka, can you look into enhancing the documentation to provide the information that @ThomasBoehret  is looking for.

In the meantime, to get product help you can contact Support using one of the options described here: [Support contact options](https://docs.microsoft.com/en-us/dynamics365/unified-operations/dev-itpro/lifecycle-services/lcs-support). In particular,

[2018-11-07 20:15] sericks007 commented on #548
Bug 266083 has been logged to track this issue.

[2018-11-07 20:19] sericks007 commented on #551
Bug 266084 is tracking this issue.

[2018-11-07 20:31] TJVass commented on #584
This customer must be still using a PU15 or earlier build.  This form was significantly simplified in PU18.

-TJ

From: Sally Erickson <notifications@github.com>
Sent: Wednesday, November 7, 2018 11:53 AM
To: MicrosoftDocs/dynamics-365-unified-operations-public <dynamics-365-unified-operations-public@noreply.github.com>
Cc: TJ Vassar <Thomas.Vassar@microsoft.com>; Assign <assign@noreply.github.com

[2018-11-07 20:35] sericks007 commented on #565
Bug 266089 is tracking this issue.

[2018-11-07 20:48] sericks007 commented on #568
Bug 266093 is logged to track this issue.

[2018-11-07 20:56] sericks007 commented on #571
Bug 266095 has been logged to track this issue.

[2018-11-08 05:28] VavaniSarmah opened #586 "Import or manually create postal codes"
This is one of the lowest quality guidance/instructions/help I have ever seen in MS blog is offering regarding Dynamics 365F&O. Contributor is knowingly or unknowingly misleading the community. There is no co-relation between the contents as stated in this blog "Import ZIP/postal codes" with real work to be done if any one wanted to import USA Zip code to Dynamics 365 F&O.  I suggest contributor t

[2018-11-08 07:56] ansartroops opened #587 "Extending an existing table Incorrect fields"
As provided in the example for RetailTransactionTable fields given as ISB2BSALES and EXTERNALID, where as in enabling Custom CDX  fields given as SeatNumber and ServerStaffId, which is wrong. as in the sample extensions it's given as ContosoRetailSeatNumber and ContosoRetailServerStaffId, Both documents needs to be updated correctly.
https://docs.microsoft.com/en-us/dynamics365/unified-operations/

[2018-11-08 11:13] HPLund commented on #578
@dn2710 The Column order for the Insert statement seems fine (I just ran it in an Environment). The description of the Partition value can be improved and the value for Partition and RecId, should be identical as I read the instructions (not different as in your example).

The instructions regarding IISReset, should also be revisited as it applies to all changes on this level. A restart of Virtual

[2018-11-08 15:13] maheshambati410 opened #588 "Does these accounts required license?"
Do we need to purchase license for all these accounts?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8638cab7-c759-2e78-e5bb-ba0228f141df
* Version Independent ID: 58f113b5-493d-2d83-5dac-7c8376296ab6
* Content: [Preconfigured system accounts - Finance & Operations | Dynamics 365 | #MSDyn365FO](https://docs.microsoft.

[2018-11-09 08:18] praveenzp opened #589 "Retail Cloud Scale Unit"
There is little to no information available on the docs website on setting up the Retail Cloud Scale Unit. Can this also be covered in the upcoming docs updates?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0e22c3ec-f761-f9fe-0dae-2e3f45779301
* Version Independent ID: a2e0f995-5ecf-2544-cf88-f6b441a512bd
* Content:

[2018-11-09 09:13] MarkusFogelberg commented on #548
You are correct that a Azure AD account is not needed for the F&O user in order for the app registration to work. The user associated with the Azure AD application just needs the user role of "Mobile device user". So it can indeed just be created with a "dummy" email if that is enough for you.

[2018-11-09 09:50] JoPe72 commented on #548
Thanks for the answer... I was just a bit worried that something had changed. The original article did not mention the Azure account :-)

Johan

[2018-11-09 18:10] prodev42 commented on #374
OData: Data access for the web, the cloud, mobile devices, and more | http://msdn.microsoft.com/en-us/data/hh237663.aspx
-- | --
OData through examples | http://msdn.microsoft.com/en-us/library/ff478141.aspx

Both go to WCF, still not correct.

[2018-11-09 22:08] kfend commented on #587
Thanks for the feedback. We have updated the topics and will publish the changes shortly.

[2018-11-09 22:08] #587 closed

[2018-11-09 22:09] kfend commented on #588
@manalidongre - Can you answer this licensing question?

[2018-11-10 01:02] josaw1 commented on #589
Thank you for your comment. We're currently working on the documentation for Retail Cloud Scale Unit and will publish it as soon as we can.

[2018-11-11 08:33] vavd opened #594 "Mixing up trade agreements and sales agreements"
Why did you mix up sales and trade agreements by putting trade agreements under sales agreements section? Actually that is very different functionality.
Yes, it's possible to set the price for exact customer by using sales agreements or trade agreements.
But in fact, the purpose of this two options is different. It's very confusing when you mix them the way you did.

---
#### Document Details

⚠ *

[2018-11-12 13:28] RobvanB opened #595 "Is there a date for Incremental Refresh?"
When will incremental refresh of the entity store be available? (Or even better, direct streaming) ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7cd3a076-d364-f4e8-fe37-f10c77a75466
* Version Independent ID: 0f767e21-3f33-2139-0931-7cd044c81b9f
* Content: [Power BI integration with Entity store - Finance & Operation

[2018-11-12 13:41] RobvanB opened #596 "InMemoryRealTime aggregate models - how to access"
I'm assuming that the InMemoryRealTime aggregate models are only available for KPIs built with Visual Studio, and are not available trough PowerBI? For PowerBI I would need to stage the data in the entity store - correct?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 170ee2fd-69e5-f429-c2c3-1385fc7639cf
* Version Inde

[2018-11-12 14:30] ShylaThompson commented on #594
@vavd, Thanks for taking the time to provide feedback! I'll revisit the table of contents organization for this section. Where did you first expect to see the Trade agreements topic in the table of contents?

[2018-11-12 14:36] ShylaThompson commented on #595
@RobvanB thanks for your comment. We publish planned features in our [Release notes](https://docs.microsoft.com/en-us/business-applications-release-notes/October18/dynamics365-finance-operations/planned-features). If you don't see it as a planned feature, please suggest it on the [Ideas site](https://experience.dynamics.com/ideas/list/?forum=16691718-61e2-e611-8101-5065f38b21f1). If you submit it

[2018-11-12 14:36] #595 closed

[2018-11-12 14:59] ShylaThompson commented on #596
@MilindaV2 , can you review?

[2018-11-12 15:00] vavd commented on #594
@ShylaThompson, thanks for the quick response.
I think it should be organized the similar way as it is in the D365FO navigation pane.
![image](https://user-images.githubusercontent.com/1788418/48354859-c8ef8c00-e6a3-11e8-9262-31968d8ca55d.png)

It seems this doc lacks information regarding trade agreements except this page. But there is a lot of info in the PDF available in the [link](https://mbs.

[2018-11-12 15:23] #548 closed

[2018-11-13 02:55] ThomasZak opened #598 "Is this an independent copy or a linked copy"
I have users reporting to me that after they copy a customer from Company A to company B, then if they update one of the fields on the customer in company A, then that same change occurs in company B. Is this intentional? Is it documented?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d9c3af4f-aa47-fb1b-4e89-cba689ed9

[2018-11-13 14:19] mikefalkner commented on #598
The feature is an independent copy. It is the same process that you would go through to find an existing party, create a customer, and then manually update all of the fields to match. However, the customers are linked by the party ID so, if you change something that is party-related (like the customer name), it will change in both place. Otherwise, it will not continually keep the copy of the cust

[2018-11-13 14:54] ShylaThompson opened #601 "Bad formatting in this topic"
The paragraph starting with "In the workflow canvas..." has incorrect formatting and it shows up as a heading in the topic.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fd934fce-8187-ae9a-c998-7a5a577d9904
* Version Independent ID: 00822b47-5a50-fc01-d985-acac7294aaca
* Content: [Procurement and sourcing workflows -

[2018-11-13 14:54] ShylaThompson commented on #601
I already fixed this.

[2018-11-13 14:54] #601 closed

[2018-11-13 16:36] laneswenka commented on #585
Hi all, I will review today

[2018-11-13 19:24] #530 closed

[2018-11-13 19:24] #571 closed

[2018-11-13 19:33] tonyafehr commented on #598
Thanks @mikefalkner, I'm closing this comment based on your reply.

[2018-11-13 19:33] #598 closed

[2018-11-13 19:52] tonyafehr commented on #581
Bug 268060 has been logged to track this issue.

[2018-11-13 19:55] tonyafehr commented on #582
Bug 268063 has been logged to track this issue.

[2018-11-13 20:57] burakuygur opened #603 "Import .bacpac file gives error Unable to connect to master or target server 'AXDB_Copy'. You must have a user with the same password in master or target server 'AXDB_Copy'."
Hi
While importing .bacpac file to local VM machine's SQL server. It gives this error message :

Unable to connect to master or target server 'AXDB_Copy'. You must have a user with the same password in master or target server 'AXDB_Copy'.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3436fbc8-5bdd-dcdc-f5d3-51caf7b6cd

[2018-11-13 21:01] anderson-joyle opened #604 "Add financial dimensions lookup for OData"
This add-in can be useful: https://github.com/anderson-joyle/D365FO-ExcelFinancialDimensionLookups

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cde2d80e-b399-585f-8a79-24992d5a3748
* Version Independent ID: d8d50079-7de8-b443-67a5-9e7c2189d0b9
* Content: [Add lookup values for financial dimensions to Excel templates

[2018-11-13 21:21] tonyafehr commented on #603
Thanks for contacting us. @laneswenka, can you look into enhancing the documentation to provide the information that @burakuygur is looking for.

In the meantime, to get product help you can contact Support using one of the options described here: [Support contact options](https://docs.microsoft.com/en-us/dynamics365/unified-operations/dev-itpro/lifecycle-services/lcs-support). In particular, you

[2018-11-14 19:12] sericks007 commented on #584
Bug 268462 is tracking this issue.

[2018-11-14 19:13] sericks007 commented on #585
Bug 268464 is tracking this issue.

[2018-11-14 19:18] sericks007 commented on #586
@VavaniSarmah, thank you for submitting your feedback.

@EvgenyPopovMBS, please look into updating this topic based on the feedback.

[2018-11-14 21:34] 3DFO opened #606 "Way too basic"
Unfortunately this functionality is very limited. There is no link between hubs and customers, warehouses, vendors etc. The system therefore cannot dynamically route loads that contain multiple sales orders and addresses. A route plan and guide must exist. route plans are fine for pre-defined routes where all segments are always used but that's about it. Predefined routes when certain stops are no

[2018-11-15 00:43] 3DFO commented on #280
Custom fields are ok for info only. You can't write code against them so their use is pretty limited in my opinion.

[2018-11-15 00:47] 3DFO commented on #230
Item model groups are to define some inventory policies and costing method.  There should be plenty of documentation.  Try the 2012 training guide on customer source. Not much has changed in D365FO for item model groups.

[2018-11-15 08:47] AndersDahlin opened #607 "Connection details to Azure SQL"
A good note that I did not see and for people not used to Azure SQL is that you need to use the syntax &lt;server&gt;.database.windows.net  when connecting to Azure SQL with the SQL manager tool.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3436fbc8-5bdd-dcdc-f5d3-51caf7b6cd76
* Version Independent ID: af78d3ef-b329-

[2018-11-15 11:07] EvgenyPopovMBS commented on #586
Thanks, we will look at this.
Just one comment for now: the article is located in the Localization and regulatory features folder for Europe, and thus is not supposed to cover the procedure for the USA.

[2018-11-15 12:34] EkambaramPazhanisami opened #608 "Data mart reset issue in one box environment (Installed platform version : Update15)"
When we do the data mart reset as described above from Report designer, the report designer crashes and the error log is recorded with the below error messages. The same result is displayed while doing from power-shell using "Reset-DatamartIntegration" command.
Machine: XXXXX
	{"Class":16,"Number":8169,"State":2,"Message":"Conversion failed when converting from a character string to uniqueidentifi

[2018-11-15 12:58] sriling opened #609 "Only dbo schema supported in BYOD SQL DB"
Please add under this docs page (https://docs.microsoft.com/en-us/dynamics365/unified-operations/dev-itpro/analytics/export-entities-to-your-own-database ) under known limitation section that on dbo schema usage is supported in the BYOD SQL DB (https://dynamics.wiki/index.php/DMF:_BYOD_could_not_generate_package_file)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs

[2018-11-15 18:11] josaw1 commented on #606
Thank you for your comment. We've shared this feedback with the engineering team.

[2018-11-15 18:17] josaw1 commented on #608
Thanks for your comment. I've forwarded this on to the engineering team. Check back for their response.

[2018-11-15 18:21] josaw1 commented on #609
Thanks for your comment. I've forwarded this on to the author. Check back for his response.

[2018-11-15 21:20] TJVass commented on #584
YES - for those customers using PU15 or earlier, you'll need to provie a few more settings to connect D365F&O to your PowerBI.com subscription.  Here is a description of the settings used in the PowerBI.com configuration form for customer using **PU15 or before**:

**Authorization URI** -> "​https://login.windows.net"
​AAD authorization address.

​**Resource ID** -> "​https://analysis.windows.net/

[2018-11-15 21:44] laneswenka commented on #607
I will take a look at this today!

[2018-11-16 06:11] BernhardRaether commented on #584
Hello TJ,

Thanks for the explanation, will configure it with these parameters.

Hope it helps making the existing Docs even more useful 😉

Thanks again,
Regards,

Bernhard Räther
Senior Consultant
Inway Systems GmbH
[phone]               +49 -731-880073-12
[mobile]              +49-174-2411625
Inway Systems – BUSINESS. SOFTWARE. EXCELLENCE.

Von: TJ Vassar <notifications@github.com>
Gesendet: Don

[2018-11-16 08:25] OksanaKovaliova opened #613 "Retail support"
Note: Retail Server is not supported in on-premises deployments at this time - is it still valid? On-premises retail was released some weeks ago

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 37b1b122-d4e8-3f49-fdf2-9a830d3ca7c1
* Version Independent ID: 7dcd2c3a-f8de-249d-a84f-329bca14d21f
* Content: [On-premises depl

[2018-11-16 11:32] OksanaKovaliova opened #614 "8.1 deployable packages"
Hi, in 8.1 environment we do not see any standard packages in 'Create deployable package' form. Is it a design change in 8.1?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 999db527-ff3d-1370-dfc3-7d8a196eaeed
* Version Independent ID: 5b9776d6-3b1d-7b07-6a5e-0153505d31b9
* Content: [Create deployable packages of model

[2018-11-16 11:37] OksanaKovaliova opened #615 "8.1"
Hi, was x++ hotfix installation process changed in 8.1?
We cannot see standard packages in 'Create deployment package' anymore, so we assume that x++ hotfixes are not merged anymore... New process description will be high appreciated!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 66b4c899-c7e0-0406-0d39-d32fc41b6104
*

[2018-11-16 11:59] Ecoent opened #616 "Loyalty Program in retail"
Over-engineered, nothing working module!!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b9b0202d-3339-d783-9c2a-279d2828675f
* Version Independent ID: 27bf2e48-23bd-c1b2-0826-27aa95e18b1f
* Content: [Define loyalty schemes - Retail | Dynamics 365](https://docs.microsoft.com/en-us/dynamics365/unified-operations/retail/

[2018-11-16 12:04] MarkusFogelberg commented on #606
Thank you for the feedback. Dynamic routing is not supported by the product today, but it is a great suggestion. I would ask you to also post your feedback on Ideas portal.

[2018-11-16 12:09] Ecoent commented on #616
can i just re-do everything?
I just want to try a Loyalty program for retail online first! (then offline).
Tried everything as per the documents.
UI is nice, but nothing works and everywhere there is "validation" that goes nowhere!

I just want to add loyalty points, lets say $0.10 per $100 purchase on tier1, then something similar for tier 2 (call it Gold), and tier 3 (Platinum). and see it gets

[2018-11-16 12:22] Ecoent opened #617 "Over Engineered and Validated Module - that does not work for tier points!"
can i just re-do everything?
I just want to try a Loyalty program for retail online first! (then offline).
Tried everything as per the documents.
UI is nice, but nothing works and everywhere there is "validation" that goes nowhere!

I just want to add loyalty points, lets say $0.10 per $100 purchase on tier1, then something similar for tier 2 (call it Gold), and tier 3 (Platinum). and see it gets

[2018-11-16 13:55] ShylaThompson commented on #606
@3DFO here is a link to the ideas portal: https://experience.dynamics.com/ideas/

[2018-11-16 13:55] #606 closed

[2018-11-16 14:18] sericks007 commented on #613
@OksanaKovaliova, thanks for making us aware of this!

@AamirAllaq, please review this issue and update the topic appropriately.

[2018-11-16 18:13] sericks007 commented on #613
This topic has been updated.  The updated topic will be published later today.

[2018-11-16 18:13] #613 closed

[2018-11-16 20:41] laneswenka commented on #603
Hi @burakuygur can you provide the import command you used with SQLPackage.exe?  Based on your error message it sounds like you set the /tsn:AXDB_Copy but that should instead be localhost.  Want to confirm the /tdn: is set also to a database name that doesn't exist already on the local VM.

[2018-11-16 20:43] laneswenka commented on #585
Hi @ThomasBoehret you will be able to do this using the Export and Import functionality which is currently in Private Preview.  As soon as this is released I will update the issue with the link to the updated docs.

For now, you can manually import the 8.0 database in to your 8.1 environment and run a dbsync.  That will just work, it is the automated actions we are adding to LCS that won't be ther

[2018-11-16 22:18] jwilliams-bhsolutions opened #620 "Overlayering and OneBox Issues"
1. The code samples above require overlayering of the Fleet Model.  You can accomplish the code using a form class augmentation, form extension, and event handler in PU20 (required to change form patterns in form extensions), but the sample provided is in violation for 8.0 compilation and best practices in any AU.
2. If you embed a PBIX file from PowerBI Desktop in a one box topology it will not b

[2018-11-17 01:12] ShalabhjainMSFT commented on #617
Hi Ecoent,

Thanks for trying out the loyalty capabilities. I am sorry to hear you did not get the desired results. I have tried to provide the steps below, hopefully these are helpful for you.

If you don't need special pricing and discounts for loyalty members, then ignore creating special price groups and discounts. Follow the below steps to set up a simple loyalty program that you can use for

[2018-11-17 18:43] Ecoent commented on #617
thanks for a quick response.
i am gonna try these steps out first thing next week, and post things here.

[2018-11-19 12:09] GitHubSil opened #621 "Create configuration in design mode"
You can only create a new configuration when Electronic Reporting is in design mode.

Go to Electronic reporting &gt; Electronic reporting parameters

Then set “Enable design mode” to Yes

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8f3947cc-f8fb-d3e5-0d16-7f44a537897e
* Version Independent ID: 11d18227-3171-9e5e-b3b

[2018-11-19 13:52] sericks007 commented on #620
@jwilliams-bhsolutions, thanks for making us aware of this.

@TJVass, please update this article based on the feedback.

[2018-11-19 13:54] SSI13 commented on #558
Can you clarify whether we can apply 8.1 to an 8.0 dev environment (VHD, Azure & Tier1)?  Redeploying causes disruption which we'd like to avoid.  Above mentions the process for a Tier 1 environment but it isn't clear yet if we can apply to a VHD.  Seems the recommendation is still to redeploy but doesn't explain why or if it is mandatory or indeed just a recommendation.  Thanks.

[2018-11-19 13:54] sericks007 commented on #621
@GitHubSil, thanks for making us aware of this issue.

@NickSelin, please update this topic based on the feedback.

[2018-11-19 20:37] sericks007 commented on #588
Bug 269635 is tracking this issue.

[2018-11-19 20:41] sericks007 commented on #589
Bug 269637 is tracking this issue.

[2018-11-19 20:45] sericks007 commented on #596
Bug 269638 is tracking this issue.

[2018-11-20 04:48] VavaniSarmah commented on #586
@EvgenyPopovMBS and @sericks007 - your comments are still not the answer that community is looking for. Let me ask you straight - Can you point me to an article that is explaining how to import USA zipcode into dynamics 365 Finance and Operation or do you know if is there any relevant article on this?

[2018-11-20 04:56] EkambaramPazhanisami commented on #608
Thank you so much, Josaw1. Please let me know if you have any updates.

[2018-11-20 11:37] OksanaKovaliova opened #624 "8.0"
Is modification of Created/Modified properties still supported in 8.0? Not able to achieve this in 8.0, when in 7.3 I can do this

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a98edcb3-ab65-4e72-c79d-ce2fdd6d7483
* Version Independent ID: 9f39bf65-433b-0e07-f0a2-e2afeca1310b
* Content: [Modify table properties through

[2018-11-20 12:03] PalleAgermark opened #625 "Both step 2 and 4 in "Apply a package to a production environment by using LCS" instructs you to mark the package as a release candidate."
I'd assume step 4 would be the right time to do that, and not before applying the package to sandbox.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4008b2e3-4d1a-e146-8bdb-f39280124e9f
* Version Independent ID: 22f8390d-bb4d-1755-515c-7e7ebf1ddaae
* Content: [Apply updates to cloud environments - Finance & Operations

[2018-11-20 12:47] Ecoent commented on #617
here it is:
The configuration process seems like it could satisfy most of our current project needs, but will need
custom data processing, as our fundamental loyalty process is way different than typical market
(legacy) type points. We do have points, but we just give more every month for each tier.

7) this is quite confusing for me, i did find a number sequence somewhere else:
    Retail > Chann

[2018-11-20 15:30] tonyafehr commented on #624
Thanks for the feedback, @OksanaKovaliova! We will look into enhancing the documentation to provide the information that you're looking for. In the meantime, to get product help you can contact Support using one of the options described here: [Support contact options](https://docs.microsoft.com/en-us/dynamics365/unified-operations/dev-itpro/lifecycle-services/lcs-support). In particular, you might

[2018-11-20 15:32] tonyafehr commented on #625
Thanks for the feedback, @PalleAgermark.

@manalidongre, please address this question from @PalleAgermark and make needed updates to this topic based on this feedback.

[2018-11-20 21:32] ivanv-microsoft commented on #624
@OksanaKovaliova, tagging you to make sure you see the response.

[2018-11-20 22:46] #624 closed

[2018-11-21 06:07] VavaniSarmah commented on #586
I found a solution and able to import USA Zipcode into Dynamics 365 F& O
[Steps to import USA Zipcode into D365FO.pdf](https://github.com/MicrosoftDocs/dynamics-365-unified-operations-public/files/2602847/Steps.to.import.USA.Zipcode.into.D365FO.pdf)
. Explaining the steps below -

**Pre-requisite**
A.	A.	Make sure that you have the list USA States already created in the system.  (I have another pr

[2018-11-21 06:07] #586 closed

[2018-11-21 07:58] JannieUbik opened #629 "binary package"
The binary package is still not available under the Software deployable packages section.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0b3b5ec6-1a21-e71a-df38-ba497f7f1116
* Version Independent ID: d1e49823-7934-6a3a-50e1-547cdd632077
* Content: [Update environments from version 8.0 to 8.1 - Finance & Operations | Dy

[2018-11-21 13:49] kompa3 opened #631 "API access to LCS monitoring data"
Hi,

We'd like to integrate LCS monitoring data to our monitoring tool. The interesting monitoring metrics include SQL deadlocks, slow SQL statements (%), and server CPU utilizations. In other word, the data that is shown in _Health metrics_ tab of _Environment monitoring_ section in LCS user interface.

Does LCS offer a ready-to-use REST api for us to access? Or maybe the metrics are collected to

[2018-11-21 14:33] amadse opened #632 "Copied inforamtion from Dynamics AX 2012"
the servers in your environment might have different software installed,
All servers has the same software in our cloud deployment.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 96dc1049-f4c6-b089-f17f-355c29989163
* Version Independent ID: 80372d96-68d2-b931-a164-55f8e82f7e5c
* Content: [Batch processing - Finance &

[2018-11-21 14:42] sericks007 commented on #629
@JannieUbik, thanks for posting this.

@laneswenka, could you please comment on this?

[2018-11-21 15:32] sericks007 commented on #632
Hi @amadse.  I'm not sure I understand your question.  Could you please provide more information about the scenario? Thanks!

[2018-11-21 16:07] ThomasBoehret commented on #585
Hi @laneswenka, the question is more, if it is supported to import a database from a source Environment with Version 8.0 to a target Environment with version 8.1 without any data upgrade procedure (as there seem to be no differences in the data model of the database between the two versions). Of Course we are able to Export and Import the database manually.

[2018-11-21 16:33] sericks007 commented on #603
Bug 270369 has been logged to track this issue.

[2018-11-21 16:35] sericks007 commented on #604
Bug 270370 has been logged to track this issue.

[2018-11-21 16:38] sericks007 commented on #609
Bug 270371 has been logged to track this issue.

[2018-11-21 16:41] sericks007 commented on #614
Bug 270372 has been logged to track this issue.

[2018-11-21 16:44] sericks007 commented on #615
Bug 270373 has been logged to track this issue.

[2018-11-21 16:47] sericks007 commented on #616
Bug 270374 has been logged to track this issue.

[2018-11-21 16:50] kfend commented on #615
Hi,
Version 8.1 does not support X++ hotfixes. Only cumulative binary updates are supported. For more information, please see the topic, [Get updates from Lifecycle Services](https://docs.microsoft.com/en-us/dynamics365/unified-operations/dev-itpro/migration-upgrade/download-hotfix-lcs).

[2018-11-21 16:50] #615 closed

[2018-11-21 16:59] sericks007 commented on #620
Bug 270376 has been logged to track this issue.

[2018-11-21 17:04] sericks007 commented on #607
Bug 270379 has been logged to track this issue.

[2018-11-21 17:07] sericks007 commented on #608
Bug 270380 has been logged to track this issue.

[2018-11-21 17:10] sericks007 commented on #579
Bug 270382 has been logged to track this issue.

[2018-11-21 17:14] sericks007 commented on #578
Bug 270383 has been logged to track this issue.

[2018-11-21 17:16] sericks007 commented on #575
Bug 270384 has been logged to track this issue.

[2018-11-22 02:14] aprilolson commented on #608
This is a support case, not a doc issue. Why would we track this on doc?

April Olson
Dynamics 365 Finance & Operations
Principal Group Program Manager, Financials & Service Industries

Our workplace allows for a flexibile work schedule, which is an amazing benefit. I am sending this now because it is convenient for me. I do not expect you to read or respond until its convenient for you.

From: Sa

[2018-11-22 05:49] EkambaramPazhanisami commented on #608
Hello aprilolson, Thanks for your response. I just wanted to know that the procedure listed here is not working for one box environment (downloaded VM) also there is no details specific to one box environment in the given procedure. Since the given procedure is not working in one box environment, I just wanted to know is there any doc or steps available related to data mart reset in one box enviro

[2018-11-22 06:32] JannieUbik commented on #629
I found it, it is called "Dynamics 365 for Finance and Operations version 8.1"

[2018-11-22 08:10] amadse commented on #632
Hi Sally

A part of the statement is copied from the Dynamics AX 2012 documentation and is not true for Dynamics 365 Finance & Operations.
I don’t recall the page, If you send I can make it more clear

Anders Madsen

Prin Consultant Erp
Microsoft Global Domain
Denmark

Office: +45 (45) 678213
Mobile: +45 29499831
amadse@microsoft.com<mailto:amadse@microsoft.com>

[Microsoft Logo]
If you have any f

[2018-11-22 08:39] winbrother opened #633 "Not yet supported in App7.2"
It's not yet supported in App7.2 for entity method. Only works for table/form/class.
If you want to use it, please upgrade to App8.1.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a2b3708d-a8c1-612b-f4f3-9802ad0c5448
* Version Independent ID: d2f14c0f-b695-a234-53ef-864d8e243d14
* Content: [Class extension - Method wr

[2018-11-22 14:50] OksanaKovaliova opened #635 "ExtendedDataSecurity"
Hi,
Could you, please, provide a bit more detailed information about ExtendedDataSecurity? It is not clear on which part of application logic it influences.
Thank you

---
#### Detalles del documento

⚠ *No edite esta sección. Se requiere para docs.microsoft.com ➟ Vinculación de problema de GitHub.*

* ID: c7d5f5d5-c95d-4c70-0af6-69bb881052e6
* Version Independent ID: 2dbf3828-ed0d-06c9-0e07-13359

[2018-11-23 04:00] Rajeshni commented on #578
Hi,

Can someone please advise if this feature in working in version 8.1?
I have just enabled the DMFEnableAllCompanyExport feature. Restarted IIS and also my VM.
I have exported to BYODB from the entity project by exporting on the fly and also via export in batch.
It did not export records for all the company.
My entity project is enabled for all companies.

Please help.

Thanks.

[2018-11-23 12:41] ivanv-microsoft commented on #624
Do you create an extension within the same model? Same package? Different package?

Ivan (Vanya) Kashperuk | Senior Engineering Manager | Microsoft Dynamics 365 for Finance and Operations | Microsoft Development Center Copenhagen | http://kashperuk.blogspot.com<http://kashperuk.blogspot.com/>

Our workplace allows for a flexible work schedule. I am sending this email now because it is convenient f

[2018-11-23 12:48] OksanaKovaliova commented on #624
I create an extension in a new model, that references original model. Package is also new.

For example:

  1.  Model for extension = ‘Development Custom Model’ that is packaged separately (not a part of any standard package)
  2.  Original model = ‘Application Suite’
  3.  ‘Development Custom Model’ references original model
  4.  Extension is created inside ‘development Custom Model’

From: Ivan

[2018-11-24 10:11] OksanaKovaliova opened #637 "SQLite"
Is SQLite still supported in D365 for Retail CRT?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9eafa281-1f4f-5a63-d2ce-26fb2c90ba47
* Version Independent ID: 9a222e6a-8bd3-53c3-02ad-d27518632d7e
* Content: [Commerce runtime (CRT) architecture and configuration - Retail | Dynamics 365](https://docs.microsoft.com/en-us

[2018-11-25 21:26] macchinettid opened #638 "How to handle a new TAG in the ISO20022 bank statements - Dynamics 365 for Finance & Operations"
In the blog post below I explain How-to handle a new Tag in the ISO20022 bank statements file.

https://sinedax.blogspot.com/2018/11/how-to-handle-new-tag-in-iso20022-bank.html

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e05abef3-f815-21a0-eedb-e67901e5bf99
* Version Independent ID: c4556269-06f3-177a-7da7-1de63eea8

[2018-11-26 08:38] OksanaKovaliova opened #639 "Validity"
Hi, for what version of Retail is this article valid?
Does ExtendedController still exist?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b1759797-2d85-a8d2-8183-2d6bb7b48963
* Version Independent ID: 1e3c3757-3191-eecf-76a3-d15cd6bca182
* Content: [Create a Web API controller for Retail Server - Retail | Dynamics 365]

[2018-11-26 14:39] #629 closed

[2018-11-26 15:50] sericks007 commented on #632
Closing, per email with Anders.

[2018-11-26 15:50] #632 closed

[2018-11-26 15:52] sericks007 commented on #633
@winbrother, thank you for posting this!

@ChrisGarty, is this something that should be added to the topic?

[2018-11-26 16:00] OksanaKovaliova opened #640 "Event 5000"
Hi,
Is information about event 5000 & Analytics channel still valid?
Cannot find them in Retail logs..

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2995dab3-754e-79d8-5bb3-857e06a4d9c1
* Version Independent ID: 99a6a217-49d8-67ee-da81-69970750e81a
* Content: [Retail component events for diagnostics and troubleshootin

[2018-11-26 16:05] sericks007 commented on #637
@OksanaKovaliova, thanks for posting this question.

@mugunthanm, please answer the question and update the topic if necessary.

[2018-11-26 16:10] sericks007 commented on #638
@macchinettid, thanks for posting this!

[2018-11-26 16:10] #638 closed

[2018-11-26 16:16] sericks007 commented on #639
@OksanaKovaliova, thanks for posting!

@AamirAllaq or @mugunthanm, could you please answer this question and update the topic, as necessary?

[2018-11-26 16:18] sericks007 commented on #640
@OksanaKovaliova, thanks for posting this!

@AamirAllaq, could you please answer this question and update the topic, if necessary?

[2018-11-26 16:35] sericks007 commented on #621
Bug 271040 has been logged to track this issue.

[2018-11-26 21:32] leodas2004 opened #642 "List Panel example"
Where can I find the CLIPatterns_ListPanel form as mentioned in the article above?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 752fa821-0d42-e5c6-490a-6b263767ce5b
* Version Independent ID: 08c940c6-602c-e6fd-b403-731409b29835
* Content: [List Panel subpattern - Finance & Operations | Dynamics 365 | #MSDyn365FO](htt

[2018-11-26 22:06] pvillads commented on #635
There really is not much more to add than what the description says: "Specify whether the menu item appears under all companies instead of in the context of a single company. The default value is No." That is the only impact on the system. There is no impact on any business logic in addition to this. The name is rather poor. It would have been better if it had read "CompanySpecific" or something a

[2018-11-26 22:13] #635 closed

[2018-11-27 01:50] rossdo88 opened #644 "XPS is no longer found in D365"
Would you please update that whether we can still export using XPS because i cant find it in 7.1 8.0 8.1

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4ae87f0f-08d6-6c4e-3171-4f45ba602220
* Version Independent ID: 2b16c6dc-92bb-a238-7a9d-db6562d568af
* Content: [Financial reporting - Finance & Operations | Dynamics 36

[2018-11-27 03:03] ggriffith02 opened #645 "Remove a Party role association - How?"
In D365FO, how can you remove a Party Role Association.  If we have the same Customer in three different legal entities, how can we unlink the party role association?  Thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c53233ff-e825-c9d6-ddc6-b0e7efc69f0e
* Version Independent ID: 7a3d54c1-df29-9ec2-9d96-7b946d9461

[2018-11-27 05:43] Tilerphy opened #646 "Data entities have neither modified time nor updated time field."
The records in DataEntity have neither modified time nor updated time field. It is impossible to query in the specific range time. Is there some solution to resolve it?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d5e2729b-116a-728c-1166-3c1a0cba9921
* Version Independent ID: 7c745e05-b5f4-40b6-65e1-395deeb17f1b
* Co

[2018-11-27 07:32] OksanaKovaliova commented on #635
Hi Peter,

Thank you for reply.

All menu items appear cross-company by default – you add it to menu and can see in any company.
If default value No means ‘item appears in a single company’ – then D365 does not work like this now… So this is my difficulty to understand why ‘No’ is ‘Yes’.

Regards,
Oksana

From: Peter Villadsen <notifications@github.com>
Sent: Tuesday, November 27, 2018 1:06 AM
To:

[2018-11-27 14:01] tonyafehr commented on #642
@leodas2004, thanks for posting!
@jasongre, please answer this question and update the topic, as necessary.

[2018-11-27 14:02] tonyafehr commented on #644
@rossdo88, thanks for posting!
@aprilolson, please answer this question and update the topic, as necessary.

[2018-11-27 14:05] tonyafehr commented on #646
@Tilerphy, thanks for posting!
@Sunil-Garg, please answer this question and update the topic, as necessary.

In the meantime, to get product help you can contact Support using one of the options described here: [Support contact options](https://docs.microsoft.com/en-us/dynamics365/unified-operations/dev-itpro/lifecycle-services/lcs-support). In particular, you might want to go to the [Dynamics 365

[2018-11-27 14:07] tonyafehr commented on #645
@ggriffith02, thanks for posting!
@ShivamPandey-msft, please answer this question and update the topic, as necessary.

In the meantime, to get product help you can contact Support using one of the options described here: [Support contact options](https://docs.microsoft.com/en-us/dynamics365/unified-operations/dev-itpro/lifecycle-services/lcs-support). In particular, you might want to go to the [Dy

[2018-11-27 14:23] tonyafehr commented on #625
Bug 271739 has been logged to track this issue.

[2018-11-27 17:19] rayzorben commented on #646
If it is not exposed by default, is it possible to query via ODATA only for changes when change tracking is enabled?

[2018-11-27 23:08] PrudhviTummala commented on #198
The logic for Search all stores is incorrect-- It shouldn't return all parties i.e. Employees, Customers, Vendors & competitors.

It should only display parties associated with Customers  - Should this be logged as a bug?

[2018-11-27 23:14] ShalabhjainMSFT commented on #198
The current implementation assumes that your employees, vendors, competitors etc. all can also be your customers and thus the remote search returns all parties which have a address book associated to them. If the ask is to restrict the remote search to only return the parties which are associated to the customer address book, then this will be treated as a design change request. In the mean time,

[2018-11-29 03:39] aprilolson commented on #644
You can export to .pdf, not .xps.

[2018-11-29 03:50] aprilolson commented on #608
You are not missing anything from what I can tell. There seems to be an issue on that specific environment and a support ticket should be logged.

[2018-11-29 14:04] #644 closed

[2018-11-29 15:53] aprilolson commented on #608
Ekahmbaram,
We would like to look at the issue. Did you raise this with support? If so, please let us know the ticket number so we can make sure look into it.

April Olson
Dynamics 365 Finance & Operations
Principal Group Program Manager, Financials & Service Industries

Our workplace allows for a flexibile work schedule, which is an amazing benefit. I am sending this now because it is convenient

[2018-11-29 16:08] beautifullmind opened #654 "Could not load file or assembly 'Microsoft.TeamFoundation.Common"
I am running into the following issue when i run the command for source control

Could not load file or assembly 'Microsoft.TeamFoundation.Common, Version=14.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a' or one of its dependencies. The located assembly's manifest definition does not match the assembly reference. (Exception from HRESULT: 0x80131040)
   at Microsoft.Dynamics.AX.Servicing.

[2018-11-29 16:08] dferris87 commented on #540
I received the same error. The TMSLabelProvider class in the TMSFwkRateEngineFactory::createRateEngine class method was throwing this error on a local Dev VM: "Could not find engine assembly 'ThirdPartyTMSEngines.dll' at 'C:\\AOSService\\PackagesLocalDirectory\\ApplicationSuite\\bin\\ThirdPartyTMSEngines.dll'." I moved the ThirdPartyTMSEngines DLL to the above directory and could see the expected

[2018-11-29 21:52] D365Explorer opened #655 "Fix for data packages upload sequence"
Please, specify which package should be uploaded first of them?
"300 - Supply chain - PIFB	Load this package after the PICH Supply chain package.
 300 - Supply chain - PICH	Load this package after the PIFB Supply chain package."

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3fc92d46-8f1c-dc72-82c0-dcbccf014c18
* Versi

[2018-11-29 21:54] ryansandness commented on #655
I have typically done PICH before PIFB, but since they are both labeled as 300, we don't believe there to be any dependency and either could be run first.

[2018-11-29 22:08] #655 closed

[2018-11-29 22:23] D365Explorer opened #656 ""Project management package 250" is depended on Public sector data"
It's written: "there is currently a commercial system and shared package as well as a separate public sector system and shared package that CAN'T be used together". I upload 13 packages of "Commercial data" listed above without Public Sector packages and get more than thousands errors after"250 - Project management - HQUS" is imported, which say that company PSUS doesn't exist. PSUS belongs to Pub

[2018-11-29 22:39] brkingmsft commented on #645
Hi @ggriffith02 -
You can change the party association for a customer by going to Accounts Receivable - Customers - All Customers and clicking on Change party association on the Customer tab in the Accounts section.  You should see a fly-out window where you can see the existing party association and then a drop-down to select a new party.

[2018-11-29 23:13] tomhig opened #657 "Sample Completed Project to Download"
Can the above be incorporated into a downloadable .AXPP file that one could just import into Visual Studio? Or, make the project available on GitHub?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 19f4fc77-3001-64ba-4b42-cf0645a8ec78
* Version Independent ID: 6e8a919e-7b8b-6cd5-5a88-e7cb9974c1fe
* Content: [Create rule

[2018-11-30 14:10] #645 closed

[2018-11-30 14:49] kfend commented on #654
Thanks for contacting us. Unfortunately, we're unable to handle Support requests for the product here. To contact Support, consider one of the options described here: `[Support contact options](https://docs.microsoft.com/en-us/dynamics365/unified-operations/dev-itpro/lifecycle-services/lcs-support)`. In particular, you might want to go to the [Dynamics 365 for Finance and Operations community page

[2018-11-30 14:49] #654 closed

[2018-11-30 15:59] rayzorben opened #658 "Support Change Tracking for ODATA"
Currently there does not seem to be an option for querying only changed records via ODATA.. D365 Customer Engagement supports this capability by adding the HTTP header Prefer: odata.track-changes which will return a URL in the response listing the token and URL to request the next set of changes.

https://docs.microsoft.com/en-us/dynamics365/customer-engagement/developer/use-change-tracking-synchr

[2018-12-02 16:23] dhand01 opened #660 "Admin User Provisioning tool"
How do we use the Admin User Provisioning Tool in a VM that does not allow admin access?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8987a0ce-dad0-3bf5-8681-500388d83645
* Version Independent ID: 0b8cee00-76d7-fad7-5dff-566aa325669a
* Content: [Development and build VMs that don't allow admin access FAQ - Finance &

[2018-12-02 22:12] Navneetkat opened #661 "Quick Links for Master Planning essentials & Intercompany master planning not working"
Following the above 2 links take us to a screen where it shows the Training material is retired and go back takes us back to this page.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1e78a33e-fc18-ad95-2a98-456dad3ac154
* Version Independent ID: 251b7ff1-df80-3b9e-c8a7-8e7df141eb21
* Content: [Master planning home page

[2018-12-03 10:47] Phineas019 opened #662 "An error occurred getting the Power BI groups. Please contact your system administrator."
We have 4 environments with same link. Configured Only one application to use on them all.
The application works as it meant for in One machine not on other machines.
Application version is 7.3 PU15 to 8.1 PU20.

Thanks in advance

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 717d397d-4186-c7de-431d-3260d3f0484a
* Ver

[2018-12-03 15:36] ShylaThompson commented on #657
@tomhig , Thanks for taking the time to provide feedback on Finance and Operations! Can you use the [Ideas site](https://experience.dynamics.com/ideas/list/?forum=16691718-61e2-e611-8101-5065f38b21f1) to submit your feedback directly? The ideas site will enable you to receive notifications, vote, and monitor the progress of your idea more closely.

As this is product feedback, and not documentatio

[2018-12-03 15:38] ShylaThompson commented on #662
@Phineas019 Thanks for contacting us. Unfortunately, we can't handle support requests for the product here. To contact support, consider one of the options described here:  https://docs.microsoft.com/en-us/dynamics365/unified-operations/dev-itpro/lifecycle-services/lcs-support

[2018-12-03 15:38] #662 closed

[2018-12-03 15:52] tomhig commented on #657
Hello.

This is feedback, a request, to further enhance this particular Docs article with an example. It is not an idea for the product.

From: Shyla Thompson <notifications@github.com>
Sent: Monday, December 3, 2018 10:37 AM
To: MicrosoftDocs/dynamics-365-unified-operations-public <dynamics-365-unified-operations-public@noreply.github.com>
Cc: tomhig <tomhig@outlook.com>; Mention <mention@noreply

[2018-12-03 15:58] ShylaThompson commented on #661
@Navneetkat , Thanks for letting us know about this. I've removed the links.  The training material has expired.

Over time, we'll be adding new updated training to the new [Microsoft Learn site](https://docs.microsoft.com/en-us/learn/).

[2018-12-03 15:58] #661 closed

[2018-12-03 16:05] ShylaThompson commented on #657
@Tomhig, I'm sorry for misunderstanding your original post.  Can you clarify what change you want made to this topic? [Create rules for Optimization advisor](https://docs.microsoft.com/en-us/dynamics365/unified-operations/dev-itpro/sysadmin/create-rules-optimization-advisor)

[2018-12-03 16:10] ShylaThompson commented on #658
@rayzorben, Thanks for taking the time to provide feedback on Finance and Operations! Can you use the [Ideas site](https://experience.dynamics.com/ideas/list/?forum=16691718-61e2-e611-8101-5065f38b21f1) to submit your feedback directly? The ideas site will enable you to receive notifications, vote, and monitor the progress of your idea more closely.

As this is product feedback, and not documentat

[2018-12-03 16:10] #658 closed

[2018-12-03 16:35] tomhig commented on #657
The first sentence of the article states the following: This topic explains how to create new rules for Optimization Advisor. The article really needs to be structured as a Hands-on-Lab that provides guided, step-by-step instructions on how to create a new rule that identifies which Request for Quotations (RFQ) cases have an empty title. This is the example that is referenced and there is a lot of

[2018-12-04 00:19] rossdo88 opened #663 "How to set up exchange"
Hello everyone,
Can you please guide me how to set up exchange online if email provider i choose exchange?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a3474f86-38f0-8d1c-87fb-ba192e0a8adb
* Version Independent ID: 4c64163d-e9b2-0966-b67e-ae63f4393215
* Content: [Configure and send email - Finance & Operations | Dyna

[2018-12-04 07:13] iwiaCorp opened #664 "Change Position in Group field"
Hi everyone, it is possible to change position field into field group throughout design? I know how to add dynamic field control into runtime design and set position by code but it need more complex programming.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 62c6ef81-7b43-a840-be03-d8d94505348c
* Version Independent ID

[2018-12-04 11:53] denizLapantov opened #665 "Maps Extensions"
Hello Everyone,
Will anyone be able to extend maps?
Or in particular vendDocumentTableMap.
Have a nice day,
Deniz

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a29c2a47-93dc-faaa-7e0b-88edcea63652
* Version Independent ID: 14e1b47b-67e1-accc-c1e0-72b84aab3d55
* Content: [Extensibility changes in Dynamics 365 for Finan

[2018-12-04 12:06] FrankDahl commented on #665
Hello Deniz,
Maps are made extensible through that we refactor the structure of these in the application. We are not going to provide general platform support for extending maps. You should familiarize yourself with the documentation resources we have published:
https://docs.microsoft.com/en-us/dynamics365/unified-operations/dev-itpro/extensibility/map-extensions
https://docs.microsoft.com/en-us/d

[2018-12-04 14:24] #665 closed

[2018-12-04 14:29] tonyafehr commented on #664
@iwiaCorp, thanks for posting!
@ivanv-microsoft, could you answer this question and update this topic based on this feedback.

[2018-12-04 15:37] yukonpeegs commented on #660
Using the admin user provisioning tool is not currently supported for development and build VMs that don't allow admin access. We will add this to the FAQ on this topic and you can watch the FAQ for updates. An add-on environment will be on the customer's tenant and you can change the email address of the environment's admin user as long as you have another admin user. We'd like to hear your scena

[2018-12-04 15:40] dhand01 commented on #660
This is not an add-on environment. This is a DEV/TEST or BUILD environment (Tier 1) that is part of a subscription. Now that admin access is not allowed on the server, there doesn't seem to be anyway to use the Admin User Provisioning Tool.

[2018-12-04 16:00] yukonpeegs commented on #660
Do you want to change the domain of the admin user (from admin@company1.com to admin@company2.com) or just the email address (from admin1@company.com to admin2@company.com)?

[2018-12-04 17:31] dhand01 commented on #660
Scenario would be... Get latest copy of production data down in a DEV/TEST/BUILD box. Since a developer is not a user in the PROD DB, we normally add them as Admin to the DB using the Admin User Provisioning Tool. Now that this tool is inoperable, we have no way to add the dev user into the DB.

[2018-12-04 18:31] yukonpeegs commented on #660
You can update the SID and network alias in the database to a known good value that is compatible with the target environment. The user can be added to any environment on the same tenant to get the correct SID. Note that the SID for a user for dev@company.com on an environment on the company.com tenant will be different than the SID for a user for dev@company.com on another tenant (e.g. partner.co

[2018-12-04 19:20] dhand01 commented on #660
Wow. So convenient! :)
Are there any plans to make the Admin User Provisioning Tool available again, for non-admins in DEV environments?

[2018-12-04 21:46] tomhig commented on #657
The following should clarify the article:

The next to last sentence of the third paragraph states the following: "This new class can be added to a custom model with a dependency on the SelfHealingRules model."

The custom model must also have a dependency on the following models (in addition to the SelfHealingRules model):

Application Platform
Application Suite
Directory
SelfHealing
Tax

A new C

[2018-12-04 21:55] yukonpeegs commented on #660
I will add an entry for the Admin User Provisioning Tool and the above information to this topic. You can check this topic for any future updates.

[2018-12-05 11:10] SST1982 opened #666 "Starting point = Workspace "Electronic reporting""
It would be useful to know that when setting things up as instructed, the starting point is the Workspace "Electronic reporting". This hint was missing and I spent an hour searching for "Electronic reporting parameters"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ed8868c5-62f4-ecfa-a0d6-39bba9904a01
* Version Indepe

[2018-12-05 12:02] sericks007 commented on #666
@SST1982, thanks for posting this!

@NickSelin, please review this suggestion and update the topic appropriately.

[2018-12-05 14:49] tonyafehr commented on #646
Bug 274058 has been logged to track this issue.

[2018-12-05 17:04] prodev42 opened #667 "need some clarification"
in some of the screenshots what is the difference between left side diagram vs  right side?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2b7bb314-de6d-019e-e35e-58d1b0b6050b
* Version Independent ID: 0eaf4a1a-e500-b192-9e7e-42c69e76fa99
* Content: [Validations, default values, and unmapped fields - Finance & Operatio

[2018-12-05 17:50] prodev42 opened #668 "diagram for outbound flow?"
Is there diagram for outbound flow?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fefee79b-aac3-6f4d-92bb-ffd7021a85a8
* Version Independent ID: 446e7928-558c-b72d-2b8f-e53f04f2ebd0
* Content: [Data management and integration by using data entities - Finance & Operations | Dynamics 365 | #MSDyn365FO](https://docs.micr

[2018-12-05 18:25] tbarron2 opened #669 "Email Reference Content Update"
It's my understanding that email notifications for alerts are not part of the latest release of F&O.  This content implies that the email message functionality is active.  I would suggest removing that reference and clarifying that later releases may have this functionality.   We would love to see the email functionality as soon as possible.

---
#### Document Details

⚠ *Do not edit this section.

[2018-12-05 19:46] aaronstackpole opened #670 "Stock Quote Service Failure"
The stock quote web service listed in this article is not working for me.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e3e8a936-3bef-b844-e935-adfadd03516f
* Version Independent ID: 53cc6e3a-a62e-be0f-dba1-38f62394ee0e
* Content: [Consume external web services in Finance and Operations - Finance & Operations | Dynami

[2018-12-05 19:49] sericks007 commented on #667
@prodev42, thanks for posting this!

@Sunil-Garg, can you please answer this question, and update the topic, if appropriate.

[2018-12-05 19:51] sericks007 commented on #668
@prodev42, thanks for posting this!

@Sunil-Garg, can you please answer this question, and update the topic, if appropriate.

[2018-12-05 20:03] aaronstackpole commented on #670
This article has multiple problems, please update with functional code samples that work with current versions of Dynamics 365 for Finance and Operations.

[2018-12-05 20:05] sericks007 commented on #669
@tbarron2, thanks for posting this!

@TJVass, please update the topic appropriately.

[2018-12-05 20:07] sericks007 commented on #670
@aaronstackpole, thanks for making us aware of this issue.

@Sunil-Garg, please update the topic appropriately.

[2018-12-05 20:29] ShylaThompson commented on #621
@GitHubSil , this topic will be updated to reflect this by the end of this week. The change has been made but it won't go live for a day or so. I'm going to close this issue as resolved, but please reopen if you don't see the change you expected within a few days.

[2018-12-05 20:29] #621 closed

[2018-12-06 10:56] faheem-usmani opened #673 "Date Correction - for Inventory Closing"
In the above content it is mentioned that no transactions can be done for the period closed and further explained that no transaction can be made in the date earlier than Closing date. While you cannot even make an inventory transaction in the closing date.
So, the word "earlier" is not suitable there.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟

[2018-12-06 14:54] mkraus81 opened #674 "Code Upgrade tool stops with error at 3%"
The code upgrade service stops at 3% with the error message
"We're sorry, the analysis can't be completed. To research this issue, see"

after i removed all packages with binary files from version control
the code-upgrade succeded

i think it would be a great help to add a understandable error message to the code upgrade tool for this case

---
#### Document Details

⚠ *Do not edit this section. I

[2018-12-07 11:40] OksanaKovaliova opened #677 "Create, Update, Delete, Correct permissions on menu item"
Hi!
Are Create, Update, Delete, Correct permissions on menu item still play any role on security?
I tried to set all of them to 'No' in D365 8.0, but I am still able to give Create/Delete/etc. access to menu item from privilege entry point

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c7d5f5d5-c95d-4c70-0af6-69bb88105

[2018-12-07 14:15] RobvanB commented on #620
Is there an update on this ? We are having the same problem....

[2018-12-07 14:54] jwilliams-bhsolutions commented on #620
@RobvanB what AU/PU are you?  I have some code I'd be happy to share for PU20/8.0 while this is still being worked on if that's helpful.

[2018-12-07 19:04] josaw1 commented on #673
Thank you for your feedback. I've sent this to the author for his review.

[2018-12-07 22:50] D365Explorer commented on #656
Hi Ryan,
Data management
![image](https://user-images.githubusercontent.com/45470675/49676525-0d264000-fa48-11e8-95c7-abb5668f379e.png)
Unfortunetly, the logs for Import Sys_And_Shared and Fin_200_HQUS were deleted, but they were uploaded in that sequence.

Project management and accounting
![image](https://user-images.githubusercontent.com/45470675/49676554-25965a80-fa48-11e8-838b-91a7979f7a48.pn

[2018-12-07 23:20] ryansandness commented on #656
Thank you. Can you re-download the file from LCS (Demo data 8.1. 250 Project management and accounting HQUS) and compare the files within to these last two screenshots?  I downloaded from LCS and clearly see 88 items in the zip file with no reference to employee or fund.

![image](https://user-images.githubusercontent.com/27744245/49677423-5d9b9e80-fa44-11e8-9020-244617876244.png)

[2018-12-08 13:16] RobvanB commented on #620
@jwilliams-bhsolutions - This is on the latest 8.1 / PU21 version.... Thanks!!

[2018-12-08 22:03] Sunil-Garg commented on #334
This is an issue with the job which is stuck in executing status. We are looking into a few bugs related to status issues on the job which should help such cases. We will update the documentation if there is any changes we make to the state model of the jobs. Thanks!

[2018-12-08 22:11] Sunil-Garg commented on #609
Thanks for mentioning this update. We are actually working to bring back the old behavior where non-dbo schemas were working. We will hold off on updating this doc since the work is getting completed as we speak.

[2018-12-08 23:32] Sunil-Garg commented on #582
Mzade-- the fact about using the same account in both F&O and LCS is already mentioned. Also, the data packages in the shared asset library works with the non-global scope as well. Let's connect offline if you are still seeing this behavior.

[2018-12-09 15:29] ripannandy opened #686 "Cloud hosted environment in Implementation project"
We are having a private Azure subscription. Can we create the cloud hosted environment using "private azure subscription" from the "Implementation project"?  It is known to me that, option is available from "Implementation project" to create cloud hosted environment but how to create Azure connector(ARM enabled) using the "private azure subscription" from project settings?

---
#### Document Detai

[2018-12-09 22:02] jwilliams-bhsolutions commented on #620
@RobvanB here's a Gist with my samples for embedding into the Customer Invoices workspace: https://gist.github.com/jwilliams-bhsolutions/07773630dbbd61e231c597786cfc860b.

Remember you need an AxResource containing your PBIX file that points (with DQ) to your Entity Store.

If you haven't seen these links you'll need to dig in to them as well so that you can test your embedding in any Tier 1 or AR

[2018-12-10 00:57] andreesteve commented on #640
@OksanaKovaliova - 5000 events show up in the Analytics node under Commerce-RetailServer. You need to right click on the node and select "Enable log". You need to trigger a Retail Server request to see them, as old events are not persisted when the Analytics node is not enabled. Let me know if they are not there for you environment.

[2018-12-10 17:37] tonyafehr commented on #374
This link will be published later today. Thank you!

[2018-12-10 17:37] #374 closed

[2018-12-10 17:50] ShylaThompson commented on #674
@mkraus81  Thanks for taking the time to provide feedback on Finance and Operations! Please log your idea on the [Ideas site]( https://experience.dynamics.com/ideas/list/?forum=16691718-61e2-e611-8101-5065f38b21f1) to submit it directly. Logging your idea will enable you to receive notifications, vote, and monitor the progress of your idea more closely.

As this is not an issue with this help topi

[2018-12-10 17:50] #674 closed

[2018-12-10 18:09] ShylaThompson commented on #609
@sriling I'm going to close this issue because we won't be making the change to the topic due to current work in progress.

[2018-12-10 18:09] #609 closed

[2018-12-10 18:45] tonyafehr commented on #500
This issue has been fixed and updated content will be published today.

[2018-12-10 18:45] #500 closed

[2018-12-10 18:49] tonyafehr commented on #511
This issue has been fixed and will be published later today. Thank you!

[2018-12-10 18:49] #511 closed

[2018-12-10 18:59] tonyafehr commented on #575
This issue has been resolved and the topic will be updated today to reflect these changes. Thank you!

[2018-12-10 18:59] #575 closed

[2018-12-10 19:36] #582 closed

[2018-12-10 19:37] #334 closed

[2018-12-10 19:38] #286 closed

[2018-12-10 20:34] ShylaThompson commented on #168
@Sunil-Garg, this should be a quick fix if it is correct.

[2018-12-10 20:49] ShylaThompson commented on #197
@Amakyusa Here is the right link: https://go.microsoft.com/fwlink/?LinkId=2017742&clcid=0x409 . The topic will be fixed within the week.

[2018-12-10 20:49] #197 closed

[2018-12-11 10:23] erikpaperik opened #689 "Amount of CPU cores used to build X++ Code"
Dear MS Team,

in the article you are writing "However, the compiler will use available resources, so more RAM and more cores may translate into faster compilations ..."

As far as I know the X++ build process will always just utilize one CPU core. Is this still true?
The statement above makes me think that compiler "[...] will use available resources [...]" which includes more CPUs, too?

---
###

[2018-12-11 13:35] DutchDynamics opened #690 "Change in Web.config required"
After inserting the additional record in the sysflighting for "DMFExportToPackageForceSync", a change to the Web Config is also required to make the functionality work.

Change the web.config for your environment.
add key=”DataAccess.FlightingServiceCatalogID” value=”12719367″

This is not mentioned anywhere in the documentation

[2018-12-11 13:52] denizLapantov opened #691 "private static PurchFormLetter constructFromClassNameMethodName"
Hello,

can you for the next upgrading make this method extendable, that is, not private.

Have a nice day,
Deniz

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ad71b572-4c50-4ba1-c0f0-cba6402388ce
* Version Independent ID: ee2eb0e4-4a79-962a-4269-39f206a51767
* Content: [Extensibility changes in Dynamics 365 for Finan

[2018-12-11 13:55] #690 closed

[2018-12-11 13:56] DutchDynamics opened #692 "Change is Web.Config required to enable flighting catalogID"
After inserting the additional record in the sysflighting for "DMFExportToPackageForceSync", a change to the Web Config is also required to make the functionality work.

Change the web.config for your environment.
add key=”DataAccess.FlightingServiceCatalogID” value=”12719367″

This is not mentioned anywhere in the documentation

---
#### Document Details

⚠ *Do not edit this section. It is requir

[2018-12-11 13:56] DutchDynamics commented on #690
Created issue with additional data to doc.microsoft.com

[2018-12-11 15:20] tonyafehr commented on #692
@DutchDynamics, Thanks for taking the time to provide feedback on our documentation. I've passed your comment on to the author of this topic so it's noted for future updates. If you need immediate assistance, please contact Support. consider one of the options described here: [Support contact options](https://docs.microsoft.com/en-us/dynamics365/unified-operations/dev-itpro/lifecycle-services/lcs-

[2018-12-11 15:20] tonyafehr commented on #691
@denizLapantov, Thanks for taking the time to provide feedback about Finance and Operations. I've passed your suggestion on to the author of this topic so it's noted for future updates. Also, please log your idea on the [Ideas site]( https://experience.dynamics.com/ideas/list/?forum=16691718-61e2-e611-8101-5065f38b21f1) to submit it directly. Logging your idea will enable you to receive notificati

[2018-12-11 15:20] #691 closed

[2018-12-11 15:23] tonyafehr commented on #689
@erikpaperik, Thanks for taking the time to provide feedback about our documentation. I've passed your suggestion on to the author of this topic so it's noted for future updates. In the meantime, you might want to go to the [Dynamics 365 for Finance and Operations community page](https://community.dynamics.com/) to get help with your questions from the Dynamics community.

[2018-12-11 19:12] ShylaThompson commented on #660
@dhand01 , I'm going to close this issue, as @yukonpeegs has responded and will update the topic.

[2018-12-11 19:12] #660 closed

[2018-12-11 19:31] ShylaThompson commented on #464
@OksanaKovaliova The following link might be helpful to you until we can update this topic with more information: https://kaya-consulting.com/how-to-create-a-new-language-or-country-to-dynamics-365-for-operations/
The link is not to a Microsoft post, but it shows some screenshots of working with label files.

We're tracking the work on this topic internally, so I will close this issue for now. If

[2018-12-11 19:31] #464 closed

[2018-12-11 21:52] tomhig opened #693 "Supporting Office Software Prerequisites"
Under Prerequisites, it says you must have Office 2010. Just above the Prerequisites, it notes Word and Visio but it does not note the minimum version. It also needs to mention Excel because BPMs can be exported to Excel or imported from Excel.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 50a6fe88-302f-1a22-fdc2-c31b

[2018-12-11 22:58] ShylaThompson commented on #608
As steps have been verified, closing as a support request. @EkambaramPazhanisami please let @aprilolson know about your support ticket number and she can help following that route.

[2018-12-11 22:58] #608 closed

[2018-12-12 10:07] okayakdeniz commented on #217
Batch services is being stopped in Non-Production environment after maintenance mode to set turning on.

[2018-12-12 11:08] fgork opened #694 "Ambiguous guidance"
Create a new format configuration/Step#8 should mention actual value to select. Instead, the current content says: "In the Data model definition field, enter or select a value."

Users can not perform the steps in the next article "Map the components of formats to data model elements" if they do not make the correct selection in this step.

---
#### Document Details

⚠ *Do not edit this section. I

[2018-12-12 14:03] sericks007 commented on #693
@tomhig, thanks for posting this!

@robadawy, please update this topic appropriately.

[2018-12-12 14:39] tonyafehr commented on #664
Bug 276836 has been logged to track this issue.

[2018-12-12 14:39] tonyafehr commented on #663
Bug 276837 has been logged to track this issue.

[2018-12-12 14:41] sericks007 commented on #631
Bug 276839 has been logged to track this issue.

[2018-12-12 14:44] sericks007 commented on #637
Bug 276840 has been logged to track this issue.

[2018-12-12 14:45] tonyafehr commented on #633
Bug 276842 has been logged to track this issue.

[2018-12-12 14:47] sericks007 commented on #639
Bug 276843 has been logged to track this issue.

[2018-12-12 14:52] tonyafehr commented on #640
Bug 276848 has been logged to track this issue.

[2018-12-12 14:52] sericks007 commented on #666
Bug 276847 has been logged to track this issue.

[2018-12-12 14:54] tonyafehr commented on #642
Bug 276851 has been logged to track this issue.

[2018-12-12 14:55] sericks007 commented on #667
Bug 276852 has been logged to track this issue.

[2018-12-12 15:00] sericks007 commented on #669
Bug 276857 has been logged to track this issue.

[2018-12-12 15:05] sericks007 commented on #670
Bug 276858 has been logged to track this issue.

[2018-12-12 15:08] tonyafehr commented on #657
Bug 276860 has been logged to track this issue.

[2018-12-12 15:11] sericks007 commented on #666
Actually, this issue has already been fixed, so closing this issue and bug 276847.

[2018-12-12 15:11] #666 closed

[2018-12-12 16:17] jwilliams-bhsolutions commented on #620
@RobvanB that is correct (for the most part), but I haven't tried deploying it in a Tier 2 box - my best guess is that it *will work* since the web.config is filled out for the PowerBIEmbedded.* keys.  If you try it please let me know the results!

[2018-12-12 19:24] SteveBurkettNZ opened #696 "Antivirus Exclusions?"
Any recommendation on if any DRA-related folders should be excluded from antivirus real-time scanning, like we do for the Windows print server service?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2128b07d-7349-6642-f05f-c94fe800d104
* Version Independent ID: 0568d0d1-8035-3423-f791-7bd82a5d070f
* Content: [Install t

[2018-12-12 19:54] liamneesangamer opened #697 "can do Purchase order or Transfer Receive?"
If we configure RSSU, Can store associative do Purchase order receive and Transfer Receive/send to other stores without HQ back office connection?.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c1a9dcb9-1daf-e6ca-48a1-3934727a680c
* Version Independent ID: 5b2d0ae0-62f3-1a89-2fcd-0244b6712bee
* Content: [Retail Store

[2018-12-12 23:04] jashanno commented on #579
Updates are coming soon to include this in the listings.

[2018-12-13 01:45] rahulunlimited opened #698 "DAX USERNAME()"
How does the DAX UserName() function pass the LegalEntity. Isn't the UserName() function suppose to pass the currently logged on username.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a0252dbf-8ea3-0491-41d4-f725a9d5a9ce
* Version Independent ID: 8048b974-7297-2463-ba5d-686f25cabe06
* Content: [Help secure analytical

[2018-12-13 04:54] meneksesaygili opened #699 "Notification on MPOS/CPOS"
You can only use this operation notification for order fulfillment. The others need to be customized.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3eb22af1-4e63-ed08-7586-341a5593b8fd
* Version Independent ID: b5b82695-ef06-7e5a-37b9-043aef0011e0
* Content: [Show order notifications in the point of sale (POS) - Retai

[2018-12-13 08:00] liamneesangamer opened #700 "Transfer or Purchase will not receive on store in offline?"
Is it not possible to receive or make transfer/Purchase order in Store(RSSU), in Offline?.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7c1afa28-2fce-5ee9-016c-c6daadf43579
* Version Independent ID: c5cc8f68-2fb4-a9b4-0864-a6f98cecaa0c
* Content: [Commerce Data Exchange and retail channel communications - Retail | Dy

[2018-12-13 08:07] DutchDynamics commented on #692
We noticed that when using the entity trough the recurring integrations, the entity names are still all CAPS.
We added the following lines to the Batch.exe.config

    <add key="DataAccess.FlightingEnvironment" value="" />
    <add key="DataAccess.FlightingCertificateThumbprint" value="" />
    <add key="DataAccess.FlightingServiceCatalogID" value="12719367" />
    <add key="DataAccess.FlightingSe

[2018-12-13 10:32] TomVergote opened #701 "Conflicting collation requirements in on prem system requirements"
In the documentation for [on prem system requirements](https://github.com/MicrosoftDocs/Dynamics-365-Unified-Operations-Public/blob/live/articles/fin-and-ops/get-started/system-requirements-on-prem.md) there is a conflicting statement about the supported collations :

The original documentation stated that a Windows collation is recommended over a SQL Server collation.

However in commit [5e17380b

[2018-12-13 11:15] LukasHolasek commented on #297
Dear Shyla, when can we expect this to be ready? Not even mentioning that in D365 you can only download version 1.3 which also includes these old codes. Kind regards, Lukas

[2018-12-13 13:05] kateflower opened #702 "Limited Feature"
This feature is only available when you have purchased the comprehensive hiring add-on.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 65ce7958-4739-3e06-a11f-f26014bd69b8
* Version Independent ID: 9fc8ac4d-94a9-8cd2-833e-2aaca522ca67
* Content: [Email templates - Talent | Dynamics 365](https://docs.microsoft.com/en-us

[2018-12-13 13:16] JonathanAnd opened #703 "Export DB Menu Not available"
In my LCS project the option to "Move Database" is not available and I need to export the DB ASAP.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3436fbc8-5bdd-dcdc-f5d3-51caf7b6cd76
* Version Independent ID: af78d3ef-b329-11e9-896a-aa3394f6c77c
* Content: [Copy Finance and Operations databases from Azure SQL Database

[2018-12-13 13:52] sericks007 commented on #701
@TomVergote, thanks for posting this!

@PeterRFriis, can you please update the [System requirements for on-premises deployments](https://github.com/MicrosoftDocs/Dynamics-365-Unified-Operations-Public/blob/live/articles/fin-and-ops/get-started/system-requirements-on-prem.md) article.

[2018-12-13 14:07] RobvanB commented on #620
@jwilliams-bhsolutions Josh, I can confirm that it works when you deploy the code to a tier 2 box. The same code that does not work on a 'standard' Tier 1 due to the 'powerbi.enabled' check works fine on tier 2 when deployed. So, build on tier 1, deploy and test on tier 2 works. Not optimal, but might be easier than fiddling with swapping out web.config files and DB backups.

[2018-12-13 15:04] beautifullmind commented on #614
This is by design, In 8.1, regular packages such as application suite will not be available in the Deployment packages form. any individual hotfix will need to be applied in development environment, then use the build environment to create the deployable package that can be applied to other environments such as UAT.

[2018-12-13 15:31] tonyafehr commented on #589
We're closing this issue as resolved, thank you!

[2018-12-13 15:31] #589 closed

[2018-12-13 15:35] jwilliams-bhsolutions commented on #620
Thanks @RobvanB!  That's good news - I agree that this is a much better than the DB backups/configs (cheaper too).  Thanks for checking & sharing!

[2018-12-13 19:30] laneswenka commented on #703
Hi @JonathanAnd, this has been resolved.

[2018-12-13 19:45] laneswenka commented on #703
Resolves #703

[2018-12-14 09:05] skaue commented on #217
It should be emphasized that when Maintenance Mode is turned on (enabled), the Batch service will not start (by design). This will also block any servicing of the environment, as those expect the stop/start of batch to be part of the process (runbook). So turning off Maintenance Mode when the configuration is changed is extremely important.

Also, when switching this mode on/off, the AOS/IIS needs

[2018-12-14 10:06] pturegano opened #710 "Configure Maintenance Mode not available anymore in LCS"
The "Configure Maintenance Mode" is not available in LCS anymore (14th December to 2018).

"Go to the environment details page and on the Maintain menu and click Configure Maintenance Mode. This menu item will display for customers added to the preview."

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3f2a8d7e-56e8-2ef5

[2018-12-14 11:05] Mads-Bech opened #711 "LCS"
Is it still possible to create an Ax2012 project in LCS?
I only seem to have 365-related project types to choose from?

This is a great tool - if LCS still supports it .. :-)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9b8837ed-94cc-aec1-03db-b0d9f1ac25f6
* Version Independent ID: 6f44df6c-005a-3002-0ed0-fae33da185f

[2018-12-14 13:42] #703 closed

[2018-12-14 17:34] iwiaCorp commented on #664
For example, my solution was to add in runtime the following code:

FormGroupControl groupCurrencyControl = formRun.design().controlName("GroupCurrency");
     //get control into runtime
FormReferenceGroupControl exchangeRateType = formRun.design().controlName("NewControlCustomization");
FormStringControl currencyCodeControl = formRun.design().controlName("GroupCurrency_CurrencyCode");

//Move or

[2018-12-14 21:36] joecrofts opened #713 "Task Recordings will not save because I can't select anywhere to save it to"

[2018-12-14 21:38] joecrofts commented on #713
I am going through the task recording and I will try and edit a step and after I edited a step I could not select ok or cancel to go back to task steps.  Also I tried to save the task recording and all the options to save are grayed out.  I had this happen in Chrome and in Edge.

![image](https://user-images.githubusercontent.com/45885766/50028761-920fdd00-ffa5-11e8-8c3a-0b65f3cce074.png)
![image]

[2018-12-17 11:21] Daxture opened #714 "Maintenance mod enable"
With no SQL server access to tier2+ environments, what option is going to be available to enable maintenance mode for tier2+ sandbox environments?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e00de89b-6d2a-b3d2-24d1-e56c5f02d052
* Version Independent ID: 4145fdd6-b293-49b3-94da-dddcfc9fc669
* Content: [Self-service d

[2018-12-17 11:26] Daxture opened #715 "Just-time-access"
"You will not have SQL Server access on Tier 2+. You will continue to have SQL database access using just-in-time access."

What does it mean by just-time-in access? And will that access be enough to troubleshoot issues like to look for even logs?

[2018-12-17 14:31] skaue opened #716 "Add troubleshooting for "AADSTS50058""
Sometimes users are unable to authenticate. They keep getting an error stating they could not login. They will need to sign out in the add-in, reload the add-in and re-authenticate. When the dialog pops up and asks for credentials, don't pick the user from selection, but manually authenticate by selecting "other user". Type in username and password to force a clean authentication.

---
#### Docume

[2018-12-17 15:00] ShylaThompson commented on #716
@ChrisGarty  can you review and update the topic if necessary?

[2018-12-17 15:35] ShylaThompson commented on #715
@Daxture thanks for commenting. The following topic might help: [Manage virtual machine access using just-in-time](https://docs.microsoft.com/en-us/azure/security-center/security-center-just-in-time).

Can you tell me which topic you copied the following statement from? I'll assign this issue to the author.

"You will not have SQL Server access on Tier 2+. You will continue to have SQL database ac

[2018-12-17 15:41] skaue commented on #716
I had a issue for this today. It was not enough to simply sign out and reload the app. When the authenticate dialog prompted, I had to force the user not to select himself, but choose "use another login" (don't recall the exact text), where he entered username and password manually. Then he was able to fully re-authenticate and get a good login. Otherwise, login failed constantly. We tried against

[2018-12-17 17:50] andreesteve commented on #637
@OksanaKovaliova  - SQLite is not currently supported in CRT.

[2018-12-17 20:47] sericks007 commented on #714
@Daxture, thanks for posting this!

@sarvanisathish, can you please respond to this question and update the topic if necessary.

[2018-12-17 20:53] sericks007 commented on #715
This sentence is part of the [Self-service deployment](https://docs.microsoft.com/en-us/dynamics365/unified-operations/dev-itpro/deployment/infrastructure-stack) topic.

@sarvanisathish, can you please answer the question and update the topic, as needed.

[2018-12-17 22:13] ShylaThompson commented on #713
Hi @joecrofts, we can't provide support in this forum. Can you log a support request and share the ticket number with us so we can track the issue?

To contact Support, consider one of the options described here: [Support contact options](https://docs.microsoft.com/en-us/dynamics365/unified-operations/dev-itpro/lifecycle-services/lcs-support).

[2018-12-17 22:15] ShylaThompson commented on #700
@EvgenyPopovMBS, do you know the answer?

[2018-12-17 22:16] ShylaThompson commented on #699
@ShalabhjainMSFT , does this topic need to be updated with the information provided above?

[2018-12-17 22:17] ShylaThompson commented on #698
@TJVass can you answer this question?

[2018-12-17 22:18] ShylaThompson commented on #697
@EvgenyPopovMBS or @athinesh99 , can you answer the question?

[2018-12-17 22:19] ShylaThompson commented on #696
@TJVass , see comment above.

[2018-12-17 22:46] ShalabhjainMSFT commented on #699
Yes, the information mentioned in the comment is correct. @ShylaThompson

[2018-12-17 23:59] sarvanisathish commented on #714
We are working on self-service feature for maintenance mode. This will become available in January 2019.

[2018-12-18 00:06] sarvanisathish commented on #715
@Daxture , instead of having persistent access to the SQL database, you will be able to request access via LCS to the database when you need to access the database, receive access and log into it. This is a standard security model that will protect your database at all times. @manalidongre for additional information.

[2018-12-18 13:49] #714 closed

[2018-12-18 13:58] kompa3 commented on #631
Thanks @sericks007 . Probably https://diag.lcs.dynamics.com/ComponentMonitors/GetMetricData could be the right answer - the problem is that it does not seem to support authentication via OAuth 2.0 access token ie. granting permissions to the resource from Azure Application management and then using a token in Authorization http header to access the REST API.

[2018-12-18 13:58] sericks007 commented on #686
@sarvanisathish, please answer this question and update the topic, as necessary.

@ripannandy, thanks for posting this! In the meantime, to get product help you can contact Support using one of the options described here: [Support contact options](https://docs.microsoft.com/en-us/dynamics365/unified-operations/dev-itpro/lifecycle-services/lcs-support). In particular, you might want to go to the [D

[2018-12-18 16:55] mrjdomingus commented on #714
Hi, as to "You will continue to have SQL database access using just-in-time access", can you provide a link to a page containing more information about the "just-in-time access" mechanism? Or is this something that is still in development?

[2018-12-18 18:51] joecrofts commented on #713
Thank you Shyla.  I will enter a support request.

[2018-12-18 18:51] #713 closed

[2018-12-18 19:19] manalidongre commented on #715
@Daxture  - As Sarvani mentioned instead of persistent access (where credentials are static and are always shown) to the **Azure SQL database**, you will now request access through LCS to see the credentials only when you need them. The request is auto-approved so it is a matter of a minute or so where you see the database access credentials. These creds will be valid for 8 hours after which they

[2018-12-18 19:53] tonyafehr commented on #693
Bug 278484 has been logged to track this issue.

[2018-12-18 19:53] tonyafehr commented on #692
Bug 278483 has been logged to track this issue.

[2018-12-18 19:53] tonyafehr commented on #689
Bug 278479 has been logged to track this issue.

[2018-12-18 20:07] tonyafehr commented on #686
Bug 278489 has been logged to track this issue.

[2018-12-18 20:14] sarvanisathish commented on #686
@ripannandy you are not able to create a cloud hosted environment on a private subscription from the implementation project. You are able to create from a non-implementation project however.

[2018-12-18 21:09] tonyafehr commented on #686
Closing this issue based on feedback from @sarvanisathish

[2018-12-18 21:09] #686 closed

[2018-12-19 18:36] jasongre commented on #642
CLIPatterns_ListPanel is an internal test form. It was included to show the visual of what the List Panel looks like with the Move all buttons. I'll remove that reference. The pattern itself should have sufficient details on the controls to add to get that appearance.

[2018-12-20 07:11] DynamicsArvindSingh commented on #670
Hi Guys can you update the documentation with the logic for consuming the .Net based external web APIs with AAD authentication in Microsoft Dynamics 365 Finance & Operation server using X++ code, Can you please provide sample Code examples for the same.

[2018-12-20 07:14] DynamicsArvindSingh opened #731 "External API Consumption with Azure Active Directory authentication"
Hi Guys,
Can you update the Microsoft documentation for the logic to consume the .Net based external web APIs with Azure Active Directory authentication in Microsoft Dynamics 365 Finance & Operation using X++ code? Can you please provide sample Code examples for the same?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID:

[2018-12-20 07:15] DKobayashi-ykgw opened #732 "Missing create 'axretaildatasyncuser' in update script"
The script in the section 'Run a script to update the Finance and Operations database' (https://docs.microsoft.com/en-us/dynamics365/unified-operations/dev-itpro/database/copy-operations-database#run-a-script-to-update-the-finance-and-operations-database), there is not exists create user 'axretaildatasyncuser', so Re-provision Retail components will be error.
It's a different from other docs 'Copy

[2018-12-20 08:17] DynamicsArvindSingh commented on #670
Getting Error while adding service reference for http://www.webservicex.net/stockquote.asmx

Details are as below :
The HTML document does not contain Web service discovery information.
Metadata contains a reference that cannot be resolved: 'http://www.webservicex.net/stockquote.asmx'.
The content type text/html of the response message does not match the content type of the binding (application/so

[2018-12-20 10:12] leveret64 opened #733 "Intrastat"
Followed the comments from; https://docs.microsoft.com/en-us/dynamics365/unified-operations/financials/localizations/tasks/transfer-transactions-intrastat

using Installed product version : Microsoft Dynamics 365 for Finance and Operations, Enterprise edition (7.3)
Installed platform version : Update12 (7.0.4709.41124)
This product is licensed to:
d365try.onmicrosoft.com
Serial number: eb84c22f-b9

[2018-12-20 14:25] SST1982 opened #734 "Discuss different run options"
It would be helpful to have an official description what the different run options do, what are the differences, pros and cons. In data import projects we have four different menu items for starting the import:
1) Import-Button on the ActionPane
2) Import now
3) Import in batch
4) Re-import

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issu

[2018-12-20 17:36] laneswenka commented on #607
This was resolved with the release of Self-service Export

[2018-12-20 17:38] laneswenka commented on #603
Not able to reproduce, please provide more details or we will mark this as resolved

[2018-12-20 18:37] laneswenka commented on #585
@ThomasBoehret this is supported and our tooling for Export and Import via LCS will allow for this.  The Refresh operation between PROD->Sandbox will not work as we have checks in place to ensure the source/target are the same version.  If you are looking to perform data validation as part of the update process then perform the Refresh prior to applying the 8.1 update.

[2018-12-20 20:10] eporras23 opened #738 "Login failed to user ....."
tried to follow the steps creating a devtempuser and a User6bc36843341de1 user. But when try to debug from visual studio we get the error

"cannot open database "uat_axdb_90ac268941114e1" requested by the login. The login failed. Login failed for user build98155552-1\User6bc36843341de1 when try to connect to business database to provided configuration"

---
#### Document Details

⚠ *Do not edit th

[2018-12-20 22:08] jasongre commented on #403
Good catch, Joel! The updates should be in this article soon.

[2018-12-20 22:37] ShylaThompson commented on #403
The updates to the topic should be published by the end of day today. Closing issue.

[2018-12-20 22:37] #403 closed

[2018-12-20 22:38] ShylaThompson commented on #733
@Anasyash please review this documentation issue and update the topic if needed.

[2018-12-21 13:40] Rardd1997 opened #740 "Export: limit for the file size"
In Export process troubleshooting articles, you say, that we have 256 MB limit for the file size that can be handled via export. It is a limit for .zip package or limit for source file which will be packed?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2c6788e8-dfb0-6108-71ae-e265bad542a2
* Version Independent ID: 68a

[2018-12-21 14:10] kfend commented on #738
Thanks for contacting us. Unfortunately, we're unable to handle Support requests for the product here. To contact Support, consider one of the options described here: [Support contact options](https://docs.microsoft.com/en-us/dynamics365/unified-operations/dev-itpro/lifecycle-services/lcs-support). In particular, you might want to go to the [Dynamics 365 for Finance and Operations community page](

[2018-12-21 14:10] #738 closed

[2018-12-21 15:59] TrudAX commented on #608
On the local One box you can use the following hint to perform a full DM reset
https://denistrunin.com/financial-reporting-local-onebox/

[2018-12-21 17:33] robintheswede opened #741 "Relay"
Hi, how come you have not mentioned the option to use an SMTP relay? Please provide information about this.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a3474f86-38f0-8d1c-87fb-ba192e0a8adb
* Version Independent ID: 4c64163d-e9b2-0966-b67e-ae63f4393215
* Content: [Configure and send email - Finance & Operations | Dyn

[2018-12-23 07:13] winbrother opened #743 "Data integration always fail for D365 Ops and Fin with newer platform update"
It seems to us that for D365 Ops and Finance, if we have platform update:
- version 15: users will always get either "Bad request error to D365" or "the data value violate integrity constraints"
- version 20 or above: the integration projects (using template) will always complete, but no data will be delivered at all.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs

[2018-12-23 17:06] KheeChan opened #744 "Update steps to import from Shared Asset Library"
In the section on Re-provision the target environment, I feel that the following steps to replace steps 1 to 6 would be more desirable from the purposes of establishing a solid audit trail for the source of the deployable package.

1. In the project specific Asset Library in LCS, select Software Deployable Package.
2. Select Import.
3. Select Environment Reprovisioning Tool from the list of file a

[2018-12-27 16:15] kfend commented on #743
Thanks for contacting us. Unfortunately, we're unable to handle Support requests for the product here. To contact Support, consider one of the options described here: [Support contact options](https://docs.microsoft.com/en-us/dynamics365/unified-operations/dev-itpro/lifecycle-services/lcs-support). In particular, you might want to go to the [Dynamics 365 for Finance and Operations community page](

[2018-12-27 16:15] #743 closed

[2018-12-28 15:02] #585 closed

[2018-12-28 15:02] #603 closed

[2018-12-28 21:06] ShalabhjainMSFT commented on #617
Apologies for the delay.

1. For adding the number sequence you needed to navigate to the "Retail shared parameters" and choose a number sequence for "Card number" field. I see you have already done that by choosing "Reta_16".

2. Regarding the question on if POS is required - No, POS is not mandatory. You can earn and redeem points for online transactions as well

3. Regarding job 9999. You need

[2018-12-29 13:55] Ecoent commented on #617
Thanks, honestly i thought this is forgotten by MS team. Also, i need to create another trial run, it ran out of 30 days.  Again, to recreate everything!!.

to answer your question in (4) above: all we want to do is create a central place for points, that can connect to major CMS and ecommerce apps, and all customers can login to see their rewards
in this loyalty app, no matter what shop a custome

[2018-12-30 13:57] AXcademy opened #746 "Small typo in the "Copy a customer by using tax...""
"You can also copy vendors..."

I guess that the last word here should be customers?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d9c3af4f-aa47-fb1b-4e89-cba689ed93c5
* Version Independent ID: cd2487c5-b203-34be-c5ed-06439b82e0f1
* Content: [Copy customers by using shared number sequences - Finance & Operations | Dyn

[2018-12-30 14:59] AXcademy opened #747 "Where to define a number sequence per Customer Group?"
I must have overlooked something.

"You can also set up customer number sequences for each customer group."

How is this possible, please?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d9c3af4f-aa47-fb1b-4e89-cba689ed93c5
* Version Independent ID: cd2487c5-b203-34be-c5ed-06439b82e0f1
* Content: [Copy customers by usin

[2018-12-31 06:00] sbaber82 opened #748 "Not enough space on DEV VM to restore the database"
Hi,

As part of database upgrade, I have uploaded the AX 2012 database backup to Azure storage and then downloaded it to D365 DEV VM. Now when I tried to restore the database to SQL server, I found that there is not enough disk space on DEV VM to restore the database.  The AX 2012 Production database size is around 250 GB. Is there a way to increase the disk space on D365 DEV VM or do I need to ra

[2019-01-02 08:02] rajeshbongu opened #749 "Renaming the AxDB database doesn't see to be working on SQL server 13.0.5233.0"
Right clicking on the database and renaming results in an exception on SQL server 13.0.5233.0.
The renaming is allowed only when an ALTER DATABASE command is executed to modify the Database name.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3436fbc8-5bdd-dcdc-f5d3-51caf7b6cd76
* Version Independent ID: af78d3ef-b329-

[2019-01-02 08:31] vavd opened #750 "Purpose of the feature"
Could you provide business cases when this exact feature can be useful. Is this used for eliminating penny amounts for closing invoices? Any other examples?
Thank you.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f7b5ba84-203c-6b2a-32e5-e081197524d9
* Version Independent ID: e9a4760d-e0a0-4525-54e2-a7ff5dd9239e
* Con

[2019-01-02 15:30] sericks007 commented on #748
Thanks for contacting us. Unfortunately, we're unable to handle Support requests for the product here. To contact Support, consider one of the options described here: [Support contact options](https://docs.microsoft.com/en-us/dynamics365/unified-operations/dev-itpro/lifecycle-services/lcs-support).

[2019-01-02 15:30] #748 closed

[2019-01-02 15:33] sericks007 commented on #749
@rajeshbongu, thanks for posting this!

@laneswenka, please review and update the topic, if necessary.

[2019-01-02 15:35] sericks007 commented on #750
@vavd, thanks for posting this!

@mikefalkner, please review and update the topic as suggested.

[2019-01-03 00:34] laneswenka commented on #749
@rajeshbongu I will do a quick repro of the behavior and will then update accordingly.  This is definitely news to me!

[2019-01-03 03:55] cdz1126 commented on #255
The latest version of Finance and Operations (on-premises) has included the Retail components, please update the system requirement

[2019-01-03 13:45] sericks007 commented on #255
@cdz1126, thanks for making us aware of that issue.

@AamirAllaq or @jashanno, can you please update this topic to add the Retail system requirements.

[2019-01-03 14:42] steevegilbert commented on #609
For those that need a quick fix : apparently you just need to make sure the table exists in the dbo schema also.  The export will still push the data to you non-dbo table.

[2019-01-03 15:21] mikefalkner commented on #750
@vavd   We already have a way to remove penny amounts. However, there are situations where you want to close out an invoice after a payment is made. It may have a deduction of some kind (rebate, return, overcharge) that you want to deal with immediately instead of creating a new item, posting it, and then coming back to settle it. It also provides you with a way to move remaining amounts to anothe

[2019-01-03 15:33] #750 closed

[2019-01-03 15:35] mikefalkner commented on #747
@axcademy    When you change the customer sequence to a global number sequence,  you will see an additional column on the Customer groups page called Customer accounts number sequence. Add a sequence there. That sequence will be used first. If it is blank, then it will default to the number sequence in the parameters.

[2019-01-03 15:38] #747 closed

[2019-01-03 15:56] mikefalkner commented on #746
@axcademy  Thanks. I'll submit a change

[2019-01-03 16:01] laneswenka commented on #749
Confirmed, I will update this today

[2019-01-03 16:51] vavd commented on #750
@mikefalkner, many thanks for your reply.

[2019-01-04 00:42] TrudAX opened #753 "Broken link"
It seems link is broken in the following sentence "Install your favorite development tools. For information about one automated script, see Auto-Installing most needed dev tools in 5 mins with Chocolatey"
It displays empty windows
(https://dynamicsnotes.com/auto-installing-most-needed-dev-tools-in-5-mins/)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.c

[2019-01-04 01:58] tonyafehr commented on #753
@TrudAX, thanks for bringing this to our attention.
@andreash1, please update the broken link in this topic.

[2019-01-04 09:30] leo9912 commented on #397
The build VM contains the vNext build agent which was released as part of TFS 2015. When you deploy the Build VM, the build agent is configured by default to connect and sync with the Azure DevOps project.
This does not work for me. The Pipeline > Builds section in VSTS (Azure DevOps) is empty with message No builds were found.
Please could you provide troubleshooting section?

[2019-01-04 13:08] stefanfranken opened #755 "Firewall rules"
When running DRA on local network server with restricted internet access, we need a list of all Internet-IPs which needs to be opened in firewall for port 443. There is of course the D365FO URL, but what about AAD-authentication infrastructure, akamai-cdn,  etc.? Is it possible to have a documentation about all IP-addresses which are involved in communication?

---
#### Document Details

⚠ *Do not

[2019-01-04 15:35] markusotte08 opened #757 "Could add the link to the video how to check the Report Designer Version"
Report Designer version (https://www.youtube.com/watch?v=icfA5Q3kp4w

https://docs.microsoft.com/en-us/dynamics365/unified-operations/dev-itpro/database/database-refresh#incompatible-version-of-financial-reporting-between-source-and-target-environments

[2019-01-04 15:51] tonyafehr commented on #696
Bug 280747 has been logged to track this issue.

[2019-01-04 15:53] tonyafehr commented on #698
Bug 280748 has been logged to track this issue.

[2019-01-04 15:57] tonyafehr commented on #699
Bug 280751 has been logged to track this issue.

[2019-01-04 16:02] tonyafehr commented on #701
Bug 280754 has been logged to track this issue.

[2019-01-04 16:05] tonyafehr commented on #702
Bug 280757 has been logged to track this issue.

[2019-01-04 16:06] tonyafehr commented on #702
@kateflower, thanks for making us aware of this.

@ShielaSogge, please update this topic based on the feedback.

[2019-01-04 16:14] tonyafehr commented on #710
@pturegano, thanks for posting this! In the meantime, to get product help you can contact Support using one of the options described here: [Support contact options](https://docs.microsoft.com/en-us/dynamics365/unified-operations/dev-itpro/lifecycle-services/lcs-support). In particular, you might want to go to the [Dynamics 365 for Finance and Operations community page](https://community.dynamics.c

[2019-01-04 16:14] tonyafehr commented on #710
Bug 280762 has been logged to track this issue.

[2019-01-04 16:17] tonyafehr commented on #711
Bug 280764 has been logged to track this issue.

[2019-01-04 16:17] tonyafehr commented on #711
@Mads-Bech, thanks for making us aware of this.

@manalidongre, please update this topic based on the feedback.

[2019-01-04 16:19] #607 closed

[2019-01-04 16:20] tonyafehr commented on #716
Bug 280770 has been logged to track this issue.

[2019-01-04 16:21] sericks007 commented on #579
The updated topic has been published, so closing this issue.

[2019-01-04 16:21] #579 closed

[2019-01-04 16:22] #637 closed

[2019-01-04 16:39] tonyafehr commented on #733
Bug 280778 has been logged to track this issue.

[2019-01-04 16:43] tonyafehr commented on #731
@DynamicsArvindSingh, thanks for the feedback.

@Sunil-Garg, can you review and update the topic if necessary? Bug 280780 has been logged to track this issue.

[2019-01-04 16:46] tonyafehr commented on #734
@SST1982, thanks for the feedback.

@Sunil-Garg, can you review and update the topic if necessary. Bug 280782 has been logged to track this issue.

[2019-01-04 18:47] tonyafehr commented on #755
@stefanfranken, thanks for posting this!

@TJVass, please review and update the topic as suggested.

[2019-01-04 18:52] tonyafehr commented on #757
@markusotte08, thanks for the feedback.

@laneswenka, please review this suggestion and update the topic if you think this video is relevant.

[2019-01-04 19:21] tonyafehr commented on #740
@Rardd1997, thanks for posting this question.

@Sunil-Garg, please review and update the topic if needed. Bug 280810 has been logged to track this issue.

[2019-01-04 19:22] #746 closed

[2019-01-04 19:44] laneswenka commented on #757
@markusotte08 this is fantastic, thanks for sharing!  We will incorporate asap

[2019-01-04 19:53] #715 closed

[2019-01-04 20:00] sericks007 commented on #741
Bug 280816 has been logged to track this issue.

[2019-01-05 16:40] kmescha commented on #335
Any updates on this bug 246533?

[2019-01-07 00:41] dhand01 opened #758 "Self-service database export not available on all Sandbox environments in LCS"
The Self-service database export is not available in our Sandbox environment. The option simply doesn't appear under the Maintain button. Therefore, I assume we still have to perform the older manual method of exporting the bacpac from the Command Prompt. However, the instructions for this are no longer available on this page.
Can you either re-publish the old instructions, or explain how to enabl

[2019-01-07 09:37] diab-mossa opened #759 "What about Dynamics 365 for operations on-prem?"
Does this apply on Dynamics 365 for operations on-prem?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 66b4c899-c7e0-0406-0d39-d32fc41b6104
* Version Independent ID: 5d015069-177d-e33c-094c-257df088a7c0
* Content: [Install metadata hotfixes in development environments - Finance & Operations | Dynamics 365 | #MSDyn365FO

[2019-01-07 15:23] Anasyash commented on #733
Hello. Thanks for your comment. Can you please describe your issue in more details so that we can update the article accordingly.

[2019-01-07 16:42] leveret64 commented on #733
Sure
Because of the limited setup you are allowing in the version you are showing, there is a parameter setting which is not set, in which case you are not able to investigate the intrastat options of the product.

    On Monday, 7 January 2019, 15:23:06 GMT, Anastasia Yashenina <notifications@github.com> wrote:

Hello. Thanks for your comment. Can you please describe your issue in more details so

[2019-01-07 17:17] Anasyash commented on #733
Unfortunately it's not becoming more clear.
Please describe more precise, what exactly in this help content you suggest to update. Also, please make sure that here you are giving only a feedback for the docs topic, not for the feature itself. If you are looking for technical assistance for system setup, or want to provide feedback about functionality, please log a support ticket.

[2019-01-07 17:23] TJVass commented on #581
@ThomasZak - the "Organization wide flag" can be used to search across Legal Entities for objects which are cross-company.

[2019-01-07 17:51] TJVass commented on #283
@ddexter26 - we have included this detail in the "What's important to know?" section at the top of the article.  Also, added insights to the FAQ section on Azure AD token expirations

[2019-01-07 17:52] ShylaThompson commented on #759
@robadawy can you review and comment?

[2019-01-07 17:53] ShylaThompson commented on #758
@laneswenka can you review and comment?

[2019-01-07 18:32] DaveC123 opened #762 "Different Mins per product option?"
Very nice but I have a more dynamic warehouse situation out here maybe.  Instead of setting the min for all items to 50 in the example above, "Work Template", how or where do I set the min per item per bin?  depending on forecasts and actual sales, each bin should have a minimum quantity established, which are typically all very different minimums.  If the quantity is less than that "min", I want

[2019-01-07 18:39] laneswenka commented on #758
@dhand01 the option should be there, I have validated on 5 different environments in different projects, and we don't have other reports of this.  Can you ensure you are using the Maintain -> Move Databases -> Export database option?

[2019-01-07 18:40] laneswenka commented on #758
@dhand01 also can you confirm you are an Environment Manager or a Project Owner in LCS?

[2019-01-07 18:45] dhand01 commented on #758
Yes. I'm a project owner:

[image: image.png]

On Mon, Jan 7, 2019 at 10:40 AM Lane Swenka <notifications@github.com>
wrote:

[2019-01-07 18:46] dhand01 commented on #758
I do not have the "Move databases" option under Maintain button.

[image: image.png]

On Mon, Jan 7, 2019 at 10:39 AM Lane Swenka <notifications@github.com>
wrote:

[2019-01-07 19:11] laneswenka commented on #758
Hi @dhand01 can you email me your EnvironmentID from LCS and I can take a look!  lane.swenka[at]microsoft.com

[2019-01-07 19:12] dhand01 commented on #758
d371bbc9-def9-4720-a142-cf7bd620ba0e

On Mon, Jan 7, 2019 at 11:11 AM Lane Swenka <notifications@github.com>
wrote:

[2019-01-07 22:32] ShylaThompson commented on #762
@perlynne can you review and comment?

[2019-01-08 09:57] 6a6kin opened #764 "No updates available"
We've deployed new 8.1.2 PU22 development machine for upgrade needs.
Our current DEV and UAT machines are 8.0 PU20.

Article says that we should apply updates to new 8.1.2 machine and use this package as basement for upgrade old machine:
"we recommend the above approach of taking the latest updates such as 8.1.3 PU23 which will be available from the Update tiles when you deploy your 8.1 PU20 build

[2019-01-08 14:12] Anasyash commented on #733
Please review these 2 task guides:

https://docs.microsoft.com/en-us/dynamics365/unified-operations/financials/localizations/tasks/transfer-transactions-intrastat

https://docs.microsoft.com/en-us/dynamics365/unified-operations/financials/localizations/tasks/eur-00002-eu-intrastat-declaration

May be they will help to run the feature end-to-end.

If not, please be more precise in which step \ para

[2019-01-08 14:15] tonyafehr commented on #764
@6a6kin, thanks for taking the time to provide feedback on our documentation. I've passed your comment on to the author of this topic. If you need immediate assistance, please contact Support. consider one of the options described here: [Support contact options](https://docs.microsoft.com/en-us/dynamics365/unified-operations/dev-itpro/lifecycle-services/lcs-support). In particular, you might want

[2019-01-08 16:10] laneswenka commented on #764
@6a6kin yes that is an acceptable secondary approach.  The tiles will only be "0" for a matter of days as we may introduce point hotfixes on PU22 or we may start rolling out 8.1.3 and PU23.

There is a brief period of time where it can be "0" on your tiles and you'll need to pull the package that matches your Build Server's environment version from the Shared Asset Library.

I'll try to update the

[2019-01-08 20:01] #764 closed

[2019-01-08 20:08] vavd opened #766 "It seems the article is not finished"
The last line of the article looks like a header of a section which doesn't have any content.
Is the article finished?
I cannot see in the article any explanation how to generate an ISO payment file.
Thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c086b6d2-2a56-6f80-ea82-31987c0dadb3
* Version Independent ID: e1

[2019-01-08 20:13] tonyafehr commented on #766
@vavd, thanks for the feedback. @ShylaThompson, can you investigate and re-assign if needed. Thanks!

[2019-01-09 10:36] rpvanmill opened #767 "PerfSDK\Common\External\Selenium folder"
Hello,

In all my environments there is no PerfSDK\Common\External\Selenium folder. Where should I put the selenium dll files?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 71bd6e91-0511-905a-0e70-b0510d961f16
* Version Independent ID: 4942a200-93f3-6f2b-8a59-b88fdf6e825c
* Content: [Performance SDK and multiuser test

[2019-01-09 10:43] rpvanmill opened #768 "AxTokenIssuer"
Hello,

In my wif.config file there is no authority 'AxTokenIssuer'. Where should I add the tumbprint of the certificate?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 71bd6e91-0511-905a-0e70-b0510d961f16
* Version Independent ID: 4942a200-93f3-6f2b-8a59-b88fdf6e825c
* Content: [Performance SDK and multiuser testing v

[2019-01-09 12:11] perlynne commented on #762
If I understand the business requirements correct this can be achieved by enabling “Replenishment templates details" per product via the ‘Select products’ query and limit the zones to be replenished via the ‘Select locations to replenish’ query.
The "Work templates" is used to define how the replenishment items are going to be picked and put, and the "Location directives" will control from where t

[2019-01-09 13:02] 6a6kin commented on #764
@tonyafehr @laneswenka Thank you very much for such rapid and very informative answer!

[2019-01-09 13:22] leveret64 commented on #733
Thank you for that, bt from the demo environment provided, I do not have access to certain parameter setting, so do not know whether the documents are incorrect or whether it is the setup of the environment.  I previously supplied you with a link to the trial environment provided.
Thanks

    On Tuesday, 8 January 2019, 14:12:33 GMT, Anastasia Yashenina <notifications@github.com> wrote:

Please re

[2019-01-09 14:05] kmescha opened #769 "PBIX File availibility"
This article mentions the availability of the .pbix file that is used for the Financial Insights dashboards but does not reference where this is available from. Can that be included here or can a subsequent article be linked from this?  Understand that modifications will be overwritten with future releases but we have current needs to modify these dashboards now and can't wait for the roadmap feat

[2019-01-09 14:05] sericks007 commented on #767
@rpvanmill, thanks for posting this! We'll look into it. In the meantime, to get product help you can contact Support using one of the options described here: [Support contact options](https://docs.microsoft.com/en-us/dynamics365/unified-operations/dev-itpro/lifecycle-services/lcs-support). In particular, you might want to go to the [Dynamics 365 for Finance and Operations community page](https://

[2019-01-09 14:11] sericks007 commented on #769
@kmescha, thanks for posting this!

@kweekley, please review and update the topic as necessary.

[2019-01-09 15:09] kmescha opened #770 "Common Issues Section"
In the common issues section the 2nd item around "You can't access the application" the resolution indicates "Step 3 Choose API's to access" is not clear as there are multiple Step 3 sections in this document and note describe Choosing API's.

Please clarify this more.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 717

[2019-01-09 15:59] kmescha opened #772 "Entity Store Section"
In the entity store section of this document it references 7 entities to update. However in my system I don't see these 2 available to update. Is this list accurate?

FinancialReportingOtherData
FinancialReportingReferenceData

Here is my version information

VERSION INFORMATION
Installed product version : Microsoft Dynamics 365 for Finance and Operations (8.0)
Installed platform version : Update2

[2019-01-10 00:03] jwilliams-bhsolutions commented on #335
@kmescha I know these aren't full details, but to get you started: connecting to Entity Store data can be done in PowerBI desktop in non-production environments by installing PBI Desktop application in the Windows server of the environment, and connecting to the local SQL DB (or Azure SQL DB for Tier 2 boxes) the way you would expect.  After you model the report, you need to publish the PBI Deskto

[2019-01-10 05:56] sbaber82 commented on #185
There is no mention in the documentation that the Tier1 DEV environment you will get as part of D365 subscription have limited drive space and you won't be able to restore large databases there in order to run the database upgrade process. I think it should be there in the docs, so that as a partner we know that we need to have the cloud hosted environment to restore the database and then run the

[2019-01-10 15:55] #762 closed

[2019-01-10 16:03] tonyafehr commented on #753
This link has been fixed. Thanks!

[2019-01-10 16:03] #753 closed

[2019-01-11 02:17] mugunthanm commented on #639
We don't support this for now, we have the code for extended controller in the Retail server but don't use it follow the pattern exposed in the Retail server SDK samples, we will retire this doc soon.

[2019-01-11 14:32] tonyafehr commented on #772
@kmescha, thanks for posting this! We'll look into it. In the meantime, to get product help you can contact Support using one of the options described here: [Support contact options](https://docs.microsoft.com/en-us/dynamics365/unified-operations/dev-itpro/lifecycle-services/lcs-support). In particular, you might want to go to the [Dynamics 365 for Finance and Operations community page](https://co

[2019-01-11 20:30] #639 closed

[2019-01-14 03:31] Darijaus opened #775 "Data entity selection"
quick note - package unfortunately does not pick up entity automatically you need to also pick Data Sharing Policy manually to load package from LCS.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 95f6ee35-c974-43c9-b81d-1feecc3a57af
* Version Independent ID: d4318b39-c9cd-6f8f-95bd-19a555c600bd
* Content: [Configure f

[2019-01-14 09:15] amadse opened #776 "Missing tools"
Shouldn't this be part of the lsit https://docs.microsoft.com/en-us/dynamics365/unified-operations/dev-itpro/lifecycle-services/translation-service-overview?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ee6ad320-e070-c40c-ae81-1265e756908f
* Version Independent ID: dfdf23dc-02d1-9675-86af-57e20f561c5c
* Content: [Lif

[2019-01-14 09:20] amadse opened #777 "Missing tools no. 2"
Shouldn't this be part of the list. https://docs.microsoft.com/en-us/dynamics365/unified-operations/dev-itpro/lcs-solutions/regulatory-watch-communication.
Maybe the list should be split up, 1 list for AX 2012 and one for 365FO

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ee6ad320-e070-c40c-ae81-1265e756908f
* Versio

[2019-01-14 09:42] amadse opened #778 "Missing tools no. 3"
Shouldn't this be part of the list as well?
https://docs.microsoft.com/en-us/dynamics365/unified-operations/dev-itpro/lifecycle-services/asset-library

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ee6ad320-e070-c40c-ae81-1265e756908f
* Version Independent ID: dfdf23dc-02d1-9675-86af-57e20f561c5c
* Content: [Lifecycle

[2019-01-14 09:44] amadse opened #779 "Missing tools no. 4"
This one is missing as well https://docs.microsoft.com/da-dk/dynamics365/unified-operations/dev-itpro/migration-upgrade/download-hotfix-lcs.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ee6ad320-e070-c40c-ae81-1265e756908f
* Version Independent ID: dfdf23dc-02d1-9675-86af-57e20f561c5c
* Content: [Lifecycle Services (

[2019-01-14 14:04] sericks007 commented on #775
@Darijaus, thanks for making us aware of this.

@aprilolson, please update the topic as necessary.

[2019-01-14 14:08] amadse commented on #211
If it is not in the extensions, why is not mentioned here:
https://docs.microsoft.com/en-us/dynamics365/unified-operations/fin-and-ops/get-started/ax-2012-features-not-implemented-but-not-deprecated  or
https://docs.microsoft.com/en-us/dynamics365/unified-operations/dev-itpro/migration-upgrade/deprecated-features

[2019-01-14 14:47] sericks007 commented on #776
@amadse, thanks for letting us know.  I'm investigating who I should assign this issue to.

[2019-01-14 14:48] sericks007 commented on #777
@amadse, thanks for letting us know. I'm investigating who I should assign this issue to.

[2019-01-14 14:49] sericks007 commented on #779
@amadse, thanks for letting us know. I'm investigating who I should assign this issue to.

[2019-01-14 14:59] sericks007 commented on #758
Bug 282873 has been logged to track this issue.

[2019-01-14 15:03] sericks007 commented on #759
@sarvanisathish, can you please answer this question.

Bug 282874 has been logged to track this issue.

[2019-01-14 16:11] amadse opened #785 "Under 365, but is prerelased AX 2012 documentation"
Either this one should be updated to reflect how it works in Dyn365Fo or it should be removed

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 247ec037-454d-0371-5b33-35e36d355cb6
* Version Independent ID: 33e0d33f-7293-7a77-51e7-acf2dc3f7e45
* Content: [Define or edit entry point permissions - AX 2012](https://docs.micr

[2019-01-14 17:08] sericks007 commented on #785
@amadse, thanks for bring this to our attention.

@manalidongre, should this topic be removed or updated?

[2019-01-15 15:02] #617 closed

[2019-01-15 19:16] ankurmota opened #790 "Version 7.2 and higher"
I see a note on top of this page that this applies to 7.1 and earlier versions. Where can the topic for the newer version be found?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 78163b17-6f89-dacc-3d0c-f8f421ad46d0
* Version Independent ID: 3fa6e15d-be5f-e9ab-e6aa-b5d91717f966
* Content: [Retail Modern POS (MPOS) and

[2019-01-15 19:18] tonyafehr commented on #790
@ankurmota, the note regarding the versions says "This implementation is not supported for versions 7.2 and higher. For those versions, follow the extension model without overlayering."

[2019-01-15 21:35] tonyafehr commented on #790
@mugunthanm, can you provide additional information to assist with this request.

[2019-01-16 11:01] torbennehmer opened #792 "Documentation about how to change the number of decimals is missing"
This Extensibility feature has been introduced with 8.1 IIRC.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4ab86cf5-9cb0-f51b-3ac8-7f16ccef799a
* Version Independent ID: 1bbfad2d-92a3-d3aa-058f-b6c179906c55
* Content: [Modify extended data types (EDTs) through extension - Finance & Operations | Dynamics 365 | #MSDyn3

[2019-01-16 13:39] marihul opened #793 "Dev ALM blog link dead"
The link to the "Dev ALM blog" is dead.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 18d6a0b7-38dc-ddcd-c495-67e3b7498a7c
* Version Independent ID: 36a6bc94-6939-9daf-ad3d-4e0064258172
* Content: [Create user acceptance test libraries by using task guides and BPM - Finance & Operations | Dynamics 365 | #MSDyn365FO](h

[2019-01-16 14:41] ivanv-microsoft commented on #792
We have described that here:
https://docs.microsoft.com/en-us/dynamics365/unified-operations/dev-itpro/extensibility/decimal-point-precision<https://emea01.safelinks.protection.outlook.com/?url=https%3A%2F%2Fdocs.microsoft.com%2Fen-us%2Fdynamics365%2Funified-operations%2Fdev-itpro%2Fextensibility%2Fdecimal-point-precision&data=02%7C01%7Civanv%40microsoft.com%7C6b7db31d7c3e46270a2c08d67bc03291%7C72

[2019-01-16 14:42] sericks007 commented on #792
@torbennehmer, thanks for posting this.  Can you help me understand, are there any changes you'd like to see to the topic, or is there any information in the topic that is incorrect?

[2019-01-16 14:52] sericks007 commented on #792
Thanks @ivanv-microsoft!

@torbennehmer, please see [Extending decimal point precision for selected data types](https://docs.microsoft.com/en-us/dynamics365/unified-operations/dev-itpro/extensibility/decimal-point-precision).

[2019-01-16 15:05] sericks007 commented on #766
Bug 283734 has been logged to track this issue.

[2019-01-16 15:11] sericks007 commented on #767
Bug 283737 has been logged to track this issue.

[2019-01-16 15:13] sericks007 commented on #768
Bug 283738 has been logged to track this issue.

[2019-01-16 15:18] sericks007 commented on #769
Bug 283739 was logged to track this issue.

[2019-01-16 15:20] sericks007 commented on #770
Bug 283740 has been logged to track this issue.

[2019-01-16 15:22] sericks007 commented on #772
Bug 283741 has been logged to track this issue.

[2019-01-16 16:46] kfend commented on #793
I have removed the link. Changes will be published in the next 24 hours.

[2019-01-16 16:46] #793 closed

[2019-01-16 16:50] HugoDJesus opened #794 "Additional information required"
How is the field "Effort" transferred to DevOps? The documentation does not contain any information about it.

The integration over the LCS Workitem Type elements that are not Business processes (example: FDD, TDD, etc.) is also not explained.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b1804282-0c48-6305-c6b2-b31de

[2019-01-16 20:23] #640 closed

[2019-01-16 20:54] tomhig opened #796 "Corrections required in Run to a Breakpoint section."
Step 6. The Startup Project needs to be FleetManagement, not FleetManagementMigrated. In addition, the FMRental_Upcoming Display Menu item needs to be set as the Startup Object.

Step 7. Needs to refer to the FleetManagement project, not FleetManagementMigrated project.

Step 11. It needs to state "The Current Rentals page will already be open in a new browser window". Sub-steps a, b, c, and d nee

[2019-01-16 21:01] tomhig opened #797 "FMLab folder reference in last paragraph"
The FMLab folder is now found at https://github.com/Microsoft/FMLab. There isn't a Code Best Practice Example folder there.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d1906ec8-f80b-4e27-7320-57c68664e482
* Version Independent ID: ab8d0951-67fe-3064-0f29-2524774e5b3c
* Content: [Build and debug projects - Finance &

[2019-01-17 17:46] aaronstackpole opened #804 "Publish Artifacts to LCS"
The creation of build artifacts in Azure DevOps using the VSO Agent is great! Would it be possible to build an automation step that publishes those artifacts to LCS?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 22113c6c-7d79-e78a-5ea8-25c430bdf68f
* Version Independent ID: 53b41c96-bd45-9ba2-fb97-2f5ff72b3672
* Conte

[2019-01-17 17:48] aaronstackpole commented on #804
This ended up on the wrong page on accident, can be deleted. Sorry!

[2019-01-17 17:48] #804 closed

[2019-01-18 07:49] torbennehmer commented on #792
@ivanv-microsoft : Thanks for the link, I simply missed that one.

@sericks007 : May I suggest to hyperlink the two pages? On top of the "Extending EDTs" pages there is no mention of decimals. Maybe in the bullet list on the top something like "See <here> for information about extending decimal places for selected types" ?

If possible, please also clarify, if ISVs can make similar extensions poss

[2019-01-18 13:40] HenrikBo commented on #335
@jwilliams-bhsolutions are there any changes to this with the upcoming release of version 10?..

[2019-01-18 14:14] sericks007 commented on #792
@ivanv-microsoft or @kfend, could you please update the article as @torbennehmer suggested.  Thanks!

[2019-01-18 15:35] kmescha commented on #335
jwilliams, thanks I was able to figure that part out and I'm able to connect and create models on the database directly with direct query in Power BI. The problem is that we want to enable Business Users to model the data and build reports and having them log into a server to do so is not a very good solution. They need to build reports on Production data as they don't understand the concepts of d

[2019-01-18 15:55] jwilliams-bhsolutions commented on #335
@kmescha no disagreement here - the experience isn't fantastic.  My two cents, I would consider using BYOD feature to extract your data to another Azure SQL environment and report off there.  You might also optionally consider building a Data Warehouse and modelling that data.  I know there's more cost there and more infrastructure.

The only other thing to think about is using the Open in Excel e

[2019-01-18 15:56] jwilliams-bhsolutions commented on #335
@HenrikBo I don't have any reason to believe this is going to change with 10.0 since that is primarily about a continuous update experience.  That said - there may be specific features that affect this that I'm not familiar with.

[2019-01-18 18:56] Pankaj-Thakur opened #807 "Typo: To remove a node, right-click the new"
"To remove a node, right-click the new, and then click Delete." should read "To remove a node, right-click the node, and then click Delete."

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 14e80549-5728-5a8d-960f-05998fa7e20b
* Version Independent ID: 57046b27-2d36-00f4-ee2d-e56c43e29cbf
* Content: [Element designers -

[2019-01-18 20:51] maveloso opened #808 "Developer ALM (blog) Link is broken"
the developer ALM blog link leads to a page not found

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 201c7886-7fc8-f381-818e-1a611b909c33
* Version Independent ID: 968af3e2-1c8a-3bba-6b52-ca984f5ad515
* Content: [Continuous delivery home page - Finance & Operations | Dynamics 365 | #MSDyn365FO](https://docs.microsoft.c

[2019-01-18 22:21] tonyafehr commented on #807
@Pankaj-Thakur, thanks for the feedback. I will update this topic.

[2019-01-18 22:21] #807 closed

[2019-01-20 00:37] jaestevan opened #810 "RunBase vs SysOperation"
May the point "Batch processing classes" be obsolete in favor of SysOperation classes?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: eaf8b5a7-5678-8263-16af-0bb35fc72f26
* Version Independent ID: a28d68c0-313f-eab6-87c8-ffa3ce7a7125
* Content: [X++ classes and methods - Finance & Operations | Dynamics 365 | #MSDyn365F

[2019-01-21 17:03] taylordgordon opened #811 "What is the release timing for each ring?"
Given a release date like April 1st, which ring is being released that day?  Is it the GA ring?  Or would GA be released several weeks later?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 14372486-6284-da4b-6bbb-30acd36dd7de
* Version Independent ID: f8301c48-61db-e9e5-aba5-413528cd91d2
* Content: [One Version service

[2019-01-22 14:20] tonyafehr commented on #811
@taylordgordon, I've assigned your question to @meeramahabala who can provide more details about this. Thanks!

[2019-01-22 14:20] tonyafehr commented on #810
@jaestevan, I've assigned your question to @robadawy, who can provide more details about this. Thanks!

[2019-01-22 14:23] tonyafehr commented on #775
Bug 285241 has been logged to track this issue.

[2019-01-22 14:26] tonyafehr commented on #785
Bug 285242 has been logged to track this issue.

[2019-01-22 15:13] ShylaThompson commented on #766
@vavd The topic has been updated. Thanks again for bringing this to our attention.

[2019-01-22 15:13] #766 closed

[2019-01-22 15:21] fgork opened #813 "Its globally available now please review the banner"
The update is available globally but the banner that says as below is still there.
"Functionality noted in this topic is available to targeted users as part of a preview release. "

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 28023f28-4aa0-18fd-b5fd-c2cc5f117f0b
* Version Independent ID: fe115611-d105-3b1d-f630-2df53

[2019-01-22 15:23] fgork opened #814 "Its globally available now please review the banner"
(Please note this is the same issue with #813.)

The update is available globally but the banner that says as below is still there.
"Functionality noted in this topic is available to targeted users as part of a preview release. "

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 017e454f-fdab-89fe-9e51-acf9b3859778
* Vers

[2019-01-22 15:54] tonyafehr commented on #813
@fgork, you are correct. Thanks for the feedback. We'll remove the banner and republish this topic.

[2019-01-22 15:54] #813 closed

[2019-01-22 16:24] sericks007 commented on #776
@manalidongre, please update the topic, as needed.

[2019-01-22 16:24] sericks007 commented on #777
@manalidongre, please update the topic, as needed.

[2019-01-22 16:25] sericks007 commented on #778
@manalidongre, please update the topic, as needed.

[2019-01-23 03:40] arehman849 opened #817 "automate the task of filling timesheets"
above document is complete and awesome for doing this painful task manually every week... is there anyway that we can automate this by integrating it with jira tempo sheets. any api exposed so that we can fill timesheets programmatically. any help is appreciated

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 51a8b116-2

[2019-01-23 06:51] GatisVerzemnieks opened #820 "Platform Update 23 notes"
![image](https://user-images.githubusercontent.com/46953692/51588026-71636d00-1eeb-11e9-96c2-1d78f186b583.png)
Description says: "Cannot be used for 8.1 environments".
Compatibility with 8.1 and later releases: "Yes".
Is it compatible with 8.1.2 (In my opinion it should be)?

[2019-01-23 08:23] SST1982 commented on #335
Hi all, seems the envisioned solution to access Entities of Entity Store by MSFT is using Azure Data Lake from Version 10 onwards. Quote from Release notes April '19:

Microsoft will keep the data fresh on a real-time basis.

[2019-01-23 09:49] cdz1126 commented on #813
when is the next update?

[2019-01-23 15:02] sericks007 commented on #776
Bug 285571 has been logged to track this issue.

[2019-01-23 15:04] sericks007 commented on #777
Bug 285572 has been logged to track this issue.

[2019-01-23 15:15] sericks007 commented on #778
Bug 285574 has been logged to track this issue.

[2019-01-23 15:18] sericks007 commented on #779
Bug 285575 has been logged to track this issue.

[2019-01-23 15:34] sericks007 commented on #797
Bug 285577 has been logged to track this issue.

[2019-01-23 16:31] sericks007 commented on #817
@KimANelson, can you please answer the above questions, and update the topic, if appropriate.

[2019-01-23 23:55] KimANelson commented on #817
@arehman849 - this is a great suggestion. Please log it at https://experience.dynamics.com/ideas/ where other users are able to view and vote for their favorite feature requests. This helps us in our planning process for each release.

[2019-01-24 00:32] jwilliams-bhsolutions commented on #335
Thanks @SST1982 for sharing!  This is great info (read more at: https://docs.microsoft.com/en-us/business-applications-release-notes/april19/dynamics365-finance-operations/erp-data-entity-store-byod-business-data-lake).  In the interest of discussion this is basically another flavor of BYOD with a target of the Data Lake instead of an Azure SQL database (obvious benefits here).

BYOD II was always

[2019-01-24 03:40] arehman849 commented on #817
hey sally erickson / kim nelson,

thanks for the response... as suggested by Kim i have scribbled a huge
story in your ideas section :-)

link :
https://experience.dynamics.com/ideas/idea/?ideaid=2fefa936-891f-e911-9461-0003ff68953b

On Thu, Jan 24, 2019 at 5:25 AM Kim Nelson <notifications@github.com> wrote:

[2019-01-24 13:35] #817 closed

[2019-01-24 15:20] JoelLeichty opened #825 "SQL Index Defragmentation"
Where's the documentation for the form under System administration &gt; Setup &gt; System job parameters &gt; SQL index defragmentation?

Apparently this schedules a new batch process called "Database index rebuild system job that needs to regularly run at off hours". This kind of batch could potentially conflict with other batches and is undocumented. It seems to be automatically setup when upgra

[2019-01-24 15:33] tonyafehr commented on #825
@JoelLeichty, thanks for the feedback.

@hasaid, please update this topic based on this feedback.

[2019-01-25 08:52] mugunthanm commented on #790
We have few sample in Retail SDK (\RetailSDK\\SampleExtensions\RetailServer) for how to create extension for Retail server. This should help you to get started.

Also check this doc, if you scroll down you should find information for how to extend Retail server: https://docs.microsoft.com/en-us/dynamics365/unified-operations/retail/dev-itpro/commerce-runtime-extensibility

[2019-01-25 15:31] #474 closed

[2019-01-25 21:00] aaronstackpole opened #827 "Why Does OneBox Not Support Power BI"
The text says "Because the service relies on Microsoft Azure services, application analytical workspaces and reports are unavailable in one-box environments. " It's not clear why these two things are mutually exclusive. One would think that anything that relies on an abstract cloud-based service would be accessible regardless of environment. Please clarify, and provide any update on the roadmap to

[2019-01-26 17:15] dhand01 commented on #758
Its been 12 days. Any update? We still do not have the Move Database option in LCS, nor are the instructions updated. HELP!

[2019-01-26 18:55] taylordgordon opened #829 "Delaying an upgrade"
Can 10.0 update itself be delayed?  Or does the policy for delaying updates only apply once someone is on 10.0?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 14372486-6284-da4b-6bbb-30acd36dd7de
* Version Independent ID: f8301c48-61db-e9e5-aba5-413528cd91d2
* Content: [One Version service updates FAQ - Finance & Opera

[2019-01-27 12:21] gprodware opened #830 "Upgrade first step"
Hi,
Can we deploy a new Dev and Build ver 8.1.3 PU23 instead of deploying a 8.1 Up20 Environments and then Applying the latest binary update (8.1.3 PU23) ?
Thanks,
Gill

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0b3b5ec6-1a21-e71a-df38-ba497f7f1116
* Version Independent ID: d1e49823-7934-6a3a-50e1-547cdd632077
* Co

[2019-01-28 03:13] robabb123 opened #831 "Update Database script missing sysglobalconfiguration"
In the newly updated "Update Database" script on this page, the following is missing:
update sysglobalconfiguration
set value = 'SQLSERVER'
where name = 'BACKENDDB'
This is needed in order to resolve "Object Server Azure: Exception 3762504530 occurred in session 2, process: w3wp.exe, thread: 6396" or similar in Event Viewer & to allow DB sync to run successfully.

---
#### Document Details

⚠ *Do

[2019-01-28 03:18] robabb123 commented on #758
There are a number of our customer projects which do not have this option either. Some do, some don't.
I needed to use the old method of restoring from bacpac recently.

[2019-01-28 11:11] NadigSrinidhi commented on #767
@rpvanmill, The document is not updated. In the latest version of Dynamics365 (8.0 onwards) you can navigate to K:\PerfSDK\PerfSDKLocalDirectory and create the folder structure on your own.

Finally, your folder structure should look like :
K:\PerfSDK\PerfSDKLocalDirectory\Common\External\Selenium

Inside selenium folder you can place all your dll files. This is working fine for us on Platform rel

[2019-01-28 11:18] NadigSrinidhi commented on #768
@rpvanmill, You can add the Thumbprint under authority name="https://fakeacs.accesscontrol.windows.net/"> it should work

[2019-01-28 11:18] NadigSrinidhi commented on #768
@rpvanmill, You can add the Thumbprint under authority name="https://fakeacs.accesscontrol.windows.net/">
It should work

[2019-01-28 15:03] ShylaThompson commented on #831
@robabb123 thanks for raising this issue.  @laneswenka please review and update the topic as necessary.

[2019-01-28 15:07] ShylaThompson commented on #830
@laneswenka can you review this and update the topic if necessary.

[2019-01-28 15:10] ShylaThompson commented on #829
@meeramahabala can you review this and update the topic if necessary?

[2019-01-28 15:15] ShylaThompson commented on #827
@TJVass please review and update the topic if necessary.

[2019-01-28 15:47] ShylaThompson commented on #808
@maveloso I tested all of the links in the topic and it looks like they all work. I'm going to close this issue.

[2019-01-28 15:47] #808 closed

[2019-01-28 18:47] aaronstackpole opened #832 "Database Point-in-Time not Available"
Currently, you can select Production Point-in-Time or Sandbox Point-in-Time, but you cannot select a DEV environment as a target and Database Point-in-Time is no longer available. Also, there is no "Work Items" tab on the service request page. There is a list of Open Work Items, or "Service requests".

Additionally, it would be useful to have instructions on how to import a database to a DEV envir

[2019-01-28 18:56] soniamatos opened #833 "Need sample of report"
Hello, it would be very helpful to see how the graphs will look on this report. I'm working with an environment that doesn't have much data but I need to show the users how the report will look.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 867e9d23-090a-106a-4bf8-35a0d37cfd83
* Version Independent ID: d826e1c7-7e02-9

[2019-01-28 21:30] d47447 opened #834 "Bank format MT940 File format multiple pages issue"
There is an known issue with MT940 bank statement. MS raised LCS ticket, lets hope there will be a solution soon.
LCS Issue Id: 286776

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 700b2381-9dac-3f94-4cf0-77bffe5fe13c
* Version Independent ID: 4fa5d8a1-ae96-0e70-b1b5-6c97fdac9df9
* Content: [Bank statement file import

[2019-01-28 23:34] emstn opened #835 "Self-service export dontime"
When I use the self service export there is a checkbox that says: "By clicking Submit, I agree Export Database will make this environment temporarily unavailable"
But in the documentation it says "The environment will be unavailable for other servicing operations such as Sandbox Refresh or Package Deployment during this time. The source environment will be usable from a Dynamics user perspective."

[2019-01-28 23:36] emstn commented on #835
Title should say downtime

[2019-01-29 09:29] mihavuk opened #836 "typo"
Fix "how how" in the first chapter.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6ba89df6-0742-de49-e122-4af40e1480a4
* Version Independent ID: 7d4bdd46-b807-3bb3-f39e-785b80311de7
* Content: [SysTest filtering using class and method attributes - Finance & Operations | Dynamics 365 | #MSDyn365FO](https://docs.microso

[2019-01-29 12:05] lukaskujawa opened #837 "Generate URL from D365 Sales"
I am going to create web service in the D365FO, which will be generated URL to drop into D365Fo forms from D365 Sales. D365 Sales will be called this web service, D365FO return URL. Will be it work?

[2019-01-29 13:35] tonyafehr commented on #836
@mihavuk, thanks for the feedback. This will be fixed.

[2019-01-29 13:35] #836 closed

[2019-01-29 13:40] tonyafehr commented on #835
@emstn. thanks for pointing this out.

@laneswenka, consider updating this topic based on this feedback.

[2019-01-29 13:42] tonyafehr commented on #837
Thanks for posting this! In the meantime, to get product help you can contact Support using one of the options described here: [Support contact options](https://docs.microsoft.com/en-us/dynamics365/unified-operations/dev-itpro/lifecycle-services/lcs-support). In particular, you might want to go to the [Dynamics 365 for Finance and Operations community page](https://community.dynamics.com/) to get

[2019-01-29 13:42] #837 closed

[2019-01-29 13:46] tonyafehr commented on #834
@d47447, thanks for noting this issue.

@saraschi2, I've assigned this to you in case there is anything to note, if not, we can close this comment.

[2019-01-29 15:03] saraschi2 commented on #834
I'm no longer on the Dynamics team, you'll have to find the new PM.

-------- Original message --------
From: Tonya Fehr <notifications@github.com>
Date: 1/29/19 7:46 AM (GMT-06:00)
To: MicrosoftDocs/dynamics-365-unified-operations-public <dynamics-365-unified-operations-public@noreply.github.com>
Cc: Sara Schilke <Sara.Schilke@microsoft.com>, Mention <mention@noreply.github.com>
Subject: Re: [Mic

[2019-01-29 15:27] ShylaThompson commented on #834
@ShivamPandey-msft can you review this issue and update the topic if necessary?

[2019-01-29 15:35] tonyafehr commented on #832
@aaronstackpole, thank you for noting the differences between the product and the documentation.

@laneswenka, please review this and provide additional info, if possible.

[2019-01-29 17:07] aaronstackpole commented on #832
I did find another location where the import to dev instructions are located, that portion of the request is not needed. Thank you!

[2019-01-29 18:31] Pankaj-Thakur opened #840 "Sample for </td> is repetitive and incorrect."
Sample for &lt;/td&gt; is repetitive and incorrect.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 27a2af11-bc8e-9ffd-802c-12b3a91a739a
* Version Independent ID: dd23ab4f-2e5f-b99f-deae-28df175462ba
* Content: [X++ string runtime functions - Finance & Operations | Dynamics 365 | #MSDyn365FO](https://docs.microsoft.com/

[2019-01-29 20:17] tonyafehr commented on #840
@Pankaj-Thakur, thanks for the feedback.

@robadawy, can you update this topic to make this a better example.

[2019-01-30 11:07] fgork opened #843 "Update24 hyperlink redirects to Update23"
When users click  the hyperlink for Platform Update 24 under Platform releases, the page for Platform Update 23 opens instead.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 891d6997-ca3b-bde4-4ede-07ea577e6f9d
* Version Independent ID: f6afa30b-fb54-39a7-bd85-7ec8c081ac6e
* Content: [What's new or changed - Finance &

[2019-01-30 13:57] sericks007 commented on #843
@fgork, thanks for making us aware of this!  I've fixed the issue, and an updated version of the page will be published soon.

[2019-01-30 13:57] #843 closed

[2019-01-30 18:38] d47447 opened #844 "Global class method numeralsToTxt"
Label used in this method '@SYS26645' having value 'Forty' while it should be 'Fourty'. I agree the modern form is Forty but in that case a new label may require with old value.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d0ff3167-4d2a-cd81-d37c-503ffca5cb3d
* Version Independent ID: 180d680f-01a4-8bc2-a0db-a265c20e

[2019-01-30 21:22] JonathanAnd commented on #663
Can we please have a status on this?  Need to know how to setup Exchange for a current implementation

[2019-01-30 23:14] dwijc opened #845 "Option to switch to automatic updates missing"
I'm on PU23, but it doesnt give any option to switch to automatic updates.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e110aad1-fa4e-5fa0-ab1f-daae28097266
* Version Independent ID: c7aecc90-8e7c-ab0d-2cfe-94e9d09da1b0
* Content: [Automated Entity store refresh - Finance & Operations | Dynamics 365 | #MSDyn365FO](ht

[2019-01-31 01:20] cmw2 opened #846 "Add some Links"
This article could be improved by adding relevant links to other areas of documentation where details about the mentioned components could be found.  For example, the Publishing section makes mention of a publishing API.  A link to reference material for that API would be helpful.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.

[2019-01-31 01:47] cmw2 opened #847 "How To Links Needed"
This page would benefit from linking from this bulleted high level list of "what" needs to be done, to a set of lower level instructions to explain "how" to do these things.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9afcb5f6-8b55-f088-5cf6-c2b8e2365701
* Version Independent ID: 7936e07d-fdb9-a548-04b1-d0e18272882a

[2019-01-31 02:15] rossdo88 commented on #663
@JonathanAnd  you need to configure EWS in exchange first then set up in Organisation Administration/Microsoft exchange server synchronization/Microsoft exchange server mapping in AX client

[2019-01-31 13:50] #663 closed

[2019-01-31 14:23] Junaidahm3d opened #849 ""Retail channel components" Binary update from LCS ?"
Microsoft team,

I have configured & deployed D365FO onprem, now I need to download "Retail channel components" from binary updates but unable to find the "Binary updates" tile in environment page. showing only one tile "Updates".

Application release is 8.1 (8.1.195.20006)
Platform release is Update 22 (7.0.5095.41329)

please update document.

---
#### Document Details

⚠ *Do not edit this secti

[2019-01-31 20:16] ThomasZak opened #850 "5 hour lead time gone?"
Am I correct in understanding that the new Move Databases -&gt; Refresh Database feature has eliminated the 5 hour lead time that was required in the previous Service Request process? Does it still have the requirement that the source environment cannot be doing any LCS operations, and that all previous operations must be signed off?

---
#### Document Details

⚠ *Do not edit this section. It is r

[2019-02-01 10:32] AdminLekong opened #854 "Country/Region Localization"
Why Indonesia is not on the list of Localization Features?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 05359761-bd4b-2841-db9a-5bcc11359430
* Version Independent ID: 86a4d7d2-9ce9-b0dc-0300-67c3e1e5b74a
* Content: [Localization and regulatory features - Finance & Operations | Dynamics 365 | #MSDyn365FO](https://docs

[2019-02-01 15:38] ShylaThompson commented on #854
@AdminLekong thanks for your question. Are there specific Indonesian localization features that you were expecting to see documented here? Please provide as much information as possible so I can follow up with the product team.

[2019-02-01 16:34] ankurmota opened #855 "Exchanges throwing an error "you cant include a return in a customer order or quotation. remote the return and try again""
The Retail parameters have been configured as per the content above and job 1110 is complete. Now new items can be added in the return order cart but while applying delivery type, it throws the error "you cant include a return in a customer order or quotation. remote the return and try again"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub is

[2019-02-01 16:52] MilindaV2 commented on #845
Hi - you should see a message in asking you to switch. This should happen after you have visited the Entity store form. Can you provide the steps you followed?

[2019-02-01 16:57] jashanno commented on #849
Hello,

An update will be made.  LCS has just recently updated their site to make all updates located in the "Updates" tile instead of the previous flow where Application (X++) and Binary were separated.  Apologies for the confusion.

[2019-02-01 18:58] dwijc commented on #845
**Environment version information**
_Application release
Microsoft Dynamics 365 for Finance and Operations (8.1)
Platform release
Update23 (7.0.5126.35371)_

Its a one box demo environment.

System Administration > Setup > Entity Store.

[2019-02-01 20:39] UmeshPandit commented on #609
How to implement AD authentication on BYOD in Microsoft Dynamic 365

[2019-02-04 09:00] Junaidahm3d commented on #849
Thanks for the update jashanno, I have downloaded the self service packages from **LCS shared Asset Library**  ,  **software deployable package**, latest Generally Available Update , extracted the package inside and found retailselfservice folder , it contains all the setups. :)

[2019-02-04 14:24] #849 closed

[2019-02-04 17:47] ShylaThompson commented on #855
@ankurmota Thanks for contacting us. Unfortunately, we can't handle support requests for the product here. To contact support, consider one of the options described here:  [Support](https://docs.microsoft.com/en-us/dynamics365/unified-operations/dev-itpro/lifecycle-services/lcs-support).

[2019-02-04 17:47] #855 closed

[2019-02-04 17:56] ShylaThompson commented on #844
@d47447 thanks for commenting. Are you suggesting a change to this topic?

[2019-02-04 19:21] laneswenka commented on #758
@dhand01 @robabb123 we are not able to reproduce this on our end, and haven't had other reports of this come in via support.  Can you create a support ticket and then email me the ticket number and I can  help diagnose.

The Export functionality is not customer or user specific, it is available for any Sandbox Tier2+ environment (Acceptance Test) for the Environment Manager and Project Owner roles

[2019-02-04 19:22] laneswenka commented on #830
Hi @gprodware yes you can deploy 8.1.3 PU23 but there are cases where this is the base version and we have since hotfixed either the app or the platform.  When you deploy the 8.1.X build server it is good to ensure your environment is up to the latest which is what the documentation is asking you to do.

[2019-02-04 19:24] laneswenka commented on #831
@robabb123 this isn't missing as it is performed by the Export Database Self-Service action.

[2019-02-04 19:36] sericks007 commented on #758
Closing this issue, as a support ticket should be opened.

[2019-02-04 19:36] #758 closed

[2019-02-04 19:39] sericks007 commented on #835
Closing, based on Lane's response.

[2019-02-04 19:39] #835 closed

[2019-02-04 19:47] sericks007 commented on #850
Closing, per Lane's response.

[2019-02-04 19:47] #850 closed

[2019-02-04 19:48] sericks007 commented on #831
Closing, per Lane's response.

[2019-02-04 19:48] #831 closed

[2019-02-05 02:36] Izmiyash opened #862 "The way described here to reply to RFQ does not work."
you need to update this page according to the change made '18 Spring update.
see the link below.
https://community.dynamics.com/365/financeandoperations/f/765/t/279503

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: def35637-917e-1640-7a1f-53173d1d172e
* Version Independent ID: 43bad46b-5f82-aca9-96ee-2b373e9c4285
* Con

[2019-02-05 06:23] MichaelFruergaardPontoppidan opened #863 "Copy paste error. Version "8.1.1" mentioned 3 times, should be 8.1.2 and 8.1.3."
Copy paste error

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bcdefbcf-c3ad-9b1f-0988-452cea3e2108
* Version Independent ID: 7e002437-1ad9-ca29-7844-87e6709fe0fe
* Content: [Software lifecycle policy and cloud releases - Finance & Operations | Dynamics 365 | #MSDyn365FO](https://docs.microsoft.com/en-us/dynamics365/u

[2019-02-05 06:54] TrudAX opened #864 "Code is wrong"
The code is wrong in the second example for the 8.1 version(and it is a current release). If you just copy and paste it into a new job and run it you will get "Unable to cast object..." exception.
So the code needs to be modified to reflect the actual 8.1 version
Full example:
class RunnableClass1
{
    public static void main(Args _args)
    {
        Dialog dialog = new Dialog("");
        Dialo

[2019-02-05 09:29] franzbusatto opened #865 "Old way to deploy BIMeasure must be keep running after enabling the pushing of Entity store data in Azure to have fresh data in embedded Pbix report"
After switching to Automated Entity store refresh and enabling the pushing of Entity store data in Azure Data Lake, data are refreshed correctly in Azure data blob by the new 2 batch jobs (BIMeasurementProcessorFull, BIMeasurementProcessorIncremental).
However embedded PBI reports (i.e. Sales and Profitability Analysis) still point to AxDW data (the relational Entity store database) and this is ev

[2019-02-05 14:04] tonyafehr commented on #796
Bug 288970 has been logged to track this issue.

[2019-02-05 14:07] tonyafehr commented on #825
Bug 288971 has been logged to track this issue.

[2019-02-05 14:08] tonyafehr commented on #827
Bug 288972 has been logged to track this issue.

[2019-02-05 14:12] tonyafehr commented on #829
Bug 288973 has been logged to track this issue.

[2019-02-05 14:13] #830 closed

[2019-02-05 14:13] #832 closed

[2019-02-05 14:17] tonyafehr commented on #840
Bug 288975 has been logged to track this issue.

[2019-02-05 14:22] tonyafehr commented on #862
@Izmiyash, thanks for bring this to our attention.

@mkirknel, can you update this topic as noted. Thank you!

[2019-02-05 14:22] tonyafehr commented on #863
@MichaelFruergaardPontoppidan, can you provide more information as to what needs to be corrected. Perhaps you would like to make update in the public repo to fix this issue.

[2019-02-05 19:20] tonyafehr commented on #864
@TrudAX, We’ll work on updating the simplified example to be more complete and compatible with the current version.

To work correctly, a modeled dialog class deriving from RunBase or SysOperationAutomaticUIBuilder is needed. Add the code in the appropriate locations based on the methods typically overridden by those classes.  Specifically, place the final 3 lines of code in the post-super() of th

[2019-02-05 19:38] ijensen808 opened #868 "Step 1 in the instructions is not Step 1"
Step 1 of the instructions in this article has an attribute dependency on a contract class that is not yet created at that point in the instructions.  I believe a reordering of the steps makes sense here.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: be8eb23c-c09a-00c0-1dae-dc7e57484339
* Version Independent ID: 55b1e

[2019-02-05 19:41] tonyafehr commented on #868
@ijensen808, thanks for the feedback.

@Sunil-Garg, can you look into this and determine if the documentation needs to be updated.

[2019-02-05 21:54] yonatan1987 opened #870 "Yonatan"
אין תרגום לעברית וזה חיסרון גדולה לא מאפשר לי להתשמש בתוכנה שלכם

---
#### פרטי מסמך

⚠ *אין לערוך מקטע זה. פעולה זו נדרשת עבור קישור לנושאים ב- docs.microsoft.com ← GitHub.*

* ID: eebb7e31-ba41-656b-7dc1-aa5c65ea3f40
* Version Independent ID: 104841d9-485c-3ef8-bd97-8a60d2ff4d22
* Content: [Microsoft FastTrack for Finance and Operations - Finance & Operations | Dynamics 365 | #MSDyn365FO](https:

[2019-02-05 22:14] emstn commented on #863
I think the comment is referring to "Table 4: Application Updates". KB number might be incorrect too.

[2019-02-05 22:21] tonyafehr commented on #863
The topic is being updated with correct information. It will be published later this week.

[2019-02-05 22:21] #863 closed

[2019-02-05 23:52] TrudAX commented on #864
Thanks, @tonyafehr. I have created a pull request #873  to correct the document based on your answer(the code should be separated into 2 blocks)

[2019-02-06 01:32] Tjsonata054 commented on #604
We have followed the link and added the lookup for dimensions , but the lookup is not showing more than 999 records . Can anyone know regarding this issue?

[2019-02-06 01:55] Tjsonata054 opened #874 "Financial dimension lookup issue in data connector"
We have added financial dimensions lookup in the data connector but the lookup does not show more than 999 records . Does any one have any idea of how to over come that ?

[2019-02-06 02:07] Tjsonata054 opened #875 "users other than sysadmin with organizational hierarchy cannot see the data in settle transactions form"
We have users with certain roles cannot see the data in settle transactions form when a organization hierarchy is attached to role.

[2019-02-06 05:11] anderson-joyle commented on #604
@Tjsonata054  Never hear about this. Is this happening for all dimensions? Default and custom value ones? One thing that I noticed while ago was that when you create a DimensionCombinationEntity/DimensionSetEntity extension element, if you change the sufix (*.Extension) to something else it behaves badly. Can you try to leave your extension element as *.Extension?

[2019-02-06 07:43] Junaidahm3d opened #878 "Unable to create "ADFSServerApplicationForRetail" CommandNotFoundException."
Need Help..!

I am stuck at point 6, where I need to create **"ADFSServerApplicationForRetail"**.

6) On the ADFS machine currently viewing, run this script in a new PowerShell window using the command **.\Create-ADFSServerApplicationForRetail -HostUrl 'ax.d365ffo.onprem.contoso.com',** where the HostUrl value can be found in Service Fabric. To find the HostUrl value, navigate to Service Fabric >

[2019-02-06 08:13] ahmerkhalid636 commented on #878
Hi,

I am having the same issue on same version, where "New-D365FOAdfsServerApplicationForRetail" is not recognized as the name of a cmdlet, function, script file, or operable program.

[2019-02-06 08:40] OsamaOmer1990 commented on #878
Hello Experts,

I am struggling with the same issue, does anyone has any idea about this error?

[2019-02-06 08:41] Junaidahm3d opened #879 "Unable to create "ADFSServerApplicationForRetail" CommandNotFoundException."
Need Help..!

I am stuck at point 6, where I need to create **"ADFSServerApplicationForRetail"**.

6. On the ADFS machine currently viewing, run this script in a new PowerShell window using the command **.\Create-ADFSServerApplicationForRetail -HostUrl 'ax.d365ffo.onprem.contoso.com',** where the HostUrl value can be found in Service Fabric. To find the HostUrl value, navigate to Service Fabric >

[2019-02-06 11:44] ahmerkhalid636 commented on #878
The issue is in "Create-ADFSServerApplicationForRetail.ps1" line 51 where 'New-D365FOAdfsServerApplicationForRetail-HostUrl:$HostUrl' is incorrect.  ApplicationForRetail(just 1 space)-HostUrl.

Now the issue resolve

Thanks
Ahmer Khalid

[2019-02-06 14:44] aprilolson commented on #604
The lookup control in Excel is limited to 999 rows. After that you must use filtering capabilities.

[2019-02-06 14:45] aprilolson commented on #604
I commented. Can we close it? How do I do that?

April Olson
Dynamics 365 Finance & Operations
Principal Group Program Manager, Financials & Service Industries
Check out our Financials blog: https://community.dynamics.com/365/financeandoperations/b/financials

Our workplace allows for a flexibile work schedule, which is an amazing benefit. I am sending this now because it is convenient for me. I d

[2019-02-06 14:50] #604 closed

[2019-02-06 14:50] Tjsonata054 commented on #604
Thanks for the reply @aprilolson . yes you can close it .

[2019-02-06 15:09] sericks007 commented on #870
@yonatan1987, thanks for posting this.  I've forwarded your comments to our Localization team. Please log your suggestion on our [Ideas site](https://experience.dynamics.com/ideas/), as well.

[2019-02-06 15:09] #870 closed

[2019-02-06 15:16] sericks007 commented on #874
@Tjsonata054, thanks for posting this.  Please see GitHub issue [#604](https://github.com/MicrosoftDocs/dynamics-365-unified-operations-public/issues/604#), as I believe it will answer your question.

To get product help, you can contact Support using one of the options described here: [Support contact options](https://docs.microsoft.com/en-us/dynamics365/unified-operations/dev-itpro/lifecycle-ser

[2019-02-06 15:16] #874 closed

[2019-02-06 15:17] sericks007 commented on #875
Thanks for contacting us. Unfortunately, we're unable to handle Support requests for the product here. To contact Support, consider one of the options described here: [Support contact options](https://docs.microsoft.com/en-us/dynamics365/unified-operations/dev-itpro/lifecycle-services/lcs-support).

[2019-02-06 15:17] #875 closed

[2019-02-06 15:20] sericks007 commented on #878
Can you please let me know which article you are viewing?

[2019-02-06 15:21] sericks007 commented on #879
Can you please let me know which article you were viewing?  If you could provide the URL of the article, that will help me direct this issue to the appropriate person.

[2019-02-06 16:12] tonyafehr commented on #864
@TrudAX, I'll get your updates published later today.

[2019-02-06 16:12] #864 closed

[2019-02-06 18:38] sericks007 commented on #846
@mugunthanm, could you please update this article as suggested.

[2019-02-06 18:41] sericks007 commented on #846
Bug 289988 has been logged to track this issue.

[2019-02-06 18:45] sericks007 commented on #847
@jblucher, could you please update this article as suggested.

[2019-02-06 18:47] sericks007 commented on #847
Bug 289989 has been logged to track this issue.

[2019-02-06 22:25] tonyafehr commented on #796
@tomhig, thanks for making us aware of this! I've fixed the issue, and an updated version of the page will be published soon.

[2019-02-06 22:26] #796 closed

[2019-02-07 06:03] ha365 opened #884 "Azure timeout while refreshing entity store"
When we refresh the entity store in d365 f&o the batch job ends after 10 minutes due to timeout error on azure sql. How can we increase the timeout?

[2019-02-07 06:08] ha365 opened #885 "Azure timeout while refreshing entity store"
When we refresh the entity store in d365 f&o the batch job ends after 10 minutes due to timeout error on azure sql. How can we increase the timeout?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7cd3a076-d364-f4e8-fe37-f10c77a75466
* Version Independent ID: 0f767e21-3f33-2139-0931-7cd044c81b9f
* Content: [Power BI int

[2019-02-07 11:04] Junaidahm3d commented on #879
Thanks Sally for your time, actually the issue is from infrastructure script.

"Create-ADFSServerApplicationForRetail.ps1." line 51 where 'New-D365FOAdfsServerApplicationForRetail-HostUrl:$HostUrl' is incorrect.  I have added a space between ApplicationForRetail and -HostUrl.

URL: https://docs.microsoft.com/en-us/dynamics365/unified-operations/dev-itpro/deployment/deploy-retail-onprem

[2019-02-07 11:06] Junaidahm3d commented on #878
https://docs.microsoft.com/en-us/dynamics365/unified-operations/dev-itpro/deployment/deploy-retail-onprem

[2019-02-07 11:53] Asgardi opened #886 "Enabling change tracking in FO database"
"For the change tracking functionality to work, you must enable the Change tracking option in the Finance and Operations database."

- How?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9cd981b1-0ed1-34c8-d22a-e1c6d194ff9c
* Version Independent ID: 1e26cccc-eab2-e170-7004-98585128e3e1
* Content: [Bring your own databa

[2019-02-07 14:22] sericks007 commented on #879
Glad the issue is resolved!  I'll close this issue now.

[2019-02-07 14:22] #879 closed

[2019-02-07 14:24] #878 closed

[2019-02-07 16:14] sericks007 commented on #870
@yonatan1987, I sent your comments for our Localization team, and they said that Prodware has published the Israeli localization for Dynamics 365 Finance and Operations in AppSource. Here is the [link](https://appsource.microsoft.com/en-us/product/dynamics-365-for-finance-and-operations/prodware-israel.pwilloc?tab=Overview).

[2019-02-08 10:53] d47447 commented on #844
@ShylaThompson Well, i think yes. as still most of the banks use 'Fourty' on cheque prints than 'Forty'. Either give another label with 'Fourty' or just add a few lines in the document about the same.

[2019-02-09 19:11] vavd opened #892 "Client-bank inerface"
The topic in the link below provides information that the client-bank interface must be available in 8.1.3 release:
https://docs.microsoft.com/en-us/dynamics365/unified-operations/fin-and-ops/get-started/whats-new-changed-8-1-3#client-bank-interface-and-reconciliation-procedure

Where can I find documentation how to set it up?

Thanks

---
#### Document Details

⚠ *Do not edit this section. It is

[2019-02-09 19:21] vavd opened #893 "The page is doubled in the left navigation pane"
I can see this page under:
Sales books, purchase books, and invoice-factures journals
Create a purchase book

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5bf139dc-e7cd-c025-6217-944a87ee3dfc
* Version Independent ID: 61f1f251-8be8-d4a6-9326-08fa56434898
* Content: [Sales books, purchase books, and invoice-factures jo

[2019-02-09 20:03] vavd opened #894 "Report template"
We have an option in AX 2012 Financial reports generator to specify a report template for printable version of the report.

Regarding D365FO, do we have to use Electronic reporting to prepare printable layout?

If so, do you have any default config files for RUS balance sheet, P&L, and other statutory RUS reports, which can be uploaded in the system? Or we have to set up RUS external financial rep

[2019-02-11 00:26] Sunil-Garg commented on #483
Thank you for the comment nmaenpaa. The documentation has been updated to address the concern. Thanks.

[2019-02-11 00:29] Sunil-Garg commented on #667
prodev42, can you pls clarify as what exactly you are referring to? which diagram? thanks.

[2019-02-11 00:32] Sunil-Garg commented on #668
prodev42, we currently don't have an outbound diagram. The flow is almost the same as shown for import. One exception I can think of the part where the export file will be uploaded by AOS.

[2019-02-11 00:44] Sunil-Garg commented on #740
Rardd1997, the limitation is to the total file size (file or package) that is uploaded to the blob storage. This can be a single excel file as an example of a data package zip file. Hope this clarifies.
Thanks.

[2019-02-11 00:52] Sunil-Garg commented on #168
ccampora, thanks. The doc has been updated.

[2019-02-11 11:40] 5fq opened #901 "axruntimeuser missing in LCS"
LCS is not showing the axruntimeuser and its credentials any more.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c4020aba-daa3-d086-ceff-a1af3cd008aa
* Version Independent ID: 28e93b50-84c8-d36a-85d4-95e0273ccb14
* Content: [Export copies of Finance and Operations databases to restore later - Finance & Operations | Dy

[2019-02-11 14:08] #740 closed

[2019-02-11 14:09] #692 closed

[2019-02-11 14:12] #731 closed

[2019-02-11 14:14] #483 closed

[2019-02-11 14:25] tonyafehr commented on #734
@SST1982, this topic has been updated to reflect your suggested changes. Changes will be published early this week.

[2019-02-11 14:25] #734 closed

[2019-02-11 14:27] #168 closed

[2019-02-11 14:29] #668 closed

[2019-02-11 15:01] ShylaThompson commented on #901
@5fq  Thanks for contacting us. Unfortunately, we're unable to handle Support requests for the product here. To contact Support, consider one of the options described here: [Support contact options](https://docs.microsoft.com/en-us/dynamics365/unified-operations/dev-itpro/lifecycle-services/lcs-support).

[2019-02-11 15:01] #901 closed

[2019-02-11 15:02] ShylaThompson commented on #894
@Anasyash Can you review this question and update the topic if necessary?

[2019-02-11 15:13] ShylaThompson commented on #733
The topic is complete. Please log a support request for further assitance.

[2019-02-11 15:13] #733 closed

[2019-02-11 16:14] ShylaThompson commented on #893
@vavd Thanks for letting us know. This should be fixed by the end of the day.

[2019-02-11 16:14] #893 closed

[2019-02-11 16:18] ShylaThompson commented on #892
@vavd We're in the process of publishing Cash flow management documentation for Russia. I'll update this issue when the content is available.

[2019-02-11 16:19] ShylaThompson commented on #885
@ha365  Thanks for contacting us. Unfortunately, we're unable to handle Support requests for the product here. To contact Support, consider one of the options described here: [Support contact options](https://docs.microsoft.com/en-us/dynamics365/unified-operations/dev-itpro/lifecycle-services/lcs-support).

[2019-02-11 16:19] #885 closed

[2019-02-11 16:19] ShylaThompson commented on #884
@ha365  Thanks for contacting us. Unfortunately, we're unable to handle Support requests for the product here. To contact Support, consider one of the options described here: [Support contact options](https://docs.microsoft.com/en-us/dynamics365/unified-operations/dev-itpro/lifecycle-services/lcs-support).

[2019-02-11 16:19] #884 closed

[2019-02-11 16:20] ShylaThompson commented on #854
Closing due to lack of information from original poster.

[2019-02-11 16:20] #854 closed

[2019-02-11 17:06] ShylaThompson commented on #862
@mkirknel I logged bug # 291442 to track this issue.

[2019-02-12 04:00] manishmoothedath opened #904 "Changes made to Custom reports are not updated"
Changes made to Custom reports are not updated unless Reporting service is restarted in the sandboxes.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4008b2e3-4d1a-e146-8bdb-f39280124e9f
* Version Independent ID: 22f8390d-bb4d-1755-515c-7e7ebf1ddaae
* Content: [Apply updates to cloud environments - Finance & Operations

[2019-02-12 07:27] Anasyash commented on #894
Hello.

Accounting reporting in Electronic format (xml) is planned for delivery as ER configuration, plan is published here: https://docs.microsoft.com/en-us/business-applications-release-notes/April19/dynamics365-finance-operations/russian-localization

Please create a support ticket for getting more details on examples of creating ER formats based on Excel templates for RU accounting reporting.

[2019-02-12 08:30] vavd commented on #894
Hello @Anasyash,

Thank you for your reply.

Regarding XML, it's clear, thanks. Looking forward to having this functionality in April 2019.

About Excel templates - don't you plan to publish a detailed guide in this documentation? I believe it would be beneficial for the community and the Dynamics ecosystem.

Thanks

[2019-02-12 14:28] tonyafehr commented on #904
@manishmoothedath, thanks for the feedback.

@manalidongre, could you update this topic as suggested.

[2019-02-12 15:02] tonyafehr commented on #868
Bug #291719 has been logged to track this issue.

[2019-02-12 15:03] tonyafehr commented on #865
Bug #291718 has been logged to track this issue.

[2019-02-12 15:06] tonyafehr commented on #833
Bug #291721 has been logged to track this issue.

[2019-02-13 08:00] joengelhart opened #910 "This is great but...."
This is great but those of us who don't have this feature yet....How do we get back to the old instructions?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f4ec2cf9-20fb-cf47-eb1e-a1f987e6ba44
* Version Independent ID: bd7c5fc6-39d2-857e-b8b1-1ee634bd63ec
* Content: [Database movement operations home page - Finance & O

[2019-02-13 10:03] PeterRFriis commented on #759
I have just read the documentation.
The process is the same for Onprem/LBD with the regards, that changes needs to be tested on a vm and then a deployable package should be created, which can then be taken to LCS and be deployed to the LBD environment.

The process described does not describe how a package is deployed to the actual LBD environments(sandboxes or prod).

[2019-02-13 10:29] YESChristianSchulte opened #911 "k"
I have problems while importing into an existing Organization with System language German,
as all Numbers are #.## and in Germany they are #,##
is there a way to avoid those import problems?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3fc92d46-8f1c-dc72-82c0-dcbccf014c18
* Version Independent ID: 934a9f55-fd2a-a08c-

[2019-02-13 11:27] DutchDynamics opened #912 "Missing information on Import DB on Build"
Hi,

Please add back the documentation about how to import an exported DB into a Build/Dev environment.
On these type of environments, the move database/import is not available and resorting the backpac is the only option.

Now the instructions are gone

Wouter

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f4ec2cf9-20

[2019-02-13 13:43] sericks007 commented on #910
@joengelhart, thanks for bringing this to our attention.

@laneswenka, can you please update the documentation to accommodate this request?

[2019-02-13 13:45] sericks007 commented on #912
@DutchDynamics, thanks for bringing this to our attention!

@laneswenka, can you please update the documentation to accommodate this request?

[2019-02-13 13:47] #759 closed

[2019-02-13 14:00] laneswenka commented on #912
@DutchDynamics this sounds exactly like the Debugging & Diagnostics scenario, did you see this Tutorial?
https://docs.microsoft.com/en-us/dynamics365/unified-operations/dev-itpro/database/dbmovement-scenario-debugdiag

@sericks007 FYI this information is still available, just in a new format.

[2019-02-13 14:02] laneswenka commented on #910
@joengelhart these features are all generally available.  They only work on your Standard Acceptance Test or Performance Acceptance Test environments.  There are still manual instructions available in the Tutorials for your DevTest / OneBox environments.  If you are missing Refresh, Import, Export, or Point-in-time Restore on your UAT environment please file a Support Ticket and cc lane.swenka@mic

[2019-02-13 14:04] #912 closed

[2019-02-13 14:04] #910 closed

[2019-02-13 17:04] ryansandness commented on #911
I *think* this is controlled by System parameters. If in your blank system you check the general tab for system options, my default is en-us with a system currency of USD. Can you try changing these defaults before importing?

Otherwise it is a setting somewhere else that controls this formatting. The only other alternative would be to change the format of individual imports, but that would likely

[2019-02-13 19:25] DutchDynamics commented on #912
Hi, sorry I missed that part ;-) Thanks

[2019-02-14 07:26] JoPe72 opened #919 "Manual import steps missing"
Previously there was instructions on how to manually import the bacpac file to a Tier-1 DEV machine. Since you re not able to use LCS to import to Cloud Hosted environments I think these instructions should still be there in its own section.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 142d4b7f-e485-b424-39a0-c059b81

[2019-02-14 07:44] marihul commented on #919
Hi,

you can find the instructions under Tutorials --> Debugging an diagnostics:
https://docs.microsoft.com/en-us/dynamics365/unified-operations/dev-itpro/database/dbmovement-scenario-debugdiag

[2019-02-14 07:53] JoPe72 commented on #919
Ahh... Thanks

[2019-02-14 11:50] Junaidahm3d commented on #813
I am having issues deploying Dynamics 365 for Finance and Operations version 8.1.3 on 8.1.2 on prem environment with blank db.

8.1.3 is only for cloud ??

[2019-02-14 12:05] #919 closed

[2019-02-14 12:16] Anasyash commented on #894
Thank you. We'll consider your request for updating this documentation in regards to exporting to Excel template.

Best regards, Anastasia

[2019-02-14 13:59] #894 closed

[2019-02-14 14:46] tonyafehr commented on #813
We're unable to handle Support requests for the product here. To contact Support, consider one of the options described here: [Support contact options](https://docs.microsoft.com/en-us/dynamics365/unified-operations/dev-itpro/lifecycle-services/lcs-support). In particular, you might want to go to the [Dynamics 365 for Finance and Operations community page](https://community.dynamics.com/) to get h

[2019-02-14 21:59] buzzwick opened #922 "Ambiguous Application References"
It is not clear whether tokens like "Depreciation conventions" or "fixed asset group book" have any analog in the actual UI. In other words, is "Depreciation convention" a drop-down selection in the application? If so, where? It would be very helpful if tokens which were references to actual UI fields or tables or pages were clearly identified as such by some typographical convention or even an im

[2019-02-14 22:04] mannesneuer opened #923 "Correction"
Topic: Reprint a check for a worker before the payment journal is posted
3. Follow one of these steps:
If you can change the parameter to reuse checks, click Payment status, and then select Reuse to remove the check number from the bank journal.
If you can't change the parameter to reuse checks, click Payment status, and then select Reuse to remove the check number from the bank journal.

The last

[2019-02-15 09:59] mueckeflo opened #925 "919 Extended log on info incorrect"
Operation 919	"Extended log on" is also available in offline mode after the 1040 job has run.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fd017c26-1971-fadf-9aa1-d9001e600ce9
* Version Independent ID: 0f0dd3b3-7bcb-306c-a66a-a96b614f21ae
* Content: [Online and offline point of sale (POS) operations - Retail | Dynami

[2019-02-15 10:00] YESChristianSchulte commented on #911
I had to change the settings of the Excel SOURCE DATA FORMATS to en-us.

[2019-02-15 14:13] sericks007 commented on #925
@mueckeflo, thanks for posting this info!

@jblucher, please update the topic, as appropriate.

[2019-02-15 14:19] tonyafehr commented on #886
@Asgardi, thanks for the feedback.

@Sunil-Garg, bug 292643 has been logged to track this issue.

[2019-02-15 14:21] sericks007 commented on #923
@mannesneuer, thanks for making us aware of this issue.

@brpotter, please update update the topic accordingly.

[2019-02-15 16:09] ryansandness commented on #911
Thank you for sharing the solution! Much appreciated.

[2019-02-15 22:02] mhammons opened #927 "How is Entity Store Accessed in Production"
"For troubleshooting and diagnostics, you can connect to the Entity store database directly from a related sandbox environment" - how does one connect to Entity Store when in a Production environment? Is it possible to do an import with Power BI instead of DirectQuery?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7cd

[2019-02-15 22:13] tonyafehr commented on #922
@buzzwick, thanks for the feedback.

@ShivamPandey-msft, please review this feedback and consider making updates to this topic to help provide further clarity.

[2019-02-15 22:16] howalker3514 opened #928 "This "set up" document doesn't actually instruct you how to set up"
This document should not be called "set up" because it does not provide instruction on how to actually set up anything.  It points you in the direction of where you need to go.  For example, it points you to the page on which customer pools are set up, but it does not tell you how to assign customers to a pool.  So this page isn't not nearly as helpful as it could be.  It's like the Cliff Notes of

[2019-02-15 22:16] tonyafehr commented on #927
@mhammons, Thanks for posting this! In the meantime, to get product help you can contact Support using one of the options described here: [Support contact options](https://docs.microsoft.com/en-us/dynamics365/unified-operations/dev-itpro/lifecycle-services/lcs-support). In particular, you might want to go to the [Dynamics 365 for Finance and Operations community page](https://community.dynamics.co

[2019-02-15 22:19] tonyafehr commented on #928
@howalker3514, Thanks for posting this! In the meantime, to get product help you can contact Support using one of the options described here: [Support contact options](https://docs.microsoft.com/en-us/dynamics365/unified-operations/dev-itpro/lifecycle-services/lcs-support). In particular, you might want to go to the [Dynamics 365 for Finance and Operations community page](https://community.dynamic

[2019-02-15 22:24] howalker3514 commented on #928
I'm not going to contact Microsoft support about this.  That's not necessary.  This is just an example of Microsoft documentation "referring" to set up but ti doesn't actually tell you navigation steps to set up.  As a consultant who doesn't use this functionality often, we rely on through documentation to help the client.  This documentation is not adequate in that regard. 
Howard   
 
    On Fri

[2019-02-18 13:33] buzzwick commented on #922
Hi,
Just putting in my two cents:  the feedback suggests conventions that ought to be considered for the documentation _generally_. It would be a shame if any remedy were limited to this topic only.
Thanks for listening.

[2019-02-18 14:42] d47447 commented on #844
Hey,
Well, its more like generic feedback for labels. This particular label donest exist in this document.

[2019-02-18 22:55] SteveBurkettNZ commented on #283
@Rain-Runner: No, the Document Routing Client role assigned to the service account user in D365O doesn't need a D365O license. (Does display it somewhere there when assigning the role that it doesn't need one).

And yes, need to have one DRA per environment that you wish to print from, preferably two or more for production.

[2019-02-19 09:43] renaudpaquaynsi commented on #845
I also have the same issue on an acceptance environment. I can't find any issue on LCS

[2019-02-19 14:02] #844 closed

[2019-02-19 16:20] mugunthanm commented on #846
Updated the article with relevant links to the sub topics.

[2019-02-19 16:50] #846 closed

[2019-02-19 16:55] tonyafehr commented on #904
Bug 293276 has been logged to track this issue.

[2019-02-19 17:26] batetech opened #933 "Update financial reporting - do not run from PowerShell ISE"
The "Update financial reporting" step script will fail if run from PowerShell ISE because the ConfigureMRDatabase.ps1 script uses $Host.UI.RawUI.ReadKey which isn't supported in ISE.  When this happens, the script attempts to continue on and tries to treat it as an Azure SQL Database during the upgrade instead of local SQL Server by appending .database.windows.net to the server name, which causes

[2019-02-19 17:33] batetech opened #934 "Update the Azure Storage Emulator clarification"
The "Update the Azure Storage Emulator" step should be updated to clarify that if the commands listed should not all be run in the order listed, and that the example commands are for troubleshooting only if the emulator will not start.  For example, if the "AzureStorageEmulator.exe status" command shows that it is running, or the "AzureStorageEmulator.exe start" command starts successfully, then y