[2019-05-23 12:34] sericks007 commented on #1304
@ChrisGarty, please review and answer the questions, and update the topic if needed.

[2019-05-23 14:56] craigfraser9 commented on #1212
Hi - Have you had a chance to give any thought to the localization query? Thanks, Craig

[2019-05-23 16:45] ryansandness commented on #911
So previously you mentioned changing Excel SOURCE DATA FORMATS to en-us. If you are having issues with mismatch of separators, I assume you need to change the user settings for (Settings > User Options > Preferences) and set Date, time, and number format. Otherwise if you're still having issues it may be best to log a bug with step by step instructions that I can walk to make sure I understand the

[2019-05-23 18:44] Nirvana115 opened #1313 "Unable to get the channel information"
Hi,

In my Orchestrator in Service fabric:/LocalAgent/BridgeService  i have this error message :

Microsoft.IdentityModel.Clients.ActiveDirectory.AdalServiceException: AADSTS700024: Client assertion is not within its valid time range. Trace ID: cdf1bfce-d8d1-459e-b865-883af9511500 Correlation ID: 93c476d1-1d81-4705-bb18-15adae95820d Timestamp: 2019-05-23 18:31:33Z ---> System.Net.Http.HttpRequestE

[2019-05-24 07:16] yoison opened #1315 "The steps written as "Register a web application with AAD" should be updated."
The steps written as "Register a web application with AAD" seems to be changed on Azure like the docs below. So the chage of Azure feature should also be reflected on D365FO docs.
https://docs.microsoft.com/en-us/azure/active-directory/develop/app-registrations-training-guide

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

*

[2019-05-24 08:37] Izmiyash opened #1316 "What does mean by "turn off the Data Lake storage Gen2 (preview) option"?"
There is unclear description in the "Create storage accounts" section. in Azure Portal, there are two options for DATA LAKE STORAGE GEN2. enable and disable. we can choose either but not able to turn off.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 48cf34e5-5de2-319c-c709-f06ea8fe4164
* Version Independent ID: 1b04f

[2019-05-24 09:50] Sumitranandank opened #1317 "No information on Authentication"
There is no information on how the Authentication should be set in the Power BI report. When the pbix file is created, authentication information is stored in it and then how does it work in conjunction with user credentials from D365 login?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: dc7d8a19-6471-c70f-0452-74df0ed

[2019-05-24 10:22] FH-Inway opened #1318 "Show how data variable can be initialized"
The examples in this and the other pages fail to mention how the data variable can be initialized (it can be done with var data = AtlDatarootNode::construct()). The only example I could find that does it is in https://docs.microsoft.com/en-us/dynamics365/unified-operations/dev-itpro/perf-test/atl-best-practices#use-navigation-node-shortcuts
The initialization should be more visible in all examples

[2019-05-24 16:34] FH-Inway opened #1320 "Update example"
The class AtlCreatorProductItem used in the example does not exist.

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9234ad43-0e7f-ed59-ae42-09946e66609e
* Version Independent ID: 68ca360a-d837-5b1f-2954-760cdfd4a72c
* Content: [Creators in the Acceptance test library - Finance & Operations | Dynamics 365 | #MSDyn365FO](

[2019-05-24 22:28] kfend commented on #1313
Thanks for contacting us. Unfortunately, we're unable to handle Support requests for the product here. To contact Support, consider one of the options described here: [Support contact options](https://docs.microsoft.com/en-us/dynamics365/unified-operations/dev-itpro/lifecycle-services/lcs-support). In particular, you might want to go to the [Dynamics 365 for Finance and Operations community page](

[2019-05-24 22:28] #1313 closed

[2019-05-25 12:24] ripannandy opened #1323 "Changed based tracking for deleted record"
On data insertion of any new record for any data entity with changed based tracking, incremental data gets uploaded and upload data can be retrieved accordingly. But when any record gets deleted for any data entity with changed based tracking, no data gets uploaded. How to handle this scenario?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub

[2019-05-26 06:07] MichaelFruergaardPontoppidan commented on #1320
Thank you.  The example has been updated.

[2019-05-27 04:38] bradsprigg opened #1326 "Extra FTP details"
Please add more info with regards to the type of FTP endpoint required. In what format should the endpoint be? How should the FTP site be secured? Is a self-signed certificate ok? Why is there linked info to an Azure storage account? How can we troubleshoot connection issues?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

*

[2019-05-28 08:38] ELandAX opened #1329 "New data source's field on a form extension cannot be wrapped in extension class"
Hello,

I found that I cannot create an extension class for a field of the form's data source if the data source was added in a form extension. If the data source is not on a form extension, then I can create extension class.
I am working in PU24.

I get the following error at compile time.
Abnormal termination with unhandled exception. Exception key: ... System.NullReferenceException: Object refe

[2019-05-28 11:51] Ruveles opened #1330 "The workflow editor does not start after upgrading to platform 25"
Hey guys,
I just want to talk about one thing that can happen after upgrading to platform 25 from previous platforms.
The workflow editor does not start because the AD FS settings for the workflow application do not contain a redirect url https://dynamicsaxworkfloweditor/.
Yes, this url is in the new installation scripts, but if you are upgrading your old environment, you may not be aware of it.

[2019-05-28 14:31] #1320 closed

[2019-05-28 18:14] blackjoker17 opened #1331 "typo: 'customer attributes' should be 'order attributes'"
"Why and when you should order attributes
If you want to add new fields to cash-and-carry transactions, customer orders, or call center orders, and if you want to capture the information in the POS or Retail headquarters, use customer attributes. "

I think this meant to say 'order attributes' instead of 'customer attributes', as it is talking about order attributes.

---
#### Document Details

⚠

[2019-05-28 20:18] mugunthanm commented on #1331
Thanks Peter for the feedback. Updated the document.

[2019-05-28 20:50] RobinARH commented on #1323
@Sunil-Garg and @MilindaV2 - Can you take a look at this one? Thanks.

[2019-05-28 20:52] RobinARH commented on #1326
@gregboyko and @andreabichsel - Can you take a look at this one? Thanks.

[2019-05-28 21:01] RobinARH commented on #1330
@ChrisGarty - Can you take a look at this? Thanks.

[2019-05-28 21:02] RobinARH commented on #1329
@ChrisGarty @RobinARH  Can you take a look at this one? Thanks.

[2019-05-28 21:28] #1331 closed

[2019-05-29 02:12] shashisadasivan opened #1333 "GetExecutionErrors ? is this method still available and if so then would this be a part of the documentation ?"
GetExecutionErrors - is this method still available and would this be included in the documentation at some point in time ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 85d06c76-517e-c0f9-f089-be75a47c1605
* Version Independent ID: 18059b14-4123-298f-51b0-c870f13a9bdc
* Content: [Data management package REST API - Fi

[2019-05-29 07:36] v-oloski commented on #1269
Hello Vadim,

Unfortunately the Tax profit documentation for Microsoft Dynamics 365 for Finance and Operations is not ready yet. But the Tax profit functionality for Microsoft Dynamics 365 for Finance and Operations has not significant difference in comparing to Ax 2012 R3/ AX 2009.
Therefore you may download Guides for AX 2009 Client Help Files for Russia and Eastern Europe where you can read the

[2019-05-29 11:10] MadhanRamachandran opened #1334 "Dynamics 365 Finance & Operation Enterprise Licensing for On-Premise"
Hi,

I have some customer who would like to implement Dynamics 365 Finance & Operation On-Premise system. But it's very difficult to get a clear answer for purchasing Licensing for this model. Based on the 14 Server Role requirements for On-Premise scenario, how many Dynamics 365 Server licensing do I need for each role installation? Client license is straight forward but not Server license, if I

[2019-05-29 11:54] Dacesilian opened #1335 "Import composite entity (XML) through API"
I'm trying to import composite (XML) entity to D365 through API. I'm using the same way for which other entites work flawlessly - upload to blob storage and call ImportFromPackage. But for composite entity, error is thrown:

`Exception occurred while executing action ImportFromPackage on Entity DataManagementDefinitionGroup: A data project must exist before importing a package consisting of a comp

[2019-05-29 13:01] #1269 closed

[2019-05-29 14:01] sericks007 commented on #1333
@shashisadasivan , thanks for posting this! In the meantime, to get product help you can contact Support using one of the options described here: [Support contact options](https://docs.microsoft.com/en-us/dynamics365/unified-operations/dev-itpro/lifecycle-services/lcs-support). In particular, you might want to go to the [Dynamics 365 for Finance and Operations community page](https://community.dyn

[2019-05-29 14:12] sericks007 commented on #1335
Thanks for contacting us. Unfortunately, we're unable to handle Support requests for the product here. To contact Support, consider one of the options described here: [Support contact options](https://docs.microsoft.com/en-us/dynamics365/unified-operations/dev-itpro/lifecycle-services/lcs-support). In particular, you might want to go to the [Dynamics 365 for Finance and Operations community page](

[2019-05-29 14:12] #1335 closed

[2019-05-29 14:15] sericks007 commented on #1310
@SteveBurkettNZ, thanks for posting this!

@TJVass, please answer the question, and update the topic as needed.

[2019-05-29 14:26] sericks007 commented on #1310
Bug 325473 has been logged to track this issue.

[2019-05-29 14:28] sericks007 commented on #1307
Bug 325475 has been logged to track this issue.

[2019-05-29 14:30] sericks007 commented on #1306
Bug 325476 has been logged to track this issue.

[2019-05-29 14:33] sericks007 commented on #1305
Bug 325479 has been logged to track this issue.

[2019-05-29 14:37] sericks007 commented on #1304
Bug 325481 has been logged to track this issue.

[2019-05-29 14:42] sericks007 commented on #1303
Bug 325485 has been logged for this issue.

[2019-05-29 15:25] blackjoker17 opened #1337 "scenarios is mispelled 'scenarious'"
scenarios is mispelled 'scenarious' in this sentence in the 4th paragraph.
"In most cases, you should be able to test using Cloud POS, expect if you want to test for offline scenarious. "

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c3f32de8-6477-a7ae-f2f1-2b4b912f1d01
* Version Independent ID: 93e6ef2e-18ca-f32c-4d6

[2019-05-30 08:34] nataku6262 opened #1342 "Run time length"
When running this job we allowed a 4 hour window (240 minutes) however this task ran for 7 hours, until it had rebuilt the number of indexes defined in Count of Indexes. Does this prioritise number of indexes to target over the allowed time to run?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 28e18001-d6d3-5a57-d0b6-

[2019-05-30 08:56] yoison commented on #1315
If you have ETA, please let me know it. Rough schedule is OK.

[2019-05-30 15:44] matC90 opened #1344 "WRONG File System Repository onPrem"
sorry wrong section

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 77d7b207-cd9c-4e00-1c0d-fb440af33a27
* Version Independent ID: 4838c8eb-aaf6-3cd9-79b4-4cebc3f239e7
* Content: [Import Electronic reporting (ER) configurations from Regulatory Configuration Services (RCS) - Finance & Operations | Dynamics 365 | #MSDyn36

[2019-05-30 15:47] matC90 opened #1345 "File System Repository onPrem"
hi,
I created a File System repository for import GER in D365 onPrem v10.
Donwloaded the lcs zip file and extracted to C:\Temp\SolutionRepository\ locally in ORC VM.
But when i try to Open the repository I get a "We didn't find anything to show here." some know issue? or missing something?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue

[2019-05-30 15:48] #1344 closed

[2019-05-30 19:03] sericks007 commented on #1334
@MadhanRamachandran, thanks for posting this.  I've been advised that you should contact Support, as described here: Support contact options](https://docs.microsoft.com/en-us/dynamics365/unified-operations/dev-itpro/lifecycle-services/lcs-support)

[2019-05-30 19:03] #1334 closed

[2019-05-31 03:38] s3raph commented on #631
I'd like to see what Microsoft's solution is as I have a definite requirement to deliver monitoring and alerting on D365.

Environment monitoring within D365 is useful, but without being able to raise alerts when certain things occur it's not good enough.

[2019-05-31 06:19] kompa3 commented on #631
We are currently using the following solution:
- LCS monitoring data is queried from diag.lcs.dynamics.com REST interfaces that the LCS web UI uses
- There is currently no good way to generate an authentication token for machine clients; queries require cookies that must be generated manually by logging into LCS
- To overcome this, we implemented a Selenium job that logs into LCS once a day and st

[2019-05-31 06:38] s3raph commented on #631
Much appreciated @kompa3 - that gives me a good start.

[2019-05-31 13:36] FangyuanHou opened #1347 "PurchPurchaseOrderModern report may not working as expected"
We need to add one line under the class PrintMgmtReportFormatPopulator_Extension::populate method. there are some similar code added for other reports but not for this one. PurchPurchaseOrder has PurchaseOrderRequisition and PurchaseOrderConfirmationRequest.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: dba24ab6-e8c4-

[2019-05-31 13:44] sericks007 commented on #1337
@blackjoker17, thanks for letting us know!  I've fixed the typo, and the updated topic will be published later today.

[2019-05-31 13:44] #1337 closed

[2019-05-31 14:01] sericks007 commented on #772
The topic was recently fixed to resolve this issue.

[2019-05-31 14:01] #772 closed

[2019-06-03 04:01] manishmoothedath opened #1349 "Option to copy Financial reporting database"
Hi,
the statement in this page - "A database refresh lets you copy the transactional and financial reporting databases of your production environment into the target, sandbox UAT environment. If you have another sandbox environment, you can also copy the databases from that environment to your target, sandbox UAT environment."
there is no option in the "Move database" to export a copy of financial

[2019-06-03 13:57] NickSelin commented on #1345
As described in the https://docs.microsoft.com/en-us/dynamics365/unified-operations/dev-itpro/analytics/general-electronic-reporting page, the file system repository provides access to the list of configurations that are located as xml files in the specific folder of the local file system of the machine where the AOS service is hosted. Therefore, use the C:\Temp\SolutionRepository\ in the FS1AOS01

[2019-06-03 14:18] matC90 commented on #1345
thanks, i missed that part
tried into AOS and it's works

[2019-06-03 14:19] #1345 closed

[2019-06-03 16:34] LuisFilipeFernandes opened #1350 "Outdated data"
The current solution of D365 F&O is not compatible with the instructions described on this article. Steps 2, 3 and 5 are not applicable according to the current solution code. If following the remaining tasks you end up with a VS solution that does not build due to several errors. Looking forward for updated instructions.

---
#### Document Details

⚠ *Do not edit this section. It is required for

[2019-06-03 19:08] sericks007 commented on #406
This topic has been updated and there is no longer a CAAP nomination site link -- so closing this issue.

[2019-06-03 19:08] #406 closed

[2019-06-03 22:46] RobinARH commented on #1347
@TJVass Can you take a look at this one? Thanks.

[2019-06-03 22:56] RobinARH commented on #1350
@ShalabhjainMSFT @RobinARH Shalabh - Can you take a look at this? Thanks.

[2019-06-03 22:56] RobinARH commented on #1349
@laneswenka @sericks007 @kfend Lane - Can you take a look at this? Thanks.

[2019-06-03 23:12] RobinARH commented on #1311
Bug 328749 created to track this issue.

[2019-06-03 23:14] RobinARH commented on #1315
Bug 328750 created to track this issue.

[2019-06-03 23:17] RobinARH commented on #1316
Bug 328753 created to track this issue.

[2019-06-03 23:18] RobinARH commented on #1317
Bug 328754 created to track this issue.

[2019-06-03 23:20] RobinARH commented on #1323
Create bug 328755 to track this issue.

[2019-06-03 23:35] RobinARH commented on #1326
Bug 328760 created to track this issue.

[2019-06-03 23:41] RobinARH commented on #1329
Bug 328761 created to track this issue.

[2019-06-03 23:42] RobinARH commented on #1330
Bug 328763 created to track this issue.

[2019-06-04 11:10] johanhoffmann commented on #1303
You get this error message when you have not added the AX user to the configuration of the job card device. (Path: Configure Job Card Device). In the standard demo data, some users are already added, so if you log in with one of these users, then it is possible to log into the Job Card Device.

[2019-06-04 12:44] #1303 closed

[2019-06-04 13:47] kfend commented on #1311
Thanks for bringing this to our attention. The recovery point objective was incorrectly stated at 5 minutes and it is in fact, 5 seconds. We have updated the topic and the changes will be reflected in the topic later today.

[2019-06-04 13:47] #1311 closed

[2019-06-05 06:35] sfmhe opened #1352 "Incosistent information regarding pausing"
According to https://cloudblogs.microsoft.com/dynamics365/bdm/2019/06/03/new-flexible-service-updates-for-dynamics-365-for-finance-and-operations/ pausing 3 (!) consecutive updates is possible now. Here we read about just 2. What is correct?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8c296e1c-432e-8fb3-e9d8-a87c26d

[2019-06-05 14:39] mueckeflo opened #1353 "Customer reported incpmplete documentation steps and aks, if we can please add the missing ones to this article."
Feedback provided by customer:

There were also needed the resource-files containing localized strings. It took quite some reverse engineering to figure this out, as there was no mentioning of them in the deployment guideline. Furthermore, the code required a change of namespace to fit the <AssemblyNamePrefix> setting from Customization.settings. This propagated quite a lot of work, as more projec

[2019-06-05 14:47] maveloso commented on #983
Any update on this issue? its been 3 months and we still cant tell from the documentation if this LCS feature is usable in D365FO projects.

[2019-06-05 14:56] sericks007 commented on #1352
@sfmhe, thanks for letting us know!

@manalidongre, please update the topic as appropriate.

[2019-06-05 15:05] sericks007 commented on #1353
@mueckeflo, thanks for posting this!

@AlexChern0v, please review and update the topic appropriately.

[2019-06-05 15:07] maveloso opened #1354 "D365FO documentation"
This page only refers to AX2012 upgrades. where is the D365FO upgrade analysis tool documentation?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 521be614-6472-95d5-72bf-6e49c84ad3ba
* Version Independent ID: 4a556b59-c985-d0ec-c8d8-8f1d901801a1
* Content: [Upgrade analysis in Lifecycle Services (LCS) - AX 2012](https:

[2019-06-05 15:23] sericks007 commented on #1354
@maveloso, thanks for posting this!

@robadawy or @laneswenka, could you please review and suggest a topic.

[2019-06-05 18:05] RobvanB opened #1355 "Link incorrect"
The link to the powerapps admin page under 'Templates and Tasks' is incorrect

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0a0b764a-dd6b-581b-5d94-50e2af76c360
* Version Independent ID: 9eadf0e8-a4d2-6eb6-93f6-f4ba3a4ba2d0
* Content: [Synchronize products directly from Finance and Operations to products in Sales - Fi

[2019-06-06 07:49] ChristianRytt commented on #1355
Thank you for reporting this, I have updated the link and the change should be available in a few days – now without preview in the link.

From: Rob vanBrandenburg <notifications@github.com>
Sent: 5. juni 2019 20:05
To: MicrosoftDocs/dynamics-365-unified-operations-public <dynamics-365-unified-operations-public@noreply.github.com>
Cc: Christian Rytt <crytt@microsoft.com>; Mention <mention@noreply.

[2019-06-06 12:11] kchaiser opened #1359 "Mandatory Fields"
I  often get request to make certain fields mandatory on forms. It would be great if personalization and saved views supported making field mandatory.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b8523f95-cfbd-dc55-e36a-0dc6f3cb784d
* Version Independent ID: fdc89723-2d01-0d82-1931-79778ffb9646
* Content: [Build form

[2019-06-06 17:15] JoelLeichty opened #1360 ""End of Service" Title"
End of service title is confusing with the new policy. I believe this column means "End of hotfix support", even though the date is extended on how long you can use that particular version.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d1892de7-0902-054b-e430-8e23f714477b
* Version Independent ID: 20e0ff84-5f29-f5e3-d

[2019-06-06 17:21] sericks007 commented on #1353
@EvgenyPopovMBS, please review and update the topic appropriately.

[2019-06-06 18:14] KAleshire commented on #172
Any update on this issue, it'd be great to get some more clarity on what's possible with Data entity extensions.  In particular, onPostingLoad vs. onPostedLoad vs. creating a new entity and using the PostLoad override method.

[2019-06-07 17:52] #1355 closed

[2019-06-07 19:17] meeramahabala commented on #1360
Thanks for the feedback. We will look into changing the title to better reflect the state.

[2019-06-07 20:25] jasongre commented on #1359
Thanks for the suggestion! This one of the personalization enhancements we're considering. Please vote for it on the Ideas portal: Ability to make a field mandatory by personalizing form (https://experience.dynamics.com/ideas/idea/?ideaid=1149e17c-d2c8-e711-80c0-00155d7cd0b4#(

[2019-06-08 11:37] kurthatlevik commented on #901
@shylaThompson and @laneswenka.

In the script, the following lines are spesified:

CREATE USER axruntimeuser WITH PASSWORD = '<password from LCS>'
EXEC sp_addrolemember 'db_datareader', 'axruntimeuser'
EXEC sp_addrolemember 'db_datawriter', 'axruntimeuser'

The user axruntimeuser is no longer spesified in the LCS user list on environment, and therefore we cannot spesify any password for it as ins

[2019-06-10 10:09] ahmerkhalid636 opened #1363 "SSRS scale out"
I am deploying the Dynamics 365 on premises environment with DR-Site. Please help me regarding the configuration of SSRS server on both site.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e67ea12d-2a68-cda6-ecfb-9e7ca852d149
* Version Independent ID: 88c57c99-c6d9-0c05-5b3a-1cb28be236e6
* Content: [Configure SQL Serve

[2019-06-10 11:11] dnast01 commented on #827
Any update on this? Its now June 2019 and onebox environment is commonly used for Demo environments and Power Bi is a fundamental part of most demos...

[2019-06-10 13:15] tonyafehr commented on #270
This has been resolved

[2019-06-10 13:15] #270 closed

[2019-06-10 23:17] RobinARH commented on #1363
@sarvanisathish - Can you take a look? Thanks.

Your request might be beyond the scope of the docs, and you might considering contacting Support. To contact Support, consider one of the options described here: [Support contact options](https://docs.microsoft.com/en-us/dynamics365/unified-operations/dev-itpro/lifecycle-services/lcs-support). In particular, you might want to go to the [Dynamics 365

[2019-06-10 23:21] RobinARH commented on #1342
Created bug 330272 to track this issue.

[2019-06-10 23:23] RobinARH commented on #1347
Created bug 330274 to track this issue.

[2019-06-10 23:25] RobinARH commented on #1349
Created bug 330275 to track this issue.

[2019-06-10 23:28] RobinARH commented on #1350
Created bug 330276 to track this issue.

[2019-06-11 10:10] tino80 opened #1366 "Link to the provisioning guide does not work"
The link to the provisioning guide does not work and I can't find it elsewhere on customersource or partnersource. Can someone provide me with the guide?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0e859ad9-22e1-e14e-2c7a-6df3ba1482ca
* Version Independent ID: 6eff91da-e5c3-3fcd-00f2-2fd690e7cc15
* Content: [Buy Fin

[2019-06-11 14:03] MSFTRANDY opened #1367 "Needs more details"
This is a very generic article that doesn't explain what Yes/No actually affects, nor does it cover all Posting parameters such as "Tax calculation behavior" that we're trying to figure out how it works.  This article simply states, Select "Yes" but there is much more to each feature.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue link

[2019-06-11 15:01] tonyafehr commented on #1367
@MSFTRANDY, this topic was generated using Task recorder, so it's very basic and only meant to explain the simple steps needed to perform this task. We will review your feedback and considering adding content to provide more detail that is not standard in topics that have been created using Task recorder.

@josaw1, please review this feedback, thanks!

[2019-06-11 17:35] #1367 closed

[2019-06-11 21:09] tonyafehr commented on #1366
@tino80, thanks for bringing this to our attention. We're working to resolve this issue and will let you know when a working link is available.

@ShellyBakke, please help to resolve this issue.

[2019-06-11 21:11] tonyafehr commented on #1352
Bug 330575 has been logged to track this issue.

[2019-06-11 23:05] RobinARH commented on #1347
Thanks for the feedback. This is a product issue, not a doc issue, and we've contacted the product team.

[2019-06-11 23:05] #1347 closed

[2019-06-12 06:31] rsteber commented on #667
I cannot find the getDefaultDependencies method mentioned in the document.

[2019-06-12 07:52] SiccoAntuma opened #1368 "path and menu item for Field descriptions page"
path and menu item for Field descriptions page:

path=Common>Inquiries>Field descriptions
mi=FieldDescriptions

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f8ec8bc2-61dd-085d-ba77-4cf9dd87cd4c
* Version Independent ID: 0492844e-fa69-4556-146e-de22da7e61a7
* Content: [View and export field descriptions - Finance & Ope

[2019-06-12 07:58] Izmiyash opened #1369 "Description out dated"
still referring the Preview menu in the case Flow does not triggered ( System parameters &gt; Business events - Preview tab). Need to update accordingly as it's no longer Preview.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: eeceffe9-8dec-90db-7c94-56b7a5632523
* Version Independent ID: fd7ce083-1363-ffc9-9ffe-4833f8

[2019-06-12 10:39] hariharasudan-k commented on #711
As per the above step we configured everything perfectly, we get Environment detailed(Job,collectors) in system diagnostics(LCS) working fine, while taking report in Power BI dashboard against the project "https://diag.lcs.dynamics.com/UpgradeAnalysisReport/Report/project Id" we getting blank upgrade analysis power BI dashboard.

[2019-06-12 10:40] hariharasudan-k commented on #711
Showing blank data in Upgrade analysis report (Power BI report) for system diagonistics against the project.
"https://diag.lcs.dynamics.com/UpgradeAnalysisReport/Report/projectID"

[2019-06-12 11:38] FH-Inway opened #1370 "Improve code snippets"
I suggest to improve the code snippets in this guide. Currently they are a mix of screenshots of code (which cannot be copied) and unformatted code that is hard to read. Ideally, all code snippets should look like the first snippet after [Creating the controller](https://docs.microsoft.com/en-us/dynamics365/unified-operations/supply-chain/warehousing/process-guide-framework#creating-the-controller

[2019-06-12 11:55] FH-Inway opened #1371 "Information about WHSWorkActivity enum is missing"
The section on [Creating the controller](https://docs.microsoft.com/en-us/dynamics365/unified-operations/supply-chain/warehousing/process-guide-framework#creating-the-controller) mentions the enum WHSWorkExecutionMode, but not the enum WHSWorkActivity. However, both need to be extended to create a new process. This information should be added to the guide.
See https://cloudblogs.microsoft.com/dyna

[2019-06-12 13:21] sericks007 commented on #1369
@Izmiyash, thanks for posting this!

@Sunil-Garg, please review and update the content as necessary.

[2019-06-12 13:23] sericks007 commented on #1370
@FH-Inway, thanks for making us aware of this!

@MarkusFogelberg, please review and update the content, as needed.

[2019-06-12 13:25] sericks007 commented on #1371
@FH-Inway, thanks for making us aware of this!

@MarkusFogelberg, please review and update the content as needed.

[2019-06-12 13:38] sericks007 commented on #1368
Thank you for the feedback.  Our team has reviewed this feedback and decided not to make any updates to this content at this time.

[2019-06-12 13:38] #1368 closed

[2019-06-12 13:52] sericks007 commented on #1353
Bug 330744 has been logged to track this issue.

[2019-06-12 13:57] sericks007 commented on #1354
Bug 330746 has been logged to track this issue.

[2019-06-12 18:18] #445 closed

[2019-06-12 18:24] #449 closed

[2019-06-12 18:32] manalidongre commented on #588
No. You do not need licenses for these accounts.

[2019-06-13 07:05] DFKA opened #1373 "Company limits"
Might be useful if the actual company limitation is mentioned (max 100).

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9dccb9a2-7862-923a-aeaf-90911d9d8b3f
* Version Independent ID: 4e2ad7f3-2c22-54c0-56cb-802af92adaaf
* Content: [Cross-company data sharing - Finance & Operations | Dynamics 365 | #MSDyn365FO](https://

[2019-06-13 07:37] vsklyarovaGMCS commented on #1271
Hello! Tell me please when will the documentation be released?

[2019-06-13 13:27] bacconnaise opened #1374 "Might have a typo in the KB"
Hi, can we double-check if the ".com1" is indeed a typos?

Here is the quote: "The permissions SMTP user account is serviceacct@d365forops.onmicrosoft.com1."

thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3fcd3b1a-d14e-7738-b4c3-c4aac5a9c791
* Version Independent ID: 85742fde-3ab0-ac8d-77c5-929a53f4a08f
* Conte

[2019-06-13 13:47] tbarron2 opened #1375 "'Collection Letter' Drop-Down"
On the 'Creation of Collection Letter' window, it would be nice to understand why the "Collection letter" field has an option of "None".  I'm not sure what purpose that is for.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bffb5971-919f-c1f5-c5de-2d5eba676362
* Version Independent ID: 8f1d627f-09ff-4049-9d8e-e91b78318

[2019-06-13 13:57] sericks007 commented on #631
@kompa3, thank you for your posts! Unfortunately, we're unable to handle requests for the product here. Please consider adding your request to the [Ideas site](https://experience.dynamics.com/ideas/).

[2019-06-13 13:57] #631 closed

[2019-06-13 14:04] manalidongre commented on #568
The name of the user is AXRunner in the product and hence will leave it that way.

[2019-06-13 14:07] #568 closed

[2019-06-13 14:08] #588 closed

[2019-06-13 14:37] #625 closed

[2019-06-13 14:40] #447 closed

[2019-06-13 14:40] manalidongre commented on #710
This feature is generally available and is widely used by everyone. Please log a support ticket if it doesn't show up.

[2019-06-13 14:42] ShivamPandeyMSFT commented on #1375
There is no purpose on the "None" option. Is it legacy enum value that has lingered around.

[2019-06-13 14:43] #710 closed

[2019-06-13 16:06] PeterJarret opened #1376 "Error in SQL command?"
I think the fields in the SQL statement to enable a flight are shown in the wrong order.  The FlightingServiceCatalogID (FLIGHTSERVICEID in SQL) is the last field in the table

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2c6788e8-dfb0-6108-71ae-e265bad542a2
* Version Independent ID: 68a26703-3d8c-4d46-6f3f-37c30aa793

[2019-06-13 16:30] tomhig commented on #827
The following blog documents how to configure this, which requires you to manually deploy some components to your own Azure Subscription:
https://community.dynamics.com/365/financeandoperations/b/dynamicsaxbi/archive/2019/02/03/how-to-configure-power-bi-embedded-for-dynamics-365-for-finance-and-operations-one-box-environment

[2019-06-13 19:56] josaw1 commented on #1373
Thank you for your feedback.
@aprilolson, can you please review?

[2019-06-13 19:58] josaw1 commented on #1374
Thank you for your feedback.
@ChrisGarty, can you please verify and update the topic if needed?

[2019-06-13 20:01] josaw1 commented on #1375
Thank you for your feedback.
@ShivamPandey-msft, can you please take a look?

[2019-06-13 20:02] josaw1 commented on #1376
Thank you for your feedback.
@Sunil-Garg, can you please review?

[2019-06-13 20:17] aprilolson commented on #1373
Hi Jo,
This article owner should be Sunil Garg, so please assign to him. Thanks!

April Olson
Dynamics 365 Finance & Operations
Principal Group Program Manager, Financials & Service Industries
Check out our Financials blog: https://community.dynamics.com/365/financeandoperations/b/financials

Our workplace allows for a flexibile work schedule, which is an amazing benefit. I am sending this now bec

[2019-06-13 21:15] josaw1 commented on #1373
@Sunil-Garg, can you please review this feedback? Thanks.

[2019-06-14 11:12] pdkhanh opened #1377 "Stop and exit the flow when a test case is failed"
I'm develop a suite of test case and I would suggest that we can have an option that if a test case in suite is failed, the rest of test case should be mark as blocked. It will save the time of execution.
(Like "AddOperatorFieldsToExcelValidation")
I'm looking forward to looking your feedback.
Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ G

[2019-06-14 17:21] kfend commented on #1377
@pdkhanh - Thanks for taking the time to provide feedback on Finance and Operations! Can you use the [Ideas site](https://experience.dynamics.com/ideas/categories/list/) to submit your feedback directly? The ideas site will enable you to receive notifications, vote, and monitor the progress of your idea more closely.
As this is product feedback, and not documentation feedback, I'm closing this iss

[2019-06-14 17:21] #1377 closed

[2019-06-14 21:01] regrebud commented on #1233
Are we still aligned on update 28? I don’t see any information about ATL on the release notes.

[2019-06-16 07:36] shemais22 opened #1379 "On which Version"
Abort button does not appear on my system, starting from which version of D365FO this button is available?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6a888b13-d579-ee76-4c5a-3d5020c4030c
* Version Independent ID: eb9ccd0a-033c-fa06-f0a9-60e702e2f800
* Content: [Abort an executing batch job - Finance & Operations |

[2019-06-16 09:36] s3raph opened #1380 "No details on how long snapshots are retained"
I'm struggling to find any information on how far back it's possible to use PITR to restore back to.

I remember reading documentation in the past that stated that it was possible to select any 15 minute snapshot from the past 30 days, but this does not appear to be explicitly stated anywhere in the documentation.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.mic

[2019-06-17 10:15] aaronstackpole commented on #827
This does not work if your Azure subscription is not grandfathered to allow you to deploy power bi workspace collections.

Sent from mobile
________________________________
From: tomhig <notifications@github.com>
Sent: Thursday, June 13, 2019 11:30:06 AM
To: MicrosoftDocs/dynamics-365-unified-operations-public
Cc: Aaron Stackpole; Author
Subject: Re: [MicrosoftDocs/dynamics-365-unified-operations-

[2019-06-17 12:49] tomhig commented on #827
Does the template deployment script actually fail when you run it? (Step 2 in the aforementioned blog). If the script runs, but you do not see the resource, it is because the resource is Hidden and you need to check show all resources. You also cannot obtain the Keys through the Azure Portal UI. You need to run the following Shell script to obtain them: https://docs.microsoft.com/en-us/powershell/

[2019-06-17 14:04] aaronstackpole commented on #827
Ok, if you can request this to be enabled then we're good. Thank you!

Sent from mobile
________________________________
From: tomhig <notifications@github.com>
Sent: Monday, June 17, 2019 7:49:09 AM
To: MicrosoftDocs/dynamics-365-unified-operations-public
Cc: Aaron Stackpole; Author
Subject: Re: [MicrosoftDocs/dynamics-365-unified-operations-public] Why Does OneBox Not Support Power BI (#827)

Do

[2019-06-17 17:38] tomhig commented on #827
You need to request this by creating a new support ticket via the Azure Portal. The specific request you need to make is to whitelist your subscription for the Power BI Workspace Collection so that you can access Analytical Workspaces in a D365F&O 1Box environment.

[2019-06-17 20:12] RobvanB opened #1381 "Cannot apply licenses via command prompt anymore"
The command to apply the license via command prompt requires admin privileges - this is no longer available on the newer versions. So what is the new process?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ce6f5dff-10da-6b04-bd4d-af056f772acc
* Version Independent ID: 075f0d3a-de0e-a434-c645-bc7c4689e930
* Content: [In

[2019-06-17 20:35] RobinARH commented on #1379
@hasaid - Can you take a look at this? thanks - Robin

[2019-06-17 20:36] RobinARH commented on #1380
@laneswenka - Can you take a look at this one? thanks.

[2019-06-17 20:37] RobinARH commented on #1381
@robadawy  - Can you take a look at this one? thanks.

[2019-06-17 20:37] #1359 closed

[2019-06-17 20:38] #1360 closed

[2019-06-17 20:41] RobinARH commented on #1363
Bug 332158 created to track this issue.

[2019-06-17 22:12] hasaid commented on #1379
This is Available on Platform Update 27

[2019-06-17 22:38] regrebud commented on #1233
Apparently not available in update 28 either... Just installed this version and I don't see the menu item "Generate ATL Specification".

[2019-06-18 05:41] anushamnair opened #1383 "View name"
[Is it the ReturnTransactioView or RetailTransactionView which is extensible]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6fee7d52-3d12-d5c0-0434-2b51cee1502b
* Version Independent ID: 4c0d448e-1e64-a5a8-4df7-a8a77a8014cd
* Content: [What's new or changed in Finance and Operations version 10.0.2 (May 2019) - Finance

[2019-06-18 06:18] MichaelFruergaardPontoppidan commented on #1233
The wizard should be available with PU28.   You should have these 2 DLLs in your Visual Studio 14 folder:
![image](https://user-images.githubusercontent.com/28089437/59657531-4c74dc80-91a1-11e9-8626-a555fcb448ee.png)

And then you should get the wizard in the context menu in the DESIGNER on tables.
![image](https://user-images.githubusercontent.com/28089437/59657599-7e863e80-91a1-11e9-9593-6205a7b

[2019-06-18 07:04] sminozhenko opened #1384 "SYSFLIGHTING is not copied during self-service database refresh"
Hi, When we move DB copy from PROD to sandbox, SYSFLIGHTING table is wiped and we need to set up all flights again in the sandbox. Are there any plans to copy flights too or add information about this behavior to section "Data elements that aren't copied during refresh"?

Thank you!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linkin

[2019-06-18 08:17] mutsun1 opened #1385 "Wrong code snipets for body of request"
This document instructs to add a code to Body of the request, but these are wrong actually because I always get an error as invalid syntax if I copy and pasted them as is on code editor of Logic apps.
These should be fixed with correct codes.

Actual:
body('Invoke_an_HTTP_request').value
(body('Invoke_an_HTTP_request_2').value)
Body of the request: {"executionId": body('GetExportedPackageURL').val

[2019-06-18 08:25] mutsun1 opened #1386 "Duplicated sentences"
The following two sentences are duplicated and should be fixed.

![image](https://user-images.githubusercontent.com/22488411/59665376-bc10b900-91ed-11e9-818f-feb27bbe4e86.png)

Also, the layout of  ![NOTE] section in above are broken.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6a2009b3-5bd5-0181-0b04-75e4333b3bcc
*

[2019-06-18 08:32] mutsun1 opened #1387 "Namespace for URL of the request"
It should add the steps to create and add a namespace to URL for URL of the request or add the link to jump to the document of a namespace on this document.
However, as far as we checked this , we can run DMF API without adding namespace and namespace_guid for D365FO online.
So, we need to add some notes for adding namespace / namespace-guid if there is any condition, or should remove “namespace”

[2019-06-18 14:22] tonyafehr commented on #1384
Thanks for contacting us. Unfortunately we're unable to handle product questions here. You might want to go to the [Dynamics 365 for Finance and Operations community page](https://community.dynamics.com/) to get help with your questions from the Dynamics community. Also consider adding your request to the [Ideas site](https://experience.dynamics.com/ideas/).

@laneswenka, adding you for awareness.

[2019-06-18 14:22] #1384 closed

[2019-06-18 14:27] tonyafehr commented on #1386
@mutsun1, thank you taking the time to note these issues. We'll update this topic based on your feedback.

@andreabichsel, please make the updates noted in this feedback.

[2019-06-18 14:30] tonyafehr commented on #1385
@mutsun1, thank you taking the time to note this issue. We'll update this topic based on your feedback.

@andreabichsel, please update this topic based on this feedback.

[2019-06-18 14:33] tonyafehr commented on #1387
@mutsun1, thank you for noting these issues. We'll review this topic based on your feedback.

@andreabichsel, please review this feedback and consider making updates as noted.

[2019-06-18 14:42] tonyafehr commented on #1383
@anushamnair, you are referencing something that's not in the [What's new or changed in Finance and Operations version 10.0.2 (May 2019)](https://docs.microsoft.com/en-us/dynamics365/unified-operations/fin-and-ops/get-started/whats-new-changed-10-0-2) topic. Have you looked at [Extensibility changes in Dynamics 365 for Finance and Operations version 10.0.2](https://docs.microsoft.com/en-us/dynamic

[2019-06-18 14:46] tonyafehr commented on #1366
Bug 332477 has been logged to track this issue.

[2019-06-18 15:09] andreabichsel commented on #1386
Thank you for your feedback! I made the changes noted here, and they should be live by eod. I need to do more research for the namespace issues you submitted, so those won't appear in today's publish.

[2019-06-18 15:09] #1386 closed

[2019-06-18 15:10] andreabichsel commented on #1385
Thank you for your feedback! I made the changes noted here, and they should be live by eod. I need to do more research for the namespace issues you submitted, so those won't appear in today's publish.

[2019-06-18 15:10] #1385 closed

[2019-06-18 17:13] BillG-1 opened #1388 "SYSOAUTHCONFIGURATION script missing"
Partner is saying there are missing scripts:
PowerBI Workspaces and Electronic Reporting repository works now.

Please update Docs (https://docs.microsoft.com/en-us/dynamics365/unified-operations/fin-and-ops/get-started/move-lcs-implementation-project-tenant)  documentations,  there is missing SQL-scripts for table SYSOAUTHCONFIGURATION on step 7.

From: Sami Salmelainen <sami.salmelainen@accounto

[2019-06-19 07:20] mutsun1 commented on #1386
@andreabichsel thank you for taking care of this issue ! however, I found another duplicated sentences on same page... I will open new issue later

[2019-06-19 07:33] mutsun1 opened #1390 "Duplicated sentences 2"
I found another duplicated sentences on this document like the following.

![image](https://user-images.githubusercontent.com/22488411/59745531-fb9fd980-92af-11e9-94ff-0764de5b58da.png)

The section – [NOTE] and the sentence is starting with “This sample doesn’t do error checking” are duplicated for each.
According to the contexts of this document, I think we should remove the sentences that are e

[2019-06-19 13:17] tonyafehr commented on #1390
@andreabichsel, please address this feedback. Thanks!

[2019-06-19 14:00] turbozapekanka opened #1391 "How does this integrate with the Source control and build process"
We can have X++ code checked in to DevOps and picked up by a build VM.
Will it work for C# code? If not, please describe the process.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 292aba1a-611d-3c57-b6b3-4ad4c1f609c6
* Version Independent ID: a85180de-f264-3a6a-cd6c-51bb019cecac
* Content: [Write business logic by usi

[2019-06-19 15:06] sericks007 commented on #1391
@turbozapekanka, Thanks for posting this! In the meantime, to get product help you can contact Support using one of the options described here: [Support contact options](https://docs.microsoft.com/en-us/dynamics365/unified-operations/dev-itpro/lifecycle-services/lcs-support). In particular, you might want to go to the [Dynamics 365 for Finance and Operations community page](https://community.dynam

[2019-06-19 15:17] Sunil-Garg commented on #1147
Hi @JbKarlsson -- the Flow end point does not have to be configured from F&O. As a Flow maker, you can directly subscribe and unsubscribe to a business event from Flow itself using the trigger in F&O connector. When you do this, the end point will automatically get created. We have also added this clarification to the business events documentation. Hope this helps. Thanks.

[2019-06-19 15:36] sericks007 commented on #1369
Bug 332881 has been logged to track this issue.

[2019-06-19 15:38] sericks007 commented on #1370
Bug 332883 has been logged to track this issue.

[2019-06-19 15:40] sericks007 commented on #1371
Bug 332885 has been logged to track this issue.

[2019-06-19 15:45] sericks007 commented on #768
It looks like @hasaid answered the question, so closing this issue.  Thanks @hasaid!

[2019-06-19 15:45] #768 closed

[2019-06-19 15:55] #1147 closed

[2019-06-19 16:21] andreabichsel commented on #1386
Thanks @mutsun1, I took care of this one, too. I appreciate it!

[2019-06-19 16:22] andreabichsel commented on #1390
Thanks again @mutsun1! I agree with your suggestions and the changes should be live within an hour or so.

[2019-06-19 16:22] #1390 closed

[2019-06-19 18:26] dominicdelaire commented on #1039
I have the same problem and my Base and reply URL start with https. Do you have a solution ?

[2019-06-19 19:19] sericks007 commented on #1182
This topic was updated, so closing this issue.

[2019-06-19 19:19] #1182 closed

[2019-06-20 09:39] soerenpc opened #1395 "After Merge"
After the Merge I assume the code could not be checked in?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 54bffa91-2a14-2819-8f74-80fd1f79b9df
* Version Independent ID: f1042837-8207-d07b-3d53-86ead3b6679c
* Content: [Configure the code upgrade service in Lifecycle Services (LCS) - Finance & Operations | Dynamics 365 |

[2019-06-20 10:18] carolinapadolina commented on #1275
Any update? Can't seem to set this up to any of the new environments starting around March and still. The working one we had before is already decommissioned. Can't get past the "Unauthorized" error on the app.

[2019-06-20 17:42] MadhanRamachandran opened #1397 "System.ComponentModel.Win32Exception (0x80004005): The target principal name is incorrect"
Hi,

I am getting the below error while deploying the on-premises environment from the LCS. Deployment failed.

System.Data.SqlClient.SqlException (0x80131904): A connection was successfully established with the server, but then an error occurred during the login process. (provider: SSL Provider, error: 0 - The target principal name is incorrect.) ---> System.ComponentModel.Win32Exception (0x80004

[2019-06-20 19:15] josaw1 commented on #1395
Thank you for your question. @tariqbell, can you please take a look?

[2019-06-20 19:19] josaw1 commented on #1397
Thanks for contacting us. Unfortunately, we're unable to handle Support requests for the product here. To contact Support, consider one of the options described here: [Support contact options](https://docs.microsoft.com/en-us/dynamics365/unified-operations/dev-itpro/lifecycle-services/lcs-support). In particular, you might want to go to the [Dynamics 365 for Finance and Operations community page](

[2019-06-20 19:19] #1397 closed

[2019-06-20 21:31] PeterJarret opened #1400 "LCS Asset Library Data Residency?"
Is there information anywhere about the geographic location of the LCS asset library anywhere?  In particular, where do database exports (bacpacs) reside?  I haven't been able to find a clear answer

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 53431d28-b101-57eb-84bf-738bdef09ba9
* Version Independent ID: 68aabf63-90

[2019-06-20 23:08] Helen2018 opened #1401 "No Run button"
I don't see the Run button in the background tab. It is confusing. It would be great if you can add a screenshot for reference.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a871fd9c-d6ce-b3e4-8341-ad25095dc28f
* Version Independent ID: 70a42534-b035-8e42-c330-c96f619634b0
* Content: [Configure and run job to post sta

[2019-06-21 08:49] mutsun1 opened #1402 "Obsoleted screen shot in the document."
The screen shot at “5. Change the Is Read Only property to No. This is a known issue. Eventually, the value will be set to Yes or No” in this document is obsoleted and need to update it.

![image](https://user-images.githubusercontent.com/22488411/59910313-9cc39700-944c-11e9-85f3-d8bf4e9be361.png)

Actually, “Order By” is not available for Data Entities that is describes the screen shot in this do

[2019-06-21 13:30] Anshulsr77 opened #1403 "ExportToPackage-Do we have to input the Execution ID everytime if the Data project is configured for recurring export in Dynamics 365 F&O?"
While using the ExportToPackage action in D365 F&O connector in Logic App, it is failing if the execution Id is left blank. The error says - An error has occurred.  InvokeAction - Model state is invalid.

[2019-06-21 18:09] kfend commented on #1403
Thanks for contacting us. Unfortunately, we're unable to handle Support requests for the product here. To contact Support, consider one of the options described here: [Support contact options](https://docs.microsoft.com/en-us/dynamics365/unified-operations/dev-itpro/lifecycle-services/lcs-support). In particular, you might want to go to the[ Dynamics 365 for Finance and Operations community page](

[2019-06-21 18:09] #1403 closed

[2019-06-21 21:37] manalidongre commented on #1178
This is a feature request. Please submit you idea through the ideas portal - https://experience.dynamics.com/ideas/categories/list/?category=9abeac15-80ed-e611-8101-5065f38b21f1&forum=16691718-61e2-e611-8101-5065f38b21f1

[2019-06-21 21:40] manalidongre commented on #1135
Please log a support ticket for this issue. The process is correct.

[2019-06-21 21:46] manalidongre commented on #1062
If you are having issues using the devInstall command for an Application deployable package (AOT package) then please log a support ticket. devInstall is only support for this one package type.

[2019-06-21 22:03] manalidongre commented on #1060
There are still 2 update types. For customers that are on version 8.0 and below, they still get platform updates separately and app updates are released as X++ updates. For customers that are on version 8.1 and above they get app updates as a cumulative update.

[2019-06-21 22:12] manalidongre commented on #1054
It depends on what version you are on that controls how many updates you are allowed to pause. If you are unable to pause 4 instances in the update calendar (for 2 updates total) then you might not be on the latest version. If you are on the latest version and still seeing this, please log a bug. In addition, the new policy now allows for 3 updates in total (6 instances in the calendar).

[2019-06-22 11:10] ugprashanth0912 commented on #1368
Thanks for the path. Was not familiar with this feature(relatively new feature?) and found the path was very useful. Will be good to include that in the page.

[2019-06-22 21:41] OksanaKovaliova opened #1405 "Because the rules about valid of modes of delivery are maintained only in the Retail headquarters (HQ), the POS client makes a real-time call to fetch the valid modes of delivery for a ship line."
Is this statement true?
All information about valid delivery modes is transferred via 1020 job - so it should be available for POS without real-time call to HQ.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7d02bfc4-f592-11e3-a972-d7f8f4cd021b
* Version Independent ID: 3c0135b8-128b-01a5-d9e8-b34815fd0ba0
* Content: [

[2019-06-24 09:29] tomstalentblog opened #1406 "Post needs updating for Talent"
This post was written for Dynamics 365 for Finance and Operations and needs to be updated for Talent. In F&O there is an option when adding course participants to filter for applicants or contacts. In the same form in Talent, the same filter does not exist and therefore only workers can be added to courses at present.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs

[2019-06-24 12:48] sericks007 commented on #1218
This topic has been updated.

[2019-06-24 12:48] #1218 closed

[2019-06-24 12:55] #904 closed

[2019-06-24 13:03] #1062 closed

[2019-06-24 13:04] #1054 closed

[2019-06-24 13:06] #1135 closed

[2019-06-24 13:07] #1178 closed

[2019-06-24 15:41] andreabichsel commented on #1406
Thank you for pointing this out @tomstalentblog! I updated the doc and the change should be live within the hour. Taking this opportunity to put in a plug for your blog at http://www.tomstalentblog.co.uk/ - lots of great info!

[2019-06-24 15:41] #1406 closed

[2019-06-24 18:21] RobinARH commented on #1405
@ashishmsft - Can you take a look at this? Thanks.

[2019-06-24 18:37] #1379 closed

[2019-06-24 18:43] #1383 closed

[2019-06-24 18:51] RobinARH commented on #1373
Bug 335732 created to track this issue.

[2019-06-24 18:52] RobinARH commented on #1374
Bug 335733 created to track this issue.

[2019-06-24 18:53] RobinARH commented on #1375
Bug 335734 created to track this issue.

[2019-06-24 18:54] RobinARH commented on #1376
Bug 335735 created to track this issue.

[2019-06-24 18:54] RobinARH commented on #1380
Bug 335736 created to track this issue.

[2019-06-24 18:55] RobinARH commented on #1381
Bug 335737 created to track this issue.

[2019-06-24 18:56] andreabichsel commented on #1387
I'm closing this temporarily while doing some testing, will reopen again asap!

[2019-06-24 19:52] dhruvinushah opened #1410 "How does the power bi desktop connect to AxDW database in the step 2 onwards?"
The steps make it look very easy. But can you also include the concept as to how the D365 data suddenly becomes available on '.' or local server? I have tried to think logically about this but i don't understand it clearly. Please shed some light on this topic.
Thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 691

[2019-06-24 21:06] RobinARH commented on #1375
There is no purpose of the "None" option. Is it legacy enum value that has lingered around.

[2019-06-24 21:06] #1375 closed

[2019-06-25 11:25] uzairsaleem75 opened #1412 "Not working on application release 8 platform 24 customer dev environment cloud hosted"
I tried the sql query on application release 10 PU 26 , its working fine but same process is not working on application release 8 PU 24, anyone have idea about this behaviour?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3f2a8d7e-56e8-2ef5-b7a1-4ccf54a6ce1e
* Version Independent ID: 985efdc1-7b47-ad77-4eb9-7bd9405478

[2019-06-25 12:55] tonyafehr commented on #1410
@dhruvinushah, thanks for the feedback.

@MilindaV2, please review and consider updating this topic.

[2019-06-25 12:56] tonyafehr commented on #1412
Thanks for contacting us. Unfortunately, we're unable to handle Support requests for the product here. To contact Support, consider one of the options described here: [Support contact options](https://docs.microsoft.com/en-us/dynamics365/unified-operations/dev-itpro/lifecycle-services/lcs-support). In particular, you might want to go to the[ Dynamics 365 for Finance and Operations community page](

[2019-06-25 12:56] #1412 closed

[2019-06-25 14:45] MadhanRamachandran opened #1413 "D365 Finance and Operation on-premises environment deployment"
Hi ,

I have configured the D365 FO on-premises environment and successfully deployed the D365 FO from the LCS after that i am not able to login the application it is not redirecting to the  ADFC login page.

I checked LCS, Service Fabric, AOS Event, ORCH events and I don't see any problem.

Please advice on the same.

[2019-06-25 14:47] tonyafehr commented on #1413
We're unable to handle Support requests for the product here. To contact Support, consider one of the options described here: [Support contact options](https://docs.microsoft.com/en-us/dynamics365/unified-operations/dev-itpro/lifecycle-services/lcs-support). In particular, you might want to go to the[ Dynamics 365 for Finance and Operations community page](https://community.dynamics.com/) to get h

[2019-06-25 14:47] #1413 closed

[2019-06-25 15:07] ChrisGarty commented on #1374
Removed the account info: https://github.com/MicrosoftDocs/dynamics-365-unified-operations-public/pull/1415

[2019-06-25 16:05] l-bri opened #1418 "Module(s)ToRemove.txt"
The documentation specifies the file name as "ModuleToRemove.txt"
LCS validation for the deployable package will fail unless you name the file "ModulesToRemove.txt"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3565b319-747b-2aa4-36f0-6296adf930fb
* Version Independent ID: 847c2a77-9613-33ad-4455-bda3924b4286
* Conten

[2019-06-25 16:29] #1374 closed

[2019-06-25 17:46] tonyafehr commented on #1418
Thank you for the feedback. I will update the topic accordingly.

@robadawy, please note that the topic will be updated to reflect this.

[2019-06-25 20:46] lachlancashMS commented on #1282
@SimonHoey when you say publish are you referring to the price simulation or printing out a quote confirmation ? Either way we still have line level prices.

[2019-06-25 23:08] robadawy commented on #565
We do not officially support this scenario. The AOS is a standard web application. If you need to enable access to a local VM via the browser, you are an administrator on the box and have access to configure as you wish, including security.

[2019-06-25 23:12] robadawy commented on #664
Standard extension patterns do not support this request via metadata extension.

[2019-06-25 23:22] robadawy commented on #1381
Apply a license via LCS (the same way you do for production environments) when you don't have admin access on the box. The article needs some cleanup.

[2019-06-26 12:46] #664 closed

[2019-06-26 12:46] sericks007 commented on #1387
Bug 336501 has been logged to track this issue.

[2019-06-26 12:50] sericks007 commented on #1391
Bug 336503 has been logged to track this issue.

[2019-06-26 14:38] MadhanRamachandran opened #1422 "D365 On-Premises Installation"
Hi,

I comleted production and sandbox environment installation.
I can sign in  and using sandbox environment, But I can't sign in production.

ADFS login page not open for production.

In ADFS Server:
I have 2 application, and check application link. Its correct.
I checked production topology.xml and I dont have a problem for ADFS Production App.

I checked LCS, Service Fabric, AOS Event, ORCH ev

[2019-06-26 14:39] MadhanRamachandran opened #1423 "D365 Finance and Operation On-Premises Installation"
Hi,
I completed production and sandbox environment installation.
I can sign in  and using sandbox environment, But I can't sign in production.

ADFS login page not open for production.

In ADFS Server:
I have 2 application, and check application link. Its correct.
I checked production topology.xml and I dont have a problem for ADFS Production App.

I checked LCS, Service Fabric, AOS Event, ORCH ev

[2019-06-26 14:45] sericks007 commented on #1422
Thanks for contacting us. Unfortunately, we're unable to handle Support requests for the product here. To contact Support, consider one of the options described here: [Support contact options](https://docs.microsoft.com/en-us/dynamics365/unified-operations/dev-itpro/lifecycle-services/lcs-support). In particular, you might want to go to the [Dynamics 365 for Finance and Operations community page](

[2019-06-26 14:45] #1422 closed

[2019-06-26 14:46] sericks007 commented on #1423
Thanks for contacting us. Unfortunately, we're unable to handle Support requests for the product here. To contact Support, consider one of the options described here: [Support contact options](https://docs.microsoft.com/en-us/dynamics365/unified-operations/dev-itpro/lifecycle-services/lcs-support). In particular, you might want to go to the [Dynamics 365 for Finance and Operations community page](

[2019-06-26 14:46] #1423 closed

[2019-06-26 16:36] ptansey opened #1424 "Out of date instructions"
In the section Register the App, #4 refers to Required Permissions when I believe it should be API Permissions
#8 Keys isn't there, it should be Certificates and Secrets

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 48cf34e5-5de2-319c-c709-f06ea8fe4164
* Version Independent ID: 1b04f148-d442-f72b-a3b9-3eb4ede9f719
* C

[2019-06-26 18:12] johnnystruck opened #1425 "Please note what version or platform this is available on"
Documentation does not include.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6549a2b0-9d82-c1a7-9d2c-e64c87d4cd90
* Version Independent ID: 086760ed-feec-e9c9-94e6-24d4ea666719
* Content: [Feature management overview - Finance & Operations | Dynamics 365 | #MSDyn365FO](https://docs.microsoft.com/en-us/dynamics365/uni

[2019-06-26 18:20] mikefalkner commented on #1425
It was first available in PU27/10.0.3. More changes are coming to add to the capability.  This document is updated when the feature is available in a shipping platform version.

[2019-06-26 18:24] #1425 closed

[2019-06-26 18:27] sericks007 commented on #1424
@ptansey, thanks for making us aware of this!

@MilindaV2, please review and update the content accordingly.

[2019-06-26 21:47] #1381 closed

[2019-06-27 01:49] yoison opened #1426 "Request to add values of encrypted fields to the list in Document the values of encrypted fields"
A partner in Japan reports us the two values of encrypted fields below and requests to add  them to the list in Document the values of encrypted fields.

**Field name**	**Where to set the value**
PersonnelIntegrationConfiguration.STORAGEACCOUNTCONNECTIONSTRING	Select **System administration** > **Setup** > **Integration configuration** > **Azure storage account connection string**.

BIMEASUREMENTP

[2019-06-28 11:02] eSBe-365 commented on #1352
Also, there isn't a "Pause Update" option that switches to "On" and "Off"
There is a random toggle that is "Yes" and "No"

[2019-06-30 08:07] vavd opened #1431 "Run configuration validation and template details are not described on this page"
Hello,

The template functionality has the "Run configuration validation" buttons on top of the page and in the "Template details" section. Could you give info how it was intended to use this feature.

It is not obvious for what the "Template details" section is for. How is to use this section? Please give more info.

Thank you

---
#### Document Details

⚠ *Do not edit this section. It is require

[2019-06-30 16:09] yusufghazi commented on #1366
This is resolved now. Links are working.

[2019-07-01 05:16] tariqbell commented on #1395
Hi @soerenpc could you elaborate a bit for us please? Merging branches in itself doesn't stop you checking in.

[2019-07-01 05:50] soerenpc commented on #1395
Sorry I meant;
"After the Merge I assume the code should not be checked in?"

[2019-07-01 06:01] tariqbell commented on #1395
Why do you think you shouldn't check it in? Typically you're completing all the uodate/upgrade work in the releases branch, when you're happy all is good, then you that Releases branch back into Main, check in, Main becomes the active branch again. If you keep working in Main while the Releases work is happening then it gets more complex, because Main will have some more new code, but when merging

[2019-07-01 06:11] soerenpc commented on #1395
Hi Tariq

But if I want to work on the Release branch then I need to map it was will I assume?

[cid:image001.png@01D52FE4.5388F070]

For now I had to merge it into Main (which is mapped):
[cid:image002.png@01D52FE4.5388F070]

I have seen this:
[cid:image003.png@01D52FE4.8D0483F0]

But it doesn’t mention that you need to map the Release folder?

Regards / Mvh, Søren Printz Christensen, Partner,+45

[2019-07-01 07:26] tariqbell commented on #1395
Actually, the code upgrade service is used when upgrading from a pre-8.0 version - because in those earlier versions where we still had overlayering, the code upgrade service could help with model splitting/merging.

When you#re upgrading from one of those earlier versions - your development environment - it can't be upgraded, you had to deploy a new one. For example:

I'm currently running 7.3, I

[2019-07-01 08:15] soerenpc commented on #1395
Hi Tariq

My scenario is from Ax2012!
The article has been written to support that as well:
[cid:image001.png@01D52FF5.F0B38ED0]

Regards / Mvh, Søren Printz Christensen, Partner,+45 2447 6425

From: Tariq Bell <notifications@github.com>
Sent: 1. juli 2019 09:27
To: MicrosoftDocs/dynamics-365-unified-operations-public <dynamics-365-unified-operations-public@noreply.github.com>
Cc: Søren Printz Chr

[2019-07-01 08:21] tariqbell commented on #1395
ah ok. If you're upgrading from AX2012, then merging back into Main and checking in, or working in the Releases branch directly and merging back later, make no difference - because the incoming code is the first version of your code for D365FFO so you won't break anything by checking in - the code probably won't work yet if you haven't already completed all the upgrade work, but it can still be us

[2019-07-01 10:00] MariaChikitkina opened #1435 "Special application usage pattern"
It is mentioned that using a special application usage pattern for the number sequences is not recommended. What is the reason and is there any alternative for the General ledger journal's voucher series?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 83b8224a-e177-034e-734b-f8fa1720cb68
* Version Independent ID: 3f407

[2019-07-01 11:24] soerenpc commented on #1395
Hi

Yes so as I wrote. No need to check in after merging Main of elements later are move to a different model or if an element overlayers..

Regards / Mvh, Søren Printz Christensen, Partner,+45 2447 6425

From: Tariq Bell <notifications@github.com>
Sent: 1. juli 2019 10:22
To: MicrosoftDocs/dynamics-365-unified-operations-public <dynamics-365-unified-operations-public@noreply.github.com>
Cc: Søren

[2019-07-01 11:47] tariqbell commented on #1395
I'm not sure I'm understanding your point? Is it wrong for the article to say that after merging the branches you should check in? We're expecting to work in Releases\.. and then when code is completed, merge back to Main and check in.

The only thing that really matters is not to put too much effort into the code without checking in, so you dknt lose what you've done.

[2019-07-01 11:54] FH-Inway opened #1436 "Add documentation for existing best practice rules"
This seems to be the only place in the documentation on best practice rules. I suggest to add another page/section that details the existing best practice rules with information on when or how they can/should be suppressed. Basically an update for D365 of the existing documentation for AX 2012: https://docs.microsoft.com/en-us/dynamicsax-2012/developer/best-practices-for-microsoft-dynamics-ax-deve

[2019-07-01 13:39] tonyafehr commented on #1431
@vavd, thanks for the feedback.

@mikefalkner, please review and update the content accordingly.

[2019-07-01 13:47] tonyafehr commented on #1436
@FH-Inway, thanks for feedback and for providing examples.

@pvillads, please review and update the content accordingly.

[2019-07-01 13:50] tonyafehr commented on #1435
@MariaChikitkina, thank you for noting this.

@sericks00, please review and update the content accordingly.

[2019-07-01 13:59] SysC0mp opened #1437 "Update X++ system element documentation"
Is there a schedule on when all the missing pieces in the documentation will be added/updated? (e.g. missing method descriptions, missing parameter information)
There is often only the method name and parameters available which has not much-added value to the information provided in Visual Studio.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitH

[2019-07-01 14:01] pvruyske opened #1438 "Configure worker account: Time registration tab not in instructions"
"Activate on registration terminals" and all other fields under the Time registration FastTab have been moved to the new Time registration tab. It's no longer situated under the Employment tab as stated in the text.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5c9cb448-e8e6-e8e8-401f-7dc1f456df49
* Version Independen

[2019-07-01 14:12] tonyafehr commented on #1405
Bug 337704 has been logged to track this issue.

[2019-07-01 14:15] tonyafehr commented on #1410
Bug 337705 has been logged to track this issue.

[2019-07-01 14:20] tonyafehr commented on #1437
@SysC0mp, thanks for your inquiry.

@RobinARH, please review and provide an update if possible.

[2019-07-01 14:42] meneksesaygili opened #1439 "Wrong job id"
Hi,
I think that it shouldn't be 1040 job. It should be 1070.
"Select the 1040 distribution schedule to sync the new hardware station to the store. Click Run now to sync changes to the POS."
Regards,
Menekse

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a23ac4f5-a8fd-ce83-2f3e-0912d95579d9
* Version Independent ID: 5a

[2019-07-01 14:52] tonyafehr commented on #1439
@meneksesaygili, thank you for the feedback.
@rubencdelgado, please review and update the topic if needed.

[2019-07-01 15:10] #1366 closed

[2019-07-01 18:16] sericks007 commented on #1435
@chrisgarty, please review and update the content accordingly.

[2019-07-01 18:36] tonyafehr commented on #1438
@pvruyske, thanks for the feedback.

@josaw1, please review and decide if action needs to be taken to update this topic.

[2019-07-01 21:35] #1060 closed

[2019-07-02 10:47] carbage opened #1441 "[Acceptance Test Library] Errors after generating Entity/Query/Spec"
When I select a table and generate code, I get a number of errors e.g. he class or interface 'AtlQueryBase' does not exist.

I have made sure to add all the ATL modules as references to the one I am working with - to no avail. I may be missing something but have not seen such errors documented anywhere. Please advise

[2019-07-02 12:55] boltlol opened #1442 "Exported file when choosing XML-Element"
Is the BlobStorage file supposed to be in an xlsx format even when choosing xml-element as the export format in data management? At least the xml-element and xml-attribute format generates an xml file which is not readable but when changing the file ending to xlsx it is readable with excel.  ((When will fin&ops support exporting files to Json?))

---
#### Document Details

⚠ *Do not edit this sect

[2019-07-02 13:19] tonyafehr commented on #1441
Thanks for contacting us. Unfortunately, we're unable to handle Support requests for the product here. To contact Support, consider one of the options described here: [Support contact options](https://docs.microsoft.com/en-us/dynamics365/unified-operations/dev-itpro/lifecycle-services/lcs-support). In particular, you might want to go to the [Dynamics 365 for Finance and Operations community page](

[2019-07-02 13:19] #1441 closed

[2019-07-02 13:40] tonyafehr commented on #1442
@andreabichsel, please review and consider updating this topic based on this feedback.

Meanwhile, to contact Support, consider one of the options described here: [Support contact options](https://docs.microsoft.com/en-us/dynamics365/unified-operations/dev-itpro/lifecycle-services/lcs-support). In particular, you might want to go to the [Dynamics 365 for Finance and Operations community page](http

[2019-07-02 14:02] boltlol commented on #1442
Solved my issue. ExecutionId pointed to an old temp file which was exported earlier as xlsx. recreated job as xml export with new executionid. worked like a charm. Sorry!

[2019-07-02 14:02] #1442 closed

[2019-07-02 14:51] oathgg opened #1443 "Broken link "Resolve conflicts using Visual Studio""
Refers to https://mix.office.com/watch/1rl75ei2cs6d7, which I presume is the wrong link.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a99b65e1-360c-5bf6-4f7d-e03cce1eed65
* Version Independent ID: 9aa6e121-7694-1f8e-c51b-301162bac7db
* Content: [Develop and customize - Finance & Operations | Dynamics 365 | #MSDyn365F

[2019-07-02 16:12] tonyafehr commented on #1443
@oathgg, thanks for the letting us know about the link. It used to point to an Office Mix, which is no longer supported media, so this is why the link points to information about end of service for Office Mix. We'll look into finding an alternative resource. In the meantime, I will remove the link from this topic.

@RobinARH, please review and consider possible solutions.

[2019-07-02 16:16] andyNewnham opened #1444 "Prerequisites no longer accurate"
As of last month, there is no longer a need to raise a support request, with the 5 day lead time. (Point 2). I believe the Retail Manage button is now available for all Prod and Tier 2 environments.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 31badb53-af9c-66c6-7408-58d481fa228c
* Version Independent ID: b098b405-95

[2019-07-02 16:28] tonyafehr commented on #1444
@andyNewnham, thanks for commenting on the information in this topic.

@AamirAllaq, please consider revising this topic based on this feedback.

[2019-07-02 19:13] sericks007 commented on #776
The content has now been updated.

[2019-07-02 19:13] #776 closed

[2019-07-02 19:17] sericks007 commented on #777
This topic has now been updated.

[2019-07-02 19:17] #777 closed

[2019-07-02 19:17] sericks007 commented on #778
This topic has been updated.

[2019-07-02 19:17] #778 closed

[2019-07-02 19:18] sericks007 commented on #779
This topic has been updated.

[2019-07-02 19:18] #779 closed

[2019-07-02 19:20] sericks007 commented on #1046
This topic has been updated.

[2019-07-02 19:20] #1046 closed

[2019-07-02 19:24] sericks007 commented on #1251
The [Get notified about service updates through Lifecycle Services (LCS)](https://docs.microsoft.com/en-us/dynamics365/unified-operations/dev-itpro/lifecycle-services/notifications-service-updates) topic as been updated based on this issue.

[2019-07-02 19:24] #1251 closed

[2019-07-02 19:26] #769 closed

[2019-07-03 06:49] MarkusFogelberg commented on #1370
The code shown in this guide is in the product today. You can view it on your own with a dev environment, this is a better approach if you need to copy the code to new classes.

[2019-07-03 07:12] MarkusFogelberg commented on #1371
Adding to WHSWorkActivity is needed if the new menu item you create should be shown under indirect activities when configuring the menu item from the mobile device menu item page. As the “Start production order” was an existing process that was refactored to be a process guide, it was already existing in this enum. This guide mainly is about the change in business logic and user interface building

[2019-07-03 07:53] FH-Inway commented on #1371
I appreciate the background information on how the article came to be. For me as someone who implemented a new process using this guide, it came as a suprise that it did not contain all the information necessary to do so (this seems to be implied by the section titled "Building a new process using the ProcessGuide framework"). I think the guide would benefit if it would state clearly what you say

[2019-07-03 07:59] FH-Inway commented on #1370
Thanks for the feedback. I used the guide to implement a new process and would have found it easier if I had been able to copy the code directly from the guide. But as I mentioned in the issue description, the main issue is that the different styles of the code snippets makes reading and understanding the guide harder than it needs to be.

[2019-07-03 12:38] sericks007 commented on #1424
Bug 338389 has been logged to track this issue.

[2019-07-04 03:43] MarkerMarked opened #1451 "Build requires use of the installed package's descriptor"
When following the guide, on adding the package's files to source code I left out the 'XppMetadata' and 'Descriptor' as instructed. However on running a build in VSTS, I hit an error "Error generating build projects". This was due to my new model being referenced from another, and the new model was not found.
On checking in the descriptor file, I restarted the build which completed successfully. I

[2019-07-04 14:57] Henrik-Grender commented on #1147
Unfortunately, this doesn't work for me, No port is created in F&O. Are there any other prerequisites? I am running Update 27 (10.0.0.3).

[2019-07-04 15:26] Henrik-Grender opened #1453 "Nested contracts"
Is there any way to make nested contracts, in the sense of having one member returning a list or array of invoice lines. If not, it isn't particuarly useful, and do you have any plans to add this type of support?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: be8eb23c-c09a-00c0-1dae-dc7e57484339
* Version Independent I

[2019-07-04 19:25] RakeshDataAnalytics opened #1454 "Getting error 500 after changes in config file"
DYNAMICS 365 Finance and OPERATIONS DEBUG UAT DB ON DEV

Hi I followed the steps mentioned by you, and i am able to connect to SB DB from DEV environment.

I am getting below error:

There is a problem with the server
Sorry, the server has encountered an error. It is either not available or it can't respond at this time. Please contact your system administrator.

Error 500.

Can you please suggest

[2019-07-05 05:48] johnhenryboco opened #1456 "“BusinessEventsBundleBatchProcessor “ is not existing from the batch job UI"
Hi Experts.

In Platform Upgrade 27, I see that you guys revised the rules on how the business event is being triggered. Currently i created a customization in which after running the business events batch job (this batch job gets data from the BUSINESSEVENTSCOMMITLOG table), an MS Flow Business event will be triggered and sends an email. However, I'm trying to digest on what do you mean by this s

[2019-07-05 09:26] RakeshDataAnalytics commented on #943
Hi Am getting below error after following above steps, please suggest.

Exception information:
    Exception type: HttpCompileException
    Exception message: k:\AosService\WebRoot\App_Code\LocalizationController.cs(89): error CS0103: The name 'WebClientEventSource' does not exist in the current context
   at System.Web.Compilation.AssemblyBuilder.Compile()
   at System.Web.Compilation.BuildProvid

[2019-07-05 12:29] anboudin opened #1461 "UK scenario where Reverse charge should be setup for correct VAT report"
Reverse charge should be setup on specific scenario
* Domestic reverse charge.
Purchase of UK services, Gold, Computers chips, Mobile phone.
* European service purchase

For European goods (item) purchase, Use tax should be activated on sales tax group.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 63712d8a-5d39-7e12-

[2019-07-05 13:50] SAGDAVIDAD opened #1462 "End of life"
Hello Team,
In this article you mentioned "Microsoft will support the Dynamics 365 for Finance and Operations (on-premises) software through December 31, 2027" it means that after this date Microsoft will no longer provide D365FO on-premise and customers will have to switch to the cloud solution?
Thank you and best regards.

---
#### Document Details

⚠ *Do not edit this section. It is required fo

[2019-07-05 14:15] Sunil-Behera opened #1463 "Value is blank when working with POSTMAN"
Tried all the steps exactly identical to the post. It worked. But I am not getting the value.

{
  "@odata.context": "D365URL/data/$metadata#Customers(CustomerAccount,Name,AddressDescription,FullPrimaryAddress)",
  "value": []
}

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 221bcbdf-2c16-ee9d-f289-75980e35b17a
* Versi

[2019-07-05 18:14] axaeffect commented on #1410
Has this issue resolved?
I'm getting error "Failed to publish Power BI reports..." everywhere.
Thanks!

[2019-07-07 12:09] macchinettid opened #1464 "Unable to get extract setup folder issue"
Another way to solve the "Unable to get extract setup folder" issue is to close ALL Open Files against the File Server related the Asset\WP shared Folders

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d86d2857-6199-f3cb-208b-db4e1cd9f8e2
* Version Independent ID: d425ad9e-6c01-6145-dad5-2af32ffaaff0
* Content: [Troubl

[2019-07-08 08:24] SysC0mp opened #1466 "Primary form pattern instead of secondary"
The pattern described here is a primary form pattern for dialogs (Dialog - Advanced Selection), no secondary one.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d157ade9-9964-cb69-e4f7-68ed3172a137
* Version Independent ID: 3f769aca-565e-8c75-f275-02fbf6fe4cc3
* Content: [Advanced selection form pattern - Finance & Ope

[2019-07-08 08:25] SysC0mp opened #1467 "Example uses form pattern "Custom""
The example given here (ProcCategoryAddVendor) has form pattern "Custom" assigned and could therefore be misleading.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d157ade9-9964-cb69-e4f7-68ed3172a137
* Version Independent ID: 3f769aca-565e-8c75-f275-02fbf6fe4cc3
* Content: [Advanced selection form pattern - Finance &

[2019-07-08 13:15] kfend commented on #1454
Thanks for contacting us. Unfortunately, we're unable to handle Support requests for the product here. To contact Support, consider one of the options described here: [Support contact options](https://docs.microsoft.com/en-us/dynamics365/unified-operations/dev-itpro/lifecycle-services/lcs-support). In particular, you might want to go to the [Dynamics 365 for Finance and Operations community page](

[2019-07-08 13:15] #1454 closed

[2019-07-08 15:50] ZakMak9 opened #1468 "Filter Power BI Embedded data"
How is possibile to filter PBIE data in D365 by code?
I want to filter data something like:
_**PBIReportHelper::initializeReportControl('PBIX Name', powerBIReportGroup, '', true, true, ADD_MY_FILTERS_HERE);**_

I tried to create a filter in thi way:
 _List filter = new List(types::String);
filter.addEnd("DimUser/NAME eq 'User Name'");_

adding it to code above but it seems not working.

thank you

[2019-07-08 22:34] RobinARH commented on #1464
Thanks for the tip!

[2019-07-08 22:34] #1464 closed

[2019-07-08 22:36] RobinARH commented on #1467
@jasongre Can you take a look? Thanks.

[2019-07-08 22:36] RobinARH commented on #1463
@Sunil-Garg Can you take a look? Thanks.

[2019-07-08 22:36] RobinARH commented on #1466
@jasongre Can you take a look? Thanks.

[2019-07-08 22:39] RobinARH commented on #1468
@TJVass Can you take a look? Thanks.

The PBIReportHelper is mentioned on this page: https://docs.microsoft.com/en-us/dynamics365/unified-operations/dev-itpro/analytics/add-analytics-tab-workspaces

[2019-07-09 13:14] tonyafehr commented on #1431
Bug 340048 has been logged to track this issue.

[2019-07-09 13:17] tonyafehr commented on #1435
Bug 340050 has been logged to track this issue.

[2019-07-09 13:19] tonyafehr commented on #1436
Bug 340055 has been logged to track this issue.

[2019-07-09 13:21] tonyafehr commented on #1437
Bug 340058 has been logged to track this issue.

[2019-07-09 13:24] tonyafehr commented on #1438
Bug 340060 has been logged to track this issue.

[2019-07-09 13:25] tonyafehr commented on #1439
Bug 340062 has been logged to track this issue.

[2019-07-09 13:27] tonyafehr commented on #1443
Bug 340065 has been logged to track this issue.

[2019-07-09 13:29] tonyafehr commented on #1444
Bug 340067 has been logged to track this issue.

[2019-07-09 15:50] mikefalkner commented on #1431
The menu item takes either a template (if you come from the top menu) or a single entity (if you come from Template Details > Run Configuration Validation) and checks for any dependencies on that entity. It looks for dependencies that should exist and don’t; dependencies that don’t exist and should; and dependencies which exist across two different entities and can be shared.

The dependencies the

[2019-07-09 16:05] #1431 closed

[2019-07-09 17:21] RobinARH commented on #1437
Hi - At this time, we do not plan to backfill the reference documentation. If you have questions about a particular API, let us know your scenario and we can track down some additional documentation. -Robin

[2019-07-09 17:21] #1437 closed

[2019-07-09 17:44] vavd opened #1474 "Example 1: Transactions – dynamic period seesm wrong"
Hello,

Could you review the example "Example 1: Transactions – dynamic period."

https://docs.microsoft.com/en-us/dynamics365/unified-operations/supply-chain/master-planning/reduction-keys#example-1-transactions--dynamic-period

The planned orders look like wrong there.

They should be:
January 1		500	Forecast requirements (= 1,000-500)
January 15	500	Sales orders requirements
February 1	400	Fore

[2019-07-09 18:30] tonyafehr commented on #1474
@vavd, thank you for noting this. We will investigate to determine if the topic needs to be updated.
@ChristianRytt, please review this feedback and consider making updates, if needed.

[2019-07-09 19:19] ChristianRytt commented on #1474
@vavd  You are absolutely right, there is an error in the numbers. I have updated the forecast and sales order qty to match the result in the example. So now Jan and Feb forecast are both 1,000; Jan sales 200 and Feb sales 400. Giving the original result in the example.

[2019-07-09 19:20] #1474 closed

[2019-07-09 23:22] RobinARH commented on #1370
Hi - I converted the images to text so that you can cut-and-paste. The new content will be available in the next couple of days. -Robin

[2019-07-09 23:22] #1370 closed

[2019-07-10 05:55] DKobayashi-ykgw opened #1478 "Pause policy is old"
Please update the pause policy according to other docs page [Pause service updates through Lifecycle Services (LCS)](https://docs.microsoft.com/en-us/dynamics365/unified-operations/dev-itpro/lifecycle-services/pause-service-updates).

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 14372486-6284-da4b-6bbb-30acd36dd7de
*

[2019-07-10 12:59] sericks007 commented on #1478
@DKobayashi-ykgw, thanks for pointing this out!

@Manalidongre, please update the information about pausing service updates found in the [One Version service updates FAQ](https://docs.microsoft.com/en-us/dynamics365/unified-operations/fin-and-ops/get-started/one-version) topic.

[2019-07-10 13:46] tonyafehr commented on #1439
This is correct. The document will be updated in the next few days.

[2019-07-10 13:46] #1439 closed

[2019-07-10 17:00] RobinARH commented on #1209
We published an update to the topic.

[2019-07-10 17:00] #1209 closed

[2019-07-10 17:11] jorisdg commented on #1451
Adding the descriptor file will result in the build compiling the whole package. This is a different intention than adding binaries from a third party. The documentation is entirely correct and has been followed by many customers.
Please review your intention: are you adding third-party source code? Than follow the "models from third parties" section. Do you have binaries from a third party which

[2019-07-10 17:23] #1451 closed

[2019-07-11 04:46] dynsm commented on #1043
Does this functionality allow for PO line matching?  If so how is this done or is there a detailed specification that describes the functionality and process?

[2019-07-11 12:39] abruer commented on #1043
The document attachment itself is not a part of the invoice matching validation process. To learn more about the invoice matching validation that is available in the product, please refer to the topics contained in the "Accounts payable invoice matching" documentation.

[2019-07-11 16:27] turbozapekanka opened #1481 "Hourly paid workers setup"
This page says "Generate earnings from schedule is typically used for hourly workers".
But Schedule it not actual hours. How does this work?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d3216e38-e51c-8994-7926-927ac70e0479
* Version Independent ID: 3004dfcc-d399-9f73-7ca4-756e48789dd4
* Content: [Set up payroll for w

[2019-07-11 21:42] josaw1 commented on #1438
This is fixed.

[2019-07-11 21:42] #1438 closed

[2019-07-12 15:20] ChrisHaleyAvanade opened #1483 "Old references"
This article still refers to TFS in the 'generate a gap analysis' header (should be DevOps) and 'AX 2012' in the Unconnected flowcharts section (should be Fin & Ops)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3e08b918-421f-e740-01c9-a1a274ee360b
* Version Independent ID: 9223490a-d88d-4509-2a09-9ffdfcf8d18b
* Conte

[2019-07-12 16:36] kfend commented on #1462
@sarvanisathish - Sarvani, can you address this question? Thanks!

[2019-07-13 10:13] Lexie1919 opened #1485 "Duplicate words"
Right under "Benefit elements", the sentence "Before you begin to create to create benefits ", there is duplicate "to create" here

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ded76cad-76b2-c8ce-1ed7-388446790253
* Version Independent ID: fc8622be-0f81-e6fb-0e69-18680c1592c1
* Content: [Define and manage a benefits p

[2019-07-14 08:23] MZade opened #1486 "List of supported OData operations is not present"
It would be great if the list of supported OData operators is present in the documentation.
i.e. the "startswith" is not present (verified on PU27).

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 64b023ab-59fb-87d9-d935-d60d0e9e4139
* Version Independent ID: 10120c96-a72d-60fd-63ff-db9f77e05817
* Content: [Open Data Pr

[2019-07-15 10:34] AndrewJonesA1X opened #1487 "Example user mapping file is incorrect"
In the User Mapping section, an example of the import file is shown. If you import that file as-is, the first entry (AaronE) will be dropped, as the import expects a header row.

The file should look like this:
_UserId, Email
AaronE, aarone@contoso.com
AaronP, aaronp@contoso.com_
and so on...

[2019-07-15 11:29] vglu opened #1488 "use type from d365fo instead of general type var"
[Enter feedback here]

var mainMenu = SysDictMenu::newMainMenu();
var enum = mainMenu.getEnumerator();
var found = false;
while (enum.moveNext())
{
    var menuItem = enum.current();
    if (menuItem.label() == "StringOfInterest")
    {
        found = true;
        break;
    }
}
if (found)
{
    // do something
}

May we use more D365FO style for description code, please? Use native ax types ins

[2019-07-15 13:42] tonyafehr commented on #1485
@Lexie1919, thanks for pointing out this typo, we'll be sure to get it fixed.

[2019-07-15 13:49] d47447 opened #1489 "'Organize project by element type' option reset every time"
Hello,

I am using below version

Installed product version : Microsoft Dynamics 365 for Finance and Operations (10)
Installed platform version : Update24 (7.0.5179.35390)

with this update visual studio option for setting  Organize project by element type is resetting every time I restart the VM.
Now I have to check this box everytime when I restart my VM which is not expected.
(this option avail

[2019-07-15 15:25] nazmolla opened #1490 "Certificate expiry"
What happens when the ISV License certificate expires? I understand that for new customers we will need to issue the license using the new certificate, but what about existing customers,do we need to reissue new licenses or the old one would keep working?, especially that with new updates they will get the new certificate in the model??

[2019-07-16 00:09] RobinARH commented on #1486
@Sunil-Garg Can you take a look? Thanks.

[2019-07-16 00:11] RobinARH commented on #1487
@AndrewJonesA1X Can you tell me which topic you are talking about? Thanks.

[2019-07-16 00:16] RobinARH commented on #1488
Thanks for the feedback. The use of "var" is within our guidelines for the use of "var": https://docs.microsoft.com/en-us/dynamics365/unified-operations/dev-itpro/dev-ref/xpp-variables-data-types#var. Initializing variables, even if the default works in a particular situation, is considered good coding. I plan to leave the example as is for now. - Robin

[2019-07-16 00:16] #1488 closed

[2019-07-16 00:20] RobinARH commented on #1489
Thanks for contacting us. Unfortunately, we're unable to handle Support requests for the product here. To contact Support, consider one of the options described here: [Support contact options](https://docs.microsoft.com/en-us/dynamics365/unified-operations/dev-itpro/lifecycle-services/lcs-support). In particular, you might want to go to the [Dynamics 365 for Finance and Operations community page](

[2019-07-16 00:20] #1489 closed

[2019-07-16 00:22] RobinARH commented on #1490
@robadawy Can you take a look at this one? Thanks.

Also, you might find some relevant information in this topic: https://docs.microsoft.com/en-us/dynamics365/unified-operations/dev-itpro/dev-tools/isv-licensing

[2019-07-16 00:25] RobinARH commented on #1463
Created bug 341559 to track this issue.

[2019-07-16 00:27] RobinARH commented on #1466
Bug 341560 created to track this issue.

[2019-07-16 00:29] RobinARH commented on #1467
Bug 341561 created to track this issue.

[2019-07-16 00:31] RobinARH commented on #1468
Bug 341562 created to track this issue.

[2019-07-16 01:50] nazmolla commented on #1490
This is actually where I started from
The problem is it doesn’t describe what happens when the certificate expires. And with D365FO being updated so often, we will need to rebuild our solution so often as well and it doesn’t make sense to keep multiple  parallel tracks or branches to hold each of the expired certificates so our customers won’t need new licenses
And it also is not convenient to rei

[2019-07-16 07:01] SAGDAVIDAD commented on #1462
Any news?

[2019-07-16 13:50] sannidhianjaneyulu opened #1494 "External web service is accepting static IP, how to achieve in D365 FFO in production"

[2019-07-16 13:55] tonyafehr commented on #1494
Which topic are you referring to?

To contact Support, consider one of the options described here: [Support contact options](https://docs.microsoft.com/en-us/dynamics365/unified-operations/dev-itpro/lifecycle-services/lcs-support). In particular, you might want to go to the [Dynamics 365 for Finance and Operations community page](https://community.dynamics.com/) to get help with your questions fro

[2019-07-16 14:13] sannidhianjaneyulu commented on #1494
Hi
we need to  consuming external  SOAP service from Dynamics 365 for finance and operations. SOAP provider is accepting request from static IP, but Dynamics 365 environment is hosted in azure  and IP will change frequently. SOAP provider will not have the option for DNS white-list. Need to provide static IP to them. Please advice how to achieve this.

[2019-07-16 14:16] tonyafehr commented on #1494
We're unable to handle Support requests on this site. Please contact Support for your questions. If you have a question or feedback about content in a particular topic, we need to know which topic you are referring to.

[2019-07-16 14:19] #1494 closed

[2019-07-16 14:55] dferris87 opened #1495 "Details about Failed Updates"
If the Microsoft update fails for a Tier-2 environment, will Microsoft still try and apply the same update to the Production environment?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 14372486-6284-da4b-6bbb-30acd36dd7de
* Version Independent ID: f8301c48-61db-e9e5-aba5-413528cd91d2
* Content: [One Version service upd

[2019-07-16 16:07] tonyafehr commented on #1495
We're unable to handle Support requests on this site. Please contact Support or the Communities site for questions like this. To contact Support, go to [Support contact options](https://docs.microsoft.com/en-us/dynamics365/unified-operations/dev-itpro/lifecycle-services/lcs-support). Or go to the [Dynamics 365 for Finance and Operations community page](https://community.dynamics.com/) to get help

[2019-07-16 16:35] dferris87 commented on #1495
Thank you for the feedback. However, I'm not looking for the cause of an update failure. The article above mentions this:
[code]
I would like to know if a failure happens on a Tier-2 environment when Microsoft tries to apply the update, will Microsoft still try and apply the update to a Production environment? I think that this a valid question for this article and am asking for more details relat

[2019-07-16 16:39] tonyafehr commented on #1495
@dferris87, thanks for the additional info.
@meeramahabala, please review this feedback and consider updating this topic.

[2019-07-16 16:59] andreabichsel commented on #1485
Updated topic, which should be live in a few minutes. Thanks for catching that!

[2019-07-16 16:59] #1485 closed

[2019-07-16 20:00] valerymoskalenko commented on #1369
Any updates on this?

[2019-07-16 21:18] robadawy commented on #1159
The process works with merged package. Any failure related to this should go through standard support.

[2019-07-16 21:23] #1159 closed

[2019-07-17 07:51] lemcheyWhite opened #1501 "Limitation for CoC methods for "Form data fields""
Hi, Is there any limitation which methods of form data fields could be wrapped by CoC?
"Validate" method from example works fine, but I tried to wrap "lookup" method and looks like CoC doesn't work for this method.

The code below compiles without any issues\errors, but the system doesn't hit it.

[ExtensionOf(formdatafieldstr(FormToExtend, DataSource1, Field1))]
final class FormDataField1_Extensi

[2019-07-17 08:03] ransoentjens opened #1502 "Difference between Gift card & Loyalty card in offline scenario"
How come it is possible to pay with a gift card in offline mode, but not with a loyalty card? Both cards have the same nature. What is the reasoning behand this?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 84a66cd0-7e3f-0509-6450-723cac39513c
* Version Independent ID: c24d3787-026f-9441-30a9-5067c89442e7
* Content:

[2019-07-17 08:05] FH-Inway commented on #1370
Thank you, looks good now.

[2019-07-17 08:07] SysC0mp opened #1503 ""FiscalCalendars" form isn't using tree control as navigation"
The "FiscalCalendars" form is no longer using a tree control as navigation, so the example should be updated.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7797247c-98f1-f2b5-bf68-beabfac7d8f1
* Version Independent ID: 645a6a59-7f30-6ae3-a28d-ee6a7f5e4742
* Content: [Simple List and Details form pattern - Finance & Op

[2019-07-17 09:21] AndrewJonesA1X commented on #1487
Sorry I don't understand how this all works on GitHub. I was trying to add that comment to this page: [https://docs.microsoft.com/en-us/dynamics365/unified-operations/dev-itpro/migration-upgrade/prepare-data-upgrade](https://docs.microsoft.com/en-us/dynamics365/unified-operations/dev-itpro/migration-upgrade/prepare-data-upgrade) - regarding the section titled **Set up user mapping**

[2019-07-17 10:01] Apsia-asarazin opened #1504 "Extending ERExpressionStringBase is not possible since PU26 or PU27"
I'm trying to extend the class ERExpressionStringBase but now, visual studio doesn't allow it since the class has become internal and the methods are not hookable. Thus I get the following error message when compiling : Class 'ERExpressionStringBase' is internal and is not accessible from the current module '[Our Module]'.

Could you please share how to extend the ER functions after the new update

[2019-07-17 10:45] deeppr opened #1505 "Application registration with AD mentions Key to never expire"
[In the Register a web application with AAD section. Point 10 mentions that the Keys should never expire. Not expiring the secret is not a good practice and should not be suggested, instead a finite expiry time should be given.]
![image](https://user-images.githubusercontent.com/32161615/61369559-ff724c00-a8ad-11e9-89f1-83d322b313f9.png)

---
#### Document Details

⚠ *Do not edit this section. It

[2019-07-17 13:13] sericks007 commented on #1369
@Sunil-Garg, please review and update the content as necessary.

[2019-07-17 14:30] UmeshPandit opened #1506 "[ExportDatabaseToStorageV2] timed out after 172800 seconds. Error Code "Timeout" while we exporting AxDB"
[ExportDatabaseToStorageV2] timed out after 172800 seconds. Error Code "Timeout" while we exporting AxDB

![Exporting](https://user-images.githubusercontent.com/39979822/61384088-84b92900-a8cd-11e9-91d6-b310b055c7e4.PNG)

[2019-07-17 14:39] sericks007 commented on #1501
@lemcheyWhite, thanks for posting this!

@chrisgarty, please review and update the topic as needed.

[2019-07-17 14:55] TrudAX commented on #1004
Hi. I understand that from MS perspective disambiguate the case for forms or class extensions is not so important, but for the customer projects it creates a real mess when someone create a class for the form, and then a class with the same name for the table. Can we at least try to minimize this mess by updating the documentation. I created a pull request #1507 for this

[2019-07-17 14:56] sericks007 commented on #1502
@ransoentjens, thanks for posting this!

@hhainesms, please review and update the content as needed.

[2019-07-17 14:58] sericks007 commented on #1504
@Apsia-asarazin, thanks for posting this.

@NickSelin, please review and update the content as needed.

[2019-07-17 15:02] sericks007 commented on #1505
@deeppr, thanks for posting this!

@Sunil-Garg, please review and update the content as needed.

[2019-07-17 15:04] sericks007 commented on #1506
Thanks for contacting us. Unfortunately, we're unable to handle Support requests for the product here. To contact Support, consider one of the options described here: [Support contact options](https://docs.microsoft.com/en-us/dynamics365/unified-operations/dev-itpro/lifecycle-services/lcs-support). In particular, you might want to go to the [Dynamics 365 for Finance and Operations community page](

[2019-07-17 15:04] #1506 closed

[2019-07-17 15:12] sericks007 commented on #1478
Bug 4948751 (in the ONE database) has been logged to track this issue.

[2019-07-17 16:24] sericks007 commented on #1502
@ShalabhjainMSFT, please review and update the content as needed.

[2019-07-17 17:31] RobinARH commented on #1487
@AndrewJonesA1X Thanks so much for adding that! I'm including the author of that topic.

@ robadawy Hi Robert - Can you take a look at this one? Thanks.

[2019-07-17 17:56] Sunil-Garg commented on #1205
Hi Madhan-- Finance and Operations provides integration capabilities which are generic enough to work with middleware platforms. Whether it is cloud or on-premise, these capabilities are expected to work. We do not promote one middleware over another. However, if you are seeing issues with a certain middleware platform to integrate with Finance and Operations, then pls do let us know and we will b

[2019-07-17 18:14] Sunil-Garg commented on #1376
Thanks for the feedback. The content has been updated.

[2019-07-17 18:16] Sunil-Garg commented on #1306
@Ake-Olson, can you try in the latest platform pls? We don't see this issue happening. If this is still an issue in your environment then, please open a support case. Thanks.

[2019-07-17 18:21] Sunil-Garg commented on #1305
@JeroenLeeflang, we have updated the content to clarify the process for enabling flights in a product environment. Thanks for catching this and reporting to us.

[2019-07-17 18:39] Sunil-Garg commented on #1369
Thanks all for highlighting this issue. The Flow scenario is now updated.

[2019-07-17 19:00] #1305 closed

[2019-07-17 19:01] #1306 closed

[2019-07-17 23:50] dynsm commented on #163
Is the Ax2012 on-premise to D365FO on-premise ready yet?

[2019-07-18 05:46] NickSelin commented on #1504
As described in the https://docs.microsoft.com/en-us/dynamics365/unified-operations/dev-itpro/analytics/er-apis-app73 page, starting from the 7.3 version of Dynamics 365 for Finance and Operations certain classes were marked as internal. Therefore, for the 7.3 version or higher you can’t extend the list of available ER functions any longer.

Please, consider the following options instead of introd

[2019-07-18 11:22] AndrewJonesA1X commented on #1487
Thanks for fixing it all up!

[2019-07-18 12:54] #1504 closed

[2019-07-18 13:21] howalker3514 opened #1512 ""Set up" Page doesn't actually tell you how to set up"
Like so many Microsoft documents labeled "set up" under which this particular page falls, there are no instructions on how to actually set up this functionality.  It describes what the functionality does rather than how to begin using it.  Argh!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 64bed266-2c03-5028-9c25-361

[2019-07-18 15:31] ChrisGarty commented on #1304
This is just a best practice. It needs to be evaluated on a case-by-case basis. I updated the documentation slightly to provide the reason for the recommendation: grouping.
"However, we recommend that you assign only duties to roles, so that the privileges are grouped together into a duty first for easier maintenance. "

[2019-07-18 17:21] jasongre commented on #1466
All dialogs are secondary (supporting) forms, so the Advanced selection pattern is categorized the same as any other dialog pattern.

[2019-07-18 17:33] jasongre commented on #1467
Thanks for pointing it out. That form used to have the Advanced selection form pattern applied (and it still follows the pattern); however, it was removed to add some labels to some buttons.

[2019-07-18 18:09] RobinARH commented on #1467
Do we need to do anything with the doc?

[2019-07-18 18:22] prdpmv opened #1514 "End of service is wrong"
End of service is wrong is wrong for 10.0.6 Platform update 30 release.
https://docs.microsoft.com/en-us/dynamics365/unified-operations/fin-and-ops/get-started/public-preview-releases

[2019-07-19 01:42] TrudAX commented on #1004
Hi @noakesey. It seems MS approved my request(for forms) which is great.
What naming convention do you use for  Form data sources, Form data fields, Form controls? I think it also will be good to add it to this document.
I propose the following names:
[ExtensionOf(formdatasourcestr(CustTable, DataSource1))]
final class CustTableFormTST_DataSource1_Extension

[ExtensionOf(formdatafieldstr(CustTable

[2019-07-19 08:34] SysC0mp commented on #1466
Thanks for the answer! You're right, I had confused the secondary patterns with the subpatterns.

[2019-07-19 08:34] #1466 closed

[2019-07-19 13:39] tonyafehr commented on #1512
@howalker3514, thanks for the feedback. This topic is currently being rewritten, so updates will be coming soon.

[2019-07-19 13:42] tonyafehr commented on #1514
@prdpmv, thank you for noting this.

@meeramahabala or @ShellyBakke, please make updates to this topic, as needed.

[2019-07-19 14:29] tonyafehr commented on #1481
@turbozapekanka. thank you for the feedback.

@ryansandness or @andreabichsel, please consider making updates to this topic based on this feedback.

Bug 342551 has been logged to track this issue.

[2019-07-19 14:33] tonyafehr commented on #1483
@ChrisHaleyAvanade, thank you for the feedback.

@robadawy, please consider making updates to this topic based on this feedback. Bug 342553 has been logged to track this issue.

[2019-07-19 14:40] tonyafehr commented on #1453
@Henrik-Grender, thanks for the feedback.
@Sunil-Garg, can you address this feedback. Bug 342557 has been logged to track this issue.

[2019-07-19 14:45] tonyafehr commented on #1462
Bug 342559 has been logged to track this issue.

[2019-07-19 14:48] tonyafehr commented on #1456
@johnhenryboco, thanks for the feedback.
@Sunil-Garg, please review and consider making updates to the topic.
Bug 342562 has been logged to track this issue.

[2019-07-19 14:53] tonyafehr commented on #1461
@anboudin, thanks for the feedback.
@epodkolz, please consider making updates to this topic.
Bug 342565 has been logged to track this issue.

[2019-07-19 15:36] MichaelSlipp opened #1517 "Payment Reversal Reason"
Note that the reason code must be allowed for BOTH Bank and Vendor transactions for it to show up when reversing payment.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1ebcc128-758c-26b6-8692-eb00404ca1c9
* Version Independent ID: 49f51c81-1faa-f1e7-a35e-13572d4cac8a
* Content: [Reverse a vendor payment - Finance & Op

[2019-07-19 16:03] tonyafehr commented on #1517
@MichaelSlipp, thanks for the feedback.
@abruer, consider updating this topic based on this feedback. Thanks!

[2019-07-19 23:07] vishalaw commented on #1043
What's the equivalent REST API to do post invoices with attachment or attachment links?

[2019-07-22 03:56] jonathansulte commented on #1456
i am on PU28 and i cannot seem to get the event to trigger either. i am setting up Flow integration in our Tier-2 Sandbox environment. am i missing a step?

1. Enable Business Event
2. Create an MS Flow.
3. Trigger the event. (i have tried When Invoice is Created on Sales Order and When an alert rule is triggered)

is there any Batch Job that i need to have running in the background?

[2019-07-22 04:43] Sunil-Garg commented on #1456
Pls check the troubleshooting guide. The last issue described is most likely the reason. Let us know if that does not help.

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: jonathansulte <notifications@github.com>
Sent: Sunday, July 21, 2019 8:56:46 PM
To: MicrosoftDocs/dynamics-365-unified-operations-public <dynamics-365-unified-operations-public@noreply.github.c

[2019-07-22 06:52] jonathansulte commented on #1456
thanks @Sunil-Garg . are you able to post the link to the specific one you are refering to? thanks in advance

[2019-07-22 10:05] prathiradhakrishnan opened #1520 "Business Event with HTTP"
Hi,

There is no step given for Business events using HTTP.

Can you please provide the steps or example for it.

Thanks

[2019-07-22 10:13] prathiradhakrishnan opened #1521 "Business Event with HTTP"
Hi,

There is no step given for Business events using HTTP.

Can you please provide the steps or example for it.

Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 655c157f-5478-4c71-7cd4-1b04383264ee
* Version Independent ID: 6555a353-87cd-c919-0c3e-dcfc4ede9909
* Content: [Business events - Finance & Operations |

[2019-07-22 13:15] tonyafehr commented on #1520
duplicate

[2019-07-22 13:15] #1520 closed

[2019-07-22 13:16] tonyafehr commented on #1521
@prathiradhakrishnan, thanks for the feedback.
@Sunil-Garg, please review and consider making updates to this topic.

[2019-07-22 13:24] tonyafehr commented on #1486
Bug 342900 has been logged to track this issue.

[2019-07-22 13:26] tonyafehr commented on #1487
Bug 342901 has been logged to track this issue.

[2019-07-22 13:28] tonyafehr commented on #1490
Bug 342902 has been logged to track this issue.

[2019-07-22 13:47] tonyafehr commented on #1495
One Version bug # 4968873 has been logged to track this issue.

[2019-07-22 13:53] #785 closed

[2019-07-22 16:42] #1205 closed

[2019-07-23 12:35] Rafael-Gil opened #1524 "Azure SQL Premiun DB is going to be retired on July 2019"
Hi according to Azure documentation, Azure SQL Premiun DB (which is the option recommended in this page) is going to be retired soon. Can you update the page with the new Microsoft recommendation please?

What is the new recommended Azure Architecture option to support BYOD?

Thanks

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linkin

[2019-07-23 12:41] tonyafehr commented on #1524
@Rafael-Gil, thanks for the feedback.
@Sunil-Garg, please review and consider updating this topic.

[2019-07-23 17:48] #1369 closed

[2019-07-23 18:16] #1304 closed

[2019-07-23 18:44] POfP commented on #1425
Is the "Feature management" data entity available in PU27/10.0.3?

[2019-07-23 20:06] mikefalkner commented on #1425
It is available in PU28.

[2019-07-24 00:56] AartiKumar opened #1525 "Ownership Journal"
Is there a way to automate the journal, that if someone consumes the inventory on Sales order or Item adjustment journal, system should auto create the ownership journal.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 058b5d48-c42d-2e8b-cdac-cd5cbecb4761
* Version Independent ID: 7a9f54d6-8dde-ae3e-07f9-bdacda58990e
*

[2019-07-24 12:46] sericks007 commented on #1525
@AartiKumar, thanks for posting this!

@perlynne, please review and update the content as needed.

[2019-07-24 12:50] sericks007 commented on #1501
Bug 343782 has been logged to track this issue.

[2019-07-24 12:53] sericks007 commented on #1502
Bug 343783 has been logged to track this issue.

[2019-07-24 13:05] ransoentjens commented on #1502
Hi Sally. Is the bug logged to investigate the case. Or what is the insight/conclusion at the moment? What is the exact bug?

[2019-07-24 13:16] ransoentjens opened #1527 "Emailing an electronic gift card"
Dear,

In D365 for Retail, it is possible to configure and implement an electronic gift card process. I've configured and executed this process on a standard Contoso environment, with e-mail parametrization included. However, the system does not generate an e-mail, nor can you configure any e-mail settings specifically for this process.

Can you please test this scenario and validate if the system

[2019-07-24 14:58] sericks007 commented on #1502
The bug is for @ShalabhjainMSFT to investigate and update the content if needed.

[2019-07-24 15:10] sericks007 commented on #1527
@ransoentjens, thanks for posting this!

@rubencdelgado, please review and update the content as needed.

[2019-07-24 15:13] sericks007 commented on #1503
Bug 343815 has been logged to track this issue.

[2019-07-24 15:15] sericks007 commented on #1505
Bug 343816 has been logged to track this issue.

[2019-07-24 16:34] ashishmsft commented on #1405
@RobinARH @tonyafehr - I don't know how to respond to the actual comment - but there's the feedback from the product group - please help get it communicated on docs.microsoft.com

At time of the order creation, if the origin for the "Ship from" is same as the current channel - then certainly we look for delivery modes information available locally in the channel database.

If channel id is not the

[2019-07-24 18:24] ShalabhjainMSFT commented on #1502
The Gift allows the cashiers to conclude the transaction in offline mode only if the Gift card was added to the transaction when the POS was Online i.e. you cannot initiate the payment by Gift card if the user is in Offline mode. There is no plan yet to support pay by Gift card in offline mode. Similarly, loyalty also does not support offline payment, but unlike Gift card, we do not have a way to

[2019-07-24 18:30] #1502 closed

[2019-07-24 20:06] vzjackally opened #1529 "New Modern POS tools for 10.0.x"
This document doesn't cover some of the changes in v10.0.x environments.
In instance, I guess there is a new way to set-up Offline modern POS by tools placed at (C:\Program Files (x86)\Microsoft Dynamics 365\70\Retail Modern POS\Tools\...)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6b9cd3cc-5f85-3f61-4670-83e050cb3

[2019-07-24 22:41] #1405 closed

[2019-07-25 05:44] CRM-GSD opened #1530 "Dynamics 365 for Outlook shows blank page"
I use Dynamics 365 for CRM in Outlook.
Even my account is connected to CRM:
![image](https://user-images.githubusercontent.com/46699078/61848863-ab80ec00-aed9-11e9-995a-956effba32a7.png)
when clicking on Dynamics 365 add-in, the pane shows blank:
![image](https://user-images.githubusercontent.com/46699078/61848882-b63b8100-aed9-11e9-8497-a164d674f2c5.png)

The workarounds applied for CRM version 8

[2019-07-25 07:38] ransoentjens commented on #1502
Clear. Thanks for the feedback, @ShalabhjainMSFT .

[2019-07-25 07:57] manojbatchu commented on #1039
Do we have any update on this ?

[2019-07-25 09:51] GeoffreyDelmee opened #1531 "Build on-premises"
On page https://docs.microsoft.com/en-us/dynamics365/unified-operations/fin-and-ops/get-started/cloud-prem-comparison#development-and-administration it is said "Build and test" is available on both cloud and on-premises.
Can you update this topic for the on-premises support?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* I

[2019-07-25 11:30] noakesey commented on #1004
Hi @TrudAX,

Great work!  Sorry for the delay in following up - I am putting some notes together and will share my thoughts and experiences shortly!!

[2019-07-25 14:21] turbozapekanka opened #1532 "Sign off is no longer required"
"After the import operation is completed, you must Sign off on the operation before you can perform another servicing operation, such as package deployment, database movement, or upgrade"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 277452eb-70c4-3d29-5219-1355a40bb714
* Version Independent ID: a9d425c4-c627-d20f-409

[2019-07-25 15:40] FH-Inway commented on #1137
Any updates on this? It has been 4 months and people are still getting confused by this (see e.g. https://stackoverflow.com/questions/57203150/d365-devvm-bestpractise-broken-after-updating-to-pu28)

[2019-07-25 15:45] AlexHimself commented on #1137
I second this. Microsoft is focused on everything cloud, but they don't realize the bulk of development occurs in the Dev VM's, which feel like an after thought.

[2019-07-25 15:52] sericks007 commented on #1137
@manalidongre or @robadawy, could you please review and respond.

[2019-07-25 16:08] PeterJarret commented on #1380
In addition, it isn't clear on this page that you are now able to do a point-in-time restore of Production to a sandbox (which seems to be new in LCS?)

[2019-07-25 16:15] robadawy commented on #1137
The instructions in the linked article work on all environments, including local development environment.  Regarding this comment above "A comment in that file indicates that for local development environments, only an update of the AOSService component is supported. But at least for the 10.0 update, this will lead to issues because other service components (such as DevToolsService and DIXFService

[2019-07-25 17:43] #1371 closed

[2019-07-25 17:55] ggriffith25 opened #1533 "Forecast models"
Fields for: 1) Original budget and 2) Remaining budget are required fields and should include valid values for Project Forecast Models.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: aba05e0c-0cb4-b9c1-ddca-f0b2c1ae44c5
* Version Independent ID: 0a0487ab-70d9-2705-7468-56d6d29804a5
* Content: [Submit and approve projec

[2019-07-25 19:14] josaw1 commented on #1529
Thank you for your feedback. @andreash1, can you please assist?

[2019-07-25 19:25] josaw1 commented on #1531
Thank you for your comment. @sericks007, can you please take a look? Thanks.

[2019-07-25 19:31] josaw1 commented on #1530
@CRM-GSD, thank you for your feedback. If your comment pertains to a topic, please make the comment on that topic so it gets routed to the correct person. Thanks.

[2019-07-25 19:31] #1530 closed

[2019-07-25 19:35] josaw1 commented on #1532
Thank you for your comment. @laneswenka, can you please update the topic if needed?

[2019-07-25 19:39] josaw1 commented on #1533
Thank you for your comment. @MaiKirknel, can you please review this feedback and update the topic if needed?

[2019-07-25 19:51] josaw1 commented on #1512
Created Bug 344275 to track.

[2019-07-25 19:53] sericks007 commented on #1531
@PeterRFriis, please review and update the content as needed.

[2019-07-26 07:09] FH-Inway commented on #1137
Hello Robert, thank you for your answer. I think other than the misleading comment in the topology file itself, the confusion also stems from the section "Collect topology configuration data" that starts with "1. In LCS, on the Environment page, select the name of a VM." This seems to indicate that this part of the document is only meant for environments in LCS, but not for local vhd development e

[2019-07-29 14:00] aacnsilva opened #1536 "Microsoft Dynamics 365 - Translation Service - Cannot submit or delete requests"
When submitting or deleting a request in the translation service i get the following error:

![image](https://user-images.githubusercontent.com/50581065/62054469-8e1d8c00-b211-11e9-9b19-39a8091bc360.png)

[2019-07-29 14:18] ansartroops opened #1537 "extension model without overlayering"
Could you pls. add the topic "Extension model without overlayering", provide some samples for extending Hardware Station.
Regards,
Ansar Basha.S

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5d3906b0-4ef0-3ee7-fb68-136442cff5c5
* Version Independent ID: 96819cbc-0e7b-7341-c534-d079387ef5b9
* Content: [Hardware Station

[2019-07-29 16:34] RobinARH commented on #1537
@mugunthanm Can you take a look at this one? Thanks.

[2019-07-29 16:48] RobinARH commented on #1517
Bug 346443 created to track this issue.

[2019-07-29 16:51] RobinARH commented on #1521
Bug 346440 created to track this issue.

[2019-07-29 19:19] josaw1 commented on #1401
The topic has been updated and will be republished today. Thanks!

[2019-07-29 19:19] #1401 closed

[2019-07-29 20:05] ejchoGIT commented on #1536
Hi, if you continue to see the problem after retrial, please email to dtssup@microsoft.com with your request ID. Thanks!

[2019-07-30 10:19] mozaki13 commented on #1531
@GeoffreyDelmee thanks for reaching out, can you elaborate more on what need to be updated? It is mentioned that Build and test is available for OnPrem and in the article you have shared it contains the steps to Deploy and use an environment that supports continuous build and test automation
Thank you :)

[2019-07-30 10:23] aacnsilva commented on #1536
I still got the error. Email sent according to your instructions. Thank you

[2019-07-30 13:23] GeoffreyDelmee commented on #1531
@mozaki13 On cloud deployment, the build environment is the Tier1 one included in the license (setting up Azure DevOps is a prereq of this deployment).
On on-premises deployment, there are no Tier1 available to deploy the build. Also, going to on-premises deployment, the goal is not to deploy VM in an Azure subscription.

Seeing build and test is available for on-premises, what is the way?
If it's

[2019-07-30 15:19] orichardt opened #1541 "Key Section is no longer current"
The current Azure AAD application iis not like the listed screenshots. It does not contain anything about keys and the path is not current - is this substituted by keyvault or other? Please advise where I can find the Application Key when registering the service?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 717d397d-

[2019-07-30 16:36] roschlom commented on #1541
Thank you for your comment. @milindav would you please review this?

[2019-07-31 15:51] sericks007 commented on #1524
Bug 346932 has been logged to track this issue.

[2019-07-31 15:54] sericks007 commented on #1525
Bug 346933 has been logged to track this issue.

[2019-07-31 15:56] sericks007 commented on #1527
Bug 346934 has been logged to track this issue.

[2019-07-31 16:01] sericks007 commented on #163
Bug 346938 has been logged to track this issue.

[2019-07-31 18:13] curtix opened #1546 "Where is this Page?"
Article doesn't indicate where to find the "Project Services Automation Integration parameters page"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 898dd376-cd26-192b-1ea5-5b1353386d77
* Version Independent ID: e142a334-0c0f-2ee5-b236-dc2f99c6477a
* Content: [Project Service Automation integration parameters - Finance

[2019-07-31 19:27] UmeshPandit opened #1547 "https://www.linkedin.com/pulse/step-installation-microsoft-dynamics-365-finance-premise-umesh-pandit/"
[https://www.linkedin.com/pulse/step-installation-microsoft-dynamics-365-finance-premise-umesh-pandit/]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f2469a7d-3776-d054-2d87-795b49da2bc4
* Version Independent ID: bc1490f9-b52d-46f9-6fce-2a3a37b616ae
* Content: [On-premises deployments home page - Finance & Operations

[2019-07-31 21:16] sericks007 commented on #1546
@curtix, thanks for posting this!

@KimANelson, can you please answer the question and update the content as needed.

[2019-07-31 22:48] laneswenka commented on #943
Hi @RakeshDataAnalytics that doesn't sound like a typical error and you'll want to create a support ticket.  @firyanis I will create a Build topology in the Sandbox Develop and Test slot as compared to a Cloud-hosted Build server to see if that is the difference.

[2019-07-31 22:50] laneswenka commented on #990
@antongeenens this fix is in the next wave of commits

[2019-07-31 23:44] slickmoon commented on #1418
This topic still mentions the original "ModuleToRemove.txt" line and this bug needs to be reopened.
![image](https://user-images.githubusercontent.com/7530241/62255517-d8d11b00-b440-11e9-9e42-2f83cf15e6eb.png)

[2019-08-01 06:18] ransoentjens commented on #1527
Dear,

Please be informed that in the meantime, we have succeeded to create and send the e-mail. Reason causing the issue was corrupt data in the e-mail queue which resulted in errors. This was on a Contoso environment - however.

In any case, the scenario works and the thread can be closed.

Best regards,
Ran

[2019-08-01 12:41] #990 closed

[2019-08-01 12:48] sericks007 commented on #1418
@slickmoon, thank you for letting us know.  I've made the fix and the update will be published soon.

[2019-08-01 12:56] #1527 closed

[2019-08-01 13:26] turbozapekanka opened #1550 "Select all measurements that need to be refreshed."
Not possible to do as the list does not allow multiple measurements to be selected.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3eab27bf-ee40-ebc6-b68e-481ddb368d27
* Version Independent ID: e75f13e0-a5b2-98e3-e1ba-22d26a4225cb
* Content: [Resolve issues after entity store maintenance - Finance & Operations | Dynami

[2019-08-01 15:19] turbozapekanka opened #1552 "Outdated information"
It looks like new Auto-refresh feature has been added in the latest update that changes the way the entity store is refreshed.
Please update the documentation

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7cd3a076-d364-f4e8-fe37-f10c77a75466
* Version Independent ID: 0f767e21-3f33-2139-0931-7cd044c81b9f
* Content: [Po

[2019-08-01 20:25] kfend commented on #1483
We have updated the topic content and changes will be published today or tomorrow.

[2019-08-01 20:25] #1483 closed

[2019-08-01 20:26] curtix commented on #1546
I finally found it - in Fin Ops.

So it looks like it's:
Dynamics 365 for Finance and Operations > Project management and accounting (module) > Setup > "Dynamics 365 for Project Service Automation integration parameters"

Thanks

[2019-08-01 21:20] #1546 closed

[2019-08-01 22:52] legunter commented on #840
I just noticed this as well. The issue is that the </td> section under match should be describing the backslash (\) character, but seems to not display properly or is incorrect. This should be updated.

Additionally, it is required to have the @ symbol before strings containing the backslash for it to work properly,

for example I needed to make a match string which matched either open and close b

[2019-08-01 23:17] RobinARH commented on #840
It's a typo from when we migrated the content from the previous version. I can fix it. - Robin

[2019-08-02 14:40] ZakMak9 commented on #1468
Any news?

[2019-08-02 16:21] dinuasdinu opened #1555 "Step Duplicate"
Step 14 to 25 appears duplicate.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 29ccd846-d529-ba33-11ce-3c2b7282ad34
* Version Independent ID: aa832360-7ce7-005d-de14-c80deb6c0d55
* Content: [Set up postdated checks - Finance & Operations | Dynamics 365 | #MSDyn365FO](https://docs.microsoft.com/en-us/dynamics365/unifie

[2019-08-02 16:42] #1547 closed

[2019-08-02 16:44] josaw1 commented on #1550
Thank you for your comment. @sarvanisathish, can you please take a look and update the topic as needed?

[2019-08-02 16:49] josaw1 commented on #1552
Thank you for your feedback. @MilindaV2, can you please take a look at the comment and update the doc?

[2019-08-02 16:56] josaw1 commented on #1555
Thanks for the feedback. @rschloma, can you please update the topic if needed?

[2019-08-02 17:13] josaw1 commented on #1529
Bug 347815 created to track.

[2019-08-02 17:14] josaw1 commented on #1532
Bug 347816 created to track.

[2019-08-02 17:15] josaw1 commented on #1533
Bug 347812 created to track.

[2019-08-02 17:16] josaw1 commented on #1531
Bug 346938 created to track.

[2019-08-02 20:12] oscarlozada opened #1556 "Lack of information"
There is no information what about with sales of on-hand inventory, it isn't possible to sale before post an owner journal, so that, it isn't useful for sales orders and retail process.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6860e0b5-7f40-7969-6c2d-f2ddc0d9af65
* Version Independent ID: b187423b-b26a-93b3-1379-

[2019-08-02 21:25] ronsonntag54 opened #1557 "Data Entity loading order is not fully covered by data templates"
Using data templates to find the correct loading order is time consuming AND it does not cover all the data entities, e.g. Customer postal addresses, Positions, Customer invoice journal header, Customer invoice journal line, Purchase requisitions, Purchase requisition lines, etc. I cannot find a single master data entity reference document from Microsoft that provides this needed data loading orde

[2019-08-04 10:12] gprodware opened #1558 "Error to Synchronize ISV Deployable package to Other DEV workspaces"
Hi,

we have install a Deployable packages from third parties
add the run time package to source control
Check In
and try to  synchronize the models and packages to workspace by using the Get latest feature of source control.

we are getting en error when trying to get the latest ISV features from source control on another developer environment.

Microsoft Visual Studio
---------------------------

[2019-08-05 06:21] sminozhenko opened #1560 ""Send extenal" setting"
Hi, In the article mentioned that "To configure an alert, the Send external setting must be enabled" - is it setting "Send externally" on "Create alert rule" dialog? If yes, could the name of setting be fixed in the article and maybe some screenshots added? (also for the part "The business event for the change-based alert and/or the due date alert must also be active for the alert to be sent out a

[2019-08-05 11:19] ilitutilitam opened #1561 "Incorrect path in description"
General Ledger &gt; Inquiries and report &gt; Ledger reports &gt; FEC Accounting data export

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 56989a16-a9a3-c8d1-d7d0-6e542871107f
* Version Independent ID: 1da2ec78-cf33-1741-c5cc-97b73d72b539
* Content: [Generate the Standard Audit File for France (FEC) - Finance & Operat

[2019-08-05 14:53] UmeshPandit opened #1563 "Follow me Printer: What are the settings?"
Follow me Printer: What are the settings?

[2019-08-05 16:36] jorisdg commented on #1558
Hi @gprodware - we use GitHub issues to track problems with the documentation. This document has served many people well so we don't believe there are any mistakes present right now.
Please file a support request so we can follow up on your specific issue. If we decide from there something needs to be amended to the documentation we can still do so.
Also, feel free to post questions on the communi

[2019-08-05 16:38] #1558 closed

[2019-08-05 17:49] petersonfs commented on #1366
The link provided in the documentation isn't working. There is a new link?

[2019-08-05 17:53] petersonfs opened #1564 "Link on the provisioning guide isn't working"
The link provided in the documentation isn't working. I couldn't find the link anywhere in the PartnerSource nor CustomerSource.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0e859ad9-22e1-e14e-2c7a-6df3ba1482ca
* Version Independent ID: 6eff91da-e5c3-3fcd-00f2-2fd690e7cc15
* Content: [Buy Finance and Operations (on-p

[2019-08-05 18:12] tonyafehr commented on #1366
Which link is not working? I've tested all of them and cannot find any that do not work.

[2019-08-05 22:33] RobinARH commented on #1563
@UmeshPandit Hi - What in particular did you want to print. That will help me route this to the correct team. Thanks.

[2019-08-05 22:34] RobinARH commented on #1561
@kfend Can you take a look? Thanks.

[2019-08-05 22:35] RobinARH commented on #1560
@Sunil-Garg: Can you take a look? Thanks.

[2019-08-05 22:38] #1536 closed

[2019-08-05 22:41] RobinARH commented on #1537
Created bug 348284 to track this issue.

[2019-08-05 22:43] RobinARH commented on #1564
@meeramahabala: Can you take a look? Thanks.

[2019-08-06 00:55] caleblanchard opened #1565 "Wrong KB Article for Bug Fixes"
The KB article link points to the bug fixes for 10.0.3 instead of 10.0.5

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 62d0e651-317f-3311-a82c-1a5e330c80d8
* Version Independent ID: abadbc06-6753-c524-ec12-4c540d1527e0
* Content: [Preview features in Finance and Operations version 10.0.5 (October 2019) - Finance & Ope

[2019-08-06 10:55] aariste opened #1566 "Wrong SQL query for enabling the Flight"
I think there's an error with the Flight name in the SQL query. With the query from the doc the flighting is not appearing on the list. I've tried changing the name from  'Dynamics.AX.Application.CLISavedViewsEnableFeature'  to  'CLISavedViewsEnableFeature' and after doing an iisreset and clicking the "Check for updates" button the saved views feature is now appearing on the list.

This is how the

[2019-08-06 11:05] illese opened #1567 "Syntax for SQL Statement"
In the document it is stating 'Type a query as an SQL statement between parentheses.' but no details is given how to get the data source and the field name. I tested with 'Address and contact information purpose' neither the SQL table and field names (like LogisticsLocationRoleTranslation.LANGUAGEID)  nor the entity name (like LogisticsLocationRoleEntity.Language) worked.

[2019-08-06 11:39] oyber opened #1568 "Operating units - unique numbering"
[A good information to give the users it that the system requires unique numbering of operating units. You can't have a Department and a Cost Center with the same ID number.]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 418eaff4-9d4f-e9e6-db48-7b1e84661ff3
* Version Independent ID: 40000edf-6d67-8364-8f6b-3368e3ae4a3

[2019-08-06 12:14] SysC0mp commented on #1117
Any information regarding that topic?

[2019-08-06 13:35] tonyafehr commented on #1566
@aariste, thanks for the feedback.
@jasongre, can you review this and update the topic, if needed.

[2019-08-06 13:37] tonyafehr commented on #1567
@illese, which topic are you referring to? Your comment is not in reference to a specific topic, thanks!

[2019-08-06 13:47] tonyafehr commented on #1541
Bug # 348403 has been logged to track this issue.

[2019-08-06 14:15] tonyafehr commented on #1215
Updates to this topic will be posted today.

[2019-08-06 14:15] #1215 closed

[2019-08-06 14:15] sericks007 commented on #1564
I'm sorry, our team can't reproduce this issue.  Here are the direct links to the Provisioning Guide:

PartnerSource link: https://mbs.microsoft.com/partnersource/global/deployment/documentation/user-guides/D365Ops_OnPremEEProvisionGuide

CustomerSource link: https://mbs.microsoft.com/customersource/northamerica/365Enterprise/learning/documentation/user-guides/D365Ops_OnPremEEProvisionGuide

[2019-08-06 14:20] UmeshPandit commented on #1563
How does this DRP work with Followme printers that are the point? as we can't batch them if we wish to print use Followme printers. right?

[2019-08-06 14:27] tonyafehr commented on #1563
Which topic are you referring to? Your comment is not associated with any particular topic so we're unable to determine what we need to address. I suggest that you contact Support using one of the options described here: [Support contact options](https://docs.microsoft.com/en-us/dynamics365/unified-operations/dev-itpro/lifecycle-services/lcs-support). In particular, you might want to go to the [Dy

[2019-08-06 16:31] josaw1 commented on #1565
Thank you for the feedback. I've updated the link!

[2019-08-06 16:31] #1565 closed

[2019-08-06 21:00] #1563 closed

[2019-08-06 23:32] RobinARH commented on #840
I updated the topic so that the examples work, and the new content will show up in the next couple of days. I did not add any content about using @ in some situations. - Robin

[2019-08-06 23:32] #840 closed

[2019-08-07 07:50] illese commented on #1567
Hi Tonya
Sorry, seems the UI is sometimes broken, as I started the comment form docs… Anyhow.
This is the doc I am referring to: https://docs.microsoft.com/en-us/dynamics365/unified-operations/fin-and-ops/get-started/advanced-filtering-query-options

Illes

From: Tonya Fehr <notifications@github.com>
Sent: Tuesday, August 6, 2019 3:37 PM
To: MicrosoftDocs/dynamics-365-unified-operations-public <dy

[2019-08-07 13:08] tonyafehr commented on #1567
@illese, thanks for the additional info.

@jasongre, can you take a look at this and see if the topic should be updated. Thank you!

[2019-08-07 15:11] gammelgaard52 commented on #1275
Any update, this is critical now? We cannot create new App Registrations, until this is fixed.

[2019-08-07 15:22] ggriffith25 opened #1571 "Elaborate on Forecast Models for Project Forecasts v. Forecast Models for Project Budgets"
Use separate Forecast Models for Project Forecasts than for Project Budgets.  On Forecast Models for Project Forecasts, set value for Budget Type = None.  For Forecast Models for Project Budgets, set value for Budget Type = Original budget or Remaining budget or Carry-forward according to needs.  Note: When Budget Type is set to a value other than None, then the value of the Stopped field will be

[2019-08-07 15:24] sericks007 commented on #1571
@ggriffith25, thanks for posting this!

@KimANelson, please review and update the content, if appropriate.

[2019-08-07 17:32] RobinARH commented on #1169
It is still under Settings. It takes a while for the Settings menu to load and appear, and it persists even if you hover over Help.

[2019-08-07 17:32] #1169 closed

[2019-08-07 20:40] josaw1 commented on #1529
Hi @vzjackally, the feedback from the Program Manager was this: This folder is not new and not intended to be used by ISV/Customers. Installer uses this script to setup DB/POS.

Thank you!

[2019-08-07 20:40] #1529 closed

[2019-08-07 22:17] SteveBurkettNZ commented on #1524
The Azure SQL Database Premium RS tier has been retired (it never got out of Preview), but the Premium tier lives on, no retirement date set as yet. Think this issue could be closed out?

[2019-08-08 09:54] sumadhuram456 opened #1573 "Developer control over where a PowerApp can be embedded"
[ExtensionOf(classStr(FormRunConfigurationPowerAppsConfiguration))]

public final class ClassTest_Extension
{
    public static boolean isPowerAppPersonalizationEnabled(str pageName)
    {
        var result = next isPowerAppPersonalizationEnabled(pageName);
        return true;
    }
    public static boolean isPowerAppTabPersonalizationEnabled(str pageName)
    {
        var result = next isPowe

[2019-08-09 07:26] Anasyash commented on #1561
Hello. Could you please clarify the path which is incorrect in the topic?

Also please consider the following information: https://docs.microsoft.com/en-us/dynamics365/unified-operations/dev-itpro/migration-upgrade/deprecated-features?toc=/fin-and-ops/toc.json#france-fec-accounting-data-export-in-xml
You can create a support ticket for getting more details on that.

[2019-08-09 20:43] josaw1 commented on #1573
Thank you for your feedback. @jasongre, can you please address this comment?

[2019-08-09 20:52] josaw1 commented on #1550
Bug 349650 created to track this issue.

[2019-08-09 20:55] josaw1 commented on #1552
Bug 349651 created to track this issue.

[2019-08-09 21:00] josaw1 commented on #1555
Bug 349651 created to track this issue.

[2019-08-09 21:03] josaw1 commented on #1556
Bug 349652 created to track this issue.

[2019-08-09 21:07] josaw1 commented on #1557
Bug 349653 created to track this issue.

[2019-08-10 09:50] HristoFilipov82 commented on #1349
Hello, Is it possible to do a database refresh from Tier-1 environment to Tier-2 environment using self-service database refresh?

[2019-08-10 17:13] tclayton72 commented on #1418
This is incorrect.  Module singular is what both LCS and the PowerShell script that consumes this file expect.  ModuleToRemove.txt is the correct name, just successfully used it.

[2019-08-10 17:37] tclayton72 opened #1577 "Query options on expanded entities don't work"
The only one that works is $select.  Should the others, $filter being the most useful one, work?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 64b023ab-59fb-87d9-d935-d60d0e9e4139
* Version Independent ID: 10120c96-a72d-60fd-63ff-db9f77e05817
* Content: [Open Data Protocol (OData) - Finance & Operations | Dynamics 365

[2019-08-12 07:15] ilitutilitam commented on #1561
Hello,
The problem is that we cannot select the needed file format for Standard Audit File for France (FEC) using path "Go to General Ledger > Periodic tasks > Data export to open the Data export page".
Instead of this, there is a path "General ledger > Inquiries and reports > Ledger reports > FEC Accounting data export". So, we believe the description is not correct.

[2019-08-12 07:15] ilitutilitam commented on #1561
Installed platform version : Update27 (7.0.5286.35426)

[2019-08-12 07:41] ilitutilitam commented on #1561
I believe the is confusion from my side.
For XML file path: General ledger > Inquiries and reports > Ledger reports > FEC Accounting data export
For TXT file path: General ledger > Inquiries and reports > Ledger reports > FEC Accounting data export
As XML file is depriciated, then only TXT file will be used in future. So, description in docs is correct.

[2019-08-12 11:00] jbpoulsen commented on #968
@bojanmisic Did you figure out a solution for this case? I'm currently exhausting the options for this to work, but since D365FO does not support OBO Grant flow, the possibilities are limited.

[2019-08-12 13:36] #1561 closed

[2019-08-12 17:27] RobinARH commented on #1577
@Sunil-Garg : Can you take a look? Thanks.

[2019-08-12 17:43] RobinARH commented on #1560
Bug 349983 created to track this issue.

[2019-08-12 18:38] primeitbr commented on #1418
Yes @tclayton72 , you're right. I've got an error by using the "plural" file name. I have used it as you said and it worked!

[2019-08-12 19:29] l-bri commented on #1418
This must be a localisation or LCS area or platform problem then. I went back and edited the file name to the singular in my original uninstall SDP. After uploading to LCS validation will fail in the

Renaming to ModulesToRemove.txt works fine (and uninstalled the package at that time)
The package I tested with is on Update 24, and if someone from MS checks the Asset ID that will fail if I name th

[2019-08-13 13:20] orichardt commented on #1541
any news on this?

[2019-08-13 13:39] tonyafehr commented on #1541
Instead of waiting on an update to the documentation, I suggest that you contact Support using one of the options described here: [Support contact options](https://docs.microsoft.com/en-us/dynamics365/unified-operations/dev-itpro/lifecycle-services/lcs-support). In particular, you might want to go to the [Dynamics 365 for Finance and Operations community page](https://community.dynamics.com/) to g

[2019-08-13 13:47] orichardt commented on #1541
Thank you for the feedback

From: Tonya Fehr <notifications@github.com>
Sent: 13 August 2019 15:40
To: MicrosoftDocs/dynamics-365-unified-operations-public <dynamics-365-unified-operations-public@noreply.github.com>
Cc: orichardt <msoniel@outlook.com>; Author <author@noreply.github.com>
Subject: Re: [MicrosoftDocs/dynamics-365-unified-operations-public] Key Section is no longer current (#1541)

In

[2019-08-13 13:48] #1541 closed

[2019-08-13 19:55] MichaelSlipp opened #1580 "Settings to automatically adjust ledger period"
Some modules - such as Project Management and Accounting, Expense Management - have settings to automatically change the date on transactions to an open posting period.  It is important to review these settings, as some companies may prefer to see the errors and re-open the period (eg adjusting entries for a specific period), versus having the system move the date (eg expense claims approved over

[2019-08-13 20:50] tonyafehr commented on #1580
@MichaelSlipp , thanks for the feedback.
@aprilolson, consider updating this topic based on this information. Thanks!

[2019-08-13 20:55] jasongre commented on #1566
Thanks! The topic has been updated.

[2019-08-13 20:57] tonyafehr commented on #1566
Bug 350368 logged to track this issue.

[2019-08-13 20:57] #1566 closed

[2019-08-13 20:59] tonyafehr commented on #1568
Bug 350370 has been logged to track this issue.

[2019-08-13 21:09] petersonfs commented on #1564
Hi @sericks007,

The problem is that the link ([https://portal.office.com/Signup/MainSignUp.aspx?OfferId=3f9e84aa-d15d4293-ac4c-5c467f1d4224&pc=814e410e-2e4a-49f1-940d-486c8bce0319](https://portal.office.com/Signup/MainSignUp.aspx?OfferId=3f9e84aa-d15d4293-ac4c-5c467f1d4224&pc=814e410e-2e4a-49f1-940d-486c8bce0319)) inside the documentation provided in the Customer ou Partner source aren't a valid

[2019-08-13 22:31] ChrisGarty commented on #1568
Added that as an extra point in the doc. Thanks!

[2019-08-13 22:34] vglu commented on #1488
why VAR better?

[2019-08-13 22:35] vglu commented on #1488
One more notice - why you are initialize "found" variable?

[2019-08-14 02:52] wandeewanikpun opened #1582 "I would like to have document about all duty for all Roles"
In AX 2012, Microsoft release an Excel file lists all the Roles and Duty of every Roles. For example Purchasing Manager can Approve product prices and discounts, Approve purchase agreement, and Maintain all kinds of master, etc.
 I would like to have the same kind of file for MSD 365. Do you have it?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ G

[2019-08-14 10:58] PalleAgermark opened #1587 "Cannot find correct versions for the sample ER customer invoicing solution"
I can't find these versions in neither Shared Asset Library nor the PEAP Assets project:
Customer invoicing model.version.2.xml
Customer FTI report (GER).version.2.3.xml

Where do I get these?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 01220120-d91e-59ae-70e2-0879779adb9d
* Version Independent ID: 3fe09ff9-be42-0f7

[2019-08-14 12:10] NickSelin commented on #1587
To download mentioned configurations, please, use the links that are provided in the “Import ER solutions” section of this page to complete the provided procedure for each downloaded configuration. To learn more about this feature, you can also use other configurations that can be taken from the asset library of the PEAP project.

[2019-08-14 12:19] PalleAgermark commented on #1587
Doh. Too easy - thanks :-)

[2019-08-14 13:04] #1587 closed

[2019-08-14 13:18] sericks007 commented on #1582
@wandeewanikpun, thanks for posting!

We haven't published an Excel file listing all of the roles and duties associated with each role in Dynamics 365 for Finance and Operations. Instead, this information is available in the product on the Security configuration page (System administration > Security > Security configuration).

[2019-08-14 13:18] #1582 closed

[2019-08-14 13:33] sericks007 commented on #1571
Bug 350547 has been logged to track this issue.

[2019-08-14 15:47] sericks007 commented on #1564
@petersonfs, the links don't work for me today, so I'll reopen this.

[2019-08-14 15:50] sericks007 commented on #1564
@ShellyBakke, please provide new links to the Provisioning Guide.

[2019-08-14 15:56] sericks007 commented on #1564
Bug 350591 has been logged to track this issue.

[2019-08-14 16:08] mannesneuer opened #1588 "Repeated sentence"
In the first and second paragraphs, the following sentence is duplicated: "Earning codes uniquely identify every type of earning that workers receive. They include parameters that are related to earnings, such as accounting rules, tax laws, reporting requirements, and gross-up capability."

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue

[2019-08-14 16:31] sericks007 commented on #1588
@mannesneuer, thanks for letting us know!

@andreabichsel, please update the topic accordingly.

[2019-08-15 04:03] wandeewanikpun commented on #1582
Thank you very much.
What you suggest is enough for us as implementor. However the customer would like to have clear explanation of who can do what.

BTW, when it said "maintain", does it really mean create or edit or delete? or all of them? How do I know?

[2019-08-15 05:20] PalleAgermark opened #1591 "New icons in PU29"
Please note that, according to Jason Green, new icons wont render properly in PU29 unless you are on build 7.0.5372.16650 or later.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c174ba35-3d9c-61fb-b2a1-82cca1b88e4b
* Version Independent ID: 21f85208-93ab-420d-8de6-4c4ca064647f
* Content: [Create icons for workspace ti

[2019-08-15 05:55] stevmo commented on #1525
This issue is solved in [Content Source](https://github.com/MicrosoftDocs/Dynamics-365-Unified-Operations-Public/blob/live/articles/supply-chain/inventory/tasks/change-ownership-consignment.md)

[2019-08-15 12:34] sericks007 commented on #1582
@ChrisGarty, can you answer the question above regarding the word "maintain".

[2019-08-15 12:40] #1525 closed

[2019-08-15 16:18] laneswenka commented on #943
It appears this is by design for build servers.  If you need retail to be functioning you'll have to use either a Sandbox UAT or a Sandbox DevTest environment type.  @sericks007 this can be closed as by design.  The https://docs.microsoft.com/en-us/dynamics365/unified-operations/dev-itpro/database/dbmovement-scenario-exportuat article also calls out that this is for developer environments.

[2019-08-15 16:23] laneswenka commented on #1018
@tonyafehr this will be resolved on another article as this is not specific to data upgrade.  Instead it is related to database refresh where the system templates may need refreshing.

[2019-08-15 16:30] laneswenka commented on #1532
Resolved in latest update

[2019-08-15 16:39] laneswenka commented on #1426
Updated in latest update

[2019-08-15 16:44] laneswenka commented on #1380
The original ask in this issue is resolved in the next update

[2019-08-15 16:44] laneswenka commented on #1349
It is not supported to export a financial reporting database.

[2019-08-15 16:46] laneswenka commented on #1095
@tonyafehr  please reassign to Robert per the bug

[2019-08-15 16:47] laneswenka commented on #1058
@sericks007 the above article should be deprecated

[2019-08-15 16:55] #1380 closed

[2019-08-15 17:12] #1018 closed

[2019-08-15 20:49] josaw1 commented on #1591
Thanks for the feedback. @sericks007 can you please take a look?

[2019-08-15 20:50] josaw1 commented on #1591
@jasongre

[2019-08-15 20:54] josaw1 commented on #1573
Bug 350909 created to track issue.

[2019-08-15 20:59] josaw1 commented on #1531
Bug 350909 created to track this issue.

[2019-08-15 21:03] josaw1 commented on #1573
Bug 350915 created to track this issue.

[2019-08-16 10:58] AndersDahlin opened #1595 "Old versions?"
Hi,
Has this been updated lately? Older versions in progress and current. What about current D365 operations version 10?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b352eb61-b9ae-5d2d-3d64-1b156c453124
* Version Independent ID: 1903d3d9-6771-85bd-85be-367dbe465742
* Content: [Payment Application Data Security Standa

[2019-08-16 12:37] sericks007 commented on #1591
@jasongre, please review and update the topic if necessary.

[2019-08-16 12:51] sericks007 commented on #1595
@AndersDahlin, thanks for posting!  This topic will be updated soon as we're currently reviewing the PA-DSS Implementation Guide for version 10.0.

[2019-08-16 12:51] #1595 closed

[2019-08-16 13:02] #943 closed

[2019-08-16 13:15] #1032 closed

[2019-08-16 13:15] #1426 closed

[2019-08-16 13:15] #1532 closed

[2019-08-16 13:21] sericks007 commented on #1095
@robadawy, please review and update the topic if needed.

[2019-08-16 13:26] #1349 closed

[2019-08-16 14:47] sericks007 commented on #1058
The [Debug X++ against copies of production databases](https://docs.microsoft.com/en-us/dynamics365/unified-operations/dev-itpro/dev-tools/debug-x-issue-against-copy-of-production) topic will be deprecated.  Links to that topic will be redirected to the [Debug a copy of the production database](https://docs.microsoft.com/en-us/dynamics365/unified-operations/dev-itpro/database/dbmovement-scenario-d

[2019-08-16 14:47] #1058 closed

[2019-08-16 16:03] MSFTRANDY opened #1596 "Offline transactions earning/posting points"
There seems to have been an update to Loyalty where the offline section above for the Retail shared parameters "Earn offline" option no longer exists.  We've also added a "Post earned points in batches" option which is not mentioned in this article.  It is unclear how offline handles loyalty points.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ Gi

[2019-08-18 12:20] ripannandy opened #1598 "Recurring Integration Http vs Https"
I am unable to get the data from UAT/TEST environment using dequeue job but there is no issue with getting data from dev environment. Download location that is returned from dev environment contains "Https://***" but from test environment contains "Http://***". I have seen in this article that, URI scheme has to be set properly in middleware while accessing the test environment. How to set the URI

[2019-08-19 10:36] RHaest opened #1599 "Dynamics 365 Translation Service - Complete with error on some languagues"
When creating a translation request based on a .xlf file, sometimes the translation service reports this as "Completed with errors" and shows no further information. When viewing the output, it shows: File could not be translated. Open a new request. This request completed with the error(s).

Strange thing is that this happens only for certain languages. So for example, I have one basefile which I

[2019-08-19 17:11] RobinARH commented on #1598
@Sunil-Garg : Can you take a look? Thanks.

[2019-08-19 17:13] RobinARH commented on #1599
@ejchoGIT : Can you take a look? Thanks.

[2019-08-19 17:15] RobinARH commented on #1577
Bug 351460 created to track issue.

[2019-08-20 04:25] ejchoGIT commented on #1599
Hello RHaest,
I have looked into your request ID 20158 and it was completed with error due to "Service is temporarily unavailable" status in MTHub. As far as I can see, the service is back to normal and you should be able to complete the two languages with no problem if you submit a new request. And if you use the same base (source) file and intend to translate it to two languages, you can simply

[2019-08-20 13:35] tonyafehr commented on #1580
Bug 351745 has been logged to track this issue.

[2019-08-20 13:46] aprilolson commented on #1580
+ @Kristi Weekley (kweekley@microsoft.com)<mailto:kweekley@microsoft.com> – Kristi there is a comment if you want to update the doc.

April Olson
Dynamics 365 Finance & Operations
Principal Group Program Manager, Financials & Service Industries
Check out our Financials blog: https://community.dynamics.com/365/financeandoperations/b/financials

Our workplace allows for a flexibile work schedule, wh

[2019-08-20 14:03] ggriffith25 commented on #1571
Also, when the Forecast Models are setup with Budget Type filled in (and not blank), the form will show a value for Stopped = Yes.  This value for Stopped=Yes, appears to mean only that the settings for that particular Forecast Model ID are "stopped" and cannot be changed.  It does not mean that the Forecast Model ID itself should not be used because it is "stopped".  Each of the three values for

[2019-08-20 17:03] #1599 closed

[2019-08-20 19:35] SajeerAssiz opened #1601 "Open a ticket with the support team: Link is not working"
see Contact Microsoft Business Solutions Support for information

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: dc2afcd3-e3c4-dfa7-5056-4c51767e000d
* Version Independent ID: 4781538f-b18f-54cb-d568-c447889082c4
* Content: [Get support for Dynamics 365 for Retail - Retail | Dynamics 365](https://docs.microsoft.com/en-u

[2019-08-20 20:42] tonyafehr commented on #1601
The link should take you here, which appears to be working: [Microsoft Dynamics Technical Support Numbers](https://mbs.microsoft.com/customersource/northamerica/ax/support/support-news/global_support_contacts_eng)

[2019-08-20 21:22] lazejanev opened #1602 "The tile "Import or Export" does not exists"
In data management when we create a project there are separate tiles for Import and Export projects, and not one tile like mentioned above "Select the Import or Export tile to create a new data project.":
https://docs.microsoft.com/en-us/dynamics365/unified-operations/dev-itpro/data-entities/recurring-integrations#create-a-data-project

---
#### Document Details

⚠ *Do not edit this section. It is

[2019-08-20 21:25] tonyafehr commented on #1602
@lazejanev, thanks for the feedback.
@Sunil-Garg, please review and if needed update this topic.

[2019-08-20 22:46] prdpmv commented on #1169
The screenshot of menu is still not corrected. https://docs.microsoft.com/en-us/dynamics365/unified-operations/dev-itpro/perf-test/trace-trace-tutorial

[2019-08-21 01:15] YujiImaoka opened #1603 "Reschedule and Opt-Out rule were changed from 2019/05."
Reschedule and Opt-Out rule were changed from 2019/05.
Please revise these 2 sections as like below.
 Can I reschedule the planned maintenance?
 How do I opt out of the current maintenance cycle?
https://docs.microsoft.com/en-us/dynamics365/unified-operations/dev-itpro/lifecycle-services/planned-maintenance-window-faq

Can I reschedule the planned maintenance?
If there is an absolute business need

[2019-08-21 01:46] Izmiyash opened #1604 "Consider entire renewal of contents in this page."
[Enter feedback here]
It seems this page is based on the announcement published in very early stage of One Version transformation. Many part of them are now obsolete.

For instance, Though I can see the line saying "There will be 2 major updates in April and October where new experiences can be enabled." in this page, there is no distinguish between  "Major" and "Minor" release as for D365FO accor

[2019-08-21 02:16] satyakejriwal opened #1605 "Do we lose data even if we export database from Tier-1 environment for importing into Tier-2 Sandbox"
Do we lose data even if we export database from Tier-1 environment for importing into Tier-2 Sandbox

[2019-08-21 06:19] taral1311 commented on #584
Click Settings > Required permissions > Add > Select an API > Power BI Service (Power BI).

Not able to find the setting in app registration in the azure portal.

[2019-08-21 06:30] GeorgeSasDK opened #1606 "On Premise"
Please update this article to reflect the On Premise environments. Maintenance mode not available on LCS for On Premise deployments and must be made via the SQL database.
Also the World Wide Web Publishing Service not available anymore on the new version, instead the AXService must be killed or restarted.

[2019-08-21 07:39] SajeerAssiz commented on #1564
The link is not working at all, then how microsoft onlu cant reproduce it

[2019-08-21 09:31] SanderHolvoet commented on #631
@kompa3

The above sounds like a nice workaround. There a couple of REST calls which I've found in LCS, that I would like to make use of.

I'm able to get a response by using the "copy as cURL" command in Chrome and pasting that into Postman, as it contains all the required headers (the cookie being the main one).

Would you be willing to share how you automated the process in Selenium to fetch an

[2019-08-21 14:01] sericks007 commented on #1603
@YujiImaoka, thanks for posting here!

@manalidongre, please answer the questions that were asked, and update the topic if needed.

[2019-08-21 14:03] sericks007 commented on #1604
@Izmiyash, thanks for posting this!

@meeramahabala or @ShellyBakke, please review and update the topic as needed.

[2019-08-21 14:08] sericks007 commented on #1605
@satyakejriwal, thanks for posting your question.  Is your question in response to a specific article?  If so, can you please tell me which article so I can assign this question to the appropriate program manager.

[2019-08-21 14:10] sericks007 commented on #1606
@GeorgeSasDK, thanks for posting your question. Is your question in response to a specific article? If so, can you please tell me which article so I can assign this question to the appropriate program manager.

[2019-08-21 16:37] andreabichsel commented on #1588
Thank you for bringing this to my attention! I fixed the issue, and it should be live in just a few minutes.

[2019-08-21 16:37] #1588 closed

[2019-08-21 17:46] RobinARH commented on #1169
It matches what I have, except for the yellow highlighting we added to the screenshot. How is yours different? I don't plan to update the image. I would remove it instead, since the text is clear about what to do.

[2019-08-21 22:59] prdpmv commented on #1169
We are in 10.0.2
![image](https://user-images.githubusercontent.com/12284677/63474005-4fec4480-c42c-11e9-9cdf-7be5b5188e12.png)

Setting is like below but the docs says otherwise.

![image](https://user-images.githubusercontent.com/12284677/63474039-76aa7b00-c42c-11e9-985e-320ab69712af.png)

But I can see the trace here.
![image](https://user-images.githubusercontent.com/12284677/63474082-a8bbdd00

[2019-08-21 23:02] RobinARH commented on #1169
Thanks! I'm going to remove the image. The text is sufficient, and we can't maintain multiple views.

[2019-08-21 23:03] prdpmv commented on #1169
Text also says wrong. Its not there in settings. Its there under help,

[2019-08-21 23:11] RobinARH commented on #1169
I'll ask around and see what I find out.

[2019-08-22 04:05] bvpb opened #1607 "Better REST API documentation"
Is it possible to provide detailed technical information for all of the REST API endpoints?

An OpenAPI definition would be ideal, but at the very least a structured description of the parameters, return values and HTTP status codes.

Also, is it correct to be using the "/data/DataManagementDefinitionGroups/Microsoft.Dynamics.DataEntities.GetMessageStatus" OData endpoint instead of "/api/connector

[2019-08-22 06:23] AndersDahlin opened #1608 "E-commerce"
Hi,

Is what mentioned here about unsupported flows valid for all channels?

"Linked refunds for transactions that use gift cards
Linked refunds for transactions that use loyalty cards"

We cannot automatically refund a return order for an e-commerce order to the same payment methods if multiple payment methods have been used on an online order? Customizations needed.

---
#### Document Details

⚠

[2019-08-22 06:58] kompa3 commented on #631
Ok, the below "as is", no guarantees given :)

Selenium process to fetch and store cookie etc:
[code]

Getting LCS metrics:
[code]

[2019-08-22 09:42] D365BI opened #1609 "Power BI Pro license required?"
It seems that Power BI Pro license is required for D365FO users to view the selected report. Could you update that information in the documentation?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c4538494-570c-1209-e7a9-d5ac3149188e
* Version Independent ID: 88386190-afa4-9d35-de96-e0d49b166420
* Content: [Select analy

[2019-08-22 17:46] #1580 closed

[2019-08-23 06:11] AndersDahlin commented on #1275
Yes, please update instructions for web app registration.

[2019-08-23 08:46] jonasdeco commented on #1275
It's no longer possible to create a working app registration using this method because of changes in  the Azure portal. Please update the documentation

[2019-08-23 12:05] RobvanB commented on #934
I had to specifically give SQL permissions to the builtin\administrators group to Connect to SQL for some reason. There are 2 entries (SSMS -> Security -> Logins -> Builtin\administrators -> properties -> Securables -> Connect SQL) - I checked the one that wasn't checked, and that allowed the connector to connect to the DB

[2019-08-23 17:57] RobinARH commented on #1607
@Sunil-Garg : Can you take a look? Thanks.

[2019-08-23 18:01] RobinARH commented on #1608
@rapraj : Can you take a look? Thanks.

[2019-08-23 18:07] RobinARH commented on #1598
Created bug 353172 to track this issue.

[2019-08-23 18:11] RobinARH commented on #1591
Bug 353174 created to track this issue.

[2019-08-24 03:18] olufemioyedepo opened #1613 "First step of Vendor Creation"
[Enter feedback here]
Go to Procurement and sourcing > **Vendors** > All vendors.
should be Go to Procurement and sourcing > **All suppliers** > All vendors.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 70a98db8-a47c-3ed1-2eed-ce60fae763e2
* Version Independent ID: 2e6824ce-c8b2-d0be-b479-7514df8b84f5
* Content: [Cre

[2019-08-25 18:47] saadullahz opened #1614 "How to use the usercount in ISV"
How can I use the usercount parameter with my own customLogic code?

[2019-08-26 12:42] evanfitzgerald opened #1617 "More Description Needed"
Would it be possible to give some more detail on how the commands function?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c23c1df5-a8e5-15a8-27cf-3206e61c09fc
* Version Independent ID: ecfd274b-3b74-d8aa-2830-9a7e64bce958
* Content: [Use Regression suite automation tool tutorial - Finance & Operations | Dynamics 365 |

[2019-08-26 13:09] evanfitzgerald opened #1618 "Playback for derived test cases?"
Since a derived test case has no .dll file it cannot be used by the 'playback' command. Is it possible to introduce a way for a 'playback' for derived cases so they can run like in the RSAT?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c23c1df5-a8e5-15a8-27cf-3206e61c09fc
* Version Independent ID: ecfd274b-3b74-d8aa-

[2019-08-27 09:47] gammelgaard52 commented on #1190
Any update on @computerwizjared comment? Setting with it right now and that would be nice with some feedback. @josaw1

[2019-08-27 15:55] mpburtt opened #1621 "Missing "readpast" keyword"
The docs are missing any reference to the "readpast" keyword, normally used alongside "pessimisticlock".

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3f2875aa-c614-a807-90eb-247f8259cb1b
* Version Independent ID: 95a6e7b3-2f3d-cdb2-64e6-7c610704ae78
* Content: [X++ data selection and manipulation - Finance & Operatio

[2019-08-27 16:52] mpburtt commented on #1621
My mistake - its implemented as a buffer property not a keyword.

[2019-08-27 16:52] #1621 closed

[2019-08-28 05:48] CamillaBro commented on #1043
I am working on a project where we have set up Vendor Invoice Automation and where many of the users are team member users.

We have had issues with the team users not being able to approve invoices lines, but also we are facing the issue that team members is not able to view the side by side invoice image.  That kind of makes the use obsolete from the approver's point of view.

[2019-08-28 15:32] tomhig opened #1622 "URL references in Authorization code grant flow diagram"
In the Authorization code grant flow diagram above, step 2 states "http://login.windows.net/&lt;tenant&gt;" for the AAD authentication URL and step 3 states "http://&lt;baseUri&gt; for the Resource URL. The prefix for each of these should be https, so that there is no question about whether it is an encrypted connection. It is indeed an encrypted connection.

---
#### Document Details

⚠ *Do not e

[2019-08-28 21:11] johnmkonrad opened #1623 "Use of cache"
We've done testing with various "Use of Cache" settings and get nearly the exact same runtime.  I've read elsewhere that this setting was made obsolete to be managed by the MRP engine dating back to 2014?  Is this not the case?  Would be nice to note this in the documentation or just deprecate the setting.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.c

[2019-08-29 09:05] t-benebo commented on #1623
The "Use of cache" setting is applicable (it has not been deprecated). Its influence on your master planning runtime will depend on your data composition. In some cases it may not affect while in others it can make a huge difference.

[2019-08-29 14:03] sericks007 commented on #1622
@tomhig, thanks for making us aware of this!

@Sunil-Garg, please update the illustration.

[2019-08-29 14:05] #1623 closed

[2019-08-29 14:23] sericks007 commented on #1603
[Bug 5239365](https://msazure.visualstudio.com/One/_workitems/edit/5239365) has been logged to track this issue.

[2019-08-29 14:33] sericks007 commented on #1604
Bug 368312 has been logged to track this issue.

[2019-08-29 14:41] sericks007 commented on #1605
Closing as more information about the specific article this issue applies to wasn't provided.

In the meantime, to get product help you can contact Support using one of the options described here: [Support contact options](https://docs.microsoft.com/en-us/dynamics365/unified-operations/dev-itpro/lifecycle-services/lcs-support). In particular, you might want to go to the [Dynamics 365 for Finance a

[2019-08-29 14:41] #1605 closed

[2019-08-29 14:43] sericks007 commented on #1606
Closing this issue as more information about the specific article this issue applies to wasn't provided.

In the meantime, to get product help you can contact Support using one of the options described here: Support contact options. In particular, you might want to go to the Dynamics 365 for Finance and Operations community page to get help with your questions from the Dynamics community.

[2019-08-29 14:43] #1606 closed

[2019-08-29 15:53] johnmkonrad commented on #1623
Thanks Beatriz, this is very helpful.

On Thu, Aug 29, 2019 at 2:05 AM Beatriz Nebot Gracia <
notifications@github.com> wrote:

[2019-08-29 18:35] CelesteDG commented on #1275
Hi @RobinARH and @tonyafehr - Do you have an ETA when the updated app reg content will go live?

For reference, please see the instructions here: https://docs.microsoft.com/azure/active-directory/develop/quickstart-register-app. It might be helpful to just point to this topic (my team owns the app reg experience in the Azure portal) but provide only the specific settings needed for your feature. T

[2019-08-29 23:25] patrickEssa commented on #1039
I had this error, and actually the fix was to add 'oauth' at the end of the Dynamics 365 url.
Initially registered it with the url like: https://xxxxx.operations.dynamics.com/
Fixed by changing the Redirect URL to: https://xxxxx.operations.dynamics.com/oauth

[2019-08-30 00:56] sayanghosh123 opened #1627 "Clarification sought on vCore model,Managed Instances, as well as DTU (Premium / Standard) model of Azure SQL"
The current guidance around Azure SQL states
"If you're using the BYOD feature for integration with a business intelligence (BI) tool, you should consider creating a SQL premium database. Premium databases support clustered columnstore indexes (CCIs)." and some similar content in step 4.

As per https://azure.microsoft.com/en-au/blog/columnstore-support-in-standard-tier-azure-sql-databases/, CCIs

[2019-08-30 11:35] SilGitHub opened #1628 "Online Invoicing system"
Is there a reason why the online invoicing system is not included in the Hungarian overview?
https://support.microsoft.com/en-gb/help/4499832/hungary-online-invoicing-system-v-1-1-support-on-dynamics-365-for-fina

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9a7b6aab-f5f6-8f67-ea96-f6ae9c6a5866
* Version Independent I

[2019-08-30 16:06] #1537 closed

[2019-09-01 13:26] ripannandy opened #1631 "Default DB storage and file storage"
As per new licensing guide, I heard that,

File storage: Every customer receives 40 GB of file/Azure blob cloud storage for files and binary data instead of 100 GB that is written in this page.

Database storage: Every Finance and Operations subscription includes 20 GB of Azure SQL Database storage per customer at no additional charge instead of 10 GB that is written in this page.

Are these infor

[2019-09-01 13:29] ripannandy opened #1632 "Default DB storage and file storage"
As per new licensing guide, I heard that,

File storage: Every customer receives 40 GB of file/Azure blob cloud storage for files and binary data instead of 100 GB that is written on this page.

Database storage: Every Finance and Operations subscription includes 20 GB of Azure SQL Database storage per customer at no additional charge instead of 10 GB that is written on this page.

Are these infor

[2019-09-02 14:14] OksanaKovaliova opened #1633 "RetailUpdateDatabase"
Hi, is above article still valid? For version 10 of on-prem retail.
I tried to find RetailUpdateDatabase.ps1 script - but it does not exist neither in binary package, nor anywhere on AOS machine.
Also D365 is able to find retail packages without selfservicepackages folder creation and any steps described in 1-6 steps. Looks like it uses standard folder C:\RetailSelfService\Packages
Thank you!

---

[2019-09-03 02:15] AshyM opened #1635 "Add pause between two test steps?"
Is there a way to add pause between two test step (within a test case) ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c23c1df5-a8e5-15a8-27cf-3206e61c09fc
* Version Independent ID: ecfd274b-3b74-d8aa-2830-9a7e64bce958
* Content: [Use Regression suite automation tool tutorial - Finance & Operations | Dynamics 365 | #M

[2019-09-03 06:27] axaeffect commented on #1524
We still have issue on Create Clustered Column Store Index, which to resolve it by disabling it.
This doc mentioned in order to use that it requires Premium, does it relate ?

[2019-09-03 12:40] sminozhenko opened #1637 "Missing information about name of entities extensions"
Hi, I noticed that the article is missing the part that entity extensions created through "Add financial dimensions for OData" add-on from Visual studio have to keep original extension name "DimensionIntegration", otherwise views created on SQL side will return empty values instead of real dimension values. Could you, please, add this information?

---
#### Document Details

⚠ *Do not edit this se

[2019-09-03 20:25] kurthatlevik opened #1638 "Many of the links here no longer works"
When clicking on the links I get "Event Unavailable" - Sorry, it looks like Dynamics 365 for Retail POS Extensibility: Deep Dive (DYN342PAL) is no longer available.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f271eeaf-54e1-5476-bfbf-37f8b899c425
* Version Independent ID: b5156471-8259-9cbd-f68b-ad4a9a4c864a
* Conten

[2019-09-04 04:17] Fyrste opened #1639 "Data entity for GTIN"
Hi,

When is it planned to release an entity for GTIN? Barcodes and GTIN are not interchangeable as such, and an entity for GTIN is highly required.

Thank you in advance.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0647d0d4-fe0b-fdba-07d4-ed2379a5129b
* Version Independent ID: 6a1a026f-39c9-dc27-b25c-a727f1a252c4
*

[2019-09-04 11:24] lachicazul commented on #584
@taral1311 now you have to click on View API Permissions in the Overview area.

[2019-09-04 11:41] axaeffect opened #1640 "You can't export composite entities into your own database"
Just curios, was it error if we select entities which is composite ? what is the error message looks like ? or do we can't even choose (no selection) for that target entities made by composite ?
Please help to describe more.
Thanks,

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9cd981b1-0ed1-34c8-d22a-e1c6d194ff9c
* V

[2019-09-04 13:39] sericks007 commented on #1640
@axaeffect, thanks for posting here!

@Sunil-Garg, please review and update the content, as needed.

[2019-09-04 13:47] sericks007 commented on #1639
Thanks for contacting us!  For more information about features that are planned, please see the [Release Plans}(https://docs.microsoft.com/en-us/dynamics365/release-plans/).

To request a feature, please see the [Ideas site](https://experience.dynamics.com/ideas/).

[2019-09-04 13:47] #1639 closed

[2019-09-04 13:51] sericks007 commented on #1638
@kurthatevik, thanks for letting us know!  We'll investigate.

[2019-09-04 14:35] sericks007 commented on #1637
@sminozhenko, thanks for letting us know!

@RobinARH, please review and update the content as needed.

[2019-09-04 14:39] sericks007 commented on #1635
@AshyM, thanks for posting this! In the meantime, to get product help you can contact Support using one of the options described here: [Support contact options](https://docs.microsoft.com/en-us/dynamics365/unified-operations/dev-itpro/lifecycle-services/lcs-support). In particular, you might want to go to the [Dynamics 365 for Finance and Operations community page](https://community.dynamics.com/)

[2019-09-04 14:41] sericks007 commented on #1633
@OksanaKovaliova, thanks for posting this!

@jashanno, please review and update the content as needed.

[2019-09-04 14:50] sericks007 commented on #1622
Bug 369845 has been logged to track this issue.

[2019-09-04 14:52] sericks007 commented on #1631
Closing as a duplicate. See [issue 1632](https://github.com/MicrosoftDocs/dynamics-365-unified-operations-public/issues/1632).

[2019-09-04 14:52] #1631 closed

[2019-09-04 15:08] ccampora opened #1642 ""Default extension" field undocumented"
Please add documentation regarding the "Default extension" field. This is missing in the document. Thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9cd981b1-0ed1-34c8-d22a-e1c6d194ff9c
* Version Independent ID: 1e26cccc-eab2-e170-7004-98585128e3e1
* Content: [Bring your own database (BYOD) - Finance & Operations

[2019-09-04 15:13] sericks007 commented on #1632
Thanks for contacting us! Unfortunately, our Documentation team is unable to answer questions related to the licensing guide.  Please consider posting your questions via one of the channels listed [here](https://dynamics.microsoft.com/en-us/contact-us/).

[2019-09-04 15:13] #1632 closed

[2019-09-04 15:15] sericks007 commented on #1642
@ccampora, thanks for making us aware of this!

@Sunil-Garg, please review and update the content as requested.

[2019-09-04 17:41] sericks007 commented on #1638
We've updated the content to remove the broken links.  FastTrack Tech Talks are now available on the [community.dynamics.com](https://community.dynamics.com/365/b/techtalks?c=Finance%20and%20Operations) site.

[2019-09-04 17:41] #1638 closed

[2019-09-04 22:59] mparra2695 opened #1643 "HistoricalDemandData file link doesn't work"
The link for the template for HistoricalDemandData import doesn't work, I'm getting a runtime error https://mbs.microsoft.com/customersource/northamerica/AX/learning/documentation/how-to-articles/365OperationsDemandForecast

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d3f17fae-150d-e5c8-77bb-f3c8e142272f
* Version In

[2019-09-05 15:06] Sunil-Garg commented on #1622
Thanks, the diagram is updated.

[2019-09-05 17:40] TJVass commented on #1262
The email notification options were added with PU24.  The option becomes available once the SMTP service has been enabled.

[2019-09-05 18:02] TJVass commented on #422
Thanks, Steve.
Correct, the Document routing client role is one of the security roles required to manage service access to network printer devices.

[2019-09-05 18:15] TJVass commented on #620
Although, we do not support directly connecting to the Entity Store from PowerBI.com today, we offer a [preview](https://docs.microsoft.com/en-us/dynamics365/unified-operations/dev-itpro/data-entities/entity-store-data-lake) of this option using services based on Azure Data Lake.  Available today is the ability to host the data for Power BI on customer managed database.  More information is availa

[2019-09-05 18:21] TJVass commented on #696
Hi Steve,
I am not aware of any motivations to exclude the DRA folders from your anti-virus software scans.

[2019-09-05 18:40] TJVass commented on #698
F&O sends the legal entity (i.e. "DAT") to the Power BI service instead of the user context.  This value is accessible from within DAX using the UserName() function.  You can also reference this value to filter datasets for a particular Legal Entity.

[2019-09-05 18:57] josaw1 commented on #1643
Hi @mparra2695. I tested the link and it is working for me. Can you please try again? Thank you!

[2019-09-05 18:59] TJVass commented on #755
Thanks for the question.  Not sure exactly how to accommodate this requirement.  DRA communications to Azure Services and F&O webserver use port 443.  However, the Azure service endpoints don't utilize static IP addresses.  Perhaps, domain name restrictions would work instead.

[2019-09-05 19:07] josaw1 commented on #1608
Created bug 370224 to track.

[2019-09-05 19:10] josaw1 commented on #1607
Created bug 370225 to track.

[2019-09-05 19:14] josaw1 commented on #1618
Bug 370227 created to track.

[2019-09-05 19:16] josaw1 commented on #1617
Bug 370227 created to track.

[2019-09-05 19:18] TJVass commented on #827
Great information here.  The process mentioned by @tohmig is still an option.  An alternative worth considering is described [here](https://docs.microsoft.com/en-us/dynamics365/unified-operations/dev-itpro/analytics/select-analytical-workspace) which allows partners to takes advantage of assets hosted on PowerBI.com.

[2019-09-05 19:19] josaw1 commented on #1613
Created bug 370228 to track.

[2019-09-05 20:03] SteveBurkettNZ commented on #422
Hi TJVass, the point I was trying to make is that the Document Routing Client role does not have rights to view the Network Printers menu, and cannot be used to download the DRA agent. Hence the statement in the FAQ is incorrect. Typically (third-party) IT support staff will have access to the DRA service account credentials (with the Document Routing client role assigned) as they install the DRA

[2019-09-05 22:06] TJVass commented on #1072
Regarding #1: **YES)** the PDF folder is only used for documents that are stored instead of printed.  In cases where documents contain standard margins, the document exchange between client and server is optimized using compressed EMF.  PDF is the only output format supported by the DRA.

Thanks @SteveBurkettNZ for providing details on question #2.

[2019-09-05 22:49] TJVass commented on #1230
You are correct.  This video is intended for AX2012 customers.  Thanks for letting us know.

[2019-09-05 23:04] rapraj commented on #1608
@AndersDahlin - Can you help e clarify your query? I do not understand your question(s)

Is what mentioned here about unsupported flows valid for all channels?
"Linked refunds for transactions that use gift cards
Linked refunds for transactions that use loyalty cards"
[**rapraj**] - The linked refunds for credit cards is only supported in MPOS & CPOS - not in Call-center, HQ or eCommerce

We canno

[2019-09-05 23:16] TJVass commented on #1273
Thanks for the question, @amadse
The term "precision document" in this context refers to any paginated report where character spacing and text can be scaled to the target paper size.  PDF is the preferred format for supplying non-editable precision documents like Sales Invoice & Packing Slips.

[2019-09-06 12:59] mmoalla opened #1648 "Need more details"
Hello,

Not working. Could you please details the process by exemple ?

Thnaks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3565b319-747b-2aa4-36f0-6296adf930fb
* Version Independent ID: 847c2a77-9613-33ad-4455-bda3924b4286
* Content: [Uninstall a package - Finance & Operations | Dynamics 365 | #MSDyn365FO](https://d

[2019-09-06 14:04] sericks007 commented on #1038
This topic was updated in [PR 6258](https://github.com/MicrosoftDocs/Dynamics-365-Operations/pull/6258) and will be published later today.

[2019-09-06 14:04] #1038 closed

[2019-09-06 14:16] sericks007 commented on #1622
The diagram was updated in [PR 6261](https://github.com/MicrosoftDocs/Dynamics-365-Operations/pull/6261) and will be published soon.

[2019-09-06 14:16] #1622 closed

[2019-09-06 14:20] #620 closed

[2019-09-06 14:26] sericks007 commented on #362
The article was removed, so closing this issue.

[2019-09-06 14:26] #362 closed

[2019-09-06 15:26] Sunil-Garg commented on #1602
Thanks Laze. The doc has been updated.

[2019-09-06 15:29] Sunil-Garg commented on #1577
The support for expand are currently limited. Hence, you are correct in noticing the issue. We currently don't have plans to add the support. Thanks for sharing.

[2019-09-06 15:33] #1577 closed

[2019-09-06 15:36] RobinARH commented on #1275
The updated content is live now.

[2019-09-06 15:36] #1275 closed

[2019-09-06 16:13] josaw1 commented on #1613
Hi, @MaiKirknel said this:
This is a matter of translation - If the user is on an English (UK) version of the product they traslate this to "suppliers"
So this is a "by design"  please close.

[2019-09-06 16:13] #1613 closed

[2019-09-06 17:05] mparra2695 commented on #1643
Hi @josaw1, I apologize, the actual link that downloads the file is https://mbs.microsoft.com/Files/customer/365/BusinessEdition/HistoricalDemandData.csv does that one work for you?

[2019-09-06 17:13] Sunil-Garg commented on #1521
We will track this in our list of items. Thanks for asking.

[2019-09-06 17:21] Sunil-Garg commented on #1505
Thanks. The steps have been collapsed and AAD links are provided to make sure AAD process changes does not have to be replicated in this doc. Hope this helps. If you see any other issues or challenges, pls let us know.

[2019-09-06 17:26] Sunil-Garg commented on #1486
Thanks for asking. We will look into providing this information.

[2019-09-06 17:34] Sunil-Garg commented on #1456
Here is the link https://docs.microsoft.com/en-us/dynamics365/unified-operations/dev-itpro/business-events/troubleshooting

Specifically, pls use the following fix to make this work. If this does not help, pls email me at sunilg@microsoft.com and we can take a look.

One of the reasons why this issue can occur is if certain parameters are not set as expected in the BusinessEventsParameters table.

[2019-09-06 18:57] LizaGolub commented on #1628
Hello,
Thank you for your question.
There is no specific reason why the Online Invoicing System is not included in documentation for Hungary.
For now, there are several KB articles dedicated to this topic:
https://support.microsoft.com/en-us/help/4341649
https://support.microsoft.com/en-us/help/4499832
There is a plan to publish also a common article on docs.microsoft.com dedicated to this feature

[2019-09-06 19:11] #1628 closed

[2019-09-06 19:22] #1273 closed

[2019-09-07 00:45] Gadgetgeek2000 opened #1651 "Application permissions section doesn't match the current Azure options"
Request API permissions is very different than the screenshot you have provided for requesting permissions.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 717d397d-4186-c7de-431d-3260d3f0484a
* Version Independent ID: bdd7545b-5970-93e0-5cbb-a59da4ace01b
* Content: [Configure Power BI integration for workspaces - Finan

[2019-09-08 23:30] TKispoev commented on #1456
@Sunil-Garg
The sentence "This behavior is controlled using a parameter in the business events parameter table, which is turned off by default to indicate that manual batch job will not be effective by default" can be updated clarifying that the name of the parameter is "BATCHENABLED" and it must be set to 0 for the dedicated job to work. Cross reference to the troubleshooting page can be added as

[2019-09-09 06:15] AndersDahlin commented on #1608
OK thank you for the information, we can close this.

[2019-09-09 06:15] #1608 closed

[2019-09-09 08:28] jawn opened #1653 "Overlayering is no longer supported"
The page still talks about overlayering as an option.

However, as the following (https://docs.microsoft.com/en-us/dynamics365/unified-operations/dev-itpro/extensibility/extensibility-home-page) page explains, overlayering is no longer supported.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cd0c5515-aa2a-64c2-e5b6-09

[2019-09-09 10:45] ansartroops commented on #163
Is Ax 2012 to D365FO on-premises Upgrade available yet?

[2019-09-09 10:52] PeterRFriis commented on #163
Hi
Ax2012 to D365FO on-premises Upgrade is not available at this time.
Currently I cannot provide a timeline for when it will be available.
Looping in @sarvanisathish.
Thansk,
Peter

[2019-09-09 12:00] GeorgeSasDK commented on #1143
@ponekbladh solved your issue ? Have same issue on my test environment.

[2019-09-09 15:09] mawa77 opened #1654 "Sandboxes without server access"
How we should import the AX 2012 database without access to AOS server through RDP?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: babaa821-a53a-020c-4411-d2c39e371d05
* Version Independent ID: afb66707-3384-278c-2827-cff7499c56ea
* Content: [Upgrade from AX 2012 - Data upgrade in sandbox environments - Finance & Opera

[2019-09-09 16:02] #1262 closed

[2019-09-09 16:05] #755 closed

[2019-09-09 16:05] #827 closed

[2019-09-09 16:06] #1072 closed

[2019-09-09 16:18] #1230 closed

[2019-09-09 17:45] Sunil-Garg commented on #1456
Thanks. The wiki has been updated per your suggestion.

[2019-09-09 17:51] #1456 closed

[2019-09-09 19:51] RobinARH commented on #1653
@robadawy Can you take a look? thanks.

[2019-09-09 19:58] RobinARH commented on #1651
@MilindaV2 - Can you take a look? Thanks.

[2019-09-09 20:32] ggriffith25 commented on #1571
Note: There is a pending/new product change related to this top.
Release: Dynamics 365 for Finance and Operations | 10.0.7
LCS quantity report number: 370574
KB 4520681

[2019-09-09 20:56] RobinARH commented on #1654
@laneswenka - Can you take a look? Thanks.

[2019-09-10 08:20] vishwaspkale opened #1656 "Credit Invoicing on Free Text Invoice"
How the Credit Invoicing on Free Text Invoice work? There's an option but it's disabled and there's no help text on that.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0d47e817-0a96-1769-5a43-0cf61d1978a2
* Version Independent ID: d8e5818e-f399-0540-2129-2c2214c3cc5f
* Content: [Create a corrective invoice (Spain) - F

[2019-09-10 11:42] sminozhenko opened #1657 "Missing information about "in" keyword in "where" clause"
Hi, Looks like the document is missing information about "in" keyword in "where" clause. Could you check it, please?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3f2875aa-c614-a807-90eb-247f8259cb1b
* Version Independent ID: 95a6e7b3-2f3d-cdb2-64e6-7c610704ae78
* Content: [X++ data selection and manipulation - Financ

[2019-09-10 13:26] tonyafehr commented on #1657
@RobinARH, can you review this feedback. Thanks!

[2019-09-10 13:26] tonyafehr commented on #1656
@kfend, can you review this feedback. Thanks!

[2019-09-10 13:32] tonyafehr commented on #1633
Bug 371167 has been logged to track this issue.

[2019-09-10 13:32] tonyafehr commented on #1627
Bug 371166 has been logged to track this issue.

[2019-09-10 13:34] tonyafehr commented on #1635
Bug 371169 has been logged to track this issue.

[2019-09-10 13:36] tonyafehr commented on #1637
Bug 371172 has been logged to track this issue.