[2019-09-10 14:09] kfend commented on #1635
Thanks for your question, @Ashym, At this time, you can't pause between two test steps, but that functionality will become available druing the month of October.

[2019-09-10 14:09] #1635 closed

[2019-09-10 15:28] RobinARH commented on #1657
It's on my ToDo list to add information about the In keyword. I'll post back here when I publish the new content.

[2019-09-10 17:19] chr-lim commented on #1632
The licensing guide is the source of truth to know the amount of storage (whether file or database) included or added incrementally, refer to its latest version for the exact numbers.

[2019-09-10 19:28] Gokul06 commented on #1235
we are in process of changing it from native app to web app. So lets up this on-hold, i will circle back in few weeks to update the documentation

[2019-09-11 01:01] AartiKumar opened #1658 "Integration for Pricing between FinOps & CE"
Is there a roadmap or guidelines about integration between D365 FinOps & D365 CE for Pricing.
Sales quotes are created from D365 CE but there are scenerios where sales orders are created in D365 FinOps. How we can integrate the Trade agreements in FinOps with the price lists in D365 CE

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue lin

[2019-09-11 06:28] v-oloski commented on #1656
Hello,
Thank you for your asking!
The **Credit invoicing** button is available when you create Free text invoice with negative amount. Th process is following:
1. A user create a free text invoice with positive amount.
2. Create a free text invoice (FTI) with negative amount, save the FTI.
After saving the button is available.
3. Click this button and fill in the fields.
4. On the **Line detail**

[2019-09-11 06:57] vishwaspkale commented on #1656
Thank you!

From: Olga Oskina <notifications@github.com>
Sent: Wednesday, 11 September 2019 11:58 AM
To: MicrosoftDocs/dynamics-365-unified-operations-public <dynamics-365-unified-operations-public@noreply.github.com>
Cc: Vishwas Prabhakar Kale <vikale@microsoft.com>; Author <author@noreply.github.com>
Subject: Re: [MicrosoftDocs/dynamics-365-unified-operations-public] Credit Invoicing on Free Tex

[2019-09-11 08:37] PetrusAlberts commented on #1004
Hi
@TrudAX I would like to propose a slightly different convention. This is the convention I am currently using.

[ExtensionOf(tableStr(CustTable))]
final class CustTableTST_Extension
[ExtensionOf(formStr(CustTable))]
final class CustTableFormTST_Extension
[ExtensionOf(formdatasourcestr(CustTable, DataSource1))]
final class CustTableDataSource1TST_Extension
[ExtensionOf(formdatafieldstr(CustTable,

[2019-09-11 12:28] JeroenLeeflang opened #1659 "Add reference to 'Environment planning' page"
The section about how many sandboxes are needed is very short. Maybe add a reference to the 'Environment planning' page (https://docs.microsoft.com/en-us/dynamics365/unified-operations/fin-and-ops/imp-lifecycle/environment-planning).

Using the Tier-2 for both configuration and UAT doesn't seem realistic to me.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.micros

[2019-09-11 12:41] sericks007 commented on #1658
@AartiKumar, thanks for posting here!

@ChristianRytt, can you please review and answer the questions.  Please update the topic if needed.

[2019-09-11 12:46] #1656 closed

[2019-09-11 13:05] sericks007 commented on #1659
@JeroenLeeflang, thanks for posting here!  I've added the link, as you suggested -- that update will be published later today.

@robadawy, can you please review the comment related to Tier-2.  Please update the topic if needed.

[2019-09-11 13:11] sericks007 commented on #1640
Bug 371477 has been logged to track this issue.

[2019-09-11 13:15] sericks007 commented on #1642
Bug 371478 has been logged to track this issue.

[2019-09-12 02:11] mugunthanm commented on #1232
Unfortunately this is not supported.  Certificate management has to be managed separately form this.

[2019-09-12 10:12] Kotiann opened #1660 "Finland does not use BankGiro - This should read Sweden?"
Finland ---&gt; Sweden

In addition to the generated invoice form, Giro money transfer slips can be generated as follows:
For the legal entity that uses the country/region context for Finland, and that has at least one bank account that is marked as Giro account and Bank bar code.
For an invoice that is marked as required for the Finnish associated payment attachment.

---
#### Document Details

⚠

[2019-09-13 13:32] bstorie opened #1662 "Update Additional considerations section to include mention of Retail Server redirection"
This section should mention that after the RCSU is deployed all request to the existing Default Retail Server will be automatically redirected to the RCSU Retail Server.   The event logs for the Retail Server located on the AOS will not be used. All RCSU Retail Server logs can be found in LCS Environment Monitoring under the Retail Client Events section.

---
#### Document Details

⚠ *Do not edit

[2019-09-13 16:54] Sunil-Garg commented on #1642
@ccampora, can you clarify which section of the documentation are you referring to when talking about 'default extension' field? I don't find any references to that in this BYOD related wiki :)

[2019-09-13 17:05] Sunil-Garg commented on #1640
@axaeffect, you are right. As noted in this wiki, composite entities are not supported to export to BYOD. You will be able to select but, when publish will fail right away with an error that composite entity cannot be published. Hope this helps.

[2019-09-13 17:15] Sunil-Garg commented on #1560
Thanks. The wiki has been updated.

[2019-09-13 19:09] #1232 closed

[2019-09-13 19:49] ceddings2112 opened #1665 "the instructions are incomplete"
I can't make the queries work can you add more information on how these queries work?
Automatically assign users to roles
Go to Navigation pane &gt; Modules &gt; System administration &gt; Security &gt; Assign users to roles.
In the tree, select 'Accounting supervisor'. Select the role that you want to configure the rule for. In this example, select Accounting supervisor.
Click Add rule to open th

[2019-09-16 06:29] PrebenAmilcare commented on #1040
Have you gotten any reply to your latest question? I can't get this to work either. I can't find any good solution to automatically set legal entity when opening the app.

[2019-09-16 07:57] NickSelin commented on #1660
The possibility to print out Giro payment slips along with customer invoices for Finland was and is still supported in the application as the controlled by parameters option.

Please, refer to the "Payment slip report for Europe" document https://docs.microsoft.com/en-us/dynamics365/unified-operations/financials/localizations/emea-eur-payment-slip-report-giro for more details.

[2019-09-16 13:04] #1640 closed

[2019-09-16 13:05] #1505 closed

[2019-09-16 13:07] sericks007 commented on #1524
This issue was resolved in [pull request 1650](https://github.com/MicrosoftDocs/dynamics-365-unified-operations-public/pull/1650/files).

[2019-09-16 13:07] #1524 closed

[2019-09-16 13:19] sericks007 commented on #211
@ChrisGarty, please review this issue and update the content, as needed.

[2019-09-16 17:42] RobinARH commented on #1665
@chrisgarty - Can you take a look? You make the latest updates to this topic.
@sericks007 - Can you update the topic authors?

Thanks - Robin

[2019-09-16 17:49] sericks007 commented on #1665
I've updated the author metadata in the private repo.

[2019-09-16 21:17] kfend commented on #1596
@MSFTRANDY - Thanks for bringing this to our attention. The topic has been updated and the changes should be reflected in the next 24 hours.

[2019-09-16 21:17] #1596 closed

[2019-09-17 12:38] primeitbr opened #1671 "Wrong "Additional resources" link"
The first "Additional resources" link on this page points to the PU28 additional resources page.

---
#### Detalhes do documento

⚠ *Não edite esta seção. É necessário para a vinculação do problema do docs.microsoft.com ➟ GitHub.*

* ID: 54cb6abe-0f3d-ba5f-7725-48ad458974a5
* Version Independent ID: e0eeda33-408f-3f1f-8d37-536e98b0cdbb
* Content: [What's new or changed in Dynamics 365 for Finance

[2019-09-17 14:14] mpburtt opened #1672 "Get lock details - different in LCS"
The "Get lock details" query described here would be useful but the feature actually implemented in LCS with this query name has a parameter labelled "Table name" and returns lock properties of the indexes of that table. For example, here's what the query returns if I enter "ProjTable" as the table name...

IndexName	IndexType	RowLocks	PageLocks	IsUnique	IsPrimaryKey	IsUniqueConstraint	IgnoreDupKe

[2019-09-17 14:49] studmuffinjj opened #1673 "Removal of printers in red from DRA"
After renaming printers and moving around from UAT to production environments, I have several printers which are no longer in use showing up at the top of my DRA in red. They are ticked, but with a status of not installed. These printers are no longer needed in the environment.

If they are unticked and I register them in the DRA, when I re-enter the printer window, they are still there, ticked. D

[2019-09-17 15:01] tonyafehr commented on #1673
Thanks for contacting us. Unfortunately, we're unable to handle Support requests for the product here. To contact Support, consider one of the options described here: [Support contact options](https://docs.microsoft.com/en-us/dynamics365/unified-operations/dev-itpro/lifecycle-services/lcs-support). In particular, you might want to go to the [Dynamics 365 for Finance and Operations community page](

[2019-09-17 15:01] #1673 closed

[2019-09-17 15:04] tonyafehr commented on #1672
Thanks for the feedback.
@manalidongre, please review and consider updates, if appropriate.

[2019-09-17 15:08] adrianmizzimlt opened #1674 "Master Planning Wizard - Functionality"
I found that this functionality will be released in 10.0.5.   Can't see it in release notes, did it make it through?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d233ac7e-29a6-1974-b86e-e7754c1a4659
* Version Independent ID: b6401971-4cd0-8479-82bf-39644c3f6c63
* Content: [Master planning setup wizard - Finance & Ope

[2019-09-17 15:15] tonyafehr commented on #1674
@josaw1, please review this. Thank you!

[2019-09-17 17:11] josaw1 commented on #1671
I [updated the link ](https://fix.lcs.dynamics.com/Issue/Details?kb=4515866&bugId=348252&dbType=3&qc=75eda4912fe476283a638fbb74fe1619ee8d1ac63a506b1197697c1c4693d1fc)and it will be published later today.

[2019-09-17 17:11] #1671 closed

[2019-09-18 02:51] dhand01 opened #1675 "This document requires updating"
In Step 7, it describes creating a new Controller sub-class, with a new Main method. However the following line of code now creates a Best Practice deviation:

formLetterController.renderingCompleted += eventhandler(SalesConfirmJournalPrint::renderingCompleted);

This document should be updated to explain how to create the Controller sub-class, while still being able to ensure that these post-rend

[2019-09-18 07:03] adrianmizzimlt commented on #1674
I refer to https://docs.microsoft.com/en-us/business-applications-release-notes/april19/dynamics365-finance-operations/planned-features

Feature | Release type | Cloud or on-premises | Date
-- | -- | -- | --
Master planning stability and recovery improvements | General Availability | Both | March 8, 2019
Improved removal of obsolete planning data | General Availability | Both | March 8, 2019
_**Ma

[2019-09-18 09:54] ibruynin opened #1676 "typo"
UserSessionServiceetUserSessionInfo must be UserSessionServiceGetUserSessionInfo

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: be64e79b-f0cc-6450-36e8-24c25f7b982d
* Version Independent ID: 388b396d-95c1-4fef-4199-c6483258c3c5
* Content: [Choose a data integration (import/export) strategy - Finance & Operations | Dyna

[2019-09-18 13:41] sericks007 commented on #1675
@dhand01, thanks for posting this!

@TJVass, please review and update the content as needed.

[2019-09-18 13:46] sericks007 commented on #1676
@ibruynin, thanks for letting us know!  I've fixed the error, and the updated content will be published soon.  Thanks again!

[2019-09-18 13:46] #1676 closed

[2019-09-18 13:51] t-benebo commented on #1674
The Master planning setup wizard is released in 10.0.5. Go to the master plans page and select the desired plan you want to configure and click "Setup wizard".

[2019-09-18 13:54] sericks007 commented on #1658
Bug 373234 has been logged to track this issue.

[2019-09-18 15:15] ritagritag opened #1677 "KB Article link"
The KB article for 10.0.6 indicates TBD however, the hyperlink takes the user to the KB articles for 10.0.5.  When will the 10.0.6 KB articles be released?  Thank you!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2dcd86cc-cbfe-8092-72b0-e6f6b7552cdd
* Version Independent ID: cc3e7b16-1e65-f740-18bf-e46db4491805
* Con

[2019-09-18 15:28] #1674 closed

[2019-09-18 18:45] josaw1 commented on #1677
Hi, the new link is here: https://fix.lcs.dynamics.com/Issue/Details?bugId=369581&dbType=3&qc=ba058110be40fe16a39469298041b1a7baf82eb65bb9df4d864602d2c6bf93d7
I've updated the link in the topic and it will go live later today. Thank you!

[2019-09-18 18:50] #1677 closed

[2019-09-19 09:54] amadse opened #1679 "Link doesn't give inforation about on-premise"
see Software lifecycle policy and cloud releases. For more information about One Version service updates, see One Version service updates FAQ. Thes2 2 links don't give any information about the on-premise releases.  If you follow the information for on-premise in these links you will end up in this page again, but you will never know the latest release for on-premise deployments.
From the first li

[2019-09-19 10:01] robertkara opened #1680 "When removed"
Is it possible to add information to this page about when this method is planned to be removed from the solution? I know it has been announced a 12-month warning before breaking changes like this, but would be really nice to see in what version this will be removed.

Thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* I

[2019-09-19 10:29] stianask opened #1681 "Had to remove Entity-path part from primary connection string"
Using service bus topic I had to remove the EntityPath part and the semi-colon just on front of it from the Primary Connection String before storing it as a Key Vault secret, otherwise the business events endpoint configuration would receive an error.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 95d370ed-df1e-44b6-a8

[2019-09-19 11:46] ianmorgan99 commented on #1679
I agree . It is very difficult to tell from this if 10.0.5 and PU29 are currently supported On-Premise

[2019-09-19 14:14] ryansandness commented on #1481
You can use the "transfer to pay" under time and attendance to send hours to payroll to calculate. Otherwise you'd need to look at some process to populate the earnings lines, whether through an entity or some other process. Transfer to pay example is here, but it has moved since 2012. https://dyntips.com/2015/03/21/time-and-attendance-part-2131-payroll-transfer-and-export/

[2019-09-19 14:56] #1481 closed

[2019-09-19 19:06] josaw1 commented on #1679
Thank you for your feedback. @meeramahabala, can you please look at this request?

[2019-09-19 19:09] josaw1 commented on #1680
Thank you for your feedback. @RobinARH can you please take a look at this?

[2019-09-19 19:11] josaw1 commented on #1681
Thank you for your feedback. @ibenbouzid can you please look at this comment? Thanks.

[2019-09-19 19:13] #1660 closed

[2019-09-20 03:56] gaggaz12 opened #1685 "404 - link issue for Core area > "Work with analytics and reporting in Finance and Operation""
Hi, please see that Core area &gt; "Work with analytics and reporting in Finance and Operation" link goes to a 404 page, please update to correct link to the online course. broken link is "https://docs.microsoft.com/en-us/learn/modules/work-with-analytics-reporting-in-dynamics-365-finance-ops/"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub

[2019-09-20 13:24] adrianmizzimlt opened #1688 "Security"
I want to configure a couple of users to run this.   What are the roles/duties/privileges required to create and post the new statement?

I cannot create the statement with the following roles assigned:

1. Accountant
2. Inventory Accountant
3. Logistics manager
4. Purchasing manager
5. Retail Catalog manager
6. Retail Service
7. Retail Store IT
8. Retail Store manager
9. Retail warehouse clerk
10

[2019-09-20 21:02] Dimitri-Tetsch opened #1692 "There is no text following the title "Generate payments""
There is no text following the title "Generate payments"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 70c008c8-4977-37db-e43d-f96110a86616
* Version Independent ID: eaf9cccb-cab4-061a-ad4f-dcb80ecb4d23
* Content: [Create payments for a customer who have direct debit mandates - Finance & Operations | Dynamics 365 | #M

[2019-09-23 04:02] RutvikMehta opened #1694 "Incorrect information"
This information is listed on many Microsoft pages.
"Modern POS for Android is an Android-based version of the Modern POS program that can be deployed on Android devices."

Modern POS may be deployed on Android tablet but not on Android phones. You need to mention that.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a2

[2019-09-23 12:01] ChristianRytt commented on #1658
We plan to include a possibility to trigger the price calculation in Finance and Operations and return the result on related sales order or quote in D365CE. This is planned as part of Dual Write.
https://docs.microsoft.com/en-us/business-applications-release-notes/april19/cdm-data-integration/dual-write-link-common-data-service-apps

[2019-09-23 13:12] SajeerAssiz commented on #1410
This will work only with developer environment, after development publish to power BI it will work

[2019-09-23 14:25] #1658 closed

[2019-09-23 15:47] ccampora commented on #1642
When you configure the source data format (first image on this document) you can see the field "default extension" at the let end of the image. Like you said there isn't any reference on this document to what the field does.

[2019-09-23 15:50] emstn opened #1695 "Environment URL"
I thought there used to be a step where the environment URL had to be added with /oauth appended. Is that no longer necessary? Is that the Redirect URI?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 24ad63f4-807c-fc88-58b6-33514bd034d0
* Version Independent ID: d727eb59-1162-f195-031a-5400301c8e5b
* Content: [Install

[2019-09-23 16:34] MargoC commented on #1685
Fixed.

[2019-09-23 16:34] #1685 closed

[2019-09-23 19:07] ravimeda opened #1696 "Incorrect sample code for serviceCreateLedgerDimForDefaultDim"
The sample code for `serviceCreateLedgerDimForDefaultDim` at
( https://docs.microsoft.com/en-us/dynamics365/unified-operations/dev-itpro/financial/dimension-defaulting#servicecreateledgerdimfordefaultdim ) has an element that does not render correctly.

`![\\\\blackwoodstone\\share\\Research\\GFMBlog2\\media\\MSDNBlogsFS\\prod.evol.blogs.msdn.com\\CommunityServer.Blogs.Components.WeblogFiles\\00\\

[2019-09-23 19:42] gkhushhal opened #1697 "Redirected to wrong place"
See Additional resources (For more information about Platform update 29, see Additional resources) link is redirecting to Platform update 28 (July 2019) Additional resources

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 54cb6abe-0f3d-ba5f-7725-48ad458974a5
* Version Independent ID: e0eeda33-408f-3f1f-8d37-536e98b0cdbb

[2019-09-23 20:43] tonyafehr commented on #1692
@Dimitri-Tetsch, thanks for the feedback. This topic was generated from a task guide, but I will see if it can be updated, otherwise we will remove the empty section.

@mrolecki, please review.

[2019-09-23 21:13] rubencdelgado commented on #1694
@RutvikMehta can you please explain the issue you are facing? We are not aware of such an issue with the Android App. Many on the product team have Android phones and we routinely deploy the app on our phones for testing.

[2019-09-23 21:19] tonyafehr commented on #1695
This is a good question, however, in the meantime you might want to go to the [Dynamics 365 for Finance and Operations community page](https://community.dynamics.com/) to get help with your questions from the Dynamics community.
@MarkusFogelberg, please review this feedback.

[2019-09-23 21:21] tonyafehr commented on #1696
@jasonsto, please review the feedback for this topic.

[2019-09-23 21:44] tonyafehr commented on #1697
Thank you for bringing this to our attention. We are not making updates to our topics this week, so I'm unable to make direct updates at this time. The link should in question should actually take you to the "Additional resources" section at the bottom of the topic (What's new or changed in Dynamics 365 for Finance and Operations platform update 29 (October 2019)).

[2019-09-23 22:06] #1697 closed

[2019-09-23 22:14] jasonsto commented on #1696
Looks good

[2019-09-24 03:27] RutvikMehta commented on #1694
Hi thanks for replying. MPOS can not be downloaded on Android phone. You have to first make Hybrid POS App, install the apk on phone,  which will in turn run POS from Android. Is that correct?

[2019-09-24 06:42] MarkusFogelberg commented on #1695
It should no longer be necessary.

[2019-09-24 10:13] helicopterpilot opened #1698 "SST tax changes"
Please update this page with the changes made from GST to SST.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f2178eb4-8295-2846-c926-5de18adfa791
* Version Independent ID: be2c67de-df54-0495-81a5-44c8e5e8bb83
* Content: [Malaysia Goods and Services Tax - Finance & Operations | Dynamics 365 | #MSDyn365FO](https://docs.

[2019-09-24 14:49] tonyafehr commented on #1698
@helicopterpilot, thanks for the feedback.
@mrolecki, please review and consider updating this topic.

[2019-09-24 15:26] tonyafehr commented on #1672
Bug 5439253 has been logged to track this issue.

[2019-09-24 15:29] tonyafehr commented on #1665
Bug 376891 has been logged to track this issue.

[2019-09-24 19:24] mrolecki commented on #1698
@tonyafehr, @RichardLuan should be an owner and consider updating the topic

[2019-09-24 20:03] #1696 closed

[2019-09-25 13:24] sericks007 commented on #1659
Bug 377134 has been logged to track this issue.

[2019-09-25 13:29] sericks007 commented on #1675
Bug 377135 has been logged to track this issue.

[2019-09-25 17:20] sericks007 commented on #1659
Closing, as the link has been added as suggested.

I discussed the Tier-2 comment with a PM, and he feels that the article sufficiently identifies you can get more Tier-2 environments to support your needs.

[2019-09-25 17:20] #1659 closed

[2019-09-25 18:57] federicocastro commented on #280
How could I add custom fields to other tables that are not shown in the list? e.g: Invoice Line.

[2019-09-26 08:31] AndersDahlin opened #1701 "Supported flows for credit card/payment connector"
A process description is needed to explain when the payment connector is triggered, when capture, cancel and refund calls occurs in the system. Also a description of the logic. If multiple payment mehtods are used, when will it be triggered/used. Like shipping a partial order with the rest of the items are cancelled, creating a return order for some of the items etc. Continue to expand on more sta

[2019-09-26 11:40] jawn opened #1702 "Unclear how to close the keyboard shortcut dialog using the keyboard"
After right-click on a control and select View shortcuts, the dialog box with help is displayed.

I would expect that you can close this dialog using the keyboard.

Most logical key: Esc.
Currently, this doesn't do anything and I see no other way to do this.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1107997a-daa3-

[2019-09-26 17:36] ptansey opened #1703 "Poorly worded Note"
The note at the beginning of this article is poorly worded: "There are many more features in the Trace parser are similar to Microsoft Dynamics AX 2012. See the Dynamics Ax Performance Team Blog for more information."
No biggie, just thought you should know

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2ca95239-c2a9-1

[2019-09-26 17:46] ptansey opened #1704 "Trace is not on Settings"
The trace feature mentioned in Step 2 is actually on the Help (?) menu, not Settings

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fe3185f9-a301-ca41-90c2-6a4715df55ca
* Version Independent ID: 0ec0e0ba-5839-806a-5471-dda4bc56996a
* Content: [Take traces by using Trace parser - Finance & Operations | Dynamics 365 | #M

[2019-09-26 20:29] josaw1 commented on #1701
Thank you for your feedback. @ShivamPandey-msft can you please take a look?

[2019-09-26 20:32] josaw1 commented on #1702
Thank you for your feedback. @jasongre can you please take a look?

[2019-09-26 20:34] josaw1 commented on #1703
Thank you for your feedback. @RobinARH please take a look.

[2019-09-26 20:34] josaw1 commented on #1704
Thank you for your feedback. @RobinARH can you please make the correction?

[2019-09-26 20:41] josaw1 commented on #1681
Bug 377509 created to track this issue.

[2019-09-26 20:43] josaw1 commented on #1679
Bug 377510 created to track this issue.

[2019-09-26 20:47] josaw1 commented on #1680
Bug 377511 created to track issue.

[2019-09-26 20:50] sericks007 commented on #1681
@Sunil-Garg, please review and update the content, as needed.

[2019-09-30 08:50] marihul opened #1710 "TechTalk Link is dead"
Correct Link should be: https://community.dynamics.com/365/b/techtalks/posts/environment-planning-may-23-2018

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 00f88ef5-f857-b53e-8835-b944e8217560
* Version Independent ID: 1993cec6-ee86-f44d-97dc-107216269ccc
* Content: [Environment planning - Finance & Operations | Dynam

[2019-09-30 21:10] ijensen808 opened #1712 "Bad Screenshot in Procedure 2 step 4"
Procedure 2, Step 4: the screenshot references a Service Bus key vault, but this is an event grid tutorial.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7e2c1641-60b6-f7aa-1dcc-4de3a5ee0c21
* Version Independent ID: c38b474f-9e71-2477-3bf0-fe78f308d659
* Content: [Business events and Azure Event Grid - Finance & Oper

[2019-10-01 13:56] weikanglim opened #1713 "Catching exceptions inside transactions: DuplicateKeyException and UpdateConflict"
The section for "Exceptions inside transactions" does not explain how DuplicateKeyException and UpdateConflict exceptions can be caught.

The current article states:

Which is not completely accurate, given that `catch(Exception::DuplicateKeyException)`  and `catch(Exception::UpdateConflict)` does allow for catching inside transaction blocks, as explained in the article: https://community.dynamics

[2019-10-01 14:03] JoelLeichty opened #1714 "Missing Documentation"
Updates were made to the BYOD process that are not documented in this article, but reference Platform 27 in another article.
https://docs.microsoft.com/en-us/dynamics365/unified-operations/dev-itpro/analytics/export-entities-to-your-own-database

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f11411b8-faee-5db5-fca0-a9c

[2019-10-01 15:09] tonyafehr commented on #1710
@marihul, thanks for the feedback. I will get the link updated and published tomorrow.

[2019-10-01 15:09] #1710 closed

[2019-10-01 15:11] tonyafehr commented on #1712
@ijensen808, thanks for the feedback.
@ibenbouzid, please consider updating this topic.

[2019-10-01 15:12] tonyafehr commented on #1713
@weikanglim, thanks for the feedback.
@RobinARH, please review and consider updating this topic.

[2019-10-01 15:19] tonyafehr commented on #1714
@JoelLeichty. thanks for the feedback. We will consider making updates.
@sunil, please consider updating the What's New topic with this information.

[2019-10-01 15:22] #1692 closed

[2019-10-01 15:25] tonyafehr commented on #1698
Bug 379345 has been logged to track this issue.

[2019-10-01 15:34] xhellot opened #1716 "Reporting currency exchange rate is defaulted to 0, when importing GL data with data entity LedgerJournalEntity"
The new added field ReportingCurrencyExchRate cannot be 0, otherwise the journal won't be posted. This makes our existing data import project fail to create valid GL data.
And I noticed that field is not defaulted to 100.00 if Accounting currency is the same as Reporting currency when importing with data entity LedgerJournalEntity. This logic is added in the method initValue of table LedgerJournal

[2019-10-01 17:19] johnnystruck opened #1717 "Vendor payments link dead"
PowerBI Vendor payments link is not working - unable to view details regarding this solution.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fa86d056-40d0-c47f-478a-c767772b9b8b
* Version Independent ID: cf23b6ac-b1e3-c8c1-5e7d-82d338f1beca
* Content: [Power BI content home page - Finance & Operations | Dynamics 365 |

[2019-10-01 17:38] RobinARH commented on #1717
@sericks007 Can you take a look? Thanks.

[2019-10-01 17:42] RobinARH commented on #1716
@aprilolson Can you take a look? This seems to be about general ledger. Thanks.

[2019-10-01 17:53] johnnystruck commented on #1717
Cash overview and Credit and Collections are also not working, perhaps its the PowerBI section in general?

[2019-10-01 20:23] #1694 closed

[2019-10-02 01:25] Fyrste opened #1719 "Notes"
Dear Microsoft,

Which "notes" are meant in the introduction mentioned here "These tasks would typically be carried out by a warehouse manager. You can run this procedure in the USMF demo data company using the example values in the notes, or can run it on your own data."

Many thanks in advance.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHu

[2019-10-02 01:48] aprilolson commented on #1716
This would be @Kristi Slininger<mailto:kweekley@microsoft.com>

April Olson
Dynamics 365 Finance & Operations
Principal Group Program Manager, Financials & Service Industries
Check out our Financials blog: https://community.dynamics.com/365/financeandoperations/b/financials

Our workplace allows for a flexibile work schedule, which is an amazing benefit. I am sending this now because it is conveni

[2019-10-02 13:15] sericks007 commented on #1719
@Fyrste, thanks for posting here!

@perlynne, please review and update the introduction to clarify.

[2019-10-02 13:29] perlynne commented on #1719
Notes was taken from task recordings, it "values below".

Thanks

[2019-10-02 14:02] #1719 closed

[2019-10-02 14:03] sericks007 commented on #1717
@johnnystruck, thanks for letting us know! Our team is working on fixing links.

[2019-10-02 15:03] sericks007 commented on #1717
These links have been fixed. The updated article will be published soon.

[2019-10-02 15:03] #1717 closed

[2019-10-02 19:43] GeoffreyDelmee opened #1721 "Office 2019 compatibility?"
On the page, we cas read: "To run the Microsoft Excel and Microsoft Word add-ins, you must have Microsoft Office 2016 for Windows installed."
Following the link just after, we see Office add-in requires ExcelAPI 1.2 which is available in Excel 2019.
So, is Office 2019 validated and if so, can you update this page?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.mic

[2019-10-02 19:46] sericks007 commented on #1721
@GeoffreyDelmee, thanks for bringing this to our attention!

@sarvanisathish or @PeterRFriis, could you please review and update the content, if needed.

[2019-10-03 07:47] sy-huss opened #1723 "Unable to download PDF"
When clicking on the download PDF - I get an error page.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a0cd4aef-33f1-d647-85eb-1a055ef216bd
* Version Independent ID: 73febada-4141-88bf-7a55-e8cc375dde92
* Content: [Business events overview - Finance & Operations | Dynamics 365 | #MSDyn365FO](https://docs.microsoft.com

[2019-10-03 13:55] tonyafehr commented on #1627
This is has been clarified. The updated topic will be published soon.

[2019-10-03 13:55] #1627 closed

[2019-10-03 14:17] gertvdh opened #1724 "Examples on how to handle enum criteria"
Can you add some examples on how to handle enums in odata queries?

it's possible when you do [Your organization's root URL]/data/CustomersV3?$filter= PersonGender eq Microsoft.Dynamics.DataEntities.Gender'Unknown'

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4d7c8b45-1531-ebbf-d417-4e1fe5bf4f1b
* Version Independent

[2019-10-04 05:32] sy-huss opened #1726 "Issue downloading the full document in PDF format"
There's an issue with downloading the document. When clicking on the download link, there is a 404 error.

[2019-10-04 05:33] #1726 closed

[2019-10-04 05:33] sy-huss commented on #1726
Accidentally created a duplicate.

[2019-10-05 15:18] skolbin-ssi opened #1731 "The .pfx container file downloaded by the Download Secure File build task is not encrypted"
[Enter feedback here]

This part of the statement from the quote that is highlighted in bold is not correct. The .pxf container file is not encrypted while in transit on the disk in the VSO Build Agent's __temp_ folder for the duration of the build run. This makes the .pfx container file (and we keep in mind that the .pfx container file is not protected by a password) exposed and vulnerable to a c

[2019-10-07 05:03] SheikhM20 opened #1734 "Perfect"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9b18e789-f4a8-1526-93c5-d1bd698784c6
* Version Independent ID: 1a91874e-583a-0119-7591-43e02a39b53a
* Content: [Test recorder and Regression suite automation tool for Retail Cloud POS - Retail | Dynamics 365](https://docs.microsoft.com/en-us/dynamics3

[2019-10-07 05:04] SheikhM20 commented on #1734
Perfect testing mode

[2019-10-07 19:40] #1734 closed

[2019-10-07 19:41] RobinARH commented on #1731
@mugunthanm Can you take a look? thanks.

[2019-10-07 19:44] josaw1 commented on #1555
Bob removed the extra steps.

[2019-10-07 19:44] #1555 closed

[2019-10-07 19:48] RobinARH commented on #1716
@kweekley Can you take a look? thanks.

[2019-10-07 19:50] RobinARH commented on #1654
Created bug 381304 to track this issue.

[2019-10-07 19:51] kweekley commented on #1716
I’m not sure where to put my comments….but this is basically a bug and they need to work with support to report the issue.  If I put that in GitHub, is that visible externally?

From: Robin Reynolds-Haertle <notifications@github.com>
Sent: Monday, October 7, 2019 2:48 PM
To: MicrosoftDocs/dynamics-365-unified-operations-public <dynamics-365-unified-operations-public@noreply.github.com>
Cc: Kristi

[2019-10-07 19:53] RobinARH commented on #1653
Bug 381308 created to track this issue.

[2019-10-07 19:54] RobinARH commented on #1716
Created bug 381302 to track this issue.

[2019-10-07 19:55] RobinARH commented on #1651
Created bug 381316 to track this issue.

[2019-10-08 00:20] emstn opened #1738 "Import the bacpac file into SQL Database and db scale out"
The import bacpac file into SQL database step doesn't seem to work anymore with the database scale out changes described in https://cloudblogs.microsoft.com/dynamics365/it/2019/08/06/lifecycle-services-august-2019-release-1-release-notes/
Getting an error that says client with IP address is not allowed to access the server.

---
#### Document Details

⚠ *Do not edit this section. It is required fo

[2019-10-08 12:58] tonyafehr commented on #1738
Thanks for the feedback. We will review and consider making updates. In the meantime, if you need to contact Support consider using one of the options described here: [Support contact options](https://docs.microsoft.com/en-us/dynamics365/unified-operations/dev-itpro/lifecycle-services/lcs-support). In particular, you might want to go to the [Dynamics 365 community page](https://community.dynamics.

[2019-10-08 13:10] tonyafehr commented on #1712
Bug 381552 has been logged to track this issue.

[2019-10-08 13:13] tonyafehr commented on #1713
Bug 381554 has been logged to track this issue.

[2019-10-08 13:15] tonyafehr commented on #1714
Bug 381555 has been logged to track this issue.

[2019-10-08 16:22] phualcarrs opened #1742 "initializeReportControl deprecated"
The best practice checks tell you to use initializeReportControlV2 as initializeReportControl is deprecated. Can you update the guidance on this page to use the correct method please?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 58543120-6ce0-15a0-dd0a-ca4888b11d85
* Version Independent ID: 4e804992-b8bd-e312-eb85-da

[2019-10-08 16:35] tonyafehr commented on #1742
@phualcarrs, thanks for the feedback.
@TJVass, please review and consider updating this topic.

[2019-10-09 12:49] sericks007 commented on #1721
Bug 381823 has been logged to track this issue.

[2019-10-09 21:53] dougbell-ms opened #1745 "Need to Auto Declare the form group control"
I think it's worth point out that when you create the form group control in steps 12 and 13, you must set the Auto Declaration property to Yes.  For VS novices like me it took me quite some time to figure that out...

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 58543120-6ce0-15a0-dd0a-ca4888b11d85
* Version Independe

[2019-10-10 01:53] manishmoothedath opened #1746 "Missing information in Step #7 Database copy from Sandbox request (if applicable)"
The service request for copying Sandbox to Production has a lead time of 5 hours for downtime request (excluding the further SLA of 4 hours to action the service request). which is not mentioned anywhere in this article.  e.g. service request raised at 10 am UTC will have downtime starting from 3 pm UTC.
If one tries to schedule the downtime before that, there is an error in LCS - "The downtime st

[2019-10-10 20:44] johnnystruck opened #1750 "Prerequisite"
Missing prerequisite steps to configure specific General Ledger "Journal name." Later referenced in step 3 in "setup the write off parameters section."

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a60ea314-a744-196b-54d1-34972343a96c
* Version Independent ID: d4445025-22b0-4398-fc10-08c0120a9ec7
* Content: [Create a

[2019-10-11 18:58] josaw1 commented on #1745
Thank you for your feedback. @TJVass, please consider adding more info here.

[2019-10-11 19:07] josaw1 commented on #1746
Thank you for your feedback. @ClaudiaBetz-Haubold can you please take a look?

[2019-10-11 19:08] josaw1 commented on #1750
Thanks for your feedback. @ShivamPandey-msft can you please look at this?

[2019-10-11 19:20] josaw1 commented on #1724
Bug 382685 created to track issue.

[2019-10-11 19:22] josaw1 commented on #1723
Bug 382686 created to track this issue.

[2019-10-11 19:26] josaw1 commented on #1704
Bug 382687 created to track this issue.

[2019-10-11 19:32] josaw1 commented on #1702
Bug 382689 created to track this issue.

[2019-10-11 19:36] josaw1 commented on #1701
Bug 382690 created to track issue,

[2019-10-11 19:50] jasongre commented on #1702
Thanks for the feedback. Closing the keyboard shortcut dialog can be done today with the keyboard by tabbing to the Close button and pressing Enter. We'll look into why Esc isn't working.

[2019-10-11 19:52] anpurush commented on #1688
Please use the "Retail operations manager" role to create & post Statements

[2019-10-11 20:13] jasongre commented on #1591
The earliest preview build for Platform update 29 was missing a CSS tweak to render the workspace icons correctly, but this was fixed before the build became generally available.

[2019-10-11 20:13] jasongre commented on #1573
The typo has been corrected.  Thanks!

[2019-10-11 20:14] #1591 closed

[2019-10-11 20:14] #1702 closed

[2019-10-11 20:14] #1573 closed

[2019-10-14 02:13] anytranya opened #1751 "The call to print custom receipt type on client is referred to a video that is for old version"
Please update the reference to correct version, Managers in latest version is no longer available. So call of getReceiptsForPrintAsync is out of date already. Thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8d88f5da-3dff-fa7e-ef65-a1f8e71e7930
* Version Independent ID: 43c19e9e-5113-c423-eda7-30f09a255d91
* Cont

[2019-10-14 16:39] awalkerholder opened #1753 "Offer Data Rules"
In this article it is unclear how to create an offer data rule that simply provides a user a list of choices. Even though it is possible you have to read between the lines or search else ware to discover this functionality.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2912d463-a227-dff6-0412-6e6bec0062ee
* Version In

[2019-10-14 19:24] mugunthanm commented on #1751
Can you please send us the doc link/screenshot where you find this API used (getReceiptsForPrintAsync ), somehow not able to find this in our search.

[2019-10-14 19:35] tonyafehr commented on #1738
Bug 383038 has been logged to track this issue.

[2019-10-14 19:36] tonyafehr commented on #1742
Bug 383039 has been logged to track this issue.

[2019-10-14 19:48] tonyafehr commented on #1753
@awalkerholder, thank you for the feedback.
@andreabichsel, please review and consider revising this topic.

[2019-10-14 21:41] anytranya commented on #1751
1. From the video which is a reference on page.
![image](https://user-images.githubusercontent.com/56044305/66784847-977dd280-eea9-11e9-8eb7-d6f245bddf62.png)
![image](https://user-images.githubusercontent.com/56044305/66784880-ab293900-eea9-11e9-82eb-7b88d0c866cd.png)
2. readme.txt from RetailSDK document
![image](https://user-images.githubusercontent.com/56044305/66784965-e4fa3f80-eea9-11e9-9343

[2019-10-15 02:27] awalkerholder opened #1756 "Missing word"
This sentence is missing the word “add”

You can activities to a stage either by dragging them to the appropriate stage or by double-clicking them in the activity list.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 44d4b786-af2d-5001-8d8f-b8140b53d632
* Version Independent ID: 4fc9cb7a-e8be-19dd-2d58-b13a070f2a21
* Co

[2019-10-15 12:22] mawa77 commented on #1654
Current documentation does not apply to self service aka service fabric environments. The question is how we should do the data upgrade in sandbox (or production) when we have self service sandboxes? Could you please update the documentation or should we create a support ticket? We have customer project ongoing where the plan is to do the data upgrade

[2019-10-15 13:00] sericks007 commented on #1756
@awalkerholder, thanks for letting us know!

@andreabichsel, please update the topic as suggested.

[2019-10-15 13:18] laneswenka commented on #1654
You will want a support ticket to redeploy your environments off self-service. We have work in progress to identify 2012 customers and enforce this in future.

Lane

Sent from my iPhone

On Oct 15, 2019, at 5:22 AM, mawa77 <notifications@github.com<mailto:notifications@github.com>> wrote:

Current documentation does not apply to self service aka service fabric environments. The question is how we

[2019-10-15 16:08] andreabichsel commented on #1756
Thank you! I updated the topic and it should be live in a few minutes.

[2019-10-15 16:08] #1756 closed

[2019-10-15 18:34] ibruynin opened #1758 "(How) does this work for ISV or customer specific data models/entities?"
Does this tool only work for standard AX or can it be used to migrate ISV/customer specific data as wel?

---
#### Documentdetails

⚠ *Dit gedeelte niet bewerken. Het is vereist om problemen te koppelen tussen docs.microsoft.com en GitHub.*

* ID: 7883c831-f332-73b6-6669-75e0f8f7956c
* Version Independent ID: c9a8a6a0-88dd-c432-1fda-a59259fd8533
* Content: [AX 2009 upgrade - Use the Data migration

[2019-10-15 18:45] sericks007 commented on #1758
@ibruynin, thanks for posting here!

@laneswenka, would you be able to answer this question?

[2019-10-16 03:49] kfend commented on #1461
This topic has been updated and the changes will be live in the next 24 hours.

[2019-10-16 03:49] #1461 closed

[2019-10-16 09:20] DiSae opened #1762 "GeneratePackages - ExclusionList"
1. Nowhere in this article it is mentioned that the 'GeneratePackages.ps1' script is used to exclude packages.
2. GeneratePackages exclusion list does not apply to model source package that is also created via the above mentioned ps1 script.
3. Maintaining the list of TestAutomation packages is very hard. Lots of build pipelines require lots of updates.
4. I'm not sure, but if you have like 100 te

[2019-10-16 10:15] rabol opened #1765 "Please update to reflect current version of D365 and Postman"
[Enter feedback here]
The steps shoen under the Postman setup does not work with the current version of Postman.

Not sure if it is the version of D365 or Postman that is the problem

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 39946d94-b987-869b-dcf9-fc8a53089976
* Version Independent ID: c4996190-a4d7-0531-072c-454

[2019-10-16 13:06] sericks007 commented on #1762
@DiSae, thank you for your feedback!

@jorisdg, please review the feedback and update the content as necessary.

[2019-10-16 13:08] sericks007 commented on #1765
@rabol, thank you for submitting this feedback!

@Sunil-Garg, please review and update the content as necessary.

[2019-10-16 16:36] elenchule opened #1766 "Can I delay an update?"
In the "Can I delay an update?" section, it's mentioned that it's 3 months for 2 consecutive updates, whereas is 3 consecutive updates, not 2. It has been misleading for some customers referring to this page.

Thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 23fde63f-0f6f-b1a0-50c8-e1bf5f6a48c4
* Version Independ

[2019-10-16 17:35] sericks007 commented on #1766
@elenchule, thanks for posting this!

@meeramahabala, please review and update the content as necessary.

[2019-10-16 17:59] kfend commented on #1723
@sy-huss  - please try downloading again. It seems that this issue has been resolved.

[2019-10-16 17:59] #1723 closed

[2019-10-17 14:59] josaw1 commented on #1745
Created bug 384070 to track.

[2019-10-17 15:02] josaw1 commented on #1746
Created bug 384071 to track.

[2019-10-17 15:05] josaw1 commented on #1750
Created Bug 384074 to track.

[2019-10-17 15:24] ClaudiaBetz-Haubold commented on #1746
@Jo Sawyer<mailto:josaw@microsoft.com> – the feedback does not make sense to me. Step 7 in the document clearly calls out the lead time and the downtime:
[cid:image001.jpg@01D5850F.BE2FB960]

Feel free to make a suggestion to reword this to avoid confusion if you deem it necessary.

Thanks,

Claudia Betz-Haubold
Principal Solution Architect | FastTrack for Dynamics 365<https://dynamics.microsoft.c

[2019-10-17 17:32] #1746 closed

[2019-10-18 09:28] MartinVyuga opened #1769 "Compiler warning when augementing BusinessEventsServiceBusAdapter with custom payloadContext"
The section about adding a custom Payload Context https://docs.microsoft.com/en-us/dynamics365/fin-ops-core/dev-itpro/business-events/business-events-dev-doc#payload-context
is outdated IMHO.
The class BusinessEventsServiceBusAdapter is marked as internal and as of PU30 the compiler gives a warning when I try to augement its method in my own model.

Please advise on what to do in the case I want t

[2019-10-21 08:10] swidz opened #1770 "Example 2 is a copy of example 1 and does not set recurring schedule"
There is no difference in &lt;Operation&gt; node in these to examples. Moreover, the second example lack the ConfigurationOnly node which cardinality is denoted as 1..1 so should be mandatory

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bf51a7e8-9ae4-5b55-c61c-2dc31abe6621
* Version Independent ID: 934ab5eb-0b75-c8de

[2019-10-21 15:53] #1568 closed

[2019-10-21 16:14] elusivecube opened #1772 "GetExecutionErrors Documentation Missing"
This API is missing from this documentation.

It is available at: /data/DataManagementDefinitionGroups/Microsoft.Dynamics.DataEntities.GetExecutionErrors

Please update accordingly and provide request/response examples as well.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9d963d4c-de1f-7730-bee2-016dcde40907
* Versio

[2019-10-21 17:42] RobinARH commented on #1770
@Sunil-Garg Can you take a look? Thanks.

[2019-10-21 17:45] RobinARH commented on #1772
@Sunil-Garg Can you take a look? Thanks.

[2019-10-21 22:40] RobinARH commented on #1731
Bug 385340 to track this issue.

[2019-10-21 22:53] mugunthanm commented on #1731
Thanks for the feedback. We will follow up with the DevOps team on this.

https://docs.microsoft.com/en-us/azure/devops/pipelines/library/secure-files?view=azure-devops

Use the Secure Files library to store files such as signing certificates, Apple Provisioning Profiles, Android Keystore files, and SSH keys on the server without having to commit them to your source repository. Secure files are de

[2019-10-22 00:16] jorisdg commented on #1762
The article does not mention the script's filename directly, but it explains which task needs to be updated if updating from a very old platform version. The step mentioned in the documentation ("generate packages") in the build definition of course shows the name of the script if one would need to know that.
In general there is no need to mention the script by name, since it is not truly meant to

[2019-10-22 05:41] TrudAX opened #1773 "Obsollete information"
Hi. Can you please check the following sentence:
"The data packages that Microsoft publishes on LCS use a numbering sequence that is based on the module, data type, and sequence. Here is an example:"
It seems this is no longer true. For version 10 the following packages provided:
Demo data 10.0.0 300 Supply chain PICH
Demo data 10.0.0 200 Financials PIFB
Demo data 10.0.0 200 Financials HQEU
Demo d

[2019-10-22 12:41] #1762 closed

[2019-10-22 13:46] tonyafehr commented on #1773
@TrudAX, thanks for the feedback.
@manalidongre, please review and address this feedback. Thank you!

[2019-10-22 14:03] tonyafehr commented on #1753
Bug 385437 has been logged to track this issue.

[2019-10-22 14:03] tonyafehr commented on #1751
Bug 385435 has been logged to track this issue.

[2019-10-22 14:39] amadse opened #1775 "The header is for on-premise and all drawings show cloud solution"
This article is poor, as the header is for on-premise and all drawings show cloud solution. It doesn't show any graphics over the on-premise printing. Reading it make you doubt that this is for on-premise printing

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b720ef96-1322-53fd-6048-a329cf3d6405
* Version Independent

[2019-10-22 18:41] tonyafehr commented on #1775
@TJVass, please review this feedback from @amadse and consider updating this topic.

[2019-10-22 21:31] mugunthanm commented on #1751
Updated the doc with the right link - Print custom receipt from POS.

[2019-10-22 21:34] #1751 closed

[2019-10-22 22:57] MilindaV2 commented on #596
The InMemoryRealTime flag is not relevant for entity store. This metadata flag is ignored when staging data in entity store

[2019-10-22 23:04] MilindaV2 commented on #1039
You do need to add the URL with the oauth suffix as below
https://xxxxx.operations.dynamics.com/oauth

[2019-10-22 23:13] MilindaV2 commented on #770
updated the document

[2019-10-23 02:54] manishmoothedath opened #1779 "Should we register the printers again while upgrading ?"
Hi,
While we uninstall and install the DRA agent as part of the upgrade, Should one delete the existing network printers registered in D365FO and register them again in DRA after installation ? This is not clear from the documentation.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 985d5890-1f5e-396d-6e74-96f8e86795fb

[2019-10-23 06:52] DiSae commented on #1762
Hi @jorisdg ,

Which new generate package task are you referring to?

When searching in the Azure DevOps marketplace I could only find tasks named 'Generate Release Notes Build Task', looking into that one it seems that it doesn't generate deployable packages.
![image](https://user-images.githubusercontent.com/31828724/67365714-6456d580-f572-11e9-8a2e-42697f794aec.png)

[2019-10-23 07:15] torbennehmer opened #1780 "The KB Article Link is leading to the wrong page"
The KB-Link for the detailed PU30 changelog leads to the 10.0.6 application entry, not to the PU30 entry.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8fdcd25d-46a4-d7ee-2d7d-444cbe100df6
* Version Independent ID: 58bc9ab7-de8b-6d5e-eb7a-8c9c574698b3
* Content: [What's new or changed in Platform update 30 for Finance

[2019-10-23 13:03] beefcake123 opened #1781 "ModuleToRemove.txt"
https://docs.microsoft.com/en-us/dynamics365/fin-ops-core/dev-itpro/deployment/uninstall-deployable-package
This link talks about a "ModuleToRemove.txt" package the can be added to the structure 'package\AOSService\Scripts'. How is this file processed by the runbook? Which step is responsible for executing the ModelToRemove logic?

We want to create a minimalistic package, preferably only with the

[2019-10-23 13:21] #1039 closed

[2019-10-23 13:57] sericks007 commented on #1779
@manishmoothedath, thanks for posting here!

@TJVass, please answer the question and update the content as needed.

[2019-10-23 14:16] sericks007 commented on #1780
@torbennehmer, thanks for making us aware of this issue!  I've fixed the link, and the updated content will be published later today.

[2019-10-23 14:16] #1780 closed

[2019-10-23 14:24] sericks007 commented on #1781
@beefcake123, thanks for posting here!  You might want to go to the [Dynamics 365 community page](https://community.dynamics.com/) to get help with your questions from the Dynamics community.

@manalidongre, please answer the question and update the content, as needed.

[2019-10-23 14:26] JJ431 opened #1782 "Roles and Reports"
Hi,

I have assigned the System report editor role to myself, but if I change the Personnel Mgmt workspace, other users keep seeing the default lay-out for that report.

Is there a step that I am missing?

Many thanks in advance.

Kind regards,

Jasper

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e7cdec30-10b0-81c8-c

[2019-10-23 14:30] sericks007 commented on #1782
@JJ431, thanks for posting here! You might want to go to the [Dynamics 365 community page](https://community.dynamics.com/) to get help with your questions from the Dynamics community.

@jcart1106, can you please answer the question and update the content, as needed.

[2019-10-23 14:40] sericks007 commented on #1765
Bug 386028 has been logged to track this issue.

[2019-10-23 14:43] sericks007 commented on #1766
@ShellyBakke, can you please review and update the content, as needed.

[2019-10-23 14:54] sericks007 commented on #1766
Bug 386052 has been logged to track this issue.

[2019-10-23 15:53] sericks007 commented on #927
According to @MilindaV2 the entity store can't be accessed directly in production. For more information, please see [Embedded Power BI in workspaces](https://docs.microsoft.com/en-us/dynamics365/fin-ops-core/dev-itpro/analytics/embed-power-bi-workspaces)

[2019-10-23 15:53] #927 closed

[2019-10-23 16:23] jorisdg commented on #1762
It's in the same extension you already have installed for the release tasks. In a build or release pipeline just search for generate packages.
Also see https://community.dynamics.com/365/financeandoperations/b/newdynamicsax/posts/azure-devops-tasks-for-packaging-and-model-versioning

[2019-10-23 20:52] laneswenka commented on #1354
Upgrade analysis is not applicable with OneVersion.  When upgrading from 7.x to 8.0+ you will require re-writting your overlayers as extensions and removing all X++ hotfixes (Microsoft packages) from your version control as X++ KBs are no longer supported.

[2019-10-23 20:55] laneswenka commented on #1738
You will be required to import all databases via LCS Self-service Database Import.  Please see this article for step by step on preparing the bacpac from SQL Server and promoting it for go live:
https://docs.microsoft.com/en-us/dynamics365/fin-ops-core/dev-itpro/database/dbmovement-scenario-goldenconfig

[2019-10-23 20:55] #1354 closed

[2019-10-23 20:59] #1738 closed

[2019-10-23 21:03] #1654 closed

[2019-10-24 18:17] jorisdg commented on #1762
We're unclear on the long-term future of AxModel (we'd like to use nuget instead at some point) but I will review with the team if we can support axmodel for the time being.

[2019-10-29 12:55] tonyafehr commented on #1773
Bug 5643360 has been logged to track this issue.

[2019-10-29 12:56] tonyafehr commented on #1775
Bug 387403 has been logged to track this issue.

[2019-10-29 19:51] RobinARH commented on #1704
Fixed. It will be published to live today. - Robin

[2019-10-29 19:51] #1704 closed

[2019-10-29 20:01] #1560 closed

[2019-10-29 20:03] RobinARH commented on #1443
We updated and posted the video, and added a link to the developer home page:

https://www.youtube.com/watch?v=4rxO0zUN2zU

[2019-10-29 20:03] #1443 closed

[2019-10-29 22:00] jorisdg commented on #1391
This is currently not integrated into the standard build pipeline. You would have to manually edit the pipeline to compile and copy the output. We have blogged about one somewhat standard option to accomplish this using dependency XML file: https://community.dynamics.com/365/financeandoperations/b/newdynamicsax/posts/selecting-what-models-are-part-of-the-build-automation-process

However, this is

[2019-10-30 11:57] SST1982 opened #1789 "Why not import ER configurations from LCS"
As far as I know, the primary source for all ER configurations is Lifecycle Services (LCS). In this document it is advised to download xml files from some web repository and import them manually. As of today, there are ER invoice templates under "Customer invoice model". I suppose these are such configurations meant to produce Business Documents. If that is the case, please update this page to ref

[2019-10-30 12:35] #1391 closed

[2019-10-30 12:42] sericks007 commented on #1789
@SST1982, thanks for posting here!

@NickSelin, please review and update the content, as necessary.

[2019-10-30 12:54] kristyler opened #1790 "Editing a task recording"
Editing a task recording currently is flaky. If you insert a step in an existing recording, Task Recorder moves it to the last position when the test runs. Looking in the CS file shows that the ID for the new step makes it the last thing the recording does.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: da49381d-db38-c

[2019-10-30 12:59] sericks007 commented on #1779
Bug 387893 has been logged to track this issue.

[2019-10-30 13:07] sericks007 commented on #1781
Bug 387906 has been logged to track this issue.

[2019-10-30 13:14] sericks007 commented on #1782
Bug 387910 has been logged to track this issue.

[2019-10-30 13:17] sericks007 commented on #1790
@kristyler, thanks for posting here!

@kfend, please assign to the appropriate PM to resolve.

[2019-10-30 16:45] Sunil-Garg commented on #1769
You are right. There is a compatibility issue that was un-covered in PU30 which is being tracked as a bug. We are looking into fixing this issue. In the meantime, the troubleshoot wiki has been updated about this issue to create awareness. Thanks again.

[2019-10-30 17:41] RobinARH commented on #1713
@MichaelFruergaardPontoppidan - Can you take a look? Thanks.

[2019-10-30 17:58] RobinARH commented on #1653
I corrected the text and the new text will be published live later today. - Robin

[2019-10-30 17:58] #1653 closed

[2019-10-30 18:15] tonyafehr commented on #1714
We've updated the text and will be live later today.

[2019-10-30 18:15] #1714 closed

[2019-10-30 19:30] sericks007 commented on #1782
@TJVass, please answer the question, and update the content as necessary.

[2019-10-30 19:38] tonyafehr commented on #1712
We've updated this topic and changes will be live later today.

[2019-10-30 19:38] #1712 closed

[2019-10-30 20:43] Sunil-Garg commented on #1681
stianask, thanks for the feedback. Did you mean, you have to remove this? Endpoint=sb:

If not, can you paste the string that you say should not be included when configuring the end point for business events?

[2019-10-31 03:48] VigneshMSCRM opened #1794 "Garbled character"
Using this manual, the data is getting corrupted. CSV file downloaded from Post office site will be in Shift-JIS format and I believe Dynamics 365 only support UTF-8. Eventhough save the file as UTF-8 resulting in garbled character. Kindly update the manual to resolve this issue.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

[2019-10-31 08:13] toghe opened #1796 "Combined update"
In the section 'Production environment', when you say that both base product & customization are moved to production, is 'base product' the same as the 'Platform and the MS Application update' ? Do you mean that the platform version & the MS application version of sandbox is automatically migrated from sandbox to production, along with the custom code ?

---
#### Document Details

⚠ *Do not edit t

[2019-10-31 08:16] stianask commented on #1681
The final string entered as a secret i key vault was like this:
Endpoint=sb://******.servicebus.windows.net/;SharedAccessKeyName=<KeyName>;SharedAccessKey=<Key>

No trailing semi-colon and no EntityPath=<queueName>

[2019-10-31 08:55] beefcake123 opened #1797 "https’s server IP address could not be found. (fix.lcs.dynamics)"
the "bug fixes"/"KB article" section contains a deadline to LCS.
https://docs.microsoft.com/en-us/dynamics365/finance/get-started/whats-new-changed-10-0-7#bug-fixes

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 85a380bf-8777-9eb4-0791-74c92b321746
* Version Independent ID: f8d3164a-44de-ba52-74ce-a8a6818053cd
* Conten

[2019-10-31 14:03] josaw1 commented on #1681
@Sunil-Garg please see response.

[2019-10-31 16:16] josaw1 commented on #1794
Than you for your feedback. @yijialuan, can you please address these comments?

[2019-10-31 16:17] josaw1 commented on #1796
Thank you for your feedback. @manalidongre can you please address this comment?

[2019-10-31 16:21] josaw1 commented on #1797
Thank you for your feedback. I've updated the [link ](https://fix.lcs.dynamics.com/Issue/Details?bugId=386529&dbType=3&qc=e03ced97fa18dc4439f36de17b00da7257dc15869a72e5b2435fec0acec0c493)and will republish the topic later today.

[2019-10-31 16:22] #1797 closed

[2019-10-31 16:24] ibenbouzid commented on #1681
Hi Stian,

Actually if you create your shared acces policy from the SB Topic configuration you will get an "...entitypath=YourTopicName" key at the end to restrict this policy only to the topic but not to the overall servicebus.
If you create your sharedPolicy from the servicebus configuration you won't get a trailing entitypath key at the end of the endpoint string.
In the doc article i'm saying:

[2019-11-01 07:37] stianask commented on #1681
Hi Imad

That's a good point and a detail I didn't catch when setting this up. I believe it's a good practice, at least security-wise, to have these policies on the lowest level suitable for each scenario.

Perhaps it should be supported to have the EntityPath as well, or mentioned in the documentation that it has to be removed if you create the policy on the queue/topic level?

Thanks for an othe

[2019-11-01 15:11] tonyafehr commented on #1713
We've updated this topic and changes will be live later today.

[2019-11-01 15:11] #1713 closed

[2019-11-01 18:23] jmash76 opened #1803 "Simulate posting in batch"
Hello,

Can anyone point to where the available code is mentioned/quoted below?

"Simulate posting is not available for batch processing. However, there is code available to simulate posting in batch and developers can extend the code to add that functionality."

Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 66

[2019-11-01 20:54] #1769 closed

[2019-11-02 16:03] tomhig opened #1805 "X++ Job code cannot be copied"
The job code at the end of this article is in an image/picture, instead of in a format that can copied like other source code examples.

See the lower section of the following for Source Code example presentation and how the Copy icon is used in top-right corner of code block: https://docs.microsoft.com/en-us/dynamics365/fin-ops-core/dev-itpro/dev-tools/write-business-logic#write-a-c-method-named-

[2019-11-04 09:45] adrianmizzimlt commented on #486
More than a year passed!   Can this be published please?

[2019-11-04 12:20] andyNewnham opened #1806 "Big Fixes KB article link incorrect"
The link to the KB article includes and extra "HTTPS//" at the beginning which causes the link to not work. After removing the extra value, the link works correctly.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5422ea93-f976-dd55-8451-a3ce821c71df
* Version Independent ID: bfc8f75d-62c2-7b44-36b5-5dbd06a97ec5
* Conte

[2019-11-04 14:19] anboudin opened #1807 "Belgium TAx on Credit note code"
There is missing information how reporting code for credit note should be setup.
8284 for exemple should be setup on Taxable purchase credit note (it will depend on Business case as service, goods.) But setup is not known from all.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: db83953c-facb-1dc0-a74e-172d525e3692
* Ve

[2019-11-04 17:26] kristyler opened #1808 "Global Variables in Message Validation"
How do I use a variable in message validation. Some messages have IDs or other data in them, such as the SO number when a pack slip is posted.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 92365ac0-138a-8f93-5745-33447e1b6e39
* Version Independent ID: fdff4379-d9c2-6291-21f9-e239593f7d82
* Content: [Use the Regression

[2019-11-04 18:06] Sunil-Garg commented on #1681
Thanks guys for the detailed explanation. I have added a clarification note to the tutorial based on this learning. Imad, you are right that, we should be supporting topic level policy as well. I have added this tot he backlog. Thanks again.

[2019-11-05 04:39] YujiImaoka opened #1811 "A partner request to add following statement in this document."
A partner request to add following statement in this document to prevent breaks the chain of available restore points by mistake.
<>
Importing database breaks the chain of available restore points on Sandbox and Production.
After performing following database import process, the chain of available restore points are broken.
Customer cannot perform Point-in-time restore the backup which was backed

[2019-11-05 14:11] tonyafehr commented on #1811
@YujiImaoka, thanks for the suggestion.
@laneswenka, please review and consider updating this topic.

[2019-11-05 14:13] tonyafehr commented on #1805
@tomhig, thanks for the suggestion.
@Sunil-Garg, please review and consider updating this topic.

[2019-11-05 14:41] tonyafehr commented on #1806
@andyNewnham, thanks for bringing this to our attention. An updated version of this topic will be published later today.

[2019-11-05 14:41] #1806 closed

[2019-11-05 14:49] tonyafehr commented on #1807
@anboudin, thank you for the feedback.
@kfend, please review and considering updating this topic.

[2019-11-05 14:56] tonyafehr commented on #1808
We will consider updating this topic to include this information, however, in the meantime, if you need to contact Support consider using one of the options described here: [Support contact options](https://docs.microsoft.com/dynamics365/unified-operations/dev-itpro/lifecycle-services/lcs-support). In particular, you might want to go to the [Dynamics 365 community page](https://community.dynamics.

[2019-11-05 15:08] kfend commented on #1789
@SST1982  - Thanks for the feedback. We have updated the topic and the changes will be reflected today.

[2019-11-05 15:08] #1789 closed

[2019-11-05 16:00] kristyler commented on #1808
Yeah, I've tried that, but I'm not getting a response.

[2019-11-05 22:41] TJVass commented on #422
Point taken.  Users need appropriate permissions to access the Network printers menu before getting access to the DRA installation links.

[2019-11-05 22:56] TJVass commented on #1317
Details on creating reports for Analytical Workspaces using Power BI Desktop are available in [this article](https://docs.microsoft.com/en-us/dynamics365/fin-ops-core/dev-itpro/analytics/author-distribute-power-bi-reports?toc=/dynamics365/commerce/toc.json).

F&O automatically updates database connection information for customer environments when deploying reports to the PBI-Embedded service.

[2019-11-05 23:02] TJVass commented on #1468
Hi ZakMak9,
Unfortunately, we do NOT have any extension points in place that allow app developers to control the default filters for embedded reports.  This is a fantastic feature that I fully support.  I highly recommend that you add this to the [Dynamics Ideas](https://experience.dynamics.com/ideas/categories/?forum=0c1b9821-94e0-e911-a812-000d3a4f13c0&forumName=Dynamics%20365%20Finance%20and%20

[2019-11-05 23:10] #1317 closed

[2019-11-05 23:15] #1468 closed

[2019-11-05 23:47] TJVass commented on #1779
YES - upon completion of the DRA upgrade, it is recommended that Admins register the printers connected through the host server.  However, network printers are identified by their network paths so as long as those don't change, you won't need to update network printer settings in F&O.

[2019-11-06 04:41] manishmoothedath commented on #1779
@TJVass thanks for clarifying. Could you please add this to the documentation as well. It will bring in more clarity!!

[2019-11-06 12:49] amadse opened #1815 "Security diagnostics for task recordings is missing in the security documentation"
"Security diagnostics for task recordings" which is a menu in Dynamics 365 Finance & Operations is not mentioned anywhere in Docs. I suggest it is added under security somewhere

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9907d444-3d05-f72e-7a7d-9e667c344987
* Version Independent ID: 4d757287-4674-dddf-1761-c57d0abe

[2019-11-06 15:10] RobvanB opened #1816 "Documentation incorrect for V10"
If you are using application version 10 and up the documentation is incorrect. The MPOS solution does not contain a pos.core project

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 78163b17-6f89-dacc-3d0c-f8f421ad46d0
* Version Independent ID: 3fa6e15d-be5f-e9ab-e6aa-b5d91717f966
* Content: [Retail Modern POS (MPOS) and

[2019-11-06 15:12] RobvanB commented on #1816
Nevermind - just saw the note that this is only for 7.1.....

[2019-11-06 15:35] sericks007 commented on #1815
@amadse, thanks for posting here!

@ChrisGarty, please update the documentation accordingly.

[2019-11-06 15:38] #1816 closed

[2019-11-06 15:47] sericks007 commented on #1790
Bug 390234 has been logged to track this issue.

[2019-11-06 16:03] Sunil-Garg commented on #1521
Thanks for asking. We will consider adding this tutorial in the future.

[2019-11-06 16:45] ChrisGarty commented on #1815
That is a task recorder behavior that I'll have to check with @jasongre about. I don't know if it will warrant mentioning here, but there should be some documentation for it somewhere...

[2019-11-06 17:48] RobvanB opened #1819 "Missing reference"
Following this example, right off the bat I get this error that I am not able to resolve:
The type 'IEnumerable&lt;&gt;' is defined in an assembly that is not referenced. You must add a reference to assembly 'netstandard, Version=2.0.0.0, Culture=neutral, PublicKeyToken=cc7b13ffcd2ddd51'.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue

[2019-11-06 18:25] sericks007 commented on #1819
@RobvanB, thanks for posting here!

@mugunthanm, please review and update the documentation accordingly.

[2019-11-06 18:31] mugunthanm commented on #1819
Install .NET Framework 4.8 runtime. You can download the .NET Runtime from the below link:
https://dotnet.microsoft.com/download/visual-studio-sdks

[2019-11-06 18:59] Sunil-Garg commented on #1607
Hi @bvpb can you pls set some time with me at sunilg@microsoft.com at your convenience? I would like to understand the specific asks you have in this area. Thanks.

[2019-11-06 19:20] #1607 closed

[2019-11-06 19:27] RobvanB commented on #1819
I installed it, but I am still getting the error. What exactly should the project be targeting? Mine is showing .Net framework 4.6, Windows Universal 10.0 and ASP.Net Core 1.0

[2019-11-06 20:39] RobvanB commented on #1819
FYI - the solution is to add the netstandard.dll that is in the retailSDK\References folder to the project.

[2019-11-07 07:22] amadse commented on #1815
It is the task recorder. I just got the 2 tools mixed up.
Thanks

Regards
Anders Madsen
Microsoft

________________________________
From: Chris Garty <notifications@github.com>
Sent: Wednesday, November 6, 2019 5:45:23 PM
To: MicrosoftDocs/dynamics-365-unified-operations-public <dynamics-365-unified-operations-public@noreply.github.com>
Cc: Anders Madsen <amadse@microsoft.com>; Mention <mention@no

[2019-11-07 12:56] amadse commented on #262
So when can we expect to see some proper documentation for this?

[2019-11-07 16:58] simonefinotti opened #1822 "Missing info"
The article doesn't describe how **Fleet Management Unit Tests** is created.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2673e0e6-36ff-72f9-11dd-bfcfa1916882
* Version Independent ID: 01b6cf39-57a3-c6ca-af2c-4b7c530e5fdf
* Content: [Testing and validations - Finance & Operations | Dynamics 365 | #MSDyn365FO](https:/

[2019-11-07 17:37] turbozapekanka opened #1823 "Update Entity store shows outdated information"
The form and the way the store is refreshed has changed in the recent release

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: da145b17-ccd8-7bf7-7495-0ddb1bf5829f
* Version Independent ID: 2a24d715-ecac-1c65-d2d4-8d14b55b8765
* Content: [Power BI integration with Entity store - Finance & Operations | Dynamics 365 | #MSD

[2019-11-07 19:27] turbozapekanka opened #1824 "Registration process instructions are outdated"
The old way of registering an APP in Azure is no longer available.
One can probably use this way to create an app, not sure if the result is the same though:
https://docs.microsoft.com/en-us/power-bi/developer/register-app

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e2213414-926d-10e1-538b-efef09dc0181
* Version Ind

[2019-11-07 22:05] josaw1 commented on #1822
Thank you for your feedback. @RobinARH can you please take a look?

[2019-11-07 22:06] josaw1 commented on #1823
Thank you for your feedback. @MilindaV2 can you please take a look?

[2019-11-07 22:07] josaw1 commented on #1824
Thank you for your feedback. @MilindaV2 can you please take a look?

[2019-11-08 10:49] AartiKumar opened #1825 "Adding mandatory fields on released product"
Hi There
I have followed the process and successfully imported the vendior catalog & released to approved products to the legal entity.
However the mandatory fields like item group, item model group and storage & tracking dimensions are missing. Given the high volume of products in the catalog, shouldn't these fields be added on the 'detail' screen, so the user can add these velues on each line, b

[2019-11-08 13:23] VibekeHveberg commented on #1766
Hi can the customer pause 3 or 2 consecutive service updates ? And when will the text be changed?

[2019-11-08 15:51] ThomasZak opened #1826 "Document handling attachments"
I understand that a decision was made to not copy document handling attachments. However I am wondering about the details of the process. For example when overwriting an old database that had some document attachments, are those document attachment files deleted during the copy process or do they remain in place?

In some cases that would be good, for things like the excel templates that may be li

[2019-11-11 08:59] MaiKirknel commented on #1825
Once the products are imported to a company they need to be configured as you correctly mention. The best option currently to mass update is through the Data entities.

[2019-11-11 14:07] #1825 closed

[2019-11-11 15:19] sericks007 commented on #262
@ChrisGarty, please review and update the content as needed.

[2019-11-11 15:24] sericks007 commented on #1819
@mugunthanm, please update the content accordingly.

[2019-11-11 17:08] sericks007 commented on #1766
This content has been updated and will be published later today.

[2019-11-11 17:08] #1766 closed

[2019-11-12 15:27] DAXRunBase opened #1828 "DictSecurityKey has been deprecated"
DictSecurityKey has been deprecated, and is invalid in the example for DictTable.securityKey

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 100622a3-c345-efbc-0eae-fb19eff4a0f9
* Version Independent ID: 62e270b7-a183-bc07-195b-e5c78f985c9b
* Content: [D classes - Finance & Operations | Dynamics 365 | #MSDyn365FO](https

[2019-11-12 16:22] tonyafehr commented on #1828
@DAXRunBase, thank you for the feedback.
@RobinARH, please review and consider updating this topic.

[2019-11-12 20:14] sarvanisathish commented on #163
Hello, at this time this ask is in the backlog. We are hoping to prioritize this for H2CY2020.

[2019-11-12 21:46] RyanCCarlson2 commented on #1803
@jmash76 the code related to this can be found at LedgerJournalCheckPost.canGoBatch()
The base class code is set to return false. If you do make any extension to change the return value to true, it would need to be fully tested.

[2019-11-12 21:56] roschlom commented on #1803
Closing this based on Ryan's comment just above.

[2019-11-12 21:56] #1803 closed

[2019-11-13 03:27] abdullahfahmi1991 opened #1830 "General Availability Date for PU31"
Hi, in this page, it is mentioned this will be generally available on January 2020, however the Service Update Availability page is showing Generally Available date for PU31 is Nov 29, 2019.
https://docs.microsoft.com/en-us/dynamics365/fin-ops-core/fin-ops/get-started/public-preview-releases

Can I know which one is true? And which page should be the single source of truth should this clash of inf

[2019-11-13 03:32] abdullahfahmi1991 opened #1831 "General Availability Date for PU31"
Hi, in this page, it is mentioned this will be generally available on January 2020, however the Service Update Availability page is showing Generally Available date for PU31 is Nov 29, 2019.
https://docs.microsoft.com/en-us/dynamics365/fin-ops-core/fin-ops/get-started/public-preview-releases

Can I know which one is true? And which page should be the single source of truth should this clash of inf

[2019-11-13 08:09] mueckeflo opened #1832 "Incomplete documentation"
Hi,
Customer has come back to us saying, that the provided info on this page is incomplete/incorrect, as it requires some customization in order to work properly. Solely performing a setup is not sufficient - as described in this blog article:
https://cloudblogs.microsoft.com/dynamics365/no-audience/2018/12/14/extending-the-extended-logon-functionality-for-mpos-and-cloud-pos/

Please include the i

[2019-11-13 11:43] torbennehmer opened #1833 "Deployable packages from third parties"
When deploying third party packages, is the folder bin\GeneratedXppSource neccessary? It contains x++ files, already in the package provided from the build server from the ISV build process. Do we need this directory in the customer install or not? It would be great if you could clarify the documentation in this respect.

---
#### Document Details

⚠ *Do not edit this section. It is required for d

[2019-11-13 13:09] RobvanB commented on #309
I think the message at the top should be more clear. Isn't it so that this article is only valid for versions lower than 8 ?

[2019-11-13 14:21] sericks007 commented on #1830
Closing, as this is a duplicate of this issue: https://github.com/MicrosoftDocs/dynamics-365-unified-operations-public/issues/1831

[2019-11-13 14:21] #1830 closed

[2019-11-13 14:22] sericks007 commented on #1831
@abdullahfahmi1991, thanks for pointing this out! I'll discuss this with our release management team.

[2019-11-13 14:23] tonyafehr commented on #1811
Bug 392052 has been logged to track this issue.

[2019-11-13 14:23] tonyafehr commented on #1808
Bug 392051 has been logged to track this issue.

[2019-11-13 14:23] tonyafehr commented on #1807
Bug 392049 has been logged to track this issue.

[2019-11-13 14:23] tonyafehr commented on #1805
Bug 392046 has been logged to track this issue.

[2019-11-13 14:24] sericks007 commented on #1832
@mueckeflo, thanks for making us aware of this!

@rubencdelgado, please review and update the topic as needed.

[2019-11-13 14:26] sericks007 commented on #1833
@torbennehmer, thanks for posting here!

@jorisdg, please review and update the topic as necessary.

[2019-11-13 14:44] sericks007 commented on #1815
Assigning to @jasongre so that this can be added to the task guide documentation.  Bug 392056 has been logged to track this issue.

[2019-11-13 14:48] sericks007 commented on #1819
Bug 392060 has been logged to track this issue.

[2019-11-13 14:53] rabol commented on #307
What mistake ?
I have the same issue

[2019-11-13 19:30] mugunthanm commented on #1819
![image](https://user-images.githubusercontent.com/11687998/68797172-f0579c80-0608-11ea-99f6-0d617e1da639.png)

[2019-11-13 19:36] mugunthanm commented on #1819
![image](https://user-images.githubusercontent.com/11687998/68797479-8a1f4980-0609-11ea-87ed-a548f3cdd2d7.png)

Use any of our sample project as template (\RetailSDK\SampleExtensions\CommerceRuntime\Extensions.EmailPreferenceSample)

[2019-11-13 21:20] sericks007 commented on #1831
@abdullahfahmi1991, thanks again for bringing this to our attention!  We've updated the text in this article to clarify, so that it matches the information in [Service update availability](https://docs.microsoft.com/en-us/dynamics365/fin-ops-core/fin-ops/get-started/public-preview-releases).  The text changes will be published later today.

[2019-11-13 21:20] #1831 closed

[2019-11-14 01:16] RobertRudd opened #1834 "Import and Export of security roles"
The documentation does not talk about how to import and export security roles

[2019-11-14 01:18] RobertRudd opened #1835 "Architecture"
Security documentation does not talk about new architecture i.e. security roles now stored in database and how the movement of security roles are now performed i.e. export and import.  This is very different from AX 2012 and should be covered.

[2019-11-14 04:43] sarvanisathish commented on #1531
This means the ability to build and test is available for on-premises through downloadable VHD. It is not referring to the build/test cloud deployment topology.

[2019-11-14 14:37] SST1982 opened #1836 "How to access SQL in Cloud/Prod scenarios?"
As far as I know, in a production system in cloud, it is not possible to access the underlying SQL server as instructed in this document. Does this document only apply to on-premise installations or only non-productive systems? Is there currently a way to use Entity store in PROD/Cloud scenario?

Please also discuss the relation to the currently experimental Data Lake scenario as discussed in http

[2019-11-14 14:55] beefcake123 opened #1837 "Path in documentation is incorrect"
The path seems to be outdated. We found it in AOS-service-drive:\PerfSDK\PerfSDKlocalDirectory\Perftools\traceparser.msi for all our T1 environments.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 10726552-f92e-cfb9-7662-7f1db24f8bd3
* Version Independent ID: ea6e6432-effb-2626-858b-28bea131b673
* Content: [Diagnose is

[2019-11-14 16:23] ChrisGarty commented on #1721
Adjusted to indicate that newer Office builds work fine.

[2019-11-14 20:26] josaw1 commented on #1837
Thank you for your feedback. @RobinARH can you please take a look?

[2019-11-14 20:27] ChrisGarty commented on #1665
Added mention of "Run automatic role assignment" and reviewing in the Users form

[2019-11-14 20:28] ChrisGarty commented on #1665
https://github.com/MicrosoftDocs/dynamics-365-unified-operations-public/pull/1839

[2019-11-14 20:28] josaw1 commented on #1836
Thank you for your feedback. @MilindaV2 can you please take a look?

[2019-11-14 20:40] josaw1 commented on #1834
Closing this issue as a duplicate of #1835

[2019-11-14 20:40] #1834 closed

[2019-11-14 20:42] josaw1 commented on #1835
Thank you for your feedback. @ChrisGarty can you please take a look?

[2019-11-14 20:47] josaw1 commented on #1824
Bug 392605 created to track the issue.

[2019-11-14 20:49] josaw1 commented on #1823
Bug 392606 created to track the issue.

[2019-11-14 20:58] josaw1 commented on #1822
Bug 392609 created to track this issue.

[2019-11-14 21:00] josaw1 commented on #1796
Bug 392610 created to track this issue.

[2019-11-14 21:06] josaw1 commented on #1794
Bug 392612 opened to track.

[2019-11-14 21:44] GeoffreyDelmee commented on #1531
@sarvanisathish Thanks for the feedback.
Going with the downladable VHD from LCS, where can I find the information on how to set this VHD as a build environment as it is done during LCS deployment for managed and Azure VM? The refered pages on build environment deployment are only stating how to deploy from LCS.
Also, the build environment deployment from LCS generates the build process in Azure D

[2019-11-14 23:52] RobertRudd commented on #1835
One of our developers just sent me this if that helps.
[cid:image001.png@01D59BA2.BF83C9B0]

Robert Rudd
Principal consultant
Microsoft Services
Business Applications Domain
Asia Pacific
Mobile: +61 407 784 054
Robert.Rudd@microsoft.com<mailto:Robert.Rudd@microsoft.com>
[Microsoft]

From: josaw1 <notifications@github.com>
Sent: Friday, 15 November 2019 7:42 AM
To: MicrosoftDocs/dynamics-365-unifie

[2019-11-15 00:06] sarvanisathish commented on #1531
@robadawy, @laneswenka  to help here.

[2019-11-15 00:09] jain-shailesh commented on #1822
I am not part of F&O, you should look for a different shailesh

[2019-11-15 14:14] brswadling opened #1841 "I don't see that event in my system"
The event listed above isn't present in my environement - Purchase requisition review (000062) – Approve purchase requisitions. Rather there are 3 other ones:
Purchase requisition review (000001) – Approve purchase requisitions
Purchase requisition review (000003) – Approve purchase requisitions
Purchase requisition review (000011) – Approve purchase requisitions

Which am I supposed to use? And w

[2019-11-18 01:17] VigneshMSCRM opened #1843 "Wrong date in Ja-JP version of this page"
Dear team,

10.0.8 Platform update 32 version's Generally available date is showing 2016 in Ja-JP page. Kindly help to fix the same.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e7dcb285-f32c-c92e-fe49-1617f213066b
* Version Independent ID: 8f28c1a0-9da5-f853-90ee-d82a4c32df7e
* Content: [Service update availability

[2019-11-18 21:13] zmottie opened #1848 "outdated"
This page hasn't been updated since late 2017 and there are versions as recently as September 2019.

https://cloudblogs.microsoft.com/dynamics365/it/2019/09/18/lifecycle-services-september-2019-release-2-release-notes/

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8d8d91ac-1947-9637-3b39-53d832483355
* Version Indepen

[2019-11-18 23:32] RobinARH commented on #1848
@kfend - Can you take a look? Thanks - Robin

[2019-11-18 23:43] RobinARH commented on #1772
Bug 393502 created to track this issue.

[2019-11-18 23:44] RobinARH commented on #1770
Bug 393508 created to track this issue.

[2019-11-19 16:23] wajahatmirza-afz commented on #1738
HI,
My bacpac size is more than 35GB and while uploading on Asset Library it is giving error that "File cannot be greater than 14.6GB in size". If I try to restore database from Azure storage than I need "sqladmin" account which is not available in PU30. What should be the solution for it?

[2019-11-19 17:48] tariqbell commented on #1738
Hi, please contact Microsoft Support for help with this one.
________________________________
From: wajahatmirza-afz <notifications@github.com>
Sent: Tuesday, November 19, 2019 4:23:53 PM
To: MicrosoftDocs/dynamics-365-unified-operations-public <dynamics-365-unified-operations-public@noreply.github.com>
Cc: Tariq Bell <tabell@microsoft.com>; Mention <mention@noreply.github.com>
Subject: Re: [Micro

[2019-11-19 18:28] RobinARH commented on #1843
Bug 23097 created to track this issue.

[2019-11-20 10:20] amadse opened #1851 "Wrong text"
This is wrong
How does the default storage location for Document Management change in Finnce + Operations environments?

For Finance + Operations, the Azure Blob storage provider for attachments is replaced by a file folder storage provider so that attachments are kept on-premise instead of being stored in the cloud. Therefore, the default storage location for attachments is a file folder.

In bot

[2019-11-20 14:47] sericks007 commented on #1851
@ChrisGarty, please review the comments about blob storage, and update the content if necessary.

[2019-11-20 14:54] sericks007 commented on #1832
Bug 394133 has been logged to track this issue.

[2019-11-20 14:58] sericks007 commented on #1833
Bug 394134 has been logged to track this issue.

[2019-11-20 16:50] josaw1 commented on #1794
We will be updating the topic later today. Thanks.

[2019-11-20 16:50] #1794 closed

[2019-11-20 17:11] jorisdg commented on #1833
No the GeneratedXppSource doesn't need to be in there but it doesn't hurt. We're looking into avoiding packaging these up entirely so you wouldn't even have to think about this.

[2019-11-20 17:18] #1833 closed

[2019-11-21 08:34] MRasheed84 opened #1855 "I am facing a case that no any single run in Microsoft flow side. what would be the reasons."
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 11ee3f43-f1a2-0ad3-37de-9e55eedc3c8a
* Version Independent ID: 3a756dda-e63b-c310-3123-01551d7eea48
* Content: [Business events and Microsoft Power Automate - Finance & Operations | Dynamics 365 | #MSDyn365FO](https://docs.microsoft.com/en-us/dynamics

[2019-11-21 08:35] MRasheed84 commented on #1855
I am facing a case that no any single run in Microsoft flow side. what would be the reasons.

[2019-11-21 08:38] MRasheed84 opened #1856 "Is there any way to check the run or even a log to business event history ? this will help us debug our issues"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f5d9afcd-65f0-58fb-4e5c-faca467fa42e
* Version Independent ID: 6086b1cc-8c4a-9459-878c-d8dd05d7c694
* Content: [Troubleshoot business events - Finance & Operations | Dynamics 365 | #MSDyn365FO](https://docs.microsoft.com/en-us/dynamics365/fin-ops-core

[2019-11-21 09:25] valerymoskalenko opened #1857 "What is the difference between two sections?"
I couldn't find any significant difference between the following sections on this document
## On-premises upgrade from version 7.x (with Platform update 8-20) to 8.1
## On-premises upgrade from version 7.x (with Platform update 21 or later) to 8.1

Well, the only difference is at Prerequisites' topic in the second section, block number 6. It is regarding PU version update.

---
#### Document Detai

[2019-11-21 09:29] TKispoev opened #1858 "Additional "Prepare the database" step needed"
"truncate table dbo.sysserversessions" is required to prepare the database for export

Is the server sessions left in the table the procedure 'CREATESERVERSESSIONS' might fail on duplicated value and prevent Batch service to start

Log:
Error during AOS start: Failed to start service 'Microsoft Dynamics 365 Unified Operations: Batch Management Service (DynamicsAxBatch)'. [Log: C:\DynamicsAX\Execut

[2019-11-21 11:59] SysC0mp opened #1859 "Developer tools as installable component"
What happened to the developer tools as installable component? I cannot find any information about it at the moment.  Is that feature still planned?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0723686d-7b30-9831-8978-10077d700724
* Version Independent ID: cbfeb85f-9ae0-8d93-bd8a-5a6bdd2fa41b
* Content: [Preview feat

[2019-11-22 00:00] RobertRudd opened #1862 "Transport documentation"
The transport documents needs a lot more work.  It focuses almost completely on configuration however, there is very little on the process.   For example, how are inbound loads/shipments processed?  A clear aim of the documentation should be to allow someone to process a transaction with in the demonstration environment so that they can learn the process.  The other aspect which is important for a

[2019-11-22 08:41] vinceno commented on #1843
this issue is now addressed

[2019-11-22 08:41] #1843 closed

[2019-11-22 09:31] drhexgit opened #1863 "Better explanation needed"
A user would not normally expect an *idle* session to cause extra load, please add explanation as to why if that is indeed the case.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c33ffb81-b152-64b8-01ef-6136299f0324
* Version Independent ID: dfd275dd-0249-b481-38b4-d61a617cbe6a
* Content: [Set the session idle timeout

[2019-11-22 20:09] hasaid commented on #1863
An “idle” session is one that a user is not actively using, meaning there is no current request from the user. Between requests, the session is stored in the AOS for the next interaction with the user. While in this idle state, the session still holds on to system resources like memory and database connections, and this can cause the extra “load” on the system resources. Increasing the idle sessio

[2019-11-22 20:51] andreabichsel commented on #1149
Topics have been updated. Thank you!

[2019-11-22 20:51] #1149 closed

[2019-11-22 20:54] #1863 closed

[2019-11-23 20:09] Dimitri-Tetsch opened #1865 "control-collection-letters-at-the-customer-level vs control-collection-letters-at-transaction-level"
Hi, It might be useful to expand as well on "Control collection letters at transaction level" so that the difference between "Control collection letters at customer level" vs "Control collection letters at transaction level" is explained. Or I am missing something? Best regards, Dimitri

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue li

[2019-11-25 13:56] MarkusFogelberg commented on #1862
Thank you for the valuable feedback. We will take your suggestion to have more process oriented documentation into consideration for future development of our documentation. In the mean time you might want to have a look at this learning course at Microsoft Learn:
[Configure and work with transportation management in Dynamics 365 for Finance and Operations](https://docs.microsoft.com/en-us/learn/m

[2019-11-25 14:15] #1862 closed

[2019-11-25 14:24] MRasheed84 opened #1866 "The remote server returned an error: (400) Bad Request."
Business Event is showing below error
The remote server returned an error: (400) Bad Request.
what could be the reason ?

[2019-11-25 14:28] MRasheed84 opened #1867 "The remote server returned an error: (400) Bad Request."
[Business event showing this error, what could be the reason?   The remote server returned an error: (400) Bad Request.]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f5d9afcd-65f0-58fb-4e5c-faca467fa42e
* Version Independent ID: 6086b1cc-8c4a-9459-878c-d8dd05d7c694
* Content: [Troubleshoot business events - Finance &

[2019-11-25 14:30] #1856 closed

[2019-11-25 14:33] MRasheed84 commented on #1856
System administration --> business event catalog form --> Errors tab

[2019-11-25 16:12] #1819 closed

[2019-11-25 16:33] jkehlet opened #1868 "Database Movement not working with AX 2012 bacpac"
The instructions at https://docs.microsoft.com/en-us/dynamics365/fin-ops-core/dev-itpro/migration-upgrade/upgrade-data-sandbox#upload-the-bacpac-file-to-azure-storage-or-the-lcs-asset-library are no longer valid for AX 2012 R3 bacpac files. They now have to be uploaded to LCS and imported using the Data Movement process.

However, the Data Movement package has a SanitizeAOSDB.sql script that is ex

[2019-11-26 08:46] amadse opened #1870 "Link to App Faric planning is wrong"
As this is true"An on-premises deployment uses Azure Service Fabric standalone clusters", the link in "see Service Fabric cluster capacity planning considerations" must be this one "https://docs.microsoft.com/da-dk/azure/service-fabric/service-fabric-cluster-standalone-deployment-preparation"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub is

[2019-11-26 14:21] tonyafehr commented on #1866
Thanks for contacting us. Unfortunately, we're unable to handle Support requests for the product here. To contact Support, consider one of the options described here: [Support contact options](https://docs.microsoft.com/en-us/dynamics365/unified-operations/dev-itpro/lifecycle-services/lcs-support). In particular, you might want to go to the [Dynamics 365 for Finance and Operations community page](

[2019-11-26 14:21] #1866 closed

[2019-11-26 14:21] #1867 closed

[2019-11-26 14:26] tonyafehr commented on #1868
@jkehlet, thanks for the feedback. If you need immediate assistance, you might want to go to the [Dynamics 365 community page](https://community.dynamics.com/) to get help with your questions from the Dynamics community.
@tariqbell, please review and consider making updates.

[2019-11-26 14:27] tonyafehr commented on #1865
@Dimitri-Tetsch, thanks for suggestion.
@ShivamPandey-msft, please review and consider making updates.

[2019-11-26 14:31] tonyafehr commented on #1828
Bug 397248 has been logged to track this issue.

[2019-11-26 15:02] amadse opened #1873 "Link to App Faric planning is wrong"
As this is true"An on-premises deployment uses Azure Service Fabric standalone clusters", the link in "see Service Fabric cluster capacity planning considerations" must be this one "https://docs.microsoft.com/da-dk/azure/service-fabric/service-fabric-cluster-standalone-deployment-preparation"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub is

[2019-11-26 17:47] #1521 closed

[2019-11-26 21:05] tariqbell commented on #1868
This one is owned by @Lane Swenka<mailto:Lane.Swenka@microsoft.com> now

Tariq Bell
Senior Solution Architect
United Kingdom
Dynamics 365 for Operations R&D
Office: +44 (118) 9092391
tabell@microsoft.com<mailto:tabell@microsoft.com>
[MSFT_logo]

This and subsequent emails on the same topic are for discussion and information purposes only. Only those matter set out in a fully executed agreement are

[2019-11-26 22:15] ChrisGarty commented on #810
I can't see a mention of "Batch processing classes" in https://docs.microsoft.com/en-us/dynamics365/unified-operations/dev-itpro/dev-ref/xpp-classes-methods#batch-processing-classes
Batch processing classes are still used for batch processing: https://docs.microsoft.com/en-us/dynamics365/fin-ops-core/dev-itpro/sysadmin/batch-processing-overview

[2019-11-26 22:24] ChrisGarty commented on #1330
Updated https://docs.microsoft.com/en-us/dynamics365/fin-ops-core/fin-ops/organization-administration/workflow-faq via https://github.com/MicrosoftDocs/dynamics-365-unified-operations-public/pull/1876

[2019-11-26 22:27] HariSeldon23 commented on #1824
I'm running into the same issue. The old app registration is no longer available as of October 2019. This means these documents are now legacy and are potentially harming customers.

Some issues:
* New App registration doesn't allow Application Keys, but rather Secrets
* Permissions have changed

[2019-11-26 23:31] jaestevan commented on #810
Well this bug is almost a year old already :)

The section does not even exists on the current version of the doc (not sure if that's the correct doc page when I found the issue originally), so I guess this can be clossed.

Thanks,
JA.

[2019-11-26 23:31] #810 closed

[2019-11-27 00:56] robabb123 opened #1877 "Add raise case to support for Production svc restarts."
Would be a nice addition if it were mentioned to raise a support case if Production services need to be restarted.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e9452234-62df-d7ed-1243-4f2a14553df3
* Version Independent ID: 14f785e5-da29-5cc9-bd8a-d548c93d15e9
* Content: [Restart environment services - Finance & Opera

[2019-11-27 09:59] NicholasFook79 opened #1878 "Not Working with Hour Journal"
Hi,

  I've tested and it seems that the timesheet optimized for mobile has an issue. It  does not create Hour journal that associated to a project.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8a1ffaf4-9994-bb4d-1352-bc6f1b2970d5
* Version Independent ID: 92528eb8-8f45-9d35-0a94-c8618cdc0e8c
* Content: [Project time

[2019-11-27 13:51] sericks007 commented on #1877
@robabb123, thanks for posting here!

@manalidongre, please review and update the content as needed.

[2019-11-27 13:57] sericks007 commented on #1878
@NicholasFook79, thanks for contacting us. Unfortunately, we're unable to handle Support requests for the product here. To contact Support, consider one of the options described here: [Support contact options](https://docs.microsoft.com/en-us/dynamics365/unified-operations/dev-itpro/lifecycle-services/lcs-support). In particular, you might want to go to the [Dynamics 365 Community page](https://co

[2019-11-27 13:57] #1878 closed

[2019-11-27 14:04] sericks007 commented on #1851
Bug 397716 has been logged to track this issue.

[2019-11-27 14:29] sericks007 commented on #1873
@amadse, thanks for making us aware of this!  I've fixed the link.  The updated article will be published later today.

[2019-11-27 14:29] #1873 closed

[2019-11-27 14:48] sericks007 commented on #1870
@amadse, thanks for making us aware of this!  I've updated the link.  The updated article will be published later today.

[2019-11-27 14:48] #1870 closed

[2019-11-28 06:59] erikpaperik opened #1880 "Setting navigation properties - No related content"
There is no content showing how to set up navigation properties under the "Setting navigation properties between OData entities".
Instead you find paragraphs about "Adding actions on OData entities" within the navigation properties section.
Is there any content missing or should "Adding actions on OData entities" simply not be nested below "Setting navigation properties between OData entities"?

-

[2019-11-29 00:53] skolbin-ssi opened #1881 "Broken link in the Dynamics 365 Retail section of this page"
The correct link should be pointing to https://docs.microsoft.com/en-us/dynamics365/retail/retail-onprem

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e31272cf-a87f-0c73-631f-2829cf9ef1ff
* Version Independent ID: e81b0610-320c-eddc-fab2-557685148fc1
* Content: [Comparison of cloud and on-premises features - Finance &

[2019-12-02 15:03] sericks007 commented on #1881
@skolbin-ssi, thanks for bringing this to our attention!  I've fixed the link.  The updated content will be published later today.  Thanks again!

[2019-12-02 15:03] #1881 closed

[2019-12-02 18:52] RobinARH commented on #1880
@Sunil-Garg - Can you take a look? Thanks.

[2019-12-02 18:57] RobinARH commented on #1848
Created bug 398725 to track this issue.

[2019-12-02 20:18] #1330 closed

[2019-12-02 20:36] kfend commented on #1848
@zmottie - thank you for bringing this to our attention. I have updated the topic with a link to the [release plans](https://go.microsoft.com/fwlink/?linkid=2010158) which is where we are now posting this type of information.

[2019-12-02 20:36] #1848 closed

[2019-12-02 21:23] emstn commented on #1738
@laneswenka
We took the LCS import approach and found that some data like email addresses and attachments were wiped out (basically the stuff described here: https://docs.microsoft.com/en-us/dynamics365/fin-ops-core/dev-itpro/database/database-refresh#data-elements-that-arent-copied-during-refresh). Can probably deal with most of it but not sure what to do about the attachments.

[2019-12-02 22:17] emstn commented on #1738
Actually the attachments are there its just the paperclip icon is showing a count of zero.

[2019-12-02 23:01] RobinARH commented on #1859
You can find the latest date in the release plans:
https://docs.microsoft.com/en-us/dynamics365-release-plan/2019wave2/change-history

[2019-12-02 23:01] #1859 closed

[2019-12-03 08:44] LukeSchmidtPwC opened #1885 "Incorrect Path in Header"
Hi,

It appears that the path of this document is incorrect  in the Content header. It says "Dynamics -&gt; Dynamics 365 Finance -&gt; Accounts Payable"

I am assuming this should be Accounts Receivable

Thanks &
Regards,

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 597ca5b7-29e5-a1c2-9cc5-2bf507afb7bf
* Version Inde

[2019-12-03 13:54] tonyafehr commented on #1885
@LukeSchmidtPwC, thanks for noting this.
@roschlom, please review and fix. Thanks!

[2019-12-03 14:00] tonyafehr commented on #1868
Bug 398937 has been logged to track this issue.

[2019-12-03 14:00] tonyafehr commented on #1865
Bug 398935 logged to track this issue.

[2019-12-03 14:33] ShivamPandey-msft commented on #1865
+Pat

From: Tonya Fehr <notifications@github.com>
Sent: Tuesday, December 3, 2019 8:00 AM
To: MicrosoftDocs/dynamics-365-unified-operations-public <dynamics-365-unified-operations-public@noreply.github.com>
Cc: Shivam Pandey <Shivam.Pandey@microsoft.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/dynamics-365-unified-operations-public] control-collection-letters-at-the-custo

[2019-12-03 17:53] weaveriski opened #1886 ""Regulatory updates" summary"
The summary for the "Regulatory updates" section in the LCS user guide mentions customers, partners and ISV's keeping up to date but the page you go to focuses solely on ISVs creating and submitting regulatory updates. There seems to be a disconnect here?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b6f50615-72db-d0a

[2019-12-03 18:29] tonyafehr commented on #1886
@weaveriski, thanks for the feedback.
@kfend and @manalidongre, please consider making updates to this area.

[2019-12-03 23:31] Sunil-Garg commented on #1805
The code snippet is now out of the image file :)

[2019-12-03 23:32] Sunil-Garg commented on #1772
Thanks for asking. The wiki for both recurring integrations and data package API has been updated with the API information.

[2019-12-03 23:34] Sunil-Garg commented on #1770
Thanks, swidz. The literature has been updated.

[2019-12-04 14:51] #1805 closed

[2019-12-04 14:52] kristyler opened #1891 "Remvoing test cases from a topic in a BPM library"
Someone created duplicate test cases on one topic in the library. How do I clean that up?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 89c1a6d1-3461-82e7-964d-54aa95a1ad93
* Version Independent ID: 7d9a39de-37e5-5d58-d6e6-bf705835b10f
* Content: [Create and automate user acceptance tests - Finance & Operations | Dyna

[2019-12-04 15:15] sericks007 commented on #1891
@kristyler, thanks posting here! We'll look into adding this information to the content.  In the meantime,  if you want to contact Support, consider one of the options described here: [Support contact options](https://docs.microsoft.com/en-us/dynamics365/unified-operations/dev-itpro/lifecycle-services/lcs-support). In particular, you might want to go to the [Dynamics 365 community page](https://co

[2019-12-04 16:02] elusivecube commented on #1772
@Sunil-Garg, which wiki are you referring to? It is not on this page: https://docs.microsoft.com/en-us/dynamics365/fin-ops-core/dev-itpro/data-entities/data-management-api

[2019-12-04 16:13] Sunil-Garg commented on #1772
Give it a day or two to get published.

________________________________
From: elusivecube <notifications@github.com>
Sent: Wednesday, December 4, 2019 8:02:09 AM
To: MicrosoftDocs/dynamics-365-unified-operations-public <dynamics-365-unified-operations-public@noreply.github.com>
Cc: Sunil Garg <sunilg@microsoft.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/dynamics-365-uni

[2019-12-04 17:54] sericks007 commented on #1891
@robadawy, please review and consider updating the content based on this feedback.

[2019-12-04 20:22] ThomasZak opened #1892 "incorrect instructions."
this page says that a document is always uploaded as "just me" scope.  Then it claims " When an asset must be shared with multiple users within a tenant, the tenant admin can promote the asset to the Organization scope."

I have confirmed with my tenant admin that this does not work and they cannot see any objects I loaded with "just me" scope, and therefore cannot promote them.

---
#### Document

[2019-12-04 20:30] sericks007 commented on #1892
@ThomasZak, thanks for making us aware of this.

@manalidongre, please review and update the content, as needed.

[2019-12-04 21:49] Sunil-Garg commented on #1453
Hello Henrik-Grender, we currently don't have plans to support an array or a list for the payload. An alternate approach could be to concatenate the values and split them back on the consuming end. Please note that, the recommendation is always to keep the payload light weight. Thanks and apologies for this delayed reply.

[2019-12-04 21:52] #1453 closed

[2019-12-04 22:39] Sunil-Garg commented on #1463
Hi Sunil-Behera-- can you check if the user is mapped to a company that has data? Alternatively, have you tried adding 'cross-company=true' to the OData request? One of these should address the issue you are seeing. Thanks.

[2019-12-04 22:50] Sunil-Garg commented on #1402
Thanks, the screenshot has been updated. Pls provide a day or two for the changes to get published.

[2019-12-04 23:05] roschlom commented on #1885
@LukeSchmidtPwC, @tfehr, This is fixed now. Thanks again for noting the issue.

[2019-12-04 23:05] #1885 closed

[2019-12-04 23:05] roschlom commented on #1885
This has been fixed (12/04/2019).

[2019-12-05 00:42] andreabichsel commented on #1753
Added the information to the first note under the **Offer data** heading. Thank you!

[2019-12-05 00:42] #1753 closed

[2019-12-05 10:06] leeds55 opened #1896 "Consistency & clarity across related pages could be increased"
In this page, the "Prepare the PerfSDKSample solution for multi-user testing" step 4 doesn't provide the same level of detailed instruction to modify the "Test settings" as https://docs.microsoft.com/en-us/dynamics365/fin-ops-core/dev-itpro/perf-test/perfsdk-tutorial-lbd does.  In that tutorial, it's clearer that vsonline.testsettings is a solution file: "In your solution files, double-click the v

[2019-12-05 15:18] diegoreza89 opened #1899 "The installation of SDP takes long time"
Hi, why in this new kind of architecture the installation of the SDP is too unstable? I mean, in some cases the installation takes 1 hour and minutes but in other cases takes unitl 7 or 8 hours!!

[2019-12-05 18:42] #1463 closed

[2019-12-05 18:49] josaw1 commented on #1896
Thank you for your suggestion. @hasaid, can you please take a look at this feedback?

[2019-12-05 18:57] josaw1 commented on #1899
Hi, this feedback is not associated with a particular topic. Please let us know which topic this refers to so we can further assist you. If you your comment refers to the product and not the documentation, please enter your feedback [here](https://experience.dynamics.com/ideas/). Thank you.

[2019-12-05 19:06] josaw1 commented on #1837
Bug 400312 created to track this issue.

[2019-12-05 19:09] josaw1 commented on #1836
Bug 400314 created to track this issue.

[2019-12-05 19:12] josaw1 commented on #1835
Bug 400316 created to track this issue. @ChrisGarty

[2019-12-05 22:02] Sunil-Garg commented on #1724
Thanks gertvdh. The updates have been made as suggested.

[2019-12-05 22:20] #1724 closed

[2019-12-05 22:40] robadawy commented on #1891
Delete the node in BPM, or if you are not using BPM, delete the test case in DevOps.

[2019-12-05 22:46] robadawy commented on #614
As of 8.1, there is never a need to create a deployable package that includes application suite (whether in development or build environment) as the only customization model that is supported are extensions.

[2019-12-05 22:47] kristyler commented on #1891
Deleting the test case in DevOps results in a sync error in BPM when BPM can’t find it. That’s the issue. The other test case is valid, so I really don’t want to trash the whole thing.

[cid:image001.jpg@01D5AB8B.A258CC70]
Kris​ Tyler
Data Analyst
2321 N Loop Dr, Ste 220
,
Ames
,
IA
,
50010
O: (515) 817-2143<tel:(515)%20817-2143>
LandusCooperative.com<http://www.landuscooperative.com/>
  |
Kris.Ty

[2019-12-06 00:42] #693 closed

[2019-12-06 05:36] manishmoothedath opened #1901 "Self-service Refresh database needs downtime ?"
On a self service scenario, refresh from Production to a sandbox. Is it necessary to do this activity during downtime (non-business hours / No users are logged in to the system). Please clarify!!

-Manish

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9d28e8cc-5110-f01b-db76-94479ec2fa91
* Version Independent ID: f0710

[2019-12-06 15:15] tonyafehr commented on #1901
@manishmoothedath, thanks for contacting us. If you need immediate assistance consider one of the options described here: [Support contact options](https://docs.microsoft.com/en-us/dynamics365/unified-operations/dev-itpro/lifecycle-services/lcs-support). In particular, you might want to go to the [Dynamics 365 Community page](https://community.dynamics.com/) to get help with your questions from th

[2019-12-06 17:57] aaronstackpole opened #1902 "Drawings Reference "AX" - Needs Update"
New customers have no idea what "AX" is, and this is causing confusion as I'm delivering technical architecture overview workshops.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 02e6cc89-39cd-5bbd-4574-b380d7787eef
* Version Independent ID: 9f7bb3e7-ba20-1856-2629-776e6d88487d
* Content: [Application stack and server

[2019-12-07 00:38] bhaarathms commented on #1486
@MZade could you please share the request that you made with startswith function that worked for you?

[2019-12-08 10:57] rabol opened #1903 "How to use the pre-and-post scripts feature"
[Enter feedback here]

Some real examples on how to use would be nice
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 74325503-4a6c-c662-7dc8-dbb8fe56d42d
* Version Independent ID: 4fb832ae-d59a-c615-90d6-a048424b04f1
* Content: [Local agent pre-deployment and post-deployment scripts - Finance & Operations | Dynamics 365

[2019-12-09 16:39] sericks007 commented on #1877
Bug 401268 has been logged to track this issue.

[2019-12-09 18:48] kfend commented on #1402
The changes have now been published.

[2019-12-09 18:48] #1402 closed

[2019-12-09 20:50] beefcake123 opened #1904 "Private preview survey"
The private preview ended on Dec 31st 2018 according to the "complete the private preview survey" hyperlink. Is this feature and the documentation still accurate?
I had reached out to the contact person on 2019-10-01, but haven't heard back.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 48aa991b-6ebf-f11c-f803-1baa085

[2019-12-09 22:49] saadullahz opened #1905 "Import ISV License failed on-premises"
Importing our ISV license file failed on the on-premise UAT server.

Attached the error log details below.

C:\LS\UAT\Import-LicensePackage.ps1 : System.Management.Automation.RemoteException: 12/09/2019 01:38:28:

Microsoft.Dynamics.ApplicationPlatform.Environment.Settings.ConfigurationKeyNotFoundException: Failed to obtain app setting from for:

Common.IsOneboxEnvironment

At line:1 char:1

+ .\I

[2019-12-10 08:17] torbennehmer opened #1906 "Which permission does the DevOps PAT need"
Could you please describe in the documentation, which access permissions the DevOps PAT token needs?

https://docs.microsoft.com/en-us/dynamics365/fin-ops-core/dev-itpro/perf-test/rsat/rsat-install-configure#azure-devops-1

Best regards, Torben Nehmer

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e2458b41-99e9-53ff-b8

[2019-12-10 08:22] mueckeflo opened #1907 "Important info missing"
Hi!
It should be mentioned (and highlighted) that the dimensions SITE and WAREHOUSE are not supported pricing attributes by the retail pricing engine. Using those dimensions will cause incorrect pricing calculation as the prices using these dimensions are disregarded. Please correct me in case I'm wrong here.
Best regards,
Florian

---
#### Document Details

⚠ *Do not edit this section. It is requ

[2019-12-10 08:29] woutermijle opened #1908 "Incorrect information: CPOS only supports Shared HWS"
The documenation states the following:

However, it has been confirmed to me that **CPOS** only supports **shared HWS**. This is contradictory to what the documentation says...

[2019-12-10 08:33] torbennehmer opened #1909 "Please clarify how to get the SOAP hostname"
Please clarify, how to get the SOAP hostname. The given naming scheme didn't work for an UAT, where the actual prefix is like
https://xxx-testaossoap.sandbox.operations.dynamics.com/
We got around to this value using the IIS console. I do not know, if there is a more precise naming scheme or if there is some place in lcs where you can look this up. If not, I'd recommend at least to refer to the II

[2019-12-10 14:18] tonyafehr commented on #1886
Bug 5888589 has been logged to track this issue.

[2019-12-10 14:23] tonyafehr commented on #1903
@rabol, thanks for the feedback.
@RobinARH, please review and assign to the appropriate content author.

[2019-12-10 14:26] tonyafehr commented on #1904
Thanks for contacting us. If you need immediate assistance, consider contacting Support using one of the options described here: [Support contact options](https://docs.microsoft.com/en-us/dynamics365/unified-operations/dev-itpro/lifecycle-services/lcs-support). In particular, you might want to go to the [Dynamics 365 community page](https://community.dynamics.com/) to get help with your questions

[2019-12-10 14:28] tonyafehr commented on #1905
Thanks for contacting us. Unfortunately, we do not handle Support requests here. Please contact Support using one of the options described here: [Support contact options](https://docs.microsoft.com/en-us/dynamics365/unified-operations/dev-itpro/lifecycle-services/lcs-support). In particular, you might want to go to the [Dynamics 365 community page](https://community.dynamics.com/) to get help with

[2019-12-10 14:28] #1905 closed

[2019-12-10 14:29] tonyafehr commented on #1906
@torbennehmer, thanks for the feedback.
@robadawy, please review and consider updating this topic.

[2019-12-10 14:32] tonyafehr commented on #1907
@mueckeflo, thank you for the feedback.
@josaw1, please review and assign to the appropriate content author.

[2019-12-10 14:34] tonyafehr commented on #1908
@woutermijle, this is great feedback, however it is not associated with a particular topic. Please let us know which topic this refers to so we can further assist you. Thank you.

[2019-12-10 14:36] woutermijle commented on #1908
Hi, it's related to "Hardware station deployment options": https://docs.microsoft.com/en-us/dynamics365/retail/retail-peripherals-overview#dedicated

[2019-12-10 14:36] tonyafehr commented on #1909
@torbennehmer, thanks for the feedback. If you need immediate assistance, consider contacting Support using one of the options described here: [Support contact options](https://docs.microsoft.com/en-us/dynamics365/unified-operations/dev-itpro/lifecycle-services/lcs-support). In particular, you might want to go to the [Dynamics 365 community page](https://community.dynamics.com/) to get help with y

[2019-12-10 14:38] tonyafehr commented on #1908
@rubencdelgado, please review and consider updating this topic.

[2019-12-10 14:40] tonyafehr commented on #1903
Reassigning to @faix

[2019-12-10 14:46] faix commented on #1903
Hi @rabol
i'm not sure what your ask here is exactly...

We already have some scripts that are meant to be run as a predeployment script to solve some deployment issues: https://docs.microsoft.com/en-us/dynamics365/fin-ops-core/dev-itpro/deployment/onprem-tsg-implementations

If this is what you are looking for let me know and we will link the current page to the one i pasted above.

[2019-12-10 15:05] rabol commented on #1903
In the doc-post it is stated that one can use the PreDepoyment.ps1 scripts, but it is not clear how one makes a 'package' to include this scripts

[2019-12-10 21:45] abermudezr opened #1911 "Business event never starts"
I have followed this tutorial but it doesn't run successfully, when I generate the trigger action, the event is created in Dynamics in the Active Events form, and remains there but in PowerAutomate, the flow never starts. Is there any configuration o parameter that I have to check in order to complete this functionality?

---
#### Document Details

⚠ *Do not edit this section. It is required for d

[2019-12-10 21:49] sericks007 commented on #1911
@abermudezr, thanks for posting here!

@Sunil-Garg, please review and update the content, as necessary.

[2019-12-11 10:55] jyotichoudhury commented on #1911
In the Business Events (SysAdmin>Setup>Business events>Business events catalog) in D365FO, delete the active event. Then click on Business events catalog, select the business event and then click 'Activate'>Specify the legal entity and the end point. And then try.

[2019-12-11 11:22] kurthatlevik opened #1912 "Microsoft Dynamics AX"
Microsoft Dynamics AX is no longer the product name :-)  Please update texts to reflect this.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 42fe9dec-4097-a3f0-52f6-1236876b9f97
* Version Independent ID: 3bf7d15a-afa7-1049-4b88-1b1936638006
* Content: [License sizing estimator in Lifecycle Services (LCS) - Finance & Op

[2019-12-11 14:16] sericks007 commented on #1912
@kurthatlevik, thanks for making us aware of this issue!

[2019-12-11 15:04] pturegano opened #1913 "Not all the paremeters are described in this page"
In PU28 we have found other parameter which is "Run in an offline mode" : When defragmentation is run offline for a particular index, underlying table and index are not available for queries and data modification.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ee1ecd08-b417-33b6-46d9-9be22c92ed23
* Version Independent

[2019-12-11 15:07] sericks007 commented on #1913
@pturegano, thanks for making us aware of this.  I'll let the engineering manager know, so this content gets updated.

[2019-12-11 15:24] faix commented on #1903
@rabol you don't need to create any package. As the documentation states you create a file called PreDeployment.ps1 and put whatever code you want there. You can also have the contents of the PreDeployment.ps1 script reference other scripts. You should then place the PreDeployment.ps1 script in the following location like the documentation already states: \\fileserver\agent\scripts\PreDeployment.p

[2019-12-11 15:45] sericks007 commented on #1891
Bug 401965 has been logged to track this issue.

[2019-12-11 15:52] sericks007 commented on #1892
Bug 401968 has been logged to track this issue.

[2019-12-11 16:25] simonefinotti opened #1914 "Extension scenario implementation"
It would really help if the "Extension scenario" included some actual code.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7e6cfc5e-5f56-db68-24ff-7790edf508d2
* Version Independent ID: 7c04619f-f427-8769-1fe4-7a6101383477
* Content: [Extend table maps that are used as interfaces - Finance & Operations | Dynamics 365 |

[2019-12-11 16:29] sericks007 commented on #1914
@simonefinotti, thank you for your feedback!

@LarsBlaaberg, please review and consider updating the content.

[2019-12-11 18:17] brswadling commented on #1841
I understand now that the ID number is system dependent. I would recommend updating the documentation to state that the number part will vary depending on implementation.

[2019-12-11 18:17] #1841 closed

[2019-12-11 21:29] Sunil-Garg commented on #1486
Hi Mehrdad-- the documentation around the list of supported operators have been updated. We will take some more time to update the documentation on other functions of the OData spec including the built-in query functions that you called out. This needs to be fully validated before we publish.

Thanks

[2019-12-11 21:32] #1486 closed

[2019-12-12 00:44] robabb123 opened #1916 "Useless"
This page explains nothing on publishing workspaces.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cc8c613d-3fa6-182f-855e-93d3e7e52433
* Version Independent ID: a2c0afae-9499-e9d6-ad59-4d348e1fb8f7
* Content: [Publish mobile workspaces - Finance & Operations | Dynamics 365 | #MSDyn365FO](https://docs.microsoft.com/en

[2019-12-12 00:46] #1916 closed

[2019-12-12 19:17] josaw1 commented on #1896
@hasaid updated the topic. Thanks.

[2019-12-12 19:17] #1896 closed

[2019-12-12 19:18] #1899 closed

[2019-12-13 00:49] JoelLeichty opened #1921 "Revenue Recognition"
The Revenue recognition topic was also covered (and released) in v10.0.6 including most of these features. Now it's a bit confusing to know what has changed since v10.0.5.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9e720647-3e3b-8c40-4dc9-5be519c5d7e2
* Version Independent ID: 4544c7f3-2a39-0f28-abd6-3b7634856895
*

[2019-12-13 00:50] JoelLeichty opened #1922 ""Project contact (sic) committed detail""
"Contact" should be "Contract"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9e720647-3e3b-8c40-4dc9-5be519c5d7e2
* Version Independent ID: 4544c7f3-2a39-0f28-abd6-3b7634856895
* Content: [What's new or changed in Dynamics 365 Finance 10.0.6 (November 2019) - Finance & Operations | Dynamics 365 | #MSDyn365FO](https://

[2019-12-13 01:24] andreash1 opened #1923 "The storage account creation description has an error"
Hi, this section under "Create Storage accounts"

3. In the Advanced options dialog box, "turn off" the Data Lake storage Gen2 (preview) option.

should be changed to:

3. In the Advanced options dialog box, "enable" the Data Lake storage Gen2 (preview) option.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a344a5de-68

[2019-12-16 09:01] BasvGMRN commented on #1824
Same issue here, do not understand how to perform the required actions to enable PowerBI in workspaces. Please update this doc page!

[2019-12-16 10:41] ripannandy opened #1924 "Export data from multiple legal entities using dequeue job"
In recurring integration framework, with single activity Id I can import data into different legal entities using enqueue job and legal entity as parameter.
Using same methodology, Is there any procedure available to export data from different legal entities with single activity Id using dequeue job and legal entity as parameter?

---
#### Document Details

⚠ *Do not edit this section. It is requi

[2019-12-16 18:14] danilo-AW opened #1925 "Error when logging in to the dev environment"
After doing the switch from dev to UAT database, I'm getting the following error:
You are not authorized to login with your current credentials. You will be redirected to the login page in a few seconds.
Any idea what it could be?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cb08fb04-94d5-ef25-8162-a0d79f5ee70a
* Ver

[2019-12-16 21:14] gregdegruy opened #1926 "D365 Talent to D365 F & O"
Does the existing data integration map those leave and absence allocations that occur in Talent to F&O.  I don't really see anything that refers to that in the entity -> entity mappings.

How are departments to be setup so that they match correctly to the organization units in F&O? Since the integration appears to be uni-directional I don't think there is really a systematic tie between these two

[2019-12-17 07:47] Julia341 opened #1927 "Endpoint for non-dev environment seems not correct"
Hi Team, please check whether the document needs to be updated as below:
Example endpoint for a non-dev environment
https://&lt;env-name&gt;aossoap.cloudax.dynamics.com/services/UserSessionService?wsdl

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b48cdcd6-bda2-2676-71b8-e0d51e5e746b
* Version Independent ID: 90adcd3c

[2019-12-17 14:06] tonyafehr commented on #1927
@Julia341, thanks for the feedback.
@Sunil-Garg, please review and consider making updates.

[2019-12-17 14:22] #1903 closed

[2019-12-17 14:26] tonyafehr commented on #1904
Bug 403507 has been logged to track this issue.

[2019-12-17 14:29] tonyafehr commented on #1906
Bug 403511 has been logged to track this issue.

[2019-12-17 14:32] tonyafehr commented on #1907
Bug 403513 has been logged to track this issue.

[2019-12-17 14:34] tonyafehr commented on #1908
Bug 403514 has been logged to track this issue.

[2019-12-17 14:36] tonyafehr commented on #1909
Bug 403515 has been logged to track this issue.

[2019-12-18 13:08] BasvGMRN opened #1929 "Incorrect procedure: Accessing Analytical Workspaces and Reports on 1-Box Environments"
"Note
The analytical workspaces require a hosted Power BI service that is available only for dedicated environments. For more information, see the blog post, Accessing Analytical Workspaces and Reports on 1-Box Environments."

The link points to a procedure that describes how to access the analytical workspaces on 1box environments - however this does no longer seem to work. Please update the note

[2019-12-18 14:45] tonyafehr commented on #1929
Thanks for the feedback.
@TJVass, please review and update this topic.

[2019-12-18 18:46] BasvGMRN commented on #1929
Please ignore my earlier feedback - it is incorrect - the procedure does work for 1Box deployments.

[2019-12-18 18:51] BasvGMRN commented on #1929
Please ignore my earlier feedback.
The procedure that was linked to does work correctly – I made a mistake during the configuration.

Please accept my apologies for my incorrect feedback and any inconvenience this may have caused.

Kind regards,
Bas

From: Tonya Fehr <notifications@github.com>
Sent: woensdag 18 december 2019 15:45
To: MicrosoftDocs/dynamics-365-unified-operations-public <dynamics-

[2019-12-18 19:05] #1929 closed

[2019-12-19 05:42] NicholasFook79 opened #1930 "Split Retail Channel Database & Retail Server"
Hi,

  I would like to confirm if Retail Channel DB & Retail Server can be split and hosted separately. Please advise.

Thank you.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 915a525f-f660-5cb2-fa18-be1a059acdbb
* Version Independent ID: 61eca697-a18c-f7a5-cc53-8331dcf3ff64
* Content: [Configure and install Retail S

[2019-12-19 10:09] MRasheed84 opened #1931 "can I have access to printers per user, so specific users can have access to only specific printers"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5fe44c05-ed58-b554-859e-2da552dbbd9d
* Version Independent ID: e638edab-dd54-6008-f210-524fd52b0e5b
* Content: [Install the Document Routing Agent to enable network printing - Finance & Operations | Dynamics 365 | #MSDyn365FO](https://docs.microsoft.c

[2019-12-19 22:02] josaw1 commented on #1930
Thank you for your question. @jashanno can you please help?

[2019-12-19 22:03] josaw1 commented on #1931
Thank you for your question. @TJVass can you please take a look?

[2019-12-20 00:48] dhand01 opened #1933 "Error: The option 4 for querystore query_capture_mode is not supported."
New error appearing when trying to import the bacpac to the Dev box:

*** Error importing database:Could not import package.
The option 4 for querystore query_capture_mode is not supported.

How do we get around this?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7c5e8701-e1d4-25f8-d76a-ee7870b915e1
* Version Independ

[2019-12-20 09:57] ubaidullah195 commented on #1933
I'm facing the same error on a recently exported bacpac. Can anyone suggest the solution for this?

[2019-12-20 10:45] oathgg opened #1934 "ERROR: Cannot add firewall rule through SSMS"
We receive the following error when trying to add the rule through SSMS on the UAT environment:

[code]

We're connected with the user 'axdbadmin' as stated in the readme. However, we're not able to select the master database from the list in the 'Connection properties' tab. The only database which is available is the actual UAT db (also known as the AxDB on the DEVTEST environment).

When I type

[2019-12-21 23:35] MadhanRamachandran opened #1937 "Local Agent version 2.4.0 update deployment issues"
[Enter feedback heAfter I have upgraded the agent 2.4.0 version and installed the .net 4.8 in ORCH then  started the deployment I am getting the error in clean up step.

Not able contuine the deployment . Please provide the suggestions .

Module aos failed with  error code 255.
Detail at  System.Environment.GetStackTrace(Exception e, Boolean needFileInfo) at  System.Environment.get_StackTrace() at

[2019-12-24 10:05] maartendm commented on #1925
My workaround is to disable/enable your user with another user account from the UAT environment.

[2019-12-27 05:48] goyalsachingithub opened #1943 "Nice One!"
Good one to understand the new changes  in x++.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d1bbc2c7-22f5-3b21-978c-4ed5867e400c
* Version Independent ID: 7d53e2be-80a2-e576-31c0-447fb947a568
* Content: [Changes in X++ and the X++ compiler](https://docs.microsoft.com/en-us/dynamics365/fin-ops-core/dev-itpro/dev-tool

[2019-12-27 15:31] kristyler opened #1945 "Validation of alpha values"
Does this work for alpha values? It's failing for me.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 84480f6c-693c-f9dc-f518-40327bee20f0
* Version Independent ID: 3544a89a-79ef-2467-d787-9ed717faeeb1
* Content: [Validate expected values](https://docs.microsoft.com/en-us/dynamics365/fin-ops-core/dev-itpro/perf-test/rsa

[2019-12-27 15:51] kristyler commented on #1945
<Message>The operator '&gt;' is not recoginized for comparison operations</Message>

( That's how it's spelled in the error details.)

[2019-12-30 06:21] nagarazt opened #1946 "[Hookable(false)] vs [Wrappable(false)]"
Is there any difference between  [Hookable(false)] and [Wrappable(false)]?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4317fdb2-b37f-550d-f229-bfd8498ab073
* Version Independent ID: ecd0974c-0abc-c494-cc8c-e81e7cf096f9
* Content: [Class extension - Method wrapping and Chain of Command](https://docs.microsoft.com/en-

[2019-12-30 14:17] oathgg commented on #1934
The issue seems to be resolved after doing another restore (this time without an error):
We are now able to configure an IP address by following the docs.

There was an error the very first time the database had been restored, the DSE team had resolved this issue. However, the restore probably caused this issue to occur as well.

[2019-12-30 14:17] #1934 closed

[2019-12-30 21:18] Huremix opened #1947 "Example"
dp.exe import \\location_of_demo_data \\Name_of_AX_business_database \\ServernameInstanceName.

dp.exe import "C:\MicrosoftDynamicsAXR3DemoData" CONTOSO DBSRV\MSSQLSRV_2016

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ec31ca57-d96e-3fb8-9b2a-4c454f989f27
* Version Independent ID: 9d676dd2-4f78-da3a-603c-f5f96cd394ce

[2019-12-30 23:20] jimhunnicut commented on #1911
@Sunil-Garg, this also doesn't work for me.  Double and triple checked the sets I took.  Is this functionality actually working?

[2019-12-31 21:31] jimhunnicut commented on #1911
The timesheet workflow does not appear to support Business Events.  I am now getting the event to trigger but receive an error that states:

An error has occurred.  Exception occurred while executing action validate on Entity WorkflowWorkItem: Unable to create an instance of TSWorkflowActionManager. Please update TSWorkflowActionManager so that it implements IValidateWorkflowWorkItemAction. Please

[2019-12-31 21:44] Sunil-Garg commented on #1911
@Chris Garty<mailto:Chris.Garty@microsoft.com>

________________________________
From: jimhunnicut <notifications@github.com>
Sent: Tuesday, December 31, 2019 1:31:34 PM
To: MicrosoftDocs/dynamics-365-unified-operations-public <dynamics-365-unified-operations-public@noreply.github.com>
Cc: Sunil Garg <sunilg@microsoft.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/dynamics-

[2020-01-02 14:16] subglo opened #1955 "update release schedule"
Hi,
It's already January 2nd 2020 - today.
Could You please update upcoming Platform update release schedule a bit further then March 13, 2020?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e7dcb285-f32c-c92e-fe49-1617f213066b
* Version Independent ID: 8f28c1a0-9da5-f853-90ee-d82a4c32df7e
* Content: [Service update av

[2020-01-02 15:00] sericks007 commented on #1937
Thanks for contacting us. Unfortunately, we're unable to handle Support requests for the product here. To contact Support, consider one of the options described here: [Support contact options](https://docs.microsoft.com/en-us/dynamics365/unified-operations/dev-itpro/lifecycle-services/lcs-support). In particular, you might want to go to the [Dynamics 365 community page](https://community.dynamics.

[2020-01-02 15:00] #1937 closed

[2020-01-02 15:04] sericks007 commented on #1943
Thank you for your feedback! We appreciate it!

[2020-01-02 15:04] #1943 closed

[2020-01-02 15:10] sericks007 commented on #1945
@kristyler, thanks for posting here.

@robadawy, please review and update the content, as necessary.

[2020-01-02 15:12] sericks007 commented on #1946
@nagarazt, thanks for posting here! You might want to go to the [Dynamics 365 community page](https://community.dynamics.com/) to get help with your questions from the Dynamics community.

@ChrisGarty, please review and update the content, as necessary.

[2020-01-02 15:14] sericks007 commented on #1955
@subglo, thanks for posting here.

@ShellyBakke, please consider updating the content, as requested.

[2020-01-02 15:25] sericks007 commented on #1947
@Huremix, thanks for posting here. We appreciate your feedback!

[2020-01-02 15:25] #1947 closed

[2020-01-02 15:48] sericks007 commented on #1911
Bug 406928 has been logged to track this issue.

[2020-01-02 15:56] sericks007 commented on #1913
Bug 406929 has been logged to track this issue.

[2020-01-02 16:01] sericks007 commented on #1914
Bug 406932 has been logged to track this issue.

[2020-01-03 10:31] swidz opened #1959 "Two undocumented JobDefinition modes: ImportInBatch and ExportInBatch"
There are two additional job definition modes: "ImportInBatch" "ExportInBatch" this will trigger Import or Export in Batch mode without setting any recurring integration schedules. Also other batch reccuring options do not apply. This work the same way as "Import async" and "Export async" but is not run in user session but in batch job instead.

---
#### Document Details

⚠ *Do not edit this secti

[2020-01-03 10:38] #1770 closed

[2020-01-03 13:54] sericks007 commented on #1959
@swidz, thanks for posting here!

@Sunil-Garg, please review and update the content, as needed.

[2020-01-04 15:57] OksanaKovaliova opened #1961 "8+ versions"
Is this article valid for environment versions later than 8+? Tried to search in LCS - but returns no results

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6d6f1ae2-5ee6-e87d-e09a-3d2652794086
* Version Independent ID: c4fb4871-22b6-b312-745d-f93ade86a436
* Content: [Known issues](https://docs.microsoft.com/en-us/dyna

[2020-01-04 19:40] trucbinh opened #1962 "Browser keeps opening when running load test"
Hi,
After I finished all configuration steps, I can manually run the test case successfully. But when I run load test with 10 users, browser keeps opening as running with single user. This is too expensive with CPU load. My CPU runs up 100% with 10 opened browsers.  Do we have any setting to avoid this?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com

[2020-01-05 13:56] trucbinh commented on #1962
I found the problem. The configuration in CloudEnvironment.config is incorrect.
The load test is ok now.

[2020-01-05 13:56] #1962 closed

[2020-01-06 13:54] sericks007 commented on #1961
@OksanaKovaliova, thanks for posting here!

@josaw1, can you please answer this question.

[2020-01-06 19:58] tonyafehr commented on #1907
This topic has been updated, thanks!

[2020-01-06 19:58] #1907 closed

[2020-01-06 21:28] sericks007 commented on #1912
The PM said that the License sizing estimator is a feature only available in LCS for AX 2012 projects. Our Content Publishing team is working to move this article from the Finance and Operations repo to the AX 2012 repo.

[2020-01-07 03:46] prdpmv opened #1964 "Getting error "At least one security token in the message could not be validated""
Getting error "At least one security token in the message could not be validated".
https://docs.microsoft.com/en-us/dynamics365/fin-ops-core/dev-itpro/perf-test/troubleshoot-perf-sdk-user-testing#at-least-one-security-token-in-the-message-could-not-be-validated

In this page there is no where certificate creation step is mentioned. I saw it mentioned in on-prem environment testing. https://docs.mi

[2020-01-07 13:58] tonyafehr commented on #1964
@prdpmv, thanks for the comment. If you need immediate assistance, please contact Support using one of the options described here: [Support contact options](https://docs.microsoft.com/en-us/dynamics365/unified-operations/dev-itpro/lifecycle-services/lcs-support). In particular, you might want to go to the [Dynamics 365 community page](https://community.dynamics.com/) to get help with your question

[2020-01-07 14:01] tonyafehr commented on #1927
Bug 407785 has been logged to track this issue.

[2020-01-07 14:46] Julia341 commented on #1927
Thanks Tonya!

Thanks,
Julia

From: Tonya Fehr <notifications@github.com>
Sent: Tuesday, January 7, 2020 10:01 PM
To: MicrosoftDocs/dynamics-365-unified-operations-public <dynamics-365-unified-operations-public@noreply.github.com>
Cc: Julia Chen <Guanqun.Chen@microsoft.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/dynamics-365-unified-operations-public] Endpoint for non-de

[2020-01-07 17:36] hasaid commented on #1964
Please check that you have a 127.0.0.1 cert on your client/Dev box and make sure the thumbprint is configured on the AOS’s wif.config  then restarted and in the key SelfSigningCertificateThumbprint located in your CloudEnvironment.config in your Perfsdklocaldirectory folder

From: Tonya Fehr <notifications@github.com>
Sent: Tuesday, January 7, 2020 05:58
To: MicrosoftDocs/dynamics-365-unified-oper

[2020-01-07 20:07] prdpmv commented on #1964
Do I need to follow step 4 to 7 from https://docs.microsoft.com/en-us/dynamics365/fin-ops-core/dev-itpro/perf-test/perfsdk-tutorial-lbd#run-a-single-user-test-by-using-the-performance-sdk
to do what you have mentioned below?

I have already done changes to CloudEnvironment.config which is mentioned in current page.

[2020-01-07 21:49] hasaid commented on #1964
You can but it is not required.

You should have on your client 2 x 127.0.0.1 if you installed a new cert. make sure you take the thumbprint of the one you installed

From: Pradeep Muttikulangara Vasu <notifications@github.com>
Sent: Tuesday, January 7, 2020 12:07
To: MicrosoftDocs/dynamics-365-unified-operations-public <dynamics-365-unified-operations-public@noreply.github.com>
Cc: Haytham Said <

[2020-01-08 06:31] vicky-88 commented on #699
Is there a way to add notifications in Cloud POS ?

[2020-01-08 09:45] sukkal63 opened #1968 "STAR OPOS logo printing and Microsoft-tested devices"
Please adjust the information related to the Star Printers and the OPOS drivers (maybe include a comment or something else), as they support PrintBitmap, whereas MPOS has only ever supported PrintMemoryBitmap. The difference is that their OPOS drivers require that the logo be set when we initialize the printer using ‘oposPrinter.setBitmap’. MPOS uses the newer ‘oposPrinter.printMemoryBitmap’ which

[2020-01-08 14:27] sericks007 commented on #1968
@sukkal63, thanks for posting here.

@rubencdelgado, please review and update the content, as needed.

[2020-01-08 14:31] sericks007 commented on #1945
Bug 408194 has been logged to track this issue.

[2020-01-08 14:33] sericks007 commented on #1946
Bug 408197 has been logged to track this issue.

[2020-01-08 14:36] sericks007 commented on #1955
Bug 408200 has been logged to track this issue.

[2020-01-08 14:42] sericks007 commented on #1959
Bug 408205 has been logged to track this issue.

[2020-01-08 14:44] sericks007 commented on #1961
Bug 408207 has been logged to track this issue.

[2020-01-08 14:47] sericks007 commented on #1912
This article has now been moved to the AX 2012 documentation.

[2020-01-08 14:47] #1912 closed

[2020-01-08 16:59] #1964 closed

[2020-01-09 11:27] gertvdh opened #1969 "This page needs an update on batch throttling"
now a batch server has batch throttling enabled by default so that you cannot 'overcommit' threads

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6465b985-b976-a032-6f05-e540ef844f30
* Version Independent ID: d13d8e4c-36cd-21ea-1113-99774093458f
* Content: [Batch processing and batch servers](https://docs.microsoft.com

[2020-01-09 11:28] gertvdh opened #1970 "Batch priority-based scheduling"
since PU31 this is a feature, so it should be somewhere here too.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6465b985-b976-a032-6f05-e540ef844f30
* Version Independent ID: d13d8e4c-36cd-21ea-1113-99774093458f
* Content: [Batch processing and batch servers](https://docs.microsoft.com/en-us/dynamics365/fin-ops-core/d

[2020-01-09 14:22] AndrewCussons opened #1972 "MPN gold and silver incidents do not support LCS"
MPN gold and silver incidents are for on-premises products only. Therefore, they should not be used for Cloud products such as Dynamics 365, Azure etc

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8710098e-7f1d-d216-83c2-b513753c969d
* Version Independent ID: 64e1a812-a65f-6d3e-a902-5e1cce22bc3e
* Content: [Manage the

[2020-01-09 15:24] josaw1 commented on #1970
Thank you for your feedback. @Peakerbl can you please take a look at this?

[2020-01-09 15:25] cabeln commented on #1923
Please explain better what the "root URL" refers to in App registration "Sign-on URL: Copy the root URL and paste it here." is tis AX root URL or of the storage account?

[2020-01-09 15:33] cabeln commented on #1923
It is the "DNS Name" of the key vault :-)

[2020-01-09 15:34] ParAkerblom commented on #1970
Priority-based batch scheduling is still in private preview only, the content is available once the feature appears in Feature management. [](https://docs.microsoft.com/en-us/dynamics365/fin-ops-core/dev-itpro/sysadmin/priority-based-batch-scheduling). We will update the section once this feature is GA and/or enabled by default.

[2020-01-09 15:35] ParAkerblom commented on #1970
https://docs.microsoft.com/en-us/dynamics365/fin-ops-core/dev-itpro/sysadmin/priority-based-batch-scheduling

[2020-01-09 15:36] josaw1 commented on #1972
Thank you for your feedback. @kfend can you please take a look?

[2020-01-09 15:49] ParAkerblom commented on #1969
Need input from my team. I have reached out.

[2020-01-09 15:50] josaw1 commented on #1930
Bug 408805 created to track the issue.

[2020-01-09 15:54] josaw1 commented on #1931
Bug 408807 created to track issue.

[2020-01-09 15:59] josaw1 commented on #1933
Bug 408808 created to track this issue.

[2020-01-09 16:09] jashanno commented on #1930
Hi @NicholasFook79

Yes, the Retail channel DB (With Async client) can be installed separately from the Retail Server (With Retail Cloud POS, as needed).  The details on how to perform this are in this document under the Multiple-computer installation sub-heading.

[2020-01-13 07:41] Den82spb opened #1981 "Dynamics 365 Finance"
Dynamics 365 Finance and operations?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c1fb1df0-9c03-99c0-fd65-e1014fb36176
* Version Independent ID: 0ab0746a-8c93-e3c4-1b50-a162ae09fb5f
* Content: [Database Movement API](https://docs.microsoft.com/en-us/dynamics365/fin-ops-core/dev-itpro/database/api/dbmovement-api-overv

[2020-01-13 11:51] gertvdh opened #1982 "include a sample on "Create a plan guide to add table hints" for hints parameter"
we had some problems to find out what to use here as parameter, so including a bit of samples would help:
for example "OPTION(TABLE HINT(&lt;tablealias&gt;,INDEX(&lt;indexname&gt;)))"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b75b1a49-8365-0fc4-5c27-677ff4b26325
* Version Independent ID: 98fcce36-1717-a210-0bb6-5c

[2020-01-13 17:14] mores opened #1983 "baseURI value"
Where do you get the baseURI from ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 133cc363-a550-5cbf-622a-f0bd3da87eb6
* Version Independent ID: a7b1ce5d-ba20-b723-e3b0-23a9b79cde9d
* Content: [Service endpoints overview](https://docs.microsoft.com/en-us/dynamics365/fin-ops-core/dev-itpro/data-entities/services-home-p

[2020-01-13 18:51] laneswenka commented on #1901
Any action like database refresh will incur downtime as you are deleting the in-place database and bringing in a new copy.  Doing it off-hours is ideal if you have heavy load in your Sandbox environments during business hours.  You also can use the refresh API and something like LogicApps or Flow to schedule this to be hands-free.

[2020-01-13 18:53] laneswenka commented on #1826
Hi Thomas, we cannot go in to fine grained detail for security reasons however it is possible for files to be orphaned in your UAT environments.  Our recommendation is to do some file attachment testing in UAT but for Go Live the attachments should be loaded there instead.  This will reduce wasted space utilization.  That said, Azure Storage accounts can grow up to 2000TB so there is no realistic

[2020-01-13 19:18] #1901 closed

[2020-01-14 13:31] TorbenPhilippsen opened #1984 "Wrong description of parameters for ExportToPackage action"
In the parameters C# sample section of ExportToPackage action it says:
"definitionGroupId":"&lt;Data project Id&gt;",
This is not correct. It should be:
"definitionGroupId":"&lt;Data project NAME&gt;",

In the parameters section it says:
string legalEntityId	- The legal entity for the data import.
this is not correct. It should be:
string legalEntityId	The legal entity for the data EXPORT.

---
##

[2020-01-14 14:18] sericks007 commented on #1832
This issue has been reviewed and bug 409753 has been logged to fix the sample, instead of the documentation. Closing this issue because the "fix" won't be made in this topic.

[2020-01-14 14:18] #1832 closed

[2020-01-14 14:55] tonyafehr commented on #1981
@Den82spb, if you are inquiring about what apps are supported, keep in mind that Dynamics 365 for Finance and Operations is now being licensed as Dynamics 365 Finance and Dynamics 365 Supply Chain Management, which is noted in this topic.

[2020-01-14 14:55] #1981 closed

[2020-01-14 14:57] FH-Inway opened #1986 "Update settings not available"
I suggest an info is added to the "What's new or changed" part that the update settings in the LCS project settings is not available. According to Microsoft support, automatic updates are not available with self service environments.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6c7f272b-4ea7-a285-4a9f-e67583a664e0
*

[2020-01-14 15:07] tonyafehr commented on #1982
@gertvdh, thanks for the feedback.
@manalidongre, please review and consider including samples as suggested.

[2020-01-14 15:08] tonyafehr commented on #1983
@Sunil-Garg, please review. Thanks!

[2020-01-14 15:08] tonyafehr commented on #1984
@Sunil-Garg, please review. Thanks!

[2020-01-14 15:10] tonyafehr commented on #1986
@FH-Inway, thanks for the suggestion.
@sarvanisathish, please consider making updates as noted.

[2020-01-14 15:21] #1826 closed

[2020-01-14 19:57] mores opened #1987 "In the application, go to System administration > Setup > Azure Active Directory applications."
Is the "application" referring to Finance and Operations website ?
After I go to "System administration" I do not see Setup - I do see:
Manage users
Security configuration
Lifecycle Services
Failed batch jobs
System settings
Data Management IT

Currently unable to 'Register your external application'

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ G

[2020-01-14 20:30] tonyafehr commented on #1987
@mores, thanks for contacting us. If you need immediate assistance consider one of the options described here: [Support contact options](https://docs.microsoft.com/en-us/dynamics365/unified-operations/dev-itpro/lifecycle-services/lcs-support). In particular, you might want to go to the [Dynamics 365 Community page](https://community.dynamics.com/) to get help with your questions from the Dynamics

[2020-01-14 20:36] mores commented on #1987
The root of the problem is that there are multiple "System administration" options -
On the home page there is a tile called "System administration" <- this is the wrong one !
![image](https://user-images.githubusercontent.com/1318377/72380328-31406000-36e3-11ea-91fe-8ff2d0b5b9cc.png)
Hamburger menu -> Modules -> "System Administration" <- this is the correct one !
![image](https://user-images.git

[2020-01-15 07:27] manishmoothedath commented on #1901
Hi,
I meant downtime in production environment (source) during a refresh to sandbox

[2020-01-15 08:21] axaeffect opened #1988 "Is the drill into detail to F&O works for Power BI report pin from PowerBI.com"
As subject, if we pin report from PowerBI.com, are the drill report still works ? Also is there any document provided specific to FO on how to develop the menu item and everything like mentioned in part :
1. Help secure access to Power BI reports by using menu items.
2. Filter reports based on application context

I mean really specific for F&O, not the generic that can use by any platform.
Thanks

[2020-01-15 12:00] torbennehmer opened #1989 "What needs to be checked in?"
Hi there,

what I am missing in the documentation is what parts of a package actually needs to be checked in. This is defined for 3rd party packages in the docs, but it is missing for source package (or I'm too blind to find it). For myself, it is quite clear what I need. Alongside with the .gitignore/.tfignore I have written, there is no problem for me personally. However, I find it would be good

[2020-01-15 12:32] axaeffect opened #1990 "Is this document updated"
I would like to know is this document updated. Provided there is the new Power BI Embedded service which has Dedicated Capacity stuff.

Is the code still applicable for Power BI Embedded service ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 58543120-6ce0-15a0-dd0a-ca4888b11d85
* Version Independent ID: 4e804992-b8bd

[2020-01-15 13:57] bhesingh commented on #1983
BaseURI is the URL of your Dynamics 365 F&O instance. Copy it from the browser address pane until cloudax.dynamics.com

[2020-01-15 14:32] sericks007 commented on #1988
@axaeffect, thanks for posting here.  If you need to contact Support, consider one of the options described here: [Support contact options](https://docs.microsoft.com/en-us/dynamics365/unified-operations/dev-itpro/lifecycle-services/lcs-support). In particular, you might want to go to the [Dynamics 365 community page](https://community.dynamics.com/) to get help with your questions from the Dynami

[2020-01-15 14:37] sericks007 commented on #1989
@torbennehmer, thanks for posting here!

@robadawy, please review and update the content, if needed.

[2020-01-15 14:39] sericks007 commented on #1990
@axaeffect, thanks for posting here.

@TJVass, please review and update the content, as necessary.

[2020-01-15 14:44] sericks007 commented on #1968
Bug 410629 has been logged to track this issue.

[2020-01-15 15:42] NShaukat-US commented on #1911
"To enable external completion of work items, the work item action manager class needs to implement the IValidateWorkflowWorkItemAction interface. The standard WorkflowWorkItemActionManager class has implemented this interface. In Platform update 32, the TrvWorkflowWorkItemActionManager class was updated to implement the IValidateWorkflowWorkItemAction interface. Use the existing IValidateWorkflow

[2020-01-15 15:43] Sunil-Garg commented on #1911
@Chris Garty<mailto:Chris.Garty@microsoft.com>

________________________________
From: NShaukat-US <notifications@github.com>
Sent: Wednesday, January 15, 2020 7:42:30 AM
To: MicrosoftDocs/dynamics-365-unified-operations-public <dynamics-365-unified-operations-public@noreply.github.com>
Cc: Sunil Garg <sunilg@microsoft.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/dynamics

[2020-01-16 12:00] AndrewCussons opened #1991 "You cannot use Individual incidents and 5 packs because you are redirected to LCS"
Related to "Individual incidents and 5 packs purchased on [support.microsoft.com/supportforbusiness]." above
You cannot use Individual incidents and 5 packs because you are redirected to LCS at  1. Product selection when you select Dynamics \ Dynamics 365 for Finance and Operation
I guess you may select a different product eg Windows 10, then add contract  when you are at 3. Support plan. Then can

[2020-01-16 12:05] AndrewCussons opened #1992 "How can you submit a support request with out a premier support plan ?"
I look at "Use the Cloud-powered support tool." above and it says "On the Active issue tab, select your issue, and then click Submit to Microsoft.".
But "! Submit to Microsoft" is greyed out
The other option On the Submitted to Microsoft tab requires a premier support contract

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

*

[2020-01-16 12:07] AndrewCussons commented on #1992
workitems Support issues and the Active issues tab do not display any buttons / icons to strat the process to Add issue or submit to Microsoft

[2020-01-17 11:18] andyNewnham opened #1994 "Update document for option of Adyen Terminal API or Cloud API for POS devices"
Could this document please be updated to reference that you have the option of using Terminal API or Cloud API. More information on this set-up was demo'd by Ruben at the Biz Apps summit last year - see video here from 22:30: https://www.youtube.com/watch?v=bO1ycmc2P14&t=1429s

Within the details of how to configure the connector properties it currently states:
Terminal architecture	This must be s

[2020-01-17 14:58] subglo opened #1996 "10.0.8 Platform update 32?"
Hello,
Where is 10.0.8 Platform update 32? It says it will be GA January 17, 2020.
Can't find it and shared asset library.

[2020-01-17 17:19] josaw1 commented on #1991
Thank you for your feedback. @AnupamMicrosoft can you please take a look?

[2020-01-17 17:20] josaw1 commented on #1992
Thank you for your feedback. @AnupamMicrosoft can you please take a look?

[2020-01-17 17:23] josaw1 commented on #1994
Thank you for your feedback. @Reza-Assadi can you please take a look?

[2020-01-17 17:23] josaw1 commented on #1994
@rubencdelgado

[2020-01-17 17:27] josaw1 commented on #1996
Thanks for contacting us. Unfortunately, we're unable to handle Support requests for the product here. To contact Support, consider one of the options described here: [Support contact options](https://docs.microsoft.com/en-us/dynamics365/unified-operations/dev-itpro/lifecycle-services/lcs-support). In particular, you might want to go to the [Dynamics 365 community page](https://community.dynamics.

[2020-01-17 17:28] #1996 closed

[2020-01-17 17:36] josaw1 commented on #1969
BUG 411397 created to track this issue.

[2020-01-17 17:37] #1970 closed

[2020-01-17 17:37] josaw1 commented on #1972
@AnupamMicrosoft

[2020-01-17 17:49] josaw1 commented on #1972
@sericks007 BUG 411415 assigned to you. Can you help resolve this?

[2020-01-17 21:01] panolte commented on #1701
Thank you for the feedback.  This documentation is intended for functional training and support.  This appears to be a functional request.

[2020-01-18 03:07] diegoreza89 opened #2001 "Copy the sandbox database to production (not exits the option "Sandbox to production in service request")"
Our LCS is in "Self-service deployment architecture" and we cannot se the option to copy sandbox to production in the section Service Request..how can we copy sandbox (UAT) to production?

[2020-01-21 07:53] kurthatlevik opened #2004 "DateTime fields in UTC"
According to support request 119111421001006, it is clear that all fields of the type DateTime is presented in UTC timezone.  So if you are importing DateTime, it needs to be converted to UTC before importing into D365 using the Open in Excel add-in.  This should be documented on this docs page.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub

[2020-01-21 14:57] tonyafehr commented on #2001
Thanks for contacting us. Unfortunately, we're unable to handle Support requests for the product here. To contact Support, consider one of the options described here: [Support contact options](https://docs.microsoft.com/en-us/dynamics365/unified-operations/dev-itpro/lifecycle-services/lcs-support). In particular, you might want to go to the [Dynamics 365 community page](https://community.dynamics.

[2020-01-21 14:57] #2001 closed

[2020-01-21 15:01] tonyafehr commented on #2004
@kurthatlevik, thanks for the feedback.
@ChrisGarty, please review and make updates as needed.

[2020-01-21 15:26] tonyafehr commented on #1983
Bug 411973  has been logged to track this issue.

[2020-01-21 15:28] tonyafehr commented on #1984
Bug 411975 has been logged to track this issue.

[2020-01-21 15:31] tonyafehr commented on #1987
Bug 411977 has been logged to track this issue.

[2020-01-21 16:05] tonyafehr commented on #1986
Bug 6089723 has been logged to track this issue.

[2020-01-21 19:18] GERGMAN opened #2007 "FIFO without the Include physical value option"
In FIFO without the Include physical value option, bullet 5a states…. a cost price of 20.00 each (running average of financially updated transactions). I believe that should be $15 each.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 86ece8c8-fcea-0e14-9bb2-0544b62b17c1
* Version Independent ID: b2e81fea-7a8a-0f06-c760

[2020-01-21 19:38] tonyafehr commented on #2007
@GERGMAN, thanks for the feedback.
@AndersGirke, please review and consider making updates as needed.

[2020-01-21 21:46] RobinARH commented on #1902
I updated the image and it will be published later today.

[2020-01-21 21:46] #1902 closed

[2020-01-21 21:46] varunv16 commented on #1955
Any updates on these? There's no relase guideline past 10.0.9 which is supposed to come out in 9 days.

[2020-01-22 08:54] oathgg opened #2009 "Dead link"
Platform update xx
Microsoft Dynamics 365 Supply Chain Management 10.0.8 includes Platform update 32. To learn more about Platform update xx, see Preview features in Platform update 32.

Probably something went wrong with the above topic.
The link is also referencing 'https://docs.microsoft.com/en-us/dynamics365/fin-ops-core/dev-itpro/get-started/whats-new-platform-update-xx.md' which is dead.

--

[2020-01-22 13:02] curtiswatson commented on #1955
Where's the release notes for v10.0.8 - which is already GA?

[2020-01-22 13:03] curtiswatson opened #2011 "v10.0.8 release notes"
Where are the v10.0.8 release notes which is already GA?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5422ea93-f976-dd55-8451-a3ce821c71df
* Version Independent ID: bfc8f75d-62c2-7b44-36b5-5dbd06a97ec5
* Content: [Preview features in Dynamics 365 Retail version 10.0.7](https://docs.microsoft.com/en-us/dynamics365/ret

[2020-01-22 13:46] sericks007 commented on #2009
@oathgg, thanks for making us aware of this!

@roschlom, please review and update the content.

[2020-01-22 13:50] sericks007 commented on #2011
@curtiswatson, thanks for posting here!

@josaw1, please review.

[2020-01-22 14:12] sericks007 commented on #1988
Bug 412352 has been logged to track this issue.

[2020-01-22 14:16] sericks007 commented on #1989
Bug 412353 has been logged to track this issue.

[2020-01-22 14:19] curtiswatson commented on #2011
Also an issue with D365 Finance.

On Wed., Jan. 22, 2020, 8:50 a.m. Sally Erickson, <notifications@github.com>
wrote:

[2020-01-22 14:20] sericks007 commented on #1990
Bug 412356 has been logged to track this issue.

[2020-01-22 16:05] oathgg opened #2013 "[!NOTE] is probably missing formatting"
You probably intended the [!NOTE] tag to be formatted like your [!IMPORTANT] tags which I've seen on multiple pages.
An example would be: https://github.com/MicrosoftDocs/Dynamics-365-Unified-Operations-Public/edit/live/articles/fin-ops-core/fin-ops/get-started/before-you-buy.md.

However, when you look at this page on the actual Microsoft docs you will notice that the formatting does not match th

[2020-01-22 16:09] sericks007 commented on #2013
@oathgg, thanks for posting here!  Our Content Publishing team is working to update this topic.

@roschlom, please update the content.

[2020-01-22 18:29] josaw1 commented on #2011
Thanks for your feedback. We didn't publish a What's New topic for Retail version 10.0.8. You can always reference the Release Plans for new and upcoming functionality. We will publish a What's New topic for Finance version 10.0.8 in the coming days, so please check back.

[2020-01-22 18:29] #2011 closed

[2020-01-22 18:49] jorisdg commented on #1989
We will consider adding this in the future. Currently we don't support Git officially, and other than the odd descriptor XML file missing customers have not had issues using the built-in TFVC source control support.
Once we get to Git we will have a standard gitignore file, we can consider then documenting also what should go in.
As far as checking in third-party DLLs, if you need those deployed y

[2020-01-22 22:30] stephenfournier opened #2018 "Retail 365 SDK"
I am trying to figure out how to obtain the Retail 365 SDK. I have checked [this documentation](https://docs.microsoft.com/en-us/dynamics365/retail/dev-itpro/retail-sdk/retail-sdk-overview#download-the-retail-sdk) but am still confused. It says "The Retail SDK is available in development environments, and in hotfix packages in a Retail SDK folder." It does not mention how to obtain/setup a develop

[2020-01-22 23:33] laneswenka commented on #184
This should be closed, version 8.1 is out of support.  The AX2012 Preupgrade check list should be run on all upgrades per the documentation.

[2020-01-22 23:34] jorisdg commented on #402
The CAR report currently does not list extensions, which is a limitation in the tool itself.

[2020-01-22 23:34] laneswenka commented on #185
This is valid, I will make an update.  Please assign to me.

[2020-01-23 00:04] #1989 closed

[2020-01-23 01:30] jorisdg commented on #1095
The reason this is no longer needed after PU7 is because the servicing does it for you (remove the backup).

[2020-01-23 01:35] jorisdg commented on #1137
There are simplified command line options for dev VMs that can be used which we should add to the documentation.

[2020-01-23 01:39] jorisdg commented on #1217
I'm not sure if the document was updated since this issue was filed, but the doc looks correct to me. Can you please elaborate what is missing or wrong?

[2020-01-23 09:18] HenrikLevinson opened #2021 "Release Note 10.0.8"
Looking for whats new in 10.0.8 and platform 3. When will the docs will be released?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 85a380bf-8777-9eb4-0791-74c92b321746
* Version Independent ID: f8d3164a-44de-ba52-74ce-a8a6818053cd
* Content: [What's new and changed in Dynamics 365 Finance version 10.0.7 (January 2020)

[2020-01-23 13:37] #184 closed

[2020-01-23 13:38] #402 closed

[2020-01-23 13:45] #1095 closed

[2020-01-23 17:42] RobinARH commented on #1648
Thanks for contacting us. At this time, we don't plan to add additional content to this topic.  -Robin

[2020-01-23 17:42] #1648 closed

[2020-01-23 17:52] #565 closed

[2020-01-23 17:53] #614 closed

[2020-01-23 17:55] RobinARH commented on #933
Thanks for the tip!

[2020-01-23 17:55] #933 closed

[2020-01-23 22:13] josaw1 commented on #2018
Thank you for your feedback. @mugunthanm can you please take a look?

[2020-01-23 22:17] josaw1 commented on #2021
Hi, thanks for your feedback. The What's New topic for Finance version 10.0.8 is live [here](https://docs.microsoft.com/en-us/dynamics365/finance/get-started/whats-new-changed-10-0-8).

[2020-01-23 22:17] #2021 closed

[2020-01-23 22:22] josaw1 commented on #1991
BUG 412922 created to track the issue.

[2020-01-23 22:24] josaw1 commented on #1992
BUG 412924 created to track the issue.

[2020-01-24 02:57] mugunthanm commented on #2018
Please check the below document for how to deploy a development environment and get the SDK. Once the environment is deployed, RDP to the VM and in the service volume drive you can find the SDK.
https://docs.microsoft.com/en-us/dynamics365/fin-ops-core/dev-itpro/dev-tools/access-instances

[2020-01-24 13:16] soerenpc opened #2022 "PDF documents"
HI
We can't send out invoices as Excel files. They need to be converted to PDF.
Can we do that?

SPC

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0c9d868b-2b3b-26c9-f8ff-863e6f8cd9d4
* Version Independent ID: 9ea7a0a4-99ab-aca8-ca48-62ee8c02a92b
* Content: [Business document management overview](https://docs.microsof

[2020-01-24 14:37] sericks007 commented on #2013
Thanks again for reporting the issue! This content has been updated.

[2020-01-24 14:37] #2013 closed

[2020-01-24 14:38] sericks007 commented on #2009
Thanks again for reporting these issues!  This content has been updated.

[2020-01-24 14:38] #2009 closed

[2020-01-26 05:13] Mzap89 commented on #1927
Hello everyone,

Do you know how to consume this services in a non-dev environment?

Thanks in advance.

[2020-01-27 06:50] gprodware opened #2024 "connect to PowerBI.com"
Hi,
it is not mentioned if there is a way to connect PowerBI.com to this data lake ?
Br,

Gill

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a344a5de-68fa-e9cf-28eb-51269c33b9b3
* Version Independent ID: 1b3ede62-3954-574b-5778-8cdee0ededfe
* Content: [Make Entity store available as a Data Lake](https://docs.microsoft

[2020-01-27 07:12] NickSelin commented on #2022
Hello [SPC](https://github.com/soerenpc),
Thanks for contacting us. Currently, you can do such conversion in only your customized code - the corresponding ER [extensibility point](https://docs.microsoft.com/dynamics365/fin-ops-core/dev-itpro/analytics/er-custom-storage-generated-documents) allows to catch Excel files and convert them to PDF by using any tool you have. To make great progress on the

[2020-01-27 10:09] Taketral opened #2025 "Importing"
I cannot import even though I follow these step. There is always same error as below.
"File contains duplicate rows, cannot insert data into staging due to unique key violation.-
'0' 'ZIP Postal Code Japan' record(s) inserted in staging"
And I checked the file but there are no duplicate rows.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub is

[2020-01-27 16:52] #2022 closed

[2020-01-27 17:37] RobinARH commented on #2025
@yijialuan - Can you take a look? Thanks.

@Taketral - You might want to go to the [Dynamics 365 community page](https://community.dynamics.com/) to get help with your questions from the Dynamics community.

[2020-01-27 17:38] RobinARH commented on #2024
@MilindaV2 - Can you take a look? Thanks.

[2020-01-27 17:47] RobinARH commented on #1880
Bug 413521 filed to track this issue.

[2020-01-28 08:04] irfan007-coder commented on #1946
[HookableAttribute(false)] is default attribute attached with methods. it's mean that you cannot extend that method either method is public or protected.
if a method has final modifier it's means that you cannot extend it but it's a option to override that functionality by using [Wrappable(true)] attribute .
You can override final method by using  [Wrappable(true)] and [Wrappable(false)]

[2020-01-28 10:51] ransoentjens opened #2029 "Outdated information"
The following information is incorrect / missing and should be updated:
- This topic does not only apply on MPOS, but als on CPOS. MPOS reference can thus be removed
- The generic %message% placeholder must be replaced with:
&lt;pre&gt;
%message%
&lt;/pre&gt;
Otherwise the outline is incorrect. Furthermore, it is advised to put the html content in a notepad file and save as .txt (as discussed with

[2020-01-28 14:35] tonyafehr commented on #2029
@ransoentjens, thanks for the feedback.
@jashanno, please review and update this topic as necessary.

[2020-01-28 14:44] tonyafehr commented on #2004
Bug 413864 logged to track this issue.

[2020-01-28 14:46] tonyafehr commented on #2007
Bug 413865 has been logged to track this issue.

[2020-01-28 22:13] turbozapekanka opened #2031 "10.0.6 EOS date is wrong"
Can't be earlier than release date.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e7dcb285-f32c-c92e-fe49-1617f213066b
* Version Independent ID: 8f28c1a0-9da5-f853-90ee-d82a4c32df7e
* Content: [Service update availability](https://docs.microsoft.com/en-us/dynamics365/fin-ops-core/fin-ops/get-started/public-preview-rel

[2020-01-28 22:22] tonyafehr commented on #2031
@turbozapekanka, which date are you referring to?

[2020-01-29 00:27] turbozapekanka commented on #2031
The date in the "End of support" column

[2020-01-29 13:58] timwhalenin opened #2035 "Job History Cleanup"
The article states the Job History Cleanup job is available in PU29 and later.  I have one client on PU29 and they do not have this tile in the DM workspace or on the Tiles section in Visual Studio.  I have another client on PU30 and they have it in both areas.  Is there something I'm missing here?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ Git

[2020-01-29 14:00] tonyafehr commented on #2031
Thanks, we've fixed the date and will re-publish this topic later today.

[2020-01-29 14:00] #2031 closed

[2020-01-29 14:00] Sunil-Garg commented on #2035
You will have to enable the feature in feature management. Can you check on that pls?

________________________________
From: timwhalenin <notifications@github.com>
Sent: Wednesday, January 29, 2020 5:58:53 AM
To: MicrosoftDocs/dynamics-365-unified-operations-public <dynamics-365-unified-operations-public@noreply.github.com>
Cc: Sunil Garg <sunilg@microsoft.com>; Mention <mention@noreply.github.co

[2020-01-29 14:07] timwhalenin commented on #2035
Thanks Sunil!  I totally missed that sentence in the documentation.  I’ve got it enabled now.

Thanks!

Tim

From: Sunil Garg <notifications@github.com>
Sent: Wednesday, January 29, 2020 9:01 AM
To: MicrosoftDocs/dynamics-365-unified-operations-public <dynamics-365-unified-operations-public@noreply.github.com>
Cc: Tim Whalen <TimW@saglobal.com>; Author <author@noreply.github.com>
Subject: Re: [Mic

[2020-01-29 14:08] #2035 closed

[2020-01-29 17:01] dahirongm opened #2037 "Typo"
[Enter feedback here]
I think there is a typo: "this update should very rarely". Maybe is "vary" instead of "very".

Thanks

Dahiron

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5c00f86f-ec28-b1dc-d452-6d5514f9336c
* Version Independent ID: 7c1e6e4d-bc93-b5d8-22e1-ac56ddc488e1
* Content: [Retail software development

[2020-01-29 17:09] tonyafehr commented on #2037
@dahirongm, thanks for the feedback. Updates to the paragraph will be published later today.

[2020-01-29 17:09] #2037 closed

[2020-01-29 17:16] dahirongm commented on #2037
@tonyafehr  my pleasure.

[2020-01-29 21:38] tomhig opened #2040 "Name and Caption Changes in Microsoft Admin Center"
In step #3 of the Microsoft 365 Admin Center section, it states go to Billing &gt; Subscriptions. This is now Billing &gt; Products & services.

Also in step #3 as well as step #4, the subscription name is no longer Dynamics 365 Unified Operations. Instead, it will be either Dynamics 365 Finance and/or Dynamics 365 Supply Chain Management.

---
#### Document Details

⚠ *Do not edit this section. I

[2020-01-29 21:54] roschlom commented on #2040
@tomhig Thank you for noticing this and letting us know. We'll look into it.

[2020-01-29 21:55] roschlom commented on #2040
@ClaudiaBetz-Haubold Can you have a look at this, please?

[2020-01-30 11:20] BasvGMRN opened #2041 "D12v2 not available for selection when deploying a new instance with Demo topology?"
Adding a new environment in my LCS project with topology "Demo" does not allow D12v2 to be selected as the VM size, although it is recommended in this article. Guess the documentation needs to be updated with a (new) VM size?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 90265dfd-3035-a591-fbb4-4265024186b7
* Version

[2020-01-30 13:30] 1harmsma opened #2042 "Description "Asset management plans" is incorrect"
Hello,

On this page (create an asset) &gt; The Description of the FastTab "Asset management plans" is incorrect, it should be "Asset Maintenance Plans".
 (see link &gt; https://docs.microsoft.com/en-us/dynamics365/supply-chain/asset-management/objects/create-an-object#asset-management-plans)

Greetings, Ton Harmsma

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.m

[2020-01-30 13:43] SasoGLIGOR opened #2043 "Deployment of D365FO LCS project and environments in France."
Hello,
We are trying to get our D365FO LCS project and environments in French datacenters since October 2019.
This seems not to be possible, we cannot deploy one single environment in France, not for the moment at least.
We have hard time getting answers from Microsoft also, do not know why this is not working and when will it work.
If anyone could give hand on this one, it would be great.
Thanks

[2020-01-30 18:08] dhruvinushah commented on #1410
What's the update on this?

[2020-01-30 19:37] panolte commented on #1195
Thank you for reporting.  The document will be updated.

[2020-01-30 19:48] panolte commented on #1001
Thank you for reporting this issue.  While we understand the functionality doesn’t meet this specific business requirement the feature is working as it was designed to function.

This fee is part of the credit card merchant processing and not part of the system functional process.

[2020-01-30 20:31] #1195 closed

[2020-01-31 14:01] texaspete opened #2047 "Vendor on-hold = Requisition"
The text for

Putting a vendor on hold
Requisition – Only purchase requisitions can be created. No other transactions can be created.

has it completely the wrong way round. If the Vendor hold is set to Requisition, all transactions are allowed EXCEPT for Requisitions (and RFQs).

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

[2020-01-31 16:32] kfend commented on #2041
@BasvGMRN  - Thanks for the feedback. I have assigned this issue to the PM.

[2020-02-01 06:59] #2018 closed

[2020-02-03 09:02] MaiKirknel commented on #2042
Please assign to Arijit

/mai
From: Kristin Fender <notifications@github.com>
Sent: 31. januar 2020 17:37
To: MicrosoftDocs/dynamics-365-unified-operations-public <dynamics-365-unified-operations-public@noreply.github.com>
Cc: Mai Kirknel <mkirknel@microsoft.com>; Assign <assign@noreply.github.com>
Subject: Re: [MicrosoftDocs/dynamics-365-unified-operations-public] Description "Asset management pl

[2020-02-03 10:19] MaiKirknel commented on #2047
I have updated the topic - please review and approve

[2020-02-03 12:36] kamaybac commented on #2047
I reviewed and merged the update. It should go live soon.

[2020-02-03 12:36] #2047 closed

[2020-02-03 13:52] MaiKirknel commented on #2047
Thx 😊

From: Karl Maybach <notifications@github.com>
Sent: 3. februar 2020 13:36
To: MicrosoftDocs/dynamics-365-unified-operations-public <dynamics-365-unified-operations-public@noreply.github.com>
Cc: Mai Kirknel <mkirknel@microsoft.com>; Assign <assign@noreply.github.com>
Subject: Re: [MicrosoftDocs/dynamics-365-unified-operations-public] Vendor on-hold = Requisition (#2047)

Closed #2047<https:

[2020-02-03 17:09] rsteber commented on #1418
The LCS project of my customer still refuses to validate a deployable package with the singular filename.
Are there different versions of LCS online?
Error message:
_Validation status
Invalid - ModuleToRemove.txt is not valid_

The file is located correctly in the AOSService\Scripts\ path.

[2020-02-03 21:54] RobinARH commented on #2025
Created bug 415931 to track this issue.

[2020-02-03 21:56] RobinARH commented on #2024
Created bug 415932 to track this issue.

[2020-02-04 02:27] EricWangChen commented on #2025
@Taketral could you provide the data which you want to upload for us to check?

[2020-02-04 14:18] tonyafehr commented on #2029
Bug 416106 logged to track this issue.

[2020-02-04 16:18] pricarvalho86 opened #2054 "Retrieve execution_id"
I'm trying to get the message errors, but the execution_id is mandatory to request. The problem that I got in here is that I don't know how to retrieve this information through Api Rest. What I'm trying to do is:

1- /api/connector/enqueue/:id?entity=:entity -&gt; return messageId
2- /data/DataManagementDefinitionGroups/Microsoft.Dynamics.DataEntities.GetMessageStatus -&gt; return JSON with status

[2020-02-04 16:54] tonyafehr commented on #2054
Thanks for contacting us. Unfortunately, we're unable to handle Support requests for the product here. To contact Support, consider one of the options described here: [Support contact options](https://docs.microsoft.com/en-us/dynamics365/unified-operations/dev-itpro/lifecycle-services/lcs-support). In particular, you might want to go to the [Dynamics 365 community page](https://community.dynamics.

[2020-02-04 16:54] #2054 closed

[2020-02-04 17:26] bkdjayh opened #2055 "Fonts"
Where is the list of fonts available for documents rendered by the Cloud-hosted service?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6c7f272b-4ea7-a285-4a9f-e67583a664e0
* Version Independent ID: 54ac0c3d-a2b5-6001-1581-167dd87a80c0
* Content: [Self-service deployment overview](https://docs.microsoft.com/en-us/dynam

[2020-02-04 18:07] tonyafehr commented on #2055
@TJVass, can you assist with this. Thanks!

[2020-02-04 20:17] tonyafehr commented on #2043
@SasoGLIGOR, have you contacted [Support](https://docs.microsoft.com/en-us/dynamics365/unified-operations/dev-itpro/lifecycle-services/lcs-support)? If not, please do so to get assistance from the Support team. If you have contacted Support, and you have a pending support ticket, please let us know so we can follow up in regard to this issue.

[2020-02-05 06:15] Taketral commented on #2025
@EricWangChen  This is the file downloaded from Japanese postal office web site and added the header. Please confirm.
[KEN_ALL.zip](https://github.com/MicrosoftDocs/dynamics-365-unified-operations-public/files/4157723/KEN_ALL.zip)

[2020-02-05 08:10] EricWangChen commented on #2025
Hi Taketral,

The raw CVS file downloaded from Japan postal office should automatic split all the fields into different excel columns
![image](https://user-images.githubusercontent.com/50563680/73822692-a3631b00-4831-11ea-91c2-34b0ccd89923.png)
But in your CSV file, all the fields are in column A.

Please try download the CSV file from Japan postal office again and upload

Feel free to let me know

[2020-02-05 14:22] JayStock57 opened #2056 "Win7 no longer supports Hardware Station Installation D365 10.0.8 version"
Document needs to be updated as Powershell Scripts in 10.0.8 version of D365 Hardware Station Installer fail due to Win7 IIS app pool not having certain fields.  Only works on Windows 10 IIS App Pool.  These have to be edited in Powershell to work.  Also Win 7 is not longer supported since last month for Windows updates.

---
#### Document Details

⚠ *Do not edit this section. It is required for d

[2020-02-05 14:28] JayStock57 commented on #2056
Problem Reason: There are some commands in the Common-Web.ps1 related to configuring Application Pool in IIS are only valid for IIS 8.5 which is not applicable in case of Windows 8. Please find the following screenshot of the commands in link below:

 [Problem Reason.docx](https://github.com/MicrosoftDocs/dynamics-365-unified-operations-public/files/4160009/Problem.Reason.docx)

Solution: By dropp

[2020-02-05 14:31] sericks007 commented on #2040
Bug 416541 has been logged to track this issue.

[2020-02-05 14:34] sericks007 commented on #2056
@JayStock57, thanks for making us aware of this issue.

@jashanno, please review and update the content as needed.

[2020-02-05 19:27] mores opened #2059 "Sample is out of date and does not match output today"
Images and data should be updated to match todays version: 10.0.5

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5f295a3d-6be4-2144-bbfc-982d00e6e8cf
* Version Independent ID: 8ca42df5-fada-9e67-49b7-17f921fef344
* Content: [End-to-end scenario for the Fleet Management sample application](https://docs.microsoft.com/en-

[2020-02-05 19:27] mores commented on #2059
![image](https://user-images.githubusercontent.com/1318377/73875698-ae16b380-4823-11ea-89f6-2bd502835e62.png)

[2020-02-05 21:56] mores opened #2060 "Where is the FMEntityLab project located"
Where can the project "FMEntityLab" be found. This is needed to continue with "Consuming entities by using OData"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 67eb6eeb-d9fc-4e83-6282-fff9783b1466
* Version Independent ID: f16158fb-2a9b-6429-dd3e-05d4d1e1650b
* Content: [Build and consume data entities](https://docs.m

[2020-02-05 21:57] Sunil-Garg commented on #2060
It should be in the Fleet Management model.

--------
Our workplace allows for a flexible work schedule, which is an amazing benefit. I am sending this now because it is convenient for me. I do not expect you to read or respond until it’s convenient for you.

From: mores <notifications@github.com>
Sent: Wednesday, February 5, 2020 1:56 PM
To: MicrosoftDocs/dynamics-365-unified-operations-public <d

[2020-02-05 22:18] rubencdelgado commented on #2029
MPOS describes the POS client regardless of platform.  Addressing other comments in docs article via PR.

[2020-02-05 22:19] rubencdelgado commented on #1968
addressed in PR and assigned bug to Sally to close.

[2020-02-05 22:35] rubencdelgado commented on #2029
Fixed in https://github.com/MicrosoftDocs/dynamics-365-unified-operations-public/pull/2062

[2020-02-05 22:42] justinkaufman opened #2063 "Addressing section should mention special format for single Entity"
The OData calls to reference a single entity need to pass 2 named keys to work properly, the documentation should reflect this.
E.g. {uri}/data/VendorsV2('12345') will fail with "No route data was found for this request", where {uri}/data/VendorsV2(dataAreaId='10',VendorAccountNumber='12345') will work.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com

[2020-02-05 22:59] Taketral commented on #2025
Hello Eric,
Yes, I've tried splitting but same error happens.
Thank you

[2020-02-06 02:27] EricWangChen commented on #2025
Hi Taketral,

There are some duplicate zip codes in this file. You could use excel function CountIf to check

![image](https://user-images.githubusercontent.com/50563680/73900570-24222580-48cb-11ea-9bae-8ea0b87ed68e.png)

[2020-02-06 09:48] TomekMelissa opened #2064 "GetExecutionErrors for recurring integrations does not work"
I think that information about GetExecutionErrors request was added to this page by mistake. GetExecutionErrors requires executionId parameter which does not exist in context of recurring integrations (dequeue/enqueue API). It only works with package API requests. This section should be removed from this page.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microso

[2020-02-06 13:29] mores commented on #2060
There is no FMEntityLab in the AOT:
![image](https://user-images.githubusercontent.com/1318377/73941004-7444bc00-48ba-11ea-959e-fe4cab06425c.png)

When it asks for "In Solution Explorer, verify that you're in the FMEntityLab project." I assume it is talking about a Visual Studio project. Do you need to start a new Visual Studio project called "FMEntityLab" or is there an existing one you need to d

[2020-02-06 13:30] Sunil-Garg commented on #2060
@Ole Hellevik<mailto:oleh@microsoft.com> can you help here pls?

________________________________
From: mores <notifications@github.com>
Sent: Thursday, February 6, 2020 5:29:52 AM
To: MicrosoftDocs/dynamics-365-unified-operations-public <dynamics-365-unified-operations-public@noreply.github.com>
Cc: Sunil Garg <sunilg@microsoft.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDoc

[2020-02-06 13:34] sericks007 commented on #2059
@mores, thanks for posting here!

@jorisdg, please review and consider updating the content.

[2020-02-06 14:51] tonyafehr commented on #2029
We will publish this topic with updated content later today. Thanks!

[2020-02-06 14:51] #2029 closed

[2020-02-06 15:04] xbizzit opened #2065 "How customer can be aware with upcoming changes in LCS?"
Hello team,
Do you update this source regularly? I can see the last update is from 2nd of December 2019. Where customers can see Dynamics 365 LCS upcoming updates? We have a case where customer complained about not being informed that PG decided to remove File size information from Asset library and he is complaining about lack of transparency in LCS changes done by PG, also not announcing this ch

[2020-02-06 15:24] sericks007 commented on #2065
@xbizzit, thanks for posting here!

The topic you commented on is no longer being updated, as mentioned in the "Important" note on that page.  For information about the latest features in Lifecycle Services, please see the [Release plans](https://docs.microsoft.com/en-us/dynamics365/release-plans/).

[2020-02-06 15:24] #2065 closed

[2020-02-06 15:31] tradotto opened #2066 "Code windows are mislabled as X++"
These code examples are C# note X++. Would be nice to show how to call the global::info from c#

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 773a3b8d-f10e-da6a-e21c-b2792b53544d
* Version Independent ID: 15f94271-592f-0851-8cd6-5932e786cbc9
* Content: [Write business logic by using C# and X++ source code](https://doc

[2020-02-06 16:14] mores commented on #2060
The page also says:
"In the Open Project dialog box, browse to C:\FMLab\Odata4ConsoleApplication, and then select Odata4ConsoleApplication.csproj."

But there is no FMLab in C:\
![image](https://user-images.githubusercontent.com/1318377/73955729-ce9d4700-48d1-11ea-9eb9-46face60513b.png)

[2020-02-06 17:12] mores commented on #2060
Found the location.
Create pull request: https://github.com/MicrosoftDocs/dynamics-365-unified-operations-public/pull/2068

[2020-02-06 17:30] shankarmaha commented on #1772
Hi,

I am trying to test this feature. But the api returns an empty object, even though the job has failed and I can see the error in DMF. This is what the job returns

{
  "@odata.context": "https://xyz.operations.dynamics.com/data/$metadata#Edm.String",
  "value": "[]"
}

I am passing this as the input
{
	"executionId":"F7A4B553-91A0-43CC-B108-31299A41D844"
}

Any idea?

[2020-02-06 17:30] Sunil-Garg commented on #2060
Second hit when searching for FMEntityLab on Bing points to a github repo and a yammer thread.

https://community.dynamics.com/365/financeandoperations/f/dynamics-365-for-finance-and-operations-forum/217646/where-are-the-solution-files-for-the-wiki-article-on-building-and-consuming-data-entities

You can also find the odata client code samples here.

From: Sunil Garg <sunilg@microsoft.com>
Sent: T

[2020-02-06 18:31] josaw1 commented on #2063
Thanks for your feedback. @Sunil-Garg, can you please take a look?

[2020-02-06 18:41] josaw1 commented on #2064
Thank you for your feedback. @Sunil-Garg, can you please take a look?

[2020-02-06 18:43] josaw1 commented on #2066
Thank you for your feedback. @pvillads can you please take a look?

[2020-02-06 23:51] Taketral commented on #2025
Hello Eric
Thanks for your help! I still have issues but now I can import after deleting the duplicates.

[2020-02-06 23:51] #2025 closed

[2020-02-07 09:15] shankarmaha opened #2074 "Microsoft.Dynamics.DataEntities.GetExecutionErrors method doesn't return the execution errors"
Hi,

I am trying to test this feature. But the api returns an empty object, even though the job has failed and I can see the error in DMF. This is what the job returns

{
"@odata.context": "https://xyz.operations.dynamics.com/data/$metadata#Edm.String",
"value": "[]"
}

I am passing this as the input
{
"executionId":"F7A4B553-91A0-43CC-B108-31299A41D844"
}

Any idea?