[2020-10-08 14:55] subglo opened #2839 "Microsoft Edge versions?"
Hello,
Could you please elaborate on supported Microsoft edge versions?
It is stated" Microsoft Edge (latest publicly available version) on Windows 10".
Does it mean Microsoft Edge 44.19041.1.0 (included in Windows 10 OS) or publicly available Microsoft Edge Version 85.0.564.70 (Official build) (64-bit) which is based on Chromium?

---
#### Document Details

⚠ *Do not edit this section. It is requ

[2020-10-08 15:02] sericks007 commented on #2839
@subglo, thanks for posting feedback here.

@jasongre, can you please answer the question and update the content, as necessary.

[2020-10-08 15:12] davecope1982 commented on #2801
any update on this please?

[2020-10-08 21:08] josaw1 commented on #2812
BUG 514878 created to track.

[2020-10-08 22:07] gionoder commented on #2833
Hi Pavel,

You will need to switch on the add-on on LCS first. Please, follow this:
. go to LCS
. Click on "Preview feature management" tile
. On "Public Preview Features" field group, select BusinessDocumentSubmission
. On the right, enable the add-on.

The documentation was updated too ([link](https://docs.microsoft.com/en-us/dynamics365/finance/localizations/e-invoicing-get-started#lcs-setup)).

[2020-10-08 22:42] aaronstackpole opened #2840 "How to Determine NuGet Package Versions?"
The page includes a sample package.config for the NuGet packages, which requires the version number for the package. Is there a way to determine the version number to update in the configuration file?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 10459944-bcf8-c5fa-d180-9fb4bb3722da
* Version Independent ID: 29ae9d16-

[2020-10-08 23:14] jorisdg commented on #2840
Yes, these are the version of the nuget packages themselves. When downloading them from LCS or uploading to Azure DevOps, you should see the nuget versions of the files that you're using.

[2020-10-09 11:19] #2840 closed

[2020-10-09 18:01] kfend commented on #2838
@jspijkerboer - thank you for the feedback.
@Sunil-Garg - can you take a look and update the content as needed?

[2020-10-10 20:01] jatomas opened #2845 "Data upgrade in development box cannot be performed if database is in spartan"
The bacpac generated in devbox cannot be imported if the sandbox is spartan managed. It should be noted at some point in the documentation because people can waste time not knowing.

[2020-10-11 00:22] schneider363 opened #2846 "Unit(s)of Measure and Product Name missing on this new aging report"
I dont understand how you can identify any product that you are referencing in an inventory report without the associated Product Name (from the Released Products page) and the Unit of Measure associated with the item as well as Unit of Measure that is associated with the weighted average for the inventory cost of the item. I.e. if you are selling frozen shrimp is should say site 1, item code 101,

[2020-10-11 19:49] ronsonntag54 opened #2847 "Description does not match path to System parameters and page sections"
The navigation to change session timeout does not match the required navigation for the current version of D365 F&O.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c33ffb81-b152-64b8-01ef-6136299f0324
* Version Independent ID: dfd275dd-0249-b481-38b4-d61a617cbe6a
* Content: [Set the session idle timeout - Finance & Ope

[2020-10-12 09:28] VadimGoncharenko opened #2848 "'Remove the extra backslash from the Principal username cofiguration value' part is confusing"
Remove the extra backslash from the Principal username cofiguration value in the .json file before entering in the LCS UI. For example, **contoso\AXServiceUser** should be entered as **contoso\AXServiceUser** in LCS.

This part is a bit confusing as 'wrong' and 'right' values are no different

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub is

[2020-10-12 14:50] sericks007 commented on #2094
We plan to remove this topic. The parameters are discussed in other topics.

[2020-10-12 14:50] #2094 closed

[2020-10-12 22:48] jopankow opened #2850 "Additional documentation needed to restrict access on a per-organization level"
This page is missing steps on how to configure the network printers to restrict access on a per-organization level

Please update the documentation to include steps for using the System Network Printers form

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5fe44c05-ed58-b554-859e-2da552dbbd9d
* Version Independent ID: e6

[2020-10-13 10:22] JPremnath06 opened #2852 "The content is not available in app source site"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9e8509d5-4ad0-27b7-5919-2d5ea22696c5
* Version Independent ID: 48287c70-4237-5b3b-6c97-a4d811c9c634
* Content: [Retail channel performance PowerBI.com solution - Finance & Operations | Dynamics 365](https://docs.microsoft.com/en-us/dynamics365/fin-ops

[2020-10-13 13:46] tonyafehr commented on #2825
Bug 516073 logged to track this issue.

[2020-10-13 13:53] tonyafehr commented on #2826
Bug 516075 logged to track this issue.

[2020-10-13 13:54] #2828 closed

[2020-10-13 18:14] tonyafehr commented on #2846
@schneider363, thank you for the feedback.
@kamaybac, please refview.

[2020-10-13 18:15] tonyafehr commented on #2847
@ronsonntag54, thank you for the feedback.
@sericks007, please review.

[2020-10-13 18:17] tonyafehr commented on #2848
@VadimGoncharenko, thank you for the feedback.
@sericks007, please review.

[2020-10-13 18:18] tonyafehr commented on #2850
@jopankow, thank you for the feedback.
@TJVass, please review.

[2020-10-13 18:21] tonyafehr commented on #2852
@JPremnath06, Retail channel performance content packs, available on the Microsoft AppSource site, are deprecated as a consequence of product updates in Microsoft Power BI.

[2020-10-13 18:21] #2852 closed

[2020-10-13 18:39] sericks007 commented on #2847
@ronsonntag54, thanks for the feedback! I adjusted the navigation, and the updated content will be published later today.

[2020-10-13 18:39] #2847 closed

[2020-10-13 19:11] #2845 closed

[2020-10-13 19:20] RobinARH commented on #2821
Bug 516184 created to track this issue.

[2020-10-13 19:25] RobinARH commented on #2754
This doc has been updated and published.

[2020-10-13 19:25] #2754 closed

[2020-10-13 20:06] jatomas opened #2853 "Data upgrade in development box cannot be performed if sandbox environment is spartan managed"
The bacpac generated in devbox cannot be imported if the sandbox is spartan managed. It should be noted at some point in the documentation because people can waste time not knowing.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9ae815e8-03c2-0769-5e6a-e36f57244651
* Version Independent ID: 5304a30a-ca52-0bb6-99c3-c7a5

[2020-10-13 20:07] jatomas commented on #2845
It seems I don't oppened the issue linking the page. I opened a new one with the correct data. Thanks.

[2020-10-13 20:19] tonyafehr commented on #2853
@jatomas, thank you for the feedback.
@laneswenka, please review.

[2020-10-14 12:15] sericks007 commented on #2831
Bug 516452 has been logged to track this issue.

[2020-10-14 12:17] #2833 closed

[2020-10-14 12:26] sericks007 commented on #2835
Bug 516458 has been logged to track this issue.

[2020-10-14 12:31] sericks007 commented on #2836
Bug 516461 has been logged to track this issue.

[2020-10-14 12:33] sericks007 commented on #2839
Bug 516463 has been logged to track this issue.

[2020-10-14 12:55] subglo commented on #2809
good point, @abylkhatov i noticed this too

[2020-10-14 14:01] sericks007 commented on #2848
@VadimGoncharenko, thank you for pointing out the error.  The example should say: "For example, contoso\\AXServiceUser should be entered as contoso\AXServiceUser in LCS."

I've corrected this in the documentation. The updated topic will be published later today.

[2020-10-14 14:01] #2848 closed

[2020-10-14 14:23] sericks007 commented on #2834
@LakshmiD365, Asset management is not supported for on-premises environments.  I've updated the documentation to reflect this.  This update will be published later today.

[2020-10-14 14:23] #2834 closed

[2020-10-15 06:24] yijialuan commented on #2846
Thanks for your feedback! Just to avoid misunderstanding, are you talking about inventory value report or inventory aging report? In the inventory aging report, actually there is product name and the inventory UoM.
![image](https://user-images.githubusercontent.com/10097645/96084662-0b561f00-0ef2-11eb-98b8-2f4b534f60c3.png)

[2020-10-15 10:54] MartinBubenheimer opened #2861 "Steps not specific enough to follow"
Step 1. of section "How a Power BI report author can create reports that use financial dimensions" needs more specific instructions since there is no "entity store" connector in Power BI Desktop.

I would highly appreciate seeing this process in a video.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e9960a2f-7eec-54d2

[2020-10-15 15:03] schneider363 commented on #2846
Richard,
Thanks for your quick response.

According to the dialog prompt (screenshot attached) the native Inventory
Aging is being deprecated and will be replaced with the inquiry Inventory
Aging Storage Report. My first question is when will this take place?
[image: image.png]

My concern is with the available fields on the new Inventory Aging Report
Storage (Inquiry List Grid). I am requesting M

[2020-10-16 10:10] mueckeflo opened #2865 "Add new content regarding payment processing and authorizations"
Hi,

With the new payment processing features introduced in 10.0.13, partial payment processing is possible as well, which is not requiring a new authorization anymroe. I think this should get added here as this is a major imporvement.
Here is the related "What's new"-article:
[https://docs.microsoft.com/en-us/dynamics365-release-plan/2020wave2/commerce/dynamics365-commerce/extensibility-support-i

[2020-10-16 17:34] sbredallMCA commented on #2198
When I create a trace in a OneBox environment, the etl doesn't have any X++ detail.  The Code section only reads "SOURCE CODE NOT FOUND".  Any ideas?

[2020-10-16 18:29] josaw1 commented on #2861
Thanks for your feedback. @MilindaV2 can you please take a look?

[2020-10-16 18:30] josaw1 commented on #2865
Thank you for your feedback. @ShivamPandey-msft can you please review?

[2020-10-16 19:45] brettchristiansen opened #2868 "Missing supported firmware information for 10.0.13"
The "Supported Adyen Firmware versions" does not have details for version 10.0.13

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b1a7bb73-c6c0-fc10-9369-04714ac8e6f0
* Version Independent ID: df6ebf95-7def-f3d5-04fc-8f412e314ee1
* Content: [Dynamics 365 Payment Connector for Adyen - Commerce | Dynamics 365](https://doc

[2020-10-16 20:29] kfend commented on #2868
@brettchristiansen - thanks for the feedback.
@Reza-Assadi - can you please take a look at and address this feedback?

[2020-10-19 16:00] panolte commented on #2865
Thank you for the suggestion.  This feature is an extensibility support feature that allows incremental capture of authorization.

Dynamics 365 Finance credit card authorization continues to manage order payments as having an initial authorization for the full amount of the order. When the order is partially fulfilled, a portion of the original authorization is captured and a new authorization is

[2020-10-19 17:51] turbozapekanka opened #2872 "Page needs an update to consider move to VS2017"
C:\Users\<username>\Documents\Visual Studio 2015\Projects folder no longer exists in the 10.0.13 and newer versions of the environments.

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3e5b845d-9cd2-358d-3de9-bd15652ea746
* Version Independent ID: e52c5205-60de-4acf-2d21-ea0df760a49f
* Content: [C

[2020-10-19 21:21] RobinARH commented on #2872
@robinarh Please take a look.

[2020-10-20 11:15] lazejanev commented on #2793
I agree with @abylkhatov this is very important for us so that the release management can be planned properly. Can we have the release calendar schedule for all of 2021? We don't need the features planned for the updates, just that update dates and also the end of service dates.

[2020-10-20 17:30] JOLSO opened #2873 "Question about installing the Planning Optimization add-in"
Do you have to install the add-in in all your environments (DEV, Build, Sandbox, PROD)?
Or do you install it just in a DEV environment, do a code build and move the code to Sandbox...does this code move then add the Planning Optimization model to Sandbox? Then move the code to PROD?
Or do you have to install the add-in to all environments?

---
#### Document Details

⚠ *Do not edit this section. I

[2020-10-20 17:33] sericks007 commented on #2873
@JOLSO, thanks for providing feedback here.

@ChristianRytt, please respond to the questions and update the content, as necessary.

[2020-10-20 19:28] JOLSO commented on #2873
Hi Sally,

Good to see you still have a hand in documentation!

I also opened a support ticker with the same question.  Please see attached reply.  Pasting here as well –

You are correct here “install it in a DEV environment, do a code build and move the code to Sandbox this code move then add the Planning Optimization model to Sandbox, then move the code to PROD”

I will assume that’s the correc

[2020-10-20 19:46] sericks007 commented on #2873
@JOLSO, Hi Jackie - It's good to hear from you! Yes, please consider the answer from Support the definitive answer.

@ChristianRytt, please consider updating the content to clarify.

[2020-10-20 20:55] andreabichsel commented on #2826
Thank you! I fixed the navigation path.

[2020-10-20 20:55] #2826 closed

[2020-10-21 08:00] FH-Inway opened #2875 "Missing information about decommission of T1 Microsoft hosted environments"
This article is linked from LCS in the warning message "Sandbox Develop and Test environments will only be deployable as Cloud-hosted environments after November 2, 2020." However, the article only talks about removal of RDP access to these environments. Please add information that these environments can only deployed as CHEs and that existing Microsoft hosted T1 environments will be decommissione

[2020-10-21 08:58] Izmiyash opened #2876 "Unclear descriptions in setup information"
[Enter feedback here]

There is no menu item like "discount rate schedule". there is "Cashflow discount rates" in Fixed Asset setup menu and it seems this is the one to be used to setup discount rate. Please have someone confirm. As this is Japanese localization related page, correct Japanese page as well.

Specify exact menu path to perform this action. Please have someone confirm.

Totally no id

[2020-10-21 09:15] Mohammed-Raouf opened #2877 "Broken link"
[Enter feedback here]

Below link is broken from the page

Dynamics Financial Reporting Blog

https://blogs.msdn.com/b/dynamics_financial_reporting/

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c67d799d-74ce-19dc-4610-ffd16d679d77
* Version Independent ID: ddd96d76-7d77-004d-2392-e58c07921aa4
* Content: [View and des

[2020-10-21 11:53] sericks007 commented on #2875
@FH-Inway, thanks for providing feedback.

@AngelMarshall, please consider updating the content, as suggested.

[2020-10-21 11:55] sericks007 commented on #2876
@Izmiyash, thanks for providing this feedback.

@yijialuan, please consider updating the content, as suggested.

[2020-10-21 11:59] sericks007 commented on #2877
@Mohammed-Raouf, thanks for letting us know about this.

@jcart1106, please fix the broken link.

[2020-10-21 12:12] NFMynster commented on #2537
@laneswenka @tonyafehr any news? Thank you.

[2020-10-21 17:55] AngelMarshall commented on #2875
HI Sally,

I’m not sure where’s the source for the FAQ content regarding tier1 and RDP removal. Looping in @Lane Swenka<mailto:Lane.Swenka@microsoft.com> who may have more docs context around this topics here.

Thanks!
Angel

From: Sally Erickson <notifications@github.com>
Sent: Wednesday, October 21, 2020 4:54 AM
To: MicrosoftDocs/dynamics-365-unified-operations-public <dynamics-365-unified-opera

[2020-10-21 18:05] sericks007 commented on #2875
@laneswenka, please consider updating the content, as suggested.

[2020-10-21 21:57] roschlom commented on #2780
Thank you again for letting us know. We've added a link and it should be available in the topic within the next 24 hours. Have a great day!

[2020-10-21 21:58] #2780 closed

[2020-10-22 03:23] Izmiyash opened #2880 "missing menu path in Enter the asset retirement oblgiation amounts"
[Enter feedback here]

The step described is as follows. no menu path specified and thus no idea how to do this. Please add exact menu path to do this action.

1.Click Create to open the drop dialog.
2.In the Transaction date field, enter the date on which to recognize the asset retirement obligation
3.In the Estimated retirement cost adjustment field, enter the cash flow amount
4.Click OK.

---
#

[2020-10-22 09:31] Moutasema opened #2881 "Missing dual-write mapping information and other sections."
This integration requires two dual-write mappings to work which are not documented. We should include map details and how to activate them (E.g. Run map, Skip initial sync). The maps are:

- CDS inventory on-hand entries (msdyn_inventoryonhandentries)
- CDS inventory on-hand requests (msdyn_inventoryonhandrequests)

This page should also include how this integration works and Limitations, such as

[2020-10-22 19:38] tonyafehr commented on #2850
Bug 519382 has been logged to track this issue.

[2020-10-22 19:40] tonyafehr commented on #2853
Bug 519383 logged to track this issue.

[2020-10-22 22:36] JakeMackey opened #2882 "Are there more videos like this for other Dynamics aspects"
https://youtu.be/V-ExmHZ47Ac

[2020-10-23 00:09] josaw1 commented on #2880
Thanks for the feedback. @roschlom can you please review this?

[2020-10-23 00:10] josaw1 commented on #2881
Thank you for your feedback. @yijialuan can you please review this request?

[2020-10-23 00:16] #2865 closed

[2020-10-23 00:20] josaw1 commented on #2861
BUG 519498 created to track.

[2020-10-23 16:39] josaw1 commented on #2882
Hi. You can find other Dynamics Essentials videos [here](https://www.youtube.com/playlist?list=PLXtHYVsvn_b_YH2w_yHMRlnLPBcBY2ued).

Also, be sure to check out [this topic](https://docs.microsoft.com/en-us/dynamics365/fin-ops-core/fin-ops/get-started/videos?toc=/dynamics365/finance/toc.json).

[2020-10-23 16:39] #2882 closed

[2020-10-24 07:14] rabol opened #2884 "Pipeline sample does not work"
[Enter feedback here]
There is a reference to a sample pipeline
The sample does not work

after importing there are several errors saying that the task is no longer installed and it should be reinstalled or removed

the sample in questions is: https://github.com/microsoft/Dynamics365-Xpp-Samples-Tools/tree/master/CI-CD/Pipeline-Samples

If the sample is working, it would be nice with updated instr

[2020-10-25 17:46] axaeffect opened #2885 "By moving to ADLS, is the embed through AOT and LCS still supported ?"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a344a5de-68fa-e9cf-28eb-51269c33b9b3
* Version Independent ID: 1b3ede62-3954-574b-5778-8cdee0ededfe
* Content: [Make Entity store available as a Data Lake - Finance & Operations | Dynamics 365](https://docs.microsoft.com/en-us/dynamics365/fin-ops-core

[2020-10-25 19:48] SASrudyalva commented on #2875
@FH-Inway
Does this affect on-prem for sandbox/prod deployments?

[2020-10-25 21:07] FH-Inway commented on #2875
@SASrudyalva I don't know, but I don't think so.

[2020-10-26 05:37] yijialuan commented on #2846
Hi Schneider,

I cannot see the screen shots, can you please help to upload again? The storage version of inventory aging report is created for handling large volume transaction data and expect the users to export it into external system for further analysis.

The old version will not be deprecated in next 12 months.

If I understand it correctly, you want to additional three fields: CW Qty, CW Un

[2020-10-26 18:24] schneider363 commented on #2846
Yes I would like those additional fields added because it would make sense
that an inventory manager or financial controller would want the necessary
detail for the number of cases for a particular catchweight item. What do
you think the chances are of getting those three fields added to the
inventory report storage column form view in the next D365 version release?

Three additional fields: CW Qt

[2020-10-26 19:37] RobinARH commented on #2885
@MilindaV2 - Can you take a look? Thanks.

[2020-10-26 19:38] RobinARH commented on #2884
@jorisdg - Can you take a look? Thanks.

[2020-10-26 19:40] RobinARH commented on #2872
Bug 520412 created to track this issue.

[2020-10-26 20:24] TJVass commented on #2401
In some cases, adjustments to the report designs are needed to ensure the output fits the target page size.
Support for embedded drill-thru links in the PDF viewer is now available for D365 F&O applications. HotFix packages are available on LCS for customers hosted on PU36 or later.

[2020-10-26 20:31] #2401 closed

[2020-10-26 20:35] jorisdg commented on #2884
The issue with importing the sample is a problem with Azure DevOps. I've been engaged with the team a while back but no solution. It also does not affect everyone, but they can't tell me why/when this is an issue.

The default inputs of the tasks however should work fine for the template.

[2020-10-26 20:35] sericks007 commented on #2762
The [Customer aging report](https://docs.microsoft.com/en-us/dynamics365/finance/accounts-receivable/customer-aging) has been updated to address this feedback.

[2020-10-26 20:35] #2762 closed

[2020-10-26 21:31] MilindaV2 commented on #2885
In the current public preview of Entity store in Data lake, the data gets staged in the lake - we currently don't support moving PowerBI reports to Data lake. This will be enabled in the future. You can see the an overview below - more details will come in the future

https://docs.microsoft.com/en-us/dynamics365/fin-ops-core/dev-itpro/data-entities/azure-data-lake-overview#how-you-can-use-data-lak

[2020-10-26 22:06] josaw1 commented on #2448
The article was updated by @TJVass.

[2020-10-26 22:06] #2448 closed

[2020-10-26 22:21] TJVass commented on #2651
Thanks for reaching out for assistance. The PowerBI.com authorization process with F&O applications is a 1-time operation.  Once completed, content hosted on PowerBI.com can be pinned to application workspaces. Use the Options form to add tiles & links to reports directly to the form.

RE: PowerBI.com connector to Dynamics 365 F&O - a new CDS connector is available "PREVIEW" for customers that giv

[2020-10-26 22:29] #2651 closed

[2020-10-26 22:53] RobinARH opened #2891 "Help make the docs more inclusive (Finance)"
Replace gendered pronouns in the dev docs according to our style guide.

Only work in this folder:
https://github.com/MicrosoftDocs/dynamics-365-unified-operations-public/tree/live/articles/finance

Using the instructions here:
https://docs.microsoft.com/en-us/style-guide/bias-free-communication

Please leave a note if you are working on this issue so that we don't duplicate effort.

Thanks!

[2020-10-26 22:54] ReQ6W7rFnaBxyfb commented on #2891
I'll work on this folder. Thanks!

[2020-10-27 14:11] JakeMackey commented on #2882
Oh awesome! Exactly what I was looking for. Thank you.

[2020-10-27 16:26] chornung opened #2892 "Import Users into D365"
What users will this load?  How do you assign the Company?  How do yo assign roles?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f31ca8cb-1073-3cd9-ef12-473bce8cbea9
* Version Independent ID: 3b74d12c-fe74-7a3e-5048-e5ba84fface7
* Content: [Import users in bulk - Finance & Operations | Dynamics 365](https://docs.micr

[2020-10-27 17:41] tonyafehr commented on #2892
@Peakerbl, please review. Thanks!

[2020-10-27 21:13] trncb commented on #2891
Is this something I can work on, or is this only open to Microsoft employees?

[2020-10-27 21:28] Peakerbl commented on #2892
A new updated version of the content is in process. This will cover both the Import user and Batch import. It will also make it clear that only the Import user option provides the possibility to select users. The default company for user imported will be based on the current session company when the process is initiated. User will only be assigned the System user role and it will be required to as

[2020-10-27 21:29] Peakerbl commented on #2892
Update import-bulk-users.md
#9564

[2020-10-27 21:46] RobinARH commented on #2891
Hi Terence - It's not limited to Microsoft employees. Please feel free to work on it!

Let me know if you are planning to work on it, so that we don't duplicate efforts.

Thanks!

[2020-10-27 21:48] trncb commented on #2891
Great! In that case, please put my name down as the person working on this issue, thank you.

[2020-10-27 22:00] jasongre commented on #2839
Thanks @subglo, the latest of legacy Edge and the chromium Edge are both currently supported.  Will update the docs to be more clear on this.

[2020-10-28 00:46] RobinARH commented on #2891
It's all yours. 👍

[2020-10-28 13:22] #2892 closed

[2020-10-28 13:32] sericks007 commented on #2839
This content has been updated and will be published later today.

[2020-10-28 13:32] #2839 closed

[2020-10-28 13:40] sericks007 commented on #2873
Bug 521120 has been logged to track this issue.

[2020-10-28 13:45] sericks007 commented on #2875
Bug 8680557 has been logged in the LCS database to track this issue.

[2020-10-28 13:49] sericks007 commented on #2876
Bug 521124 has been logged to track this issue.

[2020-10-28 13:57] sericks007 commented on #2877
Bug 521129 has been logged to track this issue.

[2020-10-28 15:15] ChrisGarty opened #2893 "Same tenant required?"
The assumption is that dual-write only works when the CDS and F&O environments are on the same tenant. Is that correct? If so, then that should be added as a requirement here.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4cdfc828-1858-2f25-2a41-524da2577ea0
* Version Independent ID: 2955b17e-f122-1f22-5380-1e7467af71

[2020-10-28 15:41] sericks007 commented on #2893
@RamaKrishnamoorthy, please consider updating the content, as suggested.

[2020-10-28 17:08] lzangari opened #2895 "Incorrect definition of Data Import/Export Framework (DIXF)"
The Data Import/Export Framework (DIXF) is not present in AX 2009. The sentence "You can use the Data Import/Export Framework (DIXF) service in Microsoft Dynamics AX 2009 to retrieve data" is incorrect. The DIXF was introduced with AX 2012. This is stated in the "Applies to" section of "https://docs.microsoft.com/en-us/dynamicsax-2012/appuser-itpro/data-import-export-framework-user-guide-dixf-dmf"

[2020-10-28 20:01] abylkhatov opened #2896 "You have to allow multiple transactions within one voucher parameter to use this functionality"
**Note**: you have to enable [Allow multiple transactions within one voucher](https://docs.microsoft.com/en-us/dynamics365/finance/general-ledger/one-voucher#why-use-one-voucher) parameter on the **General ledger parameters** page.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 860bf92a-e579-b27b-211f-dae7dd46e8b4
* Ve

[2020-10-29 01:55] yosukes-s opened #2897 "both link for preview subscription is no longer valid"
[Enter feedback here]
both links to achieve partner preview subscription is no longer valid
https://mbs.microsoft.com/partnersource/global/news-events/news/Microsoft_Dynamics_AX_Public_Preview
or
https://mbs.microsoft.com/customersource/Global/365Enterprise/news-events/news/md365financeoperationsenterprisecusttrial

please make sure we clarify how partners can achieve their demo / dev subscription

[2020-10-29 04:05] yijialuan commented on #2846
From your description, it looks like you are using inventory aging for counting purpose. While inventory aging is designed for users to understand how quickly the inventory moves, so it shows everything in inventory UoM.

If you check the inventory relevant inquiries and reports, like On-hand list, you will be able to find catch weight relevant fields. Please log idea in our idea portal https://ex

[2020-10-29 04:16] hoanganhinfo commented on #1299
Hello,

Do we have any update on this topic, I also need change this default number on Mobile workspace

Thank you

[2020-10-29 05:17] trncb commented on #2891
@RobinARH PR #2898 shows the updates I made. Let me know if this is what was intended.

[2020-10-29 06:20] rabol commented on #2884
Sorry to disagree.

I have uploaded the sample to a test DevOps, and corrected the issue, then did an export and compared... very different files

I have attached
[X++ Classic Pipeline-import.txt](https://github.com/MicrosoftDocs/dynamics-365-unified-operations-public/files/5456499/X%2B%2B.Classic.Pipeline-import.txt)

my version

[2020-10-29 07:51] TomaszFranczyk-Anegis opened #2899 "Unable to troubleshoot long running scenarios"
The article below has been used quite widely for complex scenarios:
https://cloudblogs.microsoft.com/dynamics365/no-audience/2017/11/15/collect-dynamics-365-for-finance-and-operations-event-traces-with-windows-performance-monitor/
LCS environment monitoring can't provide such a in-depth analysis. How to perform such an investigation with a self-service app?

[2020-10-29 10:40] schneider363 commented on #2846
Why use two reports when one will suffice. The inventory aging is what
actually got posted to the ledger from the physical invwntory count that
took place.

If a finance amd inventory people have access to all the information and
they want to recheck something they don't need to pull another report
entirely. They need to use that same aging report as the guideline and my
point still remains the sa

[2020-10-29 12:50] sericks007 commented on #2895
@lzangari, thank you for providing this feedback.

@Sunil-Garg, please review and update the content, as needed.

[2020-10-29 12:54] sericks007 commented on #2896
@abylkhatov, thank you for providing feedback here.

@roschlom, please review and assign to the appropriate PM.

[2020-10-29 14:00] tonyafehr commented on #1299
@Yowelle, please review and provide feedback. Thanks!

[2020-10-29 16:37] jorisdg commented on #2884
Yes, the file you export contains references to your AAD tenant, your AZDO account, etc. The file we have on GitHub is a cleaned up version that omits any references to a specific tenant. This is the same we use for the traditional build VM deployment where we create the definition through API.

The problem resides with "task" { "id" portion of the JSON. This refers to the IDs of the tasks. If you

[2020-10-29 18:10] rabol commented on #2884
well, then in that case a note either on the original page or on the GitHub page where the sample file is available would be helpful

[2020-10-29 19:37] sericks007 commented on #2877
This issue has been fixed. Thanks for letting us know about it!

[2020-10-29 19:37] #2877 closed

[2020-10-29 20:04] Yowelle commented on #1299
This should be assigned to Steven Sporen as he manages the mobile app.

[2020-10-30 05:54] axaeffect commented on #2885
Hi Millinda,

Thanks for your email, So having said that it will be enabled in the
future, and having said that the built-in report for analytics will later
be automatically re-directed to Data Lake, if we already have data in Data
Lake as of now and create our own Power BI report on it, can we still embed
it as AX Resources and create our own Analytics Workspace coding wise, not
by "pin" Power BI

[2020-10-30 13:35] MilindaV2 commented on #2885
You can "pin" a powerBI report authored with data in the lake as an Analytical workspace. We have not (yet) enabled the ability to create Analytical workspaces with data in the lake. they currently work with entity store.

[2020-10-30 14:26] josaw1 commented on #2897
Thank you for your feedback. @jorisdg can you please review?

[2020-10-30 14:33] josaw1 commented on #2899
Hi, thank you for your comment. Unfortunately, we're unable to handle questions on blog content here. You might want to go to the [Dynamics 365 community page](https://community.dynamics.com/) to get help with your question from the Dynamics community.

[2020-10-30 14:33] #2899 closed

[2020-10-30 15:09] josaw1 commented on #2880
BUG 521994 created to track the issue.

[2020-10-30 15:11] josaw1 commented on #2881
BUG 521995 created to track the issue.

[2020-10-30 16:02] jopankow opened #2907 "Print Management values removed during upgrade"
The Print Management section (https://docs.microsoft.com/en-us/dynamics365/fin-ops-core/dev-itpro/migration-upgrade/app-validation-process#print-management) does not include information that the Print Management values are removed during the AX 2012 to D365 upgrade.

A customer would like to have documentation stating this is the expected behavior. If this is expected, the customer would also like

[2020-10-30 18:19] josaw1 commented on #2897
@ShellyBakke

[2020-10-31 10:17] gagangarg opened #2909 "Regarding the applicability of the content"
Hi, Does this page content also apply to Dynamics 365 Commerce, including the e-commerce functionality? Request you to clarify that on the page please.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5080f3d7-0ad1-940c-284a-92008d7c19d5
* Version Independent ID: c911e39b-82ee-2ae3-4493-d2e39afccc2b
* Content: [Cloud dep

[2020-11-01 14:09] axaeffect commented on #2885
Hi Millinda,

Thanks for your prompt reply. Highly anticipated for Analytical workspaces
in datta lake. Thanks again.

On Fri, Oct 30, 2020 at 9:35 PM Milinda Vitharana <notifications@github.com>
wrote:

[2020-11-02 15:54] RamaKrishnamoorthy commented on #2645
Trial refers to the F&O trial experience you get through LCS. Trial does not refer to Dev/Test instance that comes with valid license.

[2020-11-02 15:58] RamaKrishnamoorthy commented on #2645
Trial is the well know term used for non-licensed instance. We cannot explain it more on the documentation.

[2020-11-02 17:20] #2645 closed

[2020-11-02 19:28] josaw1 commented on #2794
URL is fixed.

[2020-11-02 19:28] #2794 closed

[2020-11-02 19:57] RaduNegulescuMS opened #2912 "Broken links"
[Enter feedback here]
Theming overview and Create a new theme links are broken.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 74e5d5fe-18d6-6f4c-eaa2-a34781678083
* Version Independent ID: 6a375b03-fcf1-45c0-8454-8ea8e23df25c
* Content: [Select a site theme - Commerce | Dynamics 365](https://docs.microsoft.com/en-us/d

[2020-11-02 22:10] RobinARH commented on #2891
Look great. Thanks! Hoping it gets counted in time!

[2020-11-02 22:19] RobinARH commented on #2912
@bicyclingfool, @v-chgri  - Can you take a look? Thanks.

[2020-11-02 22:20] RobinARH commented on #2909
@laneswenka - Can you take a look? Thanks.

[2020-11-02 23:52] Sunil-Garg commented on #2831
@f7a6875 thanks for the feedback. The doc update has been submitted. Thanks again.

[2020-11-02 23:54] Sunil-Garg commented on #2808
@rabol thanks for the feedback, the feature name has been added in the doc and the update has been submitted. Thanks.

[2020-11-03 00:18] Sunil-Garg commented on #2790
@jawn thanks for the feedback. The update to the guidance has been submitted. Thanks.

[2020-11-03 00:34] Sunil-Garg commented on #2779
@FangyuanHou thanks for the feedback. The doc update has been submitted. Thanks.

[2020-11-03 09:13] musezt opened #2923 "The date of the latest change under "What's new or changed in Human Resources" is wrongly written as 2002"
[Enter feedback here]

The date of the latest change under "What's new or changed in Human Resources" is wrongly written as 2002
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 402f1c79-9e36-23db-ac44-8374dfcff26a
* Version Independent ID: 37a7e675-1a12-00ea-f384-f810ef587291
* Content: [What's new or changed in Dynamics

[2020-11-03 14:08] tonyafehr commented on #2923
@andreabichsel, please update. Thanks!

[2020-11-03 20:18] roschlom commented on #2880
We've updated the topic to provide the navigation that was needed. Thank you for the spot-on feedback. We appreciate it! Have a great day!

[2020-11-03 20:18] #2880 closed

[2020-11-04 13:45] sericks007 commented on #2893
Bug 523369 has been logged to address this issue.

[2020-11-04 13:49] affanfarooqi opened #2925 "Issue with the installer"
Mostly working with Microsoft Edge or Chrome you may see an error after downloading the installer

"Application cannot be started. Contact the application vendor."
This can be resolved by downloading the installer from within Internet explorer.

Regards,
Affan Farooqi
[Dynamics Solution and Technology](https://dynamicssolution.com/)

---
#### Document Details

⚠ *Do not edit this section. It is re

[2020-11-04 13:51] sericks007 commented on #2896
Bug 523372 has been logged to track this issue.

[2020-11-04 13:56] sericks007 commented on #2895
Bug 523370 has been logged to track this issue.

[2020-11-04 13:59] sericks007 commented on #2925
@affanfarooqi, thank you for reporting this!

@athinesh99, please consider adding this information to the content.

[2020-11-05 00:35] #2891 closed

[2020-11-05 11:33] mjohnsonedxc opened #2926 "Twice in the May updates list, it uses the work "Contract" in the title, but then uses the word Contact in the description."
Twice in the June updates list, it uses the work "Contract" in the title, but then uses the word Contact in the description.  These are really important distinctions and not interchangeable at all. Can this be corrected please?
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b8043d72-1496-a79a-da5b

[2020-11-05 12:29] mjohnsonedxc commented on #2926
Sorry, I meant May not June

[2020-11-05 15:15] #2808 closed

[2020-11-05 15:20] #2831 closed

[2020-11-05 20:50] sshashi7 opened #2927 "PartnerSource link to sing-up is wrong and is confusing!"
The PartnerSource link provided under Subscribe resolves to some other page and partners won't know what to do next. The link should be updated with the following link:
https://portal.microsoftonline.com/Signup/MainSignUp.aspx?OfferId=AA972CC1-91DB-4CF9-94A1-4A9163ED50C9&pc=2c50e379-9378-4761-84f9-e328da74e657&dl=ERP_INSTANCE_SKU

---
#### Document Details

⚠ *Do not edit this section. It is requi

[2020-11-06 01:41] josaw1 commented on #2926
Thanks for your feedback. @RobinARH can you please take a look?

[2020-11-06 01:42] josaw1 commented on #2927
Thank you for your feedback. @RobinARH can you please look into this?

[2020-11-06 19:22] Peakerbl commented on #2729
The the parameter /signatureversion:1 was mandatory, but it is not for currently supported version. I has been made optional and we see no reason to update the current content.

[2020-11-07 14:32] rabol commented on #2884
The 'Create Deployable package' task could be 'documented

[2020-11-08 14:53] Bashar-Sadig opened #2931 "Confusing Article - Illustrations are Not Labeled (no caption or title on the illustration)"
Article is confusing and not easy to follow as it references illustrations on the page that are not properly labeled (the illustration does not have a label), using cross-references to illustrations that are not labeled. So, the reader may wonder, is the paragraph linked to the above or the proceeding illustration.
Please Label the Illustrations or use Figures to ensure the reader is relating the

[2020-11-09 07:19] Izmiyash opened #2932 "there is no such menu fixed assets>Adjustment"
[Enter feedback here]
Though I can see following part in this page, I cannot even find Adjustment menu under Fixed assets menu. please show us correct menu.

Impairment recognition test
The primary page is Fixed assets > Adjustment. The sub-menus different, depending on whether Method I or Method II is applied. The first step of impairment is the recognition test. Future cash flow that isn't disco

[2020-11-09 10:04] andi-meier opened #2933 "What binaries are overwritten from the dev/build environment?"
I don't understand this statement on that page:

Make sure that the Application binary update package is applied to your dev/build environment before it is applied to your sandbox and production environment - If the application binary package is applied directly to your Tier 2+ sandbox environment but is not applied on your dev/build environment, the next time you move an AOT package from dev/buil

[2020-11-09 17:21] jorisdg commented on #2884
The template uses all default values except for the X++ tools path.
The create deployable task doc ( https://docs.microsoft.com/dynamics365/fin-ops-core/dev-itpro/dev-tools/pipeline-create-deployable-package ) as well as the help icon in AZDO itself explain this path should be pointing either to the packageslocaldirectory/bin (when run on a VM) or to the extraction path of the compiler tools NuGet

[2020-11-09 21:26] ThomasZak opened #2934 "Missing labels for binary ISV packages"
Has this pipeline build process been tested with binary ISV solutions?

I have a D365 solution that has multiple ISV solutions. Some are installed as models. Others are binary packages. On the development environment the system is working fine and looks great. All of the code is properly checked in to source control.

But, when I use the Azure pipeline for building, the labels for only the binary

[2020-11-10 09:34] rabol opened #2937 "Rename of the original database"
Step 3, rename the original database, fails with this information:

Msg 5030, Level 16, State 2, Line 1
The database could not be exclusively locked to perform the operation.

Completion time: 2020-11-10T09:25:20.6979855+00:00

one way to do is:
ALTER DATABASE <original Dynamics 365 database> SET SINGLE_USER WITH ROLLBACK IMMEDIATE;
ALTER DATABASE <original Dynamics 365 database> MODIFY NAME = <or

[2020-11-10 13:39] lazejanev commented on #2793
Hi @sericks007 can we please have some update on this?

[2020-11-10 13:53] sericks007 commented on #2793
@ShellyBakke, please review and update the content.

[2020-11-10 14:43] tonyafehr commented on #2932
@Izmiyash, thanks for the feedback.
@yijialuan, please review.

[2020-11-10 14:43] tonyafehr commented on #2931
@Bashar-Sadig, thanks for the feedback.
@kamaybac, please review.

[2020-11-10 14:44] tonyafehr commented on #2933
@andi-meier, thanks for the feedback.
@laneswenka, please review.

[2020-11-10 14:45] tonyafehr commented on #2934
@ThomasZak, thanks for the feedback.
@jorisdg, please review.

[2020-11-10 14:46] tonyafehr commented on #2937
@rabol, thanks for the feedback.
@laneswenka, please review.

[2020-11-10 14:59] pturegano opened #2939 "Authentication and authorization - feedback"
In the section "Authentication and authorization" the below **highlighted** text is incorrect. In the CDS Wave 2 and Finance and Operations 10.0.13 / PU37 it needs to be a valid email account.

The next steps walk through this process in Finance and Operations apps.
1. In Finance and Operations, go to System Administration > Users > Users.
2. Select New to add a new user. Enter the following infor

[2020-11-10 15:02] tonyafehr commented on #2939
@Sunil-Garg, please review.

[2020-11-10 15:51] andreabichsel commented on #2923
This issue was fixed. Thank you!!

[2020-11-10 15:51] #2923 closed

[2020-11-10 18:46] jorisdg commented on #2934
There is actually a little bug here, but it's not what you think. You have to explicitly include the ISV in your package. The bug is that it partially does (it's not supposed to). I see that you are on the feedback Yammer group, I can discuss it there with you?

In either case, this is not a documentation issue.

[2020-11-10 18:56] ThomasZak commented on #2934
Well the odd thing is that the ISV package is making it in to the final product, at least partially.

In researching this issue, I noticed this setting in the pipeline setup

[cid:image003.jpg@01D6B769.4B75D1B0]

For the step “Copy Binary Dependencies to:” , it seems to have a default setting of looking in the Source directory and look for the BIN directory as a child of any contained folder. That

[2020-11-10 19:05] #2934 closed

[2020-11-10 21:44] blackjoker17 opened #2940 "Retail Payment model should be combined with existings models, then generate package, and not deployed by itself."
Hi Mugunthan,
One issue we ran into is that if you just follow these steps and generate an AOS payment package file, and apply this to your environment, it will remove/replace any existing previous models you deployed as part of a previous package.  So the instructions only work if this is the ONLY AOS package you are applying to your environment.  So, while steps 9 and later are true for one scen

[2020-11-11 00:43] tonyafehr commented on #2940
@mugunthanm, please review this feedback.

[2020-11-11 11:37] rabol commented on #2884
The 'Build Solution' step fails

with this error:
[code]

Somehow the rnrproj file is the issue - the last two lines in the file is this

[code]

the project file is created form a newly created DevBox. The devbox is created via LCS, but it uses Visual Studio 2015, but the build pipeline uses Visual Studio 2017

[2020-11-11 11:55] #2884 closed

[2020-11-11 12:54] sericks007 commented on #2925
Bug 525696 has been logged to track this issue.

[2020-11-11 13:57] tonyafehr commented on #2825
This information is documented in the "Label extensions" section in  the [Customize through extension and overlayering](https://docs.microsoft.com/en-us/dynamics365/fin-ops-core/dev-itpro/extensibility/customization-overlayering-extensions) topic. Thanks!

[2020-11-11 13:57] #2825 closed

[2020-11-11 13:59] #2790 closed

[2020-11-12 15:03] vavd opened #2947 "Dynamics Financial Reporting Blog"
The "Dynamics Financial Reporting Blog" link is broken.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2d3beb80-3fef-08aa-2a50-97378ab74497
* Version Independent ID: cc0a8ca9-66cd-0f5e-5c53-f8f65bb16a17
* Content: [Income statement financial report - Finance | Dynamics 365](https://docs.microsoft.com/en-us/dynamics365/

[2020-11-12 15:57] ed-bcr opened #2949 "Page Navigation Problem"
The section heading for this page is swapped with the one prior.  If a user is using the tree-level navigation they are unable to find this page. see screenshot.
![image](https://user-images.githubusercontent.com/11232979/98963630-affd5980-24bc-11eb-9ba6-d084f6dbe11d.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID:

[2020-11-12 17:45] kamaybac commented on #2931
@Bashar-Sadig , thank you for your insightful feedback. I am working now to get the topic updated along the lines you suggest.

[2020-11-12 17:57] Bashar-Sadig commented on #2931
Thank you and appreciate the efforts made on the article as it is a very
good article and insightful.

Bashar Sadig
312-342-0024

On Thu, Nov 12, 2020 at 12:45 PM Karl Maybach <notifications@github.com>
wrote:

[2020-11-12 22:43] josaw1 commented on #2947
Thanks for the feedback. @jcart1106 can you please take a look?

[2020-11-12 22:44] josaw1 commented on #2949
Thanks for your feedback. @kamaybac can you please fix this?

[2020-11-13 16:30] kamaybac commented on #2949
@ed-bcr , thank you for reporting this issue. It looks like we just had the links swapped in our table of contents. I have repaired the issue and the fix should go live later today.

[2020-11-13 16:30] #2949 closed

[2020-11-13 16:57] jcart1106 commented on #2947
This should be assigned to someone on the Finance team not me.

[2020-11-14 17:19] andy2619 opened #2953 "Please update ExportToExcelIGeneratedCustomExport section"
Please update the following section:

ExportToExcelIGeneratedCustomExport has been deprecated and OfficeIGeneratedWorkbookCustomExporter is now used. Please review and update this section accordingly.  Code examples would also be very helpful.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 961239b1-2cab-7982-5198-71d85

[2020-11-16 10:15] weaveriski opened #2955 "Why is this page under D365 Commerce?"
This page is the general service availbility for D365 Finance or SCM etc, why is it hidden in the Commerce part?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e7dcb285-f32c-c92e-fe49-1617f213066b
* Version Independent ID: 8f28c1a0-9da5-f853-90ee-d82a4c32df7e
* Content: [Service update availability - Finance & Operatio

[2020-11-16 12:14] nico-dangerous opened #2956 "Batch mode"
Hello, I would like to know how to run the import in batch mode. There is no option for it.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c82c1e8e-0ec7-7d75-de6a-1726b683fadc
* Version Independent ID: 5c805d7d-5df1-b9ab-f364-a0878144adf0
* Content: [Configure data import from SharePoint - Finance & Operations | Dynami

[2020-11-16 12:26] helloyesthisisdave commented on #2812
Has there been an update on this?  All I am after is clarification on what is actually possible/supported and what is not.

[2020-11-16 12:51] sericks007 commented on #2955
@weaveriski, thanks for your question.  This page appears in help collections for Finance, SCM, and Commerce.  When searching for this page, you may get the page from the Commerce help because "Commerce" is first alphabetically.

[2020-11-16 12:51] #2955 closed

[2020-11-16 13:42] sericks007 commented on #2793
This content has been updated.

[2020-11-16 13:42] #2793 closed

[2020-11-16 14:53] kamaybac commented on #2931
@tonyafehr , I am still working with the PM to get this topic updated. Reopening.

[2020-11-16 21:36] #2885 closed

[2020-11-16 23:48] RobinARH commented on #2956
@NickSelin  - Can you take a look? Thanks.

[2020-11-16 23:53] RobinARH commented on #2912
Bug 527459 created to track this issue.

[2020-11-16 23:54] RobinARH commented on #2909
Bug 527460 created to track this issue.

[2020-11-17 08:18] pturegano opened #2959 "Missing clear description of security roles"
This page needs an update as it is not reflecting the current status. It needs a clear description of the "Project security roles" and "Implementation roles". This is important because compliance with security and audit principles of customers.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8ee6629a-f1a4-b352-0b26-657a

[2020-11-17 10:08] CaptainCowell commented on #2178
Hi,
Please can we get this LCS Trial link corrected/updated. Community members trying to initiate upgrade projects are getting stumped at step 1 - I know, I've been on a call with one this week.
**Please, if anyone knows the current and correct procedure or link for a customer to get their LCS trial project going please can you share it.** This is to enable a customer to perform the Analyze activi

[2020-11-17 14:24] tonyafehr commented on #2959
@jorisdg, please review. Thanks!

[2020-11-17 14:59] tonyafehr commented on #2932
Bug 527680 logged to track this issue.

[2020-11-17 15:04] tonyafehr commented on #2939
Bug 527683 logged to track this issue.

[2020-11-17 15:06] tonyafehr commented on #2940
Bug 527685 logged to track this issue.

[2020-11-17 15:37] sericks007 commented on #2178
@laneswenka, any update on this?  I believe you were going to check with your team.

[2020-11-17 18:21] sericks007 commented on #2953
@andy2619, thank you for making us aware of this.  The content has been updated and will be published later today.

[2020-11-17 18:21] #2953 closed

[2020-11-17 18:25] sericks007 commented on #2959
@AngelMarshall, please review and update this content appropriately.

[2020-11-17 19:31] jboehm-cayman commented on #2782
I have run into this issue as well, and I'm interested in the outcome.

[2020-11-18 03:20] yijialuan commented on #2932
Just assign the bug to @EricWangChen who is the owner now

[2020-11-18 14:10] tonyafehr commented on #2940
This topic has been updated to better reflect this information.

[2020-11-18 14:10] #2940 closed

[2020-11-18 21:06] lma1171 opened #2961 "Data backup and retention clarifications needed"
Hello,

A customer of mine pinged me for details of our database backup and retention policies due to a recent security breach and now going through a security audit of all their systems.  We ended up going in circles to what we provide between this Cloud Deployment page, the Service Description white paper you can download in section titled Service availability in Azure Regions, and the links fro

[2020-11-19 10:53] pturegano opened #2963 "Unclear how to specify Sign-on URL"
**Step 3** instructs to:
Sign-on URL - The base URL of your client. For example, https://contosoax7.cloud.dynamics.com.

Then there is a Note:
**Note**
Depending on your version, you may need to add /oauth as a suffix to the URL, or use http instead of https as the protocol, such as: https://contosoax7.cloud.dynamics.com/oauth or http://contosoax7.cloud.dynamics.com/oauth.

**PROBLEM**: the instru

[2020-11-19 15:41] pmusiej commented on #2833
Hi,
My client wanted to test this solution and we noticed that the
BusinessDocumentSubmission feature disappeared. Something changed in terms
of this?
Br,
Pawel Musiej

[image: image.png]

śr., 14 paź 2020 o 14:17 Sally Erickson <notifications@github.com>
napisał(a):

[2020-11-19 15:53] gionoder commented on #2833
Hi Pawel, I will check and return to you. Thanks for letting me know.
Regards,
Gilberto.

[2020-11-19 16:21] gionoder commented on #2833
Hi Pawel, it was restored now. Please, check again.

Regards,
Gilberto.

[2020-11-19 22:02] josaw1 commented on #2769
The note was added to the topic. Thanks.

[2020-11-19 22:02] #2769 closed

[2020-11-19 23:08] josaw1 commented on #2961
Thank you for your comments. @laneswenka can you please take a look?

[2020-11-19 23:09] josaw1 commented on #2963
Thank you for your feedback. @MilindaV2 can you please review?

[2020-11-19 23:12] josaw1 commented on #2947
@roschlom can you please take a look?

[2020-11-19 23:14] josaw1 commented on #2947
BUG 528579 created to track.

[2020-11-19 23:16] josaw1 commented on #2926
BUG 528580 created to track.

[2020-11-19 23:17] RobinARH commented on #2912
Links are fixed. Thanks!

[2020-11-19 23:17] #2912 closed

[2020-11-19 23:18] josaw1 commented on #2927
BUG 528581 created to track.

[2020-11-19 23:55] RobinARH commented on #2926
Fixed, and will go live this evening.

[2020-11-19 23:55] #2926 closed

[2020-11-20 01:12] roschlom commented on #2947
We've updated the link so that it should work now. Thanks again for the feedback. We really appreciate it!

[2020-11-20 01:12] #2947 closed

[2020-11-20 02:38] robabb123 opened #2964 "Updating environments - no longer tier 1 offered"
You might want to update the section as the tier 1 environments are no longer offered as part of the subscription:

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5080f3d7-0ad1-940c-284a-92008d7c19d5
* Version Independent ID: c911e39b-82ee-2ae3-4493-d2e39afccc2b
* Content: [Cloud deployment overview - Finance & Operatio

[2020-11-20 07:15] NickSelin commented on #2956
The topic has been updated with more information. See https://docs.microsoft.com/en-us/dynamics365/fin-ops-core/dev-itpro/analytics/er-configure-data-import-sharepoint?toc=/dynamics365/finance/toc.json#limitations for more details. Thanks!

[2020-11-20 07:19] pmusiej commented on #2833
HI,
Now I see. Thank you very much.

Br,
Pawel

czw., 19 lis 2020 o 17:21 Gilberto <notifications@github.com> napisał(a):

[2020-11-20 19:22] kfend commented on #2964
@robabb123 - thanks for the feedback.
@laneswenka - Can you please update the topic based on this feedback?

[2020-11-20 20:43] JulijaLudvigaELCA opened #2966 "Link to "Virtual Entities" is broken"
Current link to the Virtual Entities for the Power Platform integration pattern is to https://docs.microsoft.com/en-us/dynamics365/fin-ops-core/dev-itpro/data-entities/power-platform/overview.md and returns an 404 error.

[2020-11-20 21:44] kfend commented on #2966
@JulijaLudvigaELCA - thanks for the feedback. Can you let us know what page you were on when you found this link so that we can get it updated? Thanks!

[2020-11-21 00:17] RobinARH commented on #2814
Hi - We're going to close this and work on it in-house.

[2020-11-21 00:17] #2814 closed

[2020-11-23 07:38] JulijaLudvigaELCA commented on #2966
@kfend It is here: https://docs.microsoft.com/en-us/dynamics365/fin-ops-core/dev-itpro/data-entities/integration-overview
in the "Choose a data integration strategy" section, the first line of the table listing availale integration patterns.

[2020-11-23 07:43] JulijaLudvigaELCA commented on #2966
@kfend there is also other broken link on the same page: https://docs.microsoft.com/en-us/dynamics365/fin-ops-core/dev-itpro/data-entities/power-platform/overview.md in the sentence: "For detailed information, see Microsoft Power platform integration."

[2020-11-23 15:22] sericks007 commented on #2966
@JulijaLudvigaELCA, thank you for making us aware of these errors!  The links have been fixed.  The updated content will be published later today.

[2020-11-23 15:22] #2966 closed

[2020-11-24 05:39] v-oloski commented on #2932
[Content deliverable 529674 created](https://msdyneng.visualstudio.com/FinOps/_workitems/edit/529674)

[2020-11-24 08:58] vonHussa opened #2968 "Standard Cloud offering & tier1 - as of November tier1 change?"
Hi,
noticed that the Standard Cloud offering section still mention tier1 environment. Didn't this change in beginning of November?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2402dfea-008a-c7bb-8a3b-1d0457a39665
* Version Independent ID: 4936afad-9a39-e65d-a00c-81246de632cb
* Content: [Environment planning - Finance

[2020-11-24 10:27] ClaudiaBetz-Haubold commented on #2968
Thanks for raising your concern! Yes, it did change, and we are in the process of updating the documentation.

Kind regards,

Claudia Betz-Haubold
Principal Solution Architect | FastTrack for Dynamics 365<https://nam06.safelinks.protection.outlook.com/?url=https%3A%2F%2Fdynamics.microsoft.com%2Fen-us%2Ffasttrack%2F&data=02%7C01%7CClaudia.Betz-Haubold%40microsoft.com%7Cd192fd01713c484fe2f408d7bf3ed

[2020-11-24 18:56] tonyafehr commented on #2959
Bug 8867530 has been logged to track this issue.

[2020-11-24 22:07] panolte commented on #2162
This was completed as part of an update in October 2020.

[2020-11-24 22:14] #2162 closed

[2020-11-25 10:32] RaphaelTagliani opened #2972 "Could you please clarify the eligibility for Fasttrack for Dynamics? I believe environment SKUs, storage do not count. What about order lines, assets (for asset management), digital messaging and other options added recently? Thank you."
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8fe767aa-ae4b-d5b2-323c-80b3b6ad0bff
* Version Independent ID: ee427dc9-9bf1-4595-0bb1-d247f578fe04
* Content: [Microsoft FastTrack - Finance & Operations | Dynamics 365](https://docs.microsoft.com/en-us/dynamics365/fin-ops-core/fin-ops/get-started/fa

[2020-11-25 14:01] jatomas opened #2973 "Change Project settings for Project onboarding when talking about "legacy system""
At the end of the document, in the following section:
https://docs.microsoft.com/en-us/dynamics365/fin-ops-core/dev-itpro/migration-upgrade/upgrade-data-sandbox#run-the-data-upgrade-deployable-package

The documentation says: "If no data upgrade packages appear in the list, go to your project settings in LCS, and make sure that your legacy system is set to AX2012 Upgrade."

But, this options is no

[2020-11-25 14:05] tonyafehr commented on #2972
@RaphaelTagliani, thanks for the feedback.
@Jeff-Luo-MSFT, please review.

[2020-11-25 14:06] tonyafehr commented on #2973
@jatomas, thanks for the feedback.
@laneswenka, please review.

[2020-11-27 14:20] rabol opened #2977 "This is not building a new workspace, this is customising a exiting"
The title is: Build Workspaces, but in fact this is about modifying an existing one

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7de231ed-06c6-cb84-721c-f2853047c9e4
* Version Independent ID: 3aaf74d5-43be-9ebc-e726-7d60a1351911
* Content: [Build workspaces - Finance & Operations | Dynamics 365](https://docs.microsof

[2020-11-27 15:47] mdtahoe opened #2978 "should bootstrapping do something about Party ID?"
I imported account records into a CE+F&O environment.  I was planning to bootstrap them so, no Dual Write integration was running other than Company.  Now turning on the customer integration fails for lack of Party ID (msdyn_party lookup field.)

I verified that all the Party Numbers (autogenerated text field) existed on the account records.  However, there are no Parties in the msdyn_party table.

[2020-11-30 18:29] teryokhin opened #2981 "Add clarifications"
I've spent a couple of hours debugging a few nasty issues. Please update the following sections:

### Step 2:

Add that **the relationship must involve natural keys only, not RecIds.**

### Step 4:

Add that **this index must have Allow duplicates set to Yes.**

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0198d960-ca

[2020-11-30 19:26] dodiggitydag opened #2982 "Screen Shot is Misleading"
I believe the "account number key" screen shot should show: company,accountnum instead of just accountnumber.
"In Common Data Service, accountnumber is defined as the key for the Account entity."

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0f1b7454-dbe7-515b-e060-048c15581d19
* Version Independent ID: 85b90c52-8e7e-

[2020-11-30 22:37] RobinARH commented on #2981
@Sunil-Garg Can you take a look? Thanks.

[2020-11-30 22:37] RobinARH commented on #2982
@sabinn-msft Can you take a look? Thanks.

[2020-11-30 22:38] RobinARH commented on #2978
@RamaKrishnamoorthy Can you take a look? Thanks.

[2020-11-30 22:41] RobinARH commented on #2977
I'll take a look. - Robin

[2020-11-30 22:43] #2956 closed

[2020-12-01 00:24] RobinARH commented on #2977
I updated the topic, and the new content should go live tonight. Thanks for the feedback!

[2020-12-01 08:09] bhlj opened #2984 "FIK751 and FIK752 Payment Slip setup for Configurable Business Documents"
I have a customer where we would like to implement Configurable Business Documents (CBD) for Free Text Invoice and Sales Invoice.

We have setup everything in relation to Free Text Invoice, and it works with CBD, but if I setup on the invoice or the customer to print FIK751 payment slip, it prints the same free text invoice regardless, which results in no payment slip being printed.

Also in the "

[2020-12-01 11:29] SXDJoe opened #2985 "Note field containing planned orders seems to contradict itself"
Reading through the website it appears that the 'Note' contradicts' itself. Given that the majority of production related planning functionality is not planned to be available before October 20201 its is not feasible for any discrete, lean or process manufacturer using the planning optimization.

Also companies relying on Intercompany calculation will be hit hard.

---
#### Document Details

⚠ *Do

[2020-12-01 13:13] ilkond commented on #2984
Thank you for the feedback. The described issue is a known functional gap. It is already registered in the backlog for a further product improvement.

Best regards,
Ilya Kondratenko

_An internal reference: https://msdyneng.visualstudio.com/FinOps/_workitems/edit/446462._

[2020-12-01 14:11] tonyafehr commented on #2985
@SXDJoe, thanks for the feedback.
@ChristianRytt, please review.

[2020-12-01 14:19] tonyafehr commented on #2973
Bug 532040 created to track this issue.

[2020-12-01 14:23] tonyafehr commented on #2972
Bug 532042 logged to track this issue.

[2020-12-01 18:38] laneswenka commented on #2715
This is no longer in private preview, and the banner was removed.

[2020-12-01 18:38] laneswenka commented on #2704
Document has been updated in latest PR.

[2020-12-01 18:39] laneswenka commented on #2726
Please assign this to @rashmansur

[2020-12-01 18:42] #2704 closed

[2020-12-01 18:45] laneswenka commented on #2745
These instructions are for Finance and Operations.  For information on Business Central please go to: https://docs.microsoft.com/en-us/dynamics365/business-central/dev-itpro/?toc=/dynamics365/business-central/toc.json#resources-for-an-administrator

[2020-12-01 18:46] #2745 closed

[2020-12-01 18:49] laneswenka commented on #2767
That is the process to copy a PIT of PROD database over to Sandbox.  In that case, the users would be disabled.  But if you look at PITR functionality here the database is kept as-was and returned to you.  No users are enabled or disabled.https://docs.microsoft.com/en-us/dynamics365/fin-ops-core/dev-itpro/database/database-point-in-time-restore

[2020-12-01 18:50] laneswenka commented on #2795
This has been updated.

[2020-12-01 18:51] laneswenka commented on #2796
We have removed the SQL script in favor of using SSMS backup/restore options.

[2020-12-01 18:51] laneswenka commented on #2853
We have a new process for upgrade as is outlined on the following docs:
https://docs.microsoft.com/en-us/dynamics365/fin-ops-core/dev-itpro/migration-upgrade/upgrade-data-sandbox-dacpac

[2020-12-01 19:07] #2853 closed

[2020-12-01 19:09] ChristianRytt commented on #2985
@SXDJoe, please point to the exact text that you believe contradict it self. Thanks.

Text in Note is: "You need to request an exception from migration to Planning Optimization if your master planning process does not include production (master planning generated planned production orders) and you require the built-in master planning engine beyond version 10.0.15. Starting in version 10.0.16, an e

[2020-12-02 10:55] Karandeepbedi041 opened #2989 "Sample Calculations for the Adjusted Forecast"
Request to please share some more details on the sample calculations for the Adjusted Forecast suggested by Machine Learning.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a0e5d0e5-6293-10a2-bd86-36815589bab0
* Version Independent ID: ae3a0cdd-93e5-5f26-1b5f-679d90f8d0b4
* Content: [Demand forecasting setup - Supply C

[2020-12-02 12:38] sericks007 commented on #2989
@Karandeepbedi041, thanks for providing feedback here.

@roxanadiaconu or @kamaybac, please review and consider updating the content.

[2020-12-02 14:37] #2984 closed

[2020-12-02 17:22] #2715 closed

[2020-12-02 17:22] #2767 closed

[2020-12-02 17:22] #2795 closed

[2020-12-02 17:22] #2796 closed

[2020-12-02 17:22] #2469 closed

[2020-12-02 17:22] #2504 closed

[2020-12-02 17:22] #2537 closed

[2020-12-02 17:22] #2646 closed

[2020-12-02 17:22] #2656 closed

[2020-12-02 17:22] #2743 closed

[2020-12-02 17:22] #2759 closed

[2020-12-02 18:58] Semour81 opened #2990 "Service Bus Adapter > Custom Properties > Extending internal class should not be recommended"
Hi,

we send Business Events to Azure Service Bus and want to add a custom filter property for source system. We have implemented as described on this docs article in section "Extending filters so that they have custom fields (if the middleware supports this extension)".

It works, but in D365 we get a warning:

'BusinessEventsServiceBusAdapter' is internal in model 'ApplicationFoundation' and can

[2020-12-02 19:35] SXDJoe commented on #2985
Hello,

I believe these two are in contradiction.
You need to request an exception from migration to Planning Optimization if your master planning process does not include production (master planning generated planned production orders) and you require the built-in master planning engine beyond version 10.0.15.

Planning Optimization should be used for all new deployments that do not generate plan

[2020-12-02 20:26] ItRefresh opened #2991 "Dual-write currently has a limit of 40 legal entities."
If you have more than 40 customers/accounts, are they not integrated?

[2020-12-02 20:28] ItRefresh opened #2992 "If you have more than 40 customers/accounts, are they not integrated?"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4cdfc828-1858-2f25-2a41-524da2577ea0
* Version Independent ID: 2955b17e-f122-1f22-5380-1e7467af71d2
* Content: [System requirements for dual-write - Finance & Operations | Dynamics 365](https://docs.microsoft.com/en-us/dynamics365/fin-ops-core/dev-itp

[2020-12-02 20:38] sericks007 commented on #2990
@Semour81, thank you for providing this feedback.

@Sunil-Garg, please review and consider updating the content, as suggested.

[2020-12-02 20:41] sericks007 commented on #2991
Closing this issue.  We'll work from [issue #2992](https://github.com/MicrosoftDocs/dynamics-365-unified-operations-public/issues/2992).

[2020-12-02 20:41] #2991 closed

[2020-12-02 20:42] sericks007 commented on #2992
@ItRefresh, thanks for logging this feedback.

@RamaKrishnamoorthy, can you please answer this question, and consider updating the content, as necessary.

[2020-12-02 21:24] ItRefresh commented on #2991
Sorry, it's not accounts, it's entities.

[2020-12-02 21:25] CaptainCowell commented on #2992
Hi Guilherme,

I believe you may be confusing Legal Entities - the registered companies that make up your organisation - with Customers your organisation does business with.

Take for example an organisation made up of a group/parent company (A) and two subsidiaries (B & C), each registered separately with the appropriate government and tax authorities. If the parent company chose to run the accou

[2020-12-02 23:51] MarcioMartineli opened #2993 "Wrong screen shot on revenue recognition schedule"
The screenshot for Revenue Recognition Schedule detail is showing the Revenue Schedule setup. Please, change because it make confusion when you go to sales order and periodic tasks and see different screen.

Thank you.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: aa35ab95-235c-a9ee-c8c3-638ac5a46000
* Version Indepen

[2020-12-03 10:48] ItRefresh commented on #2992
Obrigado.

[2020-12-03 10:48] #2992 closed

[2020-12-03 11:00] retailrealm-tony opened #2995 "IIS Rest Typo"
Hi, I think there is a typo in this page, it talks about an IIS Rest, as opposed to an IIS Reset
?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d3d823bc-f2d5-4089-56dc-f852ae20ed53
* Version Independent ID: 0e79b5b3-c153-ede0-ee72-f8bcc3c77a6f
* Content: [Support for external gift cards - Commerce | Dynamics 365](htt

[2020-12-03 11:25] rabol commented on #2977
So where do I find information on how to create a new Workspace and add it to the Dashboard - for a new module, not just personalization

[2020-12-03 15:40] #2985 closed

[2020-12-03 16:50] jopankow opened #2996 "Please improve the update documentation"
Hello team!

The documentation in this section https://docs.microsoft.com/en-us/dynamics365/fin-ops-core/dev-itpro/deployment/updateenvironment-newinfrastructure#production-environment does not appear accurate any longer with the current structure of a self-service environment.

According to a good explanation posted from a Partner here https://www.yammer.com/dynamicsaxfeedbackprograms/#/threads/s

[2020-12-03 18:44] jopankow commented on #2784
Hi @jinniew and @tonyafehr . I didn't catch this before but I just noticed the steps are incorrect when reviewing the instructions for a customer.

These sentences are wrong: "_If you use the Microsoft Edge based on Chrome browser, you must install a ClickOnce extension in order to download the Report Designer client. If you are running incognito mode, make sure the ClickOnce extension is enabled

[2020-12-03 18:47] tonyafehr commented on #2784
@jopankow, thanks for the info.
@jinniew, please review. Thanks!

[2020-12-03 20:58] RobinARH commented on #2977
I'll investigate.

[2020-12-04 10:11] AndreasHassing opened #2997 "[Question] For query cookbook "List most expensive queries", what is the type of time in the output?"
Hi, when using the "List most expensive queries", what is the type of time in the output? Is it milliseconds? Nanoseconds?

I'm seeing numbers in an environment that I would not expect for those queries, but I can't figure out if the numbers are normal or not since I'm not sure which unit they're in.

It would be useful to have it in the documentation or annotated on the column names 😊.

Thanks.

[2020-12-04 12:35] rabol opened #2998 "The Developers tool addin project cannot compile"
If you create a new project in Visual studio and select the 'Developer Tools addin', a new project is created via the template, but it is not possible to build the project due to the fact that a lot is missing.

Is there a new template or som documentation on how to fix the errors

(Please have in mind that this is happening on a VM that is provisioned and configured by Microsoft)

these are the e

[2020-12-04 13:10] mueckeflo opened #2999 "Update of the tips section required"
Hi,

In the tips section it should be mentioned to "Initialize Commerce" after an update, because only this step will have the correct seed data available for the "Initialize commerce scheduler" step, which should be executed afterwards.

In addition, probably the environment provisioning step is obsolete in the menatime, as a DB move will AFAIK run the provisioning automatically.

Best regards,
F

[2020-12-04 14:27] BernhardRaether opened #3001 "Feature "Recommended fields" not mentioned here Feature added 5/15/2020"
To Whom it may concern

I found this page when checking above Feature Recommended Fields "Learn more" Link: https://docs.microsoft.com/en-us/dynamics365-release-plan/2020wave1/finance-operations-crossapp-capabilities/recommended-fields

that gives this page as the "See also" link.

Unfortunately, this Feature is not described, neither in the spelling "Recommended Field" nor "Suggested Fields"

Fro

[2020-12-04 16:17] n2aQFc8 opened #3002 "TSP100 printer does not work."
you say the TSP100 printer works, as long as you use the TSP650II drivers (Requires TSP650II drivers...) and OPOS

This is false. I have a TSP143U printer attached. I then change the printer driver to use TSP650II driver. Then, in the Star Micronics Printer Utility i configure the printer as an OPOS object. Printer does not response to checkhealth even though it shows success. I suspect someone te

[2020-12-04 17:15] josaw1 commented on #2993
Thank you for your feedback. @kweekley can you please take a look?

[2020-12-04 17:17] josaw1 commented on #2995
Thanks for your feedback. I will fix this!

[2020-12-04 17:19] josaw1 commented on #2996
Thank you for your feedback. @laneswenka can you please review?

[2020-12-04 17:20] #2784 closed

[2020-12-04 17:24] josaw1 commented on #2961
BUG 533355 created to track.

[2020-12-04 17:28] josaw1 commented on #2963
BUG 533360 created to track.

[2020-12-04 20:36] kfend commented on #2999
@mueckeflo - thank you for the feedback.
@andreashofmann1 - can you please take a look and update the topic as necessary?

[2020-12-04 21:04] jorisdg commented on #2998
This is not a docs issue but a product issue. Please use support for these types of questions/problems.
That said, we're aware of this problem. It will take time to roll out this SDK on the VMs, however, plus it would require you to redeploy. I suggest you just manually install the SDK for 4.7.2.
@kfend please close this ticket.

[2020-12-04 21:06] #2998 closed

[2020-12-05 08:22] sheko89 opened #3005 "Consolidations that involve eliminations picture is not matching text"
Hi, the picture showing under the sectio:
Consolidations that involve eliminations

is not matching text explanation in terms of column names D, E etc.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b756c251-5255-35b7-bf32-522f738b526d
* Version Independent ID: 257f9aa2-1914-0715-f9de-4d0ab2b0369f
* Content: [Generate

[2020-12-07 21:48] jopankow opened #3006 "Incorrect feature name"
The feature name "Reset draft status for the vendor invoice workflow" is incorrect in the section:

This feature is available if the _**Reset draft status for the vendor invoice workflow**_ parameter on the Feature management page is turned on.

Section link: https://docs.microsoft.com/en-us/dynamics365/finance/accounts-payable/vendor-invoices-overview#resetting-the-workflow-status-for-vendor-invo

[2020-12-07 23:39] RobinARH commented on #3006
@abruer Can you take a look? Thanks.

[2020-12-07 23:40] RobinARH commented on #3002
@rubencdelgado Can you take a look? Thanks.

[2020-12-07 23:41] RobinARH commented on #3005
@aprilolson Can you take a look? Thanks.

[2020-12-07 23:47] RobinARH commented on #3001
@jasongre @sericks007 Can you take a look? Thanks.

[2020-12-08 03:23] aprilolson commented on #3005
@Jinnie Wong<mailto:jiwo@microsoft.com> is PM

April Olson
(She/her/hers)
Our workforce allows for a flexible schedule. I am sending his now as its convenient for me. I do not expect you to read or respond until it’s convenient to you.

From: Robin Reynolds-Haertle <notifications@github.com>
Sent: Monday, December 7, 2020 5:42 PM
To: MicrosoftDocs/dynamics-365-unified-operations-public <dynamics-3

[2020-12-08 03:38] RobinARH commented on #2977
Bug 533988 created to track this issue.

[2020-12-08 08:24] kasperrytter opened #3007 "Error in auto update date"
In the auto-update for 10.0.15 you have written January 2020. It should be 2021.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a81f2d2a-8eac-df73-bf48-2a59ad0ff5ac
* Version Independent ID: 26eb9087-c4d9-85e4-957c-9144269800ee
* Content: [What's new or changed in Dynamics 365 Finance - Finance | Dynamics 365](https://

[2020-12-08 08:25] kasperrytter opened #3008 "No release notes publicly available for Supply Chain Management"
Hi,

For Finance and for Commerce the release notes for version 10.0.15 are available in the overview. For supply chain management they are not. Have you forgot to update this page (considering 10.0.15 is generally available the release notes should be there)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6c023fc2-87cd

[2020-12-08 12:40] sericks007 commented on #3001
@jasongre, what is your recommendation here?

[2020-12-08 14:06] tonyafehr commented on #3007
@kasperrytter, thanks for the feedback.
@roschlom, please review.

[2020-12-08 14:08] tonyafehr commented on #3008
@kasperrytter, thanks for the feedback.
@kamaybac, please review.

[2020-12-08 14:51] sericks007 commented on #2997
@meeramahabala, please update the content to address this issue.

[2020-12-09 13:53] sericks007 commented on #2989
Bug 534658 has been logged for this issue.

[2020-12-09 14:10] abruer commented on #3006
Thank you very much for your feedback. We have updated the topic. The changes should be published within the next day.

[2020-12-10 17:35] lma1171 opened #3020 "Update documentation with a note about environment availability for pausing"
Customers are complaining that right now they are unable to "Pause up to 3 consecutive updates".  We have validated with a Customer Engineer (Dynamics Support Engineer) that in current scenario where a customer is on 10.0.14 and trying to pause 10.0.15, 10.0.16 and 10.0.17 - they are unable to pause 10.0.17 as the environment is not yet available with PEAP date of Feb 1, 2021.  Could you please ad

[2020-12-10 23:37] josaw1 commented on #3020
Thank you for your detailed feedback. @AngelMarshall, can you please review this request?

[2020-12-10 23:43] josaw1 commented on #2996
BUG 535336 created to track the issue.

[2020-12-10 23:45] josaw1 commented on #2995
Fixed the typo, thanks. The fix will be published in a few hours.

[2020-12-10 23:45] #2995 closed

[2020-12-10 23:50] josaw1 commented on #2993
BUG 535340 created to track the issue.

[2020-12-11 02:13] manishmoothedath opened #3021 "Timeline on when the existing Analytical workspaces will be pointed to Aggregate measures in ADLS?"
Quoting from the documentation - "Aggregate measurements will be available in the data lake instead of Entity store. If you're using ready-made analytical workspaces that were built by using Entity store, they will be pointed to Data Lake in an upcoming monthly service update."

Many customers are reluctant in moving Entity store to ADLS since there is no clear timeline on when the existing analyt

[2020-12-11 09:02] maroweh opened #3024 "paramMap parameter's missing in the second code"
In this code on the line below the paramMap parameter is missing.
var results= statement.executeQueryWithParameters(sqlStatementText);

Correct version:
    var results= statement.executeQueryWithParameters(sqlStatementText, paramMap);

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d92be4b4-05f4-c8a1-c788-43b2c60f561f

[2020-12-11 13:32] kamaybac commented on #3008
@kasperrytter , thank you for pointing out this oversight. We have now updated the page.

[2020-12-11 13:32] #3008 closed

[2020-12-11 21:16] kfend commented on #3024
@maroweh - thank you for the feedback.
@RobinARH and @pvillads - can one of you please take a look at this and make the necessary updates?

[2020-12-11 23:54] ronsonntag54 opened #3025 "Need to address what impact on D365 Services going into maintenance mode has"
Maintenance mode has a number of consequences. However, this page does not talk about what impact on D365 services like DXF and Batch services maintenance mode has. Please include this information.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 91ae449b-ec59-28d4-1934-6909e77ee4f3
* Version Independent ID: df6ae442-346

[2020-12-12 04:53] pvillads commented on #3024
Confirming problem. Please fix as indicated, passing the paramsMap as a second parameter.

BR PV

From: Kristin Fender <notifications@github.com>
Sent: Friday, December 11, 2020 1:16 PM
To: MicrosoftDocs/dynamics-365-unified-operations-public <dynamics-365-unified-operations-public@noreply.github.com>
Cc: Peter Villadsen <Peter.Villadsen@microsoft.com>; Assign <assign@noreply.github.com>
Subject:

[2020-12-13 22:05] ganroman opened #3026 "Limitation on earning points in the same transaction, where they are redeemed."
Is it still not possible to earn the points for the rest of transaction while paying part of transaction with the loyalty card (redemption)? See the following [discussion](https://community.dynamics.com/ax/f/microsoft-dynamics-ax-forum/222379/loyalty-points-earning-and-redemption-in-same-transaction)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ G

[2020-12-14 12:03] beefcake123 opened #3027 "No documentation on where to purchase a subscription to Finance And Operations"
`After your organization has purchased a subscription to Finance and Operations, it must be activated on your organization's Azure Active Directory (Azure AD) tenant by your Tenant Administrator, who completes the following steps:`

This article starts after the step of purchasing a subscription to Finance and Operations. But I can't find any documentation on where we are supposed to purchase this

[2020-12-14 17:31] RobinARH commented on #3024
I fixed the topic, and the updated topic will be live later today. - Robin

[2020-12-14 17:31] #3024 closed

[2020-12-14 19:12] rsantana123 opened #3028 "Additional information would be helpful."
Hi,

Referring specifically to this section of the document:

Where can we "search to see this is part of CartLine and CartLineData" ?

The document does not specify where we can search for the EntityName and the ColumName values.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3f2dc625-8b1a-5f7c-cff5-e723f6e446dd
* Ver

[2020-12-14 20:24] ClaudiaBetz-Haubold commented on #3027
Please refer to this article for different purchasing options: Before you buy - Finance & Operations | Dynamics 365 | Microsoft Docs<https://docs.microsoft.com/en-us/dynamics365/fin-ops-core/fin-ops/get-started/before-you-buy?toc=/dynamics365/finance/toc.json>
Kind regards, Claudia Betz-Haubold

From: beefcake123 <notifications@github.com>
Sent: Monday, 14 December 2020 13:04
To: MicrosoftDocs/dyn

[2020-12-15 08:25] bgege opened #3030 "Location of admin user provisioning is incorrect"
The location of the admin user provisioning tool is incorrect, its in K:\AosService\PackagesLocalDirectory\bin, not on the desktop

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fe3913a6-4daa-9973-6f0b-d7ae4c1007c2
* Version Independent ID: f2cd311b-fcb8-cff4-57a3-47c3c52b19d6
* Content: [Deploy and access development

[2020-12-15 11:47] JJ431 opened #3031 "typo"
[Point 6 says 'In the Assigned hierarchies sectiom, click Add.' in stead of 'section']

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 47255864-7134-164c-d1dd-c2dafde92c53
* Version Independent ID: 59d4618f-49c3-a61c-e993-26af59c4a551
* Content: [Create an organization hierarchy - Finance & Operations | Dynamics 365](ht

[2020-12-15 12:36] sericks007 commented on #3031
@JJ431, thanks for letting us know!  I've fixed the typo, and the updated content will be published later today.

[2020-12-15 12:36] #3031 closed

[2020-12-15 12:51] ripannandy opened #3032 "License required for an External user"
As a apart of Vendor collaboration process, Do we need to consume any license for an external user who will be performing the tasks related to vendor collaboration process from vendor end?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1cd5c06b-a32f-0052-1fea-ed75bc64bdbb
* Version Independent ID: 0b2f2773-60d1-4522-3e

[2020-12-15 19:33] tonyafehr commented on #3025
@ronsonntag54, thanks for the feedback.
@laneswenka, please review.

[2020-12-15 19:35] tonyafehr commented on #3026
@ganroman, thanks for the feedback.
@ShalabhjainMSFT, please review.

[2020-12-15 19:38] #3027 closed

[2020-12-15 19:40] tonyafehr commented on #3028
@rsantana123, thanks for the feedback.
@mugunthanm, please review.

[2020-12-15 19:43] tonyafehr commented on #3030
@bgege, thanks for the feedback.
@laneswenka, please review.

[2020-12-15 19:52] tonyafehr commented on #3032
@ripannandy, thanks for the feedback.
@MaiKirknel, please review.

[2020-12-15 19:56] tonyafehr commented on #3007
This has been fixed, thanks!

[2020-12-15 19:56] #3007 closed

[2020-12-15 21:32] ShalabhjainMSFT commented on #3026
No, this capability has not yet been added to the product, but a few customers have customized the code to do so.

[2020-12-15 22:07] #3026 closed

[2020-12-17 05:33] DKobayashi-ykgw opened #3034 "Trial license detail link URL is disconnected"
In Step one: "Try out Finance and Operations free for 30 days", there's link to www.microsoft.com/dynamics365/operations to get details of trial license, but linked page is not exists.
Where can my customer add trial license to their test AAD?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3be02eb7-47ec-11ee-6170-8e35f

[2020-12-17 18:20] RobinARH commented on #3034
Hi - I'll update that page, but in the meantime, you can find the link for the trial version on this page: https://docs.microsoft.com/en-us/dynamics365/fin-ops-core/dev-itpro/dev-tools/sign-up-preview-subscription#subscribe
-Robin

[2020-12-17 20:06] sericks007 commented on #2178
This content has been updated.  It now directs you to the [Sign up for preview subscriptions](https://docs.microsoft.com/en-us/dynamics365/fin-ops-core/dev-itpro/dev-tools/sign-up-preview-subscription) article for more information -- which was also updated yesterday, as well.

[2020-12-17 20:06] #2178 closed

[2020-12-18 00:02] josaw1 commented on #3020
BUG 537411 created to track.

[2020-12-18 05:52] drcroitor opened #3036 "Axrunner is no longer enabled for self-service deployments"
Axrunner is no longer enabled/used for self-service deployments - this should be updated as a doc bug
Could you please help?
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 545aa574-e5a9-3f6b-5e60-513a969e1023
* Version Independent ID: c8e2fd06-7f48-7d1e-029d-b429103bc01a
* Content: [Preconfigured system accounts - Finan

[2020-12-18 08:13] latifdindoruk opened #3037 "Cannot add child entities to the BYOD export Projects"
Hello Dear All,

According to the text, the writer says that "Composite entities cannot be added to the BYOD export projects. If you need you should export child entities" in a purple bubble. However, when I try to do that, child entities cannot be shown in the BYOD export project lines. After all, when I want to add that again system says, the project already has that entity.
Could you please hel

[2020-12-18 08:15] latifdindoruk opened #3038 "Exporting Child Entities for BYOD Problem"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 33f75161-0776-a6c1-dc10-dc20ea26973f
* Version Independent ID: 55a81394-4606-745a-9fd2-59fb257d1086
* Content: [Bring your own database (BYOD) - Finance & Operations | Dynamics 365](https://docs.microsoft.com/en-us/dynamics365/fin-ops-core/dev-itpro/a

[2020-12-18 08:17] latifdindoruk commented on #3038
Hello Dear All,

According to the text, the writer says that "Composite entities cannot be added to the BYOD export projects. If you need you should export entities in composite entities" in a purple bubble note. However, when I try to do that, child entities cannot be shown in the BYOD export project lines. After all, when I want to add that again system says, the project already has that entity.

[2020-12-18 17:19] donaldle opened #3039 "Screen shots - configuration process out of date"
I tried following the instructions in this article but the screenshots and steps no longer seem valid for Azure portal because of changes to that UI / structure.  Suggest an update on the steps and screen shots.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e2213414-926d-10e1-538b-efef09dc0181
* Version Independent ID

[2020-12-18 20:34] kfend commented on #3037
Hi @latifdindoruk, thank you for the feedback. Can you tell me specifically what topic you are referring to? Thank you!

[2020-12-18 20:36] kfend commented on #3037
Looks like this is a duplicate of [another issue](https://github.com/MicrosoftDocs/dynamics-365-unified-operations-public/issues/3038). I am going to close this one and we will work from the other. Thanks!

[2020-12-18 20:36] #3037 closed

[2020-12-19 01:04] RobinARH commented on #2978
We updated this topic today, but I don't think is addresses your question:
https://docs.microsoft.com/en-us/dynamics365/fin-ops-core/dev-itpro/data-entities/dual-write/bootstrap-company-data

[2020-12-19 11:55] Rupeshsri commented on #1032
Same error for me also.

[2020-12-19 21:35] GeorgeSasDK opened #3041 "Your guide needs an update"
Your guide has a flaw and the section "Update the LocalAgent certificate" needs to be revised.

In the section "Activate new certificates within Service Fabric cluster" we upgrade the clusterconfig.json with the new certificates and we also perform a ServiceFabricClusterConfigurationUpgrade. Thus the certificates on the cluster WILL be updated here in this section.
So when we update the localagent

[2020-12-21 19:44] RobinARH commented on #2978
Bug 538984 created to track this issue.

[2020-12-21 19:53] RobinARH commented on #2981
Bug 538988 created to track this issue.

[2020-12-21 19:55] RobinARH commented on #2982
Bug 538989 created to track this issue.

[2020-12-21 19:58] RobinARH commented on #3001
Bug 538991 created to track this issue.

[2020-12-21 20:00] RobinARH commented on #3002
Bug 538992 to track this issue.

[2020-12-21 20:01] RobinARH commented on #3005
Bug 538995 created to track this issue.

[2020-12-21 20:03] #3006 closed

[2020-12-21 20:05] RobinARH commented on #3041
@PeterRFriis - Can you take a look? Thanks.

[2020-12-22 14:53] AntonVenter opened #3043 "Server Error in '/' Application. The link is not working."
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a5103263-c61e-38db-e6a6-354ed41ee61e
* Version Independent ID: ea0e7fef-f321-5f74-465e-e72accc046ed
* Content: [Dynamics Symbol font - Finance & Operations | Dynamics 365](https://docs.microsoft.com/en-us/dynamics365/fin-ops-core/dev-itpro/user-interf

[2020-12-22 17:11] MZade opened #3045 "Nuget push to feed will show error "503 (Service Unavailable)""
Nuget push to feed will show error "503 (Service Unavailable)"

Uploading of large nuget packages is still an issue and therefor this way of working is not yet possible for many of us.
See details in my problem report on https://github.com/microsoft/azure-pipelines-tasks/issues/13548#issuecomment-749652324

Would be great if the package can be split in smaller chuncks or if the Azure DevOps team c

[2020-12-29 06:17] EdwinBaghaei opened #3048 "Data Migration worker addresses and positions"
Does anyone experience the export Human Resource package from finance and operation and import on HRIS by order?
•	If a  worker has more than one Worker Contact record in FinOps with the same Description(Purpose) – (e.g. Business) the Data Management Framework export job reports it as an error and only exports the first contact record with that Description(Purpose)
•	If worker address record from

[2020-12-29 14:27] danielzook opened #3049 "The "select the upgrade methodology" step is out-of-date"
The step "Select the upgrade methodology" states "In your new LCS project, set the project methodology to Upgrade AX 2012 to Dynamics 365 for Finance and Operations."  There is no option to do this anymore.  The only option left is to "append" a methodology, which just adds phases and steps to the end of the implementation project phases.  The customer must then manually merge the steps from the a

[2020-12-29 22:04] bonomo1 opened #3050 "Spelling error"
bacpacs is spelled wrong on this page

![image](https://user-images.githubusercontent.com/32522922/103316899-7e4e3c80-49ef-11eb-8de3-5ac50dd8997a.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 60bd86ae-4fe1-1cb0-275b-11801c67a1d0
* Version Independent ID: a6110234-8568-8600-1c13-602f0c2d2d44
* Content: [Export a d

[2020-12-30 07:07] PaulineMF opened #3051 "Key words / freeze"
I like using the metadata search, however, I have some questions.

- Could you please add a list of keywords that can be used in the metadata searches? I realize the complete list is probably not possible, but a list of the higher level keywords would be most useful.
- Could you make it possible to freeze the results? When I start the metadata search it will keep running until it has gone through

[2020-12-30 14:30] radinm opened #3052 "Missing Information."
How do you enable the Design Tabs Button ? I do not have that option or the tab selection section in the configure production floor execution page.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 44378fdb-8720-b289-06e7-80b2b8ab446b
* Version Independent ID: cd88f6f2-0558-9ed5-e83c-2db55030f135
* Content: [Design the pr

[2020-12-30 20:59] rubencdelgado commented on #3002
The workaround to use the TSP 650 OPOS driver for the TSP 100 was suggested by Star Micronics and tested internally at the time. Much time has passed and the person who performed the testing is no longer working for Microsoft. So I am unable to share notes on how to perform the workaround.

That said, it appears Star has published a TSP 100 specific OPOS driver. That documentation can be found her

[2021-01-04 07:35] sakiko-koushima opened #3053 "Please tell me more about the "Note"."
Please tell me more about the following "Note".
Are you planning to change the outgoing IP address in June 2021?

Note: The outbound IP address from the AOS will remain static
    for the duration of an individual AOS session, which is currently listed to end in June 2021.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID:

[2021-01-04 11:25] maroweh opened #3055 "Financial reporting transaction data version 3"
Hi there,

In FnO 10.0.14 we get a "Can't display the visuals" error from power BI even though we refreshed the 6 mentioned entities.
I think that I need to refresh the "Financial reporting transaction data version 3" too to see data in reports.

Regards,
István Márovics

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8

[2021-01-04 14:03] sericks007 commented on #3045
@MZade, thank you for providing this feedback.

@jorisdg, please review and consider updating the content based on this issue.

[2021-01-04 14:13] tonyafehr commented on #3043
The link to [Dynamics Symbol Font](https://mbs.microsoft.com/customersource/Global/AX/downloads/hot-fixes/AXSymbolFont) opens the correct page,, so please note if there's something not working for you.

[2021-01-04 14:13] #3043 closed

[2021-01-04 14:36] sericks007 commented on #3048
@EdwinBaghaei, thank you for posting here.  Is this feedback related to a specific documentation article?  If so, could you please provide the URL of that article?

[2021-01-04 15:32] tonyafehr commented on #3025
Bug 541330 logged to track this issue.

[2021-01-04 15:33] tonyafehr commented on #3030
Bug 541331 logged to track this issue.

[2021-01-04 15:36] tonyafehr commented on #3028
Bug 541333 logged to track this issue.

[2021-01-04 19:06] josaw1 commented on #3049
Thank you for your feedback. @laneswenka can you please review?

[2021-01-04 19:10] josaw1 commented on #3050
Thank you for your comment. I fixed the typo.

[2021-01-04 19:10] #3050 closed

[2021-01-04 19:22] RobinARH commented on #3002
The doc update will go live later today.

[2021-01-04 19:22] #3002 closed

[2021-01-04 19:24] RobinARH commented on #3051
I'll see if I can find a list. - Robin

[2021-01-04 19:33] jorisdg commented on #3045
This is not a documentation issue. @sericks007 please close the issue.

To not leave the question hanging anyway: we're looking at long-term solutions for the nuget packages. Splitting them up is the obvious choice, however it requires more features to be built into the nuget restore features of our pipeline. That work is being reviewed.
You can upload the nugets from a dev VM you have hosted in A

[2021-01-04 19:34] RobinARH commented on #2623
We have replaced the topic with a no-code solution. -Robin

[2021-01-04 19:34] #2623 closed

[2021-01-04 19:35] #3045 closed

[2021-01-04 23:38] josaw1 commented on #2881
Hi, the changes have been made in draft form and should be published shortly. Thank you!

[2021-01-04 23:38] #2881 closed

[2021-01-05 16:52] chadaberle opened #3061 "Shouldn't the Pick Information Module be listed in the section for what modules can be added to the Checkout along with the others? All I see is a link at the bottom for cross reference, but not listed in the section."
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2844d397-0226-e91b-bcd0-ff0ac7e8412f
* Version Independent ID: 6669b7bd-bd18-063f-bd8c-111d8c62af06
* Content: [Checkout module - Commerce | Dynamics 365](https://docs.microsoft.com/en-us/dynamics365/commerce/add-checkout-module)
* Content Source: [ar

[2021-01-05 17:22] tonyafehr commented on #3061
@anupamar-ms, please review.

[2021-01-06 10:31] clpurush opened #3063 "Clear Note in the document"
**Customer feels that this statement "If you are on version 8.0 or later, there is no longer a data upgrade between application versions." can be more clear and descriptive.**

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fe0d2c68-08ea-77b8-af74-cd889a8344ca
* Version Independent ID: d88b6646-49de-f7eb-3d7c-7d1e700131

[2021-01-06 11:31] v-oloski commented on #2876
Thank you for reporting this issue. The documentation [Set up asset retirement obligation for fixed assets for Japan](https://docs.microsoft.com/en-us/dynamics365/finance/localizations/apac-jpn-asset-retirement-obligation-fixed-assets)  has been updated in this point:

- Set up a discount rate schedule (cashflow discount rate) that uses current market discount rates to calculate ARO amounts

[2021-01-06 15:01] sericks007 commented on #3063
@clpurush, thank you for providing this feedback.

@laneswenka, please clarify the note.

[2021-01-06 15:07] sericks007 commented on #2893
The content has been updated.

[2021-01-06 15:07] #2893 closed

[2021-01-07 09:15] PeterRFriis commented on #3041
Hi @GeorgeSasDK
I may be misunderstanding your comment. But if you follow the documentation and update the SF cert, then the new should be added as a new cert and the old should stay as a secondary. When this is setup correctly then the LocalAgent clean up should be able to communicate with the SF cluster, as the secondary is still valid.

If the SF cluster cert has completely expired, then the si

[2021-01-07 09:26] GeorgeSasDK commented on #3041
Hi Peter.
Well , the uninstall of the agent fails with the error I posted , if I do not edit the agent config file and replace the certificate.
I can not replicate this now as I have upgraded the certificate on both my Sandbox and Prod environments , but the error was there up until I changed the agent config and replaced the certificate thumbprint.

[2021-01-07 12:07] PeterRFriis commented on #3041
Hi George.
Yep. I understand but do you recall if you used the secondary thumbprint option in the cert upgrade of service fabric? or only overwrote the primary thumbprint, which is what I believe could be the reason for your situation.

If you do not recall, I would not recommend you to try and reproduce with your sandbox or prod, as I know certificate rotation, can be problematic and should only

[2021-01-07 13:33] GeorgeSasDK commented on #3041
I have followed the procedure , added second ssl and made the old one as secondary , so I did not just replaced the thumbprint of the current certificate.

Part of my Json .

"CertificateInformation":  {
                                                                       "ClusterCertificate":  {
                                                                                                  "X

[2021-01-07 13:54] PeterRFriis commented on #3041
Hi George
Great with the input! Thanks. Ill take this on to the team internally and we will see if we can reproduce and update the docs accordingly as needed.
Thanks for the help and the input!
Peter

[2021-01-07 15:34] michaelshire opened #3064 "Clarification of diagram in End to End flow"
[Enter feedback here]
https://docs.microsoft.com/en-us/dynamics365/fin-ops-core/dev-itpro/perf-test/rsat/rsat-overview#end-to-end-flow

The first arrow in the diagram  "Author and distribute (BPM)" seems to imply that only BPM is used in this flow.  But the "Record tests" step is completed with RSAT?

Should the first arrow in the diagram be titled "Author and distribute (RSAT and BPM)"

---
####

[2021-01-07 15:38] RobvanB opened #3065 "Clarification on MPos config change"
[Enter feedback here]
Regarding this section:
https://docs.microsoft.com/en-us/dynamics365/commerce/dev-itpro/retail-POS-activation-changes#update-the-modern-pos-configuration

Do you need to execute that for EVERY Mpos deployment? There must be a way to automate this or make it part of the build?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitH

[2021-01-07 15:39] michaelshire commented on #3064
My understanding of the relationship between Task Recorder and RSAT was wrong.  Closing the issue.

[2021-01-07 15:39] #3064 closed

[2021-01-08 02:06] josaw1 commented on #3065
Thank you for your comment. @jashanno can you please take a look?

[2021-01-08 09:59] ScuroGuardiano opened #3070 "Too soon statement.close"
The code from first and second example is not working. It's because statement is closed before calling ```result.getString``` and I get SQL Invalid Handle error. I suggest correcting it like that in both examples:
[code]

Wasted like 30 minutes figuring out why it's not working, because official documentation cannot be wrong, right?
Wrong!

I hope you will fix it and no more lost souls will have t

[2021-01-08 10:24] PeterRFriis commented on #3041
Hi @GeorgeSasDK
We have investigated internally based on your feedback and the details you have provided, and it has been confirmed that there is a problem in the process. We have corrected the documentation internally and it should be publicized over the next couple of days.

Thank you very much for raising this to our attention!
I wish you a great weekend.

@RobinARH the fix for this issue is be

[2021-01-08 12:38] lubergst opened #3071 "Dynamics 365 customer engagement"
Where can I find the Cloud deployment documents for Dynamics 365 Customer Engagement (SaaS Model-driven apps).

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5080f3d7-0ad1-940c-284a-92008d7c19d5
* Version Independent ID: c911e39b-82ee-2ae3-4493-d2e39afccc2b
* Content: [Cloud deployment overview - Finance & Operations |

[2021-01-08 14:01] maroweh opened #3072 "Instead of link the page shows text [systest-filtering.md]"
[Enter feedback here]
In the advanced options section in the sentence there is an .md instead of a link to the page.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 60782905-2f9f-a018-04a2-fada4ad982b0
* Version Independent ID: d31e7f48-99fc-bb22-ec10-8714043d12a2
* Content: [Test projects in Visual Studio - Finance & O

[2021-01-08 16:32] tonyafehr commented on #3028
This topic will be updated later today.

[2021-01-08 16:32] #3028 closed

[2021-01-08 19:12] faix commented on #3041
@RobinARH please feel free to close this. The related PR has been merged. Thanks!

[2021-01-08 19:41] #3041 closed

[2021-01-08 20:03] RobinARH commented on #3072
I published a fix for this and it should go live later today. Thanks for letting us know. - Robin

[2021-01-08 20:03] #3072 closed

[2021-01-08 20:53] kfend commented on #3070
@ScuroGuardiano - thank you for the feedback.
@RobinARH and @pvillads - can one of you take a look at the topic and update as necessary?

[2021-01-08 21:16] kfend commented on #3071
@lubergst - thanks for your question. At this time, there is only Dynamics 365 Customer Engagement for on-premises and not the cloud. However, here are some links to topics that might have the information you are looking for if you are interested in customer engagement apps:

- [Administering a PowerApps enterprise deployment](https://docs.microsoft.com/en-us/power-platform/admin/admin-powerapps-e

[2021-01-08 21:16] #3071 closed

[2021-01-11 10:27] RajendraShivaraya commented on #604
After following the document, I was able to add the financial dimensions as separate columns with lookups. I see lookups work great with standard dimensions. But for custom fin dimensions, I can see all custom fin dimension values in the lookup instead of just the selected one. ex : I have 4 custom dimension, Dim1, Dim2, Dim3, Dim4. When I select Dim3 in excel, all the dimension values of Dim1, Di

[2021-01-11 12:57] pkrawczykObj opened #3073 "Download the Modern POS installer button not available"
When I follow this manual on my trial version https://d365rtrialha48.retail.dynamics.com/, the "Download" button is not visible, after selecting the HOUSTON-3 or any other device.
![image](https://user-images.githubusercontent.com/44259511/104185203-f287d780-5414-11eb-9516-51dd0c6baa63.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issu

[2021-01-11 19:58] Alpa-Chino opened #3074 "First release survey link is down"
Hi!

The First Release survey link is down.

Regards,
Szabolcs

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e7dcb285-f32c-c92e-fe49-1617f213066b
* Version Independent ID: 8f28c1a0-9da5-f853-90ee-d82a4c32df7e
* Content: [Service update availability - Finance & Operations | Dynamics 365](https://docs.microsoft.com/en-u

[2021-01-11 21:56] Dynamicspedia opened #3075 "Feedback on changed documentation as requested by @Peakerbl"
[Enter feedback here]
Thanks Par, for asking to review the updated documentation. I do have some questions and comments.

In the introduction, it might be an idea to mention the requirement for an organizational account and link to the Authentication document: https://docs.microsoft.com/en-us/dynamics365/fin-ops-core/dev-itpro/sysadmin/security-architecture

Question: Has the option to have users

[2021-01-12 01:12] suedriscoll opened #3077 "General availability (self-update): is set to January 2020 but it should be January 2021"
General availability (self-update):  is set to January 2020 but it should be January 2021

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fb2c851e-b3c3-f1cb-e89b-146ad4bbb02b
* Version Independent ID: 2dea676c-d08a-e3b7-52d9-3caeec66f494
* Content: [What's new or changed in Dynamics 365 Finance 10.0.16 (February 2021) -

[2021-01-12 13:45] tonyafehr commented on #3077
@suedriscoll, thanks for noting this. @roschlom, please fix.

[2021-01-12 13:47] tonyafehr commented on #3075
@Peakerbl, please review.

[2021-01-12 13:48] tonyafehr commented on #3074
@Alpa-Chino, thanks for noting this. @ShellyBakke, please fix.

[2021-01-12 13:49] tonyafehr commented on #3073
@pkrawczykObj, thanks for the feedback. @jashanno, please review.

[2021-01-12 13:53] tonyafehr commented on #3061
Bug 543946 has been logged to track this issue.

[2021-01-12 16:00] tonyafehr commented on #3032
@ShellyBakke, please review. Thanks!

[2021-01-12 18:58] RobvanB opened #3081 "Document does not match current UI dialogs"
It looks like the portal UI has been updated and the steps in the article no longer match the steps in the portal, which makes it very confusing.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9cde75a6-0a4d-8405-4b6d-f7e3cfd33094
* Version Independent ID: fa2a94bb-7a6f-1ca4-ce74-8bcd8a6929f7
* Content: [Device activati

[2021-01-12 19:27] tonyafehr commented on #3081
@RobvanB, thanks for the feedback. @jashanno, please review.

[2021-01-13 12:45] sericks007 commented on #3048
Closing due to no response.

[2021-01-13 12:45] #3048 closed

[2021-01-13 12:51] sericks007 commented on #3063
Bug 9118719 has been logged in the LCS database.

[2021-01-13 17:27] sfrey2 opened #3085 "X++ subStr - incorrect code example"
There are syntax and logical errors in the [X++ subStr documentation](https://docs.microsoft.com/en-us/dynamics365/fin-ops-core/dev-itpro/dev-ref/xpp-string-run-time-functions#substr).

Under "Remarks", the code is as follows:
`subStr("ABCDEFGHIJ",3,5); //Returns the string "CDEFG".`
`subStr("ABCDEFGHIJ",7,-4); //Returns the string "DEFG".`
`subStr("abcdef"),2,99) //Returns the string "cdef".` <-

[2021-01-13 22:28] gusgallows opened #3086 "Please update this page to current experience."
Page is dated. Steps can not be followed as written. Need this process updated for current environment.
Steps start falling apart at Step 4 under Create the Commerce Scale Unit Azure AD application. This in turn leads to all other steps to not work,

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9cde75a6-0a4d-8405-4b6d

[2021-01-14 14:01] #1637 closed

[2021-01-15 03:54] jlabustro opened #3088 "how many sandbox environment can we deploy? but the licenses are cloud subscription"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e6c7e467-87c9-70c8-c819-b1f5c0057352
* Version Independent ID: 0feef83a-6d18-8685-2c6c-6225c0db03e5
* Content: [Plan and prepare for on-premises deployments - Finance & Operations | Dynamics 365](https://docs.microsoft.com/en-us/dynamics365/fin-ops-co

[2021-01-15 11:43] IvanLarsen87 opened #3090 "Missing information in regards to mapping"
Hello

This is a very interesting subject, but some critical information is missing:
1. Line mapping definitions are missing for most of the table mappings
2. "One-way, and data is transformed in the process." is used in the above for many mappings, but you say nothing about how the data is being transformed. please explain further.

---
#### Document Details

⚠ *Do not edit this section. It is re

[2021-01-15 12:53] sericks007 commented on #3088
@PeterRFriis or @faix, can you answer the question?  (The question is in the title of this issue.)

[2021-01-15 13:32] faix commented on #3088
this would be a question for @PeterRFriis  or @cabeln. @jlabustro can you please elaborate on your question?
Are you asking how many onprem sandboxes you can deploy if you have a cloud subscription?
Are you a cloud customer? If so why do you want to deploy onprem sandboxes?

[2021-01-15 14:01] PeterRFriis commented on #3088
Yes, please provide the information raised from Oscar and I will look into your options and elaborate.
Thank you.

[2021-01-15 14:33] jlabustro commented on #3088
Hello Peter, Oscar,

My apologies. If I am a customer and I purchase cloud subscription through CSP, how many on-premise sandboxes can I create or deploy? I already created one environment but I still need one more sandbox.

If in case cloud subscription restrict creating more than 1 sandbox, does it mean I have to buy a license to allow me to create additional sandbox? What kind of license? onpre

[2021-01-15 16:46] faix commented on #3088
Hi @jlabustro is your production slot a cloud environment or is it an onprem environment? If your production environment is a cloud environment then you should not be deploying onprem environments as there are fundamental differences between cloud and onpremise environments.

[2021-01-15 20:21] josaw1 commented on #3085
Thanks for your feedback. @RobinARH can you please take a look?

[2021-01-15 20:22] josaw1 commented on #3086
Thanks for your feedback. @jashanno can you please review?

[2021-01-15 20:26] josaw1 commented on #3065
BUG 546038 created to track this issue.

[2021-01-15 21:36] kfend commented on #3090
@IvanLarsen87 - thank you for the feeback.
@kamaybac - can you please take a look and assign this to the correct PM?

[2021-01-16 22:46] AurelienClere-365 opened #3094 "URL of the Submission Service"
Hello ! If I am not wrong the URL specific to US and EU seems to be down (404 not found). Shouldn't we have the global one and update the article ? https://businessdocumentsubmission.operations365.dynamics.com/

[2021-01-16 22:49] #3094 closed

[2021-01-17 00:06] Ievgenm opened #3095 "Missing step to update Shared working directory in Dataimport/export framework parameters"
On-prem system may have shared folder specified in "Shared working directory". After migration this field is not editable for cloud hosted environments, so cannot be changed through UI. Having shared folder there will cause an error during any export or import via data management. SQL script should be updated to include update to this value.

---
#### Document Details

⚠ *Do not edit this section.

[2021-01-17 21:03] JimDaly opened #3096 "DNS Name changed to Vault URI"
In Procedure 2 it says:

Looks like the UI in Azure has changed. **DNS Name** has been replaced by  **Vault URI**.

These instructions should reflect that change.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 055168f2-4423-1246-9663-1d0b14696666
* Version Independent ID: 2ec22b82-5bc0-bdb1-b630-ffcbaf1180dd
* Content:

[2021-01-18 13:18] Millekyl opened #3097 "Compose working time"
When I create a new Calendar and select the "compose working time" no matter how far back I set my "from date" when its done processing and were back on the ( standard view for working time ) the dates cut off on 12/19/2020 ? even though I set my from date as 1/1/2018? This is causing random date errors when trying to work with projects

[2021-01-18 19:32] Ievgenm opened #3098 ""Job history cleanup job" link is incorrect"
"Job history cleanup job" link in the https://docs.microsoft.com/en-us/dynamics365/fin-ops-core/dev-itpro/sysadmin/optimize-data-migration?WT.mc_id=linkedin#clean-staging-tables section should lead to data management related article, but it points to batch history cleanup.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID:

[2021-01-18 23:55] tonyafehr commented on #3097
@Millekyl, thanks for contacting us. Unfortunately, we're unable to handle Support requests for the product here. To contact Support, consider one of the options described here: [Support contact options](https://docs.microsoft.com/en-us/dynamics365/unified-operations/dev-itpro/lifecycle-services/lcs-support). In particular, you might want to go to the [Dynamics 365 community page](https://communit

[2021-01-18 23:55] #3097 closed

[2021-01-18 23:56] tonyafehr commented on #3096
@Sunil-Garg, please review. Thanks!

[2021-01-18 23:57] tonyafehr commented on #3098
@Ievgen, thanks for the feedback.
m@skaue-ms, please review.

[2021-01-19 00:00] tonyafehr commented on #3095
@Ievgenm, thank you for the feedback.
@MartinWalkerDynSA, please review.

[2021-01-19 00:08] tonyafehr commented on #3081
Bug 546530 logged to track this issue.

[2021-01-19 00:08] #3075 closed

[2021-01-19 14:00] sericks007 commented on #3098
The link has been updated.  This will be published later today.

[2021-01-19 16:10] magic1949 opened #3100 "Service module"
The Dynamics SCM Service module  was dependent on Project Accounting module -now we have Project Operations license is the Service module still available in SCM?
If not then what is the alternative, if it is then is there any dependency on project operations license?
Can the features of Service be used in SCM with an enterprise SCM or finance license without need for a Project operation license ?

[2021-01-19 17:03] tonyafehr commented on #3100
@magic1949, thanks for the feedback.
@sigitac, please review.

[2021-01-19 17:34] MVCamp opened #3101 "The Downtime end field is set to through hours from the start of the downtime."
"The Downtime end field is set to **through** hours from the start of the downtime."

Is this a typo (should the word "through" actually be a number / value) or could you please clarify this statement?

Thank you!

[2021-01-19 17:53] tonyafehr commented on #3101
@mvcamp, thanks for the feedback.
@laneswenka, please review.

[2021-01-19 20:05] roschlom commented on #3077
As Tonya said, thank you for letting us know about the mistake. It's been fixed and should going through the publishing process as I write this. Have a great day!

[2021-01-19 20:05] #3077 closed

[2021-01-19 23:31] ronsonntag54 opened #3102 "Need to know how to edit historical external demand records after they have been imported."
The page shows how to import the historical external demand records, but, it you find out there is a duplicate or an error in any of the imported records, there is no instruction on how to edit this list of imported records to fix errors.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d3f17fae-150d-e5c8-77bb-f3c8e14227

[2021-01-20 12:45] sericks007 commented on #3102
@ronsonntag54, thank you for providing this feedback.

@roxanadiaconu, please consider updating the content based on this feedback.

[2021-01-20 12:49] sericks007 commented on #3102
@kamaybac, please assign to the appropriate PM.

[2021-01-20 14:09] bjool opened #3103 "Sales tax code, step no 3 needs clarifications"
[Enter feedback here]
The expected input in the fields in the form "External codes" in the form groups "Overview" and "Value" should be explained in more detail.  What is the relation between the Overview and Value?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d8904993-84a8-8983-dcc5-4499b6e1e9d5
* Version Independen

[2021-01-20 16:04] artemt1 commented on #2194
Got the same issue with 401 unauthorized response. Configured everything according to the article, got token, does not have trailing slash in my URL.
Still "401 unauthorized"

[2021-01-20 16:48] danbudimir opened #3104 "The documentation does not mention that you need to enable "Planning optimization" from "License configuration""
This step is required after installing the add-in or you won't see the menu items
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a36c4831-276b-03c6-6f92-532746789338
* Version Independent ID: 5fdd62c5-5a0a-bf23-6dab-ad3717f5f70d
* Content: [Get started with Planning Optimization - Supply Chain Management | Dynamics 365]

[2021-01-20 16:55] sericks007 commented on #3103
@bjool, thank you for providing this feedback.

@liza-golub, please consider enhancing the content based on this feedback.

[2021-01-20 16:56] sericks007 commented on #3104
@danbudimir, thank you for providing this feedback.

@ChristianRytt, please consider updating the content based on this feedback.

[2021-01-20 17:01] kamaybac commented on #3102
@ChristianRytt , please consider this documentation request for master planning. Thanks.

[2021-01-20 17:13] kamaybac commented on #3090
@RichardLuan,  please review this customer feedback and consider whether we could update this topic to meet this request. Thanks.

[2021-01-20 20:43] #2661 closed

[2021-01-20 21:16] #2622 closed

[2021-01-20 21:33] #2696 closed

[2021-01-20 22:15] Kelkane opened #3105 "Delivery data control"
[Enter feedback here]
It states Delivery data control instead of delivery date control on this page.
![image](https://user-images.githubusercontent.com/63654741/105247645-1b117f00-5b43-11eb-8504-0dbc00ec7090.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a8fb9008-7860-4bfa-d5b1-f45d231dc010
* Version Independent I

[2021-01-20 22:42] #2821 closed

[2021-01-20 22:50] #2391 closed

[2021-01-20 23:09] andreabichsel commented on #2650
Per our product team, these reports are locked down in Human Resources.

[2021-01-20 23:09] #2650 closed

[2021-01-21 07:52] ChristianRytt commented on #3102
@kamaybac , I suggest to add a link to the data management documentation (https://docs.microsoft.com/en-us/dynamics365/fin-ops-core/dev-itpro/data-entities/data-import-export-job) for details on importing the data. Seems like we should not include data import specific information under planning.

[2021-01-21 09:33] kamaybac commented on #3102
@ronsonntag54 , thank you for your feedback. We decided to add a link from this topic to the general topic about how to work with imports.

[2021-01-21 09:33] #3102 closed

[2021-01-21 11:46] ChristianRytt commented on #3105
Thank you for reporting!

This is an odd typo, I actually found 3 places where we incorrectly have data instead of date on this page – see below screenshot.

@Karl Maybach<mailto:Karl.Maybach@microsoft.com> can you fix this?

[cid:image002.png@01D6EFF3.5B3E76C0]

Thanks,
/Christian

From: Kelly Kane <notifications@github.com>
Sent: 20. januar 2021 23:16
To: MicrosoftDocs/dynamics-365-unified-opera

[2021-01-21 12:26] kamaybac commented on #3105
@ChristianRytt , @Kelkane , thank you for reporting this issue. I have fixed the typos in the repo. The fix should go live later today.

[2021-01-21 12:26] #3105 closed

[2021-01-21 21:16] ronsonntag54 opened #3107 "Correcting historical external demand imports still not explained correctly"
The reference to the import/export DMF is not sufficient and not even correct. For example: Many Data Entities CANNOT be reloaded because the records are duplicated and that results in incorrect calculations. Other entities CANNOT be truncated, so you cannot even start over by using Truncate (e.g. the GAL).

My comment is SPECIFICALLY on how to fix bad data after an import of historical external d

[2021-01-21 23:35] josaw1 commented on #3107
Thanks for your feedback. @kamaybac can you please review?

[2021-01-22 00:57] josaw1 commented on #3086
BUG 547810 created to track the issue.

[2021-01-22 01:02] josaw1 commented on #3085
BUG 547811 created to track.

[2021-01-22 09:26] kamaybac commented on #3107
@ChristianRytt , we got some more feedback regarding the import documentation for master planning. The reader is not satisfied with the link we provided yesterday. Do you have another suggestion for how we could address this?

[2021-01-24 02:05] ronsonntag54 opened #3110 "Need a clearer description of what the SQL Rebuilding Indexes batch job does"
The statement: "In some cases, you may find that the before and after fragmentation number is the same or even higher. This is typical because Microsoft uses a less intrusive online rebuild option. In the future, we plan to introduce an optional offline rebuild option." is ambiguous. What does "Microsoft uses a less intrusive online rebuild option" mean?

Are the indexes rebuild less well? Are the

[2021-01-25 09:41] gammelgaard52 commented on #3110
Also, it lacks explanation of the latest options in it - like "PRIORITISE THESE TABLES FOR INDEX DEFRAGMENTATION".
Does that mean, that even indexes that are not fragmented enough, will be defragmented regardless - or will it prioritize the specific index and include it in the "top 500 (Count of indexes)"?

[2021-01-25 13:15] chicinho opened #3111 "new API "statement.executeQueryWithParameters" is not availabe in Plattform Updates 10.0.16"
I have just read the release information for the Plattfrom Updates 10.0.16. One update ist about "Mitigate a SQL injection attack". So we have on our Sandboxes the Platform Updates 10.0.16 installed and I wanted to test this new method "executeQueryWithParameters". Guess what, it is not available? I can't find it in the Intellisense nor in the AOT Explorer. Why not?

---
#### Document Details

⚠ *

[2021-01-25 14:35] brettchristiansen opened #3112 "Offline MPOS no longer installs SQL prerequisite"
The "Run the installer on a windows computer" section of this document states that if you have Offline support that the installer will handle installation of SQL Server 2014.  I believe this has changed and should no longer be expected.  Document should reflect the changes requiring a manual install SQL and current supported versions

https://docs.microsoft.com/en-us/dynamics365/commerce/retail-mo

[2021-01-25 22:34] ChrisGarty commented on #2688
Edited: https://github.com/MicrosoftDocs/dynamics-365-unified-operations-public/pull/3114

[2021-01-25 22:40] RobinARH commented on #3112
@jashanno Can you take a look? Thanks.

[2021-01-25 22:41] RobinARH commented on #3111
@pvillads Can you take a look? Thanks.

[2021-01-25 23:52] RobinARH commented on #3055
Bug 548895 created to track this issue.

[2021-01-25 23:55] RobinARH commented on #3053
Bug 548896 created to track this issue.

[2021-01-26 00:10] RobinARH commented on #3051
The keywords you can use are listed in the topic in the Filter Names section - Name, Type, Model, Property, and Code.

For adding a freeze option, we can't take requests for the product here. Consider adding your request to the [Ideas site](https://experience.dynamics.com/ideas/).

Thanks-
Robin

[2021-01-26 00:10] #3051 closed

[2021-01-26 09:43] almouattaz opened #3115 "Error in the section: Example of a while loop"
[Enter feedback here]
The counter should start from 1.
Starting from 0 would return **0, "one", "two", "three"** instead of **"one", "two", "three"**

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8296542b-fdb9-1fbf-4134-f05c5915d527
* Version Independent ID: 5794b9ca-8c09-f8b7-fef9-a764b7f32a61
* Content: [X++ loop st

[2021-01-26 14:00] tonyafehr commented on #3115
@almouattaz, thanks for the feedback.
@RobinARH, please review.

[2021-01-26 14:15] sericks007 commented on #2688
The content has been updated.

[2021-01-26 14:15] #2688 closed

[2021-01-26 16:40] HugoDJesus opened #3116 "Exception details page"
The docs says:

"When you start edit mode, the exception details page for the invoice that has issues appears. If there are any attachments, the invoice and the default attachment appear side by side on the exception details page."

But testing the functionality if you upload a invoice header with a wrong data (ex. wrong currency) the attachment throw error because the the header id does not exits

[2021-01-26 18:00] tonyafehr commented on #3116
@HugoDJesus, thanks for the great feedback. If you need to contact Support regarding this, consider one of the options described here: [Support contact options](https://docs.microsoft.com/en-us/dynamics365/unified-operations/dev-itpro/lifecycle-services/lcs-support).
@abruer, please review and consider updating this topic.

[2021-01-26 18:08] HugoDJesus commented on #3116
Hi Tonya,

Thanks you for your feedback, I already submitted the issue in LCS related with this topic and I reviewed with a support engineer.
She is investigating it too.

[2021-01-26 18:57] tonyafehr commented on #3096
Bug 549254 logged to track this issue.

[2021-01-26 19:01] tonyafehr commented on #3100
Bug 549257 logged to track this issue.

[2021-01-26 19:04] tonyafehr commented on #3101
Bug 549259 logged to track this issue.

[2021-01-26 20:30] tonyafehr commented on #3095
Bug 549283 logged to track this issue.

[2021-01-27 04:35] Ievgenm opened #3117 "Wrong number of standard environments mentioned"
Article says: "Subscriptions come with three standard environments: one production environment, one Tier-2 Standard Acceptance Test environment, and one Tier-1 developer environment. "

Should Tier - 1 be removed as it is not provided anymore?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f123c2b2-f125-19eb-85fc-7d216

[2021-01-27 09:12] BrianBennet opened #3118 "Out of Date"
This document is out of date with current self service environments

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6465b985-b976-a032-6f05-e540ef844f30
* Version Independent ID: d13d8e4c-36cd-21ea-1113-99774093458f
* Content: [Batch processing and batch servers - Finance & Operations | Dynamics 365](https://docs.micros

[2021-01-27 09:52] ClaudiaBetz-Haubold commented on #3117
Thank you for the feedback, Ievgen, much appreciated. Article has been corrected.

Kind regards,

Claudia Betz-Haubold

From: Ievgen Miroshnikov <notifications@github.com>
Sent: Wednesday, 27 January 2021 05:36
To: MicrosoftDocs/dynamics-365-unified-operations-public <dynamics-365-unified-operations-public@noreply.github.com>
Cc: Claudia Betz-Haubold <Claudia.Betz-Haubold@microsoft.com>; Mention <

[2021-01-27 11:10] JuraRabol opened #3119 "Error"
[Dear Sir or Madam,

I am trying to import Aisino file but it is not possible. The OK button is greyed out. In Accounts receivable > Periodic> VAT invoice integration. What can I do?]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: af243e84-e229-f05a-4213-207f097d1434
* Version Independent ID: bfee9b6c-ff12-3b34-8853-64

[2021-01-27 13:51] sericks007 commented on #3118
@BrianBennet, thanks for making us aware of this issue.

@Peakerbl, please update the content.

[2021-01-27 13:54] sericks007 commented on #3119
@JuraRabol, thanks for contacting us. Unfortunately, we're unable to handle Support requests for the product here. To contact Support, consider one of the options described here: [Support contact options](https://docs.microsoft.com/en-us/dynamics365/unified-operations/dev-itpro/lifecycle-services/lcs-support). In particular, you might want to go to the [Dynamics 365 community page](https://communi

[2021-01-27 14:08] sericks007 commented on #3117
The updated article will be published later today.

[2021-01-27 14:08] #3117 closed

[2021-01-27 14:12] sericks007 commented on #3104
Bug 549602 has been logged to address this issue.

[2021-01-27 14:17] sericks007 commented on #3103
Bug 549605 has been logged to track this issue.

[2021-01-27 14:20] sericks007 commented on #3088
Closing this issue, as I believe the question has been answered.  If not, please reopen.

[2021-01-27 14:20] #3088 closed

[2021-01-27 15:49] mattgo79-MSFT opened #3120 "Grammatical Mistake"
Hi, Team. In the Privileges section below, there's a slight grammatical error.  Instead of "which makes it easier maintenance," it should be "which makes it easier to maintain."

Privileges
In the security model, a privilege specifies the level of access that is required to perform a job, solve a problem, or complete an assignment. Privileges can be assigned directly to roles, however we recommend

[2021-01-27 16:19] gunavs opened #3121 "Environment Planning Tech Talk link broken"
Environment Planning Tech Talk link broken

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2402dfea-008a-c7bb-8a3b-1d0457a39665
* Version Independent ID: 4936afad-9a39-e65d-a00c-81246de632cb
* Content: [Environment planning - Finance & Operations | Dynamics 365](https://docs.microsoft.com/en-us/dynamics365/fin-ops-core/

[2021-01-27 16:46] Peakerbl commented on #3118
I'm no longer the PM for Batch. Right now I do not think there even is one after Reva moved on. @karimelazzouni might now the right person for this task.

[2021-01-28 07:46] sayanika952 opened #3122 "Error while publishing entity in vanilla instance"
error when publishing entity : object reference not set to instance of object.
Database cannot be found

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 33f75161-0776-a6c1-dc10-dc20ea26973f
* Version Independent ID: 55a81394-4606-745a-9fd2-59fb257d1086
* Content: [Bring your own database (BYOD) - Finance & Operations | D

[2021-01-28 08:34] JuraRabol commented on #3119
Hello,

So what should I do if documentation is not correct?

Kind Regards

Jura Rabøl
Senior Consultant | CuroGens<http://www.curogens.com/>
M +34630870523

From: Sally Erickson <notifications@github.com>
Sent: Wednesday, January 27, 2021 14:55
To: MicrosoftDocs/dynamics-365-unified-operations-public <dynamics-365-unified-operations-public@noreply.github.com>
Cc: Jura Rabøl <jrabol@curogens.com>;

[2021-01-28 12:54] sericks007 commented on #3119
@juraRabol, I've reopened this issue.

@kfend, please assign this to the appropriate PM for review.

[2021-01-28 12:56] sericks007 commented on #3120
@mattgo79-MSFT, thanks for making us aware of this issue! I've corrected the typo.

[2021-01-28 12:56] #3120 closed

[2021-01-28 21:52] sericks007 commented on #3110
@sarvanisathish, can you please review and comment on this?

[2021-01-29 06:12] twhite-coles opened #3124 "Suggestion to update page with Org Roles"
Currently there are only explanations of Project Roles for LCS on this page. It would be helpful to document the **Admin** and **Contributor** Roles at an Org level and their associated permissions within LCS.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8ee6629a-f1a4-b352-0b26-657a503d80a7
* Version Independent ID:

[2021-01-29 14:00] tonyafehr commented on #3100
We license users, not functionality. This means that an SCM or Activity user license is sufficient for using the service management functionality as described on page 30 in the Dec 2020 edition of the Dynamics 365 Licensing Guide.

![image](https://user-images.githubusercontent.com/20996931/106283512-a657d800-6207-11eb-9464-24e10d40a84f.png)

You may need a Project Operations attach license for on

[2021-01-29 17:35] advent77 opened #3125 "Financial Dimensions Configuration"
This article misses an opportunity to properly explain the mystique of Financial Dimensions. In particular, it is misleading and does NOT adequately explain the differences between DEFAULT dimension format and LEDGER dimension format ... and WHY they can be different.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1e42

[2021-01-29 17:47] magic1949 commented on #3100
That was not the really question.
There are dependencies of Service on Finance and Operations Project Accounting.
 However  that module is now replaced by Project Operations,
The question was not about field service -  but about the Service module in SCM (or formerly Ax 2012)
So
 1: are SCM users able to use Service in SCM  without a Project Operations license?
2.  are there deprecations of Projec

[2021-01-29 22:55] kfend commented on #3124
@twhite-coles - thank you for the feedback.

[2021-01-29 22:58] kfend commented on #3125
@advent77 - thank you for the feedback.
@aprilolson - please consider updating the topic based on this feedback from advent77

[2021-01-30 00:09] josaw1 commented on #3107
BUG 550571 created to track.

[2021-01-30 00:14] josaw1 commented on #3049
BUG 550572 created to track.

[2021-01-30 09:26] andyNewnham opened #3126 "Method described does not work for Microsoft hosted scale unit"
As per recent discussions on the insider program yammer group with @mugunthanm and @sepism - This document is not up to date and the method described does not work.

An update is required to match the method used in the following blog post: https://community.dynamics.com/ax/b/axforretail/posts/support-for-service-to-service-authentication-in-retail-server - where 2x App Registrations are required

[2021-01-30 22:55] aprilolson commented on #3125
Can we assigned to @Ryan Carlson<mailto:Ryan.Carlson@microsoft.com> please?

April Olson
(She/her/hers)
Our workplace allows for a flexible schedule. I am sending this now as its convenient for me. I do not expect you to read or respond until it's convenient to you.

From: Kristin Fender <notifications@github.com>
Sent: Friday, January 29, 2021 4:59 PM
To: MicrosoftDocs/dynamics-365-unified-operat

[2021-02-01 08:34] Izmiyash opened #3127 "There should be note about IE11 support depreciation"
[Enter feedback here]
seeing inconsistency between this page and https://docs.microsoft.com/en-us/dynamics365/commerce/get-started/removed-deprecated-features-commerce#internet-explorer-11-support-for-dynamics-365-is-deprecated

There must be additional note about IE11 support depreciation.

see below link as reference. there should be something similar in Commerce page as well.
https://docs.micro

[2021-02-01 09:14] Izmiyash opened #3128 "Is Windows 7 still a valid choice???"
[Enter feedback here]
I don't believe windows 7 is one of supported OS.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 043a7336-3d71-14f2-9856-05e03e24cd80
* Version Independent ID: 60414540-f243-27e6-0494-28c4af78e0a4
* Content: [System requirements for cloud deployments of Dynamics 365 Commerce - Commerce | Dynamics

[2021-02-01 09:40] karimelazzouni commented on #3118
Hi @sericks007 , can you please let us know what is the required changes? Just to make the document SF-friendly?

[2021-02-01 13:00] sericks007 commented on #3121
@gunavs, thanks for making us aware of the broken link.  The link has been removed -- the updated content will be published soon.

[2021-02-01 13:00] #3121 closed

[2021-02-01 14:02] karimelazzouni commented on #3118
Hi @BrianBennet , I have reviewed the page in question and I cannot see any sections that would not apply to self-service environments. Can you please point out the portions which you thought were outdated?

[2021-02-01 14:20] sericks007 commented on #3124
@AngelMarshall, please update the content as suggested.

[2021-02-01 16:15] BrianBennet commented on #3118
Sure
Self service environments run batch jobs on new BatchAOS server
There are no AOS1 or 2 to select

[cid:6dab6b95-aa45-4742-9198-27912af13f2f]

Brian Bennet
IT Manager

Email: Brian.Bennet@cbg.co.uk
Tel: +44 (0) 1243 792600
DDI: +44 (0) 1243 792515
Mob: +44 (0) 7764 960147

________________________________
From: Karim El Azzouni <notifications@github.com>
Sent: 01 February 2021 14:02
To: Micros

[2021-02-01 16:41] vadalmon opened #3129 "Update limitations for "last delivery date" Date of VAT Register option"
Need to add this statement or similar to Date of VAT Register option "last delivery date":

Scenario when an invoice is posted based on several SOs is out of scope for "Last delivery date" option of Date of VAT register.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b2051ccc-2d3a-563f-5d85-0947083341fa
* Version Indep

[2021-02-01 18:13] jopankow opened #3130 "Typo"
There is a typo at the top of the page. The important note heading is typed as "[!IMPORTAMT]" which I assume should be the word "important" (or possibly "[!Note]" -- I don't know all of the available formatting tags). This typo causes the formatting to be incorrect. Here is a screenshot:

![image](https://user-images.githubusercontent.com/43622120/106499471-40c54f00-6486-11eb-8027-6b100ca3fc75.png

[2021-02-01 18:43] sericks007 commented on #3130
@jopankow, thanks for letting us know! This has been fixed.  The updated content will be published soon.

[2021-02-01 18:43] #3130 closed

[2021-02-01 20:47] mattgo79-MSFT opened #3131 "Slight Grammatical Mistake"
Hello, in the third paragraph, it says, "...scheduled to run, the job exit early without rebuilding any indexes."  But it should really say, "...scheduled to run, the job **exits** early without rebuilding any indexes."

I am a Microsoft FTE and my alias is GOMATT.

Thank you!!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

[2021-02-01 21:04] sericks007 commented on #3131
@mattgo79-MSFT, thanks for letting us know about the typo!  It's been fixed. The updated content will be published soon.

[2021-02-01 21:04] #3131 closed

[2021-02-01 22:02] mdtahoe opened #3133 "What about existing CE and new F&O?"
This documentation says, "If an account exists in Dataverse, but it doesn't exist in the Finance and Operations app, it won't be initialized as part of this flow."

So, I might import them to F&O before the process except that I can't modify the account numbers to match the company code requirement in F&O because Dual Write requires the party exist.

How do I go about having parties on the account

[2021-02-02 03:11] rubencdelgado commented on #1994
Publishing PR to address this issue.

[2021-02-02 04:02] sbaber82 opened #3134 "Develop and Test environment is no longer available as part of subscription."
As part of the subscription, customers just get one Production and one Sandbox environment. Why did it say that Customers are provided with one free "develop and test" environment hosted in Microsoft's Azure subscription?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fe3913a6-4daa-9973-6f0b-d7ae4c1007c2
* Version Inde

[2021-02-02 09:56] freekwillem92 opened #3135 "Clarification needed."
Can this be clarified:

"Generate the beta keys for your offering in LCS."  **How?**
Enable the beta keys for your offering for your user in LCS. **How?**
Contact the Microsoft Inventory Visibility product team and provide an environment ID where you want to deploy the Inventory Visibility Add-in. **What email address??**
If you have any questions about these prerequisites, please contact the Inve

[2021-02-02 14:32] #3100 closed

[2021-02-02 18:58] tonyafehr commented on #3126
@andyNewnham, thanks for the feedback.
@mugunthanm, please review.

[2021-02-02 19:00] tonyafehr commented on #3127
@Izmiyash, thanks for the feedback.
@jashanno , please review.

[2021-02-02 19:01] tonyafehr commented on #3128
@Izmiyash, thanks for the feedback.
@jashanno , please review.

[2021-02-02 19:02] tonyafehr commented on #3129
@vadalmon, thanks for the feedback.
@LizaGolub, please review.

[2021-02-02 19:03] tonyafehr commented on #3133
@RamaKrishnamoorthy, please review.

[2021-02-02 19:04] tonyafehr commented on #3134
@laneswenka, please review.

[2021-02-02 19:06] tonyafehr commented on #3135
@freekwillem92, thanks for the feedback.
@kamaybac, please assign to the appropriate author.

[2021-02-02 19:12] tonyafehr commented on #3115
Bug 551876 logged to track this issue.

[2021-02-02 19:14] tonyafehr commented on #3116
Bug 551877 logged to track this issue.

[2021-02-03 12:06] kamaybac commented on #3135
@sherry-zheng , please take a look at this documentation feedback, thanks.

[2021-02-03 13:23] sericks007 commented on #3119
Bug 552134 has been assigned to the PM.

[2021-02-03 13:27] sericks007 commented on #3118
Bug 552137 has been logged to track this issue.

[2021-02-03 19:40] sabinn-msft commented on #2982
You mean account number, msdyn_company. The screenshots were taken before we installed the company solution. So, they aren't necessarily wrong as the main goal here is to let our customers know that the value of the alternative key in Dataverse must match the key that is defined in the Finance and Operations app. Please let me know if this doesn't help. Much thanks for reporting.

[2021-02-03 20:15] #1913 closed

[2021-02-03 20:21] RobinARH commented on #2739
We won't be updating this article. -Robin

[2021-02-03 20:21] #2739 closed

[2021-02-03 23:56] sabinn-msft commented on #2982
Note: We will be updating the screenshots with the company solution

[2021-02-04 00:49] dodiggitydag commented on #2982
Thank you!!

Get Outlook<https://aka.ms/qtex0l> for iOS
________________________________
From: Sabin Nair <notifications@github.com>
Sent: Wednesday, February 3, 2021 5:57:13 PM
To: MicrosoftDocs/dynamics-365-unified-operations-public <dynamics-365-unified-operations-public@noreply.github.com>
Cc: Dag Calafell, III <dodiggitydag@gmail.com>; Author <author@noreply.github.com>
Subject: Re: [Microsof

[2021-02-04 01:15] RobinARH commented on #2982
The new images are published now.

[2021-02-04 01:15] #2982 closed

[2021-02-04 18:37] RobinARH commented on #2387
We won't be updating this topic.

[2021-02-04 18:37] #2387 closed

[2021-02-04 21:42] sheremetyeva opened #3139 "Please update Writage description"
Hi there,

Currently, this page contains a recommendation to not use Writage for editing Markdown files in Word because of the possibility of lost metadata tags and some formatting.

Please note, that the latest version of Writage supports metadata tags in Markdown files. Writage was tested on Microsoft Dynamics documentation available on the GitHub (https://github.com/MicrosoftDocs/Dynamics-365-U

[2021-02-04 22:32] josaw1 commented on #3139
Thanks for the feedback. @RobinARH can you please review?

[2021-02-04 22:35] josaw1 commented on #3122
Thanks for contacting us. Unfortunately, we're unable to handle Support requests for the product here. To contact Support, consider one of the options described here: [Support contact options](https://docs.microsoft.com/en-us/dynamics365/unified-operations/dev-itpro/lifecycle-services/lcs-support). In particular, you might want to go to the [Dynamics 365 community page](https://community.dynamics.

[2021-02-04 22:35] #3122 closed

[2021-02-04 22:43] josaw1 commented on #3124
BUG 552829 created to track.

[2021-02-04 22:44] josaw1 commented on #3125
@ryanCcarlson can you please review this?

[2021-02-04 22:50] josaw1 commented on #3125
BUG 552830 created to track.

[2021-02-04 22:54] josaw1 commented on #3090
BUG 552834 created to track.

[2021-02-05 00:06] RobinARH commented on #2927
I updated this page with the correct link.

[2021-02-05 00:06] #2927 closed

[2021-02-05 00:41] josaw1 commented on #3139
This will be updated in the next few days.

[2021-02-05 00:41] #3139 closed

[2021-02-05 11:04] MattijsMIN opened #3140 "Transformation is not specified"
In the mapping between tables "CDS inventory on-hand requests" and "msdyn_inventoryonhandrequests" it is specified that data should be transformed when mapping following fields: "ISATPCALCULATION" <<  "msdyn_isatpcalculation"
However, the actual transformation is not specified.
How should this data be transformed?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.mic

[2021-02-05 11:06] edupont04 commented on #3139
@sheremetyeva Thank you for alerting us to this! We'll get the wording updated where applicable.

[2021-02-05 13:34] Smeedijzer opened #3141 "Explain usage of Active from / Active to fields and impact on overlap / validation"
Missing explanation on usage of Active from / Active to fields and their impact on overlap / validation

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f6d5f2af-279f-a76f-285e-361f67524006
* Version Independent ID: ed9c2f1f-61bf-8b12-6198-a17931fa9c7c
* Content: [Configure account structures - Finance | Dynamics 365](ht

[2021-02-05 21:46] josaw1 commented on #2993
Screenshot is being updated, thanks.

[2021-02-05 21:46] #2993 closed

[2021-02-06 18:19] KheeChan opened #3142 "Excel Add-In support for Office for Mac"
Information at "[Office client application and platform availability for Office Add-ins](url)" indicates the Excel Add-In is indeed support for Office for Mac for Office with M365 subscription and Office 2019 (local installed) as at Jan 26 2021.

Given that the last update of this page is April 26 2020, can we assume that the answer to the above question "[Does the Excel Add-in support Office for

[2021-02-08 09:09] liza-golub commented on #3129
@tonyafehr, Please review the suggested updated: https://github.com/MicrosoftDocs/Dynamics-365-Operations/pull/10382

[2021-02-08 16:37] jinniew commented on #3055
The document has been updated to add "Financial reporting transaction data version 3" to the list of items to be updated.

[2021-02-08 16:42] kfend commented on #3141
@Smeedijzer - thank you for the feedback.
@aprilolson - can you please take a look and consider updating the topic with this feedback? Thanks!

[2021-02-08 16:43] #3055 closed

[2021-02-08 16:43] roschlom commented on #3055
Thank you for your question! We appreciate the input on our content. Hope you have a good week!

[2021-02-08 17:05] kfend commented on #3141
@RyanCCarlson2 - can you please take a look and consider updating the topic with this feedback? Thanks!

[2021-02-08 17:23] RyanCCarlson2 commented on #3141
Yes, got it.

Ryan Carlson
Principal PM - Dynamics 365 for Operations | GFM team | 701.492.3568 (w)

From: Kristin Fender <notifications@github.com>
Sent: Monday, February 8, 2021 11:06 AM
To: MicrosoftDocs/dynamics-365-unified-operations-public <dynamics-365-unified-operations-public@noreply.github.com>
Cc: Ryan Carlson <Ryan.Carlson@microsoft.com>; Mention <mention@noreply.github.com>
Subject: R

[2021-02-08 20:07] #3129 closed

[2021-02-08 20:19] JuraRabol commented on #3119
Hello,

When can I have a solution how to import the file for Aisino software? It is a legal requirement and I need it no later than this week.

Thank you

Kind Regards

Jura Rabøl
Senior Consultant | CuroGens<http://www.curogens.com/>
M +34630870523

From: Sally Erickson <notifications@github.com>
Sent: Wednesday, February 3, 2021 14:23
To: MicrosoftDocs/dynamics-365-unified-operations-public <dy

[2021-02-08 21:34] sericks007 commented on #3119
Bug 552134 has been assigned to the PM for review of the documentation.

If you are having issues with the product, you need to log a support request. To contact Support, consider one of the options described here: [Support contact options](https://docs.microsoft.com/en-us/dynamics365/unified-operations/dev-itpro/lifecycle-services/lcs-support). In particular, you might want to go to the [Dynamics

[2021-02-08 22:04] RobinARH commented on #3110
Bug 553712 created to track this issue.

[2021-02-08 22:09] RobinARH commented on #3111
Bug 553714 created to track this issue.

[2021-02-08 22:14] RobinARH commented on #3112
Bug 553715 created to track this issue.

[2021-02-09 00:07] RobinARH commented on #2978
We updated the docs to address this.

[2021-02-09 00:07] #2978 closed

[2021-02-09 00:40] pvillads commented on #3111
The changes were checked into main on Nov 18 last year.

Pull request 100257: First version of simplified SQL Injectionattack strategy that does not need C++ changes - Repos (visualstudio.com)<https://msdyneng.visualstudio.com/FinOps/_git/Platform/pullrequest/100257>

Currently my box does have the changes. @Marcos Calderon Macias<mailto:marcosc@microsoft.com> do you have ideas as to why they woul

[2021-02-09 04:28] jkbirch opened #3144 "Error in instructions"
"Empty location with no incoming work – Use this strategy to locate empty locations. A location is considered empty if it has no physical inventory and no expected incoming work. You can use this strategy only for location directives that have a work type of Pick."

Empty location with no incoming work requires a location with a work type of PUT, not pick. You cannot pick material from an empty lo

[2021-02-09 06:47] v-oloski commented on #3119
Hello,
To import a response file, please follow the next steps (after clicking **Import** button):
1. Select model mapping GTS Import format (Aisino) (CN)
2. Click **Browse**  button to find file you want to upload
3. Click **Upload** button. After uploading the file, the **OK** button is available.

_Best regards,
Olga_

[2021-02-09 12:18] karimelazzouni commented on #3118
Hey @BrianBennet , thanks for the feedback. Please note that in self-service environment; the batch instances are prefixed with `BATCHAOS`; but they are still enumerated as such `BATCHAOS1`, `BATCHAOS2`, etc...
There are actually environments which have more than one batch node.

The description in the documentation is **only given as an example of the naming of multiple batch servers**; but the c

[2021-02-09 12:33] #3118 closed

[2021-02-09 14:05] tonyafehr commented on #3144
@jkbirch, thanks for the feedback.
@Mirzaab, please review.

[2021-02-09 14:52] sericks007 commented on #3065
This content has been updated.

[2021-02-09 14:52] #3065 closed

[2021-02-09 15:03] #3119 closed

[2021-02-09 15:07] tonyafehr commented on #3081
This topic has been updated.

[2021-02-09 15:07] #3081 closed

[2021-02-09 15:13] tonyafehr commented on #3127
Bug 554065 logged to track this issue.

[2021-02-09 15:15] tonyafehr commented on #3128
Bug 554065 logged to track this issue.

[2021-02-09 15:18] tonyafehr commented on #3133
Bug 554067 logged to track this issue.

[2021-02-09 15:20] tonyafehr commented on #3134
Bug 554068 logged to track this issue.

[2021-02-09 15:22] tonyafehr commented on #3135
Bug 554069 logged to track this issue.

[2021-02-09 16:00] apierre2000 opened #3145 "This page is possibly outdated"
I had a customer who asked where is the 'Financial Insights' in D365FO.  It appears that this page is probably outdated based on the link below.

https://docs.microsoft.com/en-us/dynamics365-release-plan/2020wave2/finance-operations/dynamics365-finance/financials-embedded-powerbi-enhanced-renamed
![image](https://user-images.githubusercontent.com/78810698/107390761-a1bfd900-6abd-11eb-8071-334451e0

[2021-02-09 20:16] tonyafehr commented on #3145
@apierre2000, thanks for the feedback.
@kweekley and @roschlom, please review.

[2021-02-10 02:10] pvillads commented on #3111
The changes went into platform update (PU) 41 which corresponds to 10.0.17, not in 10.0.16, which is platform update 40. We will not do a hotfix to port this back to PU 40.

@Robin Reynolds-Haertle<mailto:rhaertle@microsoft.com>  I have resolved the bug. Please do anything needed from your side.

BR PV

From: Peter Villadsen
Sent: Monday, February 8, 2021 4:40 PM
To: MicrosoftDocs/dynamics-365-uni

[2021-02-10 15:51] christophewyns opened #3146 "Apply a package to a production environment by using LCS > On Self-Service type environments"
Hello,

Can you please update the section "Apply a package to a production environment by using LCS" for Self-service type PRODUCTION environments ?
The change being that you need to mark the deployable package as "Release candidate" from the "Environment change history" on the Standard acceptance test environment where it was deployed, in place of doing it from the Asset library.

Thank you.

---

[2021-02-10 15:56] sericks007 commented on #3146
@christophewyns, thank you for providing this feedback.

@laneswenka, please review and update the content, as suggested.

[2021-02-10 17:05] sericks007 commented on #3110
The "Batch job to handle SQL index defragmentation" content has been removed, as the feature has been removed. Please see the [Removed or deprecated platform features](https://docs.microsoft.com/en-us/dynamics365/fin-ops-core/dev-itpro/get-started/removed-deprecated-features-platform-updates#batch-job-to-handle-sql-index-defragmentation) content for more information.

[2021-02-10 17:05] #3110 closed

[2021-02-10 17:07] jashanno commented on #3073
Hello @pkrawczykObj ,

Trial environments do not allow for the download and use of Modern POS.  It would be best to procure a demo environment from sales or solution architecture teams to get a fully functional environment where you can test any scenario you desire.

[2021-02-10 17:09] #3073 closed

[2021-02-10 18:25] RobinARH commented on #3111
I updated the topic to include the release platform. It'll go live later today.

[2021-02-10 18:25] #3111 closed

[2021-02-10 19:06] mattgo79-MSFT opened #3147 "Slight Typo"
Hi.  Towards the beginning of this documentation, it states that "A data entity is a conceptual abstraction and encapsulation of one OF more underlying tables."  It should be "...of one OR more underlying tables."

I am a Microsoft FTE and my alias is GOMATT.  Thank you!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1

[2021-02-10 19:27] sericks007 commented on #3147
@mattgo79-MSFT, thanks for letting us know about this! I've corrected the typo -- the updated content will be published later today. Thanks again!

[2021-02-10 19:27] #3147 closed

[2021-02-11 08:41] valerymoskalenko opened #3148 "There is no information about the linked Common Data Service (CDS) Environment on FSCM Database refresh"
There is no information about the linked Common Data Service (CDS) Environment.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9d28e8cc-5110-f01b-db76-94479ec2fa91
* Version Independent ID: f0710707-9ff2-84a1-30c7-1f0d44e3a0d7
* Content: [Refresh database - Finance & Operations | Dynamics 365](https://docs.microsoft.co

[2021-02-11 15:13] tclayton72 opened #3149 "Is there an indicator that a feature will be mandatory some time in the future?"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 51e63496-19e3-182e-c19d-027a0a5f6acf
* Version Independent ID: c8a51a1e-25e8-fbe3-4580-baca9046b7b0
* Content: [Feature management overview - Finance & Operations | Dynamics 365](https://docs.microsoft.com/en-us/dynamics365/fin-ops-core/fin-ops/get-st

[2021-02-11 19:12] jopankow opened #3151 "Please update for new batch abort functionality"
Hello team,

Please update this page with details on how to use the new batch abort feature released with PU40 and backported to PU37-PU39, such as described here: https://fix.lcs.dynamics.com/issue/results/?q=4571097

Please let me know if there are any questions

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 039578b3

[2021-02-11 23:19] josaw1 commented on #3151
Thanks for the comment. @sericks007, can you please review this?

[2021-02-11 23:21] josaw1 commented on #3149
Thanks for the question. @ChrisGarty, can you please review?

[2021-02-11 23:22] josaw1 commented on #3148
Thanks for your feedback. @laneswenka, can you please review?

[2021-02-12 01:04] jashanno commented on #3127
@Izmiyash You caught me just before we updated.  Good catch.

[2021-02-12 01:05] jashanno commented on #3128
@Izmiyash Again, good job.  Caught it before I could get the updates completed.  They are now updated.

[2021-02-12 06:23] Izmiyash commented on #3128
I still can see "Windows 7" in some place in this page and am afraid these may make confusion. appreciate if you can consider these part as well.
e.g.
https://docs.microsoft.com/en-us/dynamics365/commerce/get-started/system-requirements#supported-web-browsers
https://docs.microsoft.com/en-us/dynamics365/commerce/get-started/system-requirements#supported-web-browsers-for-cloud-pos

[2021-02-12 06:28] Izmiyash commented on #3127
I prefer having a note just below "Supported web browsers" part as well. (not just only after "Supported web browsers for Cloud POS")

[2021-02-12 17:09] andypicking opened #3154 "Feature release version ?"
Hi, can you identify which version of D365FO this new feature appears in - we have checked 10.0.16 and cannot see it ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 18ac9c7f-45bb-f8b0-5a28-7dc36ff312b1
* Version Independent ID: 45a7f839-cf3e-4cdb-1c01-d901dad2e74b
* Content: [Manage standard cost updates - Supply Chai

[2021-02-12 18:14] jasongre commented on #3142
@KheeChan the Finance and Operations Excel add-in would still have additional work to add Mac support, so the current documentation is still correct.

[2021-02-12 19:58] #3142 closed

[2021-02-12 21:35] charlesmoy commented on #2416
It seems the responses in this string are after a user has the functionality with 'private preview' access.  How to I get private preview so that the impact analysis/churn usage report is showing in the hamburger of my LCS?

Please advise,
Chuck

[2021-02-12 22:37] kfend commented on #3154
@andypicking - thanks for the question.
@kamaybac - can you address this question?

[2021-02-15 20:46] JuraRabol commented on #3119
Dear Olga,

What kind of file I should Import?

This is a setup so I cannot really import anything I would like.

Kind Regads

Jura Rabøl
Senior Consultant | CuroGens<http://www.curogens.com/>
M +34630870523

From: Olga Oskina <notifications@github.com>
Sent: Tuesday, February 9, 2021 07:47
To: MicrosoftDocs/dynamics-365-unified-operations-public <dynamics-365-unified-operations-public@noreply.git

[2021-02-16 07:14] v-oloski commented on #3119
Hello Jura,

The file format is the same as a user export from Aisino/BaiWang system.
The process is following:

  1.  A user export files from the VAT invoice integration page list (D365)
  2.  A user import the exported file into Aisino/BaiWang application and the application assigns every invoice the system invoice number
  3.  A user export  invoices from Aisino/BaiWang application and these i

[2021-02-16 11:44] dfroslieMSFT commented on #2416
Hi Chuck - Here's the link for the preview sign up:   https://forms.office.com/Pages/ResponsePage.aspx?id=v4j5cvGGr0GRqy180BHbR56j8lZs0FdAvwT75_WNFyxUMUpQQ1dOSUExUFpFS082MEZHQjhERjVVTi4u

[2021-02-16 18:55] #3127 closed

[2021-02-16 19:04] tonyafehr commented on #3145
Bug 555833 logged to track this issue.

[2021-02-16 19:05] tonyafehr commented on #3144
Bug 555831 logged to track this issue.

[2021-02-16 19:10] jashanno commented on #3128
@Izmiyash Thank you again.  I have a note for the second link you listed for Cloud POS regarding support removal in the .17 release and beyond, but I had not copied that note into the Headquarters browser section.  I will make a quick update for that hopefully this week as I'm currently quite busy on other priorities at the moment.

[2021-02-16 20:42] sericks007 commented on #3151
@karimelazzouni, please update this content.

[2021-02-17 12:45] kamaybac commented on #3154
@andypicking , the feature was [released in 10.0.17](https://docs.microsoft.com/en-us/dynamics365/supply-chain/get-started/whats-new-scm-10-0-17), which is why you don't see it. As mentioned in this topic, you'll need to enable it in feature management in 10.0.17.

[2021-02-17 12:45] #3154 closed

[2021-02-17 13:30] sericks007 commented on #3146
Bug 9347979 has been logged to track this issue.

[2021-02-17 14:10] sericks007 commented on #3103
This content has been updated.

[2021-02-17 14:10] #3103 closed

[2021-02-17 19:31] danielzook opened #3158 "Note about Dev environment "hosted by Microsoft" is out of date"
The note below the heading "Download and restore the backup to the development environment" states: "Developer environments that are hosted by Microsoft.  Developer environments that are hosted by Microsoft have limited drive space. We recommend that most AX 2012 customers host their own developer environment by using cloud-hosted environments."

This is out of date.  Per this article: https://doc

[2021-02-18 19:04] tonyafehr commented on #3061
This module is documented along with other Checkout modules here: https://docs.microsoft.com/en-us/dynamics365/commerce/pickup-info-module

[2021-02-18 19:04] #3061 closed

[2021-02-19 14:52] Moutasema opened #3162 "Outdated extended support date"
Extended support period was pushed by 6 months due to COVID impact. This means that ended support period should continue until April 12, 2022 and not October 12,2021.

This needs to be corrected to align with https://docs.microsoft.com/en-us/lifecycle/products/dynamics-ax-2009

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

*

[2021-02-19 15:44] JimChw opened #3163 "Casing in XML and XSLT"
Not everyone is XML/XSLT wizards.  For debugging, it may be nice to mention that XML names in the XSLT must match the casing of  the nodes in the XML.  At some point in the past, the casing of the Positive Pay XML in D365FO changed from mixed-case to all uppercase.  Positive Pay XSLT transformations stopped working because of this.  It was difficult to debug since a working XSLT seems to be requir

[2021-02-19 19:26] RobinARH commented on #2418
This topic has been updated.

[2021-02-19 19:26] #2418 closed

[2021-02-22 04:41] andreabichsel commented on #3158
@laneswenka Can you take a look? Thanks!

[2021-02-22 04:43] andreabichsel commented on #3163
@panolte Can you take a look? Thanks!

[2021-02-22 13:49] sericks007 commented on #3162
@Moutasema, thank you for providing this feedback!

@ShellyBakke, please update the content.

[2021-02-22 14:06] MichaelFruergaardPontoppidan opened #3167 "The section about in-grid filtering is not correct"
Repro:
1. Use USMF
2. Apply a filter on ItemId=M0003
3. Notice OnOrder = 1405.
4. In the grid, apply a filter on OnOrder where OnOder "Greater than or equal" 600
5. Notice OnOrder is = 871

I.e. this kind of filter applies to the source records, and not to the aggregated values, as this doc suggests.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ G

[2021-02-22 19:51] roschlom commented on #3167
Thanks for the feedback, Michael. We'll look into it.

[2021-02-23 18:48] kfend commented on #3070
Bug 558329 created to track this issue

[2021-02-23 18:51] kfend commented on #3141
Bug 558331 created to track this issue.

[2021-02-23 19:25] fredmd-msft opened #3169 "Extract SYSFLIGHTING documentation to its own page, with more clear instructions"
I needed to find an official documentation on how to enable a flight and the only one that I could see under the Microsoft official docs is a section within some other documentation.

I would like to suggest that we extract that section as a standalone document that we can refer customers to when they need to make changes to their flight configuration. This will not only help us documenting bug fi

[2021-02-23 20:54] EvgehaNovikov opened #3170 "1"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 27f678d1-840c-d7d3-1e97-ca80666328c2
* Version Independent ID: 2a0f90df-f8eb-d9e2-d5be-881734e72e21
* Content: [Create Commerce payment packaging for Finance and Operations deployment - Commerce | Dynamics 365](https://docs.microsoft.com/en-us/dynamic

[2021-02-24 16:27] roschlom commented on #3170
Thanks for responding to this topic; we appreciate your taking time to provide feedback. Unfortunately, your comment didn't come through. If you'll reenter your comment, we'll review it and act on it, if we can. Thanks again!

[2021-02-24 18:30] dhand01 opened #3173 "Link to Symbol Font page is broken"
Link to symbol font page is broken. Need a way to view the font release documentation.

[Enter feedback here]

---
#### Document Details

<span class="emoji-outer emoji-sizer"><span class="emoji-inner" style="background: url(chrome-extension://gaoflciahikhligngeccdecgfjngejlh/emoji-data/sheet_apple_32.png);background-position:95.94594594594594% 75.96944770857814%;background-size:5418.75% 5418.75%"

[2021-02-24 18:41] RobinARH commented on #3173
The symbol font files are here: https://docs.microsoft.com/en-us/dynamics/s-e/ax/axsymbolfont_60.

I'll update the topic.

[2021-02-25 10:09] jimwillsher opened #3174 "Additional clarity would be helpful"
Hi, the sentence

"In the case of a self-service deployment environment, the base product version might change, depending on the update that is marked as a release candidate in the sandbox environment."

Please could you provide details of the rules behind this, e.g. what defines the "might".

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub is

[2021-02-25 14:54] mattgo79-MSFT opened #3177 "Slight Typo"
Good morning,

There is a slight typo towards the beginning of the documentation.  In the bullet point that defines what the Primary Table is, it reads, "In the above example, the **CustGrouptable** would be the primary table."  It should read, "In the above example, the CustGroup table would be the primary table."  There should be a space in between Group and table. Thank you!

---
#### Document

[2021-02-25 20:29] ronsonntag54 opened #3178 "LCS Restart service references this page but there is no "restart" explanation"
When using LCS Maintain > Restart service and then in right-panel select the link ... "restart services" topic, it links to this page. But, this page does not have any explanation on restarting services and does not explain the recent changes to the list of services that can be restarted.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue

[2021-02-25 20:54] roschlom commented on #3174
Thank you for the input on our documentation.

[2021-02-25 21:18] roschlom commented on #3177
Thank you letting us know about the issue. We appreciate the feedback!

[2021-02-25 21:38] roschlom commented on #3178
Thanks for your input on this topic. We appreciate the feedback!

[2021-02-25 22:21] vavd opened #3179 "Link Demo data scripts is outdated"
The link "Demo data scripts" in the [Scenario scripts](https://docs.microsoft.com/en-us/dynamics365/fin-ops-core/dev-itpro/data-entities/generate-demo-data-packages#scenario-scripts) section is outdated.
It refers to the CustomerSource portal which has been retired.
Please update the link.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue

[2021-02-26 04:42] boonsongcha opened #3180 "Page "Purchase requisition consolidation" not found in D365"
Page  "Purchase requisition consolidation" not found in D365

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 64e0b952-06c2-1c2c-aa04-dd972d200a2b
* Version Independent ID: a98addf4-b0e2-f503-b40b-4ae182114c78
* Content: [Purchase requisition overview - Supply Chain Management | Dynamics 365](https://docs.microsoft.com/e

[2021-02-26 04:47] boonsongcha commented on #3180
It's "Consolidation opportunities" at Procurement and Sourcing > Purchase requisitions > Approved purchase requisition processing in D365

[2021-02-26 14:12] tonyafehr commented on #3144
We've updated the instructions. These updates will be published shortly.

[2021-02-26 14:12] #3144 closed

[2021-02-26 15:03] jdefesche1 opened #3182 "No description of zip, packageheader and manifest file"
There is no documentation on how the zip file should look like, particularly the packageheader and manifest files. There is no way to tell what each attributes means and if they are mandatory or not.

Any proper product should be accompanied with solid documentation.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 01b2c

[2021-02-26 15:59] RobvanB opened #3183 "Incorrect link?"
See snippet below - I don't think the link to 'Alerts as business events' below is valid for D365 Human Resources.
I think that link is only valid for D365 F&O.
If it *is* valid, then it is not clear at all on how to get the Power Automate Flow linked to the business event.

If you want to configure a workflow for the address changes, you can select the Send externally option on your alert rule, a

[2021-02-26 16:05] andreabichsel commented on #3183
@jcart1106 Can you take a look? Thanks!

[2021-02-26 21:47] #1444 closed

[2021-02-26 21:47] #1517 closed

[2021-02-26 21:49] #1773 closed

[2021-02-26 21:51] #1886 closed

[2021-02-26 21:52] #2932 closed

[2021-02-26 21:53] #1906 closed

[2021-02-26 21:55] #3128 closed

[2021-02-26 21:58] #3095 closed

[2021-02-26 22:03] #2968 closed

[2021-02-26 22:04] #2937 closed

[2021-02-26 22:05] tonyafehr commented on #2933
Bug 527681 logged to track this issue.

[2021-02-26 22:07] #2846 closed

[2021-02-26 22:08] #2779 closed

[2021-02-26 22:09] tonyafehr commented on #2676
Note that if you make an amendment just to allow vendor questions, then when sending the RFQ will clear existing responses.

[2021-02-26 22:09] #2676 closed

[2021-02-26 22:11] #2671 closed

[2021-02-26 22:15] #2434 closed

[2021-02-27 09:40] ibruynin opened #3184 "Dynamics Symbol font links to dead page"
When clicking on the link on this page we end up here: https://mbs.microsoft.com/Pages/csretirement.aspx

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a5103263-c61e-38db-e6a6-354ed41ee61e
* Version Independent ID: ea0e7fef-f321-5f74-465e-e72accc046ed
* Content: [Dynamics Symbol font - Finance & Operations | Dynamics 3

[2021-02-27 10:01] #3184 closed

[2021-02-27 10:02] ibruynin commented on #3184
duplicate of #3173
sorry about that ;)

[2021-02-27 12:47] artemt1 opened #3185 ""Object reference not set to an instance of an object" error during data entity publishing"
Columstore indexes are supported from S3 Azure SQL tier level and if you want to use S0 (or basic) for development/testing, you need to disable this option, or upgrade Azure SQL to S3
Else you will get "Object reference not set to an instance of an object" error during data entity publishing.

More details here:
https://community.dynamics.com/365/financeandoperations/f/dynamics-365-for-finance-and

[2021-02-28 17:41] kurthatlevik-inspirit365 opened #3187 "Error in texts"
There are a error on the caching option description.  I think it should be defined that the caching option should be set to enabled on the caching rule in Azure Front Door Service:

In the text saying :
To set up a caching rule in Azure Front Door Service, follow these steps.
.
.
10. Set the Caching option to Disabled. <-- this should be "Enabled"

---
#### Document Details

⚠ *Do not edit this se

[2021-03-01 02:08] roschlom commented on #3185
Thanks for commenting on our documentation. We appreciate the feedback.

[2021-03-01 17:31] RyanCCarlson2 commented on #3125
https://github.com/MicrosoftDocs/dynamics-365-unified-operations-public/issues/3125
To update this doc.

[2021-03-01 17:37] #3125 closed

[2021-03-01 18:55] harishmohanbabu opened #3190 "Link provided in 'Golden configuration promotion' is broken"
Hello,

In the middle of this page, there is a link to '**Golden configuration promotion**'  (Under section _When refreshing from sandbox environment to production environment_);   this link is broken.

Can this be resolved please.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9d28e8cc-5110-f01b-db76-94479ec2fa91
* Ve

[2021-03-01 19:05] sericks007 commented on #3190
@harishmohanbabu, thanks for making us aware of this issue!  I've fixed the link.  The update will be published soon.

The link goes to this topic: [Golden configuration promotion](https://docs.microsoft.com/en-us/dynamics365/fin-ops-core/dev-itpro/database/dbmovement-scenario-goldenconfig).

[2021-03-01 19:05] #3190 closed

[2021-03-01 23:05] #1323 closed

[2021-03-02 03:01] jeevanbalanmanoj opened #3194 "Global administrator in place ofAzure Active Directory tenant administrator rights"
[Enter feedback here]
"You will need Azure Active Directory tenant administrator rights to perform these steps" doesn't clarify what role is needed to create the first-party service principal. Please change it You will need Azure Active Directory Global administrator rights to perform these steps.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitH

[2021-03-02 12:08] kurthatlevik-inspirit365 opened #3200 "Microsoft Managed VM's are no longer available"
Microsoft Managed VM's are no longer available, so this page is out-of-date.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: af500682-8f80-9045-bba6-4c7214ec2ba7
* Version Independent ID: 93452b64-0d32-6be7-529f-e7cba806a5df
* Content: [Development in cloud-hosted environments without admin access - Commerce | Dynamics

[2021-03-02 20:11] mugunthanm commented on #3200
Updated the doc.

[2021-03-02 20:19] tonyafehr commented on #3126
The documentation for this will be updated later this week.

[2021-03-02 20:19] #3126 closed

[2021-03-02 20:22] kfend commented on #3194
@jeevanbalanmanoj - thank you for this feedback.
@MilindaV2 - can you please take a look at this and update the topic?

[2021-03-02 20:23] kfend commented on #3200
@kurthatlevik-inspirit365 - thanks for this feedback.
@mugunthanm - thank you for updating the topic so quickly!

[2021-03-02 20:23] #3200 closed

[2021-03-02 21:41] roschlom commented on #3179
Thank for the input on our documentation. We really appreciate it!

[2021-03-02 22:33] roschlom commented on #3180
Thank you for the input on our documentation. We really appreciate it.

[2021-03-02 22:46] roschlom commented on #3182
Thank you for the input on our documentation. We really appreciate it.

[2021-03-03 02:28] turbozapekanka opened #3202 "Partner Trial link is dead"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7a274fef-425c-141b-d664-ef23d19ef50a
* Version Independent ID: cd2c69ea-ad19-2313-e22e-eda706ceff9e
* Content: [Get evaluation copies - Finance & Operations | Dynamics 365](https://docs.microsoft.com/en-us/dynamics365/fin-ops-core/dev-itpro/dev-tools/

[2021-03-04 14:51] andypicking opened #3207 "Deprecation date is misleading when compared to planning optimisation fit analysis"
The article states that the deprecation date for master planning in manufacturing scenarios is October 2021. However this is misleading since many of the features required in manufacturing scenarios (I counted 16) have an expected availability of October 2021 to April 2021 according to this page - https://docs.microsoft.com/en-us/dynamics365/fin-ops-core/fin-ops/get-started/public-preview-releases

[2021-03-04 15:37] CaptainCowell commented on #3207
I concur. The situation for customers using Master planning with production scenarios is currently very confusing and unclear - both in Microsoft's documents and in recent TechTalks, etc. - and leaves such customers unable to make any firm plans for testing and migration activities and timescales. Much more clarity is needed from Microsoft on this.

Regards,
Andrew Cowell

[2021-03-04 15:47] PeterKCinteros opened #3208 "Please add prerequisites"
After investigation we found out that the batch job "Process automation polling system job" must be running for the Process automation to work. It would be good if that is mentioned in the document.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4c450d3f-251f-d2cb-beac-aa299906a2f7
* Version Independent ID: ad04c997-13

[2021-03-05 07:41] pfoolen opened #3211 "please update the release schedule"
Hi,

We are plannig a go-live with 5 iterations. Therefor we need to know when updates are available after july.
Can you please update the release schedule so we can make a proper descision on when to adopt which update.

Kind Regards,
Pieter Foolen

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e7dcb285-f32c-c92e-fe49

[2021-03-05 16:56] jinniew commented on #3145
I have edited the Financial Insights document and updated it to reflect the current Financial Analysis dashboard.

https://docs.microsoft.com/en-us/dynamics365/fin-ops-core/dev-itpro/analytics/financial-analysis

[2021-03-05 17:41] #3145 closed

[2021-03-08 13:17] mpburtt opened #3213 "Documentation not updated with impact from Service Fabric migration"
The LCS pages on diagnostic environment monitoring doesn't seem to have been updated following the loss of a number of features arising from the migration to service fabric. There's a number of features included that are no longer available and there's no information on what alternatives we have available.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.c

[2021-03-08 14:04] RobvanB opened #3214 "Wrong link for CSS?"
This snippet
Modify the module CSS to change any of a module's styling.

links to the same page as this (which is 2 lines above it):

CSS overrides are used to override any module's Cascading Style Sheets (CSS).

Not sure if that is intentional or if it is supposed to be a different link?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue

[2021-03-08 18:53] josaw1 commented on #3214
The link was updated and the fix will go live today. Thanks!

[2021-03-08 18:53] #3214 closed

[2021-03-08 23:54] josaw1 commented on #3213
Hi, thank you for your feedback. BUG 9484337 created to track the issue.

[2021-03-08 23:58] josaw1 commented on #3148
BUG 562253 created to track.

[2021-03-09 00:04] josaw1 commented on #3149
BUG 562256 created to track.

[2021-03-09 00:13] josaw1 commented on #3151
BUG 562257 created to track.

[2021-03-09 09:48] krishnatvs opened #3215 "Cash Flow Forecasting"
[Very well explained]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2efbd7a4-7398-66b9-2080-5e07235c7b8c
* Version Independent ID: aac42b84-f20b-90af-b6a7-094ec4b4837f
* Content: [Cash flow forecasting - Finance | Dynamics 365](https://docs.microsoft.com/en-us/dynamics365/finance/cash-bank-management/cash-flow-forecas

[2021-03-09 13:47] mcronqvist opened #3216 "Misunderstood Open/Closed principle"
Regarding the SOLID Open/Closed principle, you write that "Closed for modification" can be handled by code access modifiers. Thus, I think you have misunderstood this principle. Code access modifiers is merely a mechanism to provide the correct interface to the surrounding functionality and has nothing to do with this principle.

Closed for modification means that the functionality is finished/sea

[2021-03-09 14:13] MichaelFruergaardPontoppidan commented on #3216
Thank you for the feedback.

As you can see here, there are several interpretations of this principle:  Open–closed principle - Wikipedia<https://en.wikipedia.org/wiki/Open%E2%80%93closed_principle>

I’d be interested in learning more, can you point to some material explaining cases where a private method is considered not-closed for modification? As I see it, only the code author/owner can modify

[2021-03-10 00:04] josaw1 commented on #3215
Thank you for your feedback!

[2021-03-10 08:16] mcronqvist commented on #3216
Yeah, I see it can be interpreted that way. Generally, the Open/Closed principle is the most difficult SOLID principle to comprehend. Thus, I think people have been looking for another way to define this principle, to have a simpler, more understandable principle. And I can understand why. This principle is always up for discussion in specific scenarios.

As I understand the principle, it is all a

[2021-03-10 09:25] lilachh opened #3218 "The image displayed in the article make Cx confused"
Hi sir / madam,

The image make Cx assumed that this was configurable for bidirectional interaction
![image](https://user-images.githubusercontent.com/19548576/110606069-ca261a80-81c4-11eb-940c-d599add878d4.png)

but below state :
Product receipts (purchase order receipts in Dataverse) are managed by Supply Chain Management and can't be created from Dataverse if Supply Chain Management is installe

[2021-03-10 19:50] Bijan-Ghofranian opened #3220 "This how to guide is obsolete, it uses Over layering and not creating an Extension."
There is a major shortcoming in D365 F&O related to missing Financial dimensions when opening GL journal lines in Excel. Users want to be ale to enter journal lines including entering Financial Dimensions and saving it back to AX.
The how to article below was written in 2017 when over layering was still permitted i.e. adding a static method to DimensionCombinationEntity.  The issue is these instru

[2021-03-10 21:58] josaw1 commented on #3218
Thanks for your feedback. @RichardLuan can you please review this comment?

[2021-03-10 21:59] josaw1 commented on #3220
Thank you for your feedback. @RobinARH can you please take a look?

[2021-03-11 01:01] krettig opened #3221 "Unable to "Open RSAT from your desktop""
[Enter feedback here]
Under "Configuration", the first step is "Open RSAT from your desktop."

When I double-click the shortcut on the desktop, I get a Windows 10 pop-up asking me what application should handle the VBS file.  Need to add instructions on this page of what the user is supposed to do

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitH

[2021-03-11 15:49] kamaybac commented on #3135
@freekwillem92 , we have updated the topic to include the requested information. Thank you for pointing out these issues.

[2021-03-11 15:49] #3135 closed

[2021-03-11 18:05] josaw1 commented on #3221
Thanks for your feedback. @sericks007 can you please assign to the correct person?

[2021-03-12 11:28] FrankDahl commented on #3221
This message is not what users normally will experience. I presume this may occur if the user is restricted on the machine. Currently RSAT does not support restricted used that do not have access for running VBS scripts. With RSAT version 2.2 we will introduce an option to configure the machine to allow users that are do not have full access to run RSAT, this remove the need for running VBS script

[2021-03-12 16:50] d3fr0g opened #3222 "Referenced methods are obsolete."
SysDaInsertStatement.executeQuery is marked as obsolete. There might be other methods in the SysDa fw that are also marked as such.

The documentation would use some update.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2888e11c-17de-f90c-a48e-409baee04833
* Version Independent ID: b6f71c61-469e-46d8-9a7f-7cc5da547850

[2021-03-12 17:17] kfend commented on #3208
Bug 563715 created to track this.

[2021-03-12 17:19] kfend commented on #3211
Bug 563716 created to track this.

[2021-03-12 17:23] kfend commented on #3140
@RamaKrishnamoorthy - is this something you can take a look at and possibly address?

[2021-03-12 17:29] kfend commented on #3207
Bug 563719 created to track this.

[2021-03-12 18:58] josaw1 commented on #3222
Thank you for your feedback. @RobinARH can you please take a look?

[2021-03-13 06:41] BrianShook commented on #3187
Reviewed with engineering team. The "Set up a Caching Rule" section is being removed; "Set up rules in Azure Front Door Service" will remain as relevant section.

[2021-03-13 07:24] Bijan-Ghofranian commented on #3220
I found the solution. The over layering code is not required. No need to convert that to extension. Just take it out and it works.

[2021-03-14 12:17] Eshaghzadeha opened #3223 "One-voucher article does not consider localization needs for Norway"
There are several business routines that are important with the use of one-voucher in Norway:

1-Payments in / out
We sum up deposits and payments per. file received as the number of payments is many and the amount must correspond to the amounts the bank delivers on bank statements. As an example a customer which has thousands of payments per. day and many hundreds of payments per. day.

2-One-vou

[2021-03-15 05:49] zhenfangyan opened #3224 "Request to update docs about Self-service Production PITR"
There is PITR PROD to PROD feature available for Self-service environment, however this is no mentioned in the docs.

Further, in another doc. It still ask customer to submit a PIRT SR for it.
https://docs.microsoft.com/en-us/dynamics365/fin-ops-core/dev-itpro/database/database-point-in-time-restore
![image](https://user-images.githubusercontent.com/18294106/111109099-08d91d80-8595-11eb-8e6f-7e821

[2021-03-15 08:48] mcronqvist commented on #3216
The Open/Closed principle is one principle and, in my opinion, must be explained like that. You cannot have a class that is open for extension, but not closed for modification and vice versa. So, when people try to explain this principle by segregating the Open from the Closed subprinciple, that is when it gets complicated to understand and easy to misinterpret.

Again, this is of course my opinio

[2021-03-15 16:40] elviscooper opened #3225 "Wrong Currency in Example"
In the example for revaluation on Jan 31st, it gives the New accounting currency amount as
833.33 EUR (500 x 1.666667) but that amount should actually USD not EUR for the math to make sense

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a14ab42c-bbd3-d732-9106-477af7248391
* Version Independent ID: 5ab5197d-5aaf-7720-8

[2021-03-15 18:57] #3220 closed

[2021-03-15 21:49] #3216 closed

[2021-03-15 21:51] josaw1 commented on #3218
@kamaybac can you please assign this issue to the correct person? Thanks.

[2021-03-15 21:53] josaw1 commented on #3218
BUG 564237 creted to track this.

[2021-03-15 21:53] #3221 closed

[2021-03-15 21:55] josaw1 commented on #3222
BUG 564238 created to track the issue.

[2021-03-15 22:45] JOLSO opened #3226 "Technical reference report download page for 10.0.16"
[https://docs.microsoft.com/en-us/dynamics/s-e/global/axtechrefrep_61 - do you have the download for 10.0.16? I see the latest download is for 10.0.13.  TIA!  Jackie Olson ]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a857d13c-e3dc-2c43-c49f-3d94675ca768
* Version Independent ID: 7e5ad255-936d-fad8-8e44-f161ab94ef8d

[2021-03-16 00:17] RobinARH commented on #3202
I updated the link and the updated topic will go live tonight.

[2021-03-16 00:17] #3202 closed

[2021-03-16 08:11] kamaybac commented on #3218
I was contacted about this issue by email last week and have fixed it already. I'll close the bug too.

[2021-03-16 08:13] #3218 closed

[2021-03-16 11:25] sericks007 commented on #3226
@JOLSO - Hi Jackie! Thanks for posting your question here.

@RobinARH, can you please respond?

[2021-03-16 22:39] #3187 closed

[2021-03-17 18:05] RobinARH commented on #3226
We run these reports on the developer VHDs that are released twice a year. The next report will go out after the April release.

If you want to run the reports more often, the PowerShell scripts are on GitHub: https://github.com/microsoft/fin-ops-doc-scripts.

There’s a link to the GitHub repo on this page: https://docs.microsoft.com/en-us/dynamics365/fin-ops-core/dev-itpro/data-entities/data-enti

[2021-03-17 18:05] #3226 closed

[2021-03-17 18:47] CaptainCowell opened #3228 "The 'Technical Reference Reports' link on this page may be incomplete (?)"
The 'Technical Reference Reports' link on this page is:  https://docs.microsoft.com/en-us/dynamics/s-e/

I believe it should be as follows (?) :  https://docs.microsoft.com/en-us/dynamics/s-e/global/axtechrefrep_61

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 04fb7618-b5ce-b783-04d6-5f97a80b77d1
* Version Independent

[2021-03-17 19:45] roschlom commented on #3163
Bug 3163 was created to track this.

[2021-03-17 19:49] roschlom commented on #3177
This issue has been addressed now. Thanks again for the feedback!

[2021-03-17 19:49] #3177 closed

[2021-03-17 23:32] RobinARH commented on #3228
This is fixed and will go live tonight. - Robin

[2021-03-17 23:32] #3228 closed

[2021-03-18 10:10] arnoldvanwageningen opened #3230 "regional settings for AXSERVICEUSER should not be changed"
Hi,

We sometimes see customers raising issues with Regional formatting in On-Premise environments. These mostly are issues with Decimal separators and perhaps date formats.
In Cloud environments this is not causing issues, since AXSERVICEUSER is not altered. But we see issues with On-Prem environments which are using AXSERVICEUSER with for example European regional settings.
System requirement fo

[2021-03-18 16:09] kamaybac commented on #3223
@Eshaghzadeha , thank you for your detailed input. I am passing it on for consideration.

[2021-03-18 16:14] kamaybac commented on #3224
@zhenfangyan , thank you for bringing this issue to our attention. I am passing it on for consideration.

[2021-03-18 16:16] kamaybac commented on #3225
@elviscooper thank you for bringing this issue to our attention. It should be fixed soon.

[2021-03-18 16:17] kamaybac commented on #3225
@roschlom , this looks like a straightforward fix, so I'm assigning it directly to you.

[2021-03-18 16:21] kamaybac commented on #3230
@arnoldvanwageningen , thank you for bringing this issue to our attention. I am passing it on for consideration.

[2021-03-19 07:18] JulijaLudvigaELCA opened #3231 ""Use system pricing calculation" parameter has to be set to "No", instead of "Yes""
1) It is stated in this article, that "Use system pricing calculation" parameter in D365 Sales has to be set to Yes. But actually "Price Quote"/"Price Order" functions do not work like that. For those functions to work the required value of this parameter is "No".
And another tiny detail - there is a typo in the parameter name, in the text of the article it is called "Use system pri**z**ing calcul

[2021-03-19 09:02] PeterRFriis commented on #3230
Hi @arnoldvanwageningen
Thank you for bringing this to our attention. You are right that we have strict descriptions on the OS version to ensure the product runs correctly.
We will look into this and update the documentation based on the internal talks.
@cabeln, @faix  Bringing this to your attention.

We will update this bug.
Thank you.
Peter