[2019-02-19 19:35] ThomasZak opened #936 "Loss of Documentation"
As part of rollout of this feature, Microsoft has just erased the documentation on importing databases into Tier1 and Development environments. There were multiple steps to that process, including .bacpac imports and post-import SQL scripts for adjusting user accounts. Does MS no longer support copying databases to non-Tier2 servers?

---
#### Document Details

⚠ *Do not edit this section. It is r

[2019-02-19 20:03] tonyafehr commented on #936
@ThomasZak, thanks for the feedback.

@laneswenka, can you address this. Thank you!

[2019-02-19 20:08] tonyafehr commented on #933
@batetech, thanks for posting this! In the meantime, to get product help you can contact Support using one of the options described here: [Support contact options](https://docs.microsoft.com/en-us/dynamics365/unified-operations/dev-itpro/lifecycle-services/lcs-support). In particular, you might want to go to the [Dynamics 365 for Finance and Operations community page](https://community.dynamics.co

[2019-02-19 20:08] tonyafehr commented on #934
@batetech, thanks for posting this! In the meantime, to get product help you can contact Support using one of the options described here: [Support contact options](https://docs.microsoft.com/en-us/dynamics365/unified-operations/dev-itpro/lifecycle-services/lcs-support). In particular, you might want to go to the [Dynamics 365 for Finance and Operations community page](https://community.dynamics.co

[2019-02-20 00:52] laneswenka commented on #936
Please see the Debugging and Diagnostics tutorial.

Lane

[2019-02-20 05:41] laneswenka commented on #936
Pardon tried to reply via email.  Specifically I mean can you review this part of the new documentation?  It should have everything you need...
https://docs.microsoft.com/en-us/dynamics365/unified-operations/dev-itpro/database/dbmovement-scenario-debugdiag

[2019-02-20 06:09] depakgupta opened #940 "Not applicable for D365FO"
Items like WMDP, web-pages etc. are not valid for D365FO but AX 2012.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0c09b52d-b0f9-c026-2002-a2d1405fdde8
* Version Independent ID: d772efac-6970-4b62-3911-d5cd3f199f6d
* Content: [Warehouse mobile device display settings - Finance & Operations | Dynamics 365 | #MSDyn365F

[2019-02-20 10:43] firyanis opened #943 "Unable to "Reprovision the target environment""
In this scenario, it is not possible to reprovision. A build environment is not allowing to apply the "Environnement reprovioning tool" package through LCS.

---
#### Détails du document

⚠ *Ne pas modifier cette section. C’est obligatoire pour docs.microsoft.com ➟ Liaison des problèmes GitHub.*

* ID: dbfc55db-29cd-7e02-772a-4e590ff1fa78
* Version Independent ID: e4594af2-7087-6795-43f8-86cb33495

[2019-02-20 15:09] sericks007 commented on #943
@firyanis, thanks for posting this!

@laneswenka, can you please review and update the content, as necessary.

[2019-02-20 15:11] #936 closed

[2019-02-20 18:07] sericks007 commented on #911
Bug 293657 has been logged to track this issue.

[2019-02-20 18:24] laneswenka commented on #943
Hi @firyanis I am able to import the package to the asset library in a given LCS project, and thereafter I see it as a valid option to apply against a build server.  Can you explain in more detail what issue you experience?

[2019-02-20 19:42] maheshambati410 opened #944 "Can we take backup of trial environment and restore to other trial/production environment?"
Can we take backup of trial environment after expires can it restore to new trial/production environment?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fff33773-d8bc-b57c-8bf2-a5f6dd2b1a80
* Version Independent ID: 454118d1-cd83-5707-0b3c-a7cecdb1e562
* Content: [Provision Talent - Talent | Dynamics 365](https://docs.

[2019-02-20 20:02] sericks007 commented on #944
@maheshambati410, thanks for posting this. In the meantime, to get product help you can contact Support using one of the options described here: [Support contact options](https://docs.microsoft.com/en-us/dynamics365/unified-operations/dev-itpro/lifecycle-services/lcs-support). In particular, you might want to go to the [Dynamics 365 for Finance and Operations community page](https://community.dyna

[2019-02-21 08:04] AtisDimants opened #947 "XDS not mentioned"
I wonder where XDS comes in picture? Reading whitepapers about XDS (Extensible Data Security) one gets impression, that XDS is applied overall, but don't see it works for data entities.

It isn't supposed to work, or am I doing something wrong?

Please extend this chapter by adding info about XDS.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitH

[2019-02-21 10:23] Ruveles opened #948 "8.1.3 Platform Update 23 Installation Issue - Dynamics 365 for Finance & Operations On-Prem"
Hello, I just want to write here about the error during the installation of 8.1.3 Platform Update 23.

The Troubleshooting section says:  (https://docs.microsoft.com/en-us/dynamics365/unified-operations/dev-itpro/deployment/troubleshoot-on-prem#error-there-was-an-error-during-codepackage-activation-service-host-failed-to-activate-error0x8007052e) :
To resolve this issue, follow these steps:
1. Dow

[2019-02-21 13:38] glenturnbullazure commented on #811
In the meantime, in case it helps @taylordgordon, I will try to answer based on my understanding of what is public knowledge. The following documents give an overview: https://docs.microsoft.com/en-us/dynamics365/get-started/release-schedule
https://docs.microsoft.com/en-us/dynamics365/unified-operations/fin-and-ops/get-started/public-preview-releases There are no hard dates for each ring, it depe

[2019-02-21 14:20] sericks007 commented on #947
@AtisDimants, thank you for this feedback!

@Sunil-Garg, please review this feedback and update the topic, as appropriate.

[2019-02-21 14:22] sericks007 commented on #948
@Ruveles, thank you for posting this!

@PeterRFriis or @EricMoos, please review this feedback and update the topic as appropriate.

[2019-02-21 14:26] sericks007 commented on #922
Bug 293922 has been logged to track this issue.

[2019-02-21 14:37] ShivamPandey-msft commented on #922
@Annette Bruer<mailto:Annette.Bruer@microsoft.com>
Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Sally Erickson <notifications@github.com>
Sent: Thursday, February 21, 2019 8:26:23 AM
To: MicrosoftDocs/dynamics-365-unified-operations-public
Cc: Shivam Pandey; Mention
Subject: Re: [MicrosoftDocs/dynamics-365-unified-operations-public] Ambiguous Application Refere

[2019-02-22 08:34] SST1982 opened #950 "Clarify Async vs. Batch"
Thanks for adding some information on the run options. Yet, I think it would be helpful to have some comparison of the options "ansyncronous" and batch. In which scenario should I use async instead of batch?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a195670e-6d06-370a-1776-9be0c30ac8f8
* Version Independent ID: b4

[2019-02-22 09:34] artemt1 opened #951 "Unknown datasource BillingAddress"
Where could I find "BillingAddress" datasource on FMCustomerEntity data entity? Seems like this data source was removed, checked on 8.1 Update 20

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 897be989-9546-94dd-a260-6dcfcef08c53
* Version Independent ID: b4b73984-d8a8-edb4-2333-2ccde9b48488
* Content: [Computed column

[2019-02-22 10:59] firyanis commented on #943
Hello @sericks007 and @laneswenka

For every LCS project where we deployed a "Build" environment in the "Sandbox: Developer and test" slot, when I go to "Maintain" -> "Apply updates", i can't find the "Environment reprovisioning tool" in the list. I confirm that before doing that, i imported the deployable package in the asset library of the LCS project from the shared asset library.

If you wish,

[2019-02-22 14:23] sericks007 commented on #950
@SST1982, thank you for the feedback!

@Sunil-Garg, please review and update the topic as appropriate.

[2019-02-22 14:27] sericks007 commented on #951
Thanks for contacting us. Unfortunately, we're unable to handle Support requests for the product here. To contact Support, consider one of the options described here: [Support contact options](https://docs.microsoft.com/en-us/dynamics365/unified-operations/dev-itpro/lifecycle-services/lcs-support). In particular, you might want to go to the [Dynamics 365 for Finance and Operations community page](

[2019-02-22 14:31] sericks007 commented on #925
Bug 294405 has been logged to track this issue.

[2019-02-22 14:33] sericks007 commented on #927
Bug 294407 has been logged to track this issue.

[2019-02-22 14:36] sericks007 commented on #928
Bug 294408 has been logged to track this issue.

[2019-02-23 23:21] artemt1 commented on #951
That was not a Support request. The code example in this article seems outdated, it will not be compiled in the latest version of D365FO, because there is no "BillingAddress" datasource on FMCustomerEntity data entity.

[2019-02-25 05:23] maheshrajput2907 commented on #224
@TJVass Is that for windows server 2019 as well?

[2019-02-25 13:12] sericks007 commented on #951
@artemt1, thank you for clarifying. I've reopened this issue.

@Sunil-Garg, please review and update the topic accordingly.

[2019-02-25 16:39] ShylaThompson commented on #940
@perlynne please review and update the topic if necessary.

[2019-02-26 05:09] TrudAX commented on #689
Compiler in D365FO uses all available cores(you can see this by executing Build for the Application source model), so the phrase is correct. I think the issues should be closed

[2019-02-26 07:12] erikpaperik commented on #689
@TrudAX
Thx for clarification.

[2019-02-26 08:40] firyanis commented on #943
Hello @sericks007 and @laneswenka

Any update on this ? :)

[2019-02-26 09:00] valerymoskalenko opened #956 "Entity store data in Azure Data Lake flighting"
What is the secret flight key to enable entity data store in Azure Data Lake?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 48cf34e5-5de2-319c-c709-f06ea8fe4164
* Version Independent ID: 1b04f148-d442-f72b-a3b9-3eb4ede9f719
* Content: [Make Entity store available as a Data Lake - Finance & Operations | Dynamics 365 |

[2019-02-26 09:00] amadse opened #957 "Contradicting information"
With the new self service it states:
The refresh operation will begin immediately.
But it is still the old conditions for a database refresh  that is lists:
This is wrong:
Requests must be submitted 5 hours before the desired downtime window, to help ensure that resources will be available to complete the request.
There might be other lines that is wrong.

---
#### Document Details

⚠ *Do not edit

[2019-02-26 09:58] ConradVAva opened #958 "Has this logic been added?"
Above you write: "During the delay calculation, new logic will be added" - has this happend to date? From what version on is that available?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 08f6ecb2-3b60-ec64-f1ae-66fe973dfb14
* Version Independent ID: bf15ecc2-7f3c-eaff-f872-77c19d83130d
* Content: [Safety stock fulfill

[2019-02-26 13:45] sericks007 commented on #943
@laneswenka, can you please review and update the content, as necessary.  Thanks!

[2019-02-26 14:10] tonyafehr commented on #956
@valerymoskalenko, thanks for posting this! In the meantime, to get product help you can contact Support using one of the options described here: [Support contact options](https://docs.microsoft.com/en-us/dynamics365/unified-operations/dev-itpro/lifecycle-services/lcs-support). In particular, you might want to go to the [Dynamics 365 for Finance and Operations community page](https://community.dyn

[2019-02-26 14:11] tonyafehr commented on #957
@amadse, thanks for posting this! In the meantime, to get product help you can contact Support using one of the options described here: [Support contact options](https://docs.microsoft.com/en-us/dynamics365/unified-operations/dev-itpro/lifecycle-services/lcs-support). In particular, you might want to go to the [Dynamics 365 for Finance and Operations community page](https://community.dynamics.com/

[2019-02-26 14:13] #689 closed

[2019-02-26 14:20] tonyafehr commented on #934
Bug 296523 has been logged to track this issue.

[2019-02-26 14:20] tonyafehr commented on #933
Bug 296517 has been logged to track this issue.

[2019-02-26 18:46] tonyafehr commented on #958
@ConradVAva, thanks for posting this! In the meantime, to get product help you can contact Support using one of the options described here: [Support contact options](https://docs.microsoft.com/en-us/dynamics365/unified-operations/dev-itpro/lifecycle-services/lcs-support). In particular, you might want to go to the [Dynamics 365 for Finance and Operations community page](https://community.dynamics.

[2019-02-27 07:20] AvaSueGould opened #963 "pre-go-live Checklist link gives error"
Could someone let me know what the customer needs to do to access this link successfully?  I am the delivery manager from the Partner and I get the same error message.
https://mbs.microsoft.com/customersource/Global/365Enterprise/learning/documentation/installation-setup-guides/fasttrack-checklist-fin-and-ops

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsof

[2019-02-27 07:21] AvaSueGould commented on #963
I forgot to paste in the actual text of the error message...
Sorry, something went wrong
An unexpected error has occurred.

Web Parts Maintenance Page: If you have permission, you can use this page to temporarily close Web Parts or remove personal settings. For more information, contact your site administrator.
TECHNICAL DETAILS

Troubleshoot issues with Microsoft SharePoint Foundation.
Correlatio

[2019-02-27 07:28] 5fq opened #964 "Please clearly mention if it is on Premise or Azure DB"
Could you please clearly mention that what kind of SQL database (Azure or On Premise) is must for production  ??

URL: https://docs.microsoft.com/en-us/dynamics365/unified-operations/dev-itpro/analytics/export-entities-to-your-own-database

[2019-02-27 07:31] #964 closed

[2019-02-27 07:33] 5fq opened #965 "Clearly mention if the production DB should be Azure or On Premise"
Could you please clearly mention that what kind of SQL database (Azure or On Premise) is must for production ??
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9cd981b1-0ed1-34c8-d22a-e1c6d194ff9c
* Version Independent ID: 1e26cccc-eab2-e170-7004-98585128e3e1
* Content: [Bring your own database (BYOD) - Finance & Operati

[2019-02-27 15:08] ShylaThompson commented on #862
@Izmiyash thanks again for logging this issue. We should have the topic updated within the next week.

[2019-02-27 15:29] PeterRFriis commented on #948
@EricMoos have this been fixed, or is this still todo?

[2019-02-27 16:22] ravimeda opened #966 "Prerequisite for purchase order year-end process"
There is no article for purchase order year-end process in ( https://docs.microsoft.com/en-us/dynamics365/unified-operations/financials/ ). Hence, customers refer to the document available at ( https://docs.microsoft.com/en-us/dynamicsax-2012/appuser-itpro/process-purchase-orders-at-year-end ). However, this document does not describe a prerequisite. The missing prerequisite is the invoices for th

[2019-02-27 16:23] bojanmisic opened #967 "Service endpoint authentication on behalf of a user"
How should we approach a scenario where we have a middleware (a web service) accessing D365 F&O sitting between a client (mobile) app and D365 F&O back-end? The mobile app on the client side needs to authenticate (and authorize) the user to D365, but talk only to the middleware layer (web service), and then the web service should invoke the call to D365 F&O on behalf of the user. As far as I see i

[2019-02-27 16:36] #967 closed

[2019-02-27 16:37] bojanmisic commented on #967
I wanted to post this as a question on documentations page. Please close here. Sorry for the inconvenience.

[2019-02-27 16:37] bojanmisic opened #968 "Service endpoint authentication on behalf of a user"
How should we approach a scenario where we have a middleware (a web service) accessing D365 F&O sitting between a client (mobile) app and D365 F&O back-end? The mobile app on the client side needs to authenticate (and authorize) the user to D365, but talk only to the middleware layer (web service), and then the web service should invoke the call to D365 F&O on behalf of the user. As far as I see i

[2019-02-27 16:55] sericks007 commented on #963
@ClaudiaBetz-Haubold, is there something customers/partners need to do to access the link?

@AvaSueGould, the link opens a CustomerSource page that says this:

Microsoft Dynamics 365 for Finance and Operations customers should complete a Pre-Go-live review with the Microsoft FastTrack team before requesting their production environment.

If you are not familiar with Microsoft FastTrack, see the [M

[2019-02-27 16:59] sericks007 commented on #965
@5fq, thanks for posting this. In the meantime, you might want to go to the [Dynamics 365 for Finance and Operations community page](https://community.dynamics.com/) to get help with your questions from the Dynamics community.

@Sunil-Garg, can you please update the topic to clarify.

[2019-02-27 17:05] sericks007 commented on #968
@bojanmisic, thanks for posting this! In the meantime, to get product help you can contact Support using one of the options described here: [Support contact options](https://docs.microsoft.com/en-us/dynamics365/unified-operations/dev-itpro/lifecycle-services/lcs-support). In particular, you might want to go to the [Dynamics 365 for Finance and Operations community page](https://community.dynamics.

[2019-02-27 17:19] sericks007 commented on #940
Bug 296961 has been logged to track this issue.

[2019-02-27 17:23] sericks007 commented on #943
Bug 296962 has been logged to track this issue.

[2019-02-27 18:17] josaw1 commented on #944
I've forwarded this to Par. Thanks.

[2019-02-27 20:34] sericks007 commented on #947
Bug 297033 has been logged to track this issue.

[2019-02-28 14:02] JohnLBevan opened #972 "Process Data Packages - Step 12 - Incorrect Screenshot"
The screenshot associated with step 12 is incorrect:

Step 12: "To create a better sequence, select the Customers entity, and then update the value of the Execution unit field from 1 to 2. This change helps guarantee that customer groups are imported before the Customers entity is run."

... Yet the screenshot shows Customers with EU1, and Customer Groups with EU2; also Customer Groups has changed

[2019-03-01 10:59] renaudpaquaynsi opened #975 "user role and contact microsoft"
You should explain (appeared with the febreary release of LCS) the user roles we can set on each users and the use of the toggle button to be contacted by Microsoft

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ea6cec1a-8a9f-89e9-2ea0-c3016579a93c
* Version Independent ID: 063cd7e1-fb86-3fe6-6c59-74cdf69f7682
* Conten

[2019-03-01 18:21] ClaudiaBetz-Haubold commented on #963
Yes, there was an issue within Customer Source that prevented users from accessing it. This was resolved within the same day. Please try again.

Sorry for the inconvenience!

Kind regards,  Claudia

Outlook für Android<https://aka.ms/ghei36> herunterladen

________________________________
From: Sally Erickson <notifications@github.com>
Sent: Wednesday, February 27, 2019 4:55:56 PM
To: MicrosoftDoc

[2019-03-01 18:31] #963 closed

[2019-03-02 08:36] liamneesangamer commented on #697
I cannot find a proper guide on anywhere about dynamic 365. These documents are not enough to clear the doubts about the complete function of RSSU

[2019-03-03 18:03] Meenakshish commented on #286
I have the same requirement and couldn't map container field because of invalid data type error. Please let me know the work around for it.

[2019-03-04 14:30] tomhig opened #978 "Alert Notification Email Templates"
There needs to be clarification that the Alert Email Templates that are illustrated at the end of the article cannot fully be created due to an impending Platform Update. Specifically, the "Deep Links" at the end of each template, where you can drill to the specific record that generated the alert, is not supported yet. Also, there is no Doc article that provides step-by-step instruction/guidance

[2019-03-04 19:23] ShylaThompson commented on #978
@tomhig this topic has a preview banner on it that identifies it as applying to a preview release.

Functionality noted in this topic is available to targeted users as part of a preview release. The content and the functionality are subject to change. For more information about preview releases, see Standard and First release service updates.

[2019-03-04 19:23] #978 closed

[2019-03-04 19:28] ShylaThompson commented on #951
@Sunil-Garg I logged bug # 298201 for investigating this issue.

[2019-03-04 19:58] gasimon commented on #422
Checking the GitHub page, there is no progress in solving this bug. Any idea when this will be fixed? Having a service account assigned as "Information Technology manager" just to register printers and manage them is much more than really required (and far away from a good practice).

Thank you,
Gus

[2019-03-05 08:54] maheshrajput2907 opened #982 "Is Windows server 2019 supported OS for document routing agent?"
Is Windows server 2019 supported OS for document routing agent?

[2019-03-05 13:04] amadse opened #983 "Dyn365Fo inforamtion is missing"
Hi Dyn365 FO documentation links to the article that only contains AX 2012 in the information. The links on this page also only tells how to work with the is in AX 2012 and nothing about Dyn365FO. Beside that there is nothing about what it can be used for and how that related to the Asset library in LCS, where is still is shown in Dyn365FO projects and not as previews

---
#### Document Details

⚠

[2019-03-05 14:25] tonyafehr commented on #982
@maheshrajput2907, thank you for the feedback. It does not appear that you have a question about a help specific topic. I suggest that contact Support using one of the options described here: [Support contact options](https://docs.microsoft.com/en-us/dynamics365/unified-operations/dev-itpro/lifecycle-services/lcs-support). In particular, you might want to go to the [Dynamics 365 for Finance and Op

[2019-03-05 14:25] #982 closed

[2019-03-05 14:25] tonyafehr commented on #983
@amadse, thank you for the feedback. In the meantime, to get product help you can contact Support using one of the options described here: [Support contact options](https://docs.microsoft.com/en-us/dynamics365/unified-operations/dev-itpro/lifecycle-services/lcs-support). In particular, you might want to go to the [Dynamics 365 for Finance and Operations community page](https://community.dynamics.c

[2019-03-05 15:04] tonyafehr commented on #957
Bug 298444 has been logged to track this issue.

[2019-03-05 15:04] tonyafehr commented on #956
Bug 298442 has been logged to track this issue.

[2019-03-05 15:04] tonyafehr commented on #950
Bug 298441 has been logged to track this issue.

[2019-03-05 15:04] tonyafehr commented on #948
Bug 298440 has been logged to track this issue.

[2019-03-05 17:34] gvrmohanreddy opened #985 "What is AOS?"
Diagram has AOS multiple places, and the document doesn't include what AOS acronym stands for. It would be great to have AOS explained in the document.

Thanks,
Mohan

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8f426bc8-8659-3e4a-ce23-5d8356a97543
* Version Independent ID: 1d4e57b9-4975-01c8-4617-d518348180aa
* Cont

[2019-03-05 19:10] tonyafehr commented on #985
Application Object Server (AOS) is a core component of your Dynamics 365 for Finance and Operations installation. An AOS instance enforces security, manages connections between clients and the database, and provides the foundation where the business logic runs. Here’s a topic that explains the [AOS architecture](https://docs.microsoft.com/en-us/dynamicsax-2012/appuser-itpro/aos-architecture).

[2019-03-05 19:10] #985 closed

[2019-03-06 10:29] DynamicsArvindSingh commented on #731
Hi Guys,

Recieved no update on this. its been 3 months.

Please update this document.

[2019-03-06 14:13] antongeenens opened #990 "Issue copy of the source database multiple times"
For the "create a copy of the source database" section, there is a script to automatically backup and restore the db. There is an issue with this. The backup script uses NOINIT which will append a backup if the file already exists. The restore script will restore the first backup in the file with the FILE = 1 parameter. So if you run this script for the second time and you didn't deleted the axdb_

[2019-03-06 14:32] sericks007 commented on #948
This topic has been updated and will be published later today.

[2019-03-06 14:32] #948 closed

[2019-03-06 14:34] sericks007 commented on #990
@antongeenens, thanks for posting this feedback.

@laneswenka, please review and update the topic, as appropriate.

[2019-03-06 14:49] sericks007 commented on #958
Bug 298713 has been logged to track this issue.

[2019-03-06 14:56] sericks007 commented on #966
Bug 298720 has been logged to track this issue.

[2019-03-06 20:42] johnnystruck commented on #928
@howalker3514 Hello Howard,

This may be useful to you: https://community.dynamics.com/cfs-file/__key/communityserver-discussions-components-files/765/CollectionPools.gif (Collection Pools)

Not exhaustive but I will agree that many official Microsoft D365 docs are lacking but likely due to the broad scope of each use case among different businesses and industries.

[2019-03-06 22:25] johnnystruck opened #998 "Free text invoice correction configuration key"
It may be useful to include information regarding how to turn on this configuration key or provide some specificity. Had to find the correct information using AX2012 official documentation from 2014

At least link to the License Codes Configuration Keys Report -  https://docs.microsoft.com/en-us/dynamics365/unified-operations/dev-itpro/sysadmin/license-codes-configuration-keys-report

Or a direct

[2019-03-07 20:20] 3dmerchant opened #1001 "Partial payments"
If the initial authorization and final settlement are not the same, the merchant must submit a reversal within 24 hours. Verify the selected payment gateway can do this or pay steep penalties. For example, MasterCard has a .25% misuse of authorization penalty.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 90ff0495-53f

[2019-03-07 21:10] rat-af opened #1002 "Documentation not complete"
Hi,
    This document is not complete.  This describes the process for exporting a DB from a Tier 2 environment.  However, if I wanted to export a database from a Tier 1 environment (say going from my DEV box to a 'Cloud hosted environment' for example), this document is not complete.  To export the data for Tier 1 environments, the 'Move Database' option under the 'Maintain' menu is not available

[2019-03-08 02:26] laneswenka commented on #1002
Please review the tutorials section:
https://docs.microsoft.com/en-au/dynamics365/unified-operations/dev-itpro/database/dbmovement-operations

Lane

[2019-03-08 04:47] rat-af commented on #1002
Lane,
      Thanks for the update. However, your link still does not address the concern I raised about the document. In the link you gave me, there is no way to explain how to export a database for a Tier 1 environment.

If I want to promote a database to a Tier 2 environment, or if I want to export a Tier 1 database for use in a cloud hosted environment, this document fails to inform on how this

[2019-03-08 05:44] laneswenka commented on #1002
Please see the Tutorials section. It has the export from Tier1 and Import to Tier2. This is commonly referred to Golden Configuration Promotion.

The Debug tutorial has Export from Tier2 and Import to Tier1.

In general the Tutorials show you how to use components of DataALM in a real world flow.

Thanks,
Lane

[2019-03-08 09:49] noakesey opened #1004 "How to avoid naming conflicts between table and form extensions class where the table/form share the same name"
It would be good to clarify the naming convention for extension classes where the underlying table and form share the same name.  For example if I create extension classes for the CustTable table and also the CustTable form I will need to add an additional infix somewhere to prevent a clash.  I am using CustTable_myinfix_Extension (for the table) and CustTableForm_myinfix_Extension for the form.

[2019-03-08 11:38] rat-af commented on #1002
Lane,
      Thanks for the clarification.  I overlooked that part. For me, i didn’t think they were obvious links, but you are right, the information is there. Thanks again for clarification.

Regards,
Andrew Friebel
Sent from my iPhone

[2019-03-08 13:46] #1002 closed

[2019-03-08 20:18] macchinettid opened #1005 "Visual Studio Solution compilation issue - Dynamics 365 for Finance & Operations"
Just for sharing

https://sinedax.blogspot.com/2019/03/visual-studio-solution-compilation.html

[2019-03-09 00:46] Ievgenm opened #1006 "Typo"
Should be "Azure Data Lake" instead of "Axure Data Lake".

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a19d5e09-3e76-35e3-636a-e9c2ebb86b5a
* Version Independent ID: de7b6e2e-e778-d393-5035-bfbe4eddb49c
* Content: [Preview features in Dynamics 365 for Finance and Operations platform update 25 (April 2019) - Finance &

[2019-03-11 12:31] steevegilbert opened #1008 "When will PU24 be available in LCS Shared Assets Library?"
Or should I go somewhere else to get it?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4a8f30d9-db2d-d580-6c0d-37f9ac709701
* Version Independent ID: e042d248-5402-e627-bb2d-20579ab2b3e8
* Content: [What's new or changed in Finance and Operations platform update 24 (March 2019) - Finance & Operations | Dynamics 365 |

[2019-03-11 13:00] Angelos102 opened #1009 "Links to Sign-up and Setup do not exist"
In the Overview section there are three links, but two of these point to this page and sections which do not exist. Also the supported features only has a version placeholder and no other content. can you please update the links and provide an indication where these sections will be provided. Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ Gi

[2019-03-11 13:05] Angelos102 commented on #1009
Located the instructions until 10.0.1, maybe the headings should be moved out of the sections as a minimum

[2019-03-11 13:26] ShylaThompson commented on #1009
@kfend can you review this?

[2019-03-11 13:28] ShylaThompson commented on #1008
@sericks007 can you review this one?

[2019-03-11 13:32] ShylaThompson commented on #1006
@levgenm thanks for pointing this out. I've fixed this and the change should be live by end of day today.

[2019-03-11 13:32] #1006 closed

[2019-03-11 14:31] ShylaThompson commented on #1005
@macchinettid  this is not the right place to share blog links. Please only log an issue if you have an issue with the documentation.

[2019-03-11 14:31] #1005 closed

[2019-03-11 16:09] ShylaThompson commented on #1004
@LarsBlaaberg please review and update the topic as necessary.

[2019-03-11 16:17] ShylaThompson commented on #975
@robadawy I've logged bug #299937 for investigation.

[2019-03-11 16:29] ShylaThompson commented on #972
Bug # 299938 assigned for investigation

[2019-03-11 16:48] ShylaThompson commented on #594
@vavd apologies for my delayed response. I've moved the trade agreements topic in the TOC and am reviewing the white paper you linked to. My hope is that we'll have the content in the white paper verified for Finance and Operations and migrated to Docs.microsoft.com in the near future.

[2019-03-11 17:53] windfly2006 commented on #1008
same question here.

[2019-03-11 19:57] ostola commented on #1008
I join to the question...
Thanks ¡

[2019-03-11 20:06] sericks007 commented on #1008
@meeramahabala, can you please answer this question.

[2019-03-11 20:07] tonyafehr commented on #886
@Asgardi, updates have made to this topic based on your feedback. These changes should be live tomorrow.

[2019-03-11 20:07] #886 closed

[2019-03-11 20:16] tonyafehr commented on #947
@AtisDimants, we will be updating this topic to denote that "Data entities do not support the Extensible Data Security (XDS) concepts." I am closing this comment.

[2019-03-11 20:16] #947 closed

[2019-03-11 20:39] tonyafehr commented on #950
@SST1982, we have updated this topic to clarify the differences between async and batch. These updates will be published tomorrow. I am closing this comment. Thanks!

[2019-03-11 20:39] #950 closed

[2019-03-11 20:44] tonyafehr commented on #965
@5fq, we will be updating this topic to denote that Azure should be used for a production environment. This update will be published tomorrow. I am closing this comment.

[2019-03-11 20:44] #965 closed

[2019-03-11 23:23] pvillads commented on #1004
This is a question for Lars more than me. From my perspective, as long as the name of the extension class contains a prefix that is unique per model or per ISV then I think we are good. How we disambiguate the case for forms or class extensions is not so important. I will let Lars comment.

[2019-03-12 00:12] manishmoothedath opened #1014 "Clarify about New API's"
Could you please clarify what has changed ? "New APIs have been added to help data integration retrieve errors that occurred during the import execution runs in a data project. For more information, see Data management package REST API."

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4a8f30d9-db2d-d580-6c0d-37f9ac70970

[2019-03-12 11:26] moko33 opened #1016 "synchronize-work-orders"
These scentences must be wrong and should be corrected:

Also the title of the hyperlink on the left side leading to this article is wrong and doesn't correspond to the headline of the article.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 60b89419-36ad-d7ec-2525-a82fc4da598e
* Version Independent ID: 01fa1590-3010-61

[2019-03-12 12:19] ChristianRytt commented on #1016
Created PR #1017 for this topic to fix the issue listed below.

Didn’t find any issues with mentioned hyperlink:
[A screenshot of a cell phone  Description automatically generated]

Thanks,
/Christian

From: moko33 <notifications@github.com>
Sent: 12. marts 2019 12:26
To: MicrosoftDocs/dynamics-365-unified-operations-public <dynamics-365-unified-operations-public@noreply.github.com>
Cc: Christian

[2019-03-12 12:28] moko33 commented on #1016
The hyperlink is named:
"Synchronize work orders from Finance and Operations to Field Service"
however it should be named
"Synchronize work orders with project from Field Service to Finance and Operations"

[2019-03-12 12:30] ChristianRytt commented on #958
Yes, this functionality is in the current version of F&O. The functionality was added with 8.0 for sure, might also be available with 7.3 - would require some investigation to find the exact version number.

[2019-03-12 12:53] ChristianRytt commented on #1016
Got it - it's another page you are talking about for the link issue.
It's not "Synchronize products with inventory unit from Finance and Operations to Field Service" but "Synchronize work orders with project from Field Service to Finance and Operations".
I see the issue, will ask for this to be updated.

[2019-03-12 13:12] manjarikm opened #1018 "Add the steps to resolve error "Record for ID - {GUID} not found""
Would be great to add the steps to resolve the common error described on this link - Record for ID - {GUID} not found (where the solution is to delete the template and reload the system templates) - https://docs.microsoft.com/en-us/dynamics365/unified-operations/dev-itpro/data-entities/dm-error-descriptions#data-package-download---error-downloading-data-package-for-job--record-for-id---guid-not-fo

[2019-03-12 13:56] tonyafehr commented on #1016
@moko33, thanks for the feedback. An updated version of this topic will be published later today.

[2019-03-12 13:56] #1016 closed

[2019-03-12 13:59] tonyafehr commented on #1018
@manjarikm, thanks for the feedback.

@laneswenka, please review this feedback and provide updates, if needed.

[2019-03-12 14:01] tonyafehr commented on #983
Bug 296523 has been logged to track this issue.

[2019-03-12 14:13] tonyafehr commented on #1014
@manishmoothedath, thanks for the feedback.

@Sunil-Garg , please review this feedback and provide updates, if needed.

[2019-03-12 14:45] SysC0mp opened #1020 "Update to Visual Studio 2019"
Hi,

is an update to Visual Studio 2019 planned for the AX developer tools?

Best regards

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 549e9730-4488-4aa0-1bd9-483e12568b85
* Version Independent ID: 2d017075-0988-0101-b3ff-8c21255905eb
* Content: [Development tools in Visual Studio - Finance & Operations | Dynamics 36

[2019-03-12 15:15] ShylaThompson commented on #83
Updated topic can be found at /articles/financials/general-ledger/round-sales-tax-payments when it is published later this week.  It takes a few days for the change to make it through the system.

[2019-03-12 15:15] #83 closed

[2019-03-12 18:28] tonyafehr commented on #1020
@SysC0mp, thanks for contacting us. Unfortunately, we're unable to handle your request here. You can go to the [Dynamics 365 for Finance and Operations community page](https://community.dynamics.com/) to get help with your question from the Dynamics community.

[2019-03-12 18:28] #1020 closed

[2019-03-12 18:33] #958 closed

[2019-03-12 22:32] laneswenka commented on #957
This has been resolved in the latest documentation updates.

[2019-03-12 22:33] laneswenka commented on #990
Thanks @antongeenens I will review and get this corrected

[2019-03-12 22:54] darrancroft opened #1021 "Import to development environments"
The content on how to copy a database from an Azure SQL environment (e.g. UAT) to SQL Server environment (e.g. development box) seems to have been removed. Could we please have this documentation reinstated (or updated if the process has changed)?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 142d4b7f-e485-b424-39a0-c

[2019-03-12 23:28] laneswenka commented on #1021
@darrancroft  this is available on the home page -> tutorials section.  Please see the related options for export and debugging:
https://docs.microsoft.com/en-us/dynamics365/unified-operations/dev-itpro/database/dbmovement-scenario-debugdiag
https://docs.microsoft.com/en-us/dynamics365/unified-operations/dev-itpro/database/dbmovement-scenario-exportuat

[2019-03-12 23:48] darrancroft commented on #1021
Thanks Lane,

I see the link on the overview page (https://docs.microsoft.com/en-us/dynamics365/unified-operations/dev-itpro/database/dbmovement-operations) under tutorials (now that I look 😊) but it doesn’t include the link on the left hand menu so it just takes a bit of looking to find it.

Thanks for pointing me in the right direction.

Regards

Darran Croft

A Suite 2, Level 14, 141 Queen Stre

[2019-03-13 06:45] DKobayashi-ykgw opened #1022 "Why PU22 is expired?"
Why PU22 is expired on Mar 13th 2019? PU24 is still not GA so currently alive PU is only 23.
Application update can skip 2 times so permitted version is three, latest, latest - 1, latest - 2. Therefore PU23, PU22, PU21 should alive.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bcdefbcf-c3ad-9b1f-0988-452cea3e2108
* V

[2019-03-13 12:53] #1021 closed

[2019-03-13 12:59] sericks007 commented on #1022
@DKobayashi-ykgw, thanks for posting this!

@josaw1 or @meeramahabala, can you please review this, and update the topic if needed.

[2019-03-13 13:05] sericks007 commented on #990
Bug 300445 has been logged to track this issue.

[2019-03-13 13:08] sericks007 commented on #998
Bug 300446 has been logged to track this issue.

[2019-03-13 13:12] sericks007 commented on #925
This topic has been updated and will be published later today.

[2019-03-13 13:12] #925 closed

[2019-03-13 23:09] angortz opened #1028 "Binary package"
In a 8.1 LCS environment, there are 56 binary updates available.

However, I can't pick only one of them. The package is created with the 56 entries, even after pressing 'Remove' button on particular updates.

Is that expected? I can't get the desired update from anywhere else.

Thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue li

[2019-03-13 23:56] #1028 closed

[2019-03-14 15:46] pndyjack opened #1029 "The C# Sample in "Comparison: Automated Retry After an Exception""
The C# Sample in "Comparison: Automated Retry After an Exception" doesn't appear to be properly formatted.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d90f60ed-891b-151d-c963-522a1b0b1c17
* Version Independent ID: f9ab9cef-beda-06fb-c5c0-dce07969fbd5
* Content: [X++ and C# comparison - Finance & Operations | Dynamic

[2019-03-14 22:10] cameron-interactive opened #1030 "Microsoft.Dynamics.DataEntities.ExportToPackage definitionGroupId"
It should be noted here the "definitionGroupId" is NOT the DefinitionGroupId field from the data project, the NAME of the data project needs to be used here. This API does not return an error when submitting a job with the incorrect name.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 85d06c76-517e-c0f9-f089-be75a47c16

[2019-03-15 06:40] aledoy opened #1031 "Encountering an error when applying merged package in UAT"
Need to add note to do the merge within the project that is to be updated to 8.1 to avoid the error. I merged the package and binary using the 8.1 project, saved to shared asset then imported to the target project. This gave me the following error when trying to apply the merged package:

An error occurred while trying to process the child package information for merged package.

I did a new merge

[2019-03-15 07:40] aledoy opened #1032 "Failed update"
You might get a failed update error at a step that runs

'GlobalUpdate script for service model: AOSService on machine'.

Just resume, don't mind the error log that points to 'The specified module 'C:\Program Files\Microsoft Security Client\MpProvider' was not loaded because no valid module file was found in any module directory.'.

---
#### Document Details

⚠ *Do not edit this section. It is req

[2019-03-15 10:38] codingeugene opened #1033 "Who will perform a delayed upgrade?"
If the customer delays an UAT upgrade (Tier-2), which would be done by Microsoft, will it be Microsoft who will perform this delayed upgrade based on the maintenance window? Or should the customer take over?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 14372486-6284-da4b-6bbb-30acd36dd7de
* Version Independent ID: f8

[2019-03-15 13:01] bjool opened #1035 "Detail countryspecific resources for VAT statements"
There are documentation missing for multiple countries in this list; Sweden and United Kingdom for example. Both have special VAT reports developed with a required and recommended setup which should be included here as implementation guidelines. Thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a3b93833-d8a1-acca-

[2019-03-15 13:11] AndrewJonesA1X commented on #251
You probably didn't unblock the zip file. That's the error I got when I missed that step.

[2019-03-15 16:05] kfend commented on #1029
Thanks for this feedback! I have updated the formatting and the changes will be published soon.

[2019-03-15 16:05] #1029 closed

[2019-03-15 21:57] Krytical13 opened #1038 "No Documentation on Adobe Acrobat Reader Settings?"
Adobe Acrobat Reader is required to be installed, however there is no documentation on the settings required in the Adobe Acrobat reader application.

While printing checks we have noticed that the Adobe Acrobat reader settings directly affect the printed checks.
Scaling has been an issue, and we found that the Adobe settings are per-user, so you have to login as the DRA user, change the settings,

[2019-03-16 05:17] iwiaCorp opened #1039 "AADSTS50011: The reply url specified in the request does not match the reply urls"
In step To validate the PowerBI.com configuration, if someone have the issues AADSTS50011: The reply url specified in the request does not match the reply urls configured for the application: ...

Verify the Base URL and Reply URL starts with Https://.... and not with Http://

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

*

[2019-03-17 23:34] manishmoothedath opened #1040 "Passing parameter from D365FO to PowerApps - clarification"
could you please explain little more about this - "If(!IsBlank(Param("EntityId")), Set(FinOpsInput, Param("EntityId")), Set(FinOpsInput, ""));"
What is "EntityId" here, Is it the name of the parameter in D365FO ? or the name of the data entity ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e2ba2071-d17c-cb98-a965-522

[2019-03-18 01:19] aledoy commented on #1032
Actually, in general regardless if the update was successful or not, the logs will always show an error for the antivirus folder and the message will be "C:\Program Files\Microsoft Security Client\MpProvider' was not loaded because no valid module file was found in any module directory.". This can be ignored.

[2019-03-18 07:48] Junaidahm3d opened #1041 "Retail self-service installer issue"
@jashanno, I have copied all self-service installers into the folder C:/selfservicepackages defined and created in step 2 in each of the AOS machines, but when I click on Retail Store Scale Unit package drop down it shows nothing.  please help.

![image](https://user-images.githubusercontent.com/47216961/54514424-edbe7d80-497b-11e9-8ffe-da621001ab11.png)

Regards,
Junaid Ahmed

--

---
#### Docume

[2019-03-18 11:10] oxsmose opened #1042 "Entity Store on Data Lake gen2"
Error 500 when testing a Azure Data Lake Storage gen2.
It works with a simple blob storage.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a19d5e09-3e76-35e3-636a-e9c2ebb86b5a
* Version Independent ID: de7b6e2e-e778-d393-5035-bfbe4eddb49c
* Content: [Preview features in Dynamics 365 for Finance and Operations platform

[2019-03-18 11:32] miursu opened #1043 "Document attachments"
While working with a customer for importing invoices with attachments, we faced several issues and the document needs to be updated:
1) When creating the package to import invoices line, header and attachment we used 7.zip to create the zip file. If using WinRAR we received error message when importing the package. The error message said: The file extension is not mapped to a data source. Specify

[2019-03-18 12:30] steevegilbert commented on #1008
I see it's now available in the asset library

[2019-03-18 12:34] #1008 closed

[2019-03-18 12:56] jawn commented on #234
Closing this issue since it's already fixed.

[2019-03-18 12:56] #234 closed

[2019-03-18 13:51] ShylaThompson commented on #1038
@TJVass please review this issue and update the topic as necessary.

[2019-03-18 13:53] ShylaThompson commented on #1043
@ShivamPandeyMSFT please review this issue and update the topic as necessary.

[2019-03-18 14:00] ShylaThompson commented on #1042
@oxsmose Can you clarify the issue that you're suggesting with the what's new documentation? Is the topic incorrect or missing information?

[2019-03-18 14:01] ShylaThompson commented on #1041
@jashanno can you review the issue with this topic and update the procedure with helpful information if possible?

[2019-03-18 14:02] ShylaThompson commented on #1040
@jasongre can you review this issue and update the topic if necessary?

[2019-03-18 14:04] ShylaThompson commented on #1039
@MilindaV2 Can you review the suggested change to the help documentation above and update the topic if necessary.

[2019-03-18 14:05] ShylaThompson commented on #1035
@LizaGolub  Please review this issue and update the topic if necessary.

[2019-03-18 15:56] amadse opened #1046 "Data Import/Export Framework doesn't exist in Dynamics 365 F&O"
Health monitoring – In addition to availability checks, some basic health checks must be performed. These health checks span various components, such as Application Object Server, Batch Framework, Data Import/Export Framework
In 365 the name is Data management Framework which is specified in another article. Please correct this

---
#### Document Details

⚠ *Do not edit this section. It is require

[2019-03-18 22:00] ShylaThompson commented on #940
@depakgupta thanks for bringing this to our attention. We've added a note to the top of relevant topics to let users know that the feature has been deprecated.  Please note that it may take a few days before the changes to the topics go live.

[2019-03-18 22:00] #940 closed

[2019-03-18 22:03] clundy-columbia opened #1051 "Data not populating after setting entity store"
Hello,
We setup the entity store full push from D365 through enablement of flighting. We tested the data lake store connection and the key vault connection but have not seen data yet. Is there a process that I can kick off to make this work? Also we assume that since there is no container selection process that the process creates the folders it needs. Any documentation on this process?

https://d

[2019-03-19 04:15] manishmoothedath opened #1052 "<ConfigurationOnly> mentioned twice under Data project defenition"
Hi,
&lt;ConfigurationOnly&gt; tag is mentioned twice under the Data project definition. Please fix

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4a1cb5a1-742b-580e-0866-8ad52eaec61e
* Version Independent ID: cf55462f-c2d2-81d8-c50d-66490331fb65
* Content: [Data task automation - Finance & Operations | Dynamics 365 | #

[2019-03-19 06:41] LizaGolub commented on #1035
Hello,
Thank you for your comment. The article mentioned is dedicated to the process of VAT statement generation when data collection is based on Reporting codes and Electronic reporting format. United Kingdom VAT statement cannot be included into this list as this report doesn't use Reporting codes setup and such association could introduce a confusion in understanding of how to setup system for

[2019-03-19 11:40] Anup-Shah opened #1053 "Minimum security requirements for using DTA"
We are unable to use an external user. To get the data imported I need to be logged on as an Tenant User. Also it only works when you are logged in as a System Admin

[2019-03-19 13:06] glenturnbullazure opened #1054 "Maximum number of updates you can pause is unclear."
The document states: "You can pause a maximum of two continuous updates at a time. " However I think it would be reasonable for a customer to expect that they can pause both the sandbox and production environments for 3 months, which would be a maximum of four updates paused in total (two environments on two occasions). In LCS it only allows a maximum of two boxes to be ticked across sandbox and p

[2019-03-19 13:41] SGick opened #1055 "Tenant"
You should mention that the user who executes the Task Automation has to be in the same tenant as the D365 Environment and LCS Project. We are a partner and tried to do this task automation in the customer tenant with our partner logins.
The Task Automation failed every time, even if we had Admin Role in D365 F&O and Admin Role in LCS project. And even when the OAuth LCS Authorization was successf

[2019-03-19 14:33] tonyafehr commented on #1055
@SGick, thanks for posting this feedback.

@Sunil-Garg,can you review the suggested change and update this topic if necessary.

[2019-03-19 14:33] tonyafehr commented on #1054
@glenturnbullazure, thanks for the feedback.

@manalidongre, can you review the suggested change and update this topic if necessary.

[2019-03-19 14:34] tonyafehr commented on #1053
@Anup-Shah, thanks for the feedback. Your comment is not tied to a particular help topic. Which topic is this in reference to?

[2019-03-19 14:34] tonyafehr commented on #1052
@manishmoothedath, thanks for posting this feedback.

@Sunil-Garg,can you review the suggested change and update this topic if necessary.

[2019-03-19 14:34] tonyafehr commented on #1051
@clundy-columbia, thanks for the feedback. To get product help you can contact Support using one of the options described here: [Support contact options](https://docs.microsoft.com/en-us/dynamics365/unified-operations/dev-itpro/lifecycle-services/lcs-support). In particular, you might want to go to the [Dynamics 365 for Finance and Operations community page](https://community.dynamics.com/) to get

[2019-03-19 14:34] tonyafehr commented on #1046
@amadse, thanks for the feedback.

@manalidongre, can you review the suggested change and update this topic if necessary.

[2019-03-19 14:47] tonyafehr commented on #1014
Bug 301735  has been logged to track this issue.

[2019-03-19 14:48] tonyafehr commented on #1001
Bug 301736 has been logged to track this issue.

[2019-03-19 14:48] tonyafehr commented on #1018
Bug 301737 has been logged to track this issue.

[2019-03-19 15:35] illese opened #1057 "Data export does not work in the repro environment"
Unfortunately the above described process only partially works at least for 8.1 PU 23. If you try to execute a data package in the repro environment you will get an error. So the instructions for the import export manually should not have been removed from the documentation

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID

[2019-03-19 15:42] tonyafehr commented on #1057
@illesthanks, for the feedback.

@laneswenka, can you review the suggested change and update this topic if necessary.

[2019-03-19 17:01] illese commented on #1057
Cannot repro the issue any more, maybe a code inconsystency.

[2019-03-19 17:01] #1057 closed

[2019-03-19 17:22] TomekMelissa opened #1058 "It is a duplicate and info is missing"
It is almost a duplicate of another page.
https://docs.microsoft.com/en-us/dynamics365/unified-operations/dev-itpro/database/dbmovement-scenario-debugdiag
This page is missing information how to add firewall rules, which makes it impossible to follow. At the time of writing the only option was support ticket I suppose.

---
#### Document Details

⚠ *Do not edit this section. It is required for doc

[2019-03-19 18:21] computerwizjared commented on #285
Hi- we are confused about how to generate the certificate for the Hardware Station. We're not able to find any documentation online about it either. Could you give me a quick rundown/overview of what I should do? Thanks!

[2019-03-19 19:07] mrefalo90 commented on #285
Hi- we had created the certificate on the aos server, downloaded it and installed it on the hardware station. The way we had done this is by no means the official way on how it should be done and hence why I asked for an official clarification.

[2019-03-19 19:28] tonyafehr commented on #1058
@TomekMelissa, thanks for the feedback. If I understand correctly, https://docs.microsoft.com/en-us/dynamics365/unified-operations/dev-itpro/database/dbmovement-scenario-debugdiag is missing information that you found in https://docs.microsoft.com/en-us/dynamics365/unified-operations/dev-itpro/database/dbmovement-scenario-debugdiag.

@laneswenka, please review the suggested change and update this

[2019-03-19 21:49] tomhig opened #1060 "Article Needs Update Reflecting New OneVersion Policy"
There are no longer 2 update types once OneVersion Policy in place. Update Policy language also needs to be updated.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c4cf63cc-75ac-0caf-56ca-40dee3c77cca
* Version Independent ID: c99f8d16-c635-8879-860a-0d0ad4a24a0d
* Content: [Cloud operations and servicing - Finance & O

[2019-03-20 01:13] steevegilbert opened #1062 ""The devInstall option is not applicable to the current deployable package""
I tried following the "Install an application (AOT) deployable package on a development environment" but the step 4 fails with "The devInstall option is not applicable to the current deployable package".  I think there's missing info as mentionned here : https://github.com/MicrosoftDocs/dynamics-365-unified-operations-public/issues/204

---
#### Document Details

⚠ *Do not edit this section. It is

[2019-03-20 13:44] sericks007 commented on #1060
@tomhig, thank you for posting this.

@manalidongre, please review this and update the content, as needed.

[2019-03-20 13:45] sericks007 commented on #1062
@steevegilbert, thank you for posting this.

@manalidongre, please review this and update the content accordingly.

[2019-03-20 13:52] sericks007 commented on #1022
Bug 302057 has been logged for this issue.

[2019-03-20 14:27] amadse opened #1065 "Spelling error"
should only be used with extremem caution.
extremen should be extreme

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 28023f28-4aa0-18fd-b5fd-c2cc5f117f0b
* Version Independent ID: fe115611-d105-3b1d-f630-2df5398af447
* Content: [What's new or changed in Dynamics 365 for Finance and Operations platform update 23 (Januar

[2019-03-20 14:38] sericks007 commented on #1065
@amadse, thanks for pointing this out! We'll get this fixed!

[2019-03-20 14:41] sericks007 commented on #1065
This is fixed - the updated topic will be published later today. Thanks again!

[2019-03-20 14:41] #1065 closed

[2019-03-20 23:18] B-rade opened #1068 "Default automatic settlement table"
I think the example table for Default automatic settlement has incorrect values for the interest note. The interest note should still have a balance of 7.00 if the amount to settle was 0.00.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 723ee582-b7dc-c08c-f49d-e0a92da4e47d
* Version Independent ID: 31057a02-b3bb-4986-

[2019-03-21 02:29] rat-af opened #1069 "What happened to importing data for onebox DEV environments"
I think this document has changed again.  This document now seems to describe how to connect a onebox dev environment to an Azure DB, but the D365FO database is a local DB.  It no longer has the instructions on how to import the data to the local SQL server.  While the information here is quite useful to the purpose, those that are trying to refresh the local DB are once again left in the dark.

-

[2019-03-21 06:16] Phineas019 opened #1070 "Retail Store Scale Unit Installer Issue"
When I try to Download the Retails Scale store unit installer Got the error as Path Does not contain Package. Kindly suggest me a solution

![image](https://user-images.githubusercontent.com/41485361/54735977-e642e280-4bce-11e9-8634-3902160104be.png)

[2019-03-21 06:49] firyanis commented on #1069
Exactly... And I would say as usual...

[2019-03-21 08:10] haecktom opened #1071 "wrong menu for sharepoint config"
In 'Document Management and SharePoint experiences', there is mentioned 'Organization administration &gt; Document management &gt; Document management' while it should be 'System Administration &gt; Document management &gt; Document management'

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9341b52a-c8a6-0e54-c3ee-7eaf

[2019-03-21 08:36] firyanis commented on #1069
Forget my last comment, i found a link the page on the "Overview" page. It does not appear on the left side menu but it's still there : https://docs.microsoft.com/en-us/dynamics365/unified-operations/dev-itpro/database/dbmovement-scenario-exportuat

[2019-03-21 08:51] franzbusatto commented on #956
Enable flight for system parameters Data Connection with
INSERT INTO SYSFLIGHTING ( [FLIGHTNAME], [ENABLED], [FLIGHTSERVICEID] ) VALUES ('CDSAMaster', 1, 12719367) . For PROD environment need to open support issue not a service request.

[2019-03-21 13:10] teomsn opened #1072 "PDF Folder and HA/Load Balancing for DRA"
I have two questions:
1) I found some documentation that the PDF-Folder is used if the DRA is running as a service and custom margins are used in reports. In this case the document cannot be printed directly and gets stored in that folder for manual printing. Is this the only usage for the PDF Folder? In which format other documents (with default margins) are transferred to the DRA and is there a

[2019-03-21 20:55] rat-af commented on #1069
Good pickup.  I do see it as a link in the overview page.
MS:  I think all the 'Step by Step' tutorials in the overview page should be in the 'Tutorial' listing in the left hand pane.  It would give a consistent and easier look and feel imo.  Would also help make that content easier to find, rather than sifting through lots of pages.

[2019-03-22 03:49] avinashdandy opened #1081 "Unable to download PDF of Microsoft Dynamics 365 for Finance and Operations documentation"
Please help me downloading PDF of Microsoft Dynamics 365 for Finance and Operations documentation.  As im getting error

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 784a9997-47ed-b2d1-980a-b453138e16ad
* Version Independent ID: d57cdbe6-a216-41ec-80bf-01a0292587a8
* Content: [Microsoft Dynamics 365 for Finance and Op

[2019-03-22 11:40] fgork opened #1083 "PO does not have to be confirmed."
It is not right where it says "If you are not using USMF, you need to have a confirmed purchase order with an open purchase order line before you start this guide."
You can do the steps if your PO isn't confirmed as well. There is actually an idea on Microsoft ideas site to make confirmation mandatory. (https://experience.dynamics.com/ideas/idea/?ideaid=76744bb3-7c2a-e911-9461-0003ff688f57)

---
#

[2019-03-22 16:13] kfend commented on #1081
Thanks for bringing this to our attention. We will work to get this resolved as soon as possible.

[2019-03-22 16:22] josaw1 commented on #1068
Thank you for your feedback. I've let the author, @ShivamPandey-msft know.

[2019-03-22 16:24] josaw1 commented on #1069
Thanks for the feedback.
@laneswenka, can you please help with this? Thanks.

[2019-03-22 16:28] josaw1 commented on #697
Thanks for your feedback. I've let the author of this topic know of your concerns.

[2019-03-22 16:29] josaw1 commented on #1070
Thanks for your feedback. I've let the program manager know about it.

[2019-03-22 18:31] jashanno commented on #697
Hi @liamneesangamer
Purchase Orders and Transfer Orders are based in headquarters and are not Point of Sale operations.  The Retail Store Scale Unit (RSSU) is a Retail Server and Channel database for Point of Sale terminals (Modern POS and Cloud POS) only.  You can review the following:
Purchase Order Overview - https://docs.microsoft.com/en-us/dynamics365/unified-operations/supply-chain/procureme

[2019-03-22 19:34] kfend commented on #1081
This issue has been fixed and you can now download the pdf.

[2019-03-22 19:34] #1081 closed

[2019-03-22 19:35] kfend commented on #1083
@fgork   - can you create a pull request for the changes you made?

[2019-03-22 22:07] meeramahabala commented on #1033
The new configuration experience (https://docs.microsoft.com/en-us/dynamics365/unified-operations/dev-itpro/lifecycle-services/configure-service-updates) can help you configure a new maintenance window or pause a service update. The article has added details.

[2019-03-22 22:08] meeramahabala commented on #829
The question above answers this question.

[2019-03-22 22:09] meeramahabala commented on #811
Please see https://docs.microsoft.com/en-us/dynamics365/unified-operations/fin-and-ops/get-started/public-preview-releases for the schedule for the next few releases.

[2019-03-22 22:12] #1033 closed

[2019-03-22 22:12] #811 closed

[2019-03-22 22:13] #829 closed

[2019-03-22 22:31] dch9 opened #1086 "Override postLoad"
This article should consider describing utilizing the OnPostedLoad event handler instead of overriding postLoad which is not a supported option with the extension model.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 897be989-9546-94dd-a260-6dcfcef08c53
* Version Independent ID: b4b73984-d8a8-edb4-2333-2ccde9b48488
* C

[2019-03-23 03:11] avinashdandy commented on #1081
Hi Kristin,Thank you so much for your support.Yes, i can download it.Thanks,Avinash DandySent from my Samsung Galaxy smartphone.
-------- Original message --------From: Kristin Fender <notifications@github.com> Date: 23/03/2019  01:04  (GMT+05:30) To: MicrosoftDocs/dynamics-365-unified-operations-public <dynamics-365-unified-operations-public@noreply.github.com> Cc: avinashdandy <avinash.dandy09@g

[2019-03-24 12:43] FH-Inway opened #1089 "Document best practices and caveats around usage of exists/notexists joins"
Usage of exists/notexists joins can introduce issues in data selection or manipulation. For example, some combinations of exists and notexists joins in the same select can impact performance. Another example is that usage of order by in an exists join does not work.
These and other behaviors should be documented so that developers can avoid these kinds of issues.

---
#### Document Details

⚠ *Do

[2019-03-25 03:08] Izmiyash opened #1090 "Should add Navigation to the business event catalog page"
There is no information about how to open business event catalog page.
The navigation path (System administration > Setup > System parameters > Tab Business events - Preview.) should be added before you refer the navigation in Business events - Preview tab (Manage > Rebuild business events catalog).
Thanks,
Izuru

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.micr

[2019-03-25 09:18] Junaidahm3d commented on #1041
@jashanno please update, I am stuck at step 2.

[2019-03-25 13:16] Junaidahm3d commented on #1041
@ShylaThompson,

I have resolved the issue by myself. the document is not up to date with latest information.

[2019-03-25 13:16] #1041 closed

[2019-03-25 13:49] ShylaThompson commented on #1090
@Sunil-Garg please review the issue and update the topic if necessary.
@sericks007 for awareness

[2019-03-25 13:50] ShylaThompson commented on #1089
@RobinARH Can you review this documentation request?

[2019-03-25 13:52] ShylaThompson commented on #1086
@Sunil-Garg please review and update the topic if necessary.

[2019-03-25 13:57] ShylaThompson commented on #1083
@fgork I created PR #1091 to merge your change with the public Live branch. I'm setting this issue as resolved now.

Please note, it may take a day or two for the change to be completely published.

[2019-03-25 13:57] #1083 closed

[2019-03-25 15:15] ShylaThompson commented on #1030
@Sunil-Garg bug @ 303300 is logged for investigation.

[2019-03-25 15:21] ShylaThompson commented on #1032
@laneswenka bug # 303303 is logged for investigation.

[2019-03-25 15:21] #1035 closed

[2019-03-25 15:23] ShylaThompson commented on #1038
@TJVass Bug #303304 is logged for investigation

[2019-03-25 15:25] ShylaThompson commented on #1039
@MilindaV2 bug # 303307 is logged for investigating this issue.

[2019-03-25 15:27] ShylaThompson commented on #1040
@jasongre bug #303310 is logged for investigation

[2019-03-25 15:28] ShylaThompson commented on #1042
Request for clarification went unanswered. Closing issue.

[2019-03-25 15:28] #1042 closed

[2019-03-25 15:31] ShylaThompson commented on #1043
@abruer please review and update the topic as necessary.

[2019-03-25 15:35] ShylaThompson commented on #1046
@manalidongre bug #303315 is logged for investigation

[2019-03-25 15:38] ShylaThompson commented on #1051
@MilindaV2 bug #303316 is logged for investigation

[2019-03-25 19:15] turbozapekanka opened #1093 "How to configure this on 1-box environments?"
There used to be a link but it has been disabled: https://blogs.msdn.microsoft.com/dynamicsaxbi/2017/07/29/accessing-analytical-workspaces-on-1box-environment/

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7cd3a076-d364-f4e8-fe37-f10c77a75466
* Version Independent ID: 0f767e21-3f33-2139-0931-7cd044c81b9f
* Content: [P

[2019-03-25 22:15] noakesey opened #1095 "Skip this section if you are updating to platform update 7 or newer. This was a pre-requesite step for build environments."
I think regardless of the platform update, it will always be necessary to at least remove the metadata backup folder to prevent the next build replacing the updated binaries with those from the backup of the earlier version?  I would think its a good idea to also restore the backup before applying the update using PrepareForBuild.ps1?

---
#### Document Details

⚠ *Do not edit this section. It is

[2019-03-26 03:14] hiteshgoldeneye opened #1097 "Customer search criteria"
Can we default the customer search criteria to search by a particular field (say Email) when searching for customers.

[2019-03-26 04:34] FINOPSAOSCEWA opened #1098 "Print Management settings aren't exported"
Hi, is there an option to export a database with Print management settings?
The print management settings are configured per legal entity. And the client has more than 100 legal entities in the system.
When the database is refreshed from Prod (or any tier 2 environment) to another environment (such as UAT) for testing, it will not feasible for the client to re-configure print management settings o

[2019-03-26 13:12] #1053 closed

[2019-03-26 13:16] tonyafehr commented on #1097
Your comment is not tied to a particular help topic. Which topic is this in reference to?

In the meantime, to get product help you can contact Support using one of the options described here: [Support contact options](https://docs.microsoft.com/en-us/dynamics365/unified-operations/dev-itpro/lifecycle-services/lcs-support). In particular, you might want to go to the [Dynamics 365 for Finance and O

[2019-03-26 13:18] tonyafehr commented on #1098
@FINOPSAOSCEWA, thanks for the feedback. To get product help you can contact Support using one of the options described here: [Support contact options](https://docs.microsoft.com/en-us/dynamics365/unified-operations/dev-itpro/lifecycle-services/lcs-support). In particular, you might want to go to the [Dynamics 365 for Finance and Operations community page](https://community.dynamics.com/) to get h

[2019-03-26 13:18] tonyafehr commented on #1095
@noakesey, thanks for the feedback.

@laneswenka, can you review the suggested change and update this topic if necessary.

[2019-03-26 13:20] tonyafehr commented on #1093
@turbozapekanka, thanks for the feedback.

@laneswenka, can you address the issue with the link that is not working.

[2019-03-26 13:24] tonyafehr commented on #1052
Bug 301735 has been logged to track this issue.

[2019-03-26 13:27] tonyafehr commented on #1055
Bug 303661 has been logged to track this issue.

[2019-03-26 13:30] tonyafehr commented on #1054
Bug 303664 has been logged to track this issue.

[2019-03-26 13:32] tonyafehr commented on #1060
Bug 303668 has been logged to track this issue.

[2019-03-26 13:35] tonyafehr commented on #1062
Bug 303670 has been logged to track this issue.

[2019-03-26 13:38] tonyafehr commented on #1058
Bug 303676 has been logged to track this issue.

[2019-03-26 14:02] hiteshgoldeneye commented on #1097
https://docs.microsoft.com/en-us/dynamics365/unified-operations/retail/pos-search-improvements

Regards
Hitesh

On 26 Mar 2019, at 9:17 PM, Tonya Fehr <notifications@github.com<mailto:notifications@github.com>> wrote:

Your comment is not tied to a particular help topic. Which topic is this in reference to?

In the meantime, to get product help you can contact Support using one of the options desc

[2019-03-26 14:10] tonyafehr commented on #1097
@hiteshgoldeneye, thanks for the additional info.

@ShalabhjainMSFT, can you review the suggested change and update this topic if necessary.

[2019-03-26 14:11] tonyafehr commented on #1093
@MilindaV2, can you address this issue. Thanks!

[2019-03-26 15:41] tomhig opened #1101 ""Power BI content in LCS from Microsoft and your partners Link" is broken"
The Power BI content in LCS from Microsoft and your partners link in the Accessing Power BI Content section is referencing a Blog that is no longer in service.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cb0614e8-5677-60b5-10b4-5faa4a434bcf
* Version Independent ID: ca01592c-5983-e089-2901-ab9edfb46550
* Content: [C

[2019-03-26 16:33] tonyafehr commented on #1101
@tomhig, thank you for the feedback.

@AndersGirke, please review this issue and update the link in this topic.

[2019-03-26 19:21] jasongre commented on #1040
"EntityID" is the URL parameter that is used to pass the data context from D365FO to the PowerApp.  It specifically corresponds to the "Input data for the PowerApp" selected when configuring the PowerApp inside D365FO (and does not refer to any data entity).

[2019-03-26 20:24] ShalabhjainMSFT commented on #1097
The default search behavior can be updated by code customization. You would have to override the default customer search logic and write your own. However, the easier way would be to use the "Customer search shortcuts" and add Email as a shortcut. I am assuming you have already read the article, but adding it again just in case you missed reading this part:

https://docs.microsoft.com/en-us/dynami

[2019-03-26 21:13] #1097 closed

[2019-03-26 21:38] hasaid commented on #768
the correct place in wif.config is under authority https://fakeacs.accesscontrol.windows.net

[2019-03-27 00:31] karleesm opened #1102 "Link to supported countries"
Can we please include a link to supported countries in the document - "Modular applications will be provisioned only in supported countries or regions."

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 43e145b6-a02f-49e3-3fc0-7d80a0e85303
* Version Independent ID: e4652c2f-8125-d6a2-f288-f172c7e629f6
* Content: [Provisio

[2019-03-27 07:11] Phineas019 commented on #1070
Is that any update on this ?

[2019-03-27 12:46] JoelLeichty opened #1103 "Is This Article Up To Date"
This article is linked by the Platform 24 What's New, which was published 3/13/2019. However, this article was last updated on 12/25/2018. Does it contain whatever the new features are?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 85d06c76-517e-c0f9-f089-be75a47c1605
* Version Independent ID: 18059b14-4123-298f-51b0-

[2019-03-27 12:50] sericks007 commented on #1102
@karleesm, thanks for providing this feedback!

@andreabichsel, can you please review and update the topic as needed.

[2019-03-27 12:52] sericks007 commented on #1103
@JoelLeichty, thanks for posting this!

@Sunil-Garg, can you please review and comment.

[2019-03-27 12:56] sericks007 commented on #1068
Bug 304170 has been logged to track this issue.

[2019-03-27 15:26] Dynamics365Fan commented on #1070
Thanks for contacting us. Unfortunately, we're unable to handle Support requests for the product here. To contact Support, consider one of the options described here: [Support contact options](https://docs.microsoft.com/en-us/dynamics365/unified-operations/dev-itpro/lifecycle-services/lcs-support). In particular, you might want to go to the [Dynamics 365 for Finance and Operations community page](

[2019-03-27 15:28] sericks007 commented on #1070
Thanks for contacting us. Unfortunately, we're unable to handle Support requests for the product here. To contact Support, consider one of the options described here: [Support contact options](https://docs.microsoft.com/en-us/dynamics365/unified-operations/dev-itpro/lifecycle-services/lcs-support). In particular, you might want to go to the [Dynamics 365 for Finance and Operations community page](

[2019-03-27 15:28] #1070 closed

[2019-03-28 00:58] maveloso opened #1105 "Broken link for the F&O BI blog"
the link under getting started, "Finance and Operations: Business intelligence (blog)" Leads to a "page not found" page

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: adf5c448-2cd0-1538-d380-4af101563e90
* Version Independent ID: e6497148-5f30-b30a-98ca-853181932447
* Content: [Business intelligence (BI) and reporting

[2019-03-28 09:54] AndersDahlin opened #1106 "Retail Cloud Scale Unit"
Can this also be used for the RCSU database? Any information on how to access the information for the channel database?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f2cf3f22-3c3d-7a29-cd1e-df61b9edd3c0
* Version Independent ID: 4db504aa-4f47-d9b4-89e6-4e6292984238
* Content: [Performance troubleshooting using tools i

[2019-03-28 12:42] teomsn opened #1107 "Upgrade from 8.1 to 10"
Hello, we would like to upgrade a customer from 8.1 to 10. I'm not sure at the moment - do we only have to apply "Generally available - Dynamics 365 for Finance and Operations version 10.0" Package like doing a platform update to all the different sandboxes (and PROD) or do we have to do all the steps desciped in this article (like Deploying new DEV and BUILD sandboxes, create a new branch, remove

[2019-03-28 13:06] sericks007 commented on #1105
@maveloso, thanks for making us aware of this issue!  I've fixed the link, and the updated topic will be published later today.

In the meantime, you can find the blog here: https://community.dynamics.com/365/financeandoperations/b/powerbianalyticsandreporting

[2019-03-28 13:06] #1105 closed

[2019-03-28 13:41] sericks007 commented on #922
This topic was updated and published.

[2019-03-28 13:41] #922 closed

[2019-03-28 15:39] aariste opened #1108 "All tables that contain financial dimensions can be used as sources for statistical measures."
We've seen in the form lookup that displays the table list that it's not an automatically generated list of tables anymore (the code is commented). Instead it's a fixed list (actually a X++ List) of tables.

Is this list mantained through different 365FO versions? Are all dimension enabled tables in that list?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microso

[2019-03-28 17:43] josaw1 commented on #1108
Thanks for your question. I've let @AndersGirke know about it.

[2019-03-28 17:45] josaw1 commented on #1107
Thanks for your question. I've let @laneswenka know about it.

[2019-03-28 17:47] josaw1 commented on #1106
Hi, thanks for your question. I've let @manalidongre know about it.

[2019-03-28 18:50] JohanMaria1974 opened #1111 "Strd Structured Remittance message format not available for Netherlands, France, Germany?"
Hi, thanks for this very insightful information on SEPA credit transfers in D3FO.  Our organization also has branches in Germany, France and the Netherlands and we would need to (continue) use structured remittance messages for payments by our customers.  I read under the section on Strd that this option is not avialble for the specific formats used in Netherlands, France & Germany.  Could you giv

[2019-03-28 18:54] JoelLeichty opened #1112 "Bug Fixes Typo"
Should say "10.0.1" not "10.0" in the Bug fixes section.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 926b95da-8eaa-e23b-eeca-b334ea932e19
* Version Independent ID: 8f4901db-8cd1-74b3-0306-09b6295abd05
* Content: [Preview features in Finance and Operations version 10.0.1 (April 2019) - Finance & Operations | Dynamics

[2019-03-28 19:03] mitchellgarner opened #1113 "Certain WITs not showing up in LCS"
We recently restored the default mappings in LCS for Azure DevOps WITs.  This took away the mapping of Issues in LCS to Issues in Azure DevOps.  How do I restore this?

Is it possible to map to a custom WIT?  We added "Issue Log" so that our issues could show up in the backlog pages.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linki

[2019-03-28 23:59] emurakami opened #1115 "Extension articles under this article"
The three articles hierarchical under this one (Extend the list of electronic reporting functions, Electronic reporting framework API Changes for Application update 7.3, and Specify a customer storage for generated documents) don't seem to be related to this article. I would suggested a different summary article discussing extending the ER framework to organize those articles.

---
#### Document D

[2019-03-29 01:44] manishmoothedath commented on #1040
Thanks, Jason, I understand that. To clarify my question -
It is mentioned in the Docs site to use this formula in the OnStart function of the PowerApp.
 If(!IsBlank(Param("EntityId")), Set(FinOpsInput, Param("EntityId")), Set(FinOpsInput, ""));
But just isn't making any difference or filtering the parameter when embedded into D365FO. I wonder the "EntityId" should be replaces with the name of the

[2019-03-29 12:49] SysC0mp opened #1117 "Missing information about "Run Best Practices Fixers" option"
It is possible to execute the "Run Best Practices Fixers" command for each project in a visual studio solution, but I cannot find any information about that option. I also could not find any information about that in the Dynamics AX Community Forum.

- How can I use this feature?
- Is it possible to write own "Best practice fixers"?

Thanks & Best regards

---
#### Document Details

⚠ *Do not edit

[2019-03-29 15:43] tonyafehr commented on #1112
@JoelLeichty, thanks for noting this. I'll update the topic and it should be re-published later today.

[2019-03-29 15:43] #1112 closed

[2019-03-29 15:54] kfend commented on #1113
Thanks for contacting us. Unfortunately, we're unable to handle Support requests for the product here. To contact Support, consider one of the options described here: [Support contact options](https://docs.microsoft.com/en-us/dynamics365/unified-operations/dev-itpro/lifecycle-services/lcs-support). In particular, you might want to go to the [Dynamics 365 for Finance and Operations community page](

[2019-03-29 15:54] #1113 closed

[2019-03-29 16:33] ShylaThompson commented on #1115
@emurakami thanks for your comment. We are currently in the process of rearranging the Electronic reporting table of contents and I appreciate your comment. Please expect to see a different and better organization of this content in the near future.

[2019-03-29 19:51] brgarity opened #1118 "This is what I had to do to get this to work"
The documentation is missing some steps.  I have a doc that I made that includes the missing information but I don't know how to submit that to you???

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3eb22af1-4e63-ed08-7586-341a5593b8fd
* Version Independent ID: b5b82695-ef06-7e5a-37b9-043aef0011e0
* Content: [Show order

[2019-03-29 23:30] andreabichsel commented on #1102
Thank you @karleesm, I added the link!

[2019-03-29 23:30] #1102 closed

[2019-03-30 03:18] fraga commented on #1004
@noakesey As a partner we have been using our unique name for all extensions. Suffix: XYZExtension.
Ie.: CustTable.XYZExtension. I've seen ISVs not taking this into consideration.

[2019-03-30 08:03] valerymoskalenko opened #1119 "Cannot drop the procedure 'XU_DisableEnableNonClusteredIndexes', because it does not exist or you do not have permission."
I can't find XU_DisableEnableNonClusteredIndexes in the stored procedures. My version is 8.1.3

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 277452eb-70c4-3d29-5219-1355a40bb714
* Version Independent ID: a9d425c4-c627-d20f-4098-307eceb2dd07
* Content: [Golden configuration promotion - Finance & Operations | Dynamics 3

[2019-03-31 19:25] OksanaKovaliova opened #1120 "Retail store scale unit components"
Hi, does RSSU not include Cloud POS component anymore?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 117efc64-27a2-cc6d-277b-34835be7b08d
* Version Independent ID: d7066d76-58e5-3cfb-90f0-1b76f187fcf4
* Content: [Select an in-store topology - Retail | Dynamics 365](https://docs.microsoft.com/en-us/dynamics365/unified-

[2019-03-31 19:34] OksanaKovaliova opened #1121 "Run the installer on any other device"
Run the installer on any other device - does this section describe 'Hybrid App' installation (CPOS inside mobile App) - or some another App?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 927871b0-20f5-3541-bd32-f6dc785374df
* Version Independent ID: 15ec7fef-92df-4ec5-5507-0d97527b64c5
* Content: [Configure, install,

[2019-03-31 19:35] OksanaKovaliova opened #1122 "Hardware station"
Hi, is Hardware station still not available component? The following article says it is available: https://docs.microsoft.com/en-us/dynamics365/unified-operations/dev-itpro/deployment/deploy-retail-onprem

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3cf9a796-9280-5e52-4530-77e4154ff532
* Version Independent ID: 1789b

[2019-04-01 14:13] ShylaThompson commented on #1122
@AamirAllaq can you review this issue and update the topic if necessary?

[2019-04-01 14:15] ShylaThompson commented on #1121
@jashanno can you review this issue and update the topic or respond to the question?

[2019-04-01 14:16] ShylaThompson commented on #1120
@jashanno can you review this issue and update the topic or respond to the poster?

[2019-04-01 14:17] ShylaThompson commented on #1119
@laneswenka can you review this issue and update the topic or respond to the poster?

[2019-04-01 14:21] ShylaThompson commented on #1118
@brgarity thanks for reaching out.

To get edit a topic, click the Edit (pencil) button on a topic in the upper right corner of the page, or go to our repo at [https://github.com/MicrosoftDocs/dynamics-365-unified-operations-public](https://github.com/MicrosoftDocs/dynamics-365-unified-operations-public) and navigate to the file that you want to edit.

For more information, please refer to [our co

[2019-04-01 15:07] alanflanders opened #1125 "Document change tracking"
I would like to subscribe to changes on this content page.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f271eeaf-54e1-5476-bfbf-37f8b899c425
* Version Independent ID: b5156471-8259-9cbd-f68b-ad4a9a4c864a
* Content: [Videos for Finance and Operations - Finance & Operations | Dynamics 365 | #MSDyn365FO](https://docs.mi

[2019-04-01 18:15] brgarity commented on #1118
I could not see how to best update the documentation.  I’ve included a .pdf of the additional steps required to accomplish this task.

Brian Garity | Dynamics 365 Operations Technical Specialist
Email: brgarity@microsoft.com
Cell: 262-490-4267

From: Shyla Thompson <notifications@github.com>
Sent: Monday, April 1, 2019 9:22 AM
To: MicrosoftDocs/dynamics-365-unified-operations-public <dynamics-365-

[2019-04-01 19:48] ShylaThompson commented on #1118
@ShalabhjainMSFT please review and update the content as necessary.

@brgarity your PDF upload did not work. Please try to upload directly to the GitHub issue. Do no reply via email.

[2019-04-01 20:22] brgarity commented on #1118
To make the required changes to the buttons you need to start on the POS side.  From the POS , click on Settings which is circled.  Then take note of the Screen Layout ID "F3MGR"  & the layout resolution of 1440x960.

Note:  The button development changes need to be done using the Edge browser.
[Session information  Application session ID  cc982467-57e7-d89b-666d-d071c9e99363  User session ID  a-1

[2019-04-01 21:42] ShylaThompson commented on #1071
@haecktom , the path in [the topic](https://docs.microsoft.com/en-us/dynamics365/unified-operations/dev-itpro/office-integration/office-integration-tutorial?toc=%2Fdynamics365%2Funified-operations%2Ftalent%2Ftoc.json#document-management-and-sharepoint-experiences) is accurate in the most recent versions of the product. Closing as a non-issue.

[2019-04-01 21:42] #1071 closed

[2019-04-02 13:48] tonyafehr commented on #1125
You can only subscribe to an RSS feed of all updates to the Unified Operations content. To do that, use the following link from a browser that supports RSS feeds: [RSS feed](https://docs.microsoft.com/api/search/rss?locale=en-us&$filter=scopes%2Fany(t%3A%20t%20eq%20%27Unified%20Operations%27))

[2019-04-02 13:48] #1125 closed

[2019-04-02 15:52] tonyafehr commented on #1072
Bug 308966 has been logged to track this issue.

[2019-04-02 15:52] tonyafehr commented on #1069
Bug 308965 has been logged to track this issue.

[2019-04-02 15:55] tonyafehr commented on #1086
Bug 308967 has been logged to track this issue.

[2019-04-02 15:58] tonyafehr commented on #1090
Bug 308968 has been logged to track this issue.

[2019-04-02 16:00] tonyafehr commented on #1089
Bug 308970 has been logged to track this issue.

[2019-04-02 16:02] tonyafehr commented on #1093
Bug 308972 has been logged to track this issue.

[2019-04-02 16:04] tonyafehr commented on #1095
Bug 308973 has been logged to track this issue.

[2019-04-02 16:05] tonyafehr commented on #1098
Bug 308974 has been logged to track this issue.

[2019-04-02 16:08] tonyafehr commented on #1101
Bug 308975 has been logged to track this issue.

[2019-04-02 16:19] turbozapekanka commented on #1093
I found another link
https://community.dynamics.com/365/financeandoperations/b/dynamicsaxbi/archive/2019/02/03/how-to-configure-power-bi-embedded-for-dynamics-365-for-finance-and-operations-one-box-environment
Looks like the content of all dynamics blogs is moved from msdn blogs to
another site but old links do not redirect to the new site

On Tue, Apr 2, 2019 at 11:02 AM Tonya Fehr <notifications

[2019-04-02 18:15] tonyafehr commented on #1093
@turbozapekanka, thanks for the info. I don't see a history of this blog - https://blogs.msdn.microsoft.com/dynamicsaxbi/2017/07/29/accessing-analytical-workspaces-on-1box-environment/ in this topic.
Is this the topic where you accessed this blog?
https://docs.microsoft.com/en-us/dynamics365/unified-operations/dev-itpro/analytics/power-bi-integration-entity-store?toc=%2Ffin-and-ops%2Ftoc.json#feed

[2019-04-03 06:13] gaggaz12 opened #1134 "Link for (bank reconciliation import file technical layout definitions and..) fails with "ERR_CONNECTION_CLOSED""
Hi, the link for "Below are examples of the advanced bank reconciliation import file technical layout definitions and three related bank statement example files: https://mbs.microsoft.com/customersource/northamerica/AX/learning/documentation/how-to-articles/exofbankstfotechlayouts"
fails with ERR_CONNECTION_CLOSED in chrome, firefox and IE

---
#### Document Details

⚠ *Do not edit this section. I

[2019-04-03 08:38] uzairsaleem75 opened #1135 "Track user sign-ins is not working as mentioned. no capturing in telemetry. browser and IP information showing blank in all cases"
Track user sign-ins is not working as mentioned. no capturing in telemetry. browser and IP information showing blank in all cases.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c3d645ca-b551-53d7-6156-86c6822975da
* Version Independent ID: 814c625e-202e-ba34-3120-99265859e78c
* Content: [Track user sign-ins - Finance

[2019-04-03 13:24] sericks007 commented on #1134
@gaggaz12, thanks for making us aware of this issue.

@ShylaThompson, can you please fix the link?

[2019-04-03 13:26] sericks007 commented on #1135
@uzairsaleem75, thanks for making us aware of this issue.

@manalidongre, can you please review and update the topic, as needed.

[2019-04-03 13:29] sericks007 commented on #1103
Bug 309249 has been logged to track this issue.

[2019-04-03 13:35] sericks007 commented on #1106
Bug 309250 has been logged to track this issue.

[2019-04-03 20:08] andreabichsel commented on #944
Hi @maheshambati410, I hope you got help with this question earlier through one of the above channels, but I'm adding the answer in case others want to know. At this time, it's not possible to back up and restore a trial environment. Thank you!

[2019-04-03 20:08] #944 closed

[2019-04-04 08:31] markusotte08 opened #1136 "reg. Deriving from internal classes is deprecated"
Can we add below links for clarification?
https://community.dynamics.com/365/financeandoperations/b/mfp/archive/2019/03/20/x-access-specifiers-revisited
https://community.dynamics.com/365/financeandoperations/b/mfp/archive/2019/01/24/x-access-modifiers

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 07111f31-687b-8c0c-2

[2019-04-04 08:59] FH-Inway opened #1137 "Improve documentation for local development environments"
The current documentation is written for environments that are not local development environments. It should be updated with information for those environments, especially when it comes to the creation of the topology file. A comment in that file indicates that for local development environments, only an update of the AOSService component is supported. But at least for the 10.0 update, this will l

[2019-04-04 11:06] noorsyyad commented on #184
do we need to have run this pregrade checklist for data upgrade when upgrading to D365 Finance & Operations 8.1

[2019-04-04 13:05] sericks007 commented on #1136
@markusotte08, thank you for bringing this to our attention!  I'll check with the PM.

[2019-04-04 14:11] UmeshPandit commented on #283
just a try: check this file Microsoft.Dynamics.AX.Framework.DocumentRouting.config under "C:\ProgramData\Microsoft\Microsoft Dynamics 365 for Operations - Document Routing" check by changing the parameters.

AADInstance
ApplicationId
Tenant
AXResourceId

[2019-04-04 17:19] ShylaThompson commented on #1111
@mrolecki can you review this issue?

[2019-04-04 17:27] ShylaThompson commented on #892
@vavd please see [Cash flow management](https://docs.microsoft.com/en-us/dynamics365/unified-operations/financials/localizations/rus-cash-flow).

[2019-04-04 17:27] #892 closed

[2019-04-04 17:31] ShylaThompson commented on #594
The TOC entry has been moved. The white paper is planned for review for migration.

[2019-04-04 17:31] #594 closed

[2019-04-05 18:58] sericks007 commented on #667
@prodev42, can you please respond to Sunil's question above. Thanks!

[2019-04-08 09:37] davecope1982 commented on #769
is the pbix now available as a resource?

[2019-04-08 11:38] ponek opened #1143 "Unable to add the MS LCS repository, step 5"
Get the following error when trying to add the MS LCS repo

Failed to generate the user token for Dynamics Lifecycle services on behalf on user {C872AA9A-EF7F-4745-968A-C584F02D0C4D}. Please contact your system administrator.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 54fd860e-7cd1-af1d-c9f2-9f892060b663
* Version

[2019-04-08 15:41] davecope1982 opened #1144 "Content pack link"
The link above to the content pack in LCS is not working, please could you advise where we can get these resources from?

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 044f1dfc-75e0-e4de-4a75-03266e0be158
* Version Independent ID: 5beb82c0-d1d2-9d79-259c-45d86f5a848b
* Content: [Expense management Power BI content - Fi

[2019-04-08 17:02] ShylaThompson commented on #1144
@davecope1982 Thanks for letting us know about the broken link.

@ryansandness can you respond with a link to where @davecope1982 can get the content packs from?

[2019-04-08 17:24] ShylaThompson commented on #1143
@ponek  Thanks for contacting us. Unfortunately, we're unable to handle Support requests for the product here. To contact Support, consider one of the options described here: [Support contact options](https://docs.microsoft.com/en-us/dynamics365/unified-operations/dev-itpro/lifecycle-services/lcs-support). In particular, you might want to go to the [Dynamics 365 for Finance and Operations communit

[2019-04-08 17:24] #1143 closed

[2019-04-08 20:04] FH-Inway commented on #1137
See also https://community.dynamics.com/365/financeandoperations/b/365foroperationstechnical/archive/2019/04/06/issues-after-installing-binary-updates-to-local-dev-machine

[2019-04-09 16:06] tonyafehr commented on #1108
Bug 313338 has been logged to track this issue.

[2019-04-09 16:06] tonyafehr commented on #1107
Bug 313337 has been logged to track this issue.

[2019-04-09 16:09] tonyafehr commented on #1111
Bug 313339 has been logged to track this issue.

[2019-04-09 16:10] #1115 closed

[2019-04-09 16:12] tonyafehr commented on #1117
Bug 313341 has been logged to track this issue.

[2019-04-09 16:14] tonyafehr commented on #1118
Bug 313342 has been logged to track this issue.

[2019-04-09 16:16] tonyafehr commented on #1119
Bug 313343 has been logged to track this issue.

[2019-04-09 16:18] tonyafehr commented on #1120
Bug 313344 has been logged to track this issue.

[2019-04-09 16:19] tonyafehr commented on #1121
Bug 313345 has been logged to track this issue.

[2019-04-09 16:21] tonyafehr commented on #1122
Bug 313346 has been logged to track this issue.

[2019-04-09 17:04] tomhig opened #1146 "Personalization Toolbar Image is not current"
Personalization Toolbar image is not current.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1e113c5e-0085-f1ca-efab-21d65155d9fd
* Version Independent ID: f50b77f0-46f0-5924-68e4-ebd2b67566b4
* Content: [Personalize the user experience - Finance & Operations | Dynamics 365 | #MSDyn365FO](https://docs.microsoft.com/en-

[2019-04-09 17:15] ShylaThompson commented on #1134
@gaggaz12 the link works now. CustomerSource went through maintenance last week, which was likely why the link was broken for you. Please try again.

[2019-04-09 17:15] #1134 closed

[2019-04-09 17:17] ShylaThompson commented on #1146
@TLeforMicrosoft can we get an updated image in this topic?

[2019-04-09 19:47] JbKarlsson opened #1147 "url for flow"
[Hi, You need to explain how to get the url to the flow that is mandatory when you configure the endpoint. Because as it is now it seems that the flow url that you take from the details page for the flow does not work.]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6f11c236-140a-b6dd-c5c6-533eb177b539
* Version Indepe

[2019-04-09 20:34] tonyafehr commented on #1147
@JbKarlsson, thanks for the feedback.
@Sunil-Garg, please consider updating this topic based on what's noted in this feedback.

[2019-04-09 20:37] tonyafehr commented on #1135
Bug 313432 has been logged to track this issue.

[2019-04-09 22:20] mannesneuer opened #1149 "Leave without pay"
The instructions on this page are incorrect for Leave without pay where we want to still track  zero dollar earnings. Example: FMLA Leave. Steps:
1 - Set up FMLA Earning code, zero hourly pay, reduces FMLA.
2- Set up HR Leave type: FMLA, using Earning code: FMLA.
3- Set Worker Leave to start and end at given dates.
4 - Following instructions on this page, change worker Position to generate earning

[2019-04-10 01:54] manishmoothedath opened #1150 "Error while importing Tier 2 sandbox database bacpac file to cloud hosted environment"
*** Error importing database:Could not import package.
Error SQL72014: .Net SqlClient Data Provider: Msg 208, Level 16, State 1, Procedure SYSSQLRESOURCESTATSVIEW, Line 1 Invalid object name 'sys.dm_db_resource_stats'.
Error SQL72045: Script execution error.  The executed script:
CREATE VIEW SYSSQLRESOURCESTATSVIEW
AS
SELECT 1010 AS RECID,
       end_time AS ENDTIME,
       avg_cpu_percent AS AVGC

[2019-04-10 06:13] MichaelFruergaardPontoppidan opened #1151 "Make subpages"
The TOC is quite hard to understand. It would improve if the ATL pages (Navigation concepts, … , Frequently asked questions) were made children of this page.
As it is right now, it appears as the FAQ is for "Testing support in VS" - which it is not.

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e22191c2-edc9-fe49-3624

[2019-04-10 12:25] Costin-hcl opened #1152 ".DimensionIntegration suffix required?"
Hello,

It looks like when we extend the entity using the add-in, we need to keep the name = Data Entity Name + “.DimensionIntegration”. In our case: DimensionCombinationEntity.DimensionIntegration.
If we change the ending to something that follows normal naming convention (e.g. 3-letter project prefix or customer name), the values are not populated anymore.

Is this a bug or the intended behaviou

[2019-04-10 12:37] ornjohan commented on #901
@ShylaThompson Im having same issue as above.
So we get provided a guide by Microsoft, which is now out of date, and its still not fixed after 2 months.
Where if not here should we say that the article is out of date?
axruntimeuser doesnt exist in LCS anymore, so the above SQL script needs to be updated to work, or this article is just unnecessary.

[2019-04-10 12:54] sericks007 commented on #1149
@mannesneuer, thanks for making us aware of this!

@brpotter, please update the topic accordingly.

[2019-04-10 12:59] sericks007 commented on #1150
Thanks for contacting us. Unfortunately, we're unable to handle Support requests for the product here. To contact Support, consider one of the options described here: [Support contact options](https://docs.microsoft.com/en-us/dynamics365/unified-operations/dev-itpro/lifecycle-services/lcs-support). In particular, you might want to go to the [Dynamics 365 for Finance and Operations community page](

[2019-04-10 12:59] #1150 closed

[2019-04-10 13:02] sericks007 commented on #1151
@MichaelFruergaardPontoppidan, thanks for the feedback! We'll work to make this better.

[2019-04-10 13:05] sericks007 commented on #1152
@Costin-hcl, thank you for posting this! Could you please clarify which article this feedback applies to?

[2019-04-10 13:09] Costin-hcl commented on #1152
It's this one:  https://docs.microsoft.com/en-us/dynamics365/unified-operations/dev-itpro/financial/dimensions-overview

[2019-04-10 13:19] sericks007 commented on #1152
@Costin-hcl, thank you!

[2019-04-10 13:45] MichaelFruergaardPontoppidan opened #1153 "This page should be removed"
Hi,
Unfortunately the wizard didn't make it into PU25 - so we should remove/hide this page.  The wizard is targeted PU28 - but might slip again.   Also remove the reference to the page on the ATL landing page.

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6d635373-8279-5322-1dd1-73ab400e871c
* Version Independent ID:

[2019-04-10 15:18] v-oloski commented on #1111
Thank you for your question.
Really ISO20022 Credit transfer format for Germany, France and the Netherlands does not contain structured remittance messages block in current design.  These formats were implemented according the country level guidelines. But a company may use ISO20022 Credit transfer generic format (all country formats were implemented on base of this format), if this format is alig

[2019-04-10 15:25] #1111 closed

[2019-04-10 21:27] JohanMaria1974 commented on #1111
Thank you all so much for following up on this matter. I highly appreciate
it - our company is in the middle of implementing D3FO as the single global
ERP and in Europe we serve all 3 markets and want to go for structured
payments /remittance.

Thanks again

Kind regards

Johan Peeters
Customer Service Manager
CRC Industries Europe

Op wo 10 apr. 2019 17:18 schreef Olga Oskina <notifications@githu

[2019-04-11 04:56] Izmiyash opened #1154 "inconsistent description about multiple prod instances under a same tenent"
[Enter feedback here]

Though I know the description in this page is quite correct, Licencing Guide linked from this page has inconsistent description.

Licensing guide is saying "Dynamics 365 for Finance and Operations and Dynamics 365 for Retail both only support a single production instance per tenant."
It's totally incorrect in reality and really misleading. must be corrected.

Can you guys as

[2019-04-11 07:26] ELandAX opened #1155 "Workflow Export Fails"
Hello,

I did not find a related page to this functionality so I post the workflow export issue here. I guess, you will delegate it to the right place and people.

The problem occurs when the workflow name exceeds 48 chars, workflow export fails.
The max allowed workflow name size is 60.

The file name is constructed from workflow name, version number and .xml file extension.
SysWorkflowConfigurat

[2019-04-11 07:31] PalleAgermark opened #1156 "I don't see any ExportToExcelIGeneratedCustomExport interface"
I don't think the ExportToExcelIGeneratedCustomExport interface is available in the application anymore. It seems to be replaced by OfficeIGeneratedWorkbookCustomExporter.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8848c893-613d-1271-9f00-306fda77eae3
* Version Independent ID: 0c390ed8-b9a7-c636-4069-cc84551293d5
*

[2019-04-11 07:31] PalleAgermark opened #1157 "I don't see any ExportToExcelIGeneratedCustomExport interface"
I don't think the ExportToExcelIGeneratedCustomExport interface is available in the application anymore. It seems to be replaced by OfficeIGeneratedWorkbookCustomExporter.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4f5fd999-8250-2c6f-1871-3d3d2b9a19f4
* Version Independent ID: dbec8e0d-6ad3-df5c-518b-005622b0e2f8
*

[2019-04-11 13:34] sericks007 commented on #1154
@Izmiyash, thank you for providing feedback!

@ClaudiaBetz-Haubold, please review and update the topic appropriately.

[2019-04-11 13:37] sericks007 commented on #1155
@ELandAX, thank you for providing this feedback!

@ChrisGarty, please review and update the documentation appropriately.

[2019-04-11 13:39] sericks007 commented on #1156
@PalleAgermark, thanks for posting this feedback!

@ChrisGarty, please review and update the topic appropriately.

[2019-04-11 13:41] sericks007 commented on #1157
@PalleAgermark, thanks for posting this feedback!

@ChrisGarty, please review and update the topic appropriately.

[2019-04-11 14:25] sericks007 commented on #1136
Bug 313994 has been logged for this issue.

[2019-04-11 14:27] sericks007 commented on #1137
Bug 313995 has been logged to track this issue.

[2019-04-11 14:52] FH-Inway opened #1159 "Process does not work for merged packages"
While trying to deploy a package that was merged from a 10.0 update package and a package with customizations, I got errors about modules not in the package that are on the environment where I'm trying to deploy the package. After adding the ModuleToRemove.txt file with the names from the error message to the customizations package and merging it again with the 10.0 update package, I tried to appl

[2019-04-11 15:26] ShylaThompson opened #1160 "Test issue"
test

[2019-04-11 15:28] sericks007 commented on #1159
@FH-Inway, thanks for making us aware of this.

@manalidongre or @robadawy, please review and update the topic as needed.

[2019-04-11 15:44] sericks007 commented on #1154
@Izmiyash, I've reached out to a member of the Pricing & Licensing team, and she will review this and get clarify for the guide.

[2019-04-11 16:07] sericks007 commented on #1154
I'm going to close this issue now, as another team will handle the update to the Licensing Guide.  But if you don't see changes relatively soon, feel free to re-open this issue. Thanks!

[2019-04-11 16:07] #1154 closed

[2019-04-11 20:28] RobinARH commented on #1152
Yes, you need to use DimensionCombinationEntity.DimensionIntegration. ‘DimensionIntegration’ is a reserved namespace to separate changes from the DimensionCombinationEntity and DimensionSetEntity from other customizations.

-Robin

[2019-04-11 21:42] SteveBurkettNZ commented on #1072
Regarding #2, it's load balancing. The print jobs are being stored in a queue on the D365FO end in the cloud. DRA's will check in every 5 seconds for new jobs waiting to be printed on that queue that are for any printers that that DRA has been configured to handle. If they find one in the queue it'll download and print it. Therefore two DRA's can print two documents in parallel, even if it's to th

[2019-04-11 23:14] #1152 closed

[2019-04-12 12:32] SST1982 opened #1163 "Screenshots would be helpful (and more)"
1) This article would profit from screenshots. User could compare his screen to what the configuration should look like.
2) It is strange that inputs are duplicated as a bullet point.
3) The instruction does not cover if the objects are created as a parent-child hierarchy or all as root objects. Starting from the second "click add", the system asks me if I want to create a root object or a CHILD t

[2019-04-12 13:42] sericks007 commented on #1163
@SST1982, thanks for providing this feedback!

@NickSelin, please review and update the topic accordingly.

[2019-04-12 13:57] ShylaThompson commented on #1163
@SST1982  Thanks for logging this issue. Topics like this one were automatically generated from a task guide. If your help system parameters are set up so you have access to the most recent Microsoft APQC Business Process Modeler Library, you should have access to the task guide that that this topic was created from. Task guides walk you through procedures in the user interface. See this topic abo

[2019-04-12 13:57] #1163 closed

[2019-04-12 17:02] tomhig opened #1164 "Link to SSRS Technical Reference Report is Broken"
The link in To View The Report section of this article is broken. It is referencing a page on CustomerSource.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f2ec1069-b2cd-2aff-6d1a-745b582f71d0
* Version Independent ID: 28414467-caf2-963b-a830-561240c70e89
* Content: [SQL Server Reporting Services (SSRS) reports that a

[2019-04-12 17:42] sericks007 commented on #1164
The SSRS technical reference report is available on CustomerSource, but it appears that CustomerSource is temporarily unavailable due to system maintenance.  Please check the link again soon, when CustomerSource is available again.

[2019-04-12 17:42] #1164 closed

[2019-04-14 18:46] burakuygur opened #1166 "Upgrade 8.0 UAT environment to 10.0"
Hello,

I am trying to upgrade my 8.0 Update 15 environment to 10.0 Update 24.
I already upgraded dev-build and a development environment to 10.0 and created single software deployable package which contains all developments and ISV solutions.
I merged this deployable package and Dynamics 365 for Finance and Operations version 10.0 package on asset library.
Now I am a bit confused because, when I

[2019-04-15 00:59] mitchgrnr opened #1167 "Typos in Instructions"
Hello, step three in both processes have a typo.  They should read as follows:
            Create an entity backed financial dimension:
3. In the use values from field, select a system-defined entity to base the financial dimension on. (currently says "User values from")
           Create a custom financial dimension
3. In the Use values from field, select &lt; Custom Dimension &gt;. (currently sa

[2019-04-15 05:27] VijayD365FO opened #1168 "Standard BP errors in Upgrade 8.1.3 and PU23 Development VM"
I have deployed new Development VM 8.1.3 with PU23 for upgrade.After Full build i am getting 8 standard BP errors which are related to Retail Module.

Below is  one of the  BP error.

BP   Rule: [DataEntityFieldLabelPropertyCheck]:Path:   [dynamics://DataEntityView/RetailTerminalCustomFieldEntity/DataEntityViewMappedField/Type]:DataEntityFieldLabelPropertyCheck:   The field 'Type' has the same lab

[2019-04-15 07:56] kjgro opened #1169 "Trace menu item moved"
Trace menu item has moved to the "?" button in later releases

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fe3185f9-a301-ca41-90c2-6a4715df55ca
* Version Independent ID: 0ec0e0ba-5839-806a-5471-dda4bc56996a
* Content: [Take traces by using Trace parser - Finance & Operations | Dynamics 365 | #MSDyn365FO](https://docs

[2019-04-15 08:37] davecope1982 opened #1170 "Real-time refresh"
Is there a roadmap timeframe for when the real-time refresh will be made available? With the previous version of entity store we had the ability to refresh as often as we liked, without this we now have reports that are not refreshing as often as required. Please advise

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e1

[2019-04-15 14:45] naveenkumarjagtab commented on #1107
Hi Guys, any update on the steps to be followed for upgrading 8.1 to 10.0  D365 sandbox

[2019-04-16 09:28] OksanaKovaliova opened #1175 "Commit for purchase and transfer orders"
Hi, I was testing Purchase order receive and Transfer order operations yesterday (DEMO data, clear environment) - when I specified quantities and clicked Commit, D365 posted 'Product receipt' for purchase order; for transfer order - receiving document was posted.
Could you, please, check, if current article is still valid  - as it says about Ship now and Receive now quantities update only, that ne

[2019-04-16 12:09] JoelLeichty opened #1176 "KB Article Issues"
Inside the LCS KB article:
1. It says this is for preview customers.
2. It's unclear whether the article has been updated to include all issues included in the GA release.
3. It says "The What's New for Version 10.0 is Coming Soon"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 926b95da-8eaa-e23b-eeca-b334ea932e19
* Ve

[2019-04-16 12:34] UnaFresa opened #1177 "This page is out of date"
The screens and steps for for "Set the contributor workflow" and "Enable the Azure connector and add an LCS user" have changed, if you updated this page it would probably result in fewer people having to contact Microsoft Support for help with these steps

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9b74fa4a-cee2-e0e

[2019-04-16 13:19] tonyafehr commented on #1168
@VijayD365FO, thanks for posting this. Could you please clarify which topic this feedback applies to?

[2019-04-16 13:19] tonyafehr commented on #1167
@mitchgrnr , thanks for the feedback. I will update the topic and get it published this week.

[2019-04-16 13:19] #1167 closed

[2019-04-16 13:20] tonyafehr commented on #1166
Thanks for contacting us. Unfortunately, we're unable to handle Support requests for the product here. To contact Support, consider one of the options described here: [Support contact options](https://docs.microsoft.com/en-us/dynamics365/unified-operations/dev-itpro/lifecycle-services/lcs-support). In particular, you might want to go to the [Dynamics 365 for Finance and Operations community page](

[2019-04-16 13:20] #1166 closed

[2019-04-16 13:24] tonyafehr commented on #1169
@kjgro, thanks for the feedback.

@RobinARH, please review and update the documentation appropriately.

[2019-04-16 13:24] tonyafehr commented on #1170
@davecope1982, we appreciate your question, however we typically do not provide this kind of information in our help content. Please refer to the [Spring '19 Release Notes](https://docs.microsoft.com/en-us/business-applications-release-notes/April19/index) for latest release and roadmap information.

[2019-04-16 13:24] #1170 closed

[2019-04-16 13:26] tonyafehr commented on #1175
@OksanaKovaliova, thanks for the feedback.

@rubencdelgado, please review and update the documentation appropriately.

[2019-04-16 13:30] tonyafehr commented on #1176
@JoelLeichty, thanks for the feedback. You noted issues that are within LCS, not the article that's noted here, so I will forward your request for review.

@manalidongre, can you review these questions and ensure that the LCS content is up to date. Thanks!

[2019-04-16 13:32] tonyafehr commented on #1177
@UnaFresa, thanks for the feedback.

@sarvanisathish or @manalidongre, please review and update the documentation appropriately.

[2019-04-16 13:44] tonyafehr commented on #1146
Bug 314835 has been logged to track this issue.

[2019-04-16 13:44] tonyafehr commented on #1144
Bug 314834 has been logged to track this issue.

[2019-04-16 13:45] tonyafehr commented on #1147
Bug 314837 has been logged to track this issue.

[2019-04-16 13:56] JoelLeichty commented on #1176
There’s no other place to provide feedback on KB articles, so I think feedback has to come through this medium?

Thanks,

Joel

Joel Leichty | SAGlobal

m +1 574.238.1393 | www.SAGlobal.com<http://www.saglobal.com/> | t @joelleichty<https://twitter.com/joelleichty>

From: Tonya Fehr <notifications@github.com>
Reply-To: MicrosoftDocs/dynamics-365-unified-operations-public <reply@reply.github.com>
D

[2019-04-16 14:28] VijayD365FO commented on #1168
Hi Tony,
Thanks for reply.
This topic applies to x++ code and Best practices rules check.

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: Tonya Fehr <notifications@github.com>
Sent: Tuesday, April 16, 2019 6:49:41 PM
To: MicrosoftDocs/dynamics-365-unified-operations-public
Cc: VijayD365FO; Mention
Subject: Re: [MicrosoftDocs/dynamics-365-unified-operations-p

[2019-04-16 14:31] tonyafehr commented on #1168
@pvillads, please review and update the documentation appropriately.

[2019-04-16 15:25] OksanaKovaliova opened #1178 "API to export raw logs"
Hi, do you have any plans to provide API for LCS to trigger automatic raw log export on a scheduled basis? (or maybe you already have it and I just failed to find)
The business case is: support team on Customer side is receiving Alerts in Service-App, when any error appears in a special channel (like AX-DataAccess) - and can quickly react (for example, if this looks like a bug in Extensions - send

[2019-04-16 16:58] tonyafehr commented on #1178
@OksanaKovaliova, thank you for the feedback. You might want to go to the [Dynamics 365 for Finance and Operations community page](https://community.dynamics.com/) to get help with your questions from the Dynamics community.

@manalidongre,can you review and ensure that the content is up to date. Thanks!

[2019-04-16 20:01] biggibby opened #1179 "Secured media server issue"
Hello,

If external content management system, content delivery network (CDN), or media server is password protected, how do I get past authentication?

Thank you,

Biggibby

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fdd996af-4087-832d-1834-c069d8404d0a
* Version Independent ID: 7414efaf-e527-64c3-1be2-d2a28975f3dd

[2019-04-16 21:36] #862 closed

[2019-04-17 02:35] karleesm opened #1181 "Remove reference to Web-App purchase for Attract"
Hi team - we need to update the following statement given the recent changes to web app purchases.

"This functionality can also be purchased as standalone modular applications through web-direct. Examples include Microsoft Dynamics 365 for Talent: Attract and Microsoft Dynamics 365 for Talent: Onboard SKUs. Depending on whether you purchase full Talent or the modular applications, the experience

[2019-04-17 04:49] andreabichsel commented on #1181
Thank you for pointing this out! I'm working on the changes now and will publish after I get sign off from the product team.

[2019-04-17 05:45] amerms opened #1182 "Sandbox step not mentioned"
I cannot see sandbox step in this procedure. Does it means we have to upgrade VHD and then directly production environment.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 97072d18-e50b-c4c4-bfda-51150c66f45f
* Version Independent ID: 9cd5e72f-b2cd-81aa-4be0-7e4e02c17d78
* Content: [In-place upgrade process for on-premi

[2019-04-17 12:44] FH-Inway opened #1183 "Update instructions for OneVersion environments and local development vhd environments"
Some parts of the article do not seem the current update process for OneVersion platform updates and/or local development vhd environments. For example, in the current platform update 25 installer package, there is no PlatformUpdatePackages.Config file as mentioned in section "Apply a platform update to environments that are not connected to LCS".

---
#### Document Details

⚠ *Do not edit this se

[2019-04-17 15:33] sericks007 commented on #1179
@biggibby, thanks for posting this! In the meantime, to get product help you can contact Support using one of the options described here: [Support contact options](https://docs.microsoft.com/en-us/dynamics365/unified-operations/dev-itpro/lifecycle-services/lcs-support). In particular, you might want to go to the [Dynamics 365 for Finance and Operations community page](https://community.dynamics.co

[2019-04-17 15:35] sericks007 commented on #1179
@josaw1, just wanted to make you aware of this issue.

[2019-04-17 15:39] sericks007 commented on #1182
@amerms, thanks for posting this! In the meantime, to get product help you can contact Support using one of the options described here: [Support contact options](https://docs.microsoft.com/en-us/dynamics365/unified-operations/dev-itpro/lifecycle-services/lcs-support). In particular, you might want to go to the [Dynamics 365 for Finance and Operations community page](https://community.dynamics.com/

[2019-04-17 15:42] sericks007 commented on #1183
@FH-Inway, thanks for posting this!

@manalidongre, please review and update the topic as needed.

[2019-04-17 15:56] sericks007 commented on #1151
Bug 315229 has been logged to track this issue.

[2019-04-17 16:10] tiwarirajeev27 commented on #1176
1) Unsupported Database used for positiontorecord in v10 and v8.0 when having more than 45 lines in intercompany purchase order
2) Manual discount getting disappear and not calculating in Sales order lines of call center in v10
3) SalesPrice,ManualDiscount,itemid gets disappear and not calculating in v10

These are very basic things which should be tested..Now we are in middle -We upgraded sandbox

[2019-04-17 18:21] JoelLeichty commented on #1176
1. This comment is in reply to a thread.
2. This comment does not belong here. Product feedback needs to go through a Microsoft Support case.

[2019-04-18 01:58] pbonny1 opened #1184 "Any Updates for Create Custom Help doc to reflect Azure changes in last 6 months?"
The document "Create Custom Help for Microsoft Dynamics 365 for Finance and Operations" has been most helpful, but many of the Azure options/screens/selections have changed since the doc was written.
Is and update likely in the not too distant future?
Cheers

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 55d63462-2df6-

[2019-04-18 07:34] teomsn commented on #1107
Hi, simply upgrade with the GA package, no redeployments, no additional trunks,...Regards

[2019-04-18 07:34] #1107 closed

[2019-04-18 07:47] DKobayashi-ykgw commented on #1022
PU25 was released in last week, so PU22 was exactly expired. I can close this issue but I want to confirm supported PU versions are three or not.
Regards,
Daisuke

[2019-04-18 12:32] sericks007 commented on #1149
@andreabichsel, please work with your team to address this issue. Thanks!

[2019-04-18 12:37] sericks007 commented on #1149
Bug 315492 has been logged to track this issue.

[2019-04-18 14:10] AlexHimself opened #1185 "Public Preview for existing customers appears to be down"
The link for "Public Preview for existing customers" appears to be down.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 42cc8126-b6d5-92ad-f53d-5985daf726b0
* Version Independent ID: 103b81f2-3fa7-5509-aab7-c6ca23a55ff9
* Content: [Get evaluation copies - Finance & Operations | Dynamics 365 | #MSDyn365FO](https://docs.

[2019-04-18 14:30] rdovgalyuk opened #1186 "Automated way to Create new products"
How to create new products (massive) in an automated way?
-Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 266cd03a-2ad8-62b0-d73c-169984c7e7d6
* Version Independent ID: fbbc344f-f814-a97a-27ef-49063f0fa8ef
* Content: [Create a new product - Finance & Operations | Dynamics 365 | #MSDyn365FO](https://docs.microsof

[2019-04-18 15:59] Chrisslima opened #1187 "Ledger Integration"
Please, where I could find the content about "Ledger Integration"? It looks like it's missing.

Is there some documentation about inventory posting configuration for D365FO like as the "Appendix A: Postings based on recommended settings" in the document "Cost Management in Microsoft Dynamics AX 2009"? (https://www.microsoft.com/en-us/download/confirmation.aspx?id=1041)

Tks in advance!

---
#### D

[2019-04-18 17:49] JoniLoponen opened #1189 "Did not work with version 8.0 Tier 2 sandbox"
Packages were uninstalled only on one of the AOS servers. The packages stayed on the other server.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3565b319-747b-2aa4-36f0-6296adf930fb
* Version Independent ID: 847c2a77-9613-33ad-4455-bda3924b4286
* Content: [Uninstall a package - Finance & Operations | Dynamics 365 | #M

[2019-04-18 18:21] computerwizjared opened #1190 "How do we merge the packages?"
When I do the steps in this article and then try to compile both the Retail SDK and the Finance and Operations packages, it will output 3 files: AXDeployableRuntime, AXModelSource, and RetailDeployablePackage. How do we merge the AXDeployableRuntime and RetailDeployablePackage package zips so that we can deploy a single package to our production environment?

---
#### Document Details

⚠ *Do not e

[2019-04-18 18:44] josaw1 commented on #1022
@meeramahabalam can you please confirm? Thank you.

[2019-04-18 18:48] josaw1 commented on #1184
@pbonny1, thank you for posting this!

@jasongre, can you please review and update the topic as needed?

[2019-04-18 18:52] josaw1 commented on #1185
@AlexHimself, thank you for your post.

@RobinARH can you please update the link in the topic?

[2019-04-18 19:03] josaw1 commented on #1186
@rdovgalyuk thanks for posting this! In the meantime, to get product help you can contact Support using one of the options described here: [Support contact options](https://docs.microsoft.com/en-us/dynamics365/unified-operations/dev-itpro/lifecycle-services/lcs-support). In particular, you might want to go to the [Dynamics 365 for Finance and Operations community page](https://community.dynamics.c

[2019-04-18 19:05] josaw1 commented on #1187
@Chrisslima thank you for posting this.

@AndersGirke can you please review the comment and provide assistance as needed?

[2019-04-18 19:11] josaw1 commented on #1189
@JoniLoponen thanks for posting this! To get product help you can contact Support using one of the options described here: [Support contact options](https://docs.microsoft.com/en-us/dynamics365/unified-operations/dev-itpro/lifecycle-services/lcs-support). In particular, you might want to go to the [Dynamics 365 for Finance and Operations community page](https://community.dynamics.com/) to get help

[2019-04-18 19:17] josaw1 commented on #1190
@computerwizjared thanks for posting this! To get product help you can contact Support using one of the options described here: [Support contact options](https://docs.microsoft.com/en-us/dynamics365/unified-operations/dev-itpro/lifecycle-services/lcs-support). In particular, you might want to go to the [Dynamics 365 for Finance and Operations community page](https://community.dynamics.com/) to get

[2019-04-18 19:19] computerwizjared commented on #1190
Hi @josaw1 thanks for your reply. I tried opening a support ticket from LCS however they directed me to the partner portal to raise an "advisory ticket". I am a customer and don't have access to the partner portal to do so, so I thought I'd comment here since it should be part of the documentation here. Thanks!

[2019-04-19 16:50] rdovgalyuk commented on #1186
@josaw1 thanks for your quick response!

[2019-04-21 12:07] gprodware opened #1191 "Error trying to schedule PowerApps Data Integration project - prospect to cash"
Hi,
I am getting an error message when trying to schedule a data integration project on PowerApp Admin center :
Exception occured for PUT request https://management.azure.com/subscriptions/6989f3ba-b425-45dc-affb-047d53242a54/resourceGroups/d365-prod-integ-weu/providers/Microsoft.Scheduler/jobCollections/bbfde416-ad70-4316-81eb-73b70da0b6cd/jobs/28457997-47aa-4729-9db1-e98042e4a70b-Project_Account

[2019-04-22 11:41] omerahm opened #1192 "PDF not downloading"
I am unable to download the PDF getting error failed to load the pdf and the link on the browser is https://opdhsblobprod03.blob.core.windows.net/contents/3217822f545149bc956510410f5a4ad3/d98c1dd4008f04b2e9800998ecf8427e?sv=2015-04-05&sr=b&sig=Tt1a1sR55GYQMIg1DSkyTyzsB3JiZbnNwOQknGsBX68%3D&st=2019-04-22T11%3A31%3A00Z&se=2019-04-23T11%3A41%3A00Z&sp=r

---
#### Document Details

⚠ *Do not edit this

[2019-04-22 11:49] shirdesai opened #1193 "Deprecated"
This functionality can no longer be used after platform update 24 due to version control feature being enabled to track documents stored on Sharepoint. Is there any alternative for this ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 91d63cbc-bcb7-c1e5-05b3-6485ec194d43
* Version Independent ID: e7ac3f29-a58d-6c1c-6c5

[2019-04-22 14:35] ahmerkhalid636 opened #1194 "Dynamics 365 on premises Management Reporter"
Dear Experts,

I had used Dynamics 365 7.3 **(on premises)**, the services was working fine. Now the after upgradation of Dynamics 365 10.0 Updated 24, the MR cant login and showing the below error.

An error occured while processing the request. {E5768EA0-3FBC-4EEC-8124-FB39CED600BD}

Any suggestion in this regards

Thanks
Ahmer Khalid

[2019-04-22 17:07] RobinARH commented on #1191
Thanks for contacting us. Unfortunately, we're unable to handle Support requests for the product here. To contact Support, consider one of the options described here: [Support contact options](https://docs.microsoft.com/en-us/dynamics365/unified-operations/dev-itpro/lifecycle-services/lcs-support). In particular, you might want to go to the [Dynamics 365 for Finance and Operations community page](

[2019-04-22 17:07] #1191 closed

[2019-04-22 17:08] RobinARH commented on #1192
Thanks for letting us know. We are investigating this issue.

[2019-04-22 17:14] RobinARH commented on #1193
@NickSelin

Hi Nickolay - Can you take a look at this? thanks - Robin

[2019-04-22 17:15] RobinARH commented on #1194
Thanks for contacting us. Unfortunately, we're unable to handle Support requests for the product here. To contact Support, consider one of the options described here: [Support contact options](https://docs.microsoft.com/en-us/dynamics365/unified-operations/dev-itpro/lifecycle-services/lcs-support). In particular, you might want to go to the [Dynamics 365 for Finance and Operations community page](

[2019-04-22 17:15] #1194 closed

[2019-04-22 17:28] B-rade opened #1195 "example has incorrect amount"
In example 2, in the table "Payment is received and posted in Fabrikam for Fabrikam customer 4000", the payment amount is incorrect.
The payment to Fabrikam should be 580.00, not 600.00. Otherwise Fabrikam would have 20 extra dollars in their cash and accounts receivable accounts.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.

[2019-04-22 18:35] RobinARH commented on #1195
@ShivamPandeyMSFT
Hi Shivam - Can you take a look? thanks - Robin

[2019-04-22 19:40] jeanflori commented on #457
I signed up for DMT Preview a month ago. However, I have not received any feedback yet. Any forecast of return?

[2019-04-22 19:57] kfend commented on #457
@Gokul06  - can you provide any information?

[2019-04-22 20:45] RobinARH commented on #1192
We fixed the link. - Robin

[2019-04-22 20:45] #1192 closed

[2019-04-23 14:50] Sunil-Garg commented on #1103
Joel, I think you are referring to the PU24 what new about the data package API enhancements to get errors. We will update this accordingly. Thanks.

[2019-04-23 15:00] Sunil-Garg commented on #1030
Thanks, the doc had been updated. Pls give a day for the changes to reflect.

[2019-04-23 15:04] Sunil-Garg commented on #1090
This has been updated to show the navigation to the business event catalog. Pls note that after GA, the navigation is no longer via the system parameters.

[2019-04-23 15:23] #1052 closed

[2019-04-23 15:24] tonyafehr commented on #1055
The documentation will be updated to reflect this, thanks again for posting this feedback.

[2019-04-23 15:24] #1055 closed

[2019-04-23 15:26] #1030 closed

[2019-04-23 15:28] #1090 closed

[2019-04-23 15:32] tonyafehr commented on #1157
Bug 316470 has been logged to track this issue.

[2019-04-23 15:32] tonyafehr commented on #1156
Duplicate

[2019-04-23 15:32] #1156 closed

[2019-04-23 15:34] tonyafehr commented on #1159
Bug 316471 has been logged to track this issue.

[2019-04-23 15:37] tonyafehr commented on #1155
Bug 316473 has been logged to track this issue.

[2019-04-23 15:40] #1176 closed

[2019-04-23 15:42] tonyafehr commented on #1177
Bug 316477 has been logged to track this issue.

[2019-04-23 15:44] tonyafehr commented on #1178
Bug 316478 has been logged to track this issue.

[2019-04-23 15:49] tonyafehr commented on #1144
This is a known LCS bug, so I am closing this issue as resolved.

[2019-04-23 15:49] #1144 closed

[2019-04-23 15:55] davecope1982 commented on #1144
is there a link to the LCS bug and an ETA please?

[2019-04-23 16:01] tonyafehr commented on #1144
LCS bug # 3754049

[2019-04-23 16:05] davecope1982 commented on #1144
is there any other way for us to import the pbix into our LCS asset library as it is quite urgent?

[2019-04-23 16:09] tonyafehr commented on #1144
This site hosts documentation, we're unable to handle Support requests for the product here. I suggest that you go here for [Support contact options](https://docs.microsoft.com/en-us/dynamics365/unified-operations/dev-itpro/lifecycle-services/lcs-support), or go to the [Dynamics 365 for Finance and Operations community page](https://community.dynamics.com/) to get help with your questions from the

[2019-04-23 16:22] tonyafehr commented on #1144
LCS has been updated and the changes you are looking for are now available.

[2019-04-23 16:38] tbarron2 opened #1198 "Back to Basics"
Suggestion: In the opening summary, define clearly the difference between Test Plan, Test Suite, and Test Case.  Each of the following subsections jump right in to functionality with many assumptions that the reader knows the difference before starting.    By the end of the document, the reader can likely put the pieces together -- but if those terms were defined up front, it might make the remain

[2019-04-23 17:45] rubencdelgado commented on #1175
Previously, 'Ship now' and 'Receive now' quantities were updated and the related documents had to be posted as part of a separate process. This may have changed since I last owned this area. @hhainesms now owns the area and should confirm if current capabilities and if a change is needed to documentation.

[2019-04-23 17:51] hhainesms commented on #1175
The documentation is not accurate.  We will correct this.  When Transfer or Purchase Orders are "Committed" from POS, the receipt is posted immediately.  Receive now quantities entered in POS are used as receiving quantities in HQ as the receipt is posted.  The only area where we do not systematically post inventory processing in POS is the count journals.  Count journals are saved to HQ but requi

[2019-04-23 18:05] jasongre commented on #1146
Images have been updated and are waiting to be published.

[2019-04-23 18:05] tonyafehr commented on #1198
@tbarron2, thank you for the great feedback.

@robadawy, please review and update the topic (or topic owner) as needed.

[2019-04-23 18:08] #1146 closed

[2019-04-23 18:12] #165 closed

[2019-04-23 20:04] tonyafehr commented on #1175
@OksanaKovaliova, extensive updates have been made to this topic, which will be published on Wednesday.

[2019-04-23 20:04] #1175 closed

[2019-04-23 21:09] andreabichsel commented on #1181
Changes are live. Thanks!

[2019-04-23 21:09] #1181 closed

[2019-04-24 01:30] Dictator365 opened #1199 "Restrict payment methods for returns without a receipt"
Hi All
Restrict payment methods for returns without a receipt - This feature is not found in all versions. I'm using Update21 (7.0.5073.41326). I don't see this Non-receipt returns, set Restrict for refunds without a receipt to Yes.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7fc75e31-3c3d-434c-1dea-169682d35738
* V

[2019-04-24 13:03] kfend commented on #1014
@manishmoothedath,
The new APIs are:
- GetImportTargetErrorKeysFileUrl
- GenerateImportTargetErrorKeysFile
- GetImportStagingErrorFileUrl
I have updated the topic to list these out. The updated version will be available shortly.

[2019-04-24 13:03] #1014 closed

[2019-04-24 13:13] sericks007 commented on #1199
@Dictator365, thanks for posting this!

@rapraj, please review and update the topic, as necessary.

[2019-04-24 13:24] sericks007 commented on #1179
Bug 316722 has been logged to track this issue.

[2019-04-24 13:28] sericks007 commented on #1182
Bug 316726 has been logged to track this issue.

[2019-04-24 13:30] sericks007 commented on #1183
Bug 316728 has been logged to track this issue.

[2019-04-24 13:33] sericks007 commented on #1184
Bug 316729 has been logged to track this issue.

[2019-04-24 13:44] tonyafehr commented on #833
Samples have been added to this topic and will be published later today.

[2019-04-24 13:44] #833 closed

[2019-04-24 15:34] andreabichsel commented on #1149
@mannesneuer I think this comment applies to a different page than the one mentioned here. Are you referring to this page: https://docs.microsoft.com/en-us/dynamics365/unified-operations/fin-and-ops/hr/localizations/noam-usa-generate-earnings, or a different one? I want to make sure I'm making changes in the appropriate place. Thanks!

[2019-04-24 16:02] mannesneuer opened #1200 "Typing error"
Section B. Create earnings statement for an employee to have a beginning balance
2. In the Earnings statement line tab, enter the following:
Line 1: Earning statement line tab
"Rage" should be replaced with "Rate"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c989259c-4c2a-98c3-8903-cbbcde51ecec
* Version Independent

[2019-04-24 16:23] mannesneuer commented on #1149
My comments were originally made on this page since it mentions FMLA and Schedules. However, I believe the best place to document FMLA setup and integration with Payroll is on the https://docs.microsoft.com/en-us/dynamics365/unified-operations/fin-and-ops/hr/localizations/noam-usa-track-time-for-fmla page. There, a note exists: "The Source column is always set to Manual. If you're using Finance an

[2019-04-24 17:41] sericks007 commented on #1200
@mannesneuer, thank you for bringing this to our attention! I've fixed the typo. The updated topic will be published later today or tomorrow. Thanks again!

[2019-04-24 17:41] #1200 closed

[2019-04-24 17:43] Sunil-Garg commented on #868
Thanks Ian. Update has been submitted.

[2019-04-24 19:42] #868 closed

[2019-04-25 06:24] Izmiyash opened #1204 "Missing Link to Microsoft Dynamics 365 for Finance and Operations - operated by 21Vianet in China"
[Enter feedback here]
The link to "Microsoft Dynamics 365 for Finance and Operations - operated by 21Vianet in China" is not correct. Please avoid making us to see 404 error.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 05359761-bd4b-2841-db9a-5bcc11359430
* Version Independent ID: 86a4d7d2-9ce9-b0dc-0300-67c3e1e5b74

[2019-04-25 09:19] NickSelin commented on #1193
This functionality can be used after platform update 24 - it works for me on the platform update 26 (preview).

[2019-04-25 12:35] MadhanRamachandran opened #1205 "D365 Finance and operation on premises Integration middle wares"
[Enter feedback here]
Hi,

We need to know supported middle wares application for the D365 Finance and operation on premises Integration wit third party and MS products.

Also provide the more details on the middle wares uses and architecture diagram.

Thanks,

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2535f3a8-a22

[2019-04-25 13:27] tonyafehr commented on #1204
@Izmiyash, thanks for the feedback. I've fixed the link and it'll be updated later today.

In the meantime, here's a direct link: https://docs.microsoft.com/dynamics365/unified-operations/dev-itpro/deployment/china-local-deployment

[2019-04-25 13:27] #1204 closed

[2019-04-26 09:40] MichaelFruergaardPontoppidan opened #1209 "Somewhat outdated topic"
"The application stack has been divided into three separate models: Application Platform, Application Foundation, and Application Suite. "  Application Suite has since been separated into 20+ models.
Also there are references to "Rainier"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 44045a16-e5bc-365a-45a3-5ddbc61f01

[2019-04-26 21:53] kfend commented on #1151
Thanks for bringing this to our attention.
The TOC has been updated.

[2019-04-26 21:53] #1151 closed

[2019-04-29 12:55] craigfraser9 opened #1211 "F365 FO Localization - International Availability Guide"
Can anyone advise the implications for Countries which do not feature in the Availability section. I have a requirement to set up a Legal Entity for Cambodia however it does not feature in the "Availability" section of the International Availability guide. Can D365 FO still be deployed in Cambodia and if so what does the lack of mention in the "Availability" section imply?

[2019-04-29 12:59] craigfraser9 opened #1212 "F365 FO Localization - International Availability Guide"
Can anyone advise the implications for Countries which do not feature in the Availability section. I have a requirement to set up a Legal Entity for Cambodia however it does not feature in the "Availability" section of the International Availability guide. Can D365 FO still be deployed in Cambodia and if so what does the lack of mention in the "Availability" section imply?

---
#### Document Detai

[2019-04-29 18:40] RobinARH commented on #1211
Duplicate of https://github.com/MicrosoftDocs/dynamics-365-unified-operations-public/issues/1212.

[2019-04-29 18:40] #1211 closed

[2019-04-29 18:55] RobinARH commented on #1212
@sshvedov
Hi Sergey - Can you take a look at this one? thanks - Robin

[2019-04-29 19:02] RobinARH commented on #1209
Thanks for letting us know. We are working on updating the topic. - Robin

[2019-04-29 19:08] tonyafehr commented on #1086
@dch9, thanks again for the feedback. An update to this topic will be published this week.

[2019-04-29 19:08] #1086 closed

[2019-04-29 20:33] laneswenka commented on #1119
Updated in the latest Pull Request

[2019-04-29 20:36] laneswenka commented on #1098
We are required to sanitize the print management settings when copying databases between environments to prevent outbound email and integrations from being triggered.  I would suggest creating a custom data entity if this is a requirement for your customer.

[2019-04-29 20:38] laneswenka commented on #1095
I've reassigned the internal bug to the DevALM team

[2019-04-29 20:39] laneswenka commented on #1069
This was resolved in the latest PR

[2019-04-29 20:43] laneswenka commented on #1058
@tonyafehr I don't own the article this feedback was given about:
https://docs.microsoft.com/en-us/dynamics365/unified-operations/dev-itpro/dev-tools/debug-x-issue-against-copy-of-production#feedback

It should however be deprecated as this area is owned by me and the best article to use is:
https://docs.microsoft.com/en-us/dynamics365/unified-operations/dev-itpro/database/dbmovement-scenario-debu

[2019-04-29 20:45] #1098 closed

[2019-04-29 20:46] laneswenka commented on #1031
This is good feedback, and a scenario we hadn't thought of before.  I will add a note of caution regarding this.

[2019-04-29 20:47] tonyafehr commented on #1119
@valerymoskalenko, this updated content will be published tomorrow.

[2019-04-29 20:47] #1119 closed

[2019-04-29 20:48] tonyafehr commented on #1069
@rat-af, thanks again for your feedback. This updated topic will be published tomorrow.

[2019-04-29 20:48] #1069 closed

[2019-04-29 20:54] #957 closed

[2019-04-29 21:44] dferris87 opened #1213 "Import Database Option Missing"
The import database option was available in all of our projects, but seems to no longer exist in projects. Is this functionality now deprecated?

I only have the option to "Refresh database" and "Export database" in the Maintain area.

Thanks.

[2019-04-29 21:54] #1213 closed

[2019-04-30 00:18] aledoy commented on #1107
plus 1 on the GA package, straight forward

[2019-04-30 01:22] FINOPSAOSCEWA commented on #1098
Thanks for your comment. I can understand why Microsoft want to prevent outbound emails and integrations from being triggered. To achieve it, deleting the print management setting records is one of many simple ways. However, is it a best practice to clear the configuration data during the database refresh every time?  There should be a better way. For instance, the Admin user email address can be

[2019-04-30 09:34] ransoentjens opened #1215 "Elaborate on setup / architecture / process flows / best practices"
There is a general lack of documentation related to this specific task. Listing the current topic as a task here is correct, but there is no context.

What is required is a section below the statement posting section that explains the architecture and process flow of e-commerce orders. Using a flowchart it should be indicated what the best practice of importing e-commerce orders and then processin

[2019-04-30 10:03] bhesingh opened #1217 "Section "VM that is running on-premises" steps are outdated"
The section "VM that is running on-premises" talks about downloading the VHD's from LCS. This process has changed long back. So, the documentation needs to be updated accordingly.

Thanks & Regards
Bheem Singh

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ae28fb1e-25a4-72cd-6694-322bec60769e
* Version Independent ID:

[2019-04-30 12:50] ansartroops commented on #1182
I don't see the procedure for On-premises upgrade from version 7.x (with Platform update 11 or earlier) to 8.1

[2019-04-30 12:52] ansartroops opened #1218 "On-premises upgrade from version 7.x (with Platform update 11 or earlier) to 8.1"
I don't see the procedure for On-premises upgrade from version 7.x (with Platform update 11 or earlier) to 8.1

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 97072d18-e50b-c4c4-bfda-51150c66f45f
* Version Independent ID: 9cd5e72f-b2cd-81aa-4be0-7e4e02c17d78
* Content: [In-place upgrade process for on-premises environme

[2019-04-30 13:48] tonyafehr commented on #1215
@ransoentjens, thanks for the great feedback.
@jashanno, please review this feedback and consider making updates to this topic.

[2019-04-30 13:48] tonyafehr commented on #1217
@bhesingh, thanks for the feedback.
@robadawy, please review this feedback and consider making updates to this topic.

[2019-04-30 13:48] tonyafehr commented on #1218
@ansartroops, thanks for the feedback.
@laneswenka , please review this feedback and consider making updates to this topic.

[2019-04-30 14:23] #1189 closed

[2019-04-30 14:26] #1193 closed

[2019-04-30 14:33] tonyafehr commented on #1185
Bug 318220 has been logged to track this issue.

[2019-04-30 14:33] tonyafehr commented on #1186
Bug 318219 has been logged to track this issue.

[2019-04-30 14:33] tonyafehr commented on #1187
Bug 318221 has been logged to track this issue.

[2019-04-30 14:33] tonyafehr commented on #1190
Bug 318223 has been logged to track this issue.

[2019-04-30 14:33] tonyafehr commented on #1195
Bug 318225 has been logged to track this issue.

[2019-04-30 14:34] tonyafehr commented on #1198
Bug 318226 has been logged to track this issue.

[2019-04-30 14:34] tonyafehr commented on #1199
Bug 318227 has been logged to track this issue.

[2019-04-30 14:36] jharbering commented on #1051
Hi everyone, same issue here. Connected the D365 correctly with the datalake gen2. Received successful connection messages in D365. Still, no data is getting populated. Environment is Microsoft Dynamics 365 for Finance and Operations (10), Installed platform version : Update26 (7.0.5257.16584), Serial number: 3fd52bb5-748d-4840-a166-f16832faf12a. Any ideas?

[2019-04-30 14:38] tonyafehr commented on #1051
This is not a Support site. You can contact Support by going to [Support contact options](https://docs.microsoft.com/en-us/dynamics365/unified-operations/dev-itpro/lifecycle-services/lcs-support). In particular, you might want to go to the [Dynamics 365 for Finance and Operations community page](https://community.dynamics.com/) to get help with your questions from the Dynamics community.

[2019-04-30 14:44] jharbering opened #1219 "Entity Store Export to Data Lake Gen2 and Consumption via Power BI"
Hi everyone, we are having issues getting the entity store -> data lake gen2 -> power bi option to work. The core issue, in my opinion, is that when exporting data from D365FO to the data lake gen2 the data lake must not have the hierarchical namespace enabled. But when connecting the power bi with the data lake gen2 (with dataflows) it needs to have the hierarchical namespace enabled. Any ideas o

[2019-04-30 15:43] tonyafehr commented on #1219
@jharbering, thanks for posting this! Your comment is not directed toward a specific topic, which is the intent of this feedback site. This is not a support site. To get product help you can contact Support using one of the options described here: [Support contact options](https://docs.microsoft.com/en-us/dynamics365/unified-operations/dev-itpro/lifecycle-services/lcs-support). In particular, you

[2019-04-30 15:43] #1219 closed

[2019-04-30 17:36] rapraj commented on #1199
This feature was released in Apr 2019 in 10.0.1 release of Dynamics 365 for Finance and Operations & Dynamics 365 for Retail. See release notes of Apr 2019.

[2019-04-30 17:43] rapraj commented on #1199
https://docs.microsoft.com/en-us/business-applications-release-notes/October18/dynamics365-retail/returns-without-receipt

Stand corrected - it was published in Oct '18 release notes for features to be released between Oct 18 - Mar 19.

This feature is only available for 10.0.1 release and later.

[2019-04-30 18:12] #1199 closed

[2019-04-30 19:20] tonyafehr commented on #1118
The topic has been updated to reflect this feedback and new content will be published this week.

[2019-04-30 19:20] #1118 closed

[2019-04-30 20:37] jashanno commented on #1121
Hi OksanaKovaliova,

That section refers to the Android or iOS application (Which functions as Cloud POS within a mobile app).  There are no other applications offered by Dynamics Retail that function on iOS or Android at this time.

[2019-04-30 20:42] #1121 closed

[2019-05-01 00:38] satyakejriwal commented on #1054
I am not able to see the pause tab in LCS project setting. Our sandbox is already on 10.0 and PROD is on 8.0 and we are in the process of update.
I want to pause update on Sandbox to 10.0.1

[2019-05-01 08:30] sorenva commented on #1186
You can use the **Released product creation V2** data entity to import/create new product in an automated manner through Data Management. This data entity mimics the behavior of the **New released product** dialog on the **Released products** page.

[2019-05-01 13:01] #1186 closed

[2019-05-02 16:39] andreesteve commented on #1179
@biggibby - can you share the specifics of your issue? CDNs usually provide content without need for authentication. The Retail Media Server is not password protected.

[2019-05-02 16:59] Reza-Assadi commented on #1122
Hi Oksana,

That is correct but we are currently working on providing support by the fall release.

Thanks,
Reza

[2019-05-02 17:34] #1122 closed

[2019-05-02 18:14] imbisc commented on #1038
Adobe Acrobat reader settings automatically sets to Shrink oversized pages, and moves the MICR line up and changes the entire format of the report.  Will test and validate if logging in as the user resolves the issue, but I had a case open with MS support for 3 months, and this is the first response that I found stating a workaround.  If you can add to documentation, that would be great.

[2019-05-02 18:42] maveloso opened #1227 "Vendor type person vs. organization"
it is not clear from this documentation weather the 1099 functionality works the same for vendors of type person and organization. can you clarify if 1099 processing is available for vendors of type organization?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 222d0832-bb4c-31f2-a203-0b2a0826f90c
* Version Independent I

[2019-05-02 20:35] mhammons commented on #845
Hello, ditto, I was not prompted and the option is not available.

Installed product version : Microsoft Dynamics 365 for Finance and Operations (10)
Installed platform version : Update24 (7.0.5179.35390)

[2019-05-02 20:45] turbozapekanka opened #1228 "How do I report outage when LCS is down too?"
a question

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1a326d11-a0a3-1e59-06d3-e576f72e6f5e
* Version Independent ID: 7601cd35-9b1f-2dec-99ea-5e417f5f643b
* Content: [Report a production outage - Finance & Operations | Dynamics 365 | #MSDyn365FO](https://docs.microsoft.com/en-us/dynamics365/unified-operations/dev-it

[2019-05-02 22:37] josaw1 commented on #1228
Thanks for the comment. @manalidongre, can you please help with this question?

[2019-05-02 22:38] josaw1 commented on #1227
Thank you for the comment. @abruer, can you please help with this question?

[2019-05-03 06:40] depakgupta opened #1230 "Old video"
The video 'Ep 59 Long Running ...' shows AX 2012. It needs to be verified if it still holds good for D365FO.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: df19fbb0-d719-6131-3200-c8f6a3102da2
* Version Independent ID: cbb243ec-98d0-263e-6cef-a5ff28798b24
* Content: [Help prevent long-running reports from timing out -

[2019-05-03 11:36] amolbs2106 opened #1231 "Actions mentioned in step 13 and 14 are not availeble"
[Enter feedback here]
Hello,
i tried to add custom control to POS.
when i went to screen layout designer and dragged the custom control on transaction page the i didn't found relative url option instead i found below option therefore i coudn't proceed as steps mentioned do not match with custom control customization options. Please provide me the update steps i am using retail 7.3.0
![image](https

[2019-05-03 14:55] stefanfranken commented on #845
Hi, same experience also with  Version 10 Update25 (7.0.5222.35401)

[2019-05-03 16:50] dch9 opened #1232 "Timestamp retail package for code signing purposes?"
Is there any ability to utilize code timestamp functionality (via a timestamp URL) when building the Retail Deployable package?  Without time stamping, packages would become invalid for install once the code signing certificate reaches it's expiration date.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c268f5fb-7fbc-b

[2019-05-03 20:32] regrebud opened #1233 "Code Generation Wizard available in 10.0.2?"
I have installed Update 26 (10.0.2), but I don't see the 'Generate ATL Entity' option in VS menu.

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6d635373-8279-5322-1dd1-73ab400e871c
* Version Independent ID: dd72cfa6-e04c-3965-0cfc-79e446bf6112
* Content: [Acceptance test library Code generation wizard - Finance & Oper

[2019-05-03 20:40] hellevik commented on #646
Because data entities can represent complex queries there is not an automatic map to a specific row in a specific table that can be used to represent a created date or modified date.

Change tracking as it is implemented in the product is not date based, but uses SQL Server's change tracking tables.

Even if we did project created / modified from a source table onto the entity, querying on these f

[2019-05-03 20:44] #646 closed

[2019-05-03 21:57] tomhig opened #1235 "Not clear that a new AAD Native Application must be created"
In step 3 under Parameter Setup there is a note. While this note references an AAD application, it is not clear that you MUST create a new Azure AD Application and reference that Application ID in the Parameters form. This article should include the step by step instructions to create a Native AAD application in the Azure Portal and the permissions to grant to that application. Actual Screen Shots

[2019-05-03 22:06] mugunthanm commented on #1231
Please use this document for version 7.3 and later:
https://docs.microsoft.com/en-us/dynamics365/unified-operations/retail/dev-itpro/pos-custom-transaction

The document you are referring is for older versions.

[2019-05-06 14:04] turbozapekanka opened #1239 "Please explain the difference between Subscription and ProDirect support contracts"
When should I choose one or another when submitting a new incident?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8d3bf99a-6a62-915c-9a2a-f4c2ec4fdf63
* Version Independent ID: 1cef419f-bfe5-3154-5b4a-8c3934bcb934
* Content: [Manage Finance and Operations support experiences - Finance & Operations | Dynamics 365 | #MS

[2019-05-06 14:06] sericks007 commented on #1239
@turbozapekanka, thanks for posting this.

@EricMoos, can you please answer this question.

[2019-05-06 14:06] turbozapekanka commented on #1228
Should probably link to this information
https://docs.microsoft.com/en-us/dynamics365/unified-operations/dev-itpro/lifecycle-services/cloud-powered-support-lcs#phone-support

[2019-05-06 16:03] RobinARH commented on #1235
@kfend and @Sunil-Garg
Hi - Can you take a look at this issue? thanks - Robin

[2019-05-06 16:14] RobinARH commented on #1212
Bug 319616 has been logged to track this issue.

[2019-05-06 18:31] #1231 closed

[2019-05-06 18:49] sericks007 commented on #1228
I've updated the [Report a production outage](https://docs.microsoft.com/en-us/dynamics365/unified-operations/dev-itpro/lifecycle-services/report-production-outage) topic to link to the [Phone support](https://docs.microsoft.com/en-us/dynamics365/unified-operations/dev-itpro/lifecycle-services/cloud-powered-support-lcs#phone-support) section. The change will be published in a day or two.

[2019-05-06 18:49] #1228 closed

[2019-05-06 19:10] sericks007 commented on #1239
At a high level, the Subscription plan is bundled with your online purchase. ProDirect is an additional offering that we have.  For details and benefits of different support plans, please reach out to your account representative.

[2019-05-06 19:10] #1239 closed

[2019-05-07 10:34] D365BI opened #1241 "Trickle feed for entity store in Azure data lake"
I tried trickle feed for entity store in Azure data lake and it seems to be working. However it is impossible to identify in data lake changed and new rows which prevents incremental data loads from data lake.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a19d5e09-3e76-35e3-636a-e9c2ebb86b5a
* Version Independent ID:

[2019-05-07 13:23] tonyafehr commented on #1241
@D365BI, thanks for the feedback. If you need further assistance you can contact Support using one of the options described here: [Support contact options](https://docs.microsoft.com/en-us/dynamics365/unified-operations/dev-itpro/lifecycle-services/lcs-support). In particular, you might want to go to the [Dynamics 365 for Finance and Operations community page](https://community.dynamics.com/) to g

[2019-05-07 13:23] #1241 closed

[2019-05-07 13:52] tonyafehr commented on #1218
Bug 319957 has been logged to track this issue.

[2019-05-07 13:52] tonyafehr commented on #1217
Bug 319956 has been logged to track this issue.

[2019-05-07 13:53] tonyafehr commented on #1215
Bug 319951 has been logged to track this issue.

[2019-05-07 15:51] ChrisGarty commented on #1155
I've logged product bug 319991 to fix this. Thanks for letting us know @ELandAX!

[2019-05-07 16:22] ChrisGarty commented on #716
Created deliverable 320004 to improve our handling of AADSTS50058 "silent sign in failed" errors.

[2019-05-07 16:55] #716 closed

[2019-05-07 18:58] ChrisGarty commented on #1157
You are quite right. I'll remove that content. People can refer to the [Customize the Open in Microsoft Office menu documentation](https://docs.microsoft.com/en-us/dynamics365/unified-operations/dev-itpro/office-integration/customize-open-office-menu ) for information about OfficeIGeneratedWorkbookCustomExporter.

[2019-05-07 19:03] #1157 closed

[2019-05-07 19:12] ChrisGarty commented on #663
The Email parameters form allows an administrator to select Exchange as an interactive email provider and as the Batch email provider. The Exchange mail provider will use the current user's Exchange Online account to send emails. When used as the Batch email provider, the batch account will be used. No additional configuration is needed. If troubleshooting issues, ensure that the current user's ac

[2019-05-07 19:32] ChrisGarty commented on #741
SMTP relay is one of many SMTP options. Whether it is an SMTP server assigned to the user or a relay, the settings are not too different, but the configuration of the server is quite different.

[2019-05-08 14:49] turbozapekanka opened #1251 "How do I know the version scheduled for update"
I also see a notification in the action center about available update with a button to "Save update" which saves a package to the asset library. Do I have to save the update in order to auto-update to happen? Or it will take whatever is the latest GA version at the scheduled update time and applies this version?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.micro

[2019-05-08 14:53] turbozapekanka commented on #1251
Example: A customer is on 10.0 PU24
There is 10.0.1 PU 25 available
The next update is scheduled second week next month.
Do I have to save the 10.0.1 PU 25 from the action center in order to update to happen?
What if 10.0.2 PU 26 is out before scheduled update date (and I don't have it saved in the asset library)?
How do I know which version is going to be applied?

[2019-05-08 14:58] tonyafehr commented on #1251
@turbozapekanka, thanks for posting this! This is not a support site. To get product help you can contact Support using one of the options described here: [Support contact options](https://docs.microsoft.com/en-us/dynamics365/unified-operations/dev-itpro/lifecycle-services/lcs-support). In particular, you might want to go to the [Dynamics 365 for Finance and Operations community page](https://comm

[2019-05-08 15:07] turbozapekanka commented on #1251
This is not a support question either, may be wrong page, should be answered on the FAQ page https://docs.microsoft.com/en-us/dynamics365/unified-operations/fin-and-ops/get-started/one-version

[2019-05-08 15:10] tonyafehr commented on #1251
I've passed this feedback on to the author of these topics so the appropriate updates can be made. Thanks!

[2019-05-08 17:28] AamirAllaq commented on #1106
At this point, this content does not apply to RCSU database. RCSU database does not currently support direct access. We're evaluating various options to enhance troubleshooting experience for RCSU and will share it broadly once we solidify on a plan of action.

Thanks.

[2019-05-08 17:43] #1106 closed

[2019-05-08 19:02] ibruynin opened #1253 "Elaborate on table group properties"
cfr. https://github.com/MicrosoftDocs/dynamics-365-unified-operations-public/issues/258

We'd like to see more explanation on the different (and especially the newly introduced in FinOps as opposed to AX2012) enumeration values in the TableGroup property. Also, there seems to be a link with the properties on the related data entities, which allows - or not - using those entities for copy company f

[2019-05-08 19:06] tonyafehr commented on #1253
@ibruynin, thanks for the great feedback.
@RobinARH, please review and consider making updates to this topic.

[2019-05-08 19:07] ibruynin commented on #1253
related issues
#253
#258
#265

[2019-05-09 09:33] ELandAX commented on #1155
Welcome, happy to help!

[2019-05-09 10:23] f1eetie opened #1254 ""iX guidelines""
"Wording, punctuation, and abbreviations must follow the iX guidelines."

What are "iX guidelines"?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 75951059-1b55-637e-9ee9-19279698c262
* Version Independent ID: b0a08073-0e50-1ab0-74a7-6b9d1efdc27f
* Content: [General form guidelines - Finance & Operations | Dynamics 365

[2019-05-09 13:13] #1155 closed

[2019-05-09 20:13] TomekMelissa opened #1259 "This page needs to be updated with new version of App Registration flow in Azure AD"
current instructions are for now legacy version.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 48cf34e5-5de2-319c-c709-f06ea8fe4164
* Version Independent ID: 1b04f148-d442-f72b-a3b9-3eb4ede9f719
* Content: [Make Entity store available as a Data Lake - Finance & Operations | Dynamics 365 | #MSDyn365FO](https://docs.mic

[2019-05-09 20:15] TomekMelissa opened #1260 "Next step - PowerBI links"
At the end we should see links to next steps, such as link to a page were it is shown how to use data from Data Lake

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 48cf34e5-5de2-319c-c709-f06ea8fe4164
* Version Independent ID: 1b04f148-d442-f72b-a3b9-3eb4ede9f719
* Content: [Make Entity store available as a Data Lake -

[2019-05-09 21:23] tonyafehr commented on #1259
@TomekMelissa, thanks for the feedback.

@MilindaV2, please review and update this topic.

[2019-05-09 21:23] tonyafehr commented on #1260
@TomekMelissa, thanks for the feedback.

@MilindaV2, please review and update this topic.

[2019-05-09 21:24] tonyafehr commented on #1254
@f1eetie, thanks for the feedback.

@jasongre, please review and update this topic.

[2019-05-09 21:32] tonyafehr commented on #1227
Bug 320705 has been logged to track this issue.

[2019-05-09 21:33] tonyafehr commented on #1230
Bug 320706 has been logged to track this issue.

[2019-05-09 21:42] mugunthanm commented on #1190
We have option in LCS to merge packages, check the below link:

https://docs.microsoft.com/en-us/dynamics365/unified-operations/dev-itpro/deployment/apply-deployable-package-system

https://community.dynamics.com/365/financeandoperations/b/howtodynamics365/archive/2018/07/09/how-to-merge-multiple-packages-in-lcs-for-dynamics-365

[2019-05-09 21:46] computerwizjared commented on #1190
@mugunthanm Our FastTrack specialist told us we should merge the packages in the Azure DevOps pipeline rather than using the LCS merge function, as that was used for older versions of Dynamics, however never followed up with us about implementing the package merge. We are past implementation at this point but it would still be helpful to have a single package built through DevOps for future builds

[2019-05-09 22:02] abruer commented on #1227
The 1099 functionality is available for vendors of type Organization and Person.

[2019-05-09 22:16] nazimi-msft commented on #1179
If the media endpoint is protected, then you need to manipulate the URLs being returned by Retail Server to include the necessary authentication token as part of the endpoint URL. This would be an extension to the existing GetMediaLocations() API.

[2019-05-10 13:41] #1227 closed

[2019-05-10 14:39] ostola opened #1262 "there are not: Send email and Email recipients fields"
Hello every one.
Anyone knows why mentioned fields do not appear in create alert form? I have  version 10 P24

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1b9b2766-4ec8-bc37-67a6-624308c4cacb
* Version Independent ID: b0f59676-4dc7-afc5-0b82-75f6614e1402
* Content: [Client alert notifications by email - Finance & Ope

[2019-05-10 16:23] sqldaniel commented on #769
Dave, you can find the PBIX file as "FinancialInsights.PBIX" directly in the AOT. Use any Dev/Test or Tier 1 machine in your D365 FO environment.

[2019-05-10 17:06] prodev42 opened #1265 "business process?"
Can we add an overall business diagram chart here just like other processes?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ff2f03a9-638c-0f08-123a-3a790ba3c0d4
* Version Independent ID: 48c5f196-d266-92a9-bcd5-388d4ae78ee0
* Content: [Budgeting home page - Finance & Operations | Dynamics 365 | #MSDyn365FO](https://doc

[2019-05-10 19:33] kfend commented on #1265
Thanks for the feedback. I have passed this suggestion on to the topic owner.

[2019-05-10 19:33] #1265 closed

[2019-05-11 00:52] nazimi-msft commented on #1120
Cloud POS is included as part of Retail store scale unit. The documentation will be updated accordingly. Thank you!

[2019-05-11 12:08] maheshambati410 opened #1268 "Regression Suite Automation Tool support for sandbox environments"
Can we install and configure Regression Suite Automation Tool in sandbox environments? guide us the process and documentation

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 18d6a0b7-38dc-ddcd-c495-67e3b7498a7c
* Version Independent ID: 36a6bc94-6939-9daf-ad3d-4e0064258172
* Content: [Create and automate user acceptance

[2019-05-13 09:20] vavd opened #1269 "Profit tax functionality"
Hello,

Where can I find a documentation regarding RU profit tax functionality?

The questions is about the "Tax &gt; Setup &gt; Profit tax &gt; ..." menu items.

Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1c38d189-e0aa-0479-d35b-f26e81fe135f
* Version Independent ID: 48764b7d-19b7-1bce-3c2b-ec8a10596062
* C

[2019-05-13 12:09] fw1978 opened #1270 "Compability text correct?"
Is this correct?

"The compatibility is only backwards. A customization can be compiled on a newer platform and then deployed in a customer environment that hasn't yet been updated to that version or a later version."

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 20ba628a-45d6-eafd-763f-5cdacd9f5018
* Version Independ

[2019-05-13 12:19] FrankDahl commented on #1270
Binary compatibility is backwards only. This means a customization may be compiled on an older application and platform, and deployed to a customer environment that has been updated to a later version. You cannot deploy code compiled on a later version than the one running on the environment you deploy to.

[2019-05-13 13:57] vavd opened #1271 "Import a bank statement"
Where we can find a documentation about setting up a bank statement format and importing a bank statement?

For example, documentation about formats in AX 2012:
https://docs.microsoft.com/en-us/dynamicsax-2012//rus-exchange-formats-of-client-bank-form

Please provide a link where we can find a documentation how to set up functionality for importing a bank statement in Dynamics 365 FO.

Thank you

[2019-05-13 14:01] maveloso opened #1272 "Current list of supported languages"
it would be good to have a link on this page to the actual current list of supported languges OOB. this information is not easily accessible or findable on the documentation.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 41c33fc3-69e4-575e-02f1-9c611a15f0a3
* Version Independent ID: 8855f576-f1e6-6aeb-7f80-aa8ce01e51c

[2019-05-13 14:04] fw1978 commented on #1270
Totally agree. That's way I reacted on the text in the document. The text that I cited was from the "Runtime compatibility" section.

[2019-05-13 14:20] amadse opened #1273 "A precision document"
What is the definition on "A precision document"?
Is that a document that is saved with the contend and layout on the printing time and never changed later?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 516e4dbe-6af2-93f4-9b3e-938b97b155a5
* Version Independent ID: c11073d9-97bf-763c-5d6e-966b8a3c62ce
* Content: [Docu

[2019-05-13 14:27] #1120 closed

[2019-05-13 15:04] #1179 closed

[2019-05-13 15:06] sericks007 commented on #312
The topic has been renamed.

[2019-05-13 15:06] #312 closed

[2019-05-13 15:14] sericks007 commented on #951
This topic was updated.

[2019-05-13 15:14] #951 closed

[2019-05-13 15:34] ripannandy opened #1274 "Data entity filter issue"
Configured export data jobs using "Transfer order lines" entity. My requirement is to filter the data entity but application is throwing an error on putting filter on data entity. Error is "No tree node for Data Dictionary\Views\InventTransferOrderLineEntity\Fields\TransferOrderNumber".
![Error](https://user-images.githubusercontent.com/41295860/57634286-a5f65400-75c2-11e9-84ab-bc6d83f1c2c9.JPG)

[2019-05-13 15:57] stuartahonour opened #1275 "Create a web service application in Azure Active Directory - New Version"
Instructions for "Create a web service application in Azure Active Directory" This section needs to be updated as App Registrations in Azure has been updated and the screen shoots in this page are no longer accurate .

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 24ad63f4-807c-fc88-58b6-33514bd034d0
* Version Independ

[2019-05-13 16:25] RobinARH commented on #1268
@kfend - Can you take a look at this one? thanks.

[2019-05-13 16:31] RobinARH commented on #1270
I updated the content in the topic and the new content should to live in the next couple of days.

-Robin

[2019-05-13 16:31] #1270 closed

[2019-05-13 16:32] RobinARH commented on #1273
@TJVass @sericks007  - Can you take a look at this? Thanks.

[2019-05-13 16:42] RobinARH commented on #1274
Thanks for contacting us. Unfortunately, we're unable to handle Support requests for the product here. To contact Support, consider one of the options described here: [Support contact options](https://docs.microsoft.com/en-us/dynamics365/unified-operations/dev-itpro/lifecycle-services/lcs-support). In particular, you might want to go to the [Dynamics 365 for Finance and Operations community page](

[2019-05-13 16:42] #1274 closed

[2019-05-13 16:43] robadawy commented on #1268
The regression suite automation tool (RSAT) is designed to be installed on client computers connected to Fin and Ops environment via the browser. You do not install on the environment itself. You can set it up to connect to sandbox environment. The process of setting up is described in the user manual available with RSAT here https://www.microsoft.com/en-us/download/details.aspx?id=57357

[2019-05-13 16:46] RobinARH commented on #1275
@MarkusFogelberg Can you take a look at this one? Thanks.

[2019-05-13 16:54] RobinARH commented on #1272
@ejcho - Can you take a look at this? thanks.

[2019-05-13 16:55] RobinARH commented on #1275
@josaw1 Add Jo, too.

[2019-05-13 17:07] #1268 closed

[2019-05-13 17:44] RobinARH commented on #1233
Logged bug 321301 to track this issue.

[2019-05-13 21:56] maheshambati410 commented on #1268
Thanks Robert.
As per documentation Thumbprint to be updated in AOS servers, in self service deployment option we will not get RDP access to sandbox servers, how we can add thumbprint in this scenario?
https://docs.microsoft.com/en-us/dynamics365/unified-operations/dev-itpro/deployment/infrastructure-stack

[2019-05-14 09:19] kvigneshvaran opened #1277 "Performance Testing in Dynamics 365 FO 8.1 with Platform Update 23"
Hi,

I need to do the Performance testing using task recorder in Dynamics 365 FO 8.1 with platform update 23.
I followed the steps which is given in the below mentioned link.
https://docs.microsoft.com/en-us/dynamics365/unified-operations/dev-itpro/perf-test/perfsdk-tutorial-lbd

But in this link they provide the CloudEnvironment file details which is only applicable upto D365 FO 7.3 with platform

[2019-05-14 12:56] tonyafehr commented on #1277
Thanks for contacting us. Unfortunately, we're unable to handle Support requests for the product here. To contact Support, consider one of the options described here: [Support contact options](https://docs.microsoft.com/en-us/dynamics365/unified-operations/dev-itpro/lifecycle-services/lcs-support). In particular, you might want to go to the [Dynamics 365 for Finance and Operations community page](

[2019-05-14 12:56] #1277 closed

[2019-05-14 18:01] MichaelFruergaardPontoppidan commented on #1233
Thank you.  The wizard will be available with platform update 28.

[2019-05-14 18:42] #1233 closed

[2019-05-15 01:26] SimonHoey opened #1282 "Hide Prices"
Is there a way to create a quotation and have it publish only the total of the lines rather than publish the individual line prices?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9a588a9f-2dda-d33d-5ce9-1c25f25a5a06
* Version Independent ID: c9547cc6-74a5-5822-db46-08fddf332ff1
* Content: [Create and edit sales quotat

[2019-05-15 07:26] ransoentjens opened #1283 "Well documented."
Kudos for this article page. This clearly describes the framework as a whole, impact and relation with other funcitonalities, implementation considerations, etc.

This really is the level of documentation that we are looking for. Will done for this building block of the module. I encourage the Microsoft team to gradually get to this level of quality for other components as well.

---
#### Document

[2019-05-15 13:02] sericks007 commented on #1282
@SimonHoey, thanks for posting this! In the meantime, to get product help you can contact Support using one of the options described here: [Support contact options](https://docs.microsoft.com/en-us/dynamics365/unified-operations/dev-itpro/lifecycle-services/lcs-support). In particular, you might want to go to the [Dynamics 365 for Finance and Operations community page](https://community.dynamics.c

[2019-05-15 13:05] sericks007 commented on #1283
@ransoentjens, thank you so much for providing this feedback! It's great to know that this article was helpful to you!

[2019-05-15 13:05] #1283 closed

[2019-05-15 13:52] sericks007 commented on #1251
Bug 321793 has been logged to track this issue.

[2019-05-15 13:55] sericks007 commented on #1253
Bug 321794 has been logged to track this issue.

[2019-05-16 06:52] FINOPSAOSCEWA opened #1285 "Privilege AOT name incorrect"
There is no privilege object named as "FinancialReportsSecurityMaintain".
It might be "FinancialReportsSecuritySystemMaintain" which you want to write down.
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6b457809-75fe-b874-a8e3-04024b2000b2
* Version Independent ID: bfebff81-9d43-3a97-5f3a-90849a28db87
* Content: [Finan

[2019-05-16 07:46] youngstees opened #1286 "Missing syntax for Object ID"
Hi! Under the "Actions" paragraph and the description of the Object ID it says: "The following syntax must be followed to specify the keys.", but there is no syntax listed. Please update this.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cf20edd9-ee23-bf50-dfef-32fb913a798a
* Version Independent ID: 3b8ca822-5007-e1c

[2019-05-16 11:07] ivanales opened #1288 "Review rating setting"
The defaults for ratings are on the SHARED human resources parameters page under Performance, not on Human resources parameters.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e361bd46-580c-f801-06f3-79bb7960a3a0
* Version Independent ID: fe4c34a3-a83b-351d-4317-a744538f78c8
* Content: [Performance management - Talent

[2019-05-16 13:56] lokeshchinta786 opened #1289 "Getting Error MSIS9605: the client is not allowed to access the requested resource"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8da0e6ec-c020-0dae-62c5-969d123de30e
* Version Independent ID: 1a6b9457-6996-b276-e485-d01fd8e63a3b
* Content: [Configure the Warehousing app for on-premises deployments - Finance & Operations | Dynamics 365 | #MSDyn365FO](https://docs.microsoft.com/e

[2019-05-16 15:39] andreabichsel commented on #1288
Thank you for pointing that out! I made the correction, and it should go live within an hour or so.

[2019-05-16 15:39] #1288 closed

[2019-05-16 16:55] ivanales commented on #1288
Wow, thanks a lot. That is a fenomenal speed ;-)

Ivana

---------- Původní e-mail ----------
Od: Andrea Bichsel <notifications@github.com>
Komu: MicrosoftDocs/dynamics-365-unified-operations-public <dynamics-365-
unified-operations-public@noreply.github.com>
Datum: 16. 5. 2019 17:39:38
Předmět: Re: [MicrosoftDocs/dynamics-365-unified-operations-public] Review
rating setting (#1288)
"
Thank you fo

[2019-05-16 20:19] josaw1 commented on #1285
Thank you for your feedback. @aprilolson, can you please take a look?

[2019-05-16 20:26] josaw1 commented on #1289
@MarkusFogelberg, can you please help with this issue? Thanks.

[2019-05-16 20:30] aprilolson commented on #1285
Can you please assign to ryan sandness?

April Olson
Dynamics 365 Finance & Operations
Principal Group Program Manager, Financials & Service Industries
Check out our Financials blog: https://community.dynamics.com/365/financeandoperations/b/financials

Our workplace allows for a flexibile work schedule, which is an amazing benefit. I am sending this now because it is convenient for me. I do not ex

[2019-05-16 20:33] josaw1 commented on #1285
@ryansandness

[2019-05-17 06:19] SabyasachiChakraborti opened #1291 "Correction required in the setup steps"
"System setup for coupons" section step 5:  In the 'Retail Parameter' page 'Bar code' tab is not available. The correct step is to go to 'Discount' tab and then to the 'Coupon' fast tab to setup the bar code mask for coupons

"System setup for coupons" section step 6: This step is not required to create a bar code for coupons

[2019-05-17 11:21] ianmorgan99 opened #1292 "How does 'Pausing' work on an on-premise environment?"
The pausing process is clear in the cloud, however it needs some clarity for on-premise installations.

Our customer wants to run on-premise, (Rightly or wrongly) because they don't trust any external party not to break the live environment at a point in time.  They want complete control of the timing. If they feel that the update is going to be forced down to them, this will make them nervous abo

[2019-05-17 11:23] stuartahonour commented on #1275
@MarkusFogelberg Do you know when the information will be updated?

[2019-05-17 13:55] maveloso opened #1294 "what are the specific permissions for the azure dev ops PAT?"
this documentation should specify the minimm specific permissions to be granted to the PAT. Granting all scopes to a PAT is just bad security practice

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b1804282-0c48-6305-c6b2-b31dec2727df
* Version Independent ID: 2650812b-ab37-47ef-c103-a8a094cc8fce
* Content: [Synchroniz

[2019-05-17 16:12] kweekley commented on #769
Daniel is correct that the .pbix is available in the Resources within the AOT.

[2019-05-17 20:34] josaw1 commented on #1291
Thanks for the comment. @jblucher can you please help get this topic updated?

[2019-05-18 05:19] ripannandy opened #1296 "Odata data limit"
Is there any data limit for each OData request ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 64b023ab-59fb-87d9-d935-d60d0e9e4139
* Version Independent ID: 10120c96-a72d-60fd-63ff-db9f77e05817
* Content: [Open Data Protocol (OData) - Finance & Operations | Dynamics 365 | #MSDyn365FO](https://docs.microsoft.com/en-us

[2019-05-20 13:59] tonyafehr commented on #1296
@ripannandy, thank you for the feedback. To get product help you can contact Support using one of the options described here: [Support contact options](https://docs.microsoft.com/en-us/dynamics365/unified-operations/dev-itpro/lifecycle-services/lcs-support). In particular, you might want to go to the [Dynamics 365 for Finance and Operations community page](https://community.dynamics.com/) to get h

[2019-05-20 14:00] tonyafehr commented on #1294
@maveloso, thank you for the feedback.

@AngelMarshall, please review and update the topic accordingly.

[2019-05-20 14:10] normatg opened #1298 "When will be the Entity Store available for D365FO On-Premise?"
There was a post on Microsoft Docs that the Entity Store will be available. Does anyone have further details?
[https://docs.microsoft.com/en-us/business-applications-release-notes/April19/dynamics365-finance-operations/entity-store-on-prem-availability](url)

[2019-05-20 14:20] tonyafehr commented on #1262
Bug 323143 has been logged to track this issue.

In the meantime, to get product help you can contact Support using one of the options described here: [Support contact options](https://docs.microsoft.com/en-us/dynamics365/unified-operations/dev-itpro/lifecycle-services/lcs-support). In particular, you might want to go to the [Dynamics 365 for Finance and Operations community page](https://communit

[2019-05-20 14:20] tonyafehr commented on #1260
Bug 323141 has been logged to track this issue.

[2019-05-20 14:20] tonyafehr commented on #1254
Bug 323139 has been logged to track this issue.

[2019-05-20 14:20] tonyafehr commented on #1259
Bug 323140 has been logged to track this issue.

[2019-05-20 14:26] tonyafehr commented on #1271
@vavd, thanks for the feedback.

Bug 323145 has been logged to track this issue.

[2019-05-20 14:26] tonyafehr commented on #1269
@vavd, thanks for the feedback.

Bug 323144 has been logged to track this issue.

[2019-05-20 14:31] tonyafehr commented on #1272
Bug 323145 has been logged to track this issue.

[2019-05-20 14:43] tonyafehr commented on #1275
Bug 323152 has been logged to track this issue.

[2019-05-20 14:43] tonyafehr commented on #1273
@amadse, thanks for the feedback.

Bug 323151 has been logged to track this issue.

[2019-05-20 14:53] HZRudi opened #1299 "Mobile workspace: Max 50 items on lookup"
Hi
".. By default, 50 items are loaded, but a developer can change this number."

Can not find anything about how to change this number?
Found nothing on "Mobile platform." about that issue...
Tnx

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 552fe27a-7bdc-e542-e95e-3fd80a13cf95
* Version Independent ID: 9757e9d0-a499

[2019-05-20 14:58] tonyafehr commented on #1299
@HZRudi, thanks for posting this.

@KimANelson, please review this feedback and update the topic accordingly.

[2019-05-20 14:58] tonyafehr commented on #1298
Thanks for contacting us. Unfortunately, we're unable to handle requests for release dates here. I suggest going to the [Dynamics 365 for Finance and Operations community page](https://community.dynamics.com/) to get help with your questions from the Dynamics community.

[2019-05-20 14:58] #1298 closed

[2019-05-20 17:39] bhuvanabellala1 opened #1300 "Business events are not showing up in Azure Service Bus queue"
My endpoint is setup correctly because I do see the test message in the queue. I activated two business events on this queue. However, when I perform these actions, the messages are not showing up in the queue. I tried to make sure that the business events batch processor is running. However when I go to System Parameters, I do not see the Business events - Preview tab. How can I ensure that the b

[2019-05-20 17:41] AngelMarshall commented on #1294
Hi,
For BPM to Azure DevOps sync, the minimum scopes needed would be for Work Items with read, write, & manage permission.

[2019-05-20 18:27] tonyafehr commented on #1300
@bhuvanabellala1, thanks for posting this! Your comment is not directed toward a specific topic, which is the intent of this feedback site. This is not a support site. To get product help you can contact Support using one of the options described here: [Support contact options](https://docs.microsoft.com/en-us/dynamics365/unified-operations/dev-itpro/lifecycle-services/lcs-support). In particular,

[2019-05-20 19:01] #1294 closed

[2019-05-20 19:01] #1300 closed

[2019-05-21 15:32] ptuerk opened #1301 "Missing link"
In the chapter immediate window a document is mentioned that the snippets should be written in C# syntax.
Please add the link here.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d23000d7-984d-c071-f45a-af4679ae9d00
* Version Independent ID: 3b1286b4-c55c-7db9-4afa-eb2b21db0287
* Content: [X++ and debugger features - F

[2019-05-21 16:32] tonyafehr commented on #1301
@ptuerk, thanks for sending this feedback.
@pvillads, please review and update the topic accordingly.

[2019-05-21 16:44] tonyafehr commented on #1282
Bug 323662 has been logged to track this issue.

[2019-05-21 17:55] ripannandy opened #1302 "Change based tracking using ODATA service"
Does change based tracking for entities work for ODATA service based integration in D365FO?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 678ace49-2430-6d7a-b0d9-90388633d31e
* Version Independent ID: 9ba9b3ac-75cf-3bd1-7de0-df20713c85ad
* Content: [Enable change tracking for entities - Finance & Operations | Dynamics

[2019-05-21 18:25] tonyafehr commented on #1302
@ripannandy, thanks for posting this! In the meantime, to get product help you can contact Support using one of the options described here: [Support contact options](https://docs.microsoft.com/en-us/dynamics365/unified-operations/dev-itpro/lifecycle-services/lcs-support). In particular, you might want to go to the [Dynamics 365 for Finance and Operations community page](https://community.dynamics.

[2019-05-22 05:52] soerenpc opened #1303 "No configuration"
After I have set up my own user I get this:
The menu item with name jmgregistrationtouch could not be opened.
There is no configuration for the current user.
What can be the problem ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5c9cb448-e8e6-e8e8-401f-7dc1f456df49
* Version Independent ID: 388e1156-e266-cb51-faaa-19

[2019-05-22 08:31] FINOPSAOSCEWA opened #1304 "Assign only duties to roles"
Hi there,

In this article, there is a recommendation to "assign only duties to roles". Is this recommendation basing on the assumption that each privilege will be always assigned to one (and only one) duty? Or  it will be a case-by-case scenario?

For instance,  the privilege "VendProspectiveVendorDataAreaSelectDeny" does not belong to any duty. So, this privilege has to be assigned to a role dir

[2019-05-22 11:08] JeroenLeeflang opened #1305 "Flighting in a production environment"
Is it allowed to enable a flight in a production environment?

If yes, how?
If no, this is not clear from this page.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2c6788e8-dfb0-6108-71ae-e265bad542a2
* Version Independent ID: 68a26703-3d8c-4d46-6f3f-37c30aa79373
* Content: [Data management - Finance & Operations | Dyn

[2019-05-22 12:37] sericks007 commented on #1303
@soerenpc, Thanks for posting this! In the meantime, to get product help you can contact Support using one of the options described here: [Support contact options](https://docs.microsoft.com/en-us/dynamics365/unified-operations/dev-itpro/lifecycle-services/lcs-support). In particular, you might want to go to the [Dynamics 365 for Finance and Operations community page](https://community.dynamics.co

[2019-05-22 15:30] Ake-Olsson opened #1306 "DMFEnableAllCompanyExport"
For BYODB this one doesnt work since it do not work when you run it as a batchjob. If run manually it exports data for all companies but when it is run as a batchjob it only xports data from the company that you set up the batch job for

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2c6788e8-dfb0-6108-71ae-e265bad542a2

[2019-05-22 17:31] Rardd1997 opened #1307 "Custom shortcut not invoked"
Hello, how I can run my custom shortcut from Form. When I create a custom control and add a shortcut to him, I cannot to see it on "Currently available shortcuts". I can see it on the category "SHORTCUTS FOR SELECTED ELEMENT" only if I click right-button on the mouse when my cursor on my custom control. Also when I select my control using the Tab button, it not working too.
Maybe somebody says to

[2019-05-22 18:57] sericks007 commented on #1304
@FINOPSAOSCEWA, thanks for posting this!

@robadawy, can you please review and answer the questions.

[2019-05-22 19:00] sericks007 commented on #1306
@Ake-Olsson, thanks for posting this.

@Sunil-Garg, please review and update the topic, as needed.

[2019-05-22 19:10] sericks007 commented on #1285
@FINOPSAOSCEWA, thanks for making us aware of this issue.  The fix has been made and will be published later this week.

[2019-05-22 19:10] #1285 closed

[2019-05-22 21:10] ejchoGIT commented on #1272
The supported languages vary depending on the product and the version. Dynamics Translation Service supports multiple products and the associated versions, so there is no one-page information to list them all. User can contact dtssup@microsoft.com to check if a specific language is supported for a specific product and version or request to add one if not found from within Dynamics Translation Serv

[2019-05-22 21:17] #1272 closed

[2019-05-22 23:17] SteveBurkettNZ opened #1310 "DRA supported on Windows Server 2019?"
Got a few clients rolling out Windows Server 2019 these days, is it supported to run the DRA on this OS? If so, can the line under the What's Important To Know section on the OS requirements be updated to reflect this please?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2128b07d-7349-6642-f05f-c94fe800d104
* Version

[2019-05-23 07:57] noakesey commented on #1183
In addressing this, please could you consider updating step 4 in "Install the deployable package" so that it reads:

"Follow the instructions for installing a deployable package _and ensure that the DefaultTopologyData.xml file is updated for your environment._ See ... [etc]"

It is possible for the reader to skip over the updates to DefaultTopologyData.xml in the next page as they are enclosed wi

[2019-05-23 08:05] FH-Inway commented on #1183
@noakesey I created a similar [issue 1137](https://github.com/MicrosoftDocs/dynamics-365-unified-operations-public/issues/1137) for another article, maybe bug 313995 created there could also be used for your feedback.

[2019-05-23 09:21] tsyanag opened #1311 "Which is correct for PRO, 5 seconds or 5 minutes?"
There is a statement regarding D365 SQL RPO as 5 seconds and also another statement little below saying 5 minutes, which confused clients. Can we fix these, even take them out?
------------------
(former one): Azure SQL active-geo replication for primary databases, with a Recovery Point Estimate (RPO) of &lt; 5 seconds.

(latter one): a Recovery Point Objective of 5 minutes
------------------

---