[2021-09-13 16:18] tonyafehr commented on #3564
@FH-Inway, thank you for the feedback.
@laneswenka, please review and consider making updates.

[2021-09-13 16:22] #3566 closed

[2021-09-13 16:33] tonyafehr commented on #3565
@ph1lzb, thank you for the feedback.
@rashmansur, please review.

[2021-09-13 16:35] #3496 closed

[2021-09-15 16:08] bstorie opened #3568 "Add section for Enabling Azure Product Search"
[Enter feedback here]
Can we add a note/section that customers need to enable Productsearch.AzureSearch = True in   Commerce Parameters > Configuration Parameters   in order for  Refiners to work on the Ecom site with Demo data.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 67d6e0ac-7a61-78c4-cf4b-dd26a218f7bc
* Versi

[2021-09-15 16:12] tonyafehr commented on #3568
@bstorie, thank you for the feedback.
@psimolin, please review.

[2021-09-17 14:55] #3555 closed

[2021-09-17 15:03] #3563 closed

[2021-09-17 15:17] #3560 closed

[2021-09-20 12:59] yeuruparaghoo opened #3573 "Check year in schedule for 2022"
Dates for 2022 has 2021 as the year.  Please correct.

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1fcc1802-115b-4ac2-f34f-aa73eac426f4
* Version Independent ID: d758bfc6-245e-43d6-8bde-31282cea0a64
* Content: [Planned maintenance in self-service environments FAQ - Finance & Operations | Dynamics 365](https://docs.mi

[2021-09-20 13:46] Beelzenef opened #3574 "About user in Dynamics Lifecycle Services service connection"
About this paragraph on [Create an LCS connection in Azure Pipelines](https://docs.microsoft.com/en-us/dynamics365/fin-ops-core/dev-itpro/dev-tools/pipeline-lcs-connection):

I am researching on this topic, about the user and password, and I have some questions:

- Can this user have MFA enabled?
- Where can I find the permissions assigned to this user?
- What permissions should this user have in

[2021-09-20 15:35] jorisdg commented on #3574
Please review the second NOTE section in the documentation. LCS does not support service-to-service (service principal) authentication. And because the service doesn’t run interactively, MFA is not supported.

The permissions needed depend on what you’re going to use this connection for. Whichever action you perform, the user setup should have that permissions (e.g. to deploy code, this account ne

[2021-09-20 16:21] josaw1 commented on #3573
Thanks for your feedback. @rashmansur please take a look.

[2021-09-20 19:18] sericks007 commented on #3547
The link has been fixed.

[2021-09-20 19:18] #3547 closed

[2021-09-20 19:47] sericks007 commented on #3545
@veeravendhan-s, please review and update the content.

[2021-09-21 13:17] anboudin opened #3575 "missing some clear expectation for customer"
Hi, we received cases on settlement from customer that refers to this document.
Customer mentioned that solution is provided by Microsoft so it should work.

From what I know Microsoft support is based on 2 decimals.
can we had somewhere? extension is customization and Microsoft provides global guidance. but all scenario should be tested and code adapted by customer.
Scenario related to this exten

[2021-09-21 16:18] Navneetkat opened #3576 "Additional resource Link not working"
Additional resources
Separating tactical and operative planning for master scheduling
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1c4d47af-bae9-f30f-874a-7afeff66c62d
* Version Independent ID: a8c18f50-39fa-46f3-0add-f00518260cfe
* Content: [Master plans overview - Supply Chain Management | Dyn

[2021-09-21 17:14] josaw1 commented on #3575
Thank you for your feedback. @MichaelFruergaardPontoppidan can you please review?

[2021-09-21 23:01] RobinARH commented on #3545
Created bug 620274 to track this issue.

[2021-09-21 23:01] RobinARH commented on #3546
Created bug 620275 to track this issue.

[2021-09-21 23:02] RobinARH commented on #3539
Created bug 620272 to track this issue.

[2021-09-21 23:02] RobinARH commented on #3543
Created bug 620273 to track this issue.

[2021-09-21 23:02] RobinARH commented on #3549
Created bug 620277 to track this issue.

[2021-09-21 23:02] RobinARH commented on #3550
Created bug 620278 to track this issue.

[2021-09-21 23:03] RobinARH commented on #3534
Created bug 620270 to track this issue.

[2021-09-21 23:03] RobinARH commented on #3548
Created bug 620276 to track this issue.

[2021-09-21 23:03] RobinARH commented on #3533
Created bug 620269 to track this issue.

[2021-09-21 23:03] RobinARH commented on #3531
Created bug 620268 to track this issue.

[2021-09-22 01:22] EpimetheusJohnson commented on #3531
@ronsonntag54 did you tried to enable the landed cost feature at the beginning?

[2021-09-22 05:37] MichaelFruergaardPontoppidan commented on #3575
Since the topic is placed under Extensibility (https://docs.microsoft.com/en-us/dynamics365/fin-ops-core/dev-itpro/extensibility/extensibility-home-page) and there is a lot of context about roles and expectations on those page, I would be hesitant to repeat in this topic.  And this topic is named "Extending ..."

We are outlining the default support for each of the EDTs explicitly: "Weight data ca

[2021-09-22 12:52] tonyafehr commented on #3564
Bug 621004 created to track this issue.

[2021-09-22 12:56] tonyafehr commented on #3565
Bug 621009 created to track this issue.

[2021-09-22 12:58] tonyafehr commented on #3568
Bug 621010 created to track this issue.

[2021-09-22 13:54] mjohnsonedxc opened #3577 "Party GAB solution causing issues with passing parameters in functions."
I recently raised a case (#2109070050001667) due to the Party & GAB solution breaking my environment. It was required for me to go through and enable parameter passthrough for lots of functions. Then after I'd fixed them an updates was released and more were broken. I think it's a good idea to inform users that this might happen and how to fix it if it does. Obviously it would be idea if it didn't

[2021-09-22 19:17] josaw1 commented on #3577
Thank you for your feedback. @RamaKrishnamoorthy can you please take a look?

[2021-09-22 19:46] Peakerbl commented on #3549
@WayneLi001 thanks for reporting this. This is a bug and you can track the fix here: [Details for issue 616017](https://fix.lcs.dynamics.com/Issue/Details?bugId=616017&dbType=3&qc=9515f02771ac4a24a1b0b13765201e38d205b9b1285f6db36548bf54e704c973)

[2021-09-22 20:05] #3549 closed

[2021-09-23 06:44] asalah1987 opened #3580 "VHD releases out dated"
VHD releases are not accurate please to update

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c6d8ca90-dfbd-3698-0def-a3be85e9c850
* Version Independent ID: b8d5a864-57fb-9fc3-f36a-77c5f5c58a54
* Content: [Software lifecycle policy and cloud releases - Finance & Operations | Dynamics 365](https://docs.microsoft.com/en-

[2021-09-23 08:55] jmeijering opened #3581 "Missing step when configuring Ecommerce site"
In step 4 of https://docs.microsoft.com/en-us/dynamics365/commerce/cpe-post-provisioning#set-up-your-site-in-commerce you have to tell that you have to link the on-line channel to the DB and do a full sync

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 67d6e0ac-7a61-78c4-cf4b-dd26a218f7bc
* Version Independent ID: f3ec

[2021-09-23 09:03] jmeijering opened #3582 "Please add "If status is withhold, change the status into waiting"."
https://docs.microsoft.com/en-us/dynamics365/commerce/cpe-post-provisioning#enable-jobs
Please add "If status is withhold, change the status into waiting".

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 67d6e0ac-7a61-78c4-cf4b-dd26a218f7bc
* Version Independent ID: f3ec5780-fe76-7ce2-cd2b-d2aec7877323
* Content: [Confi

[2021-09-23 11:49] anboudin commented on #3575
It was just to clarify on same page "how to create extension for 3 decimals" that it is not FULL solution but some GUIDANCE that needs to be fully tested and investigated to avoid data corruption detected such as rounding at posting/settlement.
We have several support cases and customer mentioned that they follow MS suggestion. As provided by MS customers think it should work without bug.
If it is

[2021-09-23 16:11] jasongre commented on #3548
@owlkeeper What version of Chrome/Edge are you testing on? I was able to successfully load and use the extension from that location today in both browsers.

[2021-09-23 16:35] owlkeeper commented on #3548
***@***.***

***@***.***

From: Jason Green ***@***.***>
Sent: Thursday, September 23, 2021 9:11 AM
To: MicrosoftDocs/dynamics-365-unified-operations-public ***@***.***>
Cc: Mannes Neuer ***@***.***>; Mention ***@***.***>
Subject: Re: [MicrosoftDocs/dynamics-365-unified-operations-public] Issue with Screen recorder code (#3548)

@owlkeeper<https://nam10.safelinks.protection.outlook.com/?url=https%

[2021-09-23 16:53] josaw1 commented on #3580
Thank you for your feedback. @ShellyBakke can you please take a look?

[2021-09-23 16:54] josaw1 commented on #3581
Thank you for your feedback. @psimolin can you please take a look?

[2021-09-23 16:55] josaw1 commented on #3582
Thanks for the feedback. @psimolin please review.

[2021-09-23 17:53] ronsonntag54 commented on #3531
Where do I enable this feature?

[2021-09-23 19:08] sericks007 commented on #3533
@thedynamicsgirl, this issue has been fixed.  Thanks for reporting this!

[2021-09-23 19:08] #3533 closed

[2021-09-23 19:11] #3548 closed

[2021-09-23 21:55] user-pass opened #3583 "Information in this article is outdated"
[Enter feedback here]

Part of a page describing 'Open entity data in Excel when you start from Excel' is outdated. After installing add-in DESIGN BUTTON DO NOT APPEARS. I'm really so tired about your outdated and incorrect documentation, so it would be better just to delete this useless information. I'm so angry and tired, just wanna stop using all of your products forever and become Apple fan.

[2021-09-23 22:42] josaw1 commented on #3583
Thank you for the feedback. @jasongre can you please review this?

[2021-09-24 00:55] Navneetkat opened #3584 "Correction Transfer tab not Transport tab"
The Reserve items automatically option on the _**Transport tab**_ determines the default setting if items are automatically reserved for transfer orders. The default setting can be overridden on individual transfer orders.[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1bff6533-1ef7-0c04-1010-2a801

[2021-09-24 01:05] MXC14 opened #3585 "Warehouse Location Status Updates"
The non inclusion of this inventory module based transaction creates inconsistency, the concept of an integrated system is compromised. All inventory based transactions require a location to be specified and no matter the source of the transaction an update should be possible for the warehouse module location status, item and date/time stamps.

It also present a bigger problem, on how to load inve

[2021-09-24 08:33] jmeijering opened #3586 ""If your B2B site supports customer accounts, you select Enabled for B2C customers" Is this correct?"
https://docs.microsoft.com/en-us/dynamics365/commerce/b2b/set-up-b2b-site#site-level-settings

It states:

Enable customer account payments – This property enables users to pay for orders by using customer accounts. The available values are Enabled for B2B customers, Enabled for B2C customers, Enabled for all customers, and Disabled for all customers. If your **B2B** site supports customer account

[2021-09-24 08:39] jmeijering opened #3587 "B2B setup page is missing important information"
This whole page is a bit confusing. You would expect to get an explainaintion what you need to do to setup a B2B website, but directly after the prerequistes, the setup of Site level settings are explained, but as long as you do not have a B2B site configured you don't have access to such a site.

I would have expected first a short description that you have to enabled the B2B Feature in feature m

[2021-09-24 13:28] twheeloc commented on #3562
The call center sales order flow is different from the standard Accounts receivable sales order flow. Call center sales orders do not go through a confirmation step which is required for explosion of a bundle.

[2021-09-24 13:28] #3562 closed

[2021-09-24 17:27] josaw1 commented on #3584
Thanks for your feedback. @kamaybac can you please take a look?

[2021-09-24 17:31] josaw1 commented on #3585
Thanks for contacting us. Unfortunately, we're unable to handle requests for the product here. Consider adding your request to the [Ideas site](https://experience.dynamics.com/ideas/). Also, you might want to go to the [Dynamics 365 community page](https://community.dynamics.com/) to get help with your questions from the Dynamics community.

[2021-09-24 17:33] josaw1 commented on #3586
Thank you for your feedback. @anpurush can you please review?

[2021-09-24 17:35] josaw1 commented on #3587
Thanks for the feedback. @anpurush or @BrianShook can you please review?

[2021-09-24 20:48] turbozapekanka opened #3588 "Missing updates process explanation"
The article says "The process for taking updates will be explained later in this topic."
But no explanation yet, please update.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 55c7ea05-69b5-1c5e-eb55-07066a1b2d17
* Version Independent ID: b75e9d43-6590-60bd-ca34-83c40abd9ae6
* Content: [Set up new environments, Azure De

[2021-09-24 22:22] josaw1 commented on #3588
Thank you for your comment. @andreashofmann1 can you please review?

[2021-09-26 02:46] EpimetheusJohnson commented on #3531
@ronsonntag54
![image](https://user-images.githubusercontent.com/14008006/134791521-355ace46-3dc1-416d-bc11-88c31444247a.png)
![image](https://user-images.githubusercontent.com/14008006/134791551-05335933-9136-473c-bfe7-b530595694ca.png)

[2021-09-27 13:10] kurthatlevik-inspirit365 opened #3591 "Public preview / GA"
Please evaluate what is in public preview, and what is GA related to Entity Store in Data Lake.   Because of the public preview statement here, customers are reluctant to use it....

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a344a5de-68fa-e9cf-28eb-51269c33b9b3
* Version Independent ID: 1b3ede62-3954-574b-5778-8cde

[2021-09-27 16:44] ph1lzb opened #3592 "Issue with additional Tiered environments being auto-updated by Microsoft"
I can see the logic for Microsoft auto-updating additional Sandboxes (Tier 2+) in a customer's subscription to reduce the overhead placed on Customers/Partners, but this will not always be acceptable.  The approach ignores multi-phase projects whereby the customer is testing functionality in a separate Tier 2 environment for a future rollout.  That additional tier 2 environment may have ISV soluti

[2021-09-28 11:26] kamaybac commented on #3531
@ronsonntag54 , we have now updated the documentation by adding a topic about how to enable the module:
https://docs.microsoft.com/en-us/dynamics365/supply-chain/landed-cost/landed-cost-enable

Thank you, @EpimetheusJohnson , for providing the instructions here already.

[2021-09-28 11:26] #3531 closed

[2021-09-28 16:24] betespadula opened #3593 "Set up the fiscal registration process (files: SubmitConnector.xml /ContingencyConnector.xml)"
When partners/clients try to access the link: Commerce Fiscal Integration repository (repo) to download xmls:  SubmitConnector.xml  /  ContingencyConnector.xml error message stating that they do not have access.

[https://docs.microsoft.com/en-us/dynamics365/commerce/localizations/latam-bra-deployment#set-up-the-fiscal-registration-process](url)

We need to check this link for customers to downloa

[2021-09-29 06:38] anboudin commented on #3575
It was just to clarify on same page “how to create extension for 3 decimals” that it is not FULL solution but some GUIDANCE that needs to be fully tested and investigated to avoid data corruption detected such as rounding at posting/settlement.
We have **several support cases** and customer mentioned that they follow MS suggestion. As provided by MS customers think it should work without bug.
If i

[2021-09-29 19:58] #3574 closed

[2021-09-29 20:42] RobinARH opened #3596 "Test issue"

[2021-09-29 20:43] RobinARH commented on #3596
Created bug 12345 to track this issue.

[2021-09-29 20:47] RobinARH commented on #3596
Created bug 12345 to track this issue.

[2021-09-29 20:47] RobinARH commented on #3596
Created bug 67890 to track this issue.

[2021-09-29 20:48] RobinARH commented on #3596
Created bug 12345 to track this issue.

[2021-09-29 20:48] RobinARH commented on #3596
Created bug 67890 to track this issue.

[2021-09-29 20:49] RobinARH commented on #3573
Created bug 623420 to track this issue.

[2021-09-29 20:49] RobinARH commented on #3574
Created bug 623421 to track this issue.

[2021-09-29 20:49] RobinARH commented on #3575
Created bug 623424 to track this issue.

[2021-09-29 20:49] RobinARH commented on #3576
Created bug 623425 to track this issue.

[2021-09-29 20:49] RobinARH commented on #3577
Created bug 623426 to track this issue.

[2021-09-29 20:49] RobinARH commented on #3580
Created bug 623427 to track this issue.

[2021-09-29 20:49] RobinARH commented on #3581
Created bug 623428 to track this issue.

[2021-09-29 20:49] RobinARH commented on #3582
Created bug 623430 to track this issue.

[2021-09-29 20:49] RobinARH commented on #3583
Created bug 623432 to track this issue.

[2021-09-29 20:49] RobinARH commented on #3584
Created bug 623433 to track this issue.

[2021-09-29 20:49] RobinARH commented on #3585
Created bug 623434 to track this issue.

[2021-09-29 20:49] RobinARH commented on #3586
Created bug 623413 to track this issue.

[2021-09-29 20:49] RobinARH commented on #3587
Created bug 623435 to track this issue.

[2021-09-29 20:49] RobinARH commented on #3588
Created bug 623438 to track this issue.

[2021-09-29 20:49] #3596 closed

[2021-09-29 22:46] ronsonntag54 commented on #2765
It is now Sep 29 **2021** and no response? Really! Microsoft, please pay attention as this is an issue on EVERY PROJECT I have been on regarding D365 F&O. Other competing products do NOT have this level of lack of documentation and support. Please pay attention!

[2021-09-30 00:09] roschlom commented on #3592
Thank you for the feedback!

[2021-09-30 02:43] kitaly opened #3598 "html markup is visible"
See the below image. Note that <a name="queued-records-insights-and-error-management"> html tag is visible.

![image](https://user-images.githubusercontent.com/45222/135377266-28aa27aa-4ff2-4fc1-9e32-823ff95ca0b3.png)

Link:
https://docs.microsoft.com/ja-jp/dynamics365/fin-ops-core/dev-itpro/data-entities/dual-write/errors-and-alerts#a-namequeued-records-insights-and-error-management%E3%82%AD%E3%8

[2021-09-30 08:58] kamaybac commented on #3576
@Navneetkat , thank you for reporting this issue. I have fixed the link.

[2021-09-30 08:58] #3576 closed

[2021-09-30 11:21] kamaybac commented on #3519
@Kirknel , thank you for reporting this issue. We have updated the topic.

[2021-09-30 11:21] #3519 closed

[2021-09-30 15:51] vinceno commented on #3598
Thx @roschlom - @rosacek could you please have thsi corrected - thx

[2021-09-30 16:48] rosacek commented on #3598
@roschlom @vinceno I'm looking into it and will have the topic fixed.

[2021-09-30 20:57] rosacek commented on #3598
@roschlom @RobinARH @vinceno [fix is live](https://docs.microsoft.com/ja-jp/dynamics365/fin-ops-core/dev-itpro/data-entities/dual-write/errors-and-alerts)

[2021-09-30 21:00] RobinARH commented on #3598
Thanks for the quick update!

[2021-09-30 21:00] #3598 closed

[2021-09-30 22:31] jasongre commented on #3583
@user-pass The instructions worked as described for me. The Design button is at the bottom of the add-in pane. What were you seeing? Did the add-in load?

[2021-09-30 23:22] Bijan-Ghofranian opened #3599 "Minor correction when creating a new Warehouse"
Please change the wording in step 5 from "In the Site field, type a value."  to "In the Site field, **select** a value from drop down."
Obviously they can not type anything so the sentence gives a false impression that they can think of a site on the fly and AX will create that site.
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linkin

[2021-10-01 16:18] #3583 closed

[2021-10-03 05:06] SinghDevinder opened #3602 "Enqueue API Url is Incorrect in the example"
The example of enqueue api call has incorrect url (having extra "en")
Example, on docs full payload is "POST https://usncax1aos.cloud.onebox.dynamics.com/en/api/connector/enqueue/%7B6D31E09F-0249-459F-94F0-AAD9C2C47B64%7D?entity=Customer%20Groups"

where as it should not have "/en" after the base url

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ G

[2021-10-04 10:31] weaveriski opened #3603 "Clarity on roll out and use in Data Migration"
Hi

The **Constraint** entitled "Data migration slow-down with enabled dual-write" requires clarity.

I believe the presumption here is on the FIRST legal entity, i.e. do not have the maps enabled whilst running the data migration element. However where you have mutliple roll outs you cannot disable the dual-write maps, they are in production. Naturally you do not have to add the legal entity into

[2021-10-04 10:47] artemt1 opened #3604 "Visual Studio 2019"
Seems like this page should be updated, due to Visual Studio 2019 is currently used on the latest D365FO machines.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ab16cabb-05a1-4239-3e13-58394994e3a7
* Version Independent ID: 35af4de6-7f28-1f56-d99c-a52e4852cdd1
* Content: [Visual Studio 2017 requirements for X++ - Fina

[2021-10-04 12:52] #2624 closed

[2021-10-04 14:01] sericks007 commented on #3558
This content has been updated.

[2021-10-04 14:01] #3558 closed

[2021-10-04 23:22] markandersonus opened #3606 "where are the images? they not in the exported word doc"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b5762f9e-d7f4-e7fc-49c7-6db64c01bc6a
* Version Independent ID: 2aab18ad-f2f1-c0ad-c109-38806c8491a3
* Content: [Task recorder resources - Finance & Operations | Dynamics 365](https://docs.microsoft.com/en-us/dynamics365/fin-ops-core/dev-itpro/user-int

[2021-10-05 07:05] TimoTenni opened #3607 "Setup for OIOUBL"
In this article, user is guided to import the child configurations. But as by current design several other configurations and mappings which have nothing with the feature to do, are imported. It would be more precise to show also the result:
Invoice model
  Invoice model mapping (must be set to default)
    OIOUBL Project credit note
    OIOUBL Project invoice
    OIOUBL Sales credit note
    OIOU

[2021-10-05 17:22] turbozapekanka opened #3608 "Inaccurate information on premium sku requirement for CCIs"
The page says "CCIs are currently supported only on SQL premium databases"

[Enter feedback here]
It used to be the case back in the days but no longer correct.
More SKUs have been enabled for CCIs back in 2018
https://azure.microsoft.com/en-us/blog/columnstore-support-in-standard-tier-azure-sql-databases/
https://docs.microsoft.com/en-us/sql/relational-databases/indexes/columnstore-indexes-what-s

[2021-10-05 22:50] josaw1 commented on #3593
This issue was fixed and will go live today. Thank you.

[2021-10-05 22:50] #3593 closed

[2021-10-06 17:13] kfend commented on #3608
@turbozapekanka - Thank you for the feedback.
@Peakerbl - Can you please take a look and address this?

[2021-10-06 17:14] kfend commented on #3606
@markandersonus - Thank you for the feedback.
@jasongre - Can you please take a look and address this feedback.

[2021-10-06 17:39] kfend commented on #3603
@weaveriski - Thank you for the feedback.
@RamaKrishnamoorthy - Can you please take a look at this and update the topic as needed? Thanks!

[2021-10-06 17:42] #3440 closed

[2021-10-06 17:42] kfend commented on #3440
Closing as this was being tracked in another bug.

[2021-10-07 11:39] sericks007 commented on #3602
This content has been updated and will be published soon.

[2021-10-07 11:39] #3602 closed

[2021-10-07 20:41] #2554 closed

[2021-10-08 06:09] zhfk930129 opened #3610 "Cannot find TraceParser installer under documented folder."
Hi folks, by following "Finding the Trace parser" section of this doc I could not find the trace parser installer. Could you help to indicate where I can find this installer and also update doc accordingly?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 10726552-f92e-cfb9-7662-7f1db24f8bd3
* Version Independent ID: ea6

[2021-10-08 10:45] timpitcher2 opened #3611 "Service Delivery for CE"
Hi! Is there an equivalent page for Customer Engagement applications?!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: df0b4c4c-1831-e430-f6d6-2d5056c75e26
* Version Independent ID: f3a731aa-5836-c509-08ba-7a27318bef34
* Content: [Service description for Finance and Operations apps - Finance & Operations | Dynamics 365]

[2021-10-08 12:26] tomhig commented on #3611
No, there isn't. This was an outdated White paper from the original ERP service released in 2016. Content was overhauled and brought on to Docs. The implementation process is quite different from the Customer Engagement apps.

Sent from Surface Duo
________________________________
From: timpitcher2 ***@***.***>
Sent: Friday, October 8, 2021 6:45:55 AM
To: MicrosoftDocs/dynamics-365-unified-operati

[2021-10-08 15:09] rrhkpmg opened #3612 ""Showing the grid footer" directions are out of date"
Appreciate the product's moving quickly (after all, this page was only updated a couple months ago), and [the paragraph in question](https://docs.microsoft.com/en-us/dynamics365/fin-ops-core/fin-ops/get-started/grid-capabilities#showing-the-grid-footer) explicitly closes with the statement _(The placement of the Show footer/Hide footer action might move to a new location in a future update._ (miss

[2021-10-11 10:06] JorritU opened #3613 "Poor documentation about new realease features 10.0.21"
[Enter feedback here]

The current documenation is not sufficient enough. The information that can be found for 10.0.21 and 10.0.22 is very limitted. As organisation we need to have a better qualitity of documenation and guidance to assess the impact of a new release based on the documentation. I would be very helpfull to have documenation for customer about the impact of the new release and to ha

[2021-10-11 16:13] vpednekarqq opened #3614 "URL links for the Warehouse app are not updated and takes users to deprecated warehouse app."
The current page links for downloading the Warehouse app is linked to deprecated App.
Please update the url to the new warehousing app. The other page is correctly linked https://docs.microsoft.com/en-us/dynamics365/supply-chain/warehousing/install-configure-warehouse-management-app#install-the-app-from-an-app-store

Windows: https://www.microsoft.com/en-gb/p/warehouse-management/9pd35cdqcmg3?acti

[2021-10-13 00:32] markandersonus opened #3615 "Excellent example, but conflicts"
This is an excellent article, I'd make one improvement: show re-use of a test. For example have two sections that use the same test.

Also the advice on selecting from choice lists conflicts other best practice from MS (but having done it both ways, yours makes more sense). Other docs say do NOT type the value but select from the list with mouse

---
#### Document Details

⚠ *Do not edit this sect

[2021-10-13 08:34] Anders-Dahlin opened #3616 "Required setup link"
Hi,

The required setup link for dual write is not working, 404.

Br
Anders

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e68ca2f5-46ba-b796-578c-86444d3e5118
* Version Independent ID: 4a1971c9-c9bd-a622-3dea-0bda523d4702
* Content: [Install, set up, and update the Customer portal - Supply Chain Management | Dynamics

[2021-10-14 04:06] JanNguyenMS opened #3618 "Update the minimum requirement of the PAT's scopes FULL ACCESS needed when deploy and continuous use of BUILD environment"
Currently, in this document https://docs.microsoft.com/en-us/dynamics365/fin-ops-core/dev-itpro/perf-test/continuous-build-test-automation#set-up-azure-devops-1
It just mentioned to create PAT to configure the VSTS on LCS but not mention the minimum requirement of the PAT's scope.
Without FULL ACCESS of scope, we cannot deploy BUILD environment. And we also have the confirmation from Tech Global t

[2021-10-14 13:10] bishalgoswami opened #3620 "Test Feedback"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8563c9cd-572b-447d-87cc-746da1d5d27e
* Version Independent ID: 86129695-c475-bbab-5a13-275e2a175b08
* Content: [Dynamics 365 Commerce architecture overview - Commerce | Dynamics 365](https://docs.microsoft.com/en-us/dynamics365/commerce/commerce-archi

[2021-10-15 19:42] JTApps-1 opened #3623 "Need Youtube video or documentation of the UX. Real world Implementation?"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3bec8cf0-1b55-139f-7a1c-9101fd39ea1e
* Version Independent ID: 1265581f-6c8c-6681-f3da-8c45bc87bbc1
* Content: [Develop email experiences by using the SysMailer framework - Finance & Operations | Dynamics 365](https://docs.microsoft.com/en-us/dynamics

[2021-10-18 12:15] kamaybac commented on #3614
@vpednekarqq , thank you for reporting this issue.

I looked into it, but I think the links are correct. We have two topics about setting up the mobile app:
- One topic is about the previous (depreciated) version ("warehouse app"), which is for customers that can't update to the new version yet (typically due to lagging mobile hardware).
- The other topic covers the new version ("Warehouse Managem

[2021-10-18 19:01] psimolin opened #3628 "Needs to be revised"
Hello,

There is no alert module anymore.

Kindly review the article and make the required changes / take it offline.

Thank you

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e86a0fdb-2798-ae95-abb9-ce6c21c4b57d
* Version Independent ID: a5fa67b9-23dd-5c5d-b2c8-2a783360313e
* Content: [Add a welcome message - Commerce

[2021-10-18 21:18] RichdiMSFT commented on #3455
Thanks for the comment. I have removed the hardcoded value and have referenced the <AOSservicedrive> so that documentation doesn't have to change when drives change.

[2021-10-18 21:20] #3455 closed

[2021-10-20 02:29] DrGee-gethub opened #3631 "The Azure AD domain that is configured must be the same domain that you used for your PowerBI.com account"
[Enter feedback here]

Is this correctly stated:
"The Azure AD domain that is configured must be the same domain that you used for your PowerBI.com account. For example, if you provisioned the application in the Contoso.com domain, you must have Power BI accounts in that domain, such as Tim@ContosoAX7.onmicrosoft.com."
Reference https://docs.microsoft.com/en-us/dynamics365/fin-ops-core/dev-itpro/a

[2021-10-20 04:49] praveenzp opened #3632 "Moving the CSU, any impact on the Receipt No, Transaction No, Shift Id, etc needs to be highlighted"
Moving the CSU between the regions will it impact the running numbers for the Receipt, Trans, Shift Id, etc. Is there a requirement to run the POS ReDeployment Checklist. Please advise else Customers might just move the CSU and expect the running numbers to continue as expected.
As it is a business risk, this should be highlighted to indicate it is automatically handled or this needs to be mitigat

[2021-10-21 19:12] kfend commented on #3606
Created bug 629764 to track this issue.

[2021-10-25 18:58] Nick-etz opened #3641 "unable to create new variants if version numbering rule is set to "manual""
[Enter feedback here]

Everything on the learning page was helpful for Engineering Products that use a Version Numbering rule that is not manual.

However, If the product master is setup as an engineering product and has a version number rule that is manual (requires the user to provide a Version ID each time) I was not able to create new variants.

When using the "suggest variants" feature on an

[2021-10-27 10:41] gertvdh opened #3644 "Make distinction between retryable and restartable"
Maybe it's a good idea to make a distinction between retryable and restartable, since by default the batch framework restarts batch tasks at least 1 time on any exception occurring (aka parmRetriesOnFailure())

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6a0878ca-257d-9ec4-eab0-8a570635cca2
* Version Independent ID:

[2021-10-27 10:56] bishalgoswami opened #3645 "Test Feedback"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 67ef075c-aaaa-58db-5b2f-2420c197be81
* Version Independent ID: 2443f0f9-35ea-dbcf-c5bc-7d854b714129
* Content: [Product information overview - Supply Chain Management | Dynamics 365](https://docs.microsoft.com/en-us/dynamics365/supply-chain/pim/produc

[2021-10-28 07:10] AXSHAH opened #3646 "Broken link for item requirements in Projects"
Broken link for item requirements in Projects:
https://docs.microsoft.com/en-us/dynamics365/project-operations/prod-pma/receive-items-purchase-order-item-requirement

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 84af346c-a558-2b30-c625-eda3db2f24c0
* Version Independent ID: c8022d18-a8b0-fdcc-41c7-62455b732bff
* Conte

[2021-10-28 07:12] SEPO2 opened #3647 "Add feature information"
[Enter feedback here]
Please add more information about the Workload History Data Cleanup feature:
![image](https://user-images.githubusercontent.com/93311498/139205112-2e36b972-da9d-4ccf-9c12-ccd651a2ae42.png)

Also, what are the options for:
![image](https://user-images.githubusercontent.com/93311498/139205177-299be8fa-157a-4bf2-a14c-0c39d34302f2.png)

---
#### Document Details

⚠ *Do not edit t

[2021-10-28 13:06] torbennehmer opened #3648 "Clarify whether PerfSDK itself is depraced"
It is uncler if PerfSDK itself is deprecated or just the Visual Studio Frontend. Alternatives are not clear out of the article. It would be great, if the options could be clarified. This holds true as well for the other PerfSDK pages.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 34add537-f522-ea26-18c9-c0df5f6e166c
*

[2021-10-28 21:59] breusche opened #3649 "Bing for Commerce"
Please remove Bing for Commerce from this graphic.

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0d8a2537-5c77-cb33-2bf5-0788c584b7c6
* Version Independent ID: b323e224-a8c7-0fa8-37a0-6f8382e32804
* Content: [Headless commerce architecture - Commerce | Dynamics 365](https://docs.microsoft.com/en

[2021-10-29 09:58] NataliaFLeal opened #3651 "Belgium CODA"
There is not any information on how to setup CODA. It is good to know what steps to follow to import CODA files but without details about settings to define previously, CODA file will never be imported.
Please add documentation about how to setup CODA.
Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 807f96bd-9269

[2021-10-29 19:41] lbagleybhs opened #3652 "Details on caching table metadata properties and indexes"
One note: It seems like in the Reservation Management the cache table has been renamed to "FMPickupAndReturnTable" from "FMPickupAndReturnCache" (Checked in 10.0.18).

Do the normal best practices around table caching apply for tables used in the SysDataSetCacheTableExtension framework, or does the framework set this up for us?
(e.g. Cache Lookup and Table Group properties as well as Indexes)

In

[2021-10-29 23:56] mugunthanm commented on #3649
Thanks for the feedback. Updated the diagram, it will be refreshed in few days.

[2021-10-31 17:43] wojzeh opened #3653 "App.config does not exist"
App.config does not exist, I guess that it must be AX2012DataMigration.exe.config file

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 42eeda26-b0da-fe66-ef03-a26dbf16d923
* Version Independent ID: 5cb45351-842a-b98b-1120-6eb2f657fe47
* Content: [Upgrade from AX 2012 - Data upgrade in self-service environments - Finance

[2021-11-01 09:29] kamaybac commented on #3418
The topic is now updated.

[2021-11-01 09:29] #3418 closed

[2021-11-01 12:54] twheeloc commented on #3653
@wojzeh  - Thank you for the feedback.
@veeravendhan-s  - Will you please take a look and address this feedback?

[2021-11-01 15:02] #3645 closed

[2021-11-01 15:15] tonyafehr commented on #3641
@Nick-etz, thank you for the feedback.
@kamaybac, please assign an appropriate owner.

[2021-11-01 15:17] tonyafehr commented on #3644
@gertvdh, thank you for the feedback.
@matapg007, please review and consider making updates.

[2021-11-01 15:18] tonyafehr commented on #3646
@roschlom, please fix. Thanks!

[2021-11-01 15:20] tonyafehr commented on #3647
@SEPO2, thanks for the suggestion.
@dvliegen, please consider making updates.

[2021-11-01 15:20] #3649 closed

[2021-11-01 15:20] #3648 closed

[2021-11-01 15:23] tonyafehr commented on #3651
@NataliaFLeal, thanks for the feedback.
@kfend, please assign an appropriate owner.

[2021-11-01 15:24] tonyafehr commented on #3652
@lbagleybhs, thanks for the feedback.
@jasongre, please review and consider making updates.

[2021-11-03 21:55] iamJoshKnox opened #3654 "How do I find complete series?"
This article says it is the 2nd of 6...where can I find all 6 together?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fd004c74-1197-8592-2842-14f34a3e151a
* Version Independent ID: a50ee0f9-8817-5116-24e5-14ca2f0c246f
* Content: [Set up OIOUBL electronic invoicing - Finance | Dynamics 365](https://docs.microsoft.com/e

[2021-11-04 13:07] twheeloc commented on #3654
@iamjoshknox - You can find the rest of the series [here](https://docs.microsoft.com/en-us/dynamics365/finance/localizations/denmark):

[2021-11-04 13:07] #3654 closed

[2021-11-04 13:15] jopankow opened #3656 "New system accounts need to be added"
Some new system accounts in D365 F&O have been identified :

Username | Email | Purpose
-- | -- | --
PowerPlatformApp | PowerPlatformS2S@dynamics.com | PowerApps
ScaleUnitManagement | ScaleUnitManagement@dynamics.com | SCM
MonitoringAppUser | AxMonitoringS2S@dynamics.com | CDS

Please add these to the list.

If there are any questions, please let me know.

Thanks!

---
#### Document Details

⚠ *Do

[2021-11-04 14:19] #3656 closed

[2021-11-04 15:17] kamaybac commented on #2801
@davecope1982 , his issue landed in our backlog and I only just recently found it. I realize that this is very late in getting back to you, and unfortunately I don't have good news.  Support for those files was depreciated and then removed from the product in 2018. I looked into it and haven't been able to locate copies of those PBIX files, so I'm not able to help you with them. This topic describ

[2021-11-04 15:17] #2801 closed

[2021-11-04 17:50] GitHubSil opened #3657 "Reusing the same vendor ID requires some additional steps"
**Reusing the same vendor ID requires some additional steps**
Please see below ticket from MS support

**Problem**
When shared number sequence for vendor accounts in multiple Legal entities is setup and the action "Add vendor to another legal entity" is copying one vendor to another then the account number of the new vendor is not the same as the vendor account it was copied from.

**REMARKS**
Mic

[2021-11-05 13:30] NataliaFLeal opened #3658 "Add the following note in points 5 and 7 that explains how to setup enterprise number in legal entity and customer"
Please add the following note in points 5 and 7 that explains how to setup enterprise number in legal entity and customer

_Note: Assure that in General tab, effective date is former than date when customer invoice were posted._

Thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a1ee0706-e3da-da9f-e5ec-b992cb01f65

[2021-11-05 13:39] kfend commented on #3508
Topic has been updated and changes published.

[2021-11-05 13:39] #3508 closed

[2021-11-05 13:41] tonyafehr commented on #3641
Bug #633668 logged to track this issue.

[2021-11-05 13:50] tonyafehr commented on #3644
Bug #633670 logged to track this issue.

[2021-11-05 13:57] tonyafehr commented on #3646
Bug #633671 logged to track this issue.

[2021-11-05 14:01] tonyafehr commented on #3647
Bug #633676 logged to track this issue.

[2021-11-05 14:21] tonyafehr commented on #3652
Bug #633680 logged to track this issue.

[2021-11-05 14:25] tonyafehr commented on #3651
Bug #633676 logged to track this issue.

[2021-11-05 15:23] twheeloc commented on #3658
@NataliaFLeal - Thank you for the feedback.
@Andosip - please review and consider making updates.

[2021-11-05 23:04] RobinARH commented on #3085
Fixed. Should go live this evening.

[2021-11-05 23:04] #3085 closed

[2021-11-05 23:07] RobinARH commented on #2164
This feature is not implemented, and we do not plan to implement it at this time.

[2021-11-05 23:07] #2164 closed

[2021-11-05 23:12] RobinARH commented on #2977
Please checkout this topic: https://docs.microsoft.com/en-us/dynamics365/fin-ops-core/dev-itpro/user-interface/build-workspaces

An workspace is navigation, form, or overview. We have relevant topics here: https://docs.microsoft.com/en-us/dynamics365/fin-ops-core/dev-itpro/user-interface/build-rental-charge-type-form

[2021-11-05 23:12] #2977 closed

[2021-11-05 23:15] RobinARH commented on #2758
Hi - I'm not going to be updating this doc. - Robin

[2021-11-05 23:15] #2758 closed

[2021-11-06 00:19] RobinARH commented on #1253
We are not planning to make these updates. - Robin

[2021-11-06 00:19] #1253 closed

[2021-11-06 00:21] RobinARH commented on #1557
Closing this as a duplicate of https://github.com/MicrosoftDocs/dynamics-365-unified-operations-public/issues/3369.

[2021-11-06 00:21] #1557 closed

[2021-11-06 23:34] ronsonntag54 commented on #3369
I opened this in May and it is now November. The best that Microsoft can do on this issue in 5 months is close a duplicate item?

[2021-11-08 09:08] sebastianstrefel opened #3661 "Typo in a header"
Typo in the header **Dynamics 365: 2021 release wave 1 plan**. It should be called Dynamics 365: 2021 release wave 2 plan

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 06d5501d-4dba-a376-91fb-828ed6de0f67
* Version Independent ID: a8b3294e-2bc5-1fcb-0c80-866c917c0644
* Content: [Platform updates for version 10.0.22 of

[2021-11-08 11:50] sheko89 opened #3662 "Suggestion to provide reach and valuable dual write filters examples in F&O and CE"
Hi, can you please verify, correct and amend the following examples then add it to this page if you find it reasonable and helpful for the page visitors:

1.	FO side filters:

A.	Equal:

Single Enum filter: (FieldName == EnumType::Test)
Multiple Enum filters: ((FieldName == EnumType::Test) && (FieldName != EnumType::Test))

Single String filter: (FieldName like "Test")
Multiple String filters: ((F

[2021-11-08 14:11] #3641 closed

[2021-11-08 16:57] sericks007 commented on #3661
@sebastianstrefel, thank you for bringing this to our attention!  I've corrected the typo, and the updated topic will be published soon.  Thanks again!

[2021-11-08 16:57] #3661 closed

[2021-11-08 16:59] sericks007 commented on #3662
@sheko89, thank you for providing this feedback!

@NHelgren, please consider updating the content based on this feedback.

[2021-11-08 20:28] #3367 closed

[2021-11-08 20:28] #3374 closed

[2021-11-08 20:28] #3376 closed

[2021-11-08 20:28] #3378 closed

[2021-11-08 21:33] danielzook opened #3663 "Where should the latest version of SSMS be installed?"
This article has an important note that states: "It's very important that you install the latest version of SQL Server Management Studio before you start this process: Download SQL Server Management Studio."

... but it doesn't specify where this version should be installed. On the D365 Dev VM? On the machine where the AX database is located? Both?

---
#### Document Details

⚠ *Do not edit this s

[2021-11-08 23:47] laneswenka commented on #3663
Hi sally this is a dupe of this issue which we just closed. Likely still a lag in the updates to live docs. Let’s close this as well.
https://github.com/MicrosoftDocs/dynamics-365-unified-operations-public/issues/3367

[2021-11-09 04:49] Izmiyash opened #3664 "RTO and RPO should be described here."
[Enter feedback here]
I'm referring service description article on docs page. RTO and RPO should be described here.
https://docs.microsoft.com/en-us/dynamics365/fin-ops-core/fin-ops/get-started/service-description#business-continuity-through-high-availability-and-disaster-recovery

Both of them were described in the previoud pdf format as below.

---
#### Document Details

⚠ *Do not edit this sect

[2021-11-09 12:33] sericks007 commented on #3663
OK, thanks Lane!

[2021-11-09 12:33] #3663 closed

[2021-11-09 13:46] sericks007 commented on #3664
@Izmiyash, thank you for providing this feedback.

@tomhig, please consider updating the content based on this feedback.

[2021-11-09 13:56] tomhig commented on #3664
Hello.

During review of this article, prior to its publication, we were advised to remove the exact RTO and RPO figures because they are not explicitly stated in our SLA. We are to only reference public-facing article(s) already published on the topic, which we did.

From: Sally Erickson ***@***.***>
Sent: Tuesday, November 9, 2021 8:47 AM
To: MicrosoftDocs/dynamics-365-unified-operations-public

[2021-11-09 15:08] sericks007 commented on #3664
Thanks for your prompt response Tom!

[2021-11-10 02:43] Izmiyash commented on #3664
Thanks Tom for your response. I saw you raised similar issue before and was told that RTO/RPO should be in SLA if they are needed to be described. Do you know if there is any plan to include them into SLA? IMO, without having RTO/RPO, customer may not be able to understand if our service is going to be align with their Business Continuity Plan.

[2021-11-10 08:48] mueckeflo opened #3665 "Add important note that operating units cannot be deleted anymore as soon as they have been included in a published hierarchy"
Hi,

I think we should really add a note in the docs page here, that once a operating unit has been added to a hierarchy, the operating unit cannot be deleted anymore. This is due to too many dependencies created with that action in the background.

It might also be good to add this important note to the page "Plan your organizational hierarchy":
https://docs.microsoft.com/en-us/dynamics365/fin-op

[2021-11-10 11:30] tomhig commented on #3664
These are the general statements we can make for RFP purposes and/or customer inquiries:

RPO. While not specified in the SLA, Microsoft strives for RPO of less than 1 hour, with data loss of up to 15 mins, thanks to Azure SQL active-geo replication for the primary database.

RTO. Not specified in SLA and depends on many situations that cannot be predetermined. For example, if an entire geo is imp

[2021-11-10 22:55] kfend commented on #3646
@AXSHAH - Is this link in a topic and it's broken? If so, can you tell me where? The link you posted above is missing part of the file path. "tasks" should be between "prod-pma" and "receive-items-purchase-order-item-requirement.
Here is the correct link:
https://docs.microsoft.com/en-us/dynamics365/project-operations/prod-pma/tasks/receive-items-purchase-order-item-requirement

[2021-11-11 04:50] AXSHAH commented on #3646
@kfend , the link is now appears to be fixed. Before when navigating to this topic "Receive items on purchase order from item requirement" the error page was appearing. Thanks for the support.

[2021-11-11 04:50] #3646 closed

[2021-11-11 13:24] frederic-aubry-ELCA opened #3666 "emea-multiple-vat-registration-numbers cannot be activated"
cannot "Enable" it. Asked to enable another feature "Tax calculation service" but it's already enable!
@epodkolz
Check screenshot below
![image](https://user-images.githubusercontent.com/94107717/141305519-726561ed-efc5-4e1e-89a9-ff951843c21f.png)

[2021-11-11 14:14] #3665 closed

[2021-11-11 14:16] sericks007 commented on #3666
Thanks for contacting us. Unfortunately, we're unable to handle Support requests for the product here. To contact Support, consider one of the options described here: [Support contact options](https://docs.microsoft.com/en-us/dynamics365/unified-operations/dev-itpro/lifecycle-services/lcs-support). In particular, you might want to go to the [Dynamics 365 community page](https://community.dynamics.

[2021-11-11 14:16] #3666 closed

[2021-11-11 14:53] #3614 closed

[2021-11-11 15:57] msidbanks opened #3667 "Question related to Role access for Costing Sheets"
[My question is related to what role is needed to maintain costing sheets? If there is a general guide for security accross the board for F&O that would be great.]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: babfe5d4-e5f9-555e-ec2e-c19a909aeaf8
* Version Independent ID: bc447a7b-583f-4229-8cde-4944d17ff03f
* Content

[2021-11-12 10:46] ans1148 opened #3668 "It should be needed to specify the exact certificate name when Encrypt credentials."
In Step17 Encrypt credentials, it should be needed to specify the exact certificate name.
Because there are two credentials to use encrypt, axdataenciphermentcert and DataEncryption.
I think this is confused to understand.

Thanks for reading.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 14409653-d5a8-bf1b-8772-97832

[2021-11-12 13:23] sericks007 commented on #3667
@msidbanks, thank you for providing this feedback.

@AndersEvenGirke, please consider updating the content based on this feedback.

[2021-11-12 13:26] sericks007 commented on #3668
@ans1148, thank you for providing this feedback.

@faix, please consider updating the content based on this feedback.

[2021-11-14 17:26] kfend commented on #1400
I think this has been addressed. Please reopen if not.

[2021-11-14 17:26] #1400 closed

[2021-11-15 13:43] anboudin opened #3669 "FEC more information on design is requested"
Hello,

Information on how is populated each box and Microsoft design is requested

Example
**JournalCode**     Electronic method can help but not auditors. They do not care regarding ER.

A column should be added to define what the method is doing:   retrieve text part of voucher number.

**JournalLib**         When journal name is used, decription is showing but for other transactions such as Fr

[2021-11-15 14:11] #3606 closed

[2021-11-15 14:25] anboudin opened #3670 "Subledger batches"
HI,

Partner contacted me regarding subledger transfer to General ledger. I shared this link but information seems not that clear on what should be done

_Asynchronous transfer of subledger batches requires that the batch server be set up, online, and working. Otherwise, the Asynchronous transfer option won't work._

Can we bring some clarification on this part?
Where can customer setup batch?
how

[2021-11-15 14:50] kitaly opened #3671 "Japanese version of this document is behind English version"
English version contains an update on the September 2021 release while the Japanese version doesn't. Please, update the Japanese version to be on par with the English content.

English page:
https://docs.microsoft.com/en-us/dynamics365/fin-ops-core/dev-itpro/data-entities/dual-write/whats-new-dual-write

Japanese page:
https://docs.microsoft.com/ja-jp/dynamics365/fin-ops-core/dev-itpro/data-entiti

[2021-11-15 14:57] sericks007 commented on #3668
This content has been updated and will be published later today!

[2021-11-15 14:57] #3668 closed

[2021-11-16 10:39] masaldanag opened #3672 "Project setup"
The project setup part should explain that if you use this functionality you will not be having subledger entries when transferring deferred revenue to actual revenue.
WE have many customer complaining on this so to make it visible for them will certainly help them and will help MS too

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue lin

[2021-11-16 14:07] SysC0mp opened #3673 "How to specify from which company data should be retrieved from?"
I am currently working on a custom service consumed via JSON, but I could not find any information on how to specify the company account from which data should be retrieved from? Do I need to pass in the company I want as parameter and handle it in X++?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b48cdcd6-bda2-2676-

[2021-11-16 14:21] sericks007 commented on #3662
Bug 637838 has been logged to track this issue.

[2021-11-16 14:25] sericks007 commented on #3667
Bug 637839 has been logged to track this issue.

[2021-11-16 19:07] Grayman1881 opened #3674 "Credit and collections"
Hello,

I am checking the page to have an overview of the solution components of Dynamics 365 Finance and Operations.
However, I cannot see some modules like consolidations, credit and collections, expense management, retail and commerce, etc.

Are you planning to include them?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

[2021-11-17 01:48] manishmoothedath opened #3675 "Need details / example for "hook downstream processes into the trigger""
The documentation talks about
Quote - "The Enable triggers in target database option sets export jobs to enable SQL triggers in the target database. This option lets you hook downstream processes into the trigger to orchestrate actions that must be started after records have been inserted"

There is no mention of how this downstream process can be hooked into the BYOD trigger, and no good examples

[2021-11-17 08:07] Izmiyash opened #3676 "Is production database backup retained for 35 days or 28 days?"
[Enter feedback here]

https://docs.microsoft.com/en-us/dynamics365/fin-ops-core/fin-ops/imp-lifecycle/go-live-faq?toc=/dynamics365/commerce/toc.json#how-often-is-my-production-database-backed-up

I found there is "Automatic backups are retained for 35 days."
This is not consistent with the other source like below docs page. It says 28 days for production backup .
https://docs.microsoft.com/en-us/

[2021-11-18 10:02] GeorgeSasDK opened #3677 "localagent-config.json buggy ?"
When upgrading LocalAgent from Version 2.6 up to version 3.0 to my OnPremise environment I am getting an error.

PS C:\Temp\LocalAgent-1051074\LocalAgent-1051074> .\LocalAgentCLI.exe install .\localagent-config.json
LocalAgentCLI.exe Error: 0 : Exception Newtonsoft.Json.JsonReaderException: Could not convert string to boolean: {Enable
EdgeValue}. Path 'components[2].isEnabled', line 129, position

[2021-11-18 10:12] faix commented on #3677
Hello @GeorgeSasDK,

Yes, this is a known issue that will be fixed with the next release of LCS. Should be in about a week. There is a very simple workaround to this problem. In LCS go to your project settings, on-premises connectors, edit your connector, open "Enter Configuration" and save without changing anything and download the Local Agent configuration file again.

And yes, you are correct t

[2021-11-18 10:14] GeorgeSasDK commented on #3677
I have only upgraded my Sandbox for now using old localagent-config.json file and it worked.
I will try the "save" config you suggested and see if the file modifies, then I am sure I can use it for PROD.
Thanks.

[2021-11-18 10:17] GeorgeSasDK commented on #3677
Tried to open config on Sandbox , enter config , save config , download config.
localagent-config.json does not change so I guess my LocalAgent installation will still fail if localagent-config.json does not change.

[2021-11-18 10:23] faix commented on #3677
Interesting, that workaround worked for another customer. In any case, you can manually replace {EnableEdgeValue} with false and that will enable you to use the new localagent-config.json

[2021-11-18 10:25] GeorgeSasDK commented on #3677
Ok, that can do, thanks.
If I installed agent using old localagent-config.json do I have to remove it and re install using new localagent-config.json or I can just leave it like it is now and just use the new confi for PROD ?

[2021-11-18 10:31] faix commented on #3677
For this particular version, we made sure that the localagent-config.json from 2.7.0 was compatible with the 3.0.0 installer if you didn't require the new hybrid functionalities. So it should be fine.

[2021-11-18 10:48] GeorgeSasDK commented on #3677
Thank you. You guys should post a small note on this so people don't start running around :)

[2021-11-18 10:51] faix commented on #3677
There is a thread on the LBD yammer for this. I would suggest you join it if you are not a member yet. That's where we usually post announcements as well as help troubleshoot issues and provide general support: https://www.yammer.com/dynamicsaxfeedbackprograms/#/threads/inGroup?type=in_group&feedId=13595809&view=all

[2021-11-18 13:34] #3677 closed

[2021-11-18 15:29] msidbanks commented on #3667
Hello again. I saw the commentary of what out of box roles have access to the costing sheet and I appreciate the feedback very much. I am able to edit the costing sheet, but the issues I am still facing is that within this application I am still unable to edit, add, etc the "Rates" within the costing sheet. What user role needs access to this application?
![Costing Sheet - Rate Locked](https://use

[2021-11-18 17:20] zenkiddo opened #3678 "Snapshot of the measurements in Reviews"
Dear Support team,
   I was testing the Review functionality in D365 HR and from what I see the measurements aren't froze once a review is complete. They continue to be updated as the referenced records change, which can be quite confusing.

This is the phrase I'm refering to from the documentation:
"After the review is finalized, a snapshot of the measurements is stored to retain the history of t

[2021-11-18 21:15] echofive0706 opened #3679 "Stepped calculation with quantity"
It would be helpful to mention that the stepped calculation method with quantity thresholds is calculating the average value for all quantities sold and not the actual values of the first quantities invoiced.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d1646986-d690-52b3-d567-e962a2715d7b
* Version Independent ID: a

[2021-11-18 22:18] kfend commented on #3669
@anboudin - Thank you for the feedback.
@liza-golub - Can you please take a look at and address this? Thanks!

[2021-11-18 22:19] kfend commented on #3670
@anboudin - Thank you for the questions.
@Peakerbl - Can you please take a look and address these questions? Thanks!

[2021-11-18 22:21] kfend commented on #3672
@masaldanag - Thank you for the feedback.
@kweekley - Can you please take a look at and address this question. Thanks!

[2021-11-18 22:23] kfend commented on #3673
@SysC0mp - Thank you for the questions.
@Peakerbl - Can you please answer this question? Thanks!

[2021-11-18 22:24] kfend commented on #3675
@manishmoothedath - Thanks for your question. Can you tell me what topic you are referring to? Thanks!

[2021-11-18 22:26] kfend commented on #3676
@Izmiyash - Thank you for the question.
@sshashi7 - Can you please take a look and answer the question and update the documentation as necessary? Thanks!

[2021-11-18 22:39] kfend commented on #3678
Thanks for contacting us. Unfortunately, we're unable to handle Support requests for the product here. To contact Support, consider one of the options described here: Support contact options. In particular, you might want to go to the Dynamics 365 community page to get help with your questions from the Dynamics community.

[2021-11-18 22:39] #3678 closed

[2021-11-19 04:24] TakumaSai opened #3680 "Ask to add Document Routing History cleanup"
[フィードバックをこちらに入力してください]
Could you please add Document Routing History cleanup in this Docs?
Path : https://[host_adress]/?mi=DocumentRoutingHistoryCleanupConfig
Batch job : Document Routing History cleanup
---
#### ドキュメントの詳細

⚠ *このセクションを編集しないでください。 docs.microsoft.com で必須です ➟ GitHub の問題のリンク。*

* ID: 926b5538-8734-b2cf-7d77-21f35dbf0e98
* Version Independent ID: 219ba487-1689-e78c-773e-42d019f779f1
*

[2021-11-19 09:38] vinceno commented on #3671
@rosacek to confirm translation lead time for updates to this topic - I don't seem to have permission to actually assign this issue - cc @kfend

[2021-11-19 09:51] rosacek commented on #3671
@vinceno @kfend @kitaly the article is in localization and should be live by the end of next week. I'll provide update by Nov 26th.

[2021-11-19 14:22] tonyafehr commented on #3680
@TakumaSai, thanks for the feedback.
@dvliegen, please review and consider making updates.

[2021-11-19 14:26] tonyafehr commented on #3674
@Grayman1881- Thanks for your question. Some of the areas you asked about, aren't their own modules in our documentation, while others have been moved from the Finance application set into their own space. Here are links to the areas you have listed above. If you are still looking for other content, please let me know.
[Consolidations](https://docs.microsoft.com/en-us/dynamics365/finance/general-l

[2021-11-19 14:26] #3674 closed

[2021-11-19 22:19] jopankow opened #3681 "Cost Management missing clean up jobs"
This page is missing these clean up jobs:

Cost Management > Manufacturing accounting > Clean up > Production orders cleanup

Cost Management > Manufacturing accounting > Clean up > Production recalculation

Cost Management > Manufacturing accounting > Clean up > Clean up the costing sheet cache

The costing sheet cache job is documented here: https://community.dynamics.com/ax/b/axinthefield/posts

[2021-11-19 22:26] tonyafehr commented on #3681
@dvliegen, please review and consider making updates.

[2021-11-19 22:52] #3417 closed

[2021-11-23 09:19] orichardt opened #3683 "It's not possible to take screenshots anymore using task recorder"
It's not possible to take screenshots anymore using task recorder, the extension to Chrome or Edge is taken out and is not accessible anymore!
Please review and update the documentation.
Please indicate another way of doing the screenshots or provide a tool for it as it is a very valuable option

Ole

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ G

[2021-11-23 12:17] RobvanB opened #3684 "D365 Ecom B2C tenant setup documentation outdated"
This documentation no longer matches the Azure Portal pages, and this makes it very confusing.
Specifically the app registration piece.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f7807b1d-0012-5619-26a6-a11881ffc94d
* Version Independent ID: 204cf318-00d8-f3ef-86cf-08589cb126f1
* Content: [Set up a B2C tenant in Co

[2021-11-23 21:49] josaw1 commented on #3683
Thank you for your feedback. @jasongre can you please take a look.

[2021-11-23 21:51] josaw1 commented on #3684
Thank you for your feedback. @BrianShook can you please take a look?

[2021-11-24 09:05] manishmoothedath opened #3685 "How to debug a copy of production environment (AxDBAdmin credentials not available anymore in Sandboxes)"
[As per the documentation , we need to use the axdbadmin credentials to connect to the sandbox from a dev environment inorder to debug a copy of production database. but now there is no axdbadmin credentials available in the LCS anymore. Pls advice how to debug a copy of the production database.
My scenario has an issue with Power platform "Planning optimisation" engine which cannot be analysed in

[2021-11-24 09:06] manishmoothedath commented on #3675
Sorry Kristin, I thought the docs page will get mapped to the issue automatically.
Issue is related to this article on BYOD database :
https://docs.microsoft.com/en-us/dynamics365/fin-ops-core/dev-itpro/analytics/export-entities-to-your-own-database

[2021-11-24 12:07] dvliegen commented on #3680
@TakumaSai I will make the change but need help with a few things:

1.  I struggle to find how to navigate to this cleanup form. I can only find it by adding the menu item name to the URL.
2.  Can you review the proposed description (see below)

**Document routing history cleanup configuration**
This cleanup routine is used to delete data visible in Document Routing Status form. [Document Routing

[2021-11-24 12:23] dvliegen commented on #3681
@jopankow  I want to make the requested change but need help with a description of these cleanup actions. Can you provide it to me? If not, do you know the responsible PM so I can reach out to him/her. thank you

Cost Management > Manufacturing accounting > Clean up > Production orders cleanup
Cost Management > Manufacturing accounting > Clean up > Production recalculation
Cost Management > Manufa

[2021-11-24 14:41] sfikh opened #3686 "Service Bus Adapter > Custom Properties > Extending internal class according documentation raises an error"
Hi,

we send Business Events to Azure Service Bus and want to add a custom filter property for source system. We have implemented as described on this docs article in section "Extending filters so that they have custom fields (if the middleware supports this extension)". https://docs.microsoft.com/en-us/dynamics365/fin-ops-core/dev-itpro/business-events/business-events-dev-doc#extending-filters-so

[2021-11-24 14:44] Sunil-Garg commented on #3686
@***@***.***> and @***@***.***> can you pls help here?

Thanks
________________________________
From: sfikh ***@***.***>
Sent: Wednesday, November 24, 2021 6:43:19 AM
To: MicrosoftDocs/dynamics-365-unified-operations-public ***@***.***>
Cc: Sunil Garg ***@***.***>; Mention ***@***.***>
Subject: [MicrosoftDocs/dynamics-365-unified-operations-public] Service Bus Adapter > Custom Properties > Extendi

[2021-11-24 14:51] MeragoJert opened #3688 "Not working for me - must be missing something?"
I'm trying to get the new RCS method to work but, firstly the text in this doc seems to be missing sections (it just states to select the model, add a description and click OK, the step for marking the model as complete before those options are presented is missing).  I have an RCS repo but I cannot get anything shared back to it - the Upload to repository button is permanently greyed out - I susp

[2021-11-24 15:44] Sunil-Garg commented on #3686
It looks like we need to make that type public if we want extensions to be made on it.

I've reactivated the bug that was logged for the issue one year ago and assigned to myself to investigate.

https://msdyneng.visualstudio.com/FinOps/_workitems/edit/534663

Get Outlook for Android<https://aka.ms/AAb9ysg>
________________________________
From: Sunil Garg ***@***.***>
Sent: Wednesday, November 24

[2021-11-24 15:48] sfikh commented on #3686
This would be the perfect solution, thanks!

[2021-11-24 16:10] fdittgen opened #3689 "Additional explanations for extending the Ecom-site"
It's impossible to follow the explanation for the Ecom-implementation:
"Use this code to set values for order attributes in the cart."
Some more information about what to extend (DataAction/Module/...) would be really helpful. This code-snipplet is without additional explanations useless.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue

[2021-11-26 04:05] mtariqrafique opened #3691 "For QR code in Saudi region also set QRCodeHieight & QRCodeWidth configuration parameters in Commerce parameters"
Apart from the instructions provided above, you should also configure two configuration parameters in Commerce parameters in Retail & Commerce module as shown in screenshot below. Otherwise QR code printing on POS sales receipt wouldn't work

1. QRCodeHieight = 200
2. QRCodeWidth = 200

[Enter feedback here]

![image](https://user-images.githubusercontent.com/64815040/143525087-f3b368d6-4087-477f-

[2021-11-26 04:06] #3691 closed

[2021-11-26 12:44] akaradagi opened #3692 "deutsche Übersetzung ist unverständlich"
die Übersetzung der Seite process-rebates-payment ins Deutsche ist nicht verständlich. Beispiel: "Legen Sie Häkchen im Markengebiet für die Ansprüche fest, die Sie in Gutschrift einbezogen werden sollen."
Es fehlt auch die Beschreibung des Einstiegspunkts (MenuItem).

---
#### Dokumentdetails

⚠ *Bearbeiten Sie diesen Abschnitt nicht. Er ist für die Verknüpfung von docs.microsoft.com zum GitHub-Ar

[2021-11-26 12:46] rosacek commented on #3671
@kfend @kitaly @vinceno Japanese topic is up to date with the above changes

[2021-11-26 19:29] Neeraj2912 opened #3693 "Use of Feature is not provided. Only steps are given."
Nothing is mentioned about the features. Only the process is given on how to use this. All doc link should first explain about the feature/ its uses with scenarios if possible.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 57abc820-7d4c-913e-7c1b-92ce568f0079
* Version Independent ID: 7f1fb434-f6fc-493d-df73-3861a328c

[2021-11-29 08:49] SteffenEngelhardt opened #3694 "Wrong Example -> Enable disambiguation behavior for custom lookup scenarios"
Hi,

the example for the part "Enable disambiguation behavior for custom lookup scenarios" is wrong.

it is currently ->
public str resolveAmbiguousReference()
{
    FormControlAmbiguousReferenceResolver::resolveAmbiguousReferenceForControl (this, true);
}

Should be

public str resolveAmbiguousReference()
{
    return FormControlAmbiguousReferenceResolver::resolveAmbiguousReferenceForControl(this

[2021-11-29 17:53] RobinARH commented on #1657
It's documented now: https://docs.microsoft.com/en-us/dynamics365/fin-ops-core/dev-itpro/dev-ref/xpp-data/xpp-select-statement#in-keyword

[2021-11-29 17:53] #1657 closed

[2021-11-29 17:56] RobinARH commented on #1703
Fixed. Will go live today.

[2021-11-29 17:56] #1703 closed

[2021-11-29 18:00] RobinARH commented on #3238
We'll catch these as we do branding updates. For now, we'll leave it as is.

[2021-11-29 18:00] #3238 closed

[2021-11-29 18:02] RobinARH commented on #3236
We'll catch these as we do screenshot updates. For now, we'll leave the doc as is. Thanks.

[2021-11-29 18:02] #3236 closed

[2021-11-29 18:09] RobinARH commented on #3034
Updated.

[2021-11-29 18:09] #3034 closed

[2021-11-29 18:12] RobinARH commented on #3233
Fixed. Should go live today. Thanks!

[2021-11-29 18:12] #3233 closed

[2021-11-29 18:15] josaw1 commented on #3685
Thank you for the feedback. @laneswenka can you please take a look?

[2021-11-29 18:18] josaw1 commented on #3688
Thank you for your feedback. @JaneA07 please review.

[2021-11-29 18:19] Sunil-Garg commented on #3686
***@***.*** ***@***.***>

@***@***.***> can you pls update the PM ownership for this to @***@***.***>?

Thanks.

From: josaw1 ***@***.***>
Sent: Monday, November 29, 2021 10:18 AM
To: MicrosoftDocs/dynamics-365-unified-operations-public ***@***.***>
Cc: Sunil Garg ***@***.***>; Assign ***@***.***>
Subject: Re: [MicrosoftDocs/dynamics-365-unified-operations-public] Service Bus Adapter > Custom Prop

[2021-11-29 18:20] josaw1 commented on #3689
Thank you for the feedback. @mugunthanm please review.

[2021-11-29 18:21] josaw1 commented on #3692
Thank you for the feedback. @henrikan please review.

[2021-11-29 18:23] josaw1 commented on #3693
Thank you for the feedback. @aprilolson please review.

[2021-11-29 18:41] sericks007 commented on #3686
I've assigned this issue, and the topic itself, to @jaredha.

[2021-11-29 19:18] sericks007 commented on #3369
@Sunil-Garg, please review and address the feedback.

[2021-11-29 19:27] Sunil-Garg commented on #3369
@***@***.***> pls have @***@***.***> as the owner for Data management areas.

Thanks.

From: Sally Erickson ***@***.***>
Sent: Monday, November 29, 2021 11:19 AM
To: MicrosoftDocs/dynamics-365-unified-operations-public ***@***.***>
Cc: Sunil Garg ***@***.***>; Assign ***@***.***>
Subject: Re: [MicrosoftDocs/dynamics-365-unified-operations-public] Need comprehensive list of Data Entity loading orde

[2021-11-29 19:27] RobinARH commented on #767
@kennysaelen - Hi Kenny - Can you take a look at this one? Thanks.

[2021-11-29 19:29] sericks007 commented on #3369
@peakerbl, please review and address this feedback.

[2021-11-29 20:51] mugunthanm commented on #3689
Thanks for the feedback, this document shows a quick snippet of how you can set attribute value in e-Commerce, please refer to the detailed documentation on modules or data action for the E2E flow.
https://docs.microsoft.com/en-us/dynamics365/commerce/e-commerce-extensibility/sdk-getting-started

[2021-11-29 21:05] fastianumair opened #3696 "Redirect URL is not complete"
Under section **Registration process**, in **Redirect URL**, URL should have /oauth. Otherwise, authentication will fail.
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e2213414-926d-10e1-538b-efef09dc0181
* Version Independent ID: 03be53f7-c305-cb02-7627-2ea4f1c01bd4
* Content: [Configure PowerBI.com integration - Fina

[2021-11-29 23:06] epereyra82 opened #3697 "Public feed link broken"
On the public feed link under this section the link sends this message (https://docs.microsoft.com/en-us/dynamics365/commerce/dev-itpro/retail-sdk/migrate-commerce-sdk#crt-extensions)

{"@context":{"@vocab":"http://schema.nuget.org/services#","comment":"http://www.w3.org/2000/01/rdf-schema#comment","label":"http://www.w3.org/2000/01/rdf-schema#label"},"resources":[{"@id":"https://pkgs.dev.azure.co

[2021-11-30 09:52] rrhkpmg opened #3699 "Reference to DB sync errors section uses different wording to section header"
Section [Issue: A step failed with errors](https://docs.microsoft.com/en-us/dynamics365/fin-ops-core/dev-itpro/deployment/deployable-package-troubleshooting#issue-a-step-failed-with-errors) refers the reader to **Common DB Sync Failures** but there is no such section: relevant header appears to be [Typical database synchronization issues](https://docs.microsoft.com/en-us/dynamics365/fin-ops-core/d

[2021-11-30 19:35] B-rade opened #3700 "content is duplicated"
content is duplicated within this page. remove duplicated content.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 60570f5b-1289-9474-0119-efd0ab01ca42
* Version Independent ID: 9f5104bd-b586-250c-608e-b9b5b9556bda
* Content: [Back up the databases for Finance and Operations apps - Finance & Operations | Dynamics 365](h

[2021-12-01 07:35] MrHenrikLevinson opened #3701 "Link Additional resources / Microsoft Dynamics Localization Portal: Czech Republic report is broken."
Hi
Link Additional resources / Microsoft Dynamics Localization Portal: Czech Republic report is broken.
https://mbs.microsoft.com/files/customer/AX/Support/supportnews/CzechRepublic.html
Regards
Henrik Levinson

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 95cb5d47-0ded-929a-7673-99fdf4008481
* Version Independent ID:

[2021-12-01 09:47] NBC1000 opened #3702 "Small errors on email notification tag names"
Couple of errors on tag names:

pickupstorehourfrom -> should be pickupstoreopenfrom (the corresponding description should be changed too)
pickupstorehourto -> should be pickupstoreopento (the corresponding description should be changed too)
giftcardbalance -> presumably should be availablebalance

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitH

[2021-12-01 21:09] jorisdg commented on #2872
Looks like this doc was already updated. @tonyafehr please close this ticket.

[2021-12-01 23:33] #2872 closed

[2021-12-02 10:29] alneacsu opened #3703 "Use system pricing calculation system option"
I have just had a call with my partner and they noticed that **Price Quote** button will always sync the FnO to CE prices if the  **Use system pricing calculation system** option is set to "No". The documentation mentions that this parameter should be set to "Yes"

Can you please confirm if partner is correct and then the documentation should be updated?

Also, if the parameter is set to "No" will

[2021-12-02 11:01] thedynamicsgirl opened #3704 "Sales order recap > Order > Modify for cancelled orders"
[There is no mention anywhere of a removed functionality which we were using in 10.0.18 and is no longer available in 10.0.21.
For Sales Orders (created using call centre functionality) with status =Cancelled, in 10.0.18 we had in Functions section in action pane Sales order recap > Order > MODIFY, but with 10.0.21 Sales order recap > Order > MODIFY is no longer available for a cancelled sales ord

[2021-12-02 12:13] anboudin opened #3705 "Information on introduction refers to a specific 3rd party tool CEGID"
Hi

Information on introduction refers to a specific 3rd party tool CEGID.
On customer comment on this and ask if Microsoft has any specific contract with CEGID.  I am not sure about it or why it refers to CEGID.

if there are other tools available on market, it may be good to less specific.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub iss

[2021-12-02 14:30] kamaybac commented on #3694
@SteffenEngelhardt  , thank you for contacting us regarding this help topic. I have passed your comment on for consideration.

[2021-12-02 14:33] kamaybac commented on #3696
@fastianumair  , thank you for contacting us regarding this help topic. I have passed your comment on for consideration.

[2021-12-02 14:48] kamaybac commented on #3699
@rrhkpmg , thank you for contacting us regarding this help topic. I have passed your comment on for consideration.

[2021-12-02 14:50] kamaybac commented on #3700
@B-rade , thank you for contacting us regarding this help topic. I have passed your comment on for consideration.

[2021-12-02 14:51] kamaybac commented on #3701
@MrHenrikLevinson , thank you for contacting us regarding this help topic. I have passed your comment on for consideration.

[2021-12-02 14:58] kamaybac commented on #3702
@NBC1000 , thank you for contacting us regarding this help topic. I have passed your comment on for consideration.

[2021-12-02 15:17] kamaybac commented on #3704
@thedynamicsgirl , thank you for contacting us regarding this help topic. I have passed your comment on for consideration.  Please note that this isn't really a support channel, so if you're looking for a quick answer to your question, I recommend you follow up with Microsoft Support. If this turns out to be a documentation issue, we'll try to fix it soon, but there could go a week or more.

[2021-12-02 15:30] kamaybac commented on #3705
@anboudin , thank you for contacting us regarding this help topic. I have passed your comment on for consideration.

[2021-12-02 15:55] sndray commented on #3705
CEGID was an example. We don't have any additional contract. I will suggest to remove and replace by third party software

[2021-12-02 18:08] oseogun opened #3706 "Typo: "X++ and C++ Samples" should be "X++ and C# Samples"."
There is a typo on the 6th heading in this document. "X++ and C++ Samples" should be "X++ and C# Samples"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d11321af-2262-6bd7-9a87-4f2fb66c4e41
* Version Independent ID: 013e0e52-b0d1-97d4-6911-b178828a7bfc
* Content: [X++ and C# comparison - Finance & Operations | Dynamics

[2021-12-02 22:17] mugunthanm commented on #3697
Thanks for the feedback, the public feed link is not a browsable link, you can add this to the NuGet config file in your solution and consume the packages/browse the packages using the NuGet manager.

[2021-12-03 11:04] ReneVolkmer opened #3708 "Adding information how to deal with FO user when “Active Directory Security Group“ configuration key is enabled"
Hello Markus,
could you please update this article with information how to proceed in case that “Active Directory Security Group“ configuration key is enabled? We discovered (via MS Support request TrackingID#2112020050002043) that in this case the FO user representing WHS App (and connected to Registered App in System administration > Setup > Azure Active Directory applications. as mentioned at h

[2021-12-03 17:05] josaw1 commented on #2268
This is being fixed. Thanks.

[2021-12-03 17:05] #2268 closed

[2021-12-04 00:20] josaw1 commented on #3684
BUG 641729 create to track.

[2021-12-04 00:23] josaw1 commented on #3692
BUG 641734 created to track.

[2021-12-04 00:23] #3689 closed

[2021-12-04 00:26] josaw1 commented on #3688
BUG 641735 created to track.

[2021-12-04 00:29] josaw1 commented on #3686
BUG 641736 created to track this issue.

[2021-12-04 00:34] josaw1 commented on #3683
BUG 641738 created to track.

[2021-12-04 00:36] josaw1 commented on #3693
BUG 641739 created to track.

[2021-12-06 17:49] jaredha commented on #3686
This issue has been fixed in PU49. The classes are public and available to extend, and the related documentation is updated.

[2021-12-06 18:36] #3686 closed

[2021-12-07 15:39] #3671 closed

[2021-12-07 15:41] kfend commented on #3669
The topic was updated. Please let us know if you still have questions. Thanks!

[2021-12-07 15:41] #3669 closed

[2021-12-07 15:46] kfend commented on #3670
created bug 642439 to track this issue.

[2021-12-07 17:34] RyanCCarlson2 commented on #3670
https://github.com/MicrosoftDocs/Dynamics-365-Operations/pull/12750

[2021-12-07 18:00] tonyafehr commented on #3568
An update to this topic will be published later today.

[2021-12-07 18:00] #3568 closed

[2021-12-08 09:13] Tad1011 opened #3713 "Hope that docs described each field (in Header, Lines and Footer) in Receipt Layout Designer will be published"
[Enter feedback here]
We hope that docs described each field (in Header, Lines and Footer) in Receipt Layout Designer will be published. It is inconvenience for the customer because they don't know what effect unless they actually try to use those fields.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 07e88dc1-d955-4b9

[2021-12-08 18:53] kfend commented on #3670
This topic has been updated. The changes will be published in the next few hours. Thanks!

[2021-12-08 18:53] #3670 closed

[2021-12-08 18:56] kfend commented on #3672
Created bug 642873 to track this issue.

[2021-12-08 18:58] kfend commented on #3673
Bug 642875 created to track this issue.

[2021-12-08 19:02] kfend commented on #3675
Created bug 642876 to track this issue.

[2021-12-08 19:11] kfend commented on #3676
Created bug 642877 to track this issue.

[2021-12-08 19:16] kfend commented on #3679
Bug 642878 created to track this issue.

[2021-12-08 19:20] kfend commented on #3708
@ReneVolkmer - Thank you for your feedback.
@kamaybac - Can you please take a look and this and assign it to the correct PM to update?

[2021-12-08 19:22] kfend commented on #3713
@Tad1011 - Thank you for the feedback.
@BrianShook - Can you please take a look and consider updating the topic?

[2021-12-09 04:34] analpert commented on #3493
Updated article sent for content review. Once published, this work item can be closed.

[2021-12-09 06:03] DKobayashi-ykgw opened #3714 "Please adjust sentences to localized label in section "Overview of possible results from the fit analysis""
In section "overview-of-possible-results-from-the-fit-analysis", please adjust all sentences to localized label. It's a little bit cumbersome to compare warning messages and docs.

---
#### ドキュメントの詳細

⚠ *このセクションを編集しないでください。 docs.microsoft.com で必須です ➟ GitHub の問題のリンク。*

* ID: b375bd7e-0a71-3253-e6f9-e7ad4a4bf05f
* Version Independent ID: 18cca7a1-7c0c-76f3-0bbb-73dcb3f34e47
* Content: [計画の最適化フィット分析

[2021-12-09 10:19] kamaybac commented on #3714
@DKobayashi-ykgw , thank you for letting us know about this issue. I have forwarded your comment to our localization team.

[2021-12-09 10:28] vinceno commented on #3714
Thx @DKobayashi-ykgw, @kamaybac and @ChristianRytt for getting this issue to us - we're working to get it fixed and will update thread when done - cc @vivimills @rosacek

[2021-12-10 10:41] psimolin commented on #3581
Hello,

I reviewed this item. Full data synchronization step comes at the very last step in this guide so that it covers all the changes done earlier. For preview environments the channels are already linked to the DB.

[2021-12-10 11:43] jmeijering commented on #3581
Ok, right I created this comment as I was creating a B2B website were we made a copy of the Fabrikam extended online store and was folloing these steps and forgot to add it to the channel DB, basis error of course when you know what you are doing, but for people that are new, it could be benifitial to have a remark like (and check whether you channel is selected on the channel DB

[2021-12-10 16:30] gallant-dev opened #3718 "Missing reference in "Create an invoices list page" section"
**Create an invoices list page**

9. Go to the account management landing page (My Account) that you created earlier.
10. In the properties pane for the Account invoices tile module, under Links, configure a link to the invoices list page that you just created.
11. Select Save, select Finish editing to check in the page, and then select Publish to publish it.

The above part of these instructions

[2021-12-10 17:39] josaw1 commented on #3582
@psimolin replied "full data synchronization step comes at the very last step in this guide so that it covers all the changes done earlier. For preview environments the channels are already linked to the DB."

[2021-12-10 17:40] #3582 closed

[2021-12-10 18:18] #3581 closed

[2021-12-10 20:47] LKunick opened #3719 "The amount in line 5 under process rebates should be $4,000, not 400."
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5baa1352-ee7e-a0c9-7b3c-61a497607988
* Version Independent ID: 7a555899-e687-421d-026e-d140d014541c
* Content: [Generate and process customer rebates - Supply Chain Management | Dynamics 365](https://docs.microsoft.com/en-us/dynamics365/supply-chain/s

[2021-12-13 12:10] d3fr0g opened #3720 "Assigning Application User did not work"
During "Verify requirements and grant access" point 4 the assignment of Application Users in Dataverse step did not work following the steps. The problem was that the new UI to add the Application users will use the graph _applications_ API which returns AAD Application Objects but the applications are not present as such. They can be retrieved as SPs. The "legacy" page still works or the systemus

[2021-12-13 12:44] sericks007 commented on #3719
@LKunick, thank you for providing this feedback.

@kamaybac, please update the topic as requested.

[2021-12-13 12:47] sericks007 commented on #3720
@d3fr0g, thank you for providing this feedback.

@NHelgren, please update the topic as appropriate.

[2021-12-13 14:02] faix commented on #3425
@kamaybac , could you please close this issue? The issue was addressed.

[2021-12-13 19:42] josaw1 commented on #3718
Assigned to @anpurush.

[2021-12-13 21:47] NHelgren commented on #3720
I will review

[2021-12-14 05:03] hiromichif opened #3722 "日本語訳の修正 売上認識→収益認識"
[フィードバックをこちらに入力してください]

売上認識ではなく、収益認識が正しいと思います。

---
#### ドキュメントの詳細

⚠ *このセクションを編集しないでください。 docs.microsoft.com で必須です ➟ GitHub の問題のリンク。*

* ID: 49ee1703-51fa-03cb-cb6c-d13c59ec0dc3
* Version Independent ID: be390b47-7972-c0d5-aa66-ac74ad24473f
* Content: [売上認識の設定 - Finance | Dynamics 365](https://docs.microsoft.com/ja-jp/dynamics365/finance/accounts-receivable/revenue-recognition-setup)
* Content S

[2021-12-14 13:36] alneacsu commented on #3703
We need a confirmation from the product team on the following. When you use the pricing engine (and not static pricing), you have to set “Use system price calculation “ to “No”. Otherwise, it fails. Review this:
![image](https://user-images.githubusercontent.com/95413886/146008581-7420bedb-f8bf-4d89-b99e-e5d4739f5913.png)

This description implies that when using custom pricing by using a plug-in

[2021-12-15 08:05] Asgardi opened #3724 "Documentation incorrect for getting recurring data job errors through REST API?"
The documentation suggest

POST /data/DataManagementDefinitionGroups/Microsoft.Dynamics.DataEntities.GetExecutionErrors
BODY
{"executionId":"<executionId>"}

to get execution errors for recurring data job execution, but the documentation does not tell where the "executionId" comes from or how to get it? Or what it even is? All other APIs seem to work with "messageId" and that seem not to work for

[2021-12-15 12:46] sericks007 commented on #3724
@Asgardi, thank you for providing this feedback.

@Peakerbl, please review and update the content, as needed.

[2021-12-15 14:07] sericks007 commented on #3722
@hiromichif, thank you for providing this feedback.

@kweekley, please review and update the content, as needed.  I believe the feedback says, "I think the revenue recognition is correct, not the sales recognition."

[2021-12-15 17:30] josaw1 commented on #3588
Look under Additional Resources > Update code and environments for Retail projects

[2021-12-15 17:30] #3588 closed

[2021-12-16 06:36] lukasnimberger opened #3727 "Typo in translation"
[Here ](https://docs.microsoft.com/en-us/dynamics365/fin-ops-core/fin-ops/get-started/whats-new-changed-10-0-5#gender-in-currency-declension-for-eastern-europe) the example in Czech language says: "_this amount will be translated to Czech language and written on a cash order as Edno euro 01 cent._" There is a typo - should be "Jedno", not "Edno" euro.
The same applies to [THIS ](https://docs.micro

[2021-12-16 13:28] DaConfusedSoul opened #3728 "Typo under depreciation methods"
There is a typo in the straight line service life. There is a 0 typed in it which is wrong.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ed925d33-ef75-a817-28f2-b5ba0694156c
* Version Independent ID: 0c159e1b-39c6-7e2e-9aea-567aae20bc22
* Content: [Depreciation methods and conventions - Finance | Dynamics 365](https:

[2021-12-16 14:10] sericks007 commented on #3727
@lukasnimberger, thank you for providing this feedback.

@kfend, could you please fix the typos.

[2021-12-16 14:14] sericks007 commented on #3728
@DaConfusedSoul, thank you for pointing this out.  I have removed that 0 -- the updated content will be published later today.  Thanks!

[2021-12-16 14:14] #3728 closed

[2021-12-17 00:26] rioriost opened #3729 "not "モノシリック""
[フィードバックをこちらに入力してください]
「 モノシリック コード ベース」
ではなく
「モノリシック コードベース」
です。

---
#### ドキュメントの詳細

⚠ *このセクションを編集しないでください。 docs.microsoft.com で必須です ➟ GitHub の問題のリンク。*

* ID: 95ff4e46-37be-93dc-9e69-07aec039a44d
* Version Independent ID: ec6d8af1-6598-94a9-006e-0a52663325a7
* Content: [ローカライズ モデルの分類 - Finance & Operations | Dynamics 365](https://docs.microsoft.com/ja-jp/dynamics365/fin-ops-core/dev-itpro/lcs-so

[2021-12-17 10:07] Chybes opened #3730 "WMS User"
on my environment 10.0.22 (10.0.995.51) it works only with the administrator user ID and not with a user dedicated to the WMS application

---
#### Détails du document

⚠ *Ne pas modifier cette section. C’est obligatoire pour docs.microsoft.com ➟ Liaison des problèmes GitHub.*

* ID: 24ad63f4-807c-fc88-58b6-33514bd034d0
* Version Independent ID: d727eb59-1162-f195-031a-5400301c8e5b
* Content: [Ins

[2021-12-17 13:52] sericks007 commented on #3730
@Chybes, thanks for providing this feedback.

@MarkusFogelberg, please review and update the content, as needed.

[2021-12-17 14:07] sericks007 commented on #3729
@rioriost, thank you for providing this feedback.  We are investigating.

[2021-12-17 14:31] hussainih opened #3732 "Removal of header/lines proxy buttons"
In Update 47, for Pending vendor invoices (VendEditInvoice) the restyled radio buttons are gone when I enable the feature but I do not see any "header/lines" native tabs. Just for confirmation I tried to find these tab in purchase order (PurchTable form) and they appear there. I have issue only with the Pending invoice form. I tried deleting the Usage data for the user as well but no benefit.

---

[2021-12-17 14:36] sericks007 commented on #3732
Thanks for contacting us. Unfortunately, we're unable to handle Support requests for the product here. To contact Support, consider one of the options described here: [Support contact options](https://docs.microsoft.com/en-us/dynamics365/unified-operations/dev-itpro/lifecycle-services/lcs-support). In particular, you might want to go to the [Dynamics 365 community page](https://community.dynamics.

[2021-12-17 14:36] #3732 closed

[2021-12-20 10:23] vinceno commented on #3729
@rioriost @sericks007 thx both., the holiday period may add some delay but we will get this adjusted - thx again - CC @vivimills

[2021-12-20 22:27] msidbanks commented on #3667
Hello I was curious if someone looked into this?

[2021-12-25 16:35] okayakdeniz opened #3734 "This instruction must be supported with pictures."
[Enter feedback here]
We could not understand this document's steps. Because instructions didn't define clearly. For Instance, "Go to your Customer Insights instance and search for the name of the application created above (in this example, "CI_Access_name")."
The Article says, Please search & find out the "Application name" in Customer Insights. The question is "where?" There is no search place f

[2021-12-26 10:56] hendyb opened #3735 "The xml files on the prerequisites section cannot be downloaded"
[Enter feedback here]
The xml files on the prerequisites section cannot be downloaded as they are referencing to the mbs.microsoft.com that is no longer available?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 402b49a9-0a90-885a-c4a6-0df70feac573
* Version Independent ID: 0c40e0e4-97b4-4410-6b3f-e0362eef7fc3
* Content

[2021-12-27 08:27] NickSelin commented on #3735
Hello [hendyb](https://github.com/hendyb),
Thank you for reporting this issue. It has been registered as a documentation issue. Please, use this [link](https://fix.lcs.dynamics.com/Issue/Details/?bugId=646247&dbType=3) to trace the progress of its fixing. Meanwhile, use the files from the attached archive to complete the steps of the referred example.
Best regards,
Nick Selin

[Support parameteriz

[2021-12-28 15:09] 5fq opened #3736 "Add reference to additional steps for printing QR code on OPOS printers"
It will be good if you can add a reference to the below article so that users will be clear about the piece of code they have to include to get this working on the OPOS printers. Other the printing will fail with error "ExceptionMessage: 'OPOS printer failed to execute 'PrintMemoryBitmap' with error '114', extended error code - 0."

https://docs.microsoft.com/en-us/dynamics365/commerce/localizatio

[2021-12-29 09:35] e9325827 opened #3737 "Major releases"
The page mentions major releases, I find no (recent) information from Microsoft which releases are considered major and which not?
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 51e63496-19e3-182e-c19d-027a0a5f6acf
* Version Independent ID: c8a51a1e-25e8-fbe3-4580-baca9046b7b0
* Content: [Feature

[2021-12-29 09:37] e9325827 opened #3738 "Mandatory, not Released is the final state for features."
This page has the sentence, Released is the final state for features.
This is wrong, as Mandatory is the final state for features.
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 51e63496-19e3-182e-c19d-027a0a5f6acf
* Version Independent ID: c8a51a1e-25e8-fbe3-4580-baca9046b7b0
* Content: [Feature

[2021-12-30 07:14] lanjunmm opened #3739 "Cannot find the IncomingDocumentToLearnHowToHandleOptionalAttributes.xml file"
[Enter feedback here]
The file IncomingDocumentToLearnHowToHandleOptionalAttributes.xml doesn't exist in the dowloaded Zip file.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d7c69e2a-5d2c-fb3b-970b-13e93b42fc6e
* Version Independent ID: 1a65e651-a70a-d993-88db-c4d14d40d6df
* Content: [Import files in XML format with

[2021-12-30 10:16] andyNewnham opened #3740 "Retail Channel not Commerce Channel"
The operating unit type is still labelled in D365 as a 'Retail Channel'. Please update (either docs or in the application!) to ensure consistency.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0bc0b18d-10eb-b4f6-5b38-3668e737c726
* Version Independent ID: 767da595-baa2-6216-85e0-ed44267117a8
* Content: [Organizations

[2021-12-30 10:19] andyNewnham commented on #3740
Also, 'Online Marketplace' no longer exists in Commerce as a type of retail channel. It should really mention call center as the other channel type.

[2021-12-30 10:59] andyNewnham opened #3741 "Update to include new POS operations"
This page is used regularly by all consultants to validate which operations are available when offline and to confirm where/how the operations are used. It does not seem to have been updated for quite a while and a lot of new operations have been added. Can they be added to the list please.

Missing operations include:
133 | Add warranty
140 | Add line charges
144 | Add warranty to existing transa

[2021-12-30 14:45] NickSelin commented on #3739
Hello [lanjunmm](https://github.com/lanjunmm),
Thank you for reporting this issue. It has been registered as a documentation defect. Please, use this [link](https://fix.lcs.dynamics.com/Issue/Details?bugId=646832&dbType=3) to trace the progress of its fixing. Meanwhile, use the following [link](https://download.microsoft.com/download/0/4/e/04e13839-e423-442b-a6c2-dd35b1045c2d/Dynamics%20365%20for%

[2021-12-30 16:04] hhainesms opened #3742 "menu reference is wrong"
The menu reference on this document is incorrect - there is no "openID providers" menu option in Commerce shared parameters - the correct menu option is "Identity Providers"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 803d3e98-0d4d-ccfd-dccb-d3686d497fa7
* Version Independent ID: b8ea5de9-6c54-9adb-9291-8d80c40447a7

[2022-01-01 11:12] cekrice opened #3743 "Debug Modern POS by using Visual Studio 2017"
Hi,

Item 2 under this heading "Install the Universal Windows Platform (UWP) app by selecting the shortcut on the desktop." is not clear. What is this?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9d25974f-661e-2b24-2ac6-795c40c1047e
* Version Independent ID: bb01166a-2998-0755-15f1-02872d18786b
* Content: [Debug POS

[2022-01-01 11:21] cekrice opened #3744 "Create a Modern POS extension package"
Hi,

In Item 5 under this heading, Adding reference should be opposite, shouldn't be?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 52282adf-3347-d738-9aa7-412a1fe89b7a
* Version Independent ID: e28a330c-28f0-9bc4-2b59-13892d774907
* Content: [Create a Modern POS extension package - Commerce | Dynamics 365](https://do

[2022-01-03 15:11] sericks007 commented on #3719
@Henrikan, please update the topic, as requested.

[2022-01-03 15:15] sericks007 commented on #3719
Bug 647689 has been logged to track this issue.

[2022-01-03 15:19] sericks007 commented on #3720
Bug 647691 has been logged to track this issue.

[2022-01-03 15:24] sericks007 commented on #3722
Bug 647692 has been logged to track this issue.

[2022-01-03 15:27] sericks007 commented on #3724
Bug 647693 has been logged to track this issue.

[2022-01-03 15:31] sericks007 commented on #3727
Bug 647723 has been logged to track this issue.

[2022-01-03 15:35] sericks007 commented on #3729
Bug 647724 has been logged to track this issue.

[2022-01-03 15:42] sericks007 commented on #3734
@okayakdeniz, thank you for providing this feedback.

@bebeale, please clarify this content to address the feedback.

[2022-01-03 15:42] tonyafehr commented on #3736
@5fq, thank you for the feedback. @EvgenyPopovMBS, please review and consider making updates to this topic.

[2022-01-03 15:44] sericks007 commented on #3744
@cekrice, thank you for providing this feedback.

@mugunthanm, please update this content to address this feedback.

[2022-01-03 15:44] tonyafehr commented on #3740
@andyNewnham, thanks for the feedback. @sericks007, please review.

[2022-01-03 15:45] sericks007 commented on #3743
@cekrice, thank you for providing this feedback.

@mugunthanm, please update the content as requested.

[2022-01-03 15:46] tonyafehr commented on #3741
@andyNewnham, thank you for the detailed feedback. @jblucher, please review and consider making updates.

[2022-01-03 16:12] sericks007 commented on #3737
@e9325827, thank you for providing this feedback.

@Peakerbl, please clarify what is meant by "major releases".

[2022-01-03 16:14] sericks007 commented on #3738
@e9325827, thank you for providing this feedback.

@Peakerbl, please update the topic, as noted.

[2022-01-03 17:23] tonyafehr commented on #3742
@josaw1, can you look into this. Thanks!

[2022-01-03 18:33] aaronstackpole opened #3745 "Step 10 Shared Library File Names Update Needed"
In LCS, go to the Shared asset library, select Retail Self-service package as the asset type, and find the file that ends with Commerce Scale Unit (PREVIEW). Be sure to select the version for the release that you require (for example, version 10.0.22 or 10.0.23). Download the file, and put it in the Download folder in the Scale Unit GitHub repo that you cloned or downloaded in the previous step

T

[2022-01-03 18:44] bebeale commented on #3734
This should be assigned to: shajain.

Cheers,
Benita
________________________________
From: Sally Erickson ***@***.***>
Sent: Monday, January 3, 2022 7:42:25 AM
To: MicrosoftDocs/dynamics-365-unified-operations-public ***@***.***>
Cc: Benita Beale ***@***.***>; Assign ***@***.***>
Subject: Re: [MicrosoftDocs/dynamics-365-unified-operations-public] This instruction must be supported with pictures.

[2022-01-03 18:49] tonyafehr commented on #3745
@aaronstackpole, thanks for the feedback. @mugunthanm, please review and consider making updates.

[2022-01-03 18:53] sericks007 commented on #3730
@Mirzaab, please review and update the content, as needed.

[2022-01-03 20:22] sericks007 commented on #3740
Thanks for noticing this!  I've updated the content, which will be published later today.

[2022-01-03 20:22] #3740 closed

[2022-01-03 21:19] mugunthanm commented on #3745
Thanks for the feedback, updated the document. Please use the Commerce Scale Unit (SEALED).
https://github.com/MicrosoftDocs/dynamics-365-unified-operations-public/pull/3747

[2022-01-03 21:30] mugunthanm commented on #3744
Thanks for the feedback, updated the doc.
https://github.com/MicrosoftDocs/dynamics-365-unified-operations-public/pull/3748

[2022-01-03 22:13] #3744 closed

[2022-01-03 22:14] #3745 closed

[2022-01-04 00:16] mugunthanm commented on #3743
Thanks for the update, updated the doc:
https://github.com/MicrosoftDocs/dynamics-365-unified-operations-public/pull/3749

[2022-01-04 09:52] 5fq opened #3750 "Add requirement for Carry Out Mode of Delivery as pre-requisite"
The QR code will only work if the Carry out the mode of delivery is configured in Commerce Parameters. Please add this as a mandatory requirement.

Ref: MS Support ticket #2201040060001383

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fa377324-5397-4669-2ed2-de02c8891396
* Version Independent ID: fa377324-5397-4669-2e

[2022-01-04 13:45] sericks007 commented on #3730
Bug 647925 has been logged to track this issue.

[2022-01-04 13:50] sericks007 commented on #3734
Bug 647927 has been logged to track this issue.

[2022-01-04 14:07] tonyafehr commented on #3750
@EvgenyPopovMBS, please review.

[2022-01-04 18:08] josaw1 commented on #3404
This is fixed.

[2022-01-04 18:08] #3404 closed

[2022-01-04 21:54] jasongre commented on #3652
@lbagleybhs You can think of these workspace "cache tables" as regular tables that interface with the SysDataSetCache framework, and so any best practices for tables in general would apply here. Thanks for calling out the typo in the documentation; I'll get that updated!

[2022-01-04 22:12] #3652 closed

[2022-01-04 22:57] jasongre commented on #3683
@orichardt I just verified that the pre-release extension referred to in our documentation does indeed still work. Please try to reload the extension based on the github link provided in the "Taking screenshots in Task recorder" section.

[2022-01-05 07:55] Doriano commented on #3404
Thanks

[2022-01-05 14:36] #3739 closed

[2022-01-05 14:37] #3735 closed

[2022-01-05 16:18] D365AndyHunter opened #3751 "Adjust posting date automatically during invoice posting."
Was excited to see this feature added in release 10.0.23 however having enabled in feature management and tested have found that it is actually updating the invoice date and not the posting date
The invoice date should remain as detailed on the suppliers invoice as this is important for tax and sox compliance
The posting date remained as originally entered and was not updated to first day of next

[2022-01-05 16:27] tonyafehr commented on #3751
@D365AndyHunter, thanks for the feedback. If you need immediate assistance, consider one of these options: [Support contact options](https://docs.microsoft.com/en-us/dynamics365/unified-operations/dev-itpro/lifecycle-services/lcs-support). In particular, you might want to go to the [Dynamics 365 community page](https://community.dynamics.com/) to get help with your questions from the Dynamics comm

[2022-01-05 17:29] #3683 closed

[2022-01-06 01:10] paulliew commented on #3720
This has been logged and a work item has been assigned to the PAuth User Sync team.  See ICM Incident-277906449 Details - IcM (microsofticm.com) to

[2022-01-06 03:33] orichardt commented on #3683
HI Jason, thank you for this. I tried again and got it to work on Chrome.

Ole

Get Outlook for Android<https://aka.ms/AAb9ysg>
________________________________
From: Jason Green ***@***.***>
Sent: Wednesday, January 5, 2022 5:57:32 AM
To: MicrosoftDocs/dynamics-365-unified-operations-public ***@***.***>
Cc: orichardt ***@***.***>; Mention ***@***.***>
Subject: Re: [MicrosoftDocs/dynamics-365-unif

[2022-01-06 13:59] #3743 closed

[2022-01-07 04:29] jmholman331 opened #3752 "Year End Close page seems to have dated information."
We are unable to follow the documentation provided on the year end close.  We are unable to locate the screen that look like the screenshot regarding reverse the year-end close process or follow the process as outlined.
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 67434ec3-fdb0-02d2-e5c9-a80a0a6

[2022-01-07 05:36] lokesh9769610709 opened #3753 "Personalization Required option is only working for particular Master (ie. for single item field)"
Previously this feature of Personalizing Required Field was working fine. Id one of the field is make mandatory on Item master that particular field is mandatory for all the item and provides Warning but now after latest update system is not behaving as expected. now if any field is set to required it is mandatory for that particular item.

[2022-01-07 09:18] ryanlish opened #3754 "Create BOMs in Product information management instead of Inventory management"
Should the Inventory management be Product information management in "Create bills of materials (BOMs) and BOM versions in Inventory management."?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 90a70666-74c8-cb14-f655-2ea665bd8b65
* Version Independent ID: 499e83f4-52c2-0292-b3d1-92dc69e957e3
* Content: [Production set

[2022-01-07 12:33] sericks007 commented on #3737
We've updated the [Service update availability](https://docs.microsoft.com/en-us/dynamics365/fin-ops-core/fin-ops/get-started/public-preview-releases) content to indicate the major releases.

[2022-01-07 12:33] #3737 closed

[2022-01-07 13:06] kweekley commented on #3752
This page contains the latest functionality around the GL year end close.  Please go to Feature management and enable the feature "General ledger year-end enhancements".  This feature splits the setup of the YEC template from the YEC processing.  The new processing form adds the audit trail of when the YEC was run, along with the option to reverse.  Please note that if you already ran the YEC, thi

[2022-01-07 14:21] tonyafehr commented on #3752
@jmholman331, thanks for the feedback. @kweekley, please review and address this.

[2022-01-07 14:22] tonyafehr commented on #3753
Thanks for contacting us. Unfortunately, we're unable to handle Support requests for the product here. To contact Support, consider one of the options described here: [Support contact options](https://docs.microsoft.com/en-us/dynamics365/unified-operations/dev-itpro/lifecycle-services/lcs-support). In particular, you might want to go to the [Dynamics 365 community page](https://community.dynamics.

[2022-01-07 14:22] #3753 closed

[2022-01-07 14:23] tonyafehr commented on #3754
@ryanlish, thanks for the feedback. @johanhoffmann, please review and consider updating this topic.

[2022-01-07 14:24] #2140 closed

[2022-01-07 14:25] #3180 closed

[2022-01-07 14:26] jmholman331 commented on #3752
Thanks for the reply.  We are looking at testing and turning on this feature.  This was very helpful.

[2022-01-07 14:27] #3706 closed

[2022-01-07 14:29] tonyafehr commented on #3628
@josaw1, please review.

[2022-01-07 14:31] tonyafehr commented on #3599
@kamaybac, please review.

[2022-01-07 14:36] #3505 closed

[2022-01-07 14:37] tonyafehr commented on #3490
@josaw1, please review.

[2022-01-07 14:47] #3488 closed

[2022-01-07 14:49] #3487 closed

[2022-01-07 14:54] tonyafehr commented on #3401
@josaw, please review.

[2022-01-07 14:55] tonyafehr commented on #3394
@josaw1, please review.

[2022-01-07 14:56] tonyafehr commented on #3391
@josaw1, please review.

[2022-01-07 14:57] #3319 closed

[2022-01-07 14:57] #3317 closed

[2022-01-07 15:01] tonyafehr commented on #2141
@kamaybac, please review.

[2022-01-07 15:03] tonyafehr commented on #3632
@AamirAllaq, please review. Thanks!

[2022-01-07 15:06] #3752 closed

[2022-01-07 15:07] tonyafehr commented on #3167
@kamaybac, please review.

[2022-01-07 15:10] tonyafehr commented on #3591
@MilindaV2, please review.

[2022-01-07 15:11] #667 closed

[2022-01-07 15:12] #767 closed

[2022-01-07 15:15] #3592 closed

[2022-01-07 15:15] #825 closed

[2022-01-07 15:16] #983 closed

[2022-01-07 15:17] #262 closed

[2022-01-07 15:17] #670 closed

[2022-01-07 15:18] #1043 closed

[2022-01-07 15:19] #1212 closed

[2022-01-07 15:19] #1235 closed

[2022-01-07 15:20] #1271 closed

[2022-01-07 15:20] #1282 closed

[2022-01-07 15:21] #1289 closed

[2022-01-07 15:29] #3701 closed

[2022-01-07 15:29] #1292 closed

[2022-01-07 15:29] #1296 closed

[2022-01-07 15:30] #1299 closed

[2022-01-07 15:30] #1301 closed

[2022-01-07 15:31] #1310 closed

[2022-01-07 15:32] #1315 closed

[2022-01-07 15:33] #1353 closed

[2022-01-07 15:33] #1387 closed

[2022-01-07 15:35] #1531 closed

[2022-01-07 15:35] #1552 closed

[2022-01-07 15:35] #1662 closed

[2022-01-07 15:36] #1688 closed

[2022-01-07 15:36] #1750 closed

[2022-01-07 15:37] #1880 closed

[2022-01-07 15:37] #1924 closed

[2022-01-07 15:37] #1925 closed

[2022-01-07 15:38] #1926 closed

[2022-01-07 15:38] #1930 closed

[2022-01-07 15:39] #1931 closed

[2022-01-07 15:40] #2041 closed

[2022-01-07 15:41] tonyafehr commented on #2042
@kamaybac, please review.

[2022-01-07 15:45] #2359 closed

[2022-01-07 15:45] #2332 closed

[2022-01-07 15:45] #2331 closed

[2022-01-07 15:45] #2330 closed

[2022-01-07 15:45] #2292 closed

[2022-01-07 15:47] #2229 closed

[2022-01-07 15:48] #2200 closed

[2022-01-07 15:48] #2158 closed

[2022-01-07 15:50] #2753 closed

[2022-01-07 15:50] #2734 closed

[2022-01-07 15:50] #2733 closed

[2022-01-07 15:51] tonyafehr commented on #2732
@kamaybac. please review

[2022-01-07 15:51] #2730 closed

[2022-01-07 15:51] #2729 closed

[2022-01-07 15:52] #2726 closed

[2022-01-07 15:53] #2713 closed

[2022-01-07 15:54] #2679 closed

[2022-01-07 15:55] #2642 closed

[2022-01-07 15:56] #2637 closed

[2022-01-07 15:58] #2594 closed

[2022-01-07 15:59] #2081 closed

[2022-01-07 16:00] #2101 closed

[2022-01-07 16:00] #2107 closed

[2022-01-07 16:00] #2108 closed

[2022-01-07 16:00] #2111 closed

[2022-01-07 16:01] #2407 closed

[2022-01-07 16:02] #2633 closed

[2022-01-07 16:02] #2698 closed

[2022-01-07 16:03] #3039 closed

[2022-01-07 16:03] #3038 closed

[2022-01-07 16:04] #3021 closed

[2022-01-07 16:04] #3020 closed

[2022-01-07 16:18] #2835 closed

[2022-01-07 16:19] #2838 closed

[2022-01-07 16:19] #2861 closed

[2022-01-07 16:20] #2868 closed

[2022-01-07 16:20] #2873 closed

[2022-01-07 16:20] #2876 closed

[2022-01-07 16:21] #2907 closed

[2022-01-07 16:22] #2925 closed

[2022-01-07 16:27] #2997 closed

[2022-01-07 16:27] tonyafehr commented on #2999
@josaw1, please review.

[2022-01-07 16:28] #3005 closed

[2022-01-07 16:32] tonyafehr commented on #3527
@kamaybac, please review.

[2022-01-07 16:33] tonyafehr commented on #3526
@moaamer, please review.

[2022-01-07 16:35] tonyafehr commented on #3525
@josaw1, please review.

[2022-01-07 16:36] tonyafehr commented on #3522
@josaw1, please review.

[2022-01-07 16:36] #3446 closed

[2022-01-07 16:38] #3234 closed

[2022-01-07 16:44] #3124 closed

[2022-01-07 16:45] tonyafehr commented on #3052
@kamaybac, please review.

[2022-01-07 16:46] #3425 closed

[2022-01-07 16:51] #1183 closed

[2022-01-07 16:52] #1326 closed

[2022-01-07 16:55] #2521 closed

[2022-01-07 17:00] #3493 closed

[2022-01-07 17:00] #3575 closed

[2022-01-07 17:02] #3573 closed

[2022-01-07 17:04] #2577 closed

[2022-01-07 17:41] #3697 closed

[2022-01-07 17:57] #2557 closed

[2022-01-07 17:59] #1342 closed

[2022-01-07 18:51] #2075 closed

[2022-01-10 14:30] tonyafehr commented on #3736
Bug 649117 has been logged to track this issue.

[2022-01-10 14:30] hammr5900 commented on #2230
Hello. Is there an update to the docs that provide this information?

[2022-01-10 14:40] tonyafehr commented on #2230
@sericks007, please review.

[2022-01-10 14:48] tonyafehr commented on #3754
Bug 649124 logged to track this issue.

[2022-01-10 15:17] EvgenyPopovMBS commented on #3750
Thank you for the feedback. This product issue is fixed in the monthly update 10.0.25, that is, starting from 10.0.25, it is not required to specify Carry-out delivery mode in Commerce parameters to make QR codes for Saudi Arabia working.

[2022-01-10 15:19] #3750 closed

[2022-01-10 16:08] sericks007 commented on #2230
@RichdiMSFT or @MilindaV2, can one of you answer this question?

[2022-01-10 19:33] josaw1 commented on #3628
Thanks for the feedback. This topic needs to be rewritten. Removing the topic for now.

[2022-01-10 19:33] #3628 closed

[2022-01-10 20:01] josaw1 commented on #3522
Adding @mugunthanm.

BUG 649244 created to track.

[2022-01-10 20:55] josaw1 commented on #3525
Thanks for your feedback. This change will go live today.

[2022-01-10 20:55] #3525 closed

[2022-01-10 21:33] stevej-arbela opened #3756 "storage-account-name secret"
Hi Team,

When I set the value of the storage account secret to the storage account name, I always encounter an error. After some digging it appears that the setup script is expecting a connection string. I then create a key vault secret named "storage-account-connection" with a value of the storage account's primary connection string, and this works as expected. If this can be reviewed, please up

[2022-01-10 23:22] moaamer commented on #3526
We will consider add examples in addition to what we have in this article to give it more insights.

[2022-01-11 03:23] mugunthanm commented on #3522
Thanks for the feedback, the doc is updated.

[2022-01-11 12:53] #3738 closed

[2022-01-11 14:01] #3526 closed

[2022-01-11 15:00] kamaybac commented on #3618
Bug 649726 created to track this issue.

[2022-01-11 15:50] KheeChan opened #3757 "Guidance on virtual data entities versus Dual Write missing"
The link https://docs.microsoft.com/en-us/dynamics365/fin-ops-core/dev-itpro/power-platform/faq?source=docs#is-there-guidance-on-when-to-use-a-virtual-entity-and-when-to-use-dual-write does not provide any content on guidance on when to use virtual data entities versus Dual Write.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.

[2022-01-11 17:19] #3522 closed

[2022-01-11 17:24] josaw1 commented on #3391
@samjarawan can you please review this?

[2022-01-11 17:54] josaw1 commented on #3391
BUG 649791 created to track.

[2022-01-11 17:59] josaw1 commented on #3401
Updated topic. Should go live this week.

[2022-01-11 17:59] #3401 closed

[2022-01-11 18:13] josaw1 commented on #3394
Hi @mueckeflo -- you can find the information you requested in the topic [Retail discounts](https://docs.microsoft.com/en-us/dynamics365/commerce/retail-discounts-overview). Thanks.

[2022-01-11 18:21] josaw1 commented on #3490
Thanks for the feedback. I'm removing the section today.

[2022-01-11 18:21] #3490 closed

[2022-01-11 18:21] #3394 closed

[2022-01-11 18:59] josaw1 commented on #3756
Thanks for your feedback. @sericks007 can you please take a look?

[2022-01-11 19:01] josaw1 commented on #3757
Thank you for your feedback. @Sunil-Garg can you please review?

[2022-01-11 19:01] sericks007 commented on #3756
@MilindaV2, please update the documentation based on this feedback.

[2022-01-11 19:09] sericks007 commented on #3757
@jaredha, can you please review this feedback and update the content, if necessary.

[2022-01-11 21:25] tonyafehr commented on #3240
This topic will be updated with new content later today. Thanks!

[2022-01-11 21:25] #3240 closed

[2022-01-12 02:56] ronsonntag54 opened #3759 "What are the FULL constraints for naming Data Entity field names?"
[Enter feedback here]
The page indicates certain pre and postfixes to avoid and also states not to use underscores in field names. My question is: What about other punctuation? Can I have a field name "TPayor.Description" or "TPayor:Description", etc. What punctuation is allowed and not allowed?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub

[2022-01-12 06:53] blangero opened #3760 "FIFO without the Include physical value option - 5a, 5b and diagram incorrect / not matching"
[Enter feedback here]
FIFO without the Include physical value option - 5a, 5b and diagram incorrect / not matching

I know that we change cost in 5b from 20 to 15 in a history fix, but the fix should also be applied on 5a
Besides that, the initial cost - 20, should be calculated based on the assumption that 2a and 2b are with qty = 1 and unit cost = 20 - which can be found in other segments of thi

[2022-01-12 17:25] #3688 closed

[2022-01-13 13:49] tonyafehr commented on #3754
Appropriate updates have been made to this topic and will be live later today.

[2022-01-13 13:49] #3754 closed

[2022-01-13 14:38] kamaybac commented on #2289
@LMedbery , I see that you submitted this quite a long time ago. I just ran into it while cleaning up. The topic you responded to here is out of date and is no longer part of our table of contents (as you correctly pointed out). The new HazMat documentation provides full details and is available here: https://docs.microsoft.com/en-us/dynamics365/supply-chain/pim/hazmat-overview

[2022-01-13 14:38] #2289 closed

[2022-01-13 20:33] josaw1 commented on #3759
Thank you for your feedback. @Peakerbl can you please review?

[2022-01-13 20:35] josaw1 commented on #3760
Thank you for your feedback. @AndersEvenGirke can you please review?

[2022-01-14 17:27] #2420 closed

[2022-01-14 17:36] #3243 closed

[2022-01-16 17:31] FrankDahl opened #3764 "Certificate renewal is not every 90 days but every 60 days."
This page (https://docs.microsoft.com/en-us/dynamics365/fin-ops-core/dev-itpro/perf-test/perfsdk-multi-user-testing) mention that self-service environment will see their certificate update by rotation about every 90 days. This is not accurate the timing between the automated renewal of certificates is about every 60 days. You may confirm this with the team, but I have done so already and believe i

[2022-01-17 19:30] amdz81 opened #3766 "Issue with Subcontracted transfer activities"
[Enter feedback here]
There is an issue with the documentation as two very different processes have the same description:

See the specific session

Subcontracted transfer activities
A transfer activity is configured as a subcontracted activity, depending on the Freighted by setting of the transfer activity. The following options are available:

Shipper – The activity is subcontracted if the trans

[2022-01-18 10:53] KristianNyholm opened #3767 "Section details missing on Set up contact information for a customer"
Hi,
The section on "Set up contact information for a customer" appears to missing guidelines/instruction on how to set up contact information.

/Kristian
[Enter feedback here]
![GitHub - OIOUBL - customer accounts section missing](https://user-images.githubusercontent.com/61979647/149923770-1e627d64-4541-4403-a455-7e154fd97abf.png)

---
#### Document Details

⚠ *Do not edit this section. It is req

[2022-01-18 13:35] amadse opened #3768 "Wrong or bad link in the article"
The link to https://aka.ms/dynamics_365_international_availability_deck ends up in nothing happens.
Here is the text.
Finance and Operations apps include functionality for the country/regions documented in the **_Product localization and translation availability guide_**. This functionality is enabled based on the primary address of the active legal entity.

---
#### Document Details

⚠ *Do not ed

[2022-01-18 14:31] kfend commented on #3727
The link provided in the comment and in the **Document details** section go to the same topic, **Update how amounts are displayed on reports and documents**. I have updated that topic and the changes will be published today. I am going to close this issue. If there is another topic with the same typo, please let me know which one it is. Thanks!

[2022-01-19 08:53] kamaybac opened #3769 "Page not in TOC"
This page isn't in the table of contents, so it's hard to find. Is that the intention?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 715be324-c37c-b327-5ca5-724003813f01
* Version Independent ID: 715be324-c37c-b327-5ca5-724003813f01
* Content: [Separated Dual-write Application Orchestration package - Finance & Operati

[2022-01-19 11:30] MatsWeigand commented on #3686
Is there any plan to provide a backport of this to 10.0.23 / 24? We want to move to 10.0.24 but are currently blocked by this bug.

[2022-01-19 12:18] popujol opened #3770 "Missing information ?"
Hello,

Is it normal that  client id created in ERP are 6f7d0213-62b1-43a8-b7f4-ff2bb8b7b452 and 2e49aa60-1bd3-43b6-8ab6-03ada3d9f08b and then in CRM we are asked to create application users and one of them hasn't got the same ID 00000015-0000-0000-c000-000000000000 and 2e49aa60-1bd3-43b6-8ab6-03ada3d9f08b.
Also isn't missing a piece ? after step 3. I cannot find the application users in CRM.

Tha

[2022-01-19 18:11] NHelgren commented on #3770
@paulliew  can you please review the auth information in this document?

[2022-01-19 19:09] samjarawan commented on #3391
You can find most of the core data actions in the \\node\_modules\\@msdyn365-commerce-modules and \\node\_modules\\@msdyn365-commerce directories. Many can be found under the \\node\_modules\\@msdyn365-commerce-modules\\retail-actions\\dist\\lib directory or some within specific sub directories such as the cart state data actions which can be found under the \\node\_modules\@msdyn365-commerce\glob

[2022-01-19 20:18] Sigvelli opened #3771 "Installing SSIS 2016, not any higher version"
Our experience is to install SSIS 2016, and not any higher version.
Step 10. “Set up SSIS” should recommend SSIS 2016.
Our environment is D365FO version 10.0.22, with a higher version of SSIS: When trying to import data using Data Management, we got this error:
«Could not load file or assembly 'Microsoft.SqlServer.ManagedDTS, Version=13.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91' or o

[2022-01-19 21:05] faix commented on #3771
Hello @Sigvelli ,

SSIS 2019 is supported starting with 10.0.21. Did you try configuring the localagent for deploying with the appropriate SQL server version? https://docs.microsoft.com/en-us/dynamics365/fin-ops-core/dev-itpro/deployment/onprem-localagent-options

[2022-01-19 23:37] RamaKrishnamoorthy commented on #3769
Looks like TOC is a missing piece. Here is how it is placed on the home page.
Hi @Tonya ***@***.***> can you please add the page to the TOC?

***@***.***

Thank you,
Rama.

From: Karl Maybach ***@***.***>
Sent: Wednesday, January 19, 2022 12:53 AM
To: MicrosoftDocs/dynamics-365-unified-operations-public ***@***.***>
Cc: Rama Krishnamoorthy ***@***.***>; Mention ***@***.***>
Subject: [MicrosoftDocs

[2022-01-20 07:02] Sigvelli commented on #3771
Hi
Thanks for the information. This is exactly the information that I would have liked to have in the "Setup and deploy ..." guide. We will follow your suggestion when installing the Prod environment.

[2022-01-20 11:08] faix commented on #3771
No problem. I have added a reference to that document on the setup deploy page. Changes will be live soon.

[2022-01-20 13:33] lukasnimberger opened #3774 "Hide no longer used items from item selection lookups"
Hi, could you add another parameter to the lifecycle state settings so it can hide no longer used items from item selection lookups?
E.g. from drop downs when creating BOMs? Little tweak that would solve a lot of issues, though.

Cheers,
Lukas

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9ef9e1

[2022-01-20 14:53] #3771 closed

[2022-01-20 15:17] simonefinotti opened #3775 "Columns that can be filtered"
In the [Grid column header filtering/sorting](https://docs.microsoft.com/en-us/dynamics365/fin-ops-core/dev-itpro/user-interface/filtering#grid-column-header-filteringsorting) paragraph you say "_for columns that can be filtered_" but it's not stated **when** a column can be filtered.

It would be nice if there was some additional details to this statement.

---
#### Document Details

⚠ *Do not ed

[2022-01-20 15:38] kamaybac commented on #3774
@lukasnimberger , thank you for contacting Microsoft. It looks like you are submitting a feature request, but this forum is for discussing documentation issues so we can't process feature requests here. However, I'm sure our team would very much like to hear about your feature idea so they can consider whether to implement it in a future update. Please submit it again by going to https://experienc

[2022-01-20 15:38] #3774 closed

[2022-01-20 16:01] Anmadu opened #3776 "Manage International Bank Account Number (IBAN) account validation"
In section Set up IBAN structures it is mentioned that the structures for specific countries can be edited.
This is not true, IBAN structures are regulated by the countries, length and other details cannot be changed.
Additionally the form can be changed, but when setting up the bank account including IBAN to the changed structure an error occurs.
This leads us to believe that the IBAN structure i

[2022-01-20 17:14] sericks007 commented on #3769
This article has been added to the TOC.  The updated TOC will be published soon.

[2022-01-20 17:14] #3769 closed

[2022-01-20 18:45] surekota commented on #3676
Correct days is 28 for production backups, thanks for raising the issue

[2022-01-21 00:40] Sleekcircle opened #3779 "Linked cost type calculation in error on Cost Estimates"
On Auto costs, set up a cost type with a linked cost type with following:

1) Amount on Apportionment method &
2) Percent on Category
3) linked cost type stated.

Run Cost Estimate (under Periodic tasks)

The cost type with a linked cost type calculated a percentage of the product cost rather than a percentage of the linked cost type. Expect system to calculate a percentage of the linked cost type

[2022-01-21 00:46] Sleekcircle opened #3780 "GL postings on Landed cost module do not seem right"
GL postings seem to post variance to clearing account and vice-versa.

Please advise

[2022-01-21 11:46] puneetdarji commented on #1323
@Sunil-Garg - any KB article number to track the progress of enabling CUD event on entities?

[2022-01-21 11:47] kamaybac commented on #3764
@FrankDahl , thanks for letting us know.

@tonyafehr, Frank is PM for SCM. Looks like he has already verified his input, so I think it's safe to implement it.

[2022-01-21 11:51] kamaybac commented on #3766
@amdz81 , thank you for contacting us regarding this help topic. I have passed your comment on for consideration.

[2022-01-21 11:54] kamaybac commented on #3767
@KristianNyholm  , thank you for contacting us regarding this help topic. I have passed your comment on for consideration.

[2022-01-21 11:59] kamaybac commented on #3768
@amadse , thank you for getting in touch with us. I believe you also contacted me by email regarding this issue. I tested the link. It downloads a PDF instead of opening a web page, so please check your download folder. I'm closing this issue here for now, but please respond to my email if you are still having trouble with this link. Thanks.

[2022-01-21 11:59] #3768 closed

[2022-01-21 12:00] kamaybac commented on #3770
@popujol  , thank you for contacting us regarding this help topic. I have passed your comment on for consideration.

[2022-01-21 12:03] kamaybac commented on #3775
@simonefinotti  , thank you for contacting us regarding this help topic. I have passed your comment on for consideration.

[2022-01-21 12:34] kamaybac commented on #3776
@Anmadu  , thank you for contacting us regarding this help topic. I have passed your comment on to the author for consideration.

[2022-01-21 12:38] kamaybac commented on #3779
@Sleekcircle

Thanks for contacting us. Unfortunately, we're unable to handle Support requests for the product here. To contact Support, consider one of the options described here: [Support contact options](https://docs.microsoft.com/en-us/dynamics365/unified-operations/dev-itpro/lifecycle-services/lcs-support). In particular, you might want to go to the [Dynamics 365 community page](https://commu

[2022-01-21 12:38] #3779 closed

[2022-01-21 12:39] kamaybac commented on #3780
@Sleekcircle

Thanks for contacting us. Unfortunately, we're unable to handle Support requests for the product here. To contact Support, consider one of the options described here: [Support contact options](https://docs.microsoft.com/en-us/dynamics365/unified-operations/dev-itpro/lifecycle-services/lcs-support). In particular, you might want to go to the [Dynamics 365 community page](https://commu

[2022-01-21 12:39] #3780 closed

[2022-01-21 12:49] kamaybac commented on #3623
Bug 652661 created to track this issue

[2022-01-21 13:58] kamaybac commented on #3694
Bug 652683 created to track this issue

[2022-01-21 14:05] kamaybac commented on #3696
Bug 652686 created to track this issue.

[2022-01-21 14:10] kamaybac commented on #3699
Bug 652687 created to track this issue.

[2022-01-21 14:17] kamaybac commented on #3702
Bug 652690 created to track this issue

[2022-01-21 14:24] sericks007 commented on #3699
@rrhkpmg, thanks for letting us know about this!  I've corrected the text as you suggested.  This update will be published later today.

[2022-01-21 14:24] #3699 closed

[2022-01-21 14:54] kamaybac commented on #3704
Bug 652698 created to track this issue

[2022-01-21 15:01] #3705 closed

[2022-01-21 15:26] rosacek commented on #3714
@DKobayashi-ykgw @kamaybac @ChristianRytt @vivimills @vinceno sorry this has been reviewed and updated. Japanese as well as all other language updates has been published live since Dec 23rd

[2022-01-21 15:33] #3714 closed

[2022-01-21 16:57] mikecaterino opened #3781 "Redirect URI is incorrect"
In the section Registration process, the line "Redirect URI – Enter the base URL of your client, such as https://contosoax7.cloud.dynamics.com." is incorrect. It should state something similar to "Redirect URI – Enter the base URL of your client with oauth appended to the end, such as https://contosoax7.cloud.dynamics.com/oauth"

---
#### Document Details

⚠ *Do not edit this section. It is requir

[2022-01-21 19:04] sericks007 commented on #3700
@B-rade, thanks for letting us know about this.  I've removed the duplicated content.

[2022-01-21 19:04] #3700 closed

[2022-01-21 19:16] sericks007 commented on #3781
@mikecaterino, thanks for letting us know!  I've updated that line as you suggested.  The update will be published soon.

[2022-01-21 19:16] #3781 closed

[2022-01-21 19:17] sericks007 commented on #3696
@fastianumair, thanks for letting us know!  I've updated that line.  The update will be published soon.

[2022-01-21 19:17] #3696 closed

[2022-01-22 00:00] jaredha commented on #1323
@puneetdarji , can you clarify the request? Enabling CUD events on entities is functionality available today. Documentation here:

https://docs.microsoft.com/en-us/dynamics365/fin-ops-core/dev-itpro/business-events/data-events

Is this what you're looking for?

[2022-01-22 05:21] puneetdarji commented on #1323
@jaredha - Our client has reporting solution which reads out data from BYOD. There are masters like customer,vendor, payment terms, etc. which are huge and everytime to read all the records is process intensive. So they want to track if particular record from master is deleted so that they update only that record and take further actions. Is there no way to know in BYOD that this particular record

[2022-01-22 07:53] babaknahh opened #3782 "As the evaluation environments are no longer available, this section should be removed."
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a8c0097e-bb5b-0154-a812-0cd090232df4
* Version Independent ID: 09289554-3a50-b9ae-b52a-b09a15207904
* Content: [Dynamics 365 Commerce evaluation environment overview - Commerce | Dynamics 365](https://docs.microsoft.com/en-us/dynamics365/commerce/cpe-

[2022-01-22 10:02] liamneesan opened #3783 "Is this Customer Electronic Invoice has any limitations in number of Transactions?"
we are running super markets, I have read that '100 Transaction limitations' in Electronic Invoicing which is documented in 'Dynamics Licensing Guidline'. please give us proper guidline regarding this. even partners never give any proper updates regarding this limitations.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID:

[2022-01-23 14:33] mrolecki commented on #3767
@ilkond , please review this reported issue

[2022-01-24 08:52] ilkond commented on #3767
@mrolecki, @kamaybac, @KristianNyholm, the recommendation is to use the following new article for Danish OIOUBL e-invoices: https://docs.microsoft.com/en-gb/dynamics365/finance/localizations/emea-dnk-e-invoices.

The mentioned "buggy" article will be discontinued with a couple of related article in the scope of this Content Deliverable: https://msdyneng.visualstudio.com/FinOps/_queries/edit/652953

[2022-01-24 10:03] KristianNyholm commented on #3767
Hi all,
Thanks for the update. The information currently available from the “old” article is still relevant, and I don’t see that the “new” article describes how the customer account should be setup (incl. the missing “Set up contact information for a customer) 😉
Cheers
Kristian Nyholm

From: Ilya Kondratenko ***@***.***>
Sent: 24. januar 2022 09:52
To: MicrosoftDocs/dynamics-365-unified-operation

[2022-01-24 10:28] ilkond commented on #3767
@mrolecki, @kamaybac, @KristianNyholm, The new article contains all the required steps for Danish electronic invoices (OIOUBL), Including customer account: https://docs.microsoft.com/en-gb/dynamics365/finance/localizations/emea-dnk-e-invoices#configure-customer-parameters
Customer contacts has no DK specifics and is a part of standard functionality. It also mentioned in the new article that custom

[2022-01-24 11:10] puneetdarji opened #3784 "Get executionId by messageId for recurring integration status check"
While sending data to D365 via recurring integration batch api, in return D365 provides message Id. This messageId is sufficient to get the overall status of the message but if you want to get list of execution errors i.e. error message for each row you require execution id. In this case how external system can get execution id against the message id they have? At the moment this is not clear in t

[2022-01-24 16:21] Eshaghzadeha commented on #3223
Correction for Point 2:
2-One-voucher prevents posting of vouchers such as incoming invoice against several postings. One voucher does **NOT** provide the opportunity to split an posting of incoming invoices on several project categories or several projects, several fixed assets, etc. This happens quite often with our customers per. Today.

[2022-01-24 18:48] jaredha commented on #1323
@puneetdarji - Delete operations are only tracked in change tracking where BYOD is configured to export to your SQL database, and in OData queries against virtual entities using odata.track-changes. Any other data export jobs won't include deletions in the result set. If you are using either of those options and still not seeing deletions in the result set, it may be easier for you to open a suppo

[2022-01-25 03:54] puneetdarji commented on #1323
@jaredha - we do have change tracking enabled for BYOD. Here is the scenario: let say there are 10000 customers in D365 and same are exported to sql DB via BYOD. From these 10000, 1 record is deleted and same record will get deleted from SQL DB(BYOD) as well. Now external system does not know which record got deleted unless they read all records all the time and compare with previous version.

[2022-01-25 14:23] kfend commented on #3784
@puneetdarji - Thank you for the question.
@Peakerbl - Can you please take a look at this question?

[2022-01-25 14:24] kfend commented on #3783
@liamneesan - Thank you for the question.
@ilkond - Can you please take a look and answer this question?

[2022-01-25 14:26] kfend commented on #3782
@babaknahh - Than you for the suggestion.
@v-chgri and @josaw1 - Can you please take a look at this and update the topic as needed?

[2022-01-25 21:09] josaw1 commented on #3756
BUG 653382 created to track.

[2022-01-25 21:11] josaw1 commented on #3757
BUG 653383 created to track.

[2022-01-25 21:14] josaw1 commented on #3759
BUG 653388 created to track.

[2022-01-25 21:17] josaw1 commented on #3760
BUG 653389 created to track.

[2022-01-25 22:52] jaredha commented on #1323
@puneetdarji - thanks for clarifying. Am I understanding correctly that the record is being stored in three databases (D365, BYOD, and the external system)? It sounds like BYOD change tracking is working as designed by deleting the record from BYOD when it's deleted from D365. So this is a question about how to keep the external system in sync with D365 and BYOD, correct?

If that's the case, then

[2022-01-26 05:34] ilkond commented on #3783
@liamneesan, @kfend, There is no limitation for number of electronic invoices. The question was probably caused by pricing information for electronic invoicing service. Here, the first 100 invoices per moth are free of charge, the rest will be chargeable.
fyi @mrolecki

[2022-01-26 06:01] zhenfangyan opened #3785 "The Azure portal link is outdated."
![image](https://user-images.githubusercontent.com/18294106/151111605-645eacfb-2617-4b84-b6b0-2991953769fa.png)
The Azure portal link is still using the classic manage portal which is outdated. Please help to update to Azure portal.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 693bb4b2-92f2-2f0c-4fd3-6c9c1bb5894b
* V

[2022-01-26 14:44] Halldor10 opened #3787 "The document needs to address environment that already has Retail Server and Channel database"
This document should address the setup for a Dev box that has Retail Server and Channel database already installed also and not just a CSU.

As written in another document for setting up CSU it says:" Do not install a CSU on a developer environment, which typically already has a configured Retail Server and Channel database."

And for Norway it applies as written in this document:
"Because of limi

[2022-01-26 18:13] jopankow opened #3788 "Database movement from DevTest to DevTest"
I have had questions about how to move a database from DevTest to DevTest

Since the current table does not directly address this, it is not completely clear. Can we add a line to clarify this? The solution is to move from DevTest to Sandbox and then to DevTest. I would recommend an entry similar to this at the bottom of the current table. Please edit as you see fit:

Source environment | Target e

[2022-01-26 18:22] laneswenka commented on #3788
Hi Josh!

For a debaters to DevTest you can just use a SQL backup and import it using SSMS. Going to Sandbox would be unnecessary and lengthy process.

Lane

Sent from my iPhone

On Jan 26, 2022, at 10:14 AM, JoshP ***@***.***> wrote:

﻿

I have had questions about how to move a database from DevTest to DevTest

Since the current table does not directly address this, it is not completely clear. Ca

[2022-01-27 04:13] jdterrington opened #3789 "Suggestion to link or note additional information"
I would suggest that it would be beneficial specifically note that the CREDIT INVOICING function is only available for ITALY.

https://docs.microsoft.com/en-us/dynamics365/finance/localizations/emea-ita-credit-invoicing

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5d42fb9b-30ef-7398-5369-57fbeba9e516
* Version Indepe

[2022-01-27 08:10] jansenrf opened #3790 "update of 10.0.31 and more"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e7dcb285-f32c-c92e-fe49-1617f213066b
* Version Independent ID: 8f28c1a0-9da5-f853-90ee-d82a4c32df7e
* Content: [Service update availability - Finance & Operations | Dynamics 365](https://docs.microsoft.com/en-us/dynamics365/fin-ops-core/fin-ops/get-st

[2022-01-27 08:11] jansenrf commented on #3790
When are going to put the latest update on this page?

[2022-01-27 08:24] DiSae opened #3791 "Example automatically pause dual-write"
It would be nice if we had an example or linked document on "how to automatically pause dual-write for maintenance". Preferably via a PowerShell script.
I haven't been able to find any example so far. The document says it is possible via rules, but I'm not sure where to start.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

*

[2022-01-27 09:47] e9325827 opened #3792 "Known issues section out-of-date"
Hi,

it would be helpful if this list of known issues was maintained: https://docs.microsoft.com/en-us/dynamics365/fin-ops-core/fin-ops/get-started/grid-capabilities#known-issues

I know of fixes around the new grid control since 10.0.16 which do not show up, and I assume some further open issues are known / worked on.

Best regards,
Martin
---
#### Document Details

⚠ *Do not edit this section. I

[2022-01-27 14:35] ErikJohnMSFT opened #3793 "Update page to reflect the security changes from bug: 645488"
Hello,

I am a Sr. Support SE on D365FO and there was a change to 10.0.24 for security bug: 645488 and removed the XSLT file upload, can this page be updated to reflect that change as well as the steps to use/configure ER to now upload the XSLT file?

Thank you,

Erik Johnson
ErikJohn

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue link

[2022-01-27 14:49] kfend commented on #3785
@zhenfangyan - Thank you for the feedback.
@saurabhsurana - Can you please take a look and update the topic?

[2022-01-27 14:52] #3788 closed

[2022-01-27 14:56] kfend commented on #3792
@e9325827 - Thank you for your feedback.
@jasongre - Can you please take a look at this?

[2022-01-27 15:05] kfend commented on #3793
@ErikJohnMSFT - Thank you for the feedback.
@panolte - Can you work with Erik to update the topic as needed?

[2022-01-28 05:45] ilkond commented on #3789
@jdterrington, @kfend, Credit invoicing is available not only for Italy but for other countries as well.

[2022-01-28 07:25] jdterrington commented on #3789
The Microsoft link suggests that it is only available for the Italy region.

Happy for you to provide a link that tells me otherwise :)

https://docs.microsoft.com/en-us/dynamics365/finance/localizations/emea-ita-credit-invoicing

[2022-01-28 08:00] ilkond commented on #3789
@jdterrington for example these links:

- https://docs.microsoft.com/en-us/dynamics365/finance/localizations/emea-corrective-invoice
- https://docs.microsoft.com/en-us/dynamicsax-2012/appuser-itpro/correct-a-posted-free-text-invoice
- https://docs.microsoft.com/en-us/dynamics365/finance/localizations/tasks/emea-esp-credit-invoicing
- https://docs.microsoft.com/en-us/dynamics365/finance/accounts-re

[2022-01-28 10:47] jdterrington commented on #3789
I am sorry but I 100% disagree with you.  However I am going to now give up trying to resolve this as you are obviously set in your assumptions.  I will say that if you check with MS, you will not be correct.

1) Link one - this is not the "CREDIT INVOICE" function that I am talking about.  This is a completely different function for "CORRECTIVE INVOICE".

2) Link two - This is an old link for AX

[2022-01-28 11:07] ilkond commented on #3789
@jdterrington let's return to your initial concern. Was it about this article https://docs.microsoft.com/en-gb/dynamics365/finance/accounts-receivable/original-invoice-numbers-credit-notes?
You state that it is available only for Italy, correct?

[2022-01-28 12:51] ilkond commented on #3789
@jdterrington This article is mainly about **printing** of the references to original invoices in credit notes created for Free text invoices, Customer Invoices or Project invoices.
"Credit invoicing" for Free text invoices (which intersects with Italy-specific article that you provided) is available not only for Italy but also for Austria, Belgium, Denmark, Finland, France, Germany, Iceland, Irel

[2022-01-28 14:57] MichaelFruergaardPontoppidan commented on #2141
This was solved in May 2020.  The problem was that the required features were not called out. They are now. We can close this.

[2022-01-28 15:09] MichaelFruergaardPontoppidan commented on #3730
The documentation is correct.  It is not clear why this only works for an administrator for the user reporting this problem.  Either there is a product bug, or the user's environment has other issues. The documentation is correct.

[2022-01-28 15:19] #3730 closed

[2022-02-01 07:58] gertvdh opened #3801 "link to page "Run custom X++ scripts with zero downtime" is wrong"
it's going to https://docs.microsoft.com/en-us/dynamics365/fin-ops-core/dev-itpro/deployment/organization-administration/run-custom-scripts.md

instead of https://docs.microsoft.com/en-us/dynamics365/fin-ops-core/dev-itpro/deployment/run-custom-scripts

so the "organization-administration" 'sub folder' is different

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.mi

[2022-02-01 10:01] codingeugene opened #3802 "Wrong hyperlink"
Hyperlink to the section "Run custom X++ scripts with zero downtime" is not working - leads to "Page not found"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7dacb957-d7e0-977a-3357-2bab8398e090
* Version Independent ID: 7dacb957-d7e0-977a-3357-2bab8398e090
* Content: [Platform updates for version 10.0.25 of Finance a

[2022-02-01 12:50] sericks007 commented on #3801
@gertvdh, thanks for letting us know!  The link has been fixed and will be published soon!

[2022-02-01 12:50] #3801 closed

[2022-02-01 12:51] sericks007 commented on #3802
@codingeugene, thanks for letting us know! The link has been fixed and will be published soon!

[2022-02-01 12:51] #3802 closed

[2022-02-01 17:44] scott-tucker opened #3805 "Can we remove the copy button from the code sample that is an 'example of what not to do'?"
Can we remove the copy button from the code sample that is an 'example of what not to do'?  We shouldn't make it easy to copy code we don't want implemented.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 530a3254-1e49-4d8d-f251-adb5285027a6
* Version Independent ID: a8d2499a-865c-a573-42f6-e32cbce7790f
* Content: [Cha

[2022-02-01 18:29] josephkmcohio commented on #3793
Erik - do you have the steps you can send me to configure the xml upload for positive pay?  We are testing 10.0.24 and need to validate the positive pay generating.

[2022-02-02 03:53] twhite-coles commented on #3124
Was this done? I can't see the updates on the page?

[2022-02-02 03:56] twhite-coles opened #3806 "Suggestion to update page with Org Roles"
Currently there are only explanations of Project Roles for LCS on this page. It would be helpful to document the Admin and Contributor Roles at an Org level and their associated permissions within LCS.

This was initially raised in https://github.com/MicrosoftDocs/dynamics-365-unified-operations-public/issues/3124, however it seems to have been closed.

---
#### Document Details

⚠ *Do not edit th

[2022-02-02 10:24] kamaybac commented on #3760
@blangero , I believe we have fixed this issue. We corrected the diagram and the numbers for item 5a. However, it looks like 2a and 2b should indeed be qty=1, cost=20, which matches the diagram, even though those values are different in the other examples.

[2022-02-02 10:24] #3760 closed

[2022-02-02 11:08] EvgenyPopovMBS commented on #3736
The documentation has been updated: [Print QR code images on OPOS printers](https://docs.microsoft.com/en-us/dynamics365/commerce/localizations/emea-sau-qr-code?tabs=commerce-10-0-25#print-qr-code-images-on-opos-printers).

[2022-02-02 13:47] sericks007 commented on #3806
@twhite-coles, thank you for providing this feedback again.  The PM who authors this topic is on maternity leave, so I will try to find someone else who can address it.

[2022-02-02 14:16] #3736 closed

[2022-02-02 17:07] Sihongf opened #3807 "when will this available for preview?"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2f09e8fa-e5dc-2e5d-3613-c6b4f6d7191a
* Version Independent ID: 2f09e8fa-e5dc-2e5d-3613-c6b4f6d7191a
* Content: [Run custom X++ scripts with zero downtime - Finance & Operations | Dynamics 365](https://docs.microsoft.com/en-us/dynamics365/fin-ops-core/

[2022-02-02 17:15] sericks007 commented on #3807
This feature is available with version 10.0.25, which is available for preview now.  For more information, see [Platform updates for version 10.0.25 of Finance and Operations apps  (April 2022)](https://docs.microsoft.com/en-us/dynamics365/fin-ops-core/dev-itpro/get-started/whats-new-platform-updates-10-0-25).

[2022-02-02 23:25] Sihongf commented on #3807
thanks, I have 10.0.25. Is there any configuration/feature to enable it?

[2022-02-03 12:36] sericks007 commented on #3807
@AndersEvenGirke, please answer the questions above.

[2022-02-03 22:19] FunctionalConsultantsthatCode commented on #3807
I see the code in 10.0.25 preview release and the AppConsistencyCustomScriptFlight is enabled in Flighting in the database. but looking at the code they have not added it to the main menu structure. Note I am using a one box environment. you can open forms directly but they are missing objects
?f=appconsistencycustomscriptlistpage
?f=appconsistencycustomscriptupload&cmp=USMF
?f=appconsistencycusto

[2022-02-04 14:19] josephkmcohio opened #3808 "BAI2 Set up for 10.0.24"
Is this documentation up to date for 10.0.24?  We have applied this release to a UAT environment and I am unable to get the Bank Statement format to load as a new filed called "Import format configuration" is required but the underlying drop down table is blank.

[2022-02-04 15:46] sericks007 commented on #3808
@josephkmcohio, which documentation article are you referring to?  Could you please provide a link to the article.

[2022-02-04 15:48] josephkmcohio commented on #3808
https://docs.microsoft.com/en-us/dynamics365/finance/cash-bank-management/set-up-advanced-bank-reconciliation-import-process

I’m following the instructions in this article in 10.0.24 and am being required to enter an Import format configuration but the drop down in the field is blank.

***@***.***

From: Sally Erickson ***@***.***>
Sent: Friday, February 4, 2022 10:46 AM
To: MicrosoftDocs/dynamic

[2022-02-04 16:09] sericks007 commented on #3808
@josephkmcohio, thank you for providing the link!

@panolte, please respond and update the content, if needed.

[2022-02-04 17:39] kfend commented on #3792
Created bug 656106 to track this issue.

[2022-02-04 17:44] kfend commented on #3791
Created bug 656111 to track this issue.

[2022-02-04 18:00] kfend commented on #3790
Created bug 656115 to track this issue.

[2022-02-04 18:09] kfend commented on #3782
Created bug 656120 to track this issue.

[2022-02-04 18:10] #3783 closed

[2022-02-04 18:10] #3789 closed

[2022-02-04 18:14] kfend commented on #3784
Created bug 656123 to track this issue.

[2022-02-04 18:17] kfend commented on #3785
Created bug 656126 to track this issue.

[2022-02-04 18:20] kfend commented on #3787
Created bug 656127 to track this issue.

[2022-02-04 18:22] kfend commented on #3793
Created bug 656130 to track this issue.

[2022-02-04 20:20] josaw1 commented on #3782
@samjarawan does this topic need to be removed?

[2022-02-04 21:41] hanayk opened #3810 "Additional information that can help if added to the FAQ"
Can we get more information in the  FAQ section regarding the deployments of Tier1 environments deployed via LCS. Specifically as below
1) Can we Join the VMs to Azure AD domain as its is currently deployed in a workgroup?
2) Is there a way to hide the local accounts password for the built in accounts visible on LCS for RDP for other users.
    Currently the only way is to give the user " project

[2022-02-04 22:48] sericks007 commented on #3810
@hanayk, thank you for providing this feedback.

@laneswenka, please review and update the content, as needed.

[2022-02-07 06:38] NCramProdware opened #3811 "Bad formatting leads to steps being difficult to follow"
[Enter feedback here]
"Set up functional location lifecycle states" from point 6 is embedded in the Note

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b0d710a0-e7ea-efcc-c72a-2ca81477e2a7
* Version Independent ID: fb14fb88-8fc9-cd1e-4a98-8f07f69041eb
* Content: [Functional location lifecycle states - Supply Chain Mana

[2022-02-07 06:41] NCramProdware opened #3812 ""Dispose off" should read "Dispose of" in architecture diagram"
[Enter feedback here]
"Dispose off fixed assets" in the "Retire" column should read "Dispose of fixed assets" (English vocabulary error).

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c114fcd0-5df8-6b4d-bd96-909e62dc3267
* Version Independent ID: af3b83d7-2bcf-38c3-1974-c8f0da8ad032
* Content: [Asset management overvi

[2022-02-07 08:41] BasvGMRN opened #3813 "Incorrect link tot sysflighting"
In the prerequisites section a link is shared which brings the user to the Data Management sysflighting documentation - it does not link to generic or asset management sysflighting documentation.

"
[Turn on flight](https://docs.microsoft.com/en-us/dynamics365/fin-ops-core/dev-itpro/data-entities/data-entities-data-packages#features-flighted-in-data-management-and-enabling-flighted-features) for t

[2022-02-07 13:39] BasvGMRN opened #3814 "New-AzureADServicePrincipal -AppId 0cdb527f-a8d1-4bf8-9436-b352c68682b2 gives Authorization_RequestDenied"
Following the steps for validating/creating App ID

In the Azure portal, on the toolbar, select the button to open Azure Cloud Shell.
Run the command Install-Module AzureAD. Enter Y to install the module.
Run the command Get-InstalledModule -Name "AzureAD" to verify that the module is installed.
Run the command Connect-AzureAD -Confirm to run the authentication.
Run the command New-AzureADServiceP

[2022-02-07 13:59] twheeloc commented on #3811
@NCramProdware, thank you for providing this feedback.

The topic will be updated.

[2022-02-07 13:59] #3811 closed

[2022-02-07 14:02] twheeloc commented on #3812
@NCramProdware, thank you for providing this feedback.

@johanhoffmann, please review and update the content, as needed.

[2022-02-07 14:05] twheeloc commented on #3813
@BasvGMRN, thank you for providing this feedback.

@johanhoffmann, please review and update the content, as needed.

[2022-02-07 15:08] sericks007 commented on #3805
@mugunthanm, please review and update the content, as needed.  Bug 656388 has been logged to track this issue.

[2022-02-07 15:16] #3807 closed

[2022-02-07 15:21] sericks007 commented on #3808
Bug 656390 has been logged to track this work.

[2022-02-07 15:25] sericks007 commented on #3810
Bug 13221834 has been logged to track this issue.

[2022-02-07 15:39] danbudimir opened #3815 "BYOD Create clustered column store Indexes not working for user with default schema other than dbo"
line 871 DMFEntityDBHelper.cs, the statement on this line is bound to "DMFConstant.DefaultDbSchema", this is dbo.
In the event the user is defaulted to a different schema, this fails because the table has been created in the schema the user is bound to.
e.g. (from SQL trace)

CREATE TABLE [byod].[Tax1099FieldsStaging](...
CREATE CLUSTERED COLUMNSTORE INDEX CCI_Tax1099FieldsStaging ON dbo.Tax1099Fi

[2022-02-07 18:05] RicLund opened #3816 "Diagram uses "Common data service" - should be "Dataverse""
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 036570ee-85fa-8449-be1c-a5e8755e175c
* Version Independent ID: 2468c8f9-0814-ded0-c6dd-879851a4b9e1
* Content: [Dual-write overview - Finance & Operations | Dynamics 365](https://docs.microsoft.com/en-us/dynamics365/fin-ops-core/dev-itpro/data-entitie

[2022-02-07 18:15] twheeloc commented on #3816
@RicLund, thank you for the feedback.

@RamaKrishnamoorthy, please review and updated the content, as needed.

[2022-02-07 19:13] sericks007 commented on #3808
Please contact Microsoft Support for your issue.  To contact Support, consider one of the options described here: [Support contact options](https://docs.microsoft.com/en-us/dynamics365/unified-operations/dev-itpro/lifecycle-services/lcs-support).

[2022-02-07 19:13] #3808 closed

[2022-02-07 22:23] twheeloc commented on #3814
@BasvGMRN, thank you for providing this feedback.

@kamaybac, please review and updated the content as needed.

[2022-02-08 08:20] cn12xewo opened #3817 "Enable loopback exemption for sealed MPOS"
Hello dear team,

We wanted to install the sealed MPOS in a VM with self-hosted CSU. The problem we had for a long time was that the sealed MPOS could not connect to the retail server. To fix this problem we had to enable a loopback exemption. Maybe this should be mentioned in the doc.

Many greetings

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟

[2022-02-08 13:23] torbennehmer opened #3819 "Validating Blank Dates"
Please validate the section about validating against blank dates. You're stating that one should compare against 1900, but this doesn't seem to work always, one example for this can be seen on Yammer these days:

https://www.yammer.com/dynamicsaxfeedbackprograms/#/Threads/show?threadId=1594212369743872

Maybe different Excel settings or locales make a difference here, I've had very strange effects

[2022-02-08 13:29] torbennehmer opened #3820 "Mention the possibility to catch .net Exceptions for X++ Exception ENum"
It is possible to catch an Exception::Error using a construct like this one:

[code]

Curtesy of http://dev.goshoom.net/2017/06/catching-exceptions-in-ax-7/

It would be great if this would be added to the docs as it allows more elaborate exception tracing when you don't have the throwing side under your control. Good for error reporting.

---
#### Document Details

⚠ *Do not edit this section. It

[2022-02-08 13:48] twheeloc commented on #3817
@cn12xewo, thank you for providing this feedback.

@jashanno, please review and updated the content as needed.

[2022-02-08 13:59] twheeloc commented on #3819
@torbennehmer, thank you for providing this feedback.

@FrankDahl, please review and updated the content as needed.

[2022-02-08 15:52] DevinSharp opened #3821 "Admin user provisioning tool should not have been removed from LCS deployments."
[Enter feedback here]

Why was the admin user provisioning tool removed from LCS deployed environments? If we perform a database restore from a higher environment where we don't have access (such as from prod), we lose access to our development environment and have to go add ourselves back in manually via SQL like it's 2012 again.

---
#### Document Details

⚠ *Do not edit this section. It is requ

[2022-02-08 16:38] ronsonntag54 opened #3822 "Need to know what Data Entity has the information indicating if a worker is a time registration worker or not"
[Enter feedback here]
Please provide the Data Entity that contains this time registration status (Yes/No? Something else?) Need to load thousands of records and need to know what Data Entity and what Field holds the information to indicate if a worker is time registration worker or not.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue li

[2022-02-08 18:35] twheeloc commented on #3822
Please contact Microsoft Support for your issue. To contact Support, consider one of the options described here: [Support contact options](https://docs.microsoft.com/en-us/dynamics365/unified-operations/dev-itpro/lifecycle-services/lcs-support).

[2022-02-08 18:35] #3822 closed

[2022-02-09 01:03] hanayk commented on #3810
Can we add another information to this document in the same section of FAQs

Are LCS deployed Tier 1 Vm's compatible/supported with Azure Bastion

[2022-02-09 06:51] oliverremo opened #3826 "Getting permission Denied."
[Enter feedback here]

We are getting error trying to use the API.
![image](https://user-images.githubusercontent.com/95265056/153137076-50057dcc-4da6-464f-a2a3-3521778da7b7.png)
we used reference: https://docs.microsoft.com/en-us/dynamics365/fin-ops-core/dev-itpro/database/api/dbmovement-api-authentication to generate the bearer token but still getting issue
---
#### Document Details

⚠ *Do not e

[2022-02-09 14:44] twheeloc commented on #3820
@torbennehmer, thank you for providing this feedback.

@jorisdg, please review and updated the content as needed.

[2022-02-09 14:53] twheeloc commented on #3821
@DevinSharp, thank you for providing this feedback.

@laneswenka, can you answer the above question?

[2022-02-09 14:56] twheeloc commented on #3826
Please contact Microsoft Support for your issue. To contact Support, consider one of the options described here: [Support contact options](https://docs.microsoft.com/en-us/dynamics365/unified-operations/dev-itpro/lifecycle-services/lcs-support).

[2022-02-09 14:56] #3826 closed

[2022-02-09 16:18] EvgenyPopovMBS commented on #3787
@Halldor10, thanks for the feedback. We will update this documentation when we implement the support for the new independent packaging and extension model, which is planned for one of the next updates.
As for the support of certificates with passwords, that's correct: the functionality does not support such certificates. If you need to use a certificate with a password, you have to implement a cus

[2022-02-09 17:54] kfend commented on #3793
Closing this as it has been sent to support.

[2022-02-09 17:54] #3793 closed

[2022-02-09 18:18] touraji opened #3828 "A few pieces of information in this article are wrong"
Currently, the article shows the following information that is wrong:

Create > Movement – Create and post a movement journal for the selected transaction. For under transactions, a movement journal is automatically created and posted for the difference between the expected and actual received quantity. **Select this command for over transactions if you want the vendor to realize the cost differen

[2022-02-09 21:14] twheeloc commented on #3828
@touraji, thank you for providing this feedback.

@sherry-zheng, please review and update the content as needed.

[2022-02-10 09:06] BeatVogel opened #3829 "super() call missing"
I believe in Step 3 in the example of the delete() method, the super call is missing.
It should be before the ttscommit.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e4d9c70c-d7e3-9c58-7b78-bdd04dde4dfe
* Version Independent ID: 8ac8877f-3968-3f5f-d05e-cf01aa42c358
* Content: [Make backing tables consumable as financ

[2022-02-10 13:53] twheeloc commented on #3829
@BeatVogel, thank you for providing this feedback.

@RyanCCarlson2, please review the feedback and update the content as needed.

[2022-02-11 01:53] mrlopezco opened #3830 "Enter comment to reset Data Mart"
After changing the financial dimension sequence, it is required to reset the Data Mart in order to see the changes in the reports.
Would be great to add this to the documentation. Thank you

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1e429cac-5092-03ec-71e4-425af9623908
* Version Independent ID: b88220bd-7b7c-2f9b-1

[2022-02-11 14:37] inove22 opened #3831 "Evento R-2020"
Por gentileza, detalhar a configuração do INSS - setup de código de imposto utilizado:

Evento R-2020 - Serviços fornecidos
O evento periódico R-2020 é usado para relatar, ao sistema da autoridade fiscal, as informações sobre os valores de retenção para a previdência social que estão presentes em notas fiscais de serviço emitidas pelos estabelecimentos fiscais de uma organização fiscal.

Esse even

[2022-02-11 14:38] inove22 opened #3832 "Evento R-2060 – INSS CPRB"
Favor detalhar o setup do imposto para INSS CPBR a forma de cálculo pela apuração.

Evento R-2060 – INSS CPRB

---
#### Detalhes do documento

⚠ *Não edite esta seção. É necessário para a vinculação do problema do docs.microsoft.com ➟ GitHub.*

* ID: b9408285-78ac-f1db-f32b-9471e58bc9fc
* Version Independent ID: f0837934-3afd-c665-2487-7b94b2d0c1ae
* Content: [Eventos SPED-Reinf - Finance | Dynami

[2022-02-11 14:53] twheeloc commented on #3830
@gersp, thank you for providing this feedback.

@RyanCCarlson2, please review the feedback and update the content as needed.

[2022-02-11 15:32] twheeloc commented on #3832
@inove22, thank you for providing this feedback.

@sndray, please review the feedback and update the content as needed.

[2022-02-11 18:47] vivimills commented on #3722
Submitted [Translation Feedback](https://dev.azure.com/bagie/Production/_workitems/edit/60971/) to partner LSP. Waiting for evaluation from the linguists.

[2022-02-11 20:34] RobvanB opened #3833 "warehouse app store link dead"
The link to the app store brings up the app, but when you click to install it says it cannot find it.
[Warehouse Management on Microsoft Store](https://www.microsoft.com/store/apps/9pd35cdqcmg3)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cc2ac844-c345-707a-b2e9-5d4edf7c8541
* Version Independent ID: ae6e65c3-c1e1-c

[2022-02-11 21:35] twheeloc commented on #3833
@RobvanB, thank you for providing this feedback.

@Mirzaab, please review the feedback and update the content as needed.

[2022-02-11 23:02] RyanCCarlson2 commented on #3830
Got it. Agree with the suggested comment. I'll review with the engineer to verify any other

[2022-02-14 05:39] sisbio opened #3834 "Purchase requisition schema sample is not generated from sample in Parse Json as described in this page"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 91d6f12b-8071-1e29-67e1-82d47562ee61
* Version Independent ID: e2c186f8-0701-fab1-c806-32632e8ad8b5
* Content: [Business events and workflow approvals - Finance & Operations | Dynamics 365](https://docs.microsoft.com/en-us/dynamics365/fin-ops-core/dev

[2022-02-14 05:43] Sunil-Garg commented on #3834
@Jared ***@***.***>
________________________________
From: sisbio ***@***.***>
Sent: Sunday, February 13, 2022 9:40:07 PM
To: MicrosoftDocs/dynamics-365-unified-operations-public ***@***.***>
Cc: Sunil Garg ***@***.***>; Mention ***@***.***>
Subject: [MicrosoftDocs/dynamics-365-unified-operations-public] Purchase requisition schema sample is not generated from sample in Parse Json as described in

[2022-02-14 06:56] sisbio commented on #3834
Ok, I got it. Schema is downloaded from D365 Finance and Operation in business events.

Jun Zeng | D365FO & Dynamics AX

Irvine, CA 92620, USA | +1 949.208.6170

***@***.***>/blog

 [cid:f7822f17-3f89-4f9e-a496-837e6f1844b2] <https://www.linkedin.com/in/junzeng/>

________________________________
From: Sunil Garg ***@***.***>
Sent: Sunday, February 13, 2022 9:43 PM
To: MicrosoftDocs/dynamics-365-u

[2022-02-14 14:11] anboudin opened #3835 "Error on Account receivable with reverse charge"
in document,  it is written **_If the sales tax code is reverse charge, then sales tax direction is Sales Tax Receivable._**
I reverse charge is setup, no tax direction is modified.
from PM feedback, the document is wrong.

can you please update the document to avoid customer confusion and misused on reverse charge?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.m

[2022-02-14 17:00] #3834 closed

[2022-02-14 17:14] tonyafehr commented on #3835
@anboudin, thanks for the feedback. @EricWangChen, please review and make needed updates to this topic.

[2022-02-15 11:46] harishmohanbabu opened #3836 "Limited role for Power Platform integration"
The 'Note' section in this article states _**" a more limited role for this integration will eventually be added to Azure AD ... "**._

Can you advise when this new role would be made available, please?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ae234693-3a0a-d25c-ecd1-abd01ad7580f
* Version Independent ID: ae23469

[2022-02-15 13:33] lukasnimberger opened #3837 "Resources in Visual Studio"
Hello,

this page says "You can find the required resource files under the Resources node in Application Explorer in Microsoft Visual Studio." Could you please add more details about where exactly I can find the necessary files in Visual Studio? Or add a link to some other manual?

Thank you,
Lukas

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ Git

[2022-02-15 14:10] #3680 closed

[2022-02-15 14:32] tonyafehr commented on #3836
@jaredha, please review this feedback. Thanks!

[2022-02-15 14:33] tonyafehr commented on #3837
@lukasnimberger, thanks for your inquiry. @panolte, please review.

[2022-02-15 14:35] #3751 closed

[2022-02-15 22:40] laneswenka commented on #3473
Thanks! Will update accordingly, it appears these were only applicable to Microsoft Managed vs Self-service as you mention

[2022-02-16 10:00] soerenpc opened #3839 "Extensions?"
What about a section on how-to extend this (with code)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 35765cda-23fb-5b94-0856-7002e37dadd3
* Version Independent ID: 82c39d58-a4e3-4562-53ab-131b831ec987
* Content: [Archive inventory transactions - Supply Chain Management | Dynamics 365](https://docs.microsoft.com/en-us/

[2022-02-16 11:43] cschreuderhsoint opened #3841 "Dual-write organization hierarchy wording update"
Just some content to be fixed.

1. Description under **Templates** header refers to products.
2. First row in table, legal entities to cdm_companies; the description is wrong as this is not a bidirectional sync.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f50014f8-3ee8-a3ba-e5aa-41c83ec1ba41
* Version Independent ID

[2022-02-16 14:32] jkbirch opened #3842 "Documentation Incorrect - Grace days may be simultaneously set up and not set up for posting checkpoints"
[Enter feedback here]
The documentation on the page appears to be incorrect or out of date. The following statement does not appear to be true: "You can't specify grace days for some posting checkpoints but not for others. You must set up all posting checkpoints so that they have grace days, or you must set them all up so that they don't have grace days." In the Contoso environment in the USMF com

[2022-02-16 14:44] tonyafehr commented on #3842
@jkbirch, thank you for the feedback. @JodiChristiansen, please review.

[2022-02-16 14:58] tonyafehr commented on #3839
@soerenpc, thanks for the feedback. @yufei-huang, please review and make updates as needed.

[2022-02-16 16:47] akaradagi opened #3843 "German translation "Beispiel - Eingang einer Einkaufsbestellung""
[Feedback:
translation needs to be corrected:
instead of
<html>
<body>

Lagerort | Lagerplatz-Profilkennung | Artikelnummer | Größe | Leistung | Einheit
-- | -- | -- | -- | -- | --
24 | FLOOR | D0013 | Mo | 300 | St.
24 | FLOOR | D0013 | L | 240 | St.
24 | FLOOR | D0013 | Sa | 360 | St.

</body>
</html>
better:
<html>
<body>

Lagerort | Lagerplatz-Profilkennung | Artikelnummer | Größe | Menge | Ei

[2022-02-17 01:06] JodiChristiansen commented on #3842
Thank you for the feedback. The documentation has been updated to make this more clear.

[2022-02-17 13:47] #3842 closed

[2022-02-18 00:12] vivimills commented on #3843
Waiting for feedback from de-DE linguists. Translation feedback logged [here](https://dev.azure.com/bagie/Production/_workitems/edit/61186/).

[2022-02-18 09:37] anboudin opened #3848 "Comment we recieved several cases where customer apply reverse charge directly on ledger account."
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 687a84b6-c1d1-6141-4175-8aa8860d05db
* Version Independent ID: f70b95f2-8312-7165-6673-f353d0627d81
* Content: [Reverse charge mechanism for VAT/GST scheme - Finance | Dynamics 365](https://docs.microsoft.com/en-us/dynamics365/finance/localizations/em

[2022-02-18 14:10] tonyafehr commented on #3848
@anboudin, thanks for the feedback. @epodkolz, please review and consider making updates.

[2022-02-18 14:13] #3391 closed

[2022-02-18 14:14] epodkolz commented on #3848
@anboudin, Could you please elaborate on the limitation? The reverse charge functionality is built on top of the core tax – and in core tax engine supports posting to ledger account.
Thank you!

[2022-02-18 14:59] anboudin commented on #3848
We explain to customer that tax calculation will be done correctly if vendor is in journal.

As we have several cases with same scenario reported, may be could be good to specify it
I know process is not expected, but can be good to add it on MS documentation.

***@***.***
***@***.***

Cordialement/Best Regards
Annaick
Tel: +33 15775 7012

[MSFT_logo_Gray DE sized SIG1.png]

Team Manager | Marwa I

[2022-02-18 17:20] vivimills commented on #3722
The ja-JP linguists evaluated this issue and categorized it as a stylistic preference. They have suggested keeping the term as updating means extensive changes to the localized material.

[2022-02-22 17:01] 12sherif opened #3850 "I know everything"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9f52ca32-9862-69bd-d088-a38423b31486
* Version Independent ID: 1f0602d1-34a9-801e-1bb5-8bd82c49dd80
* Content: [Accounts receivable home page - Finance | Dynamics 365](https://docs.microsoft.com/en-us/dynamics365/finance/accounts-receivable/accounts-r

[2022-02-22 17:58] jlabustro opened #3851 "does the Warehouse mobile device user role require a dynamics 365 license?"
does the Warehouse mobile device user role require a dynamics 365 license? Thank you

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a5522e9c-48f4-0185-3e23-d56b9fd37e03
* Version Independent ID: 871c5530-6c5c-95ac-1df5-3ee5f0934e48
* Content: [Mobile device user settings - Supply Chain Management | Dynamics 365](https:

[2022-02-22 19:01] twheeloc commented on #3851
@jlabustro, Thanks for contacting us. Unfortunately, we're unable to handle Support requests for the product here. To contact Support, consider one of the options described here: [Support contact options](https://docs.microsoft.com/en-us/dynamics365/unified-operations/dev-itpro/lifecycle-services/lcs-support).

[2022-02-22 19:02] #3851 closed

[2022-02-22 19:44] tonyafehr commented on #3837
Bug 660442 created to track this issue.

[2022-02-22 19:44] tonyafehr commented on #3836
Bug 660438 created to track this issue.

[2022-02-22 19:45] tonyafehr commented on #3835
Bug 660437 created to track this issue.

[2022-02-22 19:50] tonyafehr commented on #3841
Bug 660445 created to track this issue.

[2022-02-22 19:50] tonyafehr commented on #3839
Bug 660444 created to track this issue.

[2022-02-22 19:52] #3848 closed

[2022-02-23 12:55] andyNewnham opened #3852 "Wrong section/title and update for deprecation of vs2017-win2016 build agent"
Title of the article is 'Commerce SDK' however the content is specifically for the legacy 'RetailSDK'. I believe the article should also be moved under the folder 'Retail SDK (Legacy)' to avoid confusion.

The first paragraph states: 'To generate the build for Retail SDK, a dedicated build machine isn't required' - As of March 2022, with the deprecation of the vs2017-win2016 build agent, this is n

[2022-02-23 14:07] UbaidUrRehmannn opened #3853 "Setting order attribute issue."
I had a task where I have to change the order attribute on click or before checking out. I used OnClick on checkout as a guest button and used the code mentioned in this article label as JavaScript. when I used that function it gave me too many errors.

I solved all of them most of them are imports but the main issue is "GetCheckoutCartInput(this.props.context.request.apiSettings), newCart)" this

[2022-02-23 14:11] twheeloc commented on #3852
@andyNewnham, thank you for providing this feedback.

@mugunthanm, please review the feedback and update the content as needed.

[2022-02-23 14:43] akaradagi opened #3854 "rebate management method "Rate""
[Feedback:  I propose to alter the following for the rebate management method documentation. The "rate" rebate management method seems to work per article in an order:
old:
<html>
<body>

Rebate management method | This field is available only for deals where the Rebate output field on the header is set to Financial. Select the method to use to calculate the rebate:Fixed – A fixed price amount is

[2022-02-23 15:22] twheeloc commented on #3853
@UbaidUrRehmannn, thank you for providing this feedback.

@mugunthanm, please review the feedback and update the content as needed.

[2022-02-23 15:24] twheeloc commented on #3854
@akaradagi, thank you for providing this feedback.

@sherry-zheng, please review this feedback and update the content as needed.

[2022-02-24 08:19] Kai-Cloud commented on #3835
Hi, the related statement (and diagram) has been removed via [PR 13216](https://github.com/MicrosoftDocs/Dynamics-365-Operations/pull/13216)

[2022-02-24 13:57] #3835 closed

[2022-02-24 14:31] MSFTRANDY opened #3855 "Old information -"
I believe this page is for the old way of publishing products to our SharePoint integrated online store solution and not the new ecommerce solution.  This should be pointed out as to not confuse customers and Partners who are trying to follow this document to configure catalogs with our newer ecommerce solution only to find out it doesn't work.

---
#### Document Details

⚠ *Do not edit this secti

[2022-02-24 15:33] twheeloc commented on #3855
@MSFTRANDY, thank you for providing this feedback.

@mugunthanm, please review the feedback and update the content as needed.

[2022-02-24 19:45] danbudimir opened #3856 "Parallell imports explanation is incorrect, or at the very least misleading"
[Parallel imports](https://docs.microsoft.com/en-us/dynamics365/fin-ops-core/dev-itpro/data-entities/data-import-export-job#parallel-imports)

This explanation is incorrect, or at the very least, misleading, it leads the reader to believe that the threshold is actually the number of records that will be processed by each task.  There are several blog posts, etc. by non MS folks out there that are

[2022-02-24 21:57] twheeloc commented on #3856
@danbudimir, thank you for providing this feedback.

@Peakerbl, please review the feedback and update the content as needed.

[2022-02-25 07:57] d47447 opened #3857 "Wrong reference of "Enabel access""
[Enter feedback here]

In this page section ""Environment lifecycle operations". There is point for "Enable access" on dev box which is not availabel any more on LCS. Please check and udpa the article accordingly.

Many Thanks
Deepak
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5080f3d7-0ad1-940c-284a-92008d7c19d5
* V

[2022-02-25 10:53] andypicking opened #3858 "Deprecation notice is inconsistent with replacement feature availability"
The notice at this point on the page https://docs.microsoft.com/en-us/dynamics365/supply-chain/get-started/removed-deprecated-features-scm-updates#use-of-built-in-supply-chain-management-master-planning-engine-for-manufacturing-scenarios

is inconsistent with  replacement feature availability on this page

https://docs.microsoft.com/en-us/dynamics365/supply-chain/master-planning/planning-optimizat

[2022-02-25 14:03] twheeloc commented on #3857
@d47447, thank you for providing feedback.

@laneswenka, please review this feedback and update the content as needed.

[2022-02-25 14:05] twheeloc commented on #3858
@andypicking, thank you for providing this feedback.

@kamaybac, please review this feedback and update the content as needed.

[2022-02-25 17:39] fraga opened #3859 "Database movement toolkit deprecated"
If you try to find 'Database movement toolkit' in the shared asset library, it is marked as [deprecated].

The reference to Database movement toolkit is deprecated, also confusion between what this tool provides between AX 2012 and D365.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 535ac104-5b8d-4b49-694f-46632156417

[2022-02-25 21:33] mugunthanm commented on #3855
Adding @ashishmsft to help with this.

[2022-02-25 21:35] twheeloc commented on #3859
@fraga, thank you for providing this feedback.

@laneswenka, please review the feedback and update the content as needed.

[2022-02-25 21:39] mugunthanm commented on #3853
Adding @samjarawan to help with this.

[2022-02-25 21:54] mugunthanm commented on #3852
@andyNewnham - Thanks for the feedback, updated the docs.

[2022-02-28 10:44] lukasnimberger opened #3864 "Mandatory fields for VAT declaration (CZ)"
Hello,
 I am currently defining VAT declaration for CZ and even though some mandatory fields are part of the configuration (e.g. zast_kod, zast_typ etc.), they are disabled and I don't know why and how to potentially bring them out.
These fields are not even specified in this documentation.
E.g. when the taxpayer type is Organization, we must define also type of the signatory person details zast_t

[2022-02-28 10:47] Kielkenny opened #3865 "Further clarification needed for cloud powered search overview"
"Product discoverability helps guarantee that customers can quickly and easily find products by browsing categories, searching, and filtering. Retailers consider product discovery a primary tool for customer interaction across all channels."

should be changed to something like:

"Product discoverability helps guarantee that customers can quickly and easily find products by browsing categories, se

[2022-02-28 10:55] andyNewnham opened #3866 "Does any of this still apply with new CommerceSDK?"
Could Microsoft confirm if this still applies with the new CommerceSDK (as dllhost is no more?). Are there now any additional steps to activate a customized MPOS?

If not, this page should be updated to confirm it applies only to legacy RetailSDK extensions.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9cde75a6-0a4d-

[2022-02-28 11:55] lukasnimberger commented on #3864
Hi,

could you please direct me to the page where I can raise the service request? Thank you.

[2022-02-28 12:09] Anasyash commented on #3864
I think you should open it in LCS https://lcs.dynamics.com/v2

[2022-02-28 14:12] tonyafehr commented on #3837
@lukasnimberger, this was reviewed. The documentation is correct and Microsoft Visual Studio works as expected. The details can be found in the "Samples files" section of [Set up the advanced bank reconciliation import process](https://docs.microsoft.com/dynamics365/finance/cash-bank-management/set-up-advanced-bank-reconciliation-import-process).

[2022-02-28 14:12] #3837 closed

[2022-03-01 04:47] iangorman2020 opened #3868 "Calculate average unit cost description is incorrect"
[Enter feedback here]

You have this statement for calculate average unit cost:

Calculate average unit cost – Set this option to Yes to display a column that shows the average unit cost. The average unit cost is the total quantity divided by the total amount.

It is the total amount / total quantity, not quantity / total amount.

e.g., 10 units @ $50 each = $500

$500/10 = $50/ea

Not

10/$500

-

[2022-03-01 07:53] Beelzenef commented on #3574
hello there!

I see that this issue was first marked as not-an-issue, but then a bug was created to track the progress.... is there any progress on this topic? We had no news since September 🔍

[2022-03-01 09:13] davidop commented on #3574
I am also very interested in knowing about the progress of this topic.

[2022-03-01 12:33] MichaelC-SSS commented on #423
Pardon my ignorance and necromancy, why is it better to install the DRA on non-print servers? Have you seen any performance impact or is it just the one less step (having to set up the server as a print server over X servers)?

[2022-03-01 14:03] tonyafehr commented on #3841
This topic has been updated. Thanks!

[2022-03-01 14:03] #3841 closed

[2022-03-01 20:49] sisbio opened #3869 "customer.driversLicense"
[Enter feedback here]
FMLabCustomerEntity > field > DriversLicense  ( in this page, missing "S" in copy coding for testing this entity, it is not DriverLicense, should be DriversLicense

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 67eb6eeb-d9fc-4e83-6282-fff9783b1466
* Version Independent ID: f16158fb-2a9b-6429-dd3e-

[2022-03-02 12:51] sericks007 commented on #3869
@sisbio, thank you for pointing this out! The content has been updated to correct this issue. Thanks again!

[2022-03-02 12:51] #3869 closed

[2022-03-02 21:04] vivimills commented on #3843
The de-DE linguists reviewed the feedback and [have implemented the changes throughout] (https://docs.microsoft.com/de-de/dynamics365/supply-chain/warehousing/location-stocking-limits). This issue can be closed.

[2022-03-03 10:04] alneacsu opened #3870 "Application users"
As Application users are no longer available in Security > Users this page needs to be updated.
How can we check the application users now?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 41b5f77e-bafb-cd00-8d36-76f3a8c9ef20
* Version Independent ID: 4a17fd17-39c6-7dd8-82ed-858c6ddaec73
* Content: [Set up the mapping fo

[2022-03-03 12:55] kamaybac commented on #3864
@lukasnimberger , thank you for sending your feedback. It looks like this is actually a service request, so I am closing this as a documentation issue. Please let us know if there is still a documentation issue here that you would like to have addressed. Thanks.

[2022-03-03 12:55] #3864 closed

[2022-03-03 12:59] kamaybac commented on #3865
@Kielkenny  , thank you for contacting us regarding this help topic. I have passed your comment on to the author for consideration.

[2022-03-03 13:09] kamaybac commented on #3868
@iangorman2020 , thank you for reporting that error. I have updated the topic as you suggested and the fix should go live later today.

[2022-03-03 13:09] #3868 closed

[2022-03-03 13:18] kamaybac commented on #3870
@alneacsu  , thank you for contacting us regarding this help topic. I have passed your comment on to the author for consideration.

[2022-03-03 13:28] kamaybac commented on #3764
@tonyafehr , I went ahead and implemented this as Frank suggested and closed this issue.

[2022-03-03 13:28] #3764 closed

[2022-03-03 13:32] kamaybac commented on #3766
Bug 662870 created to track this issue.

[2022-03-03 13:37] kamaybac commented on #3767
The "buggy" article for which this issue applies has been replaced with a link to the updated version, as suggested in this conversation thread. Therefore, I am closing this issue.

[2022-03-03 13:37] #3767 closed

[2022-03-03 13:48] kamaybac commented on #3770
Bug 662876 created to track this issue.

[2022-03-03 13:56] kamaybac commented on #3775
Bug 662877 created to track this issue

[2022-03-04 10:50] illese opened #3873 "The described method in the article how to debug is not working you get an authentication failure"
[Enter feedback here]
If you follow this article, you will get a AADSTS50011: The reply URL specified in the request does not match the reply URLs configured for the application: '00000015-0000-0000-c000-000000000000'
Most probably the reply address needs to be modified in AAD

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

*

[2022-03-04 15:19] #2549 closed

[2022-03-04 22:00] mugunthanm commented on #3805
@scott-tucker - Not sure there is an easy way to disable the copy button, these are auto generated.

[2022-03-05 16:25] jasongre commented on #3775
@simonefinotti Thanks for the feedback. I've added some more details to the article. In particular, columns who values are computed by code (and aren't represented as fields in a SQL table) are not filterable or sortable. Display/data methods are prime examples of columns that cannot be filtered or sorted on.

[2022-03-05 16:34] jasongre commented on #3694
Thanks, @SteffenEngelhardt, for reporting this! The corrected documentation should be available shortly.

[2022-03-06 22:05] danbudimir opened #3874 "Build pipeline .\BuildTools\nugetRestore.ps1 fails if path to msbuild is not at the top of the list for the Path environment variable."
https://docs.microsoft.com/en-us/dynamics365/commerce/dev-itpro/retail-sdk/sdk-build-pipeline#set-up-an-azure-devops-build-pipeline-that-uses-a-build-machine

**Nuget restore** that runs in .\BuildTools\nugetRestore.ps1 relies on msbuild.  Even if you have set the msbuild step in the pipeline to use **"15.0"** and added an entry to the environment path to include C:\Program Files(x86)\Microsoft Vi

[2022-03-07 09:24] #3775 closed

[2022-03-07 09:26] kamaybac commented on #3873
@illese, thank you for contacting us regarding this help topic. I have passed your comment on to the author for consideration.

[2022-03-07 18:45] #3805 closed

[2022-03-08 15:16] ThomasSchadenhofer opened #3879 "DimensionCanCopyValuesOnCreate - copy values to this dimension"
To activate (make option editable) on control "Copy values to this dimension on each new %1 created"  (control-Name: "DimensionAttribute_CopyValuesOnCreate" / form: "DimensionDetails"), you have to add the following code to your view (like done on view "DimAttributeBankAccountTable":

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub iss

[2022-03-08 15:22] ThomasSchadenhofer commented on #3879
already in doc available

[2022-03-08 17:57] andypicking opened #3880 "Couple of inaccuracies in the system setup for coupons section"
For Step 5 there is no bar code tab, you have to add the Coupon bar code mask on the Coupons fast tab , on the prices and discounts tab within Commerce parameters.
For step 6 - the 3 number sequence codes are on the number sequence tab on the commerce parameters page and not on the commerce shared parameters page

The above apply to product version 10.0.22

---
#### Document Details

⚠ *Do not edi

[2022-03-09 02:42] DKobayashi-ykgw opened #3881 "Typo Link text to 10.0.26"
Typo Link text to 10.0.26. Please fix "Platform updates for version 10.0.25 of Finance and Operations apps" to  "Platform updates for version 10.0.26 of Finance and Operations apps".

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 70e7efc9-280c-45da-2540-48441132e59f
* Version Independent ID: 38352051-813f-ee76-bcdb-490

[2022-03-09 12:50] sericks007 commented on #3881
@DKobayashi-ykgw, thank you for pointing this out!  I've fixed the typo and the update will be published soon.

[2022-03-09 12:50] #3881 closed

[2022-03-10 07:25] P-Chon opened #3883 "In Validate expected values using operators section, I try to use less than (<) and greater than (>) but RSAT is not recognized for comparison operations."
Hi feedback team,

I have a problem in Validate expected values using operators section.

I try to use less than (<) and greater than (>) but RSAT is not recognized for comparison operations.

I need to know sign that use in case less than and greater than on RSAT.

Error message:
Status: Test case failed.

(Details are also in the attached base log file (Test)_Create_customer_v3_297_BaseLog.txt)

[2022-03-10 09:44] alneacsu opened #3885 "Is DMFBatchExporter class retry-able?"
The class can be used to retry as it implements the interface

![image](https://user-images.githubusercontent.com/95413886/157634821-90b4c85f-ee85-4318-bcb8-b69360d1acf5.png)

But we return false in the method which will not allow this to retry.

![image](https://user-images.githubusercontent.com/95413886/157634892-fa4611fb-ce58-4cc4-878f-a0b3489250e6.png)

So to confirm, rather confusingly, this

[2022-03-10 14:29] kfend commented on #3880
@andypicking - Thank you for the feedback.
@josaw1 - Can you please take a look at this and update the topic as needed? Thanks!

[2022-03-10 15:02] TimoTenni opened #3886 "Data on this page will be outdated today (10th of February)"
Please add on this page clear statement like:
This page describes the VAT reporting setup for sales tax posted in year 2021 and earlier. Norway got new VAT declaration starting in 01.01.2022 - [VAT return with direct submission to Altinn](https://docs.microsoft.com/en-us/dynamics365/finance/localizations/emea-nor-vat-return)

---
#### Document Details

⚠ *Do not edit this section. It is required f

[2022-03-11 17:37] danbudimir commented on #3856
@Peakerbl , where are we at with this?  Inquiring minds want to know. :-)

[2022-03-11 23:14] DKobayashi-ykgw opened #3889 "Wrong link to release plan on feature 'Planning Optimization centralized calendar maintenance'"
Wrong link to release plan on feature 'Planning Optimization centralized calendar maintenance'.
The link (//dynamics365-release-plan/2022wave1/finance-operations/dynamics365-supply-chain-management/planning-optimization-centralized-calendar-maintenance)
should fix to (/dynamics365-release-plan/2022wave1/finance-operations/dynamics365-supply-chain-management/planning-optimization-centralized-calend