[2020-05-13 10:17] kamaybac commented on #2397
@wojzeh , I suspect you may mean this:

![image](https://user-images.githubusercontent.com/26439921/81800781-adbd4100-9513-11ea-81bf-2eb64f99fa61.png)

[2020-05-13 10:45] thanhnhankmt commented on #2120
How can i sign up preview subscription? It is not available now

[2020-05-13 12:02] sericks007 commented on #2400
@GauravGupta-MS, thank you for the feedback.

@Anasyash, please review and respond to the questions.

[2020-05-13 12:05] sericks007 commented on #2401
@axaeffect, thank you for the feedback.

@TJVass, please review and update the content, as needed.

[2020-05-13 13:13] wojzeh commented on #2397
The last one. There is no component D at all

[2020-05-13 13:57] kamaybac commented on #2397
@wojzeh , thanks for pointing this out. I fixed the image and the update should be live very soon.

[2020-05-13 13:57] #2397 closed

[2020-05-13 15:02] faix commented on #2377
@josaw1, doc has been updated. Please feel free to close.

[2020-05-13 15:31] faix commented on #2390
No, i do not think that this approach would work. Please look at hybrid scenarios using AD FS. These could **maybe** work, but they are unsupported.

[2020-05-13 17:43] SamRonchetti opened #2403 "Specify when this workflow is used through activation conditions - Test button"
Hiya,

The test button is not available in D365 F&O as mentioned in bullet point 6 onward in the "Specify when this workflow is used through activation conditions" section.

Regards

Sam :)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f3b1e278-d76d-5d8e-b247-0ba874f8a347
* Version Independent ID: 4554bc65-9fb6-c38c-d

[2020-05-13 18:06] sericks007 commented on #2403
@SamRonchetti, thanks for posting this!

@ChrisGarty, please review and update the content, as needed.

[2020-05-13 19:32] rsantana123 opened #2404 "Broken link in "What is affected" section."
The link to download the pre-requisite "sdk-2.1.513-windows-x64-installer" in the "Migrate to the SDK for Visual Studio 2017" section seems to be broken. All of the other links work correctly.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 776f646a-f316-8c84-d190-57ecd88547a0
* Version Independent ID: 80208288-e39f-bac

[2020-05-14 00:31] shereen-yong commented on #2390
@faix  alright thank you

[2020-05-14 14:26] Halldor10 opened #2406 "Handling if <add name="ext.AppInsightsKey" value=""/>"
If value is set as "" for the AppInsightsKey, in the config file, it creates a null value exception.

code now:
string key = context.Runtime.Configuration.GetSettingValue("ext.AppInsightsKey");
suggested code:
string key = context.Runtime.Configuration.GetSettingValue("ext.AppInsightsKey") ?? "";

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHu

[2020-05-14 15:00] #1550 closed

[2020-05-14 15:25] bstorie opened #2407 "Steps for Creating the Azure Application in the Azure Portal are no long accurate"
The steps for creating the Azure Application Registration are now longer accurate.   The Azure Portal no longer has a settings option after creating the Application.    This section of the document needs review and updating to reflect the changes that were introduced in the Azure Portal.

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microso

[2020-05-14 17:41] mrolecki commented on #2346
Thank you for finding time to share your feedback. We understand this functionality might applicable after some enhancements for multiple countries and opening it would be potentially beneficial but as of now it is not considered in the product roadmap. As it’s more of a feature request \ suggestion kind, I would encourage you to log a idea at [https://experience.dynamics.com/](https://experience.

[2020-05-14 17:58] #2346 closed

[2020-05-14 18:12] maismail87 opened #2408 "This feature is forced for all the users that will use "Ship all products and Ship selected products"."
There is no way to turn of/on this feature which will give all the users with access to "Ship all products and Ship selected products" POS operation the ability to select different location to ship item from.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 65cfaa02-4ac6-b282-5df5-b2ee9cf493c1
* Version Independent ID: f

[2020-05-14 19:20] josaw1 commented on #2404
Thank you for your feedback. @mugunthanm can you please update the link?

[2020-05-14 19:21] josaw1 commented on #2406
Thank you for your feedback. @mugunthanm can you please take a look?

[2020-05-14 19:22] josaw1 commented on #2407
Thank you for your feedback. @jashanno can you please review?

[2020-05-14 19:23] josaw1 commented on #2408
Thank you for your feedback. @ashishmsft can you please review?

[2020-05-14 19:24] #2377 closed

[2020-05-14 19:27] josaw1 commented on #2372
BUG 448947 created to track this issue.

[2020-05-14 22:22] tonyafehr commented on #2382
Bug #449010 has been logged to track this issue.

[2020-05-14 22:25] tonyafehr commented on #2383
Bug #449011 has been logged to track this issue.

[2020-05-15 03:13] mugunthanm commented on #2404
Verified the links, its works fine. Can you please try again.

[2020-05-15 03:48] mugunthanm commented on #2406
Thanks for the feedback. Updated the sample code.

[2020-05-15 05:03] sbaber82 commented on #1758
Hi Lane,

Based on your comment above, if there are custom tables in customer's AX 2009 environment, then we have to create the corresponding data entities in target D365 environment in order to perform the mapping using this tool?

[2020-05-15 10:48] v-oloski commented on #2362
@dodiggitydag  thank you for the feedback.
You are right the correct path is
Accounts payable > Payment setup > Due date limits
Accounts payable > Payment setup > Terms of payment
And the same in the AR
Accounts receivable > Payment setup > Due date limits
Accounts receivable > Payment setup > Terms of payment

I've created task for documentation  updating.

[2020-05-15 13:21] #2362 closed

[2020-05-15 15:03] RyanCCarlson2 commented on #2320
updated doc.

[2020-05-15 17:12] rsantana123 commented on #2404
Probably an issue on my end then. Tried it again and seems to work now. Thanks.

[2020-05-15 17:12] #2404 closed

[2020-05-15 17:53] sericks007 commented on #2320
Closing, as Ryan updated the content.

[2020-05-15 17:53] #2320 closed

[2020-05-16 18:15] dodiggitydag opened #2416 "How to open the report?"
Where can I access this report in an LCS project for a customer?

Secondly, is this only available for production environments, or can it be run against a standard sandbox?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: faa9525b-3195-3405-afe8-3e1545c178ad
* Version Independent ID: fd57a337-9b2f-69bd-8b90-ee9a761d1132

[2020-05-17 04:03] djpejsen opened #2418 "Delivery date of a planned purchase order"
In relation to the priority of coverage group calendar, I think you have mentioned incorrect priority in the note below

Note that the coverage group calendar can be set in different pages and will take priority in the following order: 1. Item coverage group on the Released products details page 2. Item coverage group on the Item coverage page 3. Default item coverage group in Master planning para

[2020-05-18 05:20] sbaber82 commented on #1758
@laneswenka

[2020-05-18 14:15] simonefinotti opened #2420 "Extension scenario implementation"
I think that including some example code would really help.
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ec1a63f8-4e6a-d923-fbce-bbd28f2db7b6
* Version Independent ID: b2fc83c9-68ea-6aba-42fd-f041a1373476
* Content: [Extend table maps that are used for versioning - Finance & Operations | Dynamics 365](https://docs.mic

[2020-05-18 16:57] RobinARH commented on #2420
@LarsBlaaberg Hi Lars - Can you take a look? thanks.

[2020-05-18 16:59] RobinARH commented on #2418
@t-benebo Hi Beatiz - Can you take a look? Thanks.

[2020-05-18 17:00] RobinARH commented on #2416
@dfroslieMSFT Hi Dave - Can you take a look? Thanks.

[2020-05-18 17:01] #2390 closed

[2020-05-18 17:28] RobinARH commented on #2391
Bug 450160 created to track this issue.

[2020-05-18 17:30] RobinARH commented on #2389
Bug 450161 created to track this issue.

[2020-05-18 17:31] RobinARH commented on #2388
Bug 450162 created to track this issue.

[2020-05-18 17:32] RobinARH commented on #2387
Bug 450163 created to track this issue.

[2020-05-18 19:51] JameZJ opened #2421 "Redeploying or restarting the runtime on the VM"
Open File Explorer, and go to C:\CustomerServiceUnit.
Right-click AOSDeploy.cmd, and then click Run as administrator.

C:\CustomerServiceUnit does not exist on my VM.

[2020-05-19 08:41] d47447 opened #2422 "Code sample is not correct for "Adding actions on OData entities""
Team,

The example under the section "Adding actions on OData entities" is returning an int value while the method signature is not correct for this. If an Action is returning any values than it should be like below
 [SysODataActionAttribute("&lt;MethodName&gt;", false), SysODataCollectionAttribute("return", Types::Record, "CarColor")].

Pl check and do the needful.

Thanks
Deepak

---
#### Docume

[2020-05-19 13:05] tonyafehr commented on #2421
Thanks for contacting us. If there's a specific topic that needs to be updated, please provide the topic name. Otherwise, we're unable to handle Support requests for the product on this site. To contact Support, consider one of the options described here: [Support contact options](https://docs.microsoft.com/en-us/dynamics365/unified-operations/dev-itpro/lifecycle-services/lcs-support). In particul

[2020-05-19 13:06] tonyafehr commented on #2422
@d47447, thanks for the feedback.
@Sunil-Garg, please review.

[2020-05-19 18:18] #1117 closed

[2020-05-20 08:29] FangyuanHou opened #2424 "The license guide is from July 2019"
please update to the latest licensing pdf.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e919a898-2ff3-73a4-0960-33264a0ab5f3
* Version Independent ID: 9a49ca3d-b872-cb63-7e53-a8a0db55d749
* Content: [Configure document management - Finance & Operations | Dynamics 365](https://docs.microsoft.com/en-us/dynamics365/fin-

[2020-05-20 13:12] sericks007 commented on #2400
Bug 451029 was logged to track this issue.

[2020-05-20 13:48] Anasyash commented on #2400
Hello
Thank you for feedback, I have created a task to update the title and to add (Russia) to the title. This feature is really RU-specific

[2020-05-20 14:19] sericks007 commented on #2424
@FangyuanHou, thank you for posting here! I've updated the link to the licensing guide -- so the licensing guide from April 2020 should be displayed.  This update will be published later today.

[2020-05-20 14:19] #2424 closed

[2020-05-20 14:30] sericks007 commented on #2401
Bug 451058 has been logged to track this issue.

[2020-05-20 14:32] sericks007 commented on #2403
Bug 451059 has been logged to track this issue.

[2020-05-20 14:57] #2400 closed

[2020-05-20 23:45] manishmoothedath opened #2426 "Clarification on "Entity store data in Azure Data Lake""
Quoting from above - "When this feature is turned on, Entity store data isn't populated in the relational Entity store database in the Microsoft subscription. Instead, it's populated in an Azure Data Lake Storage Gen2 account in your own subscription."

Does this mean the Embedded Power BI reports will stop working, since there is no more data in the entity store database ? or will the Power BI Em

[2020-05-21 10:07] weaveriski opened #2427 "Power Platform considerations"
Hi
When we have an D365 Finance and Supply Chain Management system and we are using Dual Write I believe there is an impact if the database refresh is undertaken. I believe that everything needs to be stopped and upon post-refresh all the re-linking is undertaken. I am not sure if there are other considerations with CDS or the Power Platform but I feel the consideration for Dual Write should be ca

[2020-05-21 12:22] laneswenka commented on #2427
Hi Steven!

We delete the CDS link tables during refresh so that UAT cannot talk to your CDS instance. You will need to manually relink to another CDS after refresh.

Lane

Sent from my iPhone

On May 21, 2020, at 3:08 AM, Steven Weaver <notifications@github.com> wrote:

﻿

Hi
When we have an D365 Finance and Supply Chain Management system and we are using Dual Write I believe there is an impact i

[2020-05-21 12:29] weaveriski commented on #2427
Hi Lane

All good thanks, I hope you are keeping well.

My understanding is that if you don’t stop the CDS links and then do a refresh the system gets into a horrible position. This is feedback from the technical team on the process after they encountered this earlier this year trying to refresh the DB side of the process. On the DB refresh there is no reference to this, but I feel there should be

[2020-05-21 12:33] vishnu254 commented on #457
Could any one help me how to download DMT tool for data migration

[2020-05-21 12:45] laneswenka commented on #2427
In a refresh with a dual write linked source and a non linked target, there shouldn’t be any issue.

We copy the source AXDB, delete its CDS tables which tell it how to talk to CDS, cleanup SMTP settings and so forth like normal, and then replace the AXDB in the target with it.

Now if your target is also linked to another CDS, it is possible you will want to unlink it prior so that it doesn’t con

[2020-05-21 13:38] weaveriski commented on #2427
Hi Lane

This is our scenario – test is connected via dual write to a test CDS. We refresh from Prod. If we don’t unlink the Test Dual Write first,  dual write breaks and we needed to involve Microsoft support.

We also did a Point in Time restore to an environment with Dual Write connected and it made the environment unusable.

It is just a warning for scenarios that mean your environment ends up

[2020-05-21 14:41] HeicoEricRupp commented on #2426
Agreed.  Clarification on this would be greatly appreciated.

[2020-05-22 07:18] d47447 opened #2429 "More info required for how to generate report"
Hi Team,

Currently, you just mentioned the script syntax but this is not enough for everyone. YOu can add further details like;
Open CMD and go to C:\AOSService\PackagesLocalDirectory\Bin and run this script there.

It will mate it more clear to readers.

Thanks
Deepak

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2c

[2020-05-22 16:46] josaw1 commented on #2426
Thanks for the feedback. @MilindaV2 or @sericks007 can you please review the comment?

[2020-05-22 16:49] josaw1 commented on #2429
Thank you for your feedback. @RobinARH can you please review? Thanks.

[2020-05-22 17:08] aleguerrero opened #2430 "Organization Email Templates is now in a different location"
In the following link: https://docs.microsoft.com/en-us/dynamics365/commerce/email-templates-transactions
Says the following:
_"In Commerce headquarters, go to Retail and Commerce > Headquarters setup > Organization email templates."_

However, when looking for that in the application, it does not shows up:
![image](https://user-images.githubusercontent.com/27838418/82691827-ce744d80-9c1b-11ea-823

[2020-05-22 19:03] josaw1 commented on #2408
BUG 451926 created to track this issue.

[2020-05-22 19:05] josaw1 commented on #2407
BUG 451927 created to track this issue.

[2020-05-22 19:05] #2406 closed

[2020-05-23 01:05] #2329 closed

[2020-05-25 07:19] Ballzer0 opened #2431 "Step 4. h. systemadministrator to root team"
Hi, im conserned about step 4. h. Wont this make all the users of that team also into root administrators?

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: df8e9efc-9258-3876-e05f-20d35c907274
* Version Independent ID: 4b5041ec-4a48-0565-e47a-b972e65a6d60
* Content: [System requirements and prerequisites - Finance & Oper

[2020-05-25 14:48] JeroenLeeflang commented on #2431
Totally agree. Why is this needed?

[2020-05-26 05:19] ja1m1n8hatt opened #2434 "Instructions do not align with current azure portal menu"
When trying to follow the instructions to enable installation of a customized MPOS, they don't match with the current menu options and screen flow for azure portal. Please update to reflect the current azure portal menu and options.
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9cde75a6-0a4d-8405

[2020-05-26 10:07] jansenrf opened #2435 "Correct explanation of use of Nuget and a pipeline"
Can I use a new pipeline for the build instaed of using the pipeline to the old build server?

And do you have a better step by step installation document for these solution with Nuget?

Thanks

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 10459944-bcf8-c5fa-d180-9fb4bb3722da
* Version Independe

[2020-05-26 14:03] hhainesms commented on #2408
If the organization has deployed the Ship All and Ship Selected operations for their POS devices, then yes, all users can use the "change origin" function to change the location of shipping - this is by design.  If there is a desire to only allow change origin to be done by certain users - I would suggest putting a product suggestion on the https://experience.dynamics.com/ideas/  site.

[2020-05-26 14:12] sunshinequery opened #2436 "How can I download multiple formulas in D365?"
Hi,

How can I download multiple formulas in D365?
I have a long list of products and each product have a different formula.
Appreciate any assistance.

Thank you.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 94864413-110a-ef97-d6ec-ada50844dad4
* Version Independent ID: 6be61cb2-c5cc-e782-c878-95202abdff5e
* Content

[2020-05-26 15:17] tonyafehr commented on #2430
@aleguerrero, thanks for the feedback.
@josaw1, please review.

[2020-05-26 15:18] tonyafehr commented on #2431
@sabinn-msft, please review. Thank you!

[2020-05-26 15:20] tonyafehr commented on #2434
@ja1m1n8hatt, thanks for the feedback.
@josaw1, please review

[2020-05-26 15:20] tonyafehr commented on #2435
@jorisdg, please review. Thanks!

[2020-05-26 15:23] tonyafehr commented on #2436
Thanks for contacting us. We're unable to handle Support requests for the product on this site. To contact Support, consider one of the options described here: [Support contact options](https://docs.microsoft.com/en-us/dynamics365/unified-operations/dev-itpro/lifecycle-services/lcs-support). In particular, you might want to go to the [Dynamics 365 community page](https://community.dynamics.com/) t

[2020-05-26 16:06] tonyafehr commented on #2422
Bug #452519 logged to track this issue.

[2020-05-26 16:23] josaw1 commented on #2434
@jashanno, please review.

[2020-05-26 16:25] josaw1 commented on #2430
@bicyclingfool, please review.

[2020-05-26 16:31] josaw1 commented on #1043
@abruer is updating the topic and it will be republished soon. Thanks.

[2020-05-26 16:40] #2408 closed

[2020-05-26 16:40] jorisdg commented on #2429
Thank you for the suggestion. It looks like the article does list the folder. The drive letter can vary based on VHD versus cloud, and sometimes even within cloud.
The CAR report is designed for a technical audience and specific purpose, namely ISVs that need to certify their solutions. There are currently no further investments in CAR as we will be moving on to other validation mechanisms for ISV

[2020-05-26 17:25] laneswenka commented on #2427
This should not be the case but I am following up.  So your source is not linked correct? Just the target?

[2020-05-26 17:25] laneswenka commented on #2427
Also could you provide me an ActivityID or EnvironmentID where this has failed so that we can review?

[2020-05-26 17:34] kfend commented on #1533
Closing as I have worked through this procedure and the fields mentioned are automatically filled with the information. If this is not what is being referred to, please reopen and provide more information. For example, which FastTab has the fields you are referring to as the Original budget field is shown on multiple FastTabs on the same page.

[2020-05-26 17:34] #1533 closed

[2020-05-26 17:42] jasongre commented on #2389
Hey @LuisCano2202, I would recommend you open a support case for assistance on technical issues like this. Thanks!

[2020-05-26 18:51] ronsonntag54 commented on #1557
So nothing has been done to respond to my issue in 9 months?

[2020-05-26 19:31] JameZJ commented on #2421
Here is the link to the topic: https://docs.microsoft.com/en-us/dynamics365/fin-ops-core/dev-itpro/dev-tools/access-instances#redeploying-or-restarting-the-runtime-on-the-vm

C:\CustomerServiceUnit does not exist on my VM.

[2020-05-26 19:46] tonyafehr commented on #2421
@laneswenka, for visibility.

[2020-05-26 20:51] jorisdg commented on #2435
You can use the new build pipeline instead of the one that comes with the build VM. Keep in mind of the limitations though (no SysTest or DBSync). Since the new pipeline doesn't cost you anything to try, you can figure out if you like this or not.
We don't have more step by step and we're actively trying to avoid creating documentation for Azure DevOps features - hence the links to AZDO docs. Ther

[2020-05-26 20:53] #2435 closed

[2020-05-27 04:09] manishmoothedath opened #2438 "Steps are unclear"
Steps are unclear, which of these nodes are roots / siblings / child ? Please add screenshots if possible.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5a7c3841-58f6-35eb-c7eb-a95fb3e40a63
* Version Independent ID: b32ff3b6-a7e5-baba-795e-44f21236ad5a
* Content: [ER Use financial dimensions as a data source (Part 1 -

[2020-05-27 07:42] #2116 closed

[2020-05-27 12:29] Halldor10 opened #2439 "Missing documentation on using the new IExtensionController"
Missing documentation using the new IExtensionController and information on in what version it is supported in. Would also nice to have a link to a source code examples directly in Github.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 430ab152-0cf0-695c-ec03-d4a63d720c4d
* Version Independent ID: a7239ae1-9ef6-f23c-26

[2020-05-27 12:45] sericks007 commented on #2438
@manishmoothedath, thank you for the feedback.

@NickSelin, please review and consider updating the content.

[2020-05-27 12:47] sericks007 commented on #2439
@Halldor10, thank you for your feedback.

@mugunthanm, please review and update the content.

[2020-05-27 13:52] kfend commented on #2438
@manishmoothedath - Thanks for your feedback. This topic, as well as the other three in this procedure set, are automatically generated from the task guide that can be uploaded from the LCS BPM library and played in Task recorder. When these guides are played, you can see all of the screens/pages that are referred to. However, the topics have been updated with some screenshots. Changes will be pub

[2020-05-27 13:52] #2438 closed

[2020-05-27 15:35] Mtcryer opened #2440 "Credit and Collections Management Update not reflected in this page or in the documentation"
The link that remains here has not been updated so that users know what the actual Credit and Collections functionality is and are currently left with no information regarding the functionality that has been released into their systems. There was an issue posted on this... but somehow that was "CLOSED" without any update to this page or to this area of the A/R Credit Management functionality docum

[2020-05-27 16:07] weaveriski commented on #2427
Hi Lane

The environments no longer exist.

In summary for the context of this the page was “refreshing the DB”, If the target environment has Dual Write enabled, and we plan to replace the database (via restore in time, or restore from another database) then stop and unlink the entities first. Should that reference be made somewhere on the refresh database page to try and stop users hitting issue

[2020-05-27 17:49] sericks007 commented on #2440
@Mtcryer, thank you for providing this feedback.

@ShivamPandey-msft, please review and update the content.

[2020-05-27 18:47] dodiggitydag opened #2441 "FormAdaptors Not Used"
We no longer us the generated FormAdaptors for new forms. Some of the old FormAdaptor classes are still in the product. New tests will be using type providers. For type providers you do not need to regenerate the FormAdaptor classes every time you change the form.

From code point of view the usage of FormAdaptor classes and type providers will look the same.

Example:
using MyFormFormAdaptor = Mi

[2020-05-27 19:58] MariyaKoteva opened #2442 "Wrong print screen under Payment methods set up"
The print screen shown under the section on adding Payment methods to the call center actually shows Payment methods assigned to Retail stores.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e482c177-8def-6c1f-2276-933b0772a4e1
* Version Independent ID: 07d08dab-6028-34bb-6016-86602a3cc51f
* Content: [Set up a call cen

[2020-05-28 07:17] Halldor10 opened #2444 "Confusion - Migrate to the SDK for VS2017"
In the "Migrate to the SDK for Visual Studio **2017**" section one of the prerequisite is to download "TypeScript_Dev14Full"

When starting the exe, the form says "TypeScript Tools for Microsoft Studio **2015** 2.2.2.0"

A bit confusing why a tool for VS2015 should be installed when migrating from VS2015 to VS2017.
[Enter feedback here]

---
#### Document details

⚠ *Do not edit this section. It i

[2020-05-28 08:37] RamuPalati opened #2445 "Set up required after enabling tax directive on sales tax code"
[Enter feedback here]

Accounts receivable > Setup > Forms > Form setup.
In that By changing sales tax specification from None to Registration currency we are able to get sales tax directive in sales tax invoice for sales orders.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 69b030ce-28ef-5e51-6ef0-dd28ee73959b
* Vers

[2020-05-28 13:25] ThomasWilke opened #2447 "No NuGet package available in shared asset library"
What to do if there is no NuGet package available in the LCS - shared asset library?
![image](https://user-images.githubusercontent.com/32868226/83147006-5fa16380-a0f7-11ea-9cf3-a1e26483db34.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 10459944-bcf8-c5fa-d180-9fb4bb3722da
* Version Independent ID: 29ae9d16-ed7c-

[2020-05-28 15:54] Angelos102 opened #2448 "Instructions do not reflect updates for new Entity store continuous updates or self-service JIT connectivity"
The instructions above only refer to the older version of Entity store updates using batch and not the continuous update mechanism introduced

Also the connectivity into the AXDW database for a Sandbox environment requires a JIT request before you can access the AXDW database

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

*

[2020-05-28 19:07] #2389 closed

[2020-05-28 21:37] jorisdg commented on #2447
PU36 was just made available today. The NuGet files should be available in the shared asset library shortly.

[2020-05-28 22:03] josaw1 commented on #2441
Thanks for the comment. @jorisdg can you please take a look?

[2020-05-28 22:04] josaw1 commented on #2442
Thanks for the comment.  @samjarawan can you please take a look?

[2020-05-28 22:06] josaw1 commented on #2444
Thanks for the comment. @mugunthanm can you please take a look?

[2020-05-28 22:10] josaw1 commented on #2445
Thank you for your comment. @epodkolz can you please review?

[2020-05-28 22:10] #2447 closed

[2020-05-28 22:11] josaw1 commented on #2448
Thank you for your feedback. @MilindaV2 can you please review?

[2020-05-28 22:20] jorisdg commented on #2441
Hi Dag,
I need to double check but I believe that sadly the task recorder imports are still generating code with form adaptors and not type providers. So unfortunately I believe it is still relevant.

[2020-05-28 22:23] josaw1 commented on #2426
BUG 453465 created to track issue.

[2020-05-28 22:23] #2427 closed

[2020-05-28 22:24] #2429 closed

[2020-05-28 22:44] RobinARH commented on #1837
Fixed. Should go live tonight.

[2020-05-28 22:44] #1837 closed

[2020-05-28 22:49] samjarawan commented on #2442
Thanks for the catch Mariya, I've uploaded a new image, should be live soon...

Sam

[2020-05-28 22:53] #2442 closed

[2020-05-28 23:27] RobinARH commented on #2059
I updated the topic last week.

[2020-05-28 23:27] #2059 closed

[2020-05-28 23:27] mugunthanm commented on #2444
Thanks for the feedback. Updated the step with different option to install TS 2.2.2.

[2020-05-28 23:40] #2444 closed

[2020-05-28 23:47] RobinARH commented on #2204
Hi Yoison - Thanks for the feedback, but it's unlikely we'll make significant changes to this doc in the near future. -Robin

[2020-05-28 23:47] #2204 closed

[2020-05-29 07:03] pocki opened #2450 "Wrong Documentation in Data management package REST API"
Please check the documentation, there are a lot of mistakes in it.

Some points I found, but not checked and tested every method:
* **executionId** / **Execution ID** is called **Job ID** in D365FO Web User Interface - this should be mentioned somewhere
* At [GetAzureWritableUrl](https://docs.microsoft.com/en-us/dynamics365/fin-ops-core/dev-itpro/data-entities/data-management-api#getazurewritableu

[2020-05-29 08:11] swidz opened #2451 "Please update the limitation section"
[Enter feedback here]

1. The limit for records maintained per table was increased to 2mln

2. It should be clearly explained that there are scenarios where referential integrity can be damaged:
a. Enable Customer Group sharing across all entities, with USMF being your main entity.
b. In USMF create customer group A. It will be replicated to other entities.
c. In GBSI create a customer and place i

[2020-05-29 08:14] kanagayo opened #2452 "We cannot assign the same license more than once to one account."
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0a465cba-da38-a42a-495f-299b90f2d5cf
* Version Independent ID: 4e1952ae-622a-ba1d-5258-dc334c0c35db
* Content: [Multiple LCS projects and production environments on one Azure AD tenant - Finance & Operations | Dynamics 365](https://docs.microsoft.com/

[2020-05-29 08:18] kanagayo commented on #2452
In this document said:

And, in [another document](https://docs.microsoft.com/en-us/dynamics365/fin-ops-core/dev-itpro/sysadmin/tasks/create-new-users#associate-a-user-with-a-license-new-license-types-only) said:

But, We cannot assign the same license more than once to one account.

These documents are inconsistent.
I propose two solutions.
1. Erase the wording of the original document.
2. Please

[2020-05-29 16:25] sericks007 commented on #1972
I reviewed this content with a support engineer.  He said MPN can used, if applicable. LCS handles not only online, but on-premises, as well.

[2020-05-29 16:25] #1972 closed

[2020-05-29 16:43] mugunthanm commented on #2439
IExtensionController is not used, we introduced new controller IController in 10.0.12. Very soon we will publish a doc for that, 10.0.12 is not in PEAP yet.

[2020-05-29 18:29] sericks007 commented on #2075
I logged bug 7329132 in the LCS database.

[2020-05-29 19:25] tonyafehr commented on #2452
@kanagayo, thanks for the feedback.
@ClaudiaBetz-Haubold, please review and make updates as needed.

[2020-05-29 20:12] wojzeh opened #2454 "mistype Chat instead of Chart"
Chart parts only contain OLAP charts
When a workspace contains a chat,

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b39782c9-a0a3-940f-8ca8-c5ac3440ea01
* Version Independent ID: 5f6f25ed-67d3-3f46-a6d2-9dc92781b9e0
* Content: [Build operational workspaces - Finance & Operations | Dynamics 365](https://docs.microsoft

[2020-05-29 20:18] MariyaKoteva opened #2455 "Retail parameters section is outdated"
The Retail parameters are now Commerce parameters and print screen is outdated.
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7e29843f-4b7d-5b4b-6a71-d468e504f63c
* Version Independent ID: f72648ff-10e0-340e-6f51-b8c3766e1b6f
* Content: [Dynamics 365 Fraud Protection integration with Dynamics 365 Commerce - Commerce |

[2020-05-29 21:17] kfend commented on #2450
@pocki  - thanks for the feedback.
@Sunil-Garg - can you please take a look at and address this feedback?

[2020-05-29 21:19] kfend commented on #2451
@swidz - thanks for the feedback.
@aprilolson - please review and address this feedback as necessary.

[2020-05-29 21:22] kfend commented on #2455
@MariyaKoteva - Thanks for the feedback.
@rubencdelgado - Can you please take a look at and address this?

[2020-05-29 22:29] aprilolson commented on #2451
+@Par Akerblom<mailto:Par.Akerblom@microsoft.com> as I believe he now owns Record Sharing.

April Olson
Dynamics 365 Finance
Principal Group Product Manager
Check out our Financials blog: https://community.dynamics.com/365/financeandoperations/b/financials

Our workplace allows for a flexible work schedule, which is an amazing benefit. I am sending this now because it is convenient for me. I do no

[2020-05-31 22:00] Peakerbl commented on #2451
Issue number 1. We are in the process of updating the content and this will include the new limits.

Issue number 2. This is a bug and we are working to fix this. This is not expected behavior.

[2020-06-01 16:19] bicyclingfool commented on #2430
FYI: It appears to depend on which sku you have. I'll update the doc to call out that the other location

![image](https://user-images.githubusercontent.com/10248868/83429489-f5373e80-a3e8-11ea-9af4-c0c8fdd7ac89.png)

[2020-06-01 16:26] bicyclingfool commented on #2430
Just submitted a pull request to address this: https://github.com/MicrosoftDocs/Dynamics-365-Operations/pull/8390

[2020-06-01 17:07] #2430 closed

[2020-06-01 18:44] tonyafehr commented on #2278
This has been updated and will be published later today.

[2020-06-01 18:44] #2278 closed

[2020-06-02 11:43] renebik opened #2467 "Mention maxSize of enqueued message when using Recurring integrations"
Can [this section](https://docs.microsoft.com/en-us/dynamics365/fin-ops-core/dev-itpro/data-entities/recurring-integrations#submitting-data-to-recurring-data-jobs) be appended with the maxSize of the enqueue message if any?
At the moment at least I am running into issues when submitting a message of approx 36MB and receive a HTTP 413 RequestEntityTooLarge exception.

⚠ *Do not edit this section. I

[2020-06-02 12:59] #865 closed

[2020-06-02 13:00] #1742 closed

[2020-06-02 13:04] #1775 closed

[2020-06-02 13:10] #1410 closed

[2020-06-02 13:30] tonyafehr commented on #2467
@renebik, thanks for the feedback.
@Sunil-Garg, please review.

[2020-06-02 13:30] #2436 closed

[2020-06-02 13:35] tonyafehr commented on #2434
Bug #454568 has been logged to track this issue.

[2020-06-02 13:35] tonyafehr commented on #2431
Bug #454567 logged to track this issue.

[2020-06-02 15:02] #1836 closed

[2020-06-02 16:24] mrpnelson opened #2468 "Email legacy authentication retirement details"
The email configuration pages seems to lack detail regarding the underlying authentication mechanisms for the three email providers (SMTP, Exchange, EML) and the effects of planned changes in Office 365.

In particular, as implemented today will these methods function uninterrupted with the retirement of legacy authentication support?

For the _Exchange email server_ option, [this article](https:/

[2020-06-02 16:25] Angelos102 opened #2469 "Please be more explicit for steps 5 when opening management studio - see link provided"
Need to be more explicit when using Management studio in the last steps

See instructions  below
[(https://cloudblogs.microsoft.com/dynamics365/it/2019/08/06/lifecycle-services-august-2019-release-1-release-notes/)]

Also in LCS you are provide with a Server/database connection string and this makes you assume it will log into specific DB, you must instead separate that string into server and db n

[2020-06-02 16:54] tonyafehr commented on #2468
@mrpnelson, thanks for the good feedback.
@ChrisGarty, please review.

[2020-06-02 16:55] tonyafehr commented on #2469
@Angelos102, thanks for the feedback.
@laneswenka, please review.

[2020-06-02 18:17] Moutasema opened #2470 "Mismatch between TOC (Template section) and actual content"
There is a mismatch between the table of content (Template section) and the actual content. You should update the Template section to match the actual mapping such as:

- Sales tax groups to msdyn_taxgroups

- Item sales tax group to msdyn_taxitemgroups

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 827c4917-db78-1618-

[2020-06-02 19:11] tonyafehr commented on #2470
@RobinARH, please review. Thanks!

[2020-06-03 08:37] LeifX59 opened #2473 "Doc's for 'FIFO with the Include physical value option'"
Doc's page:
https://docs.microsoft.com/en-us/dynamics365/supply-chain/cost-management/fifo-physical-value-marking#fifo-without-the-include-physical-value-option

Section:
FIFO without the Include physical value option

In the detailed example given on the page, the following is stated, which is not correct:
"5a. Inventory physical issue for a quantity of 1 at a cost price of USD 20.00 each (runnin

[2020-06-03 11:52] sericks007 commented on #2473
@LeifX59, thank you for this feedback.

@AndersEvenGirke, please review and update the content, as needed.

[2020-06-03 12:43] #2439 closed

[2020-06-03 12:48] sericks007 commented on #2440
Bug 455249 has been logged to track this issue.

[2020-06-03 20:46] dhand01 opened #2474 "Print Management data stripped when moving DB from T1 Golden to T2 Sandbox"
Should Print Management settings be stripped from the DB, when moving from a Tier1 Golden VM, to a Tier2 Sandbox (using the methods described in this article)? It seems that Print Management should be retained in a Golden DB.

---
#### Document Details

<span class="emoji-outer emoji-sizer"><span class="emoji-inner" style="background: url(chrome-extension://gaoflciahikhligngeccdecgfjngejlh/emoji-d

[2020-06-04 18:15] #1990 closed

[2020-06-04 18:16] #1988 closed

[2020-06-04 18:17] #1782 closed

[2020-06-04 20:24] jorisdg commented on #1436
There are several efforts ongoing to review BP rules, improve them and potentially remove irrelevant ones. I don't expect we will provide any documentation until that exercise has completed. There are also other efforts like AppChecker which will get more information publicized as they become available.

[2020-06-04 20:26] #1436 closed

[2020-06-04 21:11] fivefq opened #2484 "One version service update for Retail"
This article needs to be updated to mention what will be changes in package creation process as "All in one package" is being enforced. You cannot have separate packages anymore.

Ref: https://docs.microsoft.com/en-us/dynamics365/fin-ops-core/dev-itpro/dev-tools/aio-deployable-packages
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue link

[2020-06-04 21:40] josaw1 commented on #2484
Thank you for your feedback. @mugunthanm can you please review?

[2020-06-04 21:50] josaw1 commented on #2441
@jorisdg can you please confirm, then close this comment?

[2020-06-04 21:52] josaw1 commented on #2445
BUG 456027 created to track the issue.

[2020-06-04 21:55] josaw1 commented on #2448
BUG 456028 created to track the issue.

[2020-06-05 12:35] assofohdz opened #2487 "Lead qualification docs"
Where's the information about lead qualification and how to set it up ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a0b18e33-4012-5d68-181f-4a70b608d086
* Version Independent ID: 58dc69d8-c12f-211c-f01d-1decd235d57b
* Content: [Sales and marketing overview - Supply Chain Management | Dynamics 365](https://docs.micro

[2020-06-05 17:51] kfend commented on #2454
@wojzeh - thanks for catching that. I have fixed the typo and the changes will publish today.

[2020-06-05 17:51] #2454 closed

[2020-06-05 18:47] jorisdg commented on #2441
@josaw1 yes task recording import still uses form adaptors.

[2020-06-05 19:02] panolte commented on #2440
We believe all the documentation is present, but it may have been presented in a split manner.  We have renamed and re-organized a few items in the table of contents to make these items easier to identify and find.

[2020-06-05 19:14] kfend commented on #2451
Closing as this has been addressed by the PM.

[2020-06-05 19:14] #2451 closed

[2020-06-05 19:31] #2441 closed

[2020-06-05 20:33] EvSeVo opened #2489 "Applying of ISV License packages in self-service environments"
It looks like self-service environments don't supported applying of ISV license packages (https://docs.microsoft.com/en-us/dynamics365/fin-ops-core/dev-itpro/dev-tools/isv-licensing#production-environments). It is not mentioned in the article.

[2020-06-05 20:38] kfend commented on #2489
@EvSeVo - than you for the feedback.
@jorisdg - can you please take a look at and address this?

[2020-06-05 20:43] jorisdg commented on #2489
Applying ISV licenses is the same across all types of environments. That is why self-service is not mentioned, but the older VM-based environments are also not mentioned.

The article talks about ensuring/how the ISV license can be included in the deployable package. That deployable package can then be deployed to your environments through LCS (~ regardless of the type of environment).

[2020-06-05 20:45] #2489 closed

[2020-06-05 20:48] mugunthanm commented on #2484
Adding @laneswenka and @rashmansur to help with this.

[2020-06-06 06:31] Shind44 opened #2490 "Wrong Link"
Link to access to page "Advanced ledger settlement: Settlement and reverse settlement processed separately" is broken :

https://docs.microsoft.com**s**/dynamics365-release-plan/2020wave1/dynamics365-finance/advanced-ledger-settlement-settlement-reverse-settlement-processed-separately

instead of (.coms -> .com)
https://docs.microsoft.com/dynamics365-release-plan/2020wave1/dynamics365-finance/adva

[2020-06-07 18:31] jonathonjoiner opened #2491 "Is this section regarding optional parameters actually correct?"
[Enter feedback here]

In this section regarding optional parameters; is this actually correct?

The commented section indicates the next statement does not compile but it's the exact same as the one that is indicated as correct

// info(int2Str(Additions::AddThreeInts(1, 2, 99)));
vs
info(int2Str(Additions::AddThreeInts(1, 2, 99)));

public class Additions
{
    static public int AddThreeInts(int

[2020-06-08 10:09] kamaybac commented on #2487
Hi @assofohdz . I believe that this functionality still works the same way as it did in AX 2012. Please refer to the AX documentation, which starts here: https://docs.microsoft.com/en-us/dynamicsax-2012/appuser-itpro/qualify-leads

[2020-06-08 10:17] kamaybac commented on #2388
@wojzeh , thank you for reporting this issue. The fix is now live:
https://docs.microsoft.com/en-us/dynamics365/supply-chain/production-control/production-set-up-requirements

[2020-06-08 10:17] #2388 closed

[2020-06-08 13:16] #2487 closed

[2020-06-08 15:54] josaw1 commented on #2445
This has been updated. Thanks.

[2020-06-08 15:54] #2445 closed

[2020-06-08 16:47] RobinARH commented on #2490
Hi Bob - Can you take a look? Thanks.

[2020-06-08 18:16] RobinARH commented on #2470
I fixed the topic. The new content should go live this evening. -Robin

[2020-06-08 18:16] #2470 closed

[2020-06-08 22:22] RobinARH commented on #2491
I updated both code examples in that section and the new content should go live this evening. Thanks for letting us know. - Robin

[2020-06-08 22:22] #2491 closed

[2020-06-09 13:21] #2440 closed

[2020-06-09 13:29] tonyafehr commented on #2452
Bug #456961 logged to track this issue.

[2020-06-09 13:39] tonyafehr commented on #2337
Bug #456968 logged to track this issue.

[2020-06-09 13:41] tonyafehr commented on #2467
Bug #456970 logged to track this issue.

[2020-06-09 13:49] tonyafehr commented on #2468
Bug #456981 logged to track this issue.

[2020-06-09 13:52] tonyafehr commented on #2469
Bug #456982 logged to track this issue.

[2020-06-09 16:25] RobinARH commented on #1350
The doc is updated. - Robin

[2020-06-09 16:25] #1350 closed

[2020-06-09 21:03] #2455 closed

[2020-06-10 11:52] sericks007 commented on #2473
Bug 457365 has been logged to track this issue.

[2020-06-10 22:49] jorisdg commented on #1531
Consider using the new pipeline if it fits your requirements. This is available as of PU35.
https://docs.microsoft.com/en-us/dynamics365/fin-ops-core/dev-itpro/dev-tools/hosted-build-automation

If you use AZDO online, you can just deploy a build VM via LCS. There's no difference between on-prem or cloud. If you're using AZDO Server, you can use the new pipeline. Alternatively, all the "traditiona

[2020-06-11 21:28] josaw1 commented on #2474
@laneswenka
BUG 458169 created to track this.

[2020-06-11 21:32] josaw1 commented on #2484
BUG 458171 created to track this issue.

[2020-06-12 00:44] mugunthanm commented on #2484
Commerce package goes to RCSU and it will not be bundled with F & O package. Commerce package need to be deployed separately.

[2020-06-12 05:31] MTCostello opened #2504 "Suggest change to Upgrade from AX 2012 - Data upgrade in development environments"
This is a good article; however, in two different environments I was not able to perform the renaming of the database because the "Microsoft Dynamics Lifecycle Services Diagnostic Service" was running.

Please add that you need to stop this service.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9ae815e8-03c2-0769-5e6a

[2020-06-12 16:38] jopankow opened #2505 "Stop and Start option removed"
Hello,

This page is outdated with the changes to the start/stop button in LCS for MS managed environments (as posted here: https://www.yammer.com/dynamicsaxfeedbackprograms/#/threads/show?threadId=683009992425472). Please update the documentation.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e9452234-62df-d7ed-1243-

[2020-06-12 17:15] #2484 closed

[2020-06-12 20:50] kfend commented on #2505
@jopankow - thanks for the feedback.
@laneswenka - can you please take a look at this?

[2020-06-13 02:51] JameZJ opened #2508 "Data Encryption Rotation System Job"
I don't see a data rotation encryption job anywhere. Can you provide more details of where I can monitor the success of this job?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: eac091f6-4eb0-3174-d8ae-79ee922349a8
* Version Independent ID: b141a04f-324d-9050-59c8-2a761a99bdab
* Content: [Certificate rotation - Finance

[2020-06-15 08:01] PeterRFriis commented on #2508
Hi JameZJ
For onprem/LBD you need to rotate the certificates manually, per the documentation.
When the new certificates are in place, you run the update settings with the new thumbprints, and a new deployment of the environment is triggered with new settings that contains the new thumbprints. During this deployment the new certs are being used. But it runs just like a normal deployment and the mon

[2020-06-15 12:47] #2508 closed

[2020-06-15 15:53] sericks007 commented on #2473
This addresses [2473](https://github.com/MicrosoftDocs/dynamics-365-unified-operations-public/issues/2473).

[2020-06-15 15:56] sericks007 commented on #2473
@LeifX59, thank you for bringing this issue to our attention!  The PM has updated the topic, and the update will be published later today.

[2020-06-15 15:56] #2473 closed

[2020-06-15 18:06] andreashofmann1 opened #2511 "Missing information about suspended transactions getting lost in the process."
[Enter feedback here]
An important piece of information is missing: Please add that any suspended transactions will be lost and cannot be recalled. Ideally, it may be good to mention that those should be recalled and voided before.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 50f98d51-e924-ddfa-0613-738a5b22de92
* Ve

[2020-06-15 19:54] DrGee-gethub commented on #1824
These App Registration procedures are outdated.
In Azure the screens and choices are different that the procedure.
In Azure the App Registration > API Permissions has a great many more options.

[2020-06-15 22:56] bzwick opened #2514 "Missing Field Information for Units of measure"
Hi Microsoft. I believe there should be some more descriptions about what to use fields for on the Units of Measure. (Base unit and System unit) to be exact.
![image](https://user-images.githubusercontent.com/66977526/84713803-c65cb480-af20-11ea-92d5-d68a1942bd1b.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5425

[2020-06-16 09:44] HenrikLevinson opened #2516 "Release plan for possibility to use Feature management for ISV:s and Customisations"
We are currently looking into to use some kind of feature management for our own customizations. You say in the article that you have support to use feature management for ISV:s and customizations in the pipeline for future development of the feature management. Do you have any idea when this capability could be released?

---
#### Document Details

⚠ *Do not edit this section. It is required for

[2020-06-16 10:05] PeterRFriis commented on #2508
HI JamesZJ
Just adding to the explanation. If you are referring to the re-encryption of data in the AXDB then there is no visible way to see that it is done. it is being run by a batch job, and usually all is reencrypted with 24 hours, but if you leave the old cert there for 3-4 days. Then you should be completely safe.

[2020-06-16 13:44] tonyafehr commented on #2516
Thanks for your question. @ChrisGarty, please review.

[2020-06-16 13:46] tonyafehr commented on #2514
Thanks for the feedback.
@sorenva, please review.

[2020-06-16 13:47] tonyafehr commented on #2511
Thank you for the feedback.
@AamirAllaq, please review.

[2020-06-16 16:22] josaw1 commented on #2355
As per @RamaKrishnamoorthy: it has been documented here - https://docs.microsoft.com/en-us/dynamics365/fin-ops-core/dev-itpro/data-entities/dual-write/requirements-and-prerequisites. Please follow the screenshot to identify the pre-requisites.

[2020-06-16 16:22] #2355 closed

[2020-06-17 07:46] sorenva commented on #2514
Thank you for the feedback. I will add to our backlog to improve this documentation topic with additional details. We will also evaluate whether we can add better field help directly in the application.
Regards
... Søren Vagn Andersen, Principal Program Manager, Dynamics 365 Supply Chain Management

[2020-06-17 13:10] #2514 closed

[2020-06-17 14:15] ibruynin commented on #1253
Hi @sericks007
Can you provide an update on Bug 321794?

Thanks!

[2020-06-17 14:20] sericks007 commented on #1253
Hi @ibruynin, bug 321794 is assigned to @RobinARH.

@RobinARH, can you please provide an update.

[2020-06-17 21:10] ChrisGarty commented on #2468
@mrpnelson, thanks for the questions. It is interesting that you know this much about the migration efforts
1. EML is not authenticated.
2. SMTP uses simple authentication so it isn't affected.
3. Exchange did need to be migrated and we did that back in October 2018 in PU22 :).

I'll remove the reference to EWS in the doc :)

[2020-06-17 21:15] mrpnelson commented on #2468
That's perfect and just the confirmation we needed - thanks @ChrisGarty + team! From my perspective, okay to close this issue. Cheers; Paul.

[2020-06-17 21:19] mrpnelson commented on #2468
As a note for others that land on this page, I think the key item to be aware of here is that after MS retirement of legacy auth _or_ after your own organization's disabling of legacy auth, that the Exchange method will become necessary (and any SMTP configurations would need to be adjusted).

[2020-06-18 11:03] Moutasema opened #2521 "Call out supported and unsupported CDS filters under "Filter your data" section"
As per Chunke Yang chuyang@microsoft.com:

Nested lookup is currently not supported in dual-write source filter. As of now, only standard filter operators (https://docs.microsoft.com/en-us/powerapps/developer/common-data-service/webapi/query-data-web-api#standard-filter-operators) directly against entity fields are supported.

We should add this at the end of the **"Filter your data"** [section](h

[2020-06-18 13:59] #2468 closed

[2020-06-18 18:04] Sunil-Garg commented on #2467
@renebik the message that is sent to the queue is a system generated message. I am not sure, I understand when you say you are getting an error with sending a 36MB message? Are you referring to the file size that is to be imported? Can you clarify pls?

[2020-06-18 18:18] Sunil-Garg commented on #2450
Thank you @pocki for the feedback. The doc has been updated.

[2020-06-18 18:21] #2450 closed

[2020-06-18 20:02] josaw1 commented on #2521
Thank you for your feedback. @sabinn-msft can you please take a look.

[2020-06-18 20:18] Sunil-Garg commented on #2339
@wojzeh thanks for highlighting that; we have removed that content from this doc as this was not the right doc for entity specific comments, anyway. Thanks again.

[2020-06-18 20:27] Sunil-Garg commented on #2322
@JeroenLeeflang LA is not mentioned since, its not a direct end point type. Hope this clarifies. Thanks.

[2020-06-18 20:29] #2322 closed

[2020-06-18 20:34] JameZJ commented on #2508
I was referring to the re-encryption of data in the AXDB. Thank you for clarifying its visibility and approximate time of completion.

[2020-06-18 20:39] #2339 closed

[2020-06-18 20:58] JameZJ commented on #2421
Any update on where AOSDeploy.cmd is located if that folder doesn't exist?

[2020-06-19 06:00] renebik commented on #2467
@Sunil-Garg When submitting a message from an HTTP action in a LogicApp to the enqueue endpoint (https://<base URL>/api/connector/enqueue/<activity ID>?entity=<entity name>) we receive an HTTP 413 Request entity too large response. The body of the HTTP POST is approx 36MB.

[2020-06-19 07:55] rabol opened #2524 "Is note still valid"
[Enter feedback here]
On the page there is this note:

"For on premise deployments, the only supported API is the Data management package REST API. This is currently available on 7.2, platform update 12 build 7.0.4709.41184."

Is this still valid?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b2cdcdc3-398f-f785-d02e-c

[2020-06-19 08:10] MariyaKoteva opened #2525 "Outdated article"
The information on the page is outdated, it only talks about connecting the online channel to a 3rd party solution for a web storefront and it does not mention the e-commerce site from Microsoft, while it is in the section for creating e-commerce site in Dynamics 365 Commerce.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

*

[2020-06-19 16:08] Sunil-Garg commented on #1987
@mores  you are right that, it is the module and not the workspace. The first step is now updated to clarify that its the module. Thanks.

[2020-06-19 17:01] josaw1 commented on #2525
@samjarawan can you please take a look at this feedback and topic? Thanks.

[2020-06-19 19:51] sericks007 commented on #2321
@JeroenLeeflang, thanks for making us aware of this.  The PM has updated topic -- the updated topic will be published later today.

[2020-06-19 19:51] #2321 closed

[2020-06-22 14:41] #1987 closed

[2020-06-22 14:44] renebik commented on #2467
@tonyafehr Why is this closed?

[2020-06-23 05:46] EgidijusZa opened #2531 "It is not quite clear when this feature should be used, in what scenario?"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 903f0c12-ee21-2d66-dd29-bd3bbbf62ebf
* Version Independent ID: 6db6da1d-295a-4d1f-829e-9c54b9a9e548
* Content: [AD FS Office 365 compatibility - Finance & Operations | Dynamics 365](https://docs.microsoft.com/en-us/dynamics365/fin-ops-core/dev-itpro/d

[2020-06-23 07:49] pturegano opened #2532 "Sharing apps with external users"
Hello,
I have noticed the following behavior and I would like to suggest to update the page to reflect the same.
 - A Power App is embedded in the UI and shared with external users of the instance.
 - External user: guest or not belonging to the O365 AD where the instance is deployed.

Behavior:
 - The external user is unable to use the embedded app but is able to use the Power App directly (via t

[2020-06-23 07:57] yxx-39 opened #2533 "Update"
There is no praise source type in this page, please update it.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d7a27404-cc5d-6298-cf05-1bb7c8f9b156
* Version Independent ID: e735b173-6cf1-52b3-277c-e3965038343f
* Content: [Performance management - Human Resources | Dynamics 365](https://docs.microsoft.com/en-us/dynamics

[2020-06-23 10:26] faix commented on #2531
Hello,

As we state in the document: This topic explains how to use the same instance of Active Directory Federation Services (AD FS) for a Dynamics 365 Finance + Operations (on-premises) environment and for Microsoft Office 365.

Before we introduced this compatibility mode, Dynamics required a specific configuration in AD FS which was not compatible with an AD FS used for authentication with Off

[2020-06-23 10:51] EgidijusZa commented on #2531
ok, so it means, if we have Office365 it is better to have this parameter switched on. And ADFS configuration steps, described in https://docs.microsoft.com/en-us/dynamics365/fin-ops-core/dev-itpro/deployment/setup-deploy-on-premises-pu12#configureadfs,  can be also skipped, except  configuration of application group?

[2020-06-23 11:02] EgidijusZa commented on #2531
...

[2020-06-23 11:40] faix commented on #2531
You should skip step 1, however steps 2 and 3 you will most likely need. It will depend on your current AD FS configuration. You will need to configure the application group yes.

[2020-06-23 11:43] EgidijusZa commented on #2531
ok, thanks.

[2020-06-23 11:43] #2531 closed

[2020-06-23 13:39] tonyafehr commented on #2532
@pturegano, thanks for the feedback.
@jasongre, please review.

[2020-06-23 13:39] tonyafehr commented on #2533
@yxx-39, thanks for the feedback.
@andreabichsel, please review.

[2020-06-23 13:40] rsammut opened #2535 "Set model versions fails"
After following all steps, I am getting ##[error]Resolve-Path : Cannot find path 'C:\DynamicsSDK\VSOAgent\_work\1\s\Metadata' in the "Set Model Versions" step of the BUILD pipeline.

Same issue was reported here by another person: https://community.dynamics.com/365/financeandoperations/f/dynamics-365-for-finance-and-operations-forum/373773/build-fail-on-c-dynamicssdk-vsoagent-_work-2-s-metadata

I

[2020-06-23 13:43] tonyafehr commented on #2535
@AndreasHassing, please review.

[2020-06-23 13:52] NFMynster opened #2536 "Missing domain name on the SQL server name"
Hello, the guide states that you simply need to connect to the SQL server name you get within LCS.

However, it doesn't mention that you have to suffix this with database.windows.net.

So it would become sqlServer.database.windows.net\sqlDatabase.

This would be a great addition to the page, thank you.
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟

[2020-06-23 13:53] NFMynster commented on #2536
Ah pardon, seems like it reports on the wrong link.
This is where it should be changed.
https://docs.microsoft.com/en-us/dynamics365/fin-ops-core/dev-itpro/database/dbmovement-scenario-debugdiag

I'll make a new issue.

[2020-06-23 13:53] #2536 closed

[2020-06-23 13:56] NFMynster opened #2537 "Debugging SAT copy - Guide missing domain name on the SQL server name"
Hello, the guide states that you simply need to connect to the SQL server name you get within LCS.

However, it doesn't mention that you have to suffix this with database.windows.net.

So it would become sqlServer.database.windows.net\sqlDatabase.
This would be a great addition [this particular section.](https://docs.microsoft.com/en-us/dynamics365/fin-ops-core/dev-itpro/database/dbmovement-scenar

[2020-06-23 14:03] tonyafehr commented on #2516
Bug #462129 logged to track this issue.

[2020-06-23 14:04] tonyafehr commented on #2537
@NFMynster, thanks for the feedback.
@laneswenk, please review.

[2020-06-23 16:34] andreashofmann1 commented on #2535
I am not sure what or how to review?  But the issue is likely that they is being run on a non-build environment.

[2020-06-24 06:46] rsammut commented on #2535
It's a Build and Test environment deployed on 11/30/2018. Do you think re-deploying the BUILD environment will help since its more than a year and half old?

@andreashofmann1 btw, thanks for your retail blogs, they're very helpful!

[2020-06-24 17:40] clugarte opened #2538 "Confution when you read this document and you are trying to enable this feature"
[Enter feedback here]
In section "How to use trickle feed-based posting" the step 2 is referring to preview feature and if someone is trying to enable it, when you go to License parameters in 10.0.9 and above, it will not found this option and it is not necessary to do it, that's why this is causing confusion.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microso

[2020-06-24 18:04] sericks007 commented on #2538
@clugarte, thank you for posting this feedback.

@josaw1, please review and consider updating the content.

[2020-06-25 11:23] JeroenLeeflang opened #2540 "Inventory on-hand service part of this release?"
I see Inventory on-hand service as part of this release. When I click on it, I go to a page where nothing can be read about the on-hand service. So is this still part of the release or is the target page not up-to-date?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 60fbf986-9cf0-80de-795f-68d79a581b5e
* Version Indepe

[2020-06-25 11:44] kamaybac commented on #2540
Hi @JeroenLeeflang , thank you pointing out this broken link. I looked into it and discovered that the feature has unfortunately been delayed, so it has been removed from the release plan, and that's why the link doesn't work. We have not yet announced a new release date for this feature. I will remove this feature and link from the release announcement.

[2020-06-25 11:44] #2540 closed

[2020-06-25 12:38] bhlj opened #2541 "Where can I download the Visual Studio solution for Bootstrapping Company Code from D365 FO to CDS"
Can you tell me where I can download the Visual Studio solution for Bootstrapping Company Code from D365 FO to CDS, as described in this otherwise excellent article?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0891e384-80e8-5d40-8bde-24081e06876a
* Version Independent ID: b6ecc0cb-e827-80aa-934d-ef03d674c97e
* Conte

[2020-06-26 07:06] bhlj opened #2543 "Where can I get the VS solution mentioned in the article?"
I cant see any links to where I can download the VS solution described.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0891e384-80e8-5d40-8bde-24081e06876a
* Version Independent ID: b6ecc0cb-e827-80aa-934d-ef03d674c97e
* Content: [Bootstrap with company data FAQ - Finance & Operations | Dynamics 365](https://docs.micro

[2020-06-26 09:17] jalaliskandar opened #2544 "How i can see the payment processor project ?"
[Enter feedback here]

the section of "Write a payment processor " is not clear , the guide also.
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8082a393-27b6-131d-b708-ddf23411fde9
* Version Independent ID: ffb5a30e-508b-5b65-2b0d-7e888063d85c
* Content: [Create an end-to-end payment integration for a payment terminal

[2020-06-26 16:21] josaw1 commented on #2541
Thank you for your feedback. @RamaKrishnamoorthy can you please take a look?

[2020-06-26 16:32] josaw1 commented on #2543
Thanks for your feedback. This looks like the same question as received earlier. I will close this issue and keep the other one open for feedback from the author.

[2020-06-26 16:32] #2543 closed

[2020-06-29 15:03] DShukvaniProdware opened #2547 "Question regarding default development tool - VS 2017"
I have a simple question, can VS 2017 be used for development of D365 FO?

Thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c3f86106-3c9a-21ce-421e-45d6520338bc
* Version Independent ID: add7e8ab-d635-a2f1-28d6-a21e95961f20
* Content: [Development tools in Visual Studio - Finance & Operations | Dynamics 365](http

[2020-06-29 15:27] tonyafehr commented on #2547
@jorisdg, please review. Thanks!

[2020-06-29 20:21] jopankow opened #2548 "Inconsistent documentation"
Inconsistent documentation in the following section:

Restore is denied for environments that run **Platform update 20 or earlier**
The restore database process cannot be completed if the environment is running **Platform update 3 or earlier**. For more information, see the list of currently supported Platform updates.

---
#### Document Details

⚠ *Do not edit this section. It is required for doc

[2020-06-30 09:30] miham-aib opened #2549 "Page is outdated and generally needs refreshing"
Several references on the page are outdated, and for example the service updates section doesn't go beyond PU32.
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c6d8ca90-dfbd-3698-0def-a3be85e9c850
* Version Independent ID: b8d5a864-57fb-9fc3-f36a-77c5f5c58a54
* Content: [Software lifecycle policy and cloud releases - Fi

[2020-06-30 12:41] ramakrishnreddy opened #2550 "Unclear documentation"
[Enter feedback here]
The point number 19 under "Design the format of an electronic document" is unclear. Also the rest of the steps as well.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bfc51f70-ac31-3534-1ddb-6a1fa4308c80
* Version Independent ID: ee84e41d-abaa-069f-772e-046d9b586898
* Content: [Design ER configura

[2020-06-30 12:57] sericks007 commented on #2549
@miham-aib, thank you for making us aware of this issue.

@ShellyBakke, please update the content.

[2020-06-30 13:14] tonyafehr commented on #2550
@ramakrishnreddy, can you provide more details as to what you feel is unclear in step 19, which states "Continue to design this format by importing the second PDF template, adding necessary bindings to data sources". Also, please identify what other steps need additional info. Thank you!

[2020-06-30 13:15] tonyafehr commented on #2548
@jopankow, thank you for the feedback.
@laneswenka, please review.

[2020-06-30 14:03] tonyafehr commented on #2532
Bug #465771 logged to track this issue.

[2020-06-30 14:18] tonyafehr commented on #2535
Bug #465780 logged to track this issue.

[2020-06-30 15:11] samjarawan commented on #2525
Thank you for the feedback.  This page is definitely outdated, we'll remove the page and add new link to another one that is more up to date: https://docs.microsoft.com/en-us/dynamics365/commerce/channel-setup-online .
thanks!
Sam

[2020-07-01 11:54] sericks007 commented on #2538
Bug 466223 has been logged to track this issue.

[2020-07-01 16:33] josaw1 commented on #2538
@anpurush, please review and update the topic as needed. Thanks.

[2020-07-02 08:11] brkyyldz opened #2551 "Wrong menu path described"
[Enter feedback here]
In document it is written as below;
Use the menu on the left to go to Modules > Retail and commerce > Headquarters setup > **Retail** scheduler > Channel database.
But it should be as below;
Use the menu on the left to go to Modules > Retail and commerce > Headquarters setup > **Commmerce** scheduler > Channel database.

---
#### Document Details

⚠ *Do not edit this section.

[2020-07-02 09:49] artemt1 opened #2552 "Unable to find "Business document management" on feature management page"
"Enable Business document management" seems outdated.

Currently the web page says:
----------------------------------------------------
To start Business document management, you need to open the Feature management workspace and enable the Business document management feature.

Use the following procedure to enable Business document management functionality for all legal entities.

Open the Featu

[2020-07-02 10:29] artemt1 opened #2553 "Unable to find "Business document parameters" in main menu, only via search"
Currently web page says:
---------------------------------------
Use the following procedure to set up the basic parameters for all legal entities.

Sign in as a user with access to the Business document parameters page.
Go to Organization administration > Electronic reporting > Business document management > Business document parameters.
---------------------------------------

On Update35, the p

[2020-07-02 12:14] nspiteri opened #2554 "Business Event Extension. New payload in catalog."
[Enter feedback here]
In the section about extending an existing contract.  Once a contract is extended, the Business Event will have the new payload when it runs, but it will still show the old payload in the Catalog and when it is downloaded.

This is because the decorator for the contract is on the extended class and not on the extension.  If I put the decorator on the extension, it becomes a n

[2020-07-02 20:01] ripannandy opened #2555 "API to get the list of execution errors for Composite data entity"
POST /data/DataManagementDefinitionGroups/Microsoft.Dynamics.DataEntities.GetExecutionErrors
BODY
{"executionId":"<executionId>"}

This API works fine for simple entity. But how to get the same output for composite data entity. While trying to use this API for composite entity, it's returning the below error

{
  "error": {
    "code": "",
    "message": "An error has occurred.",
    "innererror":

[2020-07-02 20:03] josaw1 commented on #2551
Thank you for your feedback. We will fix this soon.

[2020-07-02 20:05] #2551 closed

[2020-07-02 20:07] josaw1 commented on #2552
Thank you for your feedback. @NickSelin can you please take a look?

[2020-07-02 20:08] josaw1 commented on #2553
Thank you for your comment. @NickSelin can you please review?

[2020-07-02 20:09] josaw1 commented on #2554
Thank you for your question. @Sunil-Garg can you please take a look?

[2020-07-02 20:10] josaw1 commented on #2555
Thanks for your comment. @Sunil-Garg can you please review?

[2020-07-02 20:14] josaw1 commented on #2541
@RamaKrishnamoorthy: BUG 466758 created to track the issue.

[2020-07-03 08:26] sbaber82 opened #2557 "View the import file that is pushed to D365 data mangement framework"
Is it possible to view the XML message sent from external application to D365 import package setup using composite entity. In case if there are any errors, there is no way to view the XML message that was sent like we had in AX 2012.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 01b2cd6b-f885-7461-fbdf-cf81f9e50d86
*

[2020-07-03 18:39] milivojevic opened #2558 "PowerShell line misses a line break"
The following snippet is not correct (and the worse part is that it fails silently):

For each application that needs to be added, run the following commands to add the application to the Azure Active Directory.

`Connect-AzureAD New-AzureADServicePrincipal –AppId <AppId>`

It should be written as

[code]

On top of it, when we are in the Azure Portal, clicking the Azure Shell icon is a faster way

[2020-07-04 02:36] EduardoVizcarra opened #2561 "Missing Steps @ Taking screenshots in Task recorder"
At step 8. Browse to the folder that contains the Task recorder extension, select the folder, and then click OK.

Can be changed to this step description **8. Browse to the folder that contains the Task recorder extension, select the folder using this path FMLab-master > FMLab > TaskRecorderScreenshot, and then click "Select Folder".**

![image](https://user-images.githubusercontent.com/67812834/8

[2020-07-06 09:28] DanielRisman opened #2562 "How to REMOVE / UPGRADE Best Practice Rules in Visual Studio?"
I just tested to add my own Best Practice Rules to Visual Studio using these instructions:
https://docs.microsoft.com/en-us/dynamics365/fin-ops-core/dev-itpro/dev-tools/author-best-practice-rules

How do I REMOVE (not only uncheck) the rules once installed?
(There is no UnInstall-button - only Install.)

Reason:
A, I want to clean up the system, having choosen a stupid name for the test-version. :

[2020-07-06 13:01] kfend commented on #2557
@sbaber82 - Thanks for the question.
@Sunil-Garg - Can you answer this?

[2020-07-06 13:04] kfend commented on #2558
@milivojevic - Thank you for the feedback.
@MilindaV2 - Can you please take a look at and address this comment?

[2020-07-06 18:37] jorisdg commented on #2547
Glad you asked! :-)

https://community.dynamics.com/365/financeandoperations/b/newdynamicsax/posts/action-required---net-version-and-visual-studio-2017

[2020-07-06 18:37] jorisdg commented on #2547
Replied. Please close.

From: Tonya Fehr <notifications@github.com>
Sent: Monday, June 29, 2020 8:28 AM
To: MicrosoftDocs/dynamics-365-unified-operations-public <dynamics-365-unified-operations-public@noreply.github.com>
Cc: Joris de Gruyter <jorisde@microsoft.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/dynamics-365-unified-operations-public] Question regarding default d

[2020-07-06 18:39] #2547 closed

[2020-07-07 14:57] tonyafehr commented on #2561
@EduardoVizcarra, thanks for the feedback.
@jasongre, please review.

[2020-07-07 16:13] michaelmesdag opened #2566 "Documentation describes obsoleted call"
The SysDaSearchStatement.next() call has been obsoleted for SysDaSearchStatement.findNext()

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2888e11c-17de-f90c-a48e-409baee04833
* Version Independent ID: b6f71c61-469e-46d8-9a7f-7cc5da547850
* Content: [Access data by using the SysDa classes - Finance & Operations | Dynam

[2020-07-07 16:22] tonyafehr commented on #2562
@pvillads, please review.

[2020-07-07 16:22] ChrisGarty commented on #2384
Adjusted https://github.com/MicrosoftDocs/dynamics-365-unified-operations-public/pull/2567. Thanks!

[2020-07-07 16:23] tonyafehr commented on #2566
@michaelmesdag, thanks for the feedback.
@RobinARH, please review.

[2020-07-07 16:24] #2550 closed

[2020-07-07 16:26] tonyafehr commented on #2548
Bug #467895 logged to track this issue.

[2020-07-07 16:28] ChrisGarty commented on #2403
Thanks @SamRonchetti !

[2020-07-07 16:45] ChrisGarty commented on #2403
Adjusted via https://github.com/MicrosoftDocs/dynamics-365-unified-operations-public/pull/2568. FYI @sericks007

[2020-07-07 16:49] ChrisGarty commented on #2403
Resolved bug 451059

[2020-07-07 16:51] ChrisGarty commented on #2384
Resolved Bug 449552: Docs issue: 2384 - Incorrect description of Scope options in a delegation rule

[2020-07-07 16:51] ChrisGarty commented on #2403
Resolved Bug 451059: Docs issue #2403: Specify when this workflow is used through activation conditions - Test button

[2020-07-07 16:59] ChrisGarty commented on #262
The documentation at https://docs.microsoft.com/en-us/dynamics365/fin-ops-core/dev-itpro/sysadmin/security-architecture#data-security mentions that record-level security was replaced by XDS (eXtensible Data Security), but, as this comment notes, there doesn't seem to be any documentation for XDS. I believe that @ParAkerblom is looking after the security space, so unfortunately I'm passing this hot

[2020-07-07 17:03] ChrisGarty commented on #262
Assigned 438327 to Par and moved to the FinOps\CDS\Storage\DataEngine\Authorization\XDS node

[2020-07-07 17:28] sericks007 commented on #262
@Peakerbl, this issue has been assigned to you. Please review and update the content as needed.

[2020-07-07 19:10] tonyafehr commented on #2533
Bug #467973 logged to track this issue.

[2020-07-07 19:50] adinglee opened #2570 "Not right Path"
[Enter feedback here]
Should this page be under of Globalization | Italy other than current path:D365 Finance | Account Receivable | Advance Notes Management? Because I think it is a localization feature of Italy. User might be confused that the function is general available function.
![image](https://user-images.githubusercontent.com/31424213/86834891-06671100-c061-11ea-9a48-3d88a00f62b0.png)

--

[2020-07-07 19:55] #2403 closed

[2020-07-07 19:56] tonyafehr commented on #2570
@kfend, please review.

[2020-07-07 21:55] AamirAllaq commented on #2511
Content has been updated to reflect this.

[2020-07-07 22:04] #2511 closed

[2020-07-08 12:41] sericks007 commented on #2549
Bug 468191 has been logged to track this issue.

[2020-07-08 16:33] ChrisGarty commented on #2004
Documented here: https://docs.microsoft.com/en-us/dynamics365/fin-ops-core/dev-itpro/office-integration/office-integration-troubleshooting?toc=/dynamics365/commerce/toc.json#why-are-date-and-time-values-in-utc-in-the-excel-add-in

[2020-07-08 16:35] ChrisGarty commented on #2004
Resolved Bug 413864: Docs issue #2004: DateTime fields in UTC

[2020-07-08 16:37] #2004 closed

[2020-07-08 16:38] ChrisGarty commented on #2516
We are working on making Feature Management more available to ISVs and Partners, but don't currently have a clear timeline. Stay tuned. @ParAkerblom may provide updates on this in the future.

[2020-07-08 16:41] ChrisGarty commented on #2516
Resolved Bug 462129: Docs issue #2516: Release plan for possibility to use Feature management for ISV:s and Customizations

[2020-07-08 18:02] #2516 closed

[2020-07-08 20:58] #2384 closed

[2020-07-08 21:00] #2525 closed

[2020-07-08 22:43] marilehis opened #2572 "model file access"
Can not access file 1099model.xml on https://go.microsoft.com/fwlink/?linkid=852550
It requires partner credentials, other files are available for download without signing in to partner source.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5256385e-3b72-727c-43ef-9836adcb08c0
* Version Independent ID: 9fb0a749-b150-56

[2020-07-09 17:15] rubencdelgado commented on #2544
Hi @jalaliskandar. Additional details for implementing the IPaymentProcessor interface can be found in the whitepaper located here: https://download.microsoft.com/download/e/2/7/e2735c65-1e66-4b8d-8a3c-e6ef3a319137/The%20Guide%20to%20Implementing%20Payment%20Connector%20and%20Payment%20Device_update.pdf

Please email rubendel@microsoft.com and I will send an additional sample to help unblock you.

[2020-07-10 02:44] josaw1 commented on #2572
Thanks for your feedback. @NickSelin can you please take a look?

[2020-07-10 11:30] malkhawaja opened #2573 "ISV Dynamics 365/Power Apps solution"
Hi,
does this document apply also to Dynamics CE/Power Apps solutions?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 69192df7-736f-1504-e8ab-d1ececb95800
* Version Independent ID: 7707373e-0ef6-ac6b-fcce-efce6a0ade73
* Content: [Independent software vendor (ISV) licensing - Finance & Operations | Dynamics 365](https:/

[2020-07-10 17:18] #2544 closed

[2020-07-10 17:39] kfend commented on #2573
Thanks for the question, @malkhawaja. I spoke with the author and the topic only applies to Dynamics 365 Finance and Operations apps. It doesn't apply to either of the apps you are asking about.

[2020-07-10 17:39] #2573 closed

[2020-07-10 17:50] #2570 closed

[2020-07-10 18:18] ShellyBakke commented on #2171
The scope for extended support for AX 2012 R2 will also apply to Dynamics AX 2012 R3 once R3 reaches the extended support phase.  I have updated the question in the FAQ to hopefully be more clear.

[2020-07-10 20:00] josaw1 commented on #2552
@NickSelin, BUG 469227 created to track the issue.

[2020-07-10 20:05] josaw1 commented on #2553
@NickSelin, bug 469227 created to track the issue.

[2020-07-10 20:10] josaw1 commented on #2554
BUG 469235 created to track the issue.

[2020-07-10 20:12] josaw1 commented on #2555
BUG 469237 created to track this issue.

[2020-07-10 20:18] nspiteri opened #2577 "Contract within a contract UI needs to be improved"
[Enter feedback here]
I have some business events for a table/line structure.  I've developed a contract with a child contract.

This works fine.  However it would be nice if in the UI and preview I can also also see the parent/child relationship.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 11811157-3f2d-56d5-07d4-0

[2020-07-10 20:36] sericks007 commented on #2171
The updated topic will be published later today.

[2020-07-10 20:36] #2171 closed

[2020-07-11 08:04] MarkElenbaas opened #2578 "Functionality Italian specific"
Where can I see if this functionality is still Italian specific?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ebe75f4e-4978-753a-3f96-1adf311c5f68
* Version Independent ID: 056150a1-5a31-8a94-0f36-39b64c53373b
* Content: [Advanced notes management - Finance | Dynamics 365](https://docs.microsoft.com/en-us/dynamics365

[2020-07-13 14:57] PeterGuth opened #2580 "Outdated Link to Video"
Please correct the link to the video about branches. The current link is pointing to mbspartner, which only displays a message.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 55c7ea05-69b5-1c5e-eb55-07066a1b2d17
* Version Independent ID: b75e9d43-6590-60bd-ca34-83c40abd9ae6
* Content: [Set up new environments, Azure De

[2020-07-13 16:14] sericks007 commented on #2580
@PeterGuth, thanks for letting us know about this!

@andreashofmann1. please correct the link.

[2020-07-13 20:27] shashisadasivan opened #2587 "Incorrect connection string in error message for non-US english"
When the BYOD fails to validate because of an incorrect connection string, the error message contains the connection string. However, this string is incorrect depending on the language the user is in.
When the users language is under en-au, en-nz the error message contains the connection string with "Initial Catalogue" instead of "Initial Catalog"

---
#### Document Details

⚠ *Do not edit this se

[2020-07-13 21:43] roschlom commented on #2587
Thank you for your comment. We'll look into the issue.

[2020-07-14 13:58] tonyafehr commented on #2561
Bug #470083 logged to track this issue.

[2020-07-14 14:02] tonyafehr commented on #2562
Bug #470084 logged to track this issue.

[2020-07-14 14:04] tonyafehr commented on #2566
Bug #470085 logged to track this issue.

[2020-07-14 18:58] DanielRisman commented on #2562
Hello,
Just wanted you to know that I’ve found a working ”work-around”. I just have to close down Visual Studio and manually delete the old DLL from:
K:\AosService\PackagesLocalDirectory\bin\BPExtensions\
(Still it would have been nice to both install AND uninstall Best Practice-DLL:s from inside Visual Studio.)

Med vänliga hälsningar / Best regards

Daniel Risman

+46 73-629 09 01  Daniel.Risman

[2020-07-14 19:07] tonyafehr commented on #2562
Thanks for the update.

[2020-07-14 19:07] #2562 closed

[2020-07-15 08:59] RutvikMehta opened #2594 "Step 3 and 4 documents missing"
Step 3 and 4 documents missing

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2226001a-87a7-f60a-18c7-3434f992750e
* Version Independent ID: 46289059-2e26-05b4-6714-f4902834f05f
* Content: [Set up bar codes - Commerce | Dynamics 365](https://docs.microsoft.com/en-us/dynamics365/commerce/set-up-bar-codes)
* Content Sour

[2020-07-15 11:48] sericks007 commented on #2594
@RutvikMehta, thanks for posting feedback here.

@jblucher, please review.

[2020-07-15 13:37] hugginssd opened #2595 "An unexpected client error has occured"
Whenever a user logs in to the system(D365FO) he receives the error message "An unexpected client error has occurred." An suggestion to resolve this error?? All users are now at stand still and no one can process anything in the system due to this error

[2020-07-15 14:20] sericks007 commented on #2595
Thanks for contacting us. Unfortunately, we're unable to handle Support requests for the product here. To contact Support, consider one of the options described here: [Support contact options](https://docs.microsoft.com/en-us/dynamics365/unified-operations/dev-itpro/lifecycle-services/lcs-support). In particular, you might want to go to the [Dynamics 365 community page](https://community.dynamics.

[2020-07-15 14:20] #2595 closed

[2020-07-15 15:19] sericks007 commented on #2262
Labels have been updated.  The updated content will be published later today.

[2020-07-15 15:19] #2262 closed

[2020-07-15 16:14] NickSelin commented on #2552
@artemt1, can you click the **Check for updates** button to refresh the list of available features and make the **Business document management** feature available for enabling as described in the [Feature management overview](https://docs.microsoft.com/en-us/dynamics365/fin-ops-core/fin-ops/get-started/feature-management/feature-management-overview#check-for-updates) topic? Thank you!

[2020-07-15 19:43] jasongre commented on #2561
Thanks for the suggested change! It should be available with the next round of publishing of this article.

[2020-07-15 20:45] tonyafehr commented on #2561
We expect that the updated topic will be published at the end of the July 2020. Thanks!

[2020-07-15 20:45] #2561 closed

[2020-07-15 20:53] tclayton72 opened #2601 "How do you get license files into this single package?"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: feb1c10e-1287-6db3-5ed6-315cb76fc1cd
* Version Independent ID: 85966417-fa61-ffa8-22e3-fa2bfa0e50ff
* Content: [All-in-one deployable packages - Finance & Operations | Dynamics 365](https://docs.microsoft.com/en-us/dynamics365/fin-ops-core/dev-itpro/d

[2020-07-15 21:07] sericks007 commented on #2601
@tclayton72, thanks for posting here! In the meantime, to get product help you can contact Support using one of the options described here: [Support contact options](https://docs.microsoft.com/en-us/dynamics365/unified-operations/dev-itpro/lifecycle-services/lcs-support). In particular, you might want to go to the [Dynamics 365 community page](https://community.dynamics.com/) to get help with your

[2020-07-15 22:00] EduardoVizcarra commented on #2561
Thank you, I’m glad to help.

Enviado desde mi iPhone

El jul. 15, 2020, a la(s) 3:45 p. m., Tonya Fehr <notifications@github.com> escribió:

﻿

Closed #2561<https://github.com/MicrosoftDocs/dynamics-365-unified-operations-public/issues/2561>.

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub<https://github.com/MicrosoftDocs/dynamics-365-unified-

[2020-07-15 22:06] #2337 closed

[2020-07-15 23:07] sabinn-msft commented on #2314
With dual-write core solution version 1.0.16.0, step 5 is no longer required. We have completely eliminated this step.

[2020-07-15 23:10] sabinn-msft commented on #2431
We updated documentation couple of weeks back wherein we now ask to select a preconfigured Security Role to grant a Read privilege with a User scope for each entity integrated through dual-write.

[2020-07-15 23:45] RamaKrishnamoorthy commented on #2541
We have not provided the visual studio solution intentionally. You can create a blank solution and copy paste the c# sample code provided on the page. However, we are coming up with a well-defined guidelines for bootstrapping based on data volume. This should be published by mid of Aug'20.

[2020-07-15 23:53] MilindaV2 commented on #2426
Enabling Entity store in Data lake (currently in public preview) will refresh the data in the lake - not in entity store relational DB as stated in the document. This action doesn't delete the data in Entity store - existing Analytical workspaces will continue to work, with stale data.
We are working on enabling Analytical workspaces on Data lake. We will enable this feature in preview in the futu

[2020-07-15 23:58] MilindaV2 commented on #1323
Deletes are handled in BYOD. I will defer replying on this issue to @sunil

[2020-07-16 00:06] MilindaV2 commented on #2150
We have provided additional information in recent articles under "export to Data lake" section below
[https://docs.microsoft.com/en-us/dynamics365/fin-ops-core/dev-itpro/data-entities/azure-data-lake-overview](url)

You can also see demos and an overview of the roadmap in our MBAS session below
[https://mymbas.microsoft.com/sessions/46c51e7e-f1bb-4424-8772-13f89a5e3c3b?source=sessions](url)

[2020-07-16 00:08] MilindaV2 commented on #2558
Thank you for the feedback

[2020-07-16 00:37] #2150 closed

[2020-07-16 00:38] #2541 closed

[2020-07-16 06:21] laneswenka commented on #2601
Will do

Sent from my iPhone

On Jul 15, 2020, at 2:08 PM, Sally Erickson <notifications@github.com> wrote:

﻿

Assigned #2601<https://github.com/MicrosoftDocs/dynamics-365-unified-operations-public/issues/2601> to @laneswenka<https://github.com/laneswenka>.

—
You are receiving this because you were assigned.
Reply to this email directly, view it on GitHub<https://github.com/MicrosoftDocs/dynamic

[2020-07-16 07:42] NickSelin commented on #2553
@artemt1, you need to enable the **Business document management** feature in the [Feature management](https://docs.microsoft.com/dynamics365/fin-ops-core/fin-ops/get-started/feature-management/feature-management-overview#check-for-updates) workspace to see the **Business document parameters** menu item in the main menu. Thank you!

[2020-07-16 14:19] tonyafehr commented on #2313
This topic will be updated based on your feedback. Thanks!

[2020-07-16 14:19] #2313 closed

[2020-07-16 14:20] #2314 closed

[2020-07-16 14:21] #2431 closed

[2020-07-16 14:25] tonyafehr commented on #2452
This topic has been updated and now states "A user can only be assigned one license for each product for each Azure AD tenant. This allocation of licensing requirements for LCS projects for specific users must be documented outside the system."

[2020-07-16 14:25] #2452 closed

[2020-07-16 14:39] D365Princess opened #2603 "Misleading and out of date information"
This documentation relating to legal entity information being bootstrapped onto entities is now out of date with the new Duel Write set up solution packages provided in GA since April and needs updating to reflect the current solution.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0891e384-80e8-5d40-8bde-24081e06876a

[2020-07-16 15:00] #2553 closed

[2020-07-17 00:32] josaw1 commented on #2603
Thanks for the feedback. @RamaKrishnamoorthy can you please take a look?

[2020-07-17 17:22] #2552 closed

[2020-07-17 18:19] josaw1 commented on #2572
BUG 471711 created to track.

[2020-07-19 06:51] ilkond commented on #2578
This functionality was extended for all countries (staring from version 10.0.13).
The article was re-located to Accounts receivable (the last item):
![image](https://user-images.githubusercontent.com/27193524/87869075-443f3000-c9a5-11ea-8d26-13ae424ec6f1.png)

[2020-07-19 07:44] Pikhulya opened #2605 "Incorrect response type for the Certificate part of the sample code."
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d004befc-3177-5e88-450f-d25f2cdfaaab
* Version Independent ID: a00e0c93-f128-9bb4-f0a0-8171f27678e2
* Content: [Manage secrets for retail channels - Commerce | Dynamics 365](https://docs.microsoft.com/en-us/dynamics365/commerce/dev-itpro/manage-secret

[2020-07-20 14:54] #2578 closed

[2020-07-20 21:26] tonyafehr commented on #1808
This topic has been updated.

[2020-07-20 21:26] #1808 closed

[2020-07-20 21:53] andreabichsel commented on #2533
I verified and fixed the topic per your feedback. Thank you for catching that!

[2020-07-20 21:53] #2533 closed

[2020-07-21 13:27] tonyafehr commented on #2605
@Pikhulya, thanks for the feedback.
@AamirAllaq, please review.

[2020-07-21 13:29] #2198 closed

[2020-07-21 13:30] #2260 closed

[2020-07-21 13:37] tonyafehr commented on #2396
Bug #472479 logged to track this issue.

[2020-07-21 13:38] tonyafehr commented on #2537
Bug #465779 logged to track this issue.

[2020-07-21 13:39] #2381 closed

[2020-07-21 15:33] #1835 closed

[2020-07-21 15:51] emreceylan-tr opened #2610 "Missing information about Modify table properties through extension"
Hi everyone,

In addition to the list in the document, we can change the TitleFields, FormRef and PreviewPartRef properties. But, we can not change the Country Region Codes property. I tried by practicing.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6d7100fd-69cb-b4a5-f143-28984592495f
* Version Independent ID: 18a5

[2020-07-21 16:00] tonyafehr commented on #2610
@emreceylan-tr, thanks for the feedback.
@RobinARH, please review.

[2020-07-22 09:25] dynanac opened #2614 "Cannot make db sync"
Hi,

I tried to perform database synchronization but I got access denied.

How can I resolve this issue ? Because I can't upgrade if I don't make it work

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fe0d2c68-08ea-77b8-af74-cd889a8344ca
* Version Independent ID: d88b6646-49de-f7eb-3d7c-7d1e700131e1
* Content: [Upgrade

[2020-07-22 13:50] laneswenka commented on #2614
DbSync can be run from Visual Studio on Developer machines. Did you try that method?

Sent from my iPhone

On Jul 22, 2020, at 2:25 AM, dynanac <notifications@github.com> wrote:

﻿

Hi,

I tried to perform database synchronization but I got access denied.

How can I resolve this issue ? Because I can't upgrade if I don't make it work

________________________________
Document Details

⚠ Do not edi

[2020-07-22 18:00] ConradVAva opened #2615 "Not a great idea to start the keywords for the date-filters with an uppercse character, if the app requires lowercase..."
Team, when using the SysQueryRangeUtil keywords in advanced filters, you have to enter the keywords starting with lowercase characters, else it will not work.
Your documentation asks for example to enter (LessThanDate(5)) as a filter value - but that will lead to an error.
When entering (lessThanDate(5)) - it works magically !!

So it would be a good Idea to change this in your documentation - and

[2020-07-22 18:05] #2615 closed

[2020-07-22 18:06] ConradVAva commented on #2615
Looks like I found a solution to this - disregard.

[2020-07-22 18:21] #2614 closed

[2020-07-23 06:59] KranthiPakala-MSFT opened #2617 "Is the Export to Azure Data Lake feature for Finance and Operations apps available in either of the Canadian Data Centers?"
Is the "Export to Azure Data Lake feature for Finance and Operations apps" available in either of the Canadian Data Centers?
The doc info was not clear as to which data centers support this feature. Could someone please confirm on this info?

Thank you.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c84e15d4-bcac-038a-

[2020-07-23 22:44] josaw1 commented on #2617
Thank you for your question. @MilindaV2 can you please help?

[2020-07-23 22:48] josaw1 commented on #2603
BUG 473607 created to track the issue.

[2020-07-23 23:49] RamaKrishnamoorthy commented on #2603
Company bootstrapping is required for initial data a CE system contains before enabling dual-write. So, this document is not out -dated. However, we are coming with more bootstrapping options and guidelines by mid August.

[2020-07-24 13:11] kfend commented on #2572
Hi, this has been fixed. All of the files are now available to download without a log in.

[2020-07-24 13:11] #2572 closed

[2020-07-24 17:32] #2603 closed

[2020-07-25 00:32] KranthiPakala-MSFT commented on #2617
@MilindaV2 Any update on the above ask? - Thanks

[2020-07-25 21:58] WassupPavan opened #2621 "Descriptions are incorrect"
Description for below sections are same:
1. View your team calendar as an employee
2. View your team calendar as a manger

Both menus are different.
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 21eca941-991c-da93-2f69-92d402ded710
* Version Independent ID: efcbb23f-40a7-0a38-7066-ed79e14d41ae
*

[2020-07-26 08:42] WassupPavan opened #2622 "Project timesheets are not part of D365 Human Resources"
Project timesheets are part of D365 finance and operations. There no information on integrations too,
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f0951be8-3d1d-e72d-5962-4c4a11160a7e
* Version Independent ID: 71afcf21-d51e-7df5-ffc4-436d1dde8142
* Content: [Enter project timesheets - Human Reso

[2020-07-27 03:21] Izmiyash opened #2623 "the description in "How to I use the code sample?" does not provide clear view of how to run sample code. please elaborate."
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0891e384-80e8-5d40-8bde-24081e06876a
* Version Independent ID: b6ecc0cb-e827-80aa-934d-ef03d674c97e
* Content: [Bootstrap with company data FAQ - Finance & Operations | Dynamics 365](https://docs.microsoft.com/en-us/dynamics365/fin-ops-core/dev-itpro/

[2020-07-27 11:44] mattiferg opened #2624 "Labels metadata example URL does not work"
The example URL for the labels API does not work. It appears to be using a made up label:

`https://[baseURI\]/metadata/Labels(Id='@SVC\_ODataLabelFile:Label1',Language='en-us')`

None of the components of the URL, ("_@SVC_", "__ODataLabelFile_", "_Label1_"(, are explained, so finding appropriate substitutions is difficult.

Please change the example to something that will fetch a label that actua

[2020-07-27 22:10] #2426 closed

[2020-07-28 07:23] Halldor10 opened #2629 "CI/CD - release to LCS and deployment"
Thanks for this document. It's a good start. Maybe you should consider to change or remove the first image as does not contain the same tasks as in the other images for the pipline, shown in this documentation.

One thing I find really missing is a another document for the "Release" part of the CI/CD that describes the upload of the artifacts to LCS and deployment to different environments and how

[2020-07-28 13:17] tonyafehr commented on #2622
@WassupPavan, thanks for the feedback.
@andreabichsel, please review.

[2020-07-28 13:17] tonyafehr commented on #2621
@WassupPavan, thanks for the feedback.
@andreabichsel, please review.

[2020-07-28 13:18] tonyafehr commented on #2623
@RamaKrishnamoorthy, please review and if needed, make updates about how to use the code sample. Thanks!

[2020-07-28 13:19] tonyafehr commented on #2624
@mattiferg, thanks for the feedback.
@Sunil-Garg, please review.

[2020-07-28 13:20] tonyafehr commented on #2629
@Halldor10, thanks for the feedback.
@mugunthanm, please review.

[2020-07-28 13:23] tonyafehr commented on #2605
Bug #474786 logged to track this issue.

[2020-07-28 13:27] tonyafehr commented on #2610
Bug #474788 logged to track this issue.

[2020-07-28 13:45] emreceylan-tr commented on #2610
@tonyafehr @RobinARH , When I checked again, I was able to add the country region code with the extension. In this case, there is no error in the document but there is missing information. It should be added that the TitleFields, FormRef and PreviewPartRef properties can also be changed with the extension.

[2020-07-28 16:04] andreabichsel commented on #2622
Thank you for catching this! I updated the doc and the changes should go live a little later today.

[2020-07-28 16:05] andreabichsel commented on #2622
Sorry, I responded to the wrong item. This issue is still open.

[2020-07-28 16:06] andreabichsel commented on #2621
Thank you for catching this! I updated the doc and the changes should go live a little later today.

[2020-07-28 16:06] #2621 closed

[2020-07-28 16:48] tonyafehr commented on #2396
This topic has been updated. Thanks!

[2020-07-28 16:48] #2396 closed

[2020-07-28 16:54] MartinWalkerDynSA opened #2631 "Customer and Vendor sales tax direction diagrams inconsistent with descriptions"
The descriptions and corresponding diagrams for Customer and Vendor sales tax direction appear to be in conflict, i.e. for some scenarios the descriptions and diagrams provide the opposite result for the sales tax direction.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3aaea6b3-d996-eb5c-0a4e-82454d5a1bf0
* Version I

[2020-07-28 18:21] RamaKrishnamoorthy commented on #2623
The code sample is just the contents of a .cs file. You need to be familiar with C# to use the code sample. Please use the guideline provided here (https://docs.microsoft.com/en-us/visualstudio/ide/quickstart-csharp-console?view=vs-2019) to create a C# console app and then copy paste the sample code in to the .cs file of the console app. Hope this helps!

[2020-07-28 18:25] tonyafehr commented on #2631
@MartinWalkerDynSA, thanks for the feedback.
@rschloma, please review.

[2020-07-29 00:08] Izmiyash commented on #2623
your comment and existing description "After unzipping and opening the solution in Visual Studio" is not consistent. What you are saying is not using any zipped solution.

[2020-07-29 02:10] mugunthanm commented on #2629
Thanks for the feedback, removed the image for now.

300 MB was a recent bug in the product which increased the package size, hotfix released to fix that issue.

Soon we will update this document with the release pipeline to LCS.

[2020-07-29 13:17] #2629 closed

[2020-07-29 16:18] sericks007 commented on #2580
Bug 475244 has been logged to track this issue.

[2020-07-29 16:20] sericks007 commented on #2594
Bug 475247 has been logged to track this issue.

[2020-07-29 16:24] sericks007 commented on #2601
Bug 7831269 has been logged in LCS database.

[2020-07-29 16:28] BernhardRaether opened #2633 "Using 10.0.11 CONTOSO, I cannot configure as in Instruction - "Set up the main account""
Following the instructions, I used DEMF.

Instructions are: Go to General ledger > Chart of accounts > Accounts > Main accounts.
Use the Quick Filter to find records. For example, filter on the Main account field with a value of '170150'.
In the list, click the link in the selected row.
Click Edit.
Select or clear the Require payment reference check box.
Click Save.

I can find the Main Account '1

[2020-07-29 16:34] sericks007 commented on #2633
@BernhardRaether, thanks for providing this feedback.

@EvgenyPopovMBS, please update the content to address this feedback.

[2020-07-29 17:16] EvgenyPopovMBS commented on #2633
@neserovleo, please look at the documentation issue.

[2020-07-29 17:50] RobinARH commented on #2024
We have added more documentation.

[2020-07-29 17:50] #2024 closed

[2020-07-29 22:17] RobinARH commented on #2130
This is documented now: https://docs.microsoft.com/en-us/dynamics365/fin-ops-core/dev-itpro/dev-ref/xpp-data/xpp-select-statement#in-keyword

[2020-07-29 22:17] #2130 closed

[2020-07-31 14:24] sumadhuram456 opened #2637 "D365FO virtual entities in CDS with versions say 'All customers V3'"
Lets say if I created 'All customers V3 virtual entity' from D365FO in CDS and I used this virtual entity as a lookup field in child CDS entities. later if Microsoft release 'All customers V4 entity', then what will happen to the existing relational data in CDS. Do I need to create new virtual entity for 'All customers v4' in CDS and change all lookup fields in child entities?

---
#### Document D

[2020-07-31 16:02] advent77 opened #2640 "Creating dimension based configurations"
The 8 tutorials were going well up to tutorial no 5 and then the AUTHORS "lost the plot" completely. 2 hours WASTED because of poor direction and incorrect information !! The tutorial on "Create new BOM and BOM version" needs to be re-written so that users can follow the authors intended route!!

Poor show guys.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.micro

[2020-08-02 18:59] challengelogic opened #2641 "Dead link"
[Enter feedback here]

How to use Environment Monitoring View Raw Logs

Dead URL Link

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 64b5b03d-9169-f94e-f999-63bc5a8e68ac
* Version Independent ID: 177eb187-6962-ba30-7a63-86b0bf3452d7
* Content: [Monitoring and diagnostics tools in Lifecycle Services (LCS) - Finance & Op

[2020-08-03 04:06] dodiggitydag opened #2642 "Bootcamp link refers to empty web page"
The bootcamp link takes me to a page which is empty.  Can we update the destination page, or remove the link?
https://community.dynamics.com/365/b/events?c=Upcoming%20Events/posts/dynamics-365-fasttracks-bootcamp

Thank you!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7bb94e99-4299-6e0f-b599-8af73c9d73e0
* Version I

[2020-08-03 17:17] RobinARH commented on #2641
Sally - Can you check this link? Thanks.

[2020-08-03 17:17] RobinARH commented on #2642
Margo - Can you assign this to the current author? Thanks.

[2020-08-03 18:55] RobinARH commented on #2617
Created bug 477173 to track this issue.

[2020-08-03 18:57] RobinARH commented on #2622
Bug 477174 created to track this issue.

[2020-08-03 18:59] RobinARH commented on #2623
Bug 477175 created to track this issue.

[2020-08-03 23:41] simondudding opened #2645 "Dual Write System Requirements"
On the system requirements DOCS page for Dual Write there's a line stating - "Dual-write setup is not supported on trial instances of Finance and Operations apps". Can you clarify trial in this context please? Does a trial instance include Demo environments for F&O Partners?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* I

[2020-08-03 23:57] qipengwu opened #2646 "Add instructions on debugging batch"
This page has really good information on debugging UI issues. If one needs to debug a batch related issue, we need to add some instructions here to ask developer to make sure to also restart the batch service on the debugging machine, in order for the debugging machine to show up as one of the batch servers. Lastly, make sure the batch job runs on the debugging machine by creating a batch group wi

[2020-08-04 01:36] TrudAX opened #2647 "Automatic generation of extension class names"
Just wanted to share a link(as a comment to this article) to my open-source VS add-in that can automate extension class generation [D365FO class extensions naming tool](https://denistrunin.com/d365utils-classextensionname/)
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1eb14aee-fcc5-0b16-5e98-2b30febdce76
* Version Ind

[2020-08-04 11:41] sericks007 commented on #2641
The dead link has been removed.

[2020-08-04 11:41] #2641 closed

[2020-08-04 14:22] tonyafehr commented on #2647
@TrudAX, thank you!

[2020-08-04 14:22] tonyafehr commented on #2645
@simondudding, thanks for the feedback.
@RamaKrishnamoorthy, please review.

[2020-08-04 14:23] #2647 closed

[2020-08-04 14:25] tonyafehr commented on #2624
Bug #477428 logged to track this issue.

[2020-08-04 14:29] tonyafehr commented on #2631
Bug #477429 logged to track this issue.

[2020-08-04 16:01] josaw1 commented on #2372
The program manager will update the documentation in a future update.

[2020-08-04 16:01] #2372 closed

[2020-08-04 16:03] josaw1 commented on #2167
The program manager said she will address this issue in an upcoming release. Thanks.

[2020-08-04 16:03] #2167 closed

[2020-08-04 19:31] #2535 closed

[2020-08-04 19:39] #2467 closed

[2020-08-05 11:24] davecope1982 opened #2650 "Extended the embedded pbix"
Hi,

How do I go about downloading (and then extending) the personnel management Power BI report? I have followed the process we use in finance & operations (via the Asset Library in LCS) but cannot see any Power BI packages to download.

I know I could connect PBI desktop upto the CDS entities but as the data model and pbix already exist in the OOB workspace this seems a nonsensical approach that

[2020-08-05 11:33] sericks007 commented on #2650
@davecope1982, thanks for posting this feedback!

@andreabichsel, please review and update the content, as needed.

[2020-08-05 11:40] sericks007 commented on #2633
Bug 477865 has been logged to track this issue.

[2020-08-05 21:40] Guide2Learn opened #2651 "PowerBI.com Configuration"
in Dynamics 365 Finance and Operations Apps there is an issue starting from CU24 above regarding PowerBI.com configuration.

after enabling the PowerBI.com in the Dynamics 365 Finance and Operations Apps, and authenticating the Dynamics with Power BI, the dialogbox appears, but when the success message appears after accepting to grant permission the PowerBI disappears from the PowerBI.com configur

[2020-08-06 09:40] mirkobon opened #2652 "Wrong file name for text file"
The name of the text file is not correct.

Using "ModuleToRemove.txt" will cause the Deployable Package in the Asset Library to be marked as invalid.

The real file name shoud be "ModulesToRemove.txt". Please fix this documentation page.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4f21baa4-903d-1a42-eaaf-4efe1ed1b95

[2020-08-06 10:54] HolgerAdolf opened #2653 "Rename configuration file to package name to prevent error installing"
Hint: Before running the Commerce Scale Unit installer you should rename the configuration file to the to [Package Filename].xml and put both files in the same folder:

![image](https://user-images.githubusercontent.com/38324153/89523749-adb3a100-d7e3-11ea-9703-b8889f9898d2.png)

Otherwise you could get the following error running the installation:

![image](https://user-images.githubusercontent.c

[2020-08-06 13:22] tonyafehr commented on #2631
This topic will be updated today. Thank you!

[2020-08-06 13:22] #2631 closed

[2020-08-06 13:23] Tad1011 opened #2656 "Need the latest version of SQLPackage in order to export database to a bacpac file in command line"
[Enter feedback here]
In the [Export the copied database to a bacpac file] section, there is the following description.

Actually, in order to execute the SQLPackage command, not only SSMS but also the latest version of SQLPackage is required.
When SQLPackage v18.5 build15.0 is installed, the command option [Command Timeout] is enabled and the command can be executed.

---
#### Document Details

⚠

[2020-08-06 20:30] mugunthanm commented on #2605
Updated the sample code in the doc.

[2020-08-06 20:54] #2605 closed

[2020-08-07 06:23] drhexgit opened #2660 "missing listgrid"
2 of the wireframe layouts have a quick filter/listgrid on the left, but it is not present in the example screenshots, where did it go?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1c235e8a-d3b6-5ebd-3822-f56a42899a2c
* Version Independent ID: 8b4812bf-bcf9-03dd-211e-09f7f1b58832
* Content: [Details Transaction form

[2020-08-07 07:22] LyD001 opened #2661 "Status of instance is not Failed but Deleted"
Under remove a Human Resources environment from an existing Power Apps environment, in Step 7, the Deployment status is Deleted not Failed
![image](https://user-images.githubusercontent.com/63725992/89620142-68fa3980-d8b9-11ea-9086-04e7a77b9618.png)

Thank you

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 86f9cf92-fdf

[2020-08-07 13:14] #2558 closed

[2020-08-07 13:14] kfend commented on #2558
Closing as the topic has been updated.

[2020-08-07 15:48] josaw1 commented on #2651
Thank you for your feedback. @MilindaV2 can you please take a look?

[2020-08-07 15:50] josaw1 commented on #2653
Thanks for your feedback. @jashanno can you please take a look?

[2020-08-07 15:51] josaw1 commented on #2656
Thanks for your feedback. @laneswenka can you please review?

[2020-08-07 15:52] josaw1 commented on #2660
Thanks for your feedback. @jasongre can you please review?

[2020-08-07 15:53] josaw1 commented on #2661
Thanks for your feedback. @andreabichsel can you please take a look?

[2020-08-10 07:46] April-Cai opened #2670 "Power BI integration with Entity store"
Hi,

This is an amazing solution for Power BI integration to AX.
I just want to know which way that Power BI load data from entity store, the SQL server or others?
Also, can you provide an example that I can follow to setup data, build my own report and embed to AX?

Thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* I

[2020-08-10 09:50] kurthatlevik opened #2671 "The described app registration is deprecated."
The section covering "Register the app", do not seem to show the current way Azure Portal is working.  The described app registration is deprecated. See  https://developer.microsoft.com/en-us/identity/blogs/deprecation-of-app-registrations-legacy-experience-and-the-application-registration-portal-apps-dev-microsoft-com/

Can you walk through this section again, as I'm actually not able to conduct

[2020-08-10 19:21] scott-tucker opened #2674 "The navigation instructions in the 'Upload the Management Certificate' section are out dated."
these two steps should be updated.
2. In the Azure classic portal, in the left pane, click Settings.
3. Filter to the Azure subscription that is used, and then, on the Management certificates tab, click Upload.

the link to the 'Azure classic portal' doesn't work as expected any more. it redirects to the new portal.

Replace 2 and 3 with one step that should be similar to step 1 of the 'Set the Co

[2020-08-11 12:20] logicchild0x00 opened #2675 "Self-Signed certificate in Production"
Hi,
In appendix section, you stated "Self-signed certificates can be used only during development. They aren't supported in production environments.", do you mean self-signed certificates will not work at all in production environment, or it's just not recommended!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 69192df

[2020-08-11 13:15] tonyafehr commented on #2671
@kurthatlevik, thanks for the feedback.
@MilindaV2, please review.

[2020-08-11 13:15] tonyafehr commented on #2670
@April-Cai, thanks for the feedback.
@MilindaV2, please review.

[2020-08-11 13:22] tonyafehr commented on #2675
@diab-mossa, thanks for the feedback.
@jorisdg, please review.

[2020-08-11 13:28] tonyafehr commented on #2674
@sarvanisathish, please review. Thanks!

[2020-08-11 13:34] sericks007 commented on #1418
This issue is apparently not solved.  @laneswenka, can you please review and update the text, if needed?

[2020-08-11 13:55] Kelkane opened #2676 "Responding to Vendor questions - Does it exist?"
Does this functionality even exist? Cannot find the specified fields that correspond with this documentation in multiple versions including 10.0.10, 10.0.11...

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8c8e66cb-c9ee-71ed-1c34-132b8b53601a
* Version Independent ID: 49adb82f-76c6-6143-cd97-5ec619ef3b7a
* Content: [R

[2020-08-11 14:04] Kelkane commented on #2676
Edited to add, can put the field on through personalization.
![image](https://user-images.githubusercontent.com/63654741/89907010-19b65080-dbba-11ea-80ff-a82ec624a89a.png)

[2020-08-11 14:13] tonyafehr commented on #2676
@Kelkane, thanks for the feedback.
@kamaybac, please review.

[2020-08-11 14:15] tonyafehr commented on #2645
Bug #479878 logged to track this issue.

[2020-08-11 14:22] tonyafehr commented on #2646
Bug #479881 logged to track this issue.

[2020-08-11 17:32] jorisdg commented on #2675
I believe they won't work at all, because the signature can't be verified. I will find the correct owner for this, as it's not me :-)

[2020-08-12 06:36] soerenpc opened #2678 "Getting: "Microsoft Dynamics 365 for Finance and Operations: Document Routing -- Installation failed.""
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5fe44c05-ed58-b554-859e-2da552dbbd9d
* Version Independent ID: e638edab-dd54-6008-f210-524fd52b0e5b
* Content: [Install the Document Routing Agent to enable network printing - Finance & Operations | Dynamics 365](https://docs.microsoft.com/en-us/dynam

[2020-08-12 06:38] soerenpc commented on #2678
I´m getting this after uninstalling and re-installing..
I had to use an "unstaller" tool to get it uninstalled since someone apparently had removed install files on the server..

[2020-08-12 11:47] sericks007 commented on #2678
Thanks for contacting us. Unfortunately, we're unable to handle Support requests for the product here. To contact Support, consider one of the options described here: [Support contact options](https://docs.microsoft.com/en-us/dynamics365/unified-operations/dev-itpro/lifecycle-services/lcs-support). In particular, you might want to go to the [Dynamics 365 community page](https://community.dynamics.

[2020-08-12 11:47] #2678 closed

[2020-08-12 11:52] sericks007 commented on #2650
Bug 480527 has been logged to track this issue.

[2020-08-12 12:59] sericks007 commented on #1418
Bug 7968474 has been logged in the LCS database.

[2020-08-12 17:08] dodiggitydag opened #2679 "Windows Server 2019"
Is the DRA software supported when running on Windows Server 2019?  This article does not address this version of Windows.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5fe44c05-ed58-b554-859e-2da552dbbd9d
* Version Independent ID: e638edab-dd54-6008-f210-524fd52b0e5b
* Content: [Install the Document Routing Agent to

[2020-08-12 18:20] sericks007 commented on #2679
@dodiggitydag, thanks for providing this feedback!

@TJVass, please consider updating the content to address this issue.

[2020-08-13 06:46] Alpa-Chino opened #2682 "On-premise deployment"
Does the All-in One package requirement affect on-premise deployments as well or just the cloud deployments?  The article does not go into details around this.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: feb1c10e-1287-6db3-5ed6-315cb76fc1cd
* Version Independent ID: 85966417-fa61-ffa8-22e3-fa2bfa0e50ff
* Content: [A

[2020-08-13 23:33] josaw1 commented on #2651
BUG 481390created to track this issue.

[2020-08-13 23:36] josaw1 commented on #2652
BUG 481391 created to track this issue.

[2020-08-13 23:39] josaw1 commented on #2653
BUG 481392 created to track.

[2020-08-13 23:42] josaw1 commented on #2656
BUG 481393 created to track.

[2020-08-13 23:45] josaw1 commented on #2660
BUG 481394 created to track.

[2020-08-13 23:50] josaw1 commented on #2661
BUG 481396 created to track.

[2020-08-14 14:51] sanjay-lab opened #2685 "Confusion in Code for ViewCustomerSummaryCommand.ts"
[Enter feedback here]
can You verify,whether code will be
import MessageDialog from "../DialogSample/MessageDialog";
or
import MessageDialog from "../../DialogSample/MessageDialog";

in ViewCustomerSummaryCommand.ts Files

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cfef165f-aa45-f586-bffc-964ab04013fe
* Version Inde

[2020-08-14 16:19] jasongre commented on #2660
@drhexgit The side panel that contains the QuickFilter and list grid is initially invisible on the Details portion of these forms. You can toggle the visibility of the side panel using the "Show list" button on the left (below the Show filters button).

[2020-08-17 09:00] alx-kpk opened #2688 "Hint regarding Copy/Paste"
Would be glad to have a hint regarding issues with copy/paste.

For example when you prepare an e-mail template and using dynamic values it will not work when you just copy and paste the template into the textbox of the email description field. You've to enter the dynamic values into the textbox directly without copy paste! When trying to use copy/paste the placeholders will not be replaced by the

[2020-08-17 12:41] sericks007 commented on #2688
@alx-kpk, thanks for providing this feedback!

@ChrisGarty, please review and update the content, as appropriate.

[2020-08-17 18:10] RobinARH commented on #2642
Bug 482144 created to track this issue.

[2020-08-17 18:14] RobinARH commented on #2420
Bug 482145 created to track this issue.

[2020-08-17 18:16] RobinARH commented on #2418
Bug 482146 created to track this issue.

[2020-08-17 18:17] RobinARH commented on #2416
Bug 482147 created to track this issue. - Robin

[2020-08-17 18:19] #2660 closed

[2020-08-18 03:24] mugunthanm commented on #2685
Updated the sample code to:
"../../Controls/DialogSample/MessageDialog";

The full sample code is available in "\RetailSDK\POS\Extensions\SampleExtensions\ViewExtensions\Search\ViewCustomerSummaryCommand.ts"

[2020-08-18 07:07] BernhardRaether opened #2691 "Wrong spelling for Table CustCustomerV3Entity"
the Table name "CustCustomerV3Entity" is incorrectly spelled "CustomerCustomerV3Entity" on this page, please correct

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bf664431-b092-8d49-567d-90245aa48c99
* Version Independent ID: 14fce919-2a2d-4eab-b190-375516f6f05b
* Content: [Integrated customer master - Finance & Opera

[2020-08-18 13:11] tonyafehr commented on #2691
@BernhardRaether, thanks for the feedback.
@RamaKrishnamoorthy, please update this topic.

[2020-08-19 12:33] sericks007 commented on #2679
Bug 483023 has been logged to track this issue.

[2020-08-19 13:50] tonyafehr commented on #2676
Bug #483146 logged to track this issue.

[2020-08-19 13:50] tonyafehr commented on #2671
Bug #483143 logged to track this issue.

[2020-08-19 13:51] tonyafehr commented on #2670
Bug #483141 logged to track this issue.

[2020-08-19 13:57] tonyafehr commented on #2674
Bug #483157 logged to track this issue.

[2020-08-19 17:25] logicchild0x00 commented on #2675
@tonyafehr, we're still waiting for a confirmation from @jorisdg

[2020-08-19 18:55] jorisdg commented on #2675
I passed this thread on to the owning team, they said they'd have a look.

[2020-08-19 22:22] ksears87 opened #2695 "Expense categories"
We're having issue copying configurations for the Expense Management module, and wondering if it has something to do with the Expense Categories. I don't see Expense Categories mentioned anywhere here.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a9ca3366-fa7f-6cda-dfc6-672f032ccc3a
* Version Independent ID: 0bb7d0c2

[2020-08-20 07:06] magic1949 opened #2696 "Dynamics HR trial version link does not work- still points to Talent which then fails"
The link to the trial version for Dynamics 365 HR still points to Talent and does not work.
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e50cd712-afc9-ddb9-9b1b-23c9c54a1eb0
* Version Independent ID: 411b7341-e286-fada-d54b-40631fd64b80
* Content: [Provision Human Resources - Human Resources | Dynamics 365](https://do

[2020-08-21 13:57] BernhardRaether opened #2698 "Confusing Sentence in the "Getting the Solution" part"
Hi Tonya,

We have used this document to set up the Virtual Entities.

The part that's confusing is "Ensure the following solutions are installed in Common Data Service. These solutions must be extracted from the downloaded package."

Reading this, we were unsure if that's a manual step. Doing it, we found that the AppSource install will get all these listed solutions ready, no manual work needed.

[2020-08-24 10:48] kellertine opened #2699 "Great documentation of personalization"
MicrosoftDocs is highly useful in general, but the personalization pages are outstanding - thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ad8be7cd-8a59-b385-2c6a-763ebd5956fa
* Version Independent ID: 7f1dde5c-a26c-55bf-118c-513b95fe07e8
* Content: [Personalize the user experience - Finance & Operations | Dynam

[2020-08-24 14:18] sericks007 commented on #2699
@kellertine, thank you for the feedback!  It's always great to read feedback like this!

@jasongre, nice job!!

[2020-08-24 14:18] #2699 closed

[2020-08-24 18:25] Sunil-Garg commented on #2555
@ripannandy-- thanks for highlighting this issue. We are investigating if we can enable this API for composite entities as well. Thanks.

[2020-08-24 18:27] Sunil-Garg commented on #2555
@ripannandy -- quick update-- this is fixed in PU38.

[2020-08-24 18:30] Sunil-Garg commented on #2554
@nspiteri -- we have taken this as a bug and will investigate. Thanks.

[2020-08-24 18:30] #2555 closed

[2020-08-24 18:35] Sunil-Garg commented on #2557
@sababer82 -- can you share use cases where you were unable to debug? Once we understand the gaps, we can investigate further to fill those to enable troubleshooting in those cases. Thanks.

[2020-08-24 19:01] Sunil-Garg commented on #2524
Hi @rabol -- yes, this is still valid. The data package API is the supported integration API for on-premise. Thanks.

[2020-08-24 19:06] #2524 closed

[2020-08-25 08:27] Halldor10 opened #2703 "Thumprint and new version for cash registers for Norway"
Trying to figure out the current status of the Norway localizations.

Found following:
"In 2020 release wave 1, we will extend the out-of-the-box Commerce localization by delivering fiscal service integration for Germany and moving the digital signing of retail transactions for France and Norway to the fiscal integration framework."

But not seeing this reflected in the documentation, and not sure

[2020-08-25 12:44] mutsun1 opened #2704 "Need to add the mention to use latest SQLPackage.exe, not only SQL management studio."
We need to add some sentence that ask Customer to use latest version SQLPackage.exe so that we can support latest version of Azure SQL.
For example, “GeneralPurpose”, “BusinessCritical”, “Hyperscale” are supported by SQLPackage.exe version 18.4 (15.0.4573.2) as Azure SQL Database Edition, although SQLPackage.exe that is installed on SANDBOX is 14.0.4127.1　as default.
So, User get an error when the

[2020-08-25 13:29] sbaber82 commented on #2557
Hi Sunil,

Thanks for your response. I am not after debugging, as I can look at the errors by clicking on Manage messages button. Sometimes, the error is due to the format of the XML file that was sent to D365 from external application. If I can view the XML and able to download it, then I can fix the formatting error and then resubmit the message using Postman. But, currently, I have to email cus

[2020-08-25 13:37] tonyafehr commented on #2703
@Halldor10, thanks for the feedback.
@kfend, please review.

[2020-08-25 13:38] tonyafehr commented on #2704
@mutsun1, thanks for the feedback.
@laneswenka, please review.

[2020-08-25 13:40] tonyafehr commented on #2691
Bug #485375 logged to track to this issue.

[2020-08-25 13:53] AlexChern0v commented on #2703
@EvgenyPopovMBS

[2020-08-25 14:46] Sunil-Garg commented on #2557
Thanks for following up.

Good to know that you are able to view the errors in manage messages. As for XML errors, we have improved on XML error messages to be more precise. We would like to invest in improved error messages than add any functionality to download the original file as that could have security implications.

Can you share specific XML errors that were not clear? We can look at enhan

[2020-08-25 15:32] RamaKrishnamoorthy commented on #2691
fixed the issue and resolved the bug.

[2020-08-25 15:34] #2691 closed

[2020-08-25 17:20] heikkikorkala opened #2705 "Additional information requested for SAF-T tax code mapping"
Could you please provide additional information regarding the saf-t tax code mapping as the documentation currently doesn't instruct how to handle scenarios in which multiple codes would be applicable. As an example, let's say a single tax code in Dynamics 365 was defined for full rate sales and purchases. A different SAF-T code would be applied depending on the direction. How would one correctly

[2020-08-25 17:32] tonyafehr commented on #2705
@liza-golub, please review.

[2020-08-25 17:51] v-kikozl commented on #2703
Hello colleagues,
Uptake of the fiscal integration sample for Norway to the Fiscal integration framework is partially done, but the rest part of it was postponed due to more urgent features, that our team is currently working on.
So, for now only legacy version of the Norwegian localization is available, and we don't have a confirmed release plans for updating it to the Fiscal integration framewor

[2020-08-25 20:17] JoelLeichty opened #2706 "No Download Required?"
"These solutions must be extracted from the downloaded package."

I went through these steps and it installed without downloading anything. App Source installed solutions directly into the environment. Perhaps the documentation was related to an earlier version of this process?

Joel

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linki

[2020-08-25 21:34] tonyafehr commented on #2706
@Sunil-Garg, please review. Thanks!

[2020-08-26 02:26] sbaber82 commented on #2557
HI Sunil,

As we are using a custom composite entity, the errors are very specific to the structure of that entity.  There is one field inside the datasource within the composite entity, that is required despite it has some value or not. When the value for that specific field is not there in the message, external application is not passing that XML tag in the message, hence D365 gives formatting e

[2020-08-26 11:55] sericks007 commented on #2688
Bug 485813 has been logged to track this issue.

[2020-08-26 15:00] andyNewnham opened #2709 "Duplicate page"
This page appears in the 'Manage your financials' node twice, (both before and after the trickle-feed based order creation for retail store transactions' page).

Clicking on either link always takes you to the second link (after trickle-feed).

I believe one should be removed from the hierarchy.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub

[2020-08-26 15:34] sericks007 commented on #2709
@andyNewnham, thanks for making us aware of this! I removed the first instance of this page from the hierarchy -- the update will be published later today.

[2020-08-26 15:34] #2709 closed

[2020-08-26 20:47] tclayton72 opened #2711 "Example selecting count of AccountNum in CustTable is not valid"
The example code will not compile because the count function returns an integer which the AccountNum field is not.
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: dc08c66f-6eca-8bc3-b248-5f36a5465656
* Version Independent ID: 62c0ad9a-0356-0b68-fc6a-41a3e17c8f62
* Content: [X++ data selection and m

[2020-08-26 20:51] sericks007 commented on #2711
@tclayton72, thanks posting this feedback!

@RobinARH, please review and update the content, as necessary.

[2020-08-27 16:47] crobertso opened #2712 "Parameters Detail Page"
Is there a link to a Credit and Collections Parameters detail page that was, perhaps, excluded from this write up? I'm referring to a page that is easy to navigate, formatted similar to that for Accounts Payable Parameters at https://docs.microsoft.com/en-us/dynamicsax-2012//accounts-payable-parameters-form which discusses all of the detail behind each field and options for configurations.
[Enter

[2020-08-27 22:51] josaw1 commented on #2712
Thanks for your feedback. @mikefalkner, can you please help?

[2020-08-27 23:03] josaw1 commented on #2695
BUG 486839 created to track.

[2020-08-27 23:06] josaw1 commented on #2696
BUG 486841 created to track.

[2020-08-27 23:11] josaw1 commented on #2698
BUG 486844 created to track.

[2020-08-28 08:15] Donato66 opened #2713 "Fonts on the local host computer"
On the local host computer where is installed the document routing agent.
We have noticed that you need to install the fonts missing that the reports use.
Could you please confirm as this does not seem to be documented
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5fe44c05-ed58-b554-859e-2da552dbbd9d
* Version Independ

[2020-08-28 08:24] jimwillsher opened #2714 "LCS link"
[Enter feedback here]

The whole page is covering LCS and 21vianet for China. Would it not be helpful to mention that LCS for China implementations is lcs.dynamics.cn isntead fo the usual lcs.dynamics.com??? We found this out by pure luck,

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7de3f44e-1ebe-3a22-6e9a-20aac09b0

[2020-08-28 13:04] sericks007 commented on #2695
@Sunil-Garg, please review and update the content, as needed.

[2020-08-28 14:17] kesavadeekshitjedi opened #2715 "The link under complete the private preview survey does not work"
When I click on the link to complete the private preview survey, it takes me to a page that doesnt seem to exist
![image](https://user-images.githubusercontent.com/28644834/91578081-4c2cb100-e90f-11ea-988f-c40210ff44fa.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 48aa991b-6ebf-f11c-f803-1baa0857cc90
* Version In

[2020-08-28 14:34] panolte commented on #2712
At the introduction of credit management this actually got split into two topics.  The credit management help information is contained on the document page titled [Credit management setup](https://docs.microsoft.com/en-us/dynamics365/finance/accounts-receivable/cm-credit-mgmt-setup#credit-parameters).  The [Configure accounts receivable and credit and collections](https://docs.microsoft.com/en-us/

[2020-08-28 16:16] Neeraj2912 opened #2717 "Need some more examples with reference to ER configuration"
I would like to suggest one thing, Example given in the document/page does not provide such understanding that new beginner or learner would be able to use the same. There can be some screenshots from Electronic reporting with example how to configure the same and then its output.

Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue

[2020-08-28 16:18] #2712 closed

[2020-08-28 16:34] kfend commented on #2717
@Neeraj2912 - thanks for the feedback.
@NickSelin - can you take a look at this?

[2020-08-28 16:36] kfend commented on #2715
@kesavadeekshitjedi - thanks for bringing this to our attention.
@laneswenka - can you please take a look at this?

[2020-08-30 09:14] BernhardRaether opened #2720 "wrong naming of Button in chapter "Create an alert rule" step 2"
Hello Document Team,

the Step 2 of the "Create an alert rule" says:
On the Action Pane, on the **Options** tab, in the **Share** group, select **Create alert rule.**

My System has another text there - "**Create a customer Alert**", the ControlName: EventAlertRuleCreate

Tested both in VendTable and in EcoResProductDetailsExtended

The Step 3 then hast the correct text "Create Alert Rule"

My Ver

[2020-08-31 14:06] kfend commented on #2717
Nick has updated the topic with some graphics. Changes will publish in a few hours.

[2020-08-31 14:06] #2717 closed

[2020-08-31 17:35] RobinARH commented on #2714
@kfend Kristin - Can you take a look? Thanks.

[2020-08-31 17:37] RobinARH commented on #2720
@TJVass TJ - Can you take a look? Thanks.

[2020-08-31 17:38] #2685 closed

[2020-09-01 04:54] GordonLam opened #2721 "Please mention CDX job 1090 should be run after configuration"
Please mention CDX job 1090 should be run after configuration

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cbad16a9-4173-1fff-ec50-c1d301653973
* Version Independent ID: 34a90d8b-e2be-22d2-49e1-128f235cdf90
* Content: [POS user interface visual configurations - Commerce | Dynamics 365](https://docs.microsoft.com/en-u

[2020-09-01 13:36] tonyafehr commented on #2721
@GordonLam, thanks for the feedback.
@boycezhu, please review.

[2020-09-01 13:52] #2703 closed

[2020-09-01 13:58] tonyafehr commented on #2706
Bug 488533 logged to track this issue.

[2020-09-01 20:35] #2312 closed

[2020-09-02 11:53] sericks007 commented on #2711
Bug 489233 has been logged to track this issue.

[2020-09-02 13:50] yuukiii opened #2724 "Email from batch jobs not working"
[Enter feedback here]
Did not work

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 275371de-ef78-e9f5-101c-47b75d53fabc
* Version Independent ID: 87a3ce9d-423c-59cf-2787-008cf291f811
* Content: [Set up alerts - Finance & Operations | Dynamics 365](https://docs.microsoft.com/en-us/dynamics365/fin-ops-core/dev-itpro/sysad

[2020-09-02 13:55] sericks007 commented on #2724
@yuukiii, thanks for contacting us. Unfortunately, we're unable to handle Support requests for the product here. To contact Support, consider one of the options described here: [Support contact options](https://docs.microsoft.com/en-us/dynamics365/unified-operations/dev-itpro/lifecycle-services/lcs-support). In particular, you might want to go to the [Dynamics 365 community page](https://community

[2020-09-02 13:55] #2724 closed

[2020-09-02 23:23] PeterJarret opened #2726 "Clarity needed on warning about updating Production"
There is a note at the bottom of the page:  "if the environment is already running on the same version or a later version, the scheduled update is canceled".

 I feel some additional clarity is needed here.

- Does the note only apply to Production or any environment?

- Does "version" mean application/platform?  Or the combination of "application/platform+customisations"?

- How is "same" or "lat

[2020-09-03 13:22] TBR-YES opened #2729 "Missing Parameter for ISV license generation"
The Microsoft docs site is missing the parameter /signatureversion:1 which seems to be necessary to create a license file. Without this parameter the licenes generation throws the following error:
ERROR: Value cannot be null.
Parameter name: source

Only by a Yammer Thread i could find the missing parameters. So please update the docs page.

---
#### Document Details

⚠ *Do not edit this section.

[2020-09-03 14:31] fraga opened #2730 "Update business event parameters path in system administration > setup"
Confusing path to the parameters, suggestion change from:

[code]
to

[code]

There are more instances where the full path to business events are to be reviewed

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f5d9afcd-65f0-58fb-4e5c-faca467fa42e
* Version Independent ID: 6086b1cc-8c4a-9459-878c-d8dd05d7c694
* Content: [

[2020-09-03 14:41] fraga commented on #2730
Sorry after reviewing it suggestion:

In a non-production environment, you must update the parameters in **System administration > Setup > Business Events > Business Events parameters** and reset to default settings by clicking on 'Restore default settings'. This will setup retry count = 3; End points allowed per event = 10 and wait time = 1000. After this update, restart the batch service and run

[2020-09-03 22:09] RobinARH commented on #2711
I replaced that page with updated content: https://docs.microsoft.com/en-us/dynamics365/fin-ops-core/dev-itpro/dev-ref/xpp-data/xpp-data-home-page

I removed the old page and updated the links. Those updates will go live this evening.

[2020-09-03 22:09] #2711 closed

[2020-09-04 09:15] carstenhoeck opened #2732 "What do the new Select and copy buttons do?"
There are a couple of new buttons not covered in the documentation

- Select

- Copy and Revise

- Copy Line

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 322c2b3a-1716-96a4-de26-7f68b2558035
* Version Independent ID: 2353cddb-c330-bfb7-87fe-00a20780589b
* Content: [Create a new trade agreement - Supply Chain Manageme

[2020-09-04 11:41] jorisp opened #2733 "Exception in code sample maxSimulateRecordsPerBusinessUnit"
maxSimulateRecordsPerBusinessUnit should be changed to a lower number since TopCount for QueryExpression has to be a number between 0 and 5000

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0891e384-80e8-5d40-8bde-24081e06876a
* Version Independent ID: b6ecc0cb-e827-80aa-934d-ef03d674c97e
* Content: [Bootstrap with com

[2020-09-04 13:56] sericks007 commented on #2538
This content has been updated and will be published later today. Thanks!

[2020-09-04 13:56] #2538 closed

[2020-09-04 14:45] fbruemmer73 opened #2734 "AddIn does not exist"
Apparently, add ins can only be added in +T2 environments. However, this specific 'export to data lake' add in is not available to install on any of our T2/T3/T4 environments running 10.0.11.

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c84e15d4-bcac-038a-2b1e-8c456ee25bd9
* Version Independent

[2020-09-04 15:00] kfend commented on #2726
@PeterJarret  - Thank you for the feedback.
@laneswenka - Can you please look at and address this?

[2020-09-04 15:01] kfend commented on #2729
@TBR-YES - Thank you for the feedback.
@jorisdg - Can you please take a look and address this?

[2020-09-04 15:03] kfend commented on #2730
@fraga - Thank you for the feedback.
@Sunil-Garg - Can you please take a look and address this?

[2020-09-04 15:05] kfend commented on #2732
@carstenhoeck - thank you for the feedback.
@kamaybac - can you please work with the new author of this topic to address this feedback?

[2020-09-04 15:06] kfend commented on #2733
@jorisp - thank you for the feedback.
@RamaKrishnamoorthy - can you please look at and address this?

[2020-09-04 15:15] kfend commented on #2734
@fbruemmer73 - thank you for the feedback.
@MilindaV2 - can you please look at and address this?

[2020-09-06 04:09] dodiggitydag commented on #2679
Hello, do you have an update?

[2020-09-07 17:39] ivshch opened #2738 "Typo in congig example - misspelled StoreHoursSamp1e"
The last config example contains a typo, <?xml version="1.0" encoding="utf-8"?>
[code]
StoreHoursSamp**1**e instead of StoreHoursSample.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fec50456-8109-3379-9573-e7a91ef2d84a
* Version Independent ID: c975ebcf-ad83-a734-a27b-f36b3fb3b595
* Content: [Create a new Retail Serv

[2020-09-08 09:48] torbennehmer opened #2739 "Does not seem to work in 10.0.12."
Activating the performance Timer in 10.0.12 doesn't work, a dev system with a similar DB but on 10.0.11 still shows the performance timer. Has there been a change in the URL parameter?

Steps to reproduce on a 10.0.12, use the performance timer as documented:

![image](https://user-images.githubusercontent.com/2812067/92461112-203fe400-f1c9-11ea-9117-33da53f92868.png)

Am I using this correct or d

[2020-09-08 12:56] sericks007 commented on #2679
@TJVass, can you please respond?

[2020-09-08 12:59] aliveaydin opened #2740 "Visual backup"
In need of visual backup to understand the system
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b9f97509-0998-4701-9804-cac8ca6ffe82
* Version Independent ID: f41280dd-e85d-653e-a6d9-7e097a86699e
* Content: [Register items for an advanced warehousing enabled item using an item arrival journal - S

[2020-09-08 14:19] RuthGunn opened #2741 "Incorrect Instructions"
Within the article is this statement **_"Column header filters – When you filter a grid by using column header filters, you can change the filter operator as you require to find the data that you want. For example, you can change the operator from begins with to is exactly. Every time that you use a column header filter and change the filter operator, the app stores the change. Then, the next time

[2020-09-08 18:49] aaronstackpole opened #2743 "Create a copy of the source database (errors)"
When executing the SQL script to RESTORE database, we get this error:

Msg 3234, Level 16, State 2, Line 4
 Logical file 'AXDBBuild_Data' is not part of database 'AxDB_CopyForExport'. Use RESTORE FILELISTONLY to list the logical file names.
 Msg 3013, Level 16, State 1, Line 4
 RESTORE DATABASE is terminating abnormally.

Please update the script as needed?

---
#### Document Details

⚠ *Do not ed

[2020-09-08 20:36] kfend commented on #2714
I have added a note to the topic that calls this out. The changes will be published today.

[2020-09-08 20:36] #2714 closed

[2020-09-09 00:59] mugunthanm commented on #2738
Thanks for the feedback, updated the typo in the document.

[2020-09-09 06:06] makdaddy8888 opened #2745 "BC deployment"
Can LCS be used for Business Central deployment?
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: feb1c10e-1287-6db3-5ed6-315cb76fc1cd
* Version Independent ID: 85966417-fa61-ffa8-22e3-fa2bfa0e50ff
* Content: [All-in-one deployable packages - Finance & Operations | Dynamics 365](https://docs.microso

[2020-09-09 11:38] #2738 closed

[2020-09-09 11:40] sericks007 commented on #2739
@torbennehmer, thanks for posting this feedback.

@RobinARH, please review and update the content, as needed.

[2020-09-09 11:42] sericks007 commented on #2740
@aliveaydin, thanks for providing this feedback.

@kamaybac, please review.

[2020-09-09 11:45] sericks007 commented on #2741
@RuthGunn, thanks for providing this feedback.

@jasongre, please review and update the content, as necessary.

[2020-09-09 11:47] sericks007 commented on #2743
@aaronstackpole, thanks for providing this feedback.

@laneswenka, please review and update the content, as needed.

[2020-09-09 11:50] sericks007 commented on #2745
@makdaddy8888, thanks for providing feedback here.  You might want to go to the [Dynamics 365 community page](https://community.dynamics.com/) to get help with your question from the Dynamics community.

@laneswenka, please respond to the question.

[2020-09-10 08:41] PalleAgermark opened #2747 "Extension naming of table extenstion"
When I create a new table extension it is named OrigName.[Model]. Your guidelines here say it should be named OrigName.[Model]**Extension**. Why is the VS tooling not following the guidelines?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1eb14aee-fcc5-0b16-5e98-2b30febdce76
* Version Independent ID: d2e11166-cd39-ee9

[2020-09-10 23:45] jasongre commented on #2532
Thanks for calling this out! The documentation should be updated to reflect this soon.

[2020-09-11 03:47] qiufozhe opened #2749 "There is an extra 'that' in the artical 'build debug projects'"
[Enter feedback here]
We can see that[ in this artical](https://docs.microsoft.com/en-us/dynamics365/fin-ops-core/dev-itpro/dev-tools/build-debug-project)， under the **add the validation code** part, there is a sentence **To solve the problem of expired credit cards, you’ll add an event handler, which you’ll use to verify that that the credit card isn’t expired.**

There are 2 'that' used here, an

[2020-09-11 05:51] jlabustro opened #2750 "moving enviroment"
is this article also applicable for the CE environment that we created?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f123c2b2-f125-19eb-85fc-7d216dacba26
* Version Independent ID: 6f249ad8-0852-356e-0612-13b8070b31c7
* Content: [Move licenses between agreement types - Finance & Operations | Dynamics 365](https://docs

[2020-09-11 13:15] sericks007 commented on #2580
The incorrect link has been removed.

[2020-09-11 13:15] #2580 closed

[2020-09-11 17:28] rizal-ang opened #2753 "BYOD export job (from D365 F&O to Azure SQL DB) failed due to special characters in the SQL account password"
Hi there,

If this has not been raised before, I'd like to suggest a note to be included in the Microsoft Docs (around BYOD), suggesting not to use special characters (such as "~") as the password of the SQL account in the SQL DB.

Even though publishing entity to the SQL DB was successful, the export job in D365 F&O failed and no information/logs exist to say what caused the problem, giving me so

[2020-09-11 19:25] liza-golub commented on #2705
Hello,
Thank you for your feedback. Scenario described in the comment: “Scenarios, in which multiple codes would be applicable. As an example, let's say a single tax code in Dynamics 365 was defined for full rate sales and purchases. A different SAF-T code would be applied depending on the direction.” is out of scope of current implementation of Norwegian SAF-T report. Currently this is not in our

[2020-09-11 20:15] kfend commented on #2749
@qiufozhe - thank you for the feedback. We have updated the topic and the changes will be published today.

[2020-09-11 20:15] #2749 closed

[2020-09-11 20:16] kfend commented on #2750
@jlabustro - thank you for the question.
@ClaudiaBetz-Haubold - Can you answer this question?

[2020-09-11 21:06] ClaudiaBetz-Haubold commented on #2750
This article only pertains to Finance and Operations apps where environments are managed in Lifecycle Services.
Kind regards, Claudia Betz-Haubold

From: Kristin Fender <notifications@github.com>
Sent: Friday, September 11, 2020 10:17 PM
To: MicrosoftDocs/dynamics-365-unified-operations-public <dynamics-365-unified-operations-public@noreply.github.com>
Cc: Claudia Betz-Haubold <Claudia.Betz-Haubol

[2020-09-11 21:30] #2750 closed

[2020-09-12 09:36] andyNewnham opened #2754 "Term is confusing."
The use of the term: Microsoft Dynamics 365 Commerce ratings and reviews moderation tool - is confusing as a separate tool for this does not exist - it is just part of and within e-commerce site builder. It is also referred to as 'Reviews administration tool' in the diagram on this page https://docs.microsoft.com/en-us/dynamics365/commerce/ratings-reviews-overview. Which is correct? The inconsiste

[2020-09-14 15:49] jimwillsher opened #2755 "Typo on page?"
[Enter feedback here]
Hi, the purple box near the bottom refers to version 10.**1**.13. Currently released product is 10.**0**.13, with 10.0.14 in PEAP. Is this a typo?

Many thanks,

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 85ad711b-bfb4-204c-1cde-322a20187f82
* Version Independent ID: 3cbbbe8c-2893-c449-598d-c22

[2020-09-14 15:57] sericks007 commented on #2755
@jimwillsher, thank you for letting us know about the typo!  This had been fixed and the updated content will be published soon.

[2020-09-14 15:57] #2755 closed

[2020-09-14 20:10] BSLATTER opened #2756 "Azure Application permissions?"
Is it possible to get information on what permissions are required in the Azure Application?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1c1841da-9abc-bad3-be64-6523be61ae70
* Version Independent ID: d7d6083b-8e1e-d439-91bc-d5dd8f5eddca
* Content: [Business events and Azure Service Bus - Finance & Operations | Dynam

[2020-09-14 20:23] sericks007 commented on #2756
@BSLATTER, thank you for providing feedback here.

@Sunil-Garg, please review and update the content, as needed.

[2020-09-15 00:38] RobinARH commented on #2754
@gvrmohanreddy @v-chgri

Can you take a look at this one? Thanks.

[2020-09-15 08:01] ibruynin opened #2758 "Looking for explanation on asyncState parameter in the Global::runAsync method"
There is no documentation on the asyncState parameter.
Can this be provided?

I hope this solves passing the return values of the method that was called asynchronously to the calling method.
Code below is simplified (hope it still makes the point)
[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e7a6baaa-f14c-87e6

[2020-09-15 10:46] ibenbouzid commented on #2756
It is specified in documentation section Register an Application.You need Get and List Secret permision for your  KeyVault--ImadOn 14 Sep 2020 22:10, BSLATTER <notifications@github.com> wrote:

Is it possible to get information on what permissions are required in the Azure Application?

Document Details

⚠ Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.

ID:

[2020-09-15 12:49] beefcake123 opened #2759 "How do I connect to the SQL database on my Sandbox environment? --> Outdated"
Section "How do I connect to the SQL database on my Sandbox environment?" is outdated after removal of 'RDP access'. This needs to be updated to support the new way-of-work.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5080f3d7-0ad1-940c-284a-92008d7c19d5
* Version Independent ID: c911e39b-82ee-2ae3-4493-d2e39afccc2b

[2020-09-15 16:47] RobinARH commented on #2720
Bug 506286 created to track this issue.

[2020-09-15 16:49] RobinARH commented on #2759
@AngelMarshall Can you take a look? Thanks.

[2020-09-15 16:54] RobinARH commented on #2758
Hi Ian - I'm currently doing some work in these docs. I'll add this to my list of updates, but it's still going to take a couple of months. - Robin

Bug 506289 created to track this issue.

[2020-09-15 16:57] AngelMarshall commented on #2759
Hi Robin,

Is it about the RDP removal?  If so, @Lane Swenka<mailto:Lane.Swenka@microsoft.com> would probably have better insight on this impact on SQL DB connection.

Thanks!
Angel

From: Robin Reynolds-Haertle <notifications@github.com>
Sent: Tuesday, September 15, 2020 9:50 AM
To: MicrosoftDocs/dynamics-365-unified-operations-public <dynamics-365-unified-operations-public@noreply.github.com>
Cc

[2020-09-15 22:40] RobinARH commented on #2416
I've updated the doc for the first question, adding "After accessing a project, the report can be accessed via the hamburger in Lifecycle Services (LCS)." It should go live this evening.

For the second question, it's explained by this in the Usage section, "The second key measure in the report is the form-based usage of the product in the production environments that are associated with the activ

[2020-09-15 22:40] #2416 closed

[2020-09-15 23:42] suvaidya commented on #2167
Updated documentation with requested changes.

[2020-09-16 10:11] advent77 opened #2762 "Aging report is horrible to set-up !! It's unnecessarily confusing to set up parameters !"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2905850a-1484-f4a7-b156-94fa0ddc3570
* Version Independent ID: 6bb2f10c-f60b-a2c8-45ca-b4d9a7992bb6
* Content: [Set up and generate accounts receivable aging information - Finance | Dynamics 365](https://docs.microsoft.com/en-us/dynamics365/finance/ac

[2020-09-16 11:35] sericks007 commented on #2762
@advent77, thank you for providing feedback.

@roschlom, please review and assign to the appropriate PM.

[2020-09-16 12:05] Neeraj2912 opened #2763 "Example are not useful enough to understand"
[Enter feedback here]
Example given in the document is not explained with the purpose of using the formula. It would be better to include the real scenarios/ purposes where this function can be utilized. We use this formula to get the Enum values from label text, but example given is to compare the values and stored as boolean. It would be really helpful, if example can given for using it to get t

[2020-09-16 13:29] #2532 closed

[2020-09-16 14:45] sericks007 commented on #2759
@laneswenka, please review and update the content, as needed.

[2020-09-16 20:39] mburbackeoc opened #2764 "Paragraph 7 appears to be missing an illustration/image"
Hello - as I have been reading this page - I believe there is an image missing at Paragraph 7.
thanks
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8edfe78b-6486-5678-a171-95f81d2715ef
* Version Independent ID: 62a24546-bb3f-5194-43f0-0db144643ab7
* Content: [Phantom items - Supply Chain Manageme

[2020-09-17 00:49] ronsonntag54 opened #2765 "Would be useful to include a complete definition and description of FieldSize, Precision, and Scale in D365 F&O"
[Enter feedback here]
Many real number fields inherit back many levels. At each level, there is a trade-off between the stated number of decimals (has an actual number or is Auto) and scale. I've been told and read that total FieldSize for Real numbers is a maximum of 16 even though SQL stores as numeric(36,6). Also, there are these rules that if No. of Decimals remains as Auto all the way to the

[2020-09-17 12:46] sericks007 commented on #2763
@Neeraj2912, thank you for providing this feedback.

@NickSelin, please review and update the content, as needed.

[2020-09-17 12:56] sericks007 commented on #2739
Bug 507305 has been logged to track this issue.

[2020-09-17 12:59] sericks007 commented on #2740
Bug 507308 has been logged to track this issue.

[2020-09-17 13:05] sericks007 commented on #2741
Bug 507311 has been logged to track this issue.

[2020-09-17 13:09] sericks007 commented on #2743
Bug 8305783 has been logged to track this issue.

[2020-09-17 13:13] sericks007 commented on #2745
Bug 8305794 has been logged to track this issue.

[2020-09-17 13:15] #2756 closed

[2020-09-17 13:41] heikkikorkala commented on #2705
Hello @liza-golub . Understand not in roadmap for my specific example scenario, but there are simpler ones as well and I would still request additional instruction for the SAF-T setup for tax codes. The article basically only says "set up the external codes for tax groups" but how?
- Is the standard code checkbox required to be set in order for the SAF-T report to work?
- What if multiple tax code

[2020-09-17 14:23] tonyafehr commented on #2721
Bug 507345 logged to track this issue.

[2020-09-17 16:46] alexander-lsretail opened #2767 "Why are all users except the admin will be set to Disabled status when exporting a DB?"
Why are all users except the admin set to Disabled status when exporting a DB? We do testing on our LCS environment and normally take a DB backup before we perform those tests. In many cases we'd like to import the DB back in after we perform our tests. We have a whole team that needs access to the environment and it's very inconvenient for the admin to have to enable users after a DB import. Is t

[2020-09-18 11:46] andyNewnham opened #2768 "Second paragraph states: "Although no out-of-box user interface (UI) for setting attribute values is available in the POS, you can extend the POS to add a new UI." However this UI was added in 8.1.3 as the specific section later in the document demonstrates"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: daca1f9e-c913-eb05-1a7d-23e6a54fc782
* Version Independent ID: f6ab1665-4c15-c2ed-9bf0-f5411295840a
* Content: [Define and set order attributes - Commerce | Dynamics 365](https://docs.microsoft.com/en-us/dynamics365/commerce/dev-itpro/order-attributes

[2020-09-18 13:26] RobvanB opened #2769 "Adding RetailSDK to Source Control - cloaked items"
The step to add the retailSDK to source control says to make sure there are no excluded items.
However, with my fresh 10.0.12 dev instance, there are a large number of items that are cloaked, and as such cannot be added.
Is that a problem with the VM, or does the documentation need updating?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub iss

[2020-09-18 16:11] josaw1 commented on #2764
Thanks for the feedback. @kamaybac can you please take a look?

[2020-09-18 16:12] josaw1 commented on #2765
Thanks for the feedback. @LarsBlaaberg can you please review?

[2020-09-18 16:17] josaw1 commented on #2767
Thanks for the comment. @laneswenka can you please take a look?

[2020-09-18 16:19] josaw1 commented on #2768
Thank you for your feedback. @mugunthanm can you please review?

[2020-09-18 16:20] josaw1 commented on #2769
Thanks for your feedback. @andreashofmann1 please take a look.

[2020-09-21 03:17] XiaoliangHuang opened #2772 "incorrect information in step 29"
There is a typo in the description.

in step 29: when set the trade agreement line, it should be the "Party code type", but not "Account type" that to set value "Group"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 61ae039b-4b9a-7957-c5ae-e0dcb05a2879
* Version Independent ID: ccba2c88-c979-ec12-cb0e-37188f641e91
* Co

[2020-09-21 13:59] BernhardRaether opened #2776 "please correct sentence "...the apps from Finance and Operations will be synchronized""
The sentence is wrong:
With the dual-write functionality enabled, the apps from Finance and Operations will be synchronized in other Dynamics 365 apps in Draft state.

...Not the **Apps** from F&O will be synchronized, but the **Products**

Thanks for checking and fixing,
Bernhard

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.

[2020-09-21 17:26] Sunil-Garg commented on #2706
That is correct @JoelLeichty . Just fixed it. Thanks!

[2020-09-21 20:29] RobinARH commented on #2772
@josaw1 Can you take a look? Thanks.

[2020-09-21 20:30] RobinARH commented on #2776
@t-benebo Can you take a look? Thanks.

[2020-09-21 22:22] jasongre commented on #2741
@RuthGunn just wanted to get some clarifications as I wasn't able to reproduce the issue you are pointing out. For reference, I tried on both on the Open sales order lines page, as well as lines grid after drilling into an order from the All sales order page. The value of the filter is not expected to save, but the filter operator (e.g. "is one of", "contains") was being remembered for me. Perhaps

[2020-09-21 22:43] ashishmsft commented on #2594
https://github.com/MicrosoftDocs/dynamics-365-unified-operations-public/pull/2778

@sericks007  please help publish this pull request

[2020-09-21 22:46] laneswenka commented on #2178
I unfortunately don't own trials so not sure how this works today, will follow up with the team.

[2020-09-21 22:50] ashishmsft commented on #2594
For configure bar-code setups - https://docs.microsoft.com/en-us/dynamicsax-2012/appuser-itpro/configure-bar-code-setups - I have reached out to SCM team to assist with Dynamics 365 Version of the AX 2012 document - for us to be able to refer to that document.

[2020-09-21 23:07] laneswenka commented on #2421
Please assign to DevTools team, this article isn't related to LCS / Admin / environment management

[2020-09-21 23:14] laneswenka commented on #2505
This change was reverted by the engineering team.  Customers can now do this activity again as-documented.

[2020-09-21 23:17] laneswenka commented on #2601
Please assign to the DevTools team as this is in regards to deployable package generation, and perhaps tasks that are available in Azure DevOps pipelines

[2020-09-22 03:57] FangyuanHou opened #2779 "Deprecated the async import/export"
With the new release of Dynamics 365 F&O Platform updates for 10.0.13, we have deprecated the async import/export, instead schedule a one-time batch for export and import and batch get scheduled without showing any batch UI.

Can you please update in the docs? Looks like PG only enable the DMFLegacyAsyncExport flighting with a strong business justification.
---
#### Document Details

⚠ *Do not edi

[2020-09-22 07:34] Neeraj2912 opened #2780 "No link provided for the setup to make the data in Analytics available"
In the document, features are described as available in the Bank Management Workspace, but it would be very useful, if the links for the required setup would be there like; how to enable the data/ refresh the data to make the Analytics available in the workspace. Because by default data comes blank in the Bank Management Workspace >> Analytics.

Hope the link /additional resources can be added.

-

[2020-09-22 12:17] RuthGunn commented on #2741
Hi Jason

I don’t believe you’re in an open sales order and trying to filter on the multiple lines.  I’d be happy to walk thru this will you and talk with you directly; however I don’t want to post my email or cell phone on GitHub.  If you can contact me directly, EST, I think that would be best.

Ruth Gunn

From: Jason Green <notifications@github.com>
Sent: Monday, September 21, 2020 6:22 PM
To:

[2020-09-22 12:35] DAXaholic opened #2782 "Data entity naming restriction (no digits, no underscore) still valid?"
Is this restriction still valid and necessary?
There are numerous examples in the application which violates this (just search via `type:"data entity" (_|[0-9])` in the Application Explorer), especially all new revisions of existing entities like `CustCustomerV3Entity`.

Background of the question
We use the prefix `WK_` for our own elements in order to avoid naming collisions as there are no name

[2020-09-22 13:24] laneswenka commented on #2767
Hello!  The principle is the same as when we copy a database between sandbox environments or between Production and UAT for example.  We lock the environment down to the administrator user who can then properly reconfigure the environment for use in the target, whether that is enabling specific users, all users, specific batch jobs, SMTP, and so forth.

[2020-09-22 13:25] laneswenka commented on #2767
Have you looked at the point-in-time restore functionality?  If you are testing every Wednesday for example, on Friday you could use point in time restore back to Tuesday.

[2020-09-22 14:21] tonyafehr commented on #2779
@FangyuanHou, thanks for the feedback.
@Sunil-Garg, please review.

[2020-09-22 14:23] tonyafehr commented on #2780
@Neeraj2912, thanks for the feedback.
@rschloma, please assign this to the current topic author.

[2020-09-22 14:24] tonyafehr commented on #2782
@DAXaholic, thanks for the feedback.
@Sunil-Garg, please review.

[2020-09-22 14:25] laneswenka commented on #2382
Hi Teemu, we have since fixed this and now support it in LCS.

[2020-09-22 14:31] #1418 closed

[2020-09-22 14:31] #2149 closed

[2020-09-22 14:31] #2169 closed

[2020-09-22 14:31] #2170 closed

[2020-09-22 14:31] #2275 closed

[2020-09-22 14:31] #2343 closed

[2020-09-22 14:31] #2383 closed

[2020-09-22 14:31] #2474 closed

[2020-09-22 14:31] #2548 closed

[2020-09-22 14:31] #2652 closed

[2020-09-22 14:33] #2706 closed

[2020-09-22 14:36] rsteber commented on #1418
Hi Sally,
Can you please tell me, why this bug was closed?

Can you confirm, that the LCS validation was fixed? Because on our latest upload of a deployable package last night, LCS still demands the wrong filename inside the package.

Thanks,
Roland

[2020-09-22 15:00] sericks007 commented on #1418
Hi @Rsteber,
I just merged the changes @laneswenka made in [MicrosoftDocs/Dynamics-365-Operations#9229](https://github.com/MicrosoftDocs/Dynamics-365-Operations/pull/9229).  Those changes updated this content - and will be published later today.

If you find that the changes don't resolve this issue, please re-activate this issue.

Thanks!
Sally

[2020-09-22 16:17] sericks007 commented on #2601
@jorisdg, can you please take a look at this.

[2020-09-22 16:36] jorisdg commented on #2601
To do this from automation in Azure DevOps, there's a task you can use:  https://docs.microsoft.com/dynamics365/fin-ops-core/dev-itpro/dev-tools/pipeline-add-license-package

I'm not sure if the licensing team has a specific article on this, but essentially to do this manually just add the license text files inside an existing deployable package, inside the folders AosService\Scripts\License

[2020-09-22 16:46] #2601 closed

[2020-09-22 17:39] #2382 closed

[2020-09-22 18:10] jopankow opened #2784 "Edge Chromium required ClickOnce flag setting"
Hello,

Please add this additional information for steps on how to enable ClickOnce for the new Microsoft Edge based on Chromium under the "Issue 1: Report Designer doesn't start when you select New or Edit" section. Please change the text as needed for formatting consistency:

1. Open a new browser tab in Microsoft Edge.
2. Enter edge://flags and click enter.
3. Search for the **ClickOnce Support

[2020-09-22 18:14] jopankow opened #2785 "Typos in Troubleshooting issues opening Report Designer section"
The page says "Workstations are required to install Visual Studio .NET 4.6.2 or higher." This should instead say "Workstations are required to install Microsoft .NET Framework 4.6.2 or higher."

Also, please make the text "This version of the Microsoft .NET Framework can be downloaded and installed from the Microsoft Download Center." on the same bullet point line with the bullet point for .NET. H

[2020-09-22 18:21] tonyafehr commented on #2785
@jopankow, great feedback. I updated this topic and changes will be live tomorrow. Thank you!

[2020-09-22 18:21] #2785 closed

[2020-09-22 18:23] aprilolson commented on #2785
Adding @Jinnie Wong<mailto:jiwo@microsoft.com> as new PM for financial reporting.

Josh is our Senior Support Engineer for Financial reporting so I approve this if it came from him.
@Josh Pankow<mailto:jopankow@microsoft.com> are you able to directly add this yourself? It’d be good to allow Senior CSS to update these.

April Olson
Dynamics 365 Finance
Principal Group Product Manager
Check out our

[2020-09-22 18:58] tonyafehr commented on #2784
@jopankow, thanks for the feedback.
@aprilolson, please re-assign, if needed.

[2020-09-22 20:20] tonyafehr commented on #2721
@GordonLam, this topic will be updated later today to reflect this feedback. Thank you!

[2020-09-22 20:20] #2721 closed

[2020-09-22 22:21] alexander-lsretail commented on #2767
@laneswenka thanks for the reply. Your explanation for why you'd want to disable users when copying between environments makes sense to me.

For point-in-time restore, this page says that users are also disabled.

https://docs.microsoft.com/en-us/dynamics365/fin-ops-core/dev-itpro/database/database-pitr-prod-sandbox#data-elements-that-arent-copied-during-restore-copy

So will we run into the same

[2020-09-22 22:37] MilindaV2 commented on #2670
Pl see the document here: https://docs.microsoft.com/en-us/dynamics365/fin-ops-core/dev-itpro/analytics/add-analytics-tab-workspaces?toc=/dynamics365/commerce/toc.json

[2020-09-22 22:46] MilindaV2 commented on #2617
We are in limited preview at this point in time. Our previews are now closed. However, we are accepting requests from customers who would like to join previews in the future. pl. ask your customer to complete the survey below if this is something interesting. https://aka.ms/FnODataLakePreviewSurvey

[2020-09-22 23:08] #2617 closed

[2020-09-23 09:14] jawn opened #2790 "Add Virtual Entities to Choose a data integration strategy"
[Virtual Entities](https://docs.microsoft.com/en-us/dynamics365/fin-ops-core/dev-itpro/power-platform/faq) support has recently been added.

Hence, it would be practical to add it to this page.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b2cdcdc3-398f-f785-d02e-cc784d91869c
* Version Independent ID: c7ec7a85-c489-f8

[2020-09-23 09:48] PeterRFriis commented on #2682
Hi Alpa-Chino
All-in One package are supported on on-premises deployments as well.
On-premises deployments support(with the exception of a platform package) the same package types as D365 F&O in running on Service Fabric in Cloud.

[2020-09-23 10:07] Alpa-Chino commented on #2682
Hi Peter!

Thanks for the answer, the enforcement part  for All-in One is still not clear to me, when it will be enforced on on-prem?

[2020-09-23 10:16] PeterRFriis commented on #2682
Hi
We dont have a specific date yet, but I believe it will later this year.
So I can confirm that on-prem will enforce it at some point and will align with cloud.

[2020-09-23 13:24] sericks007 commented on #2790
@jawn, thanks for the suggestion!

@Sunil-Garg, please update the content with this suggestion.

[2020-09-23 13:32] #2670 closed

[2020-09-23 13:37] sericks007 commented on #2762
Bug 509455 has been logged to track this issue.

[2020-09-23 18:15] abylkhatov opened #2793 "Get the list of upcoming updates udpated"
My customers are asking to get this page updated with a list of updates for the next 12 months from now, so that they can plan their projects.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e7dcb285-f32c-c92e-fe49-1617f213066b
* Version Independent ID: 8f28c1a0-9da5-f853-90ee-d82a4c32df7e
* Content: [Service update ava

[2020-09-23 18:26] sericks007 commented on #2793
@abylkhatov, thanks for sharing this feedback.

@ShellyBakke, please review and update the content.

[2020-09-23 19:03] #2682 closed

[2020-09-24 14:43] kfend commented on #2763
@Neeraj2912  - The topic has been updated with more information. Thanks!

[2020-09-24 14:43] #2763 closed

[2020-09-24 14:51] JulianMenn opened #2794 "Error in URL"
In the section:
Enable debug mode to troubleshoot live synchronization issues in Finance and Operations apps

There is an error in the URL. It contains a character: ">" in the URL. It says:
https://XXXaos.cloudax.dynamics.com/?mi=SysTableBrowser&tableName=>DualWriteErrorLog
But should say:
https://XXXaos.cloudax.dynamics.com/?mi=SysTableBrowser&tableName=DualWriteErrorLog

Or better:
https://&lt;B

[2020-09-24 18:20] jasongre commented on #2741
Hey @RuthGunn, feel free to email me at jasongre@microsoft.com

[2020-09-24 18:27] sericks007 commented on #2741
Hi @RuthGunn - I'm going to close this issue because @jasongre can't reproduce it.  If you walk Jason through the scenario, this can certainly be re-opened.  Thanks!

[2020-09-24 18:27] #2741 closed

[2020-09-24 20:47] josaw1 commented on #2794
Thanks for your feedback. @RamaKrishnamoorthy can you please review?

[2020-09-25 07:32] TeemuMiettinen opened #2795 ""Copy the Sandbox database to Production" section does not cover Self-Service process"
"Copy the Sandbox database to Production" section is for Microsoft-Hosted only for the new self-service process it needs to be updated. With self-service production you cant use Service Request anymore nor have an option to press +Add for creating one:
https://docs.microsoft.com/en-us/dynamics365/fin-ops-core/dev-itpro/database/dbmovement-scenario-goldenconfig#copy-the-sandbox-database-to-producti

[2020-09-25 08:12] Ievgenm opened #2796 "Combination of backup and restore commands could lead to incorrect configuration promotion"
Should it be INIT instead of "NOINIT"  in the backup database statement? Otherwise, if you already have a backup file since last run you will append it. Then with the next script that restores database you will restore first backup set in the file instead of one you've just created.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linkin

[2020-09-25 19:17] josaw1 commented on #2764
BUG 510661 created to track this issue.

[2020-09-25 19:22] josaw1 commented on #2767
BUG 510663 created to track the conversation.

[2020-09-25 19:23] josaw1 commented on #2768
BUG 510669 created to track.

[2020-09-25 19:26] josaw1 commented on #2769
BUG 510672 created to track.

[2020-09-25 20:17] kfend commented on #2795
@TeemuMiettinen - thank you for the feedback.
@laneswenka  - can you please take a look at and address this issue?

[2020-09-25 20:18] kfend commented on #2796
@Ievgenm - thank you for the feedback.
@laneswenka - can you please take a look at and address this issue?

[2020-09-26 18:57] nmaroud opened #2800 "I believe there is a wrong word used, which should be replaced"
Dear all,

In my opinion the word "decreasing" (in <> in the text below), should instead be replaced with the word "increasing". What do you think?

_Main elements of the functionality
The auto-update shipment functionality relies primarily on the shipment status to determine whether the quantity on a load line should be changed when a change is made on a sales order line or transfer order line. I

[2020-09-28 07:22] FangyuanHou commented on #2779
@Sunil Garg<mailto:sunilg@microsoft.com>, could you please check on this?

Best Regards
Fangyuan Hou (Fang)

From: Tonya Fehr <notifications@github.com>
Sent: Tuesday, September 22, 2020 10:22 PM
To: MicrosoftDocs/dynamics-365-unified-operations-public <dynamics-365-unified-operations-public@noreply.github.com>
Cc: Fangyuan Hou <Fangyuan.Hou@microsoft.com>; Mention <mention@noreply.github.com>
Sub

[2020-09-28 15:17] davecope1982 opened #2801 "PBIX request"
I was wondering if it was possible to get a copy of the Inventory Accounting Status pbix please? I can see that the doc here says this has been deprecated but the workspace still appears in V10.0.13 but is not available to download via LCS anywhere that i can see?

I have customers wanting to customise these reports but without access to the pbix this is practically impossible

I can pull in the C

[2020-09-28 16:36] Sunil-Garg commented on #2753
Hello rizal-ang-- thanks for catching this and reporting to us. We will investigate as to why the jobs fail when this happens. Thanks.

[2020-09-28 18:08] josaw1 commented on #2768
The topic was updated. Thanks.

[2020-09-28 18:08] #2768 closed

[2020-09-28 20:06] RobinARH commented on #2801
@kfend - Can you take a look? Thanks.

[2020-09-28 20:08] RobinARH commented on #2800
@kamaybac Can you take a look? Thanks.

[2020-09-28 20:09] RobinARH commented on #2776
We updated this topic.

[2020-09-28 20:09] #2776 closed

[2020-09-28 20:14] RobinARH commented on #2754
Bug 511421 created to track this issue.

[2020-09-28 20:18] RobinARH commented on #2490
The link is fixed.

[2020-09-28 20:18] #2490 closed

[2020-09-28 20:21] RobinARH commented on #2772
Bug 511430 created to track this issue.

[2020-09-28 20:24] RobinARH commented on #2759
Bug 511436 created to track this issue.

[2020-09-28 20:27] josaw1 commented on #2772
Step updated. Will be published later today.

[2020-09-28 20:27] #2772 closed

[2020-09-28 20:38] ed-bcr opened #2802 "Collections Status not disputed needs more detail."
the documentation lists the definition of the status "Not disputed" as "No collections action has occurred for the transaction."
However when users select this option, no Collections History log item is created.  This should be mentioned in the document, as users are not aware that no log entry is created.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.c

[2020-09-28 22:08] jorisdg commented on #2747
I will update the doc. We don't care about the name as long as it's not just "extension" but something unique enough. That was changed in the tooling in 2018 or 2019 so it doesn't just default to .extension, .extension1, .extension2 etc. as this could and has resulted in name clashes. Since model names are unique, the .[_ModelName_] default is perfectly acceptable, and so is .ModelExtension (it's

[2020-09-28 23:49] #2747 closed

[2020-09-29 06:55] davecope1982 commented on #2650
any update on this?

[2020-09-29 09:28] rabol opened #2803 "It does not specify which permission is needed"
[Enter feedback here]
There is no information on which permission the account that access the BYOD database needs to have in order to create and publish entities

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 33f75161-0776-a6c1-dc10-dc20ea26973f
* Version Independent ID: 55a81394-4606-745a-9fd2-59fb257d1086
* Content:

[2020-09-29 10:25] VadimGoncharenko opened #2804 "Article refers to an outdated agent version"
'The latest version of the local agent is version 2.4.0, which was released in December 2019' statement is not up to date

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 38d81ec9-52b0-5b29-282b-f5cf451ba746
* Version Independent ID: 6b1b4864-e2a8-d0f5-b0d1-5d04fa3e82ca
* Content: [Update the local agent - Finance & Oper

[2020-09-29 10:41] kamaybac commented on #2800
@nmaroud , thank you for bringing this to our attention. You are entirely correct, the term should be "increasing". I have edited the page and the update should be live later today.

[2020-09-29 10:42] #2800 closed

[2020-09-29 13:23] tonyafehr commented on #2804
@VadimGoncharenko, thank you for the feedback.
@faix, please review.

[2020-09-29 13:23] tonyafehr commented on #2803
@rabol, thank you for the feedback.
@Sunil-Garg, please review.

[2020-09-29 13:23] tonyafehr commented on #2802
@ed-bcr, thank you for the feedback.
@ShivamPandeyMSFT, please review.

[2020-09-29 13:29] tonyafehr commented on #2782
Bug 511733 logged to track this issue.

[2020-09-29 13:32] tonyafehr commented on #2780
Bug 511734 logged to track this issue.

[2020-09-29 13:34] tonyafehr commented on #2784
Bug 511735 logged to track this issue.

[2020-09-29 16:01] josaw1 commented on #2653
PR will be merged today with changes. Thanks.

[2020-09-29 16:01] #2653 closed

[2020-09-29 21:25] liza-golub commented on #2705
Hello,
Current implementation of External codes for Sales tax codes is limited to possibility to setup one “external” code value for one Sales tax code. As you correctly noted: “The external codes form blocks duplicates”. This behavior was inherited from the solution introduced for Norwegian SAF-T report in 2016th for AX 2012 R3, to not brake users experience in case some companies are migrating f

[2020-09-29 21:37] #2705 closed

[2020-09-30 09:31] Justin-10 opened #2806 "Unable to restore to the specified point in time. Please try another restore point. If the issue persists, please contact support with this Id: fd07572a-04be-46c7-8ec1-47b5b0a1db58"
D365FO UAT Environment, Restore point-in-time has an error occurred:
Unable to restore to the specified point in time. Please try another restore point. If the issue persists, please contact support with this Id: fd07572a-04be-46c7-8ec1-47b5b0a1db58

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 805f3739-0cad-d6ab-7db0

[2020-09-30 11:44] sericks007 commented on #2806
@Justin-10, thanks for contacting us. Unfortunately, we're unable to handle Support requests for the product here. To contact Support, consider one of the options described here: [Support contact options](https://docs.microsoft.com/en-us/dynamics365/unified-operations/dev-itpro/lifecycle-services/lcs-support). In particular, you might want to go to the [Dynamics 365 community page](https://communi

[2020-09-30 11:44] #2806 closed

[2020-09-30 11:48] sericks007 commented on #2790
Bug 512192 has been logged to track this issue.

[2020-09-30 11:51] sericks007 commented on #2793
Bug 512195 has been logged to track this issue.

[2020-09-30 11:58] rabol opened #2808 "What is the name of the job history cleanup feature"
[Enter feedback here]
It is stated that after update 29, one have to enable a feature to clean up the job history: Data management > Job history cleanup.

but what is the name of the feature ?

When looking at the Feature management it's not really clear which on to turn on

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID

[2020-09-30 13:59] panolte commented on #2802
Thank you for your feedback.  We have updated the definition to include that collection history has not been created.

[2020-09-30 14:29] #2802 closed

[2020-09-30 16:11] abylkhatov opened #2809 "Time to deploy self-service environment varies in different pages"
In the ["Deploy a new environment page"](https://docs.microsoft.com/en-us/dynamics365/fin-ops-core/dev-itpro/deployment/deployenvironment-newinfrastructure) it says "The environment deployment starts immediately and could take anywhere between **1-2 hours** to complete." But in ["Self-service deployment overview"](https://docs.microsoft.com/en-us/dynamics365/fin-ops-core/dev-itpro/deployment/infra

[2020-09-30 18:52] sericks007 commented on #2808
@rabol, thanks for providing this feedback.

@Sunil-Garg, please review and update the content, as needed.

[2020-09-30 18:54] sericks007 commented on #2809
@abylkhatov, thanks for providing this feedback.

@rashmansur, please update the content, as appropriate.

[2020-09-30 21:29] jinniew commented on #2784
@tonyafehr , I've added the suggested text above to the Content Source as noted below, please note that I added it to the bottom and left the instructions on how to do the same in IE.

* If you use the Microsoft Edge based on Chrome browser, you must install a ClickOnce extension in order to download the Report Designer client. If you are running incognito mode, make sure the ClickOnce extension i

[2020-10-01 10:25] helloyesthisisdave opened #2812 "What are the limits on external data mash ups? This document contradicts itself"
The **Overview** section states that:

however, the **Can I do data mash-ups by using external data in the embedded reports?** question in the FAQ states that:

Can this please be clarified?

Thanks.

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 630034c6-dbcc-d365-d58b-36bef4277582
* Version Independent ID: ce5941a7-6

[2020-10-01 20:41] josaw1 commented on #2812
Thank you for your feedback. @TJVass can you please take a look?

[2020-10-01 20:47] josaw1 commented on #2794
BUG 512809 created to track.

[2020-10-01 22:45] faix commented on #2804
@tonyafehr please close, a fix for this has already been merged

[2020-10-02 01:13] RobinARH opened #2814 "Help make the docs more inclusive (dev-itpro)"
Replace gendered pronouns in the dev docs according to our style guide.

Only work in this folder:
https://github.com/MicrosoftDocs/dynamics-365-unified-operations-public/tree/live/articles/fin-ops-core/dev-itpro

Using the instructions here:
https://docs.microsoft.com/en-us/style-guide/bias-free-communication

Please leave a note if you are working on this issue so that we don't duplicate effort.

[2020-10-02 05:58] Neeraj2912 opened #2816 "Syntax (Finance and Operations query) (Finance and Operations query between parentheses) needs more illustration to make this feature more useful"
The syntax (Finance and Operations query) (Finance and Operations query between parentheses) is highly useful feature, a separate section can be made for the same with more illustrations , this would definitely increase its usage as very few people use this awesome feature just because of lack of information in documents.

I can give an example like
When we try to filter out the field "Approved by

[2020-10-02 06:02] KaylaKremer commented on #2814
Hi @RobinARH ,

I can work on this!

[2020-10-02 11:39] #2804 closed

[2020-10-02 19:47] kfend commented on #2816
@Neeraj2912 - thank you for this feedback.
@jasongre - Can you take a look at this when you have a chance?

[2020-10-03 20:50] bytemech commented on #2814
Working on this :)

[2020-10-05 02:57] ReQ6W7rFnaBxyfb opened #2821 "Probably there is a sentence missing at Step 9"
In section Benefit eligibility policy, there should be a sentence item #9 describing a step involving the filtering field. There is a bullet point with an example of a filtering clause, but no *step* #9 to create a filter clause if desired.
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e716afb8-7

[2020-10-05 21:24] RobinARH commented on #2821
@andreabichsel Can you take a look? Thanks.

[2020-10-05 21:27] RobinARH commented on #2801
Bug 513696 created to track this issue.

[2020-10-05 23:01] josaw1 commented on #2695
Please open a service request for this issue. To contact Support, consider one of the options described here: [Support contact options](https://docs.microsoft.com/en-us/dynamics365/unified-operations/dev-itpro/lifecycle-services/lcs-support).

[2020-10-05 23:01] #2695 closed

[2020-10-06 08:17] gertvdh opened #2825 "Documentation for label extensions"
It's possible to extend labels too, can this be documented here too? And how to cope with multiple extensions on the same label file, how should the naming be done?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b7526dd1-39d1-a882-8560-52c530ef5649
* Version Independent ID: 7dd2a62b-b310-595b-eeda-f746679bbf3c
* Conten

[2020-10-06 11:57] manbhat07 opened #2826 "Navigation path is not correct"
[Benefit Management Workspace > Set Up > Human Resources Parameters
Benefit management Tab has the set up for "Benefit Verification" and "Auto Select Designess".]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c6cb266b-f118-ce27-524f-c74813730934
* Version Independent ID: 12ac9119-ad6c-163e-91f3-b616167d4f00
* Content:

[2020-10-06 12:52] tonyafehr commented on #2825
@gertvdh, thanks for the feedback.
@FrankDahl, please review.

[2020-10-06 12:53] tonyafehr commented on #2826
@manbhat07, thanks for the update.
@andreabichsel, please update this topic.

[2020-10-06 18:41] mikecaterino opened #2827 "Database export verbiage contradicts LCS warning"
The line "The environment will be unavailable for other servicing operations, such as Sandbox refresh or package deployment during this time. The source environment will be usable from a Dynamics user perspective." should be updated to "The environment will be unavailable for other servicing operations, such as Sandbox refresh or package deployment during this time. The source environment will mak

[2020-10-06 18:43] jlabustro opened #2828 "LCS"
When they redeploy the new environments under the new agreement, will it create a new LCS or not? if not, how do we know which sandbox is under the new agreement and which is under the old agreement? Thanks in advance.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f123c2b2-f125-19eb-85fc-7d216dacba26
* Version Indepen

[2020-10-06 19:28] laneswenka commented on #2827
Hey Mike!

The export action shouldn’t interrupt the runtime, are you saying that the system goes offline? We create a copy and export that, which shouldn’t impact AOS.

Lane

Sent from my iPhone

[2020-10-06 20:00] mikecaterino commented on #2827
I thought that was the process as well; however, it did take a sandbox
environment offline briefly and sure enough, LCS does have a disclaimer
stating that the export may temporarily take down the service.

On Tue, Oct 6, 2020 at 3:28 PM Lane Swenka <notifications@github.com> wrote:

[2020-10-06 21:47] tonyafehr commented on #2828
@jlabustro, thanks for the feedback.
@ClaudiaBetz-Haubold, please review.

[2020-10-06 23:06] f7a6875 opened #2831 "Job history clean up job needs to be enabled before it appears"
It should be noted in the "Job history clean up" cleanup section that the "Execution history cleanup" feature needs to be enabled through Feature Management before it shows up in the Data Management workspace.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d35f4fb2-1296-20ef-56c2-a2c5aa00befe
* Version Independent ID:

[2020-10-07 01:01] laneswenka commented on #2827
Got it, let me reach out on email I would like to treat this more as a support/bug as the intended behavior is as documented.  Will be in touch!

Sent from my iPhone

On Oct 6, 2020, at 2:48 PM, Tonya Fehr <notifications@github.com> wrote:

﻿

Closed #2827<https://github.com/MicrosoftDocs/dynamics-365-unified-operations-public/issues/2827>.

—
You are receiving this because you were mentioned.
Rep

[2020-10-07 07:11] pmusiej opened #2833 "Add-in not available to choose"
I do not see this add-in on the list with add-ins. Is this requires any additional steps?
Pawel

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 332ecc73-b911-de45-fd7c-4f2e1926db53
* Version Independent ID: 5057d69e-3e33-19c3-69e0-6aad0fff5e5e
* Content: [Electronic invoicing add-on overview - Finance | Dynamics 365](ht

[2020-10-07 09:24] ClaudiaBetz-Haubold commented on #2828
Sandboxes are *not* tied to a specific agreement. Once a sandbox environment has been deployed, it will remain deployed until the customer deallocates and deletes it as long as the customer maintains the minimum license requirement for the service. However, the customer is obliged by the licensing agreement to deallocate and delete add-on sandboxes when they terminate the subscription for the add-

[2020-10-07 10:37] LakshmiD365 opened #2834 "Asset management"
Please include information about Enterprise Asset management like :
1. Is it supported for On-premise or not ??
2. If yes , please provide information about EAM On-premise.

[2020-10-07 11:26] sericks007 commented on #2831
@f7a6875, thank you for providing this feedback.

@Sunil-Garg, please review and update the content, as needed.

[2020-10-07 11:29] sericks007 commented on #2833
@pmusiej, thank you for providing this feedback.

@gionoder, can you please respond to the question.

[2020-10-07 11:32] sericks007 commented on #2834
LakshmiD365, thank you for providing feedback.  To help our team address this feedback, please provide the URL of the article this feedback applies to.

[2020-10-07 11:37] sericks007 commented on #2808
Bug 514265 has been logged to track this issue.

[2020-10-07 11:41] LakshmiD365 commented on #2834
Hi sericks007,
Thank you for your response.
Below is the URL of the article I'm referring to:
https://docs.microsoft.com/en-us/dynamics365/fin-ops-core/fin-ops/get-started/cloud-prem-comparison

[2020-10-07 11:41] sericks007 commented on #2809
Bug 8514998 has been logged (in the LCS database) to track this issue.

[2020-10-07 14:18] sericks007 commented on #2834
@LakshmiD365, thank you! We'll look into this.

[2020-10-07 14:54] brettchristiansen opened #2835 "Missing E-commerce supported browsers list"
Missing a list of supported browsers for e-Commerce.  Based on the general system req's seen currently, assumption would be that IE is supported.

Based on this doc, perhaps IE is not supported for e-commerce, but not clear since this is a doc specifically regarding a dev environment setup. https://docs.microsoft.com/en-us/dynamics365/commerce/e-commerce-extensibility/system-requirements

---
####

[2020-10-07 15:02] sericks007 commented on #2835
@brettchristiansen, thanks for providing this feedback.

@jashanno, please review and update the content, as needed.

[2020-10-07 15:32] SysC0mp opened #2836 "Cleanup of warning() messages"
Regarding following paragraph in the documentation:

I have the problem currently that warning messages are not shown to the user because of the above. Which validate() method is meant here? What should return false so that the warnings aren't cleaned up?

If I replace warning() with info() or error(), the messages are shown properly, but it is per definition a warning needed at that point as the

[2020-10-07 15:36] sericks007 commented on #2836
@SysC0mp, thanks for providing this feedback.

@jasongre, please review and update the content, as needed.

[2020-10-08 00:14] gionoder commented on #2833
Hi Pawel, thank for your message.

The Add-on is Public now. It should be available to everyone through LCS as Preview feature.

For details, please see the [link](https://docs.microsoft.com/en-us/dynamics365/finance/localizations/e-invoicing-get-started#lcs-setup).

Thank you, Regards,
Gilberto.

[2020-10-08 06:26] pmusiej commented on #2833
Hi,
No it's not working yet.

Br,
Pawel

[image: image.png]

czw., 8 paź 2020 o 02:14 Gilberto <notifications@github.com> napisał(a):

[2020-10-08 12:56] jspijkerboer opened #2838 "Synchronous vs. Asynchronous paradigms table unclear"
The table is a bit unclear comparing the paradigms. Maybe make it more that they are methods on classes and link to the corresponding pages?
(e.g. DataServiceContext.SaveChangesAsync, Http**Web**Request.GetResponse)

Took me a while to figure out that the table was referring to those methods.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub is