[2020-02-07 11:29] AndrewCussons opened #2075 "Active Issues tab requires a support plan for trial subscriptions"
If a customer uses a paid subscription they can submit to Microsoft by using the default support plan associated to their paid subscription.
If a customer or partner uses a “Technical preview / trial”  they must purchase a support plan to submit to Microsoft (the default support plan is not available, unless they pay for the subscription)

---
#### Document Details

⚠ *Do not edit this section. It

[2020-02-07 11:33] AndrewCussons commented on #1992
I had a “Technical preview / trial”  subscription and there is no default free support plan, by design. If I use a paid subscription there is a free support plan that can be used.

Please clarify in the Docs help
"Note: Technical preview subscriptions cannot Submit to Microsoft unless they have a paid support plan. "

[2020-02-07 14:27] josaw1 commented on #1968
The updates to the topic will be published today. Thanks.

[2020-02-07 14:27] #1968 closed

[2020-02-07 18:12] dlanglie opened #2078 "Gift card provider is case sensitive GIVEX should be givex"
POS payment terminal section:
Gift card provider	Enter the gift card provider that the connector should use to process gift cards. The possible values are SVS and GIVEX.

These values are case sensitive.  GIVEX should be givex

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b1a7bb73-c6c0-fc10-9369-04714ac8e6f0
* Version

[2020-02-07 18:16] Sunil-Garg commented on #1984
Thanks, the update has been submitted.

[2020-02-07 18:18] elcanelo opened #2080 "Link to supported math symbols is broken."
The Supported math symbols link (http://redhivesoftware.github.io/math-expression-evaluator/#supported-maths-symbols) returns 404.

There seems to be an alternate repository (https://github.com/bugwheels94/math-expression-evaluator/blob/master/README.md) that contains the same documentation.

I noticed however that the grids on PU32 do not support Sigma (summation) nor Pi (Product) operators, coul

[2020-02-07 19:13] dechanan opened #2081 "Maintenance options are locked down before update"
Before updating (I think it's 4 hours but would need someone from LCS team to confirm) the maintenance options such as export database are locked down. I think this would be something useful to mention in the FAQ as I had a customer not realize this.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 23fde63f-0f6f-b1a0-50c

[2020-02-07 19:50] #1984 closed

[2020-02-07 21:23] Sunil-Garg commented on #1927
@julia341, the URL has been updated. Apologies for the confusion.

[2020-02-07 21:34] #1927 closed

[2020-02-09 06:46] ripannandy opened #2083 ""Log on as" account issue to configure DRA as windows service"
Unified operations application is hosted on "****.onmicrosoft.com" and company local domain is "companyname.com". In that scenario, how DRA is to be configured as windows service for network printers? What should be the "Log on as" account for windows service?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d1745c96-57e

[2020-02-10 15:14] FH-Inway opened #2086 "Document limit of composite entity label and entity names"
See https://stackoverflow.com/questions/60147676/how-to-debug-composite-entity-with-incorrect-syntax-near-the-keyword-from-ex/60153163#60153163

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0198d960-ca6c-4d08-36e0-b5061e13a784
* Version Independent ID: 6e445b8a-8906-f8a8-5dda-d177ae12e3db
* Content: [Develop composite

[2020-02-10 15:27] AnjaHCph opened #2087 "Practise Manager Power BI"
[When I try to access the Analytics tab under the PM Workspace, I received the following error, ie. It is not possible to use or review the Practice Manager Power BI]

![image](https://user-images.githubusercontent.com/50369427/74162870-c6227480-4c21-11ea-96c3-822f4c0207fa.png)

How can we gain access to the PM analytics?

---
#### Document Details

⚠ *Do not edit this section. It is required for

[2020-02-10 16:44] phil896 opened #2088 "Contradiction for the "Enable export of incremental updates" feature"
I think there's a contradiction between the Finance and SCM sections for one product feature. In Finance, "Data management and integration &gt; Enable the export of incremental updates to a data entity" is listed as supported on-premise, but in SCM the same feature is listed as unsupported. Aren't they supposed to be the same product, and the feature should either be supported or unsupported in bo

[2020-02-10 18:48] sericks007 commented on #2080
@elcanelo, thanks for making us aware of this issue!

We've fixed the link and the updated content will be published later today.

[2020-02-10 18:48] #2080 closed

[2020-02-10 20:33] elcanelo commented on #2080
Thanks!

[2020-02-11 11:13] Sarveshwara opened #2091 "RSAT : Generated Valid Certificate and While Run the Test case through RSAT , Getting the Error Message : There was no endpoint listening at " " that could accept the message. This is often caused by an incorrect address or SOAP action. See InnerException, if present, for more details. The remote name could not be resolved"
1. All Mandatory Prerequisites and SOAP Host Name and Host Name were Provided of TEST Env.
2. **Configure the test environment to trust the connection** were established by updating wif.cofig file with the generated thumbprint. Also the generated certificate is a CSP Key.
3. Ran the following PowerShell scripts on the client computer where the test tool is installed.
Set-ItemProperty HKLM:\SOFTWAR

[2020-02-11 14:06] shafee005 opened #2092 "Dev box VM VHD download not available anymore"
The option to download VM VHD is not available anymore.  The only deployment option available is Azure only.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 146a6e6a-4f26-195e-80fc-15b38d77b948
* Version Independent ID: 489070bf-affb-4d92-eeac-91cad7a2a889
* Content: [Sign up for preview subscriptions](https://docs.micr

[2020-02-11 14:08] shafee005 opened #2093 "Download VM VHD option not available anymore"
The downloadable VHD file is not available anymore. When we  go to LCS and create a new environment the only option available is to deploy the environment to Azure VM.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fe3913a6-4daa-9973-6f0b-d7ae4c1007c2
* Version Independent ID: f2cd311b-fcb8-cff4-57a3-47c3c52b19d6
* Con

[2020-02-11 14:45] tonyafehr commented on #2093
@jorisdg, please review this feedback. Thanks!

[2020-02-11 14:45] tonyafehr commented on #2092
@jorisdg, please review this feedback. Thanks!

[2020-02-11 14:48] tonyafehr commented on #2083
Thanks for contacting us. If you need immediate assistance, contact Support using one of the options described here: [Support contact options](https://docs.microsoft.com/en-us/dynamics365/unified-operations/dev-itpro/lifecycle-services/lcs-support). In particular, you might want to go to the [Dynamics 365 community page](https://community.dynamics.com/) to get help with your questions from the Dyn

[2020-02-11 14:50] tonyafehr commented on #2086
@Sunil-Garg, please review. Thanks!

[2020-02-11 14:55] tonyafehr commented on #2091
Thanks for contacting us. Unfortunately, we're unable to handle Support requests for the product here. To contact Support, consider one of the options described here: [Support contact options](https://docs.microsoft.com/en-us/dynamics365/unified-operations/dev-itpro/lifecycle-services/lcs-support). In particular, you might want to go to the [Dynamics 365 community page](https://community.dynamics.

[2020-02-11 14:55] #2091 closed

[2020-02-11 14:57] sericks007 commented on #2088
@phil896, thanks for letting us know about this!  We'll look into it!

[2020-02-11 14:57] tonyafehr commented on #2087
Thanks for contacting us. If you need immediate assistance, contact Support using one of the options described here: [Support contact options](https://docs.microsoft.com/en-us/dynamics365/unified-operations/dev-itpro/lifecycle-services/lcs-support). In particular, you might want to go to the [Dynamics 365 community page](https://community.dynamics.com/) to get help with your questions from the Dyn

[2020-02-11 15:04] tonyafehr commented on #2055
Bug 418208 has been logged to track this issue.

[2020-02-11 15:05] tonyafehr commented on #2074
This feedback is not associated with a particular topic. If you need immediate assistance, contact Support using one of the options described here: [Support contact options](https://docs.microsoft.com/en-us/dynamics365/unified-operations/dev-itpro/lifecycle-services/lcs-support). In particular, you might want to go to the [Dynamics 365 community page](https://community.dynamics.com/) to get help w

[2020-02-11 15:05] #2074 closed

[2020-02-11 15:09] ClaudiaBetz-Haubold commented on #2040
All,

Sorry for the delay. I have taken a stab at it. See attached. Not sure what else I need to do with respect to Bug 416541 and Issue 2040. Quite some overhead.

To the issue at hand – not calling the product “Dynamics 365 for Finance and Operations” any more - shouldn’t this be consistently changed by content team instead of leaving it to every individual how to replace “Dynamics for Finance a

[2020-02-11 19:02] #409 closed

[2020-02-11 19:03] #699 closed

[2020-02-11 19:08] #711 closed

[2020-02-11 19:14] #956 closed

[2020-02-11 19:14] #934 closed

[2020-02-11 19:16] #1093 closed

[2020-02-11 19:19] #1177 closed

[2020-02-11 19:28] #1217 closed

[2020-02-11 19:32] #1983 closed

[2020-02-11 19:32] laneswenka commented on #1107
Yes, this is because we don't refer to this as Upgrade.  This is called Update going forward.  Please see https://docs.microsoft.com/en-us/dynamics365/fin-ops-core/dev-itpro/migration-upgrade/upgrade-latest-update#automatic-update

[2020-02-11 22:07] SiouxGrad opened #2094 "Need to update the Configure parameters that affect retail statements page"
There are a lot of Parameters on the Posting tab in Commerce Parameters that are not listed on this page.

For example, all of the Statement options are missing, 3 of the Batch processing options are missing, etc.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 58187e29-636c-e83f-6dfd-8b36b4ccb8df
* Version Independent

[2020-02-11 23:40] Bijan-Ghofranian opened #2095 "How to Delete Model/Package in Finance and Operations"
Here is a nice example by Akshay Thombare:

https://www.cloudfronts.com/how-to-delete-model-package-in-finance-and-operations/

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4f21baa4-903d-1a42-eaaf-4efe1ed1b951
* Version Independent ID: e8d91d54-a0f1-5958-0623-6c0c54ec0b8d
* Content: [Uninstall a package](https://docs.

[2020-02-12 02:19] danshewchuk opened #2097 "Formatting/code issues"
The first X++ example has spaces between the sentences, which it shouldn't have, and also isn't code-style formatted.
The first C# example says that it shows the differences by commenting out the X++ code, but there's no commented code in the example at all.
Also that C# code has some of the worst formatting styles I've ever seen.

---
#### Document Details

⚠ *Do not edit this section. It is requ

[2020-02-12 07:14] amithprasanna commented on #2092
you can still download VM from Shared Asset Library in LCS

[2020-02-12 07:51] AnjaHCph commented on #2087
Maybe I should note that I'm assuming that the Analysis tab under Project Management Workspace is identical to the Practice Manager BI, i.e. as described here https://docs.microsoft.com/en-us/dynamics365/fin-ops-core/dev-itpro/analytics/practice-manager-power-bi

[2020-02-12 10:46] SasoGLIGOR commented on #2043
Hi Tonya and thanks for the reply.
Sure, we have contacted support, and still have an ongoing ticket with Microsoft.
The résumé is the following :
-	First we were asked to justify why do we need our environments in France.
-	Then, we needed to recreate our LCS project in the French version: fr.lcs.dynamics.com
-	Then, we weren’t able to complete the onboarding process, cannot choose Azure region.

[2020-02-12 10:57] amadse opened #2099 "Business events are not mentioned in relation to on-premis"
In the comparison between cloud and on-premise deployment https://docs.microsoft.com/en-us/dynamics365/fin-ops-core/fin-ops/get-started/cloud-prem-comparison Business events https://docs.microsoft.com/en-us/dynamics365/fin-ops-core/dev-itpro/business-events/home-page are not mentioned. If you run a 100% disconneted on-premise environment you are not able to use Business events, but what is possibl

[2020-02-12 13:50] #1922 closed

[2020-02-12 13:57] sericks007 commented on #2099
@Sunil-Garg, please add business events to the [Comparison of cloud and on-premises features](https://docs.microsoft.com/en-us/dynamics365/fin-ops-core/fin-ops/get-started/cloud-prem-comparison) topic.

[2020-02-12 14:07] tonyafehr commented on #2043
Thanks for the update, I will forward your info on to the appropriate team. Please send me a personal email at tfehr@microsoft.com so I have your email address.

[2020-02-12 14:20] sericks007 commented on #2097
@danshewchuk, thanks for posting here!

@RobinARH, please review.

[2020-02-12 14:30] sericks007 commented on #2095
@Bijan-Ghofranian, thanks for posting here!

@jorisdg, please review.

[2020-02-12 14:32] sericks007 commented on #2094
@SiouxGrad, thanks for posting here!

@josaw1, please review.

[2020-02-12 14:36] sericks007 commented on #2059
Bug 418628 has been logged to track this issue.

[2020-02-12 14:39] sericks007 commented on #2056
Bug 418629 has been logged to track this issue.

[2020-02-12 18:18] josaw1 commented on #2094
@anpurush, can you please review?

[2020-02-12 18:48] axaeffect opened #2101 "Viewing Custom Fields"
I just add a custom fields in Sales Order form (so it goes to SalesTable). It already appeared in my form, but when I go to System administration &gt; Setup &gt; Custom fields, the list is empty.
Please help how to use it.
Thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4f63be40-3dbb-c580-7f16-8e31c30a3a22
* Ver

[2020-02-12 21:24] shafee005 commented on #2092
That is what I thought untill i raised a ticket with MS support. I would recommend the article be updated to say it can be downloaded from asset library.

[2020-02-13 14:47] d-j-schmidt opened #2103 "Network printer account"
Some additional detail about how to set the network printers' service account to the same as axservice.exe would be helpful.

https://docs.microsoft.com/en-us/dynamics365/fin-ops-core/dev-itpro/deployment/troubleshoot-on-prem#printing-randomly-stops

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 41f27bdd-7361-5030-a00d

[2020-02-13 16:00] Chrisslima opened #2104 "BPM New Experience - Could not Publish copy under Corporate libraries either use Configurations Options"
Dear all,

It seems that all these steps refer to the Old Experience of BPM. It does not appear to me the option to "Publish" a library under "Global Libraries" (only Copy). How could I move a Global library to a Corporate library? I have a role of Project Owner.

Besides that, in this new experience, it's not possible either to add "Data Package", the "Configure Process" tab does not appear anymo

[2020-02-13 16:35] sericks007 commented on #2104
@Chrisslima. thank you for this feedback!

@AngelMarshall, please review and update the content as needed.

[2020-02-13 18:28] bebeale opened #2105 "Retail to Commerce?"
Should this page be updated to "Commerce Hierarchies"?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e7eecb3b-5c30-e017-981f-8e0d00c5ada8
* Version Independent ID: a20d28cc-f636-0306-7303-d44b79651268
* Content: [Retail hierarchies](https://docs.microsoft.com/en-us/dynamics365/commerce/retail-hierarchies#feedback)
* C

[2020-02-13 20:40] josaw1 commented on #2105
Hi, thanks for the comment. I'll make the change and publish today. Thanks.

[2020-02-13 20:40] #2105 closed

[2020-02-13 21:38] josaw1 commented on #2103
Thanks for your feedback. @sarvanisathish please comment.

[2020-02-13 21:39] josaw1 commented on #2101
Thank you for your feedback. @jasongre please comment.

[2020-02-13 21:44] #2060 closed

[2020-02-13 21:46] josaw1 commented on #2063
BUG 419059 created to track this issue.

[2020-02-13 21:47] josaw1 commented on #2064
BUG 419060 created to track this issue.

[2020-02-13 21:49] josaw1 commented on #2066
BUG 419062 created to track this issue.

[2020-02-14 09:14] ransoentjens opened #2107 "Sales Tax Groups: Call Center Defaults"
On the sales tax groups setup form: What is the purpose of the Call Center Defaults configuration and HOW does it impact the call center sales order process?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 777ec7a1-9fed-a203-b352-23a01b80fae9
* Version Independent ID: 11351051-1028-89a4-0e37-40ce74c8a494
* Content: [Sal

[2020-02-14 09:52] iamJoshKnox opened #2108 "Shotcut to open Module?"
Alt+F1 expands the navigation pane, but now that Favorites / Recent / Workspaces / Modules have been broken out into their own dropdowns, can they be given their own shortcuts?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8a33997b-4e5f-3170-ae1c-ce3173c409ea
* Version Independent ID: a9e28f43-ffd3-fe7a-c2da-ec37727d5

[2020-02-14 14:45] kristyler opened #2111 "Page need updates"
This page should be updated when the l updates. There is new functionality that needs covered.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 621ba770-ffc3-8f2f-7f68-b3ec64424932
* Version Independent ID: 47db56b9-54db-c452-837f-b2ec5e7b0207
* Content: [Regression suite automation tool](https://docs.microsoft.com/en-us

[2020-02-14 15:31] mores commented on #1062
Where do you create the support ticket ?
I am having the same issue.

[2020-02-14 15:41] tonyafehr commented on #1062
To contact Support, visit [Support contact options](https://docs.microsoft.com/en-us/dynamics365/unified-operations/dev-itpro/lifecycle-services/lcs-support). You also might want to go to the [Dynamics 365 community page](https://community.dynamics.com/) to get help with your questions from the Dynamics community.

[2020-02-14 17:29] kristyler commented on #1909
Take the https:// out, both in the host name field and the soap host name field. They should look the same except for aossoap appended to the first section of the url in the soap field.

[2020-02-14 17:33] kristyler opened #2112 "page updates"
Are we still on v3.13? RSAT keeps rolling back the chromedriver to v78, though Chrome is now at v80.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e2458b41-99e9-53ff-b898-cdd957c1c924
* Version Independent ID: 9aad0fcb-b367-136a-9fb0-d8d04a2cfc33
* Content: [Regression suite automation tool installation and configurat

[2020-02-14 18:55] RobinARH commented on #2066
We updated the code labels, but it looks like there's still one that needs updating.

The call to Global::info from C# looks like this:

Global.info("This is an interesting text");

In the X++/C# [comparison topic](https://docs.microsoft.com/en-us/dynamics365/fin-ops-core/dev-itpro/dev-ref/xpp-cs-comparison), the suggestion is to use Console.WriteLine() in C#.

[2020-02-14 18:55] #2066 closed

[2020-02-17 11:07] ripannandy commented on #283
Production environment is running on ****.onmicrosoft.com account  Hence, unable to use admin account of D365FO as a service agent while configuring DRA as service. In this scenario, how to configure DRA as service for network printers. If it's possible through D365FO admin account then what should be the procedure?

[2020-02-17 12:41] SysC0mp opened #2116 "Missing information on edit method modifier"
I was not able to find any additional information for edit / display methods that applies to D365? (for example on the caching behaviour) Where can i find that in the documentation?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 51bd2787-887e-c0b8-176e-1fb26c7de95b
* Version Independent ID: 1cd60a0e-3def-e4b0-7abe-4b36

[2020-02-17 14:42] MMT0905 opened #2117 "Purchasing Card Processing"
I cannot find any additional information on what type of public sector configuration needs to be made in order to have the "active purchasing cards" option available on the AP parameters.
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e915b2ff-55b1-8e5a-0302-1e1c6efd25af
* Version Independent ID:

[2020-02-17 17:11] velofog commented on #2117
You need to have the public sector configuration key active and enable the feature in feature management before you can enable the feature in Accounts Payable parameters

[2020-02-17 21:02] MMT0905 commented on #2117
I would recommend adding that there is a prerequisite of having version 10.0.8 or higher, and enabling the Purchasing Card Processing in Feature Management.

[2020-02-18 05:44] sbaber82 opened #2119 "Location of task guide"
[Hi, I want to know where to find the task guide which is mentioned in the doc site. I tried to search it under Business process modeler in LCS, but couldn't find it. The task guide that I am referring to is mentioned below:
]
ER Create a format configuration to import data from an external CSV file (part of the 7.5.4.3 Acquire/Develop IT service/solution components (10677) business process)

Than

[2020-02-18 07:02] NickSelin commented on #2119
Hello Baber!

Please, cofigure the [Help system](https://docs.microsoft.com/dynamics365/fin-ops-core/fin-ops/get-started/help-overview) of your Finance instance to access the [March 2018 - All languages APQC Unified Library for Microsoft Dynamics 365 for Finance and Operations](https://bpm.lcs.dynamics.com/Home/App/1092654#/framework/200943) BPM library of the **APQC Unified Library Project 2** LC

[2020-02-18 07:05] philstubbington opened #2120 "Instructions incomplete and consequently don’t work"
The instructions on this page appear to be incomplete and despite following them closely I cannot achieve the expected outcomes.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 146a6e6a-4f26-195e-80fc-15b38d77b948
* Version Independent ID: 489070bf-affb-4d92-eeac-91cad7a2a889
* Content: [Sign up for preview subscription

[2020-02-18 12:55] ELandAX opened #2121 "Unrelated topic"
How is this topic (Create a record template to facilitate data entry) and the other one (Create records using record templates) related to Data integration using data entities? :)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7ede22ec-5fee-7374-a723-1f1bdf464854
* Version Independent ID: 09239542-e16a-1723-ab5b-2a56cc

[2020-02-18 14:26] tonyafehr commented on #2116
@RobinARH, please review this feedback. Thanks!

[2020-02-18 14:29] #2117 closed

[2020-02-18 14:30] #2119 closed

[2020-02-18 14:31] tonyafehr commented on #2120
@jorisdg, please review this feedback. Thanks!

[2020-02-18 14:32] tonyafehr commented on #2121
@RobinARH, please review. Thanks!

[2020-02-18 15:36] tonyafehr commented on #2086
Bug 419900 logged to track this issue.

[2020-02-18 15:36] #2087 closed

[2020-02-18 15:39] tonyafehr commented on #2092
Bug 419902 logged to track this issue.

[2020-02-18 15:40] tonyafehr commented on #2093
Bug 419902 logged to track this issue.

[2020-02-18 17:05] gcantin opened #2122 "Development Limitations"
Any reason that there is no mention of the development limitations with these types of fields? These aren't accessible in the back end.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4f63be40-3dbb-c580-7f16-8e31c30a3a22
* Version Independent ID: 1f5647db-79ca-5bff-dc68-8b9d8bb533ef
* Content: [Create and work with cust

[2020-02-18 17:24] tonyafehr commented on #2122
@jasongre, please review this feedback. Thanks!

[2020-02-18 21:59] ShylaThompson commented on #1961
@OksanaKovaliova , no this article does not apply to versions greater than 8+. All issues for versions later than 8+ are documented in LCS issue search. I suggest searching for the Application or Platform version to find issues reported for that release (E.g. 10.0.7 or Platform Update 31). Some issues will be fixed, others in progress, and some might have been reviewed by Microsoft and we decided

[2020-02-18 21:59] #1961 closed

[2020-02-18 22:47] jorisdg commented on #1891
Please go through support for help on this.

[2020-02-18 23:30] robadawy commented on #2111
The documentation has been updated last week. Any specific functionality you cannot find?

[2020-02-18 23:33] robadawy commented on #2112
The current RSAT release is not compatible with Chrome 80. It uses Chrome Driver 78 for Chrome version 78 and 79.  A new version of RSAT that is compatible (and downloads driver > 78) will be available this week.

The fix is part of RSAT version 1.200.45072.6. This will be released on or before February  21, 2020.  The latest official version of RSAT is always available at https://www.microsoft.co

[2020-02-19 01:37] #2112 closed

[2020-02-19 07:08] AnjaHCph commented on #2087
At least if it depends on having a certain subscription to see the Analysis tab under the PM workspace, which was what my manager told me we didn't have. I'm still interested in knowing whether the practice manager dashboard is accessible to all users (with access to the project management module) of D365FO

[2020-02-19 12:00] PeterJarret opened #2129 "Distributions/ledger account clarity"
There are no details provided about the ledger account and we faced issues when trying to use this functionality.  Looking back at the documentation for AX 2012, this is called dimensions and there is a bit more information about how "If the file you import has financial dimensions, you need to include all of the financial dimensions with the proper naming, otherwise an error message will appear s

[2020-02-19 14:01] #1435 closed

[2020-02-19 14:14] sericks007 commented on #2129
@PeterJarret, thanks for providing this feedback!

@roschlom, please review.

[2020-02-19 14:22] sericks007 commented on #2099
Bug 420267 has been logged to track this issue.

[2020-02-19 14:25] sericks007 commented on #2097
Bug 420268 has been logged to track this issue.

[2020-02-19 14:27] sericks007 commented on #2095
Bug 420270 has been logged to track this issue.

[2020-02-19 14:29] kristyler commented on #2112
I did not see that warning in the documentation. Since Google Chrome autoupdates, and requires a substantial effort to stop those updates, instructions and warnings to that affect should have been in your documentation with the download.

[cid:image001.jpg@01D5E6FE.BC93C460]
Kris​ Tyler
Data Analyst
2321 N Loop Dr, Ste 220
,
Ames
,
IA
,
50010
O: (515) 817-2143<tel:(515)%20817-2143>
LandusCooperati

[2020-02-19 14:30] sericks007 commented on #2094
Bug 420272 has been logged to track this issue.

[2020-02-19 14:43] #1891 closed

[2020-02-19 14:55] kristyler commented on #1891
I thought this WAS support.

[2020-02-19 15:16] gertvdh opened #2130 "Add 'In' operator"
the IN operator was added somewhere ove rtime, but is missing here in the keywords (and also not in query syntax). see https://community.dynamics.com/365/financeandoperations/b/mfp/posts/new-capability-in-x-the-in-operator

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f5857659-f5cd-b687-8f59-d619bfa0595b
* Version Ind

[2020-02-19 15:50] gertvdh opened #2131 "Add 'In' operator"
the IN operator was added somewhere ove rtime, but is missing here in the keywords (and also not in query syntax). see https://community.dynamics.com/365/financeandoperations/b/mfp/posts/new-capability-in-x-the-in-operator

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f5857659-f5cd-b687-8f59-d619bfa0595b
* Version Ind

[2020-02-19 16:22] sericks007 commented on #2130
@gertvdh, thanks for posting here!

@RobinARH, please review.

[2020-02-19 16:25] sericks007 commented on #2131
Closing as this looks to be a duplicate of [#2130](https://github.com/MicrosoftDocs/dynamics-365-unified-operations-public/issues/2130).

[2020-02-19 16:25] #2131 closed

[2020-02-19 16:31] gertvdh commented on #2131
indeed, due to github issues

[2020-02-19 18:56] jorisdg commented on #2093
This doc was updated.

[2020-02-19 19:00] #2093 closed

[2020-02-19 19:00] #2092 closed

[2020-02-19 19:01] jorisdg commented on #1137
Looks like the article already describes the simplified command line: https://docs.microsoft.com/en-us/dynamics365/fin-ops-core/dev-itpro/deployment/install-deployable-package#install-an-application-aot-deployable-package-on-a-development-environment

[2020-02-19 19:02] #1137 closed

[2020-02-19 19:05] josaw1 commented on #2107
Thank you for your feedback. @hhainesms, can you please take a look at this?

[2020-02-19 22:14] iamJoshKnox opened #2135 "Custom menu buttons"
What controls how a button displays in the action search results?  I have a custom button not displaying in the action search, though most others do.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 41d6d137-69fb-f35b-4d4b-48eece7aff65
* Version Independent ID: a3029eb3-455b-3ff3-9b56-730f2756fbb4
* Content: [Action sear

[2020-02-20 06:55] sbaber82 commented on #2119
Hello Nick,

I can see the help system is configured under System parameters -> Help tab. I can see the library that you mentioned above. When I click on the Help icon -> Task guides tab, it doesn't load any thing and I got the following message:

We couldn't find any task guides for this page.
There are results on the help tab to review.
To help us improve our documentation, tell us what page you

[2020-02-20 07:26] NickSelin commented on #2119
Hello Baber!

You need to perform the following steps:
1. Click the **Settings** icon on the top-most ribbon of the page (on the left from the **Help** icon).
2. Select the **Task recorder** option.
3. From the offered actions, select the **Play recording as guide** one.
4. Select the **Open from Lifecycle Services** source.
5. Click **Select the Lifecycle Services library** button.
6. Select the

[2020-02-20 07:43] sbaber82 commented on #2119
Hi Nick,

It shows me only one library which has the customer name in it and not showing any other library starts with APQC.

[2020-02-20 07:45] sbaber82 commented on #2119
It only shows me the BPM library which is under the customer LCS Project. Hope you understand my point.

[2020-02-20 07:55] FH-Inway commented on #1137
Hello @jorisdg , could you confirm that the `AXUpdateInstaller.exe devinstall` command will work for Microsoft updates (e.g. version 10.0.8 with PU 32)? Last time we checked, this command only worked for application packages, but not for platform updates. To install those, you have to go through the whole topology file and runbook stuff, which causes the confusion. Maybe just add link to [Invoke-D

[2020-02-20 07:58] Mund75 opened #2137 "Update settings tab disappeared"
After today's One Version update tab Update Settings disappeared, why?
Where is now the place to change maintenance window time?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fcff93b4-d765-642b-f4ba-911b05344216
* Version Independent ID: be01a4e8-ba6f-8ac4-fbe3-7db75de310e8
* Content: [Configure service updates throug

[2020-02-20 08:15] NickSelin commented on #2119
Hello Baber!

Looks like you have access to the only project BPM libraries while the access to global BPM libraries is required. Please, contact your system administrator to have permission to access from Finance global BPM libraries of your project.
Alternatively, if you can sign in to LCS and access global BPM libraries by using a web browser - you can find the list of steps of the mentioned abo

[2020-02-20 16:34] sericks007 commented on #2135
@iamJoshKnox, thanks for your feedback!  You might want to go to the [Dynamics 365 community page](https://community.dynamics.com/) to get help with your questions from the Dynamics community.

@jasongre, please review and consider updating the content.

[2020-02-20 16:36] sericks007 commented on #2137
@Mund75, thank you for your feedback!

@AngelMarshall, please review and consider updating the content.

[2020-02-20 17:53] UmeshPandit commented on #283
Yes, you can use any System Admin Account. Same procedure you need to follow.

[2020-02-20 18:26] MartinWalkerDynSA opened #2138 "Composite entities do not support multi-threaded import"
Recommend we add a note that currently (as of PU32), entity import execution parameters will be ignored for a composite entity. If you are importing a composite entity, it will always be executed via the Async framework, and will be single threaded only.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0198d960-ca6c-4d08

[2020-02-20 18:33] MartinWalkerDynSA opened #2139 "Add information about entity import execution parameters"
It seems the only place on docs where we discuss using entity import execution parameters to speed up imports is under "Tips for speeding up the import process" at https://docs.microsoft.com/en-us/dynamics365/finance/localizations/rus-russian-address-format-and-import-from-fias#fias-import. Recommend we add the instructions here too.

---
#### Document Details

⚠ *Do not edit this section. It is r

[2020-02-20 19:50] josaw1 commented on #2138
Thank you for the comment. @Sunil-Garg can you please consider this?

[2020-02-20 19:51] josaw1 commented on #2139
Thank you for your feedback. @Sunil-Garg can you please take a look?

[2020-02-20 19:55] josaw1 commented on #2103
BUG 421154 created to track this issue.

[2020-02-20 19:57] josaw1 commented on #2101
BUG 421155 created to track issue.

[2020-02-20 20:07] JoelLeichty opened #2140 "Master Records are Updated?"
"If records already exist for the dimension, the master records are updated when you turn the feature on. However, existing documents and transactions aren't updated."

I'm not sure this is a factual statement? This suggests if I turn on this checkbox for Customer entity backed dimension, all existing customer records will be updated with this value? Is it only if I'm activating a new Dimension, n

[2020-02-20 20:47] #2095 closed

[2020-02-20 20:57] AngelMarshall commented on #2137
@Mund75, there's no change on the Update settings tab.  If you're not able to see the Update setting tab in your LCS implementation project, please submit a support case.

[2020-02-20 21:04] #2137 closed

[2020-02-20 21:23] sericks007 commented on #2104
Bug 6312813 was logged in the LCS database to track this issue .

[2020-02-20 23:04] RobinARH commented on #1680
We don't provide specific dates or versions for deprecation beyond our 12-month warning that a deprecation will occur. - Robin

[2020-02-20 23:04] #1680 closed

[2020-02-20 23:21] sbaber82 commented on #2119
Hi Nick,

I have found the BPM library on the path you mentioned above. Was not opening yesterday, so I couldn't see this. When I selected the library, I cannot see any option to play from here. Does it need to be played from D365 environment using Play recording as Task guide option ? Can I not play this one from LCS - > BPM ?

[2020-02-21 00:25] sbaber82 commented on #2119
Please note that I am the Project owner in LCS Project, but I cannot see any other library to select when I am selecting BPM library under System parameters page. Please let me know how can I select other libraries in System parameters -> Help page ?

[2020-02-21 00:28] RobinARH commented on #2097
I made some small updates to the coding style. It should go live in the next couple of days. - Robin

[2020-02-21 06:27] NickSelin commented on #2119
Hello Baber!

You can't play a task guide from LCS\BPM as any guide consist of the set of steps that are designed to perform certain actions in Finance user interface. Such steps are not playable in LCS\BPM. Until this guide is not loadable from LCS to you, you can read this guide’s steps in LCS and try to execute them in Finance.

To resolve your issue with  other BPM libraries access, please rep

[2020-02-21 10:56] babaknahh opened #2141 "Wrong information and missing steps"
If you select the System directed mobile device menu item, the option for setting Cluster profile ID is not available. It´s only available when you select Cluster picking in the "Directed by".

Also the step 9 is´nt available at all that is described in the step by step process, there seem to be missing something in between.
Follow these steps to specify a new system-directed work sequence query:

[2020-02-21 17:12] roschlom commented on #2140
Thank you for your comment. We'll look into it further.

[2020-02-22 00:06] robadawy commented on #1617
We will be publishing the full reference for the command line. In the meantime, you can reach out to support and they can share a doc after contacting the product team.

[2020-02-22 11:11] assofohdz opened #2143 "Why is this under the Commerce pages?"
Why is this under the Commerce pages?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5735746a-048b-ca95-dccb-feae57035123
* Version Independent ID: 84c9e5f8-dab5-8d8a-ed6f-011916758039
* Content: [Learning catalog for Finance and Operations](https://docs.microsoft.com/en-us/dynamics365/fin-ops-core/fin-ops/get-started/

[2020-02-24 16:54] faix commented on #2103
Hi @d-j-schmidt,

You can refer to the following document to learn more about how to correctly setup printers in onpremise environments.

https://docs.microsoft.com/en-us/dynamics365/fin-ops-core/dev-itpro/analytics/install-network-printer-onprem

[2020-02-24 18:10] Bijan-Ghofranian opened #2146 "is not recognized as the name of a cmdlet, function, s"

[2020-02-24 18:51] jorisdg commented on #2146
@Bijan-Ghofranian can you provide a description of your issue? Unfortunately with only half a title which looks like an error message of sorts, I'm not sure we can respond or take action.
Thanks!

[2020-02-24 19:17] RobinARH commented on #2143
@josaw1 Hi Jo - Can you take a look? Thanks.

[2020-02-24 19:21] assofohdz commented on #2143
My point was merely, is there also such a page under the non Commerce pages of FinOps ? :)

[2020-02-24 19:23] josaw1 commented on #2143
Hi, yes it is under the other applications. For example, here it is under Dynamics 365 Finance: https://docs.microsoft.com/en-us/dynamics365/fin-ops-core/fin-ops/get-started/learning-catalog?toc=/dynamics365/finance/toc.json.

Thanks.

[2020-02-24 19:23] #2143 closed

[2020-02-24 19:24] kfend commented on #2078
@dlanglie - thanks for your feedback. The topic has been updated.

[2020-02-24 19:24] #2078 closed

[2020-02-24 19:26] josaw1 commented on #1994
An update is in the works. Please check back. Thank you.

[2020-02-24 19:26] #1994 closed

[2020-02-24 19:29] josaw1 commented on #2103
Update will be published today. Thank you.

[2020-02-24 19:29] #2103 closed

[2020-02-24 19:32] assofohdz commented on #2143
Thanks for the swift answer to something I could have found if I had made the effort. Apologies for that :)

[2020-02-24 19:37] #1617 closed

[2020-02-24 19:42] Sunil-Garg commented on #2099
Thanks for the feedback amadse. We have updated the on-prem feature list comparision accordingly. Thanks again.

[2020-02-24 20:31] sericks007 commented on #2099
The updated content (that Sunil referred to above) will be published in the next day or so.

[2020-02-24 20:31] #2099 closed

[2020-02-24 20:52] Sunil-Garg commented on #2086
Thanks for highlighting this use case @FH-Inway.

Instead of publishing the troubleshooting steps, we are looking at adding validations at compile time to prevent this kids of errors from happening at development time itself. We have created a product bug for this which can be tracked as KB 4549600.

Thanks.

[2020-02-24 21:49] #2086 closed

[2020-02-25 10:41] jansenrf opened #2149 "page not uptodate"
The page is old. The performance monitor screenshots are old. Can you give me another page?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7a59d9fd-8c46-120c-efb1-ef73b158ac33
* Version Independent ID: 6ec54ef7-cbbb-32f3-42c7-ac695d3b94bd
* Content: [Performance troubleshooting using tools in Lifecycle Services (LCS)](

[2020-02-25 12:45] TheMartha opened #2150 "What happens next?"
Hi, great article.
I would like to know how will the data be populated in the storage location.
Will it be a copy of the Entity Store.
Will it allow external data also (like other databases?)
Or will it be exactly the same just bigger and faster?
Thanks in advance :)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a344a

[2020-02-25 14:28] SasoGLIGOR commented on #2043
Hello,

I have some good news, we managed to deploy our D365FO environments in French DC.
Let me continue with the steps that followed my preceding post :
-	We had to redeploy all of the environments, the Azure connectors were incorrect.
-	Then, we were able to connect the Tier-2, but not to Tier-1 environments.
-	Then, we were able to connect to all of the environments, but the details page.
-	Th

[2020-02-25 14:33] tonyafehr commented on #2043
This is great news, thank you for the update. I will pass this information on to the rest of the team.

[2020-02-25 14:33] #2043 closed

[2020-02-25 15:41] tonyafehr commented on #2150
@TheMartha, thanks for the feedback. If you need immediate assistance, here are your [Support contact options](https://docs.microsoft.com/en-us/dynamics365/unified-operations/dev-itpro/lifecycle-services/lcs-support). You might also want to go to the [Dynamics 365 community page](https://community.dynamics.com/) to get help with your questions from the Dynamics community.

@MilindaV2, please revie

[2020-02-25 15:51] tonyafehr commented on #2116
Bug 422221 logged to track this issue.

[2020-02-25 16:18] tonyafehr commented on #2121
Bug 422232 logged to track this issue.

[2020-02-25 16:22] tonyafehr commented on #2122
Bug 422234 logged to track this issue.

[2020-02-25 17:33] ajb-hso opened #2151 "Upload Capability"
This document makes no reference to upload capability of the PCard feature.  Is there any upload capability other than current D365 upload functionality?  If not, can we expect upload capabilities in the future?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e915b2ff-55b1-8e5a-0302-1e1c6efd25af
* Version Independent ID

[2020-02-25 19:21] tonyafehr commented on #2151
@velofog, please review this feedback and consider updating this topic.

[2020-02-25 22:27] Bijan-Ghofranian opened #2152 "The term 'Connect-MsolService' is not recognized as the name of a cmdlet"
"Query Azure AD for your tenant and user ID" script below fails:
$msocred = Get-Credential
Connect-MsolService -Credential $msocred
$company = Get-MsolCompanyInformation
Write-Host "TenantID: $($company.ObjectId)"
$msocred.UserName
$users = Get-MsolUser -SearchString "$($msocred.username)"
foreach($u in $users)
{
    if($u.SignInName -eq $msocred.UserName)
    {
        Write-Host "SignInName:$($u

[2020-02-25 22:28] Bijan-Ghofranian opened #2153 "The term 'Connect-MsolService' is not recognized as the name of a cmdlet"
"Query Azure AD for your tenant and user ID" script below fails:
$msocred = Get-Credential
Connect-MsolService -Credential $msocred
$company = Get-MsolCompanyInformation
Write-Host "TenantID: $($company.ObjectId)"
$msocred.UserName
$users = Get-MsolUser -SearchString "$($msocred.username)"
foreach($u in $users)
{
    if($u.SignInName -eq $msocred.UserName)
    {
        Write-Host "SignInName:$($u

[2020-02-25 22:34] tonyafehr commented on #2153
Thanks for contacting us. Unfortunately, we're unable to handle Support requests for the product here. To contact Support, consider one of the options described here: [Support contact options](https://docs.microsoft.com/en-us/dynamics365/unified-operations/dev-itpro/lifecycle-services/lcs-support). In particular, you might want to go to the [Dynamics 365 community page](https://community.dynamics.

[2020-02-25 22:35] tonyafehr commented on #2152
duplicate

[2020-02-25 22:35] #2152 closed

[2020-02-25 22:39] Bijan-Ghofranian commented on #2146
Hi Joris,

My apologies, I was trying to delete this and create a new one, but then
got busy and forgot.
So, please delete this as I submitted a new one.  The issue has to do with
missing Commandlet Connect-Msolservice. It looks like this module is
missing. I found a solution but did not want to uninstall and re-install
the PowerShell. I wonder if that missing module can be copied and /or
loadad.

[2020-02-25 23:04] Bijan-Ghofranian commented on #2153
Tonya,
I was simply pointing out a possible issue on this D365 Fin page: Deploy and access development environments   https://docs.microsoft.com/en-us/dynamics365/fin-ops-core/dev-itpro/dev-tools/access-instances
The script I posted is from this page. I got the error when I ran it:  The term 'Connect-MsolService' is not recognized as the name of a cmdlet,
So, the pint was what module(s) must be in

[2020-02-25 23:06] tonyafehr commented on #2153
@Bijan-Ghofranian, thanks for the additional info.
@jorisdg, please review and consider possible updates to this topic.

[2020-02-25 23:19] jorisdg commented on #2153
@Bijan-Ghofranian the only script there I see that calls connect-msolservice is listed for the commerce configuration if you are on the RTM version (7.0). That version is no longer supported (7.0). It also mentions in step1 and step2 to install the MS online services sign-in assistant and AAD model for PowerShell, which I assume contain the script you're having trouble with.

[2020-02-26 00:43] Bijan-Ghofranian commented on #2153
@jorisdg  yes I did read that, the second link Azure Active Directory Module for Windows PowerShell (64-bit version) stated: Microsoft Connect Has Been Retired. So, does this mean that the command Connect-MsolService is no longer available in PS? Or is it dependent on Sign-in Assistant being installed. Or just forget about it?

[2020-02-26 14:42] sericks007 commented on #2129
Bug 422667 has been logged to track this issue.

[2020-02-26 14:45] sericks007 commented on #2130
Bug 422669 has been logged to track this issue.

[2020-02-26 14:48] sericks007 commented on #2135
Bug 422683 has been logged to track this issue.

[2020-02-26 14:51] sericks007 commented on #2088
@Sunil-Garg, please review and update the content as needed.

[2020-02-26 14:55] sericks007 commented on #2088
Bug 422684 has been logged to track this issue.

[2020-02-26 17:07] jorisdg commented on #2153
We will need to pull in the commerce team since I don't know this part at all.
Can you confirm you are actually still on v7.0 ( not 7.3 or 10.x) and need this?

[2020-02-27 12:08] AndrewMaisey commented on #1721
Hi MS Team, hoping to get some information about official Dynamics 9.x support on Windows Server 2019. Community forums suggest it is technically possible, but is it to be officially Microsoft supported? Thank you.

[2020-02-27 12:16] AndrewMaisey opened #2155 "Windows Server 2019 Compatability"
Hi MS Team, I'm hoping to get some information about official Dynamics 9.x (and 8.x) support on Windows Server 2019. Community forums suggest this is technically possible, but is it to be officially Microsoft supported? Thank you.

(I have posted same question on the Customer Engagement page also as it would be good to know for both product variants).

---
#### Document Details

⚠ *Do not edit thi

[2020-02-27 13:26] sericks007 commented on #2155
@AndrewMaisey, thank you for posting here.

@PeterRFriis or @faix, please review and update the content if needed.

[2020-02-27 16:32] expiscornovus commented on #1546
@sericks007, can you by any chance add the explanation from @curtix to the article?

I had the exact same issue that I had to search for the location of this page. Ended up in this thread after Googling a bit. Still useful to add it to the article imo.

[2020-02-27 16:43] sericks007 commented on #1546
@roschlom, please consider adding the location to this topic.

[2020-02-27 17:35] sericks007 commented on #1546
Oops, I made an error.  @kfend, please consider adding the location to this topic.

[2020-02-27 18:19] faix commented on #1721
@sericks007 the changes went live some time ago. The issue can be closed.

[2020-02-27 18:53] #1721 closed

[2020-02-27 19:31] RobinARH commented on #2121
[Create a record template to facilitate data entry](https://docs.microsoft.com/en-us/dynamics365/fin-ops-core/dev-itpro/data-entities/tasks/create-record-template-facilitate-data-entry) is the more detailed example, but the other one isn't incorrect. We probably don't need both, but removing the other doesn't meet our bug bar.

[2020-02-27 19:32] #2121 closed

[2020-02-27 20:34] laneswenka commented on #1531
@GeoffreyDelmee this article will get updated to reference Azure DevOps hosted agents which can either be an on-prem Windows VM or it can be one of their own Windows VMs.  We no longer require a full actual "Dynamics" environment to build and create packages.

[2020-02-27 20:35] laneswenka commented on #1531
@jorisdg could you review this please?  Anything special for the on-prem flow with the new hosted agents approach?

[2020-02-27 23:27] #2097 closed

[2020-02-28 01:49] pvillads commented on #2116
There is nothing new about edit and display methods in F&O. The semantics (as described here: https://docs.microsoft.com/en-us/dynamicsax-2012/developer/using-the-display-method-modifier) are identical from 2012 to now,

[2020-02-28 08:00] SysC0mp commented on #2116
Thanks for the info! I know about the AX 2012 documentation, but as a developer you cannot safely know at the moment what applies to D365 and what not. Maybe the "Applies to" information at the top should be updated to include that information.

The link also does not include any information about the caching behavior of edit methods, only the display modifier is described here:
https://docs.micro

[2020-02-28 15:33] gcantin opened #2156 "Minimum time span between end of UAT and Go-Live"
Several of the tasks are executed by Microsoft, with minimal information or time ranges. What's the minimal time range a Customer would require between UAT sign-off and Production Go-live? There's a 3 day rough estimate for Project Assessment, 48h estimate for the Production Environment Deployment, but no Lead Times listed if there are any.

---
#### Document Details

⚠ *Do not edit this section.

[2020-02-28 21:51] pvillads commented on #2116
Forwarding to @Haytham Said<mailto:Haytham.Said@microsoft.com> who may now those details.

From: Kevin Eck <notifications@github.com>
Sent: Friday, February 28, 2020 12:01 AM
To: MicrosoftDocs/dynamics-365-unified-operations-public <dynamics-365-unified-operations-public@noreply.github.com>
Cc: Peter Villadsen <Peter.Villadsen@microsoft.com>; Comment <comment@noreply.github.com>
Subject: Re: [Micr

[2020-02-28 22:10] stsbhava opened #2157 "The New Chip and Card payment"
Now a days, the Payment device like Verifone Mx915 or similar it take care of merchant detail and accepting card details from chip card and it directly process with payment processor and return the results with auth code or failed status. I dont see any documents to connect such devices.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue l

[2020-02-28 23:10] tonyafehr commented on #2157
@stsbhava, thanks for the feedback.
@Reza-Assadi, please review and consider making updates to this topic.

[2020-02-29 02:54] DavidPaf opened #2158 "HTTP Request got Redirect response"
Hi team,

Can you help to clarify the reason for the API request always get redirected to location: login.microsoftonline.com though bearer token already retrieved successfully.

I am testing with Postman and Microsoft Flow HTTP action
![image](https://user-images.githubusercontent.com/61499598/75644502-6cb6cf80-5c3a-11ea-9523-58e33381e8a6.png)

![image](https://user-images.githubusercontent.com/6

[2020-03-02 14:48] ClaudiaBetz-Haubold commented on #2156
It is difficult to come up with a hard number for this, as it depends on the core findings in the go-live assessment report and the time the customer and partner need to close them, as well as the project topology (traditional IAAS or Self-service deployment<https://docs.microsoft.com/en-us/dynamics365/fin-ops-core/dev-itpro/deployment/infrastructure-stack> type of implementation project). It is a

[2020-03-02 18:33] RobinARH commented on #2158
@andreabichsel Hi Andrea - Can you take a look at this? Thanks.

[2020-03-02 18:39] RobinARH commented on #2146
Bug 424207 created to track this issue.

[2020-03-02 18:41] tomhig opened #2159 "Last *Important* blue box in article"
In the very last blue *Important* box in this article, please add the following new sentence next to the last one:

Note that the License Agreement type used to acquire the base subscription (MPSA or CSP) will determine which type can be used to subscribe to additional environments.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linkin

[2020-03-02 19:27] ZStoner opened #2160 "Syntax-breaking Curly quotes in powershell samples"
The two powershell snippets in step 3 have a curly ending quote in them [ ’ ].
In addition the first of these snippets has a large blank section near the end of the command.
Both of these snippets are currently syntactically broken if used in powershell as given.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b4e9b59c-

[2020-03-02 19:32] #1909 closed

[2020-03-02 19:53] #2146 closed

[2020-03-03 10:20] MMT0905 opened #2162 "Risk assessment setup has invalid breadcrumbs"
The document indicates to set up risk assessment to go to  (Credit management > Setup > Risk setup > Risk assessments).  It should start at Credit and Collections, not Credit management.  Additionally, there is no "Risk setup>Risk assessments" under the Set up portion of Credit Management.  Where can customer risk be added?
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this sect

[2020-03-03 12:19] Lupo1604 commented on #2141
Investigated the same things - in the draft of the description, the directed by should be "System directed cluster picking" - however this is not in the enum - so which one is now the correct one?

[2020-03-03 12:43] endlessutopia opened #2164 "Is there any way to apply groupByClause to multiple tables?"
When you have original query like this: group by Table1.Field1, Table1.Field2, Table2.Field, Table3.Field, how to convert to groupByClause? I tried SysDaExpression+toString but it didn't seem to work effectively.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2888e11c-17de-f90c-a48e-409baee04833
* Version Independent I

[2020-03-03 14:02] beefcake123 commented on #1931
The document router agent seems to always print PDFs via "Fit" instead of "Actual Size". This is causing issues on some of our official reports & documents to be scaled by the document router agent. Is there an option somewhere to change this?
Can we use the document router agent to print PDFs without using Adobe Reader? Using Chrome for example as default device to handle PDFs wouldn't rescale th

[2020-03-03 14:24] tonyafehr commented on #2159
@ClaudiaBetz-Haubold, please review this feedback and consider making updates. Thanks!

[2020-03-03 14:28] tonyafehr commented on #2160
@jashanno, please review this feedback and consider making updates. Thanks!

[2020-03-03 14:29] tonyafehr commented on #2162
@mikefalkner, please review this feedback and consider making updates. Thanks!

[2020-03-03 14:31] tonyafehr commented on #2164
If you need immediate assistance, contact Support at [Support contact options](https://docs.microsoft.com/en-us/dynamics365/unified-operations/dev-itpro/lifecycle-services/lcs-support). In particular, you might want to go to the [Dynamics 365 community page](https://community.dynamics.com/) to get help with your questions from the Dynamics community.

@RobinARH, please review. Thanks!

[2020-03-03 14:46] oathgg opened #2165 "IMPORTANT tag has incorrect format"
[IMPORTANT] Remote desktop access will be restricted only to environments deployed using the self-service deployment. There is no change to existing environments or existing customers.

The format of the tag is not the usual 'Information' or 'Important' format box you see on many of the Microsoft Docs pages. Is this intentional?

---
#### Document Details

⚠ *Do not edit this section. It is requir

[2020-03-03 15:18] SysC0mp commented on #1117
Any news to that?

[2020-03-03 15:22] tonyafehr commented on #2149
@laneswenka, please review.

[2020-03-03 15:26] tonyafehr commented on #2151
Bug 424469 logged to track this issue.

[2020-03-03 15:28] tonyafehr commented on #2150
Bug 424471 has been logged to track this issue.

[2020-03-03 15:32] tonyafehr commented on #2165
@oathgg, we're reviewing your feedback. Thanks!

[2020-03-03 16:50] gcantin opened #2166 "Admin Lockdown on RDP impact to SQL Server usage"
Will the upcoming admin lockdown on Tier2+ environments mean it is impossible to access SQL Server in any way shape or form? If so, how does Microsoft recommend running data masking scripts or old data cleanup for test environments? There are certain tasks required for test environments with no impacts to production that could be impacted by the lockdown.

---
#### Document Details

⚠ *Do not edit

[2020-03-03 16:51] velofog commented on #2151
Hi, we have updated the standard data entities to include the P-card fields.

[2020-03-03 16:53] ajb-hso commented on #2151
Hi:

Thanks for the update.  Do you have any indication as to when this be available in D365??

Thanks.

Andrew Bernstein MCP, MCSD
Senior Consultant

[cid:image001.png@01D5F152.D58B5BF0]
M (813) 382.6913
E abernstein@hso.com <mailto:abernstein@hso.com>  W www.hso.com <http://www.hso.com/>  L Linkedin<http://www.linkedin.com/> T Twitter<https://twitter.com/HSODynamicsAX>

Looking for the right too

[2020-03-03 17:05] velofog commented on #2151
The data entity updates were included in the 10.0.9 release.

[2020-03-03 17:21] ajb-hso commented on #2151
Thanks for the update!

Thanks.

Andrew Bernstein MCP, MCSD
Senior Consultant

[cid:image001.png@01D5F156.ADCD92F0]
M (813) 382.6913
E abernstein@hso.com <mailto:abernstein@hso.com>  W www.hso.com <http://www.hso.com/>  L Linkedin<http://www.linkedin.com/> T Twitter<https://twitter.com/HSODynamicsAX>

Looking for the right tools to digitally transform your business? Learn how<https://www.hso.com/e

[2020-03-03 17:45] tonyafehr commented on #2166
@ClaudiaBetz-Haubold, please review this feedback. Thanks!

[2020-03-03 18:01] mugunthanm commented on #2153
Adding @AamirAllaq and @jashanno

[2020-03-03 18:45] kfend commented on #1546
I have updated the topic with the navigation path. This change will be published today.

[2020-03-03 19:17] #1490 closed

[2020-03-03 21:44] RobertRudd opened #2167 "Several Fields are missing from Parameters, General Tab"
The following fields are missing help from the Expense Management Parameters > General Tab:

Validate expense purpose
Validate travel requisition purpose

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e493702c-f9fa-57cc-723e-0f35f651b70d
* Version Independent ID: e2f983e0-0c9b-6b55-b76d-de22d441de53
* Content: [Expense

[2020-03-03 21:48] tonyafehr commented on #2167
@RobertRudd, thanks for noting this.
@KimANelson, please review and consider making updates.

[2020-03-04 07:28] TheMartha commented on #2150
Hi team,

I have been in the Dynamics 365 pages - that is why I am asking all this questions :)
Very interested in the topic

[2020-03-04 09:26] HugoDJesus opened #2168 "embedded power BI using Data Lake in Tier 1 env."
Once the use of Data Lake in Tier 1 environments is configured, is it possible to activate the Power BI embedded in one box environments?

[2020-03-04 09:27] HugoDJesus commented on #2150
Once the use of Data Lake in Tier 1 environments is configured, is it possible to activate the Power BI embedded in one box environments?

[2020-03-04 10:43] GeoffreyDelmee opened #2169 "Upload a new version for a specific asset not available un asset library"
The steps described in 'Upload a new version for a specific asset' are not available in the project asset library. The documentation is not clear if this functionality should be available there, or if should be only in the shared asset library.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 786fc060-d324-2e48-d4db-7878

[2020-03-04 10:46] GeoffreyDelmee opened #2170 "No informations on database backup assets"
There are no information on database backup stored in the project asset library.
Which capacity (size per file, number of files, total size used) is available on a project?
Which retention/guarantees on the bacpac stored here?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 786fc060-d324-2e48-d4db-787895b8df3e
* Version

[2020-03-04 11:48] faix commented on #2155
Hello @AndrewMaisey,

I will reply only for Dynamics 365 Finance and Operations onPremises.
Officially we currently don't support Windows Server 2019 as validation has not been completed for this version. There are many different components that we need to check work without issues before we can officially state that it is supported. I unfortunately can't give you a time estimate as to when we wil

[2020-03-04 11:52] AndrewMaisey commented on #2155
Thank you, I have had similar feedback Re; 2019 SQL and Server from another Microsoft channel. Noted as not supported at present.  (I expect D365 Customer Engagement is similar as it is a similar product).

Hoping the validation gets done soon as I'm sure a number of customers will be looking for a supporting-platforms upgrade path.

[2020-03-04 11:52] #2155 closed

[2020-03-04 13:44] chris-ayers-uk opened #2171 "AX 2012 R3 Scope of Extended Support"
AX 2012 R3 Scope of Extended Support is not clear on this page.
Are we supposed to assume that scope of AX 2012 R3 Extended support is same as AX 2012 R2

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 07b21efb-8608-4d17-2bcb-32052046cba5
* Version Independent ID: afcf5ce6-5277-119c-6414-db8e26d655cf
* Content: [End of

[2020-03-04 14:42] sericks007 commented on #2168
@HugoDJesus, thanks for posting this! In the meantime, to get product help you can contact Support using one of the options described here: [Support contact options](https://docs.microsoft.com/en-us/dynamics365/unified-operations/dev-itpro/lifecycle-services/lcs-support). In particular, you might want to go to the [Dynamics 365 community page](https://community.dynamics.com/) to get help with your

[2020-03-04 14:44] sericks007 commented on #2169
@GeoffreyDelmee, thanks for posting here.

@laneswenka, please review and update the content as necessary.

[2020-03-04 14:48] sericks007 commented on #2170
@GeoffreyDelmee, thanks for posting here.

@laneswenka, please review and update the content, as necessary.

[2020-03-04 14:56] sericks007 commented on #2171
@chris-ayers-uk, thanks for posting here.

@ShellyBakke or @meeramahabala, please review and update the content, as necessary.

[2020-03-04 15:28] sanjum7 opened #2174 "Credit Management"
Has any one got any idea how to get hold of new functionality of Credit Management before Apr 2020?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4a07f87a-ebe3-e319-b622-0fab3c5d67a4
* Version Independent ID: 0f0ec9c2-b785-e6ad-b5ca-88f7da7ec8e9
* Content: [Credit management setup](https://docs.microsoft.com/en-us/dyn

[2020-03-04 15:39] sericks007 commented on #2174
@sanjum7, please read about the Preview Early Access Program (PEAP) in the [Service update availability](https://docs.microsoft.com/dynamics365/fin-ops-core/fin-ops/get-started/public-preview-releases) topic.

[2020-03-04 15:39] #2174 closed

[2020-03-04 16:33] josaw1 commented on #1679
Hi @amadse, doc updates are in process. Please check back. Thanks!

@perlynne

[2020-03-04 16:33] #1679 closed

[2020-03-04 21:56] sericks007 commented on #2165
@oathgg, thanks for making us aware of this! I've fixed the formatting and the updated topic will be published later today.

[2020-03-04 21:56] #2165 closed

[2020-03-05 09:11] vimarica opened #2176 "VHD 10.0.9 version"
Currently in the asset library it's available for download only the 10.0.5 version, when will be available a newer version ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fe3913a6-4daa-9973-6f0b-d7ae4c1007c2
* Version Independent ID: f2cd311b-fcb8-cff4-57a3-47c3c52b19d6
* Content: [Deploy and access development enviro

[2020-03-05 14:46] weaveriski opened #2177 "Version of D365 for the referenced hotfix?"
There is a hotfix referenced on this page from February 2016. Can it be made clear what the approach is for D365FO and the OneVersion solution, a 4 year old hotfix cannot be relevant to the current solution?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d2992148-6192-d471-eec9-deb2a027e13e
* Version Independent ID: 5d

[2020-03-05 16:44] CoreyVantilborg opened #2178 "LCS Trial Link Broken"
The LCS link does not create a proper LCS trial,  instead, it takes you to the 30-day trial with is not helpful at all.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0eb4c106-c0e3-81ba-db99-1fcdaa5158dd
* Version Independent ID: 0f4a76f7-d071-e9ee-4271-866a4ae417f9
* Content: [Upgrade from AX 2012 to Finance and Opera

[2020-03-05 17:32] jorisdg commented on #2176
This isn't quite the place to ask, but I can answer anyway. The VHDs are released with the April and October waves. The updates in between have to be installed manually.
As far as the April release VHD, I expect it will be out some time this month as the first-release updates start rolling out.

[2020-03-05 18:27] #2176 closed

[2020-03-05 18:44] RobinARH commented on #1914
We added a code example and it should go live tonight. -Robin

[2020-03-05 18:44] #1914 closed

[2020-03-05 20:08] faix commented on #2088
Hi @phil896, thanks for pointing it out we have updated the documentation.

[2020-03-05 20:09] #2088 closed

[2020-03-05 20:16] jasongre commented on #1254
"iX" refers to "Information experience". I'm updating the article to remove that section since it's internal guidance.

[2020-03-05 20:35] jasongre commented on #1307
The shortcut is showing up under "Shortcuts for the selected element" because you selected the "ElementAction" category for the shortcut.

Regarding adding a shortcut to the form, this is not currently supported. My recommendation is to visit the [Ideas portal](https://experience.dynamics.com/ideas/categories/?forum=0c1b9821-94e0-e911-a812-000d3a4f13c0&forumName=Dynamics%20365%20Finance%20and%20Op

[2020-03-05 20:38] #1307 closed

[2020-03-05 22:57] jasongre commented on #1567
@illese, I'm updating the topic with a more realistic example showing both a field from the root datasource as well as field on a different datasource.

[2020-03-05 23:43] jasongre commented on #2135
@iamJoshKnox, a few classes of buttons are not yet supported in Action search. These include drop dialog buttons and buttons from subforms (i.e. those inside FormPart controls). I'll adjust the article to explicitly mention this.

[2020-03-05 23:51] iamJoshKnox commented on #2135
Thanks!!!

On Thu, Mar 5, 2020 at 3:49 PM Jason Green <notifications@github.com> wrote:

[2020-03-06 01:14] AngelMarshall commented on #2104
@Chrisslima - Thanks for reaching out.
BPM no longer use the legacy user interface, we will update the content to reflect the new UI.
The Global libraries are managed by Microsoft to publish cross-industry standard processes. As a LCS user, you can copy any libraries from the Global libraries to your Project libraries, make changes to align with your organization's process, and publish to the Corp

[2020-03-06 08:42] OksanaKovaliova opened #2181 "From which release it is available"
Hi dear Team, from which release can we already move to the new way of connector publishing?
10.0.7 works or later?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 27f678d1-840c-d7d3-1e97-ca80666328c2
* Version Independent ID: 2a0f90df-f8eb-d9e2-d5be-881734e72e21
* Content: [Create payment packaging for Application Expl

[2020-03-06 15:11] #1567 closed

[2020-03-06 15:12] #2122 closed

[2020-03-06 17:03] josaw1 commented on #2177
Hi. Thank you for your feedback. @sericks007 can you please take a look?

[2020-03-06 17:06] sericks007 commented on #2177
@roschlom, please review and update as necessary.

[2020-03-06 17:07] josaw1 commented on #2178
Thank you for your feedback. @sericks007 can you please take a look?

[2020-03-06 17:08] josaw1 commented on #2181
Thank you for your feedback. @mugunthanm can you please take a look?

[2020-03-06 17:11] sericks007 commented on #2178
@tariqbell or @laneswenka, please update this content as necessary.

[2020-03-06 17:17] josaw1 commented on #2139
BUG 425891 created to track the issue.

[2020-03-06 17:19] josaw1 commented on #2138
BUG 425895 created to track this issue.

[2020-03-06 17:20] josaw1 commented on #2150
@MilindaV2 can you please take a look?

[2020-03-06 19:38] skaue-ms commented on #2166
@gcantin
You will not lose access to the sandbox databases, but the method to connect to the database will differ slightly. If you need to automatically run data masking (SQL) scripts after a database refresh, you will have to connect to the database directly from your SQL Server Management Studio and run these scripts yourself. If you need help to understand how to correctly connect to the databa

[2020-03-06 21:29] #2166 closed

[2020-03-06 22:07] #2156 closed

[2020-03-07 00:57] mugunthanm commented on #2181
This is supported starting from 10.0.10.

[2020-03-07 01:03] #2181 closed

[2020-03-09 06:40] stefanlundquist opened #2184 "Link is not working"
The first link to "Removed or deprecated features" above is not working

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b49b0390-b474-21f6-7ab2-fee834c0f7ab
* Version Independent ID: 1cf62f36-e605-bc7d-17bd-1af1f50a447f
* Content: [What's new or changed in Dynamics 365 Finance version 10.0.10 (April 2020) - Finance | Dy

[2020-03-09 11:52] tclayton72 opened #2185 "Filter wildcard?"
Is there a wildcard character for filtering?  To search for an unknown middle?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8320da9e-599b-0584-ea08-59bf8afffc98
* Version Independent ID: 76120ced-276f-bc16-9c03-c1ac3b189be6
* Content: [Application Explorer - Finance & Operations | Dynamics 365](https://docs.microsoft

[2020-03-09 17:42] RobinARH commented on #2184
@roschlom - Can you take a look? thanks - Robin

[2020-03-09 17:44] RobinARH commented on #2185
@jorisdg - Can you take a look? Thanks - Robin

[2020-03-09 18:50] roschlom commented on #2184
This has been fixed and re-published now. Thanks for letting me know about it.

[2020-03-09 18:50] #2184 closed

[2020-03-09 20:49] #185 closed

[2020-03-09 20:49] #1031 closed

[2020-03-09 20:49] #1487 closed

[2020-03-09 22:59] sbaber82 commented on #185
Has the document been updated about the limited space available on Azure DEV machine? I can't see the update on the original doc page. Am I missing anything ?

[2020-03-10 08:59] karimelazzouni commented on #1969
@josaw1 @gertvdh issue has been addressed in #2010

[2020-03-10 12:29] SysC0mp commented on #2185
@tclayton72 You can use Regular Expressions in the Application Explorer to filter what you need. Take a look here -> http://dev.goshoom.net/en/2016/10/application-explorer-filtering/

[2020-03-10 14:52] #1969 closed

[2020-03-10 15:23] VV-B0Y opened #2188 "Error on step #7"
I get the following error when using the value of the 'Body of the request' provided in step 7 {"executionId": body('GetExportedPackageURL')?['value']}

`Failed to save logic app TalentDynamicsExportNew'. The template validation failed: 'The template action GetExportedPackageURL at line 1 and column 1639 is not valid: "Unable to parse template language expression 'base64('{'executionid":body('GetE

[2020-03-10 18:14] tonyafehr commented on #1865
This topic has been updated.

[2020-03-10 18:14] #1865 closed

[2020-03-10 18:18] tonyafehr commented on #2149
Bug 426859 logged to track this issue.

[2020-03-10 18:27] tonyafehr commented on #2157
Bug 426862 logged to track this issue

[2020-03-10 18:33] tonyafehr commented on #2160
Bug 426865 logged to track this issue.

[2020-03-10 18:38] tonyafehr commented on #2164
Bug 426869 has been logged to track this issue.

[2020-03-10 18:43] tonyafehr commented on #2167
Bug 426875 has been logged to track this issue.

[2020-03-10 18:45] tonyafehr commented on #2188
Thanks for contacting us. We'll review and consider updating this topic. In the meantime,  if you need Support, consider one of the options described here: [Support contact options](https://docs.microsoft.com/en-us/dynamics365/unified-operations/dev-itpro/lifecycle-services/lcs-support). In particular, you might want to go to the [Dynamics 365 community page](https://community.dynamics.com/) to ge

[2020-03-10 18:48] tonyafehr commented on #2162
Reassigning to @aprilolson for review

[2020-03-10 18:52] tonyafehr commented on #2120
Bug 426876 has been logged to track this issue.

[2020-03-10 18:55] tonyafehr commented on #2159
Bug 426878 has been logged to track this issue.

[2020-03-10 19:14] aprilolson commented on #2162
Can you assign this to @Pat Nolte<mailto:Patrick.Nolte@microsoft.com>? He is the owner of credit management now.

April Olson
Dynamics 365 Finance
Principal Group Product Manager
Check out our Financials blog: https://community.dynamics.com/365/financeandoperations/b/financials

Our workplace allows for a flexible work schedule, which is an amazing benefit. I am sending this now because it is conv

[2020-03-11 13:01] sericks007 commented on #2171
Bug 427168 has been logged to track this issue.

[2020-03-11 13:04] sericks007 commented on #2170
LCS bug 6451332 was logged to track this issue.

[2020-03-11 13:06] sericks007 commented on #2169
LCS bug 6451335 was logged to track this issue.

[2020-03-11 13:09] sericks007 commented on #2168
Bug 427175 was logged to track this issue.

[2020-03-11 13:10] gpatelqa commented on #2111
Performance feature is missing in the documentation.

[2020-03-11 13:24] mores opened #2192 "Many methods are missing from Class Common"
Image to follow:

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3b3496da-8eb6-e33b-ec48-c4fc56c876a9
* Version Independent ID: 6811a9df-0379-f8c0-a128-47f81e65e6f5
* Content: [System tables - Finance & Operations | Dynamics 365](https://docs.microsoft.com/en-us/dynamics365/fin-ops-core/dev-itpro/dev-ref/system-tables)

[2020-03-11 13:24] mores commented on #2192
![image](https://user-images.githubusercontent.com/1318377/76421504-2704b000-637a-11ea-8e32-05dd5f575a81.png)

[2020-03-11 13:27] sericks007 commented on #2192
@mores, thanks for making us aware of this!

@RobinARH, please review.

[2020-03-11 16:20] keelansears opened #2193 "Is the schedule up to date?"
Hi all,

Is this release schedule up to date? We're currently on 10.0.7 and this doesn't seem to line up with the update cadence shown in our project settings in LCS.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e7dcb285-f32c-c92e-fe49-1617f213066b
* Version Independent ID: 8f28c1a0-9da5-f853-90ee-d82a4c32df7e
* Cont

[2020-03-11 16:59] keelansears commented on #2193
Never mind. I think 10.0.8 is paused for us which was causing some confusion when looking at our pause-able updates (since LCS doesn't say what the update is in project settings)

[2020-03-11 17:16] #2193 closed

[2020-03-11 18:10] #163 closed

[2020-03-11 18:14] sericks007 commented on #1363
@PeterRFriis, can you help here?

[2020-03-11 21:22] laneswenka commented on #1758
This would work with any table as long as it is mapped to a data entity in the target system.  This includes custom entities or ISV entities!  The 2009 migration tool is owned by our FastTrack Solution Architecture team, and they can help you if you have targeted questions during implementation.

[2020-03-11 21:33] laneswenka commented on #1857
This article was written by the on-prem team, and it looks like there are 9 pre-reqs for the second section and only 6 for the first section.  I would examine those to determine the minor differences.

[2020-03-11 21:43] laneswenka commented on #1868
2012 should use the .bacpac process and Azure storage if the file is large, or it can use the LCS Asset Library for storage.  Database Movement operations expect an already-upgraded bacpac as you point out, but you can still use Remote Desktop to download these bacpacs and import them manually.
In the customer implementation project, there is an option called Project Onboarding in the navigation m

[2020-03-11 21:52] laneswenka commented on #1904
This is resolved, the private preview has completed and that verbiage has been removed since as well.

[2020-03-11 21:54] laneswenka commented on #1925
This should not be required.  If it happens again, please file a support ticket and reference this docs article and request guidance from the 'Database Movement' team.  Thanks!

[2020-03-11 21:56] laneswenka commented on #1933
This was a new azure default setting that wasn't compatible with Dev SQL Servers.  We have since updated the automation to set this explicitly on export.

[2020-03-12 08:26] bcraigie commented on #1512
Any update on this?

[2020-03-12 08:27] shereen-yong commented on #1512
Still waiting on an update

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: Brian Craigie <notifications@github.com>
Sent: Thursday, March 12, 2020 5:26:19 PM
To: MicrosoftDocs/dynamics-365-unified-operations-public <dynamics-365-unified-operations-public@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com>
Subject: Re: [MicrosoftDocs/dynamics-3

[2020-03-12 08:40] shereen-yong commented on #1992
any updates on this issue please?

[2020-03-12 09:49] TheElectricCo opened #2194 "Completed steps on both Azure, D365 and Postman, but still getting a 401 Unauthorized response from D365 FinOps"
Hi,

I'm currently trying to connect an app to the D365 Odata endpoint, but even when I have completed all the above steps, Postman still gives a 401 unauthorized response. Can someone help me figuring out what is wrong in my setup?

Thanks!
Lens

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 39946d94-b987-869b-dcf9-fc

[2020-03-12 13:02] #1758 closed

[2020-03-12 13:06] #1868 closed

[2020-03-12 13:07] #1904 closed

[2020-03-12 15:03] andreabichsel commented on #1512
Please see the new documentation at: https://docs.microsoft.com/en-us/dynamics365/human-resources/hr-leave-and-absence-overview. If there are any documentation gaps in those articles, please leave feedback and I will address them. Thank you!

[2020-03-12 15:03] #1512 closed

[2020-03-12 15:39] #1933 closed

[2020-03-12 19:00] josaw1 commented on #2194
Thanks for contacting us. Unfortunately, we're unable to handle Support requests for the product here. To contact Support, consider one of the options described here: [Support contact options](https://docs.microsoft.com/en-us/dynamics365/unified-operations/dev-itpro/lifecycle-services/lcs-support). In particular, you might want to go to the [Dynamics 365 community page](https://community.dynamics.

[2020-03-12 19:03] josaw1 commented on #2177
BUG 427175 created to track the issue.

[2020-03-12 19:23] josaw1 commented on #2178
BUG 427710 created to track.

[2020-03-12 22:30] nickolash opened #2195 "This page needs an update on the frequency of picking up batch jobs and tasks"
The page mentions that a batch server checks for available threads one time per minute. Therefore, you might have to wait for a minute before you see that a waiting task is picked up for processing by an available thread. This does not seem to be the case anymore (it used to be) - batch tasks are started almost instantly after putting them in a waiting status.

---
#### Document Details

⚠ *Do not

[2020-03-13 12:35] PeterRFriis commented on #1363
I think this should go through CSS and not through docs.
I would recommend closing this, and then ask the customer to create a customer support case.
Right now we do not have an official DR-documentation, setting up the SSRS will require both screenshares and talks regarding their specific setup.

[2020-03-13 12:40] sericks007 commented on #1363
Thanks for the response, @PeterRFriis!

Closing this issue.  @ahmerkhalid636, please consider contacting Support. To contact Support, consider one of the options described here: [Support contact options](https://docs.microsoft.com/en-us/dynamics365/unified-operations/dev-itpro/lifecycle-services/lcs-support).

[2020-03-13 12:40] #1363 closed

[2020-03-13 15:49] mores opened #2196 "Vendor posting profiles - does not contain 'Allow empty dimension value'"
Image to follow

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d53bfce2-57e5-7c14-c9c5-0bd783238fcc
* Version Independent ID: 37b19fa7-87c4-1883-91a0-96a5ba097cb5
* Content: [Set up dimension control for settlements (Russia) - Finance | Dynamics 365](https://docs.microsoft.com/en-us/dynamics365/finance/localizations/ru

[2020-03-13 15:50] mores commented on #2196
![image](https://user-images.githubusercontent.com/1318377/76637244-c499e400-6520-11ea-835c-98872f1605e3.png)

[2020-03-13 20:14] mores commented on #2196
Did not notice this was for Russia only.

[2020-03-13 20:14] #2196 closed

[2020-03-14 20:04] aaronstackpole opened #2198 "Trace Parser D365 Setup"
I am not able to find any details related to the initial set up of Trace Parser for D365. I'm assuming it's similar to how you did it in AX 2012, but there should be some guidance on how to perform the initial configuration in addition to how to use it, because you can't use it until it's set up correctly.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.c

[2020-03-15 16:43] TheElectricCo commented on #2194
Ok, understood.

I'll close this issue here and try my luck on the community page.

Regards,
Lens

[2020-03-15 16:43] #2194 closed

[2020-03-16 15:03] Augmentx-zw opened #2200 "QuickFilter control is missing on my pattern list"
QuickFilter control is missing on my pattern list

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d636f921-c6d6-25c3-c1e8-15332844eb6d
* Version Independent ID: 657c8193-2829-2c9d-65d0-f0dab5547756
* Content: [Filtering options - Finance & Operations | Dynamics 365](https://docs.microsoft.com/en-us/dynamics365/fin-ops-c

[2020-03-16 17:37] RobinARH commented on #2200
@jasongre - Can you take a look? Thanks.

[2020-03-16 18:31] #2185 closed

[2020-03-17 04:35] anderson-joyle opened #2201 "Email address Dynamics365Commerce@microsoft.com leads to nowhere"
When sending requests to Dynamics365Commerce@microsoft.com, the following is given as reply:

=================================================================
Delivery has failed to these recipients or groups:
Dynamics365Commerce@microsoft.com (Dynamics365Commerce@microsoft.com)
Your message couldn't be delivered to the recipient because you don't have permission to send to it.
Ask the recipient'

[2020-03-17 12:34] mores opened #2203 "The development image is using Visual Studio 2015"
Instructions are out of date. It says:
"Start Visual Studio 2013 as Administrator.

Click Project &gt; Options &gt; Source Control &gt; Plug-in Selection."

VS 2015 is installed - and the there is no Options under Project.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a1486907-b279-d1c2-9cac-acf009a20d26
* Version Ind

[2020-03-17 13:09] tonyafehr commented on #2201
Thanks for contacting us. Unfortunately, we're unable to handle Support requests for the product here. To contact Support, consider one of the options described here: [Support contact options](https://docs.microsoft.com/en-us/dynamics365/unified-operations/dev-itpro/lifecycle-services/lcs-support). In particular, you might want to go to the [Dynamics 365 community page](https://community.dynamics.

[2020-03-17 13:09] #2201 closed

[2020-03-17 13:11] tonyafehr commented on #2203
@mores, thanks for the feedback.
@jorisdg, please review. Thank you!

[2020-03-17 13:14] tonyafehr commented on #2198
@aaronstackpole, thanks for the feedback.
@RobinARH, please review.

[2020-03-17 13:14] #2188 closed

[2020-03-17 13:22] kfend commented on #2195
Thanks for the feedback! While it's great that this is taking less than a minute, we would prefer to keep the documented committed time at one minute.

[2020-03-17 13:22] #2195 closed

[2020-03-18 04:35] yoison opened #2204 "Please consider to add detail contents how to use performance timer."
Please consider to add detail contents how to use performance timer due to customers request.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 135281b4-08f4-fe51-60b1-257c3ee01037
* Version Independent ID: 5d07baaf-3c78-488d-a37c-177b1b5c2956
* Content: [Performance timer - Finance & Operations | Dynamics 365](https://do

[2020-03-18 12:51] sericks007 commented on #2204
@yoison, thank you for your feedback!

@RobinARH, please review.

[2020-03-18 12:55] sericks007 commented on #2192
Bug 429369 has been logged to track this issue.

[2020-03-18 13:49] kasperrytter opened #2205 "Errors in bug fixes section"
Error in the section "bug fixes". It says "10.0.7" and not "10.0.9". Secondly, the link to the KB article is the link from 10.0.8.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f33802ea-99bc-2987-441c-466a9c7c0262
* Version Independent ID: a57f482c-856e-2ed3-757f-801104d06c65
* Content: [What's new or changed in Dynam

[2020-03-18 13:52] sericks007 commented on #2205
@kasperrytter, thanks for letting us know about this!

@roschlom, please review and update the content, as needed.

[2020-03-18 14:43] #1811 closed

[2020-03-18 14:43] #1858 closed

[2020-03-19 13:19] tonyafehr commented on #2160
This content has been updated, thanks!

[2020-03-19 13:19] #2160 closed

[2020-03-19 18:15] sericks007 commented on #2056
This article has been updated! The updated version will be published soon.

[2020-03-19 18:15] #2056 closed

[2020-03-19 21:13] #2203 closed

[2020-03-19 21:13] RobinARH commented on #2203
We updated the topic and the changes should go live tonight. - Robin

[2020-03-20 08:53] nagarazt commented on #1946
Thanks Irfan. I understood the concept of both Hookable vs Wrappable. But [HookableAttribute(false)] and [Wrappable(false)] both we use for the normal public or protected methods not on final methods to avoid the extensible option. My question is if both are working in similar way why do we have two properties.  I feel Hookable is deprecated concept. Correct me if I am wrong.

[2020-03-20 16:19] mikecaterino commented on #1933
This issue still exists (as of yesterday) for bacpacs created using the Export databse from the Move database in LCS on a sandbox environment hosted utilizing the service fabric. Still had to manually update the model.xml and generate a new checksum for the bacpac.

[2020-03-20 18:59] laneswenka commented on #1933
Hi Mike!

Can you send me your environmentID? Lane.Swenka@microsoft.com

Lane

Sent from my iPhone

On Mar 20, 2020, at 9:19 AM, Mike Caterino <notifications@github.com> wrote:

﻿

This was a new azure default setting that wasn't compatible with Dev SQL Servers. We have since updated the automation to set this explicitly on export.

This issue still exists (as of yesterday) for bacpacs created usi

[2020-03-23 03:12] mutsun1 opened #2211 "Need to update Japan localization document"
There are some parts that are in only Japan localized document but is not in English document for this page.
These parts make Customer confuse and we got some question from Customer for this part in past.
We need to update Japan localization document and remove this parts as same as English document.

Japanese document.
https://docs.microsoft.com/ja-jp/dynamics365/fin-ops-core/dev-itpro/database/d

[2020-03-23 14:11] D365Princess opened #2215 "Task Recording use against the Business Process Library"
There is a conflict in information on this page, in the top "Important" note you are stating that at this time task recordings cannot be saved to the BPM but in the text under the heading "learn-about-task-recorder" you are saying this is possible.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ea38a642-b6f9-7fbb-23a0-

[2020-03-24 07:40] v-oloski commented on #1698
Please overview below what was mplemented for invoice layout.
To provide requirements for the SST invoice layout the following was implemented:
1.	The new invoice type -Service type  (General ledger > General ledger parameters, Sales tax tab, GST option, Invoice type) has been added.
•	If the Invoice type value is Service tax, then the name of the tax columns is replaced to Service tax.
•	If the I

[2020-03-24 13:28] andyNewnham opened #2220 "Commerce CMS link and note on retail server hosting in production environments"
Hi, It would be great if a comment could be included on how to link POS images to the CMS (Asset library) now used by e-commerce. This is by using your public CMS address, with the suffix: /imageFileData/search?fileName=/imageFileData/search?fileName=

Also, a very frequent question that comes up (often on yammer), is regarding the use of retail server (MediaServer folder) to host images in a prod

[2020-03-24 13:36] tonyafehr commented on #2215
@D365Princess, thanks for the feedback.
@josaw1, please review.

[2020-03-24 13:40] tonyafehr commented on #2220
@andyNewnham, thanks for the feedback.
@josaw1, please review.

[2020-03-24 13:43] tonyafehr commented on #2198
Bug 431246 logged to track this issue.

[2020-03-24 13:57] tonyafehr commented on #2211
@vinceno, please review. Thanks!

[2020-03-24 14:26] sericks007 commented on #845
Closing this issue, as it was logged over a year ago.  If this issue still persists, please log a new issue, or re-activate this one. Thank you!

[2020-03-24 14:26] #845 closed

[2020-03-24 14:47] josaw1 commented on #2215
@D365Princess, thank you. I've removed the section about being able to save to BPM and display in the Help pane and will publish the changes later today.

[2020-03-24 14:47] #2215 closed

[2020-03-24 21:11] roschlom commented on #2205
Thanks for pointing out the issues. The topic has been updated now. It was just published so the updates should show up soon. Thanks again!

[2020-03-24 21:11] #2205 closed

[2020-03-25 10:38] sebastianstrefel opened #2224 "Mistake in writing"
The title BPCheckAltenateKeyAbsent is incorrect. It should be BPCheckAlternateKeyAbsent.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2cbcd513-d8ab-ddc6-ce0d-43e03d4692c2
* Version Independent ID: d1119159-09e4-1aa1-d90e-c8f23552adbc
* Content: [Customization Analysis Report (CAR) - Finance & Operations | Dynamics 36

[2020-03-25 11:49] sericks007 commented on #2224
@sebastianstrefel, thanks for letting us know!

@RobinARH, please review and update the text.

[2020-03-25 11:54] sericks007 commented on #2204
Bug 431639 has been logged to track this issue.

[2020-03-25 17:55] sebaz86 opened #2225 "Include tips to search for the QueryID"
Add tips in the "Get list of query ID's" section to help users retrieving the needed data like:
1. Replace any special character from the SQL statement like " ' " (single quote) or "?" (question mark) with the wildcard"%" which tells SQL to bring "anything in between".
Example: %where DataAreaID = N'DAT' and Partition =... -&gt; %where DataAreaID = % and Partition =...
2. Add note that: this secti

[2020-03-25 18:11] sericks007 commented on #2225
@sebaz86, thank you for the feedback!

@meeramahabala, please review and update the content.

[2020-03-25 18:44] ronsonntag54 opened #2226 "Transaction data is commonly part of Data Migration"
It is not correct to not include transaction data as part of data migration. Clients commonly want historical transaction data to be migrated into D365 so that their financials maintain continuity and forecasting can be maintained. You can also throw into the mix machine learning that requires significant historical data.

---
#### Document Details

⚠ *Do not edit this section. It is required for

[2020-03-25 19:27] sericks007 commented on #2226
@ronsonntag54, thank you for your feedback!

@Sunil-Garg, please review and consider updating the content.

[2020-03-25 21:58] jorisdg commented on #1946
I will review the doc with the team as I agree it's not clear.

Hookable(false) disallows pre/post handlers and CoC. Wrappable(false) only disallows CoC (still allows handlers).

Hookable(true) can be used to allow pre/post handlers on final or protected methods (default is only on non-final public).
Wrappable(true) can be used to allow CoC on final methods (protected or public, private methods ca

[2020-03-26 00:38] PhilippeDoucette opened #2228 "Two errors"
1...and does not prevent the user from use either entry point.
2...when the task guide detects that the user is on the wrong from,...

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b5762f9e-d7f4-e7fc-49c7-6db64c01bc6a
* Version Independent ID: 2aab18ad-f2f1-c0ad-c109-38806c8491a3
* Content: [Task recorder resources - F

[2020-03-26 17:22] mhammons opened #2229 "Licensing Required for this process"
Can you please add details related to the type of Power BI licensing that is required for modifying these out of box, entity store based reports. Do authors require a Power BI Pro license?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 40ae6a15-fb41-e9e6-bb76-bb570fd2d5d2
* Version Independent ID: 74ebfbfe-6123-ceeb-af

[2020-03-26 18:07] mhammons opened #2230 "Licensing Required for Editing Entity Store Reports"
It is not clear here, nor in the Licensing Guide, what Power BI license is required for editing entity store based reports (those that stay in Dynamics, not the ones from powerbi.com). Do users need a Power BI Pro license to logon to the VM and edit the existing reports (more specifically the datasets)?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com

[2020-03-26 18:08] mhammons commented on #2230
That would also go for creating any NEW entity store based reports that are subsequently uploaded to LCS.

[2020-03-26 20:52] josaw1 commented on #2228
Thank you for your feedback. @jasongre can you please look at this?

[2020-03-26 20:53] josaw1 commented on #2229
Thank you  for your feedback. @MilindaV2 can you please take a look?

[2020-03-26 20:54] josaw1 commented on #2230
Thanks for the feedback. @TJVass can you please take a look?

[2020-03-26 21:57] Sunil-Garg commented on #2138
The doc has been updated to call out that parallel processing is not supported for composite entities. However, pls note that, composite entities can be processed in async, sync or batch.

Thanks.

[2020-03-27 14:00] sericks007 commented on #335
Closing this issue as there haven't been any comments in over a year.

[2020-03-27 14:00] #335 closed

[2020-03-27 14:18] ajb-hso commented on #2151
HI:

I am searching the data entities to locate the updates for PCard fields and have not been able to locate the entity or entities.  Please let me know which entities have been updated to include PCard data.

Thanks.

[2020-03-27 16:28] ajb-hso opened #2234 "PCard Data/Vendor Invoice Upload"
Hi:

I submitted this issue previously and it has been closed, so please forgive me if adding to a closed issue is proper protocol.

We are looking at uploading PCard data to use the new PCard feature.  This would entail using the vendor invoice templates in data management.

I have been told that data entity updates have been included in 10.0.9, but am not able to locate them.

If someone can she

[2020-03-27 16:36] petrjanikac opened #2235 "Reporting - Print to Screen"
Is printing with destination to screen supported on self-service deployment?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e5510d9f-2080-9ce5-a04a-bddb63c90127
* Version Independent ID: 255a4b53-046e-55b2-3fd8-79b3f66fc28f
* Content: [Known issues with self-service deployment - Finance & Operations | Dynamics 365](htt

[2020-03-27 16:38] MSFTRANDY opened #2236 "how do emails get sent???"
Missing step to process the job for "Send email notification" so that the emails actually go out.  Customers otherwise expect this to be automatically sent via email when the action occurs since its not listed in this setup.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 90ad114e-bfab-ee83-2c83-a1a665bcd975
* Version I

[2020-03-27 19:14] kfend commented on #2235
@rashmansur - can you address @petrjanikac's question?

[2020-03-27 19:51] kfend commented on #2151
Re-opening this issue as there is another question. Closing the duplicate issue that was opened today.
@velofog - Can you help out with this? Thanks!

[2020-03-27 19:54] kfend commented on #2234
@ajb-hso - I am closing this issue and I have reopened issue [2151](https://github.com/MicrosoftDocs/dynamics-365-unified-operations-public/issues/2151) and pinged the topic author.

[2020-03-27 19:54] #2234 closed

[2020-03-30 17:28] #2138 closed

[2020-03-30 17:30] velofog commented on #2151
Here are the data entities related to Pcard:

Bank purchasing card setup...this entity creates the Pcard records  | PSNBankPurchasingCardEntity
Posted Vendor transactions purchasing card information...this entity is to export posted pcard transactions (ReadOnly) | PSNVendTransPurchasingCardEntity
Vendor invoice   header...pcard fields were added | VendorInvoiceHeaderEntity
Vendor parameters...pcar

[2020-03-30 17:51] #2151 closed

[2020-03-30 18:00] ajb-hso commented on #2151
Many thanks

Thanks.

Andrew Bernstein MCP, MCSD
Senior Consultant

[cid:image001.png@01D6069C.1BEDEA50]
M (813) 382.6913
E abernstein@hso.com <mailto:abernstein@hso.com>  W www.hso.com <http://www.hso.com/>  L Linkedin<http://www.linkedin.com/> T Twitter<https://twitter.com/HSODynamicsAX>

Looking for the right tools to digitally transform your business? Learn how<https://www.hso.com/en-us/news-b

[2020-03-30 22:27] RobinARH commented on #1946
Joris updated the doc and the new info should go live tonight.

[2020-03-30 22:27] #1946 closed

[2020-03-31 07:45] Shind44 commented on #1933
Hello Mike
i have the same issue with our environnement. I send you the environnementID by mail

Charles

[2020-03-31 13:30] ShabuddinKhan opened #2238 "How do I upload asset into asset library using an API ?"

[2020-03-31 13:56] tonyafehr commented on #2238
@ShabuddinKhan, what topic is this in reference to? Your comment does not have any topic information, which we need to understand where you are looking for information. Keep in mind that we're unable to handle Support requests for the product here. To contact Support, consider one of the options described here: [Support contact options](https://docs.microsoft.com/en-us/dynamics365/unified-operatio

[2020-03-31 20:34] tclayton72 opened #2240 "Replaceable : are there additional requirements when working with replaceable methods?"
Is there something else needed or has to be done differently when the method is decorated with [Replaceable]?  I get an exception at runtime for an extension on a method with this attribute: "Common Language Runtime detected an invalid program"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4317fdb2-b37f-550d-f229-bfd8

[2020-03-31 21:02] tonyafehr commented on #2240
We'll review your feedback. If you need immediate assistance, you might want to contact Support using the options described here: [Support contact options](https://docs.microsoft.com/en-us/dynamics365/unified-operations/dev-itpro/lifecycle-services/lcs-support). In particular, you might want to go to the [Dynamics 365 community page](https://community.dynamics.com/) to get help with your questions

[2020-03-31 21:08] tonyafehr commented on #2220
Bug 434422 logged to track this issue.

[2020-03-31 21:22] josaw1 commented on #2220
@athinesh99 can you please take a look at this? Thanks.

[2020-03-31 21:49] kfend commented on #2236
This topic has been updated with the requested information. Changes will be published in the next few hours.

[2020-03-31 21:49] #2236 closed

[2020-04-01 07:38] gvdsleen commented on #2064
Any news on this problem of not being able to retrieve the errors when using recurring instead of the package api?

[2020-04-01 10:46] vinceno commented on #2211
@mutsun1 -  thank you so much for this feedback, it is always very much appreciated.   While we look to minimise the impact, there will be some delay in changes to the English content being reflected in non-English languages. I believe the item you highlighted is now addressed, however, there has been further changes to this topic in English and those changes are currently in translation now., and

[2020-04-01 10:47] vinceno commented on #2211
@tonyafehr - closing

[2020-04-01 10:47] #2211 closed

[2020-04-01 12:19] sericks007 commented on #2224
Bug 434682 has been logged to track this issue.

[2020-04-01 12:24] sericks007 commented on #2226
Bug 434687 has been logged to track this issue.

[2020-04-01 12:28] sericks007 commented on #2225
LCS bug 6934393 was logged to track this issue.

[2020-04-01 13:25] AartiKumar opened #2246 "Workflow approval for cancelling the delivery remainder quantity"
Can you please clarify on this page that if the PO is approved through workflow, confirmed and partially received, changing the delivery remainder will require the user to submit the PO again to workflow. Also please specify the navigation path to 'finalize' option to prevent further changes to PO lines

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com

[2020-04-01 13:35] sericks007 commented on #2246
@AartiKumar, thank you for providing this feedback!

@FrankDahl, please review and update the content, as needed.

[2020-04-01 14:25] sericks007 commented on #2246
@MaiKirknel, please review and update the content, as needed.

[2020-04-01 15:15] #2083 closed

[2020-04-01 16:39] RobinARH commented on #2224
Fixed.

[2020-04-01 16:39] #2224 closed

[2020-04-01 16:55] #2055 closed

[2020-04-01 18:50] ishita53 opened #2248 "Getting an error from execute action connector, type provided is of string but required is object"
Hi, I am receiving the following error:
The API 'dynamicsax' returned an invalid response for workflow operation 'Execute_action' of type 'OpenApiConnection'. Error details: 'The API operation 'ExecuteProcedure' requires the property 'body/value' to be of type 'Object' but is of type 'String'.'
Now I tried converting the WorkflowWorkItemInstance field to object, but then the connector is not accep

[2020-04-01 21:40] #911 closed

[2020-04-01 21:41] #250 closed

[2020-04-01 21:43] #283 closed

[2020-04-01 21:49] #496 closed

[2020-04-01 21:49] #642 closed

[2020-04-02 03:20] DavidPaf commented on #2158
Flow user can use the "Invoke HTTP request with AD" action to login to Talent and make queries.

[2020-04-02 07:24] samee-r opened #2250 "𝐗+ 𝐰𝐫𝐢𝐭𝐭𝐞𝐧 𝐢𝐧𝐬𝐭𝐞𝐚𝐝 𝐨𝐟 𝐗++"
In "𝐁𝐚𝐜𝐤𝐰𝐚𝐫𝐝-𝐢𝐧𝐜𝐨𝐦𝐩𝐚𝐭𝐢𝐛𝐥𝐞 𝐜𝐡𝐚𝐧𝐠𝐞𝐬 𝐭𝐨 𝐗++" section, '𝐗+' is written instead of '𝐗++' in statement "𝐓𝐡𝐞 𝐬𝐢𝐠𝐧𝐢𝐟𝐢𝐜𝐚𝐧𝐭 𝐛𝐞𝐡𝐚𝐯𝐢𝐨𝐫𝐚𝐥 𝐝𝐢𝐟𝐟𝐞𝐫𝐞𝐧𝐜𝐞𝐬 𝐛𝐞𝐭𝐰𝐞𝐞𝐧 𝐗++ 𝐩-𝐜𝐨𝐝𝐞 𝐯𝐞𝐫𝐬𝐮𝐬 𝐗+ 𝐚𝐬 𝐂𝐈𝐋 𝐰𝐞𝐫𝐞 𝐚𝐬 𝐟𝐨𝐥𝐥𝐨𝐰𝐬".

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d1bbc2c7-22f5-3b21-978c-4ed5867e400c
* Version Independent ID: 7d53e2be-80a2-e576-

[2020-04-02 14:49] dahirongm opened #2252 "OpenApi specification request"
It would be extremely helpful if an OpenApi specification is included for each of this API request/response.
Thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a33b4605-509f-bc52-fcba-eaa15fd75524
* Version Independent ID: 41810ae0-b52a-b250-88f0-d6a1fa7a5505
* Content: [Point of sale (POS) APIs - Commerce | Dynami

[2020-04-02 14:50] dahirongm opened #2253 "OpenApi specification request."
It would be extremely helpful if an OpenApi specification is included for each of this API request/response.
Maybe some use examples can be added also.
Thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 90cf28cb-e5aa-edc4-f379-a500f94574dc
* Version Independent ID: 535bb4de-13cc-1ab0-d6a4-01e1589e3cee
* Content: [C

[2020-04-02 15:19] ajb-hso commented on #2151
Hi:
We have enabled the PCard feature in update 33 (10.0.9) and we are able to use the feature.  However, I have reviewed the entities listed below and it looks as if the PCard fields have not been added:
- Vendor invoice header
- Vendor Parameters

Additionally, both PSN entities (BankPurchasingCardEntity and VendTransPurchasingCardEntity) are not listed.

Am I missing something??

[2020-04-02 18:08] #770 closed

[2020-04-02 18:10] #792 closed

[2020-04-02 18:13] #972 closed

[2020-04-02 18:15] #975 closed

[2020-04-02 18:18] #1001 closed

[2020-04-02 18:19] #1004 closed

[2020-04-02 18:20] #1009 closed

[2020-04-02 18:21] #1022 closed

[2020-04-02 18:23] #1068 closed

[2020-04-02 18:24] #1101 closed

[2020-04-02 18:26] #1185 closed

[2020-04-02 18:27] #1254 closed

[2020-04-02 18:30] #1259 closed

[2020-04-02 18:32] #1286 closed

[2020-04-02 18:33] #1333 closed

[2020-04-02 21:24] #1376 closed

[2020-04-02 21:26] #1467 closed

[2020-04-02 21:28] #1503 closed

[2020-04-02 21:33] #1564 closed

[2020-04-02 21:47] #1602 closed

[2020-04-02 21:48] #1665 closed

[2020-04-02 21:49] #1681 closed

[2020-04-02 21:50] #1701 closed

[2020-04-02 21:53] #1731 closed

[2020-04-02 22:36] #1772 closed

[2020-04-02 22:38] #1908 closed

[2020-04-02 22:41] #1923 closed

[2020-04-02 22:44] #280 closed

[2020-04-02 22:47] #1260 closed

[2020-04-03 07:58] soerenpc opened #2255 "SysTestTransaction documentation"
Could you please add some doc. re. the SysTestTransaction attribute?

I found this:

None
No protection, you need to clean up yourself.

LegacyRollback
As in AX2012 – test suites can be used to control the protection, for example a new company is created and deleted afterwards. See Inside Dynamics 2012 for details.

LegacyRollbackWithUpdateTracking
As LegacyRollback with a tracking of data inserts

[2020-04-03 17:38] josaw1 commented on #2248
Thanks for contacting us. Unfortunately, we're unable to handle Support requests for the product here. To contact Support, consider one of the options described here: [Support contact options](https://docs.microsoft.com/en-us/dynamics365/unified-operations/dev-itpro/lifecycle-services/lcs-support). In particular, you might want to go to the [Dynamics 365 community page](https://community.dynamics.

[2020-04-03 17:38] #2248 closed

[2020-04-03 17:39] josaw1 commented on #2250
Thanks for your feedback. @RobinARH can you please take a look?

[2020-04-03 17:40] josaw1 commented on #2252
Thanks for your feedback. @mugunthanm can you please take a look?

[2020-04-03 17:41] josaw1 commented on #2253
Thanks for your feedback. @mugunthanm can you please take a look?

[2020-04-03 17:42] josaw1 commented on #2255
Thank you for your feedback. @MichaelFruergaardPontoppidan can you please take a look?

[2020-04-04 02:58] mugunthanm commented on #2252
Thanks for your feedback, we will update the documentation soon with description, version and samples. For now you can find the parameters and types information for these APIs in the Pos.Api.d.ts, which is part of the Retail SDK (...Retail SDK\POS\Extensions\Pos.Api.d.ts). Also the Retail SDK has sample for many of these APIs.

[2020-04-04 02:59] mugunthanm commented on #2253
Thanks for your feedback, we will update the documentation soon with specification, description, version and samples.

[2020-04-04 13:59] dahirongm commented on #2252
Thanks for your reply. Yes RetailSDK samples and Pos.Api.d.ts is what i have being using so far.

Thanks

[2020-04-06 06:53] gammelgaard52 commented on #1190
Returning question, is it still not possible?

[2020-04-06 08:01] faridmason opened #2258 "Do BYOD users require a license to D365?"
Can you clarify whether the users that will be accessing the BYOD database are required or not to be licensed with D365 Finance or SCM? can users without D365 Finance or SCM, access the BYOD database after it's populated with D365 data?
Thanks,
F.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 33f75161-0776-a6c1-dc10-d

[2020-04-06 12:01] Angelos102 commented on #1986
Please reviews this, as I can see this is now available and no longer an issue

[2020-04-06 13:38] FH-Inway commented on #1986
@Angelos102 If update settings are now available for all LCS projects with self service environments, then this issue can be closed.

[2020-04-06 13:42] #1986 closed

[2020-04-06 15:28] tonyafehr commented on #1190
@mugunthanm, please review.

[2020-04-06 19:24] mugunthanm commented on #1190
Unfortunately it will not be one package because the packages goes to different systems. D365 package goes to D365 F & O env and Retail deployable package goes to RCSU and the deployment flow is different for D365 F & O and Retail.

[2020-04-06 19:26] RobinARH commented on #2258
For questions about licensing, please see the licensing page:
https://dynamics.microsoft.com/en-us/pricing/

You can contact the sales team if you have additional questions:
https://dynamics.microsoft.com/en-us/contact-us/

-Robin

[2020-04-06 19:26] #2258 closed

[2020-04-06 19:48] #1190 closed

[2020-04-06 22:11] #2238 closed

[2020-04-07 10:02] yxx-39 opened #2260 "Reduce a forecast by transactions"
I can't find the Other FastTab in released product page, even in the new released version PU33.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0f36dc1d-4d8e-0bb7-317e-6b3cad97b4f6
* Version Independent ID: 8afbf079-6620-a200-af81-4ed147d28dbf
* Content: [Forecast reduction keys - Supply Chain Management | Dynamics 365]

[2020-04-07 13:29] tonyafehr commented on #2260
@ChristianRytt, please review this feedback. Thanks!

[2020-04-07 13:29] #2240 closed

[2020-04-08 03:22] rapraj opened #2262 "Titles need to reflect the change from 'Retail and Commerce' to 'Commerce'"
The following line -

Open the Device page in HQ (Retail and commerce &gt; Channel setup &gt; POS setup &gt; Devices).

The label needs to get updated -
In HQ -&gt; Workers -&gt; For selected worker -&gt; 'Commerce' Tab -&gt; POS Setup

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 955e07d6-ef6f-72d3-5b61-0032b5beaa31

[2020-04-08 12:30] sericks007 commented on #2262
@rapraj, thanks for making us aware of this!

@athinesh99, please update the content.

[2020-04-08 12:35] sericks007 commented on #2246
Bug 437003 has been logged to track this issue.

[2020-04-08 13:55] ajb-hso opened #2263 "PCard Upload ability - #2151"
Hi:
I am still experiencing issues with the PCard upload capability.

We have enabled the PCard feature in update 33 (10.0.9) and we are able to use the feature.  However, I have reviewed the entities listed below and it looks as if the PCard fields have not been added:
- Vendor invoice header
- Vendor Parameters

Additionally, both PSN entities (BankPurchasingCardEntity and VendTransPurchasingCar

[2020-04-08 14:23] sericks007 commented on #2263
@ajb-hso, thanks for contacting us. Unfortunately, we're unable to handle Support requests for the product here. To contact Support, consider one of the options described here: [Support contact options](https://docs.microsoft.com/en-us/dynamics365/unified-operations/dev-itpro/lifecycle-services/lcs-support). In particular, you might want to go to the [Dynamics 365 community page](https://community

[2020-04-08 14:23] #2263 closed

[2020-04-08 19:07] RobinARH commented on #2198
This articles says that it should be pre-installed and how to install it yourself. Are you saying it needs configuration beyond that? thanks.

https://docs.microsoft.com/en-us/dynamics365/fin-ops-core/dev-itpro/perf-test/trace-parser

[2020-04-09 10:33] oathgg opened #2267 "ERROR: User must be in the master database."
I've followed the steps from https://docs.microsoft.com/en-us/dynamics365/fin-ops-core/dev-itpro/database/dbmovement-scenario-debugdiag#add-your-ip-address-to-a-whitelist.

However, when I try to enter the query to add my IP address I receive the following message: "Msg 5001, Level 16, State 5, Procedure sp_set_firewall_rule, Line 1 [Batch Start Line 0]
User must be in the master database."

Last

[2020-04-09 10:43] oathgg commented on #2267
Problem has been solved, I was using the incorrect SP. The one I was using was sp_set_firewall_rule, instead of the one described in the how-to: sp_set_database_firewall_rule.

[2020-04-09 17:53] sericks007 commented on #1955
Closing, as this content has been updated.

[2020-04-09 17:53] #1955 closed

[2020-04-09 17:58] kfend commented on #1779
I have updated the topic with this information. Change will be published today.

[2020-04-09 17:58] #1779 closed

[2020-04-09 18:13] jorisdg commented on #1137
devinstall only updates the X++ binaries for the AOS - nothing else. So no, it does not update dev tools, SSRS, etc. etc.
You can see this in the deployable package. If you open the ZIP file, you'll find the "DevInstallServiceModelData.xml" which only shows the AOS (and DIXF but I believe this is just to stop/start that service to allow the update).

The point here is that devinstall can work with

[2020-04-09 20:17] josaw1 commented on #2267
Great, thank you!

[2020-04-09 20:17] #2267 closed

[2020-04-09 20:25] josaw1 commented on #2255
BUG 437594 created to track this request.

[2020-04-09 20:27] josaw1 commented on #2253
BUG 437596 created to track this work.

[2020-04-09 20:32] josaw1 commented on #2252
BUG 437596 created to track this work.

[2020-04-09 20:34] josaw1 commented on #2250
BUG 437599 created to track this.

[2020-04-09 20:36] #1316 closed

[2020-04-09 20:39] #1352 closed

[2020-04-09 20:43] #1495 closed

[2020-04-09 20:49] #1672 closed

[2020-04-09 21:11] #1651 closed

[2020-04-09 21:14] #1633 closed

[2020-04-09 21:14] #1604 closed

[2020-04-09 21:16] #1603 closed

[2020-04-09 21:18] #1514 closed

[2020-04-09 21:22] #1291 closed

[2020-04-09 21:26] josaw1 commented on #1043
BUG 437617 created and reprioritized.

[2020-04-09 21:28] #923 closed

[2020-04-09 21:29] #834 closed

[2020-04-09 22:12] #775 closed

[2020-04-09 22:14] #633 closed

[2020-04-09 22:16] #669 closed

[2020-04-09 22:18] #584 closed

[2020-04-09 22:21] josaw1 commented on #551
BUG 437629 created.

[2020-04-09 22:22] #422 closed

[2020-04-09 22:23] #326 closed

[2020-04-09 22:25] #217 closed

[2020-04-09 22:26] #172 closed

[2020-04-09 22:28] #211 closed

[2020-04-09 22:30] #215 closed

[2020-04-09 22:31] #227 closed

[2020-04-09 22:31] #230 closed

[2020-04-09 22:32] #255 closed

[2020-04-09 22:32] #259 closed

[2020-04-09 22:33] #269 closed

[2020-04-09 22:34] #285 closed

[2020-04-09 22:35] #405 closed

[2020-04-09 22:37] #437 closed

[2020-04-09 22:41] josaw1 commented on #486
BUG 437635 opened for this point.

[2020-04-09 22:42] #502 closed

[2020-04-09 22:43] #616 closed

[2020-04-09 22:45] #656 closed

[2020-04-09 22:47] josaw1 commented on #667
@Sunil-Garg reopened bug.

[2020-04-09 22:48] #673 closed

[2020-04-09 22:50] #677 closed

[2020-04-09 22:50] #697 closed

[2020-04-09 22:51] #700 closed

[2020-04-09 23:01] #1187 closed

[2020-04-09 23:03] #1184 closed

[2020-04-09 23:03] #1136 closed

[2020-04-09 23:05] #1108 closed

[2020-04-09 23:08] #1051 closed

[2020-04-09 23:09] #968 closed

[2020-04-09 23:10] #966 closed

[2020-04-09 23:12] josaw1 commented on #928
BUG 437643 created.

[2020-04-09 23:17] #847 closed

[2020-04-09 23:23] #797 closed

[2020-04-09 23:25] #741 closed

[2020-04-09 23:27] josaw1 commented on #701
BUG 437647 created to replace the item above.

[2020-04-09 23:29] #1168 closed

[2020-04-09 23:35] josaw1 commented on #1921
@roschlom, please triage.

[2020-04-09 23:37] #1877 closed

[2020-04-09 23:37] #1857 closed

[2020-04-09 23:38] #1855 closed

[2020-04-09 23:41] josaw1 commented on #1815
BUG 437649 created.

[2020-04-09 23:43] #1807 closed

[2020-04-09 23:59] #1618 closed

[2020-04-10 00:01] #1609 closed

[2020-04-10 00:02] #1598 closed

[2020-04-10 00:06] josaw1 commented on #1790
Created BUG 437655.

[2020-04-10 00:08] #1556 closed

[2020-04-10 15:01] roschlom commented on #1921
Thank you for the comment. You've raised a valid point and in turn, we've been putting some changes to the process we use for generating What's new topics into place. Our goal for those changes it to ensure that these topics are more complete and accurate. Thanks again for the feedback!

[2020-04-10 15:01] #1921 closed

[2020-04-10 17:01] #928 closed

[2020-04-10 17:47] brettchristiansen opened #2268 "Incorrect instruction for enabling"
In prior versions (10.0.8 and lower?) the steps to disable/enable configuration keys outlined here were correct.  In 10.0.9+ these no longer work.  the Trickle fee preview key is missing (if these steps were done previously and then you update you actually lose statement posting forms entirely).  In more recent releases trickle feed appears to be a feature that must be enabled through the Feature

[2020-04-10 18:05] sericks007 commented on #1911
Correction: Bug 437909 has been logged to track this issue.

[2020-04-10 20:40] #463 closed

[2020-04-10 20:41] kfend commented on #463
Closing for now. Please reopen if you have tried using multiple extensions for the same label file and it is not working.

[2020-04-10 20:42] #357 closed

[2020-04-10 21:03] josaw1 commented on #1533
Bug 437964 created.

[2020-04-10 21:18] RobinARH commented on #260
Thanks for the feedback. Updating this topic is on our todo list, but I can't say when we'll complete the work. - Robin

[2020-04-10 21:18] #260 closed

[2020-04-10 21:54] #1851 closed

[2020-04-10 22:20] josaw1 commented on #1750
BUG 437987 created.

[2020-04-10 22:47] #2135 closed

[2020-04-10 22:51] josaw1 commented on #2167
BUG 437992 created to replace the above item.

[2020-04-12 16:38] JoelLeichty opened #2271 "This Article Needs to be Updated"
The What's New 10.0.9 article links to the Release Plan 2020 Wave 1 Article which links to this article. None of these articles provide enough information about what is now in the product; it's not enough to even make educated guesses.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b80b95fb-b679-0e3e-7281-ce5753c0918a

[2020-04-13 14:10] #998 closed

[2020-04-13 15:49] RobinARH commented on #2271
@ShivamPandey-msft and @roschlom  - Can you take a look? Thanks.

[2020-04-13 17:06] panolte commented on #2271
The links are wrong in the what’s new Credit Management article.

Right now we link to the Credit and collections in accounts receivable, but we should be linking to Credit and collections overview.  This page defines what can be done with credit management.

[2020-04-13 18:11] roschlom commented on #2271
I can update the link in the Release plans topic, which is the one that's being referred to. Please not that Release plans are published on their own schedule, and the change won't be live until later this month. Thank you for letting us know about the issue!

[2020-04-13 18:11] #2271 closed

[2020-04-13 18:17] kfend commented on #1745
Updated the topic with this feedback. Changes will publish later today.

[2020-04-13 18:17] #1745 closed

[2020-04-13 18:18] josaw1 commented on #262
BUG 438327 created to track the issue.

[2020-04-13 18:41] RobinARH commented on #2200
Bug 438334 created to track this issue.

[2020-04-13 18:44] RobinARH commented on #2158
Bug 438336 created to track this issue.

[2020-04-13 18:49] roschlom commented on #2129
The topic has been updated in response to the feedback. Thanks again for the input.

[2020-04-13 18:49] #2129 closed

[2020-04-13 19:31] AurelienClere-365 opened #2275 "Response JSON"
Hello,

Just notice a little mistake in your JSON Response. The ProjectID property is an integer and not a string.

Looks better like this.
{
    "IsSuccess": true,
    "OperationActivityId": "6a90b45f-1764-4077-b924-3f4671540237",
    "ErrorMessage": null,
    "VersionEOL": "9999-12-31T23:59:59.9999999",
    "ProjectId": 12345,
    "EnvironmentId": "5362377c-bc37-4f92-b30e-fe0c1e664cc0",
    "Act

[2020-04-13 19:58] jasongre commented on #1040
@manishmoothedath Today we only support sending one piece of context from Finance and Operations app to Power Apps. That data, regardless of what field you selected for context, comes into Power Apps via the "EntityID" URL parameter. Once we move to supporting more fields of context, we will consider allowing the parameters that are passed to be named to better reflect the data that's being passed

[2020-04-13 20:01] #1040 closed

[2020-04-13 21:26] JoelLeichty opened #2276 "Report Deletions and Expirations"
I'm trying to put this whole story together for this new feature. It's in this article under v10.0.7 but in the What's New for 10.0.8. I don't see anything in Feature management related to this (but I'm looking at v10.0.10 preview so maybe the feature management piece is gone?).

In addition, it's not clear how the feature works. Are these parameter settings inside the FR report definition or insi

[2020-04-13 21:27] TylerHills opened #2277 "Output to .txt file"
Is there anyway to output to .txt file vs .xml?

I know you can change the output method to text, but that doesn't resolve the file format, itself.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a56dd618-9180-ed71-fd8e-850153f35b59
* Version Independent ID: 6322764e-1b61-5148-024a-0d6b124c0512
* Content: [Set up and ge

[2020-04-14 01:17] jasongre commented on #551
Update to bring this article up-to-date as of today have been made and are pending publish.

[2020-04-14 01:23] jasongre commented on #1790
Improvements for the editing experience are planned. We'll consider this with those improvements.

[2020-04-14 06:49] BernhardRaether opened #2278 "Cannot setup this, as three's no fiels as explained in "Organization administration > Setup > Organization email templates""
To Whom it may concern

I have followed this document strictly, until I tried to setup these settings:
- there is no "Overview" Tab - mine are called

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4e01fce0-6590-5ea4-ebbf-a8379d4f810b
* Version Independent ID: 7b4cc58e-392c-c85d-d604-394f45cd9b4a
* Content: [Send email

[2020-04-14 07:00] BernhardRaether commented on #2278
![grafik](https://user-images.githubusercontent.com/44842967/79194617-2950a300-7e2d-11ea-84ee-ceb4dd94d957.png)

no intructions on what to enter into Priority or batch group.

No chance to configure "in the lower grid" (Where?) an additional Email ID "EmailRecpt" and no chance to enter an XML but to upload a file.

Please verify correct possibility of input.

[2020-04-14 12:16] kristyler commented on #1790
@jasongre Consider? Do you realize how many hours of extra work it is to rerecord tasks, because I can't reliably insert steps after a code release? Editing a task is currently useless, because I can't trust it to work every time. I hope you're taking this product seriously. As it is, I'm looking at moving to a different test platform to save time.

[2020-04-14 14:11] tonyafehr commented on #2278
Thanks for the feedback.
@jashanno and @josaw1, please review.

[2020-04-14 14:12] tonyafehr commented on #2275
Thanks for the feedback.
@laneswenka, please review.

[2020-04-14 14:14] tonyafehr commented on #2276
Thanks for the feedback.
@aprilolson and @rschloma please review.

[2020-04-14 14:15] tonyafehr commented on #2277
Thanks for the feedback.
@abruer, please review.

[2020-04-14 14:21] Kelkane opened #2279 "Customer credit groups are shared credit limit"
This document reads as if all customers in a Customer credit group will receive the amount specified in the Customer credit group when in reality, the Customer credit groups allow sharing of the credit limit among the Customer accounts associated within the group.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5eba805a

[2020-04-14 15:05] jasongre commented on #2200
@AugmentXY can you provide some more information about what you're looking for?

[2020-04-14 16:03] tonyafehr commented on #2277
@panolte, reassigning.

[2020-04-14 16:04] tonyafehr commented on #2279
Thanks for the feedback.
@panolte, please review.

[2020-04-14 16:21] panolte commented on #2279
Thank you for brining this forward.  We will update the document to reflect the shared nature of the credit limit when implementing a credit group.

[2020-04-14 16:23] tonyafehr commented on #2260
Bug 438726 logged to track this issue.
+ @kamaybac for visibility.

[2020-04-14 16:28] #2279 closed

[2020-04-14 17:41] ryansandness commented on #2276
Thanks for the feedback. I will provide an update clarifying this was 10.0.8, not 10.0.7. The feature name is **Financial report retention policies**, but you have to look in the "All" tab since it is mandatory.

We've released the functionality with two options, but will certainly consider adding more as we get feedback. There is already an idea on experience.dynamics.com you are welcome to add f

[2020-04-14 18:30] jasongre commented on #1790
@kristyler My apologies that you are having difficulties with task recorder. Have you engaged with customer support yet? That would always be the recommended route for reporting product bugs, especially for anything that is causing major pain.

[2020-04-14 18:33] RobinARH commented on #2250
Fixed. Should go live later today. - Robin

[2020-04-14 18:33] #2250 closed

[2020-04-14 18:35] kristyler commented on #1790
This site is where reporting a bug sent me.

[cid:image001.png@01D61261.1E863D50]
Kris​ Tyler
Data Analyst
2321 N Loop Dr, Ste 220
,
Ames
,
IA
,
50010
O: (515) 817-2143<tel:(515)%20817-2143>
LandusCooperative.com<http://www.landuscooperative.com/>
  |
Kris.Tyler@landuscooperative.com<mailto:Kris.Tyler@landuscooperative.com>
This email is intended for the use of the person to whom it is addressed a

[2020-04-14 19:02] #794 closed

[2020-04-15 07:06] amadse commented on #211
Why is this closed?

Anders Madsen
Prin Consultant Erp
Microsoft Global Domain
Denmark
Office: +45 (45) 678213
Mobile: +45 29499831
amadse@microsoft.com<mailto:amadse@microsoft.com>

[Microsoft Logo]
If you have any feedback about my work, please let either me or my manager Christian Appel Christian.Appel@microsoft.com<mailto:Christian.Appel@microsoft.com> know.

From: josaw1 <notifications@github

[2020-04-15 09:38] NataliiaNaumenko opened #2284 "Great work and article!"
Great work and article! It is really helpful and it works. We have almost done the same setup. In addition, it would be great if we have a link to an article that describes how to upload certificates (public and private) to Azure Key Vault because it is really tricky to upload them.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linkin

[2020-04-15 09:40] ChristianRytt commented on #2260
Thank you for reporting this issue! The Other FastTab is not on the Released product page but on the Coverage groups. There is an error in the above documentation, we will fix this to point to the correct page (Coverage groups):
"On the Coverage groups page, on the Other FastTab, in the Reduce forecast by field..."

[2020-04-15 12:31] sericks007 commented on #2284
@NataliiaNaumenko, thank you for the feedback!

@v-lurodi, please consider updating the content based on the suggestion.

[2020-04-15 12:39] sericks007 commented on #2262
Bug 438952 has been logged to track this issue.

[2020-04-15 12:57] Kelkane opened #2287 "Repeating sentence"
The following sentence is repeated at the end of the first paragraph then at the beginning of the second:

TCA is a method of calculating the cost between the main formula item for a batch order and the co-products that are defined for the formula.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ac539690-eba4-bb20-caaa-

[2020-04-15 13:01] sericks007 commented on #2287
@Kelkane, thanks for making us aware of this!

@kamaybac, please update the content.

[2020-04-15 13:08] kamaybac commented on #2287
@sericks007 , I fixed this in the private repo and merged it to master already, so I'm closing it here.

[2020-04-15 13:08] #2287 closed

[2020-04-15 13:37] LyD001 opened #2288 "Question regarding Generate test user request in integration with MTD for VAT (UK)"
Good day,

I was trying to Generate a test user request and received the text file as in the document. However, as per the attached image, in my text file I was unable to find any UserID or password or VRN. I tried to go through all the set-up again but still unable to find them. Can somebody please enlighten me? I really appreciate.
[image](https://user-images.githubusercontent.com/63725992/79343

[2020-04-15 13:55] sericks007 commented on #2288
@LyD001, thanks for contacting us. Unfortunately, we're unable to handle Support requests for the product here. To contact Support, consider one of the options described here: [Support contact options](https://docs.microsoft.com/en-us/dynamics365/unified-operations/dev-itpro/lifecycle-services/lcs-support). In particular, you might want to go to the [Dynamics 365 community page](https://community.

[2020-04-15 13:55] #2288 closed

[2020-04-15 15:13] jasongre commented on #1790
@kristyler You can report support issues for LCS or Finance and Operations apps as noted here: https://docs.microsoft.com/en-us/dynamics365/fin-ops-core/dev-itpro/lifecycle-services/lcs-support

[2020-04-15 16:18] josaw1 commented on #2255
The content will be updated in the next day or two.

[2020-04-15 16:18] #2255 closed

[2020-04-15 19:18] LMedbery opened #2289 "Resource on how to setup"
It would be helpful to provide a link to other resources for sequence of setup, dependencies between modules, etc.
This is long-awaited functionality however the 'how-to' is greatly needed.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 13472e1b-6d55-1cba-164c-0df6d2939c25
* Version Independent ID: 8d2a0fbb-c025-1486-e

[2020-04-15 19:34] sericks007 commented on #2289
@LMedbery, thank you for the feedback!

@kamaybac, please consider the suggestion.

[2020-04-15 19:41] #1373 closed

[2020-04-15 23:07] RobertRudd opened #2290 "Project Category/resource Project/resource validation not covered"
The new dynamics 365 documentation does not cover:Project Category/resource Project/resource validation not covered https://docs.microsoft.com/en-us/dynamicsax-2012/appuser-itpro/about-validation-in-projects

In the new documentation can we please be clear about what is the scope of project validation

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟

[2020-04-16 02:06] rubencdelgado commented on #2157
This scenario isn't explicitly supported by the payments SDK. This issue can be worked around satisfying SDK requirements to provide merchant properties and then ignore them in the connector, but Microsoft does not provide official guidance around how to do this.

[2020-04-16 07:34] BernhardRaether opened #2292 "Create Email Template - path wrong"
DOC says: In the navigation pane, go to Modules &gt; Retail and commerce &gt; Headquarters setup &gt; Parameters &gt; Organization email templates.
there's no such path on my system.
I am running Installed product version : 10.0.9 (10.0.383.10010)
Installed platform version : Update33 (7.0.5559.35512)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟

[2020-04-16 07:35] BernhardRaether commented on #2292
![grafik](https://user-images.githubusercontent.com/44842967/79427814-9008c480-7fc5-11ea-842e-2a2b0d64335f.png)

[2020-04-16 13:04] #2157 closed

[2020-04-16 13:19] #2159 closed

[2020-04-16 13:25] PeterRFriis commented on #701
I have removed the conflicting section with the windows server collation.
In practice there is not a conflicting statement, as we only support english windows and there the default collation of that is SQL_Latin1_General_CP1_CI_AS.
But to avoid confusion going the windows part will be removed.
this will be corrected as part of https://review.docs.microsoft.com/en-us/dynamics365/fin-ops-core/fin-op

[2020-04-16 15:47] #701 closed

[2020-04-16 18:37] kfend commented on #2290
@RobertRudd  - Thanks for your feedback. We are working to finish up all of the Project management and accounting documentation. I have added this to our list of work items, but I can't confirm when it will be completed. I am going to close this issue, but will comment back here when the topic is written and published. Thanks!
@Yowelle for awareness.

[2020-04-16 18:37] #2290 closed

[2020-04-16 19:51] kfend commented on #2292
@BernhardRaether - thanks for the feedback.
@samjarawan and @josaw1 - can you please take a look at and address this question? Thanks!

[2020-04-16 20:55] samjarawan commented on #2292
This should go to @Stuart Hargreaves<mailto:stuharg@microsoft.com>

Thanks,
Sam

From: Kristin Fender <notifications@github.com>
Sent: Thursday, April 16, 2020 12:50 PM
To: MicrosoftDocs/dynamics-365-unified-operations-public <dynamics-365-unified-operations-public@noreply.github.com>
Cc: Sam Jarawan <Sam.Jarawan@microsoft.com>; Assign <assign@noreply.github.com>
Subject: Re: [MicrosoftDocs/dynami

[2020-04-16 20:55] samjarawan commented on #2292
@Stuart Hargreaves<mailto:stuharg@microsoft.com>

From: Kristin Fender <notifications@github.com>
Sent: Thursday, April 16, 2020 12:52 PM
To: MicrosoftDocs/dynamics-365-unified-operations-public <dynamics-365-unified-operations-public@noreply.github.com>
Cc: Sam Jarawan <Sam.Jarawan@microsoft.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/dynamics-365-unified-operations-pub

[2020-04-16 21:43] bicyclingfool commented on #2292
It's definitely there. And it should show up for Bernard - his screenshot cuts off the rest of the selections under Parameters

[2020-04-16 21:44] samjarawan commented on #2292
Commented in GitHub, replying here as well. Organization email templates is definitely there, the screenshot in the comments appears to not show the next column of menu items

[cid:image001.png@01D613FD.9407C880]

From: Sam Jarawan <Sam.Jarawan@microsoft.com>
Sent: Thursday, April 16, 2020 1:55 PM
To: MicrosoftDocs/dynamics-365-unified-operations-public <reply@reply.github.com>; MicrosoftDocs/dyna

[2020-04-17 13:16] npeter21 opened #2296 "D365 path correction for Key vault parameters"
The correct path for key vault parameters is System Administration &gt; Setup &gt; Key Vault parameters

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7e29843f-4b7d-5b4b-6a71-d468e504f63c
* Version Independent ID: f72648ff-10e0-340e-6f51-b8c3766e1b6f
* Content: [Dynamics 365 Fraud Protection integration with Dynamics 3

[2020-04-17 16:09] brettchristiansen opened #2297 "Incomplete or invalid steps"
In the "Update Commerce headquarters with the new Azure AD B2C information" section, steps 5-8 do not make any sense.  Either you need extra information about which number sequence to edit, or these are some irrelevant information unrelated to the setup that should be removed.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

*

[2020-04-17 16:10] brettchristiansen opened #2298 "Minor typo"
In the "Create a password reset user flow policy" section, the field "Email Addresses" that needs to be selected has a carriage return between Email and Addresses so it appears as two line items when it should be one

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f7807b1d-0012-5619-26a6-a11881ffc94d
* Version Independe

[2020-04-17 16:16] brettchristiansen opened #2299 "Missing step"
The "Enter your AAD B2C tenant application information into Commerce" section has steps to create a new B2C application and ends with "Click OK".   If you stop here, and go to configure the channel, the B2C Application is not shown and when you return, to view B2C Settings, the application is not present.  After the existing steps, you have to click OK one more time to get to B2C settings page, an

[2020-04-17 16:41] rubencdelgado commented on #486
Apologies for the delay. The request here is very valid, but it is also non-trivial. In the next few monthly updates, we will be adding new options for designing receipts. As part of that work item, we are creating a content deliverable to list all valid receipt designer fields with their definitions.

[2020-04-17 18:24] #486 closed

[2020-04-17 20:09] josaw1 commented on #2296
Thank you for your feedback. @rubencdelgado can you please verify?

[2020-04-17 20:11] josaw1 commented on #2297
Thanks for the feedback. @BrianShook can you please take a look?

[2020-04-17 20:15] josaw1 commented on #2298
Thanks for the feedback. I fixed the typo and it will be republished today.

[2020-04-17 20:15] #2298 closed

[2020-04-17 20:16] josaw1 commented on #2299
Thanks for your feedback. @BrianShook can you please review?

[2020-04-17 20:20] rubencdelgado commented on #2296
For Commerce SKU it is Retail and Commerce > Headquarters setup > Parameters > Key Vault parameters

For full F&O it is System Administration > Setup > Key Vault parameters

[2020-04-17 20:22] josaw1 commented on #2229
BUG 440092 created to track the issue.

[2020-04-17 20:25] josaw1 commented on #2228
BUG 440094 created to track.

[2020-04-17 20:27] josaw1 commented on #2230
BUG 440097 created to track

[2020-04-17 20:28] #2296 closed

[2020-04-17 20:38] jasongre commented on #2228
Thanks for catching those! They should be fixed soon!

[2020-04-17 21:59] advent77 opened #2301 "Clearly written and precise"
Excellent article with good legible graphics where required. :)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 33f75161-0776-a6c1-dc10-dc20ea26973f
* Version Independent ID: 55a81394-4606-745a-9fd2-59fb257d1086
* Content: [Bring your own database (BYOD) - Finance & Operations | Dynamics 365](https://docs.microsoft.com/

[2020-04-18 08:56] vigneshkumar93 opened #2302 "Unable to load the Extension package."
I have done all the steps to enable the StoreHoursSample service. Finally when am trying to open the Cloud POS, the below error occurs.

Error: "The extension package could not be loaded. Either the extension manifest.json is not included in the extension package or it’s not formatted correctly."

URL: Extensions/StoreHoursSample

Can you please guide the steps to resolve this issue.

---
#### Doc

[2020-04-20 05:40] BernhardRaether commented on #2292
Have updated the screenshot with "Headquarters setup" expanded - according to the Docs it should be under Parameters" - to show you my config.

I am ADMIN on this machine.

Please let me know if I cn be of help here.

Regards, Bernhard

![grafik](https://user-images.githubusercontent.com/44842967/79717466-ffd6c200-82d9-11ea-9a93-9fbc9959452d.png)

[2020-04-20 15:01] smartczh opened #2306 "RecordInsertList questions"
Suppose we have a large amount of data to insert and I use the RecordInsertList to do that. Is there some best practice about the size of the RecordInsertList to insert each time (should I do that)? Or I just add all data into it first and then call insertDatabase(). I am just afraid the memory can't hold the large data, which may cause the insert operation run slowly.

---
#### Document Details

[2020-04-20 16:04] Sunil-Garg commented on #2226
@ronsonntag54, we have updated that line of text to clarify as to why certain transactions are not recommended to migrate. Hope this helps to clarify. If not, pls do let us know. Thanks.

[2020-04-20 16:58] RobinARH commented on #2306
@jorisdg - Hi Joris - Can you take a look? Thanks.

[2020-04-20 17:05] RobinARH commented on #2302
@mugunthanm - Hi Mugunthan - Can you take a look? (Also, I fixed the GitHub author on this topic.) thanks -Robin

[2020-04-20 17:18] jorisdg commented on #2306
I don't think there is a one-size-fits-all solution. Much depends on the size of the table (number of fields etc.). It's also not just an issue of local memory, if the code ends up with hundreds of thousands of rows how long will the database call take? It's a delicate balance.

I will ask the performance team if they have some general guidance based on their experience.

[2020-04-20 17:27] mugunthanm commented on #2302
Can you please check the Java script console in VS or F12 (Developer console) for more details. Also check your manifest.json for any error.

[2020-04-20 17:32] vigneshkumar93 commented on #2302
In manifest.json file there is no error. i have checked the F12 (Developer console) in internet explorer there also no error. how to check the Java script console in VS?

[2020-04-20 17:42] #2228 closed

[2020-04-20 17:43] #1824 closed

[2020-04-20 18:04] Sunil-Garg commented on #2301
Thanks for the kind words advent77.

[2020-04-20 18:09] Sunil-Garg commented on #1642
@ccampora thanks for pointing that out. We have added a note just below the image clarifying that this field does not apply to BYOD. Thanks.

[2020-04-20 18:28] #1642 closed

[2020-04-20 18:29] #2301 closed

[2020-04-20 18:56] Sunil-Garg commented on #667
@prodev42 and @rsteber , -- its getDefaultingDependencies and not getDefaultDependencies. Was it this typo issue?

[2020-04-20 22:34] josaw1 commented on #2139
Sunil updated the topic and it will go live shortly. Thanks.

[2020-04-20 22:34] #2139 closed

[2020-04-20 23:29] Sunil-Garg commented on #2064
Hi Tomek-- as long as the execution id is passed to this api, it will return the list of errors. The execution id can be from a job scheduled from a recurring integration. You are correct that the enqueue/dequeue set of API's don't work with execution id but, it shouldn't matter as long as an execution id is passed to the error API to get the list of execution errors. Hope this helped clarify. Let

[2020-04-21 01:02] #2064 closed

[2020-04-21 06:31] RobertRudd opened #2312 "Workflow configuration"
This page provides very limited information about how to configure the workflows or links to how generic workflow is configured.  Key issues:
- How is line level versus header lever approval configured.
- How is the Expense line item auto posting configured.  This is a fairly unique aspect of Expense report workflow management and should be documented.

---
#### Document Details

⚠ *Do not edit th

[2020-04-21 08:09] Neill-KPMG opened #2313 "Time taken for Step 9 and the sync in to the solution"
In following these steps i think it should be mentioned in step 9 that once the dual write has been configured it will take some time for the solution packages to be created in powerapps solutions section and you just need to wait.  Step 9 will show up in the end if you have followed the guide then you can complete the steps.  It took about 30 minutes for me to see this solution once I tried to in

[2020-04-21 09:40] jimlcl opened #2314 "Admin consent not required for the second app (step 5c. can be removed)"
It seems the dual-write application with App ID: 2e49aa60-1bd3-43b6-8ab6-03ada3d9f08b - "Dynamics Data Integration" doesn't require admin consent, because it doesn't have any "admin consented permissions" in the application page. So the step 5 c. "Repeat the previous two steps for application ID 2e49aa60-1bd3-43b6-8ab6-03ada3d9f08b." is not needed and should be removed. If we try the consent URL w

[2020-04-21 09:54] zivenarc opened #2315 "Sensitive data"
It is absolutely not clear how to identify sensitive data in the system. Any flag on the vendors/customers/journals?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e632884f-83b4-2891-8eaf-75a4507c346d
* Version Independent ID: 40bea88f-b55d-1590-e7e0-8f400fc41b10
* Content: [Manage access to sensitive data - Finance &

[2020-04-21 15:08] vjevtani opened #2317 "Securing the generation of positive pay from Administrator user"
Hi,

Is there any way we can stop any user with Admin rights from generating the positive pay files ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a56dd618-9180-ed71-fd8e-850153f35b59
* Version Independent ID: 6322764e-1b61-5148-024a-0d6b124c0512
* Content: [Set up and generate positive pay files - Finance | Dynamics

[2020-04-21 16:56] sinner83 opened #2318 "Update the Azure Storage Emulator"
I do according to the instructions, point Update the Azure Storage Emulator.

The following error occurs when executing the command:

C: \ Program Files (x86) \ Microsoft SDKs \ Azure \ Storage Emulator&gt; AzureStorageEmulator.exe init -server unname
Windows Azure Storage Emulator 4.0.0.0 command line tool
Error: User-specified instance not found. Please correct this and re-run initialization.

t

[2020-04-21 17:35] tonyafehr commented on #2312
@RobertRudd, thanks for the feedback.
@roschlom, please review and make updates, if needed.

[2020-04-21 17:37] tonyafehr commented on #2313
@Neill-KPMG, thanks for the feedback.
@sabinn-msft and @robinarh, please review.

[2020-04-21 17:39] tonyafehr commented on #2314
@jimlcl, thanks for the feedback.
@sabinn-msft and @RobinARH, please review.

[2020-04-21 17:41] tonyafehr commented on #2315
@zivenarc, thanks for the feedback.
@TLeforMicrosoft, please review.

[2020-04-21 17:46] tonyafehr commented on #2317
@vjevtani, thanks for the feedback.
@abruer, please review.

[2020-04-21 17:48] tonyafehr commented on #2318
@sinner83, thanks for contacting us. Unfortunately, we're unable to handle Support requests for the product here. To contact Support, consider one of the options described here: [Support contact options](https://docs.microsoft.com/en-us/dynamics365/unified-operations/dev-itpro/lifecycle-services/lcs-support). In particular, you might want to go to the [Dynamics 365 community page](https://communit

[2020-04-21 18:01] #2276 closed

[2020-04-21 18:14] TLeforMicrosoft commented on #2315
We do not mark data as "senstive" or "not sensitive."  It is up to each individual organization to determine what data that they deem sensitive. Each organization collects different types of data, and hold themselves accountable to various industry and legal obligations.

[2020-04-21 18:22] tonyafehr commented on #2278
Bug #440983 has been logged to track this issue.

[2020-04-21 18:22] tonyafehr commented on #2277
Bug #440970 has been logged to track this issue.

[2020-04-21 18:22] tonyafehr commented on #2275
Bug #440967 has been logged to track this issue.

[2020-04-21 18:35] jorisdg commented on #2306
As expected there's no one-size-fits-all answer. The performance experts suggested that if you really start talking about several thousands of records, to review if you can use insert record set. Ultimately the record insert list is still a list of records, all causing SQL statements. Insert record set is always far superior.

[2020-04-21 19:49] #2306 closed

[2020-04-21 20:46] Sunil-Garg commented on #2063
Thanks @justinkaufman. A note has been added at the beginning to call out that all key fields must be provided to make a successful call. Hope this addresses what you highlighted. Thanks.

[2020-04-21 20:51] #2063 closed

[2020-04-22 05:20] sinner83 commented on #2318
Ok. Thank's for help.

[2020-04-22 05:20] #2318 closed

[2020-04-22 06:54] goshoom opened #2320 "Class attributes missing"
The article omits attributes of ExchangeRateProviderOanda class, without any explanation.
My understanding is that ExportAttribute('Microsoft.Dynamics.ApplicationSuite.FinancialManagement.Currency.Framework.IExchangeRateProvider') is necessary for the provider to work - ExchangeRateProviderFactory.loadProviders() looks
for it. It's called when adding a provider through GUI (General ledger &gt; Cur

[2020-04-22 07:11] JeroenLeeflang opened #2321 "Maximum page size is 10000"
I see the following text on this page "The OData service supports serving driven paging with a maximum page size of 1,000."

I think this is not correct. Should be 10000. That is also the amount we actually see when using OData.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4d7c8b45-1531-ebbf-d417-4e1fe5bf4f1b
* Versi

[2020-04-22 08:13] JeroenLeeflang opened #2322 "Under section 'Managing endpoints', Logic Apps is missing"
Logic Apps is not mentioned under 'Managing endpoints'

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a0cd4aef-33f1-d647-85eb-1a055ef216bd
* Version Independent ID: 73febada-4141-88bf-7a55-e8cc375dde92
* Content: [Business events overview - Finance & Operations | Dynamics 365](https://docs.microsoft.com/en-us/dynamics3

[2020-04-22 09:29] JeroenLeeflang opened #2324 "Replace Flow by Power Automate"
Microsoft Flow is still mentioned on this page. Should be replaced by 'Power Automate'

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a0cd4aef-33f1-d647-85eb-1a055ef216bd
* Version Independent ID: 73febada-4141-88bf-7a55-e8cc375dde92
* Content: [Business events overview - Finance & Operations | Dynamics 365](https://do

[2020-04-22 12:08] sericks007 commented on #2320
@goshoom, thank you for this feedback.

@RobinARH, please review.

[2020-04-22 12:10] sericks007 commented on #2321
@JeroenLeeflang, thank you for this feedback.

@Sunil-Garg, please review and update the content as necessary.

[2020-04-22 12:12] sericks007 commented on #2322
@JeroenLeeflang, thank you for this feedback!

@Sunil-Garg, please review and update the content as necessary.

[2020-04-22 12:41] sericks007 commented on #2284
Bug 441222 has been logged to track this issue.

[2020-04-22 12:45] sericks007 commented on #2289
Bug 441224 has been logged to track this issue.

[2020-04-22 14:25] roschlom commented on #2177
As Jo said, thank you for the feedback! You're right that the hotfix isn't necessary now. We've updated the topic to reflect that. Thanks again!

[2020-04-22 14:25] #2177 closed

[2020-04-22 15:50] hugginssd opened #2325 "Free text invoice not calculating tax on posting"
I'm writing an invoicing customization, on posting i take the taxgroup from the customer table then assign it to the cutomer invoice table's tax group, then lastly i run the cust post invoice table and my code looks like this.

[code]

This is the logic im using to post my freetext invoice.

So, my main question is why is it not calculating tax?? Is there any change in the tax calculation in Dynam

[2020-04-22 16:10] sericks007 commented on #2325
Thanks for contacting us. Unfortunately, we're unable to handle Support requests for the product here. To contact Support, consider one of the options described here: [Support contact options](https://docs.microsoft.com/en-us/dynamics365/unified-operations/dev-itpro/lifecycle-services/lcs-support). In particular, you might want to go to the [Dynamics 365 community page](https://community.dynamics.

[2020-04-22 16:10] #2325 closed

[2020-04-22 16:56] hugginssd commented on #2325
Ok thanks

[2020-04-22 18:54] iangorman2020 opened #2328 "Standard cost now requires a close job to be ran"
As of 10.0.10 PU34, you must run the close job for all item model group costing methods if there has been an inventory transaction for the period.

You are about to change the status of ledger period Period 5 to On hold. No execution of Inventory close with a date 5/31/2020 matching period end has been registered. Please execute an inventory close as of 5/31/2020 matching the period end before cha

[2020-04-22 19:09] #2315 closed

[2020-04-22 20:55] haroonattari commented on #2194
@TheElectricCo I wonder if you have found any solution to this issue on any other forum. I am also getting same error while initiating 'GET' request from Postman. 'POST' request to generate bearerToken works fine. Thanks in advance. Haroon.

[2020-04-23 07:34] TheElectricCo commented on #2194
@haroonattari Yes, I got it working eventually. My error is that I used a trailing slash at the resource part. Something that I overlooked.

[2020-04-23 12:11] sericks007 commented on #2324
@JeroenLeeflang, thanks for bringing this to our attention! We'll work to update this.

[2020-04-23 19:20] josaw1 commented on #2328
Thanks for the comment. @AndersEvenGirke can you please review?

[2020-04-23 19:25] josaw1 commented on #2297
@BrianShook I created BUG 441790 to track this issue.

[2020-04-23 19:27] josaw1 commented on #2299
@BrianShook I created BUG 441791 to track this.

[2020-04-23 20:17] panolte commented on #2277
The export file type is determined by the transformation stylesheet.  The sample stylesheet in the documentation exports only to .txt format.

[2020-04-23 20:26] #2277 closed

[2020-04-23 20:44] sericks007 commented on #2324
The updated content will be published later today. Thanks again!

[2020-04-23 20:44] #2324 closed

[2020-04-23 23:15] jorisdg commented on #1822
Hi @simonefinotti , can you elaborate on your question?
The document describes adding a new project, and modifying it to point to the fleet management unit tests model. Does that not work for you?

[2020-04-24 01:12] TylerHills commented on #2277
Did you test it? Because that's not what I'm seeing when I go to save a positive pay file generated with the sample stylesheet (output method ="xml") or my own custom sheet (output method="text"). In chrome the file is automatically downloaded as .xml. In IE I have the ability to choose the file format to save except the only option is .xml, as seen in the image.

![image](https://user-images.gith

[2020-04-24 01:33] panolte commented on #2277
Tyler you are correct, the output type is xml not txt on the sample sheet.  Any change to this output would be a development experience through the stylesheets and transformations.

[2020-04-24 07:24] JeroenLeeflang commented on #2324
Thanks!

[2020-04-24 08:07] gertvdh opened #2329 "Add restrictions on Chain of Command for new method (constructor)"
it doesn't seem possible to wrap the constructor, you get compiler warning "Can't define protected method new() in a final class"

Also when the constructor has a parameter, you get compiler error "an extension class can only have a parameterless constructor"

it has been described in https://docs.microsoft.com/en-us/dynamics365/fin-ops-core/dev-itpro/extensibility/class-extensions, but maybe it n

[2020-04-24 11:25] innacarp opened #2330 "Developer recording naming"
"You must name the developer recording file Recording.xml before attaching it to the Azure DevOps test case. Alternatively, you can name the recording file -Test Case Title-.xml, where -Test Case Title- is the DevOps title of the test case."

In previous RSAT versions naming developer recording for the described purpose as Recording.xml was mandatory. As both options are possible since recently (a

[2020-04-24 11:30] innacarp opened #2331 "Language and Date, time and number format"
"It is recommended to set the same locale for Language and Date ,time, and number format settings of your environment prior to running RSAT. If these values are inconsistent, it may result in validation errors."
And the screenshot below the Date, time and number format is not the same as the language as it is empty - the documentation is not consistent.

The information in the screenshot is correc

[2020-04-24 11:37] innacarp opened #2332 "Use operators for validation"
"You can also use operators in your validation steps. To utilize this feature, you need to edit the config file named Microsoft.Dynamics.RegressionSuite.WindowsApp.exe.config in the Regression suite automation tool installation folder. Edit the file and modify the value of the AddOperatorFieldsToExcelValidation to true."

This feature has been already moved from config file to RSAT settings (which

[2020-04-24 14:38] lalitjivnani commented on #2101
On the custom fields form in system administration, i can see the list of custom fields added to multiple tables which is fine. But when i select any field and delete that field, the system is actually not deleting it. It reappears if i select the same table again.
Is there any bug associated with it ?
Current version - PU32 10.0.8

[2020-04-24 15:15] #2226 closed

[2020-04-24 17:26] RobinARH commented on #1198
I added a link to the topic that explains the differences between test plans, suites, and tests in Azure DevOps. It should go live this evening. -Robin

[2020-04-24 17:26] #1198 closed

[2020-04-24 18:57] kfend commented on #2329
@gertvdh - Thanks for the feedback.
@ChrisGarty  - Please review and update the content as necessary.

[2020-04-27 01:36] GordonLam opened #2333 "Number sequences setting update is missing target"
In this section Update Commerce headquarters with the new Azure AD B2C information:
https://docs.microsoft.com/en-us/dynamics365/commerce/set-up-b2c-tenant#update-commerce-headquarters-with-the-new-azure-ad-b2c-information
Step 5-8 about update a setting on Number sequences, it doesn't specify what particular "Number sequences" should be updated. If Customer follow this, they will just update the

[2020-04-27 17:32] RobinARH commented on #2333
@BrianShook Hi Brian - Can you take a look? thanks.

[2020-04-27 17:38] #2302 closed

[2020-04-27 18:22] vigneshkumar93 commented on #2302
Hi all,
Without solving the issue how did you close this issue???

[2020-04-27 20:45] feltrinf commented on #1925
Please, take also care that the tenantId is the same in both dev and uat web.config file. In particular these two settings should coincide:
- Provisioning.AdminPrincipalName = the same value as in UAT sandbox
- Aad.AADTenantId = same value as in UAT sandbox

[2020-04-28 08:32] Izmiyash opened #2336 "not the same number"
file and database capacity is not the same as the one described in licensing guide.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2402dfea-008a-c7bb-8a3b-1d0457a39665
* Version Independent ID: 4936afad-9a39-e65d-a00c-81246de632cb
* Content: [Environment planning - Finance & Operations | Dynamics 365](https://docs.micr

[2020-04-28 09:22] obuurman opened #2337 "Wrong app mentioned in topic"
To view the CDS log files you need to login into the CE / CDS app, not the Finance and Operations app

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 036570ee-85fa-8449-be1c-a5e8755e175c
* Version Independent ID: 2468c8f9-0814-ded0-c6dd-879851a4b9e1
* Content: [Dual-write overview - Finance & Operations | Dynamics 365](

[2020-04-28 13:22] ClaudiaBetz-Haubold commented on #2336
Thank you for pointing this out, Izuru. I updated the doc to refrain from mentioning specific limits and direct to the licensing guide instead, as this will always contain the latest limits for file and storage capacity.

Kind regards,

Claudia Betz-Haubold

From: Izmiyash <notifications@github.com>
Sent: Dienstag, 28. April 2020 10:33
To: MicrosoftDocs/dynamics-365-unified-operations-public <dyna

[2020-04-28 13:34] #2336 closed

[2020-04-28 13:36] tonyafehr commented on #2337
@obuurman, thanks for the feedback.
@RobinARH and @RamaKrishnamoorthy, please review. Thank you!

[2020-04-28 13:58] tonyafehr commented on #2312
Bug #443094 logged to track this issue.

[2020-04-28 14:02] tonyafehr commented on #2313
Bug #443097 logged to track this issue.

[2020-04-28 14:04] tonyafehr commented on #2314
Bug #443098 logged to track this issue.

[2020-04-28 14:08] tonyafehr commented on #2317
Bug #443100 logged to track this issue.

[2020-04-28 17:01] wojzeh opened #2339 "Import or Export?"
These two phrases repeated twice; first time in Export section, second in Troubleshooting the System users entity. Either it is incorrect or we missed some detail here.

 - While importing the system users entity, you may receive an integrity violation error if there is a guest user in the exported package. The guest user must be deleted from the package in order for the entity to work.
- If a rec

[2020-04-28 17:43] wojzeh commented on #1822
The project with the generated code must be built fisrt before you can proceed with paragraph 6.

[2020-04-28 18:17] tonyafehr commented on #2339
@wojzeh, thanks for the feedback.
@Sunil-Garg, please review.

[2020-04-28 20:04] iangorman2020 commented on #2328
Josaw - Looks like the update went through to the page, we can probably close out the comment.

[2020-04-28 22:25] ashishmsft commented on #2220
https://github.com/MicrosoftDocs/Dynamics-365-Operations/pull/8118

[2020-04-28 22:25] ashishmsft commented on #2220
@tonyafehr please review and publish the update

[2020-04-28 22:50] #2220 closed

[2020-04-28 23:58] RobertRudd opened #2342 "Documentation is incomplete"
This documentation in incomplete.  This process should either state the Fixed Asset needs to be created or have the process for creating a Fixed Asset.  A key piece of information left out of this documentation is for the acquisition journal to work, you must have a acquisition price on the fixed assets.    This should be documented here.

---
#### Document Details

⚠ *Do not edit this section. It

[2020-04-29 01:23] RamaKrishnamoorthy commented on #2337
I don't see any text that says "log file" or a link on the overview page. Is this feedback given for a different page?

[2020-04-29 03:39] d47447 opened #2343 "Select environment topology topic is not updated."
[Enter feedback here]
Team,

This document is not updated as per the latest available steps in LCS. While landing to 'Select environment topology' step its showing attached image options not as per this document. Kindly check if update is required.

Thanks
Deepak

![image](https://user-images.githubusercontent.com/10023144/80558750-0d3a2d80-89f9-11ea-9a30-1660f6c5a190.png)

---
#### Document Detai

[2020-04-29 06:36] obuurman commented on #2337
The feedback is on this page:
https://docs.microsoft.com/en-us/dynamics365/fin-ops-core/dev-itpro/data-entities/dual-write/dual-write-troubleshooting

[cid:image004.jpg@01D61E01.364F5E20]

Sorry for the inconvenience if I was not clear enough …

Met vriendelijke groet, kind regards,​
Otto Buurman
Enterprise Solution Architect
[HSO]<https://www.hso.com/nl>
M +31653773816<tel:+31653773816>
T +313185

[2020-04-29 07:39] simonefinotti commented on #1822
Uhm, it's passed quite some time since I open the issue, maybe at the time I just missed the link in the step 2.

I guess I can close this issue, thanks.

[2020-04-29 07:39] #1822 closed

[2020-04-29 08:05] Halldor10 opened #2344 "Extra semicolon gives an error"
Is in the document:
&lt;add name="ext.AppInsightsKey" value="xxxxxxx"/&gt;;
Should be without the semicolon, as the semicolon will give an arise to an error in the config file:
&lt;add name="ext.AppInsightsKey" value="xxxxxxx"/&gt;

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f659eadc-c39c-a5e4-cfe4-27fea2f77523
* Ve

[2020-04-29 08:16] Halldor10 opened #2345 "4. Select Create"
Did not understand how the image "Create Deployment Package" was relevant in step 4.

A general information on how Application Insights" can be used for standard RetailServer, would be helpful for the general understanding on how it is related to the use in the customer extensions.

Also more examples for other "Application Insights API" and usage could be helpful.

---
#### Document Details

⚠ *D

[2020-04-29 11:03] Marcob45 opened #2346 "Why only Hungary & Poland?"
Why is this functionality only available for Hungary & Poland. Most companies would carry out this type of transaction if they have a customer that is also a supplier.
Functionality should be made more widely available.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7c85d41a-3795-ac2a-19fc-a1d3ce57b603
* Version Indepe

[2020-04-29 11:20] goyalsachingithub opened #2347 "nice article"
good one

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fb989a7c-badf-ef59-1d23-93cbd6eacf75
* Version Independent ID: 1d7975bb-0e0d-3d36-c422-117fd2539f15
* Content: [Configure SQL Server Reporting Services for on-premises deployments - Finance & Operations | Dynamics 365](https://docs.microsoft.com/en-us/dynamics365/

[2020-04-29 12:14] sericks007 commented on #2343
@d47447, thank you for this feedback.

@jorisdg, please review and update the content.

[2020-04-29 12:22] sericks007 commented on #2344
@Halldor10, thanks for making us aware of the issue. I've updated the content, and the update will be published later today.

[2020-04-29 12:22] #2344 closed

[2020-04-29 12:24] sericks007 commented on #2345
@Halldor10, thank you for this feedback.

@mugunthanm, please review and update the content.

[2020-04-29 12:26] sericks007 commented on #2346
@Marcob45, thank you for this feedback.

@mrolecki, please review and comment.

[2020-04-29 12:28] sericks007 commented on #2347
@goyalsachingithub, thank you for the feedback!

[2020-04-29 12:28] #2347 closed

[2020-04-29 12:31] sericks007 commented on #2320
Bug 443470 has been logged to track this issue.

[2020-04-29 12:37] sericks007 commented on #2321
Bug 443478 has been logged to track this issue.

[2020-04-29 12:40] sericks007 commented on #2322
Bug 443480 has been logged to track this issue.

[2020-04-29 13:36] panolte commented on #2317
This would be security controlled access.  Typically the system administrator has authorizations for everything, but that is not a requirement.  Making this change would remove the access from all admin users.  You might want to consider creating an alternate/modified admin user to provide the appropriate access levels.

[2020-04-29 14:05] #2317 closed

[2020-04-29 16:31] sericks007 commented on #2343
@laneswenka, please review and update the content.

[2020-04-29 17:01] mugunthanm commented on #2345
Updated the doc to remove the wrong image.

[2020-04-29 17:26] sericks007 commented on #2345
@mugunthanm, thanks!

[2020-04-29 17:26] #2345 closed

[2020-04-29 21:26] josaw1 commented on #2299
Updates to the topic were published. Thanks.

[2020-04-29 21:26] #2299 closed

[2020-04-29 21:27] josaw1 commented on #2297
Updates to the topic were published. Thanks.

[2020-04-29 21:27] #2297 closed

[2020-04-29 23:32] ronsonntag54 opened #2349 "There is no longer an abort option available. The is no "batch tasks" tab. Please update with correct procedures."
This is critical for aborting a job where potentially multi-threaded tasks get caught in a deadly embrace. Need an abort option. Stopping and starting batch process does not fix this.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 039578b3-090d-6a77-0332-8d395e778a4f
* Version Independent ID: 13efa978-3d01-eb57-4a65-e9

[2020-04-30 01:00] RamaKrishnamoorthy commented on #2337
Thank you for reporting, we will make change to the text.

[2020-04-30 09:52] MMT0905 opened #2352 "Shared Entity Backed Dimensions List"
Is there a list of what entity-backed dimensions are capable of being shared, and which are not?

[2020-04-30 09:53] KarinaNormannJakobsen opened #2353 "Why is this document also under folder Replenishment"
Why is this document also under folder Replenishment

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1e63190a-81d0-e49f-8e8a-ff3be8c99b12
* Version Independent ID: 4efd3b72-2359-a206-374f-95524ac0486a
* Content: [Set up a work template for purchase orders - Supply Chain Management | Dynamics 365](https://docs.microsoft.

[2020-04-30 10:23] HenrikLevinsonAccigo opened #2354 "Address Book security is not explained"
Add a description how you could restrict access to Address books via the teams. Or advise where documented om the Configure address books node.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 77c31a8e-d47d-7a38-3256-dd4c09a0945b
* Version Independent ID: 23e3b435-96a6-4c6d-be19-281f1f82df58
* Content: [Plan for the glob

[2020-04-30 10:42] D365Princess opened #2355 "CDS Premium requirement unclear"
If you progress these steps on a tenant which does not have customer engagement licenses then you are unable to do the last step as your CDS instance does not have the dependencies which are resolved with the sales/field service add on which come with premium. This either needs to be clarified in the pre-steps to be made clear for tier1 &lt;&gt; CDS implementations you need to use CDS premium as p

[2020-04-30 13:55] kfend commented on #2040
Closing as the topic has been updated.

[2020-04-30 21:46] jwinkeler74 opened #2358 "Mapping-specific notes incorrect for Finance"
Mapping-specific notes 4 and 5 for finance have the exact same text, and look to be a combination of what they should be (the both reference Sales.Contact and msdyn_contactforvendor).  Both CDS Contacts V2 list the entity as Common Data Service.Contact, and going to the 'Details' tab is the only way to see which is for customers or vendors.  Based on what is delivered from the latest solution, the

[2020-04-30 22:50] josaw1 commented on #2349
Thank you for your feedback. @Peakerbl please take a look.

[2020-04-30 22:51] josaw1 commented on #2352
Hi @MMT0905, are you commenting on a specific topic, or asking a general support question? Thanks.

[2020-04-30 22:52] josaw1 commented on #2353
Thank you for your question. @kamaybac can you please take a look?

[2020-04-30 22:54] josaw1 commented on #2354
Thank you for your feedback. @msftbrking can you please review?

[2020-04-30 22:55] josaw1 commented on #2355
Thank you for your feedback. @sabinn-msft can you please review?

[2020-04-30 22:57] josaw1 commented on #2358
Thank you for your feedback. @RamaKrishnamoorthy can you please review?

[2020-04-30 22:59] #2328 closed

[2020-05-01 10:08] kamaybac commented on #2353
I agree. I don't think this belongs under replenishment. I removed that link. It's still listed under Receipts for registration and put-away.

[2020-05-01 10:08] #2353 closed

[2020-05-01 10:49] MMT0905 commented on #2352
General support.  I was thinking for discovery and testing purposes, it
would be beneficial to have a list of which entity backed dimensions can be
shared across companies or not, without just having to test by trial and
error.

On Thu, Apr 30, 2020 at 6:51 PM josaw1 <notifications@github.com> wrote:

[2020-05-01 17:43] grantph opened #2359 "Need to document Business Events Key Management best practices"
The docs are good are describing how to set up Azure endpoints (e.g., Event Grid and Service Bus), however, there are no docs on how frequently business events accesses Azure keyVault to retrieve secrets (e.g., on demand, hourly, daily, etc?), or what would happen if keys were changed.

For example, as a security best practice many enterprises may need to rotate secrets in EG or SB. How would D365

[2020-05-01 19:07] msftbrking commented on #2354
@josaw1 - The comment is regarding a feature we had in AX 2012 that we do not yet have in the Rainier versions. The 2012 version of this docs article has the details on these steps. I removed that information from this article until we have the feature delivered. It is detailed in the following article:
https://docs.microsoft.com/en-us/dynamics365/fin-ops-core/fin-ops/get-started/ax-2012-features-

[2020-05-01 19:18] kfend commented on #2359
@grantph - thanks for the suggestion.
@Sunil-Garg - please review this request and consider adding it to the list of planned future content.

[2020-05-01 20:53] #2354 closed

[2020-05-01 21:19] RobinARH commented on #1828
I removed the code example, and the change should be published this evening. - Robin

[2020-05-01 21:19] #1828 closed

[2020-05-02 00:09] RamaKrishnamoorthy commented on #2358
Yes I have reviewed and applied correction. Thank you both!

[2020-05-04 09:48] Neill-KPMG opened #2360 "Some Entities in wrong order or missing"
Hello,

1. The Entity Sales Tax Codes in the Finance section is not in the mapping solution.  This should be removed from here or added tot he solution.

2. A number of the items on the list are out of order due to dependencies.  So for example Default order settings in the SCM list is asked for before Sites and Warehouses which are dependant.  They then appear in the list later but they are alrea

[2020-05-04 09:56] Neill-KPMG opened #2361 "Product Categories"
Hello,

The official guidance for existing data on Product Categories is;

"Existing product categories needs to be manually synced (for example by updating the description of the category) in the right order (root category first, then children, then children of children)
Path: Product information management &gt; Setup &gt; Categories and attributes &gt; Category hierarchies form, from which you c

[2020-05-04 15:57] #2358 closed

[2020-05-04 18:16] RobinARH commented on #2360
@RamaKrishnamoorthy Hi Rama - Can you take a look? Thanks.

[2020-05-04 19:05] dodiggitydag opened #2362 "The paths have changed"
Please double check the paths.  AP should reflect:
Accounts payable &gt; Payment setup &gt; Due date limits
Accounts payable &gt; Payment setup &gt; Terms of payment

I did not check AR.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a1b3a606-6957-74a3-58c5-93de500f46a9
* Version Independent ID: 957a0ed2-9eee-3844-3059

[2020-05-04 20:05] mugunthanm commented on #2153
Please use the Retail reprovisioning tool, the script is obsolete.

[2020-05-04 20:08] #2153 closed

[2020-05-04 20:22] RobinARH commented on #2333
We've updated the topic.

[2020-05-04 20:22] #2333 closed

[2020-05-04 21:21] RamaKrishnamoorthy commented on #2360
I am waiting for couple of responses from dual-write platform team and SCM team. Will make the change as soon as I hear from them.

[2020-05-04 23:46] mtariqrafique opened #2363 "Registeration process - Step#3 sign on URL should be without trailing "/"... otherwise Power BI authroization throws error "The reply URL specified in the request does not match the reply URLs configured for the application""
Sign-on URL - URL example provided is incorrect and it leads to error message shown in subject. Remove trailing "/" from URL as specified below and Power BI authorization will work without any problem.

In step#3 of registration process enter sign-on URL value ending with /oauth as a suffix such as: "**https://contosoax7.cloud.dynamics.com/oauth**" or "**http://contosoax7.cloud.dynamics.com/oauth*

[2020-05-05 07:48] JChandnani opened #2364 "Issues found with this page"
1. In this its mentioned that SIRET no. needs to be mapped as registration number on Vendor, but report fetches it from the "French siret" field on Vendor purchase demographics
2. on Point 4 of Generate DAS-2 report its mentioned to select posting profile, but there is no option to select that
3. Also there is no mention of selecting Line of business on Vendor

---
#### Document Details

⚠ *Do not

[2020-05-05 13:02] tonyafehr commented on #2364
@JChandnani, thank you for the feedback.
@sndray, please review and consider updating this topic.

[2020-05-05 13:03] tonyafehr commented on #2362
@dodiggitydag, thank you for the feedback.
@Anasyash, please review and consider updating this topic.

[2020-05-05 13:04] tonyafehr commented on #2363
@mtariqrafique, thank you for the feedback.
@MilindaV2, please review and consider updating this topic.

[2020-05-05 13:11] sndray commented on #2364
@JChandnani, thank you for the feedback. I will proceed with the update of  comments 1 and 3. In case of comment 2, please, log a support case since this issue is a know issue recently fixed.

[2020-05-05 13:42] SysC0mp opened #2367 "Updated developer experience"
Any news on the new installable developer tools? It was initially planned for October 2019.
see: https://powerusers.microsoft.com/t5/Microsoft-Business-Applications/Microsoft-Dynamics-365-for-Finance-and-Operations-Updated/m-p/299814

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2876dff1-4dae-cdba-09a3-68abfd509f3f
*

[2020-05-05 13:42] #2364 closed

[2020-05-05 15:56] tonyafehr commented on #2367
For the latest details about planned features, see the [Release plans](https://docs.microsoft.com/dynamics365-release-plan/2020wave1/).

[2020-05-05 15:56] #2367 closed

[2020-05-05 16:09] SysC0mp commented on #2367
I am reading that constantly but I cannot find any information about that anywhere. It was simply removed and nobody can give any information about it.

[2020-05-05 16:19] jorisdg commented on #2367
You probably have noticed that we kept moving the date out due to more work and unexpected delays. Since this was counter-productive to the goal of the release notes, we had to take it off entirely until we are comfortable about sharing a date we can realistically make. This feature is still actively being worked on, so it's definitely still planned (just not publicly). Expect more news around the

[2020-05-05 16:36] SysC0mp commented on #2367
Great, thanks for the information! That is all I wanted to hear. 🥳

[2020-05-05 19:09] ChrisGarty commented on #1911
Fixed the TSWorkflowActionManager implementation of IValidateWorkflowWorkItemAction in App AX10.0.10 via bug 406928. Please update to 10.0.10 + PU34 to get this capability.

[2020-05-05 20:26] #1911 closed

[2020-05-05 20:32] jimhunnicut commented on #1911
Thanks guys.

Jim Hunnicut
Technical Delivery Manager
Arbela Technologies Corp.

Connect with Arbela: Website<http://www.arbelatech.com/> | LinkedIn<https://www.linkedin.com/company/arbela-technologies> | Twitter<https://twitter.com/arbelatech> | Facebook<https://www.facebook.com/arbelatech/>

Mobile:  +1 928 890 7363
E-Mail:  jim.hunnicut@arbelatech.com<mailto:jim.hunnicut@arbelatech.com>
Linkedi

[2020-05-06 02:50] manishmoothedath opened #2370 "Confusing information on Environments under Standard offer"
As per the Environment Types section above :
"Standard environments include the production environment, a Tier-2 Standard Acceptance Test environment, and one Tier-1 develop and test environment."
But in the environment-planning-2-purpose-complexity-matrix.png Standard project has Build (Tier 1), Test (Tier 2), Production and Development (Tier 1) environments
Please clarify if the Development envi

[2020-05-06 12:15] sericks007 commented on #2370
@manishmoothedath, thank you for the feedback!

@ClaudiaBetz-Haubold, please review and update the content as necessary.

[2020-05-06 12:19] sericks007 commented on #2342
@RobertRudd, thank you for your feedback!

@roschlom, please assign to the appropriate PM.

[2020-05-06 12:21] sericks007 commented on #2342
Bug 445543 has been logged to track this issue.

[2020-05-06 12:25] sericks007 commented on #2343
Bug 7167875 has been logged to track this issue.

[2020-05-06 12:28] sericks007 commented on #2346
Bug 445545 has been logged to track this issue.

[2020-05-07 00:57] RobertRudd opened #2372 "Documentation does not describe the setup require or process from end to end"
To achieve credit card importing as described above, there needs to be a number of setup items and then processing by the end user.

Setup
- Payment method of credit card
- Whether credit card payment method is allowed for particular categories or not
- Mapping of credit card code to Dynamics 365 Category to default the category based upon the transaction
- Setup of credit card number in employee

[2020-05-07 07:32] ClaudiaBetz-Haubold commented on #2370
@manishmoothedath, thank you for the feedback! When you purchase a subscription to Dynamics 365 Finance and Operation apps, the offer includes one Tier-1 environment which can be deployed with either DEV or BUILD topology, one Tier-2 environment, and one Production environment (when the project is ready for live operations). The table you are referring to tries to express that a standard project -

[2020-05-07 12:09] #2370 closed

[2020-05-07 15:44] #1815 closed

[2020-05-07 20:00] AkshayP56 opened #2377 "255/-1 exit error from the AOSSetupHybridCloud.exe"
Update Local Agent document specify that LA 2.4.0 has fixes 255/-1 exit error from the AOSSetupHybridCloud.exe. But I have the same issue even running from latest infrastructure scripts. As i mentioned https://community.dynamics.com/365/financeandoperations/f/dynamics-365-for-finance-and-operations-forum/383053/error-when-deploy-prod-environment-first-time-module-aos-failed-with-error-code-255/104

[2020-05-07 20:05] AkshayP56 commented on #2377
Issue is not yet fixed in Local Agent 2.4.0.

[2020-05-07 20:14] faix commented on #2377
unfortunately we use this error code for most non successful exits from the AOSSetupHybridCloud installer. I will reword the text above so it clearly identifies the issue it resolves. Please open a support case in order to diagnose your issue.

Thanks

[2020-05-07 20:20] Peakerbl commented on #2349
I'm not able to follow. There is a Batch Task tab and the Abort option will be enabled if the status is set to Canceling per the documentation. This is from the latest build:
![image](https://user-images.githubusercontent.com/38867669/81340862-693e2b00-9065-11ea-83c2-8a726381414d.png)

[2020-05-07 20:20] AkshayP56 commented on #2377
Thanks for the quick response Faix, I will open a support ticket for sure. But as per above said, Same error is occurring on two different environment which is strange. Even I run .\Test-D365FOConfiguration.ps1 successfully on all VMs with new Scripts from LCS.

[2020-05-07 20:25] Peakerbl commented on #2349
Just make sure to used the enhanced form, there is a Switch action to use this and this is expected to become the default version:
![image](https://user-images.githubusercontent.com/38867669/81341180-fb463380-9065-11ea-93de-abb8e111d8d3.png)

[2020-05-07 21:02] #2349 closed

[2020-05-08 00:31] josaw1 commented on #2355
BUG 446373 created to track.

[2020-05-08 00:33] josaw1 commented on #2352
Thanks for your feedback. We will take it into consideration for updating the documentation. If you need support, though, consider one of the options described here: [Support contact options](https://docs.microsoft.com/en-us/dynamics365/unified-operations/dev-itpro/lifecycle-services/lcs-support). In particular, you might want to go to the [Dynamics 365 community page](https://community.dynamics.c

[2020-05-08 00:34] #2352 closed

[2020-05-08 01:10] Navneetkat opened #2381 "Environment monitoring screen shot"
User activity part is not visible in screen shot.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 64b5b03d-9169-f94e-f999-63bc5a8e68ac
* Version Independent ID: 177eb187-6962-ba30-7a63-86b0bf3452d7
* Content: [Monitoring and diagnostics tools in Lifecycle Services (LCS) - Finance & Operations | Dynamics 365](https://doc

[2020-05-08 06:01] Anasyash commented on #2284
Thank you for your comment! We have updated the link **Set up the Azure Key Vault client** in this topic to the respective topic with setup.

[2020-05-08 08:26] TeemuMiettinen opened #2382 "Supported package types section needs a Note for merge packages"
For to prevent confusion I think there should be a note in the Supported package types section about the topic of Self-service deployment does not support merge package for Tier2+ environments. This is common way of deploying for most of the partners in the old LCS project.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID

[2020-05-08 11:30] Angelos102 opened #2383 "Remove/Update the Condition for the same Azure Geo as this is not longer a limitation"
The limitation for "The databases must be hosted in the same Azure geographic region." is not longer applicable, verified with FastTrack and also I executed and tested this

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0c989148-fff9-5aa9-c903-31e88e6b8019
* Version Independent ID: b669fca2-bf18-175b-14a2-371dbdb4ab25

[2020-05-08 17:51] tonyafehr commented on #2381
@Navneetkat, thank you for the feedback.
@meeramahabala, please review.

[2020-05-08 17:52] tonyafehr commented on #2382
@TeemuMiettinen, thanks for the feedback.
@laneswenka, please review.

[2020-05-08 17:53] tonyafehr commented on #2383
@Angelos102, thanks for the feedback.
@laneswenka, please review.

[2020-05-08 21:34] Bhavleen-cloud opened #2384 "Incorrect description of Scope options in a delegation rule"
Point number 4
Module – Delegate only the work items that are related to a specific type of workflow. If you select this option, you must select the type of workflow in the Name field.

Correction- if you select module option, then you are prompted to select the module name & not the workflow name.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ Git

[2020-05-10 06:43] anderson-joyle opened #2386 ""Embrace the extensions mindset..." link leads to nowhere."
https://blogs.msdn.microsoft.com/axinthefield/embrace-the-extensions-mindset-with-dynamics-365-for-finance-and-operations/

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b7526dd1-39d1-a882-8560-52c530ef5649
* Version Independent ID: 7dd2a62b-b310-595b-eeda-f746679bbf3c
* Content: [Extensibility home page - Finance & Op

[2020-05-10 13:00] Splaxi opened #2387 "OData used for system-to-system integrations doesn't need the user_impersonation"
The scenario described in the this article focuses on how to utilize the OData endpoint from an user centric approach. This is just one of the ways to utilize the OData endpoint.

If you are planning for a system centric approach, where you want a 3. Party system (or middle layer) to authenticate against the OData endpoint, you would need to do something like below:

1. Registered Application crea

[2020-05-10 20:37] wojzeh opened #2388 "Routes Versions"
I guess in Setup if you use routes point 5 must be Routes versions

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 90a70666-74c8-cb14-f655-2ea665bd8b65
* Version Independent ID: 499e83f4-52c2-0292-b3d1-92dc69e957e3
* Content: [Production setup requirements - Supply Chain Management | Dynamics 365](https://docs.microsoft

[2020-05-11 07:36] LuisCano2202 opened #2389 "Error"
how can is possible it in a standard element?
"element.dataHelper().RecordCreating += eventhandler(this.PreRecordCreate);"

i used chain of command but i cant implements because.

the object FormRunServiceArgs is not initialized and the code doesn´t work and i dont undertsand VS expected other way to put this code.

My example was in VendTable form.

---
#### Document Details

⚠ *Do not edit this

[2020-05-11 07:55] shereen-yong opened #2390 "Multi-factor authentication (MFA) possible via ADFS?"
Hello! I am wondering if the multi-factor authentication (MFA) can be used for an on-premises implementation of Dynamics 365 for Finance and Operations? Would MFA still work and if so, would it be implemented via ADFS?  thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 903f0c12-ee21-2d66-dd29-bd3bbbf62ebf
* Versio

[2020-05-11 12:56] kfend commented on #2384
@Bhavleen-cloud - thanks for the feedback.
@jasongre - can you please review this feedback and update the topic as necessary?

[2020-05-11 15:14] manbhat07 opened #2391 "Employment Categories"
Employment Categories in found under Personnel Management Workspace &gt; Set Up &gt; Employment Categories

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6e444dcb-2490-60f7-cb14-5cc3ee98b4a4
* Version Independent ID: 45980903-8ef3-df0e-6ec1-8623843367a5
* Content: [Create employment categories - Human Resources | Dynam

[2020-05-11 16:10] #2253 closed

[2020-05-11 16:11] #2252 closed

[2020-05-11 18:22] RobinARH commented on #2391
@andreabichsel Andrea - Can you take a look? thanks.

[2020-05-11 18:24] RobinARH commented on #2390
@faix - Can you take a look? Thanks.

[2020-05-11 18:26] RobinARH commented on #2389
@jasongre Jason - Can you take a look? Thanks.

[2020-05-11 18:27] RobinARH commented on #2388
@johanhoffmann Johan - Can you take a look? Thanks.

[2020-05-11 18:28] RobinARH commented on #2387
@andreabichsel Andrea - Can you take a look? Thanks.

[2020-05-11 18:30] RobinARH commented on #2386
@RobinARH

[2020-05-11 18:53] RobinARH commented on #2386
Fixed, and should go live tonight.

[2020-05-11 18:53] #2386 closed

[2020-05-11 18:55] RobinARH commented on #2361
We've removed that topic. Instead, see [Enable entity maps for dual-write](https://docs.microsoft.com/dynamics365/fin-ops-core/dev-itpro/data-entities/dual-write/enable-entity-map). - Robin

[2020-05-11 18:55] #2361 closed

[2020-05-11 18:56] RobinARH commented on #2360
We've removed that topic. Instead, see [Enable entity maps for dual-write](https://docs.microsoft.com/dynamics365/fin-ops-core/dev-itpro/data-entities/dual-write/enable-entity-map). - Robin

[2020-05-11 18:56] #2360 closed

[2020-05-11 19:09] #551 closed

[2020-05-11 19:10] #1790 closed

[2020-05-12 10:49] faix commented on #2390
Hello,

We have not tested a MFA authentication scenario, **so it is not officially supported,** but as long as you use ADFS it could work. You can also ask in the Yammer group if you want to know whether someone has gotten this to work.

[2020-05-12 12:36] mueckeflo opened #2396 "Missing limitation in the "Differences [...]"-section"
As per BUG # 445559 - "Requested ship/receipt date" cannot be used for calculating prices in a call center sales order = Retail.

Queot from Shalabh Jain in the mentioned bug:
"[...]The issue here that the customer is using the "Requested ship date" and "Requested receipt date" for calculating the prices, but Retail pricing currently does not support these values. [...]"
=&gt; This is a price calc

[2020-05-12 13:14] tonyafehr commented on #2396
@mueckeflo, thanks for the feedback.
@ShalabhjainMSFT, please review.

[2020-05-12 13:45] tonyafehr commented on #2362
Bug #447425 logged to track this issue.

[2020-05-12 13:49] tonyafehr commented on #2363
Bug #447429 logged to track this issue

[2020-05-12 13:59] kfend commented on #2235
Hi @petrjanikac - Thanks for your question. Yes, print to screen is supported.

[2020-05-12 13:59] #2235 closed

[2020-05-12 14:32] sericks007 commented on #1765
This content was updated last December, so I believe this issue has been resolved.  If you discover that the issue has not been resolved, please re-activate this. Thank you.

[2020-05-12 14:32] #1765 closed

[2020-05-12 14:49] MilindaV2 commented on #2363
Adding TJ – he owns the PowerBI integration topic

M

From: Tonya Fehr <notifications@github.com>
Sent: Tuesday, May 12, 2020 6:50 AM
To: MicrosoftDocs/dynamics-365-unified-operations-public <dynamics-365-unified-operations-public@noreply.github.com>
Cc: Milinda Vitharana <Milinda.Vitharana@microsoft.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/dynamics-365-unified-operat

[2020-05-12 15:32] wojzeh opened #2397 "Phantom and route network"
There is a mistype in the first illustruation for Phantom and route network
It should have been:

Part       Operation                            Input
G          10-Assembly product G        F,D

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8edfe78b-6486-5678-a171-95f81d2715ef
* Version Independent ID: 62a24546-bb3f-

[2020-05-12 16:05] arcria commented on #1905
We were seeing the same error with Common.IsOneboxEnvironment when running the script from powershell directly. Ran the script from powershell ISE and it worked. It would be helpful if Microsoft could update their documentation as to what specific requirements are necessary for this script to run. Also the article mentions downtime, it would be helpful to have some information on what is happening

[2020-05-12 16:50] tonyafehr commented on #2397
@wojzeh, thanks for the feedback.
@kamaybac, please review.

[2020-05-12 18:56] tonyafehr commented on #2363
We've updated this topic and the changes should be live later today. Thank you!

[2020-05-12 18:56] #2363 closed

[2020-05-13 00:14] shereen-yong commented on #2390
@faix thank you for your response. I will try asking the the Yammer group as well.

[2020-05-13 00:59] GauravGupta-MS opened #2400 "Country specific"
Hi,
Is this a country specific feature. The page does not seem to mention that.
I believe it may be RUS specific.
Is there a plan to get this in other regions. They key requirement is to account for stock that is FOB and in-transit from the supplier.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 46a4f6a4-1aad-d7ff-fec

[2020-05-13 03:35] axaeffect opened #2401 "Page Size limitation and drill-thru"
With this new feature, how we overcome the needs to have wide / many columns report, in which preferable all placed in 1 row not in next page because Page Size ? For example Open Transaction Report, Aging Report.

In the SysReportAdministration menu, there is a check box to activate Drill Thru, is this new which not yet release ? coz it is needed. also it is the opposite of what written here sayin

[2020-05-13 04:41] shereen-yong commented on #2390
@faix Also, while looking into the possibility of using MFA for an on-premises Dynamics 365  for Operations deployment I have come upon Microsoft docs for designing a Azure AD secure "hybrid" solution that seems to enable access security (including MFA) for legacy applications (such as Citrix, Kerberos) by integrating Azure AD with an existing application delivery controller or network (link to do

[2020-05-13 10:12] kamaybac commented on #2397
@wojzeh , is this the correction you are looking for?

![image](https://user-images.githubusercontent.com/26439921/81800303-f0324e00-9512-11ea-92f5-158ba681caa9.png)

[2020-05-13 10:16] SysC0mp commented on #2116
Any news on that? The D365 documentation is still lacking any information about the SysClientCacheDataMethod attribute or its usage.