[2021-03-19 09:10] arnoldvanwageningen commented on #3230
Thanks for your confirmation.

[2021-03-19 20:08] roschlom commented on #2140
Bug 565956 was created to track this issue.

[2021-03-19 20:33] roschlom commented on #2141
Bug 565964 was created to track this issue.

[2021-03-19 20:43] roschlom commented on #2577
Bug 565969 has been opened to track this.

[2021-03-19 21:00] roschlom commented on #3167
Bug 565971 was opened to track this issue.

[2021-03-19 21:30] roschlom commented on #2587
Bug 565973 was created to track this issue.

[2021-03-19 21:46] roschlom commented on #3169
Bug 565975 was opened to track this issue.

[2021-03-19 22:06] roschlom commented on #3174
Bug 565985 was opened to track this issue.

[2021-03-19 22:14] roschlom commented on #3178
Bug 565987 has been opened to track this issue.

[2021-03-19 22:19] roschlom commented on #3179
Bug 565988 was opened to track this issue.

[2021-03-22 06:49] Eshaghzadeha commented on #3223
Regarding point 2, This should/must be taken into consideration that companies using Project Management & Accounting must be able to split the invoice amount into several projects. One cannot expect the vendor to split invoices pr. project that are supposed to "share" the invoice amount. They have not necessarily the knowledge of how their customer will do the accounting. This is also a relevant s

[2021-03-22 14:29] sericks007 commented on #3162
Bug 566245 has been logged to track this issue.

[2021-03-22 22:24] jopankow opened #3232 "Provisioning links are not working"
These two links in the "Get started with Lifecycle Services (LCS)" section do not work after the retirement of mbs.microsoft.com:

Provisioning guide on CustomerSource
https://go.microsoft.com/fwlink/?linkid=852080

Provisioning guide on PartnerSource
https://mbs.microsoft.com/partnersource/global/deployment/documentation/user-guides/D365Ops_OnPremEEProvisionGuide

Please correct the links to wher

[2021-03-23 09:48] kamaybac commented on #3231
@JulijaLudvigaELCA , thank you for bringing this issue to our attention. I will forward it to the page author.

[2021-03-23 09:50] kamaybac commented on #3232
@jopankow , thank you for bringing this issue to our attention. I will forward it to the page author.

[2021-03-23 12:38] danielzook opened #3233 "Step 8 has incorrect information. There is no "Code" folder"
Step 8 on this page begins with "Double-click the Code folder...".  There is no folder called "Code" in the project.
![image](https://user-images.githubusercontent.com/30128768/112147513-2c165500-8bb3-11eb-89d3-c3a5f60faab4.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b1abc350-6abd-b03b-7a76-2022928271ae
* Versi

[2021-03-23 13:11] danielzook opened #3234 ""Run to a breakpoint" Is missing a step"
Visual Studio can't run/debug the code unless a startup object is also selected.  The article does not include this step, but it should.

![image](https://user-images.githubusercontent.com/30128768/112151582-c6789780-8bb7-11eb-8328-372bc20f5079.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b1abc350-6abd-b03b-7a76

[2021-03-23 15:29] danielzook opened #3235 "Article refers to Code Map, but that is not an option in the Dev box"
Code Map is only available in Visual Studio Enterprise:
See: https://docs.microsoft.com/en-us/visualstudio/debugger/map-methods-on-the-call-stack-while-debugging-in-visual-studio?view=vs-2019

The Dev box that is deployed by LCS only includes VS Professional.
Please remove the reference to "Code Map" on step 13 under "Add the validation code."

Might be good to have someone at Microsoft try the st

[2021-03-23 15:43] danielzook opened #3236 "Full Build Options listed in article doesn't match form"
The article mentions "Build Aggregate Measurements" in the "Build a model's package" section, paragraph 4, but there is no such option.

One option that exists but is missing from the article is the "Run app checks."

![image](https://user-images.githubusercontent.com/30128768/112174637-f1b9b180-8bcc-11eb-8814-3628f46cf577.png)

---
#### Document Details

⚠ *Do not edit this section. It is require

[2021-03-23 15:51] danielzook opened #3237 "There is no "Dynamics 365 window""
Step 2 in the "Create the Fleet Management tutorial model" section begins: "From the Dynamics 365 window..."

There is no "Dynamics 365 window."  I think you meant the **Dynamics 365 Menu**
![image](https://user-images.githubusercontent.com/30128768/112175930-09de0080-8bce-11eb-8e81-520477b8fff7.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ G

[2021-03-23 15:56] danielzook opened #3238 "There is no longer a "UnifiedOPerations" template"
Step 11 in section "Create the Fleet Management tutorial model" states "Select the Unified Operations template."  This name no longer exists.

![image](https://user-images.githubusercontent.com/30128768/112176675-aef8d900-8bce-11eb-847f-3aea02e67a8b.png)

I'm assuming the author meant the "Finance Operations" template.

---
#### Document Details

⚠ *Do not edit this section. It is required for doc

[2021-03-23 18:55] danielzook opened #3239 "The screen capture in the "Key Concepts" section is out of date"
When code migration is done via LCS today, this is what the result looks like in Azure DevOps.  Note that the folder structure is quite a bit different than is described in the article.

![image](https://user-images.githubusercontent.com/30128768/112202431-c42e3180-8be7-11eb-8797-621e827753a0.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitH

[2021-03-23 18:56] danielzook opened #3240 "The steps in "Map Azure DevOps to your development box" are out of date"
The article refers to steps that no longer match the version of Visual Studio that comes with the Dev one-box.
![image](https://user-images.githubusercontent.com/30128768/112202666-02c3ec00-8be8-11eb-8314-e6b65ce8dd3c.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3e5b845d-9cd2-358d-3de9-bd15652ea746
* Version Ind

[2021-03-24 14:23] danielzook opened #3241 "Missing some details on what the DOM run changes on the order line"
The section "Results of DOM runs" lists some information on the results from the run, but it doesn't specify exactly what the DOM run changes on an order line that forces the system to ship from an alternate location.

For example, does the DOM run change the site/warehouse on the sales line?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub is

[2021-03-24 18:46] sksinghbdo commented on #2263
No one can write a worse documentation than this. This is useless documentation and I feel pity about the presentation.

[2021-03-24 20:47] sericks007 commented on #3232
@jopankow, thanks for making us aware of the issue!  A new link to the Provisioning Guide is provided in the updated article, which will be published later today.

[2021-03-24 20:47] #3232 closed

[2021-03-24 21:26] alaskancode opened #3242 "Update SSRS Documentation Extensibility Page to encompass adding custom data sets"
Microsoft's own documentation on the extensibility of SSRS reports lays out 4 scenarios where someone might want to extend an SSRS report.

https://docs.microsoft.com/en-us/dynamics365/fin-ops-core/dev-itpro/analytics/customize-app-suite-reports-with-extensions?toc=/dynamics365/commerce/toc.json

*Expand an existing data set attached to a current SSRS report
*Extend report menu items to redirect u

[2021-03-24 21:43] roschlom commented on #3163
The topic was updated to include the information that was suggested. Thanks again for the input. Please feel free to send us feedback any time!

[2021-03-24 21:43] #3163 closed

[2021-03-25 13:55] kamaybac commented on #2740
@aliveaydin , we have expanded the topic a bit and added some illustrations to make the procedure more clear.

[2021-03-25 13:55] #2740 closed

[2021-03-25 15:11] Bhawk90 opened #3243 "F&O - OData: Contains OData example format is wrong"
Example for Contains OData call is defined wrong in section **OData Services/Filter Details**.

`http://host/service/EntitySet?$filter=StringField eq '\*retail\*'`
should be
`http://host/service/EntitySet?$filter=StringField eq '*retail*'`

The asterisk character shouldn't be escaped in the query string.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com

[2021-03-25 18:41] Pattern-Brandon commented on #1038
Somehow our check printing recently broke, and I wanted to come back here to check if there was any updated documentation.
The URL above that says "PR 6258" is a dead link.

Can anyone provide any more info on this?

[2021-03-25 20:11] steevegilbert opened #3244 "Enable access does expire"
The doc says that the entry will not expire but in the UI there is a expiration date.

![image](https://user-images.githubusercontent.com/2894655/112536998-887c9e80-8d84-11eb-9417-00e7e973e484.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0e01673a-0cf0-b6bd-2a93-efb0427f8d3e
* Version Independent ID: 52f65831-75b

[2021-03-25 21:46] RobinARH commented on #3237
Fixed. Should go live tonight.

[2021-03-25 21:46] #3237 closed

[2021-03-25 21:48] RobinARH commented on #3241
@josaw1 - Can you take a look? Thanks.

[2021-03-25 21:49] RobinARH commented on #3242
@TJVass - Can you take a look? Thanks.

[2021-03-25 21:49] RobinARH commented on #3243
@Sunil-Garg - Can you take a look? Thanks.

[2021-03-25 21:50] RobinARH commented on #3244
@laneswenka - Can you take a look? Thanks.

[2021-03-25 22:18] alaskancode commented on #3242
Ok I gotta ask. @TJVass - are you related: https://www.seattletimes.com/seattle-news/tj-vassar-pioneering-african-american-educator/?

From: Robin Reynolds-Haertle ***@***.***>
Sent: Thursday, March 25, 2021 2:49 PM
To: MicrosoftDocs/dynamics-365-unified-operations-public ***@***.***>
Cc: Jonathan Rosen ***@***.***>; Author ***@***.***>
Subject: Re: [MicrosoftDocs/dynamics-365-unified-operations-p

[2021-03-29 01:25] kvictoriano opened #3245 "The budget register entry line now will default to expense when the main account type is expense; will default to revenue when the main account type is expense; and will default to expense for all other account types."
Would like to clarify if this is correct? Shouldn't it be defaulted to Revenue if the main account type is Revenue?
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 01a25607-253f-46d7-1557-8eab56aff7b9
* Version Independent ID: 1eeb5aba-abb3-0967-4990-0b098269b091
* Content: [Budgeting overview - Fi

[2021-03-29 01:26] kvictoriano commented on #3245
![image](https://user-images.githubusercontent.com/76980168/112775906-c45b8080-9070-11eb-8b07-29ac49135285.png)

[2021-03-29 11:34] sericks007 commented on #3245
@kvictoriano, thank you for posting this feedback.

@roschlom, please update the metadata and assign to the appropriate PM.

[2021-03-29 13:32] kamaybac commented on #3223
Bug 568853 created for this issue.

[2021-03-29 13:36] rabol opened #3246 "TypeScript 2.2.2"
[Enter feedback here]
On the page it say that one need to use typescript 2.2.2, but that is impossible to download, are sure that is is TypeScript 2.2.2 and not typeScript 3.2.2 ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 776f646a-f316-8c84-d190-57ecd88547a0
* Version Independent ID: 80208288-e39f-bacc-c8ad-7c5147

[2021-03-29 13:39] kamaybac commented on #3224
Bug 568878 raised to address this issue.

[2021-03-29 13:42] kamaybac commented on #3225
Created bug 568879 to track this issue.

[2021-03-29 13:48] kamaybac commented on #3231
Created bug 568881 to track this issue.

[2021-03-29 13:52] sericks007 commented on #3246
@rabol, thank you for posting this feedback!

@mugunthanm, please review and update the content, as needed.

[2021-03-29 13:54] kamaybac commented on #3230
Bug 568882 created to track this issue.

[2021-03-29 20:01] RobinARH commented on #3242
@RichdiMSFT - Can you take a look? Thanks.

[2021-03-29 20:17] tonyafehr commented on #3116
This topic has been updated. Thanks!

[2021-03-29 20:17] #3116 closed

[2021-03-29 21:08] roschlom commented on #3225
Thanks for letting us know about the issue. It's been fixed and the updated topic will be visible later this evening (Monday, 29 March). Have a great day!

[2021-03-29 21:08] #3225 closed

[2021-03-29 22:40] mugunthanm commented on #3246
As mentioned in the document, you can install Typescript version 2.2 from Visual Studio.
Open Visual Studio, go to Tools > Get Tools and Features. Select the Individual components tab and select the TypeScript 2.2 SDK from SDKs, libraries, and frameworks section and install it.

[2021-03-29 23:11] #3173 closed

[2021-03-29 23:24] elviscooper commented on #3225
That's great! And thanks for keeping these docs updated. I work in
consulting and couldn't do my job without great resources like these!

Elvis

On Mon., Mar. 29, 2021, 5:08 p.m. Bob Schlomann, ***@***.***>
wrote:

[2021-03-30 00:15] sigitsup1771 opened #3247 "Fist Issue Topic"
on the capture screen on First Issue Topic below , "The following illustration shows an example for coverage code Period."
I think for fullfill minmum is Fisrt Issue not todays date
![Safety Stock Replenishment](https://user-images.githubusercontent.com/72779964/112915040-abfa6d00-9127-11eb-978a-c434d03ad2db.jpg)

sigit.suprayitno@intikom.co.id

https://docs.microsoft.com/en-us/dynamics365/supply-

[2021-03-31 08:10] jansenrf opened #3249 "dynamics 365 updates"
[Enter feedback here]
I can see that the updates are going to 10.0.20.
What is the next step after 10.0.20.
Is this the last one or are there coming more updates later this year?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e7dcb285-f32c-c92e-fe49-1617f213066b
* Version Independent ID: 8f28c1a0-9da5-f853-90ee-d82a4c3

[2021-03-31 08:50] vavd opened #3250 "Unclear sections"
The "Link to reports" section is seemed to be irrelevant to Dynamics 365 Finance.
The "Identify the report in a reporting tree" section refferences to the "Worksheet Link" cell which is not available in the reporting tree definition.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e634ffca-a4b9-9779-d755-289dfd1c1285
*

[2021-03-31 09:15] kamaybac commented on #2931
Created bug 569829 to track this issue.

[2021-03-31 09:28] #2640 closed

[2021-03-31 11:25] sericks007 commented on #3249
@jansenrf, thank you for this feedback.

@ShellyBakke, please review and update the content.

[2021-03-31 11:29] sericks007 commented on #3250
@vavd, thank you for providing this feedback!

@aprilolson, please review and update the content, as needed.

[2021-03-31 11:58] MZade opened #3252 "Create an LCS connection in Azure Pipelines : Prerequisites"
[Enter feedback here]
Related to:
https://docs.microsoft.com/en-us/dynamics365/fin-ops-core/dev-itpro/dev-tools/pipeline-lcs-connection#prerequisites

The Azure App registration should be configured to allow public client flows.
This can be done by:
    Under the Azure App Registration
    Authentication > Advanced settings > Allow public client flows > Set to YES

---
#### Document Details

⚠ *Do

[2021-03-31 13:19] sericks007 commented on #3252
@MZade, thanks for providing this feedback.

@jorisdg, please review and update the content, as needed.

[2021-03-31 15:11] mpburtt opened #3253 "Needs an example on how to address the elements of the container"
The SPLIT function page contains no information on how to address each element of the container returned. We knew that we needed to use SPLIT to get at the bits of data within a field that we needed but couldn't work out how to address the _n_th element of the container. After logging a support call, this led us to the INDEX function which does include examples expressly using the SPLIT function.

[2021-03-31 16:00] sericks007 commented on #3250
@jinniew, please review and update the content, as needed.

[2021-03-31 16:22] RichdiMSFT commented on #3242
@alaskancode Thanks for pointing out the issue. We will review the article and see if we can add the requested topic. This may take some time.

[2021-03-31 22:17] RobvanB opened #3255 "Clarification / code change for doc page"
Some feedback on this page:
The instructions call for creating an App Registration for the Retail Server, and one for the Client.
However, throughout the article I find it very confusing if the 'Server' or 'Client' App ID is referred to. I think it would be a lot clearer if any mention of an App ID would refer to the 'server registration' or the 'client registration'

Furthermore, the code example

[2021-04-01 05:26] jinniew commented on #3250
Updated and created PR https://github.com/MicrosoftDocs/Dynamics-365-Operations/pull/10823. I took out references to features that were previously available in MR but not in FR.

[2021-04-01 11:37] sericks007 commented on #3255
@RobvanB, thank you for providing this feedback!

@mugunthanm, please review and update the content accordingly.

[2021-04-01 12:17] sing-ideas opened #3256 "What is the alternative if BPM is being deprecated, need link and new direction"
Hi,
If BPM is being deprecated, then there is no mention about the one being replaced.

Point us to the new alternative.

regards,
Singaravelu S

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: dd5ee7aa-fd2c-c53c-11d2-eeb9c8a1d31e
* Version Independent ID: 99feeea5-a8ec-c9d2-1084-9870e6b51fa8
* Content: [Removed or depre

[2021-04-01 12:28] sericks007 commented on #3256
@sing-ideas, to clarify, BPM (meaning, the entire tool) is not deprecated.  Just the flowchart diagrams component of BPM is deprecated.

[2021-04-01 12:36] danielzook opened #3257 "Missing step: Descriptor files need deleted as well"
In the list of steps after the paragraph that starts "If your model belongs to a package with multiple models....", there is a step missing.  After step 2, "delete the model folder", you also need to delete the file in the \Descriptor folder(s) that corresponds to the model.  If you don't, the models are not deleted.  Instead, the model folders are recreated when the models are reloaded in VS.

Se

[2021-04-01 12:46] sericks007 commented on #3257
@danielzook, thanks for providing this feedback!

@jorisdg, please review and update the content, as needed.

[2021-04-01 15:16] Bigglesuk opened #3258 "GrantAzViewChangeTracking script name incorrect"
There is a typo on the script location where it says GrantAzViewChangeTracking.zip it should actually be GrantAxViewChangeTracking.zip

Andrew
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5fd6f761-42ef-48b4-7d33-59d90e6cf053
* Version Independent ID: 0fedd77b-c9dc-6cc8-1366-ccd52678d94c
* Content: [Reset the Financial

[2021-04-01 15:28] sericks007 commented on #3258
@Bigglesuk, thanks for letting us know about this!  I've fixed the typo -- the updated content will be published later today.  Thanks again!

[2021-04-01 15:28] #3258 closed

[2021-04-01 19:18] jorisdg commented on #3257
Sent a PR to correct. This is not new or changed, this article was incorrect when it was first written.

[2021-04-01 19:20] sericks007 commented on #3257
@jorisdg, Great, thanks so much!

[2021-04-02 14:58] sericks007 commented on #3253
The content has been updated and will be published later today! Thanks!

[2021-04-02 14:58] #3253 closed

[2021-04-02 20:53] mpburtt commented on #3253
Superb! Thanks.

Malcolm

On Fri, 2 Apr 2021, 15:58 Sally Erickson, ***@***.***> wrote:

[2021-04-02 21:06] ItCommitsTheCode opened #3260 "Missing Service"
The following services are not documented on this page:

EmployeeService
FormattingService
GiftCardService
LoyaltyService
NotificationService

Service documentation jumps the alphabet from "CustomerService" directly to "PricingService".

Please reconcile.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 90cf28cb-e5aa-edc

[2021-04-05 11:18] sericks007 commented on #3260
@ItCommitsTheCode, thank you for providing this feedback!

@mugunthanm, please review and update the content, as needed.

[2021-04-05 13:17] danielzook opened #3261 "Incorrect information re: Azure costs"
In the section: "Switch to the LCS implementation project"

...it states: "The Azure subscription that is associated with the project is managed by Microsoft. Therefore, there is no separate billing for Azure costs. The costs are covered by your subscription."

This is incorrect.  Only the simple Sandbox environment and Production environment are included in the subscription.  All other Azure cost

[2021-04-05 16:32] tonyafehr commented on #3261
@danielzook, thanks for the feedback.
@laneswenka, please review.

[2021-04-05 19:45] thedynamicsgirl opened #3262 "Poll instead of pull"
[status.
Manage scheduled data jobs
Submitting data to recurring data jobs
You can use integration REST endpoints to integrate with the client, submit documents (import), or **_poll_** available documents for download (export). These endpoints support OAuth.]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 01b2cd6b-f885

[2021-04-05 19:48] tonyafehr commented on #3262
@thedynamicsgirl, thanks for the feedback. I'll update this right away.

[2021-04-05 19:48] #3262 closed

[2021-04-05 22:20] GeorgeSasDK opened #3263 "Renamed DEV Box not working anymore ?"
Until a few days ago ( as it was Easter we had no developers working) I have used this method to run several development machines.
Renamed them as ax7dev1 to ax7dev8 for example.
Beside the steps in this documentation I have also altered :
- IIS to reflect the new name
- HOSTS file to point the ax7dev1 , 2 ...x to the local machine.
- Edited the C:\AOSService\webroot\wif.services.config to reflect

[2021-04-06 00:03] andreesteve opened #3264 "Include a reference to Commerce Scale Unit deployable package when discussing Commerce in the context of all-in-one packaging"
The section that says "If you currently use Microsoft Dynamics 365 Commerce functionality for the retail point of sale..." should be updated to include a link to package deployments to Commerce Scale Unit: https://docs.microsoft.com/en-us/dynamics365/commerce/dev-itpro/retail-sdk/retail-sdk-packaging#deploy-the-package-to-csu

---
#### Document Details

⚠ *Do not edit this section. It is required

[2021-04-06 14:06] tonyafehr commented on #3263
@GeorgeSasDK, thanks for contacting us. Unfortunately, we're unable to handle Support requests for the product here. To contact Support, consider one of the options described here: [Support contact options](https://docs.microsoft.com/en-us/dynamics365/unified-operations/dev-itpro/lifecycle-services/lcs-support). In particular, you might want to go to the [Dynamics 365 community page](https://commu

[2021-04-06 14:06] #3263 closed

[2021-04-06 14:09] tonyafehr commented on #3264
@andreesteve, thanks for the feedback. @laneswenka, please make appropriate updates. Thanks!

[2021-04-06 17:21] GeorgeSasDK commented on #3263
This is not a support request. This is a "bug" to your guide on renaming the development box, it does not work as per guidance.

[2021-04-06 17:26] tonyafehr commented on #3263
@sericks007, can you look into this issue and make updates, as appropriate. Thanks!

[2021-04-06 17:27] sericks007 commented on #3263
@RobinARH, please assign this to the appropriate PM.

[2021-04-06 17:45] sericks007 commented on #3249
This content has been updated and will be published later today.

[2021-04-06 17:45] #3249 closed

[2021-04-06 17:46] sericks007 commented on #3211
This content has been updated and will be published later today.

[2021-04-06 17:46] #3211 closed

[2021-04-06 17:47] sericks007 commented on #3074
The link has been fixed.  The updated content will be published later today.

[2021-04-06 17:47] #3074 closed

[2021-04-06 17:56] danielzook opened #3265 "Bug in example code in step 7?"
Is there a bug in the example code in step 7?

It shows this line...

        SrsReportRunController formLetterController = SalesConfirmControllerExt::construct();

But shouldn't it be:

        **SalesConfirmControllerExt** formLetterController = SalesConfirmControllerExt::construct();

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue li

[2021-04-06 18:40] jorisdg commented on #3263
The VHD box URL has never been reachable outside the VHD without extensive changes to the VM configuration, which I don't believe is documented anywhere. As you pointed out, the reply URL for application '00000015-0000-0000-c000-000000000000' is not changeable of course, so a custom URL had never been possible unless you create your own application ID and update all the config files for the AOS (a

[2021-04-06 19:04] tonyafehr commented on #3265
@danielzook, thanks for the feedback. @RichdiMSFT, please review

[2021-04-06 19:48] GeorgeSasDK commented on #3263
Ok, so changing the box name does not imply changing also the URL of the application ?
How would a development team test on multiple boxes with same URL for the application ?

I have 12 developers working on 12  dev boxes and I also have a team of 20-50 people that need to test different apps and API's being developed  on this 12 boxes.

How would the TEST team test different development apps on 1

[2021-04-06 23:48] VenkiK opened #3267 "GAB Setup Step"
Hi Rama,

Adding a step to go to Dual Write in Finance & Operations and using Apply Solution "Dynamics 365 GAB Dual Write Entity Maps" solution would make things clearer for people who are new to Dual Write.
https://docs.microsoft.com/en-us/dynamics365/fin-ops-core/dev-itpro/data-entities/dual-write/party-gab#setup-instructions

Thanks,
Venki

---
#### Document Details

⚠ *Do not edit this section

[2021-04-07 06:34] Alpa-Chino opened #3268 "Page seems to be not up-to-date"
Hi!

I navigated to this page from the service update availability page where this page is referred and it seems that it is out of date, newer releases not yet included, KB numbers to release notes, VHD, released platform versions etc. Can you please update this?
In many cases in discussions with customers we are referring to the Microsoft documentations and if they are out of date, we need to exp

[2021-04-07 12:29] danielzook opened #3269 "Incorrect information re: customer's dev environment"
The section titled "Should I use a customer's dev environment?"
states: "All customer subscriptions come with at least one development VM."

This is incorrect.  Customer subscriptions only include two environments: Sandbox (UAT) and Production.  Customers are required to purchase an Azure subscription for any other environments.

See https://docs.microsoft.com/en-us/dynamics365/fin-ops-core/dev-it

[2021-04-07 12:31] danielzook opened #3270 "Out of date information re: customer environments"
Section "How many sandbox environments do I need within an LCS customer implementation project?" is out of date.
It states: "A customer subscription comes with three environments by default: a dev or build environment, a tier-2 sandbox environment, and a production environment. "

See https://docs.microsoft.com/en-us/dynamics365/fin-ops-core/dev-itpro/deployment/cloud-deployment-overview#remote-de

[2021-04-07 12:59] tonyafehr commented on #3270
@jorisdg, please review. Thanks!

[2021-04-07 13:01] tonyafehr commented on #3269
Closing, as this is a duplicate.

[2021-04-07 13:01] #3269 closed

[2021-04-07 13:02] tonyafehr commented on #3268
@Alpa-Chino, thanks for the feedback. @ShellyBakke, please review.

[2021-04-07 13:03] tonyafehr commented on #3267
@VenkiK, thanks for the feedback. @RamaKrishnamoorthy, please review.

[2021-04-07 14:16] ErikJohnMSFT opened #3272 "enable Asset Leasing through Feature Management."
It would be nice to mention that you need to first enable Asset Leasing through Feature Management.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 711a62b9-9929-466e-b58b-c56d832deeef
* Version Independent ID: b482ae02-f63c-ee8d-2f23-0f57a241f48a
* Content: [Asset leasing home page - Finance | Dynamics 365](https://doc

[2021-04-07 14:27] tonyafehr commented on #3272
@ErikJohnMSFT, thanks for the feedback. @moaamer, please review and consider making updates.

[2021-04-07 19:05] josaw1 commented on #3241
@anpurush please take a look.

[2021-04-07 19:16] RobinARH commented on #3233
Created bug 571647 to track this issue.

[2021-04-07 19:17] RobinARH commented on #3234
Created bug 571648 to track this issue.

[2021-04-07 19:18] RobinARH commented on #3235
Created bug 571649 to track this issue.

[2021-04-07 19:18] RobinARH commented on #3236
Created bug 571650 to track this issue.

[2021-04-07 19:18] RobinARH commented on #3238
Created bug 571652 to track this issue.

[2021-04-07 19:19] RobinARH commented on #3239
Created bug 571653 to track this issue.

[2021-04-07 19:20] RobinARH commented on #3240
Created bug 571654 to track this issue.

[2021-04-07 19:21] RobinARH commented on #3241
Created bug 572045 to track this issue.

[2021-04-07 19:21] RobinARH commented on #3242
Created bug 572044 to track this issue.

[2021-04-07 19:22] RobinARH commented on #3243
Created bug 572048 to track this issue.

[2021-04-07 19:22] RobinARH commented on #3244
Created bug 572049 to track this issue.

[2021-04-08 00:51] pvillads commented on #3235
Agree, remove bullet 13

[2021-04-08 01:00] pvillads commented on #3233
Also: Note typo in FMRentailCheckoutProcessor
The solution file shown is huge! As far as I can surmise, the user should double click on Classes in this case.

[2021-04-08 01:01] pvillads commented on #3234
Agree. It should. At the same time as you set the startup project, you should set the startup item (form, menu item or class).

[2021-04-08 05:58] pnarsi opened #3274 "BYOD Firewall Configuration"
In the "Creating a SQL database" section there is a infobox which says

"Your BYOD database must be accessible to Finance and Operations apps. If you encounter issues where you are unable access to access BYOD, you must ensure firewall rules in your BYOD are configured appropriately."

It would useful to include the specific details around what firewall rules we need to include in our BYOD databas

[2021-04-08 13:14] inovsn opened #3275 "Binary ISVs are not pulled into the package correctly"
[Enter feedback here]
There is a conversation in Yammer that describes an additional step required to copy in directories other than just the BIN directory from ISVs that don't provide source and are not compiled.  The "official" version of how to do this should be added to this page so that those of us that know we have binary only ISVs don't just "discover" this issue and have to go searching Ya

[2021-04-08 13:30] tonyafehr commented on #3274
@Sunil-Garg, please review and consider making updates.

[2021-04-08 13:31] tonyafehr commented on #3275
@jorisdg, please review and consider making updates.

[2021-04-08 16:32] thedynamicsgirl opened #3276 "Incorrect navigation/path"
[Go to Navigation pane > Modules > Product information management > Released product maintenance does not exist in D365 anymore.
![image](https://user-images.githubusercontent.com/81991433/114063297-5ee96a00-9890-11eb-98c7-cd8e281655a1.png)
]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 54259aca-1ed7-cc7a-c898-65f065

[2021-04-08 16:54] tonyafehr commented on #3276
@sorenva, please review.

[2021-04-08 17:29] jorisdg commented on #3275
I've sent a pull request to elaborate. The pipeline doc will explicitly call out reviewing the packaging step. The packaging step doc is being updated with more information as well as examples (including calling out ISVs specifically). And the "including third party packages" doc is updated to mention and link to the packages doc as well.

The Yammer threads are not correct either. The COPY step w

[2021-04-08 22:35] #3275 closed

[2021-04-09 07:23] dmz1990 opened #3279 "Directed Graph Markup Language (.dgml) editor now is called DGML editor in VS installer"
[Enter feedback here]

Directed Graph Markup Language (.dgml) editor now is called DGML editor in VS installer
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ab16cabb-05a1-4239-3e13-58394994e3a7
* Version Independent ID: 35af4de6-7f28-1f56-d99c-a52e4852cdd1
* Content: [Visual Studio 2017 requirements for X++ - Finance &

[2021-04-09 14:01] tonyafehr commented on #3279
@jorisdg, please review.

[2021-04-09 14:50] jmertens1 opened #3281 "Please read the text and correct"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 35765cda-23fb-5b94-0856-7002e37dadd3
* Version Independent ID: 82c39d58-a4e3-4562-53ab-131b831ec987
* Content: [Archive inventory transactions - Supply Chain Management | Dynamics 365](https://docs.microsoft.com/en-us/dynamics365/supply-chain/inventor

[2021-04-09 15:08] kamaybac commented on #3231
@JulijaLudvigaELCA , We looked into this, and found that the parameter must be set to Yes. Otherwise the Totals don't get calculated on the quote/sales header unless the user presses the "Price Quote"/"Price Order" button.

[2021-04-09 15:08] #3231 closed

[2021-04-09 15:10] tonyafehr commented on #3281
@jmertens1, thanks for the feedback. Can you provide additional information about what is incorrect in this topic.

[2021-04-09 15:20] jmertens1 commented on #3281
For each archived record it must be

**For each archive** in the grid, the following information is provided:

    Active – A check mark indicates that the archive is active.
    From date – The date of the oldest transaction that can be included in the archive.
    To date – The date of the latest transaction that can be included in the archive.
    Scheduled by – The user account that created th

[2021-04-09 15:41] kamaybac commented on #3281
@jmertens1 , I don't think those are archived records that are listed there. The rows don't indicate records that were archived--each row is itself an archive that contains a collection of archived records (each of which is a transaction that occurred during the dates shown for the archive). When you open an archive, then you see the list of archived records that belong to that archive. Please let

[2021-04-09 16:43] jorisdg commented on #3279
The original proposed doc said DGML Editor, this must have been mistakenly changed per policy to avoid acronyms. Thanks for pointing it out, we'll fix it.

[2021-04-09 17:53] moaamer commented on #3272
@tonyafehr I agree to indicate the asset leasing is under feature management. I will work with @roschlom to get this update. Thanks.

[2021-04-12 01:04] #3279 closed

[2021-04-12 11:18] sericks007 commented on #3245
Bug 573218 has been logged to track this issue.

[2021-04-12 11:21] jorgferreira opened #3283 "D365 release schedule table not covering old versions that are still supported"
Hi, since customers can choose to pause up to 3 consecutive updates at a time, we should still show version history to cover older versions.
We do advise customers whether their current version had its end of service on date X or not, for projects with updates that are not serviceable anymore and if its update is still valid on this allowed pause cadence. Hence, we should still leave all versions

[2021-04-12 11:22] #3246 closed

[2021-04-12 11:26] sericks007 commented on #3247
Bug 573221 has been logged to track this issue.

[2021-04-12 11:28] #3250 closed

[2021-04-12 11:33] sericks007 commented on #3252
Bug 573226 has been logged to track this issue.

[2021-04-12 11:36] sericks007 commented on #3255
Bug 573228 has been logged to track this issue.

[2021-04-12 11:37] #3257 closed

[2021-04-12 11:40] sericks007 commented on #3260
Bug 573230 has been logged to track this issue.

[2021-04-12 11:44] #3256 closed

[2021-04-12 12:47] sericks007 commented on #3247
This issue will be fixed with [PR 10920](https://github.com/MicrosoftDocs/Dynamics-365-Operations/pull/10920)/

[2021-04-12 13:06] #3247 closed

[2021-04-12 15:44] kfend commented on #3207
The topic has been updated with updated date information.

[2021-04-12 15:44] #3207 closed

[2021-04-12 16:26] mugunthanm commented on #3255
Thanks for the feedback, updated the document .

[2021-04-12 17:03] jopankow opened #3284 "List of unsupported data centers"
Hello,

2 items:

1. There is a separate page that lists the regions are available: https://docs.microsoft.com/en-us/dynamics365/fin-ops-core/dev-itpro/data-entities/dual-write/requirements-and-prerequisites

Please consolidate this information into a single page

2. According to https://docs.microsoft.com/en-us/dynamics365/fin-ops-core/dev-itpro/deployment/deploymentfaq#my-environments-are-curren

[2021-04-12 17:05] jansenrf opened #3285 "uat 7 or 14 days"
Is the PITR for the UAT 7 of 14 days
I see several messages.

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 805f3739-0cad-d6ab-7db0-175c972f189f
* Version Independent ID: 68be2d28-d5e9-471d-8648-a8cbae2e1e7d
* Content: [Database point-in-time restore (PITR) - Finance & Operations | Dynamics 365](

[2021-04-12 17:53] andreabichsel commented on #3285
@jansenf, thanks for the feedback. @damienmaspero, please review and consider making updates.

[2021-04-12 17:54] andreabichsel commented on #3284
@jopankow, thanks for the feedback. @RobinARH, please review and consider making updates.

[2021-04-12 17:55] andreabichsel commented on #3283
@jorgferreira, thanks for the feedback. @sericks007, please review and consider making updates.

[2021-04-12 18:00] sericks007 commented on #3283
@ShellyBakke, please review and update the content.

[2021-04-12 21:40] scott-tucker opened #3286 "CustomerSource and PartnerSource are retired."
This docs page references CustomerSource and PartnerSource a bunch and those site are retired and https://mbs.microsoft.com/ is no longer responding to requests.  The page should be updated with the new customer and partner destinations.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8ee6629a-f1a4-b352-0b26-657a503d80a

[2021-04-13 11:16] sericks007 commented on #3286
@scott-tucker, thanks for bringing this to our attention.  We'll work to correct this.

[2021-04-13 13:41] tonyafehr commented on #3261
Bug 573547 logged to track this issue.

[2021-04-13 13:54] tonyafehr commented on #3265
Bug 573551 logged to track this issue.

[2021-04-13 13:58] tonyafehr commented on #3264
Bug 573553 logged to track this issue.

[2021-04-13 14:05] tonyafehr commented on #3270
Bug 573557 logged to track this issue.

[2021-04-13 14:25] tonyafehr commented on #3272
Bug 573565 logged to track this issue.

[2021-04-13 15:02] tonyafehr commented on #3274
Bug 573573 created to track this issue.

[2021-04-13 15:11] tonyafehr commented on #3276
Bug 573578 created to track this issue.

[2021-04-13 15:11] #3281 closed

[2021-04-13 15:15] tonyafehr commented on #3268
Bug 573579 created to track this issue.

[2021-04-13 20:01] Levridge-Tory opened #3287 "Screen shot does not match instructions"
On the page it says: "You must set Enable Dynamics 365 apps to Yes when you set up the environment, as shown in the following image." Yet [the image](https://docs.microsoft.com/en-us/dynamics365/fin-ops-core/dev-itpro/data-entities/dual-write/media/add_database_expanded.png#lightbox) shows "Enable Dynamics 365 apps" set to "No".

Also, are you supposed to select any of the apps when you set the sl

[2021-04-13 22:17] moaamer commented on #3272
@tonyafehr this have been addressed in CONTENT DELIVERABLE 572925 Update -  Asset leasing home page.
I've resolved bug 573565  as duplicated.
Thanks @roschlom  for your help here.

[2021-04-14 13:51] #3272 closed

[2021-04-14 16:30] sericks007 commented on #3112
This content was recently updated.

[2021-04-14 16:30] #3112 closed

[2021-04-14 16:32] #3255 closed

[2021-04-14 21:13] ekersey commented on #2064
But the execution id is not returned by the enqueue/dequeue set of API's.  Therefore this endpoint cannot be used to get a list of errors, because the execution id is unknown.  If there is a way to retrieve the execution id, please document that.

[2021-04-15 11:34] avinashrj19 opened #3289 "Create clustered column Indexes supported with BYOD"
[Enter feedback here]

Customer needs to understand the different SQL tries for which the BYOD export is supported with CCI's ,
as we do not have any system design information on the same.
eg: how much cost will be incurred if customer is using Sql premium database is used by the customer.
How can we ensure the feasibility while using the CCI's with BYOD.
---
#### Document Details

⚠ *Do not edit

[2021-04-16 15:26] Joseph-Conrad opened #3292 "Normalize v DeNormalized"
Under Data Entities the sentence that ends "were de-normalized and split into multiple tables." should read normalized. De-normalized table lead to inefficiencies in database operations.

Tom Morris

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1016eba2-a0f9-8890-beb4-7c9f9f6df4fc
* Version Independent ID: 57758813-9d

[2021-04-18 10:14] BernhardRaether commented on #3001
Any News on this one?
Regards,
Bernhard

[2021-04-18 10:17] BernhardRaether commented on #2720
Any news on this one?
Regards,
Bernhard

[2021-04-19 09:22] NataliiaNaumenko opened #3293 "Wrong info in the article - Instead of CostObjectStatementCache should be CostStatementCacheDataSet"
Hello,

I have faced the issue that I cannot find the CostObjectStatementCache in the Data cache configuration. I have figured out that it might be wrong info in the article and Instead of CostObjectStatementCache should be CostStatementCacheDataSet in it.

Thank you!

![2021-04-19_12-19-59](https://user-images.githubusercontent.com/31509063/115212878-a631ef00-a109-11eb-8859-d8fbaeef8af7.png)

[En

[2021-04-19 16:30] andreabichsel commented on #3287
@RobinARH please review.

[2021-04-19 16:32] RobinARH commented on #3287
@sabinn-msft Can you take a look? Thanks.

[2021-04-19 16:35] sabinn-msft commented on #3287
Adding @RamaKrishnamoorthy as this probably came from her

[2021-04-19 16:35] andreabichsel commented on #3289
@Sunil-Garg can you take a look?

[2021-04-19 16:37] andreabichsel commented on #3292
@Sunil-Garg can you take a look?

[2021-04-20 12:24] Poetkaj opened #3296 "Extending eletronic report in 2021"
The class mentioned in this doc is not available in version 10.0.15.
How can create new Electronic reporting functions in newer versions of D365 FO.

Kind regards
Kaj Schougaard
Electronic reporting fanatic

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: de60d22f-2871-0dba-26b4-10be911e2517
* Version Independent ID: 8b0

[2021-04-20 12:45] NickSelin commented on #3296
Hello Kaj Schougaard,
This functionality was introduced in version 7.0. It was deprecated starting from the version 7.3 (see the [API changes 7.3](https://docs.microsoft.com/en-us/dynamics365/fin-ops-core/dev-itpro/analytics/er-apis-app73?toc=/dynamics365/finance/toc.json) page where it is mentioned that some classes were marked as internal) as part of code sealing process to deliver the OneVersio

[2021-04-20 13:28] duonghoanghai commented on #660
^^!;

[2021-04-20 13:30] #3208 closed

[2021-04-20 14:15] RobinARH opened #3297 "Test issue for demo."
I'll close this after the demo.

[2021-04-20 14:22] RobinARH commented on #3297
Created bug 99 to track this issue.

[2021-04-20 16:15] RobinARH commented on #3297
Created bug 9944 to track this issue.

[2021-04-20 16:24] #3297 closed

[2021-04-20 16:46] KimANel opened #3298 "Offline Capabilities"
Can you document whether offline works or not? The scenario is that a maintenance request needs to be entered but there is no connectivity. Can we still create the maintenance request and then when my phone is back online, will it sync?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a630f1b4-29ee-6867-6ba5-497237b6391b

[2021-04-20 18:22] De-stack opened #3299 "Field "DNS name" expects key vault's URI"
The picture and description shown in "DNS name: Enter the DNS name of Key Vault." on page https://docs.microsoft.com/en-us/dynamics365/fin-ops-core/dev-itpro/data-entities/entity-store-data-lake expects the key vault's URI.

A DNS name is something different than a URI.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a3

[2021-04-20 19:12] Eshaghzadeha commented on #3223
Hi @kamaybac , Just let me know you need more clarification for this issue.

[2021-04-21 05:12] Poetkaj commented on #3296
Thanks NickSelin.

[2021-04-21 10:19] kamaybac commented on #3223
@Eshaghzadeha , thank you for following up and offering more info. I created a bug for this issue, and it is currently under consideration. I passed on your offer for more clarification.

[2021-04-21 13:22] sericks007 commented on #3286
The links to CustomerSource and PartnerSource have been removed.

[2021-04-21 13:22] #3286 closed

[2021-04-21 14:55] kamaybac commented on #3230
@arnoldvanwageningen , thank you for bringing this issue to our attention. We have updated the documentation, and the update should go live later today.

[2021-04-21 14:55] #3230 closed

[2021-04-21 19:51] tacklers opened #3301 "Misleading example reference?"
The second bullet point refers to the 'above' example, should it be the below example?
It also makes reference to the 'CustGroup' table but that is not shown either above or below.
Maybe I just don't get it but the conceptual table diagram doesn't match the text, it shows the primary table supplying the constrained table.
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this sectio

[2021-04-23 11:54] rsudworth opened #3304 "Link to developer changes"
There needs to be a connection between these release notes and the e-commerce development FAQ. There is a page at https://docs.microsoft.com/en-us/dynamics365/commerce/e-commerce-extensibility/sdk-faq under the steps to upgrade e-commerce that is not in anyway connected to this feature list, even though one of the FAQs is about a feature in 10.0.17 (quick view module I think). With the web side of

[2021-04-23 11:57] rsudworth commented on #3304
It would also be very helpful if release notes where part of the repo for the web side of things at https://github.com/microsoft/Msdyn365.Commerce.Online

[2021-04-23 13:44] lbagleybhs opened #3305 "Critique on accuracy"
[Enter feedback here]

In section: "Create and call a new extension method", the code boxes are marked as "C#" code, when this is "X++".
Also, there is a ttsbegin/ttscommit pair outside of the try/catch block which renders the catch useless in this example.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 541407d5-1fb2-f

[2021-04-23 16:29] kweekley commented on #3223
Thank you for the feedback, which is really relevant to many customers outside of Norway also.  All of the scenarios you mentioned are on our radar for addressing with the One voucher issue.  The key to remember is that we aren't going to take away the functionality for these business requirements, but instead either:
1 - Allow the entry the same in the voucher, but with more data
2 - Provide a be

[2021-04-23 17:47] Eshaghzadeha commented on #3223
Hi @kweekley
Thanks for the feedback. I have tried to clarify customers' need based on how they do business specifically in Norway.
As an example. Customers need to use one-voucher on payment part and bank module since it will paves the way while they start reconciliation against the bank.
We have already a suggestion for this issue. I would be glad to help in this issue if needed so just let med

[2021-04-24 23:15] omar-kishk opened #3307 "Explanation required for note (not clear)"
i need an explanation for note of the products must also be assorted to a product, under Add products to category nodes.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e0c7f3e5-5cff-3b3a-8876-48bf006e9c60
* Version Independent ID: 9dde0656-917e-f6f5-1c44-1ac7fb5aecdd
* Content: [Create a channel navigation hierarchy -

[2021-04-26 00:53] sbaber82 opened #3308 "AX 2012 demo environment deployment"
Hi,

Using the steps described in this page, I cannot deploy AX 2012 demo environment. When I click Add button on cloud hosted environment page, it shows me the Platform update to select which is relevant for D365 Finance. There is no option showing related to AX 2012 versions as mentioned in this docs site.

Am I missing something ?

---
#### Document Details

⚠ *Do not edit this section. It is r

[2021-04-26 11:30] sericks007 commented on #3308
Thanks for contacting us. Unfortunately, we're unable to handle Support requests for the product here. To contact Support, consider one of the options described here: [Support contact options](https://docs.microsoft.com/en-us/dynamics365/unified-operations/dev-itpro/lifecycle-services/lcs-support). In particular, you might want to go to the [Dynamics 365 community page](https://community.dynamics.

[2021-04-26 11:30] #3308 closed

[2021-04-26 13:04] JChandnani opened #3309 "Amount are displayed in Transaction currency in report"
Hi, report is generating data in transactional currency, however as per the model and source setup of report, it should be in accounting currency.

Can you please help, if this is standard or some bug

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 73deae8d-c248-76f5-8772-ae716556357f
* Version Independent ID: 2b2fe1f0-

[2021-04-26 13:22] Halldor10 opened #3310 "Geting TS2306 applicationinsights-web.d.ts is not module error"
When following the instructions [Log events to Application Insights in the POS extension projects](https://docs.microsoft.com/en-us/dynamics365/commerce/dev-itpro/commerce-application-insights#log-events-to-application-insights-in-the-pos-extension-projects), to use Application Insights logging for the POS, the compiler ends up by showing the error: TS2306	Build:File 'K:/<MyFilePath>/POS/Extension

[2021-04-26 13:38] #3296 closed

[2021-04-26 13:44] kfend commented on #3304
@rsudworth - thanks for the feedback.
@josaw1 - can you please take a look at this feedback?

[2021-04-26 13:45] kfend commented on #3301
@tacklers - thank you for the feedback.
@Peakerbl - can you please take a look at and address this feedback?

[2021-04-26 13:46] kfend commented on #3299
@De-stack - thank you for the feedback.
@MilindaV2 - can you please take a look at and address this feedback?

[2021-04-26 13:47] kfend commented on #3298
@KimANel - thanks for your question.
@johanhoffmann - can you please take a look and address this?

[2021-04-26 15:35] samjarawan commented on #3307
Looks like the text is wrong, the note should read, "products must be assorted to a channel".  More details can be found here: https://docs.microsoft.com/en-us/dynamics365/commerce/assortments

[2021-04-26 16:01] kfend commented on #3307
Thanks for the quick turnaround @samjarawan.
@omar-kishk - the topic has been updated and the changes will go live later today.

[2021-04-26 16:01] #3307 closed

[2021-04-26 16:07] kfend commented on #3301
This topic has been updated and the changes will publish later today.

[2021-04-26 16:07] #3301 closed

[2021-04-26 18:53] roschlom commented on #3309
Thank you for the question. We appreciate the input and will look into it.

[2021-04-27 15:01] SST1982 opened #3312 "How to consume the data?"
I would like the documentation to also cover how the data in Data Lake can be accessed and analysed.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a344a5de-68fa-e9cf-28eb-51269c33b9b3
* Version Independent ID: 1b3ede62-3954-574b-5778-8cdee0ededfe
* Content: [Make Entity store available as a Data Lake - Finance & Opera

[2021-04-27 19:07] RobvanB opened #3313 "CRT / AppInsights doc needs updating"
Documentation is somewhat outdated. The Azure portal UI is different from what is described in the doc (there are workspaces fields now when creating the App Insights in Azure. Also, when creating the project in Visual studio, you now need to use NuGet packages rather than references to actual DLLs.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ Gi

[2021-04-27 19:28] roschlom commented on #3310
Thank you for the input. We do appreciate it and use it to improve our content.

[2021-04-27 19:29] roschlom commented on #3312
Thank you for the input. We do appreciate it and use it to improve our content.

[2021-04-27 19:29] roschlom commented on #3313
Thank you for the input. We do appreciate it and use it to improve our content.

[2021-04-28 15:31] #3223 closed

[2021-04-29 07:55] kamaybac commented on #3276
@thedynamicsgirl , thank you for reporting this issue. We have updated that detail in the topic and also updated and expanded it with more information.

[2021-04-29 07:55] #3276 closed

[2021-04-29 11:09] tacklers opened #3317 "Where is the Dynamics App Manifest?"
Export to Word/Create a Word template/
refers ' File Share that contains the Microsoft Dynamics App Manifest' ?
I don't know where the manifest is in an online world, is it referring to an on-prem setup.
Thanks, Richard
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c128127a-d4df-96d3-dbc9-8d68a70

[2021-04-29 14:51] pturegano opened #3318 "Broken link to Microsoft Download Center."
The link to Microsoft Download Center is broken

Microsoft Download Center
https://mbs.microsoft.com/customersource/northamerica/AX/learning/documentation/how-to-articles/d365finopelecreptg81

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6ff1470e-2d85-a116-5fd5-d20d99456162
* Version Independent ID: a0d52ef3-4fdf-78b4

[2021-04-29 14:52] jopankow opened #3319 "Published views and legal entities"
Hello,

The documentation here about publishing a view to legal entities is different than current behavior. For example, the existing documentation indicates that legal entities are respected. I had a customer support case where publishing a view to a specific LE did not respect the LE. According to https://fix.lcs.dynamics.com/Issue/Details?kb=4574778, it says "This issue is partially fixed in 1

[2021-04-29 17:19] RyanCCarlson2 commented on #2140
For @JoelLeichty the statement is true. If the dimension setting is off, and you turn it on (for customers for example) it will copy the account value to that default financial dimension on dimension activation(required after a setting change).

[2021-04-29 17:19] RyanCCarlson2 commented on #2140
@roschlom  can you close this issue accordingly?

[2021-04-29 17:21] kfend commented on #3318
@pturegano - thank you for the feedback. I have updated the topic with the correct link and the changes will be published later today.

[2021-04-29 17:21] #3318 closed

[2021-04-29 21:52] roschlom commented on #3317
Thanks for the input on our content. We appreciate it!

[2021-04-29 22:01] roschlom commented on #3319
Thanks for making the request. We appreciate the input!

[2021-04-29 22:04] #3179 closed

[2021-04-29 22:12] roschlom commented on #3245
Thanks again for the input. This has been corrected now.

[2021-04-29 22:12] #3245 closed

[2021-05-03 00:45] JimMorrisonAXMojo opened #3321 "Directions in section for Demo/Test hosted in customer subscription are incomplete"
[Enter feedback here]
Three problems:
1. This section doesn't mention resetting IIS. The section above on how to handle a Microsoft subscription hosted environment includes that direction, but the Customer subscription section left it out.
2. The console command line example skips the value needed for --bindir. That's given in the table below, but unlike the --metadatadir which uses the same value

[2021-05-03 15:05] Joseph-Conrad opened #3322 "This information is wildly wrong"
The procedure to set the date/time is not correct. Not even close.

The article references "Source Date Format" column. That does not exist. And actually, if you examine the article graphic, the column heading is "Source Data Format".

Grade: D-

Tom

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ff2642da-229f-1814-246

[2021-05-03 19:58] josaw1 commented on #3321
Thanks for your feedback. @laneswenka can you please review this?

[2021-05-03 19:59] josaw1 commented on #3322
Thanks for your feedback. @Sunil-Garg can you please review this?

[2021-05-04 13:03] SST1982 opened #3324 "Syntax shows LIST instead of LISTJOIN"
In the syntax part of this article, the function  "LIST" is showed. Judging by the GIFs later, it should be LISTJOIN
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b2899b82-adf3-0a38-5e73-3055d6cc323a
* Version Independent ID: 4804cfcb-ccfb-2b26-7f96-08ec920d9a36
* Content: [LISTJOIN ER function -

[2021-05-04 15:55] josaw1 commented on #3324
Thanks for your feedback. @NickSelin please take a look.

[2021-05-04 17:27] kfend commented on #3305
Bug 579367 created to track this issue.

[2021-05-04 17:34] kfend commented on #3298
Bug 579372 created to track this issue.

[2021-05-04 17:46] kfend commented on #3299
Bug 579380 created to track this issue.

[2021-05-04 23:24] ray2334 opened #3325 "D365 FO onprem failed upon deploying AXSF"
Application fabric:/AXSF is not OK after 1 minutes
  Detail at System.Environment.GetStackTrace(Exception e, Boolean needFileInfo)
at System.Environment.get_StackTrace()
at SetupInfrastructure.SetupInfrastructureEventsHelper.ErrorPrettify(S
etupInfrastructureEventSource source, Exception ex, Int32 errorCode, String format, Object[] values)
at SetupInfrastructure.ServiceFabricApplicationSetupManage

[2021-05-05 08:40] sheko89 opened #3326 "Revenue recognition setup page needs updates"
Hi, thank you for the great content!

Kindly, the revenue recognition setup page needs to be updated with the changes applied in the module, specially the Recognition basis and Recognition convention values.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 49ee1703-51fa-03cb-cb6c-d13c59ec0dc3
* Version Independent ID: be

[2021-05-05 20:02] josaw1 commented on #3325
Thanks for contacting us. Unfortunately, we're unable to handle Support requests for the product here. To contact Support, consider one of the options described here: [Support contact options](https://docs.microsoft.com/en-us/dynamics365/unified-operations/dev-itpro/lifecycle-services/lcs-support). In particular, you might want to go to the [Dynamics 365 community page](https://community.dynamics.

[2021-05-05 20:05] josaw1 commented on #3326
Thanks for your feedback. @roschlom can you please review?

[2021-05-06 19:15] tacklers opened #3327 "Link to video fails"
On the first page, after point 4 there is a video link. It breaks
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bf51a7e8-9ae4-5b55-c61c-2dc31abe6621
* Version Independent ID: 934ab5eb-0b75-c8de-a76d-efd2ded27609
* Content: [Data task automation - Finance & Operations | Dynamics 365](https://docs.

[2021-05-06 19:41] sericks007 commented on #3327
@tacklers, thanks for making us aware of this issue.  I've fixed the link.  The updated article will be published later today.

[2021-05-06 19:41] #3327 closed

[2021-05-07 02:42] xu747 opened #3328 "Documentation "Extensible Controls - Public JavaScript APIs." is unavailable."
[Enter feedback here]
The Reference Documentation "Extensible Controls - Public JavaScript APIs." is unavailable.
When I open https://mbs.microsoft.com/Files/public/CS/AX/DynamicsAX_JavaScript_API_Documentation_Update2_07_2016.pdf,
it will response ERR_CONNECTION_CLOSED.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f

[2021-05-07 13:52] rrhkpmg opened #3329 "Path to import task recorder references nonexistent menu"
I believe the menu item described as **Finance and Operations** > **Addins** > **Import Task Recording** should be **Dynamics 365** > **Addins** > **Import Task Recording**

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2673e0e6-36ff-72f9-11dd-bfcfa1916882
* Version Independent ID: 01b6cf39-57a3-c6ca-af2c-4b7c530e5fdf

[2021-05-07 15:03] d3fr0g opened #3330 "This page should be revised"
The _Important_ sections are out of date.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6c7f272b-4ea7-a285-4a9f-e67583a664e0
* Version Independent ID: 54ac0c3d-a2b5-6001-1581-167dd87a80c0
* Content: [Self-service deployment overview - Finance & Operations | Dynamics 365](https://docs.microsoft.com/en-us/dynamics365/fi

[2021-05-07 16:32] jorisdg commented on #3329
Thanks. I'm updating.

[2021-05-07 19:04] josaw1 commented on #3328
Thanks for your feedback. @jasongre can you please review?

[2021-05-07 19:05] #3329 closed

[2021-05-07 19:06] josaw1 commented on #3330
Thanks for your feedback. @rashmansur please review.

[2021-05-10 13:00] TCM-NEPT opened #3331 "Email requirements not listed"
[Enter feedback here]

Set up offers just enough to get though, but leaves some key information out. Main issue I'm referring to here are the email requirements - these appear to need to be Microsoft based (Outlook, Hotmail, Outlook based Work) but doe not work for external addresses, seriously hampering capability.
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.mi

[2021-05-10 14:53] yukonpeegs opened #3332 "Related blog post"
See this related blog post

https://community.dynamics.com/365/financeandoperations/b/dynamics-365-finance-blog/posts/best-practices-for-updating-financial-dimension-set-dimension-sets

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2139b773-9052-bc07-7611-35255cbecde7
* Version Independent ID: 403401c3-4752-dddc-d511-1

[2021-05-11 17:00] dgriffiths-bd opened #3334 ""Path" parameter in example seems wrong"
I think the "path" parameter in the code example for the definition seems wrong.

It currently reads

    "path": "../../actions/get-product",

and I think it needs to read

    "path": "../../actions/get-product.action",

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 90329178-f512-40f7-84c2-1a434a0588bb
* Version Inde

[2021-05-11 23:31] andyNewnham opened #3335 "No longer in preview?"
I believe this feature is no longer restricted to preview? (as it is in all my environments and I am not aware of being part of a private preview!). Therefore the note at the top of the page should be removed. 'This feature is available only in a restricted preview as part of Platform update 31.'

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHu

[2021-05-12 00:05] andyNewnham opened #3336 "Obsolete page?"
I believe most if not all of the information in this article is now obsolete;

1. There is no longer the ability to 'Publish' an online store from the online stores form.
2. The E-Commerce functionality does not use the old SharePoint publishing functionality - even if the capability still exists in the background, this may be confusing to readers. If the doc remains, perhaps a note can be added s

[2021-05-12 08:30] ransoentjens opened #3337 "Move content to relevant pages"
This page is already a couple years old and not all information is up te date. I think it's best to

- remove this page and,
- bring the content up-to-date with the latest features
- move the section to the relevant related pages in the "Manage your financials" section

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub iss

[2021-05-12 13:54] kamaybac commented on #3332
@yukonpeegs, you appear to be the author of this topic, is that right? If so, you're welcome to edit it as needed and submit a PR. Otherwise, I'll ask Bob to get in touch with you.

[2021-05-12 13:56] kamaybac commented on #3334
@dgriffiths-bd , thank you for reporting this issue. I have passed it on for consideration.

[2021-05-12 13:58] kamaybac commented on #3335
@andyNewnham , thank you for reporting this issue. I have passed it on for consideration.

[2021-05-12 14:00] kamaybac commented on #3336
@andyNewnham , thank you for reporting this issue. I have passed it on for consideration.

[2021-05-12 14:03] kamaybac commented on #3337
@ransoentjens , thank you for reporting this issue. I have passed it on for consideration.

[2021-05-12 16:32] josaw1 commented on #3324
Fix going live today.

[2021-05-12 16:32] #3324 closed

[2021-05-13 19:27] RobinARH commented on #3180
Created bug 582857 to track this issue.

[2021-05-13 19:27] RobinARH commented on #3182
Created bug 582880 to track this issue.

[2021-05-13 19:27] RobinARH commented on #3185
Created bug 582883 to track this issue.

[2021-05-13 19:28] RobinARH commented on #3309
Created bug 582884 to track this issue.

[2021-05-13 19:28] RobinARH commented on #3310
Created bug 582885 to track this issue.

[2021-05-13 19:28] RobinARH commented on #3312
Created bug 582886 to track this issue.

[2021-05-13 19:28] RobinARH commented on #3313
Created bug 582888 to track this issue.

[2021-05-13 19:28] RobinARH commented on #3317
Created bug 582890 to track this issue.

[2021-05-13 19:29] RobinARH commented on #3319
Created bug 582892 to track this issue.

[2021-05-13 22:36] mugunthanm commented on #3305
Thanks for the feedback, updated the document.

[2021-05-14 18:21] jasongre commented on #3319
Hey @jopankow, thanks for the feedback! The 2nd bullet in the Note at the bottom of the Publishing views section describes exactly how the current publish to legal entity works. I will adjust the article to try and make this clearer.

As for any new features in this area, keep an eye out for upcoming release plan entries for details on how this may work in the future. I will update this documentat

[2021-05-14 19:10] josaw1 commented on #3321
@sericks007 can you help with this?

[2021-05-14 19:12] josaw1 commented on #3321
BUG 583265 created to track this issue.

[2021-05-14 19:15] josaw1 commented on #3322
BUG 583267 created to track issue.

[2021-05-14 19:16] #3325 closed

[2021-05-14 19:19] josaw1 commented on #3326
BUG 583268 created to track the issue.

[2021-05-14 19:25] josaw1 commented on #3328
BUG 583269 created to track.

[2021-05-14 19:28] josaw1 commented on #3330
BUG 583270 created to track.

[2021-05-15 10:46] izjaman opened #3345 "Missing information on option to group by purchase agreement"
When describing parameters for firming this page does not describe the option to "Group by purchase agreement".

![image](https://user-images.githubusercontent.com/15834482/118357632-7694cc00-b57b-11eb-8065-84e47768f41c.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8a8e85bd-173e-f04f-7670-4674ef67d233
* Version I

[2021-05-17 07:35] andyNewnham opened #3346 "Clarity on link between pick-up delivery mode and retail channel assignment"
The documentation is not clear on the correct requirements for assigning the retail channel to pick-up delivery modes. And I cannot see this information in any other docs pages.

Following confirmation via Yammer, for 'pickup' delivery modes, the retail channels assigned to that mode of delivery should be locations where that pickup option is available for the pickup. It should not be assigned to

[2021-05-17 09:08] jlabustro opened #3347 "will there be any technical issue in case we will create 3 environments (Japan O365 & D365, APAC D365) together under the same tenant? For example if they use outlook integration between Japan O365 and Japan D365, is it going to be a problem for them to add APAC D365 environment under the same tenant? Will APAC D365 do any bad to the existing integration between Japan D365 & O365? Please advise."
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0a465cba-da38-a42a-495f-299b90f2d5cf
* Version Independent ID: 4e1952ae-622a-ba1d-5258-dc334c0c35db
* Content: [Multiple LCS projects and environments on one Azure AD tenant - Finance & Operations | Dynamics 365](https://docs.microsoft.com/en-us/dynam

[2021-05-17 13:42] danielzook opened #3348 "Add the model descriptor file to source control refers to right-click when right-click is not needed."
https://docs.microsoft.com/en-us/dynamics365/fin-ops-core/dev-itpro/dev-tools/version-control-metadata-navigation#add-the-model-descriptor-file-to-source-control

In the section "Add the model descriptor file to source control", step one states "... and then right-click on the metadata folder...", but the next step does not refer to the context menu.  Instead, it states "In the Source Control Expl

[2021-05-17 15:17] tonyafehr commented on #3345
@izjaman , thanks for the feedback. @ChristianRytt, please review.

[2021-05-17 15:18] tonyafehr commented on #3346
@andyNewnham, thanks for the feedback. @hhainesms, please review.

[2021-05-17 15:26] tonyafehr commented on #3347
@ClaudiaBetz-Haubold, please review.

[2021-05-17 15:26] tonyafehr commented on #3348
@jorisdg, please review.

[2021-05-17 16:32] tonyafehr commented on #3347
Thanks for contacting us. Unfortunately, we're unable to handle Support requests for the product here. To contact Support, consider one of the options described here: [Support contact options](https://docs.microsoft.com/en-us/dynamics365/unified-operations/dev-itpro/lifecycle-services/lcs-support). In particular, you might want to go to the [Dynamics 365 community page](https://community.dynamics.

[2021-05-17 16:32] #3347 closed

[2021-05-17 17:03] andyNewnham opened #3349 "Is an org modelling hierarchy the same as a customer hierarchy?"
I am confused by why we have two terms for the same thing? This makes training etc. much more difficult.

From what I have seen there is nothing in the D365 application with the name/label of 'Organization modelling hierarchy' - everything just refers to customer hierarchies. Is there a specific reason we use the two different terms or a separation between them that is not clear?

Thank you.

---

[2021-05-17 18:36] tonyafehr commented on #3349
@andyNewnham, thanks for the feedback. @josaw1, please review.

[2021-05-17 19:06] jorisdg commented on #3348
Pull request sent.

[2021-05-17 19:15] RobinARH commented on #3348
The updated content will go live later today.

[2021-05-17 19:15] #3348 closed

[2021-05-17 20:57] Peakerbl commented on #3335
Sorry, but I'm not sure who is the PM for Batch any longer. After me it was Reva Chauchan. Sunil Garg might know.

[2021-05-17 22:26] trentone1 opened #3350 "Add dimensions to Excel templates is not clear and causing confusion"
The following section needs to be re-vamped as the instructions use Over-Layering that is obsolete.
"Add dimensions before Dynamics 365 for Finance and Operations"

Customers are having issues adding dimensions to F&O that they can use with the Excel Add-in.
Doc needs to clearly specify the best steps and if custom dimensions can be used.

---
#### Document Details

⚠ *Do not edit this section. It

[2021-05-17 22:36] raulmondra28 opened #3351 "customer suggestion"
After customer set up the return policy  they don't know that they need to run the Retail Initializations after enabling the new features and synced down data again, customer suggest to add this information in the documentation.

Regards.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e2fd324f-8636-61a3-0acb-5f533da93d

[2021-05-18 00:31] samjarawan commented on #3334
Good catch, at one point the add-data-action did not append the '.action' to the doc, will get this fixed up...

[2021-05-18 07:50] kamaybac commented on #3350
@trentone1 , thank you for reporting this issue. I have passed it on for consideration.

[2021-05-18 07:53] kamaybac commented on #3351
@raulmondra28 , thank you for reporting this issue. I have passed it on for consideration.

[2021-05-18 12:23] danielzook opened #3352 "Missing steps"
There are some steps in the deployment that are missing in the article.  (This may not be a complete list...)

- "Publish this environment to Dynamics 365 home page"
- "Configure Power Platform Environment"
- Signature

It would be helpful if all of the steps were listed in the article with short explanations.

Also, step 7 states:

... but I don't recall that step being in the deployment when I r

[2021-05-18 13:07] tonyafehr commented on #3352
@danielzook, thanks for the feedback. @rashmansur, please review and consider making updates.

[2021-05-18 16:04] andyNewnham opened #3353 "Missing controllers"
It would be great if this documentation could be updated to include some of the missing or recently released controllers, such as;

- Wishlist (Commerce Lists)
- Business Partners
- Inventory Inbound/Outbound Documents
- Task Management (Checklists)
- Recommendations(?)
- It would be useful if GetProductAvailabilty API's are listed as deprecated (or just removed) - at least I believe they are depr

[2021-05-18 16:13] tonyafehr commented on #3353
@andyNewnham, thanks for the great feedback. @mugunthanm, please review.

[2021-05-19 09:05] TommyLanger opened #3354 "why is the field Mask ID not explained?"
why is the field Mask ID not explained?
[Enter feedback here]
why is the field Mask ID not explained?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 110f5f5f-a8a5-29f1-81f7-1af929cd3644
* Version Independent ID: eedf7d61-9615-2c54-437d-aac1996faae5
* Content: [Maintain barcode types - Supply Chain Management | Dynamics

[2021-05-19 12:47] tonyafehr commented on #3354
@TommyLanger, thanks for the suggestion. @perlynne, please review.

[2021-05-19 13:03] dgriffiths-bd opened #3355 "Further Examples Needed"
There is no example of how to use a data-action from inside the module code. It talks about how to register it, but once registered how do we then get the underlying data?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 90329178-f512-40f7-84c2-1a434a0588bb
* Version Independent ID: d9059d68-ba79-2fdc-6d12-36da4b1fa16a
*

[2021-05-19 13:05] tonyafehr commented on #3355
@dgriffiths-bd, thanks for the feedback. @samjarawan, please review.

[2021-05-20 09:22] kurthatlevik-inspirit365 opened #3357 "Where is the "Enable POS recommendations." ?"
If you look at https://docs.microsoft.com/en-us/dynamics365/commerce/product there is a text saying:
Configure Commerce to enable POS recommendations
To set up product recommendations, follow these steps:
...
**Go to Commerce parameters, select Machine-learning, select Yes under Enable POS recommendations.**
---
The problem is that I cannot seem to find any tabs in the Commerce parameters named "M

[2021-05-20 12:01] kurthatlevik-inspirit365 opened #3358 "Product recommendation"
I think it would be fair to inform here that product recommendations are requiring an additional SKU/license : "Dynamics 365 Commerce Recommendations".  This because the licensing costs for ML/AI recommendations is quite significant, and there are limitations to the number of transactions per month that is included.

So a reference to the D365 Licensing guide would solve this.

---
#### Document D

[2021-05-20 12:49] tonyafehr commented on #3357
@kurthatlevik-inspirit365, thanks for the feedback. @josaw1, can you help with this issue.

[2021-05-20 12:51] tonyafehr commented on #3358
@kurthatlevik-inspirit365, we'll consider making this change. @josaw1, please help with this. Thanks!

[2021-05-20 14:24] ChristianRytt commented on #3345
We are planning to include this information as part a larger update for the Firm planned orders page under Planning Optimization. This is expected to happen within a few weeks.

[2021-05-20 19:38] bsokolov commented on #3357
Hi @kurthatlevik-inspirit365. Indeed the documentation is being updated to reflect the latest changes in the user experience. The new experience goes through the "Feature Management" workspace. When you navigate to it, please search for "Product Recommendations" and "Personalized Recommendations" features and enable them.

As a reminder, Recommendations are an omnichannel solution and do not need

[2021-05-20 23:15] RobinARH commented on #3328
I fixed the link and the new content will go live tonight. - Robin

[2021-05-20 23:15] #3328 closed

[2021-05-21 00:12] #3357 closed

[2021-05-21 18:00] jasongre commented on #3317
@tacklers The part about the manifest file is out of date. An updated version of the article should be available shortly.

[2021-05-21 18:41] josaw1 commented on #3358
@moonma can you please help?

[2021-05-21 20:46] moonma commented on #3358
I think it makes sense to at least mention that it's an additional SKU. As for pointing them to a public licensing doc... I don't know where such a document lives but will work with our biz team to find out.

[2021-05-22 10:32] yeltson opened #3364 "wrong max value for utcdatetime"
the min and max value for utcdatetime is given the same value
_"The minimum value is 1900-01-01T00:00:00, and the maximum value is 1900-01-01T00:00:00"_

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 65d8f16f-8485-af7c-328f-d93e4a9f9c0a
* Version Independent ID: 82ec6b85-db95-7c4b-1f67-37395a137206
* Content: [X++ Prim

[2021-05-24 10:14] gagangarg opened #3366 "Page not updated since 2017"
The page indicates that Commerce Scale unit supports MPOS but I think it now mandatory for both MPOS and CPOS. Wondering if there has been no change in architecture since 2017 and if this can be updated

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0d8a2537-5c77-cb33-2bf5-0788c584b7c6
* Version Independent ID: b323e22

[2021-05-24 12:45] sericks007 commented on #3364
@yeltson, thanks for providing this feedback.

@RobinARH, please review.

[2021-05-24 12:47] sericks007 commented on #3366
@gagangarg, thanks for providing this feedback.

@RobinARH, please review.

[2021-05-24 13:39] #3345 closed

[2021-05-24 14:24] tonyafehr commented on #3358
Bug 585602 logged to track this issue.

[2021-05-24 14:24] tonyafehr commented on #3349
Bug 585601 logged to track this issue.

[2021-05-24 14:30] tonyafehr commented on #3354
Bug 585607 logged to track this issue.

[2021-05-24 14:30] tonyafehr commented on #3352
Bug 585606 logged to track this issue.

[2021-05-24 14:33] tonyafehr commented on #3346
Bug 585608 logged to track this issue.

[2021-05-24 14:42] tonyafehr commented on #3353
Bug 585611 logged to track this issue.

[2021-05-24 14:44] tonyafehr commented on #3355
Bug 585612 logged to track this issue.

[2021-05-24 14:46] danielzook opened #3367 "Where should the latest version of SSMS be installed?"
This article has an important note that states: "It's very important that you install the latest version of SQL Server Management Studio before you start this process: Download SQL Server Management Studio."

... but it doesn't specify *where* this version should be installed.  On the D365 Dev VM?  On the machine where the AX database is located?  Both?

---
#### Document Details

⚠ *Do not edit t

[2021-05-24 15:01] sericks007 commented on #3367
@danielzook, thanks for providing this feedback.

@laneswenka, please review and update the documentation as needed.

[2021-05-24 16:23] Eshaghzadeha commented on #3223
Hi @kamaybac  and @kweekley

As a consequence of this issue, SAF-T report does not work properly. I have several issues that Microsoft resources take the One-Voucher article as a source that one-voucher is not allowed to use in D365FO and If it comes any fail based on this on SAF-T(NO) report will not be supported by Microsoft.
I mean that Microsoft can managed this report, SAF-T(NO), different ba

[2021-05-24 19:41] josaw1 commented on #3349
@anpurush please help with this. Thanks.

[2021-05-25 15:54] ronsonntag54 commented on #1557
Not impressed. Going on 1.5 years with no follow-up. I have seen numerous comments all over the web of consultants having problems with Data Entity loading order. Apparently Microsoft does not consider this issue important.

[2021-05-25 17:21] geortan opened #3368 "Export to Data Lake Installed but Enablement wont persist"
I have installed the Export to Data Lake Add-in to my uat environment. I have then proceeded to set up the data connections necessary for the export to data lake function. I get a successful Test to Azure Key Vault as well as to Azure Storage. I click the "Enable Data Lake Integration" toggle to yes and then save. If I refresh the screen the toggle is then set back to No? Furthermore when go to ad

[2021-05-25 19:39] ronsonntag54 opened #3369 "Need comprehensive list of Data Entity loading order - templates do not cover enough"
[Enter feedback here]
The loading order for Data Entities is critical. Even though Microsoft indicates that the default templates contain the loading order for Data Entities, many entities are missing and some have the wrong loading order.

The reports section of this page should list a report that comprehensively presents the Unit, Level, and Sequence for each Data Entity and this needs to be kep

[2021-05-25 20:02] sericks007 commented on #3368
Thanks for contacting us. Unfortunately, we're unable to handle Support requests for the product here. To contact Support, consider one of the options described here: [Support contact options](https://docs.microsoft.com/en-us/dynamics365/unified-operations/dev-itpro/lifecycle-services/lcs-support). In particular, you might want to go to the [Dynamics 365 community page](https://community.dynamics.

[2021-05-25 20:02] #3368 closed

[2021-05-25 20:04] sericks007 commented on #3369
@ronsonntag54, thank you for providing this feedback.

@RobinARH, please review.

[2021-05-26 09:13] thedynamicsgirl opened #3370 "POS not Pos"
[HQ Device Setup

For Store Commerce, a new application type named Store Commerce is added to Retail and Commerce > Channel Setup > Pos Setup > ……. Can we change the Pos to POS???]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 45ebad3c-1d63-3e3d-4b0c-84acb7cb84ef
* Version Independent ID: b5a17324-a2fc-48a6-28e0-db115

[2021-05-26 10:44] Praveenkumarboy opened #3371 "UAE region availability"
Provide some more information on other regions availability roadmap.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: df8e9efc-9258-3876-e05f-20d35c907274
* Version Independent ID: 4b5041ec-4a48-0565-e47a-b972e65a6d60
* Content: [System requirements and prerequisites - Finance & Operations | Dynamics 365](https://docs.mi

[2021-05-26 11:25] sericks007 commented on #3370
@thedynamicsgirl, thanks for pointing that out!  I've changed that reference to "POS".  That change will be published later today.  Thanks again!

[2021-05-26 11:25] #3370 closed

[2021-05-26 11:27] sericks007 commented on #3371
@Praveenkumarboy, thank you for providing this feedback.

@sabinn-msft, please review and update the content appropriately.

[2021-05-26 15:23] kamaybac commented on #3331
@TCM-NEPT , thank you for reporting this issue. I have passed it on for consideration.

[2021-05-26 15:24] kamaybac commented on #3331
Bug 586367 created to track this issue.

[2021-05-26 15:30] kamaybac commented on #3332
Bug 586387 created to track this issue

[2021-05-26 15:35] kamaybac commented on #3334
Bug 586392 created to track this issue

[2021-05-26 16:11] kamaybac commented on #3335
Bug 586406 created to track this issue

[2021-05-26 16:14] kamaybac commented on #3336
BUG 586408 created to track this issue

[2021-05-26 16:17] kamaybac commented on #3337
BUG 586413 created to track this issue.

[2021-05-26 16:30] kamaybac commented on #3350
BUG 586417 created to track this issue

[2021-05-26 16:39] kamaybac commented on #3351
BUG 586419 created to track this issue

[2021-05-26 17:56] josaw1 commented on #3336
@samjarawan can you help with this?

[2021-05-27 04:22] jeevanbalanmanoj commented on #3194
@MilindaV2  Can you please resolve this at the earliest?

[2021-05-27 12:48] danielzook opened #3374 "Note in "Download and restore the backup to the development environment" section is out of date"
https://docs.microsoft.com/en-us/dynamics365/fin-ops-core/dev-itpro/migration-upgrade/data-upgrade-2012#download-and-restore-the-backup-to-the-development-environment

The note at the top of this section states "Developer environments that are hosted by Microsoft have limited drive space."  As of November 2020, Microsoft no longer hosts Dev environments and instead customers need to pay to have Az

[2021-05-27 12:51] sericks007 commented on #3374
@danielzook, thank you for providing this feedback.

@laneswenka, please review and update the content, as needed.

[2021-05-27 13:07] curtiswatson opened #3375 "Incorrect Key Vault Secret Config"
Under Procedure 2, step 4, it states incorrectly that the "connection string" should be placed under the key vault secret when it should be the "key 1" value.

"Select BE-key vault > Secrets > Generate/Import. Enter a name for your secret, and paste the event grid connection string that you saved earlier."

should be

"Select BE-key vault > Secrets > Generate/Import. Enter a name for your secret,

[2021-05-27 13:23] #3305 closed

[2021-05-27 13:30] danielzook opened #3376 "Conflicting directions between this article and another article this one refers to"
In the section "Download and restore the backup to the development environment"
https://docs.microsoft.com/en-us/dynamics365/fin-ops-core/dev-itpro/migration-upgrade/data-upgrade-2012#download-and-restore-the-backup-to-the-development-environment

The last sentence states: "Finally, rename the newly restored AX 2012 database AXDB."

However, in the next section, titled "Run the data upgrade deploy

[2021-05-27 17:16] samjarawan commented on #3355
Hi, if you look at the "Event based data actions" document you'll see a code sample for embedding a data action call from within a modules code: https://docs.microsoft.com/en-us/dynamics365/commerce/e-commerce-extensibility/event-based-data-actions .

I hope that helps,
Sam

[2021-05-27 17:57] #3355 closed

[2021-05-27 23:00] RobinARH commented on #3235
I updated to text to note that code maps are available in the Enterprise edition.

[2021-05-27 23:00] #3235 closed

[2021-05-27 23:39] RobinARH commented on #1089
I added a link to this topic to the [X++ data selection and manipulation overview](https://docs.microsoft.com/en-us/dynamics365/fin-ops-core/dev-itpro/dev-ref/xpp-data/xpp-data-home-page) topic:

[Common misconception about Exists and Notexists joins](https://community.dynamics.com/365/financeandoperations/b/peter-s-x-developer-blog/posts/common-misconception-about-exists-and-notexists-joins)

It

[2021-05-27 23:39] #1089 closed

[2021-05-28 04:25] pvillads commented on #3235
Codemaps ae availabe for C#, but not or X++

From: Robin Reynolds-Haertle ***@***.***>
Sent: Thursday, May 27, 2021 4:01 PM
To: MicrosoftDocs/dynamics-365-unified-operations-public ***@***.***>
Cc: Peter Villadsen ***@***.***>; Mention ***@***.***>
Subject: Re: [MicrosoftDocs/dynamics-365-unified-operations-public] Article refers to Code Map, but that is not an option in the Dev box (#3235)

I upd

[2021-05-28 11:40] tacklers opened #3377 "Power BI setup on Azure is out of date"
The text refers
Click Settings > Required permissions > Add > Select an API > Power BI Service (Power BI).
Settings does not now exist
It should be API Permissions>Add a permission>Find Power BI Service etc.
Same thing with Settings Keys, it should be certificates and secrets.
Thanks Richard
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.micr

[2021-05-28 11:45] dgriffiths-bd commented on #3355
Hi Sam,

I was trying to help you improve the documentation, not asking for help
specifically with an issue.

... And I'm afraid the link you sent didn't help as it is not an event
based data action I'm implementing, it's a page load data action. Event
based data actions are called in a very different way to page load data
actions - this is not clear from the documentation and I had to learn
throu

[2021-05-28 14:27] sericks007 commented on #3375
@curtiswatson, thank you for providing this feedback!

@Sunil-Garg, please review and update the content, as needed.

[2021-05-28 14:29] sericks007 commented on #3376
@danielzook, thank you for providing this feedback!

@laneswenka, please review and update the content, as needed.

[2021-05-28 14:30] sericks007 commented on #3377
@tacklers, thank you for providing this feedback!

@MilindaV2, please review and update the content.

[2021-05-28 15:14] tacklers commented on #3377
Hi,

Please also correct the experience for adding tiles and dashboards as it’s also changed. See attached.

Cheers, Richard

From: Sally Erickson ***@***.***>
Sent: 28 May 2021 15:31
To: MicrosoftDocs/dynamics-365-unified-operations-public ***@***.***>
Cc: Richard Collins ***@***.***>; Mention ***@***.***>
Subject: Re: [MicrosoftDocs/dynamics-365-unified-operations-public] Power BI setup on Azure

[2021-05-28 16:31] RobinARH commented on #3235
I removed it.

[2021-05-28 17:11] jopankow opened #3378 "List of services for a self-service environment are different"
Hello team! I have a few suggestions for this page:

1. For a self-service environment, the only options available are: AX, DIXF and MR. Please update list of services. For customers still not on self-service, you may wish to maintain two separate lists.
2. It would also be good to add details about what each selection does. For example, the "AX" option would be the equivalent of restarting the AO

[2021-05-31 12:08] jprattCanada opened #3381 "Does the attract export contain resumes? This isn't mentioned in the doc. Thanks."
Does the attract export contain resumes? This isn't mentioned in the doc. Thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a56a5922-3d15-f788-ba50-891221209439
* Version Independent ID: 64297d62-f194-00f3-9daf-badc6ce88b09
* Content: [Export data from Attract and Onboard - Talent | Dynamics 365](https://docs.micr

[2021-05-31 12:09] jprattCanada commented on #3381
If the export doesn't included resumes, is there a tool to extract them? thanks.

[2021-05-31 14:28] jdippenaar opened #3382 "Missing cookie lifetimes"
Would be really helpful to get the cookie lifetimes like here:
https://docs.microsoft.com/en-us/powerapps/maker/portals/admin/portal-cookies

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e3fa3aab-af7f-f64a-9e2d-a21ea89bb8a9
* Version Independent ID: f83579fe-bc30-0c4d-2b75-84db59835e16
* Content: [Cookie compliance -

[2021-06-01 12:58] sericks007 commented on #3378
@jopankow, thank you for providing these suggestions!

@laneswenka, please review and update the content, as suggested.

[2021-06-01 13:55] jopankow opened #3383 "Please update SSRS information"
Hello,

The "SQL Server Reporting Services" section here:

https://docs.microsoft.com/en-us/dynamics365/fin-ops-core/fin-ops/get-started/hardware-sizing-on-premises-environments#sql-server-reporting-services

Is no longer accurate with the new support for SSRS high availability as described here:

https://docs.microsoft.com/en-us/dynamics365/fin-ops-core/dev-itpro/deployment/onprem-ssrsha

Also ta

[2021-06-01 15:04] atardiftmx opened #3384 "Incorrect place holder for portal URL"
In the section : https://docs.microsoft.com/en-us/dynamics365/supply-chain/procurement/set-up-maintain-vendor-collaboration#branch-to-provision-new-users

Step 5 recommends inserting a place holder for the portal URL. It is not valid. it should be without any space.

Correct place holder: %portalURL%

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ G

[2021-06-02 07:05] TimoTenni opened #3385 "This link to the documentation is no longer valid"
For more information, see SAF-T - VMI.

The updated one is https://www.vmi.lt/evmi/en/home

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 132df4cc-1a93-896a-5551-dbed3cc7f4af
* Version Independent ID: b37b12a7-ea57-57f3-59c4-585630c85b40
* Content: [Standard Audit File for Tax (SAF-T) for Lithuania - Finance | Dynamics

[2021-06-02 08:22] kamaybac commented on #3384
@atardiftmx , thank you for reporting this issue. I have updated the file and the change should go live later today.

[2021-06-02 11:39] sericks007 commented on #3364
Bug 588188 has been logged to track this issue.

[2021-06-02 11:41] sericks007 commented on #3366
Bug 588191 has been logged to track this issue.

[2021-06-02 11:45] sericks007 commented on #3367
Bug 10059249 has been logged to track this issue.

[2021-06-02 11:48] sericks007 commented on #3369
Bug 588194 has been logged to track this issue.

[2021-06-02 11:54] sericks007 commented on #3371
Bug 588199 has been logged to track this issue.

[2021-06-02 11:57] sericks007 commented on #3374
Bug 10059276 has been logged to track this issue.

[2021-06-02 12:09] sericks007 commented on #3375
Bug 588200 has been logged to track this issue.

[2021-06-02 12:12] sericks007 commented on #3376
Bug 10059315 has been logged to track this issue.

[2021-06-02 12:16] sericks007 commented on #3377
Bug 588202 has been logged to track this issue.

[2021-06-02 12:19] sericks007 commented on #3378
Bug 10059327 has been logged to track this issue.

[2021-06-02 14:12] #3384 closed

[2021-06-02 15:22] sabinn-msft commented on #3371
@Praveen - We already have an email thread on this, right? Not sure why it warrants a duplicate effort.

[2021-06-02 22:01] yukonpeegs commented on #3332
In reading the blog I don't think anything is needed. We can close this with no change.

[2021-06-03 08:45] miursu opened #3387 "Documentation incorrect"
Dear Team
Please correct the documentation, section
Create a number sequence for the simulated general journal transfer
Go to General ledger > Ledger setup > General ledger parameters.
On the Number sequences tab, set the sequence to Simulation general journal transfer.

There is no sequence to  Simulation general journal transfer option in GL parameters. The user needs to create a continuous numb

[2021-06-03 09:03] kamaybac commented on #3332
@yukonpeegs thanks for following up. I'll close both this and the bug.

[2021-06-03 09:03] #3332 closed

[2021-06-03 18:01] jopankow opened #3389 "Please list the Platform Update version"
Hello,

Since there are many areas in the Docs site that refer to a specific D365 Platform Update version, can we please have the PU number added to this grid for easy reference?

https://docs.microsoft.com/en-us/dynamics365/fin-ops-core/fin-ops/get-started/public-preview-releases#targeted-release-schedule-dates-subject-to-change

Thanks!

---
#### Document Details

⚠ *Do not edit this section. It

[2021-06-03 18:04] mugunthanm commented on #3366
Updated the document, hopefully it will reviewed and published soon.

[2021-06-03 19:02] mugunthanm commented on #3336
Thanks for the feedback, we removed the online store publishing content from the doc site because it's not applicable anymore.

[2021-06-03 20:04] jopankow commented on #3378
FYI I did find a Doc for which services can be restarted on a self-service environment: https://docs.microsoft.com/en-us/dynamics365/fin-ops-core/dev-itpro/deployment/maintenanceoperationsguide-newinfrastructure#restart-services

Maybe we can combine the two articles (the original one I mentioned plus this one) to avoid people finding just one or the other and creating confusion?

[2021-06-03 22:36] laneswenka commented on #2875
A note has been added regarding the removal of Tier1 from Nov 2020.

[2021-06-03 22:42] laneswenka commented on #2907
Print management settings should not be lost as part of upgrade.  Those settings however are deleted whenever a database import or refresh is performed, so it would be important that your upgrade followed the steps as outlined here so that you can upgrade directly against your Sandbox environment:
https://docs.microsoft.com/en-us/dynamics365/fin-ops-core/dev-itpro/database/replication-setup

@seri

[2021-06-03 22:43] laneswenka commented on #2909
Hello yes this applies to D365 Commerce as well, since it is based on Finance & Operations codebase today.

[2021-06-03 22:43] laneswenka commented on #2909
@RobinARH  this can be resolved.

[2021-06-03 22:45] laneswenka commented on #2933
This doesn't sound correct - @jorisdg  could you confirm that is not valid?  Customers build environment should always be equal to or older than the target Sandbox/Production environments.  And because we don't allow overlayering, the risk of moving binaries from a customer's customization package from build -> Sandbox -> Prod should not be happening.

[2021-06-03 22:51] laneswenka commented on #2964
A PR is out for this that solves another reported issue.  @kfend this can be resolved.

[2021-06-03 23:00] laneswenka commented on #3025
@ronsonntag54 what impacts are you referring to?  I am not readily aware of any adverse impact by turning maintenance mode on and then off again, that would continue to affect batch or DIXF.  The article does state "While maintenance mode is on, only system administrators and users who have the Maintenance mode user role can sign in to the system"

[2021-06-03 23:01] laneswenka commented on #3030
@tonyafehr  I don't manage the location of this file.  Could you work with @jorisdg  on this please?

[2021-06-03 23:30] jorisdg commented on #3030
On the VHD there is a shortcut on the desktop. It appears this topic here is under the "vm running local" section but it's not very clear. I can clarify it in the doc that on a VM deployed through LCS there is no shortcut on the desktop.

[2021-06-03 23:42] jorisdg commented on #2933
This is wrong and even with over-layering would be wrong. If nothing else, LCS will plain refuse to deploy the package if it's coming from a newer version. There are no "files copied" other than the X++ binaries you're trying to deploy, otherwise backward compatibility wouldn't work either.

I agree with your proposed statement that dev/build should be equal or older for compatibility. The stateme

[2021-06-04 02:07] ronsonntag54 commented on #3025
Sorry, this is so long ago that I don't remember the context. Might as well close this if there are no consequences.

[2021-06-04 13:24] #2964 closed

[2021-06-04 16:44] RobinARH commented on #3389
@sericks007 Hi Sally - Can you consider adding the PU numbers? Thanks.

[2021-06-04 16:48] RobinARH commented on #3387
@Anasyash - Can you take a look? Thanks.

[2021-06-04 16:50] RobinARH commented on #3385
@liza-golub and @kfend  - Can you verify and replace the link? Thanks.

[2021-06-04 16:53] RobinARH commented on #3383
@faix @sericks007 - Is this fixed now? If so, please close this issue. Thanks!

[2021-06-04 16:54] faix commented on #3383
yes, its addressed by the linked PR @RobinARH . I don't have permissions to close.

[2021-06-04 16:54] RobinARH commented on #3382
@BrianShook - Can you take a look? Thanks.

[2021-06-04 16:55] RobinARH commented on #3383
Thanks for the quick reply, I'll close it.

[2021-06-04 16:55] #3383 closed

[2021-06-04 16:57] RobinARH commented on #3381
@tonyafehr - Hi Tonya - Can you take a look? Thanks.

[2021-06-04 22:09] RobinARH commented on #3030
The updated doc will go live this evening.

[2021-06-04 22:09] #3030 closed

[2021-06-04 22:19] #2909 closed

[2021-06-04 23:12] #3336 closed

[2021-06-07 13:36] #3025 closed

[2021-06-07 19:18] ItCommitsTheCode opened #3391 "Where is 'get-active-cart'?"
This article mentions the data action `get-active-cart`, yet this action is not distributed with @msdyn365-commerce-modules.  Curious.  Perhaps its alternative can be recommended?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e6b45b40-e138-dfda-8228-095eec6eda77
* Version Independent ID: c457312c-aea5-eb84-ed5b-e2f318

[2021-06-07 20:49] #2875 closed

[2021-06-07 20:49] #2961 closed

[2021-06-07 20:49] #2973 closed

[2021-06-07 20:49] #2996 closed

[2021-06-07 20:49] #3036 closed

[2021-06-08 03:50] laneswenka commented on #2933
Changes are in PR, thanks for the quick confirmation @jorisdg !

[2021-06-08 04:01] laneswenka commented on #3049
Changes in PR, thanks!

[2021-06-08 04:03] laneswenka commented on #3063
Have made a clear callout to the Rebuild section.  Changes in PR, thanks!

[2021-06-08 04:05] laneswenka commented on #3101
Updates in PR

[2021-06-08 04:08] laneswenka commented on #3134
Made some minor changes, out in PR

[2021-06-08 11:47] Anasyash commented on #3387
Hello. When you enable the feature **General ledger simulations**, you should be able to see the line **Simulation general journal transfer**

[2021-06-08 12:51] #3134 closed

[2021-06-08 16:38] josaw1 commented on #3346
Topic will be updated later today. Thanks.

[2021-06-08 16:38] #3346 closed

[2021-06-08 17:11] #3387 closed

[2021-06-08 21:08] tonyafehr commented on #3133
The documentation will be updated shortly.

[2021-06-08 21:08] #3133 closed

[2021-06-08 21:08] tonyafehr commented on #3267
The documentation will be updated shortly.

[2021-06-08 21:08] #3267 closed

[2021-06-10 08:26] mueckeflo opened #3394 ""Match all price groups"-feature is not mentioned in the discount documentation"
Hi,
This article doesn't yet contain information regarding the "Match all price groups" feature:

![image](https://user-images.githubusercontent.com/3601605/121491124-f58fef80-c9d5-11eb-90cb-aedfa29346bb.png)

Can you please add this to the article?

Thanks and best regards,
Florian

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linkin

[2021-06-10 08:57] nspiteri opened #3395 "Powerplatform integration on Tier1 machines"
I tried following the options for setting up Powerplatform integration.  The environment was deployed but there was no new dataverse environment created.  Also when I go to environment details, I do not see the option to set it up.

The machine I deployed was a tier 1, Customer Managed.  If I check our tier 2, self-service environment, I do have the option to set up Powrplatform integration in lcs

[2021-06-10 13:23] Sunil-Garg commented on #3395
@***@***.***> can you have a look pls?

________________________________
From: Norbert Spiteri ***@***.***>
Sent: Thursday, June 10, 2021 1:58:08 AM
To: MicrosoftDocs/dynamics-365-unified-operations-public ***@***.***>
Cc: Sunil Garg ***@***.***>; Mention ***@***.***>
Subject: [MicrosoftDocs/dynamics-365-unified-operations-public] Powerplatform integration on Tier1 machines (#3395)

I tried follow

[2021-06-10 20:02] #2933 closed

[2021-06-10 20:02] #3146 closed

[2021-06-10 21:07] hburgh1 opened #3396 ""Cheat Sheet" hypelink is not valid"
The "Cheat Sheet" reference does not have a valid URL.
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 55c7ea05-69b5-1c5e-eb55-07066a1b2d17
* Version Independent ID: b75e9d43-6590-60bd-ca34-83c40abd9ae6
* Content: [Set up new environments, Azure DevOps, and branches for projects - Commerce | Dynami

[2021-06-13 01:57] ronsonntag54 opened #3398 "Select Open to view list of global ER configurations results in authentication error"
[Enter feedback here]
Step 6 of the Open Configurations Repository instructions results in an authentication failure. What account, exactly, are you looking for when the dialog pops up to authenticate? Corporate account, personal account, educational account? You need to address the pop-up that requires authentication:

[Click here to connect to Regulatory Configuration Service](https://login.wind

[2021-06-14 09:54] gertvdh opened #3399 "pre-requisite missing"
This page needs some more information regarding pre requisites: the lcs project should not be a "ax2012 upgrade" type, because you will get an error message when trying to import a bacpac file. see https://www.yammer.com/dynamicsaxfeedbackprograms/threads/1250193350320128

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID:

[2021-06-14 10:00] gertvdh opened #3400 "More metadata info available"
This endpoint is now also giving more information:

- Public entities
- Public enumerations

documentation should be appended for this

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 133cc363-a550-5cbf-622a-f0bd3da87eb6
* Version Independent ID: a7b1ce5d-ba20-b723-e3b0-23a9b79cde9d
* Content: [Service endpoints overview

[2021-06-14 13:38] elenchence opened #3401 "Dev environment info"
There's a sentence: One Tier 1 environment is free with your Dynamics 365 subscription. - Since this is no longer the case, it creates confusion with customers. Please update the content.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 55c7ea05-69b5-1c5e-eb55-07066a1b2d17
* Version Independent ID: b75e9d43-6590-60bd-ca3

[2021-06-14 14:53] laneswenka commented on #3399
Hello! Importing a bacpac is not the correct process for AX2012 upgrade so that sounds correct. Let me know if I am not understanding you correctly!

Lane

Sent from my iPhone

On Jun 14, 2021, at 4:54 AM, gertvdh ***@***.***> wrote:

﻿

This page needs some more information regarding pre requisites: the lcs project should not be a "ax2012 upgrade" type, because you will get an error message when

[2021-06-14 14:58] gertvdh commented on #3399
well, it might help to know what to do when you get the error and why. This feature worked great for us in the past years, and from this weekend we get the error. Our project had that AX2012 upgrade property on from the start and it never complained before. It might help other people getting the same error suddenly

[2021-06-14 15:31] laneswenka commented on #3399
Point well taken, let me review the error message text and see if we can make some engineering improvements there.

I don’t see any harm in adding a note here as well, thanks for reaching out to us!

Lane

Sent from my iPhone

On Jun 14, 2021, at 9:59 AM, gertvdh ***@***.***> wrote:

﻿

well, it might help to know what to do when you get the error and why. This feature worked great for us in the p

[2021-06-14 17:47] hasrivas commented on #3381
In summary, we do export all candidate attachments as part of the data export, the location of the attachment depends on a couple of factors: a) if the candidate hasnt been deleted b) how was candidate added to a job. We can update the doc to make it clearer.

@tonyafehr can we add to this doc in the table describing the zip folder contents, for the line-item: "job openings" - "All created jobs. D

[2021-06-14 17:47] hasrivas commented on #3381
Assigning the issue back to @tonyafehr for the corresponding doc update.

[2021-06-14 21:59] pbonny1 opened #3402 "Fixed unit assignment, Fixed unit"
It would be great to have descriptions of functionality for Fixed unit assignment and Fixed unit fields on the Organisation Administration>Setup>Units>Units> General tab. Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 54259aca-1ed7-cc7a-c898-65f065aba0e7
* Version Independent ID: ae89e895-7f44-90f1-6cdf-1e434f3b

[2021-06-15 00:25] josaw1 commented on #3402
Thanks for contacting us. Unfortunately, we're unable to handle requests for the product here. Consider adding your request to the [Ideas site](https://experience.dynamics.com/ideas/).

[2021-06-15 00:31] pbonny1 commented on #3402
Hi again,
My request was not a product request as those fields are in the product already.
But there is no documentation about them in the article

Thanks

From: josaw1 ***@***.***>
Sent: Tuesday, 15 June 2021 12:26 pm
To: MicrosoftDocs/dynamics-365-unified-operations-public ***@***.***>
Cc: Pierre Bonny <pbonny@Flintfox.com>; Author ***@***.***>
Subject: Re: [MicrosoftDocs/dynamics-365-unified-op

[2021-06-15 01:10] steevegilbert opened #3403 "Replace ADAL code example with MSAL"
Since it's recommended to move from ADAL to MSAL, I think example provided should be MSAL.
Thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 133cc363-a550-5cbf-622a-f0bd3da87eb6
* Version Independent ID: a7b1ce5d-ba20-b723-e3b0-23a9b79cde9d
* Content: [Service endpoints overview - Finance & Operations | Dynamics 3

[2021-06-15 07:20] NickSelin commented on #3398
Hello @ronsonntag54.
Thank you for your feedback. You must use the same account as you used to sign-in to Finance.
You have not provided the exact error message and application version details. Possibly, it happens due to the following platform code defect: https://fix.lcs.dynamics.com/Issue/Details?kb=4603542&bugId=546672&dbType=3. For more details and assistance in resolving this issue, please,

[2021-06-15 14:44] Doriano opened #3404 "Broken 'request a callback' link"
Hi,

There's a broken link
https://dynamics.microsoft.com/en-gb/get-started/?appname=fraudprotection

Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7e29843f-4b7d-5b4b-6a71-d468e504f63c
* Version Independent ID: f72648ff-10e0-340e-6f51-b8c3766e1b6f
* Content: [Dynamics 365 Fraud Protection integration with Dynam

[2021-06-15 16:09] jwilliams-bhsolutions opened #3406 "HistoricalDemandData Sample File Link is Broken"
The link to the document on this page is broken.  See the example section: https://docs.microsoft.com/en-us/dynamics365/supply-chain/master-planning/import-historical-data#example where it says "Download the HistoricalDemandData.".  HistoricalDemandData is supposed to be a sample but redirects to https://docs.microsoft.com/en-us/dynamics/s-e/ which is a blank page.

Thanks!

---
#### Document Deta

[2021-06-16 00:12] josaw1 commented on #3403
Thanks for the feedback. @Sunil-Garg can you please consider this input? Thanks.

[2021-06-16 00:13] josaw1 commented on #3404
Thanks for the feedback! I'll get this fixed soon.

[2021-06-16 00:14] josaw1 commented on #3406
Thanks for the feedback. @kamaybac can you please address this issue?

[2021-06-16 05:47] vamkathula opened #3407 "Mapping methods calling not mentioned."
Hi Michel,

We need more clarity on method calling

1. ISV2SalesPurchTableInterface is calling in ISV2SalesPurchTableInterface_Extension but not mentioned where to call this method.
2.  Could you please provide one example If we are adding a map to a new custom table how it behaves?. we did POC on this but getting a null instance even we are getting a proper table id.

---
#### Document Details

⚠

[2021-06-16 08:03] dmitribodiu commented on #483
hello @PashaMohammed ! Did you find the answer to your question? I tried to call Odata with Prefer header, but no luck... No delta is coming back...

[2021-06-16 09:41] MichaelFruergaardPontoppidan commented on #3407
Hi,

Most likely you need to flush the SysExtensionCache. See here for example: [D365] Solve SysExtension cache issues / flush cache (robscode.onl)<https://robscode.onl/d365-solve-sysextension-cache-issues/>

The extension scenario described in the article explains how to add a new method to the map via an extension.

So callers would do:
SalesPurchTable. salesPurchTableInterface().ISV2SalesPurchT

[2021-06-16 10:51] Strikx opened #3409 "Update Configure PowerBI.com integration"
Configure Power BI.com integration documentation is outdated and it needs to be updated, Enable API permission in Registration process (https://docs.microsoft.com/en-us/dynamics365/fin-ops-core/dev-itpro/analytics/configure-power-bi-integration#registration-process) contains the old screenshot of API permission from Azure Portal.
Some of the permission mentioned in the document no longer available

[2021-06-16 13:58] tonyafehr commented on #3381
This topic will be updated later today.

[2021-06-16 13:58] #3381 closed

[2021-06-16 16:10] thedynamicsgirl opened #3411 "EnableRequestProtection and Non incremetal capture payment methods in Adyen payment connector Payment services"
[I can see two new fields EnableRequestProtection & Non incremetal capture payment methods
have been added to the payment services screen / Hardware profile > EFT services in the 10.0.18 update of D365. Can some information around these fields be included in this article]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID:

[2021-06-17 01:19] DKobayashi-ykgw opened #3412 "Links to 10.0.19 and 10.0.20 are missing"
In the list, links to 10.0.19 and 10.0.20 are missing.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6c023fc2-87cd-c17b-5578-dc830ab6b015
* Version Independent ID: 73ff0eda-6e9c-f859-da8a-01acf5c31908
* Content: [What's new or changed in Dynamics 365 Supply Chain Management - Supply Chain Management | Dynamics 365](ht

[2021-06-17 04:14] vamkathula commented on #3407
Hello MFP,

Thanks for sharing the information.

it's working fine now.

Thanks,
Venkateswarrao
9160057777

________________________________
From: Michael Fruergaard Pontoppidan ***@***.***>
Sent: Wednesday, June 16, 2021 3:12 PM
To: MicrosoftDocs/dynamics-365-unified-operations-public ***@***.***>
Cc: vamkathula ***@***.***>; Author ***@***.***>
Subject: Re: [MicrosoftDocs/dynamics-365-unified-op

[2021-06-17 12:51] #3407 closed

[2021-06-17 13:00] kamaybac commented on #3412
@DKobayashi-ykgw , thanks for getting in touch. This page only lists versions that are generally available, which is why the preview releases (10.0.20 and, until today, 10.0.19) are not listed here (though they are shown in the left-column navigator). I will be adding the link to 10.0.19 later today.

[2021-06-17 13:00] #3412 closed

[2021-06-17 21:27] josaw1 commented on #3409
Thank you for your feedback. @MilindaV2 can you please take a look?

[2021-06-17 21:28] josaw1 commented on #3411
Thank you for your feedback. @Reza-Assadi can you please take a look?

[2021-06-19 21:01] OksanaKovaliova opened #3416 "Hi Dear Team! When I am checking for a new sealed POS installer, all versions are marked with Preview. Does it mean that new installers should not be used in Production yet?"
****
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c22f987b-3d20-554d-467a-cdcdf404b0bd
* Version Independent ID: 0160ae8d-09c7-d54c-83bf-10fbec9842e9
* Content: [Mass deployment of sealed Commerce self-service components - Commerce | Dynamics 365](https://docs.microsoft.com/en-us/dynamics365/com

[2021-06-19 21:11] OksanaKovaliova opened #3417 "Hi Dear Team! In a sample of MPOS installation CMD command the word 'install' must be missing? POS.exe install <options> Could you, please, check?"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c22f987b-3d20-554d-467a-cdcdf404b0bd
* Version Independent ID: 0160ae8d-09c7-d54c-83bf-10fbec9842e9
* Content: [Mass deployment of sealed Commerce self-service components - Commerce | Dynamics 365](https://docs.microsoft.com/en-us/dynamics365/commerce

[2021-06-20 14:35] peteregliambit opened #3418 "Configure the maximum number of batch threads"
According Microsoft Ticket 2106160050000151 the number batch threads is 16.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 587b06db-be99-4869-b8b9-977464b63f74
* Version Independent ID: 3e925d7e-eafc-1158-92e2-992d72d8f934
* Content: [Optimize data migration for Finance and Operations apps - Finance & Operations | Dyna

[2021-06-21 18:50] sericks007 commented on #3260
The documentation has been updated.

[2021-06-21 18:50] #3260 closed

[2021-06-21 19:09] josaw1 commented on #3304
Thanks for the feedback. I added a link to the FAQ from the What's New topic.

[2021-06-21 19:09] #3304 closed

[2021-06-22 08:46] jesperdybdahl opened #3420 "Maybe the example should be a form that actually use the described pattern, and not Custom pattern."
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7767de52-def6-7972-065a-77a531830135
* Version Independent ID: f0185847-9d92-073b-2497-cd2311a9bba6
* Content: [Advanced selection form pattern - Finance & Operations | Dynamics 365](https://docs.microsoft.com/en-us/dynamics365/fin-ops-core/dev-itpro/

[2021-06-22 10:52] kamaybac commented on #3416
@OksanaKovaliova , thank you for contacting us regarding this help topic. I have passed your comment on for consideration.

[2021-06-22 10:54] kamaybac commented on #3417
@OksanaKovaliova, thank you for contacting us regarding this help topic. I have passed your comment on for consideration.

[2021-06-22 10:57] kamaybac commented on #3418
@peteregliambit  , thank you for contacting us regarding this help topic. I have passed your comment on for consideration.

[2021-06-22 10:59] kamaybac commented on #3420
@jesperdybdahl  , thank you for contacting us regarding this help topic. I have passed your comment on for consideration.

[2021-06-22 18:00] skaue-ms commented on #3418
The default values for new environments for batch threads per AOS is still 4, even if the number of virtual cores is higher. Let me check with product group before I modify the guidance here. Setting the value to 8 and then increase by 2 with testing is still a valid approach.

[2021-06-22 20:02] josaw1 commented on #3402
BUG 593865 created to track.

[2021-06-22 20:04] josaw1 commented on #3403
BUG 593868 created to track.

[2021-06-22 20:05] josaw1 commented on #3404
@samjarawan can you please help with this?

[2021-06-22 20:07] josaw1 commented on #3404
BUG 593869 created to track.

[2021-06-22 20:09] josaw1 commented on #3406
BUG 593870 created to track.

[2021-06-22 20:11] josaw1 commented on #3409
BUG 593871 created to track.

[2021-06-22 20:13] josaw1 commented on #3411
BUG 593872 created to track.

[2021-06-22 21:57] glenturnbullazure opened #3421 "Undocumented -packagesroot parameter"
Where a custom model references an ISV model, if the -PackagesRoot parameter is not included, the following error occurs:
The source for referenced module '<referenced module name>' is missing from the model store. Please specify the -packagesRoot parameter to instead use binary metadata for referenced modules.

The solution was to add the following to the command line: -packagesroot=K:\AosService

[2021-06-23 07:21] KlaasDeforche opened #3424 "Update section API to get the list of execution errors - information incorrect"
Please update this section:
https://docs.microsoft.com/en-us/dynamics365/fin-ops-core/dev-itpro/data-entities/recurring-integrations#api-to-get-the-list-of-execution-errors
Recurring Integrations do not use execution id's so it is not possible to get the execution errors with this API out of the box.
The documentation makes it look like it's possible, so when designing integrations this is assumed

[2021-06-23 13:20] jopankow opened #3425 "The Download ETWManifest.zip link does not work"
Hello team,

Under the "Management Reporter" heading, the "Download ETWManifest.zip" link points to:

https://go.microsoft.com/fwlink/?linkid=864672

This link resolves to

https://mbs.microsoft.com/customersource/northamerica/365Enterprise/downloads/hot-fixes/365fopttroubleshootingdep

Which no longer works as the site has been decommissioned. Please update the link.

Tagging @faix as well for aw

[2021-06-23 14:20] kamaybac commented on #3421
@glenturnbullazure  , thank you for contacting us regarding this help topic. I have passed your comment on for consideration.

[2021-06-23 14:22] kamaybac commented on #3424
@KlaasDeforche , thank you for contacting us regarding this help topic. I have passed your comment on for consideration.

[2021-06-23 14:24] kamaybac commented on #3425
@jopankow  , thank you for contacting us regarding this help topic. I have passed your comment on for consideration.

[2021-06-23 14:25] tonyafehr commented on #3353
@andyNewnham, your feedback has generated a discussion about adding this content. I am closing this request, but please know that we're working on plans to make these updates in the future. Thank you!

[2021-06-23 14:25] #3353 closed

[2021-06-23 14:28] kamaybac commented on #3406
@jwilliams-bhsolutions , unfortunately, that sample file is no longer available. I am updating the topic to remove the reference to it.

[2021-06-23 14:31] #3406 closed

[2021-06-23 20:29] sericks007 commented on #3389
Thank you for providing this feedback.  We will refer to One Version service updates with the version number, such as 10.0.19 and 10.0.20.

[2021-06-23 20:29] #3389 closed

[2021-06-24 02:44] bvpb opened #3428 "Incorrect spelling of "principal""
"principle" is used multiple times on this page incorrectly. It should instead be "principal"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c84e15d4-bcac-038a-2b1e-8c456ee25bd9
* Version Independent ID: 478b5f33-f745-1df2-8fe0-da9e64233165
* Content: [Configure export to Azure Data Lake - Finance & Operations | Dynami

[2021-06-24 10:55] Ccarcelen opened #3429 "EMEA VAT EXCHANGE RATE is just available for these countries: **Czech republic CZ, Poland PL and Hungary HU.**"
Functionality described in this link (https://docs.microsoft.com/en-us/dynamics365/finance/localizations/emea-vat-exchange-rate) is just available for these countries: **Czech republic CZ, Poland PL and Hungary HU.**
It should be mentioned at the begining of the article, otherwise customers and partners might think that this funcionality applies to all European Countries.

---
#### Document Detail

[2021-06-24 11:10] sericks007 commented on #3428
@bvpb, thank you for bringing this to our attention!  I've corrected the incorrect spellings -- the updated content will be published later today.

[2021-06-24 11:10] #3428 closed

[2021-06-24 14:42] kamaybac commented on #3334
This issue has been addressed. Closing.

[2021-06-24 14:42] #3334 closed

[2021-06-24 15:58] RobinARH commented on #3382
Created bug 594446 to track this issue.

[2021-06-24 15:58] RobinARH commented on #3385
Created bug 594447 to track this issue.

[2021-06-24 16:18] RobinARH commented on #3385
The link is fixed.

[2021-06-24 16:18] #3385 closed

[2021-06-24 21:23] RobinARH commented on #3395
Created bug 594528 to track this issue.

[2021-06-24 21:23] RobinARH commented on #3396
Created bug 594529 to track this issue.

[2021-06-24 21:23] RobinARH commented on #3398
Created bug 594530 to track this issue.

[2021-06-24 21:23] RobinARH commented on #3399
Created bug 594538 to track this issue.

[2021-06-24 21:23] RobinARH commented on #3400
Created bug 594541 to track this issue.

[2021-06-24 21:23] RobinARH commented on #3401
Created bug 594543 to track this issue.

[2021-06-25 14:48] PalleAgermark opened #3431 "Remove "Preview" from the title"
I guess you can remove the word "Preview" from title by now.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: caa7bcc6-0bba-b6f3-d20e-92ac4cccdb32
* Version Independent ID: 0b2db86c-e326-febc-1443-cbac2f776887
* Content: [What's new or changed in Dynamics 365 Finance 10.0.19 (June 2021) - Finance | Dynamics 365](https://

[2021-06-25 16:26] MicroSri commented on #3335
Priority based scheduling is still not in GA. So this comment should stay; we have some more issues to be fixed here.

[2021-06-25 16:45] #3335 closed

[2021-06-28 15:29] DanBurkeMSFT opened #3438 "RSS Feeds"
For several years I have had an RSS feed for any new or changed documentation.  Recently, it has not been giving any feeds.  I have not had an RSS feed update since April.  Does something need to be updated for it to continue to work?

Dan.
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e2784be5-5cfc-88bd-6780-b41caad19

[2021-06-28 16:10] RobinARH commented on #3396
I removed the link, looks like that website is gone.

[2021-06-28 16:10] #3396 closed

[2021-06-28 16:19] bebeale commented on #3358
Hey @tonyafehr Are you aware of what licensing doc we can reference? I'm happy to make the change quick and easy. But I don't have a reference.

[2021-06-28 16:36] tonyafehr commented on #3358
@kurthatlevik-inspirit365, the information you are looking for should be in the [Licensing Guide](https://go.microsoft.com/fwlink/?LinkId=866544).

[2021-06-29 13:54] torbennehmer opened #3439 "Details about exceptions and finally/using missing"
I am missing the explicit statement, that finally clauses will be executed even in transaction scope. As this is opposed to any catches in the call tree, this should be mentioned.

Also, I would recommend mentioning that the dispose calls that using statements trigger will also be executed inside exceptions. This does work for X++ classes implementing System.IDisposable as well, which can also hel

[2021-06-29 14:36] HugoDJesus opened #3440 "Vendor admin role needs new privileges"
Hi,

We tested the new functionality but using the standard Vendor admin role, the external vendor user don't have access to add new banks accounts.

We reviewed the privileges associated with menu items and we did not find any standard privileges:

![image](https://user-images.githubusercontent.com/46756250/123815798-107bc280-d8f7-11eb-9698-f82e97629b3a.png)

BR
---
#### Detalles del documento

⚠

[2021-06-29 17:41] #1424 closed

[2021-06-29 17:43] #1478 closed

[2021-06-29 17:51] #1571 closed

[2021-06-29 17:51] #1675 closed

[2021-06-29 18:01] #1781 closed

[2021-06-29 18:03] #1892 closed

[2021-06-29 18:04] #1945 closed

[2021-06-29 18:05] #1959 closed

[2021-06-29 18:06] #2104 closed

[2021-06-29 18:06] #2168 closed

[2021-06-29 18:08] #2225 closed

[2021-06-29 18:09] #2246 closed

[2021-06-29 18:10] #2284 closed

[2021-06-29 18:12] #2342 closed

[2021-06-29 18:17] #2896 closed

[2021-06-29 19:33] #3358 closed

[2021-06-30 00:04] NathanDL opened #3442 "Second code block says it's X++, but it's JSON, like the first code block."
[Enter feedback here]
Second code block says it's X++, but it's JSON, like the first code block.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e59e1e94-0908-6c59-40b9-1cd9b9f9ef9a
* Version Independent ID: 5a684e15-decb-784b-74d0-4d8330fc1577
* Content: [Extend a module definition file - Commerce | Dynamics 365](https

[2021-06-30 01:42] patyandreolli opened #3444 "[VAGA HOME OFFICE] ANALISTA DESENVOLVEDOR ERP - MICROSOFT DYNAMICS"
ANALISTA DESENVOLVEDOR ERP - MICROSOFT DYNAMICS
Plataformas: Microsoft Dynamics AX 2012 e Dynamics 365 F&O
Vivência  em desenvolvimentos em projetos ou suporte nas plataformas  AX 2012/D365
Domínio da linguagem X++

Prazo: Indeterminado
Local: 100% Home Office
Envio de currículo: recrutamento@infovagas.com indicando no assunto “Dynamics - GS”
Em caso de dúvida ou informações=>  WhatsApp: https://w

[2021-06-30 17:23] jaestevan opened #3445 "Outdated / Misleading"
This topic is outdated. Batch Groups are not very relevant anymore and referring to different software being installed o the servers is heavily on-prem based. Would be nice to have this review rewritten to highlight changes to batch framework since AX 2012 and best practices to setup batches in the new cloud infrastructure.

---
#### Document Details

⚠ *Do not edit this section. It is required fo

[2021-07-01 16:23] v-kiarnd commented on #3440
We will file a bug for this and get it taken care of.

From: HugoDJesus ***@***.***>
Sent: Tuesday, June 29, 2021 7:37 AM
To: MicrosoftDocs/dynamics-365-unified-operations-public ***@***.***>
Cc: Kim Arndtson (TYLER TECHNOLOGIES INC) ***@***.***>; Mention ***@***.***>
Subject: [MicrosoftDocs/dynamics-365-unified-operations-public] Vendor admin role needs new privileges (#3440)

Hi,

We tested the

[2021-07-01 17:33] kfend commented on #3431
@PalleAgermark - thank you for the feedback. I have updated the topic and the changes will be published later today.

[2021-07-01 17:33] #3431 closed

[2021-07-01 17:35] kfend commented on #3438
@DanBurkeMSFT - Thank you for the question.
@edupont04 - can you please take a look at and address this question?

[2021-07-01 17:36] kfend commented on #3439
@torbennehmer - thank you for the feedback.
@RobinARH - can you take a look at and address this?

[2021-07-01 17:38] kfend commented on #3445
@jaestevan - thank you for the feedback.
@Peakerbl - can you please take a look at and address this as needed?

[2021-07-01 17:40] kfend commented on #3442
@NathanDL - thank you for the feedback.
@samjarawan - can you please take a look at this and update the topic as necessary?

[2021-07-01 17:52] kfend commented on #3444
There doesn't seems to be an issue provided here so closing this.

[2021-07-01 17:52] #3444 closed

[2021-07-01 18:07] RobinARH commented on #3439
I'll take a look.

[2021-07-02 06:55] edupont04 commented on #3438
Hello Dan,
Thank you for your feedback! You're right that the RSS feed is currently broken. We're working on a new version. Until then, you can get a very rough idea of what is going on by watching our GitHub repo here: https://github.com/MicrosoftDocs/dynamics-365-unified-operations-public

In the mean while, we'll remove the mention of an RSS feed and reintroduce it once we have things working a

[2021-07-02 12:02] kurthatlevik-inspirit365 opened #3446 "item pictures with configuration variants"
Hi.

In the documentation we see :"Product variant images should be named "/Products/{ProductNumber} ^ {Style} ^ {Size} ^ {Color} ^_000_001.png""

But I have customers that are using configuration, and would like to a configuration spesific product pictures.  What are the naming convension when having configuration ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.

[2021-07-02 14:44] SysC0mp commented on #1501
Currently have the same problem. Lookup extension method is not triggered.

[2021-07-02 15:43] #3438 closed

[2021-07-02 15:53] pwmsdn opened #3447 "This first version supports only the String attribute type"
In the article you say "This first version supports only the String attribute type"... Its been nearly a year since this article was published. Any progress on making more options available? Specifically, we really need to be able to attach order attributes of fixed list/text types so we can associate each sale with a specific source. We dont want cashiers having to manually type the source each t

[2021-07-02 16:37] josaw1 commented on #3411
PR created. Will be updated soon.

[2021-07-02 16:37] #3411 closed

[2021-07-05 16:35] Roozle opened #3448 "Link directs to parent"
I tried accessing the following link to retrieve Microsofts' policy on creating multiple users on the development machines (At one point in time, this was restricted) The link for 'Create new users on development machines' goes to the parent link 'Deploy and access development environments' instead of to a unique page

https://docs.microsoft.com/en-us/dynamics365/fin-ops-core/dev-itpro/dev-tools/e

[2021-07-07 15:31] BenLCastellow opened #3450 "Reverse journal posting"
1. URL.....https://docs.microsoft.com/en-us/dynamics365/finance/general-ledger/reverse-journal-posting
2. Need to add note that feature management "Mass reversals for multiple documents' must be enabled.
2. Under Reversing journals section, change "Open the financial journal and filter on posted journals." to "Filter on the posted journals and open the lines on the applicable journal.".
3. Change

[2021-07-08 13:56] kfend commented on #3429
The topic has been updated and the changes will go live later today.

[2021-07-08 13:56] #3429 closed

[2021-07-08 19:26] VolkerDeuss opened #3451 "Link to technical reference is broken"
The link "ObsoleteElementsPerVersion.xslx" (https://mbs2.microsoft.com/fileexchange/?fileID=d6b5589b-c2c7-4cdd-a6b9-87e080cb2f05) is broken, which basically was the most useful thing on the page...

It is the same with all the technical reference links in https://docs.microsoft.com/en-us/dynamics/s-e/global/axtechrefrep_61 btw. Can't create an issue item for that one easily though.

---
#### Docum

[2021-07-08 21:17] jorisdg commented on #3451
Hi Volker, we're actually working on a revamp of the deprecation article and other compatibility articles as well. Unfortunately the spreadsheet is no longer in the plans and the link will be removed.

[2021-07-09 15:18] RobinARH commented on #1716
Closing. There's no doc issue here.

[2021-07-09 15:18] #1716 closed

[2021-07-10 00:50] RobinARH commented on #3446
@psimolin - Can you take a look? Thanks.

[2021-07-10 00:51] RobinARH commented on #3447
@mugunthanm - Can you take a look? Thanks.

[2021-07-10 00:53] RobinARH commented on #3448
@sericks007 @yukonpeegs - Can you take a look? Thanks.

[2021-07-10 00:53] RobinARH commented on #3450
@mikefalkner - Can you take a look? Thanks.

[2021-07-10 00:55] RobinARH commented on #3450
@roschlom - Can you take a look? GitHub doesn't recognize Mike Falkner. Thanks - Robin

[2021-07-12 13:38] #3349 closed

[2021-07-13 14:22] danielzook opened #3454 "No instructions for deploying modern report designs to production"
There are no instructions or guidance on how to deploy the modern report designs to production after importing the model into the Dev environment.  Are there specific steps, or is the model considered a custom modification and should be treated as such?  (e.g., checked-in to source control, built into an AIO deployment package, etc.)

---
#### Document Details

⚠ *Do not edit this section. It is r

[2021-07-13 14:26] tonyafehr commented on #3454
@danielzook, thanks for the feedback. @RichdiMSFT, please review.

[2021-07-13 14:30] danielzook opened #3455 ""Apply the modern designs" section refers to J:\AOSService, but it is on K: in recent one-box deployments"
My demo environment was deployed in the last six months or so, and it has the AOSService on drive K: instead of J:.  You may want to update the instructions to match the new drive letters in one-box deployments.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 586f12ef-881e-1e4d-13e7-6b355e5e53eb
* Version Independent ID

[2021-07-13 14:40] tonyafehr commented on #3455
@danielzook, thanks for the feedback. @RichdiMSFT, please review.

[2021-07-13 22:47] kitaly opened #3457 "Duplicated content"
The content of this page is duplicated of another page:
https://docs.microsoft.com/en-us/dynamics365/supply-chain/procurement/tasks/create-purchase-release-order-creating-purchase-order

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c3e054d1-e653-9948-fc87-ed3547ecee7e
* Version Independent ID: 4491c03d-49f1-d108-b932-

[2021-07-14 12:53] tonyafehr commented on #3457
@kitaly, thanks for noting this. @kamaybac, please review.

[2021-07-15 10:56] rrhkpmg opened #3458 "Connection names and navigation text changes"
Step 3c - **Dynamics 365 for Fin & Ops** appears to be **Fin & Ops Apps (Dynamics
365)**
Step 3c - **Dynamics 365** connection is deprecated. Doesn't mean it can't be used, but with the documentation only being 4 months old, it's a sign of how quickly things move :)

Step 4a - navigation link (at least in my environment: don't know if localisation/translation may affect this?) is **Data integratio

[2021-07-15 13:05] tonyafehr commented on #3458
@rrhkpmg, this is helpful feedback. @ShivamPandeyMSFT  , please review.

[2021-07-15 15:12] Neill-KPMG opened #3459 "Tax value not being replicated"
Currently there is an issue around the tax value on the broker line being added to the journal line once the claim is approved.  The issue is that no tax is being respected on the journal. TrackingID#2107120050001204 has been created for this

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7d44a365-31d8-bd1d-cfc5-77aff5

[2021-07-15 15:35] tonyafehr commented on #3459
@Neill-KPMG, thanks for noting this. There is nothing that needs to be updated in the documentation, as this is a Support issue, so we're going to close this comment. This will be directed to the topic author for further review.

[2021-07-15 15:35] #3459 closed

[2021-07-17 10:37] FH-Inway opened #3462 "Remove "This topic is no longer updated" note"
With commit [b276fdc](https://github.com/MicrosoftDocs/dynamics-365-unified-operations-public/commit/b276fdc846cfdc5781acab998297d62316a11315) on 26 Feb 2020, a note was added to this page saying "This topic is no longer updated". However, the page was updated multiple times after that and not only was existing information updated, but new information was added. This page is also referenced in cur

[2021-07-17 10:45] FH-Inway commented on #3462
Sorry, never mind, it seems I was looking at an older version of the What's New page that linked to this page. Also, the commits after the "This topic is no longer updated" note indeed only seem to update existing information in the topic.

[2021-07-17 10:45] #3462 closed

[2021-07-19 09:58] Chainize opened #3463 "Hi Team, I have a question about the configuration setup of product recommendations, how could I get the information of required field like application secret, dns name and secret name, and also is there anymore document about how to enable product recommendation modules?"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a16dd6be-c948-0264-80db-5dc8123485e6
* Version Independent ID: 325c0c4d-9f52-ffa7-393b-cd3ec87eb32a
* Content: [Enable Azure Data Lake Storage in a Dynamics 365 Commerce environment - Commerce | Dynamics 365](https://docs.microsoft.com/en-us/dynamics3

[2021-07-19 11:02] mtariqrafique opened #3464 "Bulk-edit transactions that are linked to a statement"
[Enter feedback here]
Follow the steps described in document to "Edit cash and carry transactions".
However, i faced issue while editing & publishing changes in Sales transactions (auditable) table and a solution was not found.
I am sharing my experience here so that you may get help (if needed).

In my case sales transactions have duplicate "**Serial number**", however the steps mentioned are app

[2021-07-19 11:48] sericks007 commented on #3463
@Chainize, thanks for providing this feedback.

@bebeale, please consider updating the content to incorporate this information.

[2021-07-19 11:50] #3464 closed

[2021-07-19 18:57] kevinkabatra opened #3465 "Request for official documentation on assigning AAD Security Group to the Back Office."
Howdee,

I would like to suggest that you include content that explains that the Azure Active Directory Security Group must be added to the back office. Maybe this is obvious but I could not find any official documentation on this requirement or even how to go about doing so. I found this article helpful: https://dynamicspedia.com/2019/09/how-to-use-azure-active-directory-for-managing-users-and-se

[2021-07-19 19:01] sericks007 commented on #3465
@kevinkabatra, thank you for providing these suggestions.

@psimolin, please consider updating the content based on these suggestions.

[2021-07-20 10:14] kamaybac commented on #3457
@kitaly , thank you for reporting this issue. I am in the process of fixing it. The fix should go live in a day or so.

[2021-07-20 10:14] #3457 closed

[2021-07-20 12:09] kamaybac commented on #3351
The topic has been updated.

[2021-07-20 12:09] #3351 closed

[2021-07-20 20:55] suedriscoll opened #3466 "In-app support for LCS - there is no "Support" option under Help"
I am trying to solve an issue with LCS itself, and the help documentation reads

"Select the Help button (?) in the upper-right corner of the app, and then select Support. Issues are reported on the Active issues tab in LCS. There, admins can determine whether they should provide in-house support or submit the issues to Microsoft."

However there is no Support option available under the Help butto

[2021-07-21 11:48] sericks007 commented on #3466
@suedriscoll, thanks for reporting this issue.  I'll look into it.

[2021-07-21 13:07] sbredallMCA opened #3468 "Please provide the Platform Update version along with the app version"
Why wouldn't you provide the PU along with the application version?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e7dcb285-f32c-c92e-fe49-1617f213066b
* Version Independent ID: 8f28c1a0-9da5-f853-90ee-d82a4c32df7e
* Content: [Service update availability - Finance & Operations | Dynamics 365](https://docs.microsoft.com

[2021-07-21 16:56] jake-ms opened #3469 ".23 and .24 Auto-update schedule (via LCS Update Settings) production start date"
The dates in this column do not align with the start date that we have for a project in LCS.  Have raised a support ticket as well. Thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e7dcb285-f32c-c92e-fe49-1617f213066b
* Version Independent ID: 8f28c1a0-9da5-f853-90ee-d82a4c32df7e
* Content: [Service update availa

[2021-07-21 18:09] sericks007 commented on #3469
@jake-ms, thanks for letting us know!

@ShellyBakke, can you please address this?

[2021-07-21 18:16] sericks007 commented on #3469
@jake-ms, I just heard from @ShellyBakke.  She said the dates won't align, you have the option in LCS to select the exact date for when the update will be applied.  Hope the helps you!

[2021-07-21 18:16] #3469 closed

[2021-07-21 18:24] jake-ms commented on #3469
Thanks for the quick response.  @ShellyBakke. It doesn’t make sense as the date in our project is prior to the auto release date.  I know they won’t be the same. For more info you can see tracking Id: 2107200040005252

[2021-07-21 18:46] ShellyBakke commented on #3469
Thank you!  I see you referenced a support case you have open with our team.  I'll follow-up directly with them the understand your exact situation.

[2021-07-21 18:54] ShellyBakke commented on #3468
We have moved to OneVersion number schema which combines the Application and Platform.   We used to reference the platform separately a while back when version 7.x was still supported as we did ship a separate platform for that version.   Since that is no longer supported we are only referencing and shipping OneVersion.

[2021-07-21 18:57] #3468 closed

[2021-07-21 22:25] RobinARH commented on #3451
The downloads on https://docs.microsoft.com/en-us/dynamics/s-e/global/axtechrefrep_61 are working for me.

[2021-07-21 22:25] #3451 closed

[2021-07-21 22:28] RobinARH commented on #3450
Created bug 602397 to track this issue.

[2021-07-21 22:29] RobinARH commented on #3448
Created bug 602396 to track this issue.

[2021-07-21 22:29] RobinARH commented on #3447
Created bug 602395 to track this issue.

[2021-07-21 22:29] RobinARH commented on #3446
Created bug 602394 to track this issue.

[2021-07-21 22:34] RobinARH commented on #3439
Created bug 602398 to track this issue.

[2021-07-21 22:34] RobinARH commented on #3440
Created bug 602399 to track this issue.

[2021-07-21 22:35] RobinARH commented on #3442
Created bug 602400 to track this issue.

[2021-07-21 22:35] RobinARH commented on #3445
Created bug 602401 to track this issue.

[2021-07-21 22:43] RobinARH commented on #3442
Thanks for catching this! I fixed it and the update should go live this evening.

[2021-07-21 22:43] #3442 closed

[2021-07-21 22:59] RobinARH commented on #3448
I fixed the table of contents and the update should go live tonight.

[2021-07-21 22:59] #3448 closed

[2021-07-22 15:59] sericks007 commented on #3371
The content was updated.

[2021-07-22 15:59] #3371 closed

[2021-07-22 18:48] josaw1 commented on #2963
This fix is underway, thank you.

[2021-07-22 18:48] #2963 closed

[2021-07-23 03:46] Welldone-Time opened #3473 "Ask to update the document:"
[Enter feedback here]

The update database script is not applicable on DB export from SF environment as some roles have been removed. Could you please help to add explanation on it.
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7c5e8701-e1d4-25f8-d76a-ee7870b915e1
* Version Independent ID: 624211c7-2eb4-7154-d38f-236dc

[2021-07-23 12:01] sericks007 commented on #3473
@Welldone-Time, thank you for making us aware of this issue.

@laneswenka, please update the content, as necessary.

[2021-07-26 13:12] #2850 closed

[2021-07-26 13:29] sericks007 commented on #3465
Bug 603412 has been opened to track this issue.

[2021-07-26 13:32] sericks007 commented on #3466
Bug 603414 has been logged to track this issue.

[2021-07-26 13:35] sericks007 commented on #3473
Bug 10433395 has been logged (in the LCS database) to track this issue.

[2021-07-26 15:38] SysC0mp opened #3474 "selectedMenuOption isn't working via registerOverrideMethod"
I have a form where all the UI controls are dynamically created on runtime. Each of these controls needs a custom context menu with actions related to the control. To do that, I call `registerOverrideMethod` for each of these controls to override `getContextMenuOptions` and `selectedMenuOption`. The first method is executed correctly when I right click on the control and the custom items are displ

[2021-07-26 15:54] tonyafehr commented on #3454
Bug 603468 logged to track this issue.

[2021-07-26 15:56] tonyafehr commented on #3455
Bug 603470 logged to track this issue.

[2021-07-26 15:59] tonyafehr commented on #3458
Bug 603471 logged to track this issue.

[2021-07-26 22:49] josaw1 commented on #3474
Thank you for your question. @jasongre can you please take a look?

[2021-07-27 07:35] kamaybac commented on #3331
@TCM-NEPT , our engineers have looked into this issue and they tell me that we don't require email addresses that relate to Microsoft services. You should be able to use any email addresses that you like. It could be that your issue has some other root cause. I recommend that  you contact Microsoft Support for assistance.

[2021-07-27 07:35] #3331 closed

[2021-07-28 10:23] EgidijusZa opened #3485 "missing info on already supported Windows 2019"
Hi,

seems this specific page is missing info on already supported Windows Server 2019 (from 10.0.17). On on-premises deployment page it is mentioned already, but here only Windows Serve 2016 is stated as supported.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fc242273-ee42-3973-cc47-aece5771ca1f
* Version Independen

[2021-07-28 12:51] sericks007 commented on #3485
@EgidijusZa, thanks for letting us know about this.

@faix, please update the content.

[2021-07-29 03:55] NathanDL opened #3487 "Grammatical error"
[Enter feedback here]
Your Note section reads:
_Errored records will be available in the queue for 7 days after which will the queue will be purged._

It should read something like:
_Errored records will be available in the queue for 7 days after which time they will by purged._

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

[2021-07-29 12:46] JeroenLeeflang opened #3488 "DevTest/Demo environments hosted in a Microsoft subscription doesn't exist anymore"
On this page, there is a section about DevTest/Demo environments hosted in a Microsoft subscription. This is not applicable anymore as all Tier 1 environments must be hosted in the customers' subscription.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 91ae449b-ec59-28d4-1934-6909e77ee4f3
* Version Independent ID: df6a

[2021-07-29 13:32] tomhig opened #3489 "RPO and RTO need to be added to this article"
RTO (Recovery Time Objective) and RPO (Recovery Point Objective) are common metrics used in the SLA. These are not included in this article.

[2021-07-29 13:34] sericks007 commented on #3489
Hi @tomhig, can you please provide a link to the article that your comment applies to.  Thanks!

[2021-07-29 13:39] tomhig commented on #3489
https://docs.microsoft.com/en-us/dynamics365/fin-ops-core/dev-itpro/sysadmin/business-continuity-disaster-recovery

From: Sally Erickson ***@***.***>
Sent: Thursday, July 29, 2021 9:35 AM
To: MicrosoftDocs/dynamics-365-unified-operations-public ***@***.***>
Cc: Tom Higginbotham ***@***.***>; Mention ***@***.***>
Subject: Re: [MicrosoftDocs/dynamics-365-unified-operations-public] RPO and RTO need t

[2021-07-29 13:44] sericks007 commented on #3489
@tomhig, thanks!

@MicroSri, please consider updating this content with information about Recovery Time Objective (RTO) and Recovery Point Objective (RPO).

[2021-07-29 14:13] kurthatlevik-inspirit365 opened #3490 "Full dataset generation interval in days was depricated in Commerce 10.0.17 release"
You may remove the section describing "Full dataset generation interval in days" as it was deprecated in 10.0.17 - See also
 https://docs.microsoft.com/en-us/dynamics365/commerce/get-started/removed-deprecated-features-commerce

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e572be35-7bb2-3c5d-2cae-7514a5278b0f
* Versio

[2021-07-29 14:38] sericks007 commented on #3485
This content has been updated and will be published later today.

[2021-07-29 14:38] #3485 closed

[2021-07-29 19:46] mugunthanm commented on #3447
Unfortunately, the feature to support additional data types in attributes is not prioritized yet, it's still in the backlog so we will not be able to commit any timeline on this, for now please customize the solution.

[2021-07-29 20:06] #3447 closed

[2021-07-29 21:43] pwmsdn commented on #3447
That's too bad. Seems like a MUCH better solution for tracking transaction specific data than info codes (which aren't searchable, not changeable without voiding the transaction, and not displayed on the POS screen without customizations).... No out of the box option for tracking customer source, etc. is a big step backwards from previous Microsoft POS offerings and from competing products. 365 do

[2021-07-30 15:35] sabinn-msft commented on #3487
approved

[2021-08-01 19:16] gregsdennis opened #3491 "Schemas are insufficient"
The subschemas of dependentProperties need a type declaration of object as well.  Otherwise arrays and other types will be accepted by the validation.

[2021-08-02 07:56] Shivampnd commented on #3458
@tonyafehr, FYI, you assigned the issue to wrong Shivam Pandey. Please correct it.

[2021-08-02 09:17] kurthatlevik-inspirit365 opened #3493 "edit-cash-trans"
There is a statement here : "**In a future release, capability will be added so that users can fix the records that failed through the user interface.**"

I this this is already available through the Edit Cash transactions as described here : https://docs.microsoft.com/en-us/dynamics365/commerce/edit-cash-trans

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.micros

[2021-08-02 14:10] sericks007 commented on #3466
Hi @suedriscoll - the text that says "Select the Help button (?) in the upper-right corner of the app" was referring to the Finance and Operations app, not LCS.  I'll update the text to clarify that.  Thanks!

[2021-08-02 14:10] #3466 closed

[2021-08-02 14:34] JohnLBevan opened #3494 "Office add-in login Issue with 1809 and earlier versions of Windows 10"
There's a reasonably common issue encountered consistently by users on older versions of Windows (i.e. pre 1909), which is not documented here.

Symptom:  When users attempt to sign in to the D365FO Office add-in, they see an empty page pop up instead of the expected logon dialogue (i.e. same symptoms as described n https://docs.microsoft.com/en-us/dynamics365/fin-ops-core/dev-itpro/office-integra

[2021-08-02 17:20] josaw1 commented on #3491
Hi, @gregsdennis, thank you for your feedback. Are you referring to a specific topic? If so, can you please let me know which one?

[2021-08-02 17:21] josaw1 commented on #3493
Thank you for your feedback. @anpurush can you please take a look?

[2021-08-02 17:23] josaw1 commented on #3494
Thank you for your feedback. @jasongre can you please take a look?

[2021-08-02 18:37] gregsdennis commented on #3491
This issue was opened as a result of me providing feedback on a docs page. I'd have thought it would provide a link.  I'll see if I can find it in a bit.

[2021-08-03 07:15] oklinge opened #3495 "Images for product variants"
The documentation is not correct. I submitted a service request (2107080050001473) on this issue, it is not possible to add dimension specific images to pictures. And have the pictures change upon selection change in the web shop.

Furthermore the documentation states that dimension specific images only works with Style, Size and Color, this is also not true. As I have added images for configurati

[2021-08-03 08:51] kurthatlevik-inspirit365 commented on #3446
See also "Images for product variants #3495", that shows a way how product variants and can different pictures

[2021-08-03 13:49] danielzook opened #3496 "Why isn't bundling supported in Commerce / Call Center?"
This article states: "Microsoft Dynamics 365 Commerce channels, such as online, point of sale (POS), and call centers, don't support revenue recognition (including the bundle functionality)... Items that are configured to use revenue recognition should not be added to orders or transactions that are created in Commerce channels..."

...but does not explain why?

The bundling feature is exactly wha

[2021-08-03 14:36] danielzook opened #3497 "10.0.20 has been released. Is Store Commerce App still in preview?"
10.0.20 has been released.  Is Store Commerce App still in preview?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 45ebad3c-1d63-3e3d-4b0c-84acb7cb84ef
* Version Independent ID: b5a17324-a2fc-48a6-28e0-db115a722469
* Content: [Store Commerce app in Microsoft Dynamics 365 Commerce (Preview) - Commerce | Dynamics 365](ht

[2021-08-03 19:37] #3398 closed

[2021-08-03 20:37] josaw1 commented on #3496
Thank you for your feedback. @kweekley can you please take a look?

[2021-08-03 20:42] josaw1 commented on #3497
Thank you for your question. The Store Commerce app is still in preview at this time.

[2021-08-03 20:43] Ievgenm opened #3498 "Typo"
There is a typo in next sentence
"_Generate trial balance iwth pending type transactions_"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b0cb4fd0-bd55-41d1-3a5d-4b8e23341222
* Version Independent ID: 6599993a-b69b-a530-f3de-03aa9b05a5fb
* Content: [What's new or changed in Dynamics 365 Finance 10.0.21 (October 2021) -

[2021-08-03 21:33] betespadula opened #3499 "SPED REINF - 2055"
[REMOVER - SERIE ENTRE 920 E 969]

Na documentação para o evento R-2055 consta que temos o range da Série 920 a 969, porém no layout 1.5.1 do SPED REINF removemos essa validação.

**_O modelo de documento fiscal é 04 ou 55 (um número de série entre 920 e 969)._**
---
#### Detalhes do documento

⚠ *Não edite esta seção. É necessário para a vinculação do problema do docs.microsoft.com ➟ GitHub.*

*

[2021-08-04 14:32] sericks007 commented on #3489
Bug 606221 has been logged to track this issue.

[2021-08-04 20:29] sericks007 commented on #3489
According to @MicroSri, we don't plan to include RPO and RTO timelines in technical documentation. It is called out in the SLA/Service description documentation and we would like to keep it there since there are legal implications and I want to avoid duplicating it in multiple places.

[2021-08-04 20:29] #3489 closed

[2021-08-04 22:26] laneswenka commented on #3148
Added context for dual-write linking for all of the database movement operations.  This will go out in the next publishing wave.

[2021-08-04 22:29] laneswenka commented on #3158
This was resolved in June, reassigning.

[2021-08-04 22:29] laneswenka commented on #3158
@andreabichsel  / @sericks007 please close as needed.

[2021-08-04 22:30] #3158 closed

[2021-08-04 22:52] laneswenka commented on #3224
This was updated a while back, we can close this issue.

[2021-08-04 22:55] laneswenka commented on #3244
Updated, this will go out in the next scheduled docs publish wave.

[2021-08-04 22:59] #3244 closed

[2021-08-04 22:59] laneswenka commented on #3261
This has been updated, it will go out during the next scheduled publish wave.

[2021-08-04 23:03] laneswenka commented on #3264
This has been updated, it will go out in the next scheduled publish wave.

[2021-08-04 23:05] laneswenka commented on #3270
This has been updated, it will go out in the next scheduled publishing wave.

[2021-08-04 23:09] #3270 closed

[2021-08-04 23:19] laneswenka commented on #3321
Updated, this will go out on the next scheduled docs publish wave.

[2021-08-05 00:03] josaw1 commented on #3498
Thank you for your feedback. This typo has been fixed.

[2021-08-05 00:03] #3498 closed

[2021-08-05 00:03] #3497 closed

[2021-08-05 00:07] josaw1 commented on #3499
Thank you for your feedback. @sndray can you please take a look?

[2021-08-05 08:36] kamaybac commented on #3224
@laneswenka , thanks. Closing.

[2021-08-05 08:36] #3224 closed

[2021-08-05 08:38] Karppa1976 opened #3500 "Wrong excel template..?"
[Hi!
I tried to follow the instructions with cheque example. The excel template which can be downloaded via link is wrong, I think.
It does not contain the cell for a barcode.
Best regards
Kari ]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b73b61fe-eb05-0a29-c2c8-2fca8ac0604c
* Version Independent ID: 442ffff2-343a-

[2021-08-05 10:05] NickSelin commented on #3500
Hello @Karppa1976,
The provided [link](https://download.microsoft.com/download/1/f/6/1f671963-73aa-48d5-ae69-45f21fe7dfb4/Cheque%20template.xlsx) returns the correct Excel template to me - it contains the SignatureImage picture that is located in the bottom right corner of the check mockup. Please, verify the downloaded template once more.
Best regards,
Nick

[2021-08-05 10:20] Karppa1976 commented on #3500
Hi Nick!
Thanks for quick reply!
I am referring to this part.

![Text barcode excel](https://user-images.githubusercontent.com/75791143/128333514-db89c6c2-f9fb-4185-b26a-57886633d504.jpg)

The link in text previously is downloading the Excel version without the place for AmountBarcode.
In don't know which link is downloading the version "Cheque template Excel.xlsx.
Only link I can find is to file

[2021-08-05 11:09] oklinge commented on #3495
Today I succeeded in adding dimension specific images on items. Under is the procedure I did to find the correct format in which to name the product images.

Procedure in which I found the format to use:

1. Went to a product with color dimension
2. Pressed F12, then console
3. Changed the color of the item, watched lots of errors emerging in the console pane
4. Copied link address of one of the e

[2021-08-05 11:24] NickSelin commented on #3500
Hello @Karppa1976,
Yes, I confirmed that the wrong template is provided. It has been reported as a documentation issue. Please, use this [link](https://fix.lcs.dynamics.com/Issue/Details/?bugId=606497&dbType=3) to trace the progress of fixing this issue.
Best regards,
Nick

[2021-08-05 11:25] oklinge commented on #3446
Just found out how this is done. I created a service request on the topic and was told that only Style, Size and Color dimensions were supported. Found this to be wrong after going through the development tools console error messages.

For an item that has configuration dimension I found a working format to be as follows:

[Product number] ^ [Configuration]_000_001.png

Product number is the item

[2021-08-05 11:35] Karppa1976 commented on #3500
Hi Nick,
Thanks for your kind help!
Best regards
Kari

[2021-08-05 13:25] #3264 closed

[2021-08-05 13:26] #3261 closed

[2021-08-05 14:22] kamaybac commented on #3416
BUG 606543 created to track this issue.

[2021-08-05 14:25] kamaybac commented on #3417
BUG 606547 opened to track this issue

[2021-08-05 14:29] kamaybac commented on #3418
BUG 606549 created to track this issue.

[2021-08-05 14:34] kamaybac commented on #3420
BUG 606551 created to track this issue.

[2021-08-05 14:39] kamaybac commented on #3421
BUG 606554 opened to track this issue

[2021-08-05 14:43] kamaybac commented on #3424
BUG 606556 opened to track this issue

[2021-08-05 14:45] kamaybac commented on #3425
BUG 606557 opened to track this issue.

[2021-08-05 17:31] laneswenka commented on #3488
This is a duplicate issue.  The article is updated and will go out on the next publishing wave.  Thanks!

[2021-08-05 18:51] #3148 closed

[2021-08-05 18:51] #3321 closed

[2021-08-05 22:59] RobinARH commented on #3421
I updated the topic and the new content should go live this evening.

[2021-08-05 22:59] #3421 closed

[2021-08-06 18:59] josaw1 commented on #3090
This has been fixed.

[2021-08-06 18:59] #3090 closed

[2021-08-09 15:21] sndray commented on #3499
@josaw1, the request is correct. We should remove "um número de série entre 920 e 969"

[2021-08-09 17:44] rrhkpmg opened #3502 "Internet Explorer typo in heading"
Heading (and anchor) at https://docs.microsoft.com/en-us/dynamics365/fin-ops-core/fin-ops/get-started/system-requirements#internal-explorer-deprecation refers to _Intern**al** Explorer_ when the content makes it clear it should be _Intern**et** Explorer_

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3ad697b0-8c09-fd5e

[2021-08-09 17:56] sericks007 commented on #3502
@rrhkpmg, thanks for letting us know about this!  I really appreciate it!  I've fixed the issue, and the updated content will be published soon.

[2021-08-09 17:56] #3502 closed

[2021-08-10 00:22] ItCommitsTheCode opened #3503 "Confusing Steps"
In the heading [Register the app in the Finance and Operations app so that Retail Server trusts it](https://docs.microsoft.com/en-us/dynamics365/commerce/dev-itpro/consume-retail-server-api#register-the-app-in-the-finance-and-operations-app-so-that-retail-server-trusts-it), step 3 uses the following text:

"On the Relying parties FastTab, select Add. Enter the client ID that was generated _during

[2021-08-10 05:37] NickSelin commented on #3500
Hello @Karppa1976,
The link on the documentation page has been updated to provide the proper Excel template. You can use it now.
Best regards,
Nick

[2021-08-10 17:47] #3500 closed

[2021-08-10 17:56] kfend commented on #3499
The English version of this topic has been updated to remove the incorrect statement and the changes will be published later today. Updated versions of this topic in additional languages will be available in the near future. Closing this issue.

[2021-08-10 17:56] #3499 closed

[2021-08-11 03:10] mugunthanm commented on #3503
Thanks for the feedback, updated the document.

[2021-08-11 05:15] ItCommitsTheCode commented on #3503
Thanks!

[2021-08-11 05:15] #3503 closed

[2021-08-11 17:26] RobinARH commented on #3474
Created bug 610089 to track this issue.

[2021-08-11 17:27] RobinARH commented on #3491
Created bug 610090 to track this issue.

[2021-08-11 17:27] RobinARH commented on #3493
Created bug 610091 to track this issue.

[2021-08-11 17:27] RobinARH commented on #3494
Created bug 610092 to track this issue.

[2021-08-11 17:27] RobinARH commented on #3495
Created bug 610093 to track this issue.

[2021-08-11 17:27] RobinARH commented on #3496
Created bug 610094 to track this issue.

[2021-08-12 05:59] DaConfusedSoul opened #3505 "Hyperlink of Configure base entities (eLearning) (requires CustomerSource account) is probably incorrect"
Hello,

I think the hyperlink for Configure base entities (eLearning) (requires CustomerSource account) is not correct. It leads to pages which are either not relevant or don't contain the related content. I have followed all 3 links shown on the target page.

![image](https://user-images.githubusercontent.com/72460524/129145539-31cbd666-1192-4b82-ba1c-4eabce14e41b.png)

---
#### Document Details

[2021-08-12 14:24] jasongre commented on #3474
Thanks, @SysC0mp. This bug is fixed in 10.0.22 / Platform update 46 via KB 4642983.

[2021-08-12 14:28] #3474 closed

[2021-08-12 15:31] jasongre commented on #3494
Thanks for reporting this. We'll get this added to the documentation.

[2021-08-13 16:50] jasongre commented on #3001
Adding a reference in the "Add fields" tool section to field recommendations

[2021-08-13 16:52] #3001 closed

[2021-08-16 14:04] Eshaghzadeha opened #3508 "Enabling the flight DMFEnableExecutionHistoryCleanupSystemJob in D365FO"
It seems that Microsoft docs article "URL: https://docs.microsoft.com/en-us/dynamics365/fin-ops-core/dev-itpro/data-entities/data-import-export-job#job-history-clean-up-and-archival-available-for-preview-in-platform-update-39-or-version-10015" is not updated.

There is no need to activate this on 10.0.20 and newer update while those who use D365FO with older version than 10.0.20 need to register a

[2021-08-16 18:40] Jennyosh opened #3509 "Periodic Journal"
Dear Team,

The customer has given feedback if it's possible to automate the scheduling of the recurring journals.

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c717cc3e-b5b0-dfcd-7e66-5f221d2208c4
* Version Independent ID: 5e029f37-23e2-0adf-a1df-50c1491f04cc
* Content: [Post periodic journals

[2021-08-17 19:18] ibruynin opened #3513 "Location of the XML element is important"
The location of the XML element is very important.
If it is not exactly after //Publisher all seems well, but it does not have any effect in ISV studio.

Using powershell this can be achieved automatically (in case you have several models)

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 004ff9c3-7bd6-320a-4142-3

[2021-08-18 03:52] SolidRockProgrammer opened #3514 "broken link for learn course"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ebd0461b-813e-f572-39b7-5516e20d4b82
* Version Independent ID: 56b429b0-5188-78a3-0472-82041262a005
* Content: [Human Resources home page - Human Resources | Dynamics 365](https://docs.microsoft.com/en-us/dynamics365/human-resources/)
* Content Source

[2021-08-19 08:40] rrhkpmg opened #3515 "Admin reference could be clear on no cross-tenant support"
The configuration for "The next step in the process is to provide Dataverse with the Finance and Operations instance to connect to. The following steps walk through this part of the process." including the **Tenant ID** suggests the possibility that Dataverse in one tenant can connect to an F&O instance in a different tenant, particularly given that the **Information** box only states that "The AA

[2021-08-19 15:00] betespadula opened #3516 "SPED CONTRIBUICOES - REGISTROS A110-A111"
[Insira comentários aqui]

O escopo da localização informa que atendemos os registros A110-A111, porém não suportamos.

Solicito alterar tal REMOVER esses registros da obrigação do SPED Contribuições.
---
#### Detalhes do documento

⚠ *Não edite esta seção. É necessário para a vinculação do problema do docs.microsoft.com ➟ GitHub.*

* ID: 37344ff4-2d58-847a-1b2c-227a5776152b
* Version Independent

[2021-08-20 10:46] rrhkpmg opened #3517 "Menu item Common > Comment doesn't exist"
Under the **Create a Word template** heading, step 1a directs the reader to **Common** > **Comment** > **Excel workbook designer**. I believe this should be **Common** > **Common** > **Excel workbook designer**.

As an aside, it also feels weird that the menu item **Excel workbook designer** covers Word documents. Could it not be **Office workbook designer**? Maybe I'm missing something.

---
####

[2021-08-20 15:03] Kirknel opened #3519 "autocharge"
The Chapter for describing autocharges should aslo mention that you need to set the procurement and sourcing parameters > Price tab: Find autocharge for header = Yes and find Autochage for line = Yes; otherwise no charges will automatically be added to the PO header or lines..
Cheers, Mai

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue

[2021-08-20 15:27] kfend commented on #3508
@Eshaghzadeha - Thank you for the feedback.
@Peakerbl  - can you please take a look and update the topic?

[2021-08-20 15:30] kfend commented on #3509
@jennyosh - thank you for your question.
@aprilolson - can you please take a look at this?

[2021-08-20 15:53] kfend commented on #3515
@rrhkpmg - Thank you for the feedback.
@Sunil-Garg - Can you please take a look and update the topic as necessary?

[2021-08-20 15:55] kfend commented on #3516
@sndray - Can you please take a look at this issue and address as needed?

[2021-08-20 15:57] kfend commented on #3517
@rrhkpmg - thank you for letting us know.
@jasongre or @sericks007 - can you please take a look at this and update the topic as needed?

[2021-08-20 15:58] kfend commented on #3519
@Kirknel - Thank you for the feedback.
@dasani-madipalli - Can you please take a look and update the topic as needed?

[2021-08-20 16:01] kfend commented on #3513
@ibruynin - Thank you for the feedback.
@jorisdg - Can you please take a look and update the topic with a note that calls this out if needed?

[2021-08-20 16:02] dasani-madipalli commented on #3519
@kfend I am no longer on this team and moved over to windows so I won't be maintaining this.

[2021-08-20 16:04] kfend commented on #3519
@dasani-madipalli - Thank you for letting me know.
@kamaybac - can you please take a look at this and assign it to the new author?

[2021-08-20 16:06] sndray commented on #3516
The current content is valid. We currently support these records A110 and A111 in SPED Contributions feature. I've already talked with the user who has logged the feedback and I received a confirmation that it was a mistake. The suggestion is not applicable.

[2021-08-20 16:36] jopankow opened #3520 "Invalid link for RegisterETW.zip"
Hello team,

The link for the RegisterETW.zip file, in section "What happens when you have connections issues with Financial reporting?", requires a login. (It looks like it is pointing to an internal Microsoft resource). When attempting to login, a standard user gets this error message:

{"$id":"1","innerException":null,"message":"TF400813: The user 'xxxx' is not authorized to access this resourc

[2021-08-20 16:40] #1982 closed

[2021-08-20 16:41] #2007 closed

[2021-08-20 16:42] #2674 closed

[2021-08-20 16:59] kfend commented on #3516
@sndray - Thanks for the quick resolution!

[2021-08-20 16:59] #3516 closed

[2021-08-20 22:43] RobinARH commented on #3115
I fixed the loop counter. The update should go live later today.

[2021-08-20 22:43] #3115 closed

[2021-08-20 23:02] RobinARH commented on #2610
I updated the doc using Platform Update 41, which looks to agree with what you found, plus Tags. Should go live tonight.

[2021-08-20 23:02] #2610 closed

[2021-08-20 23:30] RobinARH commented on #2566
I updated this doc, and the updated doc should go live this evening.

[2021-08-20 23:30] #2566 closed

[2021-08-22 05:12] jinniew commented on #3520
Please use this link
https://mbs2.microsoft.com/fileexchange/?fileID=60b1106b-d5f8-4e0f-8041-039102505122

[2021-08-23 04:12] JS876 opened #3522 "Incorrect D365 Path for Configuration Key"
The D365 path to setup the configuration keys listed under the section below is incorrect:

`Recommended configurations (with up-to-date maturity information to denote confidence of functionality)`

It currently lists:

`Retail and Commerce > Headquarters setup > Parameters > Commerce parameters`

When it should be:

`Retail and Commerce > Headquarters setup > Parameters > Commerce shared paramete

[2021-08-23 13:07] sericks007 commented on #3194
@MilindaV2 updated the content to address this issue.  His update will be published soon.

[2021-08-23 13:07] #3194 closed

[2021-08-23 16:51] RobinARH commented on #3382
Cookie lifetime has been added to the doc.

[2021-08-23 16:51] #3382 closed

[2021-08-23 16:57] RobinARH commented on #3366
We published the update in June.

[2021-08-23 16:57] #3366 closed

[2021-08-23 19:24] RobinARH commented on #3513
I updated the doc to let people know the order of elements does matter. It will go live later today. If you want your code sample added to the docs, please submit a PR. Thanks!

[2021-08-23 19:24] #3513 closed

[2021-08-24 00:39] NathanDL opened #3525 "Title for item out of date"
In section **Deploy a package**, item 3 has title

_Select the **E-Commerce (Preview)** tab._

this should be amended to

_Select the **E-Commerce** tab._

This is to align with the screenshot in this section, and the new LCS tab name.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6dd9dc1b-79a4-fd01-cd96-4d045a6d0049

[2021-08-24 18:37] #2972 closed

[2021-08-24 18:41] #3032 closed

[2021-08-24 22:10] samjarawan commented on #3491
Thanks for the feedback, I've spoken with the dev team and they note this is a custom dependentSchema and should not require a type declaration.

[2021-08-25 08:05] Neeraj2912 opened #3526 "Real life examples should be added"
Real life examples should be given for this method of depreciation - consumption

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cd02b400-3cbf-67f2-4fa5-42e86b5ec788
* Version Independent ID: a4e02360-8369-4496-cb68-b5007df90d5d
* Content: [Consumption depreciation - Finance | Dynamics 365](https://docs.microsoft.com/en

[2021-08-25 08:35] amit-365 opened #3527 "Do not have an option to Select Variants Suggestions as described."
Hi,

I am testing the new variant creation for an engineering product. I am on 10.0.21 PEAP version.

I created the engineering product as per steps 1 to 10 shown in the document. Step 11 asks to Select Variants suggestions menu option. This option is missing from my form.

Am I missing something or the document is referring to something not included in the 10.0.21 PEAP version.

![image](https://

[2021-08-25 09:44] gregsdennis commented on #3491
If you say so, but this schema will pass all sorts of values that probably don't represent what the model needs.  For example, this schema will pass for booleans, numbers, strings, arrays, and even null.  But it looks like it's really expecting an object.  I'd expect it to fail for the others.

[2021-08-25 11:37] psimolin commented on #3446
I have created a PR with the additional info.

[2021-08-25 12:12] psimolin commented on #3495
Hello @oklinge,

Thanks for detailed bug report. I have created a PR with the whitespace fix in the example. The missing caret ("additional special character") I was not able to confirm using the default demo data configuration.

I added a note to the documentation, that the naming conventions shown for product variant images are examples using default configuration for media naming and dimensions

[2021-08-26 07:37] makdaddy8888 opened #3530 "add addtional examples"
This area is complex and I think it could be better defined. Can this section please get some attention.

Examples always help or maybe a day in the life.

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1866077c-6b01-9a3b-f9df-4a890ce5cb4e
* Version Independent ID: 3c5ea88f-5881-bb62-6bfe-6f3ebfcd

[2021-08-27 00:02] ronsonntag54 opened #3531 "Where is the Landed Cost module?"
[Enter feedback here]
I looked for it in the current 10.0.20 version and nothing comes up. Please provide the exact steps to access this module. It is not in the left-hand list anywhere!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a6f88889-6f15-6aaf-5afd-b8618520d620
* Version Independent ID: d730b31a-4d2f-7e87-273b

[2021-08-27 14:39] thedynamicsgirl opened #3533 "Call center refund methods allow manually typing/adding and Saving of cash payments."
[As per Microsoft documentation, Call center refund methods do not allow CASH payments or show it in the dropdown. But if we type the number for cash payment in the Retail payment field and SAVE it, it saves ok and does not throw an error]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c3c9ff31-6d72-a2cf-9b6c-0d43cd654

[2021-08-27 17:15] amarco opened #3534 "human resources import via rest api"
I see there is a nice example dealing the exporting data from dynamics human resources, however it would be nice to try and get a detailed example/explanation on how to do a import into dynamics human resource using the rest api.

[2021-08-27 23:42] ronsonntag54 opened #3536 "Exact definitions need for Scale, NoOfDecimals, and Precision. This page is still confusing!"
[Enter feedback here]
In Visual Studio, when you lookup a real number field from any Data Entity, it always refers to

For example: LINENUM is inherited (in this example) from LineNum. LineNum shows the properties of: Scale=16, NoOfDecimals=10 and is the top-level object. Scale normally refers to the number of decimals to the right of the decimal point. Precision is the total number of digits of p

[2021-08-30 12:06] kesun1 opened #3538 "Install a new add-in does not appear."
[Enter feedback here]
Hi,

I have set up a few env with PowerPlatform integration, but all did not have "Install a new add-in" in environment add-ins under Power Platform integration tab. If it needs something like license matter, please mention it . Thanks.

Best regards,
Keisuke

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.

[2021-08-30 13:15] Sunil-Garg commented on #3538
@***@***.***> can you have a look pls?
________________________________
From: kesun1 ***@***.***>
Sent: Monday, August 30, 2021 5:07:02 AM
To: MicrosoftDocs/dynamics-365-unified-operations-public ***@***.***>
Cc: Sunil Garg ***@***.***>; Mention ***@***.***>
Subject: [MicrosoftDocs/dynamics-365-unified-operations-public] Install a new add-in does not appear. (#3538)

[Enter feedback here]
Hi,

I h

[2021-08-30 13:38] tonyafehr commented on #3354
This explanation has been added. Thanks!

[2021-08-30 13:38] #3354 closed

[2021-08-30 13:45] sericks007 commented on #3465
According to the PM, the provisioning guide will be going through an overhaul in the following weeks, during which we will consider this information/links to be included.

[2021-08-30 13:45] #3465 closed

[2021-08-30 14:00] Alpa-Chino opened #3539 "1 GB"
Hi!

We just received this from MSFT support after we filed a support ticket about why a 1 Gb Power Platform Environment was deployed during the deployment of an FNO Tier 2, because we did not set the Configure Pplatform Environment to Yes.
I think the documentation should reflect this information.

"Regard the bizarre situation, it is turn out that the Power Platform Integration is a requirement

[2021-08-30 14:08] sericks007 commented on #3531
@ronsonntag54, thanks for providing this feedback.

@sherry-zheng, please review and provide the information requested.

[2021-08-30 14:11] sericks007 commented on #3533
@thedynamicsgirl, thanks for providing this feedback.

@hhainesms, please considering updating the content based on this feedback.

[2021-08-30 14:19] sericks007 commented on #3536
@ronsonntag54, thank you for providing this feedback.

@MichaelFruergaardPontoppidan, please review and consider updating the documentation as requested.

[2021-08-30 14:23] sericks007 commented on #3539
@Alpa-Chino, thank you for providing this feedback.

@rashmansur, please update the documentation based on this feedback.

[2021-08-30 14:36] JonatanTorino opened #3540 "Wrong link for redirecting to .NET Framework 4.6.2."
On https://docs.microsoft.com/en-us/dynamics365/commerce/dev-itpro/retail-sdk/migrate-sdk#what-is-affected
Both .net framework 4.51 and 4.6.2, link to same framework 4.5.1

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 776f646a-f316-8c84-d190-57ecd88547a0
* Version Independent ID: 80208288-e39f-bacc-c8ad-7c51470e9cce
*

[2021-08-30 14:58] Sunil-Garg commented on #3538
Hi Keisuke,

This sounds like a support issue.  Add-ins should be available on all Tier2+ and Production environments that have Power Platform Integration completed.

Regards,
Lane

From: Sunil Garg ***@***.***>
Sent: Monday, August 30, 2021 6:15 AM
To: MicrosoftDocs/dynamics-365-unified-operations-public ***@***.***>; MicrosoftDocs/dynamics-365-unified-operations-public ***@***.***>; Lane Swenka

[2021-08-30 15:03] tonyafehr commented on #2422
The code presented is correct as it is, the SysODataCollectionAttribute attribute is only required when returning a list, not a singular value.

[2021-08-30 15:03] #2422 closed

[2021-08-30 15:06] #2803 closed

[2021-08-30 15:07] #2939 closed

[2021-08-30 15:07] sericks007 commented on #3540
@JonatanTorino, thank you for providing this feedback.

@mugunthanm, please fix the links.

[2021-08-30 15:10] #2959 closed

[2021-08-30 15:48] roschlom commented on #3450
The topic has been updated. Thank your input; we really appreciate it!

[2021-08-30 15:48] #3450 closed

[2021-08-30 18:23] RobinARH commented on #3439
I've updated the topic. The changes will go live later today.

[2021-08-30 18:23] #3439 closed

[2021-08-30 18:36] #3491 closed

[2021-08-30 20:06] RobinARH commented on #3364
I updated the topic and the new content will go live later today.

[2021-08-30 20:06] #3364 closed

[2021-08-30 20:51] mugunthanm commented on #3540
Thanks for providing the feedback, updated the download the link in the documentation.

[2021-08-30 23:02] kesun1 commented on #3538
Hi Lane,

Thanks. Understood. Most of my env are Tier 1. For them, that’s the reason why I did not see “Install a new add-in” in there.
However, one of them is Tier 2 sandbox. One reason for it might be that I am not admin role in the project (I found architecture role assigned to me). If it is, would it be better to mention the role (also tier2+) that can see and use “Install a new add-in” under

[2021-08-31 05:19] mshyx opened #3543 "clarify Key vault requirements for Azure Data Lake"
Hi Team,
I confuse on  paragraph [Add secrets to the key vault](https://docs.microsoft.com/en-us/dynamics365/fin-ops-core/dev-itpro/data-entities/configure-export-data-lake#addsecrets)
As doc mentioned add three key vaults, however missed step : enter the connection string which obtained from the storage account.  If CX only follow this doc, the Test Azure Storage in FnO will be failed.
And didn't

[2021-08-31 07:01] MichaelFruergaardPontoppidan commented on #3536
Thank you for the feedback.

This page is describes how to extend the "NoOfDecimals" property.  In the first paragraph on the page we introduce the term "decimal point precision" to describe the meaning of the property.  This is different than the "Scale" property, which is not extensible, but defined on the root EDT in the hierarchy.  That is why the topic also lists the maximum precision possibl

[2021-08-31 11:41] #3536 closed

[2021-08-31 11:46] sericks007 commented on #3543
@mshyx, thank you for providing this feedback.

@MilindaV2, please review and update the content if needed.

[2021-08-31 11:50] sericks007 commented on #3536
MFP's update to the content will be published soon.

[2021-08-31 15:01] spacether commented on #3491
Then how about putting type definitions in the oneOf schemas? Unset type allows every type

[2021-08-31 17:19] #3241 closed

[2021-08-31 20:51] josaw1 commented on #3463
This fix will go live later today. Thanks!

[2021-08-31 20:51] #3463 closed

[2021-09-01 10:06] terabaitas opened #3545 "Misleading statement, MS managed should be changed to Self-service"
in Prerequisites second paragraph it is a wrong statement:

Create a self-service environment in LCS. The environment should be in a Deployed state. It must be a **Microsoft-managed** environment. Cloud-hosted, development environments can be used only for the Upgrade from AX 2012 - Data upgrade in development environments procedure.

should be

Create a self-service environment in LCS. The enviro

[2021-09-01 15:38] ryanwwhittaker opened #3546 "Unclear what happens with"
Hi,
The page talks about three common planned maintenance activities:

- Operating system (OS) security updates
- Security hotfixes
- Microsoft package updates

However the rest of the page then only goes on to describe what happens for operating system updates.

What happens with security hotfixes and MS package updates?
I'm guessing that security hotfixes are part of OS security updates (?) - bu

[2021-09-01 17:23] tomhig opened #3547 "Update the Service Description link"
The Service Description is no longer a white paper PDF. The link needs updated in this section: https://docs.microsoft.com/en-us/dynamics365/fin-ops-core/dev-itpro/deployment/cloud-deployment-overview#service-availability-in-azure-regions

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5080f3d7-0ad1-940c-284a-92008d7c19

[2021-09-01 22:49] owlkeeper opened #3548 "Issue with Screen recorder code"
[I am trying to install the screen recording extension from : https://github.com/microsoft/FMLab/tree/master/FMLab/TaskRecorderScreenshot. In both Chrome and Edge, it rejects with an error message : manifest is not valid json]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b5762f9e-d7f4-e7fc-49c7-6db64c01bc6a
* Version

[2021-09-02 08:15] WayneLi001 opened #3549 "Security report display is not correct."
Hi Par,

 My customer have concern that the security report in Microsoft Document is different with the one they run in D365.
Can you please help to check, is the report changed, but doc is not the latest?
Let's take Security role access report as an example:
In the document https://docs.microsoft.com/en-us/dynamics365/fin-ops-core/dev-itpro/sysadmin/security-reports, it is:

![image](https://user

[2021-09-02 14:53] sericks007 commented on #3545
@terabaitas, thanks for providing this feedback!

@rashmansur, please update the content.

[2021-09-02 14:55] sericks007 commented on #3546
@ryanwhittake, thank you for providing this feedback.

@rashmansur, please review and update the content as needed.

[2021-09-02 14:56] sericks007 commented on #3547
@tomhig, thanks for pointing this out!  I'll make the update soon!

[2021-09-02 15:00] sericks007 commented on #3549
@WayneLi001, thanks for providing this feedback.

@Peakerbl, please review and update the content, if needed.

[2021-09-03 15:31] d3fr0g opened #3550 "Snapshot config name changed"
Under the Screenshots section the docs mention Microsoft.Dynamics.RegressionSuite.WindowsApp.exe.config, in the actual folder it is called Microsoft.Dynamics.RegressionSuite.WpfApp.exe.config currently.

It should be also explicit if the ConsoleApp supports this or not. The Microsoft.Dynamics.RegressionSuite.ConsoleApp.exe.config  also contains this config element.

---
#### Document Details

⚠ *D

[2021-09-03 15:34] sericks007 commented on #3550
@d3fr0g, thanks for providing this feedback!

@RobinARH, please review and make any necessary updates.

[2021-09-03 16:09] RobinARH commented on #3550
@FrankDahl - Can you take a look? Thanks - Robin

[2021-09-04 16:14] #3540 closed

[2021-09-07 21:37] elcanelo opened #3554 "Service protection API limits link broken"
The link to the article "Service protection API limits" is broken.

The link used in the article is this:

https://docs.microsoft.com/en-us/powerapps/developer/data-platform/api-limits.md

The correct link I think is this:

https://docs.microsoft.com/en-us/powerapps/developer/data-platform/api-limits

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ G

[2021-09-07 21:48] #3495 closed

[2021-09-08 07:32] YujiImaoka opened #3555 "Our customer requests to add below information to this article."
[Enter feedback here]
Our customer requests to add below information to this article.
(1) Maximum number of retries
(2) Retry interval
(3) If customer can change (1)(2) setting.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6a0878ca-257d-9ec4-eab0-8a570635cca2
* Version Independent ID: b5f3068c-b880-b5b9-3f82-ac3326a6

[2021-09-08 10:07] rrhkpmg opened #3556 "Enabling virtual entities should specify that Dataverse user must also be F&O user"
The page details setting up an F&O user for the AAD app registration, so it would seem reasonable that the process of enabling virtual entities would use this app registration credentials when querying available entities. Apparently that isn't the case, and the credentials with which the administrator is accessing Dataverse must also be an F&O user. It would be helpful if the documentation specifi

[2021-09-08 11:03] anboudin opened #3557 "SIRET number for legal entity information"
Hi,

Some customer asked where to input SIRET number on legal entity.
There is no information on this page regarding SIRET number and as D365 wording for SIRET has not been changed, answer is not obvious.

Could you please add on last part of document that SIRET number should be setup on Legal entity Tax registration number?

thank you
Annaick

---
#### Document Details

⚠ *Do not edit this sectio

[2021-09-08 11:50] EvgenyPopovMBS commented on #3557
@epodkolz, please have a look.

[2021-09-08 13:11] twheeloc commented on #3554
@elcanelo, Thanks for providing this feedback. I'm not seeing the broken link in the [Priority based throttling](https://github.com/MicrosoftDocs/Dynamics-365-Unified-Operations-Public/blob/main/articles/fin-ops-core/dev-itpro/data-entities/priority-based-throttling.md) topic. Can you point out where you found the broken link?

[2021-09-08 13:14] twheeloc commented on #3556
@rrhkpmg, Thanks for the feedback.

@Sunil-Garg Please review and update the content as needed.

[2021-09-08 18:01] bstorie opened #3558 "Need a note on which environments this doesn't apply to"
[Enter feedback here]
Can you add a comment/note/section that says this does not apply to non-azure deployed environments such as the VHD and on-premises.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3c9fa18d-6a11-681c-b5e4-e38f7b2af06e
* Version Independent ID: 983af4fc-39c9-6527-fb6a-8c5f858dff39
* Content: [Synchr

[2021-09-08 18:38] elcanelo commented on #3554
The broken link is with in the [Dual-write limits for live synchronization](https://docs.microsoft.com/en-us/dynamics365/fin-ops-core/dev-itpro/data-entities/dual-write/sync-limits) topic.

Specifically under the [From Finance and Operations apps to Dataverse](https://docs.microsoft.com/en-us/dynamics365/fin-ops-core/dev-itpro/data-entities/dual-write/sync-limits#from-finance-and-operations-apps-t

[2021-09-08 18:51] twheeloc commented on #3558
@bstorie, thank you for the feedback.

@jashanno Please review and update the content as needed.

[2021-09-08 22:23] betespadula opened #3560 "SPED FISCAL - add novos registros K260, K265, K270, K275, K280, K290"
[Insira comentários aqui]
No Layout 013 do SPED Fiscal, foram adicionados os novos registros **K260, K265, K270, K275, K280, K290**,
---
#### Detalhes do documento
Será necessário atualizarmos o escopo na Área:  SPED Fiscal (ICMS, IPI), os registros abaixo:
Block K: Inclusion of following new records:
K260 and K265 = Reword orders
K270, K275, K280 = Corrections
K290 = Joint production order

Confo

[2021-09-09 14:28] danielzook opened #3562 "Why are bundles not supported in call center?"
It is **very frustrating** to see that bundles are not supported in call center.  Direct sales companies need this feature... it is there in D365, but yet we have to re-create it as a customization... crazy.

You should explicitly state in the article *why* bundles are not supported on call center orders, and what options customers have instead that achieves the exact same functionality.

---
####

[2021-09-09 14:31] twheeloc commented on #3560
@betespadula, thank you for the feedback.

@sndray  Please review and update the content as needed.

[2021-09-09 15:42] twheeloc commented on #3554
@elcanelo, thank you for the information. The link should be fixed now.

[2021-09-09 17:36] twheeloc commented on #3562
@danielzook, thank you for the feedback.

@kweekley Please review and update the content as needed.

[2021-09-09 17:47] brettchristiansen opened #3563 "Images for products with configurations do not work following the documented format."
The format listed here for Product variant images with configuration seems incorrect.  Following the formatting specified does now work.  Using web debugging tools, the correct expected format seems to be:

/Products/{ProductNumber} ^ {Configuration} ^ {Style} ^ {Size} ^ {Color} ^_000_001.png

Either there is a bug in how the product is searching for images when configuration dimension is used or

[2021-09-09 17:54] psimolin commented on #3563
Hello Brett,

Thank you for your feedback.

Yes the documentation should state product master configurations, not variants with configuration, will update.

It is good to keep in mind that these are just examples and they can be different depending on the configurations (media template, dimensions, etc.)

[2021-09-10 12:24] epodkolz commented on #3557
PR: https://github.com/MicrosoftDocs/Dynamics-365-Operations/pull/12186

[2021-09-10 16:43] #3557 closed

[2021-09-12 07:47] FH-Inway opened #3564 "Add sample request for authentication"
The article does not show how to create a request for the authentication. Since this differes from other requests that authenticate using an app registration, users of the API are struggling with the authentication. It would be helpful to include some guidance and a sample request for the authentication.
The guidance should include the information from the prerequisites section of https://docs.mic

[2021-09-13 08:24] ph1lzb opened #3565 "Planned update schedule"
Please review the dates for planned maintenance for December 2021, January 2022 and February 2022 as these do not appear to be correct.
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1fcc1802-115b-4ac2-f34f-aa73eac426f4
* Version Independent ID: d758bfc6-245e-43d6-8bde-31282cea0a64
* Content: [Pla

[2021-09-13 10:00] jlabustro opened #3566 "subscriptions be active on both tenants"
Good day!

i just want some clarifications regarding the phrase "subscriptions be active on both tenants". in our case, our customer has an active tenant where their D365 subscriptions are currently under. now that they are starting to do an implementation on a new tenant, since subscriptions be active on both tenants, does this mean that they need to purchase new licenses on the new tenant? is th

[2021-09-13 10:25] ClaudiaBetz-Haubold commented on #3566
@jlabustro – yes, in order to move an implementation of Dynamics 365 Unified Operations apps to a new tenant, the customer will need to have the required minimum number of active subscriptions on that tenant. A trial license will not be an option. There are multiple ways in which the customer can obtain active subscriptions. If you have further project-specific questions, I recommend that you open

[2021-09-13 13:06] jlabustro commented on #3566
Hello Claudia,

Thank you for your quick response. In the multiple ways to obtain active subscription that you mentioned below, what are these ways? In this way, is there an option not to pay for another set of subscriptions?

Or as these subscriptions are required active to both tenant during the implementation process, do they need to buy or pay for these subscriptions?

Warmest regards,

JOVEL