[2022-03-13 18:50] andyNewnham opened #3892 "RetailSDK Deprecation date update"
The date of deprecation of the legacy Retail SDK has been updated to April 2023. Please update the FAQ section accordingly.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a07b0d94-2f96-7b3a-9848-0a4e652b205c
* Version Independent ID: a07b0d94-2f96-7b3a-9848-0a4e652b205c
* Content: [Migrate to the Commerce SDK - Commerc

[2022-03-14 12:47] sericks007 commented on #3892
@andyNewnham, thank you for providing this feedback.

@mugunthanm, please update the content.

[2022-03-14 12:58] sericks007 commented on #3889
@DKobayashi-ykgw, thanks for making us aware of this!  I've fixed the link.  The updated article will be published soon.

[2022-03-14 12:58] #3889 closed

[2022-03-14 13:08] kfend commented on #3883
Thanks for contacting us. Unfortunately, we're unable to handle Support requests for the product here. To contact Support, consider one of the options described here: [Support contact options](https://docs.microsoft.com/en-us/dynamics365/unified-operations/dev-itpro/lifecycle-services/lcs-support). In particular, you might want to go to the [Dynamics 365 community page](https://community.dynamics.

[2022-03-14 13:08] #3883 closed

[2022-03-14 13:09] kfend commented on #3886
@TimoTenni - Thank you for the feedback.
@epodkolz - Can you please take a look and update the topic as necessary? Thanks!

[2022-03-14 13:12] kfend commented on #3885
@alneacsu - Thank you for the feedback.
@matapg007 - Can you please take a look at this? Thanks!

[2022-03-14 13:55] kfend commented on #3886
@epodkolz - Thank you for the clarification.
@liza-golub - Can you please take a look and update the topic as necessary? Thanks!

[2022-03-14 18:44] mugunthanm commented on #3892
@andyNewnham - Thanks for the feedback, updated the document.

[2022-03-14 18:45] mugunthanm commented on #3892
https://github.com/MicrosoftDocs/dynamics-365-unified-operations-public/pull/3893

[2022-03-14 19:42] liza-golub commented on #3886
this request will be covered in scope of the https://msdyneng.visualstudio.com/web/wi.aspx?pcguid=a1559462-dfa9-4e8b-8925-9299fe8a88ab&id=661987

[2022-03-14 21:43] laneswenka commented on #3806
An update is coming for this, stay tuned!

[2022-03-14 21:56] laneswenka commented on #3810
We have an update to the docs to call out these questions.  The short answer is CHEs are not supported with Azure AD / Bastion as they weren't tested internally with them.  Nothing is stopping you from doing it, but your mileage may vary and they wouldn't be something we support.  For those who require the utmost in locking down the machines from RDP and other types of traffic the local VHD is our

[2022-03-15 11:13] petrjanikac opened #3895 "Export database - environment availability"
There is a difference between info on Docs "The environment will be unavailable for other servicing operations, such as Sandbox refresh or package deployment during this time. **The source environment will be usable from a Dynamics user perspective**." and the reality in LCS
![image](https://user-images.githubusercontent.com/57525616/158365232-10099a77-4d6f-4dd7-9cce-821b54311e63.png)
![image](htt

[2022-03-15 12:43] d3fr0g opened #3896 "Outdated note"
The first note on the page says that "Currently, you must use configuration keys to turn it on."
Here
https://docs.microsoft.com/en-us/dynamics365/finance/accounts-receivable/revenue-recognition-setup
the note says:
"The Revenue recognition feature is now enabled by default through Feature management. If your organization doesn't use this feature, you can turn it off in the Feature management work

[2022-03-15 14:00] sericks007 commented on #3896
@d3fr0g, thanks for bringing this to our attention.

@kfend will work with @kweekley to address this issue.

[2022-03-15 14:13] AndreasHassing commented on #1681
Just FYI: This issue manifests as an error like:

[code]

[2022-03-15 15:26] RyanCCarlson2 commented on #3350
@RobinARH and @kfend  this is related to CD https://msdyneng.visualstudio.com/FinOps/_workitems/edit/586417 which has an open PR to remove all the old content. thanks.

[2022-03-15 18:55] tonyafehr commented on #3458
This topic has been updated to reflect these changes.

[2022-03-15 18:55] #3458 closed

[2022-03-15 19:01] #2782 closed

[2022-03-15 19:02] #3096 closed

[2022-03-15 19:02] #3268 closed

[2022-03-15 19:05] #3352 closed

[2022-03-15 19:05] #3454 closed

[2022-03-15 19:06] #3564 closed

[2022-03-15 19:07] #3644 closed

[2022-03-15 19:08] #3565 closed

[2022-03-15 19:09] #3681 closed

[2022-03-15 19:10] #3741 closed

[2022-03-15 22:13] kfend commented on #3896
I have updated the topic. The changes should be published in the next few hours. Thanks!

[2022-03-15 22:13] #3896 closed

[2022-03-16 01:54] aaronstackpole opened #3899 "Provide Alternate Instructions to Build Commerce SDK"
Windows Server 2016 - Visual Studio 2017 agent is no longer available. Please provide instructions on how to build and package the solution as these instructions are no longer valid.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c6d7fd83-5b1b-2f29-7182-562f45da942c
* Version Independent ID: 31f3df2c-312e-6728-e73a-41f

[2022-03-16 07:18] takumatsuchida opened #3900 "漢字の訂正依頼 紹介⇒照会"
[バッチ ジョブの作成 https://docs.microsoft.com/ja-jp/dynamics365/fin-ops-core/dev-itpro/sysadmin/tasks/create-batch-job#create-the-batch-job

以下の通りご訂正を依頼いたします。

<誤>
ナビゲーション ウィンドウ > モジュール > システム管理 > **紹介** > バッチ ジョブ の順に移動します。

<正>
ナビゲーション ウィンドウ > モジュール > システム管理 > **照会** > バッチ ジョブ の順に移動します。

以上]

---
#### ドキュメントの詳細

⚠ *このセクションを編集しないでください。 docs.microsoft.com で必須です ➟ GitHub の問題のリンク。*

* ID: c4a1c591-b562-739a

[2022-03-16 11:47] sericks007 commented on #3900
@takumatsuchida, thank you for providing this feedback.  We'll look into it.

[2022-03-16 11:59] vinceno commented on #3900
@vivimills - could you please move this forward with LIOX and update here as progressed., thx

[2022-03-16 12:10] miham-aib opened #3901 "Outdated content"
The "Restart services" section is outdated, the Service names have changed and the page should be updated as a result.

Current options are called:
"Finance and operations apps service"
"Data management workspace"
"Financial reporting service"

See
<img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAYcAAAD/CAYAAAAaGBpmAAAgAElEQVR4Ae2d+dclVbnf+Q+S/AN3+i0xK2atmKyVqLlisuSam2uucK9yZVABcULCPNMMKkQ

[2022-03-16 12:55] sericks007 commented on #3899
@aaronstackpole, thank you for providing this feedback.

@samjarawan, please review and update the content, as needed.

[2022-03-16 13:05] sericks007 commented on #3901
@miham-aib, thank you for calling this to our attention!  I just updated the content -- the updated content will be published later today.  Thanks again!

[2022-03-16 13:05] #3901 closed

[2022-03-16 15:36] #3776 closed

[2022-03-16 20:43] silicon359 opened #3902 "Adobe Acrobat 32bit requirement missing"
After trying and failing to set up DRA with an error that Adobe PDF Reader was not detected, I contacted support via LCS.  I was informed it had to be 32bit Acrobat Reader. This should be mentioned in the article.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5fe44c05-ed58-b554-859e-2da552dbbd9d
* Version Independent

[2022-03-17 01:24] takumatsuchida opened #3903 "タイルの表記は「コンフィギュレーション」です。〇コンフィギュレーション ×構成"
[https://docs.microsoft.com/ja-jp/dynamics365/fin-ops-core/dev-itpro/analytics/export-entities-to-your-own-database#configuring-the-entity-export-option
タイルの表記は「コンフィギュレーション」です。
〇コンフィギュレーション
×構成
エンティティのエクスポート オプションのコンフィギュレーションクライアントを起動し、データ管理 ワークスペースで、データベースへのエンティティ エクスポートの**構成** タイルを選択します。]

---
#### ドキュメントの詳細

⚠ *このセクションを編集しないでください。 docs.microsoft.com で必須です ➟ GitHub の問題のリンク。*

* ID: 33f75161-0776

[2022-03-17 02:42] YujiImaoka opened #3904 "Which version MS will investigate or troubleshoot"
The different descriptions of these documents make it difficult to know to which version MS will investigate or troubleshoot.
If [a version that's older than 3 service updates] is correct. Please show actual example.(e.g. latest version 10.0.24, MS does not investigate issue happens at older than 10.0.21　)
Update (A) or (B) to correct description.

(A)https://docs.microsoft.com/en-us/dynamics365/f

[2022-03-18 12:19] andypicking opened #3905 "configure global address books refers to a recording ?"
Hi,

This page refers to a recording but there is no link to any form of recording ?

Thanks
andy

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 648592cf-60d0-7c8c-43ab-19668b719236
* Version Independent ID: 6f1cb23a-4a80-a16d-e6d2-2f5eda1f2a4c
* Content: [Configure address books - Finance & Operations | Dynamics 365](

[2022-03-18 13:45] sericks007 commented on #3903
@takumatsuchida, thank you for this feedback.

@vivimills, please check the translation of this article.

[2022-03-18 14:06] sericks007 commented on #3905
@andypicking, thanks for letting us know about this.

@msftbrking, please add the link to the recording.  If no recording is available, please remove the reference to it.

[2022-03-18 14:41] MarcRohde opened #3906 "Title is incorrectly indicates Preview"
The version is released so should not be a Preview

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b04ba1b0-8f03-c6b0-6141-766188dfe8cc
* Version Independent ID: 6218142a-5715-e78f-82cb-22798a5bb8cb
* Content: [Preview of Dynamics 365 Supply Chain Management 10.0.25 (April 2022) - Supply Chain Management | Dynamics 365]

[2022-03-18 14:42] MarcRohde opened #3907 "10.0.25 indicates preview in the link text"
10.0.25 is released so it should not indicate it is a preview anymore.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6c023fc2-87cd-c17b-5578-dc830ab6b015
* Version Independent ID: 73ff0eda-6e9c-f859-da8a-01acf5c31908
* Content: [What's new or changed in Dynamics 365 Supply Chain Management - Supply Chain Management |

[2022-03-18 15:24] sericks007 commented on #3906
@MarcRohde, thanks for point this out.  We're working on it!

@kamaybac, please update this.

[2022-03-18 15:25] sericks007 commented on #3907
@MarcRohde, thanks for point this out. We're working on it!

@kamaybac, please update this.

[2022-03-18 16:22] kamaybac commented on #3907
Topic is updated

[2022-03-18 16:22] #3907 closed

[2022-03-18 16:22] #3906 closed

[2022-03-18 21:26] kfend commented on #3350
Changes have published.

[2022-03-18 21:26] #3350 closed

[2022-03-18 23:12] Bijan-Ghofranian opened #3911 "X++ Syntax Changes that start in Microsoft Dynamics AX 2012"
[Enter feedback here]
When reading the syntax changes I noticed this entry.
Before Microsoft Dynamics AX 2012:  The compiler used to accept "31\12\2002", but during run time the literal string was interpreted as a different value

Starting with Microsoft Dynamics AX 2012:  Now the following X++ statement is rejected by the compiler: str myDateString = "31\12\2002"; The **proper** syntax is "31\12\

[2022-03-21 12:34] sericks007 commented on #3904
@YujiImaoka, thank you for providing this feedback.  I'm waiting to hear back about who will review this issue.

[2022-03-21 13:02] alneacsu commented on #3885
Hello!

Can you please help us with your feedback?

Thanks and regards,
Alex

Alexandru Adrian Neacșu
Senior Support Engineer
Dynamics 365 Finance & Operations (AX)
Customer Services and Support
Office: + 40 31 133 1622
***@***.******@***.***>
Working hours: 09:00-18:00 UTC +2:00
***@***.***
If you have any feedback about my work, please let either me or my manager know
Team Manager | Cezary Stola

[2022-03-21 13:48] #2720 closed

[2022-03-21 13:48] #2981 closed

[2022-03-21 13:49] #2587 closed

[2022-03-21 13:49] #3169 closed

[2022-03-21 13:49] #3178 closed

[2022-03-21 15:21] sericks007 commented on #3892
Bug 666500 has been logged to track this issue.

[2022-03-21 15:25] sericks007 commented on #3895
LCS bug 13886373 has been logged to track this issue.

[2022-03-21 15:28] sericks007 commented on #3899
Bug 666501 has been logged to track this issue.

[2022-03-21 15:31] sericks007 commented on #3900
Bug 666502 has been logged to track this issue.

[2022-03-21 15:34] sericks007 commented on #3903
Bug 666503 has been logged to track this issue.

[2022-03-21 15:40] sericks007 commented on #3905
Bug 666504 has been logged to track this issue.

[2022-03-21 17:47] sericks007 commented on #3902
The content has been updated, and will be published soon.  Thanks again!

[2022-03-21 17:47] #3902 closed

[2022-03-21 18:17] matapg007 commented on #3885
Yes, the class has been implemented with isretryable as false that means it will not be retried due to teh nature of the tasks.
If still user wants task to be retried, they should be implementing retry count on the task rather for retry. Hope this helps.

[2022-03-22 13:11] #3911 closed

[2022-03-22 14:28] sericks007 commented on #3892
Content has been updated.

[2022-03-22 14:28] #3892 closed

[2022-03-23 06:13] yabwah opened #3921 "issue with footer visibility formula"
Hi,
There is a issue with page footer visibility formula.

(
COUNT(Total.Page.Amount.Result)-Total.Running.Lines2.Sum(false)+
**0*Total.Running.Lines2.Collect(COUNT(Total.Page.Amount.Result))**
)<>0

The zero in " 0*Total.Running.Lines2.Collect(COUNT(Total.Page.Amount.Result))" section will always generate 0

Can you please check and advise ?

Thanks
Younes

---
#### Document Details

⚠ *Do not ed

[2022-03-23 07:03] NickSelin commented on #3921
Hello [yabwah](https://github.com/yabwah),
Thank you for your question! ER uses the [lazy reading](https://docs.microsoft.com/en-us/dynamics365/fin-ops-core/dev-itpro/analytics/er-groupby-data-sources#debug-the-added-model-mapping-component) approach. Therefore, this part of the ER expression has been added intentionally - to force the **Total.Running.Lines2** collection memorizing the **COUNT(Tot

[2022-03-23 07:27] yabwah commented on #3921
Hi Nick,
Thank you for reply. I don't get the relevance between the lazy reading and multiplying by 0. Can you please elaborate on this further?
Thanks
Younes

[2022-03-23 07:51] NickSelin commented on #3921
Hello Younes,
As it is described in the notes of this page, the `0*Total.Running.Lines2.Collect(COUNT(Total.Page.Amount.Result))` construction is used not to calculate whether the **Report page footer** component is visible on the current page as the multiplication to zero always returns zero value. It is used to append the `Total.Running.Lines2` collection with the `COUNT(Total.Page.Amount.Result

[2022-03-23 08:04] yabwah commented on #3921
Got it.
Thankyou

[2022-03-23 08:04] #3921 closed

[2022-03-24 06:12] takumatsuchida opened #3927 "輸出/エキスポート > エクスポート"
[https://docs.microsoft.com/ja-jp/dynamics365/fin-ops-core/dev-itpro/data-entities/data-entities-data-packages#export
× 輸出
△エキスポート
〇 エクスポート]

---
#### ドキュメントの詳細

⚠ *このセクションを編集しないでください。 docs.microsoft.com で必須です ➟ GitHub の問題のリンク。*

* ID: 1016eba2-a0f9-8890-beb4-7c9f9f6df4fc
* Version Independent ID: 57758813-9d36-975a-eb6f-551b7da3e276
* Content: [データ管理の概要 - Finance & Operations | Dynamics 365](http

[2022-03-24 11:56] sericks007 commented on #3905
There is no recording, so the reference to the recording has been removed.  The updated content will be published soon.

[2022-03-24 11:56] #3905 closed

[2022-03-24 14:05] hammr5900 opened #3929 "Missing File"
This [page](https://github.com/MicrosoftDocs/dynamics-365-unified-operations-public/blob/1e62b05da00bd2bbd18250896769437d924e83cd/articles/dev-itpro/analytics/financial-performance-power-bi-content-pack.md) references an Excel workbook that has the default data model that was used to create the content of the reports listed here.

The link on the page is: https://mbs.microsoft.com/customersource/g

[2022-03-24 16:58] samjarawan commented on #3899
With "Windows Server 2016 - Visual Studio 2017" agent no longer supported, the default is now "windows-2019" which pre-installs Node version 16.x.  Version 10.0.26 and earlier of the online SDK requires Node version 12.x, so a task is needed prior to the Powershell to install the correct version of node.  Online SDK version 10.0.27 will have support for Node version 12.  The document will be updat

[2022-03-25 18:18] trentone1 opened #3933 "Update to Step 15. Set up SQL Server to flow with script updates"
Step 15. Set up SQL Server
   - Step 3. a. through d. does not flow with the updates that have been made to the .\New-ADCS-SQLCert-AllVMs.ps1 script.

Processes should state and possible give example of the single SQL certificate that is created by this script and the resulting Subject Alternative Name. (Nodes, Instances)

Please note that the Subject Alternative Name must match the Nodes\Instance

[2022-03-25 23:35] josaw1 commented on #3927
@takumatsuchida, thank you for this feedback.

@takumatsuchida, thank you for this feedback.

@vivimills, please check the translation of this article.

[2022-03-25 23:38] josaw1 commented on #3929
Thank you for your comment. @kweekley can you please review?

[2022-03-25 23:40] josaw1 commented on #3933
Thank you for your comment. @faix can you please review?

[2022-03-28 08:19] bcaillet opened #3934 "Page to be adjusted for France"
It will be great to add the right acronym for French language as this costing model is well known as "PMP" for Prix Moyen Pondéré. That will help the search.

---
#### Détails du document

⚠ *Ne pas modifier cette section. C’est obligatoire pour docs.microsoft.com ➟ Liaison des problèmes GitHub.*

* ID: 4fa882cb-d260-6ff0-dcfe-0319a88bb61b
* Version Independent ID: 00d1058a-d550-3f04-1f4a-947d92de

[2022-03-28 16:00] hasaid opened #3936 "No reference to Point in time restore on production"
cannot find any details on the point in time restore on production and customers need this scenario during cut-over and mock cutover, can we add the point in time restore on production ?
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 53e754f9-eb0d-98d0-fedc-b6e5f403695e
* Version Independent ID: e

[2022-03-28 18:46] #3722 closed

[2022-03-28 19:06] kweekley commented on #3929
As noted at the top of the documentation, the referenced Power BI content pack in this document was deprecated on build Dynamics Finance and Operations 7.3.  I no longer have access to the Excel spreadsheet.

[2022-03-29 11:51] SGick opened #3937 "Import Fails with Schema error"
When you export the raw log from lcs, open it in excel, save and then ingest in Data Explorer you get a schema error
because of commas " , " in some of the columns.

Error Message:
Couldn't infer file schema. Error: Input (format: 'Csv') source cannot be read due to: 'Columns number is not consistent'.

Solution: If you just open the exported CSV with notepad and delete the first line with "SEP=,"

[2022-03-29 13:41] hammr5900 commented on #3929
I saw that its deprecated but having access to the document is still valuable…or an updated one.

Mike

From: Kristi Weekley ***@***.***>
Sent: Monday, March 28, 2022 3:06 PM
To: MicrosoftDocs/dynamics-365-unified-operations-public ***@***.***>
Cc: Michael Hammons ***@***.***>; Author ***@***.***>
Subject: Re: [MicrosoftDocs/dynamics-365-unified-operations-public] Missing File (Issue #3929)

As no

[2022-03-29 14:39] faix commented on #3933
@josaw1 i have a PR open for this. Will link it shortly.

[2022-03-29 14:51] Vixseboxse opened #3938 "change text: Default "team" is not used instead of "Business Unit""
I think the sentence "Although a default team is automatically created for that business unit, the business unit isn't used." should be "Although a default team is automatically created for that business unit, the **team** isn't used."

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a546217f-20c0-3cc4-021b-a2a260789894

[2022-03-29 15:08] Vixseboxse opened #3939 "Change text "new root business unit" to "new parent business unit""
Change text "new root business unit" to "new parent business unit". The root business unit at the top stays the same.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a546217f-20c0-3cc4-021b-a2a260789894
* Version Independent ID: cd0bb5ad-4a97-85f4-0a01-212249498cbf
* Content: [Company concept in Dataverse - Finance & Op

[2022-03-30 07:26] fivefq opened #3940 "No instruction available for Commerce SDK"
The article is outdated. The document has only reference to how use it if you are using Retail SDK. Retail SDK is being phased out and we are already on Commerce SDK. Please add instructions on how to this if you are using Commerce SDK.
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 38dea829-cc3f-2e72-8d57-5bc6d594b8b6

[2022-03-31 09:32] Marcob45 opened #3941 "Join data sources in ER"
Document does not go into enough detail on how to configure a Join in Electronic Reporting. Just reviewing a completed model is not sufficient.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 803f4999-6b61-83c6-7252-73f0d05c11e7
* Version Independent ID: cf27ebe1-2f82-3b9c-952a-e1a411e89461
* Content: [Use JOIN data sou

[2022-03-31 10:21] NickSelin commented on #3941
Hello [Marcob45](https://github.com/Marcob45),
Thank you for your feedback. Please, complete the steps of the [example](https://docs.microsoft.com/en-us/dynamics365/fin-ops-core/dev-itpro/analytics/er-join-data-sources#example-use-join-data-sources-in-er-model-mappings) provided to learn how the JOIN data source can be configured and used in ER model mappings. Notice that the [Review ER model mapp

[2022-03-31 20:49] josaw1 commented on #3939
Thank you for your feedback. @RamaKrishnamoorthy can you please review?

[2022-03-31 20:50] josaw1 commented on #3940
Thank you for your feedback. @AlexChern0v can you please review?

[2022-04-01 01:40] fyuuhi opened #3942 "N-2 should be 10.0.22, N-3 should be 10.0.21."
[Enter feedback here]
In mathematical theory acquired in my entire life, if N is 10.0.24, N-2 should be 10.0.22, N-3 should be 10.0.21. Please fix typo.

-----
Version N is the latest version (for example, 10.0.24).
Version N-2 is one version older than N (for example, **10.0.23**).
Version N-3 is two versions older than N (for example, **10.0.22)**.
-----
---
#### Document Details

⚠ *Do not edit

[2022-04-01 08:14] torbennehmer commented on #3937
@josaw1 @andreashofmann1 One addition, please try to avoid all tricks with Excel opening/saving CSV. Excel changes its behavoir based on the locale it is living in. So the way a Excel in a regular German environment "improves" on the data can be significantly different then one in an English environment. Especially Dates and Numbers are usually completely broken once a non-English Excel works on D

[2022-04-01 21:25] josaw1 commented on #3942
Thank you for your feedback. I'm investigating this and will get back to you.

[2022-04-02 01:22] mugunthanm commented on #3874
Thanks for the feedback, updated the doc:
https://github.com/MicrosoftDocs/Dynamics-365-Operations/commit/8710ed6c137fc5fa26b2ea8312e1066d2f108421

[2022-04-05 11:14] jansenrf opened #3944 "New version after 10.0.30"
[Voer hier feedback in]
Do you already have new versions after 10.0.30?

---
#### Documentdetails

⚠ *Dit gedeelte niet bewerken. Het is vereist om problemen te koppelen tussen docs.microsoft.com en GitHub.*

* ID: e7dcb285-f32c-c92e-fe49-1617f213066b
* Version Independent ID: 8f28c1a0-9da5-f853-90ee-d82a4c32df7e
* Content: [Service update availability - Finance & Operations | Dynamics 365](https:

[2022-04-05 11:59] sericks007 commented on #3944
@jansenrf, thank you for providing this feedback.

@hmahl, please update the release schedule.

[2022-04-05 16:52] JOLSO opened #3945 "According to support the Full Reset batch job needs to be in Waiting status So, it is still required."
[Vendor Payment Workspace (Embedded BI) no longe... - TrackingID#2203290040007573.docx](https://github.com/MicrosoftDocs/dynamics-365-unified-operations-public/files/8420247/Vendor.Payment.Workspace.Embedded.BI.no.longe.-.TrackingID.2203290040007573.docx)

According to support the Full Reset batch job needs to be in Waiting status  So, it is still required.  Could you document that here? The docum

[2022-04-05 18:49] utlars opened #3946 "Need additional documentation for API GetDimensionValuesWithEstimatedAvailabilities"
Internal wiki has this information for the API GetDimensionValuesWithEstimatedAvailabilities but is not found publicly.

https://msazure.visualstudio.com/D365/_wiki/wikis/D365.wiki/195503/Inventory-Availability-API-Specifications?anchor=products/getdimensionvalueswithestimatedavailabilities

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issu

[2022-04-06 17:39] josaw1 commented on #3946
Thanks for your comment. @mugunthanm can you please review?

[2022-04-07 14:08] abkady opened #3949 "Email distribution batch process use and related feature and function"
Can we add some remarks on the Email distribution batch process, where is it used, which feature \ functionality does need this job to run. currently I can see this is used to process the workflow email notifications, is there any other feature or function does need this job to be running ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issu

[2022-04-07 14:24] kamaybac commented on #3949
@abkady, thank you taking the time to send us your suggestion. I am forwarding it to the page author for consideration.

[2022-04-07 17:47] MichaelSlipp opened #3950 "Out of date - deprecated features"
[Enter feedback here]
This process is no longer possible to to the deprecation of XSLT transformation as described here:

https://docs.microsoft.com/en-us/dynamics365/fin-ops-core/dev-itpro/get-started/removed-deprecated-features-platform-updates#xslt-scripting-in-data-management

The section with "After the format processing group is set up, the next step is to define the bank statement format ru

[2022-04-08 03:33] ricdlee opened #3951 "The keyword "site builder" is missing from this entire document"
The keyword "site builder" is missing from the title, the section before the fold, and the rest of the document. This makes it difficult to find this doc when using "site builder" in the search query.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 33e27a9b-62ab-c8d3-c20e-7895d24a4fd8
* Version Independent ID: b5da75cf-

[2022-04-08 13:28] rpouwels opened #3952 "The documentation on this subject is missing detailed information on settings"
Very poor setup information. Many details missing at all. Like "coda definitions" and "coda journal" like what are the settings for. I keep getting an error message and I am not the only one, but there is no troubleshooting chapter either.

Please complete the documentation.

---
#### Documentdetails

⚠ *Dit gedeelte niet bewerken. Het is vereist om problemen te koppelen tussen docs.microsoft.com

[2022-04-08 22:28] mattgo79-MSFT opened #3953 "Old Features are Still in Docs Site"
Hello, we should remove any references to Performance Metrics and Index Analysis since these features were deprecated last fall, but they still exist here in the Docs site.  This causes confusion to our customers.  My alias is GOMATT.

Thank you!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7a59d9fd-8c46-120c-efb1-ef

[2022-04-11 10:53] EvgenyPopovMBS commented on #3940
Because of limitations of the new independent packaging and extension model and the Commerce SDK, it can't currently be used for the GST integration for India. You must use the previous version of the Retail SDK on a developer virtual machine (VM) in Microsoft Dynamics Lifecycle Services (LCS). Support for the new independent packaging and extension model for Commerce localizations is planned for

[2022-04-11 14:20] kamaybac commented on #3951
@ricdlee, thank you for letting us know about this issue. I have forwarded it to the author for consideration.

[2022-04-11 14:23] kamaybac commented on #3951
@ricdlee, thank you for letting us know about this issue. I have forwarded it to the author for consideration.

[2022-04-12 00:30] SalesAppAx opened #3955 "Active Retail Cloud POS"
AFTER SET UP PREVIOUS REQUIREMENTS RUN ACTIVE RETAIL CLOUD POS ONEBOX AND SHOW THIS ISSUES

Retrieving the stores failed.

DA1023 - Could not resolve identity. The Azure AD account is not mapped to an employee in Retail headquarters.
Application session ID
13e83c69-95e6-8eb6-ec36-c69548567200

NEED OTHER SETUP OR CONFIGURATION TO WORKS THAT MODULE

[2022-04-12 12:55] Shind44 opened #3956 "Wrong Image in the top of the page"
Wrong Image in the top of the page
![image](https://user-images.githubusercontent.com/40988263/162967231-8bfb8da0-66b1-445d-97e8-7e024a6b5690.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e35cbedf-51f8-cf26-76a6-6c3ef586f214
* Version Independent ID: 538fa39d-b217-9c3c-2e6f-55fe189174eb
* Content: [Design-time me

[2022-04-12 21:42] faix commented on #3933
@josaw1 please close this issue. It has been merged in already.

[2022-04-13 11:34] #3933 closed

[2022-04-13 17:13] gunavs opened #3960 "License for Azure B2B user"
[Enter feedback here]
I am trying to understand how license consumption would be in this scenario for the guest user. For instance, Power BI doc states that the external user can be licenses in their tenant or the shared tenant https://docs.microsoft.com/en-us/power-bi/enterprise/service-admin-azure-ad-b2b#:~:text=Power%20BI%20enables%20sharing%20content%20with%20external%20guest,By%20default%2C%2

[2022-04-14 10:13] jbromelow opened #3962 "Upload Certificate incorrect"
[Enter feedback here]
Part about uploading the LCS certificate (https://docs.microsoft.com/en-us/dynamics365/fin-ops-core/dev-itpro/deployment/arm-onboarding#upload-the-management-certificate) is incorrect.
Link to 'clasic Azure Portal' is broken.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 693bb4b2-92f2-2f0c-4fd3-6

[2022-04-18 13:02] sericks007 commented on #3960
@gunavs, thank you for providing this feedback.  The author of this article has left the team, so I'm working to find a new author for this article.

[2022-04-18 13:33] sericks007 commented on #3960
@paulliew, please respond.

[2022-04-18 13:39] kfend commented on #3955
Thanks for contacting us. Unfortunately, we're unable to handle Support requests for the product here. To contact Support, consider one of the options described here: [Support contact options](https://docs.microsoft.com/en-us/dynamics365/unified-operations/dev-itpro/lifecycle-services/lcs-support). In particular, you might want to go to the [Dynamics 365 community page](https://community.dynamics.

[2022-04-18 13:39] #3955 closed

[2022-04-18 13:41] kfend commented on #3956
@Shind44 - Thank you for this feedback.
@RyanCCarlson2 - Can you please take a look at this and update the topic as needed? Thanks!

[2022-04-18 13:43] kfend commented on #3962
@jbromelow - Thank you for the feedback.
@saurabhsurana - Can you please take a look and update the topic? Thanks!

[2022-04-18 14:46] kfend commented on #3956
@RyanCCarlson2 - Thank you for the quick update! I have merged the changes and the updated graphic will go live later today. Closing this issue as it has been resolved.

[2022-04-18 14:46] #3956 closed

[2022-04-18 16:50] paulliew commented on #3960
assigned to @Ritesh Pandey

[2022-04-19 08:43] mh65140 opened #3968 "Missing dual write core version numbers"
Where is the dual write core version number for the March 2022 release and the April 2022 release?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b8043d72-1496-a79a-da5b-60dc1d24f561
* Version Independent ID: fa5f09b6-10d9-ab9a-6f65-da69252777c1
* Content: [What's new or changed in dual-write - Finance & Operations | D

[2022-04-19 10:46] jimwillsher opened #3970 "Please update page with new dates"
[Enter feedback here]

Please could this page be updated? The page only shows the next four planned releases, and that is too short a timeframe for enterprises who are deploying or planning D365 F&O. We really need to see a rolling twelve months. Many thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e7dcb285-f32c

[2022-04-19 11:45] sericks007 commented on #3970
@jimwillsher, thank you for providing this feedback.

@hmahl, please update the content.

[2022-04-20 09:22] hpvanzyl opened #3973 "Duplicated links in documentation"
Duplicated links in the documentation:

Page:
https://docs.microsoft.com/en-us/dynamics365/supply-chain/landed-cost/landed-cost-vs-tms#intercompany-reports

Snippet:
The following reports don't work in conjunction with the goods in transit feature that Landed cost provides:

[Intercompany goods in transit totals report](https://docs.microsoft.com/en-us/dynamicsax-2012/appuser-itpro/intercompany-go

[2022-04-21 11:35] amadse opened #3974 "Outdated content"
[There are multiple wrong references in this article:
[](https://docs.microsoft.com/en-us/dynamics365/fin-ops-core/dev-itpro/lcs-solutions/media/pdp_06.png)The data packages that Microsoft publishes on LCS use a numbering sequence that is based on the module, data type, and sequence. Here is an example:
None of the availabel pckage has such numbering

In LCS, select the Asset library tile.
Select

[2022-04-21 12:01] iamJoshKnox opened #3975 "Workflow Test Condition"
Do F&O workflows still have a test condition button?  It no longer seems to be visible in my workflow editor forms.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 07dd83e3-7b83-2db8-602b-26152f3d772d
* Version Independent ID: 49892b38-1256-2459-90df-c43db87af15b
* Content: [Configure conditional decisions in a workflow

[2022-04-21 12:56] twheeloc commented on #3973
@hpvanzyl, Thank you for this feedback.
@sherry-zheng, please review and update as needed.

[2022-04-21 20:54] Yavillan opened #3976 "Timeframe of the unsupported setup"
Is there a possibility to know an estimated date or timeframe in which this will be supported?
Some setup isn't added in the fit analysis, in which there is a timeframe

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: aad34759-589f-24db-cf35-7664646a7ff3
* Version Independent ID: f2d59d91-7d54-ef2a-65c5-bc5f1541d122
* Co

[2022-04-21 21:05] #3974 closed

[2022-04-21 23:29] deman opened #3977 "The Class 'ERImportFormatDataSourceContract' is internal and is not accessible from the current module"
Hi,

In the sample code inside this page, it is using ERImportFormatDataSourceContract.

For the same usage in our code, we are getting this error:

C:\DynamicsSDK\Metadata\Microsoft.Dynamics.AX.Application.Build.targets(40,5): Error : Error: dynamics://Class/AxMT940BankStatementImport/Method/gerImportStatement(718,61) - The Class 'ERImportFormatDataSourceContract'  is internal and is not accessib

[2022-04-22 07:47] NickSelin commented on #3977
Hello [deman](https://github.com/deman),
This code sample was published before the following [enhancement](https://fix.lcs.dynamics.com/Issue/Details/?bugId=648578&dbType=3) has been announced for the Dynamics 365 Development tooling. To adapt this code to the currently using tooling, refer the  **ERIImportFormatDataSourceContract** public interface instead of the **ERImportFormatDataSourceContrac

[2022-04-22 16:42] AnatolyZan opened #3978 "DeploySsrsExtension.ps1 script issue"
Hello Robin!

Hope everything is going well!

We need to update SSRS in one of our OneBoxes and faced with an issue with DeploySsrsExtension.ps1 script.
The script is not included into DeployablePackage we can get from LCS.

And without this script to make a proper update is just impossible.

BR,
Anatoly.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.co

[2022-04-22 18:19] #3977 closed

[2022-04-22 18:20] twheeloc commented on #3975
@iamJoshKnox, thank you for this question.
@ChrisGarty, please review and update the content as needed.

[2022-04-22 18:22] twheeloc commented on #3976
@Yavillan, thank you for the feedback.
@t-benebo, please review and updated the content as needed.

[2022-04-25 11:38] sericks007 commented on #3978
@AnatolyZan, thank you for providing this feedback.

@josaw1, please assign to the appropriate PM.

[2022-04-25 16:08] josaw1 commented on #3951
@bicyclingfool can you please review this comment?

[2022-04-26 10:58] 5fq opened #3982 "Enhanced e-Commerce product discovery to be inventory-aware doesn't support multiple fulfillment location"
Enhanced e-Commerce product discovery to be inventory-aware considers stock of  warehouse assigned to Online store only. If you use DOM or have multiple fulfillment warehouses or use aggregate of stock from multiple warehouses to calculate inventory availability in Ecommerce this feature will not provide the accurate information. To avoid confusion, the article should be updated to explain how the

[2022-04-26 11:25] maciek-o opened #3983 "WHSInboundASNV2Entity is now marked as Obsolete"
The entity WHSInboundASNV2Entity is now marked as Obsolete.
The article & examples should be updated with the V3 version

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c35d4c92-5f41-b33d-1b69-7c0a1a5735e1
* Version Independent ID: 57047047-df99-d7a4-548c-627fefc1888e
* Content: [Import inbound ASNs through the V2 data

[2022-04-26 12:02] sericks007 commented on #3982
@5fq, thank you for providing this feedback.

@anupamar-ms, please update the content as suggested.

[2022-04-26 12:18] sericks007 commented on #3983
@maciek-o, thanks for providing this feedback.

@GalynaFedorova, please update the content as suggested.

[2022-04-26 20:13] sericks007 commented on #3904
@YujiImaoka, the [One Version service updates FAQ] article was updated yesterday.  Does the updated content answer your question?

[2022-04-26 21:58] jasongre commented on #2836
@SysC0mp See this section for more details on the behavior of when warning messages are cleaned up automatically if the warning is defined in the validate() method of the control, field, or table: https://docs.microsoft.com/en-us/dynamics365/fin-ops-core/dev-itpro/user-interface/messaging-user#when-are-validation-messages-cleaned-up. Validate() should return false to signify that validation of the

[2022-04-27 00:56] YujiImaoka commented on #3904
@sericks007 I cannot find any change on [One Version service updates FAQ].

Could you please update both (A) or (B) as like below DRAFT?

(Draft)
Microsoft also won't investigate or troubleshoot any issue that you encounter on a version that is older than three service updates.
(e.g. If latest version is 10.0.24, Microsoft does not investigate issue happens at older than 10.0.21)

[2022-04-27 10:43] MarisRe opened #3985 "Shipping carrier > Services > Load template field not explained"
Shipping carrier > Services > Load template Id field not explained

What is the purpose of entering Load template Id field in Shipping carrier > Services tab?
This field is not explained in documentation.

![image](https://user-images.githubusercontent.com/104499854/165501091-0ff0a234-ee68-4af6-aba5-bc4a79dd845c.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.

[2022-04-27 11:03] Henrikan commented on #3985
You will need to engage the PM for Transportation management. That is not I.

Best regards,
Henrik Andersen
Senior Product Manager SCM
Microsoft Dynamics 365 For Finance & Operations

Microsoft Development Center Copenhagen APS
Kanalvej 7
DK-2800 Kongens Lyngby
CVR: 76247218

Mobile: +45 29 22 94 76
***@***.******@***.***>
 [View my profile on LinkedIn] <https://nam06.safelinks.protection.outlook.

[2022-04-27 11:11] MarisRe commented on #3985
What do you mean? I am looking for documumentation of this field as it is not documented in official MS documentation page.

[2022-04-27 11:36] Henrikan commented on #3985
You have called me out in an issue in Github. Please explain the reason why - thanks in advance.

Best regards,
Henrik Andersen
Senior Product Manager SCM
Microsoft Dynamics 365 For Finance & Operations

Microsoft Development Center Copenhagen APS
Kanalvej 7
DK-2800 Kongens Lyngby
CVR: 76247218

Mobile: +45 29 22 94 76
***@***.******@***.***>
 [View my profile on LinkedIn] <https://nam06.safelinks

[2022-04-27 11:40] #2836 closed

[2022-04-27 11:50] MarisRe commented on #3985
Ok, I was exploring the setup of Shipping carrier service in D365. Noticed, there is a Load template Id field. Looked for the documentation of this field and how it works in conjuction with Shipping carrier setup.
Opened documentation from D365 Help menu. I was directed to this this page: https://docs.microsoft.com/en-us/dynamics365/supply-chain/transportation/tasks/set-up-shipping-carriers which

[2022-04-27 12:48] sericks007 commented on #3985
@kamaybac, could you please help resolve this issue?

[2022-04-27 14:23] kamaybac commented on #3985
@MarisRe , thank you for contacting us regarding this help topic. I will forward this issue to the correct author for consideration, and we will seek to add documentation for this field.

In the meantime, I can tell you that you can use this field to assign a load template for each of the carrier services listed here. The load template defines maximum measurements for weight and volume of an entir

[2022-04-27 14:25] kamaybac commented on #3985
@Weijiesa, can you comment on how load templates are used by shipping carrier services?

[2022-04-27 14:28] MarisRe commented on #3985
Hi,

Thank you for your answer. I see your second e-mail now and that’s the main question does it has some functionality behind as well or it is just informative field on carrier service.

Maris Reinfelds
Lead Solution Consultant
TietoEvry Transform, Latvia

Mobile +37128382732
Gustava Zemgala gatve 76, Rīga, Latvia, LV1039
***@***.******@***.***>

From: Karl Maybach ***@***.***>
Sent: Wednesday,

[2022-04-28 02:42] Weijiesa commented on #3985
@MarisRe

The load template not just an informative field, it can be used to setup loading building template which could be used in load building workbench to help user apply load building strategies when create loads.

You can find some information at:
https://docs.microsoft.com/en-us/dynamics365/supply-chain/transportation/tasks/load-building-workbench

Furthermore, below blog might be helpful:

[2022-04-28 05:56] klofskar opened #3986 "SRU now has 4 digits in Sweden"
[Enter feedback here]

In Sweden there is the use nowadays to use the 4 digit SRU-codes. It was several years ago that 3 digits were commonly in use.
It is good however to see this but it certainly would be a great improvement if this could be updated to the new versions of 4 digits, then the system would be even more useful in Sweden for accounting issues.

---
#### Document Details

⚠ *Do not ed

[2022-04-28 11:51] #3985 closed

[2022-04-28 13:47] pgub opened #3987 "Windows Server 2022 Support"
Support for Windows Server 2022 is requested

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5fe44c05-ed58-b554-859e-2da552dbbd9d
* Version Independent ID: e638edab-dd54-6008-f210-524fd52b0e5b
* Content: [Install the Document Routing Agent to enable network printing - Finance & Operations | Dynamics 365](https://docs.mi

[2022-04-28 13:53] sericks007 commented on #3987
@pgub, thank you for providing this feedback.

@RichdiMSFT, please update the content as requested.

[2022-04-28 19:30] josaw1 commented on #3792
Issue fixed by product manager.

[2022-04-28 19:30] #3792 closed

[2022-04-28 21:53] kfend commented on #3326
This topic was updated a few months ago. Closing the issue now.

[2022-04-28 21:53] #3326 closed

[2022-05-02 17:43] sglickliddicoat opened #3991 "Insufficient info on behavior when importing data"
there's a note "This information applies only to the application of default dimensions in the application. If you import data by using Microsoft Excel or the Data Management Framework, the behavior differs." but no link to where information on the behavior when you are importing data, which is what I'm looking for.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.mi

[2022-05-02 18:19] ricdlee opened #3992 "How to access "Purchase in bulk" screen"
Hello,

In the doc https://docs.microsoft.com/en-us/dynamics365/commerce/b2b/quick-bulk-orders and in the section titled "Bulk order by variant," there is no explanation on how the screen shown in this section is come upon. Can that detail be provided?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 918c4ec5-3bae-6efd-f

[2022-05-02 19:06] josaw1 commented on #3991
Thank you for your comment. @aprilolson can you please review?

[2022-05-02 19:07] josaw1 commented on #3992
Thank you for your feedback. @ShalabhjainMSFT can you please review?

[2022-05-02 20:42] Sigvelli opened #3993 "Suggestions for "Checklist to follow before activation""
Suggestion 6:
6. "Make sure that the worker is set up as a user in the Manager role (checked by validation)."
It could save the next reader some time if he knew that you are referring to the "POS permissions" form. (and not the User form as I first believed)

Suggestion 12 and 13 would be easier if this were AX 2012. Could you please point to where the Real-time Service profile is found in D365?
1

[2022-05-03 14:14] panolte commented on #3950
Angela Ding is the PM for this topic.

[2022-05-03 17:05] josaw1 commented on #3993
Thank you for your feedback. @bicyclingfool can you please review?

[2022-05-04 12:12] Halldor10 opened #3994 "Independent packaging and "Log events to Application Insights in the POS extension projects" documentation"
Under the section: "Log events to Application Insights in the POS extension projects," in step 9, it does no longer apply to the new independent packaging extension project.  An updated documentation is needed on what to add to the project file, so the applicationInsights files are copied as part of the installation process when installing the extension for an independent package

---
#### Documen

[2022-05-04 19:26] josaw1 commented on #3994
Thank you for your feedback. @mugunthanm can you please review this?

[2022-05-04 21:43] #3283 closed

[2022-05-05 07:16] KheeChan opened #3996 "Which are the preview features and which release contains the preview?"
It is mentioned at the top of this page that "Some or all of the functionality noted in this topic is available as part of a preview release.". My requests:
1. Please provide information on exactly which of the functionality is actually part of a preview release.
2. Please provide information on which release the preview first appeared in.

---
#### Document Details

⚠ *Do not edit this section. I

[2022-05-05 11:55] sericks007 commented on #3970
This article was updated yesterday.

[2022-05-05 11:55] #3970 closed

[2022-05-05 11:56] sericks007 commented on #3944
This article was updated yesterday.

[2022-05-05 11:56] #3944 closed

[2022-05-05 11:56] sericks007 commented on #3790
This article was updated yesterday.

[2022-05-05 11:56] #3790 closed

[2022-05-05 14:32] kamaybac commented on #2764
All the required images were present, but some were positioned incorrectly. They were also difficult to refer to from the text due to lack of figure numbers/captions. We repositioned the images, added numbers/captions, and used the figure numbers to make it more clear which image the body text was talking about in each instance.

[2022-05-05 14:32] #2764 closed

[2022-05-06 00:16] josaw1 commented on #3996
Thank you for your feedback. @BrianShook can you please take a look?

[2022-05-06 14:37] kamaybac commented on #3702
These fixes have been applies

[2022-05-06 14:37] #3702 closed

[2022-05-06 14:50] blangero commented on #3760
Thank you kamaybac for the update, I think it is already good enough!

[2022-05-06 20:36] sericks007 commented on #3904
The [Software lifecycle policy and cloud releases](https://docs.microsoft.com/en-us/dynamics365/fin-ops-core/dev-itpro/migration-upgrade/versions-update-policy) content has been updated.  The [One Version service updates FAQ](https://docs.microsoft.com/en-us/dynamics365/fin-ops-core/fin-ops/get-started/one-version) article was updated recently, as well.

[2022-05-06 20:36] #3904 closed

[2022-05-06 20:37] sericks007 commented on #3580
The [Software lifecycle policy and cloud releases](https://docs.microsoft.com/en-us/dynamics365/fin-ops-core/dev-itpro/migration-upgrade/versions-update-policy) content has been updated.

[2022-05-06 20:37] #3580 closed

[2022-05-09 05:31] DKobayashi-ykgw opened #3999 "Please update timetable for operating system maintenance"
In topic "What is the schedule for operating system maintenance?", we would appreciate it if you could update the timetable.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1fcc1802-115b-4ac2-f34f-aa73eac426f4
* Version Independent ID: d758bfc6-245e-43d6-8bde-31282cea0a64
* Content: [Planned maintenance in self-service

[2022-05-10 11:27] Stuart-Honour-HCL opened #4000 "XSLT scripting in Data management - Deprecated"
Seems this article leads the user to use a deprecated feature.

When using this article and at Step 15 of Section Set up the import of MT940 bank statements the following error is displayed

Execution of scripts was prohibited. Use the XsltSettings.EnableScript property to enable it. An error occurred at (516,7).

Deprecated Feature.: https://docs.microsoft.com/en-us/dynamics365/fin-ops-core/dev-i

[2022-05-10 23:16] Navneetkat opened #4001 "Steps for Sequencing Planned orders for Process manufacturing"
[Steps given for sequence generations with Demo data in USPI company not working, Please confirm what is the issue either in demo data or instruction steps.]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 43b5b0fb-dfc2-eac7-2af6-da068b7fdb50
* Version Independent ID: 91e768e1-7563-1c7d-1059-dc91842bfaf1
* Content: [Seq

[2022-05-11 02:51] Kai-Cloud opened #4002 "Clarify the steps to be "In dataverse""
Our customer/partner reported that they didn't know how to be "in dataverse" per [point 1](https://docs.microsoft.com/en-us/dynamics365/fin-ops-core/dev-itpro/power-platform/enable-virtual-entities#generate-virtual-entities).

Could you please add just a few more guidance like:
- "Go to Power platform admin center, in the Environment module, and get the Environment URL. Click the URL to get in dat

[2022-05-11 08:15] d3fr0g opened #4003 "User-based service protection API limits"
The User-based service protection API limits section starts with "Two of the" and then there are 3 factors. Do we know which 2 or random?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cc0a8dff-9a51-bd7b-bc9a-841acba03aba
* Version Independent ID: cc0a8dff-9a51-bd7b-bc9a-841acba03aba
* Content: [Service protection API

[2022-05-11 08:56] kamaybac commented on #3420
There are only a few instances of this form pattern in the OOB product and none of them display with data by default. Resolving this as Won't Fix since the point of the article is to show the general idea.

[2022-05-11 08:56] #3420 closed

[2022-05-11 13:01] jesperdybdahl commented on #3420
Exactly the reason for refering to an example that excually implements the pattern described. Refer to one of those few instances so you can actually see all the properties that is missed in the documentation. The value of the example is useless.

[2022-05-11 14:16] jaredha commented on #4003
Yes, this is detailed in the table in that section of the topic. The "Number of requests" and "Execution time" limits are measured within a five-minute sliding window.

[2022-05-11 14:32] mattgo79-MSFT opened #4004 "Index Analysis feature no longer available"
Hello,

The paragraph on Index Analysis should be removed because this feature was deprecated last fall and is no longer available.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7a59d9fd-8c46-120c-efb1-ef73b158ac33
* Version Independent ID: 6ec54ef7-cbbb-32f3-42c7-ac695d3b94bd
* Content: [Performance troubleshooting u

[2022-05-11 15:46] #4003 closed

[2022-05-11 15:46] ThomasZak1 opened #4005 "Restart copy after DIXF batch failure"
If the copy process fails, are there an special instructions for redoing or completing the copy? Is there any problem with just redoing the copy entirely after a partially complete copy?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a9ca3366-fa7f-6cda-dfc6-672f032ccc3a
* Version Independent ID: 0bb7d0c2-467e-8a95-b7f1

[2022-05-11 16:41] PayneNathan opened #4006 "Option Not Available to View Marked Transactions"
This page references to go to the following location:
**(Accounts receivable > Periodic tasks > Customer marked transaction details)**

However, no such option can be found on our system and we recently upgraded to 10.0.25.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2b2a4651-651e-c969-43e4-44cdf8af81d6
* Version In

[2022-05-11 20:54] AndyStout opened #4007 "Data Lake Connection String Stored in KeyVault"
This article glosses over the fact that the connection string is needed from the data lake storage account and that it must be stored in the keyvault before being referenced on the System Parameters page in Dynamics FO.  It is not obvious how to acquire the connection string

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* I

[2022-05-12 00:05] jaredha commented on #4002
Thanks for the recommendation. I've submitted documentation updates to include more detail on the steps to get up to the point of the Advanced Find page.

[2022-05-12 13:09] sericks007 commented on #4002
The documentation has been updated and will be published later today.

[2022-05-12 13:09] #4002 closed

[2022-05-12 14:26] sericks007 commented on #4005
@ThomasZak1, thanks for providing this feedback.  I asked a PM who responded with this: "Each entity will have a listing of success/failure and the user can address those issues and re-run just like they would with any other data project."

The PM the referred to the following content in the article:

“Any errors that occur are shown on the Execution summary page, just as they are for an import pr

[2022-05-12 14:26] #4005 closed

[2022-05-12 20:15] twheeloc commented on #4001
@Navneetkat, thank you for the feedback.
@johanhoffmann, please review the feedback and update the content as needed.

[2022-05-12 20:16] twheeloc commented on #4004
@mattgo79-MSFT, thank you for the feedback.
@laneswenka, please review the feedback and update the content as needed.

[2022-05-12 20:18] twheeloc commented on #4007
@AndyStout, thank you for the feedback.
@MilindaV2, please review the feedback and update the content as needed.

[2022-05-12 20:25] twheeloc commented on #4000
@Stuart-Honour-HCL, thank you for the question.
@sunfzam, please review this feedback and update the content as needed.

[2022-05-12 20:27] twheeloc commented on #4006
@PayneNathan, thank you for the feedback.
@panolte, please review this feedback and update the content as needed.

[2022-05-12 20:27] twheeloc commented on #3999
@DKobayashi-ykgw, thank you for the question.
@rashmansur, please review the feedback and update as needed.

[2022-05-12 20:55] panolte commented on #4006
There is a feature called Marked transaction detail form.  This feature will need to be enabled to use this functionality.

[2022-05-12 23:49] emuench opened #4008 "Incorrect offer type name?"
I think the three new terms are:

- Dynamics 365 apps on Dataverse and Power Apps
- Dynamics 365 Operations Apps
- Dynamics 365 Business Central

I believe finance is now in Biz Central.
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 27899f77-9cc9-1831-fa16-9c0c71f8f1c3
* Version Independent ID: 4bfcb1d6-3e1d-b24b-4429-

[2022-05-13 09:45] Alpa-Chino opened #4009 "MSbuild and VS 2019 version"
Hi!

Since the new VHD came with VS2019, the recommendation/ version match to msbuild version is missing. Can you please update the doc that azure pipelines which msbuild we should use depending on the VHD/VS version?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d3f216bf-8601-a605-f70a-0cd21dec87d3
* Version Independ

[2022-05-13 15:15] #4006 closed

[2022-05-16 00:26] sunfzam commented on #4000
@twheeloc @Stuart-Honour-HCL , this is a Bank&Cash topic. Previously, colleagues have done enhancement to leverage electronic reporting to replace XSLT due to security issue.

Will let team take a look

[2022-05-16 13:04] oysbre opened #4010 "Adyen Merchant account ID"
If the Merchant account ID from Adyen contains underscore and/or dash and use this in the Adyen Payment connector, MPOS cannot communicate with the terminal stating "NotFound".

[2022-05-17 17:35] Doriano opened #4012 "Wrong steps"
Steps 11 onwards does not makes sense.
Can you please check, and perhaps add screenshots.

Thanks,

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3353bfbb-1523-7788-d74d-d3a0ffbb6edb
* Version Independent ID: 9cdf1e1e-c410-27b0-9032-0afb3d6f7465
* Content: [Create call center orders - Commerce | Dynamics 365](https://d

[2022-05-18 04:09] YujiImaoka opened #4013 "Request following correction to clarify the difference between [End of service] and [End of support]"
[Enter feedback here]

We would like to request following correction in document (A) and (B)to clarify the difference between [End of service] and [End of support] and the corresponding versions of each.
(A) https://docs.microsoft.com/en-us/dynamics365/fin-ops-core/fin-ops/get-started/one-version#what-does-end-of-service-mean
(B) https://docs.microsoft.com/en-us/dynamics365/fin-ops-core/dev-itpro/

[2022-05-18 11:52] sericks007 commented on #4013
@YujiImaoka, thank you for your feedback.  I'll have our PMs take a look at this.

[2022-05-18 13:10] #3647 closed

[2022-05-18 16:46] #4013 closed

[2022-05-18 22:44] Chrisslima opened #4014 "Database Storage clarifications is causing confusion between the production and Sandbox environments."
Hi all,

The Database storage clarifications is causing confusion at https://docs.microsoft.com/en-us/dynamics365/fin-ops-core/fin-ops/imp-lifecycle/environment-planning#:~:text=Database%20storage%3A,365%20pricing.

It's attached only to "Production Environments" in Docs page, but in the D365 Licensing Guide, the Operations Database capacity included is indicated "by Tenant" in the table at page 4

[2022-05-19 13:23] kfend commented on #4009
@Alpa-Chino - Thank you for the feedback.
@jorisdg - Can you please take a look and update the topic as needed? Thanks!

[2022-05-19 13:24] kfend commented on #4010
@oysbre - Thank you for the feedback. Can you please let me know what topic you are referring to? Thank you.

[2022-05-19 13:26] kfend commented on #4012
@Doriano - Thank you for the feedback.
@josaw1 - Can you please take a look and update the topic as needed? Thanks!

[2022-05-19 15:36] josaw1 commented on #4012
@ashishmsft can you please address this issue?

[2022-05-19 15:42] kfend commented on #4008
@emuench - Thanks for the feedback. Finance has not become Biz Central or Business Central. It is still Dynamics 365 Finance. Thanks!

[2022-05-19 15:42] #4008 closed

[2022-05-19 16:28] ashishmsft commented on #4012
@ShalabhjainMSFT would be right owner for content related to 'Order creation'

[2022-05-20 02:25] justobc opened #4015 "I think the metioned 27.50 amount is wrong in running average calculations."
[Enter feedback here]

I think the metioned 27.50 amount is wrong in running average calculations. In "LIFO with marking" example. Please verify. My calculations es 20.00 instead of 27.50.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7408496e-94bc-ae85-2038-8f803e00c6bd
* Version Independent ID: 9a33650a-b839-8484-01

[2022-05-20 03:13] Chrisslima opened #4016 "Update Previous Version Video with latest TechTalk released"
Dear all,

We have recently released great TechTalks but our D365 SCM landing page still makes reference to previous versions videos, it would be great if you could keep this documentation updated with our latest TechTalk resources.

D365 SCM landing page: https://docs.microsoft.com/en-us/dynamics365/supply-chain/#:~:text=The%20following%20tech,Blogs

Example of updated TechTalk series for WMS/TMS

[2022-05-20 10:08] thedynamicsgirl opened #4017 "Confusion on the countries where the feature is unavailable"
[In D365 it says that this feature "**_Cloud powered customer search_**" is unavailable in the regions: Brazil, UK, India and Canada, where as in the docs it says only Brazil and India. Which one is correct?
![image](https://user-images.githubusercontent.com/81991433/169506025-2a8ec2ae-e16e-40c4-b24c-96c2f515e8c1.png)

![image](https://user-images.githubusercontent.com/81991433/169506232-43832d3f-

[2022-05-20 13:48] tomhig opened #4018 "Typo in first question"
Please replace the word "row" with the word "record" in the first question's answer on this page:

https://docs.microsoft.com/en-us/dynamics365/fin-ops-core/dev-itpro/data-entities/dual-write/dual-write-faq#do-you-plan-to-enable-dual-write-to-use-dataverse-as-a-hub-between-multiple-finance-and-operations-environments-if-dataverse-is-used-as-a-hub-data-can-be-synced-between-two-or-more-finance-and-

[2022-05-20 14:53] #4018 closed

[2022-05-20 15:30] prodev42 opened #4019 "Link Broken"
[Enter feedback here]
Can more than one developer develop concurrently on the same VM?
This is not supported. However, you can provision more than one developer account on the same VM, they just cannot develop concurrently. For details, see [Create new users on development machines](https://docs.microsoft.com/en-us/d365F-O/fin-ops-core/dev-itpro/dev-tools/access-instances).

---
#### Document Deta

[2022-05-20 15:41] Simon-Syd opened #4020 "move "note" section from 1 chapter"
[Enter feedback here]
hello,

we just used the documentation to rotate cert, and this chapter is not very user friendly, maybe the "note" section could be better at the top of the chapter not at the end ?
![image](https://user-images.githubusercontent.com/60176428/169563501-19ff4eaa-7332-4676-87d3-1418bd262213.png)

the next chapter has the "note" at the beginning !

![image](https://user-images.g

[2022-05-23 11:50] Alpa-Chino opened #4022 "Error code not covered"
Hi!

I was checking some of the dual write table map health checks, and i have found one with Error Code 1900. Can you please update this page with the new Error codes and their detailed explanation?

Thanks in advance!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2e86b1e0-0759-24c4-67f9-189c67246c80
* Version Indepe

[2022-05-23 12:58] kfend commented on #4020
@Simon-Syd - Thank you for the feedback.
@PeterRFriis - Can you please take a look at this and update the topic? Thanks!

[2022-05-23 13:02] kfend commented on #4015
@justobc - Thank you for the feedback.
@JennySong-SH - Can you please take a look at this and update the topic as needed? Thanks!

[2022-05-23 13:06] kfend commented on #4019
@prodev42 - Thank you for the feedback. I have updated the link and the changes will publish later today.

[2022-05-24 13:09] sericks007 commented on #3960
Bug 693415 has been logged to track this issue.

[2022-05-24 13:14] sericks007 commented on #3978
@RichdiMSFT, can you please review this comment and either make a doc fix or assign it to the correct person? Thanks.

[2022-05-24 13:23] sericks007 commented on #3982
Bug 693419 has been logged to track this issue.

[2022-05-24 13:26] sericks007 commented on #3983
Bug 693431 has been logged to track this issue.

[2022-05-24 13:31] sericks007 commented on #3986
Bug 693432 has been logged to track this issue.

[2022-05-24 13:34] sericks007 commented on #3987
Bug 693434 has been logged to track this issue.

[2022-05-24 14:30] aaronstackpole opened #4023 "Docs Page Clarification"
There appear to be possibly instructions for more than one process here. I'm trying to install a deployable package in a VM, do I need to only follow the steps in that one section, or do I have to do all of the sections afterwards that describe creating a runbook and all that?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

*

[2022-05-25 02:45] DKobayashi-ykgw commented on #3999
Hi @twheeloc, @rashmansur,
How is the progress of this matter?

[2022-05-25 04:23] D365DemoTS778525 opened #4024 "Registration types"
[Enter feedback here]

Hi,
What is not very clear and easy to understand from this site is the potential consequences from making a specific parameter selection especially for the unique and primary for country/region.
Setting those parameters correctly has an important impact on the configuration in the tax service and is crucial to get the tax configuration right.
What is missing in my opinion i

[2022-05-25 09:40] FH-Inway opened #4025 "Insufficient documentation for creation of application id for recurring integrations"
The documentation for recurring integrations in Dynamics 365 contains the section [Authorization for the integration REST API](https://docs.microsoft.com/en-us/dynamics365/fin-ops-core/dev-itpro/data-entities/recurring-integrations#authorization-for-the-integration-rest-api). This section states the following:

https://github.com/MicrosoftDocs/dynamics-365-unified-operations-public/blob/11ca071d68

[2022-05-25 12:05] klofskar commented on #3986
Hello

The thing is that in Sweden you need to enter a 4 Digit SRU-code to be able to do the export to work properly. Microsoft is by default only support the very old 3-digit code so
in most cases the export of a SIE-file does not work in order to be used in 3rd party systems if not the correct 4-digit code is added.

Please add in the article that it is only the old 3-digit code that is working

[2022-05-25 12:26] sericks007 commented on #3986
@klofskar, thank you for clarifying!

@Anasyash, please update the content as advised.

[2022-05-25 12:48] Anasyash commented on #3986
@klofskar in my opinion this is a gap in the system, could you please create a support ticket and explain this requirement with links to legislation so that MS support team can contact MS product team and request a feature update to 4-digit codes. We should not update current topic explaining that we have a feature that cannot be used.

[2022-05-25 14:23] sericks007 commented on #3999
Hi @DKobayashi-ykgw,

@matapg007 is in the process of updating this content.  @matapg007, can you update the "What is the schedule for operating system maintenance?" to add more dates?

[2022-05-26 21:03] sericks007 commented on #3999
@DKobayashi-ykgw, this content will be updated later today.

[2022-05-26 21:03] #3999 closed

[2022-05-26 23:23] maveloso opened #4028 "Integration keys order"
on the integration keys section, it would be good to specify that they need to be entered in the exact order of the article, if any of the pairs are reversed, you will get errors

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 710d0b0c-bd96-ca64-0e46-225dc6653c72
* Version Independent ID: a678c3e8-d98f-4c8d-8800-9ce3d98

[2022-05-27 04:04] DKobayashi-ykgw commented on #3999
@sericks007, @matapg007, Thank you for update contents.

In section "What are the planned maintenance windows?", there described as
---quote---
Microsoft recommends that you avoid the following activities during the maintenance window:
 - Non-retryable batch jobs
 - No servicing actions
---end of quote---
In other hands, in notes there described as
---quote---
Effective July 2022 through September

[2022-05-27 14:28] twheeloc commented on #4022
@Alpa-Chino, thank you for the feedback.
@NHelgren, please review this feedback and update the content as needed.

[2022-05-27 14:32] twheeloc commented on #4024
@D365DemoTS778525, thank you for the feedback.
@kfend, please review and assign the appropriate author.

[2022-05-27 14:34] twheeloc commented on #4025
@FH-Inway, thank you for the feedback.
@Sunil-Garg, please review the feedback and update as needed.

[2022-05-27 14:36] twheeloc commented on #4028
@maveloso, thank you for the feedback.
@RamaKrishnamoorthy, please review this feedback and update the content as needed.

[2022-05-27 15:04] NHelgren commented on #4022
@Alpa-Chino, @twheeloc  I am no longer the owner of this area.

@RamaKrishnamoorthy Could you please review?

[2022-05-27 15:49] RamaKrishnamoorthy commented on #4022
Following PR has been created to fix this issue - https://github.com/MicrosoftDocs/Dynamics-365-Operations/pull/13987

[2022-05-27 16:05] RamaKrishnamoorthy commented on #4022
Sure Nathan, I am on it.

Thank you,
Rama.

From: Nathan Helgren ***@***.***>
Sent: Friday, May 27, 2022 8:04 AM
To: MicrosoftDocs/dynamics-365-unified-operations-public ***@***.***>
Cc: Rama Krishnamoorthy ***@***.***>; Mention ***@***.***>
Subject: Re: [MicrosoftDocs/dynamics-365-unified-operations-public] Error code not covered (Issue #4022)

@Alpa-Chino<https://nam06.safelinks.protection.outlo

[2022-05-27 17:19] matapg007 commented on #3999
Thanks for feedback! I will add more details in documentation. We recommend setting batch retry to make batch jobs resilience so that during servicing batch job fails due to transient issues then can be retried.  If there is ongoing servicing displayed on LCS, we recommend not to trigger any servicing actions while servicing is in progress.  we have published servicing window for each Geo for refe

[2022-05-27 17:59] kfend commented on #4010
Closing this issue as I don't have enough information to work with. @oysbre - if you want to reopen and provide more information about the topic you are referring to, please do. Thanks!

[2022-05-27 17:59] #4010 closed

[2022-05-27 18:52] kfend commented on #3599
@Bijan-Ghofranian - Thank you for the feedback. While the field is a drop-down, you can still type in the value for the site if you prefer to do so.

[2022-05-27 18:52] #3599 closed

[2022-05-27 19:19] kfend commented on #3631
@DrGee-gethub - Thank you for the question. I spoke with the author and what is written is correct with regard to the domain.

[2022-05-27 19:19] #3631 closed

[2022-05-30 11:39] mh65140 opened #4029 "Missing version number for dual write april release"
Again the version number is missing for April 2022 release.

Only the GAB solution is having a version number

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b8043d72-1496-a79a-da5b-60dc1d24f561
* Version Independent ID: fa5f09b6-10d9-ab9a-6f65-da69252777c1
* Content: [What's new or changed in dua

[2022-05-30 12:17] kurthatlevik-inspirit365 opened #4030 "Enable render caching checkbox missing"
The Enable render caching checkbox as specified in the documentation seams to be missing from the site builder.  Is is removed in the sitebuilder, and the documentation is not updated ? ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c90eb021-92b2-952c-6322-acb8e60934c6
* Version Independent ID: 79bff52e-fe46-e4c9-09d

[2022-05-31 18:22] #2505 closed

[2022-06-01 01:06] Navneetkat opened #4031 "Where to find the Legal entity of HQUS for subcontracting setup referred on the page"
[This page describes using a Legal entity of HQUS for subcontracting setup, and i don't find this legal entity in my demo data. Is this a correct legal entity or how can i get the demo setup data in other legal entities?
Thanks ]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9fcbfaeb-97bd-7fc6-111c-6a18ac95bf3d
* Vers

[2022-06-01 10:21] MichaelWeberMSFT opened #4032 "Typo in the left menu of this page"
please correct the typo in the menu title for the word "Resources". Thank you

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 841d85dd-7ea3-8722-ae69-70eeb45ed612
* Version Independent ID: 841d85dd-7ea3-8722-ae69-70eeb45ed612
* Content: [What's new or changed in Dynamics 365 Human Resources 10.0.2

[2022-06-01 13:01] #4032 closed

[2022-06-02 07:09] sbaber82 opened #4033 "Can't find the feature under feature management that is mentioned in the docs site"
[I can't find the below feature under feature management:

To view summary data from the general journal account entry, **enable the Amount details from the General journal account entry are displayed on the Trial balance with transactional detail report feature**.

I have the following platform version installed:

Installed product version : 10.0.25 (10.0.1149.131)
Installed platform version : Up

[2022-06-02 09:12] kamaybac commented on #4029
@mh65140 , thank you for contacting us regarding this help topic. I have passed your comment on to the author for consideration.

[2022-06-02 09:15] kamaybac commented on #4030
@kurthatlevik-inspirit365 , thank you for contacting us regarding this help topic. I have passed your comment on to the author for consideration.

[2022-06-02 09:22] kamaybac commented on #4031
@Navneetkat , thank you for contacting us regarding this help topic. I have passed your comment on to the author for consideration.

I am not completely sure whether the HQUS demo data is still available, but if it is, this topic might help you: [Generate demo data by using data packages](https://docs.microsoft.com/dynamics365/fin-ops-core/dev-itpro/data-entities/generate-demo-data-packages).

[2022-06-02 09:36] kamaybac commented on #4033
@sbaber82 , all three of the mentioned features appear in 10.0.28 (see below). The feature you are asking about looks to have been added in March 2022, so that probably means you need version 10.0.26 or later to see it.

![image](https://user-images.githubusercontent.com/26439921/171600570-b4e4a423-5da8-4263-bf55-5ee8a17d2d1b.png)

Thank you for contacting us regarding this help topic. I have forw

[2022-06-02 20:01] kfend commented on #4009
Created bug 695526 to track this issue - it is currently being worked on.

[2022-06-02 23:38] sbaber82 commented on #4033
Thanks for the confirmation.I think it would be good to mention, under which build the feature has become available, just to avoid any confusion.

[2022-06-03 00:23] kfend commented on #4017
Created bug 695594 to track this issue.

[2022-06-03 00:26] kfend commented on #4012
Created bug 695595 to track this issue.

[2022-06-03 00:28] kfend commented on #4016
Bug 695596 created to track this issue.

[2022-06-03 00:31] kfend commented on #4015
Bug 695597 created to track this issue.

[2022-06-03 00:35] kfend commented on #4014
Bug 695598 created to track this issue.

[2022-06-03 05:52] Daberkusen opened #4034 "mistake in description"
Point 11 of this page says: "On the Customers page, on the **Invoice and delivery FastTab**, select the Create intercompany orders check box."
Wrong is: Invoice and delivery FastTab.
Correct is: The "create intercompany orders check box" you will find on the "Miscellaneous details FastTab"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue

[2022-06-03 09:39] MrHenrikLevinson opened #4035 "Name of feature "Populate financial dimensions to the realized currency adjustment profits/loss accounts for sales tax settlement""
Hi

The feature named "Enter financial dimensions in the realized currency adjustment profit/loss accounts for sales tax settlement" in the article should be changed to: "Populate financial dimensions to the realized currency adjustment profits/loss accounts for sales tax settlement" to reflect the name in Feature management.

/Henrik

---
#### Document Details

⚠ *Do not edit this section. It is

[2022-06-03 19:58] sericks007 commented on #4020
@faix, please review and consider updating the content, as suggested. Thanks!

[2022-06-03 21:29] kfend commented on #3784
Thank you for letting us know. We have done more investigating, and we will be making an update to the functionality based on this feedback.

[2022-06-03 21:29] #3784 closed

[2022-06-03 21:29] kfend commented on #3724
Thank you for letting us know. We have done more investigating, and we will be making an update to the functionality based on this feedback.

[2022-06-03 21:29] #3724 closed

[2022-06-03 21:29] kfend commented on #3424
Thank you for letting us know. We have done more investigating, and we will be making an update to the functionality based on this feedback.

[2022-06-03 21:29] #3424 closed

[2022-06-03 21:46] kfend commented on #3182
Thank you for the feedback.
I believe the documentation you are looking for is in the topic, [Process and consume data packages in Dynamics 365 Finance and Operations apps solution](https://docs.microsoft.com/en-us/dynamics365/fin-ops-core/dev-itpro/lcs-solutions/process-data-packages-lcs-solutions). The recommended approach is to automatically create the data package, zip file, as described in st

[2022-06-03 21:46] #3182 closed

[2022-06-04 12:17] Martin-Holly opened #4036 "Wrong binding code examples in the extensible control programming reference"
The following code examples are wrong.

1)

`[FormDesignControlAttribute("MyControl")]
class MyControlBuild extends FormBuildControl
{
    str dataSource;
    str dataField;
    str dataMethod;

    [FormDesignPropertyAttribute("Data source", "Data"),
     FormDesignPropertyDataSourceAttribute]
    public str DataSource(str _value = dataSource)
    {
        if(!prmIsDefault(_value))
        {

[2022-06-06 22:33] bleddynjames opened #4037 "Inventory Costing - Posting Profiles"
When will Microsoft release a comprehensive guide on the Inventory Posting Profiles explaining each node and the respective Debits and Credits associated with the various transactions?

Thanks
Bleddyn

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d5a79a23-7c01-eaa9-9324-b6c6805c3699
* Version Independent ID: 9611040d-

[2022-06-07 07:44] kamaybac commented on #4033
Thanks @sbaber82 . We don't usually mention version requirements for features in feature management because each version goes to auto-update 2-3 months after release, so this info goes quickly out of date. However, you are right that it is important info during that period. I will discuss our policy with the publishing group, but I will close this issue for now.

[2022-06-07 07:44] #4033 closed

[2022-06-07 14:08] g-chap opened #4038 "Typo on heading"
Small typo on the heading "[Turn Warehouse Management mobile app features or or off in Supply Chain Management](https://docs.microsoft.com/en-us/dynamics365/supply-chain/warehousing/install-configure-warehouse-management-app#turn-warehouse-management-mobile-app-features-or-or-off-in-supply-chain-management)"

Should be "Turn Warehouse Management mobile app features **on** or off".

---
#### Docume

[2022-06-07 14:09] #4034 closed

[2022-06-07 14:11] kamaybac commented on #4035
@MrHenrikLevinson , thank you for reporting this issue. I have forwarded it to the page author for consideration.

[2022-06-07 14:18] kamaybac commented on #4036
@TLeforMicrosoft , this comment applies to the following page:
https://docs.microsoft.com/en-us/dynamics365/fin-ops-core/dev-itpro/user-interface/extensible-control-programming-reference

[2022-06-07 14:27] kamaybac commented on #4038
@g-chap , thank you for reporting this issue. I have fixed the topic as suggested. The update should go live later today.

[2022-06-07 14:27] #4038 closed

[2022-06-09 10:51] jawn opened #4039 "Near real-time change feature (preview vs GA)"
Is it correct that the Near real time change feature is still in preview? If not, can all docs be updated to reflect this?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2f6ba603-2306-85f5-9eae-c71523326291
* Version Independent ID: 2f6ba603-2306-85f5-9eae-c71523326291
* Content: [Export to Azure Data Lake overview - F

[2022-06-09 16:55] ramanagarwal2005 opened #4040 "Exam link is old as exam page says that exam has retired."
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c1bcd2b9-d75a-e8ba-eebc-a9a397930e97
* Version Independent ID: 44135730-6a5f-9c84-70ab-4c6b5c7a34aa
* Content: [Learning catalog for users of Dynamics 365 Finance - Finance | Dynamics 365](https://docs.microsoft.com/en-us/dynamics365/finance/get-start

[2022-06-09 23:01] josaw1 commented on #4039
Thank you for your feedback. @MilindaV2 can you please confirm?

[2022-06-09 23:03] josaw1 commented on #4040
Thank you for your feedback. @twheeloc can you please update or remove link?

[2022-06-10 09:21] torbennehmer opened #4041 "Clarify, which user is the "batch user""
In the section "Exchange mail provider" the following is statet:

It is unclear, which account is meant here, searches for batch account did not yield anything helpful.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e46e3d2a-37fb-9961-84fe-0be6d9f0235b
* Version Independent ID: c4a46858-a79b-08b4-d81c-941490d42da3
* Co

[2022-06-10 17:38] josaw1 commented on #4041
Thank you for your comment. @jasongre can you please review?

[2022-06-13 09:15] v-yoyord opened #4042 "Please update the documentation for cloud hosted environments"
[Enabling BusinessEvents endpoint in cloud hosted environment was failing with below error:

Azure Service Bus TopicResponse status code does not indicate success: 400 ({"error":"invalid_client","error_description":"AOS environment 45062e0a-6aa0-4c1e-aaba-1d1cac5f5d95 does not exist."}).

The issue was solved by running the following script to add a flight to the AXDB:
ICM #312927239

DECLARE @fli

[2022-06-13 10:04] Anders-Dahlin opened #4043 "Issue with uploading CSV"
Set-TeamTargetingHierarchy is not part of the latest power shell module so CSV cannot be uploaded. No needed action is described on Doc links.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c7e3862f-3f71-a079-5924-c8722b3ddd4d
* Version Independent ID: 202de913-76cf-5459-436a-3afec7b3a74a
* Content: [Provision Microsof

[2022-06-13 13:38] #4020 closed

[2022-06-13 18:26] jaredha commented on #4042
The suggested SQL script turns off the Power Platform Integration for business events by enabling the "BusinessEventsCDSIntegration_KillSwitch" flight for the environment. This isn't our typical recommendation for resolving errors with the Power Platform Integration, and shouldn't be included in documentation.

[2022-06-13 18:28] #4042 closed

[2022-06-13 20:59] sericks007 commented on #4043
@Anders-Dahlin, thank you for providing this feedback.

@gvrmohanreddy, please review and update the content, as needed.

[2022-06-13 21:52] jaredha commented on #3836
@laneswenka, can you take a look at this?

[2022-06-14 11:34] sericks007 commented on #3515
PR 14087 has been merged and will be published soon -- so closing this issue.

[2022-06-14 11:34] #3515 closed

[2022-06-14 13:50] gertvdh opened #4045 "what happened with disable/enable page locks?"
in the list of removed actions, the action to disable/enable page locks and lock escalation is not mentioned? Is this replaced with something else or automated process or just removed?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b75b1a49-8365-0fc4-5c27-677ff4b26325
* Version Independent ID: 98fcce36-1717-a210-0bb6-5

[2022-06-15 08:00] jimwillsher opened #4046 "Promoting deprecated logic"
[Enter feedback here]
Hello, please can you advise why this page is still heavily promoting the use of XSLT to manipulate the MT940 files, when XSLT scripting is being deprecated by Microsoft in September?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5f6257c7-8c1f-f00a-4f51-2f8f20f1f09e
* Version Independent ID: c793

[2022-06-15 12:59] panolte commented on #4046
Hi Sally,

All the cash and bank topics should be assigned to Angela Ding (angelad116).

Could you reassign this to her?

Thanks
Pat

From: Sally Erickson ***@***.***>
Sent: Wednesday, June 15, 2022 6:43 AM
To: MicrosoftDocs/dynamics-365-unified-operations-public ***@***.***>
Cc: Pat Nolte ***@***.***>; Assign ***@***.***>
Subject: Re: [MicrosoftDocs/dynamics-365-unified-operations-public] Promoti

[2022-06-15 13:55] #4046 closed

[2022-06-15 20:15] dynamics365musings opened #4047 "10.0.26 has wrong build number"
The 'Build number' next to version 10.0.26 reads '10.0.119'.
I think this is missing a '2'.

If you look at this page:
https://docs.microsoft.com/en-us/dynamics365/finance/get-started/whats-new-home-page

The build number associated with 10.0.26 is 10.0.1192.

Hope that helps.
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

*

[2022-06-16 11:50] sericks007 commented on #4047
@dynamics365musings, thanks for letting us know! I've made the correction, and it will be published soon.

[2022-06-16 11:50] #4047 closed

[2022-06-16 13:28] Anders-Dahlin opened #4048 "Uninstall failed"
Hi,

When following uninstall procedure in the documentation I get an error that the last solution cannot be deleted because of a fallback form.
Dynamics 365 FNO SCM Inventory Visibility Base Solution

Thanks
Br
Anders

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bddc6757-997f-f662-f4df-950fca150102
* Version Indepen

[2022-06-16 13:42] sericks007 commented on #4048
@Anders-Dahlin, thanks for contacting us. Unfortunately, we're unable to handle Support requests for the product here. To contact Support, consider one of the options described here: [Support contact options](https://docs.microsoft.com/en-us/dynamics365/unified-operations/dev-itpro/lifecycle-services/lcs-support). In particular, you might want to go to the [Dynamics 365 community page](https://com

[2022-06-16 13:42] #4048 closed

[2022-06-17 21:50] sericks007 commented on #4045
@gertvdh, thank you for providing this feedback. I've sent this on to a program manager for a response.

[2022-06-20 17:50] sericks007 commented on #4045
@gertvdh, according to the PM:

The reason that customers do not need to do anything on page locks is that the platform is responsible for:
- Optimizing the database's workload and handling any blocking that may occur.
- Managing intermittent connectivity issues and providing retries to avoid any concerns with such actions.
- Internal monitoring and detection is done.

[2022-06-20 17:50] #4045 closed

[2022-06-21 13:02] jmeijering opened #4049 "Add a client secret should be for the client not for the server"
In this document you mentioned:

The client secret is also known as an application password. It's a string value that your app can use instead of a certificate to identity itself.

In the Azure portal, in App registrations, select your application (App registered for the Retail server).
Select Certificates & secrets > New client secret.
Add a description for your client secret.
Select a duration.

[2022-06-21 17:49] AnandDixit2011 opened #4050 "Need more info on Subscribe Module for D365 Commerce"
The MS Docs page for Subscribe Module in D365 Commerce deals with how to add the module to a specific page on the webstore.
However, it does not address what needs to be done once the module is visible to end users.
- If a user enters their email ID and clicks on 'Sign Me Up' button, what is the expected behaviour?
- Where can the merchant's team see the list of all users who have shared their ema

[2022-06-21 21:12] johnmichalak commented on #4049
@jmeijering Thank you for the feedback.

@mugunthanm Can you please take a look at the suggestion and make any appropriate changes?

[2022-06-21 21:18] johnmichalak commented on #4050
@AnandDixit2011 Thank you for the feedback.

@anupamar-ms Can you please take a look at the questions and review the topic to see if any changes can be made to assist.

[2022-06-21 23:11] anupamar-ms commented on #4050
Hi there, as called out in the documentation, you need to extend this module and add the necessary business logic to capture the email and process it. The module itself does not provide any out-of-box integration to capture and process this information.

"The subscribe module requires a data action extension to work with some marketing email providers, so that newsletter or promotional emails can

[2022-06-22 01:40] AnandDixit2011 commented on #4050
Thanks Anupama.

So there's no default mechanism in D365 Commerce that just captures and
saves the email addresses collected through the subscribe module? If a user
just wishes to view a list of who has subscribed, it is not possible?

Warm regards,

Anand

On Wed, 22 Jun, 2022, 4:42 am Anupama Raju, ***@***.***>
wrote:

[2022-06-22 14:09] sericks007 commented on #4043
Bug 701117 has been logged to address this issue.

[2022-06-22 20:00] primeitbr opened #4051 "Import and export processes - Wrong Azure File Upload http status code"
The "Uploads File to Blob Storage" http return code in case of Success is 201, not 200 ;)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9d963d4c-de1f-7730-bee2-016dcde40907
* Version Independent ID: 21b95d43-5ad9-0ffc-21b9-6a4ba9086a56
* Content: [Data management package REST API - Finance & Operations | Dynamics 365]

[2022-06-22 20:18] jmaden opened #4052 "No field for switching IBAN/SWIFT requirement on AP parameters when feature enabled"
I have enabled the feature but I cannot turn off the IBAN/SWIFT requirement for non-US legal entities because the relevant option is not appearing in AP parameters

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 925689eb-7471-5cc7-cc5c-f51225ba1764
* Version Independent ID: 41d9cd03-4580-52e6-5ee4-391ab52c8975
* Content

[2022-06-23 07:16] MaheshReddy19 opened #4053 "Wrong path mentioned in the article"
Path for email templates should be from Organization administration not as mentioned in organization templates
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2ef943c1-f092-fcd4-45d3-ef124979252a
* Version Independent ID: 562b85fc-b76a-732a-ecd5-c586e9ad8d10
* Content: [Create email templates for t

[2022-06-23 09:15] GorTen82 opened #4054 "Mistyped Entity name"
Hi,

I have recognized a mistyping in the document:
Dual write section
Unified product experience
under [Templates](https://docs.microsoft.com/en-us/dynamics365/fin-ops-core/dev-itpro/data-entities/dual-write/product-mapping#templates)

other D365 app entity name mistyped: msdyn_productsytles
The proper value would be: **msdyn_productstyles**

Regards
Aron

---
#### Document Details

⚠ *Do not edi

[2022-06-23 09:23] GorTen82 commented on #4054
similar issue on this page as well:
under [Product dimensions](https://docs.microsoft.com/en-us/dynamics365/fin-ops-core/dev-itpro/data-entities/dual-write/product-mapping#product-dimensions)

[2022-06-23 10:35] mrsalonen opened #4055 "How does this option actually work?"
The page tells that an option exists, but pretty much nothing else. I'm interested in knowing how it works, code-wise, if it can  be extended etc. Where does the invoice id editing happen in the code - metadata search doesn't turn up anything relating to the parameters found in the Accounts receivable parameters page.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs

[2022-06-23 12:53] #4054 closed

[2022-06-23 19:34] johnmichalak commented on #4051
@primeitbr Thank you for letting us know.

@Peakerbl can you please review this suggestion and updated the content if required?

[2022-06-23 19:49] johnmichalak commented on #4052
@jmaden Thanks for contacting us. Unfortunately, we're unable to handle Support requests for the product here. To contact Support, consider one of the options described here: [Support contact options](https://docs.microsoft.com/en-us/dynamics365/unified-operations/dev-itpro/lifecycle-services/lcs-support). In particular, you might want to go to the [Dynamics 365 community page](https://community.d

[2022-06-23 19:52] johnmichalak commented on #4053
@MaheshReddy19 Thank you for the feedback!

@bicyclingfool Can you please review and update the topic as appropriate?

[2022-06-23 19:56] johnmichalak commented on #4055
@mrsalonen  Thanks for posting this! In the meantime, to get product help you can contact Support using one of the options described here: [Support contact options](https://docs.microsoft.com/en-us/dynamics365/unified-operations/dev-itpro/lifecycle-services/lcs-support). In particular, you might want to go to the [Dynamics 365 community page](https://community.dynamics.com/) to get help with your

[2022-06-24 06:28] rat-af opened #4056 "Please update"
When will the SQL in this be updated???  How long do we have to wait for updates to the SQL?  This is clearly taking far too long.  When I use this, I get errors on Roles and errors on the Retail.

Can you please update the SQL.

Current errors with the script are:

Msg 15151, Level 16, State 1, Line 1
Cannot alter the role 'DataSyncUsersRole', because it does not exist or you do not have permissi

[2022-06-24 19:43] dogan-adiyaman opened #4057 "wasn't the build number supposed to be 10.0.1264 ?"
Hi,

I think the build number for the page is wrong and it is supposed to be 10.0.1264, not  10.0.1227.
--

</body>

</html>

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7ad712ca-a6bc-50f1-ce2a-90873b4c50dc
* Version Independent ID: 7ad712ca-a6bc-50f1-ce2a-90873b4c50dc
* Content: [What's new or changed in Dynamics 36

[2022-06-27 14:42] hansbred opened #4058 "Dynamics 365 column Service should be Dynamics 365 Field Service"
I guess the global replacement of 'field' by 'column' is responsible for this one:

"A Dataverse environment provides the underlying platform for customer engagement apps (Dynamics 365 Sales, Dynamics 365 Customer Service, Dynamics 365 **column** Service, Dynamics 365 Marketing, and Dynamics 365 Project Service Automation)."

Dynamics 365 **column** Service should be Dynamics 365 **Field** Service

[2022-06-27 21:10] #4052 closed

[2022-06-28 13:14] #4058 closed

[2022-06-28 16:08] andypicking opened #4060 "Please confirm responsibility for Sandbox environments as its unclear from the text"
This page states - For a managed cloud service such as Finance and Operations, Microsoft is responsible for actively monitoring the health of production environments at all times.... However, you're responsible for proactively or reactively monitoring and troubleshooting the health of non-production environments.

For managed cloud service sandboxes (i.e. Tier 2 environment(s)) these aren't as acc

[2022-06-28 17:03] mgrettum opened #4061 "Deprecated entities not accessible for mentioned timeline"
Hi,

In the docs page related to deprecation it is mentions:

- Methods are marked with the SysObsolete attribute. Typically, this attribute recommends an alternative to the method.
- For metadata elements, the IsObsolete property is set to Yes.

The deprecation is compatible with both binaries and design time. **The referencing code will continue to work as expected**, and no immediate action is

[2022-06-29 10:38] v3ux opened #4062 "Could not find the CDS virtual entity application role"
Hi,

We have followed this step up correctly up till the step to assign **CDS virtual entity role** to the new user, but we couldn't find it.

However, we found these roles

![image](https://user-images.githubusercontent.com/108313663/176416866-590b0030-ec4c-49eb-b87a-e2c6eec9835b.png)

Are those the correct replacement for CDS virtual entity role? Since CDS is an old term used before new term (Da

[2022-06-29 13:57] Sunil-Garg commented on #4062
@Jared ***@***.***>
________________________________
From: v3ux ***@***.***>
Sent: Wednesday, June 29, 2022 3:38:26 AM
To: MicrosoftDocs/dynamics-365-unified-operations-public ***@***.***>
Cc: Sunil Garg ***@***.***>; Mention ***@***.***>
Subject: [MicrosoftDocs/dynamics-365-unified-operations-public] Could not find the CDS virtual entity application role (Issue #4062)

Hi,

We have followed this

[2022-06-29 16:05] #3986 closed

[2022-06-29 22:00] RyanCCarlson2 commented on #3693
@kfend can this be closed? The changes are published. I've just closed the bug in ADO.

[2022-06-29 22:06] kfend commented on #3693
Thanks for taking care of this  @RyanCCarlson2! I will close this issue.

[2022-06-29 22:06] #3693 closed

[2022-06-29 22:44] jaredha commented on #4062
Yes, this should have been changed. The names of the security roles were updated when the product name changed from "Common Data Service" to "Dataverse". The role to use for this scenario is "Dataverse Virtual entity integration app". I've submitted a PR to update the documentation.

[2022-06-30 01:19] kfend commented on #4062
@jaredha - Thank you for taking care of this so quickly. I have merged your PR and the article changes will show in the next few hours. I will close this issue.

[2022-06-30 01:19] #4062 closed

[2022-06-30 13:19] kfend commented on #4056
@rat-af - Thank you for the feedback.
@laneswenka - Can you please take a look at this and update the topic?

[2022-06-30 13:25] kfend commented on #4057
@dogan-adiyaman - Thank you for the feedback. I have updated the topic and the changes will show later today.

[2022-06-30 13:25] #4057 closed

[2022-06-30 16:30] bstorie opened #4064 "Docs needs updating to match current state of D365 Commerce"
Under the Checklist section of this Doc, steps 12 and 13 say to check RTS setup.    These steps only apply to 2012 N-1 as RTS setup is all hidden/automated with the Deployment of HQ now.      Additionally, this doc should be reviewed to ensure it links/fits in with our other documents about POS activation.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.c

[2022-07-05 07:44] Pistoler00z opened #4065 "Add information about IAM Access Role needed for KeyVault VM"
In the documentation, we have no information about IAM Access role that we must add to our KeyVault Ressource else if we received following error.
error": {
            "code": "AuthorizationFailed",
            "message": "The client 'XXXX' with object id 'XXXX' does not have authorization to perform action 'Microsoft.EventGrid/eventSubscriptions/write' over scope '/subscriptions/XXX/resourceGrou

[2022-07-05 13:51] kfend commented on #4064
@bstorie - Thank you for the feedback.
@athinesh99 - Can you please take a look at this and update the topic as necessary? Thanks!

[2022-07-05 13:51] Sunil-Garg commented on #4065
@Jared ***@***.***>
________________________________
From: Pistoler00z ***@***.***>
Sent: Tuesday, July 5, 2022 12:44:58 AM
To: MicrosoftDocs/dynamics-365-unified-operations-public ***@***.***>
Cc: Sunil Garg ***@***.***>; Mention ***@***.***>
Subject: [MicrosoftDocs/dynamics-365-unified-operations-public] Add information about IAM Access Role needed for KeyVault VM (Issue #4065)

In the documenta

[2022-07-05 16:48] josaw1 commented on #4064
@bicyclingfool can you please review this feedback?

[2022-07-06 04:55] DawMatt opened #4066 "Scalability recommendations exacerbate consistency issues due to D365 design limitations"
Hi,

I've recently been advised by Microsoft support/product engineering that there is a long standing design limitation impacting OData queries. If multiple AOS are in use then if any entity being returned by an OData call has caching enabled, it can take a minute before all of the AOS are consistent and will return the same results. We've encountered issues where business events are published by

[2022-07-06 06:41] Pistoler00z commented on #4065
Hi Jared,

To resolve this error, we had to add a azure role to our KeyVault ressource, access policies was not enough.
![image](https://user-images.githubusercontent.com/108720725/177485573-afb054ae-4a7c-459d-9f3b-481f6cf075fb.png)

[2022-07-06 14:05] Shimara-G opened #4067 "The web application not compatible with Macbook"
[The page states that the web application can run in Apple Safari (latest publicly available version) web browser but it cannot run on a  macos] and Windows 7 and older when Onboarding a Vendor in D365 FO

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 043a7336-3d71-14f2-9856-05e03e24cd80
* Version Independent ID: 60414

[2022-07-06 14:11] sbaber82 opened #4068 "Can't see the RDP access link"
I requested the access on Sandbox environment details page, but no link appears to download the RDP file. I can only see the SQLserver\Database name with User name and Password. The docs site says to RDP to the machine and then open SQL server management studio. I am looking to access the entity store database.

Please advise, if I am missing anything.

---
#### Document Details

⚠ *Do not edit th

[2022-07-06 20:25] tbarron2 opened #4069 "Deprecated XSLT Functionality & Advanced Bank Reconciliation"
What is the plan for Advanced Bank Reconciliation now that XSLT transforms are no long supported after version 30? Would this require customization?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5f6257c7-8c1f-f00a-4f51-2f8f20f1f09e
* Version Independent ID: c793b57d-f984-bb4d-d014-e2bf2da43f68
* Content: [Set up the a

[2022-07-06 20:28] twheeloc commented on #4067
@Shimara-G, thank you for the feedback.
@jashanno - please review the feedback and update the content as needed.

[2022-07-07 13:53] twheeloc commented on #4069
@tbarron2, thank you for your feedback. You can check out [Set up advanced bank reconciliation import using Electronic reporting](https://docs.microsoft.com/en-us/dynamics365/finance/accounts-payable/import-bai2-er).

[2022-07-07 13:54] #4069 closed

[2022-07-07 17:15] bishalgoswami opened #4071 "Test issue created"
Test issue created

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 515ccb42-9877-8086-ee3e-7a88d03a2e78
* Version Independent ID: ed8c9f35-10f1-060d-42b0-4edf99d94ce2
* Content: [Upload a configuration into Lifecycle Services - Finance & Operations | Dynamics 365](https://docs.microsoft.com/en-us/dynamics365/fin-ops-cor

[2022-07-08 03:04] joengelhart commented on #4068
You can't rdp to a tier 2 or above, only SQL access.

[2022-07-08 10:27] ritesh commented on #3960
Wrong ritesh

[2022-07-08 15:36] jawn commented on #4039
Kind reminder @MilindaV2

[2022-07-08 17:20] jaredha commented on #3375
Submitted PR 14305 to make this change.

[2022-07-08 17:33] #4068 closed

[2022-07-08 17:41] sericks007 commented on #3375
Thanks for updating the content, @jaredha!

This change will be published later today.

[2022-07-08 17:41] #3375 closed

[2022-07-11 13:04] sericks007 commented on #3960
Assigning to @ritesp.

[2022-07-11 20:53] #4065 closed

[2022-07-12 07:42] DKobayashi-ykgw opened #4072 "Please add sample code using MSAL not ADAL"
Please add sample code using MSAL not ADAL.
Because of ADAL will EoS in Dec. 2022, please add code based MSAL.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 133cc363-a550-5cbf-622a-f0bd3da87eb6
* Version Independent ID: a7b1ce5d-ba20-b723-e3b0-23a9b79cde9d
* Content: [Service endpoints overview - Finance & Operations

[2022-07-12 12:16] anboudin opened #4073 "Hi, Some more information should be added on how CODA process information. For example on customer side, MS supports only structure message starting by 101 and 102. this can change but should be mentioned somewhere for customer"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 807f96bd-9269-1541-0516-ee905e0003d7
* Version Independent ID: a263d611-d029-927b-16b6-a9e2a23000db
* Content: [CODA bank statement - Finance | Dynamics 365](https://docs.microsoft.com/en-us/dynamics365/finance/localizations/emea-bel-coda-bank-stateme

[2022-07-12 14:20] gmazzetto opened #4074 "Block Formula approval removal and editing"
The functionalities of blocking editing and approval removal applies only to routes in the production control parameters as mentioned in the document.
For Formulas and BOMs the parameters are placed in the inventory and warehouse management parameters instead.

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linkin

[2022-07-12 18:11] josaw1 commented on #4072
Thank you for your feedback. @Peakerbl can you please review?

[2022-07-12 18:12] josaw1 commented on #4073
Thank you for your feedback. @anasyash can you please review?

[2022-07-12 18:17] josaw1 commented on #4074
Thank you for your feedback. @kamaybac can you please assign to the correct author?

[2022-07-13 00:46] bleddynjames opened #4075 "There are significant inconsitencies to how the content of "Posting Profiles" is presented."
Hi there,

There are significant inconsitencies to how the content of Posting Profiles are presented.
The way the content is presented across different modules is confusing.

As an example compare:
- Fixed Assets: https://docs.microsoft.com/en-us/dynamics365/finance/fixed-assets/tasks/set-up-fixed-asset-posting-profiles
Very confusing, and does not clearly explain the Debits and Credits.

- Invent

[2022-07-13 07:39] bishalgoswami opened #4076 "Test LCS"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0346f84a-a24a-4e46-1768-ce8b599de488
* Version Independent ID: 0a9305f7-8055-9559-d64b-a38b9d225974
* Content: [Lifecycle Services (LCS) for finance and operations apps customers - Finance & Operations | Dynamics 365](https://docs.microsoft.com/en-us/

[2022-07-13 11:30] bishalgoswami commented on #4076
Bug 14961532 has been logged to address this issue.

[2022-07-13 17:12] kfend commented on #4017
From what I understand, the documentation is correct and it's the Description field that needs to be updated. That is currently happening, so I am closing this issue.

[2022-07-13 17:12] #4017 closed

[2022-07-14 07:46] RolandSmook01 opened #4077 "Terms and conditions"
The terms and conditions referenced on this page refer to ‘Supplemental Terms of Use for Microsoft Dynamics 365 Previews’. The tax calculation feature is no longer in preview though.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 45eb6b88-816d-cfcf-7a5e-8bf33edca293
* Version Independent ID: 0ebde4fa-890d-3434-fde3-252

[2022-07-14 13:22] bishalgoswami commented on #4077
Bug 712753 has been logged to address this issue.

[2022-07-14 13:26] bishalgoswami commented on #3950
Bug 712761 has been logged to address this issue.

[2022-07-14 13:30] mpburtt opened #4078 "Dead link to customersource document"
The link on the page "[Microsoft Dynamics Localization Portal: Australia report (requires CustomerSource account)](https://mbs.microsoft.com/files/customer/AX/Support/supportnews/Australia.html)" is an invalid/dead URL.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 111bada3-a333-b517-5907-28f7b9436da4
* Version Indepe

[2022-07-14 13:41] panolte commented on #3950
Please reassign to angelad116 as the owner of this content.

[2022-07-14 17:54] Ciosull opened #4080 "Visuals would improve the doc and consumption of feature greatly"
This page could be a lot more valuable and entice end users more if it had visuals highlighting the capability, as I have seen in the XR

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 75388071-94ef-d7e9-cbc1-a910621ef20e
* Version Independent ID: 6be15ff3-b119-2be7-535d-b0caa7072b5b
* Content: [Grid capabilities - Fina

[2022-07-14 18:46] sericks007 commented on #4071
Closing test issue.

[2022-07-15 15:08] kfend commented on #4077
@RolandSmook01 - Thank you for the feedback. We have updated the topic and then changes will go live later today.

[2022-07-15 15:22] #4076 closed

[2022-07-17 08:08] angelad116 commented on #3950
@MichaelSlipp
If customers want to use existing XSLT function, need raise IcM ticket to Microsoft support, to open the flight. All MS supports all were informed how is the process

[2022-07-18 11:11] anboudin opened #4081 "Hi, we should provide more information on this page on"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 63edf6c2-6935-7df1-3efe-c7f3566a7753
* Version Independent ID: 4d6bd056-8c7a-5b10-109d-7dda67dfdd3f
* Content: [Structure of Dynamics 365 Finance data sources for the FEC - Finance | Dynamics 365](https://docs.microsoft.com/en-us/dynamics365/finance/l

[2022-07-19 06:52] kesun1 opened #4082 "Guidance of TierX may confuse readers."
[Enter feedback here]
Hi,

One of my Partner got confused difference between TierX guidance and provisioned production env.
I worked a partner who followed the TierX guidance of this page (see following link) and did complex performance test in Tier 5 env because the customer had 180 users and 140K SO trans/hour.

https://docs.microsoft.com/en-us/dynamics365/fin-ops-core/fin-ops/imp-lifecycle/envi

[2022-07-19 06:55] kesun1 opened #4083 "Test evidence"
[Enter feedback here]
Hi,

There is nothing discussed that FastTrack would refer to test result. It would be better partners provide test result such as Batch Import, export, etc to FTC for their review.

Thanks.
Keisuke

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b23a0dbf-7870-affb-b07b-53b8ea704371
* Version Indep

[2022-07-20 15:23] sericks007 commented on #4080
@Ciosull, thank you for providing this feedback.  I'll send this on to our documentation leaders for consideration.  At this time, we don't include screen shots unless they are critical for understanding, as screen shots easily get out-dated and require maintenance.

[2022-07-20 15:28] sericks007 commented on #4081
@kfend, please re-assign issue, as necessary.

[2022-07-20 15:49] sericks007 commented on #4080
@Ciosull, I talked with the author and he will add some images!

@jasongre, please add images, as we discussed.

[2022-07-20 19:33] primeitbr opened #4084 "Where can I find the BankReconiliation-to-Composite.xsl file?"
;)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 84ddda24-328c-d279-f2e2-f0a61d0ad639
* Version Independent ID: 67df07ad-1695-b69a-dbcf-00de259afb25
* Content: [Advanced bank reconciliation MT940 Import – Composite data entity upgrade - Finance | Dynamics 365](https://docs.microsoft.com/en-us/dynamics365/finance/cash-

[2022-07-20 20:34] mikecaterino opened #4085 "Update .NET Requirement"
Hello,
    When installing the DRA from Dynamics 365 version 10.0.28, it states that .NET 4.7.2 is required. This doc states that 4.6.2 is required. Just a heads up

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5fe44c05-ed58-b554-859e-2da552dbbd9d
* Version Independent ID: e638edab-dd54-6008-f210-524fd52b0e5b
* Conten

[2022-07-21 13:36] sericks007 commented on #4084
@primeitbr, thanks for providing this feedback.

@angelad116, please answer this question and update the content, as needed.

[2022-07-21 13:38] sericks007 commented on #4085
@mikecaterino, thanks for making us aware of this.

@RichdiMSFT, please update the content, as needed.

[2022-07-21 14:06] feodala99 opened #4086 "SRU codes are not 3 digit in Swedish companies. It is a 4 digit code. Almost all accounting persons in Sweden are using the SIE 4 digit format for reporting, month end closing work, year end statutory work etc. So it would be a good thing to have for big Swedish companies with a large number of legal entities using D365."
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cb860ee3-23e2-cd0f-c67a-772dcbe85f4f
* Version Independent ID: 0de27640-e45c-2fec-0b40-049c3e42abe8
* Content: [Export financial information for auditors in Sweden - Finance | Dynamics 365](https://docs.microsoft.com/en-us/dynamics365/finance/localiza

[2022-07-21 20:37] Pikhulya opened #4089 "The section "Installation Steps" contains contradicting steps"
The section [Installation Steps](https://docs.microsoft.com/en-us/dynamics365/fin-ops-core/dev-itpro/deployment/deploy-retail-onprem#installation-steps)  contains a step #2 saying:

![image](https://user-images.githubusercontent.com/11545082/180310302-f03076aa-7680-473e-9e99-c60dc17262e5.png)

And then Step #4 says:
![image](https://user-images.githubusercontent.com/11545082/180310471-fe0b3870-182

[2022-07-21 21:02] sericks007 commented on #4089
@Pikhulya, thanks for providing this feedback.

@jashanno, please review and update content, as needed.

[2022-07-22 22:08] MichaelSlipp commented on #3950
@angelad116 if the documentation is still going to refer to the XSLT method then that fact should be updated into the public facing document.  However if the recommended bank statement import solution is something else - Electronic Reporting - then the setup for that should be published and this topic should not be the apparent solution.

[2022-07-23 12:54] ProgPasha opened #4091 "he remote server returned an error: (500) Internal Server Error."
Private key generated
read EC key
writing EC key
Public key generated
Invoke-WebRequest : The remote server returned an error: (500) Internal Server Error.
At C:\mycodes\KP22JUL\kp2\backup\OnboardingScript.ps1:29 char:17
+ ... $response = Invoke-WebRequest -Uri 'https://gw-apic-gov.gazt.gov.sa/e ...
+                 ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    + CategoryInfo

[2022-07-23 13:17] ClaudiaBetz-Haubold commented on #4083
Dear Keisuke,

the FastTrack team does not provide a general service to review the project team’s test results as part of the Go-live Readiness Review. It is the project team’s responsibility to review the results and take appropriate action. For those projects that have a FastTrack engagement, the assigned Solution Architect might assist in that activity, if they deem it necessary to do so.

Kind

[2022-07-23 13:30] ProgPasha commented on #4091
i have find out that the "taxpayerCSRbase64Encoded.txt" key is not all in one line.

[2022-07-24 04:19] VPranith opened #4092 "Technical Reference Reports page is outdated"
[The technical reference reports page that is linked in this page seems to be outdated. It has details from PU 17 and none after that. It may be useful to enhance it further as the last update in 2021 July. ]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 60ff0ecf-cab1-5665-554e-ec493c3a6159
* Version Independent ID: e

[2022-07-25 03:16] angelad116 commented on #3950
@MichaelSlipp Hi Michael, we have updated external document of Electronic Reporting, and inserted a link into this document. Due to security issue, MS wants to monitor how many users/companies are still using XSLT method, so please kindly follow other users' practice, that raise a ticket to MS to open the flight, for XSLT. Thank you!

[2022-07-25 13:23] #4083 closed

[2022-07-25 14:30] sericks007 commented on #4078
Bug 725470 has been assigned to track this bug.  @kfend, please resolve this issue/bug, or assign to the appropriate PM.

[2022-07-25 14:39] sericks007 commented on #4080
Bug 725471 has been logged to track this issue.

[2022-07-25 14:43] sericks007 commented on #4081
Bug 725474 has been logged to track this issue.

[2022-07-25 14:47] sericks007 commented on #4082
Bug 15046952 has been logged to track this issue.

[2022-07-25 14:51] sericks007 commented on #4084
Bug 725475 has been logged to track this issue.

[2022-07-25 14:56] sericks007 commented on #4085
Bug 725476 has been logged to track this issue.

[2022-07-25 16:01] sericks007 commented on #4086
Bug 725487 has been logged to track this issue.

[2022-07-25 16:04] sericks007 commented on #4089
Bug 725488 has been logged to track this issue.

[2022-07-25 21:35] josaw1 commented on #4091
Thank you for your comments. @janeaug can you please review?

[2022-07-25 21:37] josaw1 commented on #4092
Hi, thank you for the comment. I'm seeing the last update was made for 10.0.19. This article will only be updated as needed. + @kamaybac for awareness.

[2022-07-25 21:37] #4092 closed

[2022-07-26 00:32] JaneA07 commented on #4091
@josaw1 I don't work in MS Dynamics anymore (since Feb2022) - I suggest you try Mikhail Filatov for correct assignment of Regularly services issues (Electronic invoicing & Regulatory Configuration service)

[2022-07-26 08:09] ProgPasha commented on #4091
No cert in -in file 'PCSID.pem' matches private key
3C9D2400:error:05800074:x509 certificate routines:X509_check_private_key:key values mismatch:..\crypto\x509\x509_cmp.c:405:

[2022-07-26 10:40] gertvdh opened #4094 "Option for custom MT system"
There is no option to enable custom MT system from the API/DevOps task. Will this be added in time? If so this might need some adjustments on the task since it should not wait on the processing.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 839812be-657e-e82b-1b8d-a2d45e4a60eb
* Version Independent ID: 72b1cacf-9fbc-f

[2022-07-26 11:30] XStamatiou opened #4095 "Misleading sentence"
The sentence below is rather misleading:
"All customer subscriptions come with at least one development VM. Customers can pay for add-on dev VMs or run local dev VMs."

As far as I know, apart from the UAT and Prod environment (both of which cannot be used for development), there is no other environment or VM provided. Therefore what is this "at least one development VM" referring to? Additional d

[2022-07-26 21:54] josaw1 commented on #4094
Thanks for contacting us. Unfortunately, we're unable to handle requests for the product here. Consider adding your request to the [Ideas site](https://experience.dynamics.com/ideas/).

[2022-07-26 21:55] josaw1 commented on #4095
Thank you for your feedback. @laneswenka can you please review?

[2022-07-26 22:25] angelad116 commented on #4084
@primeitbr Hello,, please kindly refer to this document for sample files: https://docs.microsoft.com/en-us/dynamics365/finance/cash-bank-management/set-up-advanced-bank-reconciliation-import-process.
Meanwhile as mentioned in the document, XSLT will be deprecated, so need to raise ticket to Microsoft support to use this function currently. We suggest to use ER functionality to import bank statemen

[2022-07-27 11:46] #4084 closed

[2022-07-27 17:13] FrozyDev opened #4097 "The deep dive URL logic doesn't work in batch mode"
The provided code on the page works create when a user session is active. When this code is run in batch, we need to replace the line using UrlUtility::GetURL() with some other code that doesn't rely on a user session:

The bellow code:

   // gets the generator instance
    var generator     = new Microsoft.Dynamics.AX.Framework.Utilities.UrlHelper.UrlGenerator();
    /*
    // Works only with us

[2022-07-28 15:44] josaw1 commented on #4097
Thanks for the feedback. @jasongre can you please take a look?

[2022-07-29 17:26] tomhig opened #4100 "Correct the link in Move Production Environments section"
The link to the Service Description is not correct that is in this section:

https://docs.microsoft.com/en-us/dynamics365/fin-ops-core/fin-ops/get-started/move-environments-data-center?context=%2Fdynamics365%2Fcontext%2Ffinance#move-production-environments

The link is directing to the now outdated service description PDF.

Please use this vanity URL for the link:

https://aka.ms/D365-Cloud-Servic

[2022-07-29 17:49] josaw1 commented on #4100
Thank you for your feedback. @ClaudiaBetz-Haubold can you please take a look?

[2022-07-29 17:57] sericks007 commented on #4100
I've corrected the link.  The updated content will be published soon.

[2022-07-29 17:57] #4100 closed

[2022-08-01 06:36] FangyuanHou opened #4102 "May we ask when the what's new public doc will be updated for the new version 10.0.29?"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 27899f77-9cc9-1831-fa16-9c0c71f8f1c3
* Version Independent ID: 4bfcb1d6-3e1d-b24b-4429-ab3b8f31eb3e
* Content: [What's new or changed in finance and operations apps home page - Finance & Operations | Dynamics 365](https://docs.microsoft.com/en-us/dyna

[2022-08-01 06:37] FangyuanHou opened #4103 "May we ask when the what's new public doc will be updated for the new version 10.0.29?"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 27899f77-9cc9-1831-fa16-9c0c71f8f1c3
* Version Independent ID: 4bfcb1d6-3e1d-b24b-4429-ab3b8f31eb3e
* Content: [What's new or changed in finance and operations apps home page - Finance & Operations | Dynamics 365](https://docs.microsoft.com/en-us/dyna

[2022-08-01 06:38] FangyuanHou commented on #4103
We understand that the public communicated date for Preview release is 08-01-2022, when the what's new public doc will be updated for the new version 10.0.29?

[2022-08-01 11:52] UmerBajwaSA commented on #3032
No

[2022-08-01 17:57] johnmichalak commented on #4102
@FangyuanHou Hello, that content should publish today (or possibly tomorrow to be safe).

[2022-08-01 17:57] #4102 closed

[2022-08-01 17:58] #4103 closed

[2022-08-01 19:15] deansteg opened #4104 "incorrect version listed"
The Note on this page includes this last bullet point

Version N-4 is four versions older than N, such as 10.0.22 (In this example, customers on version 10.0.22 can't pause updates.)

This should list version 10.0.21 like this

Version N-4 is four versions older than N, such as 10.0.21 (In this example, customers on version 10.0.21 can't pause updates.)

The same Note is on the FAQ article here -

[2022-08-02 13:17] sericks007 commented on #4104
@deansteg, thank you for pointing out this typo!  I've corrected the text.  The updated text will be published soon.

[2022-08-02 13:17] #4104 closed

[2022-08-02 14:04] sericks007 commented on #4080
This content has been updated.

[2022-08-02 14:04] #4080 closed

[2022-08-02 15:12] Weicheng-Gao opened #4105 "The synchronize customers job name is incorrect"
The former name is exactly same to the current name. Please double check it.
The history of this job name should be:

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 60b7e67b-6e19-0344-d2cb-f348a8b2c550
* Version Independent ID: 60b7e67b-6e19-0344-d2cb-f348a8b2c550
* Content: [Convert asynchronous customers to synchronou

[2022-08-02 17:09] timpcooper opened #4106 "French fiscal integration setup omits need for 'Use advanced certificate store' = YES for cloud-based PROD environments"
There is a crucial piece of required setup for Azure Key Vault client that is not mentioned, or linked here from this page.

Per this doc:
https://support.microsoft.com/en-us/topic/setting-up-azure-key-vault-client-84e53cef-99d6-3f35-9dc5-fa855b309f5b

A cloud-based PROD Environment MUST have the following field set: System Parameters > Use Advanced Certificate Store = YES
Otherwise, the Commerce

[2022-08-03 16:05] johnmichalak commented on #4105
@Weicheng-Gao Thank you for the feedback.

@gvrmohanreddy Please review the suggestions and update the article as appropriate.

[2022-08-03 16:07] johnmichalak commented on #4106
@timpcooper Thank you for the feedback. I will contact the author and ask them to review your suggestions and make changes as appropriate.

[2022-08-03 17:09] johnmichalak commented on #4106
@EvgenyPopovMBS Please take a look at this suggestion and update the article as appropriate.

[2022-08-04 06:38] EvgenyPopovMBS commented on #4106
Thanks, I will review the suggestion and make appropriate changes.

-------------------------
Best regards,
Evgeny.

From: John Michalak ***@***.***>
Sent: 3 августа 2022 г. 20:10
To: MicrosoftDocs/dynamics-365-unified-operations-public ***@***.***>
Cc: Evgeniy Popov ***@***.***>; Mention ***@***.***>
Subject: Re: [MicrosoftDocs/dynamics-365-unified-operations-public] French fiscal integration set

[2022-08-05 14:15] mmrauta opened #4108 "Quarantine orders no longer supported for warehouse management processes (Quarantine orders page)"
Since version 10.0.25, as part of the bug fix, the quarantine orders have been disabled for warehouse management processes.
In this article there is a note that they are supported for return order which is not true anymore.
Could you please update the note?

Please notice there is a similar problem with another docs. I have created also this issue:
[#4109](https://github.com/MicrosoftDocs/dynamics

[2022-08-05 14:24] mmrauta opened #4109 "Quarantine orders no longer supported for warehouse management processes (Sales return page)"
Since version 10.0.25, as part of the bug fix, the quarantine orders have been disabled for warehouse management processes.
In this article it is written that they are supported for return order which is not true anymore. Moreover, the pallet transport is not supported anymore, so the following fragment from the **Arrival at the warehouse for inspection** section makes no sense anymore:

Please no

[2022-08-05 15:32] johnmichalak commented on #4108
@mmrauta Thank you for the feedback.

@yufei-huang Please take a look at the suggestion and update the article as appropriate.

[2022-08-05 15:34] johnmichalak commented on #4109
@mmrauta Thank you for the feedback.

@Mirzaab  Please take a look at the suggestion and update the article as appropriate.

[2022-08-05 20:29] jje210 opened #4110 "Duplicate words"
[The second where in: "No matter where where" may be removed]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bf664431-b092-8d49-567d-90245aa48c99
* Version Independent ID: 14fce919-2a2d-4eab-b190-375516f6f05b
* Content: [Integrated customer master - Finance & Operations | Dynamics 365](https://docs.microsoft.com/en-us/

[2022-08-05 20:43] sericks007 commented on #4110
@jje210, thanks for letting us know about this!  I've fixed that sentence.  The updated content will be published later today.

[2022-08-05 20:43] #4110 closed

[2022-08-05 22:13] jje210 opened #4111 "Duplicate contact-record when creating a contactperson in F&O first, and then a customer for that party"
[Do you have any idea why a seperate contact-record in PP is created if you first create a contactperson in F&O, and then a customer of type person in F&O for the same party? If you first create a customer of type person in F&O, and then a contactperson in F&O, only one contact-record is created in PP, with the number sequence of the customer.]

---
#### Document Details

⚠ *Do not edit this secti

[2022-08-08 17:12] johnmichalak commented on #4111
@jje210 Thanks for contacting us. Unfortunately, we're unable to handle Support requests for the product here. To contact Support, consider one of the options described here: [Support contact options](https://docs.microsoft.com/en-us/dynamics365/unified-operations/dev-itpro/lifecycle-services/lcs-support). In particular, you might want to go to the [Dynamics 365 community page](https://community.d

[2022-08-08 17:12] #4111 closed

[2022-08-08 22:22] sericks007 commented on #4009
This content has been updated. The updated content will be published later today.

[2022-08-08 22:22] #4009 closed

[2022-08-08 23:16] Pikhulya opened #4113 "Missing powershell Execution Mode prerequisites"
The page's section Prerequisites is missing an information that the Powershell's execution policy should be RemoteSigned. By default it is restricted and as a result the deployment will fail. The Execution Policy can be checked with [Get-ExecutionPolicy](https://docs.microsoft.com/en-us/powershell/module/microsoft.powershell.security/get-executionpolicy?view=powershell-7.2) and then if it is Restr

[2022-08-10 11:08] cpinotossi opened #4114 "Support standard lb"
Would it be possible to replace the basic lb with the standard lb? This would allow the usage of the azure NAT gateway.

[2022-08-10 17:21] kfend commented on #4114
@cpinotossi - Can you offer a bit more clarification? Are you referring to an article? If so, can you let me know which one?

[2022-08-10 17:23] kfend commented on #4113
@Pikhulya - Thank you for the feedback.
@josaw1 - Can you please assign this to the correct PM for updating? Thanks!

[2022-08-10 17:38] Ginn-Hernandez opened #4116 "The documentation is not clear enough about the need of the default record in the service levels (spanish)"
The documentation mentions the default record for the service levels, but is not clear enough about the need of this record to be an "empty level" so several customers create different services levels and then this can cause errors when used in the Asset management API within the Dynamics 365 app.

There have been several cases that were solved by adding this line, and they could have being avoide

[2022-08-10 20:10] josaw1 commented on #4113
@mugunthanm can you please review this feedback?

[2022-08-10 20:35] cpinotossi commented on #4114
Sorry, referring the dynamic365 dev Cloud env lcs:
https://docs.microsoft.com/en-us/dynamics365/fin-ops-core/dev-itpro/dev-tools/access-instances#cloud-environment-that-is-provisioned-through-lcs

[2022-08-11 12:15] jmeijering opened #4117 "New Discount concurrency mode option Always apply is not described"
In this page the new discount concurrency mode option Always apply is not described. What does it do?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 446bde34-336d-f791-b24f-c5b13f0ed685
* Version Independent ID: 2f358f3a-acdd-e710-beef-24e19d154617
* Content: [Retail discounts - Commerce | Dynamics 365](https://docs.mi

[2022-08-11 12:16] jmeijering opened #4118 "The new discount concurrency mode option Always apply is not described."
In this page the new discount concurrency mode option Always apply is not described. What does it do?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7ed31de6-6f28-8607-9537-dc7d7de2fbac
* Version Independent ID: e9f952d3-bbeb-c566-f89d-49a141794807
* Content: [Apply multiple Retail discounts to a product - Commerce | D

[2022-08-11 12:18] jmeijering opened #4119 "In this page the new discount concurrency mode option Always apply is not explained in the examples"
In this page the new discount concurrency mode option Always apply is not explained in the expamles, please add an example for it

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7ed31de6-6f28-8607-9537-dc7d7de2fbac
* Version Independent ID: e9f952d3-bbeb-c566-f89d-49a141794807
* Content: [Apply multiple Retail discounts

[2022-08-11 16:06] dlanglie opened #4120 "By default the custom sort order feature is turned off."
https://docs.microsoft.com/en-us/dynamics365/commerce/custom-order-categories-nav-retail-prod-hierarchy
Doc has a note:

"By default the custom sort order feature is turned off. To learn how to turn on this feature and other features, see [Feature management](https://docs.microsoft.com/en-us/dynamics365/unified-operations/fin-and-ops/get-started/feature-management/feature-management-overview)."

I

[2022-08-12 21:49] MarcRohde opened #4121 "Date seems wrong"
I the first paragraph of the page it states "To avoid last-minutes issues when deprecation is enforced, we strongly encourage you to complete the migration before December 1, 2020"

That was almost two years ago -- is there a new planned deprecation for traditional planning? If not this seems a little extreme since i it still isn't mandatory.

[Enter feedback here]

---
#### Document Details

⚠ *D

[2022-08-15 17:56] kfend commented on #4121
@MarcRohde - Thank you for the question.
@t-benebo - Can you please take a look and update the article as needed? Thanks!

[2022-08-15 17:58] kfend commented on #4120
@dlanglie - Thank you for the feedback.
@josaw1 - Can you take a look at this and assign to the correct PM to update? Thanks!

[2022-08-15 17:59] kfend commented on #4119
@jmeijering - Thank you for this feedback.
@josaw1 - Can you please assign this to the correct PM for update? Thanks!

[2022-08-15 18:00] dlanglie commented on #4120
@josaw1<https://nam06.safelinks.protection.outlook.com/?url=https%3A%2F%2Fgithub.com%2Fjosaw1&data=05%7C01%7Cdlanglie%40microsoft.com%7Cd812081a31b749fc7cce08da7ee7c902%7C72f988bf86f141af91ab2d7cd011db47%7C1%7C0%7C637961831220991932%7CUnknown%7CTWFpbGZsb3d8eyJWIjoiMC4wLjAwMDAiLCJQIjoiV2luMzIiLCJBTiI6Ik1haWwiLCJXVCI6Mn0%3D%7C3000%7C%7C%7C&sdata=hRFYzGpr5k%2FOPkqIleTEZbCHEjcxLEVq8VrRG2%2Buu0Q%3D&res

[2022-08-15 18:00] kfend commented on #4118
@jmeijering - Thank you for the feedback.
@josaw1 - Can you please assign this to the correct PM to update? Thanks!

[2022-08-15 18:02] kfend commented on #4120
Closing as the issue is resolved.

[2022-08-15 18:02] #4120 closed

[2022-08-15 18:03] kfend commented on #4117
@jmeijering - Thank you for the question.
@josaw1 - Can you please assign this to the correct PM to address? Thanks!

[2022-08-15 18:07] MichaelShield opened #4122 "Index creation is either wrong on documentation or code behind"
"You can add both new and existing fields so that they are part of the new index." This is either wrong the documentation or implementation side. I creating a new RecId Idx on the ProdJournalRoute Table to fix the data lake export, but upon building the model an error is throw stating "The unique index has to contain at least one field from the current extension."

---
#### Document Details

⚠ *Do

[2022-08-15 18:08] josaw1 commented on #4117
@ShalabhjainMSFT please review.

[2022-08-15 18:08] kfend commented on #4116
@Ginn-Hernandez - Thank you for the feedback.
@johanhoffmann - Can you please review this issue and update the article as needed? Thanks!

[2022-08-15 18:10] josaw1 commented on #4119
@ShalabhjainMSFT please review.

[2022-08-15 18:31] kfend commented on #4078
I have removed the broken link.

[2022-08-15 18:31] #4078 closed

[2022-08-15 19:18] ShalabhjainMSFT commented on #4119
@boycezhu-zz is the new owner for this area

[2022-08-15 19:19] ShalabhjainMSFT commented on #4118
@josaw1 please assign this to @boycez

[2022-08-15 19:20] ShalabhjainMSFT commented on #4117
@josaw1 please assign this to @boycezhu-zz

[2022-08-16 19:52] twheeloc commented on #4122
@MichaelShield, thank you for the feedback.
@ivanv-microsoft, please review this feedback and update the content as needed.

[2022-08-16 22:50] StephenMakar opened #4124 "When will the recalculate button will be removed?"
First note in page states:
" Note

After a coupon is linked to a discount, several fields on the discount page in Commerce become read-only, because they are managed by the coupon's settings. These fields include the fields for the status and standard date ranges.

While using the coupon in the call center channel, you need to select the Recalculate button (Sell tab > Calculate > Recalculate) in o

[2022-08-17 00:18] LodRose opened #4125 "Compensation? How about Offset/Netting?"
[When we speak of compensation, it is usually in relation to salary, reimbursement and such. Shouldn't Offset/Netting be a better label for these types of transactions?]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7c85d41a-3795-ac2a-19fc-a1d3ce57b603
* Version Independent ID: 5b00762f-63ff-50e9-d9b6-4323e5e0ee27
* C

[2022-08-17 10:13] mkowalka opened #4127 "Missing information about Tax-free period"
[Enter feedback here]
Under Set up interest codes there is just short statement about Grace period, but there is nothing about tax-free period. Is this required to be set to 30 days in case of free-hand interests?
Also, it would be better if there are some screen shoots, not just text.
Thanks,
Monika

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ G

[2022-08-17 17:52] twheeloc commented on #4124
@StephenMakar, thank you for the feedback.
@josaw1, will you please assign this to the correct PM to address? Thanks!

[2022-08-17 17:53] twheeloc commented on #4125
@LodRose, thank you for the feedback.
@mrolecki, please review the feedback and update the content as needed.

[2022-08-17 17:55] twheeloc commented on #4127
@mkowalka, thank you for the feedback.
@AdamTrukawka, please review the feedback and update the content as needed. Thank you!

[2022-08-19 16:12] JFerg523 opened #4128 "Advanced Bank Rec BAI2 ER Configuration Not Working on Available Version"
The latest ER configurations for the ABR BAI2 Model Mapping fails.  It is requiring version 10.0.1283 but the latest release available for us is 10.0.1635.  This is an issue as the model mapping configuration will not import from the global repository.  LCS shows our version is the latest available.

In addition, the prerequisites for the BAI2 Model Mapping in ER lists package and KBs that are not

[2022-08-22 13:13] bishalgoswami commented on #4128
Bug 734203 has been logged to address this issue.

[2022-08-22 13:13] bishalgoswami commented on #4124
Bug 734204 has been logged to address this issue.

[2022-08-22 13:13] bishalgoswami commented on #4118
Bug 734206 has been logged to address this issue.

[2022-08-22 13:13] bishalgoswami commented on #4117
Bug 734207 has been logged to address this issue.

[2022-08-22 13:13] bishalgoswami commented on #4081
Bug 734209 has been logged to address this issue.

[2022-08-22 13:13] bishalgoswami commented on #4094
Bug 15336081 has been logged to address this issue.

[2022-08-22 13:28] Prasanthtvpm opened #4129 "Content Issue"
[This page seems to have wrong content and image. Figure 2 seems to be wrong, as it does not show part E which is there in Figure 1. Moreover in Figure 2, ABC are shown as packaging items. If C is a packaging item, it should ideally be in sequence 30]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8edfe78b-6486-5678-a1

[2022-08-22 13:31] bishalgoswami commented on #4129
Bug 734216 has been logged to address this issue.

[2022-08-22 16:26] josaw1 commented on #4124
@boycez can you please review this comment?

[2022-08-22 16:28] josaw1 commented on #4106
@EvgenyPopovMBS any updates required?

[2022-08-22 16:29] josaw1 commented on #4106
BUG 734208

[2022-08-22 16:33] josaw1 commented on #4117
@boycez can you please review?

[2022-08-22 16:35] josaw1 commented on #4119
@boycez please review this comment.

[2022-08-22 17:54] EvgenyPopovMBS commented on #4106
Yes, I’m working on a big functional update for France (Content Deliverable 684499<https://msdyneng.visualstudio.com/FinOps/_workitems/edit/684499>/Deliverable 684496<https://msdyneng.visualstudio.com/FinOps/_workitems/edit/684496>), and will add this change to the update.

-------------------------
Best regards,
Evgeny.

From: josaw1 ***@***.***>
Sent: 22 августа 2022 г. 19:29
To: MicrosoftDocs/d

[2022-08-23 03:33] boycez commented on #4117
@josaw1 I'll publish an updated doc to address this issue. Authoring in progress.

[2022-08-23 09:18] jpiquot opened #4131 "Fix incorrect method name GetAzureWritableUrl"
Hi,

In the documentation, the name of the "GetAzureWriteUrl" method is incorrect. In some paragraphs, it's called "GetAzureWrit**abl**eUrl".

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9d963d4c-de1f-7730-bee2-016dcde40907
* Version Independent ID: 21b95d43-5ad9-0ffc-21b9-6a4ba9086a56
* Content: [Data management pac

[2022-08-23 09:32] bishalgoswami commented on #4131
Bug 734439 has been logged to address this issue.

[2022-08-23 13:23] sericks007 commented on #4094
@gertvdh, thanks for contacting us. Unfortunately, we're unable to handle requests for the product here. Consider adding your request to the [Ideas site](https://experience.dynamics.com/ideas/).

[2022-08-23 13:23] #4094 closed

[2022-08-23 13:51] sericks007 commented on #4119
Closing this issue as a duplicate.  This will be covered when GitHub issue #4118 is addressed.

[2022-08-23 13:51] #4119 closed

[2022-08-23 14:05] sericks007 commented on #4117
Closing this issue as a duplicate.  This will be addressed when #4118 is addressed.

[2022-08-23 14:05] #4117 closed

[2022-08-23 15:30] verna-avanade opened #4132 "Parameter für Lager- und Lagerortverwaltung*"
[Hier Feedback eingeben]

---
#### Dokumentdetails

⚠ *Bearbeiten Sie diesen Abschnitt nicht. Er ist für die Verknüpfung von docs.microsoft.com zum GitHub-Artikel erforderlich.*

* ID: 9cb0e8c4-73ae-3514-49cb-47457297343e
* Version Independent ID: 7e0278ce-0637-386e-fdcc-79ba3f4baa16
* Content: [Ermöglicht Qualitäts- und Qualitätsmangel-Management - Supply Chain Management | Dynamics 365](https://

[2022-08-23 15:56] sericks007 commented on #4132
@verna-avanade, please indicate the issue in the documentation that you want corrected. Thanks!

[2022-08-23 16:40] Wolfram66 opened #4133 "Bundle Qty roll-up calculation of components on Invoice"
When a Bundle item has 3 components of Qty 1 ea
We are seeing the InvoiceLine entity return roll-up qty = 0.99999 rather than 1.00000
    {
      **"@odata.etag":"W/\"JzEsNTYzNzE0NjA3Nzs4ODY1MDMwODMsNTYzNzE4MzI2Mic=\"","dataAreaId":"","RecIdLine":5637183262,"Qty":0.999999,"RequestDate":"","PriceRatio":0,"ShippedDate":"","RecIdHeader":5637217867,"EdiTransferred":0,"RequestedShipdate":"","InvoiceNo"

[2022-08-23 17:33] bishalgoswami commented on #4133
Bug 734548 has been logged to address this issue.

[2022-08-23 20:44] yobryon opened #4135 "Page"
This page still advises to use the CommerceControllerAsync, which has been deprecated since 10.0.19, where the deprecation notice advises using IController instead.

Can the documentation be updated to reflect this? And in addition, is there still a standard way for us (customers) to create Bound controllers (where IController seems to be primarily for making unbound controllers).

Thanks!

---
##

[2022-08-23 20:56] yobryon commented on #4135
Update - I did stumble across the page a few before this one (in the ToC) that does explain it. Consider my ask revised to :  can the docs be updated to remove the advice to use the obsolete API, and maybe have the section on this page refer instead to the _Create a Retail Server extension API_ page (https://docs.microsoft.com/en-us/dynamics365/commerce/dev-itpro/retail-server-icontroller-extensio

[2022-08-23 21:33] bishalgoswami commented on #4135
Bug 734601 has been logged to address this issue.

[2022-08-23 23:23] josaw1 commented on #4135
@mugunthanm can you please review this feedback?

[2022-08-24 07:49] verna-avanade commented on #4132
Wrong translation:
Bestandsverwaltung > Einrichtung > Bestands- und Lagerverwaltungsparameter
should be:
Lagerverwaltung > Einstellungen > Parameter für Lager- und Lagerortverwaltung

[2022-08-24 10:52] kamaybac commented on #4132
This issue has been forwarded to our localization team, who are tracking it here: https://dev.azure.com/bagie/Production/_workitems/edit/70479/

[2022-08-24 13:09] brkingmsft commented on #4133
Hi Wolfram66 - can you provide more context or detail so we can investigate further? The specific entity you are seeing this behavior in would be important here. Based on what I'm reading here this doesn't seem to be an issue with the documentation but potentially a product issue. I'd also recommend opening this as a support incident for proper traction and handling.

[2022-08-25 14:48] dsteinkepcl opened #4137 "Topic DYN558PAL2 link is broken"
The topic "finance and operations: Extending Dynamics 365 Finance with PowerApps (DYN558PAL2)"
link is broken. (https://community.dynamics.com/365/b/techtalks/posts/finance-and-operations-extending-dynamics-365-with-powerapps-2-6-2019)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 888a4451-c840-625a-d0da-63cc3fe1f55c

[2022-08-25 15:24] ThomasZak1 opened #4138 "Missing Friend Package information"
There is a new Friend Package feature (starting 10.0.27?). But Microsoft has not documented it here yet.
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4415555b-d436-8e95-b68f-72a3104544bf
* Version Independent ID: 4d92f8ec-70fe-3651-e5a2-038438d24c2a
* Content: [Models and packages - Finance & Op

[2022-08-25 15:35] bishalgoswami commented on #4138
Bug 735257 has been logged to address this issue.

[2022-08-25 15:35] bishalgoswami commented on #4137
Bug 735258 has been logged to address this issue.

[2022-08-25 21:22] dechanan opened #4139 "Entity security should be mentioned under the When will an entity show as an Open in Excel option"
[Enter feedback here]

I think a note should be added with a link to this page

https://docs.microsoft.com/en-us/dynamics365/fin-ops-core/dev-itpro/data-entities/security-data-entities

Should be noted that customer will need Data management entry point access  (this is very important for custom entities

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com

[2022-08-25 21:36] bishalgoswami commented on #4139
Bug 735339 has been logged to address this issue.

[2022-08-26 06:50] Vall0n opened #4141 "Why not using just Semantic Versioning"
[Enter feedback here]
Why not using [Semantic Versioning](https://semver.org)... Why use a asterisks for major releases... I don't get it...

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e7dcb285-f32c-c92e-fe49-1617f213066b
* Version Independent ID: 8f28c1a0-9da5-f853-90ee-d82a4c32df7e
* Content: [Service update avail

[2022-08-26 07:36] bishalgoswami commented on #4141
Bug 735439 has been logged to address this issue.

[2022-08-26 10:20] xDynaMike opened #4142 "Maintanance mode is triggering DB Sync"
I think it is worth to add to this page that when you turn off the Maintanance mode then DB Sync is triggered - it's a simple solution for a case where the customer is suspecting that DB Sync went well (no errors) but for example for some reason deleted field is still there in table schema.
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue

[2022-08-26 10:56] cstorega commented on #4137
Bug 735258 _ this has been fixed by margo - a redirect is in place.

[2022-08-26 11:37] bishalgoswami commented on #4142
Bug 735508 has been logged to address this issue.

[2022-08-26 14:46] #4137 closed

[2022-08-26 14:57] sericks007 commented on #4141
@Vall0n, thank you for your feedback! This is not a high-priority issue at this time, so closing this issue.  Consider adding your request to the [Ideas site](https://experience.dynamics.com/ideas/).

[2022-08-26 14:57] #4141 closed

[2022-08-26 16:01] brkingmsft commented on #4133
I am resolving this item as it is not a documentation issue. Please open a support request for your issue to be investigated further.

[2022-08-26 16:05] #4133 closed

[2022-08-29 08:46] cpinotossi commented on #4114
Hello, any updates on this?

[2022-08-30 11:03] mkowalka opened #4143 "Missing info about Natura codes and application specific parameters"
Hi,
there is missing information how to setup application specific parameters for Vendor Invoice (IT)
It's on customer electronic invoice, but even there is no info about minimum setup for *blank* and *not blank* for Others lookup result.

Please add the details for vendor invoice page.
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft

[2022-08-30 11:42] bishalgoswami commented on #4143
Bug 744554 has been logged to address this issue.

[2022-08-30 19:34] KheeChan opened #4146 "Minimum .NET framework version should be 4.7.2"
Minimum .NET framework version should be 4.7.2. See issue 702590 in LCS.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5fe44c05-ed58-b554-859e-2da552dbbd9d
* Version Independent ID: e638edab-dd54-6008-f210-524fd52b0e5b
* Content: [Install the Document Routing Agent to enable network printing - Finance & Operations | D

[2022-08-30 19:42] bishalgoswami commented on #4146
Bug 744642 has been logged to address this issue.

[2022-08-31 07:28] liamneesangamer opened #4147 "Will Microsoft implement Saudi Zatca E-Invoicing phase II before 2023?"
We are in the implementation stage of dynamics 365. Could you clarify 2 short questions

1. Will Microsoft implement of E-Invoice(ZATCA PHASE II) before jan-2023?
2. Is there any limitations for E-Invoicing number of transactions per month/tenant basis? Because we are in the Retail hypermarket business. So, the number of transactions are higher than any other business model. the below contents are

[2022-08-31 07:43] bishalgoswami commented on #4147
Bug 744759 has been logged to address this issue.

[2022-09-01 14:53] swordiuss opened #4148 "Demo environment"
Where is HQUS legal entity?
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9fcbfaeb-97bd-7fc6-111c-6a18ac95bf3d
* Version Independent ID: 720a7fea-8b61-d9bf-238e-7b15c3065e26
* Content: [Subcontracting - Supply Chain Management | Dynamics 365](https://docs.microsoft.com/en-us/dynamics365/supply-ch

[2022-09-02 10:04] johanhoffmann commented on #4148
@swordiuss Unfortunately, the HQUS legal entity is no longer available. We will therefore remove this topic.

[2022-09-02 10:06] #4148 closed

[2022-09-02 11:03] xDynaMike opened #4149 "Missing documentation for Solution management tile in LCS"
Please provide documentation regarding Solution management tile - how this view is build, who can add records with "Global" scope and why users are able to see them and so on.

Thanks,
Michal
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 786fc060-d324-2e48-d4db-787895b8df3e
* Version Independent

[2022-09-02 11:45] bishalgoswami commented on #4149
Bug 15444735 has been logged to address this issue.

[2022-09-02 20:51] gionoder commented on #4147
Hi,

**Question #1:** Will Microsoft implement of E-Invoice (ZATCA PHASE II) before jan-2023?
**Answer:** Yes, for details about scope and timelines, please consult the release plan available at: https://docs.microsoft.com/en-us/dynamics365-release-plan/2022wave2/finance-operations/dynamics365-finance/access-saudi-arabia-e-invoice-integration.

The Electronic Invoicing phase 2 for Saudi Arabia is

[2022-09-03 08:48] liamneesangamer commented on #4147
Thank you for reply,

**Question #1:** I got it,

**Question #2:** Sorry, I didn't get your point, could you please elaborate more?.  In the "Dynamics 365 License Guide"

It mentioned that **Dynamics 365 Commerce, Finance, Project Operations, and Supply Chain Management applications include 100
electronic invoice transactions/tenant/month, If you need additional transactions, you can buy the Elect

[2022-09-06 07:31] kamaybac commented on #4132
This has been reported as resolved by our translation team.

[2022-09-06 07:31] #4132 closed

[2022-09-06 09:17] finopsfuntimes opened #4151 "What to do if App ID is not registered in tenant."
On this page, we have some prerequisites listed including a requirement to have a specific Azure App ID be enabled in the tenant.
(This is under the section 'Configure your Azure AD tenant')

Firstly, it would be useful to add some instructions for a user to validate that this AppID is registered in the tenant (either inline or as an external link.)

More importantly - there are no instructions to

[2022-09-06 09:50] bishalgoswami commented on #4151
Bug 746848 has been logged to address this issue.

[2022-09-06 09:57] finopsfuntimes opened #4152 "Additional Azure App Registration is required but not listed"
On this page, we have some prerequisites listed including a requirement to have a specific Azure App ID be enabled in the tenant.
(This is under the section 'Configure your Azure AD tenant')

In the scenario where a customer wishes to install the Add-In, but does not bring their own data lake, the Add-In will deploy a 'managed' data lake instead. In this scenario, a customer would not have complet

[2022-09-06 11:50] bishalgoswami commented on #4152
Bug 746872 has been logged to address this issue.

[2022-09-06 16:41] AliAAdamu opened #4153 "Adding the PU"
Hello, we should add the PU number with the application version as they get released at the same time and the support team mostly refer to the PU number rather than the application version when talks with the customers.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e7dcb285-f32c-c92e-fe49-1617f213066b
* Version Indepe

[2022-09-06 17:08] hmahl commented on #4153
Since we no longer release the platform version as a standalone package, the platform version number is a purely internal numbering system used by engineering. It’s the 10.0.xx application version that is used to identify combined app+plat package versions, so it is the application version number that should be used in discussions with customers.

From: AliAAdamu ***@***.***>
Sent: Tuesday, Septem

[2022-09-06 17:13] #4153 closed

[2022-09-07 07:21] timeaxapt opened #4155 "PurchIdRange - misleading information - Please review"
Hi,
Please update the followings because they are misleading:
The invoice numbers --> The purchase order numbers
INV0001..INV0009 --> PO00000001..PO00000009
INV0001, INV0003, INV0006 --> PO00000001, PO00000003, PO00000009

PurchIdRange – The list of purchase order numbers. The **invoice** numbers can be a range, such as **INV0001..INV0009** (where two dots separate the start and end of the range),

[2022-09-07 07:52] bishalgoswami commented on #4155
Bug 747052 has been logged to address this issue.

[2022-09-07 10:45] d3fr0g opened #4156 "Expired certificate 2021.12"
![image](https://user-images.githubusercontent.com/11015743/188859701-7fb797d4-6c90-4ef7-b220-92082e0185c8.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: da30cb1c-cdec-8d0a-92d4-cef0cd34ecc7
* Version Independent ID: bbdccbb0-c648-bdbb-3a59-eb2ec497ceec
* Content: [Finance and operations application documentation

[2022-09-07 10:48] d3fr0g commented on #4156
I was coming from https://docs.microsoft.com/en-us/dynamicsax-2012/appuser-itpro/performance-benchmark-software-development-toolkit-sdk-for-microsoft-dynamics-ax-2012
to https://ax.help.dynamics.com/en/wiki/performance-benchmark-software-development-toolkit-sdk-for-microsoft-dynamics-ax-2012/
which landed on the main page. So the root cause might be the invalid links.

[2022-09-09 01:41] angelad116 commented on #4128
@JFerg523 Hello, we have fixed this issue.

[2022-09-09 11:48] #4128 closed

[2022-09-12 13:47] kfend commented on #4086
Updated the topic to remove the mention of a three-digit code. Changes will go live later today.

[2022-09-12 13:47] #4086 closed

[2022-09-12 14:45] gionoder commented on #4147
Hi,
Typically, in retail business the invoices will be sent to ZATCA for reporting purposes, not for clearance. Then, for the summarized invoice submission, it will depend how often you submit transaction invoices to the service, and not necessarily how many retail invoices you are going to report. In another words, if you encompass multiple retail invoices in one submission to the service, that w

[2022-09-12 14:49] #4147 closed

[2022-09-12 20:15] brkyyldz opened #4162 "Purchase order prepayment functionality"
Hi,
Enabling purchase order prepayment functionality functionality is also for Russian localization. But it's not written on list.
When I search for the label "Use prepayment invoice" on Development environment it is only referenced to VendParameters UseVendAdvanceInvoice_RU  field.

![image](https://user-images.githubusercontent.com/67732989/189748884-d373e265-6d5f-4f9d-9b10-a8e55cba3e65.png)

--

[2022-09-12 21:58] bishalgoswami commented on #4162
Bug 747998 has been logged to address this issue.

[2022-09-13 09:43] mohanmanakkal opened #4164 "Public key does not match with private key zatca"
[I had generated csr,ccsid but in production csid i got theerror "No cert in -in file 'PCSID.pem' matches private key
2C980000:error:05800074:x509 certificate routines:X509_check_private_key:key values mismatch:crypto\x509\x509_cmp.c:405:"]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2e7e40bd-7c12-ce0d-16db-984430e2

[2022-09-13 09:47] mohanmanakkal commented on #4091
No cert in -in file 'PCSID.pem' matches private key
2C980000:error:05800074:x509 certificate routines:X509_check_private_key:key values mismatch:crypto\x509\x509_cmp.c:405:

[2022-09-13 09:59] bishalgoswami commented on #4164
Bug 748103 has been logged to address this issue.

[2022-09-13 10:08] mrolecki commented on #4164
@bishalgoswami , it's not a comment to the article but issue that should be raised to support. how to contact the submitter to pass that information?

[2022-09-13 11:51] mrolecki commented on #4164
@mohanmanakkal , we are adding clarification in a new paragraph to the article (pasted below). it's to be followed after obtaining CCSID but prior PCSID. It might not be the exact reason of your issue so if it is not solved, please contact preview support team at d365einvoicesupport@microsoft.com .

### Compliance check

After obtaining Compliance CSID using the PowerShell script, ZATCA requires c

[2022-09-13 16:00] bishalgoswami commented on #4164
Bug 748185 has been logged to address this issue.

[2022-09-14 07:30] feodala99 opened #4166 "Svensk momsredovisning exempel"
Hej!

Jag skulle gärna se att bilder som beskriver svensk moms även visar exempel på bilder från systemet där de svenska momskoderna syns. Som det är nu är informationen ganska bra men bilderna är ju tagna från Contoso-bolagen. Det blir vilseledande att i texten visa svenska koder, men i bilderna ha med koder från andra länder.

---
#### Dokumentinformation

⚠ *Redigera inte det här avsnittet. Det

[2022-09-14 08:13] mrolecki commented on #4164
@mohanmanakkal , please take a look into the article. Your error is expected when you use Sanbox API when onboarding for production. It's described in the article in a comment- see below. As written in other comment, you have to update URL(s) to Zatca production one when onboarding for prod.

        # Sandbox API will get error: openssl : No certificate matches private key
        openssl pkcs12

[2022-09-14 08:18] mohanmanakkal commented on #4164
@mrolecki , Thank you for your response, The signing process will work only in production environment ,right?

[2022-09-14 22:18] scott-tucker opened #4167 "I believe the sentence logic is incorrect for extensions"
### Current text in docs article:
Extension packages must be compiled against **the same version as, or a newer version than, the target component** that the extension applies to.

For example, if the deployed **Commerce Scale Unit is on version 10.0.27, the corresponding extension packages must be compiled against version 10.0.27 or earlier** (for example, 10.0.26 or 10.0.25).

### My comment:
It

[2022-09-15 04:49] DarrenIPH opened #4168 "Link not working on Provision Human Resources in the stand-alone infrastructure updates process page"
Hi,

I've just noticed that one of the links on this page - https://docs.microsoft.com/en-us/dynamics365/human-resources/hr-admin-setup-update-process does not work.

The link (https://docs.microsoft.com/en-us/hr-admin-setup-provision-fo.md) returns a 404 error

Thought you might like to fix it up.

Darren
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is require

[2022-09-15 06:35] mohanmanakkal commented on #4164
@mrolecki ,ok thank you ,then clerarence and reporting api also works with CCSID?

[2022-09-15 14:05] twheeloc commented on #4168
@DarrenIPH, thank you for the information. The updated link will be live later today.

[2022-09-15 14:05] #4168 closed

[2022-09-16 11:04] D365-AIGuy opened #4169 "Update Tax Group code with Length equal or less than 10 character - It gives error"
Refer - https://docs.microsoft.com/en-us/dynamics365/finance/localizations/global-get-started-with-tax-calculation-service

**Point 20** - “Tax group” length is more than 10 E.g. “DEU_Domestic” defined on RCS setup which gives error when we try to use that Tax feature setup in FO.

**Navigation** - Tax - setup - Tax Configuration - Tax Calculation Parameters - Feature Setup name (Lookup) when you

[2022-09-16 14:52] rgeal opened #4170 "Clarify no public cloud support statement"
This page states that Dynamics FO (on-prem) is not supported on any public cloud but is it supported on VMC as it's ESXi as the hypervisor? or on Azure/AWS bare-metal offerings?

Thanks,

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fc242273-ee42-3973-cc47-aece5771ca1f
* Version Independent ID: 0cf0f65b-6187-104a-8228

[2022-09-16 20:29] kurthatlevik-inspirit365 opened #4171 "docs on Product comparison preview panel is missing"
I think there are some missing documentation on the Product comparison preview panel that also needs to be added to this documentation.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: dc5cd112-fa3d-65cb-0f7f-ccb46ea61c95
* Version Independent ID: dc5cd112-fa3d-65cb-0f7f-ccb46ea61c95
* Content: [Product comparison module

[2022-09-18 10:05] vereden opened #4172 "Add logo company on ER"
I follow the step on  "Design an ER format to generate a report in Excel format with embedded images in page headers or footers"
section "Edit the custom format"

I can't find :  10.
![Find company logo data source](https://user-images.githubusercontent.com/113829055/190896727-06836a4a-b9b9-4ff7-bf4b-51d3d59f597a.jpg)
![Find company logo data source](https://user-images.githubusercontent.com/11382

[2022-09-19 08:17] PeterRFriis commented on #4170
Hi
F+O is only supported on dedicated HW, and therefore not on ANY cloud infrastructure. This includes Azure and AWS.
Yes, VMware is supported [based on ](https://learn.microsoft.com/en-us/dynamics365/fin-ops-core/dev-itpro/deployment/setup-deploy-on-premises-pu12#infrastructure).

If you would like to run in the cloud the please consider running our SaaS D365 SCM or Finance offering.

Please let

[2022-09-19 10:52] akaradagi opened #4173 "replace Dynamics 365 column Service with Field Service"
[please replace the following text:
 "Dynamics 365 **column** Service" with  "Dynamics 365 Field Service" in: _A Dataverse environment provides the underlying platform for customer engagement apps (Dynamics 365 Sales, Dynamics 365 Customer Service, Dynamics 365 column Service, Dynamics 365 Marketing, and Dynamics 365 Project Service Automation)_.]

---
#### Document Details

⚠ *Do not edit this se

[2022-09-20 05:15] mohanmanakkal commented on #4164
@mrolecki , I cannot sign the B2C invoices with CCSID, is there any other options?

[2022-09-20 14:56] mrolecki commented on #4164
@mohanmanakkal   Clearance should work. The reporting API is not available yet - https://learn.microsoft.com/en-us/dynamics365-release-plan/2022wave2/commerce/dynamics365-commerce/saudi-arabia-simplified-e-invoice-integration-retail-stores .
As this conversation does seem to lead to any further adjustment to the article, to get answers to your questions please better contact preview support team a

[2022-09-21 04:58] DKobayashi-ykgw opened #4176 "Remove unnecessary A tag in section "What are the planned maintenance windows?"."
Please Remove unnecessary A tag in section "What are the planned maintenance windows?".
\#\# \<a name="windows"\>\</name\>What are the planned maintenance windows?
should be
\#\# What are the planned maintenance windows?

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 1fcc1802-115b-4ac2-f34f-aa73eac426f4
* Version Inde

[2022-09-21 11:20] OlgaPetrovaFT opened #4177 "Issue in the title"
I believe we should fix the title to say "finance and operations app" as otherwise title is missing HR and Project Ops which are also in this mix
 This link explains what is the right way to call all FO apps https://styleguides.azurewebsites.net/StyleGuide/Read?id=2696&topicid=48217

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linkin

[2022-09-22 09:45] bishalgoswami commented on #4177
Bug 751242 has been logged to address this issue.

[2022-09-22 09:45] bishalgoswami commented on #4176
Bug 751243 has been logged to address this issue.

[2022-09-22 09:45] bishalgoswami commented on #4173
Bug 751245 has been logged to address this issue.

[2022-09-22 09:45] bishalgoswami commented on #4172
Bug 751246 has been logged to address this issue.

[2022-09-22 09:45] bishalgoswami commented on #4171
Bug 751247 has been logged to address this issue.

[2022-09-22 09:45] bishalgoswami commented on #4170
Bug 751248 has been logged to address this issue.

[2022-09-22 09:46] bishalgoswami commented on #4169
Bug 751249 has been logged to address this issue.

[2022-09-22 09:46] bishalgoswami commented on #4166
Bug 751251 has been logged to address this issue.

[2022-09-22 14:57] #3330 closed

[2022-09-22 15:17] kfend commented on #4143
@mkowalka - Thank you for the feedback. This article has been updated and the changes will go live later today.

[2022-09-22 15:17] #4143 closed

[2022-09-22 15:39] kfend commented on #4151
This issue has been addressed in the article and will be published later today.

[2022-09-22 16:46] #4164 closed

[2022-09-22 18:32] thinkmax-sgilbert opened #4179 "Credit Card Security details"
Please add a comment on credit card number security to this document.  I hope the credit card number is not actually stored anywhere in D365.  When we add a credit card number it appears only the last 4 digits are recorded along with a card token which I assume is provided by the CreditCardProcessor.  Then it is only the token that is used on future transactions to get authorizations?  Does that C

[2022-09-22 19:28] noetico opened #4180 "Issue: Module reportingservices failed with error code -532462766."
While installing Dynamics Finance and Operations I Have this error. Please kindly clarify what this error code represents and how to resolve. All service fabric VMs are good and SF has no warnings, retrying the deployment neatly cleans installed applications, restarts and fails at this point.

[2022-09-22 19:31] josaw1 commented on #4167
Thanks, @scott-tucker. I'll fix this right away.

[2022-09-22 19:31] #4167 closed

[2022-09-22 19:46] bishalgoswami commented on #4179
Bug 751520 has been logged to address this issue.

[2022-09-22 20:40] sericks007 commented on #4179
@ShivamPandeyMSFT, please update the content to address this feedback.

[2022-09-23 08:16] rgeal commented on #4170
Thanks for the follow-up, you mentioned that it is only supported on dedicated HW but offers like dedicated hosts or bare metal on Azure/AWS are dedicated HW, that's why it's still not clear to me. Thanks.

[2022-09-23 08:21] mbinaisseMs opened #4182 "Delivery schedule and intercompany"
We should add that Delivery Schedule is not compatible with intercompany SO/PO

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: f2ae63b9-273b-9ed0-328f-4ed2accc2068
* Version Independent ID: 5e935a45-c5ea-0ff0-2b9e-52ef28135dd2
* Content: [Delivery schedules - Supply Chain Management | Dynamics 365](https://learn.micros

[2022-09-23 09:47] bishalgoswami commented on #4182
Bug 751725 has been logged to address this issue.

[2022-09-23 11:47] bishalgoswami commented on #4182
Bug 751736 has been logged to address this issue.

[2022-09-23 13:48] bishalgoswami commented on #4182
Bug 751744 has been logged to address this issue.

[2022-09-23 15:48] bishalgoswami commented on #4182
Bug 751854 has been logged to address this issue.

[2022-09-23 16:44] gionoder commented on #4147
Hi,

This information about encompassing several retail invoices in the same submission to ZATCA is not accurate and I would like to clarify. As is now, under the Retail scenarios, the submission of retail invoices to ZATCA are still for reporting purposes, however, differently that initially said, it will be submitted one by one, similarly to electronic invoices issued from a regular B2B sales.

[2022-09-23 17:02] #4177 closed

[2022-09-23 17:25] twheeloc commented on #4180
@noetico,  thanks for contacting us. Unfortunately, we're unable to handle Support requests for the product here. To contact Support, consider one of the options described here: [Support contact options]https://docs.microsoft.com/en-us/dynamics365/unified-operations/dev-itpro/lifecycle-services/lcs-support). In particular, you might want to go to the [Dynamics 365 community page](https://community

[2022-09-23 17:25] #4180 closed

[2022-09-24 12:04] liamneesangamer commented on #4147
Hello Gionoder,

Do you mean that, As it was before "Multiple retail invoices(Summarized invoice) submission to Zatca counted as ONE", But now It will be "For B2C Each invoice will be submitted one by one, same like B2B sales". Is it?.

[2022-09-24 15:14] segibson77 opened #4183 "Component Dependencies - Service Updates - Poor English"
Hi,

I believe that the English on the Service Updates section in the Component Dependencies section is incorrect.
I think the wording is actually the wrong way round compared to the examples given

**Current sentence and example**
Commerce headquarters and finance and operations apps must be on the same version as, or an earlier version than, Commerce Scale Unit (both cloud and self-hosted).

For

[2022-09-24 15:49] bishalgoswami commented on #4183
Bug 751968 has been logged to address this issue.

[2022-09-24 21:14] hussein2500 opened #4184 "www.gotlkhat.com"
[اكتب ملاحظاتك هنا]

---
#### تفاصيل المستند

⚠ *تجنب تحرير هذا القسم. مطلوب لـ learn.microsoft.com ➟ ربط مشكلة GitHub.*

* ID: ecf89fb2-aa69-ab0c-441c-d74cfabfda54
* Version Independent ID: da576e84-86dd-c9a2-d336-2e4abd10c812
* Content: [إنشاء عنوان URL لصفحة - Commerce | Dynamics 365](https://learn.microsoft.com/ar-sa/dynamics365/commerce/create-page-url)
* Content Source: [articles/commerce/cr

[2022-09-24 21:16] hussein2500 commented on #4184
`مهكر مواقع ماليه `

[2022-09-24 21:17] hussein2500 commented on #4184
تجرنت يعمل على نضام الوينديز ولا ندريود

[2022-09-24 21:17] hussein2500 commented on #4184
يعمل على شكل 5 دقائق

[2022-09-24 21:18] hussein2500 commented on #4184
- [5،9،4،7 ] القوائم

[2022-09-24 21:50] bishalgoswami commented on #4184
Bug 752013 has been logged to address this issue.

[2022-09-26 06:51] NickSelin commented on #4172
Hello [vereden](https://github.com/vereden),
The improper state of the view mode can cause the issue that has been described in the defect [751246](https://fix.lcs.dynamics.com/Issue/Details/?bugId=751246&dbType=3).  Please, make sure that the view mode of the Electronic reporting (ER) designer is set to the state **Show all**. Notice that when it is set to the state **Show mapped only**, any data

[2022-09-26 18:04] josaw1 commented on #4184
Thank you for your feedback. @vinceno can you please take a look?

[2022-09-26 18:10] josaw1 commented on #4183
Thank you for your feedback. @scott-tucker can you please review the wording in the topic?

[2022-09-27 09:59] noetico opened #4186 "Syncdb setup script, possible bug in SQL syntax"
While setting up on-premises system for Finance and Operations we have this error with the sql syntax.
`9/25/2022 05:44:17: 09/25/2022 05:44:17: SysSetupInstaller: Running Script: InventCostPreCloseNonFinTransferSetup with Timeout 300 seconds.
09/25/2022 05:44:17: Infolog diagnostic message: 'Cannot execute the required database operation.
The SQL database has issued an error.' on category 'Error'

[2022-09-27 10:57] LindaJEriksen opened #4187 "Missing features in What's new documentation"
When reviewing the documentation for What's new in D365 F&O we can see that a lot of features that are available in the Feature management section in D365 F&O is not listed in the documentation. For example feature "New vendor balance list report to reflect posting profile changes" is not explained/documented in the What's new for 10.0.28.

---
#### Document Details

⚠ *Do not edit this section. I

[2022-09-27 10:58] vinceno commented on #4184
@vivimills can you please work with LIOX to have this assessed/addressed - thx

[2022-09-27 11:10] bishalgoswami commented on #4187
Bug 752363 has been logged to address this issue.

[2022-09-27 11:45] mkowalka opened #4189 "The application specific parameters setup need to be corrected"
[Enter feedback here]
On the page , section: Set up application-specific parameters for formats there is point 5 with below:

Lookup result | Tax code (Code) | Name
Other | *Not blank* | *Not blank*

Issue 1. Name column does not exist anymore, it changed to: Transaction classifier (TransactionClassifier)
Issue 2. If we set *not blank* in both columns, user is still getting an error about not matc

[2022-09-27 13:10] bishalgoswami commented on #4189
Bug 752385 has been logged to address this issue.

[2022-09-27 13:44] GeorgeSasDK opened #4190 ".\Update-ConfigTemplate.ps1"
The first steps you mention is to run :
.\Update-ConfigTemplate.ps1 -OldConfigTemplate .\ConfigTemplate.xml -NewConfigTemplate .\EmptyConfigTemplate.xml

I can not find ANYWHERE the Update-ConfigTemplate.ps1 script.

Please advise.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: eac091f6-4eb0-3174-d8ae-79ee922349a8
* V

[2022-09-27 13:46] #4190 closed

[2022-09-27 13:50] GeorgeSasDK opened #4191 "Upgrade from InfrastructureScripts 2.11.1"
If old ConfigTemplate was generated by InfrastructureScripts 2.11.1 it will NOT have a schema version available , upgrade of the schema will not be possible.

.\Update-ConfigTemplate.ps1 : The term '.\Update-ConfigTemplate.ps1' is not recognized as the name of a cmdlet, functio
n, script file, or operable program. Check the spelling of the name, or if a path was included, verify that the path is

[2022-09-27 15:04] ErikJohnMSFT opened #4192 "Clarification on Consolidation date under Currency translation"
[Enter feedback here]
 for the "Currency translation" section on bullet point "Consolidation date" it would be nice if it mentioned that the consolidation date that would be used is the "To" date on the Criteria | Consolidation period.

Erik Johnson
MSFT
---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: f1a05511-997d-1077

[2022-09-27 15:11] bishalgoswami commented on #4192
Bug 752406 has been logged to address this issue.

[2022-09-27 15:11] bishalgoswami commented on #4191
Bug 752407 has been logged to address this issue.

[2022-09-27 15:34] scott-tucker commented on #4183
@josaw1, am I reviewing the wording in the comment from segibson77?  If so, then both potential corrections sound good to me.  Jarad owns deployment now, I'm not sure who owns the SDK now. When I view the content source it is still the original. That's why I am assuming I should review the comment.

Potential Correction 1

"Commerce headquarters and finance and operations apps must be on the same

[2022-09-28 10:43] gphilpott opened #4193 "Queries to clarify statements made in this 'Proactive Quality Updates' article"
Please can you assist in clarifying statements made in this article? My specific queries are:
1. Please clarify the situation on rollback options - the docs page seems to contain two conflicting statements, which are: (a) _"Customers will still be able to pull the quality updates ahead of proactive deployment if they want._" and (b) _"Can customers delay, reschedule, or pause a quality update? No.

[2022-09-28 11:12] bishalgoswami commented on #4193
Bug 752859 has been logged to address this issue.

[2022-09-28 15:05] finopsfuntimes opened #4194 "Store Commerce app availability means the Note needs an update"
There is currently a note on this page:
"It is critical to note that Commerce Scale Unit (self-hosted) does not replace offline. Currently, Retail Modern POS with an offline database is the **only way** to have offline capabilities."

I believe this needs to be updated now that the Store Commerce app is available, as that also supports offline capabilities if configured for it.

---
#### Document

[2022-09-28 15:12] bishalgoswami commented on #4194
Bug 752904 has been logged to address this issue.

[2022-09-28 18:57] josaw1 commented on #4194
@anupamar-ms please take a look. Thanks.

[2022-09-29 07:56] MichaelFruergaardPontoppidan opened #4195 "No longer in preview"
This feature GAed in 10.0.25 - please remove:

"Some or all of the functionality noted in this article is available as part of a preview release. The content and the functionality are subject to change. For more information about preview releases, see [Service update availability](https://learn.microsoft.com/en-us/dynamics365/fin-ops-core/fin-ops/get-started/public-preview-releases)."

---
#### Do

[2022-09-29 08:15] noetico opened #4196 "Deployment error: Module aos failed with error code -532462766."
Module aos failed with error code -532462766. I have this error on deployment. No issues in service fabric but deployment fails.

[2022-09-29 09:13] bishalgoswami commented on #4195
Bug 753106 has been logged to address this issue.

[2022-09-29 09:50] kamaybac commented on #4195
Fixed.

[2022-09-29 09:50] #4195 closed

[2022-09-29 13:18] TimoTenni opened #4198 "Payment id setup"
Please add following link to this page:
https://learn.microsoft.com/en-us/dynamics365/finance/localizations/tasks/no-00002-customer-payment-based-payment-id

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 66477445-de96-fff2-7543-a6e14a39c7da
* Version Independent ID: b0c1985d-1d8f-78b1-d08d-ea6aa645a101
* Content: [Pay

[2022-09-29 13:20] TimoTenni opened #4199 "Please add important feature on this page"
Link to the payment id setup now available also for Finland
https://learn.microsoft.com/en-us/dynamics365/finance/localizations/tasks/no-00002-customer-payment-based-payment-id

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 0e5d1e20-e075-7ccd-8a95-3fa96aeac13c
* Version Independent ID: 65293808-0bd6-255d-360b-adf92fbd

[2022-09-29 13:59] EvgenyPopovMBS commented on #4198
@mrolecki could you please look at this?

[2022-09-29 15:14] bishalgoswami commented on #4199
Bug 753175 has been logged to address this issue.

[2022-09-29 15:14] bishalgoswami commented on #4198
Bug 753176 has been logged to address this issue.

[2022-09-29 18:01] mrolecki commented on #4162
@brkyyldz , Could you please be more specific what information in what's new is incorrect or insufficient? What do you expect to be changed? _RU suffix is often used for Eastern Europe shared functionality. Here, in your screenshot the parameter is for Russia, Czech Republic, Hungary, Estonia, Latvia, Lithuania and Poland. The article does not contain information about any countries\regions.

[2022-09-30 09:17] jespernohr opened #4200 "I believe the outbound IP addresses for Self Service tier2+ AOS in West Europe are incorrect."
I believe the outbound IP addresses for Self Service tier2+ AOS in West Europe are incorrect.

We have used these IP ranges in our azure storage account firewall whitelist, but connections are not being allowed.
Europe | North Europe | 52.155.160.192/26
Europe | West Europe | 20.61.88.128/26 , 51.105.159.192/26
![Screenshot 2022-09-30 111659](https://user-images.githubusercontent.com/11901812/1932

[2022-09-30 10:05] mrolecki commented on #4198
Added information to https://msdyneng.visualstudio.com/FinOps/_workitems/edit/753176

[2022-10-02 06:19] alexeiantao commented on #4152
During the installation of the Finance Insights Add-In, the Managed Data Lake is automatically deployed along with any other required applications/microservices. There is no requirement to independently install any other application to run Finance Insights. The anomaly experienced in this situation was not because a step was missed in the setup process.

[2022-10-03 06:53] liamneesangamer commented on #4147
Hi Gionoder,

It's clear now for submission of E-Invoice. So, what about the **100 transactions limitation per month/tenant in hyper market business?**.  As you mentioned above, each invoices will be submitted one by one. So, If Microsoft considered one invoice submission will be counted as one, then this 100 transaction limitation it will not even cover for 30 min of sales invoice,

 or Is there

[2022-10-03 12:14] RalucaLucia opened #4203 "English translation of the SWE VAT report example"
[Enter feedback here]
On the page section: Report VAT declaration to the Tax authority
- could you please add the English translation for all the fields in the report?
![image](https://user-images.githubusercontent.com/114916397/193574064-058f8202-c352-4f06-a0e5-52e6b355b663.png)
![image](https://user-images.githubusercontent.com/114916397/193574147-df2421bf-ea83-453a-a538-edf71b08faf3.png)
thank

[2022-10-03 12:26] RalucaLucia opened #4204 "Explanation of the Lookup results logic"
[Enter feedback here]
On the page section: VAT declaration overview
Could you please explain the logic of the values in the parenthesis means (The figures added in the lookups, the name of the values of the boxes)?
Example 5/10 - means the amount should appear in the VAT report under the box 5 and 10.
box 5- the entire transaction amount
box 10- the vat paid by the company

Thank you.

---
#### Do

[2022-10-03 19:15] josaw1 commented on #4171
This section has been added. Thanks.

[2022-10-03 19:15] #4171 closed

[2022-10-03 19:27] raulmondra28 opened #4205 "need more details for limitations on compact layout"
After receiving a case from a customer they are trying to open the reports on compact layout but after reviewing  the code to show that error when it is a mobile layout we found that that functionality is not supported, so please consider to add which are exactly the limitations that compact layout have, thank you

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.mi

[2022-10-04 08:02] Halldor10 opened #4206 "Small text update - missing "> Setup""
The text is:  "2. Go to System administration > Operational Insights."

The text should be : "2. Go to System administration > Setup >Operational Insights."

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 1ea563b0-eb9c-bc38-f17a-f24913eb426f
* Version Independent ID: 1f9c1430-a53c-9a63-77fe-dc4b44b7c3a7
* Content: [Com

[2022-10-04 12:45] bishalgoswami commented on #4206
Bug 754626 has been logged to address this issue.

[2022-10-04 12:45] bishalgoswami commented on #4205
Bug 754627 has been logged to address this issue.

[2022-10-04 12:45] bishalgoswami commented on #4204
Bug 754628 has been logged to address this issue.

[2022-10-04 12:45] bishalgoswami commented on #4203
Bug 754629 has been logged to address this issue.

[2022-10-04 12:45] bishalgoswami commented on #4200
Bug 754630 has been logged to address this issue.

[2022-10-04 19:09] josaw1 commented on #4183
The corrections were made and will be published shortly.

[2022-10-04 19:09] #4183 closed

[2022-10-04 20:52] josaw1 commented on #4205
@boycez can you please review this request?

[2022-10-05 02:36] DKobayashi-ykgw opened #4207 "Feature enablement cannot check"
In section "How can feature enablement be checked in code?", there's a sample code using 'BatchContentionPreventionFeature::instance()', but it returns error with message "The method 'instance' contained in the non-public class 'BatchContentionPreventionFeature' is inaccessible.".
Please fix this section.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.c

[2022-10-05 02:46] bishalgoswami commented on #4207
Bug 755797 has been logged to address this issue.

[2022-10-05 08:31] liamneesangamer opened #4208 "Is it possible to enable supervisor approval for some cases while cashier entering the lines in POS during sales?"
How to make supervisor authorization/approval to make return?

This is the case. While cashier entering the invoice, suddenly the customer decided to don't want to buy some item, so the cashier has to return that product line from POS with Supervisor approval. How to do it?
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHu

[2022-10-06 06:49] liamneesangamer opened #4210 "How to make sales return policy with expiry date?"
Is it possible to make return policy that the product can return within number of days?.

For example, some department product are allowed to return in 7 days. not allowed to return more than 7 days.
There are some other department (Dairy department) are allowed to return in 1 day. so not to allow to return more than 1 days

---
#### Document Details

⚠ *Do not edit this section. It is required fo

[2022-10-06 07:27] liamneesangamer opened #4211 "Can we update the price when the store is disconnected?"
Is it possible to update the price when the store is disconnected by using Commerce scale unit?

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: b3904172-4dc3-3602-05a6-6bc0fcd1c7e3
* Version Independent ID: 2eaac493-f165-5f34-8d05-e441e741a8b8
* Content: [Commerce Scale Unit (self-hosted) - Commerce | Dynamics 365](htt

[2022-10-06 08:48] bishalgoswami commented on #4211
Bug 756034 has been logged to address this issue.

[2022-10-06 08:48] bishalgoswami commented on #4210
Bug 756035 has been logged to address this issue.

[2022-10-06 11:29] #4200 closed

[2022-10-06 17:33] #4152 closed

[2022-10-06 17:44] josaw1 commented on #4211
@jashanno can you please review this?

[2022-10-06 18:48] josaw1 commented on #4210
@ShalabhjainMSFT can you please take a look?

[2022-10-07 10:11] RalucaLucia opened #4212 "Electronic Messages page access issue"
Hi Team,

Can you please add on the page the next information:
In order for the users to be able to access and edit the Electronic messages page, the sys admin has to add the user role under Electronic message processing page. If the role is not added in there, the user can only open the page, but he/she cannot see any information and cannot edit.
Thank you!
---
#### Document Details

⚠ *Do not ed

[2022-10-07 10:49] bishalgoswami commented on #4212
Bug 756585 has been logged to address this issue.

[2022-10-07 13:02] mpburtt opened #4213 "Leave & Absence "Feature" settings"
This page refers to Leave & Absence being a preview feature until 10.0.26 - this is now GA. Even with 10.0.26, in order to access the Leave & Absence module in F&SCM Features need to be enabled but I cannot find a list of features that specifically must be enabled to allow access to this module as, unhelpfully, there is no Feature called "Leave & Absence". This page really needs to list the prereq

[2022-10-07 14:50] bishalgoswami commented on #4213
Bug 756620 has been logged to address this issue.

[2022-10-10 12:16] liamneesangamer opened #4215 "How to prevent to return at pos on partial discounted/Promotion/Quantity break?"
For example,

Case 1:
      Customer can **buy product X at 5$**, **Buy 5 quantity of x product at 3$**, Incase customer bought 5 quantity at each 3$ by quantity break, so when customer wants to return 4 quantity, POS should not allow to return the 4 quantity, instead system should allow to return 5 quantity only.

Case 2:
     If customer bought buy 2 get 1 free on promotion, POS should not allow

[2022-10-10 12:53] bishalgoswami commented on #4215
Bug 756904 has been logged to address this issue.

[2022-10-10 19:50] johnmichalak commented on #4203
Thank you for the suggestions, they have been noted and will be considered for possible inclusion in the future.

[2022-10-10 19:50] #4203 closed

[2022-10-10 19:54] johnmichalak commented on #4199
Thank you for the suggestions, they have been noted and will be considered for possible inclusion in the future.

[2022-10-10 19:54] #4199 closed

[2022-10-10 19:55] johnmichalak commented on #4189
Thank you for the suggestions, they have been noted and will be considered for possible inclusion in the future.

[2022-10-10 19:55] #4189 closed

[2022-10-10 19:55] johnmichalak commented on #4204
Thank you for the suggestions, they have been noted and will be considered for possible inclusion in the future.

[2022-10-10 19:55] #4204 closed

[2022-10-11 01:44] Adrian-Zhang commented on #4215
This would need to be achieved via customization, as majority of users prefer not to have such constraints. Each CartLine has DiscountLines object which contains info of discounts applied to the line. One possible approach is for user to customize RecallSalesInvoiceRequest to prevent partial recalling.

[2022-10-11 09:16] ricdlee commented on #3992
Update: Using Site Builder for the B2B Adventure Works site, I had to first add it as a module within a container. Unless your environment comes with this enabled, it has to be manually added in Site Builder. It'd be nice to have a link on the doc to another doc explaining this.

From: josaw1 ***@***.***>
Sent: Monday, May 2, 2022 12:08 PM
To: MicrosoftDocs/dynamics-365-unified-operations-public *

[2022-10-11 20:00] ShalabhjainMSFT commented on #4206
This should likely be assigned to Jarad Shannon.

[2022-10-11 20:10] ShalabhjainMSFT commented on #4208
This is more of a functional clarification question rather than a document change request.

To answer customer's question: We support setting up Manager privileges for the "Return transaction" operation so that every time a cashier tries to return an item, the manager override is required. But we do not support further sub-division of activities within return which will require manager override.

[2022-10-11 20:13] ShalabhjainMSFT commented on #4210
This is a functional clarification ask vs a content change request. To answer the question - No, we do not have a way to configure the return window for items. This needs to be manually controlled by the cashier processing the returns.

[2022-10-12 00:55] bishalgoswami commented on #4206
Bug 757246 has been logged to address this issue.

[2022-10-12 06:27] torbennehmer opened #4217 "SysSetupConfigAttribute.Version is of type int"
You are stating that "Version" can take a Major.Minor sequence. As of 10.0.27 at least this is incorrect, the class is implemented with the EDT "Version", which is a simple integer without any Array elements. So any version most probably has to be 0,1,2,3 etc. "4.5" (Real) would be converted to integer 4. When trying to do so, you indeed get the corresponding compiler warning:

Warning
The type co

[2022-10-12 09:11] jawn commented on #4039
Turns out this was fixed in [commit](https://github.com/MicrosoftDocs/dynamics-365-unified-operations-public/commit/1ad9c63de68ca4e3dc85167a7ec022bb1e2885bb)

[2022-10-12 09:11] #4039 closed

[2022-10-12 09:17] torbennehmer opened #4218 "Information how SysSetup is actually called is missing"
Please add a chapter about how this infrastructure is invoked. It took me a while to realize, that normal VS DB Sync on Dev VMs don't kick in. The actual important point is moving to Microsoft.Dynamics.AX.Deployment.Setup.exe as outlined in the last post in the community:

https://community.dynamics.com/365/financeandoperations/f/dynamics-365-for-finance-and-operations-forum/450253/how-to-move-exi

[2022-10-12 10:50] woutermijle opened #4219 "FAQ - What about pending custom deployable packages?"
Since we moved to self-service topology, a deployment to production contains both the D365 platform/application and custom deployable package(s). What if a QU has been automatically deployed to the sandbox environment and a critical fix is due to be deployed to production. This would mean that the QU will be brought to production as well, although validation might still be pending from regression

[2022-10-13 06:48] Anmadu opened #4221 "New ER format for Advanced bank reconciliation"
Hi All,

Please consider updating the docs related to Advanced bank reconciliation as the model, model mapping and format has changed from Bank statement model to Advanced bank reconciliation statement model for all 3 valid formats BAI2, MT940 and ISO20022.
In ER the formats are now available as follows:

![image](https://user-images.githubusercontent.com/78029965/195521870-11b6e7fd-f8a9-4988-b13b

[2022-10-14 09:17] bishalgoswami commented on #4221
Bug 758100 has been logged to address this issue.

[2022-10-14 09:17] bishalgoswami commented on #4219
Bug 758101 has been logged to address this issue.

[2022-10-14 09:17] bishalgoswami commented on #4218
Bug 758102 has been logged to address this issue.

[2022-10-17 06:38] baiy206 opened #4224 "Document of "Check for update" is incomplete."
Below document doesn't clearly point it out that the "Check for update" might enable some features whose state are on by default or mandatory. It was thought the button only add new features into list. Can this impact be added to below document about "Check for update" so that customer has full picture of this functionality?

https://learn.microsoft.com/en-us/dynamics365/fin-ops-core/fin-ops/get-s

[2022-10-17 08:08] bishalgoswami commented on #4224
Bug 758444 has been logged to address this issue.

[2022-10-17 09:37] mkowalka opened #4225 "RCS in EU region not possible to connect to global LCS"
Please add information about RCS region limitation that if user will set this in EU region, may get errors while going to electronic reporting parameters and connecting to LCS, similar to below:
<Error>
<Message>No HTTP resource was found that matches the request URI 'http://europe2.configure.global.dynamics.com/namespaces/ec713068-95d9-44a2-99f3-f197ece936fe/oauth?error=invalid_resource&error_des

[2022-10-17 15:24] johnmichalak commented on #4176
Marked as resolved by PM.

[2022-10-17 15:24] #4176 closed

[2022-10-17 18:33] #4172 closed

[2022-10-17 18:37] kfend commented on #4198
I have added the link to the article. Changes will go live later today.

[2022-10-17 18:37] #4198 closed

[2022-10-17 18:39] kfend commented on #4162
Closing as we haven't received clarification regarding the question. Please reopen if you have more information.

[2022-10-17 18:39] #4162 closed

[2022-10-17 19:59] josaw1 commented on #4217
@najaidee Please review. Thanks.

[2022-10-18 07:03] vereden opened #4227 "display row and column header on multiple page on electronic reporting excel designer"
I try to present  row and column header on  report which contain multiple page
the line table is cut off on the next page and the header didn't appear

![Cutting lines on next page](https://user-images.githubusercontent.com/113829055/196359372-ec691864-be04-4752-bed0-3ba67bac1f77.jpg)